Repository Azure/Azure-Sentinel, pull requests merged in 2021-12, with the labels that each got.

#3701 Dev/normalization/proxy parsers
  Parsers/ASimNetworkSession/ProductParsers/ASimNetworkSessionzScalerZIA.yaml
  Parsers/ASimNetworkSession/ProductParsers/vimNetworkSessionzScalerZIA.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionSquidProxy.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionzScalerZIA.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionEmpty.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionSquidProxy.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionzScalerZIA.yaml
Labels: ASIM, Proxy

#3515 ASim NW detections batch 2
  .script/tests/KqlvalidationsTests/CustomTables/imNetworkSession.json
  .script/tests/KqlvalidationsTests/CustomTables/imWebSession.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Detections/ASimNetworkSessions/PossibleBeaconingActivity.yaml
  Detections/ASimWebSession/PossibleDGAContacts.yaml
  Detections/ASimWebSession/UnusualUACryptoMiners.yaml
  Detections/ASimWebSession/UnusualUAHackTool.yaml
Labels: ASIM

#3556 Detection : External User Added to Team and Immediately Uploads File
  Detections/OfficeActivity/External User added to Team and immediately uploads file.yaml
Labels: Detection
