Repository Azure/Azure-Sentinel, pull requests merged in 2022-05, with the labels that each got.

#4753 Updating Metaparser with parameters
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
  Parsers/ASimProcessEvent/Parsers/imProcessCreate.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessTerminate.yaml
Labels: ASIM

#4742 Process Terminate Linux Sysmon filtering parameters
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateLinuxSysmon/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateLinuxSysmon/vimProcessTerminateLinuxSysmon.json
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateLinuxSysmon.yaml
Labels: ASIM

#4762 ProcessTerminate MS Win Event
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftWindowsEvents/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftWindowsEvents/vimProcessTerminateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftWindowsEvents.yaml
Labels: ASIM

#3696 analytic rules for Tenable.ad
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/TenableAD/Analytic Rules/TenableAdADAttacksPathways.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdDCShadow.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdDCSync.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdGoldenTicket.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdIndicatorsOfAttack.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdIndicatorsOfExposures.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdLSASSMemory.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdPasswordGuessing.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdPasswordIssues.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdPasswordSpraying.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdPrivilegedAccountIssues.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdUserAccountIssues.yaml
Labels: Solution, Detection

#4770 PaloAltoCDL Connectivity Criteria Change
  Solutions/PaloAltoCDL/Data Connectors/Connector_PaloAlto_CDL_CEF.json
  Solutions/PaloAltoCDL/Package/1.0.5.zip
  Solutions/PaloAltoCDL/Package/createUiDefinition.json
  Solutions/PaloAltoCDL/Package/mainTemplate.json
Labels: dataconnector-cri, Solution

#4771 CiscoWSA Connectivity Criteria Change
  Solutions/CiscoWSA/Data Connectors/Connector_WSA_Syslog.json
  Solutions/CiscoWSA/Package/1.0.6.zip
  Solutions/CiscoWSA/Package/mainTemplate.json
Labels: Solution

#4772 Fixing Process parameters
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMD4IoT/vimProcessCreateMD4IoT.json
  Parsers/ASimProcessEvent/ARM/vimProcessEventMD4IoT/vimProcessEventMD4IoT.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMD4IoT/vimProcessTerminateMD4IoT.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftSysmon/vimProcessTerminateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessEventMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftSysmon.yaml
Labels: ASIM

#4774 Run KQL validator on ASimProcessEvent folder
  .script/tests/KqlvalidationsTests/CustomFunctions/_Im_ProcessEvent.json
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/ParsersDatabase.cs
  Parsers/ASimProcessEvent/ARM/ASimProcessEventMD4IoT/ASimProcessEventMD4IoT.json
  Parsers/ASimProcessEvent/ARM/ASimProcessEventTerminate/ASimProcessEventTerminate.json
  Parsers/ASimProcessEvent/ARM/imProcessCreate/imProcessCreate.json
  Parsers/ASimProcessEvent/ARM/imProcessTerminate/imProcessTerminate.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMD4IoT/vimProcessCreateMD4IoT.json
  Parsers/ASimProcessEvent/ARM/vimProcessEventMD4IoT/vimProcessEventMD4IoT.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMD4IoT/vimProcessTerminateMD4IoT.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventTerminate.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessCreate.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessTerminate.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessEventMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMD4IoT.yaml
Labels: ASIM

#4735 Create CrossServiceADXQueries.yaml Hunting Query
  Hunting Queries/LAQueryLogs/CrossServiceADXQueries.yaml
Labels: Hunting

#4712 Update GitLab_MaliciousIP.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AppServiceHTTPLogs.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_W3CIISLog.yaml
  Hunting Queries/W3CIISLog/ClientIPwithManyUserAgents.yaml
  Hunting Queries/W3CIISLog/ExchangeServerProxyLogonURI.yaml
  Hunting Queries/W3CIISLog/RareUserAgentStrings.yaml
  Hunting Queries/W3CIISLog/SuspectedMailBoxExportHostonOWA.yaml
  Hunting Queries/W3CIISLog/SuspectedProxyTokenExploitation.yaml
  Hunting Queries/W3CIISLog/WebShellActivity.yaml
  Solutions/GitLab/Analytic Rules/GitLab_MaliciousIP.yaml
Labels: Detection, Hunting

#4766 Quarterly Updates
  Solutions/MicrosoftInsiderRiskManagement/Workbooks/InsiderRiskManagement.json
  Solutions/MicrosoftInsiderRiskManagement/readme.md
Labels: Workbook

#4764 Workbook Updates for GOV
  Solutions/ThreatAnalysis&Response/Workbooks/DynamicThreatModeling&Response.json
  Solutions/ThreatAnalysis&Response/readme.md
Labels: Workbook

#4765 Solution Updates
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Workbooks/IoTOTThreatMonitoringwithDefenderforIoT.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/readme.md
Labels: Workbook

#4760 Minor Zero Trust Workbook Update
  Solutions/ZeroTrust(TIC3.0)/Workbooks/ZeroTrust(TIC3.0).json
  Solutions/ZeroTrust(TIC3.0)/readme.md
Labels: Workbook

#4761 Update MaturityModelForEventLogManagement_M2131.json
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/MaturityModelForEventLogManagement_M2131.json
  Solutions/MaturityModelForEventLogManagementM2131/readme.md
Labels: Workbook

#4737 ICM Fix For DNS Workbook
  Workbooks/Dns.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4557 Detection and Workbook for customers using Eaton Foreseer application
  Solutions/EatonForeseer/Analytic Rules/EatonUnautorizedLogins.yaml
  Solutions/EatonForeseer/Workbooks/EatonForeseerHealthAndAccess.json
  Solutions/EatonForeseer/Workbooks/Images/EatonForeseerHealthAndAccessBlack.png
  Solutions/EatonForeseer/Workbooks/Images/EatonForeseerHealthAndAccessWhite.png
Labels: Workbook, Solution, Detection

#4591 VMWare analytic rules update
  Solutions/VMWareESXi/Analytic Rules/ESXiRootLogin.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiSharedOrStolenRootAccount.yaml
Labels: Solution, Detection

#4686 update WebApplicationFirewallFirewallEvents.json and template validation
  Workbooks/WebApplicationFirewallWAFTypeEvents.json
Labels: Workbook

#4801 Update readme.md
  Playbooks/Sync-IncidentsWithJIRA/readme.md
Labels: Playbook

#4796 Better MTD Template Spec Package
  Solutions/BETTER Mobile Threat Defense (MTD)/Data Connectors/BETTERMTD.json
  Solutions/BETTER Mobile Threat Defense (MTD)/Data/Solution_BetterMTD.json
  Solutions/BETTER Mobile Threat Defense (MTD)/Package/2.0.0.zip
  Solutions/BETTER Mobile Threat Defense (MTD)/Package/createUiDefinition.json
  Solutions/BETTER Mobile Threat Defense (MTD)/Package/mainTemplate.json
  Solutions/BETTER Mobile Threat Defense (MTD)/SolutionMetadata.json
  Solutions/BETTER Mobile Threat Defense (MTD)/Workbooks/BETTER_MTD_Workbook.json
Labels: Solution

#4827 Trend Micro Tipping point TemplateSpec Solution
  Solutions/Trend Micro TippingPoint/Data Connectors/TrendMicroTippingPoint.json
  Solutions/Trend Micro TippingPoint/Data/Solution_Trend Micro TippingPoint.json
  Solutions/Trend Micro TippingPoint/Package/2.0.0.zip
  Solutions/Trend Micro TippingPoint/Package/createUiDefinition.json
  Solutions/Trend Micro TippingPoint/Package/mainTemplate.json
  Solutions/Trend Micro TippingPoint/Parsers/TrendMicroTippingPoint
  Solutions/Trend Micro TippingPoint/SolutionMetadata.json
Labels: Solution

#4785 iboss package 1.0.0
  Logos/iboss_logo.svg
  Solutions/iboss/Package/1.0.0.zip
  Solutions/iboss/Package/createUiDefinition.json
  Solutions/iboss/Package/mainTemplate.json
Labels: Solution

#4856 Forcepoint DLP Template Spec Package
  Solutions/Forcepoint DLP/Data Connectors/Forcepoint DLP.json
  Solutions/Forcepoint DLP/Data/Solution_ForcepointDLP.json
  Solutions/Forcepoint DLP/Package/2.0.0.zip
  Solutions/Forcepoint DLP/Package/createUiDefinition.json
  Solutions/Forcepoint DLP/Package/mainTemplate.json
  Solutions/Forcepoint DLP/SolutionMetadata.json
  Solutions/Forcepoint DLP/Workbooks/ForcepointDLP.json
Labels: Solution

#4836 Cognni TemplateSpec solution
  Solutions/Cognni/Analytic Rules/CognniHighRiskBusinessIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniHighRiskFinancialIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniHighRiskGovernanceIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniHighRiskHRIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniHighRiskLegalIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniLowRiskBusinessIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniLowRiskFinancialIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniLowRiskGovernanceIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniLowRiskHRIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniLowRiskLegalIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniMediumRiskBusinessIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniMediumRiskFinancialIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniMediumRiskGovernanceIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniMediumRiskHRIncidents.yaml
  Solutions/Cognni/Analytic Rules/CognniMediumRiskLegalIncidents.yaml
  Solutions/Cognni/Data Connectors/CognniSentinelConnector.json
  Solutions/Cognni/Data/Solution_Cognni.json
  Solutions/Cognni/Package/2.0.0.zip
  Solutions/Cognni/Package/createUiDefinition.json
  Solutions/Cognni/Package/mainTemplate.json
  Solutions/Cognni/SolutionMetadata.json
  Solutions/Cognni/Workbooks/CognniIncidentsWorkbook.json
Labels: Solution

#4858 Updating createUiDefinition.json of Netskope
  Solutions/Netskope/Data/Solution_Netskope.json
  Solutions/Netskope/Package/2.0.0.zip
  Solutions/Netskope/Package/createUiDefinition.json
  Solutions/Netskope/Package/mainTemplate.json
  Solutions/Netskope/SolutionMetadata.json
Labels: Solution

#4861 Rectifying SonicWall Solution
  Solutions/SonicWall Firewall/Data/Solution_ SonicWall Firewall.json
  Solutions/SonicWall Firewall/Package/2.0.0.zip
  Solutions/SonicWall Firewall/Package/mainTemplate.json
  Solutions/SonicWall Firewall/SolutionMetadata.json
Labels: Solution

#4829 Delinea secret server template Spec solution
  Solutions/Delinea Secret Server/Data Connectors/ThycoticSecretServer_CEF.json
  Solutions/Delinea Secret Server/Data/Solution_DelineaSecretServer.json
  Solutions/Delinea Secret Server/Package/2.0.0.zip
  Solutions/Delinea Secret Server/Package/createUiDefinition.json
  Solutions/Delinea Secret Server/Package/mainTemplate.json
  Solutions/Delinea Secret Server/SolutionMetadata.json
  Solutions/Delinea Secret Server/Workbooks/ThycoticWorkbook.json
Labels: Solution

#4783 Update OperationNameValue comparison operator
  Hunting Queries/AzureActivity/Anomalous_Listing_Of_Storage_Keys.yaml
Labels: Hunting

#4283 Simplify FailedLogonAttempts_UnknownUser.yaml
  Detections/Syslog/FailedLogonAttempts_UnknownUser.yaml
Labels: Detection

#4349 Create Detection for Password Spray against ADFSSignInLogs
  Detections/SigninLogs/ADFSSignInLogsPasswordSpray.yaml
Labels: Detection

#4904 fixed Azure Deploy link
  Playbooks/Send-IngestionCostAnomalyAlert/readme.md
Labels: Playbook

#4918 BarracudaWAF TemplateSpec Solution
  Solutions/Barracuda WAF/Data Connectors/template_Barracuda.JSON
  Solutions/Barracuda WAF/Data/Solution_BarracudaWAF.json
  Solutions/Barracuda WAF/Package/2.0.0.zip
  Solutions/Barracuda WAF/Package/createUiDefinition.json
  Solutions/Barracuda WAF/Package/mainTemplate.json
  Solutions/Barracuda WAF/SolutionMetadata.json
Labels: Solution Migration

#4933 Rectifying Nxlog LinuxAudit
  Solutions/NXLog LinuxAudit/Data/Solution_NXLogLinuxAuditTemplateSpec.json
  Solutions/NXLog LinuxAudit/Package/2.0.0.zip
  Solutions/NXLog LinuxAudit/Package/mainTemplate.json
  Solutions/NXLog LinuxAudit/SolutionMetadata.json
Labels: Solution

#4925 Rectifying Trendmicro Tippingpoint
  Solutions/Trend Micro TippingPoint/Data/Solution_Trend Micro TippingPoint.json
  Solutions/Trend Micro TippingPoint/Package/2.0.0.zip
  Solutions/Trend Micro TippingPoint/Package/mainTemplate.json
  Solutions/Trend Micro TippingPoint/SolutionMetadata.json
Labels: Solution

#4934 Cisco UCS TemplateSpec Solution
  Solutions/Cisco UCS/Data Connectors/Connector_Syslog_CiscoUCS.json
  Solutions/Cisco UCS/Data/Solution_Cisco UCS.json
  Solutions/Cisco UCS/Package/2.0.0.zip
  Solutions/Cisco UCS/Package/createUiDefinition.json
  Solutions/Cisco UCS/Package/mainTemplate.json
  Solutions/Cisco UCS/Parsers/CiscoUCS.txt
  Solutions/Cisco UCS/SolutionMetadata.json
  Solutions/Package/mainTemplate.json
Labels: Solution Migration

#4907 Azure Storage Account Template Spec Solution
  Solutions/Azure Storage/Data Connectors/AzureStorageAccount.JSON
  Solutions/Azure Storage/Data/Solution_AzureStorage.json
  Solutions/Azure Storage/Package/2.0.0.zip
  Solutions/Azure Storage/Package/createUiDefinition.json
  Solutions/Azure Storage/Package/mainTemplate.json
  Solutions/Azure Storage/SolutionMetadata.json
Labels: Solution Migration

#4908 Solution Creation for F5 Networks
  Solutions/F5 Networks/Data Connectors/template_F5.JSON
  Solutions/F5 Networks/Data/Solution_F5 Networks.json
  Solutions/F5 Networks/Package/2.0.0.zip
  Solutions/F5 Networks/Package/createUiDefinition.json
  Solutions/F5 Networks/Package/mainTemplate.json
  Solutions/F5 Networks/SolutionMetadata.json
Labels: Solution Migration

#4906 Update InfobloxNIOS.json
  Sample Data/Syslog/InfobloxNIOS.json
Labels: Sample Data

#4887 Cyberpion TemplateSpec Solution
  Solutions/Cyberpion/Analytic Rules/HighUrgencyActionItems.yaml
  Solutions/Cyberpion/Data Connectors/CyberpionSecurityLogs.json
  Solutions/Cyberpion/Data/Solution_Cyberpion.json
  Solutions/Cyberpion/Package/2.0.0.zip
  Solutions/Cyberpion/Package/createUiDefinition.json
  Solutions/Cyberpion/Package/mainTemplate.json
  Solutions/Cyberpion/SolutionMetadata.json
  Solutions/Cyberpion/Workbooks/CyberpionOverviewWorkbook.json
Labels: Solution

#4919 Citrix WAF TemplateSpec Solution
  Solutions/Citrix Web App Firewall/Data Connectors/Citrix_WAF.json
  Solutions/Citrix Web App Firewall/Data/Solution_CitrixWebAppFirewall.json
  Solutions/Citrix Web App Firewall/Package/2.0.0.zip
  Solutions/Citrix Web App Firewall/Package/createUiDefinition.json
  Solutions/Citrix Web App Firewall/Package/mainTemplate.json
  Solutions/Citrix Web App Firewall/SolutionMetadata.json
  Solutions/Citrix Web App Firewall/Workbooks/CitrixWAF.json
Labels: Solution Migration

#4886 Solution Creation for EsetSmc
  Solutions/Eset Security Management Center/Analytic Rules/eset-sites-blocked.yaml
  Solutions/Eset Security Management Center/Analytic Rules/eset-threats.yaml
  Solutions/Eset Security Management Center/Data Connectors/esetSmc.json
  Solutions/Eset Security Management Center/Data/Solution_Eset Security Management Center.json
  Solutions/Eset Security Management Center/Package/2.0.0.zip
  Solutions/Eset Security Management Center/Package/createUiDefinition.json
  Solutions/Eset Security Management Center/Package/mainTemplate.json
  Solutions/Eset Security Management Center/SolutionMetadata.json
  Solutions/Eset Security Management Center/Workbooks/esetSMCWorkbook.json
Labels: Solution

#4832 AIA Darktrace template spec solution
  Solutions/AI Analyst Darktrace/Data Connectors/AIA-Darktrace.json
  Solutions/AI Analyst Darktrace/Data/Solution_AIAnalystDarktrace.json
  Solutions/AI Analyst Darktrace/Package/2.0.0.zip
  Solutions/AI Analyst Darktrace/Package/createUiDefinition.json
  Solutions/AI Analyst Darktrace/Package/mainTemplate.json
  Solutions/AI Analyst Darktrace/SolutionMetadata.json
  Solutions/AI Analyst Darktrace/Workbooks/AIA-Darktrace.json
Labels: Solution

#4901 Onapsis platform template spec Solution
  Solutions/Onapsis Platform/Data Connectors/OnapsisPlatform.json
  Solutions/Onapsis Platform/Data/Solution_Onapsis.json
  Solutions/Onapsis Platform/Package/2.0.0.zip
  Solutions/Onapsis Platform/Package/createUiDefinition.json
  Solutions/Onapsis Platform/Package/mainTemplate.json
  Solutions/Onapsis Platform/Parsers/OnapsisLookup.txt
  Solutions/Onapsis Platform/SolutionMetadata.json
  Solutions/Onapsis Platform/Workbooks/OnapsisAlarmsOverview.json
Labels: Solution

#4961 Cisco meraki description and solution update
  Solutions/CiscoMeraki/Data Connectors/Connector_Syslog_CiscoMeraki.json
  Solutions/CiscoMeraki/Package/1.0.10.zip
  Solutions/CiscoMeraki/Package/1.0.11.zip
  Solutions/CiscoMeraki/Package/mainTemplate.json
Labels: Connector, Solution

#5016 Update WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4884 Update
  Workbooks/ThreatIntelligence.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4702 Updating content and hunting queries of orcale db audit solution
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditLargeQueries.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditListOfTablesQueried.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditUsersNewPrivilegesAdded.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditUsersPrivilegesReview.yaml
  Solutions/OracleDatabaseAudit/Package/1.0.3.zip
  Solutions/OracleDatabaseAudit/Package/1.0.5.zip
  Solutions/OracleDatabaseAudit/Package/createUiDefinition.json
  Solutions/OracleDatabaseAudit/Package/mainTemplate.json
Labels: Solution

#4657 Google Workspace analytic content update
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceAdminPermissionsGranted.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceAlertEvents.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceApiAccessToNewClient.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceChangedUserAccess.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceDifferentUAsFromSingleIP.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceOutboundRelayAddedToSuiteDomain.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspacePossibleBruteForce.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspacePossibleMaldocFileNamesInGDRIVE.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceTwoStepAuthenticationDisabledForUser.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceUnexpectedOSUpdate.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceDocumentSharedExternally.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceDocumentSharedPublicilyWithLink.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceMultiIPAddresses.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceUnknownLoginType.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceUserWithSeveralDevices.yaml
Labels: Solution, Detection, Hunting

#5028 Cisco meraki solution package 1.0.12
  Solutions/CiscoMeraki/Data Connectors/Connector_Syslog_CiscoMeraki.json
  Solutions/CiscoMeraki/Package/1.0.12.zip
  Solutions/CiscoMeraki/Package/mainTemplate.json
Labels: Solution

#5137 Update InfobloxNIOS samle data
  Sample Data/Syslog/InfobloxNIOS.json
Labels: Sample Data

#4900 Fix if statement
  Solutions/SAP/sapcon-instance-update.sh
Labels: SAP

#5110 Update vimProcessEmpty.yaml
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
  Parsers/ASimProcessEvent/ARM/vimProcessEmpty/vimProcessEmpty.json
  Parsers/ASimProcessEvent/Parsers/vimProcessEmpty.yaml
Labels: Parser

#5135 Updating process create security events following testing
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateLinuxSysmon/ASimProcessCreateLinuxSysmon.json
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSecurityEvents/ASimProcessCreateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSysmon/ASimProcessCreateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftWindowsEvents/ASimProcessCreateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/ASimProcessEventMD4IoT/ASimProcessEventMD4IoT.json
  Parsers/ASimProcessEvent/ARM/ASimProcessEventMicrosoft365D/ASimProcessEventMicrosoft365D.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateLinuxSysmon/ASimProcessTerminateLinuxSysmon.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateMicrosoftSecurityEvents/ASimProcessTerminateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateMicrosoftSysmon/ASimProcessTerminateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateMicrosoftWindowsEvents/ASimProcessTerminateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateLinuxSysmon/vimProcessCreateLinuxSysmon.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMD4IoT/vimProcessCreateMD4IoT.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSecurityEvents/vimProcessCreateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSysmon/vimProcessCreateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftWindowsEvents/vimProcessCreateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/vimProcessEventMD4IoT/vimProcessEventMD4IoT.json
  Parsers/ASimProcessEvent/ARM/vimProcessEventMicrosoft365D/vimProcessEventMicrosoft365D.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateLinuxSysmon/vimProcessTerminateLinuxSysmon.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMD4IoT/vimProcessTerminateMD4IoT.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftSecurityEvents/vimProcessTerminateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftSysmon/vimProcessTerminateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftWindowsEvents/vimProcessTerminateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateLinuxSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftSecurityEvents.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventMicrosoft365D.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateLinuxSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateMicrosoftSecurityEvents.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateLinuxSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSecurityEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessEventMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessEventMicrosoft365D.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateLinuxSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMD4IoT.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftSecurityEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftWindowsEvents.yaml
Labels: Parser

#4853 Update SOCExternalContacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-External-Contacts/SOCExternalContacts.json
Labels: WatchList

#4852 Update SOCcontacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Contacts/SOCcontacts.json
Labels: WatchList

#4851 Update SOCMA.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Maturity-Assessment/SOCMA.json
Labels: WatchList

#4850 Update SOCUseCase.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Use-Cases/SOCUseCase.json
Labels: WatchList

#4849 Update SocRA.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Recommended-Actions/SocRA.json
Labels: WatchList

#4848 Update SOCDepartmental.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Departmental/SOCDepartmental.json
Labels: WatchList

#4846 Update SOCgeneralIT.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-General-IT/SOCgeneralIT.json
Labels: WatchList

#4844 Update SOCInternalContacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Internal-Contacts/SOCInternalContacts.json
Labels: WatchList

#4843 Update SOCPager.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Pager/SOCPager.json
Labels: WatchList

#4854 Update SOCworkstations.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Workstations/SOCworkstations.json
Labels: Solution, WatchList

#4658 Apache HTTP server analytic content update
  .script/tests/KqlvalidationsTests/CustomTables/ApacheHTTPServer.json
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheCVE-2021-41773.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheCommandInURI.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheKnownMaliciousUserAgents.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheMultipleClientErrorsFromSingleIP.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheMultipleServerErrorsRequestsFromSingleIP.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApachePrivateIpInUrl.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheRequestToSensitiveFiles.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheRareURLsRequested.yaml
Labels: Solution, Detection, Hunting

#4794 Paloalto CDL content update
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLDroppingSessionWithSentTraffic.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossibleAttackWithoutResponse.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossibleFlooding.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossiblePortScan.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPrivilegesWasChanged.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPutMethodInHighRiskFileType.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLUnexpectedCountries.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLRarePortsbyUser.yaml
Labels: Detection, Hunting

#5111 Aruba ClearPass TemplateSpec Solution--3P
  Solutions/Aruba ClearPass/Data Connectors/Connector_Syslog_ArubaClearPass.json
  Solutions/Aruba ClearPass/Data/Solution_Aruba.json
  Solutions/Aruba ClearPass/Package/2.0.0.zip
  Solutions/Aruba ClearPass/Package/createUiDefinition.json
  Solutions/Aruba ClearPass/Package/mainTemplate.json
  Solutions/Aruba ClearPass/Parsers/ArubaClearPass.txt
  Solutions/Aruba ClearPass/SolutionMetadata.json
Labels: Solution Migration

#5080 Add new Cisco Meraki CCP CLv2 data connector and updated content
  Solutions/CiscoMeraki/Data Connectors/CiscoMerakiNativePollerConnector/azuredeploy_Cisco_Meraki_native_poller_connector.json
  Solutions/CiscoMeraki/Parsers/CiscoMeraki.txt
  Solutions/CiscoMeraki/Workbooks/CiscoMerakiWorkbook.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Connector, Parser, Workbook

#4754 Update LastPassAPIConnector.json
  Solutions/LastPass/Data Connectors/LastPassAPIConnector.json
Labels: Connector

#5055 Logo updated for Imperva waf gateway
  Solutions/Imperva WAF Gateway/Data/Solution_ImpervawafgatewayTemplateSpec.json
  Solutions/Imperva WAF Gateway/Package/2.0.0.zip
  Solutions/Imperva WAF Gateway/Package/createUiDefinition.json
Labels: Solution

#5063 Instructions updated for gsuite data connector
  DataConnectors/GoogleWorkspaceReports/GWorkspaceReports_API_FunctionApp.json
Labels: Connector

#5164 [TM] Change product name
  Solutions/Trend Micro Vision One/Analytic Rules/Create Incident for XDR Alerts (Critical & High).yaml
  Solutions/Trend Micro Vision One/Analytic Rules/Create Incident for XDR Alerts (Medium & Low).yaml
  Solutions/Trend Micro Vision One/Data/Solution_TrendMicroVisionOneTemplateSpec.json
  Solutions/Trend Micro Vision One/Package/createUiDefinition.json
  Solutions/Trend Micro Vision One/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Detection

#5114 Fix update trigger template ids
  Playbooks/Jira-CreateAndUpdateIssue/azuredeploy.json
  Playbooks/Jira-CreateAndUpdateIssue/releaseNotes.md
  Playbooks/SNOW-CreateAndUpdateIncident/azuredeploy.json
  Playbooks/SNOW-CreateAndUpdateIncident/releaseNotes.md
Labels: Playbook

#5159 Quarterly IRM Solution Updates
  Solutions/MicrosoftInsiderRiskManagement/Analytic Rules/InsiderRiskHighUserAlertsCorrelation.yaml
  Solutions/MicrosoftInsiderRiskManagement/Analytic Rules/InsiderRiskHighUserIncidentsCorrelation.yaml
  Solutions/MicrosoftInsiderRiskManagement/Analytic Rules/InsiderRiskM365IRMAlertObserved.yaml
  Solutions/MicrosoftInsiderRiskManagement/Analytic Rules/InsiderRiskSensitiveDataAccessOutsideOrgGeo.yaml
  Solutions/MicrosoftInsiderRiskManagement/Analytic Rules/InsiderRiskyAccessByApplication.yaml
  Solutions/MicrosoftInsiderRiskManagement/Workbooks/Images/InsiderRiskManagementBlack1.png
  Solutions/MicrosoftInsiderRiskManagement/Workbooks/Images/InsiderRiskManagementWhite1.png
  Solutions/MicrosoftInsiderRiskManagement/Workbooks/InsiderRiskManagement.json
  Solutions/MicrosoftInsiderRiskManagement/readme.md
Labels: Workbook, Detection
