Repository Azure/Azure-Sentinel, pull requests merged in 2022-08, with the labels that each got.

#5772 Solution Migration Changes for Cisco WSA
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAAccessToUnwantedSite.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSADataExfiltration.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleErrorsToUnwantedCategory.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleErrorsToUrl.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleInfectedFiles.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleUnwantedFileTypes.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAProtocolAbuse.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAPublicIPSource.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAUnexpectedFileType.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAUnexpectedUrl.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAUnscannableFile.yaml
  Solutions/CiscoWSA/Data Connectors/Connector_WSA_Syslog.json
  Solutions/CiscoWSA/Data/Solution_CiscoWSA.json
  Solutions/CiscoWSA/Package/2.0.0.zip
  Solutions/CiscoWSA/Package/createUiDefinition.json
  Solutions/CiscoWSA/Package/mainTemplate.json
  Solutions/CiscoWSA/SolutionMetadata.json
Labels: Solution Migration

#5770 Template spec solution parser updated for sentinel one
  Solutions/SentinelOne/Data/Solution_SentinelOne.json
  Solutions/SentinelOne/Package/2.0.0.zip
  Solutions/SentinelOne/Package/createUiDefinition.json
  Solutions/SentinelOne/Package/mainTemplate.json
  Solutions/SentinelOne/Parsers/SentinelOne.txt
Labels: Solution Migration

#5032 add MarkLogic connector
  .script/tests/KqlvalidationsTests/CustomTables/MarkLogicAudit_CL.json
  Sample Data/Custom/MarkLogic/accesslog.log
  Sample Data/Custom/MarkLogic/auditlog.log
  Sample Data/Custom/MarkLogic/errorlog.log
  Solutions/MarkLogicAudit/DataConnectors/Connector_MarkLogicAudit.json
  Solutions/MarkLogicAudit/Parsers/MarkLogicAudit.txt
Labels: Connector, Parser

#5626 salesforce interval change (DO NOT MERGE)
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConn.zip
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConnector/__init__.py
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConnector/function.json
  Solutions/Salesforce Service Cloud/Data Connectors/azuredeploy_Connector_Salesforce_Service_Cloud_AzureFunction.json
Labels: Connector, Solution

#5755 Solution Migration changes for Infoblox NIOS
  .script/tests/KqlvalidationsTests/CustomTables/Infoblox.json
  .script/tests/KqlvalidationsTests/CustomTables/Infoblox_dnsclient.json
  Solutions/Infoblox NIOS/Analytic Rules/ExcessiveNXDOMAINDNSQueries.yaml
  Solutions/Infoblox NIOS/Analytic Rules/PotentialDHCPStarvationAttack.yaml
  Solutions/Infoblox NIOS/Data Connectors/Connector_Syslog_Infoblox.json
  Solutions/Infoblox NIOS/Data/Solution_InfobloxNIOS.json
  Solutions/Infoblox NIOS/Package/2.0.0.zip
  Solutions/Infoblox NIOS/Package/createUiDefinition.json
  Solutions/Infoblox NIOS/Package/mainTemplate.json
  Solutions/Infoblox NIOS/SolutionMetadata.json
Labels: Solution Migration

#5453 Update InactiveAccounts.yaml
  Hunting Queries/SigninLogs/InactiveAccounts.yaml
Labels: Hunting

#5758 Template spec solution update for Digital Guardian DLP
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianClassifiedDataInsecureTransfer.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianExfiltrationOverDNS.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianExfiltrationToFileShareServices.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianFileSentToExternal.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianFileSentToExternalDomain.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianFilesSentToExternalDomain.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianMultipleIncidentsFromUser.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianPossibleProtocolAbuse.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianUnexpectedProtocol.yaml
  Solutions/DigitalGuardianDLP/Analytic Rules/DigitalGuardianViolationNotBlocked.yaml
  Solutions/DigitalGuardianDLP/Data Connectors/Connector_DigitalGuardian_Syslog.json
  Solutions/DigitalGuardianDLP/Data/Solution_DigitalGuardianDLP.json
  Solutions/DigitalGuardianDLP/Package/2.0.0.zip
  Solutions/DigitalGuardianDLP/Package/createUiDefinition.json
  Solutions/DigitalGuardianDLP/Package/mainTemplate.json
Labels: Solution Migration

#5779 [ASIM] Fix title casing for parsers
  ASIM/lib/functions/ASIM_GetDisabledParsers.yaml
  ASIM/lib/functions/ASIM_GetSourceBySourceType.yaml
  ASIM/lib/functions/ASIM_GetWatchlistRaw.yaml
  ASIM/lib/functions/ASIM_GetWatchlistsRaw.yaml
  ASIM/lib/functions/ASIM_LookupAADcodes.yaml
  ASIM/lib/functions/ASIM_LookupDnsQueryType.yaml
  ASIM/lib/functions/ASIM_LookupDnsResponseCode.yaml
  ASIM/lib/functions/ASIM_LookupICMPType.yaml
  ASIM/lib/functions/ASIM_LookupNetworkProtocol.yaml
  ASIM/lib/functions/ASIM_ResolveDnsQueryType.yaml
  ASIM/lib/functions/ASIM_ResolveDnsResponseCode.yaml
  ASIM/lib/functions/ASIM_ResolveDstFQDN.yaml
  ASIM/lib/functions/ASIM_ResolveDvcFQDN.yaml
  ASIM/lib/functions/ASIM_ResolveFQDN.yaml
  ASIM/lib/functions/ASIM_ResolveICMPType.yaml
  ASIM/lib/functions/ASIM_ResolveNetworkProtocol.yaml
  ASIM/lib/functions/ASIM_ResolveSrcFQDN.yaml
  Parsers/ASimDns/ARM/ASimDnsMicrosoftOMS/ASimDnsMicrosoftOMS.json
  Parsers/ASimDns/ARM/FullDeploymentDns.json
  Parsers/ASimDns/ARM/vimDnsMicrosoftOMS/vimDnsMicrosoftOMS.json
  Parsers/ASimDns/Parsers/ASimDnsMicrosoftOMS.yaml
  Parsers/ASimDns/Parsers/vimDnsMicrosoftOMS.yaml
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionVMConnection/ASimNetworkSessionVMConnection.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionVMConnection/vimNetworkSessionVMConnection.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionVMConnection.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionVMConnection.yaml
Labels: ASIM, Parser

#5713 Automated Logic WebCTRL template spec solution migration
  Solutions/ALC-WebCTRL/Data Connectors/Connector_WindowsEvents_WebCTRL.json
  Solutions/ALC-WebCTRL/Data/Solution_ALC-WebCTRL.json
  Solutions/ALC-WebCTRL/Package/2.0.0.zip
  Solutions/ALC-WebCTRL/Package/createUiDefinition.json
  Solutions/ALC-WebCTRL/Package/mainTemplate.json
  Solutions/ALC-WebCTRL/SolutionMetadata.json
Labels: Solution Migration

#5762 Fixed playbook, watchlist and workbook related bugs
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#5783 Kopitz/updating sample authorizations roles
  Solutions/SAP/CR/K900268.NPL
  Solutions/SAP/CR/K900271.NPL
  Solutions/SAP/CR/Previous Releases/K900206.NPL
  Solutions/SAP/CR/Previous Releases/R900206.NPL
  Solutions/SAP/CR/R900268.NPL
  Solutions/SAP/CR/R900271.NPL
  Solutions/SAP/CR/README.MD
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_AGENT_BASIC_ROLE_V0.0.1.SAP
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_CONNECTOR_ROLE_V0.0.27.SAP
Labels: Solution

#5676 Added SQLi and XSS Detection queries for App Gateway WAF under Detections/AzureWAF
  .script/tests/KqlvalidationsTests/CustomTables/AzureDiagnostics.json
  Detections/AzureWAF/AppGwWAF-SQLiDetection.yaml
  Detections/AzureWAF/AppGwWAF-XSSDetection.yaml
Labels: Detection

#5778 Update IntrotoKQL workbook version
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#5796 - changed sourceId as requested
  Solutions/Synack/Package/1.0.2.zip
  Solutions/Synack/Package/mainTemplate.json
Labels: Solution

#5406 Add a New Darktrace Solution
  .script/tests/KqlvalidationsTests/CustomTables/darktrace_model_alerts_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/Darktrace.svg
  Sample Data/Custom/Darktrace_IngestedLogs.csv
  Sample Data/Custom/Darktrace_Schema.csv
  Sample Data/Custom/darktrace_model_alerts_CL.json
  Solutions/Darktrace/Analytic Rules/CreateAlertFromModelBreach.yaml
  Solutions/Darktrace/Analytic Rules/CreateAlertFromSystemStatus.yaml
  Solutions/Darktrace/Analytic Rules/CreateIncidentFromAIAnalystIncident.yaml
  Solutions/Darktrace/Data Connectors/DarktraceConnectorRESTAPI.json
  Solutions/Darktrace/Data Connectors/Doc_DarktraceConnectorRESTAPI.md
  Solutions/Darktrace/Data/Solution_DarktraceEnterpriseImmuneSystem.json
  Solutions/Darktrace/SolutionMetadata.json
  Solutions/Darktrace/Workbooks/DarktraceWorkbook.json
  Solutions/Darktrace/Workbooks/Images/Preview/DarktraceWorkbookBlack01.png
  Solutions/Darktrace/Workbooks/Images/Preview/DarktraceWorkbookBlack02.png
  Solutions/Darktrace/Workbooks/Images/Preview/DarktraceWorkbookWhite01.png
  Solutions/Darktrace/Workbooks/Images/Preview/DarktraceWorkbookWhite02.png
  Workbooks/Images/Logos/Darktrace.svg
  Workbooks/Images/Preview/DarktraceWorkbookBlack01.png
  Workbooks/Images/Preview/DarktraceWorkbookBlack02.png
  Workbooks/Images/Preview/DarktraceWorkbookWhite01.png
  Workbooks/Images/Preview/DarktraceWorkbookWhite02.png
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Workbook, Solution

#5800 Fix minor typo in Module 1
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-1-Setting-up-the-environment.md
Labels: Solution

#5788 updating version for mitreattack and IntrotoKql
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4627 Update-RiskyUserWatchlist
  Playbooks/Get-SentinelAlertsEvidence/azuredeploy.json
  Watchlists/Update-RiskyUserWatchlist/azuredeploy.json
  Watchlists/Update-RiskyUserWatchlist/readme.md
Labels: Playbook, WatchList

#5775 Template spec solution update for VMWARE ESXI
  Solutions/VMWareESXi/Analytic Rules/ESXiLowPatchDiskSpace.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiLowTempDirSpace.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiMultipleNewVM.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiMultipleVMStopped.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiNewVM.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiRootImpersonation.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiRootLogin.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiSharedOrStolenRootAccount.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiUnexpectedDiskImage.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiVMStopped.yaml
  Solutions/VMWareESXi/Data Connectors/Connector_Syslog_VMwareESXi.json
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/2.0.0.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/VMWareESXi/SolutionMetadata.json
Labels: Solution Migration

#5773 adding new sample data
  Sample Data/CEF/fortiwebwafsamplelog.txt
Labels: Sample Data

#5776 Playbook: Joshua Cyber Vision preparation
  Solutions/Joshua-Cyberiskvision/Data/Solution_Joshua_Cyberishvision.json
  Solutions/Joshua-Cyberiskvision/Package/2.0.0.zip
  Solutions/Joshua-Cyberiskvision/Package/createUiDefinition.json
  Solutions/Joshua-Cyberiskvision/Package/mainTemplate.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Import-To-Sentinel/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-DOMAIN/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-EMAIL/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-FILE/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-IP/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-URL/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-FILE/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-IP/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-URL/azuredeploy.json
Labels: Playbook, Solution Migration

#5805 Updating Links of readme.md files for playbooks
  Solutions/Azure Firewall/Playbooks/AzureFirewall-AddIPtoTIAllowList/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewallConnector/readme.md
  Solutions/Azure Firewall/Playbooks/readme.md
  Solutions/Servicenow/Playbooks/Create-SNOW-record/readme.md
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/readme.md
Labels: Playbook, Solution Migration

#5136 Microsoft 365 Defender TemplateSpec Solution -- DO NOT MERGE AS 1P
  Detections/DeviceEvents/SolarWinds_TEARDROP_Process-IOCs.yaml
  Detections/DeviceFileEvents/SolarWinds_SUNBURST_&_SUPERNOVA_File-IOCs.yaml
  Detections/DeviceNetworkEvents/SolarWinds_SUNBURST_Network-IOCs.yaml
  Detections/MultipleDataSources/PotentialBuildProcessCompromiseMDE.yaml
  Detections/MultipleDataSources/SUNSPOTHashes.yaml
  Detections/SecurityAlert/AVSpringShell.yaml
  Detections/SecurityAlert/AVTarrask.yaml
  Detections/SecurityAlert/AVdetectionsrelatedtoUkrainebasedthreats.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/AVSpringShell.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/AVTarrask.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/AVdetectionsrelatedtoUkrainebasedthreats.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/PotentialBuildProcessCompromiseMDE.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/SUNSPOTHashes.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/SolarWinds_SUNBURST_&_SUPERNOVA_File-IOCs.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/SolarWinds_SUNBURST_Network-IOCs.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/SolarWinds_TEARDROP_Process-IOCs.yaml
  Solutions/Microsoft 365 Defender/Data Connectors/MicrosoftThreatProtection.JSON
  Solutions/Microsoft 365 Defender/Data/Solution_Microsoft 365 Defender.json
  Solutions/Microsoft 365 Defender/Package/2.0.0.zip
  Solutions/Microsoft 365 Defender/Package/createUiDefinition.json
  Solutions/Microsoft 365 Defender/Package/mainTemplate.json
  Solutions/Microsoft 365 Defender/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5802 Updating WAF query to account for column limit of AzureDiagnostic.
  .script/tests/KqlvalidationsTests/CustomTables/AzureDiagnostics.json
  Detections/AzureDiagnostics/AzureWAFmatching_log4j_vuln.yaml
Labels: Detection

#5729 Modifying the query to surface user/role details for the rule template
  Detections/AzureActivity/Granting_Permissions_To_Account_detection.yaml
Labels: Detection

#5533 Initial implementation of the SlashNext Custom Logic Apps Connector a…
  Logos/slashnext-logo.svg
  Solutions/SlashNext/Playbooks/SlashNextPhishingIncidentInvestigation/deploy.json
  Solutions/SlashNext/Playbooks/SlashNextPhishingIncidentInvestigation/readme.md
  Solutions/SlashNext/Playbooks/SlashNextURLInvestigationConnector/deploy.json
  Solutions/SlashNext/Playbooks/SlashNextURLInvestigationConnector/readme.md
  Solutions/SlashNext/Playbooks/SlashNextWebAccessLogAssessment/deploy.json
  Solutions/SlashNext/Playbooks/SlashNextWebAccessLogAssessment/readme.md
  Solutions/SlashNext/Playbooks/deploy.json
  Solutions/SlashNext/Playbooks/logo/slashnext-logo.png
  Solutions/SlashNext/Playbooks/readme.md
Labels: Playbook, Solution

#5764 Create workbook.json
  Solutions/GitHub/Workbooks/workbook.json
Labels: Workbook

#5507 PCI DSS Compliance Template Spec Solution [Do not merge as 1P]
  Solutions/PCI DSS Compliance/Data/Solution_PCIDSSCompliance.json
  Solutions/PCI DSS Compliance/Package/2.0.0.zip
  Solutions/PCI DSS Compliance/Package/createUiDefinition.json
  Solutions/PCI DSS Compliance/Package/mainTemplate.json
  Solutions/PCI DSS Compliance/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5497 Azure Service Bus template spec solution [Do not merge as 1P sol]
  Solutions/Azure Service Bus/Data Connectors/AzureServiceBus_CCP.JSON
  Solutions/Azure Service Bus/Data/Solution_AzureServiceBus.json
  Solutions/Azure Service Bus/Package/2.0.0.zip
  Solutions/Azure Service Bus/Package/createUiDefinition.json
  Solutions/Azure Service Bus/Package/mainTemplate.json
  Solutions/Azure Service Bus/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5481 Azure Event Hubs TemplateSpec Solution --Do not merge as 1P solution
  Solutions/Azure Event Hubs/Data Connectors/AzureEventHub_CCP.JSON
  Solutions/Azure Event Hubs/Data/Solution_Event Hub.json
  Solutions/Azure Event Hubs/Package/2.0.0.zip
  Solutions/Azure Event Hubs/Package/createUiDefinition.json
  Solutions/Azure Event Hubs/Package/mainTemplate.json
  Solutions/Azure Event Hubs/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5475 Azure Cognitive Search template spec solution [Do not merge as 1P sol…
  Solutions/Azure Cognitive Search/Data Connectors/AzureCognitiveSearch_CCP.JSON
  Solutions/Azure Cognitive Search/Data/Solution_AzureCognitiveSearch.json
  Solutions/Azure Cognitive Search/Package/2.0.0.zip
  Solutions/Azure Cognitive Search/Package/createUiDefinition.json
  Solutions/Azure Cognitive Search/Package/mainTemplate.json
  Solutions/Azure Cognitive Search/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5451 Azure Data Lake Template Spec Solution --DO NOT MERGE AS 1P
  Solutions/Azure Data Lake Storage Gen1/Data Connectors/AzureDataLakeStorageGen1_CCP.JSON
  Solutions/Azure Data Lake Storage Gen1/Data/Solutions_AzureDataLake.json
  Solutions/Azure Data Lake Storage Gen1/Package/2.0.0.zip
  Solutions/Azure Data Lake Storage Gen1/Package/createUiDefinition.json
  Solutions/Azure Data Lake Storage Gen1/Package/mainTemplate.json
  Solutions/Azure Data Lake Storage Gen1/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5450 Azure Stream Analytics template spec solution [Do not merge as 1P sol…
  Solutions/Azure Stream Analytics/Data Connectors/AzureStreamAnalytics_CCP.JSON
  Solutions/Azure Stream Analytics/Data/Solution_AzureStreamAnalytics.json
  Solutions/Azure Stream Analytics/Package/2.0.0.zip
  Solutions/Azure Stream Analytics/Package/createUiDefinition.json
  Solutions/Azure Stream Analytics/Package/mainTemplate.json
  Solutions/Azure Stream Analytics/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5499 solution created for batch account
  Solutions/Azure Batch Account/Data Connectors/AzureBatchAccount_CCP.JSON
  Solutions/Azure Batch Account/Data/Solution_Azure Batch Account.json
  Solutions/Azure Batch Account/Package/2.0.0.zip
  Solutions/Azure Batch Account/Package/createUiDefinition.json
  Solutions/Azure Batch Account/Package/mainTemplate.json
  Solutions/Azure Batch Account/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#4922 Windows Firewall TemplateSpec Solution -- DO NOT MERGE AS 1P
  Solutions/Windows Firewall/Data Connectors/Windows Firewall.JSON
  Solutions/Windows Firewall/Data/Solution_Windows Firewall.json
  Solutions/Windows Firewall/Package/2.0.0.zip
  Solutions/Windows Firewall/Package/createUiDefinition.json
  Solutions/Windows Firewall/Package/mainTemplate.json
  Solutions/Windows Firewall/SolutionMetadata.json
  Solutions/Windows Firewall/Workbooks/WindowsFirewall.json
Labels: Solution Migration, 1P Solution

#5160 Common Event Format template spec solution - Do not merge as 1P
  Solutions/Common Event Format/Data Connectors/CEF.JSON
  Solutions/Common Event Format/Data/Solution_CommonEventFormat.json
  Solutions/Common Event Format/Package/2.0.0.zip
  Solutions/Common Event Format/Package/createUiDefinition.json
  Solutions/Common Event Format/Package/mainTemplate.json
  Solutions/Common Event Format/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5054 Solution Creation Microsoft Power BI -- DO NOT MERGE AS 1P
  Solutions/Microsoft PowerBI/Data Connectors/template_OfficePowerBI.JSON
  Solutions/Microsoft PowerBI/Data/Solution_Microsoft PowerBI.json
  Solutions/Microsoft PowerBI/Package/2.0.0.zip
  Solutions/Microsoft PowerBI/Package/createUiDefinition.json
  Solutions/Microsoft PowerBI/Package/mainTemplate.json
  Solutions/Microsoft PowerBI/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5053 Network Security Groups template spec solution - Do not merge as 1P
  Solutions/Azure Network Security Groups/Data Connectors/AzureNSG.JSON
  Solutions/Azure Network Security Groups/Data/Solution_NetworkSecurityGroups.json
  Solutions/Azure Network Security Groups/Package/2.0.0.zip
  Solutions/Azure Network Security Groups/Package/2.0.1.zip
  Solutions/Azure Network Security Groups/Package/createUiDefinition.json
  Solutions/Azure Network Security Groups/Package/mainTemplate.json
  Solutions/Azure Network Security Groups/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5477 Template spec solution migration for Logic App [Do not merge as 1P solution]
  Solutions/Azure Logic Apps/Data Connectors/AzureLogicApps_CCP.JSON
  Solutions/Azure Logic Apps/Data/Solution_Azure Logic Apps.json
  Solutions/Azure Logic Apps/Package/2.0.0.zip
  Solutions/Azure Logic Apps/Package/createUiDefinition.json
  Solutions/Azure Logic Apps/Package/mainTemplate.json
  Solutions/Azure Logic Apps/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#4916 package creation for Azure SQL Database---DO NOT MERGE AS 1P
  Solutions/Azure SQL Database/Data Connectors/template_AzureSql.JSON
  Solutions/Azure SQL Database/Data/Solution_AzureSqlDatabaseTemplateSpec.json
  Solutions/Azure SQL Database/Package/2.0.0.zip
  Solutions/Azure SQL Database/Package/createUiDefinition.json
  Solutions/Azure SQL Database/Package/mainTemplate.json
  Solutions/Azure SQL Database/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5814 Update logo file - vArmour Application Controller
  Solutions/vArmour Application Controller/Data/Solution_vArmour.json
  Solutions/vArmour Application Controller/Package/2.0.0.zip
  Solutions/vArmour Application Controller/Package/createUiDefinition.json
Labels: Solution Migration

#5771 Playbook Preparation for Shadowbyte
  Solutions/ShadowByte Aria/Playbooks/ShadowByte_Aria_Enrich_Incidents/azuredeploy.json
  Solutions/ShadowByte Aria/Playbooks/ShadowByte_Aria_Search_for_Breaches/azuredeploy.json
Labels: Playbook, Solution Migration

#5813 Playbook bug fixes
  Playbooks/Get-MDEInvestigationPackage/alert-trigger/azuredeploy.json
  Playbooks/Get-MDEInvestigationPackage/incident-trigger/azuredeploy.json
  Playbooks/Remove-MDEAppExecution/alert-trigger/azuredeploy.json
Labels: Playbook

#4970 Microsoft Defender for Office 365 Temp spec--DO NOT MERGE AS 1P
  Solutions/Microsoft Defender for Office 365/Data Connectors/template_OfficeATP.JSON
  Solutions/Microsoft Defender for Office 365/Data/Solution_MicrosoftDefenderforOffice365.json
  Solutions/Microsoft Defender for Office 365/Package/2.0.0.zip
  Solutions/Microsoft Defender for Office 365/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
  Solutions/Microsoft Defender for Office 365/SolutionMetadata.json
  Solutions/Microsoft Defender for Office 365/Workbooks/MicrosoftDefenderForOffice365.json
Labels: Solution Migration, 1P Solution

#5810 Playbooks: Updated Image and Links
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlackConnector/readme.md
  Solutions/CarbonBlack/Playbooks/readme.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/readme.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/readme.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Enrichment_GetDeviceInformation/readme.md
  Solutions/Standalone/Playbooks/Add-IP-Entity-To-Named-Location/readme.md
  Solutions/Standalone/Playbooks/Create-AzureDevOpsTask/readme.md
  Solutions/Standalone/Playbooks/Create-Zendesk-Ticket/readme.md
  Solutions/Standalone/Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-CloseIncidentKnownIPs/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-InformSubowner-IncidentTrigger/readme.md
Labels: Playbook

#5818 Fixed typo issue in solution tool
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#5817 Github Workbook Matadata
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5767 Update azuredeploy.json - Flare Solution playbook preparation
  Solutions/FlareSystemsFirework/Playbooks/azuredeploy.json
Labels: Playbook, Solution Migration

#5787 Signl4 Playbook preparation and packaging
  Solutions/SIGNL4/Data Connectors/DerdackSIGNL4.json
  Solutions/SIGNL4/Data/Solution_SIGNL4.json
  Solutions/SIGNL4/Package/2.0.0.zip
  Solutions/SIGNL4/Package/createUiDefinition.json
  Solutions/SIGNL4/Package/mainTemplate.json
  Solutions/SIGNL4/Playbooks/README.md
  Solutions/SIGNL4/Playbooks/azuredeploy.json
Labels: Playbook, Solution Migration

#5768 Template spec solution update for Google Workspace Reports Api
  DataConnectors/GoogleWorkspaceReports/GWorkspaceReportsAPISentinelConnector/__init__.py
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceAdminPermissionsGranted.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceAlertEvents.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceApiAccessToNewClient.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceChangedUserAccess.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceDifferentUAsFromSingleIP.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceOutboundRelayAddedToSuiteDomain.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspacePossibleBruteForce.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspacePossibleMaldocFileNamesInGDRIVE.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceTwoStepAuthenticationDisabledForUser.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceUnexpectedOSUpdate.yaml
  Solutions/GoogleWorkspaceReports/Data Connectors/GWorkspaceReportsAPISentinelConnector/__init__.py
  Solutions/GoogleWorkspaceReports/Data Connectors/GWorkspaceReportsAPISentinelConnector/function.json
  Solutions/GoogleWorkspaceReports/Data Connectors/GWorkspaceReportsAPISentinelConnector/state_manager.py
  Solutions/GoogleWorkspaceReports/Data Connectors/GWorkspaceReports_API_FunctionApp.json
  Solutions/GoogleWorkspaceReports/Data Connectors/host.json
  Solutions/GoogleWorkspaceReports/Data Connectors/proxies.json
  Solutions/GoogleWorkspaceReports/Data Connectors/requirements.txt
  Solutions/GoogleWorkspaceReports/Data/Solution_GoogleWorkspaceReports.json
  Solutions/GoogleWorkspaceReports/Package/2.0.0.zip
  Solutions/GoogleWorkspaceReports/Package/createUiDefinition.json
  Solutions/GoogleWorkspaceReports/Package/mainTemplate.json
  Solutions/GoogleWorkspaceReports/Parsers/GWorkspaceActivityReports
  Solutions/GoogleWorkspaceReports/SolutionMetadata.json
Labels: Solution Migration

#5736 Create .gitkeep
  Solutions/Authomize/.gitkeep
Labels: Solution

#5769 Playbook preparation for HYAS
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Domain-C2-Attribution/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Domain-Current-WHOIS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Domain-Historic-WHOIS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Domain-Passive-DNS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Email-C2-Attribution/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Email-Dynamic-DNS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Email-Historic-WHOIS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-C2-Attribution/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-Dynamic-DNS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-Passive-DNS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-Passive-Hash/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-SSL-Certificate/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-Sinkhole/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IPv4-Device-Geo/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IPv6-Device-Geo/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Phone-Number-Historic-WHOIS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-SHA256-C2-Attribution/azuredeploy.json
Labels: Playbook, Solution Migration

#5839 Moving files GoogleWorkspaceReportApi
  Solutions/GoogleWorkspaceReports/Data Connectors/azuredeploy_Connector_GWorkspaceReportsAPI_AzureFunction.json
  Solutions/GoogleWorkspaceReports/Data Connectors/get_google_pickle_string.py
Labels: Connector

#5819 Template spec solution create for ESET Inspect
  Solutions/ESET Inspect/Data Connectors/AzureFunctionESETInspect.zip
  Solutions/ESET Inspect/Data Connectors/ESETInspect_API_FunctionApp.json
  Solutions/ESET Inspect/Data Connectors/InspectGetDetections/__init__.py
  Solutions/ESET Inspect/Data Connectors/InspectGetDetections/function.json
  Solutions/ESET Inspect/Data Connectors/azuredeploy_ESETInspect_API_FunctionApp.json
  Solutions/ESET Inspect/Data Connectors/datacollector/__init__.py
  Solutions/ESET Inspect/Data Connectors/esetinspect/__init__.py
  Solutions/ESET Inspect/Data Connectors/esetinspect/eifunctions.py
  Solutions/ESET Inspect/Data Connectors/esetinspect/inspect.py
  Solutions/ESET Inspect/Data Connectors/requirements-dev.txt
  Solutions/ESET Inspect/Data Connectors/requirements.txt
  Solutions/ESET Inspect/Data/Solution_ESET Inspect.json
  Solutions/ESET Inspect/Package/2.0.0.zip
  Solutions/ESET Inspect/Package/createUiDefinition.json
  Solutions/ESET Inspect/Package/mainTemplate.json
  Solutions/ESET Inspect/SolutionMetadata.json
Labels: Solution Migration

#5695 Updated playbooks for PaloAlto Pan OS solution
  Solutions/PaloAlto-PAN-OS/Package/2.0.0.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetURLCategoryInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetURLCategoryInfo/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/readme.md
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
Labels: Playbook, Solution Migration

#5842 Playbook Preparation for ZeroTrust
  Solutions/ZeroTrust(TIC3.0)/Playbooks/Notify_GovernanceComplianceTeam/Notify_GovernanceComplianceTeam.json
  Solutions/ZeroTrust(TIC3.0)/Playbooks/Open_DevOpsTaskRecommendation/Open_DevOpsTaskRecommendation.json
  Solutions/ZeroTrust(TIC3.0)/Playbooks/Open_JIRATicketRecommendation/Open_JIRATicketRecommendation.json
Labels: Playbook, Solution Migration

#5850 Asim/fix network aug2022
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionAzureNSG/ASimNetworkSessionAzureNSG.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoMeraki/ASimNetworkSessionCiscoMeraki.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionFortinetFortiGate/ASimNetworkSessionFortinetFortiGate.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftLinuxSysmon/ASimNetworkSessionMicrosoftLinuxSysmon.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftMD4IoT/ASimNetworkSessionMicrosoftMD4IoT.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftWindowsEventFirewall/ASimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionPaloAltoCEF/ASimNetworkSessionPaloAltoCEF.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionAppGateSDP/vimNetworkSessionAppGateSDP.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionAzureNSG/vimNetworkSessionAzureNSG.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoMeraki/vimNetworkSessionCiscoMeraki.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionEmpty/vimNetworkSessionEmpty.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionFortinetFortiGate/vimNetworkSessionFortinetFortiGate.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoft365Defender/vimNetworkSessionMicrosoft365Defender.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftLinuxSysmon/vimNetworkSessionMicrosoftLinuxSysmon.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftMD4IoT/vimNetworkSessionMicrosoftMD4IoT.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftWindowsEventFirewall/vimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionPaloAltoCEF/vimNetworkSessionPaloAltoCEF.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionAzureNSG.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoMeraki.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionFortinetFortiGate.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftLinuxSysmon.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftMD4IoT.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionPaloAltoCEF.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAppGateSDP.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAzureNSG.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoMeraki.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionEmpty.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionFortinetFortiGate.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoft365Defender.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftLinuxSysmon.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftMD4IoT.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionPaloAltoCEF.yaml
Labels: ASIM, Parser

#5852 Box Solution package 2.0.1
  Solutions/Box/Data Connectors/Box_API_FunctionApp.json
  Solutions/Box/Package/2.0.1.zip
  Solutions/Box/Package/mainTemplate.json
Labels: Solution

#5846 CrowdStrike Falcon solution package 2.0.3
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/Connector_Syslog_CrowdStrikeFalconEndpointProtection.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.3.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Solution

#5855 workbookmetadata update for microsoft purview insider risk management
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5848 Update Notify_InsiderRiskTeam.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Playbooks/Notify_InsiderRiskTeam.json
Labels: Playbook, Solution Migration, 1P Solution

#5118 Package Creation for Illusive Platform
  Solutions/Illusive Platform/Analytic Rules/Illusive_Detection_Query.yaml
  Solutions/Illusive Platform/Data Connectors/illusive Attack Management System.json
  Solutions/Illusive Platform/Data/Solution_IllusiveAttackManagementSystem.json
  Solutions/Illusive Platform/Images/API_Permission.png
  Solutions/Illusive Platform/Images/App_registration_app-information.png
  Solutions/Illusive Platform/Images/App_registration_secret-value.png
  Solutions/Illusive Platform/Images/Certificates_and_Secrets.png
  Solutions/Illusive Platform/Images/Illusive.svg
  Solutions/Illusive Platform/Images/IncidentEnrichmentPlaybook.png
  Solutions/Illusive Platform/Images/IncidentResponse1.png
  Solutions/Illusive Platform/Images/IncidentResponse2.png
  Solutions/Illusive Platform/Images/SecretGenerated.png
  Solutions/Illusive Platform/Images/Workspace.png
  Solutions/Illusive Platform/Images/api-connection-setup.png
  Solutions/Illusive Platform/Images/app_name.png
  Solutions/Illusive Platform/Images/azure-app-api-user-impersonation1.png
  Solutions/Illusive Platform/Images/azure-app-api-user-impersonation2.png
  Solutions/Illusive Platform/Images/azure-app-api-user-impersonation3.png
  Solutions/Illusive Platform/Images/custom-deployment-basics-main-template.png
  Solutions/Illusive Platform/Images/custom-deployment-is-complete.png
  Solutions/Illusive Platform/Images/custom-deployment-review-create.png
  Solutions/Illusive Platform/Images/deploy-custom-template-load-file.png
  Solutions/Illusive Platform/Images/deploy-custom-template-page.png
  Solutions/Illusive Platform/Images/deploy-custom-template-search.png
  Solutions/Illusive Platform/Images/illusive-api-key-card.png
  Solutions/Illusive Platform/Images/illusive-syslog-server-integration-card.png
  Solutions/Illusive Platform/Images/logo.jpg
  Solutions/Illusive Platform/Images/playbook-history-incident-response.png
  Solutions/Illusive Platform/Images/sentinel-analysis-alert-enrichment-alert-details.png
  Solutions/Illusive Platform/Images/sentinel-analysis-alert-enrichment-config.png
  Solutions/Illusive Platform/Images/sentinel-analysis-alert-enrichment-custom-details.png
  Solutions/Illusive Platform/Images/sentinel-analysis-alert-event-grouping.png
  Solutions/Illusive Platform/Images/sentinel-analysis-alert-grouping.png
  Solutions/Illusive Platform/Images/sentinel-analysis-alert-threshold.png
  Solutions/Illusive Platform/Images/sentinel-analysis-config.png
  Solutions/Illusive Platform/Images/sentinel-analysis-query-scheduling.png
  Solutions/Illusive Platform/Images/sentinel-analysis-reopen-closed-matching-incidents.png
  Solutions/Illusive Platform/Images/sentinel-analysis-set-rule-logic-code.png
  Solutions/Illusive Platform/Images/sentinel-analytics-create-scheduled-query-rule.png
  Solutions/Illusive Platform/Package/2.0.0.zip
  Solutions/Illusive Platform/Package/createUiDefinition.json
  Solutions/Illusive Platform/Package/mainTemplate.json
  Solutions/Illusive Platform/SolutionMetadata.json
  Solutions/Illusive Platform/Workbooks/IllusiveADS.json
  Solutions/Illusive Platform/Workbooks/IllusiveASM.json
Labels: Solution Migration

#5857 Update Workbook metadata for ZeroTrust(TIC3.0)
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5464 openvpn data connector
  .script/tests/KqlvalidationsTests/CustomTables/OpenVpnEvent.json
  Sample Data/Syslog/OpenVPN.txt
  Solutions/OpenVPN/Data Connectors/OpenVPN_Syslog.json
  Solutions/OpenVPN/Parsers/OpenVPNEvent.txt
Labels: Connector, Parser, Solution

#5858 Leaderboard stats file updates for July 2022
  Tools/stats/stats.md
Labels: Tools

#5774 Fortinet-Fortigate Playbook preparation
  Solutions/Fortinet-FortiGate/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet-FortiGate/Package/2.0.0.zip
  Solutions/Fortinet-FortiGate/Package/createUiDefinition.json
  Solutions/Fortinet-FortiGate/Package/mainTemplate.json
  Solutions/Fortinet-FortiGate/Playbooks/CustomConnector/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_IncidentEnrichment/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_IncidentEnrichment/readme.md
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_ResponseOnIP/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_ResponseOnIP/readme.md
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_ResponseOnURL/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_ResponseOnURL/readme.md
  Solutions/Fortinet-FortiGate/Playbooks/FunctionApp/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/readme.md
  Solutions/Fortinet-FortiGate/SolutionMetadata.json
Labels: Playbook, Solution Migration

#5824 Playbook preparation for Cisco ISE
  Solutions/Cisco ISE/Playbooks/CiscoISE-FalsePositivesClearPolicies/azuredeploy.json
  Solutions/Cisco ISE/Playbooks/CiscoISE-SuspendGuestUser/azuredeploy.json
  Solutions/Cisco ISE/Playbooks/CiscoISE-TakeEndpointActionFromTeams/azuredeploy.json
  Solutions/Cisco ISE/Playbooks/CiscoISE-TakeEndpointActionFromTeams/readme.md
  Solutions/Cisco ISE/Playbooks/CiscoISEConnector/azuredeploy.json
Labels: Playbook, Solution Migration

#5827 Playbook preparation for Proofpoint TAP
  Solutions/ProofPointTap/Playbooks/Get-ProofPointTapEvents/Azuredeploy.json
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-AddForensicsInfoToIncident/azuredeploy.json
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-AddForensicsInfoToIncident/readme.md
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-CheckAccountInVAP/azuredeploy.json
  Solutions/ProofPointTap/Playbooks/ProofpointTAPConnector/azuredeploy.json
Labels: Playbook, Solution Migration

#5870 Copying back workbooks which were moved to solution.
  Workbooks/IllusiveADS.json
  Workbooks/IllusiveASM.json
  Workbooks/MicrosoftDefenderForOffice365.json
  Workbooks/WindowsFirewall.json
Labels: Workbook

#5869 Renaming Virus total and Watchlist Utilities folders
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/alert-trigger/images/Get-VirusTotalDomainReport_alert.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/incident-trigger/images/designerDark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/incident-trigger/images/designerLight.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/alert-trigger/images/Get-VirusTotalFileInfo_alert.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/incident-trigger/images/designerDark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/incident-trigger/images/designerLight.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/alert-trigger/images/Get-VirusTotalIPReport_alert.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/incident-trigger/images/designerDark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/incident-trigger/images/designerLight.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/alert-trigger/images/Get-VirusTotalURLReport_alert.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/incident-trigger/images/designerDark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/incident-trigger/images/designerLight.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/incident-trigger/releaseNotes.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/incident-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/incident-trigger/images/incidentTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/incident-trigger/images/incidentTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/incident-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/incident-trigger/images/incidentTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/incident-trigger/images/incidentTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/incident-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/incident-trigger/images/incidentTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/incident-trigger/images/incidentTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/incident-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/incident-trigger/images/incidentTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/incident-trigger/images/incidentTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/incident-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/incident-trigger/images/incidentTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/incident-trigger/images/incidentTrigger-light.png
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/PlaybooksMigrated.json
Labels: Playbook, Solution Migration

#5836 Playbook Preparation: Cyber security maturitycertification
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Analytic Rules/CMMC2.0Level1FoundationalPosture.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Analytic Rules/CMMC2.0Level2AdvancedPosture.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Data/Solution_CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/2.0.0.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/createUiDefinition.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/mainTemplate.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Playbooks/DevOpsTask/Open_DevOpsTaskRecommendation.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Playbooks/JIRATicket/Open_JIRATicketRecommendation.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Playbooks/Notify_GovernanceComplianceTeam.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/readme.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Playbook, Solution Migration

#5856 Update Template to point to new Zip location
  Solutions/GoogleWorkspaceReports/Data Connectors/azuredeploy_Connector_GWorkspaceReportsAPI_AzureFunction.json
Labels: Connector

#4923 Azure DDoS-> DO NOT MERGE AS 1P
  Solutions/Azure DDoS Protection/Data Connectors/DDOS.JSON
  Solutions/Azure DDoS Protection/Data/Solution_AzureDDoSProtection.json
  Solutions/Azure DDoS Protection/Package/2.0.0.zip
  Solutions/Azure DDoS Protection/Package/createUiDefinition.json
  Solutions/Azure DDoS Protection/Package/mainTemplate.json
  Solutions/Azure DDoS Protection/SolutionMetadata.json
  Solutions/Azure DDoS Protection/Workbooks/AzDDoSStandardWorkbook.json
Labels: Solution Migration

#5876 Update azuredeploy.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/azuredeploy.json
Labels: Playbook, Solution Migration

#5835 Playbooks Prepartion: NISTSP80053 and updated package to 2.0.0
  Solutions/NISTSP80053/Analytic Rules/NISTSP80053PostureChanged.yaml
  Solutions/NISTSP80053/Package/2.0.0.zip
  Solutions/NISTSP80053/Package/createUiDefinition.json
  Solutions/NISTSP80053/Package/mainTemplate.json
  Solutions/NISTSP80053/Playbooks/DevOpsTask/Open_DevOpsTaskRecommendation.json
  Solutions/NISTSP80053/Playbooks/JiraTicket/Open_JIRATicketRecommendation.json
  Solutions/NISTSP80053/Playbooks/Notify_GovernanceComplianceTeam.json
  Solutions/NISTSP80053/Workbooks/NISTSP80053.json
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Playbook, Solution Migration

#5635 Microsoft Sysmon For Linux TemplateSpec Solution -- DO NOT MERGE AS THIS IS 1P SOLUTION
  Solutions/Microsoft Sysmon For Linux/Data Connectors/SysmonForLinux.json
  Solutions/Microsoft Sysmon For Linux/Data/Solution_Linux.json
  Solutions/Microsoft Sysmon For Linux/Package/2.0.0.zip
  Solutions/Microsoft Sysmon For Linux/Package/createUiDefinition.json
  Solutions/Microsoft Sysmon For Linux/Package/mainTemplate.json
  Solutions/Microsoft Sysmon For Linux/SolutionMetadata.json
Labels: Solution Migration

#5812 Fix ProofpointPOD_message_CL parsing
  Parsers/ProofpointPOD/ProofpointPOD
Labels: Parser

#5890 Proofpoint POD parser update.
  Parsers/ProofpointPOD/ProofpointPOD
Labels: Parser

#5781 Playbook: Sailpoint playbook preparation
  Solutions/SailPointIdentityNow/Analytic Rules/SailPointIdentityNowAlertsForTriggers.yaml
  Solutions/SailPointIdentityNow/Analytic Rules/SailPointIdentityNowEventType.yaml
  Solutions/SailPointIdentityNow/Analytic Rules/SailPointIdentityNowEventTypeTechnicalName.yaml
  Solutions/SailPointIdentityNow/Analytic Rules/SailPointIdentityNowFailedEvents.yaml
  Solutions/SailPointIdentityNow/Analytic Rules/SailPointIdentityNowFailedEventsBasedOnTime.yaml
  Solutions/SailPointIdentityNow/Analytic Rules/SailPointIdentityNowUserWithFailedEvents.yaml
  Solutions/SailPointIdentityNow/Data Connectors/SailPoint_IdentityNow_FunctionApp.json
  Solutions/SailPointIdentityNow/Data Connectors/SearchEvent/readme.md
  Solutions/SailPointIdentityNow/Data/Solution_SailpointIdentityNow
  Solutions/SailPointIdentityNow/Package/2.0.0.zip
  Solutions/SailPointIdentityNow/Package/createUiDefinition.json
  Solutions/SailPointIdentityNow/Package/mainTemplate.json
  Solutions/SailPointIdentityNow/Playbooks/Custom Connector/azuredeploy.json
  Solutions/SailPointIdentityNow/Playbooks/Custom Connector/readme.md
  Solutions/SailPointIdentityNow/SolutionMetadata.json
Labels: Playbook, Solution Migration

#5907 Updated the offerid for illusive platform
  Solutions/Illusive Platform/Package/2.0.0.zip
  Solutions/Illusive Platform/Package/mainTemplate.json
  Solutions/Illusive Platform/SolutionMetadata.json
Labels: Solution Migration

#5887 solution migration threat analysis response -- DO NOT MERGE AS THIS IS 1P
  Solutions/ThreatAnalysis&Response/Package/2.0.0.zip
  Solutions/ThreatAnalysis&Response/Package/createUiDefinition.json
  Solutions/ThreatAnalysis&Response/Package/mainTemplate.json
  Solutions/ThreatAnalysis&Response/data/Solution_ThreatAnalysis&Response.json
Labels: Solution Migration

#5908 Playboook prep for Recorded future
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/2.0.0.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-ImportToSentinel/RecordedFuture-ImportToSentinel.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor.json
Labels: Playbook, Solution Migration

#5610 Adding support for fairfax
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: Solution

#5918 Palo Alto PAN OS Link Update.
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetURLCategoryInfo/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoCustomConnector/readme.md
Labels: Solution

#5917 Modified the metadata
  Solutions/Auth0/Data Connectors/Auth0_FunctionApp.json
  Solutions/OneLoginIAM/Data Connectors/OneLogin_Webhooks_FunctionApp.json
  Solutions/OpenVPN/Data Connectors/OpenVPN_Syslog.json
Labels: Connector

#5471 UEBA Template Spec Solution --DO NOT MERGE AS 1P
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Hunting Queries/BehaviorAnalytics/Anomalous AAD Account Manipulation.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Account Creation.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Activity Role Assignment.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Code Execution.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Data Access.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Defensive Mechanism Modification.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Failed Logon.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Geo Location Logon.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Login to Devices.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Password Reset.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous RDP Activity.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Resource Access.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Role Assignment.yaml
  Hunting Queries/BehaviorAnalytics/Anomalous Sign-in Activity.yaml
  Solutions/UEBA Essentials/Data/Solution_UEBA.json
  Solutions/UEBA Essentials/Hunting Queries/Anomalous AAD Account Manipulation.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Account Creation.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Activity Role Assignment.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Code Execution.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Data Access.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Defensive Mechanism Modification.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Failed Logon.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Geo Location Logon.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Login to Devices.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Password Reset.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous RDP Activity.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Resource Access.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Role Assignment.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Sign-in Activity.yaml
  Solutions/UEBA Essentials/Package/2.0.0.zip
  Solutions/UEBA Essentials/Package/createUiDefinition.json
  Solutions/UEBA Essentials/Package/mainTemplate.json
  Solutions/UEBA Essentials/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution Migration, 1P Solution

#5922 Updated package to download latest arm-ttk in solution automation tool
  Tools/Create-Azure-Sentinel-Solution/arm-ttk/download-arm-ttk.ps1
Labels: Tools

#5927 AIShield Update Zip file
  Solutions/AIShield AI Security Monitoring/Package/2.0.0.zip
  Solutions/AIShield AI Security Monitoring/Package/createUiDefinition.json
Labels: Solution Migration

#5761 SOCMA Package updates and workbook interlinking changes
  Solutions/SOC-Process-Framework/Package/2.0.0.zip
  Solutions/SOC-Process-Framework/Package/createUiDefinition.json
  Solutions/SOC-Process-Framework/Package/mainTemplate.json
  Solutions/SOC-Process-Framework/Playbooks/Get-SOCActions/azuredeploy.json
  Solutions/SOC-Process-Framework/SolutionMetadata.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Incident-Response-Planning/SOCIRP.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Maturity-Assessment/SOCMA.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Recommended-Actions/SocRA.json
  Solutions/SOC-Process-Framework/Workbooks/SOCIRPlanning.json
  Solutions/SOC-Process-Framework/Workbooks/SOCProcessFramework.json
  Solutions/SOC-Process-Framework/data/Solution_Soc-Process.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_Soc-Process.json
Labels: Solution

#5807 Playbook Preparation: Log4j Vulnerability Detection
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Package/2.0.0.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/BatchImport/BatchImportToSentinel.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/IndicateProcessor/Log4jIndicatorProcessor.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/Readme.md
  Solutions/Apache Log4j Vulnerability Detection/Workbooks/Log4jImpactAssessment.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/Log4j Impact Assessment.json
Labels: Playbook, Solution Migration

#5932 Update Auth0.svg
  Solutions/Auth0/Data Connectors/Logo/Auth0.svg
Labels: Logo

#5934 archTIS logo modification
  Solutions/archTIS/Data Connectors/Logo/NCProtectLogo.svg
Labels: Logo

#5845 Playbook preparation for Checkpoint
  Solutions/Check Point/CheckPointConnector/deployCP.json
  Solutions/Check Point/CheckPointConnector/deployCP_connector.json
  Solutions/Check Point/CheckPointConnector/deployCP_connector_gov.json
  Solutions/Check Point/CheckPointConnector/deployCPgov.json
  Solutions/Check Point/Playbooks/README.md
  Solutions/Check Point/Playbooks/add-host-to-group/deployCPplaybook.json
  Solutions/Check Point/deployCP.json
  Solutions/Check Point/deployCPgov.json
Labels: Playbook, Solution Migration

#5838 Playbook Preparation for M2131
  Solutions/MaturityModelForEventLogManagementM2131/Playbooks/Notify_LogManagementTeam/Notify_LogManagementTeam.json
  Solutions/MaturityModelForEventLogManagementM2131/Playbooks/Open_DevOpsTaskRecommendation/Open_DevOpsTaskRecommendation.json
  Solutions/MaturityModelForEventLogManagementM2131/Playbooks/Open_JIRATicketRecommendation/Open_JIRATicketRecommendation.json
Labels: Playbook, Solution Migration

#5837 Playbook preparation for Cisco Meraki
  Solutions/CiscoMeraki/Playbooks/Block-Device-Client/azuredeploy.json
  Solutions/CiscoMeraki/Playbooks/Block-IP-Address/azuredeploy.json
  Solutions/CiscoMeraki/Playbooks/Block-URL/azuredeploy.json
  Solutions/CiscoMeraki/Playbooks/IP-Address-Enrichment/azuredeploy.json
  Solutions/CiscoMeraki/Playbooks/URL-Enrichment/azuredeploy.json
Labels: Playbook, Solution Migration

#5937 Trend Micro Vision One - Updated to Microsoft Sentinel
  Solutions/Trend Micro Vision One/Data Connectors/TrendMicroXDR.json
  Solutions/Trend Micro Vision One/Package/2.0.0.zip
  Solutions/Trend Micro Vision One/Package/mainTemplate.json
Labels: Solution

#5954 update metadata file
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5082 Rapid7 playbooks
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-EnrichIncidentWithAssetInfo/azuredeploy.json
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-EnrichIncidentWithAssetInfo/playbook_screenshot.png
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-EnrichIncidentWithAssetInfo/readme.md
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-EnrichVulnerabilityInfo/azuredeploy.json
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-EnrichVulnerabilityInfo/playbook_screenshot.png
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-EnrichVulnerabilityInfo/readme.md
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-RunScan/azuredeploy.json
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-RunScan/playbook_screenshot.png
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-RunScan/readme.md
  Solutions/Rapid7InsightVM/Playbooks/Playbooks/Rapid7InsightVM-RunScan/teams_screenshot.png
  Solutions/Rapid7InsightVM/Playbooks/Rapid7InsightVMCloudAPIConnector/azuredeploy.json
  Solutions/Rapid7InsightVM/Playbooks/Rapid7InsightVMCloudAPIConnector/readme.md
  Solutions/Rapid7InsightVM/Playbooks/azuredeploy.json
  Solutions/Rapid7InsightVM/Playbooks/logo.png
  Solutions/Rapid7InsightVM/Playbooks/readme.md
Labels: Playbook

#5234 Update ExcessiveHTTPFailuresFromSource.yaml
  Detections/ASimNetworkSession/ExcessiveHTTPFailuresFromSource.yaml
Labels: Detection

#5844 Template spec solution update for Joshua-Cyberiskvision
  Solutions/Joshua-Cyberiskvision/Data/Solution_Joshua_Cyberishvision.json
  Solutions/Joshua-Cyberiskvision/Package/2.0.0.zip
  Solutions/Joshua-Cyberiskvision/Package/createUiDefinition.json
  Solutions/Joshua-Cyberiskvision/Package/mainTemplate.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Import-To-Sentinel/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-DOMAIN/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-EMAIL/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-FILE/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-IP/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Indicators-Processor-URL/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-FILE/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-IP/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-URL/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/SolutionMetadata.json
Labels: Solution Migration

#5841 solution created with playbook SIGNL4(ISV)
  Logos/signl4.svg
  Solutions/SIGNL4/Data/Solution_SIGNL4.json
  Solutions/SIGNL4/Package/2.0.1.zip
  Solutions/SIGNL4/Package/createUiDefinition.json
  Solutions/SIGNL4/Package/mainTemplate.json
  Solutions/SIGNL4/Playbooks/README.md
  Solutions/SIGNL4/Playbooks/azuredeploy.json
Labels: Playbook, Solution Migration

#5875 MicrosoftDefenderForOffice365 Workbook update.
  Workbooks/MicrosoftDefenderForOffice365.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#5965 V ntripathi/investigation insights workbook update
  Workbooks/InvestigationInsights.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#5912 Moving back workbooks back to workbook folder.
  Workbooks/AzDDoSStandardWorkbook.json
  Workbooks/AzureInformationProtection.json
Labels: Workbook

#5911 Template spec solution update for CMMC 2.0 -- DO NOT MERGE(1P)
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Data/Solution_CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/2.0.0.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/createUiDefinition.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/mainTemplate.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Playbooks/DevOpsTask/Open_DevOpsTaskRecommendation.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Playbooks/Notify_GovernanceComplianceTeam.json
Labels: Solution Migration, 1P Solution

#5833 Template spec solution update for virustotal
  Solutions/VirusTotal/Data/Solution_VirusTotal.json
  Solutions/VirusTotal/Package/2.0.0.zip
  Solutions/VirusTotal/Package/createUiDefinition.json
  Solutions/VirusTotal/Package/mainTemplate.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/readme.md
  Solutions/VirusTotal/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/PlaybooksMigrated.json
Labels: Solution Migration

#5916 Infoblox query update.
  Solutions/Infoblox NIOS/Data Connectors/Connector_Syslog_Infoblox.json
  Solutions/Infoblox NIOS/Data/Solution_InfobloxNIOS.json
  Solutions/Infoblox NIOS/Package/2.0.0.zip
  Solutions/Infoblox NIOS/Package/mainTemplate.json
  Solutions/Infoblox NIOS/Workbooks/Infoblox-Workbook-V2.json
Labels: Solution

#5828 New Package created for Watchlists Utilities
  Solutions/Watchlists Utilities/Data/Solution_Watchlists utilities.json
  Solutions/Watchlists Utilities/Package/2.0.0.zip
  Solutions/Watchlists Utilities/Package/createUiDefinition.json
  Solutions/Watchlists Utilities/Package/mainTemplate.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/host-alert-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/host-alert-trigger/images/alertTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/host-alert-trigger/images/alertTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/ip-alert-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/ip-alert-trigger/images/alertTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/ip-alert-trigger/images/alertTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/url-alert-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/url-alert-trigger/images/alertTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/url-alert-trigger/images/alertTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/user-alert-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/user-alert-trigger/images/alertTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/user-alert-trigger/images/alertTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/user-vip-alert-trigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/user-vip-alert-trigger/images/alertTrigger-dark.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/user-vip-alert-trigger/images/alertTrigger-light.png
  Solutions/Watchlists Utilities/Playbooks/Watchlist-CloseIncidentKnownIPs/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-CloseIncidentKnownIPs/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-InformSubowner-IncidentTrigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-InformSubowner-IncidentTrigger/readme.md
  Solutions/Watchlists Utilities/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/PlaybooksMigrated.json
Labels: Solution Migration

#5840 Playbooks Preparation: RiskIQ playbook and package
  Solutions/RiskIQ/Package/2.0.0.zip
  Solutions/RiskIQ/Package/createUiDefinition.json
  Solutions/RiskIQ/Package/mainTemplate.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Automated-Triage/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Automated-Triage/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Automated-Triage/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Base/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-PassiveDns-Domain/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-PassiveDns-Ip/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-PassiveDns/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary-Domain/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary-Domain/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary-Domain/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary-Ip/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary-Ip/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary-Ip/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Summary/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Whois-Domain/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Whois-IP/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Data-Whois/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation-Domain/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation-Domain/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation-Domain/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation-Ip/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation-Ip/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation-Ip/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Reputation/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary-Domain/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary-Domain/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary-Domain/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary-Ip/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary-Ip/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary-Ip/readme.md
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary/alert-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary/incident-trigger/azuredeploy.json
  Solutions/RiskIQ/Playbooks/RiskIQ-Intel-Summary/readme.md
  Solutions/RiskIQ/SolutionMetadata.json
  Solutions/RiskIQ/data/Solution_RiskIQ.json
Labels: Playbook, Solution Migration

#5968 Updated WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#5359 Netwrix TemplateSpec Solution
  Solutions/Netwrix Auditor/Data Connectors/Connector_NetwrixAuditor.json
  Solutions/Netwrix Auditor/Data/Solution_Netwrix.json
  Solutions/Netwrix Auditor/Package/2.0.0.zip
  Solutions/Netwrix Auditor/Package/createUiDefinition.json
  Solutions/Netwrix Auditor/Package/mainTemplate.json
  Solutions/Netwrix Auditor/Parsers/NetwrixAuditor.txt
  Solutions/Netwrix Auditor/SolutionMetadata.json
Labels: Solution Migration

#5902 Update to workbook 8/15/2022
  Solutions/GitHub/Workbooks/update-to-workbook-1
Labels: Workbook, Solution

#5967 Update Darktrace Solution Analytic Rule Descriptions
  Solutions/Darktrace/Analytic Rules/CreateAlertFromModelBreach.yaml
  Solutions/Darktrace/Analytic Rules/CreateAlertFromSystemStatus.yaml
  Solutions/Darktrace/Analytic Rules/CreateIncidentFromAIAnalystIncident.yaml
Labels: Solution, Detection

#5122 Microsoft Project Template Package
  Solutions/Microsoft Project/Data Connectors/template_Office365Project.JSON
  Solutions/Microsoft Project/Data/Solution_MicrosoftProject.json
  Solutions/Microsoft Project/Package/2.0.0.zip
  Solutions/Microsoft Project/Package/createUiDefinition.json
  Solutions/Microsoft Project/Package/mainTemplate.json
  Solutions/Microsoft Project/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5929 Fortiweb WAF cloud soar
  Solutions/FortiWebCloud/Playbooks/FortiWebCustomConnector/azuredeploy.json
  Solutions/FortiWebCloud/Playbooks/FortiWebCustomConnector/readme.md
  Solutions/FortiWebCloud/Playbooks/FortiWebPlaybooks/FortiWeb-BlockIP-URL/azuredeploy.json
  Solutions/FortiWebCloud/Playbooks/FortiWebPlaybooks/FortiWeb-BlockIP-URL/readme.md
  Solutions/FortiWebCloud/Playbooks/FortiWebPlaybooks/FortiWeb-enrichment/azuredeploy.json
  Solutions/FortiWebCloud/Playbooks/FortiWebPlaybooks/FortiWeb-enrichment/readme.md
Labels: Playbook, Solution

#5565 Google Directory API Playbooks
  Solutions/GoogleDirectory/Playbooks/GoogleDirectoryAPIConnector/azuredeploy.json
  Solutions/GoogleDirectory/Playbooks/GoogleDirectoryAPIConnector/google_logo.svg
  Solutions/GoogleDirectory/Playbooks/GoogleDirectoryAPIConnector/readme.md
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-EnrichIncidentWithUserInfo/azuredeploy.json
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-EnrichIncidentWithUserInfo/playbook_screenshot.png
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-EnrichIncidentWithUserInfo/readme.md
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-SignOutUser/azuredeploy.json
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-SignOutUser/playbook_screenshot.png
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-SignOutUser/readme.md
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-SuspendUser/azuredeploy.json
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-SuspendUser/playbook_screenshot.png
  Solutions/GoogleDirectory/Playbooks/Playbooks/Google-SuspendUser/readme.md
  Solutions/GoogleDirectory/Playbooks/azuredeploy.json
  Solutions/GoogleDirectory/Playbooks/readme.md
Labels: Playbook, Solution

#5974 Log4j File move to solution
  Workbooks/Log4j Impact Assessment.json
Labels: Solution Migration

#5928 Renamed Azure Sentinel to Microsoft Sentinel in SOC Process Framework solution
  Solutions/SOC-Process-Framework/Package/2.0.0.zip
  Solutions/SOC-Process-Framework/Package/2.0.1.zip
  Solutions/SOC-Process-Framework/Package/mainTemplate.json
  Solutions/SOC-Process-Framework/Workbooks/SOCProcessFramework.json
Labels: Solution

#5189 MongoDBAudit TemplateSpec Solution
  Solutions/MongoDBAudit/Data Connectors/Connector_MongoDBAudit.json
  Solutions/MongoDBAudit/Data/Solution_MongoDBAudit.json
  Solutions/MongoDBAudit/Package/2.0.0.zip
  Solutions/MongoDBAudit/Package/2.0.1.zip
  Solutions/MongoDBAudit/Package/createUiDefinition.json
  Solutions/MongoDBAudit/Package/mainTemplate.json
  Solutions/MongoDBAudit/SolutionMetadata.json
Labels: Solution Migration

#5196 Package Creation For Citrix ADC
  Solutions/Citrix ADC/Data Connectors/Connector_CitrixADC_CEF.json
  Solutions/Citrix ADC/Data/Solution_CitrixAdc.json
  Solutions/Citrix ADC/Package/2.0.0.zip
  Solutions/Citrix ADC/Package/createUiDefinition.json
  Solutions/Citrix ADC/Package/mainTemplate.json
  Solutions/Citrix ADC/SolutionMetadata.json
Labels: Solution Migration

#5718 QualysVM Solution Migration.
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/QualysVMV2/HighNumberofVulnDetectedV2.yaml
  Detections/QualysVMV2/NewHighSeverityVulnDetectedAcrossMulitpleHostsV2.yaml
  Solutions/QualysVM/Analytic Rules/HighNumberofVulnDetectedV2.yaml
  Solutions/QualysVM/Analytic Rules/NewHighSeverityVulnDetectedAcrossMulitpleHostsV2.yaml
  Solutions/QualysVM/Data Connectors/AzureFunctionQualysVM_V2.zip
  Solutions/QualysVM/Data Connectors/AzureFunctionQualysVM_V2/function.json
  Solutions/QualysVM/Data Connectors/AzureFunctionQualysVM_V2/run.ps1
  Solutions/QualysVM/Data Connectors/QualysVM_API_FunctionApp.json
  Solutions/QualysVM/Data Connectors/azuredeploy_QualysVM_API_FunctionApp_V2.json
  Solutions/QualysVM/Data Connectors/host.json
  Solutions/QualysVM/Data Connectors/profile.ps1
  Solutions/QualysVM/Data Connectors/requirements.psd1
  Solutions/QualysVM/Package/2.0.0.zip
  Solutions/QualysVM/Package/createUiDefinition.json
  Solutions/QualysVM/Package/mainTemplate.json
  Solutions/QualysVM/Parsers/QualysHostDetection.txt
  Solutions/QualysVM/SolutionMetadata.json
  Solutions/QualysVM/Workbooks/QualysVMv2.json
  Solutions/QualysVM/data/Solution_QualysVM.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution Migration

#5980 updated metadata file
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution Migration

#5883 Solution Migration Changes for CrowstrikeFalconEndpointProtection
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.4.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/azuredeploy.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/readme.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/azuredeploy.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/readme.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Enrichment_GetDeviceInformation/azuredeploy.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Enrichment_GetDeviceInformation/readme.md
  Solutions/CrowdStrike Falcon Endpoint Protection/SolutionMetadata.json
Labels: Solution Migration

#5867 Template spec solution update for ZeroTrust(TIC3.0) -- IP
  Solutions/ZeroTrust(TIC3.0)/Analytic Rules/Zero_Trust_TIC3.0_ControlAssessmentPostureChange.yaml
  Solutions/ZeroTrust(TIC3.0)/Package/2.0.2.zip
  Solutions/ZeroTrust(TIC3.0)/Package/createUiDefinition.json
  Solutions/ZeroTrust(TIC3.0)/Package/mainTemplate.json
  Solutions/ZeroTrust(TIC3.0)/data/Solution_ZeroTrust(TIC3.0).json
Labels: Solution Migration

#5847 update solution Hyas with playbooks
  Logos/Hyas.svg
  Solutions/HYAS/Data/Solution_HYAS.json
  Solutions/HYAS/Package/2.0.0.zip
  Solutions/HYAS/Package/createUiDefinition.json
  Solutions/HYAS/Package/mainTemplate.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-Passive-DNS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-Passive-Hash/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-SSL-Certificate/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IP-Sinkhole/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IPv4-Device-Geo/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-IPv6-Device-Geo/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-Phone-Number-Historic-WHOIS/azuredeploy.json
  Solutions/HYAS/Playbooks/Enrich-Sentinel-Incident-HYAS-Insight-SHA256-C2-Attribution/azuredeploy.json
Labels: Playbook, Solution Migration

#5670 Updated playbooks for Jira Solution
  Playbooks/Sync-IncidentsWithJIRA/Sync-Comments/azuredeploy.json
  Playbooks/Sync-IncidentsWithJIRA/Sync-Status/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/alert-trigger/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/alert-trigger/images/dark-Playbook-alert-trigger.png
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/alert-trigger/images/light-Playbook-alert-trigger.png
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/images/Jira.png
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/images/jira-connector-requirements.png
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/incident-trigger/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/incident-trigger/images/Jira.png
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/incident-trigger/images/dark-Playbook-incident-trigger.png
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/incident-trigger/images/light-Playbook-incident-trigger.png
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/images/AutomationRuleExampleDark.jpg
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/images/AutomationRuleExampleLight.jpg
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/images/JiraNewIssue.jpg
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/images/JiraPlaybookDark.jpg
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/images/JiraPlaybookLight.jpg
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/images/JiraUpdateIssue.jpg
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/images/jira-connector-requirementsDark.png
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/images/jira-connector-requirementsLight.png
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/images/Sync-AssignedUser-Dark.png
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/images/Sync-AssignedUser-Light.png
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/images/Sync-Incidents-Dark.png
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/images/Sync-Incidents-Example.png
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/images/Sync-Incidents-Light.png
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/readme.md
Labels: Playbook, Solution Migration

#5972 asim/corelight-parsers-with-kv
  Parsers/ASimDns/ARM/ASimDnsCorelightZeek/ASimDnsCorelightZeek.json
  Parsers/ASimDns/ARM/vimDnsCorelightZeek/vimDnsCorelightZeek.json
  Parsers/ASimDns/Parsers/ASimDnsCorelightZeek.yaml
  Parsers/ASimDns/Parsers/vimDnsCorelightZeek.yaml
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCorelightZeek/ASimNetworkSessionCorelightZeek.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCorelightZeek/README.md
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCorelightZeek/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCorelightZeek/vimNetworkSessionCorelightZeek.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCorelightZeek.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCorelightZeek.yaml
Labels: ASIM, Parser

#5958 update solution Maturity Model For Event Log Management M2131
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131AssetStoppedLogging.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131DataConnectorAddedChangedRemoved.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131EventLogManagementPostureChangedEL0.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131EventLogManagementPostureChangedEL1.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131EventLogManagementPostureChangedEL2.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131EventLogManagementPostureChangedEL3.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131LogRetentionLessThan1Year.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131RecommendedDatatableUnhealthy.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Package/2.0.0.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/createUiDefinition.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
Labels: Solution Migration

#5913 solution update Proofpoint
  Solutions/ProofPointTap/Analytic Rules/MalwareAttachmentDelivered.yaml
  Solutions/ProofPointTap/Analytic Rules/MalwareLinkClicked.yaml
  Solutions/ProofPointTap/Data Connectors/ProofpointTAPNativePollerConnector/azuredeploy_ProofpointTAP_native_poller_connector.json
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/2.0.0.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/Playbooks/Get-ProofPointTapEvents/Azuredeploy.json
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-AddForensicsInfoToIncident/azuredeploy.json
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-CheckAccountInVAP/azuredeploy.json
  Solutions/ProofPointTap/SolutionMetadata.json
Labels: Solution Migration

#5921 Template spec solution update for SailPointIdentityNow
  Solutions/SailPointIdentityNow/Data/Solution_SailpointIdentityNow.json
  Solutions/SailPointIdentityNow/Package/2.0.0.zip
  Solutions/SailPointIdentityNow/Package/createUiDefinition.json
  Solutions/SailPointIdentityNow/Package/mainTemplate.json
Labels: Solution Migration

#5861 Playbook preparation and template Spec for Microsoft Purview insider risk management --[1P Solution]
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/2.0.0.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Playbook, Solution Migration, 1P Solution

#5886 Template spec solution update for Cisco ISE
  Solutions/Cisco ISE/Analytic Rules/CiscoISEAdminPasswordReset.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEAttempDeleteLocalStoreLogs.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEBackupFailed.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECertExpired.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECmdExecutionWithHighestPrivilegesNewIP.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECmdExecutionWithHighestPrivilegesNewUser.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEDeviceChangedIP.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEDevicePostureStatusChanged.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISELogCollectorSuspended.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISELogsDeleted.yaml
  Solutions/Cisco ISE/Data/Solution_CiscoISE.json
  Solutions/Cisco ISE/Package/2.0.0.zip
  Solutions/Cisco ISE/Package/createUiDefinition.json
  Solutions/Cisco ISE/Package/data/Solution_CiscoISE.json
  Solutions/Cisco ISE/Package/mainTemplate.json
  Solutions/Cisco ISE/Parsers/CiscoISE.txt
  Solutions/Cisco ISE/Playbooks/CiscoISE-FalsePositivesClearPolicies/azuredeploy.json
  Solutions/Cisco ISE/Playbooks/CiscoISE-SuspendGuestUser/azuredeploy.json
  Solutions/Cisco ISE/Playbooks/CiscoISE-TakeEndpointActionFromTeams/azuredeploy.json
  Solutions/Cisco ISE/SolutionMetadata.json
Labels: Solution Migration

#5472 Rebrand Thycotic to Delinea
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Dashboards/Delinea_Dashboard.json
  Dashboards/Images/Logos/DelineaLogo.svg
  Dashboards/Images/Logos/ThycoticLogo.svg
  Dashboards/Images/Preview/ThycoticDashboardDark.PNG
  Dashboards/Images/Preview/ThycoticDashboardWhite.PNG
  Logos/DelineaLogo.svg
  Logos/ThycoticLogo.svg
  Sample Data/CEF/DelineaSourceData.csv
  Sample Data/CEF/DelineaSourceData.json
  Sample Data/CEF/ThycoticSourceData.csv
  Solutions/Delinea Secret Server/Data Connectors/DelineaSecretServer_CEF.json
  Solutions/Delinea Secret Server/Data/Solution_DelineaSecretServer.json
  Solutions/Delinea Secret Server/Package/2.0.0.zip
  Solutions/Delinea Secret Server/Package/createUiDefinition.json
  Solutions/Delinea Secret Server/Package/mainTemplate.json
  Solutions/Delinea Secret Server/SolutionMetadata.json
  Solutions/Delinea Secret Server/Workbooks/DelineaWorkbook.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/Images/Logos/DelineaLogo.svg
  Workbooks/Images/Logos/ThycoticLogo.svg
  Workbooks/Images/Preview/DelineaWorkbookBlack.PNG
  Workbooks/Images/Preview/DelineaWorkbookWhite.PNG
  Workbooks/WorkbooksMetadata.json
Labels: Waiting on poster, Connector, Workbook, Solution

#5862 Solution Migration Changes for ShadowBytes Aria Threat Intelligence
  Solutions/ShadowByte Aria/Data/Solution_ShadowByteAria.json
  Solutions/ShadowByte Aria/Package/2.0.0.zip
  Solutions/ShadowByte Aria/Package/createUiDefinition.json
  Solutions/ShadowByte Aria/Package/mainTemplate.json
Labels: Solution Migration

#5930 Template spec solution update for NISTSP80053 -- DO NOT MERGE(1P)
  Solutions/NISTSP80053/Package/2.0.0.zip
  Solutions/NISTSP80053/Package/createUiDefinition.json
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
Labels: Solution Migration, 1P Solution

#5943 Update NISTSP80053.json
  Solutions/NISTSP80053/Workbooks/NISTSP80053.json
Labels: Workbook, Solution

#5944 Update ZeroTrust(TIC3.0).json
  Solutions/ZeroTrust(TIC3.0)/Workbooks/ZeroTrust(TIC3.0).json
Labels: Workbook, Solution

#5945 cmmc updates
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/readme.md
Labels: Workbook, Solution

#5947 Dynamic Threat Analysis Solution Updates
  Solutions/ThreatAnalysis&Response/Workbooks/DynamicThreatModeling&Response.json
  Solutions/ThreatAnalysis&Response/readme.md
Labels: Workbook, Solution

#5646 New Sentinel Workspace Recon Tools workbook
  Workbooks/Images/Preview/SentinelWorkspaceReconToolsBlack.png
  Workbooks/Images/Preview/SentinelWorkspaceReconToolsWhite.png
  Workbooks/SentinelWorkspaceReconTools.json
  Workbooks/WorkbooksMetadata.json
Labels: Waiting on poster, Workbook

#5991 Asim/fix threat original risk level
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionEmpty/vimNetworkSessionEmpty.json
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionEmpty.yaml
  Parsers/ASimWebSession/ARM/FullDeploymentWebSession.json
  Parsers/ASimWebSession/ARM/vimWebSessionEmpty/vimWebSessionEmpty.json
  Parsers/ASimWebSession/Parsers/vimWebSessionEmpty.yaml
Labels: ASIM, Parser

#5999 Asim/review sysmonwindows process
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSysmon/ASimProcessCreateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSysmon/vimProcessCreateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSysmon.yaml
Labels: ASIM, Parser

#5931 Updating text for recorded future
  Solutions/Recorded Future/Analytic Rules/RecordedFutureDomainMalwareC2inDNSEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureDomainMalwareC2inSyslogEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureHashObservedInUndergroundinCommonSecurityLog.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureIPMalwareC2inAzureActivityEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureIPMalwareC2inDNSEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureUrlReportedbyInsiktGroupinSyslogEvents.yaml
  Solutions/Recorded Future/Package/2.0.0.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor.json
Labels: Solution Migration

#5998 Fixed Palo Alto PAN-OS playbook issues
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetURLCategoryInfo/azuredeploy.json
Labels: Playbook, Solution

#6003 Update PlaybooksMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/PlaybooksMigrated.json
Labels: Solution Migration

#5083 The Hive playbooks
  Solutions/TheHive/Playbooks/TheHive-CreateAlert/azuredeploy.json
  Solutions/TheHive/Playbooks/TheHive-CreateAlert/playbook_screenshot.png
  Solutions/TheHive/Playbooks/TheHive-CreateAlert/readme.md
  Solutions/TheHive/Playbooks/TheHive-CreateCase/azuredeploy.json
  Solutions/TheHive/Playbooks/TheHive-CreateCase/playbook_screenshot.PNG
  Solutions/TheHive/Playbooks/TheHive-CreateCase/readme.md
  Solutions/TheHive/Playbooks/TheHive-LockUser/azuredeploy.json
  Solutions/TheHive/Playbooks/TheHive-LockUser/playbook_screenshot.png
  Solutions/TheHive/Playbooks/TheHive-LockUser/readme.md
  Solutions/TheHive/Playbooks/TheHiveConnector/azuredeploy.json
  Solutions/TheHive/Playbooks/TheHiveConnector/readme.md
  Solutions/TheHive/Playbooks/azuredeploy.json
  Solutions/TheHive/Playbooks/logo.png
  Solutions/TheHive/Playbooks/readme.md
Labels: Playbook, Solution

#6008 update links for Zero trust
  Solutions/ZeroTrust(TIC3.0)/Package/2.0.2.zip
  Solutions/ZeroTrust(TIC3.0)/Package/createUiDefinition.json
  Solutions/ZeroTrust(TIC3.0)/data/Solution_ZeroTrust(TIC3.0).json
Labels: Solution

#6010 VMWare Carbon Black playbook readme URL fix.
  Solutions/VMware Carbon Black Cloud/Playbooks/CarbonBlack-DeviceEnrichment/readme.md
  Solutions/VMware Carbon Black Cloud/Playbooks/CarbonBlack-QuarantineDevice/readme.md
  Solutions/VMware Carbon Black Cloud/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/readme.md
  Solutions/VMware Carbon Black Cloud/Playbooks/CarbonBlackConnector/readme.md
  Solutions/VMware Carbon Black Cloud/Playbooks/readme.md
Labels: Solution

#5863 Solution Migration Chages for Azure active directory identity protection
  Solutions/Azure Active Directory Identity Protection/Analytic Rules/CorrelateIPC_Unfamiliar-Atypical.yaml
  Solutions/Azure Active Directory Identity Protection/Data Connectors/template_AzureActiveDirectoryIdentityProtection.JSON
  Solutions/Azure Active Directory Identity Protection/Data/Solution_AzureADIdentityProtection.json
  Solutions/Azure Active Directory Identity Protection/Package/2.0.0.zip
  Solutions/Azure Active Directory Identity Protection/Package/2.0.1.zip
  Solutions/Azure Active Directory Identity Protection/Package/createUiDefinition.json
  Solutions/Azure Active Directory Identity Protection/Package/mainTemplate.json
  Solutions/Azure Active Directory Identity Protection/Playbooks/Confirm-AADRiskyUser/alert-trigger/azuredeploy.json
  Solutions/Azure Active Directory Identity Protection/Playbooks/Confirm-AADRiskyUser/alert-trigger/images/Confirm-AADRiskyUser_alert.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/Confirm-AADRiskyUser/incident-trigger/azuredeploy.json
  Solutions/Azure Active Directory Identity Protection/Playbooks/Confirm-AADRiskyUser/incident-trigger/images/designerDark.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/Confirm-AADRiskyUser/incident-trigger/images/designerLight.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/Confirm-AADRiskyUser/readme.md
  Solutions/Azure Active Directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/Dismiss-AADRisky-Useralert-trigger/azuredeploy.json
  Solutions/Azure Active Directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/Dismiss-AADRisky-Useralert-trigger/images/Dismiss-AADRiskyUser_alert.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/Dismiss-AADRisky-Userincident-trigger/azuredeploy.json
  Solutions/Azure Active Directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/Dismiss-AADRisky-Userincident-trigger/images/Dismiss-AADRiskyUser_incident.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/Dismiss-AADRisky-Userincident-trigger/images/designerDark.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/Dismiss-AADRisky-Userincident-trigger/images/designerLight.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/readme.md
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/azuredeploy.json
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/ImageDark1.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/ImageLight1.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/TeamsCard.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/commentDark.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/commentLight.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/designerView.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/msg.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/responsePart.png
  Solutions/Azure Active Directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/readme.md
  Solutions/Azure Active Directory Identity Protection/SolutionMetadata.json
Labels: Solution Migration

#5973 Playbooks & Solution Preparation For WatchList
  Solutions/Watchlists Utilities/Data/Solution_Watchlists Utilities.json
  Solutions/Watchlists Utilities/Package/2.0.0.zip
  Solutions/Watchlists Utilities/Package/createUiDefinition.json
  Solutions/Watchlists Utilities/Package/mainTemplate.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-HostToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-IPToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-URLToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-Add-UserToWatchList/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-CloseIncidentKnownIPs/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-CloseIncidentKnownIPs/readme.md
  Solutions/Watchlists Utilities/Playbooks/Watchlist-InformSubowner-IncidentTrigger/azuredeploy.json
  Solutions/Watchlists Utilities/Playbooks/Watchlist-InformSubowner-IncidentTrigger/readme.md
  Solutions/Watchlists Utilities/SolutionMetadata.json
Labels: Playbook, Solution Migration
