Repository Azure/Azure-Sentinel, pull requests merged in 2022-10, with the labels that each got.

#6257 AWS IAM TemplateSpec solution
  Solutions/AWS_IAM/Data/Solution_AWSIAM.json
  Solutions/AWS_IAM/Package/2.0.0.zip
  Solutions/AWS_IAM/Package/createUiDefinition.json
  Solutions/AWS_IAM/Package/mainTemplate.json
  Solutions/AWS_IAM/Playbooks/Playbooks/AWSIAM-AddTagToUser/azuredeploy.json
  Solutions/AWS_IAM/Playbooks/Playbooks/AWSIAM-AddTagToUser/readme.md
  Solutions/AWS_IAM/Playbooks/Playbooks/AWSIAM-DeleteAccessKeys/azuredeploy.json
  Solutions/AWS_IAM/Playbooks/Playbooks/AWSIAM-DeleteAccessKeys/readme.md
  Solutions/AWS_IAM/Playbooks/Playbooks/AWSIAM-EnrichIncidentWithUserInfo/azuredeploy.json
  Solutions/AWS_IAM/Playbooks/Playbooks/AWSIAM-EnrichIncidentWithUserInfo/readme.md
  Solutions/AWS_IAM/Playbooks/readme.md
  Solutions/AWS_IAM/SolutionMetadata.json
Labels: Playbook, Solution Migration

#6285 add 4 SAP workbooks to WorkbooksMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6289 Arista Awake Security solution changes due to CEF changes
  Solutions/AristaAwakeSecurity/Data/Solution_AristaAwakeSecurity.json
  Solutions/AristaAwakeSecurity/Package/2.0.2.zip
  Solutions/AristaAwakeSecurity/Package/mainTemplate.json
Labels: Solution

#6252 [DO NOT MERGE] Parser optmization for VMWareESXi
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/2.0.1.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/VMWareESXi/Parsers/VMwareESXi.txt
Labels: Parser, Solution

#6284 solution repackaged with two solution content
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Deny Rate for Source IP.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Port to Protocol.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Multiple Sources Affected by the Same TI Destination.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Scan.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Sweep.yaml
  Solutions/Azure Firewall/Data Connectors/AzureFirewall.JSON
  Solutions/Azure Firewall/Data/Solution_AzureFirewall.json
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First Time Source IP to Destination Using Port.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First time source IP to Destination.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Source IP Abnormally Connects to Multiple Destinations.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port for Organization.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port to IP.yaml
  Solutions/Azure Firewall/Package/2.0.1.zip
  Solutions/Azure Firewall/Package/createUiDefinition.json
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-AddIPtoTIAllowList/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-AddIPtoTIAllowList/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewallConnector/readme.md
  Solutions/Azure Firewall/Playbooks/readme.md
  Solutions/Azure Firewall/Workbooks/Azure Firewall Workbook - Deployment Template.json
Labels: Solution

#6292 Add SAP icon for workbooks
  Solutions/SAP/Workbooks/SAPVMIcon.svg
Labels: Workbook

#6293 ExtraHop solution changes due to CEF changes
  Solutions/ExtraHop Reveal(x)/Data/Solution_ExtraHop Reveal(x).json
  Solutions/ExtraHop Reveal(x)/Package/2.0.1.zip
  Solutions/ExtraHop Reveal(x)/Package/mainTemplate.json
Labels: Solution

#6297 Revert "solution repackaged with two solution content"
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Deny Rate for Source IP.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Port to Protocol.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Multiple Sources Affected by the Same TI Destination.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Scan.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Sweep.yaml
  Solutions/Azure Firewall/Data Connectors/AzureFirewall.JSON
  Solutions/Azure Firewall/Data/Solution_AzureFirewall.json
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First Time Source IP to Destination Using Port.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First time source IP to Destination.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Source IP Abnormally Connects to Multiple Destinations.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port for Organization.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port to IP.yaml
  Solutions/Azure Firewall/Package/2.0.1.zip
  Solutions/Azure Firewall/Package/createUiDefinition.json
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-AddIPtoTIAllowList/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-AddIPtoTIAllowList/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewallConnector/readme.md
  Solutions/Azure Firewall/Playbooks/readme.md
  Solutions/Azure Firewall/Workbooks/Azure Firewall Workbook - Deployment Template.json
Labels: Solution

#6296 TrendMicroApexOne Repackaging Changes
  Solutions/Trend Micro Apex One/Data/Solution_Trend Micro Apex One.json
  Solutions/Trend Micro Apex One/Package/2.0.2.zip
  Solutions/Trend Micro Apex One/Package/createUiDefinition.json
  Solutions/Trend Micro Apex One/Package/mainTemplate.json
Labels: Solution

#6295 Kaspersky Security Center Repackaging changes
  Solutions/KasperskySecurityCenter/Data/Solution_Kaspersky Security Center.json
  Solutions/KasperskySecurityCenter/Package/2.0.1.zip
  Solutions/KasperskySecurityCenter/Package/mainTemplate.json
Labels: Solution

#6299 Updating packages for Contrast protect and Abnormal Security
  Solutions/AbnormalSecurity/Data/Solution_AbnormalSecurity.json
  Solutions/AbnormalSecurity/Package/2.0.2.zip
  Solutions/AbnormalSecurity/Package/mainTemplate.json
  Solutions/Contrast Protect/Data/Solution_Contrast Protect.json
  Solutions/Contrast Protect/Package/2.0.2.zip
  Solutions/Contrast Protect/Package/mainTemplate.json
Labels: Solution

#6298 zinc open source solution package
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_AVHits_IOC.yaml
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_Filename_Commandline_IOC.yaml
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_IP_Domain_Hash_IOC.yaml
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Solutions/Zinc Open Source/Package/2.0.0.zip
  Solutions/Zinc Open Source/Package/createUiDefinition.json
  Solutions/Zinc Open Source/Package/mainTemplate.json
  Solutions/Zinc Open Source/SolutionMetadata.json
Labels: Solution

#6275 Updating the version and changing Azure to Microsoft in SonicWall
  Solutions/SonicWall Firewall/Data Connectors/SonicwallFirewall.JSON
  Solutions/SonicWall Firewall/Data/Solution_ SonicWall Firewall.json
  Solutions/SonicWall Firewall/Package/2.0.3.zip
  Solutions/SonicWall Firewall/Package/mainTemplate.json
Labels: Solution

#6272 Security threat & ApacheHTTP solution package update 2.0.1
  Solutions/ApacheHTTPServer/Data/Solution_Apache Http Server.json
  Solutions/ApacheHTTPServer/Package/2.0.1.zip
  Solutions/ApacheHTTPServer/Package/mainTemplate.json
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/SecurityThreatEssentialSolution/Package/2.0.1.zip
  Solutions/SecurityThreatEssentialSolution/Package/mainTemplate.json
Labels: Solution

#6259 Google workspace Python instruction update.
  Solutions/GoogleWorkspaceReports/Data Connectors/GWorkspaceReports_API_FunctionApp.json
  Solutions/GoogleWorkspaceReports/Data/Solution_GoogleWorkspaceReports.json
  Solutions/GoogleWorkspaceReports/Package/2.0.1.zip
  Solutions/GoogleWorkspaceReports/Package/mainTemplate.json
Labels: Solution

#6294 Solution Repackage Changes for Claroty
  Solutions/Claroty/Data/Solution_Claroty.json
  Solutions/Claroty/Package/2.0.2.zip
  Solutions/Claroty/Package/createUiDefinition.json
  Solutions/Claroty/Package/mainTemplate.json
  Solutions/Claroty/Parsers/ClarotyEvent.txt
Labels: Solution

#6255 Created the ExtractMITRE folder and added 2 files under it
  Tools/ExtractMITRE/Export-AzSentinelMITREToCSV.ps1
  Tools/ExtractMITRE/README.md
Labels: Tools

#6302 Trend Micro Deep Security Repackaging Changes
  Solutions/Trend Micro Deep Security/Data/Solution_TrendMicroDeepSecurityTemplateSpec.json
  Solutions/Trend Micro Deep Security/Package/2.0.1.zip
  Solutions/Trend Micro Deep Security/Package/mainTemplate.json
Labels: Solution

#6020 DomainTools Playbooks
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Enrich-Domain_Playbook/azuredeploy.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Enrich-Domain_Playbook/graphics/DomainTools.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Enrich-Domain_Playbook/graphics/comments1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Enrich-Domain_Playbook/graphics/comments2.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Enrich-Domain_Playbook/graphics/connection.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Enrich-Domain_Playbook/graphics/deployment.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Enrich-Domain_Playbook/graphics/for_each.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Enrich-Domain_Playbook/readme.md
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Playbook/azuredeploy.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Playbook/graphics/DomainTools.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Playbook/graphics/comments1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Playbook/graphics/comments2.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Playbook/graphics/connection.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Playbook/graphics/deployment.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Playbook/graphics/for_each.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Playbook/readme.md
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Risk_Score_Playbook/azuredeploy.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Risk_Score_Playbook/graphics/DomainTools.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Risk_Score_Playbook/graphics/comments1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Risk_Score_Playbook/graphics/connection.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Risk_Score_Playbook/graphics/deployment.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Risk_Score_Playbook/graphics/for_each.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Domain_Risk_Score_Playbook/readme.md
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/azuredeploy.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/graphics/DomainTools.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/graphics/comments1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/graphics/comments2.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/graphics/connection.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/graphics/deployment.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/graphics/for_each.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/readme.md
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Malicious_Tags_Playbook/azuredeploy.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Malicious_Tags_Playbook/graphics/DomainTools.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Malicious_Tags_Playbook/graphics/comments1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Malicious_Tags_Playbook/graphics/connection.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Malicious_Tags_Playbook/graphics/deployment.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Malicious_Tags_Playbook/graphics/for_each.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Malicious_Tags_Playbook/readme.md
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/azuredeploy.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/graphics/DomainTools.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/graphics/comments1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/graphics/comments2.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/graphics/connection.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/graphics/deployment.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/graphics/for_each.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/graphics/function_deploy1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/graphics/function_deploy2.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/readme.md
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/azuredeploy.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/graphics/DomainTools.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/graphics/comments1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/graphics/comments2.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/graphics/connection.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/graphics/connection1.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/graphics/deployment.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/graphics/for_each.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/graphics/for_each_results.png
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-With_Farsight_pDNS_Playbook/readme.md
  Solutions/DomainTools/Playbooks/FunctionApp/ExtractDomainFromUrl.zip
  Solutions/DomainTools/Playbooks/FunctionApp/azuredeploy.json
Labels: Playbook, Solution

#6273 Leaderboard Monthly Update - Updated stats.md file with September 2022 Data
  Tools/stats/stats.md
Labels: Tools

#6178 Update the query to include the DeviceVendor condition to include th…
  Solutions/Delinea Secret Server/Data Connectors/DelineaSecretServer_CEF.json
  Solutions/Delinea Secret Server/Package/2.0.0.zip
  Solutions/Delinea Secret Server/Package/mainTemplate.json
Labels: Connector

#6311 Updated the OfferId and PublisherId for Vectra AI Stream solution
  Solutions/Vectra AI Stream/Package/2.0.0.zip
  Solutions/Vectra AI Stream/Package/mainTemplate.json
  Solutions/Vectra AI Stream/SolutionMetadata.json
Labels: Solution

#6312 update solution name as "ZINC Open-Source Threat Protection"
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Solutions/Zinc Open Source/Package/2.0.0.zip
  Solutions/Zinc Open Source/Package/mainTemplate.json
Labels: Solution, 1P Solution

#6303 Ironnet IronDefense solution changes due to CEF changes
  Solutions/IronNet IronDefense/Data/Solution_IronNetIronDefense.json
  Solutions/IronNet IronDefense/Package/2.0.1.zip
  Solutions/IronNet IronDefense/Package/mainTemplate.json
Labels: Solution

#6321 Microsoft Purview Insider Risk Management Solution update 2.0.2
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/2.0.2.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution

#6120 Update createUiDefinition.json - AlertIQ
  Tools/Sentinel-All-In-One/ARMTemplates/createUiDefinition.json
Labels: Tools

#6319 Fixing workbook sync comments
  Workbooks/Dns.json
  Workbooks/SentinelHealth.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6192 [DO NOT MERGE] FortigateWorkbookUpdate
  Workbooks/Fortigate.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#6316 package update for Trend Micro TippingPoint
  Solutions/Trend Micro TippingPoint/Package/2.0.0.zip
  Solutions/Trend Micro TippingPoint/Package/2.0.1.zip
  Solutions/Trend Micro TippingPoint/Package/createUiDefinition.json
  Solutions/Trend Micro TippingPoint/Package/mainTemplate.json
Labels: Solution

#6323 FireEyeNX Solution Repackaging Changes
  Solutions/FireEye Network Security/Data Connectors/Connector_FireEyeNX_CEF.json
  Solutions/FireEye Network Security/Data/Solution_FireEye Network Security.json
  Solutions/FireEye Network Security/Package/2.0.1.zip
  Solutions/FireEye Network Security/Package/mainTemplate.json
Labels: Solution

#6338 logo for azure firewall
  Logos/AzFirewalls.svg
Labels: Solution

#5717 Bug fixes for multiple Sysmon parsers
  Parsers/Sysmon/Sysmon-AllVersions_Parser.txt
  Parsers/Sysmon/Sysmon-v12.0.txt
Labels: Parser

#6330 Fixed typos
  Hunting Queries/Microsoft 365 Defender/General queries/Firewall Policy Design Assistant.yaml
Labels: Solution, Hunting

#6339 Replace Anomali TI feed with new alternative
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-2-Data-Connectors.md
Labels: Solution

#6340 Oracle DatabaseAudit Solution 2.0.2
  Solutions/OracleDatabaseAudit/Package/2.0.2.zip
  Solutions/OracleDatabaseAudit/Package/mainTemplate.json
  Solutions/OracleDatabaseAudit/Parsers/OracleDatabaseAuditEvent.txt
Labels: Solution

#6237 Soar qualys vm playbooks update
  Solutions/QualysVM/Package/2.0.1.zip
  Solutions/QualysVM/Package/createUiDefinition.json
  Solutions/QualysVM/Package/mainTemplate.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssetDetails/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByCVEID/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByOpenPort/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-LaunchVMScan-GenerateReport/azuredeploy.json
  Solutions/QualysVM/SolutionMetadata.json
  Solutions/QualysVM/data/Solution_QualysVM.json
Labels: Solution

#6354 update flare logo
  Logos/Flare.svg
Labels: Solution

#6331 [SOAR] Adding new threat intelligence solution Minemeld
  Solutions/Minemeld/Playbooks/CustomConnector/MinemeldCustomConnector/azuredeploy.json
  Solutions/Minemeld/Playbooks/CustomConnector/MinemeldCustomConnector/readme.md
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-CreateIndicator/azuredeploy.json
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-CreateIndicator/images/incident_comment.png
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-CreateIndicator/images/logic_app_flow.png
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-CreateIndicator/readme.md
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-EnrichIncident/azuredeploy.json
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-EnrichIncident/images/Logic_app_flow.png
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-EnrichIncident/images/incident_comment.png
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-EnrichIncident/images/logic_app_flow_2.png
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-EnrichIncident/readme.md
Labels: Playbook, Solution

#6355 update package for CrowdStrike Falcon
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.5.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Solution

#4643 TCPandUDP Port Description Watchlist
  Watchlists/ListofTCPUDPPorts/CSVtoRawContentConverterScript.ps1
  Watchlists/ListofTCPUDPPorts/ListofTCPandUDPportnumbers.csv
  Watchlists/ListofTCPUDPPorts/azuredeploy.json
  Watchlists/ListofTCPUDPPorts/rawcontent.txt
  Watchlists/ListofTCPUDPPorts/readme.md
Labels: WatchList

#6342 update package Illusive Platform
  Solutions/Illusive Platform/Data/Solution_IllusiveAttackManagementSystem.json
  Solutions/Illusive Platform/Package/2.0.1.zip
  Solutions/Illusive Platform/Package/mainTemplate.json
Labels: Solution

#6327 update package for iboss solution
  Solutions/iboss/Data Connectors/iboss_cef.json
  Solutions/iboss/Data/Solution_iboss.json
  Solutions/iboss/Package/2.0.0.zip
  Solutions/iboss/Package/createUiDefinition.json
  Solutions/iboss/Package/mainTemplate.json
Labels: Solution

#6344 update PaloAltoCDL Package
  Solutions/PaloAltoCDL/Data/Solution_PaloAltoCDL.json
  Solutions/PaloAltoCDL/Package/2.0.1.zip
  Solutions/PaloAltoCDL/Package/mainTemplate.json
Labels: Solution

#6349 Create MDO-Power BI Dashboard
  Tools/MDO-Power BI Dashboard
Labels: Tools

#6203 092122 as okta network zone update
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Access_1.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Access_2.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Access_3.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Access_4.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Demo_1.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Demo_2.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Deploy_1.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Deploy_2.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Deploy_3.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Deploy_4.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Deploy_5.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Deploy_6.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Deploy_7.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Deploy_8.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Key_Vault_1.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Key_Vault_2.png
  Playbooks/AS-Okta-NetworkZoneUpdate/Images/NetworkZone_Key_Vault_3.png
  Playbooks/AS-Okta-NetworkZoneUpdate/README.md
  Playbooks/AS-Okta-NetworkZoneUpdate/azuredeploy.json
Labels: Playbook

#6149 Standalone metadata samples
  .script/utils/schemas/workbooksMetadataSchema.json
  Detections/Heartbeat/MissingDCHearbeat.yaml
  Hunting Queries/SecurityAlert/WebShellFileAlertEnrich.yaml
  Playbooks/Create-Zendesk-Ticket/azuredeploy.json
  Workbooks/WorkbooksMetadata.json
Labels: Playbook, Workbook, Detection, Hunting

#6361 Added Watchlist and filter logic
  Solutions/Infoblox NIOS/Parser/Infoblox_dnsclient.txt
Labels: Parser, Solution

#6238 Elastic search soar
  Logos/ElasticSearch.svg
  Solutions/Elastic Search/Data/Solution_ElasticSearch.json
  Solutions/Elastic Search/Package/2.0.0.zip
  Solutions/Elastic Search/Package/createUiDefinition.json
  Solutions/Elastic Search/Package/mainTemplate.json
  Solutions/Elastic Search/Playbooks/CustomConnector/ElasticSearchCustomConnector/azuredeploy.json
  Solutions/Elastic Search/Playbooks/CustomConnector/ElasticSearchCustomConnector/readme.md
  Solutions/Elastic Search/Playbooks/ElasticSearchPlaybooks/ElasticSearch-EnrichIncident/azuredeploy.json
  Solutions/Elastic Search/Playbooks/ElasticSearchPlaybooks/ElasticSearch-EnrichIncident/images/CommentElasticSearch_EnrichIncident.png
  Solutions/Elastic Search/Playbooks/ElasticSearchPlaybooks/ElasticSearch-EnrichIncident/images/EnrichIndicentElasticSearchWorkflow.png
  Solutions/Elastic Search/Playbooks/ElasticSearchPlaybooks/ElasticSearch-EnrichIncident/readme.md
  Solutions/Elastic Search/SolutionMetadata.json
Labels: Solution

#6077 090122 as compromised machine tagging
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Demo.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_1.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_2.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_3.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_4.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_5.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_6.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_7.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_8.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Deploy_9.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Run_1.png
  Playbooks/AS-Compromised-Machine-Tagging/Images/MachineTagging_Run_2.png
  Playbooks/AS-Compromised-Machine-Tagging/README.md
  Playbooks/AS-Compromised-Machine-Tagging/azuredeploy.json
Labels: Playbook

#6328 package update for OneIdentity
  Solutions/OneIdentity/Data/Solution_OneIdentity.json
  Solutions/OneIdentity/Package/2.0.1.zip
  Solutions/OneIdentity/Package/mainTemplate.json
Labels: Solution

#5015 Forcepoint CASB template spec solution
  Solutions/Forcepoint CASB/Data Connectors/Forcepoint CASB.json
  Solutions/Forcepoint CASB/Data/Solution_ForcepointCASB.json
  Solutions/Forcepoint CASB/Package/2.0.0.zip
  Solutions/Forcepoint CASB/Package/createUiDefinition.json
  Solutions/Forcepoint CASB/Package/mainTemplate.json
  Solutions/Forcepoint CASB/SolutionMetadata.json
  Solutions/Forcepoint CASB/Workbooks/ForcepointCASB.json
Labels: Solution Migration

#5795 Create Detect DNS Obfuscation Using @ Symbol in Email URLs.yml
  Hunting Queries/Microsoft 365 Defender/Initial access/Detect DNS Obfuscation Using @ Symbol in Email URLs.yml
Labels: Hunting

#6352 Update NewResourceGroupsDeployedTo.yaml
  Detections/AzureActivity/NewResourceGroupsDeployedTo.yaml
Labels: Detection

#6348 Update sample TAXII 2 feed
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-2-Data-Connectors.md
Labels: Solution

#6358 solution Flare package created
  Solutions/Flare/Data Connectors/Connector_REST_API_FlareSystemsFirework.json
  Solutions/Flare/Data/Solution_FlareSystemsFirework.json
  Solutions/Flare/Package/2.0.1.zip
  Solutions/Flare/Package/createUiDefinition.json
  Solutions/Flare/Package/mainTemplate.json
Labels: Solution

#4876 Forcepoint CSG Template Spec
  Solutions/Forcepoint CSG/Data Connectors/ForcepointCloudSecurityGateway.json
  Solutions/Forcepoint CSG/Data/Solution_ForcepointCSG.json
  Solutions/Forcepoint CSG/Package/2.0.0.zip
  Solutions/Forcepoint CSG/Package/createUiDefinition.json
  Solutions/Forcepoint CSG/Package/mainTemplate.json
  Solutions/Forcepoint CSG/SolutionMetadata.json
  Solutions/Forcepoint CSG/Workbooks/ForcepointCloudSecuirtyGatewayworkbook.json
Labels: Connector, Workbook, Solution, Solution Migration

#6376 Removed space from domain category for Forcepoint CASB
  Solutions/Forcepoint CASB/Package/2.0.0.zip
  Solutions/Forcepoint CASB/Package/mainTemplate.json
  Solutions/Forcepoint CASB/SolutionMetadata.json
Labels: Solution

#6377 AZ DDOS workbook update
  Solutions/Azure DDoS Protection/Workbooks/AzDDoSStandardWorkbook.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/AzDDoSStandardWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6381 Data connector description changed
  Solutions/Flare/Package/2.0.1.zip
  Solutions/Flare/Package/createUiDefinition.json
Labels: Solution

#6378 updated create ui file in zip remove space
  Solutions/PaloAltoCDL/Package/2.0.1.zip
  Solutions/PaloAltoCDL/Package/mainTemplate.json
Labels: Solution

#6225 Adding watchlist deployment to solution
  Solutions/Training/Azure-Sentinel-Training-Lab/Package/1.0.6.zip
  Solutions/Training/Azure-Sentinel-Training-Lab/Package/mainTemplate.json
Labels: Solution, WatchList

#6385 asim/fix-sysmon-process-terminate
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateMicrosoftSysmon/ASimProcessTerminateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateMicrosoftSysmon.yaml
Labels: ASIM, Parser

#6371 Updated package for Forcepoint DLP and Forcepoint NGFW
  Solutions/Forcepoint DLP/Data Connectors/Forcepoint DLP.json
  Solutions/Forcepoint DLP/Data/Solution_ForcepointDLP.json
  Solutions/Forcepoint DLP/Package/2.0.0.zip
  Solutions/Forcepoint DLP/Package/createUiDefinition.json
  Solutions/Forcepoint DLP/Package/mainTemplate.json
  Solutions/Forcepoint DLP/SolutionMetadata.json
  Solutions/Forcepoint NGFW/Data/Solution_ForcepointNGFW.json
  Solutions/Forcepoint NGFW/Package/2.0.0.zip
  Solutions/Forcepoint NGFW/Package/createUiDefinition.json
  Solutions/Forcepoint NGFW/Package/mainTemplate.json
  Solutions/Forcepoint NGFW/SolutionMetadata.json
Labels: Solution

#6357 Minemeld TemplateSpec solution
  Solutions/Minemeld/Data/Solution_Minemeld.json
  Solutions/Minemeld/Package/2.0.0.zip
  Solutions/Minemeld/Package/createUiDefinition.json
  Solutions/Minemeld/Package/mainTemplate.json
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-CreateIndicator/azuredeploy.json
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-CreateIndicator/readme.md
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-EnrichIncident/azuredeploy.json
  Solutions/Minemeld/Playbooks/MinemeldPlaybooks/Minemeld-EnrichIncident/readme.md
  Solutions/Minemeld/SolutionMetadata.json
Labels: Playbook, Solution

#6375 Update package for Infoblox NIOS
  Solutions/Infoblox NIOS/Data/Solution_InfobloxNIOS.json
  Solutions/Infoblox NIOS/Package/2.0.1.zip
  Solutions/Infoblox NIOS/Package/mainTemplate.json
  Solutions/Infoblox NIOS/Parser/Readme.md
Labels: Solution

#6254 Create Threat Intelligence Upload Indicators dataconnector
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
Labels: Connector, Solution

#6301 Fixing solutions of Neustar, OpenCTI, ThreatX
  Solutions/Neustar IP GeoPoint/Package/2.0.0.zip
  Solutions/Neustar IP GeoPoint/Package/createUiDefinition.json
  Solutions/Neustar IP GeoPoint/Playbooks/Neustar-GetIPGeoInfo/readme.md
  Solutions/Neustar IP GeoPoint/data/Solution_NeustarIPGeoPoint.json
  Solutions/OpenCTI/Package/2.0.0.zip
  Solutions/OpenCTI/Package/createUiDefinition.json
  Solutions/OpenCTI/Package/mainTemplate.json
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-CreateIndicator/readme.md
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-EnrichIncident/readme.md
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-GetIndicatorsStream/readme.md
  Solutions/OpenCTI/SolutionMetadata.json
  Solutions/OpenCTI/data/Solution_OpenCTI.json
  Solutions/ThreatXCloud/Package/2.0.0.zip
  Solutions/ThreatXCloud/Package/createUiDefinition.json
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-BlockIP-URL/readme.md
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-Enrichment/readme.md
  Solutions/ThreatXCloud/data/Solution_ThreatXCloud.json
Labels: Solution

#6343 solution zero networks package creation
  Solutions/ZeroNetworks/Analytics Rules/ZNAccessOrchestratorMachineRemovedfromProtection.yaml
  Solutions/ZeroNetworks/Analytics Rules/ZNAccessOrchestratorNewAPIToken.yaml
  Solutions/ZeroNetworks/Analytics Rules/ZNAccessOrchestratorRareJITRuleCreation.yaml
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/DataConnector_API_AzureFunctionApp_ZeroNetworks_AccessOrchestrator_Audit.json
  Solutions/ZeroNetworks/Data Connectors/ZeroNetworksNativePollerConnector/azuredeploy_ZeroNetworks_AccessOrchestrator_native_poller_connector.json
  Solutions/ZeroNetworks/Data/Solution_ZeroNetworks.json
  Solutions/ZeroNetworks/Package/2.0.0.zip
  Solutions/ZeroNetworks/Package/createUiDefinition.json
  Solutions/ZeroNetworks/Package/mainTemplate.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddAssettoProtection/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddBlockOutboundRule/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-EnrichIncident/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-EnrichIncident/readme.md
Labels: Solution

#6390 Update AzurePortalSigninfromanotherAzureTenant.yaml
  Solutions/Azure Active Directory/Analytic Rules/AzurePortalSigninfromanotherAzureTenant.yaml
Labels: Detection

#6384 AzDdosSolution Package 2.0.2
  Solutions/Azure DDoS Protection/Data/Solution_AzureDDoSProtection.json
  Solutions/Azure DDoS Protection/Package/2.0.2.zip
  Solutions/Azure DDoS Protection/Package/mainTemplate.json
Labels: Solution

#5035 Package Creation for Okta Single signOn
  Solutions/Okta Single Sign-On/Analytic Rules/FailedLoginsFromUnknownOrInvalidUser.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/LoginfromUsersfromDifferentCountrieswithin3hours.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/PasswordSpray.yaml
  Solutions/Okta Single Sign-On/Data Connectors/Okta Single Sign-On/Connector_REST_API_FunctionApp_Okta.json
  Solutions/Okta Single Sign-On/Package/2.0.0.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/SolutionMetadata.json
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
Labels: Solution Migration

#4888 Create Function CETWorkingTime.txt
  Functions/CETWorkingTime.kql
Labels: Function

#6398 Update Infoblox_dhcpdiscover.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpack.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpdiscover.txt
Labels: Parser

#6267 Update to use python 3.8
  Solutions/Check Point/CheckPointConnector/deployCP_proxy.json
  Solutions/Check Point/CheckPointConnector/deployCP_proxy_gov.json
Labels: Solution, python

#6224 provider text case updated
  Solutions/VirusTotal/Data/Solution_VirusTotal.json
  Solutions/VirusTotal/Package/2.0.0.zip
  Solutions/VirusTotal/Package/2.0.1.zip
  Solutions/VirusTotal/Package/mainTemplate.json
  Solutions/VirusTotal/SolutionMetadata.json
Labels: Solution

#6382 Atlassian Confluence Audit Solution 2.0.1
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/2.0.1.zip
  Solutions/AtlassianConfluenceAudit/Package/2.0.2.zip
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
Labels: Solution

#6412 Rectifying Migrated Content
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution

#6366 [DO NOT MERGE] Juniper SRX Parser Optimization
  Solutions/Juniper SRX/Data/Solution_Juniper SRX.json
  Solutions/Juniper SRX/Package/2.0.1.zip
  Solutions/Juniper SRX/Package/mainTemplate.json
  Solutions/Juniper SRX/Parsers/JuniperSRX.txt
Labels: Solution

#6386 DEV-0537DetectionandHunting package solution
  Solutions/DEV-0537DetectionandHunting/Data/Solution_DEV-0537 Detection and Hunting.json
  Solutions/DEV-0537DetectionandHunting/Package/2.0.0.zip
  Solutions/DEV-0537DetectionandHunting/Package/createUiDefinition.json
  Solutions/DEV-0537DetectionandHunting/Package/mainTemplate.json
Labels: Solution

#6415 Adding Skip Validations for Log4j
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/AzureDiagnostics/AzureWAFmatching_log4j_vuln.yaml
  Detections/MultipleDataSources/Log4J_IPIOC_Dec112021.yaml
  Detections/MultipleDataSources/UserAgentSearch_log4j.yaml
  Detections/SecurityNestedRecommendation/Log4jVulnerableMachines.yaml
Labels: Solution

#6391 Updated API version in watchlists to fix Azure Gov issue
  ASIM/deploy/Watchlists/ASimDisabledParsers.json
  ASIM/deploy/Watchlists/ASimSourceType.json
  Solutions/LastPass/Watchlists/HighlySensitivePasswords.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Contacts/SOCcontacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Departmental/SOCDepartmental.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Email-Distribution/SOCEmailDistribution.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-External-Contacts/SOCExternalContacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-General-IT/SOCgeneralIT.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Incident-Response-Planning/SOCIRP.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Internal-Contacts/SOCInternalContacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Maturity-Assessment/SOCMA.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Pager/SOCPager.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Recommended-Actions/SocRA.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Use-Cases/SOCUseCase.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Workstations/SOCworkstations.json
  Watchlists/Azure-Public-IPs/azuredeploy.json
  Watchlists/ListofTCPUDPPorts/azuredeploy.json
  Watchlists/NOBELIUM-TI/azuredeploy.json
  Watchlists/Templates/WatchlistTemplate.json
Labels: WatchList

#6403 repackage azure active directory
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.5.zip
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution

#6421 Updated appropriate id for Analytic Rules
  Solutions/Amazon Web Services/Analytic Rules/AWS_ClearStopChangeTrailLogs.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_LogTampering.yaml
  Solutions/Amazon Web Services/Package/2.0.1.zip
  Solutions/Amazon Web Services/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution

#6420 Update readme.md
  Playbooks/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/readme.md
Labels: Playbook

#6416 Updating Okta package to 2.0.1
  Solutions/Okta Single Sign-On/Data Connectors/Okta Single Sign-On/Connector_REST_API_FunctionApp_Okta.json
  Solutions/Okta Single Sign-On/Package/2.0.1.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution

#6410 Update Log4jVulnerableMachines.yaml file path with correct link
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Tools

#6322 Azure Firewall Repackaging
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Deny Rate for Source IP.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Port to Protocol.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Multiple Sources Affected by the Same TI Destination.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Scan.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Sweep.yaml
  Solutions/Azure Firewall/Data Connectors/AzureFirewall.JSON
  Solutions/Azure Firewall/Data/Solution_AzureFirewall.json
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First Time Source IP to Destination Using Port.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First time source IP to Destination.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Source IP Abnormally Connects to Multiple Destinations.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port for Organization.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port to IP.yaml
  Solutions/Azure Firewall/Package/2.0.1.zip
  Solutions/Azure Firewall/Package/createUiDefinition.json
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-AddIPtoTIAllowList/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-AddIPtoTIAllowList/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/readme.md
  Solutions/Azure Firewall/Playbooks/AzureFirewallConnector/readme.md
  Solutions/Azure Firewall/Playbooks/readme.md
  Solutions/Azure Firewall/SolutionMetadata.json
  Solutions/Azure Firewall/Workbooks/Azure Firewall Workbook - Deployment Template.json
Labels: Solution

#5411 Pester testing for detection rules
  Tools/validate-detections/LICENSE
  Tools/validate-detections/README.md
  Tools/validate-detections/action.ps1
  Tools/validate-detections/action.yml
  Tools/validate-detections/analytics.tests.ps1
  Tools/validate-detections/mitre.csv
  Tools/validate-detections/yaml-analytics.tests.ps1
Labels: Detection, Tools

#6427 Symantec Proxy SG solution 2.0.1
  Solutions/SymantecProxySG/Data Connectors/Connector_Syslog_SymantecProxySG.json
  Solutions/SymantecProxySG/Data/Solution_SymantecProxySG.json
  Solutions/SymantecProxySG/Package/2.0.1.zip
  Solutions/SymantecProxySG/Package/mainTemplate.json
Labels: Solution

#6428 Log4J Analytic rule updating to latest.
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/AzureWAFmatching_log4j_vuln.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4J_IPIOC_Dec112021.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4jVulnerableMachines.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/UserAgentSearch_log4j.yaml
Labels: Analytic Rules

#6434 Log4j Skip validation fix
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/AzureDiagnostics/AzureWAFmatching_log4j_vuln.yaml
  Detections/MultipleDataSources/Log4J_IPIOC_Dec112021.yaml
  Detections/MultipleDataSources/UserAgentSearch_log4j.yaml
  Detections/SecurityNestedRecommendation/Log4jVulnerableMachines.yaml
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Analytic Rules

#6444 Log4j Skip Validation
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/AzureDiagnostics/AzureWAFmatching_log4j_vuln.yaml
  Detections/MultipleDataSources/Log4J_IPIOC_Dec112021.yaml
  Detections/MultipleDataSources/UserAgentSearch_log4j.yaml
  Detections/SecurityNestedRecommendation/Log4jVulnerableMachines.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/AzureWAFmatching_log4j_vuln.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4J_IPIOC_Dec112021.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4jVulnerableMachines.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/UserAgentSearch_log4j.yaml
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Analytic Rules

#5308 Update Archive Log PS1 to work with Azure Government
  Tools/Archive-Log-Tool/ArchiveLogsTool-PowerShell/Configure-Long-Term-Retention.ps1
  Tools/Archive-Log-Tool/ArchiveLogsTool-PowerShell/Configure-Long-Term-Retention.zip
  Tools/Archive-Log-Tool/ArchiveLogsTool-PowerShell/README.MD
Labels: Tools

#6229 Apifirewall poc
  .script/tests/KqlvalidationsTests/CustomTables/42CrunchAPIProtection.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/42CrunchLogo.svg
  Sample Data/Custom/apifirewall_log_1_CL.json
  Solutions/42Crunch API Protection/Analytic Rules/APIAPIScaping.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIAccountTakeover.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIAnomalyDetection.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIBOLA.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIFirstTimeAccess.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIInvalidHostAccess.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIJWTValidation.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIKiterunnerDetection.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIPasswordCracking.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIRateLimiting.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APISuspiciousLogin.yaml
  Solutions/42Crunch API Protection/Data Connectors/42CrunchAPIProtection.json
  Solutions/42Crunch API Protection/Data Connectors/Logo/42CrunchLogo.svg
  Solutions/42Crunch API Protection/Data/Solution_42CrunchAPIProtection.json
  Solutions/42Crunch API Protection/Package/1.0.1.zip
  Solutions/42Crunch API Protection/Package/2.0.0.zip
  Solutions/42Crunch API Protection/Package/2.0.1.zip
  Solutions/42Crunch API Protection/Package/2.0.2.zip
  Solutions/42Crunch API Protection/Package/createUiDefinition.json
  Solutions/42Crunch API Protection/Package/mainTemplate.json
  Solutions/42Crunch API Protection/SolutionMetadata.json
  Solutions/42Crunch API Protection/Workbooks/42CrunchAPIProtectionWorkbook.json
  Solutions/42Crunch API Protection/Workbooks/Images/Logo/42CrunchLogo.svg
  Solutions/42Crunch API Protection/Workbooks/Images/Preview/42CrunchInstancesBlack.png
  Solutions/42Crunch API Protection/Workbooks/Images/Preview/42CrunchInstancesWhite.png
  Solutions/42Crunch API Protection/Workbooks/Images/Preview/42CrunchRequestsBlack.png
  Solutions/42Crunch API Protection/Workbooks/Images/Preview/42CrunchRequestsWhite.png
  Solutions/42Crunch API Protection/Workbooks/Images/Preview/42CrunchStatusBlack.png
  Solutions/42Crunch API Protection/Workbooks/Images/Preview/42CrunchStatusWhite.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_CiscoDuoSecurity.json
  Workbooks/Images/Logos/42CrunchLogo.svg
  Workbooks/Images/Preview/42CrunchInstancesBlack.png
  Workbooks/Images/Preview/42CrunchInstancesWhite.png
  Workbooks/Images/Preview/42CrunchRequestsBlack.png
  Workbooks/Images/Preview/42CrunchRequestsWhite.png
  Workbooks/Images/Preview/42CrunchStatusBlack.png
  Workbooks/Images/Preview/42CrunchStatusWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Workbook, Solution, Detection, Logo

#6437 Update azCliScript.sh
  Solutions/HoneyTokens/azCliScript.sh
Labels: Solution

#6452 Adding WorkbooksMetadata for JamfProtect
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6365 Cisco Duo Parser update and solution repackaging.
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Package/2.0.2.zip
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/Parsers/CiscoDuo.txt
Labels: Solution

#6459 Fixing publisherid and offerid
  Solutions/ARGOSCloudSecurity/Package/2.0.0.zip
  Solutions/ARGOSCloudSecurity/Package/mainTemplate.json
  Solutions/ARGOSCloudSecurity/SolutionMetadata.json
Labels: Solution

#5816 Added workbook for AI Vectra Stream solution
  Solutions/Vectra AI Stream/Workbooks/AIVectraStreamWorkbook.json
Labels: Workbook, Solution

#5825 update parser with new attributes and fixes for some prefixes issues
  Sample Data/VectraStream_CL.json
  Solutions/Vectra AI Stream/Parsers/VectraStream_function.kql
Labels: Parser

#6367 CheckPhish by Bolster templateSpec Solution
  Solutions/CheckPhish by Bolster/Data/Solution_CheckPhish.json
  Solutions/CheckPhish by Bolster/Package/2.0.0.zip
  Solutions/CheckPhish by Bolster/Package/createUiDefinition.json
  Solutions/CheckPhish by Bolster/Package/mainTemplate.json
  Solutions/CheckPhish by Bolster/Playbooks/CheckPhishPlaybooks/CheckPhsh-Get-URLScanResult/azuredeploy.json
  Solutions/CheckPhish by Bolster/SolutionMetadata.json
Labels: Solution

#6368 KQL validation tests- support ASIM\lib\functions
  .script/tests/KqlvalidationsTests/CollectionExtensions.cs
  .script/tests/KqlvalidationsTests/CustomTables/Watchlist.json
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/CommonFunctionsLoader.cs
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/TypesDatabase.cs
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.5.0.2.nupkg
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.5.1.0.nupkg
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.5.2.0.nupkg
  .script/tests/KqlvalidationsTests/YamlFilesTestData/CommonFunctionsYamlFilesLoader.cs
  .script/tests/KqlvalidationsTests/YamlFilesTestData/CommonFunctionsYamlFilesTestData.cs
  ASIM/lib/functions/ASIM_ResolveDnsQueryType.yaml
  ASIM/lib/functions/ASIM_ResolveDnsResponseCode.yaml
  ASIM/lib/functions/ASIM_ResolveDstFQDN.yaml
  ASIM/lib/functions/ASIM_ResolveDvcFQDN.yaml
  ASIM/lib/functions/ASIM_ResolveFQDN.yaml
  ASIM/lib/functions/ASIM_ResolveICMPType.yaml
  ASIM/lib/functions/ASIM_ResolveNetworkProtocol.yaml
  ASIM/lib/functions/ASIM_ResolveSrcFQDN.yaml
  Parsers/ASimProcessEvent/ARM/ASimProcessEventMicrosoft365D/ASimProcessEventMicrosoft365D.json
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
  Parsers/ASimProcessEvent/ARM/vimProcessEventMicrosoft365D/vimProcessEventMicrosoft365D.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventMicrosoft365D.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessEventMicrosoft365D.yaml
Labels: ASIM, Parser

#6468 Adding WorkbooksMetadata for VectraAIStream
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6473 Remove redundant space at ASimNetworkSessionNative
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionNative/ASimNetworkSessionNative.json
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionNative.yaml
Labels: ASIM, Parser

#6457 Package creation for DomainTools
  Solutions/DomainTools/Data/Solution_DomainTools.json
  Solutions/DomainTools/Package/1.0.0.zip
  Solutions/DomainTools/Package/createUiDefinition.json
  Solutions/DomainTools/Package/mainTemplate.json
  Solutions/DomainTools/Playbooks/FunctionApp/azuredeploy.json
  Solutions/DomainTools/SolutionMetadata.json
Labels: Solution

#6480 10 24 2022 as azure ad disable user
  Playbooks/AS-Azure-AD-Disable-User/Images/Azure_AD_Disable_User_Demo_1.png
  Playbooks/AS-Azure-AD-Disable-User/Images/Azure_AD_Disable_User_Deploy_1.png
  Playbooks/AS-Azure-AD-Disable-User/Images/Azure_AD_Disable_User_Deploy_2.png
  Playbooks/AS-Azure-AD-Disable-User/Images/Azure_AD_Disable_User_Deploy_3.png
  Playbooks/AS-Azure-AD-Disable-User/Images/Azure_AD_Disable_User_Deploy_4.png
  Playbooks/AS-Azure-AD-Disable-User/Images/Azure_AD_Disable_User_Deploy_5.png
  Playbooks/AS-Azure-AD-Disable-User/Images/Azure_AD_Disable_User_Deploy_6.png
  Playbooks/AS-Azure-AD-Disable-User/Images/Azure_AD_Disable_User_Deploy_7.png
  Playbooks/AS-Azure-AD-Disable-User/README.md
  Playbooks/AS-Azure-AD-Disable-User/azuredeploy.json
Labels: Playbook

#6481 10 24 2022 as azure ad group
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Demo_1.png
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Deploy_1.png
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Deploy_2.png
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Deploy_3.png
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Deploy_4.png
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Deploy_5.png
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Deploy_6.png
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Deploy_7.png
  Playbooks/AS-Azure-AD-Group/Images/Azure_AD_Group_Id.png
  Playbooks/AS-Azure-AD-Group/README.md
  Playbooks/AS-Azure-AD-Group/azuredeploy.json
Labels: Playbook

#6482 repackage Delinea Secret Server
  Solutions/Delinea Secret Server/Data/Solution_DelineaSecretServer.json
  Solutions/Delinea Secret Server/Package/2.0.1.zip
  Solutions/Delinea Secret Server/Package/createUiDefinition.json
  Solutions/Delinea Secret Server/Package/mainTemplate.json
  Solutions/Delinea Secret Server/SolutionMetadata.json
Labels: Solution

#6439 Sysmon parser all field fix
  Parsers/Sysmon/Sysmon-AllVersions_Parser.txt
Labels: Parser

#6411 Dimmand sentinel contributions
  Detections/AuditLogs/GuestAccountsAddedinAADGroupsOtherThanTheOnesSpecified.yaml
  Detections/AuditLogs/GuestsChangedUserTypetoMember.yaml
Labels: Detection

#6493 set lower case offer-id for Delinea secret server
  Solutions/Delinea Secret Server/Package/2.0.1.zip
  Solutions/Delinea Secret Server/Package/mainTemplate.json
  Solutions/Delinea Secret Server/SolutionMetadata.json
Labels: Solution

#6488 Re-packaged Vectra AI Stream solution
  Solutions/Vectra AI Stream/Data/Solution_Vectra.json
  Solutions/Vectra AI Stream/Package/2.0.1.zip
  Solutions/Vectra AI Stream/Package/createUiDefinition.json
  Solutions/Vectra AI Stream/Package/mainTemplate.json
Labels: Solution

#6333 1P CCP diagnostic based azure storage solution
  Solutions/Azure Storage Account/Data Connectors/AzureStorageAccount_CCP.JSON
Labels: Connector, Solution

#6494 Adding Workbooks back to Standalone folder
  Workbooks/AmazonWebServicesNetworkActivities.json
  Workbooks/AmazonWebServicesUserActivities.json
  Workbooks/EventAnalyzer.json
  Workbooks/ForcepointCASB.json
  Workbooks/ForcepointCloudSecuirtyGatewayworkbook.json
  Workbooks/IdentityAndAccess.json
  Workbooks/MicrosoftCloudAppSecurity.json
Labels: Workbook

#6495 Updated website run from package to use short link for Confluence Audit solution
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/azuredeploy_Connector_ConfluenceAuditAPI_AzureFunction.json
Labels: Solution

#5566 Tenable Playbooks
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-EnrichIncidentWithAssetsInfo/azuredeploy.json
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-EnrichIncidentWithAssetsInfo/playbook_screenshot.png
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-EnrichIncidentWithAssetsInfo/readme.md
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-EnrichIncidentWithVulnInfo/azuredeploy.json
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-EnrichIncidentWithVulnInfo/playbook_screenshot.png
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-EnrichIncidentWithVulnInfo/readme.md
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-LaunchScan/azuredeploy.json
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-LaunchScan/playbook_screenshot.png
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-LaunchScan/readme.md
  Solutions/TenableIO/Playbooks/TenablePlatformConnector/azuredeploy.json
  Solutions/TenableIO/Playbooks/TenablePlatformConnector/readme.md
  Solutions/TenableIO/Playbooks/TenableVulnerabilityManagementConnector/azuredeploy.json
  Solutions/TenableIO/Playbooks/TenableVulnerabilityManagementConnector/readme.md
  Solutions/TenableIO/Playbooks/azuredeploy.json
  Solutions/TenableIO/Playbooks/logo.png
  Solutions/TenableIO/Playbooks/readme.md
Labels: Playbook, Solution

#6503 fix text and updated version 2.0.2
  Solutions/Vectra AI Detect/Data Connectors/AIVectraDetect.json
  Solutions/Vectra AI Detect/Data/Solution_Vectra AI Detect.json
  Solutions/Vectra AI Detect/Package/2.0.2.zip
  Solutions/Vectra AI Detect/Package/mainTemplate.json
Labels: Solution

#6496 Standalone metadata updates for playbooks and workbooks
  Playbooks/Add-IP-Entity-To-Named-Location/azuredeploy.json
  Playbooks/Create-AzureDevOpsTask/alert-trigger/azuredeploy.json
  Playbooks/Create-AzureDevOpsTask/incident-trigger/azuredeploy.json
  Playbooks/Create-Zendesk-Ticket/azuredeploy.json
  Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/azuredeploy.json
  Workbooks/WorkbooksMetadata.json
Labels: Playbook, Workbook

#6453 Updated version for Infoblox Cloud Data Connector
  Solutions/Infoblox Cloud Data Connector/Package/2.0.7.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
Labels: Solution

#6516 V rucdu/insider risk management purview bug
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/2.0.3.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Playbooks/Notify_InsiderRiskTeam.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution

#6447 MDO Detection Details Report PowerBI template
  Tools/MDO Power BI Dashboard/MDO Detection Details Report v2.2.pbit
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI1.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI10.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI11.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI12.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI13.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI14.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI15.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI16.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI17.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI18.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI19.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI2.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI20.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI3.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI4.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI5.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI6.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI7.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI8.png
  Tools/MDO Power BI Dashboard/Media/MDOPowerBI9.png
  Tools/MDO Power BI Dashboard/Readme.md
Labels: Tools

#6508 Update checkThatTemplatesVersionWasChanged.sh
  .script/checkThatTemplatesVersionWasChanged.sh
Labels: Detection, Validation

#6515 Added "SAP" as valid ConnectorID
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
Labels: Validation

#6387 fixed broken McAfee link and improved wording
  Detections/readme.md
Labels: Detection
