Repository Azure/Azure-Sentinel, pull requests merged in 2022-04, with the labels that each got.

#4550 adding package folder in cisco umbrella
  Solutions/CiscoUmbrella/Package/1.0.5.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/Package/mainTemplate.json
Labels: Solution

#4523 Adding MDE solution with updated parsers and two hunting Queries
  Solutions/MicrosoftDefenderForEndpoint/Data/Solution_MicrosoftDefenderEndpoint.json
  Solutions/MicrosoftDefenderForEndpoint/Hunting Queries/MDE_Process-IOCs.yaml
  Solutions/MicrosoftDefenderForEndpoint/Hunting Queries/MDE_Usage.yaml
  Solutions/MicrosoftDefenderForEndpoint/Package/1.0.2.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/createUiDefinition.json
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/MicrosoftDefenderForEndpoint/Parsers/AssignedIPAddress.txt
  Solutions/MicrosoftDefenderForEndpoint/Parsers/Devicefromip.txt
  Solutions/MicrosoftDefenderForEndpoint/SolutionMetadata.json
Labels: Parser, Solution, Hunting

#4521 Updated Infoblox parser
  Solutions/Infoblox NIOS/Data Connectors/Connector_Syslog_Infoblox.json
  Solutions/Infoblox NIOS/Parser/InfobloxNIOS.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_all.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_allotherdhcpdTypes.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_allotherdnsTypes.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcp_consolidated.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpadded.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpbindupdate.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpdiscover.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpexpire.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpinform.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpoffer.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpoption.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpother.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcppack.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcprelease.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpremoved.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcprequest.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpsession.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dns_consolidated.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dnsclient.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dnsgss.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dnszone.txt
  Solutions/Infoblox NIOS/Workbooks/Infoblox-Workbook-V2.json
  Solutions/Infoblox NIOS/Workbooks/Watchlist/ComputerNames.csv
  Solutions/Infoblox NIOS/Workbooks/Watchlist/InfobloxDevices-watchlist.json
Labels: Connector, Parser, Workbook, Solution

#4535 Adding new solution of Security Threat Essential Solution
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_MultipleAdmin_membership_removals_from_NewAdmin.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_NRT_UseraddedtoPrivilgedGroups.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_TimeSeriesAnomaly-MultiVendor_DataExfiltration.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_TimeSeriesAnomaly_Mass_Cloud_Resource_Deletions.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_UserAssignedPrivilegedRole.yaml
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/AdminPrivilegeGrant.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/CreateAPIToken.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/ImpersonationSession.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/RareMFAOperation.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/Signins-from-NordVPN-Providers.yaml
  Solutions/SecurityThreatEssentialSolution/Package/1.0.0.zip
  Solutions/SecurityThreatEssentialSolution/Package/createUiDefinition.json
  Solutions/SecurityThreatEssentialSolution/Package/mainTemplate.json
  Solutions/SecurityThreatEssentialSolution/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_CybersecurityMaturityModelCertification(CMMC)2.0.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_SecurityThreatEssentialSolution.json
Labels: Solution, Detection, Hunting

#4524 support in custom log scenario
  DataConnectors/AWS-S3/ConfigAwsConnector.ps1
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/ConfigCustomLogDataConnector.ps1
  DataConnectors/AWS-S3/Utils/AwsResourceCreator.ps1
  DataConnectors/AWS-S3/Utils/CommonAwsPolicies.ps1
  DataConnectors/AWS-S3/Utils/HelperFunctions.ps1
Labels: Connector

#4182 Update readme.md
  Playbooks/Get-SOCActions/readme.md
Labels: Playbook

#4526 Archiving, Basic Logs, Retention Workbook
  Workbooks/ArchivingBasicLogsRetention.json
  Workbooks/Images/Logos/ArchivingBasicLogsRetention.svg
  Workbooks/Images/Preview/ArchivingBasicLogsRetentionBlack1.png
  Workbooks/Images/Preview/ArchivingBasicLogsRetentionWhite1.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4566 Update ASIM brute force to set reporting sources as a custom field.
  Detections/ASimAuthentication/imAuthBruteForce.yaml
Labels: ASIM

#4320 Feature/noamlandress/add cefama validation script
  DataConnectors/CEF/cef_AMA_troubleshoot.py
Labels: dataconnector-cri

#4564 Security Threat Essential Solution removed hunting queries and update…
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/AdminPrivilegeGrant.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/CreateAPIToken.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/ImpersonationSession.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/RareMFAOperation.yaml
  Solutions/SecurityThreatEssentialSolution/Package/1.0.0.zip
  Solutions/SecurityThreatEssentialSolution/Package/createUiDefinition.json
  Solutions/SecurityThreatEssentialSolution/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_SecurityThreatEssentialSolution.json
Labels: Solution

#4567 Infoblox workbook updated
  Solutions/Infoblox NIOS/Workbooks/Infoblox-Workbook-V2.json
Labels: Workbook, Solution

#4139 User Map v1.4
  Workbooks/Images/Preview/UserMapBlack.png
  Workbooks/Images/Preview/UserMapWhite.png
  Workbooks/UserMap.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4534 Okta Solution 1.0.1
  Solutions/Okta Single Sign-On/Package/1.0.1.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
Labels: Solution

#4578 Queries related to CVE-2022-22965 SpringShell
  .script/tests/KqlvalidationsTests/CustomTables/DeviceInfo.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Detections/SecurityAlert/AVSpringShell.yaml
  Hunting Queries/AzureDiagnostics/SpringShellExploitationAttempt.yaml
  Hunting Queries/AzureDiagnostics/SpringshellWebshellUsage.yaml
Labels: Hunting

#4571 Update to CrowdStrike Replicator Parser
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdstrikeReplicator
Labels: Parser

#4580 Infoblox NIOS package update and moving analytic rules.
  Solutions/Infoblox NIOS/Analytic Rules/ExcessiveNXDOMAINDNSQueries.yaml
  Solutions/Infoblox NIOS/Analytic Rules/PotentialDHCPStarvationAttack.yaml
  Solutions/Infoblox NIOS/Data/Solution_InfobloxNIOS.json
  Solutions/Infoblox NIOS/Package/1.0.0.zip
  Solutions/Infoblox NIOS/Package/createUiDefinition.json
  Solutions/Infoblox NIOS/Package/mainTemplate.json
  Solutions/Infoblox NIOS/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_InfobloxNIOS.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_SecurityThreatEssentialSolution.json
Labels: Solution, Detection

#4410 Nwbeacon improvements and regex replacement with ipv4_is_private
  Detections/CommonSecurityLog/Fortinet-NetworkBeaconPattern.yaml
  Detections/CommonSecurityLog/PaloAlto-NetworkBeaconing.yaml
  Detections/MultipleDataSources/SigninFirewallCorrelation.yaml
  Detections/MultipleDataSources/TimeSeriesAnomaly-MultiVendor_DataExfiltration.yaml
  Detections/Syslog/ssh_NewlyInternetExposed.yaml
  Hunting Queries/MultipleDataSources/NetworkConnectionldap_log4j.yaml
  Hunting Queries/MultipleDataSources/RareDNSLookupWithDataTransfer.yaml
  Hunting Queries/W3CIISLog/Potential_IIS_CodeInject.yaml
  Hunting Queries/WireData/WireDataBeacon.yaml
Labels: Detection, Hunting

#4579 Add option to enable guardduty for many regions
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/ConfigGuardDutyDataConnector.ps1
Labels: Connector

#4601 Kickstart and update script updates
  Solutions/SAP/sapcon-instance-update.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: Solution

#4597 Updates Observed During CMMC2.0 Solution Testing
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Analytic Rules/CMMC2.0Level1FoundationalPosture.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Analytic Rules/CMMC2.0Level2AdvancedPosture.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)White1.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)Workbook2.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/readme.md
Labels: Workbook, Solution

#4594 Create SECURITY.md
  SECURITY.md
Labels: New

#4595 Add Kql validation tests for normalization parsers functions
  .script/tests/KqlvalidationsTests/CustomTables/ASimDnsActivityLogs.json
  .script/tests/KqlvalidationsTests/CustomTables/AWSVPCFlow.json
  .script/tests/KqlvalidationsTests/CustomTables/AzureNetworkAnalytics_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Corelight_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GCP_DNS_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NXLog_DNS_Server_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SquidProxy_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/VectraStream_CL.json
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/ParsersCustomJsonDirectoryFunctionsLoader.cs
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/ParsersDatabase.cs
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.4.0.0.nupkg
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.5.0.1.nupkg
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/KqlvalidationsTests/YamlFilesTestData/ParsersYamlFilesLoader.cs
  .script/tests/KqlvalidationsTests/YamlFilesTestData/ParsersYamlFilesTestData.cs
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftMD4IoT.yaml
Labels: New

#4590 changing offer id for Security threat essentials and Microsoft defender
  Solutions/MicrosoftDefenderForEndpoint/SolutionMetadata.json
  Solutions/SecurityThreatEssentialSolution/SolutionMetadata.json
Labels: Solution

#4605 Updating Dynamic Threat Modeling Workbook and Readme
  Solutions/ThreatAnalysis&Response/Workbooks/DynamicThreatModeling&Response.json
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseBlack.png
  Solutions/ThreatAnalysis&Response/readme.md
Labels: Workbook, Solution

#4587 Updated default name from Isolate-MDEMachine to Unisolate-MDEMachine
  Playbooks/Unisolate-MDEMachine/incident-trigger/azuredeploy.json
Labels: Playbook

#4604 Detecting suspicious sign-in with workspace deletion attempt
  Detections/SecurityAlert/Suspicious_WorkSpaceDeletion_Attempt.yaml
Labels: Detection

#4515 CiscoWSA analytic rules update
  .script/tests/KqlvalidationsTests/CustomTables/CiscoWSAEvent.json
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAAccessToUnwantedSite.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSADataExfiltration.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleInfectedFiles.yaml
Labels: Solution, Detection

#4616 CyberArk package update 1.0.0
  Solutions/CyberArkEPM/Package/1.0.0.zip
  Solutions/CyberArkEPM/Package/createUiDefinition.json
  Solutions/CyberArkEPM/Package/mainTemplate.json
  Solutions/CyberArkEPM/SolutionMetadata.json
  Solutions/CyberArkEPM/data/Solution_CyberArkEPM.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_CyberArkEPM.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_InfobloxNIOS.json
Labels: Solution

#4189 Remove unnecessary summarize in SigninPasswordSpray.yaml
  Detections/SigninLogs/SigninPasswordSpray.yaml
Labels: Detection

#4196 Created web content filtering events query
  Hunting Queries/Microsoft 365 Defender/General queries/Web Content Filtering Events.yml
Labels: Hunting

#4294 Add modified StrongAuthenticationMethod events to AuthenticationMethodsChangedforPrivilegedAccount.yaml
  Detections/MultipleDataSources/AuthenticationMethodsChangedforPrivilegedAccount.yaml
Labels: Detection

#4620 Queries related to Tarrask malware related blog post.
  Detections/MultipleDataSources/TarraskHashIoC.yaml
  Detections/SecurityAlert/AVTarrask.yaml
  Detections/SecurityEvent/ScheduleTaskHide.yaml
  Sample Data/Feeds/Tarrask.csv
Labels: Detection

#4453 Create RegistryPersistenceViaAppInt_DLLsModification.yaml
  Detections/SecurityEvent/RegistryPersistenceViaAppInt_DLLsModification.yaml
Labels: Detection

#4391 Add FalconFriday 0xFF15 - 0xFF1B
  Solutions/FalconFriday/Analytic Rules/ASRBypassingWritingExecutableContent.yaml
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-TGTs-requested.yaml
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-backup-key-1.yaml
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-backup-key-2.yaml
  Solutions/FalconFriday/Analytic Rules/ExcessiveSharePermissions.yaml
  Solutions/FalconFriday/Analytic Rules/OracleSuspiciousCommandExecution.yaml
  Solutions/FalconFriday/Analytic Rules/SuspiciousNamedPipes.yaml
  Solutions/FalconFriday/Analytic Rules/UACBypass-1-elevated-COM.yaml
  Solutions/FalconFriday/Analytic Rules/UACBypass-2-modify-ms-store.yaml
  Solutions/FalconFriday/Analytic Rules/UACBypass-3-changePK-SLUI-tampering.yaml
  Solutions/FalconFriday/Data/Solution_FalconFriday.json
Labels: Solution, Detection

#3869 Playbook, Workbook & Analytic Rule for the Armorblox Sentinel integration
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Sample Data/Custom/Armorblox_CL.json
  Solutions/Armorblox/Analytic Rules/ArmorbloxNeedsReviewAlert.yaml
  Solutions/Armorblox/Playbooks/README.md
  Solutions/Armorblox/Playbooks/azuredeploy.json
  Solutions/Armorblox/Playbooks/images/Playbook_Send-email-alert.png
  Solutions/Armorblox/Workbooks/ArmorbloxOverview.json
  Solutions/Armorblox/Workbooks/images/preview/ArmorbloxOverviewBlack01.png
  Solutions/Armorblox/Workbooks/images/preview/ArmorbloxOverviewBlack02.png
  Solutions/Armorblox/Workbooks/images/preview/ArmorbloxOverviewWhite01.png
  Solutions/Armorblox/Workbooks/images/preview/ArmorbloxOverviewWhite02.png
Labels: Playbook, Workbook, Solution, Detection

#4565 Update ExplicitMFADeny detection
  Detections/SigninLogs/ExplicitMFADeny.yaml
Labels: Detection

#4546 Created NRT_Creation_of_Expensive_Computes_in_Azure.yaml
  Detections/AzureActivity/NRT_Creation_of_Expensive_Computes_in_Azure.yaml
Labels: Detection

#4552 Improve SigninBruteForce-AzurePortal.yaml
  Detections/SigninLogs/SigninBruteForce-AzurePortal.yaml
Labels: Detection

#4517 NGINX HTTP server analytic rules update
  Solutions/NGINX/Analytic Rules/NGINXCommandsInRequest.yaml
  Solutions/NGINX/Analytic Rules/NGINXCoreDump.yaml
  Solutions/NGINX/Analytic Rules/NGINXKnownMaliciousUserAgent.yaml
  Solutions/NGINX/Analytic Rules/NGINXSqlPattern.yaml
Labels: Solution, Detection

#4547 commit
  Sample Data/CEF/Fortigate.json
  Sample Data/CEF/ZScaler.json
  Sample Data/CEF/ZScaler.json.bak
  Sample Data/SecurityEvent/RiskIQ_scenrio.json
  Sample Data/SecurityEvent/RiskIQ_scenrio.json.bak
Labels: Sample Data

#4615 Symantec Endpoint parser update.
  Parsers/SymantecEndpointProtection/SymantecEndpointProtection.txt
Labels: Parser

#4614 Cisco Meraki parser update.
  Solutions/CiscoMeraki/Parsers/CiscoMeraki.txt
Labels: Parser

#4636 Cisco meraki package 1.0.7
  Solutions/CiscoMeraki/Package/1.0.7.zip
  Solutions/CiscoMeraki/Package/createUiDefinition.json
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_CiscoMeraki.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_CiscoWSA.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_CyberArkEPM.json
Labels: Solution

#4641 Issue 3153 - Playbooks template "AdvancedSNOWTeamsIntegration" bug fix
  Playbooks/Advanced-SNOW-Teams-Integration/azuredeploy.json
Labels: Playbook

#4639 NIST SP 800-53 Public Preview
  Solutions/NISTSP80053/Analytic Rules/NISTSP80053PostureChanged.yaml
  Solutions/NISTSP80053/Workbooks/Images/NISTSP80053Black.png
  Solutions/NISTSP80053/Workbooks/Images/NISTSP80053White.png
  Solutions/NISTSP80053/Workbooks/NISTSP80053.json
  Solutions/NISTSP80053/readme.md
Labels: Workbook, Solution, Detection

#4621 asim/update-cef-parsers
  Parsers/ASimDns/Parsers/ASimDnsZscalerZIA.yaml
  Parsers/ASimDns/Parsers/vimDnsZscalerZIA.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionPaloAltoCEF.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionzScalerZIA.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionPaloAltoCEF.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionzScalerZIA.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionzScalerZIA.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionzScalerZIA.yaml
Labels: ASIM

#4606 Adding ASimMatchingIpAddr column
  Parsers/ASimNetworkSession/ARM/README.md
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionAWSVPC/vimNetworkSessionAWSVPC.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionAzureFirewall/vimNetworkSessionAzureFirewall.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionAzureNSG/vimNetworkSessionAzureNSG.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoft365Defender/vimNetworkSessionMicrosoft365Defender.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftLinuxSysmon/vimNetworkSessionMicrosoftLinuxSysmon.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftMD4IoT/vimNetworkSessionMicrosoftMD4IoT.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftWindowsEventFirewall/vimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionPaloAltoCEF/vimNetworkSessionPaloAltoCEF.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionVMConnection/vimNetworkSessionVMConnection.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionzScalerZIA/vimNetworkSessionzScalerZIA.json
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAWSVPC.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAzureFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAzureNSG.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoft365Defender.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftLinuxSysmon.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftMD4IoT.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionPaloAltoCEF.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionVMConnection.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionzScalerZIA.yaml
Labels: ASIM

#4649 Asim/fix auth filters
  Parsers/ASimAuthentication/ARM/vimAuthenticationEmpty/vimAuthenticationEmpty.json
  Parsers/ASimAuthentication/AuthenticationEmpty.yaml
  Parsers/ASimAuthentication/FullDeploymentAuthentication.json
Labels: ASIM

#4642 Inflobox NIOS Parser Bugfix
  Solutions/Infoblox NIOS/Parser/InfobloxNIOS.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_allotherdhcpdTypes.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_allotherdnsTypes.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpadded.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpbindupdate.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpdiscover.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpexpire.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpinform.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpoffer.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpoption.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpother.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcppack.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcprelease.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpremoved.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcprequest.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dhcpsession.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dnsclient.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dnsgss.txt
  Solutions/Infoblox NIOS/Parser/Infoblox_dnszone.txt
Labels: Parser, Solution

#4640 ThreatIntelWorkbook Update
  Workbooks/Images/Preview/ThreatIntelligenceBlack.png
  Workbooks/Images/Preview/ThreatIntelligenceWhite.png
  Workbooks/ThreatIntelligence.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4623 Created a new workbook for MDE Advance Hunting
  Workbooks/Images/Preview/microsoftdefenderforendpointblack.png
  Workbooks/Images/Preview/microsoftdefenderforendpointwhite.png
  Workbooks/MicrosoftDefenderForEndPoint.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4630 Solution Updates for CMMC2 & ThreatAnalysis&Response
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/1.0.2.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/1.0.3.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/createUiDefinition.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/mainTemplate.json
  Solutions/ThreatAnalysis&Response/Package/1.0.13.zip
  Solutions/ThreatAnalysis&Response/Package/createUiDefinition.json
  Solutions/ThreatAnalysis&Response/Package/mainTemplate.json
  Solutions/ThreatAnalysis&Response/data/Solution_ThreatAnalysis&Response.json
Labels: Solution

#4653 Adding Forcepoint NGFW Advanced Workbook
  Workbooks/ForcepointNGFWAdvanced.json
  Workbooks/Images/Logos/FPAdvLogo.svg
  Workbooks/Images/Preview/ForcepointNGFWAdvancedBlack.png
  Workbooks/Images/Preview/ForcepointNGFWAdvancedWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4670 Archiving basic logs retention workbook updates
  Workbooks/ArchivingBasicLogsRetention.json
  Workbooks/Images/Preview/ArchivingBasicLogsRetentionBlack1.png
  Workbooks/Images/Preview/ArchivingBasicLogsRetentionWhite1.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4644 NISTSP80053 package 1.0.1
  Solutions/NISTSP80053/Package/1.0.1.zip
  Solutions/NISTSP80053/Package/createUiDefinition.json
  Solutions/NISTSP80053/Package/mainTemplate.json
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_CiscoMeraki.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_NISTSP80053.json
Labels: Solution

#4592 Updating workbook AKS for one ICM
  Workbooks/AksSecurity.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4683 fixed typo
  DataConnectors/CEF-VMSS/README.md
Labels: Connector

#4632 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: Config issue

#4637 Created detect-uac-elevation query
  Hunting Queries/Microsoft 365 Defender/Execution/detect-uac-elevation.yml
Labels: Hunting

#3511 add tomcat content
  .script/tests/KqlvalidationsTests/CustomTables/TomcatEvent.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Tomcat/Analytic Rules/TomcatCommandsinRequest.yaml
  Solutions/Tomcat/Analytic Rules/TomcatKnownMaliciousUserAgent.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleClientErrorsFromSingleIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleEmptyRequestsFromSameIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleServerErrorsFromSingleIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatPutAndGetFileFromSameIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatRequestFromLocalhostIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatRequestSensitiveFiles.yaml
  Solutions/Tomcat/Analytic Rules/TomcatSQLiPattern.yaml
  Solutions/Tomcat/Analytic Rules/TomcatServerErrorsAfterMultipleRequestsFromSameIP.yaml
  Solutions/Tomcat/Hunting Queries/Tomcat403RequestsFiles.yaml
  Solutions/Tomcat/Hunting Queries/TomcatAbnormalRequestSize.yaml
  Solutions/Tomcat/Hunting Queries/TomcatERRORs.yaml
  Solutions/Tomcat/Hunting Queries/TomcatRareFilesRequested.yaml
  Solutions/Tomcat/Hunting Queries/TomcatRareURLsRequested.yaml
  Solutions/Tomcat/Hunting Queries/TomcatTopFilesWithErrorRequests.yaml
  Solutions/Tomcat/Hunting Queries/TomcatTopURLsClientErrors.yaml
  Solutions/Tomcat/Hunting Queries/TomcatTopURLsServerErrors.yaml
  Solutions/Tomcat/Hunting Queries/TomcatUncommonUAs.yaml
  Solutions/Tomcat/Hunting Queries/TomcatUncommonUAsWithClientErrors.yaml
  Solutions/Tomcat/Hunting Queries/TomcatUncommonUAsWithServerErrors.yaml
  Solutions/Tomcat/Workbooks/Images/TomcatBlack.png
  Solutions/Tomcat/Workbooks/Images/TomcatWhite.png
  Solutions/Tomcat/Workbooks/Tomcat.json
Labels: Workbook, Solution, Detection, Hunting

#4635 Kyle yuasa/officeactivity query tuning
  Hunting Queries/OfficeActivity/new_sharepoint_downloads_by_IP.yaml
  Hunting Queries/OfficeActivity/new_sharepoint_downloads_by_UserAgent.yaml
Labels: Hunting

#4689 Ignore expired token due to signin frequency expired
  Detections/SigninLogs/FailedLogonToAzurePortal.yaml
Labels: Detection

#4190 Create print-pooler-service-suspicious-file-creation.yaml
  Hunting Queries/Microsoft 365 Defender/Exploits/print-pooler-service-suspicious-file-creation.yaml
Labels: Waiting on poster, Hunting

#4545 Created NRT_PrivlegedRoleAssignedOutsidePIM.yaml
  Detections/AuditLogs/NRT_PrivlegedRoleAssignedOutsidePIM.yaml
Labels: Detection

#4684 Palo Alto Threat signatures from Unusual IP addresses - Fusion scenario rule
  Detections/CommonSecurityLog/PaloAlto-UnusualThreatSignatures.yaml
Labels: Detection

#4525 Possible fix for the issue #4516
  Detections/SecurityEvent/CredentialDumpingServiceInstallation.yaml
  Detections/SecurityEvent/CredentialDumpingToolsFileArtifacts.yaml
Labels: Detection

#4409 Fix RuleName field in Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Detections/OfficeActivity/Mail_redirect_via_ExO_transport_rule.yaml
  Hunting Queries/OfficeActivity/Mail_redirect_via_ExO_transport_rule_hunting.yaml
Labels: Hunting

#3934 Fix some Domain Entities not being checked in DomainEntity_SecurityAlert.yaml
  Detections/ThreatIntelligenceIndicator/DomainEntity_SecurityAlert.yaml
Labels: Detection

#4693 Cisco Duo rules severity update
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoAdminMFAFailures.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoMultipleUserLoginFailures.yaml
Labels: Solution, Detection

#3621 Gitlab
  .script/tests/KqlvalidationsTests/CustomTables/GitLabAccess.json
  .script/tests/KqlvalidationsTests/CustomTables/GitLabApp.json
  .script/tests/KqlvalidationsTests/CustomTables/GitLabAudit.json
  Sample Data/Syslog/GitLabAudit.json
  Solutions/GitLab/Analytic Rules/GitLab_BruteForce.yaml
  Solutions/GitLab/Analytic Rules/GitLab_ExternalUser.yaml
  Solutions/GitLab/Analytic Rules/GitLab_Impersonation.yaml
  Solutions/GitLab/Analytic Rules/GitLab_LocalAuthNoMFA.yaml
  Solutions/GitLab/Analytic Rules/GitLab_MaliciousIP.yaml
  Solutions/GitLab/Analytic Rules/GitLab_PAT_Repo.yaml
  Solutions/GitLab/Analytic Rules/GitLab_RepoVisibilityChange.yaml
  Solutions/GitLab/Analytic Rules/GitLab_Repo_Deletion.yaml
  Solutions/GitLab/Analytic Rules/GitLab_SignInBurst.yaml
  Solutions/GitLab/Data Connectors/Connector_Syslog_GitLab.json
  Solutions/GitLab/Parsers/GitLabAccess
  Solutions/GitLab/Parsers/GitLabApp
  Solutions/GitLab/Parsers/GitLabAudit
  Solutions/GitLab/SolutionMetadata.json
Labels: Waiting on poster, Parser, Detection

#4233 Fix QueryFrequency in AnomalousIPUsageFollowedByTeamsAction.yaml
  Detections/MultipleDataSources/AnomalousIPUsageFollowedByTeamsAction.yaml
Labels: Detection

#4692 SentinelOne analytic content update
  Solutions/SentinelOne/Analytic Rules/SentinelOneAdminLoginNewIP.yaml
  Solutions/SentinelOne/Analytic Rules/SentinelOneAgentUninstalled.yaml
  Solutions/SentinelOne/Analytic Rules/SentinelOneAlertFromCustomRule.yaml
  Solutions/SentinelOne/Analytic Rules/SentinelOneMultipleAlertsOnHost.yaml
  Solutions/SentinelOne/Analytic Rules/SentinelOneSameCustomRuleHitOnDiffHosts.yaml
  Solutions/SentinelOne/Hunting Queries/SentinelOneAgentNotUpdated.yaml
  Solutions/SentinelOne/Hunting Queries/SentinelOneHostNotScanned.yaml
  Solutions/SentinelOne/Hunting Queries/SentinelOneRulesDeleted.yaml
  Solutions/SentinelOne/Hunting Queries/SentinelOneUninstalledAgents.yaml
Labels: Solution, Detection, Hunting

#4618 CyberARK EPM analytic content
  .script/tests/KqlvalidationsTests/CustomTables/CyberArkEPM.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMAttackAttemptNotBlocked.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMMSBuildLOLBin.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMMultipleAttackAttempts.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMNewProcessStartetFromSystem.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMPossibleExecutionOfPowershellEmpire.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMProcessChangedStartLocation.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMRareProcInternetAccess.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMRenamedWindowsBinary.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMUnexpectedExecutableExtension.yaml
  Solutions/CyberArkEPM/Analytic Rules/CyberArkEPMUnexpectedExecutableLocation.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMElevationRequests.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMPowershellDownloads.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMPowershellExecutionParameters.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMProcessNewHash.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMProcessesAccessedInternet.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMProcessesRunAsAdmin.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMRareProcVendors.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMRareProcessesRunByUsers.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMScriptsExecuted.yaml
  Solutions/CyberArkEPM/Hunting Queries/CyberArkEPMSuspiciousActivityAttempts.yaml
  Solutions/CyberArkEPM/Workbooks/CyberArkEPM.json
  Solutions/CyberArkEPM/Workbooks/Images/CyberArkEPMBlack.png
  Solutions/CyberArkEPM/Workbooks/Images/CyberArkEPMWhite.png
Labels: Workbook, Solution, Detection, Hunting

#4719 ENH: clearer instruction
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-5-Hunting.md
Labels: Solution

#4720 Process Create SecurityEvent
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSecurityEvents/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSecurityEvents/vimProcessCreateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSecurityEvents.yaml
Labels: ASIM

#4718 Filtering ProcessCreate Linux Sysmon
  Parsers/ASimProcessEvent/ARM/vimProcessCreateLinuxSysmon/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateLinuxSysmon/vimProcessCreateLinuxSysmon.json
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateLinuxSysmon.yaml
Labels: ASIM

#4667 Nginx package update
  Solutions/NGINX/Package/1.0.4.zip
  Solutions/NGINX/Package/createUiDefinition.json
  Solutions/NGINX/Package/mainTemplate.json
Labels: Solution

#4588 04042022 as slack integration
  Playbooks/AS-Slack-Integration/Images/Nav_1.png
  Playbooks/AS-Slack-Integration/Images/Nav_2.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_1.5.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_1.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_2.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_3.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_4.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_5.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_6.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_7.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_8.png
  Playbooks/AS-Slack-Integration/Images/Slack_App_9.png
  Playbooks/AS-Slack-Integration/Images/Slack_Demo.png
  Playbooks/AS-Slack-Integration/Images/Slack_Deploy_1.png
  Playbooks/AS-Slack-Integration/Images/Slack_Deploy_2.png
  Playbooks/AS-Slack-Integration/Images/Slack_Deploy_3.png
  Playbooks/AS-Slack-Integration/Images/Slack_Deploy_4.png
  Playbooks/AS-Slack-Integration/Images/Slack_Deploy_5.png
  Playbooks/AS-Slack-Integration/Images/Slack_Deploy_6.png
  Playbooks/AS-Slack-Integration/Images/Slack_Deploy_7.png
  Playbooks/AS-Slack-Integration/README.md
  Playbooks/AS-Slack-Integration/azuredeploy.json
Labels: Playbook

#4596 Update readme.md
  docs/New Playbooks Contribution Guide/readme.md
Labels: Playbook

#4687 04202022 as pager duty integration
  Playbooks/AS-PagerDuty-Integration/Images/Nav_1.png
  Playbooks/AS-PagerDuty-Integration/Images/Nav_2.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Create_Integration_Key_1.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Create_Integration_Key_2.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Create_Integration_Key_3.5.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Create_Integration_Key_3.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Create_Integration_Key_4.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Create_Integration_Key_5.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Demo.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Deploy_1.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Deploy_2.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Deploy_3.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Deploy_4.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Deploy_5.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Deploy_6.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Deploy_7.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Deploy_8.png
  Playbooks/AS-PagerDuty-Integration/Images/PagerDuty_Run_1.png
  Playbooks/AS-PagerDuty-Integration/README.md
  Playbooks/AS-PagerDuty-Integration/azuredeploy.json
Labels: Playbook

#4734 Filtering paramsL MSWin Process create
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftWindowsEvents/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftWindowsEvents/vimProcessCreateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftWindowsEvents.yaml
Labels: ASIM

#4745 Revert role assignment addition to Run-MDEAntivirus playbook
  Playbooks/Run-MDEAntivirus/incident-trigger/azuredeploy.json
Labels: Playbook

#4747 Fix typo in Reset-AADUserPassword playbook title
  Playbooks/Reset-AADUserPassword/incident-trigger/azuredeploy.json
Labels: Playbook

#4463 Merge SOC-Process-Framework Content to Master
  Solutions/SOC-Process-Framework/Playbooks/Get-SOCActions/azuredeploy.json
  Solutions/SOC-Process-Framework/Playbooks/readme.md
  Solutions/SOC-Process-Framework/README.md
  Solutions/SOC-Process-Framework/SOCProcessFrameworkSolutionLanding.png
  Solutions/SOC-Process-Framework/Watchlists/SOC-Contacts/SOCcontacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Departmental/SOCDepartmental.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Email-Distribution/SOCEmailDistribution.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-External-Contacts/SOCExternalContacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-General-IT/SOCgeneralIT.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Incident-Response-Planning/SOCIRP.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Internal-Contacts/SOCInternalContacts.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Maturity-Assessment/SOCMA.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Pager/SOCPager.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Recommended-Actions/SocRA.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Use-Cases/SOCUseCase.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Workstations/SOCworkstations.json
  Solutions/SOC-Process-Framework/Workbooks/Building_a_SOCLargeStaff.json
  Solutions/SOC-Process-Framework/Workbooks/Building_a_SOCMediumStaff.json
  Solutions/SOC-Process-Framework/Workbooks/Building_a_SOCPartTimeStaff.json
  Solutions/SOC-Process-Framework/Workbooks/Building_a_SOCSmallStaff.json
  Solutions/SOC-Process-Framework/Workbooks/Images/AZSentinelProcessHierarchySOC.png
  Solutions/SOC-Process-Framework/Workbooks/Images/Assess_and_Contain.png
  Solutions/SOC-Process-Framework/Workbooks/Images/DocumentationCreateUpdateProcess.png
  Solutions/SOC-Process-Framework/Workbooks/Images/EmailExample.png
  Solutions/SOC-Process-Framework/Workbooks/Images/ExampleShiftLogEntry.png
  Solutions/SOC-Process-Framework/Workbooks/Images/FullTimeStaff_largeteam.png
  Solutions/SOC-Process-Framework/Workbooks/Images/FullTimeStaff_mediumteam.png
  Solutions/SOC-Process-Framework/Workbooks/Images/FullTimeStaff_smallteam.png
  Solutions/SOC-Process-Framework/Workbooks/Images/Incident Response Framework SOC - vs 1.1.jpg
  Solutions/SOC-Process-Framework/Workbooks/Images/Incident Response Framework SOC - vs 1.1.png
  Solutions/SOC-Process-Framework/Workbooks/Images/IncidentTraigeWorkflow.png
  Solutions/SOC-Process-Framework/Workbooks/Images/Mobilize.png
  Solutions/SOC-Process-Framework/Workbooks/Images/OneNoteAnalystPage.png
  Solutions/SOC-Process-Framework/Workbooks/Images/PartTimeStaff.png
  Solutions/SOC-Process-Framework/Workbooks/Images/PostMortem.png
  Solutions/SOC-Process-Framework/Workbooks/Images/Procedure Flow - SOC in a BOX.png
  Solutions/SOC-Process-Framework/Workbooks/Images/RaMP.png
  Solutions/SOC-Process-Framework/Workbooks/Images/RemediateRecover.png
  Solutions/SOC-Process-Framework/Workbooks/Images/SOCGrowthPath.png
  Solutions/SOC-Process-Framework/Workbooks/Images/SOCTeamSport.png
  Solutions/SOC-Process-Framework/Workbooks/Images/Sentinel.png
  Solutions/SOC-Process-Framework/Workbooks/Images/Watch_and_Monitor.png
  Solutions/SOC-Process-Framework/Workbooks/SOCIRPlanning.json
  Solutions/SOC-Process-Framework/Workbooks/SOCProcessFramework.json
  Solutions/SOC-Process-Framework/Workbooks/UpdateSOCMaturityScore.json
  docs/FullTimeStaff_largeteam.png
  docs/FullTimeStaff_mediumteam.png
  docs/FullTimeStaff_smallteam.png
  docs/PartTimeStaff.png
  docs/RaMP.png
  docs/SOCGrowthPath.png
  docs/SOCTeamSport.png
Labels: Waiting on poster, Playbook, Workbook

#4744 Add filter parameters to Proc Term MS Sysmon parser
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftSysmon/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftSysmon/vimProcessTerminateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftSysmon.yaml
Labels: ASIM

#4743 Add filter params to Process Terminate MS Sec Event
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftSecurityEvents/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftSecurityEvents/vimProcessTerminateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftSecurityEvents.yaml
Labels: ASIM

#4730 Create MS sysmon filtering parser
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSysmon/ASimProcessCreateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSysmon/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSysmon/vimProcessCreateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSysmon.yaml
Labels: ASIM

#4749 Add filtering params to M365D process create parser
  Parsers/ASimProcessEvent/ARM/vimProcessEventMicrosoft365D/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessEventMicrosoft365D/vimProcessEventMicrosoft365D.json
  Parsers/ASimProcessEvent/Parsers/vimProcessEventMicrosoft365D.yaml
Labels: ASIM

#4438 Add XML API Connector, and two playbooks to the demo the API. Playboo…
  Playbooks/PaloAlto-PAN-OS/PaloAltoCustomConnector/azuredeploy.json
  Playbooks/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/azuredeploy.json
  Playbooks/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/designerscreenshot.PNG
  Playbooks/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/readme.md
  Playbooks/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/azuredeploy.json
  Playbooks/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/designerscreenshot.PNG
  Playbooks/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/readme.md
Labels: Playbook

#4666 Update azuredeploy.json
  Playbooks/Zscaler-add-Domains-to-URL-Category/azuredeploy.json
Labels: Playbook

#4665 Update azuredeploy.json
  Playbooks/Guardicore-Import-Incidents/azuredeploy.json
Labels: Playbook

#4664 Update azuredeploy.json
  Playbooks/Guardicore-Import-Assets/azuredeploy.json
Labels: Playbook

#4663 04152022 edgescan azure sentinel integration
  Playbooks/Edgescan-AzureSentinel-Integration/azuredeploy1.json
  Playbooks/Edgescan-AzureSentinel-Integration/azuredeploy2.json
  Playbooks/Edgescan-AzureSentinel-Integration/azuredeploy3.json
Labels: Playbook

#4662 Update azuredeploy.json
  Playbooks/AS_Alert_Spiderfoot_Scan/azuredeploy.json
Labels: Playbook
