Repository Azure/Azure-Sentinel, pull requests merged in 2022-06, with the labels that each got.

#4691 Oracleweblogic analytic content update
  .script/tests/KqlvalidationsTests/CustomTables/OracleWebLogicServerEvent.json
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicCommandInURI.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicDifferentUAsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicExploitCVE-2021-2109.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicKnownMaliciousUserAgents.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicMultipleClientErrorsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicMultipleServerErrorsRequestsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPrivateIpInUrl.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPutSuspiciousFiles.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicRequestToSensitiveFiles.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogic403RequestsFiles.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicErrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicFilesErrorRequests.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicRareUAWithClientErrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicUrlClienterrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicUrlServerErrors.yaml
Labels: Solution, Detection, Hunting

#5158 Citrix ADC data connector
  .script/tests/KqlvalidationsTests/CustomTables/CitrixADCEvent.json
  Sample Data/CEF/CitrixADC.txt
  Solutions/Citrix ADC/Data Connectors/Connector_CitrixADC_CEF.json
  Solutions/Citrix ADC/Parsers/CitrixADCEvent.txt
Labels: Connector

#5154 Illumio Core Template Package
  Solutions/Illumio Core/Data Connectors/Connector_IllumioCore_CEF.json
  Solutions/Illumio Core/Data/Solution_IllumioCore.json
  Solutions/Illumio Core/Package/2.0.0.zip
  Solutions/Illumio Core/Package/createUiDefinition.json
  Solutions/Illumio Core/Package/mainTemplate.json
  Solutions/Illumio Core/SolutionMetadata.json
Labels: Solution Migration

#4751 PostgreSQL data connector PR
  .script/tests/KqlvalidationsTests/CustomTables/PostgreSQL_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Parsers/ASimAuthentication/ProductParsers/ASimAuthenticationPostgreSQL.yaml
  Parsers/ASimAuthentication/ProductParsers/vimAuthenticationPostgreSQL.yaml
  Sample Data/Custom/PostgreSQL_CL.json
  Solutions/PostgreSQL/Data Connectors/Connector_PostgreSQL.json
  Solutions/PostgreSQL/Parsers/PostgreSQLEvent.txt
Labels: Connector, Parser, Solution, Detection

#5156 Oracle DB Audit raw events
  Sample Data/Syslog/OracleDatabaseAudit.json
  Sample Data/Syslog/OracleDatabaseAudit.txt
Labels: Sample Data

#5042 Feature/noamlandress/add cefama validation script
  DataConnectors/CEF/cef_AMA_troubleshoot.py
Labels: Connector

#4831 Update systemconfig.ini & loggingconfig.yaml
  Solutions/SAP/template/loggingconfig_DEV.yaml
  Solutions/SAP/template/loggingconfig_PRD.yaml
  Solutions/SAP/template/systemconfig-kickstart.ini
  Solutions/SAP/template/systemconfig.ini
Labels: SAP

#5133 Updating the Azure Portal Brute Force Query
  Detections/SigninLogs/SigninBruteForce-AzurePortal.yaml
Labels: Detection

#5126 Cyber Ark EPM package 1.0.0
  Solutions/CyberArkEPM/Package/1.0.0.zip
  Solutions/CyberArkEPM/Package/createUiDefinition.json
  Solutions/CyberArkEPM/Package/mainTemplate.json
  Solutions/CyberArkEPM/SolutionMetadata.json
Labels: Solution

#5147 Bitglass analytic content update
  Solutions/Bitglass/Analytic Rules/BitglassMultipleFailedLogins.yaml
  Solutions/Bitglass/Analytic Rules/BitglassNewRiskyUser.yaml
  Solutions/Bitglass/Analytic Rules/BitglassSuspiciousFileUpload.yaml
Labels: Solution, Detection

#5146 Oracle Cloud Infrastructure analytic rules update
  Solutions/OCILogs/Analytic Rules/OCIEventRuleDeleted.yaml
  Solutions/OCILogs/Analytic Rules/OCIInsecureMetadataEndpoint.yaml
  Solutions/OCILogs/Analytic Rules/OCIMultipleInstancesTerminated.yaml
  Solutions/OCILogs/Analytic Rules/OCISSHScan.yaml
Labels: Solution, Detection

#5197 Add cloudFormation template
  DataConnectors/AWS-S3/CloudFormation/cloudformationtemplateforAWSS3.txt
Labels: Connector

#5170 Updating to include new CEF Changes
  DataConnectors/Logstash-VMSS/logstash.conf
  DataConnectors/UniFiSG/ui-logstash.conf
  Detections/CommonSecurityLog/PaloAlto-PortScanning.yaml
  Parsers/Epic_Parser.csl
  Parsers/PAN_Parser.csl
  Workbooks/CiscoFirepower.json
  Workbooks/PaloAltoNetworkThreat.json
  Workbooks/PaloAltoOverview.json
  Workbooks/WorkbooksMetadata.json
Labels: Parser, Workbook, Detection

#5184 Updating Solutions to include new CEF Changes
  Solutions/Akamai Security Events/Parsers/AkamaiSIEMEvent.txt
  Solutions/AristaAwakeSecurity/Data Connectors/Connector_AristaAwakeSecurity_CEF.json
  Solutions/AristaAwakeSecurity/Workbooks/AristaAwakeSecurityWorkbook.json
  Solutions/Claroty/Parsers/ClarotyEvent.txt
  Solutions/Contrast Security/Data Connectors/ContrastProtect.json
  Solutions/Contrast Security/Workbooks/ContrastProtect.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdstrikeFalconEventStream.txt
  Solutions/FireEyeNX/Parsers/FireEyeNXEvent.txt
  Solutions/IronNet IronDefense/Analytic Rules/IronDefense_Detection_Query.yaml
  Solutions/IronNet IronDefense/Workbooks/IronDefenseAlertDetails.json
  Solutions/KasperskySecurityCenter/Parsers/KasperskySCEvent.txt
  Solutions/PaloAltoCDL/Parsers/PaloAltoCDLEvent.txt
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneDvcAccessPermissionWasChanged.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOnePossibleExploitOrExecuteOperation.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTranslatedOperation.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneChannelType.yaml
  Solutions/Trend Micro Apex One/Parsers/TMApexOneEvent.txt
  Solutions/Trend Micro Apex One/Workbooks/TrendMicroApexOne.json
  Solutions/iboss/Parsers/ibossUrlEvent.txt
Labels: Connector, Parser, Workbook, Solution, Detection

#4931 Packaged new version 1.1.2 with updated parser and an analytical rule
  Solutions/SecurityBridge/Analytical Rules/CriticalEventTriggered.yaml
  Solutions/SecurityBridge/Package/1.0.1.zip
  Solutions/SecurityBridge/Package/1.1.3.zip
  Solutions/SecurityBridge/Package/createUiDefinition.json
  Solutions/SecurityBridge/Package/mainTemplate.json
  Solutions/SecurityBridge/Parsers/SecurityBridgeLogs.txt
  Solutions/SecurityBridge/SolutionMetadata.json
  Solutions/SecurityBridge/Solution_SecurityBridgeSAP.json
Labels: Parser, Solution, Detection

#4915 Create Endpoint Linux AV Signature and Platform Versions
  Hunting Queries/Microsoft 365 Defender/General queries/Endpoint Linux AV Signature and Platform Versions
Labels: Hunting

#4780 Create Endpoint Linux Agent Health Status Report
  Hunting Queries/Microsoft 365 Defender/General queries/Endpoint Linux Agent Health Status Report
Labels: Hunting

#5263 CiscoISE solution 1.0.9
  Solutions/Cisco ISE/Data Connectors/Connector_Cisco_ISE.json
  Solutions/Cisco ISE/Package/1.0.9.zip
  Solutions/Cisco ISE/Package/createUiDefinition.json
  Solutions/Cisco ISE/Package/mainTemplate.json
Labels: Solution

#5130 Trend Micro CAS content update
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASDLPViolation.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASRansomwareOnHost.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASRansomwareOutbreak.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASThreatNotBlocked.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASVAInfectedUser.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASVAOutbreak.yaml
Labels: Solution, Detection

#5273 Fix mistake in CrossServiceADXQueries.yaml
  Hunting Queries/LAQueryLogs/CrossServiceADXQueries.yaml
Labels: Hunting

#5009 New Hunting - VMWare-LPE-2022-22960 Exploit
  Hunting Queries/Microsoft 365 Defender/Exploits/VMWare-LPE-2022-22960.yaml
Labels: Hunting

#4883 New Detection - KrbRelayUp Tool
  Hunting Queries/SecurityEvent/KrbRelayUpServiceCreation
Labels: Detection

#5254 Updating the WEBSITE_RUN_FROM_PACKAGE variable
  Solutions/Qualys VM Knowledgebase/Data Connectors/azuredeploy_QualysKB_API_FunctionApp.json
Labels: Connector

#5219 MicrosoftPurviewInsiderRiskManagement 1.0.10 Package
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/1.0.10.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution

#4669 AzureSecurityBenchmarkSolution
  Solutions/AzureSecurityBenchmark/Analytic Rules/AzureSecurityBenchmarkPostureChanged.yaml
  Solutions/AzureSecurityBenchmark/Playbooks/Notify_GovernanceComplianceTeam.json
  Solutions/AzureSecurityBenchmark/Playbooks/Open_DevOpsTaskRecommendation.json
  Solutions/AzureSecurityBenchmark/Playbooks/Open_JIRATicketRecommendation.json
  Solutions/AzureSecurityBenchmark/Workbooks/AzureSecurityBenchmark.json
  Solutions/AzureSecurityBenchmark/Workbooks/Images/AzureSecurityBenchmark1.png
  Solutions/AzureSecurityBenchmark/Workbooks/Images/AzureSecurityBenchmark2.png
  Solutions/AzureSecurityBenchmark/Workbooks/Images/AzureSecurityBenchmark3.png
  Solutions/AzureSecurityBenchmark/readme.md
Labels: Playbook, Workbook, Solution, Detection

#5034 add NetwrixAuditor connector
  .script/tests/KqlvalidationsTests/CustomTables/NetwrixAuditor.json
  Sample Data/Custom/NetwrixAuditor.json
  Sample Data/Custom/NetwrixAuditor.log
  Solutions/NetwrixAuditor/DataConnectors/Connector_NetwrixAuditor.json
  Solutions/NetwrixAuditor/Parsers/NetwrixAuditor.txt
Labels: Connector, Parser

#5283 Adding new NRT rule
  Detections/AzureDevOpsAuditing/NRT_ADOAuditStreamDisabled.yaml
Labels: Detection

#5269 Fix "Vlaue" dictionary key in URLEntity_OfficeActivity.yaml
  Detections/ThreatIntelligenceIndicator/URLEntity_OfficeActivity.yaml
Labels: Detection

#5004 New Campaign - BPFDoor
  Hunting Queries/Microsoft 365 Defender/Campaigns/redmenshen-bpfdoor-backdoor.yaml
Labels: Hunting

#5086 Update UserAssignedPrivilegedRole.yaml
  Detections/AuditLogs/UserAssignedPrivilegedRole.yaml
Labels: Detection

#4782 Update AuthenticationMethodsChangedforPrivilegedAccount.yaml
  Detections/MultipleDataSources/AuthenticationMethodsChangedforPrivilegedAccount.yaml
Labels: Detection

#5165 New Hunting - Spawning MSDT process
  Hunting Queries/Microsoft 365 Defender/Execution/detect-office-apps-spawn-msdt-CVE-2022-30190.yaml
Labels: Hunting

#5148 Snowflake analytic content update
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleFailedQueries.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleLoginFailure.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleLoginFailureFromIP.yaml
Labels: Solution, Detection

#5318 DNS workbook query fix
  Workbooks/Dns.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4483 Zero Networks v1.0.0
  .script/tests/KqlvalidationsTests/CustomTables/ZNAccessOrchestratorAuditNativePoller_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ZNAccessOrchestratorAudit_CL.json
  Logos/ZeroNetworks.svg
  Sample Data/Custom/ZNAccessOrchestratorAudit_CL.json
  Solutions/ZeroNetworks/Analytics Rules/ZNAccessOrchestratorMachineRemovedfromProtection.yaml
  Solutions/ZeroNetworks/Analytics Rules/ZNAccessOrchestratorNewAPIToken.yaml
  Solutions/ZeroNetworks/Analytics Rules/ZNAccessOrchestratorRareJITRuleCreation.yaml
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/AzureFunction_ZeroNetworks_AccessOrchestrator_Audit.zip
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/AzureFunction_ZeroNetworks_AccessOrchestrator_Audit/ZeroNetworks_AccessOrchestrator_Audit_TimeTrigger/function.json
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/AzureFunction_ZeroNetworks_AccessOrchestrator_Audit/ZeroNetworks_AccessOrchestrator_Audit_TimeTrigger/run.ps1
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/AzureFunction_ZeroNetworks_AccessOrchestrator_Audit/host.json
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/AzureFunction_ZeroNetworks_AccessOrchestrator_Audit/profile.ps1
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/AzureFunction_ZeroNetworks_AccessOrchestrator_Audit/requirements.psd1
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/CHANGELOG.MD
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/DataConnector_API_AzureFunctionApp_ZeroNetworks_AccessOrchestrator_Audit.json
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/Doc_Template_REST_API_connector.md
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/README.md
  Solutions/ZeroNetworks/Data Connectors/AccessOrchestratorFunctionConnector/azuredeploy_Connector_ZeroNetworks_AccessOrchestrator_Audit_AzureFunction.json
  Solutions/ZeroNetworks/Data Connectors/ZeroNetworksNativePollerConnector/azuredeploy_ZeroNetworks_AccessOrchestrator_native_poller_connector.json
  Solutions/ZeroNetworks/Hunting Queries/ZNAccessOrchestratorExcessiveAccessbyUser.yaml
  Solutions/ZeroNetworks/Hunting Queries/ZNAccessOrchestratorExcessiveAccesstoBuiltinGroupbyUser.yaml
  Solutions/ZeroNetworks/Hunting Queries/ZNAccessOrchestratorInboundBlockRulesDeleted.yaml
  Solutions/ZeroNetworks/Hunting Queries/ZNAccessOrchestratorOutboundBlockRulesDeleted.yaml
  Solutions/ZeroNetworks/Parsers/ZNAccessOrchestratorAudit.txt
  Solutions/ZeroNetworks/Playbooks/CustomConnector/ZeroNetworks-swagger.json
  Solutions/ZeroNetworks/Playbooks/CustomConnector/ZeroNetworks-swagger.yaml
  Solutions/ZeroNetworks/Playbooks/CustomConnector/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/CustomConnector/readme.md
  Solutions/ZeroNetworks/Playbooks/Images/ZeroNetworks.png
  Solutions/ZeroNetworks/Playbooks/ZNSolutionPlaybooks.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddAssettoProtection/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddAssettoProtection/images/designerDark.png
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddAssettoProtection/images/designerLight.png
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddAssettoProtection/readme.md
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddBlockOutboundRule/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddBlockOutboundRule/images/designerDark.png
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddBlockOutboundRule/images/designerLight.png
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddBlockOutboundRule/readme.md
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-EnrichIncident/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-EnrichIncident/images/designerDark.png
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-EnrichIncident/images/designerLight.png
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-EnrichIncident/readme.md
  Solutions/ZeroNetworks/Playbooks/readme.md
  Solutions/ZeroNetworks/Workbooks/ZNAccessOrchestratorAudit.json
Labels: Playbook, Connector, Parser, Workbook, Solution, Detection, Hunting

#5325 Create a workbook for microsoftdefenderforidentity
  Workbooks/Images/Preview/microsoftdefenderforidentity-black.png
  Workbooks/Images/Preview/microsoftdefenderforidentity-white.png
  Workbooks/WorkbooksMetadata.json
  Workbooks/microsoftdefenderforidentity.json
Labels: Workbook

#5264 Update Eaton Foreseer Workbook for improved UX
  Solutions/EatonForeseer/Workbooks/EatonForeseerHealthAndAccess.json
  Solutions/EatonForeseer/Workbooks/Images/EatonForeseerHealthAndAccessBlack.png
  Solutions/EatonForeseer/Workbooks/Images/EatonForeseerHealthAndAccessWhite.png
Labels: Workbook, Solution

#5226 Added Anomaly Visualization Workbook and Anomaly Data workbook
  Workbooks/AnomaliesVisualization.json
  Workbooks/AnomalyData.json
  Workbooks/Images/Preview/AnomaliesVisualizationWorkbookBlack.png
  Workbooks/Images/Preview/AnomaliesVisualizationWorkbookWhite.png
  Workbooks/Images/Preview/AnomalyDataWorkbookBlack.png
  Workbooks/Images/Preview/AnomalyDataWorkbookWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#5190 Get exisitng parser name and use it in Update
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#5208 FireEye Network Security TemplateSpec Solution
  Solutions/FireEye Network Security/Data Connectors/Connector_FireEyeNX_CEF.json
  Solutions/FireEye Network Security/Data/Solution_FireEye Network Security.json
  Solutions/FireEye Network Security/Package/2.0.0.zip
  Solutions/FireEye Network Security/Package/createUiDefinition.json
  Solutions/FireEye Network Security/Package/mainTemplate.json
  Solutions/FireEye Network Security/Parsers/FireEyeNXEvent.txt
  Solutions/FireEye Network Security/SolutionMetadata.json
Labels: Solution Migration

#5265 Fixed typos in readme.md
  DataConnectors/O365 Data/readme.md
  README.md
Labels: Connector

#5192 AbuseIPDB: connector and playbooks
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-BlacklistIpToThreatIntelligence/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-BlacklistIpToThreatIntelligence/playbook_screenshot.png
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-BlacklistIpToThreatIntelligence/readme.md
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-EnrichIncidentByIPInfo/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-EnrichIncidentByIPInfo/playbook_screenshot.png
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-EnrichIncidentByIPInfo/readme.md
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-ReportaIPsToAbuselPDBAfterCheckingByUserInMSTeams/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-ReportaIPsToAbuselPDBAfterCheckingByUserInMSTeams/playbook_screenshot.png
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-ReportaIPsToAbuselPDBAfterCheckingByUserInMSTeams/readme.md
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-ReportaIPsToAbuselPDBAfterCheckingByUserInMSTeams/teams_screenshot.png
  Solutions/AbuseIPDB/Playbooks/AbuseIPDBAPIConnector/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDBAPIConnector/readme.md
  Solutions/AbuseIPDB/Playbooks/abuseipdb-logo.svg
  Solutions/AbuseIPDB/Playbooks/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/readme.md
Labels: Playbook

#5144 Andrelom
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: SAP

#5361 Added support for sentinelEntitiesMappings field
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#5326 Update Module-7-Threat-Intelligence.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-7-Threat-Intelligence.md
Labels: Solution

#5335 Run ASIM testers on 'eco-connector-test' workspace
  .github/workflows/convertKqlFuncYamlToArmTemplate.yaml
  .github/workflows/runAsimTesters.yaml
  .script/getModifiedASimSchemas.ps1
  .script/kqlFuncYaml2Arm.ps1
  .script/kqlFuncYaml2Arm.sh
  .script/tests/asimParsersTest/convertYamlToObject.ps1
  .script/tests/asimParsersTest/runAsimTesters.ps1
Labels: ASIM

#5385 Sample data guidance update
  DataConnectors/ReadMe.md
  Sample Data/Media/ExportSchemaToCSV.png
  Sample Data/Media/ExportToCSV.png
  Sample Data/README.md
Labels: Sample Data

#5390 Update azuredeploy_Connector_Proofpoint_AzureFunction.json
  DataConnectors/ProofpointPOD/azuredeploy_Connector_Proofpoint_AzureFunction.json
Labels: Connector

#5091 Azurekid/bugfix/mismatch tactics techniques
  Detections/ASimFileEvent/imFileESolarWindsSunburstSupernova.yaml
  Detections/ASimFileEvent/imFileEvent_Dev-0228FilePathHashesNovember2021(ASIMVersion).yaml
  Detections/ASimWebSession/ExcessiveNetworkFailuresFromSource.yaml
  Detections/ASimWebSession/PossibleDGAContacts.yaml
  Detections/AWSCloudTrail/AWS_ChangeToVPC.yaml
  Detections/AuditLogs/AdminPromoAfterRoleMgmtAppPermissionGrant.yaml
  Detections/AuditLogs/AzureADRoleManagementPermissionGrant.yaml
  Detections/AuditLogs/RareApplicationConsent.yaml
  Detections/AuditLogs/SuspiciousServicePrincipalcreationactivity.yaml
  Detections/AzureActivity/Granting_Permissions_To_Account_detection.yaml
  Detections/AzureActivity/RareRunCommandPowerShellScript.yaml
  Detections/AzureDevOpsAuditing/ADOPipelineModifiedbyNewUser.yaml
  Detections/AzureDevOpsAuditing/AzDOPatSessionMisuse.yaml
  Detections/AzureFirewall/SeveralDenyActionsRegistered.yaml
  Detections/DeviceEvents/SolarWinds_TEARDROP_Process-IOCs.yaml
  Detections/DeviceFileEvents/SolarWinds_SUNBURST_&_SUPERNOVA_File-IOCs.yaml
  Detections/DeviceNetworkEvents/SolarWinds_SUNBURST_Network-IOCs.yaml
  Detections/Heartbeat/OMI_vulnerability_detection.yaml
  Detections/MultipleDataSources/Dev-0228FilePathHashesNovember2021.yaml
  Detections/MultipleDataSources/MFADisable.yaml
  Detections/MultipleDataSources/RunCommandUEBABreach.yaml
  Detections/Syslog/ssh_NewlyInternetExposed.yaml
  Detections/W3CIISLog/Supernovawebshell.yaml
  Detections/ZoomLogs/ExternalUserAccess.yaml
  Detections/ZoomLogs/JoiningMeetingFromAnotherTimeZone.yaml
Labels: Detection

#5364 Stream Analytics initial commit.
  Solutions/Azure Stream Analytics/Data Connectors/AzureStreamAnalytics_CCP.JSON
Labels: Connector, Solution

#5363 Azure Event Hubs initial commit
  Solutions/Azure Event Hub/Data Connectors/AzureEventHub_CCP.JSON
Labels: Connector, Solution

#5362 Machiliv/1 pccp diagnostic based service bus
  Solutions/Azure Service Bus/Data Connectors/AzureServiceBus_CCP.JSON
Labels: Connector, Solution

#5327 Logic Apps Solution initial commit.
  Solutions/Azure Logic Apps/Data Connectors/AzureLogicApps_CCP.JSON
Labels: Connector

#5366 Azure Cognitive Search initial commit.
  Solutions/Azure Cognitive Search/Data Connectors/AzureCognitiveSearch_CCP.JSON
Labels: Connector

#5367 Batch accounts initial commit.
  Solutions/Azure Batch Account/Data Connectors/AzureBatchAccount_CCP.JSON
Labels: Connector

#5369 Data Lake Storage Gen1 initial commit
  Solutions/Azure Data Lake Storage Gen1/Data Connectors/AzureDataLakeStorageGen1_CCP.JSON
Labels: Connector, Solution

#5410 Fixing template for AzureSecurityBenchmark Solution
  Solutions/AzureSecurityBenchmark/Package/1.0.0.zip
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
Labels: Solution

#5210 Template spec solution update for Kaspersky Security Center
  Solutions/KasperskySecurityCenter/Data Connectors/Connector_KasperskySC_CEF.json
  Solutions/KasperskySecurityCenter/Data/Solution_Kaspersky Security Center.json
  Solutions/KasperskySecurityCenter/Package/2.0.0.zip
  Solutions/KasperskySecurityCenter/Package/createUiDefinition.json
  Solutions/KasperskySecurityCenter/Package/mainTemplate.json
  Solutions/KasperskySecurityCenter/SolutionMetadata.json
Labels: Solution Migration

#5399 Template spec solution package update for Trend Micro Apex One
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneAttackDiscoveryDetectionRisks.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneCommandLineSuspiciousRequests.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneCommandsInRequest.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneDvcAccessPermissionWasChanged.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneInboundRemoteAccess.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneMultipleDenyOrTerminateActionOnSingleIp.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOnePossibleExploitOrExecuteOperation.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneRiskCnCEvents.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneSpywareWithFailedResponse.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneSuspiciousConnections.yaml
  Solutions/Trend Micro Apex One/Data Connectors/TrendMicro_ApexOne.json
  Solutions/Trend Micro Apex One/Data/Solution_Trend Micro Apex One.json
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneRareAppProtocolByIP.yaml
  Solutions/Trend Micro Apex One/Package/2.0.0.zip
  Solutions/Trend Micro Apex One/Package/createUiDefinition.json
  Solutions/Trend Micro Apex One/Package/mainTemplate.json
  Solutions/Trend Micro Apex One/Parsers/TMApexOneEvent.txt
  Solutions/Trend Micro Apex One/SolutionMetadata.json
Labels: Solution Migration

#5382 CrowdStrike Falcon Endpoint Protection TemplateSpec Solution
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalOrHighSeverityDetectionsByUser.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalSeverityDetection.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/Connector_Syslog_CrowdStrikeFalconEndpointProtection.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/CrowdstrikeFalconAPISentinelConnector/__init__.py
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/CrowdstrikeFalconAPISentinelConnector/function.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/CrowdstrikeFalconAPISentinelConnector/sentinel_connector_async.py
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/CrowdstrikeFalconAPISentinelConnector/state_manager.py
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/CrowdstrikeReplicator_API_FunctionApp.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/azuredeploy_Connector_CrowdstrikeFalconAPI_AzureFunction.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/host.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/proxies.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/requirements.txt
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/Logo/crowdstrike.svg
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/DataConnectors/CrowdstrikeReplicator/CrowdstrikeFalconAPISentinelConnector/__init__.py
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.0.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/SolutionMetadata.json
Labels: Solution Migration

#5418 Template spec solution package update for CyberArk Enterprise Password Vault (EPV) Events
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data Connectors/CyberArk Data Connector.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/2.0.1.zip
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/createUiDefinition.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/mainTemplate.json
Labels: Solution Migration

#5416 Template spec solution update for Trend Micro Deep Security
  Solutions/Trend Micro Deep Security/Data Connectors/TrendMicroDeepSecurity.json
  Solutions/Trend Micro Deep Security/Data/Solution_TrendMicroDeepSecurityTemplateSpec.json
  Solutions/Trend Micro Deep Security/Package/2.0.0.zip
  Solutions/Trend Micro Deep Security/Package/createUiDefinition.json
  Solutions/Trend Micro Deep Security/Package/mainTemplate.json
Labels: Solution Migration

#5352 V laanjana/package creation/j boss
  Solutions/JBoss/Data Connectors/Connector_JBoss.json
  Solutions/JBoss/Data/Solution_Jboss.json
  Solutions/JBoss/Package/2.0.0.zip
  Solutions/JBoss/Package/createUiDefinition.json
  Solutions/JBoss/Package/mainTemplate.json
  Solutions/JBoss/SolutionMetadata.json
Labels: Solution Migration

#5412 V laanjana/package creation/aruba clear pass
  Solutions/Aruba ClearPass/Package/2.0.0.zip
  Solutions/Aruba ClearPass/Package/createUiDefinition.json
  Solutions/Aruba ClearPass/Package/mainTemplate.json
Labels: Solution Migration

#5398 Template spec solution package update for Claroty
  Solutions/Claroty/Analytic Rules/ClarotyAssetDown.yaml
  Solutions/Claroty/Analytic Rules/ClarotyCriticalBaselineDeviation.yaml
  Solutions/Claroty/Analytic Rules/ClarotyLoginToUncommonSite.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLogin.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLoginsSameDst.yaml
  Solutions/Claroty/Analytic Rules/ClarotyNewAsset.yaml
  Solutions/Claroty/Analytic Rules/ClarotyPolicyViolation.yaml
  Solutions/Claroty/Analytic Rules/ClarotySuspiciousActivity.yaml
  Solutions/Claroty/Analytic Rules/ClarotySuspiciousFileTransfer.yaml
  Solutions/Claroty/Analytic Rules/ClarotyTreat.yaml
  Solutions/Claroty/Data Connectors/Connector_Claroty_CEF.json
  Solutions/Claroty/Data/Solution_Claroty.json
  Solutions/Claroty/Package/2.0.0.zip
  Solutions/Claroty/Package/createUiDefinition.json
  Solutions/Claroty/Package/mainTemplate.json
Labels: Solution Migration

#5413 Updated Morphisec solution with parser change
  Solutions/Morphisec/Data Connectors/Morphisec.json
  Solutions/Morphisec/Data/Solution_Morphisec.json
  Solutions/Morphisec/Package/2.0.0.zip
  Solutions/Morphisec/Package/mainTemplate.json
  Solutions/Morphisec/Parsers/Morphisec
Labels: Solution Migration

#5422 Updated a live link for parser deployment
  Workbooks/ProofpointPOD.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#5424 Palo Alto CDL parser update.
  Solutions/PaloAltoCDL/Parsers/PaloAltoCDLEvent.txt
Labels: Parser

#5206 Contrast Protect Template Spec Solution
  Solutions/Contrast Protect/Analytic Rules/ContrastBlocks.yaml
  Solutions/Contrast Protect/Analytic Rules/ContrastExploits.yaml
  Solutions/Contrast Protect/Analytic Rules/ContrastProbes.yaml
  Solutions/Contrast Protect/Analytic Rules/ContrastSuspicious.yaml
  Solutions/Contrast Protect/Data Connectors/ContrastProtect.json
  Solutions/Contrast Protect/Data Connectors/Logo/contrastsecurity_logo.svg
  Solutions/Contrast Protect/Data/Solution_Contrast Protect.json
  Solutions/Contrast Protect/Package/1.0.0.zip
  Solutions/Contrast Protect/Package/1.1.0.zip
  Solutions/Contrast Protect/Package/2.0.0.zip
  Solutions/Contrast Protect/Package/createUiDefinition.json
  Solutions/Contrast Protect/Package/mainTemplate.json
  Solutions/Contrast Protect/SolutionMetadata.json
  Solutions/Contrast Protect/Workbooks/ContrastProtect.json
  Solutions/Contrast Protect/Workbooks/Images/Logo/contrastsecurity_logo.svg
  Solutions/Contrast Protect/Workbooks/Images/Preview/ContrastProtectAllBlack.png
  Solutions/Contrast Protect/Workbooks/Images/Preview/ContrastProtectAllWhite.png
  Solutions/Contrast Protect/Workbooks/Images/Preview/ContrastProtectEffectiveBlack.png
  Solutions/Contrast Protect/Workbooks/Images/Preview/ContrastProtectEffectiveWhite.png
  Solutions/Contrast Protect/Workbooks/Images/Preview/ContrastProtectSummaryBlack.png
  Solutions/Contrast Protect/Workbooks/Images/Preview/ContrastProtectSummaryWhite.png
  Solutions/Contrast Security/Data/Solution_Contrast Security.json
  Solutions/Contrast Security/Package/mainTemplate.json
Labels: Solution Migration

#5239 AristaAwake TemplateSpec Solution
  Solutions/AristaAwakeSecurity/Analytic Rules/HighMatchCountsByDevice.yaml
  Solutions/AristaAwakeSecurity/Analytic Rules/HighSeverityMatchesByDevice.yaml
  Solutions/AristaAwakeSecurity/Analytic Rules/ModelMatchesWithMultipleDestinationsByDevice.yaml
  Solutions/AristaAwakeSecurity/Data Connectors/Connector_AristaAwakeSecurity_CEF.json
  Solutions/AristaAwakeSecurity/Data/Solution_AristaAwakeSecurity.json
  Solutions/AristaAwakeSecurity/Package/2.0.0.zip
  Solutions/AristaAwakeSecurity/Package/createUiDefinition.json
  Solutions/AristaAwakeSecurity/Package/mainTemplate.json
Labels: Solution Migration

#5381 V laanjana/package creation/iron net collective defense
  Solutions/IronNet IronDefense/Analytic Rules/IronDefense_Detection_Query.yaml
  Solutions/IronNet IronDefense/Data/SolutionMetadata.json
  Solutions/IronNet IronDefense/Data/Solution_IronNetIronDefense.json
  Solutions/IronNet IronDefense/DataConnectors/IronNetIronDefense.json
  Solutions/IronNet IronDefense/Package/2.0.0.zip
  Solutions/IronNet IronDefense/Package/createUiDefinition.json
  Solutions/IronNet IronDefense/Package/mainTemplate.json
Labels: Solution Migration

#5417 Included warning for Google workspace
  DataConnectors/GoogleWorkspaceReports/GWorkspaceReports_API_FunctionApp.json
Labels: Connector

#5067 Updating Workbook version, Solution Preview Image, Analytics/Hunting …
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131AssetStoppedLogging.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131DataConnectorAddedChangedRemoved.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131EventLogManagementPostureChangedEL0.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131EventLogManagementPostureChangedEL1.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131EventLogManagementPostureChangedEL2.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131EventLogManagementPostureChangedEL3.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131LogRetentionLessThan1Year.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131RecommendedDatatableUnhealthy.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Hunting Queries/M2131RecommendedDatatableNotLoggedEL0.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Hunting Queries/M2131RecommendedDatatableNotLoggedEL1.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Hunting Queries/M2131RecommendedDatatableNotLoggedEL2.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Hunting Queries/M2131RecommendedDatatableNotLoggedEL3.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/Images/MaturityModelForEventLogManagement_M2131Black.png
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/Images/MaturityModelForEventLogManagement_M2131White.png
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/MaturityModelForEventLogManagement_M2131.json
Labels: Workbook, Detection, Hunting

#4898 Copy of Palo Alto PAN-OS playbook, custom Connector to solution folder
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/designerscreenshot.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/designerscreenshot.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoCustomConnector/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoCustomConnector/readme.md
Labels: Playbook

#5279 Cisco ISE package update.
  Solutions/Cisco ISE/Package/1.0.9.zip
  Solutions/Cisco ISE/Package/mainTemplate.json
Labels: Solution

#4671 Add more cases to Office_MailForwarding.yaml
  Detections/OfficeActivity/NRT_Office_MailForwarding.yaml
  Detections/OfficeActivity/Office_MailForwarding.yaml
Labels: Detection

#5301 VMRay Email Threat Defender Connector solution migration template spec
  Solutions/VMRay ETD/Data/Solution_VMRay.json
  Solutions/VMRay ETD/Package/mainTemplate.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/VMRayETDFeeder.zip
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/VMRayETDFeeder/__init__.py
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/VMRayETDFeeder/function.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/VMRayETD_API_FunctionApp.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/azuredeploy_VMRayETD_API_FunctionApp.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/host.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/requirements.txt
  Solutions/VMRay Email Threat Defender Connector/Data/Solution_VMRay.json
  Solutions/VMRay Email Threat Defender Connector/Package/1.1.0.zip
  Solutions/VMRay Email Threat Defender Connector/Package/2.0.0.zip
  Solutions/VMRay Email Threat Defender Connector/Package/createUiDefinition.json
  Solutions/VMRay Email Threat Defender Connector/Package/mainTemplate.json
  Solutions/VMRay Email Threat Defender Connector/SolutionMetadata.json
Labels: Solution Migration

#5462 Google ApigeeX Template Spec Solution
  Solutions/Google Apigee/Data/Solution_Google Apigee.json
  Solutions/Google Apigee/Package/2.0.0.zip
  Solutions/Google Apigee/Package/createUiDefinition.json
Labels: Solution Migration

#5280 vCenter-Connector-Parser
  Sample Data/Vcenter_RawLogs.txt
  Solutions/VCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/VCenter/Data Connectors/la_agent_configs/vcenter.conf
  Solutions/VCenter/Data Connectors/syslog_ng_configs/10-vcenter.conf
  Solutions/VCenter/Parsers/vCenter.txt
Labels: Connector, Parser

#5489 Change cleanup command
  DataConnectors/CEF/cef_AMA_troubleshoot.py
Labels: Connector

#5487 Newly added Solution of PCI compliance
  Solutions/PCI DSS Compliance/Workbooks/Images/Preview/PCIDSSComplianceBlack01.PNG
  Solutions/PCI DSS Compliance/Workbooks/Images/Preview/PCIDSSComplianceBlack02.PNG
  Solutions/PCI DSS Compliance/Workbooks/Images/Preview/PCIDSSComplianceWhite01.PNG
  Solutions/PCI DSS Compliance/Workbooks/Images/Preview/PCIDSSComplianceWhite02.PNG
  Solutions/PCI DSS Compliance/Workbooks/PCIDSSCompliance.json
Labels: Workbook

#4937 C03vikas
  Solutions/Palo Alto - XDR (Cortex)/Data Connectors/Connector_PaloAlto_XDR_CEF.json
  Solutions/Palo Alto - XDR (Cortex)/Detection Queries/High Severity Cortex Incidents. yaml
  Solutions/Palo Alto - XDR (Cortex)/Detection Queries/Preventive Alerts.yaml
  Solutions/Palo Alto - XDR (Cortex)/Detection Queries/WildFire Malware Detection.yaml
  Solutions/Palo Alto - XDR (Cortex)/PaloAltoXDRMetadata.json
  Solutions/Palo Alto - XDR (Cortex)/Playbook/README.md
  Solutions/Palo Alto - XDR (Cortex)/Playbook/azuredeploy.json
  Solutions/Palo Alto - XDR (Cortex)/Workbook/PaloAltoXDR.json
Labels: Playbook, Connector, Workbook, Solution, Detection

#4911 Symantec Integrated Cyber Defense TemplateSpec Solution
  Solutions/Symantec Integrated Cyber Defense/Data Connectors/SymantecICDX.JSON
  Solutions/Symantec Integrated Cyber Defense/Data/Solution_Symantec.json
  Solutions/Symantec Integrated Cyber Defense/Package/2.0.0.zip
  Solutions/Symantec Integrated Cyber Defense/Package/createUiDefinition.json
  Solutions/Symantec Integrated Cyber Defense/Package/mainTemplate.json
  Solutions/Symantec Integrated Cyber Defense/SolutionMetadata.json
Labels: Solution Migration

#5087 [Fix] Extract ClientIp for proper entity extraction
  Detections/OfficeActivity/RareOfficeOperations.yaml
Labels: Detection

#4885 Create PulseConnectSecureVPN-CVE_2021_22893_Exploit.yaml
  Detections/PulseConnectSecure/PulseConnectSecureVPN-CVE_2021_22893_Exploit.yaml
Labels: Detection

#4959 update readme to handle folder moves to solutions
  Detections/readme.md
Labels: Detection

#5041 Adding new NRT Rule for 2FA disable inn github
  Detections/GitHub/NRT Two Factor Authentication Disabled.yaml
Labels: Detection

#5008 Fix little errors in detection MaliciousWAFSessions.yaml
  Detections/AzureDiagnostics/MaliciousWAFSessions.yaml
Labels: Detection

#5467 Template spec solution migration for GitLab
  Solutions/GitLab/Analytic Rules/GitLab_BruteForce.yaml
  Solutions/GitLab/Analytic Rules/GitLab_ExternalUser.yaml
  Solutions/GitLab/Analytic Rules/GitLab_Impersonation.yaml
  Solutions/GitLab/Analytic Rules/GitLab_LocalAuthNoMFA.yaml
  Solutions/GitLab/Analytic Rules/GitLab_MaliciousIP.yaml
  Solutions/GitLab/Analytic Rules/GitLab_PAT_Repo.yaml
  Solutions/GitLab/Analytic Rules/GitLab_RepoVisibilityChange.yaml
  Solutions/GitLab/Analytic Rules/GitLab_Repo_Deletion.yaml
  Solutions/GitLab/Analytic Rules/GitLab_SignInBurst.yaml
  Solutions/GitLab/Data Connectors/Connector_Syslog_GitLab.json
  Solutions/GitLab/Data/Solution_Gitlab.json
  Solutions/GitLab/Package/2.0.0.zip
  Solutions/GitLab/Package/createUiDefinition.json
  Solutions/GitLab/Package/mainTemplate.json
  Solutions/GitLab/SolutionMetadata.json
Labels: Solution Migration

#5465 Template spec solution package creation for PostgreSQL
  Solutions/PostgreSQL/Data Connectors/Connector_PostgreSQL.json
  Solutions/PostgreSQL/Data/Solution_PostgresSQL.json
  Solutions/PostgreSQL/Package/2.0.0.zip
  Solutions/PostgreSQL/Package/createUiDefinition.json
  Solutions/PostgreSQL/Package/mainTemplate.json
  Solutions/PostgreSQL/SolutionMetadata.json
Labels: Solution Migration

#5504 Update Short Links for GitLab Solution
  Solutions/GitLab/Data Connectors/Connector_Syslog_GitLab.json
  Solutions/GitLab/Package/2.0.0.zip
  Solutions/GitLab/Package/mainTemplate.json
Labels: Solution

#5479 Removed bugs from Remediation IP azuredeploy.json
  MasterPlaybooks/Remediation-IP/azuredeploy.json
Labels: Playbook

#5517 Vcenter Template Spec Solution
  Solutions/VCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/VCenter/Data/Solution_vcenter.json
  Solutions/VCenter/Package/2.0.0.zip
  Solutions/VCenter/Package/createUiDefinition.json
  Solutions/VCenter/Package/mainTemplate.json
  Solutions/VCenter/SolutionMetadata.json
Labels: Solution Migration
