Repository Azure/Azure-Sentinel, pull requests merged in 2022-02, with the labels that each got.

#4044 Replace ProcessName with NewProcessName
  Detections/SecurityEvent/GainCodeExecutionADFSViaSMB.yaml
Labels: Detection

#3908 GCP IAM playbooks
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-DisableServiceAccountFromTeams/azuredeploy.json
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-DisableServiceAccountFromTeams/playbook_screenshot.png
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-DisableServiceAccountFromTeams/readme.md
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-DisableServiceAccountFromTeams/teams_screenshot.png
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-DisableServiceAccountKey/azuredeploy.json
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-DisableServiceAccountKey/playbook_screenshot.png
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-DisableServiceAccountKey/readme.md
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-EnrichServiseAccountInfo/azuredeploy.json
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-EnrichServiseAccountInfo/playbook_screenshot.png
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP-EnrichServiseAccountInfo/readme.md
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP_IAMConnector/azuredeploy.json
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP_IAMConnector/google_logo.svg
  Solutions/GoogleCloudPlatformIAM/Playbooks/GCP_IAMConnector/readme.md
  Solutions/GoogleCloudPlatformIAM/Playbooks/azuredeploy.json
  Solutions/GoogleCloudPlatformIAM/Playbooks/readme.md
Labels: Playbook

#3920 Update Package URL
  Playbooks/Sync-IncidentsWithJIRA/Sync-Comments/azuredeploy.json
Labels: Playbook

#3600 Fix for #3446
  Playbooks/Get-AlertEntitiesEnrichment/readme.md
Labels: Playbook

#3248 Numbering issue fix
  Playbooks/Sync-IncidentsWithJIRA/Sync-AssignedUser/azuredeploy.json
Labels: Playbook

#2858 Update azuredeploy.json
  Playbooks/Send-IngestionCostAnomalyAlert/azuredeploy.json
Labels: Playbook

#2771 remove not required row
  Playbooks/AzureFirewall/readme.md
Labels: Playbook

#4063 Fix for #4060
  Detections/MultipleDataSources/SOURGUM_IOC.yaml
Labels: Detection

#3898 Dns aliases
  Parsers/ASimDns/ARM/ASimDns/ASimDns.json
  Parsers/ASimDns/ARM/ASimDnsAzureFirewall/ASimDnsAzureFirewall.json
  Parsers/ASimDns/ARM/ASimDnsCiscoUmbrella/ASimDnsCiscoUmbrella.json
  Parsers/ASimDns/ARM/ASimDnsCorelightZeek/ASimDnsCorelightZeek.json
  Parsers/ASimDns/ARM/ASimDnsGcp/ASimDnsGcp.json
  Parsers/ASimDns/ARM/ASimDnsInfobloxNIOS/ASimDnsInfobloxNIOS.json
  Parsers/ASimDns/ARM/ASimDnsMicrosoftNXlog/ASimDnsMicrosoftNXlog.json
  Parsers/ASimDns/ARM/ASimDnsMicrosoftOMS/ASimDnsMicrosoftOMS.json
  Parsers/ASimDns/ARM/ASimDnsMicrosoftSysmon/ASimDnsMicrosoftSysmon.json
  Parsers/ASimDns/ARM/ASimDnsNative/ASimDnsNative.json
  Parsers/ASimDns/ARM/ASimDnszScalerZIA/ASimDnszScalerZIA.json
  Parsers/ASimDns/ARM/DnsEmpty/DnsEmpty.json
  Parsers/ASimDns/ARM/imDns/imDns.json
  Parsers/ASimDns/ARM/vimDnsAzureFirewall/vimDnsAzureFirewall.json
  Parsers/ASimDns/ARM/vimDnsCiscoUmbrella/vimDnsCiscoUmbrella.json
  Parsers/ASimDns/ARM/vimDnsCorelightZeek/vimDnsCorelightZeek.json
  Parsers/ASimDns/ARM/vimDnsGcp/vimDnsGcp.json
  Parsers/ASimDns/ARM/vimDnsInfobloxNIOS/vimDnsInfobloxNIOS.json
  Parsers/ASimDns/ARM/vimDnsMicrosoftNXlog/vimDnsMicrosoftNXlog.json
  Parsers/ASimDns/ARM/vimDnsMicrosoftOMS/vimDnsMicrosoftOMS.json
  Parsers/ASimDns/ARM/vimDnsMicrosoftSysmon/vimDnsMicrosoftSysmon.json
  Parsers/ASimDns/ARM/vimDnsNative/vimDnsNative.json
  Parsers/ASimDns/ARM/vimDnszScalerZIA/vimDnszScalerZIA.json
  Parsers/ASimDns/ProductParsers/ASimDns.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsAzureFirewall.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsCiscoUmbrella.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsCorelightZeek.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsGcp.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsInfobloxNIOS.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsMicrosoftNXlog.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsMicrosoftOMS.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsMicrosoftSysmon.yaml
  Parsers/ASimDns/ProductParsers/ASimDnsNative.yaml
  Parsers/ASimDns/ProductParsers/ASimDnszScalerZIA.yaml
  Parsers/ASimDns/ProductParsers/DnsEmpty.yaml
  Parsers/ASimDns/ProductParsers/VimDnsGcp.yaml
  Parsers/ASimDns/ProductParsers/imDns.yaml
  Parsers/ASimDns/ProductParsers/vimDnsAzureFirewall.yaml
  Parsers/ASimDns/ProductParsers/vimDnsCiscoUmbrella.yaml
  Parsers/ASimDns/ProductParsers/vimDnsCorelightZeek.yaml
  Parsers/ASimDns/ProductParsers/vimDnsInfobloxNIOS.yaml
  Parsers/ASimDns/ProductParsers/vimDnsMicrosoftNXlog.yaml
  Parsers/ASimDns/ProductParsers/vimDnsMicrosoftOMS.yaml
  Parsers/ASimDns/ProductParsers/vimDnsMicrosoftSysmon.yaml
  Parsers/ASimDns/ProductParsers/vimDnsNative.yaml
  Parsers/ASimDns/ProductParsers/vimDnszScalerZIA.yaml
Labels: ASIM, Parser

#3532 Add support for Event Grouping in Scheduled Detections
  .script/tests/detectionTemplateSchemaValidation/Models/EventGroupingSettings.cs
  .script/tests/detectionTemplateSchemaValidation/Models/ScheduledTemplateInternalModel.cs
Labels: Validation

#4045 Update logstash version suportability
  DataConnectors/microsoft-logstash-output-azure-loganalytics/README.md
Labels: Connector

#3988 Adding hydration script
  Solutions/SAP/Demo/Hydrate-LogAnalytics.ps1
  Solutions/SAP/Demo/README.md
  Solutions/SAP/Demo/replacements.json
  Solutions/SAP/Demo/scenarios/1-ICF_Service_Activated/ABAPTableDataLog.1
  Solutions/SAP/Demo/scenarios/1-ICF_Service_Activated/metadata.json
  Solutions/SAP/Demo/scenarios/100-User_Logins_Over_Time/ABAPAuditLog.AU1
  Solutions/SAP/Demo/scenarios/100-User_Logins_Over_Time/ABAPAuditLog.AU2
  Solutions/SAP/Demo/scenarios/100-User_Logins_Over_Time/ABAPAuditLog.AU5
  Solutions/SAP/Demo/scenarios/100-User_Logins_Over_Time/ABAPAuditLog.AUC
  Solutions/SAP/Demo/scenarios/100-User_Logins_Over_Time/metadata.json
  Solutions/SAP/Demo/scenarios/101-User_Password_Changes/ABAPAuditLog.BU2
  Solutions/SAP/Demo/scenarios/101-User_Password_Changes/metadata.json
  Solutions/SAP/Demo/scenarios/102-User_Multiple_Logons_By_User/ABAPAuditLog.AU5
  Solutions/SAP/Demo/scenarios/102-User_Multiple_Logons_By_User/metadata.json
  Solutions/SAP/Demo/scenarios/2-Change_In_Sensitive_Privileged_User/ABAPAuditLog.07
  Solutions/SAP/Demo/scenarios/2-Change_In_Sensitive_Privileged_User/ABAP_AGR_USERS.02
  Solutions/SAP/Demo/scenarios/2-Change_In_Sensitive_Privileged_User/ABAP_USR01.03
  Solutions/SAP/Demo/scenarios/2-Change_In_Sensitive_Privileged_User/ABAP_USR02.04
  Solutions/SAP/Demo/scenarios/2-Change_In_Sensitive_Privileged_User/ABAP_USR21.05
  Solutions/SAP/Demo/scenarios/2-Change_In_Sensitive_Privileged_User/ABAP_UST04.06
  Solutions/SAP/Demo/scenarios/2-Change_In_Sensitive_Privileged_User/metadata.json
  Solutions/SAP/Demo/scenarios/3-Client_Change_Configuration/ABAPAuditLog.01
  Solutions/SAP/Demo/scenarios/3-Client_Change_Configuration/metadata.json
  Solutions/SAP/Demo/scenarios/4-Deactivation_of_Security_Audit_Log/ABAPAuditLog.01
  Solutions/SAP/Demo/scenarios/4-Deactivation_of_Security_Audit_Log/metadata.json
  Solutions/SAP/Demo/scenarios/5-Execution_of_a_Sensitive_ABAP_Program/ABAPAuditLog.01
  Solutions/SAP/Demo/scenarios/5-Execution_of_a_Sensitive_ABAP_Program/metadata.json
  Solutions/SAP/Demo/scenarios/6-Execution_of_a_Sensitive_Transaction_Code/ABAPAuditLog.01
  Solutions/SAP/Demo/scenarios/6-Execution_of_a_Sensitive_Transaction_Code/metadata.json
  Solutions/SAP/Demo/scenarios/7-Execution_of_Sensitive_Function_Module/metadata.json
  Solutions/SAP/Demo/settings.json
Labels: Solution

#3953 add alertDetailsOverride model and validations
  .script/tests/detectionTemplateSchemaValidation/DetectionTemplateSchemaValidationTests.cs
  .script/tests/detectionTemplateSchemaValidation/Models/AlertDetailsOverride.cs
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/DataAnnotationsValidator.cs
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/MaxAmountOfDynamicContentPlaceHoldersAttribute.cs
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/NonEmptyStringAttribute.cs
  .script/tests/detectionTemplateSchemaValidation/Models/QueryBasedTemplateInternalModel.cs
Labels: Validation

#3945 LastPass Solution Package Update
  Solutions/LastPass/Package/1.0.1.zip
  Solutions/LastPass/Package/Data/Solution_LastPass.json
  Solutions/LastPass/Package/createUiDefinition.json
  Solutions/LastPass/Package/mainTemplate.json
  Solutions/LastPass/SolutionMetadata.json
Labels: Solution

#3914 Solution update - DigitalGuardianDLP
  Solutions/DigitalGuardianDLP/Data/Solution_DigitalGuardianDLP.json
  Solutions/DigitalGuardianDLP/Package/1.0.2.zip
  Solutions/DigitalGuardianDLP/Package/createUiDefinition.json
  Solutions/DigitalGuardianDLP/Package/mainTemplate.json
  Solutions/DigitalGuardianDLP/SolutionMetadata.json
Labels: Solution

#3913 Solution update for CiscoWSA
  Solutions/CiscoWSA/Data/Solution_CiscoWSA.json
  Solutions/CiscoWSA/Package/1.0.3.zip
  Solutions/CiscoWSA/Package/createUiDefinition.json
  Solutions/CiscoWSA/Package/mainTemplate.json
  Solutions/CiscoWSA/SolutionMetadata.json
Labels: Solution

#4050 Creating Package for Tomcat
  Solutions/Tomcat/Data/Solution_Tomcat.json
  Solutions/Tomcat/Package/1.0.0.zip
  Solutions/Tomcat/Package/createUiDefinition.json
  Solutions/Tomcat/Package/mainTemplate.json
  Solutions/Tomcat/SolutionMetadata.json
Labels: Solution

#4038 update the package for ApacheHTTPServer
  Solutions/ApacheHTTPServer/Data/Solution_Apache Http Server.json
  Solutions/ApacheHTTPServer/Package/1.0.2.zip
  Solutions/ApacheHTTPServer/Package/createUiDefinition.json
  Solutions/ApacheHTTPServer/Package/mainTemplate.json
  Solutions/ApacheHTTPServer/SolutionMetadata.json
Labels: Solution

#4035 Package update for NGINX
  Solutions/NGINX/Data/Solution_Nginx.json
  Solutions/NGINX/Package/1.0.1.zip
  Solutions/NGINX/Package/createUiDefinition.json
  Solutions/NGINX/Package/mainTemplate.json
  Solutions/NGINX/SolutionMetadata.json
Labels: Solution

#4037 Update Package for OracleWebLogicServer
  Solutions/OracleWebLogicServer/Data/Solution_OracleWebLogicServer.json
  Solutions/OracleWebLogicServer/Package/1.0.1.zip
  Solutions/OracleWebLogicServer/Package/createUiDefinition.json
  Solutions/OracleWebLogicServer/Package/mainTemplate.json
  Solutions/OracleWebLogicServer/SolutionMetadata.json
Labels: Solution

#4051 Create Package for ZPA
  Solutions/ZPA/Data/Solution_ZPA.json
  Solutions/ZPA/Package/1.0.0.zip
  Solutions/ZPA/Package/createUiDefinition.json
  Solutions/ZPA/Package/mainTemplate.json
  Solutions/ZPA/SolutionMetadata.json
Labels: Solution

#4034 Update Package for VMware ESXi
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/1.0.2.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
Labels: Solution

#3485 add claroty content
  .script/tests/KqlvalidationsTests/CustomTables/ClarotyEvent.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Claroty/Analytic Rules/ClarotyAssetDown.yaml
  Solutions/Claroty/Analytic Rules/ClarotyCriticalBaselineDeviation.yaml
  Solutions/Claroty/Analytic Rules/ClarotyLoginToUncommonSite.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLogin.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLoginsSameDst.yaml
  Solutions/Claroty/Analytic Rules/ClarotyNewAsset.yaml
  Solutions/Claroty/Analytic Rules/ClarotyPolicyViolation.yaml
  Solutions/Claroty/Analytic Rules/ClarotySuspiciousActivity.yaml
  Solutions/Claroty/Analytic Rules/ClarotySuspiciousFileTransfer.yaml
  Solutions/Claroty/Analytic Rules/ClarotyTreat.yaml
  Solutions/Claroty/Hunting Queries/ClarotyBaselineDeviation.yaml
  Solutions/Claroty/Hunting Queries/ClarotyConflictAssets.yaml
  Solutions/Claroty/Hunting Queries/ClarotyCriticalEvents.yaml
  Solutions/Claroty/Hunting Queries/ClarotyPLCLogins.yaml
  Solutions/Claroty/Hunting Queries/ClarotySRAFailedLogins.yaml
  Solutions/Claroty/Hunting Queries/ClarotyScanSources.yaml
  Solutions/Claroty/Hunting Queries/ClarotyScantargets.yaml
  Solutions/Claroty/Hunting Queries/ClarotyUnapprovedAccess.yaml
  Solutions/Claroty/Hunting Queries/ClarotyUnresolvedAlerts.yaml
  Solutions/Claroty/Hunting Queries/ClarotyWriteExecuteOperations.yaml
  Solutions/Claroty/Workbooks/ClarotyBlack.png
  Solutions/Claroty/Workbooks/ClarotyOverview.json
  Solutions/Claroty/Workbooks/ClarotyWhite.png
Labels: Solution

#4030 Fixed and updated description for Citrix data connector and moved to Citrix folder
  DataConnectors/Citrix/CitrixSecurityAnalytics.json
  DataConnectors/Citrix/CitrixSecurityAnalyticsLicense.md
Labels: Connector

#4114 Bump version for consumption of alert details and event grouping
  Detections/ASimNetworkSession/ExcessiveDenyFromSource.yaml
  Detections/ASimNetworkSession/PossibleBeaconingActivity.yaml
  Detections/ASimWebSession/PossibleDGAContacts.yaml
  Detections/ASimWebSession/PotentiallyHarmfulFileTypes.yaml
  Detections/ASimWebSession/UnusualUACryptoMiners.yaml
  Detections/ASimWebSession/UnusualUAHackTool.yaml
  Detections/ASimWebSession/UnusualUAPowershell.yaml
  Detections/AWSGuardDuty/AWS_GuardDuty_template.yaml
  Detections/VectraAI/VectraDetect-Suspected-Behavior-by-Tactics.yaml
Labels: Validation

#3923 Duo Security Function Compatibility Fix
  DataConnectors/Duo Security/AzureFunctionDuoSecurity.zip
  DataConnectors/Duo Security/AzureFunctionDuoSecurity/run.ps1
Labels: Connector

#4104 Updated RareClientFileAccess.yaml
  Hunting Queries/W3CIISLog/RareClientFileAccess.yaml
Labels: Hunting

#4112 New NRT Rules Created
  Detections/AWSCloudTrail/NRT_AWS_ConsoleLogonWithoutMFA.yaml
  Detections/AuditLogs/NRT_ADFSDomainTrustMods.yaml
  Detections/AuditLogs/NRT_NewAppOrServicePrincipalCredential.yaml
  Detections/AuditLogs/NRT_PIMElevationRequestRejected.yaml
  Detections/AuditLogs/NRT_UseraddedtoPrivilgedGroups.yaml
  Detections/AzureActivity/NRT-AADHybridHealthADFSNewServer.yaml
  Detections/AzureDiagnostics/NRT_KeyVaultSensitiveOperations.yaml
  Detections/DnsEvents/NRT_DNS_Related_To_Mining_Pools.yaml
  Detections/OfficeActivity/NRT_Malicious_Inbox_Rule.yaml
  Detections/OfficeActivity/NRT_Office_MailForwarding.yaml
  Detections/SecurityEvent/NRT_SecurityEventLogCleared.yaml
  Detections/SecurityEvent/NRT_base64_encoded_pefile.yaml
  Detections/SecurityEvent/NRT_execute_base64_decodedpayload.yaml
  Detections/SigninLogs/NRT_MFARejectedbyUser.yaml
  Detections/Syslog/NRT_squid_events_for_mining_pools.yaml
Labels: Detection

#4127 Fixing typo for #4123
  Detections/AWSGuardDuty/AWS_GuardDuty_template.yaml
Labels: Detection

#4135 Directionality bug in Network Session ASIM parsers for Microsoft Windows Firewall Events
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftWindowsEventFirewall/ASimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftWindowsEventFirewall/vimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftWindowsEventFirewall.yaml
Labels: ASIM

#3916 Hunting Query Automation Fix
  Tools/Create-Azure-Sentinel-Solution/createSolution.ps1
Labels: Solution

#3871 [TrendMicro] Update new version data connector.
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/TimerTrigger/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/TimerTrigger/function.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/host.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_oat/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_oat/function.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_oat_poison/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_oat_poison/function.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_rca/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_rca/function.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_wb/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_wb/function.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_wb_poison/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/queue_trigger_wb_poison/function.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/requirements.txt
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/configurations.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/data/file_sub_true_type_mapping.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/data/file_true_type_mapping.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/data/meta_key_mapping.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/data/mitre_tag_mapping.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/data/operation_mapping.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/data/sae_filter_mapping.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/data_collector.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/exceptions.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/models/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/models/oat.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/services/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/services/oat_service.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/services/workbench_service.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/trace_utils/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/trace_utils/trace/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/trace_utils/trace/trace_manager.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/transform_utils.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/shared_code/utils.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/timer_trigger/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/timer_trigger/function.json
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/timer_trigger_oat/__init__.py
  DataConnectors/Trend Micro/AzureFunctionTrendMicroXDR/timer_trigger_oat/function.json
  DataConnectors/Trend Micro/TrendMicroXDR.json
  DataConnectors/Trend Micro/TrendMicroXDR_REST_API_Connector.json
  DataConnectors/Trend Micro/azuredeploy_TrendMicroVisionOne_API_FunctionApp.json
  DataConnectors/Trend Micro/azuredeploy_TrendMicroXDR.json
  DataConnectors/Trend Micro/host.json
  DataConnectors/Trend Micro/requirements.txt
  Sample Data/Custom/TrendMicro_XDR_CL.json
  Sample Data/Custom/TrendMicro_XDR_Health_Check_CL.json
  Sample Data/Custom/TrendMicro_XDR_OAT_CL.json
  Sample Data/Custom/TrendMicro_XDR_OAT_Health_Check_CL.json
  Sample Data/Custom/TrendMicro_XDR_RCA_Result_CL.json
  Sample Data/Custom/TrendMicro_XDR_RCA_Task_CL.json
  Sample Data/Custom/TrendMicro_XDR_WORKBENCH_CL.json
  Workbooks/TrendMicroXDROverview.json
  Workbooks/WorkbooksMetadata.json
Labels: Connector

#3749 added analytic content GCP DNS
  .script/tests/KqlvalidationsTests/CustomTables/GCPCloudDNS.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSCVE-2021-40444.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSDataExfiltration.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSExchangeAutodiscoverAbuse.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSIpCheck.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSIpDynDns.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSMaliciousPythonPackages.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSMultipleErrorsFromIp.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSMultipleErrorsQuery.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSPrintNightmare.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSSIGREDPattern.yaml
  Solutions/GoogleCloudPlatformDNS/Analytic Rules/GCPDNSUNC2452AptActivity.yaml
  Solutions/GoogleCloudPlatformDNS/Data Connectors/GCP_DNS_API_FunctionApp.json
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSErrors.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSIpLookup.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSOnlineShares.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSRareDomains.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSRareErrors.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSRequestToTOR.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSServerLatency.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSSourceHighErrors.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSUnexpectedTLD.yaml
  Solutions/GoogleCloudPlatformDNS/Hunting Queries/GCPDNSUnusualTLD.yaml
  Solutions/GoogleCloudPlatformDNS/Parsers/imDNSGCPCloudDNS.txt
  Solutions/GoogleCloudPlatformDNS/Workbooks/GCPDNS.json
  Solutions/GoogleCloudPlatformDNS/Workbooks/Images/GCPDNSBlack.png
  Solutions/GoogleCloudPlatformDNS/Workbooks/Images/GCPDNSWhite.png
Labels: Waiting on poster, Solution, Detection

#4079 Update UserPrincipalNameAssignedToUserAccount.yaml
  Detections/SecurityEvent/UserPrincipalNameAssignedToUserAccount.yaml
Labels: Detection

#4101 Create FakeComputerAccountAuthenticationAttempt.yaml
  Hunting Queries/SecurityEvent/FakeComputerAccountAuthenticationAttempt.yaml
Labels: Detection

#4103 Create LargeScaleMalwareDeploymentGPOScheduledTask.yaml
  Hunting Queries/SecurityEvent/LargeScaleMalwareDeploymentGPOScheduledTask.yaml
Labels: Detection

#4170 asim/azure-firewall-network-parser
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionAzureFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAzureFirewall.yaml
Labels: ASIM

#4159 Create RemoteLoginPerformedwithWMI.yaml
  Hunting Queries/SecurityEvent/RemoteLoginPerformedwithWMI.yaml
Labels: Hunting

#4169 Create WindowsBinariesExecutedfromNon-DefaultDirectory.yaml
  Detections/SecurityEvent/WindowsBinariesExecutedfromNon-DefaultDirectory.yaml
Labels: Detection

#4202 asim/fix-vimProcessEventsMicrosoft365D-naming
  Parsers/ASimProcessEvent/ARM/ProcessEventCreate/ProcessEventCreate.json
  Parsers/ASimProcessEvent/ARM/ProcessEventFullDeployment.json
  Parsers/ASimProcessEvent/ARM/ProcessEventMicrosoft365D/ProcessEventMicrosoft365D.json
  Parsers/ASimProcessEvent/ARM/README.md
  Parsers/ASimProcessEvent/README.md
Labels: ASIM

#4203 asim/fix-security-event
  Parsers/ASimAuthentication/ARM/ASimAuthenticationMicrosoftWindowsEvent/ASimAuthenticationMicrosoftWindowsEvent.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationMicrosoftWindowsEvent/vimAuthenticationMicrosoftWindowsEvent.json
  Parsers/ASimProcessEvent/ARM/ProcessEventMicrosoftWindowsEventCreate/ProcessEventMicrosoftWindowsEventCreate.json
  Parsers/ASimProcessEvent/ARM/ProcessEventMicrosoftWindowsEventTerminate/ProcessEventMicrosoftWindowsEventTerminate.json
Labels: ASIM

#4194 Ensured ProcssedID's are in dec format
  Parsers/ASimProcessEvent/ProductParsers/ProcessEventMicrosoftWindowsEventCreate.yaml
  Parsers/ASimProcessEvent/ProductParsers/ProcessEventMicrosoftWindowsEventTerminate.yaml
Labels: ASIM

#4210 Detection to explore users reading the local device identity key
  Hunting Queries/SecurityEvent/UsersOpenReadDeviceIdentityKey.yaml
Labels: Hunting

#4218 Update AuthenticationMethodsChangesforPriviledgedAccount to correctly lowercase string before matching
  Detections/MultipleDataSources/AuthenticationMethodsChangedforPrivilegedAccount.yaml
Labels: Detection

#4193 Create RemoteScheduledTaskCreationUpdateviaSchtasks.yaml
  Hunting Queries/SecurityEvent/RemoteScheduledTaskCreationUpdateviaSchtasks.yaml
Labels: Hunting

#4226 asim/fix-hex-id-user-origid
  Parsers/ASimAuthentication/ProductParsers/ASimAuthenticationM365Defender.yaml
  Parsers/ASimAuthentication/ProductParsers/vimAuthenticationM365Defender.yaml
  Parsers/ASimProcessEvent/ProductParsers/ProcessEventMicrosoftSecurityEventsCreate.yaml
  Parsers/ASimProcessEvent/ProductParsers/ProcessEventMicrosoftSecurityEventsTerminate.yaml
  Parsers/ASimProcessEvent/ProductParsers/ProcessEventMicrosoftSysmonCreate.yaml
  Parsers/ASimProcessEvent/ProductParsers/ProcessEventMicrosoftWindowsEventTerminate.yaml
  Parsers/ASimRegistry/ProductParsers/RegistryEventMicrosoftSecurityEvents.yaml
  Parsers/ASimRegistry/ProductParsers/RegistryEventMicrosoftWindowsEvent.yaml
Labels: ASIM

#4228 disabled flag fix
  Parsers/ASimDns/ARM/ASimDnsMicrosoftSysmon/ASimDnsMicrosoftSysmon.json
  Parsers/ASimDns/ProductParsers/ASimDnsMicrosoftSysmon.yaml
Labels: bug, ASIM

#4064 Windows event batch3 v2
  Detections/MultipleDataSources/AADHostLoginCorrelation.yaml
  Detections/MultipleDataSources/ADFS-DKM-MasterKey-Export.yaml
  Detections/MultipleDataSources/EmailAccessviaActiveSync.yaml
  Detections/MultipleDataSources/ExchangeServerVulnerabilitiesMarch2021IoCs.yaml
  Detections/MultipleDataSources/GainCodeExecutionADFSviaWMI.yaml
  Detections/MultipleDataSources/SUNSPOTLogFile.yaml
  Detections/SecurityEvent/powershell_empire.yaml
Labels: Detection, WindowsEventProject

#4222 renaming disable flag Dns Auth Web Nw
  Parsers/ASimAuthentication/ARM/ASimAuthentication/ASimAuthentication.json
  Parsers/ASimAuthentication/ARM/imAuthentication/imAuthentication.json
  Parsers/ASimAuthentication/ProductParsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/ProductParsers/imAuthentication.yaml
  Parsers/ASimDns/ARM/ASimDns/ASimDns.json
  Parsers/ASimDns/ARM/imDns/imDns.json
  Parsers/ASimDns/ProductParsers/ASimDns.yaml
  Parsers/ASimDns/ProductParsers/imDns.yaml
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimWebSession/ARM/ASimWebSession/ASimWebSession.json
  Parsers/ASimWebSession/ARM/imWebSession/imWebSession.json
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
Labels: ASIM, Parser

#3992 NISTSP80053 Solution
  Solutions/NISTSP80053/Analytic Rules/NISTSP80053R4PostureChanged.yaml
  Solutions/NISTSP80053/Playbooks/Notify_GovernanceComplianceTeam.json
  Solutions/NISTSP80053/Playbooks/Open_DevOpsTaskRecommendation.json
  Solutions/NISTSP80053/Playbooks/Open_JIRATicketRecommendation.json
  Solutions/NISTSP80053/Workbooks/Images/NISTSP80053Black.png
  Solutions/NISTSP80053/Workbooks/Images/NISTSP80053White.png
  Solutions/NISTSP80053/Workbooks/NISTSP80053R4.json
  Solutions/NISTSP80053/readme.md
Labels: Solution

#3896 Workspace Usage
  Workbooks/WorkbooksMetadata.json
  Workbooks/WorkspaceUsage.json
Labels: Workbook

#3975 Update README.md
  Solutions/LastPass/README.md
Labels: Solution

#4089 Create CiscoFirepower.json
  Workbooks/CiscoFirepower.json
  Workbooks/Images/Preview/CiscoFirepowerBlack.png
  Workbooks/Images/Preview/CiscoFirepowerWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4249 Corrects multiple detection rule's techniques-tactics mappings.
  Detections/ASimFileEvent/imFileESolarWindsSunburstSupernova.yaml
  Detections/ASimProcess/imProcess_malware_in_recyclebin.yaml
  Detections/DeviceEvents/SolarWinds_TEARDROP_Process-IOCs.yaml
  Detections/DeviceFileEvents/SolarWinds_SUNBURST_&_SUPERNOVA_File-IOCs.yaml
  Detections/DeviceNetworkEvents/SolarWinds_SUNBURST_Network-IOCs.yaml
  Detections/MultipleDataSources/MFADisable.yaml
  Detections/SecurityEvent/PotentialKerberoast.yaml
  Detections/SigninLogs/AzureAADPowerShellAnomaly.yaml
Labels: Detection

#4246 Updated signin burst hunting query based on user feedback
  Hunting Queries/SigninLogs/signinBurstFromMultipleLocations.yaml
Labels: Hunting

#4235 Remove Duplicate Query in Filter for Known Domains Using Long DNS
  Hunting Queries/DnsEvents/DNS_LongURILookup.yaml
Labels: Hunting

#4211 asim/nsg-network-parser
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionAzureFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionAzureNSG.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAzureNSG.yaml
Labels: ASIM

#4120 Added Windows Event batch5 - Detections
  Detections/SecurityEvent/UserAccountCreatedDeleted_10m.yaml
  Detections/SecurityEvent/UserAccountEnabledDisabled_10m.yaml
  Detections/SecurityEvent/UserCreatedAddedToBuiltinAdmins_1d.yaml
Labels: WindowsEventProject

#4128 Adding a new workook for MicrosoftTeams
  Workbooks/Images/Logos/microsoftteams.svg
  Workbooks/Images/Preview/MicrosoftTeamsBlack.png
  Workbooks/Images/Preview/MicrosoftTeamsWhite.png
  Workbooks/MicrosoftTeams.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#3890 Palo Alto Solution Updates
  Solutions/PaloAltoCDL/Package/1.0.2.zip
  Solutions/PaloAltoPrismaCloud/Package/1.0.3.zip
  Solutions/PaloAltoPrismaCloud/Package/createUiDefinition.json
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
Labels: Solution
