Repository Azure/Azure-Sentinel, pull requests merged in 2022-11, with the labels that each got.

#5765 Forescout Host Property Monitor solution - initial version
  .script/tests/KqlvalidationsTests/CustomTables/ForescoutHostProperties_CL.json
  Logos/forescout-logo.svg
  Solutions/ForescoutHostPropertyMonitor/Analytic Rules/ForeScout-DNSSniffEventMonitor.yaml
  Solutions/ForescoutHostPropertyMonitor/Data Connectors/ForescoutHostPropertyMonitor.json
  Solutions/ForescoutHostPropertyMonitor/Data/Solution_ForescoutHostProp.json
  Solutions/ForescoutHostPropertyMonitor/Package/1.0.0.zip
  Solutions/ForescoutHostPropertyMonitor/Package/2.0.0.zip
  Solutions/ForescoutHostPropertyMonitor/Package/createUiDefinition.json
  Solutions/ForescoutHostPropertyMonitor/Package/mainTemplate.json
  Solutions/ForescoutHostPropertyMonitor/Playbooks/Forescout-DNSSniffEventPlaybook.json
  Solutions/ForescoutHostPropertyMonitor/Playbooks/ReadMe.md
  Solutions/ForescoutHostPropertyMonitor/Playbooks/forescout-logo.png
  Solutions/ForescoutHostPropertyMonitor/SolutionMetadata.json
Labels: Playbook, Solution, Detection

#6507 Updating Azure storage account Solution with rectified Connector
  Solutions/Azure Storage/Data Connectors/AzureStorageAccount_CCP.JSON
  Solutions/Azure Storage/Data/Solution_AzureStorage.json
  Solutions/Azure Storage/Package/2.0.1.zip
  Solutions/Azure Storage/Package/createUiDefinition.json
  Solutions/Azure Storage/Package/mainTemplate.json
Labels: Solution

#6527 Updated data connector version for Vcenter
  Solutions/VMware vCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/VMware vCenter/Package/2.0.1.zip
  Solutions/VMware vCenter/Package/mainTemplate.json
Labels: Solution

#6504 Package update with playbooks of TenableIO
  Solutions/TenableIO/Data/Solution_TenableIO.json
  Solutions/TenableIO/Package/2.0.2.zip
  Solutions/TenableIO/Package/createUiDefinition.json
  Solutions/TenableIO/Package/mainTemplate.json
  Solutions/TenableIO/Playbooks/Playbooks/Tenable-LaunchScan/azuredeploy.json
Labels: Solution

#6528 Modifying Azure Storage account Solution
  Solutions/Azure Storage/Data/Solution_AzureStorage.json
  Solutions/Azure Storage/Package/2.0.1.zip
  Solutions/Azure Storage/Package/mainTemplate.json
Labels: Solution

#6525 Unable to package new workbooks locally
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#4679 created new rule for NRT Authentication Methods Changed for VIP Users
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Detections/AuditLogs/NRT_AuthenticationMethodsChangedforVIPUsers.yaml
Labels: Detection

#6517 Update metadata for Forcepoint solutions
  Solutions/Forcepoint CASB/Data/Solution_ForcepointCASB.json
  Solutions/Forcepoint CASB/Package/2.0.1.zip
  Solutions/Forcepoint CASB/Package/mainTemplate.json
  Solutions/Forcepoint CASB/SolutionMetadata.json
  Solutions/Forcepoint CSG/Data/Solution_ForcepointCSG.json
  Solutions/Forcepoint CSG/Package/2.0.1.zip
  Solutions/Forcepoint CSG/Package/mainTemplate.json
  Solutions/Forcepoint CSG/SolutionMetadata.json
  Solutions/Forcepoint DLP/Data/Solution_ForcepointDLP.json
  Solutions/Forcepoint DLP/Package/2.0.1.zip
  Solutions/Forcepoint DLP/Package/mainTemplate.json
  Solutions/Forcepoint DLP/SolutionMetadata.json
  Solutions/Forcepoint NGFW/Data/Solution_ForcepointNGFW.json
  Solutions/Forcepoint NGFW/Package/2.0.1.zip
  Solutions/Forcepoint NGFW/Package/mainTemplate.json
  Solutions/Forcepoint NGFW/SolutionMetadata.json
Labels: Solution

#6445 Update DetectionTemplateSchemaValidationTests.cs
  .script/tests/detectionTemplateSchemaValidation/DetectionTemplateSchemaValidationTests.cs
Labels: Detection, Validation

#6483 Create MicrosoftSentinelCost(GBP).json
  Workbooks/Images/Preview/MicrosoftSentinelCostGBPBlack.png
  Workbooks/Images/Preview/MicrosoftSentinelCostGBPWhite.png
  Workbooks/MicrosoftSentinelCostGBP.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4332 Created an automation to keep service tags updated.
  Tools/SyncMSServiceTags/README.md
  Tools/SyncMSServiceTags/msServiceTagsSync.yml
  Tools/SyncMSServiceTags/syncMSServiceTags.ps1
Labels: javascript

#6540 Security Score Card Workbook metadata changes
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution

#6458 [DO NOT MERGE] Proofpoint Tap Runtime Version
  DataConnectors/Proofpoint TAP/AzureFunctionProofpointTAP.zip
  DataConnectors/Proofpoint TAP/azuredeploy_ProofpointTAP_API_FunctionApp.json
  DataConnectors/Proofpoint TAP/host.json
Labels: Connector

#6526 update package new version 2.0.1
  Solutions/archTIS/Data/Solution_archTIS.json
  Solutions/archTIS/Package/2.0.1.zip
  Solutions/archTIS/Package/mainTemplate.json
  Solutions/archTIS/SolutionMetadata.json
Labels: Solution

#6541 Update Cloudflare support details
  Solutions/Cloudflare/Data/Solution_Cloudflare.json
  Solutions/Cloudflare/Package/2.0.1.zip
  Solutions/Cloudflare/Package/mainTemplate.json
  Solutions/Cloudflare/SolutionMetadata.json
Labels: Solution

#6546 ThreatAnalysis solution-broken link fixes
  Solutions/ThreatAnalysis&Response/Workbooks/ThreatAnalysis&Response.json
Labels: Workbook, Solution

#6542 Repackage solution Semperis Directory Services Protector
  Solutions/Semperis Directory Services Protector/Data/Solution_Semperis.json
  Solutions/Semperis Directory Services Protector/Package/2.0.1.zip
  Solutions/Semperis Directory Services Protector/Package/createUiDefinition.json
  Solutions/Semperis Directory Services Protector/Package/mainTemplate.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPWorkbook.json
Labels: Solution

#6431 Okta Solution package 2.0.2
  Solutions/Okta Single Sign-On/Data Connectors/Okta Single Sign-On/Connector_REST_API_FunctionApp_Okta.json
  Solutions/Okta Single Sign-On/Package/2.0.2.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
Labels: Solution

#6538 Fixing Special char issues in solution.
  Solutions/AzureDevOpsAuditing/Data/Solution_AzureDevOpsAuditing.json
  Solutions/AzureDevOpsAuditing/Package/2.0.1.zip
  Solutions/AzureDevOpsAuditing/Package/createUiDefinition.json
  Solutions/AzureDevOpsAuditing/Package/mainTemplate.json
  Solutions/AzureDevOpsAuditing/SolutionMetadata.json
Labels: Solution

#6537 Cisco WSA special char fix.
  Solutions/CiscoWSA/Data/Solution_CiscoWSA.json
  Solutions/CiscoWSA/Package/2.0.1.zip
  Solutions/CiscoWSA/Package/mainTemplate.json
  Solutions/CiscoWSA/SolutionMetadata.json
Labels: Solution

#6534 Holm Security for Azure Sentinel solution 2.0.1
  Solutions/HolmSecurity/Data Connectors/HolmSecurityAssets_API_FunctionApp.json
  Solutions/HolmSecurity/Data/Solution_HolmSecurity.json
  Solutions/HolmSecurity/Package/2.0.1.zip
  Solutions/HolmSecurity/Package/mainTemplate.json
  Solutions/HolmSecurity/SolutionMetadata.json
Labels: Solution

#6533 cisco firepower e streamer solution package 2.0.1
  Solutions/Cisco Firepower EStreamer/Package/2.0.2.zip
  Solutions/Cisco Firepower EStreamer/Package/mainTemplate.json
  Solutions/Cisco Firepower EStreamer/SolutionMetadata.json
Labels: Solution

#6532 AgileSec Analytics Connector Solution package fix.
  Solutions/AgileSec Analytics Connector/Data/Solution_InfoGlobal.json
  Solutions/AgileSec Analytics Connector/Package/2.0.0.zip
  Solutions/AgileSec Analytics Connector/Package/createUiDefinition.json
  Solutions/AgileSec Analytics Connector/Package/mainTemplate.json
Labels: Solution

#6432 Eset Protect Data connector instruction modification
  Solutions/ESETPROTECT/Data Connectors/Connector_Syslog_ESETPROTECT.json
Labels: Solution

#6373 Removes trailing whitespace
  Hunting Queries/Microsoft 365 Defender/Campaigns/KNOTWEED/KNOTWEED-AVDetections.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/KNOTWEED/KNOTWEED-COMRegistryKeyModifiedtoPointtoColorProfileFolder.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/KNOTWEED/KNOTWEED-DomainIOCsJuly2022.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/KNOTWEED/KNOTWEED-DownloadingnewfileusingCurl.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/KNOTWEED/KNOTWEED-FileHashIOCsJuly2022.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/KNOTWEED/KNOTWEED-PEFileDroppedinColorProfileFolder.yaml
Labels: Hunting

#6539 Fixing case sensitivity issue in solutions for Partner word.
  Solutions/NXLogDnsLogs/Data/Solution_NXLogDnsLogs.json
  Solutions/NXLogDnsLogs/Package/2.0.1.zip
  Solutions/NXLogDnsLogs/Package/mainTemplate.json
  Solutions/NXLogDnsLogs/SolutionMetadata.json
Labels: Solution

#6519 Standalone content tagging PR for Hunting Queries
  Hunting Queries/ASimProcess/Discorddownloadinvokedfromcmdline(ASIMVersion).yaml
  Hunting Queries/ASimRegistry/Crashdumpdisabledonhost(ASIMVersion).yaml
  Hunting Queries/AWSS3/AWSBucketAPILogs-S3BucketDataTransferTimeSeriesAnomaly.yaml
  Hunting Queries/AWSS3/AWSBucketAPILogs-SuspiciousDataAccessToS3BucketsfromUnknownIP.yaml
  Hunting Queries/AuditLogs/ConsentToApplicationDiscovery.yaml
  Hunting Queries/AuditLogs/RareAuditActivityByApp.yaml
  Hunting Queries/AuditLogs/RareAuditActivityByUser.yaml
  Hunting Queries/AuditLogs/UserGrantedAccess_AllAuditActivity.yaml
  Hunting Queries/AuditLogs/UserGrantedAccess_GrantsOthersAccess.yaml
  Hunting Queries/AzureActivity/Azure-CloudShell-Usage.yaml
  Hunting Queries/AzureDiagnostics/CriticalPortsOpened.yaml
  Hunting Queries/MultipleDataSources/AzureResourceAssignedPublicIP.yaml
  Hunting Queries/MultipleDataSources/AzureResourceCreationWithNetworkActivity.yaml
  Hunting Queries/MultipleDataSources/CobaltDNSBeacon.yaml
  Hunting Queries/MultipleDataSources/FailedSigninsWithAuditDetails.yaml
  Hunting Queries/MultipleDataSources/LogonwithExpiredAccount.yaml
  Hunting Queries/MultipleDataSources/NetworkConnectiontoOMIPorts.yaml
  Hunting Queries/MultipleDataSources/PermutationsOnLogonNames.yaml
  Hunting Queries/MultipleDataSources/RareDNSLookupWithDataTransfer.yaml
  Hunting Queries/MultipleDataSources/RareDomainsInCloudLogs.yaml
  Hunting Queries/MultipleDataSources/STRONTIUM_IOC_RetroHunt.yaml
  Hunting Queries/MultipleDataSources/SolarWindsInventory.yaml
  Hunting Queries/MultipleDataSources/TrackingPasswordChanges.yaml
  Hunting Queries/MultipleDataSources/TrackingPrivAccounts.yaml
  Hunting Queries/MultipleDataSources/UserGrantedAccess_CreatesResources.yaml
  Hunting Queries/MultipleDataSources/UseragentExploitPentest.yaml
  Hunting Queries/SecurityAlert/AlertsForIP.yaml
  Hunting Queries/SecurityAlert/WebShellCommandAlertEnrich.yaml
  Hunting Queries/SecurityAlert/WebShellFileAlertEnrich.yaml
  Hunting Queries/SecurityEvent/ExternalIPaddressinCommandLine.yaml
  Hunting Queries/SigninLogs/AnomalousUserAppSigninLocationIncrease.yaml
  Hunting Queries/SigninLogs/AnomalousUserAppSigninLocationIncreaseDetail.yaml
  Hunting Queries/SigninLogs/DisabledAccountSigninAttempts.yaml
  Hunting Queries/SigninLogs/DisabledAccountSigninAttemptsByIP.yaml
  Hunting Queries/SigninLogs/InactiveAccounts.yaml
  Hunting Queries/SigninLogs/LegacyAuthAttempt.yaml
  Hunting Queries/SigninLogs/LoginSpikeWithIncreaseFailureRate.yaml
  Hunting Queries/SigninLogs/MFAUserBlocked.yaml
  Hunting Queries/SigninLogs/SignInLogsWithExpandedPolicies.yaml
  Hunting Queries/SigninLogs/Signins-From-VPS-Providers.yaml
  Hunting Queries/SigninLogs/Signins-from-NordVPN-Providers.yaml
  Hunting Queries/SigninLogs/SuccessThenFail_SameUserDiffApp.yaml
  Hunting Queries/SigninLogs/UnauthUser_AzurePortal.yaml
  Hunting Queries/SigninLogs/UserLoginIPAddressTeleportation.yaml
  Hunting Queries/SigninLogs/anomalous_app_azuread_signin.yaml
  Hunting Queries/SigninLogs/new_locations_azuread_signin.yaml
  Hunting Queries/SigninLogs/signinBurstFromMultipleLocations.yaml
  Hunting Queries/Syslog/disabled_account_squid_usage.yaml
  Hunting Queries/W3CIISLog/ClientIPwithManyUserAgents.yaml
  Hunting Queries/W3CIISLog/PotentialWebshell.yaml
  Hunting Queries/W3CIISLog/Potential_IIS_BF.yaml
  Hunting Queries/W3CIISLog/RareClientFileAccess.yaml
  Hunting Queries/W3CIISLog/RareUserAgentStrings.yaml
  Hunting Queries/W3CIISLog/SuspectedMailBoxExportHostonOWA.yaml
  Hunting Queries/WireData/WireDataBeacon.yaml
  Hunting Queries/ZoomLogs/HighCPURoom.yaml
  Hunting Queries/ZoomLogs/MultipleRegistrationDenies.yaml
  Hunting Queries/ZoomLogs/NewDomainAccess.yaml
  Hunting Queries/ZoomLogs/NewTZ.yaml
Labels: Hunting

#6536 Cisco Duo Security special char fix.
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Package/2.0.3.zip
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/SolutionMetadata.json
Labels: Solution

#6234 SlashNext TemplateSpec solution
  Solutions/SlashNext/Data/Solution_SlashNext.json
  Solutions/SlashNext/FunctionApp/deploy.json
  Solutions/SlashNext/Package/1.0.0.zip
  Solutions/SlashNext/Package/2.0.0.zip
  Solutions/SlashNext/Package/createUiDefinition.json
  Solutions/SlashNext/Package/mainTemplate.json
  Solutions/SlashNext/Playbooks/SlashNextPhishingIncidentInvestigation/deploy.json
  Solutions/SlashNext/Playbooks/SlashNextURLInvestigationConnector/deploy.json
  Solutions/SlashNext/Playbooks/SlashNextWebAccessLogAssessment/deploy.json
  Solutions/SlashNext/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_SlashNext.json
Labels: Solution

#6558 ExtraHop Solution Publisher Id Update
  Solutions/ExtraHop Reveal(x)/Package/2.0.1.zip
  Solutions/ExtraHop Reveal(x)/Package/mainTemplate.json
  Solutions/ExtraHop Reveal(x)/SolutionMetadata.json
Labels: Solution

#6550 add tenant id as input
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPInitialAuthenticationSetup/GCPInitialAuthenticationSetup.tf
Labels: Connector

#6552 Re-packaged the Threat Analysis&Response
  Solutions/ThreatAnalysis&Response/Package/2.0.2.zip
  Solutions/ThreatAnalysis&Response/Package/mainTemplate.json
  Solutions/ThreatAnalysis&Response/data/Solution_ThreatAnalysis&Response.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#6557 SlashNext Solution Publisher Id Update
  Solutions/SlashNext/Package/1.0.0.zip
  Solutions/SlashNext/Package/2.0.0.zip
  Solutions/SlashNext/Package/mainTemplate.json
  Solutions/SlashNext/SolutionMetadata.json
Labels: Solution

#6313 Package update for TheHive solution
  Solutions/TheHive/Data/Solution_TheHive.json
  Solutions/TheHive/Package/2.0.2.zip
  Solutions/TheHive/Package/createUiDefinition.json
  Solutions/TheHive/Package/mainTemplate.json
  Solutions/TheHive/Playbooks/TheHive-CreateAlert/azuredeploy.json
  Solutions/TheHive/Playbooks/TheHive-CreateAlert/readme.md
  Solutions/TheHive/Playbooks/TheHive-CreateCase/azuredeploy.json
  Solutions/TheHive/Playbooks/TheHive-CreateCase/readme.md
  Solutions/TheHive/Playbooks/TheHive-LockUser/azuredeploy.json
  Solutions/TheHive/Playbooks/TheHive-LockUser/readme.md
  Solutions/TheHive/Playbooks/TheHiveConnector/azuredeploy.json
  Solutions/TheHive/Playbooks/readme.md
Labels: Solution

#6568 Repackaging Google Cloud Platform IAM- support name change
  Solutions/GoogleCloudPlatformIAM/Package/2.0.1.zip
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/SolutionMetadata.json
Labels: Solution

#6551 New ZeroNetworks Solution version
  Solutions/ZeroNetworks/Data Connectors/SegmentNativePollerConnector/azuredeploy_ZeroNetworks_Segment_native_poller_connector.json
  Solutions/ZeroNetworks/Data/Solution_ZeroNetworks.json
  Solutions/ZeroNetworks/Package/2.0.1.zip
  Solutions/ZeroNetworks/Package/createUiDefinition.json
  Solutions/ZeroNetworks/Package/mainTemplate.json
Labels: Connector, Solution

#6570 Sentinel One Instruction Update
  Solutions/SentinelOne/Data Connectors/SentinelOne_API_FunctionApp.json
  Solutions/SentinelOne/Data/Solution_SentinelOne.json
  Solutions/SentinelOne/Package/2.0.1.zip
  Solutions/SentinelOne/Package/mainTemplate.json
Labels: Solution

#6554 Updating packages for Catalog rectification
  Solutions/Orca Security Alerts/Data/Solution_ Orca Security Alerts.json
  Solutions/Orca Security Alerts/Package/2.0.1.zip
  Solutions/Orca Security Alerts/Package/mainTemplate.json
  Solutions/Orca Security Alerts/SolutionMetadata.json
  Solutions/Perimeter 81/Data/Solution_ Perimeter 81.json
  Solutions/Perimeter 81/Package/2.0.1.zip
  Solutions/Perimeter 81/Package/mainTemplate.json
  Solutions/Perimeter 81/SolutionMetadata.json
  Solutions/SonicWall Firewall/Data/Solution_ SonicWall Firewall.json
  Solutions/SonicWall Firewall/Package/2.0.4.zip
  Solutions/SonicWall Firewall/Package/mainTemplate.json
  Solutions/SonicWall Firewall/SolutionMetadata.json
  Solutions/Vectra AI Detect/Data/Solution_Vectra AI Detect.json
  Solutions/Vectra AI Detect/Package/2.0.3.zip
  Solutions/Vectra AI Detect/Package/mainTemplate.json
  Solutions/Vectra AI Detect/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Solution

#6565 Threat Intelligence Platforms needed.
  Playbooks/Get-AlienVault_OTX/readme.md
Labels: Playbook

#6580 Repackage Barracuda CloudGen Firewall
  Solutions/Barracuda CloudGen Firewall/Data Connectors/template_BarracudaCloudFirewall.JSON
  Solutions/Barracuda CloudGen Firewall/Data/Solution_BarracudaCloudGenFirewall.json
  Solutions/Barracuda CloudGen Firewall/Package/2.0.0.zip
  Solutions/Barracuda CloudGen Firewall/Package/createUiDefinition.json
  Solutions/Barracuda CloudGen Firewall/Package/mainTemplate.json
  Solutions/Barracuda CloudGen Firewall/Parsers/CGFWFirewallActivity.txt
Labels: Solution

#6584 Update Barracuda logo
  Solutions/Barracuda CloudGen Firewall/Data/Solution_BarracudaCloudGenFirewall.json
  Solutions/Barracuda CloudGen Firewall/Package/2.0.0.zip
  Solutions/Barracuda CloudGen Firewall/Package/createUiDefinition.json
Labels: Solution

#6572 GetEnumerator() not returning array/ht when single result
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#6575 Citrix Solution Changes
  Solutions/Citrix Analytics for Security/Data Connectors/CitrixSecurityAnalytics.json
  Solutions/Citrix Analytics for Security/Data/Solution_CitrixAnalytics.json
  Solutions/Citrix Analytics for Security/Package/2.0.1.zip
  Solutions/Citrix Analytics for Security/Package/mainTemplate.json
  Solutions/Citrix Analytics for Security/SolutionMetadata.json
Labels: Solution

#6585 Update template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
Labels: Connector, Solution

#6574 PRv2: Advanced Sentinel Costs, custom queries
  Workbooks/Images/Preview/SentinelCostsBlack.png
  Workbooks/Images/Preview/SentinelCostsWhite.png
  Workbooks/SentinelCosts.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6510 Create Cross-tenantAccessSettingsOrganizationDeleted.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationAdded.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationDeleted.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationInboundCollaborationSettingsChanged.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationInboundDirectSettingsChanged.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationOutboundCollaborationSettingsChanged.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationOutboundDirectSettingsChanged.yaml
Labels: Detection

#6579 Feature/danielohfeld/add gcp terraform
  DataConnectors/GCP/ArmTemplate/GCPOnboarding.json
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPInitialAuthenticationSetup/GCPInitialAuthenticationSetup.tf
Labels: Connector

#6555 Update workbook WorkspaceUsage KQL for Daily Checks - Data Connector tables
  Workbooks/WorkbooksMetadata.json
  Workbooks/WorkspaceUsage.json
Labels: Workbook

#6600 Updated publisherId for archtis solution
  Solutions/archTIS/Package/2.0.1.zip
  Solutions/archTIS/Package/mainTemplate.json
  Solutions/archTIS/SolutionMetadata.json
Labels: Solution

#6603 Update WorkbooksMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6601 Updated Trend Micro Deep Security for offerId
  Solutions/Trend Micro Deep Security/Package/2.0.1.zip
  Solutions/Trend Micro Deep Security/Package/mainTemplate.json
  Solutions/Trend Micro Deep Security/SolutionMetadata.json
Labels: Solution

#6593 Updating Incident names in watchlist to match analytic rules
  Solutions/SOC-Process-Framework/Watchlists/SOC-Recommended-Actions/SocRA.json
Labels: Solution, WatchList

#6604 ForescoutHostPropertyMonitor - Solution ID update
  Solutions/ForescoutHostPropertyMonitor/Package/2.0.0.zip
  Solutions/ForescoutHostPropertyMonitor/Package/mainTemplate.json
  Solutions/ForescoutHostPropertyMonitor/SolutionMetadata.json
Labels: Solution

#6408 Analytic rules validations issue fixes
  .github/workflows/validateVersionChangedInDetections.yml
  .script/checkThatTemplatesVersionWasChanged.sh
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/NewEntityMappingsAttribute.cs
  Detections/CiscoUmbrella/CiscoUmbrellaConnectionToUnpopularWebsiteDetected.yaml
  Detections/CiscoUmbrella/CiscoUmbrellaCryptoMinerUserAgentDetected.yaml
  Detections/CiscoUmbrella/CiscoUmbrellaEmptyUserAgentDetected.yaml
  Detections/CiscoUmbrella/CiscoUmbrellaHackToolUserAgentDetected.yaml
  Detections/CiscoUmbrella/CiscoUmbrellaPowershellUserAgentDetected.yaml
  Detections/CiscoUmbrella/CiscoUmbrellaRareUserAgentDetected.yaml
  Detections/ProofpointPOD/ProofpointPODWeakCiphers.yaml
  Solutions/Armorblox/Analytic Rules/ArmorbloxNeedsReviewAlert.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaConnectionToUnpopularWebsiteDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaCryptoMinerUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaEmptyUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaHackToolUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaPowershellUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaRareUserAgentDetected.yaml
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_Filename_Commandline_IOC.yaml
Labels: Validation

#6103 Salesforce content enrichment
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-BruteForce.yaml
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-PasswordSpray.yaml
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-SigninsMultipleCountries.yaml
  Solutions/Salesforce Service Cloud/Parsers/SalesforceServiceCloud
  Solutions/Salesforce Service Cloud/Parsers/SalesforceServiceCloud.txt
  Solutions/Salesforce Service Cloud/TSG/Salesforce Service Cloud Account Setup.docx
  Solutions/Salesforce Service Cloud/Workbooks/SalesforceServiceCloud.json
Labels: Parser, Workbook, Solution, Detection

#6477 Virtual Machine Scale Set to forward syslog to Microsoft Sentinel using AMA
  DataConnectors/Syslog-VMSS-AMA/README.md
  DataConnectors/Syslog-VMSS-AMA/azureDeploy.json
Labels: Connector

#6562 Repackaging Solutions for Provider change - Incorrect Provider in metadata
  Solutions/Akamai Security Events/Data/Solution_Akamai.json
  Solutions/Akamai Security Events/Package/2.0.1.zip
  Solutions/Akamai Security Events/Package/createUiDefinition.json
  Solutions/Akamai Security Events/Package/mainTemplate.json
  Solutions/Akamai Security Events/SolutionMetadata.json
  Solutions/AkamaiSecurityEvents/SolutionMetadata.json
  Solutions/AtlassianConfluenceAudit/ConfluenceNativePollerConnector/azuredeploy_Confluence_native_poller_connector.json
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/ConfluenceAudit_API_FunctionApp.json
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/2.0.2.zip
  Solutions/AtlassianConfluenceAudit/Package/createUiDefinition.json
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/SolutionMetadata.json
  Solutions/CiscoUmbrella/Data/Solution_CiscoUmbrella.json
  Solutions/CiscoUmbrella/Package/2.0.1.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/Package/mainTemplate.json
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AddIpToDestinationList/readme.md
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AssignPolicyToIdentity/readme.md
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-BlockDomain/readme.md
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-GetDomainInfo/readme.md
  Solutions/CiscoUmbrella/Playbooks/readme.md
  Solutions/CiscoUmbrella/SolutionMetadata.json
  Solutions/Forescout/Data/Solution_Forescout.json
  Solutions/Forescout/Package/2.0.2.zip
  Solutions/Forescout/Package/mainTemplate.json
  Solutions/Forescout/SolutionMetadata.json
  Solutions/ImpervaCloudWAF/Data/Solution_ImpervaCloudWAF.json
  Solutions/ImpervaCloudWAF/Package/2.0.1.zip
  Solutions/ImpervaCloudWAF/Package/createUiDefinition.json
  Solutions/ImpervaCloudWAF/Package/mainTemplate.json
  Solutions/ImpervaCloudWAF/SolutionMetadata.json
  Solutions/McAfee ePolicy Orchestrator/Data/Solution_McAfee.json
  Solutions/McAfee ePolicy Orchestrator/Package/2.0.1.zip
  Solutions/McAfee ePolicy Orchestrator/Package/createUiDefinition.json
  Solutions/McAfee ePolicy Orchestrator/Package/mainTemplate.json
  Solutions/McAfee ePolicy Orchestrator/SolutionMetadata.json
  Solutions/McAfee ePolicy Orchestrator/Workbooks/McAfeeePOOverview.json
  Solutions/NGINX HTTP Server/Data/Solution_Nginx.json
  Solutions/NGINX HTTP Server/Package/2.0.1.zip
  Solutions/NGINX HTTP Server/Package/createUiDefinition.json
  Solutions/NGINX HTTP Server/Package/mainTemplate.json
  Solutions/NGINX HTTP Server/SolutionMetadata.json
  Solutions/Oracle Cloud Infrastructure/Data/Solution_OCILogs.json
  Solutions/Oracle Cloud Infrastructure/Package/2.0.1.zip
  Solutions/Oracle Cloud Infrastructure/Package/mainTemplate.json
  Solutions/Oracle Cloud Infrastructure/SolutionMetadata.json
  Solutions/ShadowByte Aria/Package/2.0.0.zip
  Solutions/ShadowByte Aria/Package/mainTemplate.json
  Solutions/ShadowByte Aria/SolutionMetadata.json
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/2.0.2.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/VMWareESXi/Parsers/VMwareESXi.txt
  Solutions/VMWareESXi/SolutionMetadata.json
Labels: Solution

#6402 [DO NOT MERGE] Fortigate Workbook update regarding ICM 336002500
  Workbooks/Fortigate.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6622 Updated publisherId for Forescout Host Property Monitor
  Solutions/ForescoutHostPropertyMonitor/Package/2.0.0.zip
  Solutions/ForescoutHostPropertyMonitor/Package/mainTemplate.json
  Solutions/ForescoutHostPropertyMonitor/SolutionMetadata.json
Labels: Solution

#6612 Package update for Azure Storage account
  Solutions/Azure Storage/Package/2.0.1.zip
  Solutions/Azure Storage/Package/mainTemplate.json
Labels: Solution

#6636 Repackaging armorblox solution
  Solutions/Armorblox/Data/Solution_Armorblox.json
  Solutions/Armorblox/Package/2.0.1.zip
  Solutions/Armorblox/Package/mainTemplate.json
Labels: Solution

#6556 Create Theom Solution
  .script/tests/KqlvalidationsTests/CustomTables/TheomAlerts_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/theom-logo.svg
  Sample Data/Custom/TheomAlerts_CL.json
  Solutions/Theom/Analytic Rules/TRIS0001_Dev_secrets_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0002_National_IDs_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0003_Financial_data_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0004_Healthcare_data_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0005_Unencrypted_public_data_stores.yaml
  Solutions/Theom/Analytic Rules/TRIS0007-10_TRIS0014_Critical_data_in_API_headers_or_body.yaml
  Solutions/Theom/Analytic Rules/TRIS0012_Dev_secrets_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0015_Healthcare_data_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0018_National_IDs_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0026_Financial_data_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0032_Dark_Data_with_large_fin_value.yaml
  Solutions/Theom/Analytic Rules/TRIS0033_Least_priv_large_value_shadow_DB.yaml
  Solutions/Theom/Analytic Rules/TRIS0034_Overprovisioned_Roles_Shadow_DB.yaml
  Solutions/Theom/Analytic Rules/TRIS0035_Shadow_DB_large_datastore_value.yaml
  Solutions/Theom/Analytic Rules/TRIS0036_Shadow_DB_with_atypical_accesses.yaml
  Solutions/Theom/Analytic Rules/TheomRisksCritical.yaml
  Solutions/Theom/Analytic Rules/TheomRisksHigh.yaml
  Solutions/Theom/Analytic Rules/TheomRisksInsights.yaml
  Solutions/Theom/Analytic Rules/TheomRisksLow.yaml
  Solutions/Theom/Analytic Rules/TheomRisksMedium.yaml
  Solutions/Theom/Data Connectors/Theom.json
  Solutions/Theom/Data/Solution_Theom.json
  Solutions/Theom/Package/2.0.0.zip
  Solutions/Theom/Package/createUiDefinition.json
  Solutions/Theom/Package/mainTemplate.json
  Solutions/Theom/SolutionMetadata.json
  Solutions/Theom/Workbooks/Images/Preview/TheomWorkbook-black.png
  Solutions/Theom/Workbooks/Images/Preview/TheomWorkbook-white.png
  Solutions/Theom/Workbooks/Theom.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution, Sample Data, Logo, Analytic Rules

#6635 F5-Big IP solution package 2.0.1
  Solutions/F5 BIG-IP/Data/Solution_F5BigIpTemplateSpec.json
  Solutions/F5 BIG-IP/Package/2.0.1.zip
  Solutions/F5 BIG-IP/Package/mainTemplate.json
Labels: Solution

#6634 Better MTD solution package 2.0.1
  Solutions/BETTER Mobile Threat Defense (MTD)/Data/Solution_BetterMTD.json
  Solutions/BETTER Mobile Threat Defense (MTD)/Package/2.0.1.zip
  Solutions/BETTER Mobile Threat Defense (MTD)/Package/mainTemplate.json
  Solutions/BETTER Mobile Threat Defense (MTD)/SolutionMetadata.json
Labels: Solution

#6633 Senserva Pro Solution Package
  Solutions/SenservaPro/Data/Solution_SenservaPro.json
  Solutions/SenservaPro/Package/2.0.1.zip
  Solutions/SenservaPro/Package/mainTemplate.json
Labels: Solution

#6632 Zimperium Solution package
  Solutions/Zimperium Mobile Threat Defense/Data/Solution_ZimperiumMTD.json
  Solutions/Zimperium Mobile Threat Defense/Package/2.0.1.zip
  Solutions/Zimperium Mobile Threat Defense/Package/mainTemplate.json
  Solutions/Zimperium Mobile Threat Defense/SolutionMetadata.json
Labels: Solution

#6630 Netskope Solution Update
  Solutions/Netskope/Data/Solution_Netskope.json
  Solutions/Netskope/Package/2.0.1.zip
  Solutions/Netskope/Package/mainTemplate.json
  Solutions/Netskope/SolutionMetadata.json
Labels: Solution

#6629 Citrix WAF solution update
  Solutions/Citrix Web App Firewall/Data/Solution_CitrixWebAppFirewall.json
  Solutions/Citrix Web App Firewall/Package/2.0.1.zip
  Solutions/Citrix Web App Firewall/Package/mainTemplate.json
  Solutions/Citrix Web App Firewall/SolutionMetadata.json
Labels: Solution

#6628 Cyberpion solution package update 2.0.1
  Solutions/Cyberpion/Data/Solution_Cyberpion.json
  Solutions/Cyberpion/Package/2.0.1.zip
  Solutions/Cyberpion/Package/mainTemplate.json
  Solutions/Cyberpion/SolutionMetadata.json
Labels: Solution

#6576 Correct spelling errors for dynamics365workbooks
  Solutions/Dynamics 365/Workbooks/Dynamics365Workbooks.json
  Solutions/Dynamics 365/Workbooks/Images/Preview/Dynamics365WorkbookBlack.png
  Solutions/Dynamics 365/Workbooks/Images/Preview/Dynamics365WorkbookWhite.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution

#6094 solution created fortiwebcloud
  Solutions/FortiWebCloud/Data/Solution_FortiWebCloud.json
  Solutions/FortiWebCloud/Package/2.0.0.zip
  Solutions/FortiWebCloud/Package/createUiDefinition.json
  Solutions/FortiWebCloud/Package/mainTemplate.json
  Solutions/FortiWebCloud/Playbooks/FortiWebPlaybooks/FortiWeb-BlockIP-URL/readme.md
  Solutions/FortiWebCloud/Playbooks/FortiWebPlaybooks/FortiWeb-enrichment/readme.md
  Solutions/FortiWebCloud/SolutionMetadata.json
Labels: Solution

#6463 Infoblox Parser bug Fix
  Solutions/Infoblox NIOS/Analytic Rules/ExcessiveNXDOMAINDNSQueries.yaml
  Solutions/Infoblox NIOS/Analytic Rules/PotentialDHCPStarvationAttack.yaml
  Solutions/Infoblox NIOS/Parser/Infoblox_dnsclient.txt
Labels: Parser, Solution, Analytic Rules

#6669 SOC-Process Package Update 2.0.4
  Solutions/SOC-Process-Framework/Package/2.0.4.zip
  Solutions/SOC-Process-Framework/Package/mainTemplate.json
  Solutions/SOC-Process-Framework/data/Solution_Soc-Process.json
Labels: Solution

#6663 new Automation Health workbook
  Workbooks/AutomationHealth.json
  Workbooks/Images/Preview/AutomationHealthBlack.png
  Workbooks/Images/Preview/AutomationHealthWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6642 Update to Azure Sentinel Cost Workbook
  Workbooks/AzureSentinelCost.json
Labels: Workbook

#6620 Feature/zhzhao8888/addplaybookfornbintegration
  Playbooks/Dynamic-Summaries-API-Upsert/azuredeploy.json
  Playbooks/Dynamic-Summaries-API-Upsert/readme.md
  Playbooks/Run-Notebook-After-Incident-Creation/azuredeploy.json
  Playbooks/Run-Notebook-After-Incident-Creation/readme.md
Labels: Playbook

#6678 Remove packed content
  Playbooks/Dynamic-Summaries-API-Upsert/azuredeploy.json
Labels: Playbook

#6506 Update README.md
  DataConnectors/AWS-SecurityHubFindings/README.md
Labels: Connector

#6680 Update WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6611 Re-packaged the solution Zinc Open Source
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Solutions/Zinc Open Source/Package/2.0.1.zip
  Solutions/Zinc Open Source/Package/mainTemplate.json
Labels: Solution

#6566 Update IP_TI_map.yaml
  Insights/IP/IP_TI_map.yaml
Labels: Insight

#6683 update domain category
  Solutions/Theom/Package/2.0.0.zip
  Solutions/Theom/Package/createUiDefinition.json
  Solutions/Theom/Package/mainTemplate.json
  Solutions/Theom/SolutionMetadata.json
Labels: Solution

#6685 Make TimeGenerated mandatory in ASIM testing
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#6241 AKS-Content-Updated
  Solutions/Azure kubernetes Service/Hunting Queries/AKS-Rbac.yaml
  Solutions/Azure kubernetes Service/Hunting Queries/AKS-clusterrolebinding.yaml
  Solutions/Azure kubernetes Service/Workbooks/AKS-Security.json
Labels: Workbook, Solution, Detection

#6676 Checkpoint Templatespec Solution
  Solutions/Check Point/CheckPointConnector/deployCP_connector.json
  Solutions/Check Point/CheckpointFunctionapp/deployCP_proxy.json
  Solutions/Check Point/Data/Solution_CheckPoint.json
  Solutions/Check Point/Package/2.0.0.zip
  Solutions/Check Point/Package/createUiDefinition.json
  Solutions/Check Point/Package/mainTemplate.json
  Solutions/Check Point/Playbooks/add-host-to-group/deployCPplaybook.json
  Solutions/Check Point/SolutionMetadata.json
Labels: Solution

#6619 Repackaging Salesforce Service Cloud
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceServiceCloud_API_FunctionApp.json
  Solutions/Salesforce Service Cloud/Data/Solution_TSalesforceCloudtemplateSpec.json
  Solutions/Salesforce Service Cloud/Package/2.0.1.zip
  Solutions/Salesforce Service Cloud/Package/createUiDefinition.json
  Solutions/Salesforce Service Cloud/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#5286 Add more operations and more efficient parsing in IPEntity_AzureFirewall.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AzureFirewall.yaml
Labels: Detection

#6362 Detecting Suspicious Sign-In from New Location with Mail forwarding activity
  Hunting Queries/MultipleDataSources/MailForwardingActivityFromNewLocation.yaml
Labels: Hunting

#6497 Added SQLi and XSS Detection query files for AFD Premium WAF
  .script/tests/KqlvalidationsTests/CustomTables/AzureDiagnostics.json
  Detections/AzureWAF/AFD-Premium-WAF-SQLiDetection.yaml
  Detections/AzureWAF/AFD-Premium-WAF-XSSDetection.yaml
Labels: Detection

#6505 Fix analytic rule
  Solutions/Azure Active Directory Identity Protection/Analytic Rules/CorrelateIPC_Unfamiliar-Atypical.yaml
Labels: Solution, Analytic Rules

#6524 Replace dlp_verdict with tls_status
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGInsecureProtocol.yaml
Labels: Solution, Hunting

#6531 fix(aws): do not trigger missing mfa on sso
  Solutions/Amazon Web Services/Analytic Rules/AWS_ConsoleLogonWithoutMFA.yaml
  Solutions/Amazon Web Services/Analytic Rules/NRT_AWS_ConsoleLogonWithoutMFA.yaml
Labels: Solution, Analytic Rules

#6641 Suspicious cryptocurrency mining related threat activity detected
  Hunting Queries/Syslog/CryptoThreatActivity.yaml
Labels: Hunting

#6690 Repackage VMware Carbon Black for Provide Change
  Solutions/VMware Carbon Black Cloud/Data/Solution_VMware Carbon Black Cloud.json
  Solutions/VMware Carbon Black Cloud/Package/2.0.1.zip
  Solutions/VMware Carbon Black Cloud/Package/createUiDefinition.json
  Solutions/VMware Carbon Black Cloud/Package/mainTemplate.json
  Solutions/VMware Carbon Black Cloud/SolutionMetadata.json
Labels: Solution

#6677 MDO-Enrichment-Update-17-11
  Solutions/Microsoft 365 Defender/Hunting Queries/Appspot Phishing Abuse.yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/Check for spoofing attempts on the domain with Authentication failures.yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/Delivered Bad Emails from Top bad IPv4 addresses .yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/EmailDelivered-ToInbox.yaml
  Solutions/Microsoft 365 Defender/Workbooks/MDO-Workbook.json
Labels: Workbook, Solution, Hunting

#6694 Adding WorkbooksMetadata for Microsoft 365 defender
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6679 Update azuredeploy.json and readme.md files for correct deploy button links
  Solutions/AWSAthena/Playbooks/AWSAthenaPlaybooks/AWSAthena-GetQueryResults/readme.md
  Solutions/AWSAthena/Playbooks/CustomConnector/AWSAthena_FunctionAppConnector/azuredeploy.json
  Solutions/AWSAthena/Playbooks/CustomConnector/AWSAthena_FunctionAppConnector/readme.md
Labels: Playbook, Solution

#6698 Change subscription name
  DataConnectors/GCP/ArmTemplate/GCPOnboarding.json
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPAuditLogsSetup/GCPAuditLogsSetup.tf
Labels: Connector

#6701 Update M365-MDO Hunting query for null values
  Solutions/Microsoft 365 Defender/Hunting Queries/Check for spoofing attempts on the domain with Authentication failures.yaml
Labels: Solution, Hunting

#6578 Darktrace 2.0.1
  Solutions/Darktrace/Analytic Rules/CreateAlertFromModelBreach.yaml
  Solutions/Darktrace/Analytic Rules/CreateAlertFromSystemStatus.yaml
  Solutions/Darktrace/Analytic Rules/CreateIncidentFromAIAnalystIncident.yaml
  Solutions/Darktrace/Data Connectors/DarktraceConnectorRESTAPI.json
  Solutions/Darktrace/Workbooks/DarktraceWorkbook.json
Labels: Connector, Workbook, Solution, Analytic Rules

#6626 Origin/users/rahul/acsc
  Solutions/Australian Cyber Security Centre/ACSCLogo.jpg
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/azuredeploy.json
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/images/Playbook_AusCtisExportTaggedIndicators_dark.jpg
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/images/Playbook_AusCtisExportTaggedIndicators_light.jpg
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/readme.md
  Solutions/Australian Cyber Security Centre/Playbooks/readme.md
Labels: Playbook, Solution

#6695 AWS package update
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/2.0.2.zip
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Solution

#6711 Renamed the WorkbooksMetadata for Microsoft 365 Defender
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6710 Update-MDO Content-23-Nov
  Solutions/Microsoft 365 Defender/Hunting Queries/Appspot Phishing Abuse.yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/Check for spoofing attempts on the domain with Authentication failures.yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/Delivered Bad Emails from Top bad IPv4 addresses .yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/EmailDelivered-ToInbox.yaml
  Solutions/Microsoft 365 Defender/Workbooks/MDO Insights.json
Labels: Solution

#6598 Modified couple of detections to reflect the IPC source data changes
  .script/tests/KqlvalidationsTests/CustomTables/IdentityInfo.json
  Detections/SecurityAlert/Suspicious_WorkSpaceDeletion_Attempt.yaml
  Solutions/Azure Active Directory Identity Protection/Analytic Rules/CorrelateIPC_Unfamiliar-Atypical.yaml
Labels: Solution, Detection, Analytic Rules

#6707 Azure Kubernetes Service Solution Changes
  Solutions/Azure kubernetes Service/Data Connectors/AzureKubernetes.JSON
  Solutions/Azure kubernetes Service/Data/Solution_AzurekubernetesService.json
  Solutions/Azure kubernetes Service/Package/2.0.0.zip
  Solutions/Azure kubernetes Service/Package/2.0.1.zip
  Solutions/Azure kubernetes Service/Package/createUiDefinition.json
  Solutions/Azure kubernetes Service/Package/mainTemplate.json
  Solutions/Azure kubernetes Service/SolutionMetadata.json
  Solutions/Azure kubernetes Service/Workbooks/AksSecurity.json
Labels: Solution

#6697 Microsoft 365 Defender package with Hunting Queries and Workbook addition changes
  Solutions/Microsoft 365 Defender/Data/Solution_Microsoft 365 Defender.json
  Solutions/Microsoft 365 Defender/Hunting Queries/Appspot Phishing Abuse.yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/Delivered Bad Emails from Top bad IPv4 addresses .yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/EmailDelivered-ToInbox.yaml
  Solutions/Microsoft 365 Defender/Package/2.0.1.zip
  Solutions/Microsoft 365 Defender/Package/createUiDefinition.json
  Solutions/Microsoft 365 Defender/Package/mainTemplate.json
Labels: Solution

#6702 Standalone content tagging Hunting Queries
  Detections/CommonSecurityLog/Fortinet-NetworkBeaconPattern.yaml
  Hunting Queries/GitHub/Unusual Number of Repository Clones.yaml
  Hunting Queries/LAQueryLogs/CrossWorkspaceQueryAnomolies.yaml
  Hunting Queries/LAQueryLogs/MultipleLargeQueriesByUser.yaml
  Hunting Queries/LAQueryLogs/NewClientRunningQueries.yaml
  Hunting Queries/LAQueryLogs/NewServicePrincipalRunningQueries.yaml
  Hunting Queries/LAQueryLogs/NewUserRunningQueries.yaml
  Hunting Queries/LAQueryLogs/QueryDataVolumeAnomolies.yaml
  Hunting Queries/LAQueryLogs/QueryLookingForSecrets.yaml
  Hunting Queries/LAQueryLogs/UserReturningMoreDataThanDailyAverage.yaml
  Hunting Queries/LAQueryLogs/UserRunningMultipleQueriesThatFail.yaml
  Hunting Queries/W3CIISLog/Potential_IIS_CodeInject.yaml
  Workbooks/WorkbooksMetadata.json
Labels: Hunting

#6719 solution folder created for microsoft defender for identity
  Solutions/Microsoft Defender For Identity/Data Connectors/MicrosoftDefenderforIdentity.JSON
  Solutions/Microsoft Defender For Identity/Data/Solution_MicrosoftDefenderforIdentity.json
  Solutions/Microsoft Defender For Identity/Package/2.0.0.zip
  Solutions/Microsoft Defender For Identity/Package/2.0.1.zip
  Solutions/Microsoft Defender For Identity/Package/createUiDefinition.json
  Solutions/Microsoft Defender For Identity/Package/mainTemplate.json
  Solutions/Microsoft Defender For Identity/SolutionMetadata.json
Labels: Solution

#6692 Update CrowdstrikeReplicator
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdstrikeReplicator
Labels: Parser, Solution

#6716 Repackaging Solutions for Provider change - Incorrect Provider in metadata
  Solutions/AtlassianConfluenceAudit/Package/2.0.2.zip
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/SolutionMetadata.json
Labels: Solution

#6722 fix: WithSecure Elements via Connector update with correct publisherId
  Solutions/WithSecureElementsViaConnector/Data/Solution_WithSecureElementsViaConnector.json
  Solutions/WithSecureElementsViaConnector/Package/2.0.0.zip
  Solutions/WithSecureElementsViaConnector/Package/2.0.1.zip
  Solutions/WithSecureElementsViaConnector/Package/mainTemplate.json
  Solutions/WithSecureElementsViaConnector/SolutionMetadata.json
Labels: Solution

#6571 Digital shadows solution v2.0.0
  Solutions/Digital Shadows/Package/1.0.0.zip
  Solutions/Digital Shadows/Package/2.0.0.zip
  Solutions/Digital Shadows/Package/createUiDefinition.json
  Solutions/Digital Shadows/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_DigitalShadows.json
Labels: Solution

#6730 Updating Publisher Id for Digital Shadow Solution
  Solutions/Digital Shadows/Package/2.0.0.zip
  Solutions/Digital Shadows/Package/createUiDefinition.json
  Solutions/Digital Shadows/Package/mainTemplate.json
  Solutions/Digital Shadows/SolutionMetadata.json
Labels: Solution

#5667 Adding Content for SQL PaaS Solution
  .script/tests/KqlvalidationsTests/CustomTables/AzureDiagnostics.json
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-ErrorsCredentialStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-ErrorsFirewallStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-ErrorsSyntaxStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsDropStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsExecutionStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsFirewallRuleStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsOLEObjectStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsOutgoingStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-VolumeAffectedRowsStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-VolumeResponseRowsStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/AzD4SQL tab step.json
  Solutions/Azure SQL Database solution for sentinel/Data Connectors/template_AzureSql.JSON
  Solutions/Azure SQL Database solution for sentinel/Data/Solution_AzureSQLDatabasesolutionforsentinel.json
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-AffectedRowAnomaly.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-BooleanBlindSQLi.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-ExecutionTimeAnomaly.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-PrevalenceBasedQuerySizeAnomaly.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-SuspiciousStoredProcedures.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-TimeBasedQuerySizeAnomaly.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-VolumeAffectedRowsStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-VolumeResponseRowsStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Package/2.0.0.zip
  Solutions/Azure SQL Database solution for sentinel/Package/createUiDefinition.json
  Solutions/Azure SQL Database solution for sentinel/Package/mainTemplate.json
  Solutions/Azure SQL Database solution for sentinel/SolutionMetadata.json
  Solutions/Azure SQL Database solution for sentinel/Workbooks/Workbook-AzureSQLSecurity.json
Labels: Workbook, Solution, Detection, Hunting

#6724 Add files via upload
  Solutions/HoneyTokens/Package/1.0.52.zip
  Solutions/HoneyTokens/Package/createUiDefinition.json
  Solutions/HoneyTokens/Package/mainTemplate.json
Labels: Solution

#6625 Update ProofpointPOD
  Parsers/ProofpointPOD/ProofpointPOD
Labels: Parser

#6735 Secur ID solution update regarding connectivity criteria update.
  Solutions/RSA SecurID/Data Connectors/RSASecurID.json
  Solutions/RSA SecurID/Data/Solution_RSASecurID.json
  Solutions/RSA SecurID/Package/2.0.1.zip
  Solutions/RSA SecurID/Package/mainTemplate.json
Labels: Solution

#6689 Aws Athena solution packaging
  Solutions/AWSAthena/Data/Solution_AWSAthena.json
  Solutions/AWSAthena/Package/2.0.0.zip
  Solutions/AWSAthena/Package/createUiDefinition.json
  Solutions/AWSAthena/Package/mainTemplate.json
  Solutions/AWSAthena/Playbooks/AWSAthenaPlaybooks/AWSAthena-GetQueryResults/azuredeploy.json
  Solutions/AWSAthena/Playbooks/CustomConnector/AWSAthena_FunctionAppConnector/azuredeploy.json
  Solutions/AWSAthena/SolutionMetadata.json
Labels: Solution

#6682 Create ASIM_LookupHTTPStatusCode.yaml
  ASIM/lib/functions/ASIM_LookupHTTPStatusCode.yaml
Labels: ASIM, Function

#6743 Repackage Salesforce Cloud
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-BruteForce.yaml
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-PasswordSpray.yaml
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-SigninsMultipleCountries.yaml
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceServiceCloud_API_FunctionApp.json
  Solutions/Salesforce Service Cloud/Data Connectors/azuredeploy_Connector_Salesforce_Service_Cloud_AzureFunction.json
  Solutions/Salesforce Service Cloud/Data/Solution_TSalesforceCloudtemplateSpec.json
  Solutions/Salesforce Service Cloud/Package/2.0.2.zip
  Solutions/Salesforce Service Cloud/Package/createUiDefinition.json
  Solutions/Salesforce Service Cloud/Package/mainTemplate.json
  Solutions/Salesforce Service Cloud/SolutionMetadata.json
Labels: Solution

#6673 Data Connectors Short Link update
  DataConnectors/AWS-CloudTrail-AzureFunction/azuredeploy_awscloudtrail.json
  DataConnectors/AWS-S3-AzureFunction/azuredeploy_awss3.json
  DataConnectors/AWS-SecurityHubFindings/azuredeploy_awssecurityhub.json
  DataConnectors/DocuSign-SecurityEvents/azuredeploy_docusign.json
  DataConnectors/MCASActivityFunction/azuredeploy.json
  DataConnectors/O365 Data/azuredeploy.json
  DataConnectors/OneLogin/azuredeploy.json
  DataConnectors/ProofpointPOD/azuredeploy_Connector_Proofpoint_AzureFunction.json
  DataConnectors/Zoom/azuredeploy.json
Labels: Connector

#6737 CiscoSEG Package with Hunting Query Bug Fix changes
  Solutions/CiscoSEG/Data/Solution_CiscoSEG.json
  Solutions/CiscoSEG/Package/2.0.1.zip
  Solutions/CiscoSEG/Package/mainTemplate.json
Labels: Solution

#6750 asim/add-aad-lookup-function
  ASIM/lib/ARM/ASIM_LookupAADcodes/ASIM_LookupAADcodes.json
  ASIM/lib/ARM/ASIM_LookupHTTPStatusCode/ASIM_LookupHTTPStatusCode.json
  ASIM/lib/ARM/ASIM_LookupHTTPStatusCode/README.md
  ASIM/lib/ARM/FullDeployment.json
  ASIM/lib/functions/ASIM_LookupAADcodes.yaml
Labels: ASIM, Function

#6738 Updated Sentinel SOAR Essentials for domain category
  Solutions/SentinelSOARessentials/Data/Solution_SentinelSOAREssentials.json
  Solutions/SentinelSOARessentials/Package/2.0.1.zip
  Solutions/SentinelSOARessentials/Package/mainTemplate.json
  Solutions/SentinelSOARessentials/SolutionMetadata.json
Labels: Solution

#6754 Updated PublisherID
  Solutions/Jamf Protect/Package/2.0.0.zip
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/SolutionMetadata.json
Labels: Solution

#6714 MerakiParser - Fix for IP extract in DHCP events
  Solutions/CiscoMeraki/Parsers/CiscoMeraki.txt
Labels: Parser, Solution

#6721 MerakiParser - Wrong handling of EventEndTime epoch with nanoseconds
  Solutions/CiscoMeraki/Parsers/CiscoMeraki.txt
Labels: Parser, Solution

#6757 Update WorkbooksMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6699 solution folder created for zoom reports solution
  DataConnectors/ZoomReports/ZoomSentinelConnector/__init__.py
  Solutions/ZoomReports/Data Connectors/ZoomReports_API_FunctionApp.json
  Solutions/ZoomReports/Data Connectors/ZoomSentinelConnector/__init__.py
  Solutions/ZoomReports/Data Connectors/ZoomSentinelConnector/function.json
  Solutions/ZoomReports/Data Connectors/ZoomSentinelConnector/state_manager.py
  Solutions/ZoomReports/Data Connectors/azuredeploy_Connector_ZoomAPI_AzureFunction.json
  Solutions/ZoomReports/Data Connectors/host.json
  Solutions/ZoomReports/Data Connectors/proxies.json
  Solutions/ZoomReports/Data Connectors/requirements.txt
  Solutions/ZoomReports/Data/Solution_ZoomReports.json
  Solutions/ZoomReports/Package/2.0.0.zip
  Solutions/ZoomReports/Package/2.0.1.zip
  Solutions/ZoomReports/Package/createUiDefinition.json
  Solutions/ZoomReports/Package/mainTemplate.json
  Solutions/ZoomReports/Parsers/Zoom.txt
  Solutions/ZoomReports/SolutionMetadata.json
Labels: Solution

#6688 Infoblox Package with Parser and Analytic Rule Bug Fix changes
  Solutions/Infoblox NIOS/Data/Solution_InfobloxNIOS.json
  Solutions/Infoblox NIOS/Package/2.0.2.zip
  Solutions/Infoblox NIOS/Package/mainTemplate.json
Labels: Solution
