Repository Azure/Azure-Sentinel, pull requests merged in 2022-03, with the labels that each got.

#4248 Rename LogSources&AnalyticRulesCoverage to LogSources&AnalyticRulesCo…
  Workbooks/LogSources&AnalyticRulesCoverage.json
Labels: Workbook

#4117 Package Updated Claroty
  Solutions/Claroty/Data/Solution_Claroty.json
  Solutions/Claroty/Package/1.0.1.zip
  Solutions/Claroty/Package/createUiDefinition.json
  Solutions/Claroty/Package/mainTemplate.json
  Solutions/Claroty/SolutionMetadata.json
Labels: Solution

#3906 Solution Metadata Updates
  Solutions/Fortinet-FortiGate/Package/1.0.4.zip
  Solutions/Fortinet-FortiGate/Package/createUiDefinition.json
  Solutions/Fortinet-FortiGate/Package/mainTemplate.json
  Solutions/SophosXGFirewall/Package/1.0.8.zip
  Solutions/SophosXGFirewall/Package/createUiDefinition.json
  Solutions/SophosXGFirewall/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/Package/1.0.4.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Training/Azure-Sentinel-Training-Lab/Package/1.0.5.zip
  Solutions/Training/Azure-Sentinel-Training-Lab/Package/mainTemplate.json
Labels: Solution

#4288 Moving the standalone files to solution folder for SymantecProxy solution
  Solutions/SymantecProxySG/Analytic Rules/ExcessiveDeniedProxyTraffic.yaml
  Solutions/SymantecProxySG/Analytic Rules/UserAccessedSuspiciousURLCategories.yaml
  Solutions/SymantecProxySG/Workbooks/SymantecProxySG.json
Labels: Workbook, Solution, Detection

#4310 ASIM renames
  Detections/ASimFileEvent/imFileEvent_Dev-0228FilePathHashesNovember2021(ASIMVersion).yaml
  Detections/ASimProcess/NewEXEdeployedviaDefaultDomainorDefaultDomainControllerPolicies(ASIMVersion).yaml
  Detections/ASimProcess/Potentialre-namedsdeleteusage(ASIMVersion).yaml
  Detections/ASimProcess/SdeletedeployedviaGPOandrunrecursively(ASIMVersion).yaml
  Detections/ASimWebSession/DiscordCDNRiskyFileDownload(ASIM Version).yaml
  Detections/ASimWebSession/UnusualUAPowershell.yaml
  Detections/MultipleDataSources/PotentialFodhelperUACBypass(ASIMVersion).yaml
  Hunting Queries/ASimProcess/Discorddownloadinvokedfromcmdline(ASIMVersion).yaml
  Hunting Queries/ASimProcess/imProcess_Dev-0056CommandLineActivityNovember2021(ASIMVersion).yaml
  Hunting Queries/ASimRegistry/Crashdumpdisabledonhost(ASIMVersion).yaml
  Hunting Queries/MultipleDataSources/Dev-0322CommandLineActivityNovember2021(ASIMVersion).yaml
  Hunting Queries/MultipleDataSources/Dev-0322FileDropActivityNovember2021(ASIMVersion).yaml
Labels: Detection

#4309 New hunting queries
  Hunting Queries/SecurityEvent/CommandsexecutedbyWMIonnewhosts-potentialImpacket.yaml
  Hunting Queries/SecurityEvent/ExternalIPaddressinCommandLine.yaml
Labels: Hunting

#4306 Zero trust solution package 1.0.11
  Solutions/ZeroTrust(TIC3.0)/Package/1.0.11.zip
  Solutions/ZeroTrust(TIC3.0)/Package/createUiDefinition.json
Labels: Solution

#4090 Updating product name to reflect naming change
  Workbooks/WorkbooksMetadata.json
Labels: Waiting on poster, Workbook

#4307 Create PotentialLocalExploitationForPrivilegeEscalation.yaml
  Hunting Queries/SecurityEvent/PotentialLocalExploitationForPrivilegeEscalation.yaml
Labels: Hunting

#4207 Create CredentialDumpingToolsFileArtifacts.yaml
  Detections/SecurityEvent/CredentialDumpingToolsFileArtifacts.yaml
Labels: Hunting

#4298 Fix template parameter issue.
  DataConnectors/Trend Micro/azuredeploy_TrendMicroVisionOne_API_FunctionApp.json
Labels: Connector

#4289 Adding a new workbook for Teams solution.
  Solutions/Teams/Workbooks/Images/Preview/MicrosoftTeamsBlack.png
  Solutions/Teams/Workbooks/Images/Preview/MicrosoftTeamsWhite.png
  Solutions/Teams/Workbooks/MicrosoftTeams.json
Labels: Workbook, Solution

#4319 remove id duplicate
  Solutions/CiscoUmbrella/Hunting Queries/CiscoUmbrellaHighCountsOfTheSameBytesInSize.yaml
Labels: Solution, Hunting

#3985 SecurityBridge Logo Push
  Logos/SecurityBridgeLogo-Vector-TM_75x75.svg
  Sample Data/Custom/SecurityBridgeLogs_CL.json
  Solutions/SecurityBridge/Data Connectors/Connector_SecurityBridge.json
  Solutions/SecurityBridge/Package/1.0.0.zip
  Solutions/SecurityBridge/Package/createUiDefinition.json
  Solutions/SecurityBridge/Package/mainTemplate.json
  Solutions/SecurityBridge/Parsers/SecurityBridgeLogs.txt
  Solutions/SecurityBridge/README.md
  Solutions/SecurityBridge/SolutionMetadata.json
  Solutions/SecurityBridge/Solution_SecurityBridgeSAP.json
  Solutions/SecurityBridge/Workbooks/Images/SecurityBridgeThreatDetectionWhite.png
  Solutions/SecurityBridge/Workbooks/Images/SecurityBridgeThreatDetectionWhite1.png
  Solutions/SecurityBridge/Workbooks/SecurityBridgeThreatDetectionforSAP.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_SecurityBridgeSAP.json
Labels: Connector, Parser, Workbook, Solution

#4323 Adding Sentinel Transformations Library
  Tools/Transformations-Library/Filtering/FilteringFieldsDCR.json
  Tools/Transformations-Library/Filtering/FilteringRowsDCR.json
  Tools/Transformations-Library/Filtering/README.md
  Tools/Transformations-Library/Masking/MaskingDCR.json
  Tools/Transformations-Library/Masking/README.md
  Tools/Transformations-Library/Media/AAD_multi-ws.png
  Tools/Transformations-Library/README.md
  Tools/Transformations-Library/Tagging/EnrichmentDCR.json
  Tools/Transformations-Library/Tagging/README.md
Labels: New

#4297 Azure purview workbook and logo removal
  Workbooks/AzurePurview.json
  Workbooks/Images/Logos/AzurePurview.svg
Labels: Workbook

#4318 AWS S3 connector- update AWS S3 connector permissions policies
  DataConnectors/AWS-S3/AwsRequiredPolicies.md
Labels: Connector

#4336 updated query frequency - timeseries
  Detections/SecurityEvent/TimeSeriesAnomaly-ProcessExecutions.yaml
Labels: Detection

#4277 GitHub Vreation
  Solutions/GitHub/Data Connectors/azuredeploy_GitHub_native_poller_connector.json
  Solutions/GitHub/Detections/(Preview) GitHub - A payment method was removed.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - Activities from Infrequent Country.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - Oauth application - a client secret was removed.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - Repository was created.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - Repository was destroyed.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - Two Factor Authentication Disabled in GitHub.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - User visibility Was changed.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - User was added to the organization.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - User was blocked.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - User was invited to the repository .yaml
  Solutions/GitHub/Detections/(Preview) GitHub - pull request was created.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - pull request was merged.yaml
  Solutions/GitHub/Hunting Queries/First Time User Invite and Add Member to Org.yaml
  Solutions/GitHub/Hunting Queries/Inactive or New Account Usage.yaml
  Solutions/GitHub/Hunting Queries/Mass Deletion of Repositories .yaml
  Solutions/GitHub/Hunting Queries/Oauth App Restrictions Disabled.yaml
  Solutions/GitHub/Hunting Queries/Org Repositories Default Permissions Change.yaml
  Solutions/GitHub/Hunting Queries/Repository Permission Switched to Public.yaml
  Solutions/GitHub/Hunting Queries/User First Time Repository Delete Activity.yaml
  Solutions/GitHub/Hunting Queries/User Grant Access and Grants Other Access.yaml
  Solutions/GitHub/Parsers/GitHubAuditData.txt
  Solutions/GitHub/Workbooks/GithubWorkbook.json
Labels: Connector, Parser, Workbook, Solution, Detection, Hunting

#4244 Add additional parameter for CID
  Solutions/LastPass/Data Connectors/LastPassAPIConnector.json
Labels: Connector, Solution

#4280 Update README.md
  README.md
Labels: New

#4337 Updated the Icon URL and removed the typo, repackaged the solution
  Solutions/SecurityBridge/Package/1.0.0.zip
  Solutions/SecurityBridge/Package/createUiDefinition.json
  Solutions/SecurityBridge/Package/mainTemplate.json
  Solutions/SecurityBridge/Solution_SecurityBridgeSAP.json
Labels: Solution

#4335 Zero Trust Package Update
  Solutions/ZeroTrust(TIC3.0)/Package/1.0.12.zip
  Solutions/ZeroTrust(TIC3.0)/Package/mainTemplate.json
  Solutions/ZeroTrust(TIC3.0)/SolutionMetadata.json
  Solutions/ZeroTrust(TIC3.0)/data/Solution_ZeroTrust(TIC3.0).json
Labels: Solution

#4305 Delete LA saved functions
  ASIM/dev/Delete-SentinelFunction/Delete-SentinelFunction.ps1
  ASIM/dev/Delete-SentinelFunction/README.md
Labels: ASIM

#4290 fixed date order issue in Sentinel benefit chart
  Workbooks/AzureSentinelCost.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4266 Update AzurePortalSigninfromanotherAzureTenant.yaml to fix #4262
  Detections/SigninLogs/AzurePortalSigninfromanotherAzureTenant.yaml
Labels: Detection

#3607 Update timeframe & details in SuspiciousServicePrincipalcreationactivity.yaml
  Detections/AuditLogs/SuspiciousServicePrincipalcreationactivity.yaml
Labels: Detection

#4247 Solution Automation: Enable SavedSearch Inputs
  Tools/Create-Azure-Sentinel-Solution/README.md
  Tools/Create-Azure-Sentinel-Solution/createSolution.ps1
  Tools/Create-Azure-Sentinel-Solution/templating/SolutionAutomationInput.ts
Labels: New

#3873 Add operations in RareOfficeOperations.yaml
  Detections/OfficeActivity/RareOfficeOperations.yaml
Labels: Detection

#4314 Update RIDHijacking.yaml
  Hunting Queries/SecurityEvent/RIDHijacking.yaml
Labels: blade:hunting

#4315 Update MSRPRN_Printer_Bug_Exploitation.yaml
  Hunting Queries/SecurityEvent/MSRPRN_Printer_Bug_Exploitation.yaml
Labels: blade:hunting

#4316 Update LargeScaleMalwareDeploymentGPOScheduledTask.yaml
  Hunting Queries/SecurityEvent/LargeScaleMalwareDeploymentGPOScheduledTask.yaml
Labels: blade:hunting

#4317 Update FakeComputerAccountAuthenticationAttempt.yaml
  Hunting Queries/SecurityEvent/FakeComputerAccountAuthenticationAttempt.yaml
Labels: blade:hunting

#4205 Create FileExecutionWithOneCharacterInTheName.yaml
  Hunting Queries/FileExecutionWithOneCharacterInTheName.yaml
Labels: Hunting

#4192 Create RemoteScheduledTaskCreationUpdateUsingATSVCNamedPipe.yaml
  Hunting Queries/SecurityEvent/RemoteScheduledTaskCreationUpdateUsingATSVCNamedPipe.yaml
Labels: Hunting

#4195 Create DecoyUserAccountAuthenticationAttempt.yaml
  Hunting Queries/SecurityEvent/DecoyUserAccountAuthenticationAttempt.yaml
Labels: Hunting

#4106 Create CredentialDumpingServiceInstallation.yaml
  Detections/SecurityEvent/CredentialDumpingServiceInstallation.yaml
Labels: Detection

#4216 Create ServiceInstallationFromUsersWritableDirectory.yaml
  Hunting Queries/SecurityEvent/ServiceInstallationFromUsersWritableDirectory.yaml
Labels: Hunting

#4160 Create PotentialProcessDoppelganging.yaml
  Hunting Queries/PotentialProcessDoppelganging.yaml
Labels: Hunting

#4217 Create ScheduledTaskCreationUpdateFromUserWritableDrectory.yaml
  Hunting Queries/SecurityEvent/ScheduledTaskCreationUpdateFromUserWritableDrectory.yaml
Labels: Hunting

#4357 Create PotentialProcessDoppelganging.yaml
  Hunting Queries/SecurityEvent/PotentialProcessDoppelganging.yaml
Labels: Hunting

#4179 Update table name in DomainEntity_DnsEvents.yaml
  Detections/ThreatIntelligenceIndicator/DomainEntity_DnsEvents.yaml
Labels: Detection

#4331 Fix url on DetectTorRelayConnectivity query
  Hunting Queries/Microsoft 365 Defender/Discovery/DetectTorRelayConnectivity.yaml
Labels: Hunting

#4312 Add PnP Management Shell to UnusualGuestActivity.yaml
  Detections/MultipleDataSources/UnusualGuestActivity.yaml
Labels: Detection

#4345 Update AzurePortalSigninfromanotherAzureTenant.yaml
  Detections/SigninLogs/AzurePortalSigninfromanotherAzureTenant.yaml
Labels: Detection

#4338 Update Table Names
  .script/tests/KqlvalidationsTests/CustomTables/LastPassNativePoller_CL.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Sample Data/Custom/LastPassNativePoller_CL.csv
  Sample Data/Custom/LastPassNativePoller_CL.csv.bak
  Solutions/LastPass/Analytic Rules/EmployeeAccountDeleted.yaml
  Solutions/LastPass/Analytic Rules/FailedSigninDueToMFA.yaml
  Solutions/LastPass/Analytic Rules/HighlySensitivePasswordAccessed.yaml
  Solutions/LastPass/Analytic Rules/TIMapIPEntityToLastPass.yaml
  Solutions/LastPass/Analytic Rules/UnusualVolumeOfPasswordsUpdatedOrRemoved.yaml
  Solutions/LastPass/Hunting Queries/FailedSigninsDueToMFA.yaml
  Solutions/LastPass/Hunting Queries/LoginIntoLastPassFromUnknownIP.yaml
  Solutions/LastPass/Hunting Queries/PasswordMoveToSharedFolder.yaml
  Solutions/LastPass/Workbooks/LastPassWorkbook.json
Labels: Solution

#4151 Update FirstAppOrServicePrincipalCredential.yaml
  Detections/AuditLogs/FirstAppOrServicePrincipalCredential.yaml
Labels: Detection

#3978 Fix conditions in UnusualGuestActivity.yaml
  Detections/MultipleDataSources/UnusualGuestActivity.yaml
Labels: Detection

#3677 Use different time periods in PrivilegedAccountsSigninFailureSpikes.yaml
  Detections/MultipleDataSources/PrivilegedAccountsSigninFailureSpikes.yaml
Labels: Detection

#4059 Windows events batch 2 v2
  Detections/MultipleDataSources/NetworkEndpointCorrelation.yaml
  Detections/MultipleDataSources/Nobelium_FoggyWeb.yaml
  Detections/MultipleDataSources/SOURGUM_IOC.yaml
  Detections/MultipleDataSources/WSLMalwareCorrelation.yaml
  Detections/SecurityEvent/HAFNIUMNewUMServiceChildProcess.yaml
  Detections/SecurityEvent/NOBELIUM_SuspiciousRundll32Exec.yaml
  Detections/SecurityEvent/NOBELIUM_SuspiciousScriptRegistryWrite.yaml
  Detections/SecurityEvent/PotentialBuildProcessCompromise.yaml
  Detections/SecurityEvent/base64_encoded_pefile.yaml
  Detections/SecurityEvent/execute_base64_decodedpayload.yaml
  Detections/SecurityEvent/malware_in_recyclebin.yaml
Labels: Detection, WindowsEventProject

#4121 Added Windows Event batch6 - Detections
  Detections/SecurityEvent/RDP_MultipleConnectionsFromSingleSystem.yaml
  Detections/SecurityEvent/RDP_Nesting.yaml
  Detections/SecurityEvent/RDP_RareConnection.yaml
Labels: WindowsEventProject

#4374 Verifying functionName is not null
  ASIM/dev/Delete-SentinelFunction/Delete-SentinelFunction.ps1
Labels: ASIM

#4155 Adding Windows Event to detections - Batch8
  Detections/SecurityEvent/GroupCreatedAddedToPrivlegeGroup_1h.yaml
  Detections/SecurityEvent/UserAccountAdd-Removed.yaml
  Detections/SecurityEvent/UserAccountAddedToPrivlegeGroup_1h.yaml
  Detections/ThreatIntelligenceIndicator/FileHashEntity_SecurityEvent.yaml
Labels: WindowsEventProject

#4231 Create ChiaCryptoMining_WindowsEvent
  Detections/WindowsEvent/ChiaCryptoMining_WindowsEvent.yaml
Labels: Detection, WindowsEventProject

#4176 Windows event batch9
  Detections/MultipleDataSources/NetworkEndpointCorrelation.yaml
  Detections/MultipleDataSources/SecurityServiceRegistryACLModification.yaml
  Detections/SecurityEvent/gte_6_FailedLogons_10m.yaml
  Detections/SecurityEvent/password_never_expires.yaml
Labels: WindowsEventProject

#4086 Update to CiscoMeraki Parser
  DataConnectors/CIsco Meraki/Connector_Syslog_CiscoMeraki.json
  DataConnectors/CIsco Meraki/la_agent_configs/meraki.conf
  DataConnectors/CIsco Meraki/syslog_ng_configs/10-meraki.conf
  Parsers/CiscoMeraki/CiscoMeraki.txt
Labels: Connector

#4371 Fixed order while generating ARM Template for a Playbook Issue 4188
  Tools/Playbook-ARM-Template-Generator/Playbook_ARM_Template_Generator.ps1
  Tools/Playbook-ARM-Template-Generator/Playbook_ARM_Template_Generator.zip
Labels: New, Playbook

#3508 Use different time periods on UserAccounts-CABlockedSigninSpikes.yaml
  Detections/SigninLogs/UserAccounts-CABlockedSigninSpikes.yaml
Labels: Detection

#4361 Adding detection for Impacket tool and modification to the Actinium q…
  Detections/MultipleDataSources/ActiniumFeb2022.yaml
  Detections/SigninLogs/AzurePortalSigninfromanotherAzureTenant.yaml
  Hunting Queries/AzureActivity/AzureRunCommandFromAzureIP.yaml
  Hunting Queries/SecurityEvent/PotentialImpacketExecution.yaml
Labels: Detection, Hunting

#4330 Updated the supported column to fix #4325
  Detections/OfficeActivity/NRT_Malicious_Inbox_Rule.yaml
  Detections/OfficeActivity/NRT_Office_MailForwarding.yaml
Labels: Detection

#4385 Update ReadMe.md
  Tools/Sample-Data-Ingest-Tool/ReadMe.md
Labels: New

#4369 030922 as alert spiderfoot scan company name change
  Playbooks/AS_Alert_Spiderfoot_Scan/README.md
Labels: Playbook

#4368 030922 edgescan azure sentinel integration company name change
  Playbooks/Edgescan-AzureSentinel-Integration/README.md
Labels: Playbook

#4367 030922 guardicore import assets company name change
  Playbooks/Guardicore-Import-Assets/README.md
Labels: Playbook

#4365 030922 guardicore threat intel company name change
  Playbooks/Guardicore-ThreatIntel/README.md
Labels: Playbook

#4364 030922 zscaler add domains to url category company name change
  Playbooks/Zscaler-add-Domains-to-URL-Category/README.md
Labels: Playbook

#3121 Update azuredeploy.json
  Playbooks/Isolate-MDEMachine/incident-trigger/azuredeploy.json
Labels: Playbook

#3819 analytic content for TM ApexOne
  .script/tests/KqlvalidationsTests/CustomTables/TMApexOneEvent.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Sample Data/CEF/TrendMicro_ApexOne.json
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneAttackDiscoveryDetectionRisks.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneCommandLineSuspiciousRequests.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneCommandsInRequest.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneDvcAccessPermissionWasChanged.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneInboundRemoteAccess.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneMultipleDenyOrTerminateActionOnSingleIp.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOnePossibleExploitOrExecuteOperation.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneRiskCnCEvents.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneSpywareWithFailedResponse.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneSuspiciousConnections.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTranslatedAction.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTranslatedOperation.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTriggeredPolicy.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTypesOfEvent.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneChannelType.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneDataLossPreventionAction.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneRareAppProtocolByIP.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneSpywareDetection.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneSuspiciousFiles.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneTopSources.yaml
  Solutions/Trend Micro Apex One/Workbooks/Images/TrendMicroApexOneBlack.png
  Solutions/Trend Micro Apex One/Workbooks/Images/TrendMicroApexOneWhite.png
  Solutions/Trend Micro Apex One/Workbooks/TrendMicroApexOne.json
Labels: Waiting on poster, Solution, Detection

#4344 Update AdvancedKQL.json
  Workbooks/AdvancedKQL.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4348 Add SolutionMetadata.json to RedCanarySolution
  Solutions/RedCanary/SolutionMetadata.json
Labels: Solution

#3844 Create SOCMA
  Solutions/SOC-Process-Framework/Watchlists/SOC-Maturity-Assessment/SOCMA.json
Labels: Solution

#4340 Moving content for CarbonBlack to solution folder
  Solutions/CarbonBlack/Analytic Rules/CriticalThreatDetected.yaml
  Solutions/CarbonBlack/Analytic Rules/KnownMalwareDetected.yaml
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/images/Incident_Comment.PNG
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/images/designerOverviewDark.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/images/designerOverviewLight.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/images/Incident_Comment.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/images/designerOverviewDark1.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/images/designerOverviewDark2.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/images/designerOverviewLight1.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/images/designerOverviewLight2.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/CarbonBlack-TakeDeviceActionFromTeams.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/images/Incident_Comment.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/images/adaptiveCard.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/images/summaryCard.png
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlackConnector/CarbonBlack.PNG
  Solutions/CarbonBlack/Playbooks/CarbonBlackConnector/CarbonBlackListOfActions.png
  Solutions/CarbonBlack/Playbooks/CarbonBlackConnector/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/CarbonBlackConnector/readme.md
  Solutions/CarbonBlack/Playbooks/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/readme.md
  Solutions/CarbonBlack/Workbooks/VMwareCarbonBlack.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#4387 Moving Meraki Connector to Solutions folder
  Solutions/CiscoMeraki/Data Connectors/Connector_Syslog_CiscoMeraki.json
  Solutions/CiscoMeraki/Data Connectors/la_agent_configs/meraki.conf
  Solutions/CiscoMeraki/Data Connectors/syslog_ng_configs/10-meraki.conf
Labels: Connector, Solution

#4407 Private/avital/dstim
  Workbooks/DSTIMWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4399 Fixed error in sending Secure Score
  Playbooks/M365-Security-Posture/azuredeploy.json
Labels: Playbook

#4382 Adding windows forwarded events connector ID
  Detections/MultipleDataSources/AADHostLoginCorrelation.yaml
  Detections/MultipleDataSources/ADFS-DKM-MasterKey-Export.yaml
  Detections/MultipleDataSources/EmailAccessviaActiveSync.yaml
  Detections/MultipleDataSources/ExchangeServerVulnerabilitiesMarch2021IoCs.yaml
  Detections/MultipleDataSources/GainCodeExecutionADFSviaWMI.yaml
  Detections/MultipleDataSources/HAFNIUMUmServiceSuspiciousFile.yaml
  Detections/MultipleDataSources/HostAADCorrelation.yaml
  Detections/MultipleDataSources/MultiplePasswordresetsbyUser.yaml
  Detections/MultipleDataSources/NetworkEndpointCorrelation.yaml
  Detections/MultipleDataSources/Nobelium_FoggyWeb.yaml
  Detections/MultipleDataSources/SOURGUM_IOC.yaml
  Detections/MultipleDataSources/SUNSPOTLogFile.yaml
  Detections/MultipleDataSources/SecurityServiceRegistryACLModification.yaml
  Detections/MultipleDataSources/WSLMalwareCorrelation.yaml
  Detections/MultipleDataSources/ZincJan272021IOCs.yaml
  Detections/SecurityEvent/AADHealthMonAgentRegKeyAccess.yaml
  Detections/SecurityEvent/AADHealthSvcAgentRegKeyAccess.yaml
  Detections/SecurityEvent/GroupCreatedAddedToPrivlegeGroup_1h.yaml
  Detections/SecurityEvent/HAFNIUMNewUMServiceChildProcess.yaml
  Detections/SecurityEvent/NOBELIUM_SuspiciousRundll32Exec.yaml
  Detections/SecurityEvent/NOBELIUM_SuspiciousScriptRegistryWrite.yaml
  Detections/SecurityEvent/PotentialBuildProcessCompromise.yaml
  Detections/SecurityEvent/PotentialKerberoast.yaml
  Detections/SecurityEvent/RDP_MultipleConnectionsFromSingleSystem.yaml
  Detections/SecurityEvent/RDP_Nesting.yaml
  Detections/SecurityEvent/RDP_RareConnection.yaml
  Detections/SecurityEvent/SecurityEventLogCleared.yaml
  Detections/SecurityEvent/SolorigateNamedPipe.yaml
  Detections/SecurityEvent/UserAccountAdd-Removed.yaml
  Detections/SecurityEvent/UserAccountAddedToPrivlegeGroup_1h.yaml
  Detections/SecurityEvent/UserAccountCreatedDeleted_10m.yaml
  Detections/SecurityEvent/UserAccountEnabledDisabled_10m.yaml
  Detections/SecurityEvent/UserCreatedAddedToBuiltinAdmins_1d.yaml
  Detections/SecurityEvent/base64_encoded_pefile.yaml
  Detections/SecurityEvent/execute_base64_decodedpayload.yaml
  Detections/SecurityEvent/gte_6_FailedLogons_10m.yaml
  Detections/SecurityEvent/malware_in_recyclebin.yaml
  Detections/SecurityEvent/password_never_expires.yaml
  Detections/SecurityEvent/powershell_empire.yaml
  Detections/ThreatIntelligenceIndicator/EmailEntity_SecurityEvent.yaml
  Detections/ThreatIntelligenceIndicator/FileHashEntity_SecurityEvent.yaml
  Detections/WindowsEvent/ChiaCryptoMining_WindowsEvent.yaml
  Hunting Queries/MultipleDataSources/Dev-0056CommandLineActivityNovember2021.yaml
  Hunting Queries/MultipleDataSources/NICKELCommandLineActivity-Nov2021.yaml
  Hunting Queries/MultipleDataSources/ReconActivitywithInteractiveLogonCorrelation.yaml
Labels: Detection, Hunting

#4434 Cisco Meraki solution package update 1.0.6
  Solutions/CiscoMeraki/Package/1.0.6.zip
  Solutions/CiscoMeraki/Package/createUiDefinition.json
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_CiscoMeraki.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_MITREATT&CK.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_SecurityBridgeSAP.json
Labels: Solution

#4423 ThreatAnalysis&Response solution package 1.0.12
  Solutions/ThreatAnalysis&Response/Package/1.0.12.zip
  Solutions/ThreatAnalysis&Response/Package/createUiDefinition.json
  Solutions/ThreatAnalysis&Response/Package/mainTemplate.json
Labels: Solution

#4424 Solution tool update. changing azure sentinel to Microsoft sentinel.
  Tools/Create-Azure-Sentinel-Solution/createSolution.ps1
Labels: Solution

#4237 Create SOURGUM_IOC_WindowsEvent.yaml
  Detections/WindowsEvent/SOURGUM_IOC_WindowsEvent.yaml
Labels: Detection, WindowsEventProject

#4293 Qualys kb icm fix
  DataConnectors/Qualys KB/AzureFunctionQualysKB.zip
  DataConnectors/Qualys KB/AzureFunctionQualysKB/run.ps1
Labels: Connector

#4240 Hunting queries windows event batch1
  Hunting Queries/MultipleDataSources/Dev-0056CommandLineActivityNovember2021.yaml
  Hunting Queries/MultipleDataSources/NICKELCommandLineActivity-Nov2021.yaml
  Hunting Queries/MultipleDataSources/NickelRegIOCPatterns.yaml
  Hunting Queries/MultipleDataSources/PersistViaIFEORegistryKey.yaml
  Hunting Queries/MultipleDataSources/PotentialMicrosoftSecurityServicesTampering.yaml
  Hunting Queries/MultipleDataSources/SolarWindsInventory.yaml
  Hunting Queries/MultipleDataSources/TrackingPasswordChanges.yaml
Labels: Hunting, WindowsEventProject

#4396 Create MacroInvokingShellBrowserWindowCOMObjects.yaml
  Detections/SecurityEvent/MacroInvokingShellBrowserWindowCOMObjects.yaml
Labels: Detection

#4395 Create DSRMAccountAbuse.yaml
  Detections/SecurityEvent/DSRMAccountAbuse.yaml
Labels: Detection

#4394 Create RegistryPersistenceViaAppCertDLLModification.yaml
  Detections/SecurityEvent/RegistryPersistenceViaAppCertDLLModification.yaml
Labels: Detection

#4390 Create WindowsBinariesLolbinsRenamed.yaml
  Detections/SecurityEvent/WindowsBinariesLolbinsRenamed.yaml
Labels: Detection

#4378 Create WDigestDowngradeAttack.yaml
  Detections/SecurityEvent/WDigestDowngradeAttack.yaml
Labels: Detection

#4380 Create AccessibilityFeaturesModification.yaml
  Detections/SecurityEvent/AccessibilityFeaturesModification.yaml
Labels: Detection

#4389 Create DumpingLSASSProcessIntoaFile.yaml
  Detections/SecurityEvent/DumpingLSASSProcessIntoaFile.yaml
Labels: Detection

#4388 Update MFARejectedByUser to include AAD IDs
  Detections/SigninLogs/MFARejectedbyUser.yaml
Labels: Detection

#4360 Create compromised nvidia certificates[Lapsus$].yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/compromised nvidia certificates[Lapsus$].yaml
Labels: Hunting

#4291 Updates two AzureActivity based rules to look for data in correct format
  Detections/AzureActivity/RareOperations.yaml
  Detections/AzureActivity/RareRunCommandPowerShellScript.yaml
  Detections/MultipleDataSources/RunCommandUEBABreach.yaml
Labels: Detection

#4161 Update Potential_IIS_CodeInject.yaml
  Hunting Queries/W3CIISLog/Potential_IIS_CodeInject.yaml
Labels: Detection

#4400 Add clarification in instructions on changing json filename
  Detections/SigninLogs/AzurePortalSigninfromanotherAzureTenant.yaml
Labels: Detection

#3484 add zpa content
  .script/tests/KqlvalidationsTests/CustomTables/ZPAEvent.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerSharedZPASession.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedCountEventResult.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedCountries.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedUpdateOperation.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsByDormantUser.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsByNewUser.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsFromNewCountry.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsFromNewIP.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsOutsideOperationalHours.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAUnexpectedSessionDuration.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerAbnormalTotalBytesSize.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerApplicationByUsers.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerConnectionCloseReason.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerIPsByPorts.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerSourceLocation.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerTopConnectors.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerTopSourceIP.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUrlhostname.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUserAccessGroups.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUserServerErrors.yaml
  Solutions/Zscaler Private Access (ZPA)/Workbooks/ZscalerZPA.json
  Solutions/Zscaler Private Access (ZPA)/Workbooks/ZscalerZPABlack.png
  Solutions/Zscaler Private Access (ZPA)/Workbooks/ZscalerZPAWhite.png
Labels: Workbook, Solution, Detection, Hunting

#4432 Updated azuredeploy.json file -- author attribute to reflect company name change
  Playbooks/Zscaler-add-Domains-to-URL-Category/azuredeploy.json
Labels: Playbook

#4441 Update Module-3-Analytics-Rules.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-3-Analytics-Rules.md
Labels: Solution

#4431 Updated azuredeploy.json file -- author attribute to reflect company name change
  Playbooks/Guardicore-ThreatIntel/azuredeploy.json
Labels: Playbook

#4430 Updated azuredeploy.json file -- author attribute to reflect company name change
  Playbooks/Guardicore-Import-Incidents/azuredeploy.json
Labels: Playbook

#4429 Updated azuredeploy.json file -- author attribute to reflect company name change
  Playbooks/Guardicore-Import-Assets/azuredeploy.json
Labels: Playbook

#4428 Updated azuredeploy.json file -- author attribute to reflect company name change
  Playbooks/Edgescan-AzureSentinel-Integration/azuredeploy1.json
  Playbooks/Edgescan-AzureSentinel-Integration/azuredeploy2.json
  Playbooks/Edgescan-AzureSentinel-Integration/azuredeploy3.json
Labels: Playbook

#4383 Add detection for Password Spray against Seamless SSO
  Detections/SigninLogs/SeamlessSSOPasswordSpray.yaml
Labels: Detection

#4427 Updated azuredeploy.json file -- author attribute to reflect company name change
  Playbooks/AS_Alert_Spiderfoot_Scan/azuredeploy.json
Labels: Playbook

#4440 Replacing Azure Defender name with Microsoft Defender for Cloud
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-2-Data-Connectors.md
Labels: Solution

#4452 Update-VIPUsers-Watchlist-from-AzureAD-Group
  Playbooks/Update-VIPUsers-Watchlist-from-AzureAD-Group/VIPUsersTemplate.csv
  Playbooks/Update-VIPUsers-Watchlist-from-AzureAD-Group/azuredeploy.json
  Playbooks/Update-VIPUsers-Watchlist-from-AzureAD-Group/images/playbook.png
  Playbooks/Update-VIPUsers-Watchlist-from-AzureAD-Group/readme.md
Labels: Playbook

#4456 Bug 13880823: [DSTIM][Workbook] use aka.ms link for survey
  Workbooks/DSTIMWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#4417 Update Red Canary directory name
  Solutions/Red Canary/Analytic Rules/RedCanaryThreatDetection.yaml
  Solutions/Red Canary/Data Connectors/RedCanaryDataConnector.json
  Solutions/Red Canary/SolutionMetadata.json
Labels: Connector, Solution

#4416 Users/tichandr/oktaschedulerfix
  DataConnectors/Okta Single Sign-On/AzureFunctionOktaSSO/AzureFunctionOktaSSO.zip
  DataConnectors/Okta Single Sign-On/AzureFunctionOktaSSO/AzureFunctionOktaSSO/function.json
  DataConnectors/Okta Single Sign-On/AzureFunctionOktaSSO_V2/AzureFunctionOktaSSO.zip
  DataConnectors/Okta Single Sign-On/AzureFunctionOktaSSO_V2/AzureFunctionOktaSSO/function.json
  DataConnectors/Okta Single Sign-On/azuredeploy_OktaSingleSignOn_API_FunctionApp.json
  DataConnectors/Okta Single Sign-On/azuredeploy_OktaSingleSignOn_API_FunctionApp_V2.json
Labels: Connector

#4324 iboss Sentinel Solution
  Solutions/iboss/Data Connectors/iboss_cef.json
  Solutions/iboss/Parsers/ibossUrlEvent.txt
  Solutions/iboss/SolutionMetadata.json
  Solutions/iboss/Workbooks/Images/Logo/iboss_full-logo_2020_vector_black.svg
  Solutions/iboss/Workbooks/Images/Logo/iboss_full-logo_2020_vector_white.svg
  Solutions/iboss/Workbooks/ibossMalwareAndC2.json
  Solutions/iboss/Workbooks/ibossWebUsage.json
Labels: Waiting on poster, Connector, Parser, Workbook, Solution

#4448 Update Creating_Anomalous_Number_Of_Resources.yaml
  Hunting Queries/AzureActivity/Creating_Anomalous_Number_Of_Resources.yaml
Labels: Hunting

#4465 TrendMicro Apex One workbook update
  Solutions/Trend Micro Apex One/Workbooks/TrendMicroApexOne.json
Labels: Workbook

#4472 Hunting queries related to Okta Breach
  .gitignore
  Hunting Queries/Okta/AdminPrivilegeGrant.yaml
  Hunting Queries/Okta/CreateAPIToken.yaml
  Hunting Queries/Okta/ImpersonationSession.yaml
  Hunting Queries/Okta/RareMFAOperation.yaml
Labels: Hunting

#4487 Add files via upload - Removing isnotempty from the queries as they are not needed.
  Hunting Queries/Okta/CreateAPIToken.yaml
  Hunting Queries/Okta/ImpersonationSession.yaml
Labels: Hunting

#4486 Updating the Okta queries
  Hunting Queries/Okta/AdminPrivilegeGrant.yaml
  Hunting Queries/Okta/RareMFAOperation.yaml
Labels: Hunting

#4480 V pradjalu/leadershipboard
  Tools/stats/stats.md
Labels: Fixed

#4488 Update Package for ZPA
  Solutions/Zscaler Private Access (ZPA)/Data/Solution_Zscaler Private Access (ZPA).json
  Solutions/Zscaler Private Access (ZPA)/Package/1.0.2.zip
  Solutions/Zscaler Private Access (ZPA)/Package/createUiDefinition.json
  Solutions/Zscaler Private Access (ZPA)/Package/mainTemplate.json
Labels: Solution

#4442 CMMC2.0 Solution Push
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/AccessControlControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/Audit&AccountabilityControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/ConfigurationManagementControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/Identification&AuthenticationControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/IncidentResponseControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/RecoveryControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/RiskManagementControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/SecurityAssessmentControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/System&CommunicationsProtectionControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Analytic Rules/System&InformationIntegrityControlFamilyMonitoring.yaml
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Package/1.0.0.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Package/1.0.1.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Package/1.0.2.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Package/1.0.3.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Package/createUiDefinition.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Package/mainTemplate.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Playbooks/Notify_GovernanceComplianceTeam.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)/SolutionMetadata.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Workbooks/CybersecurityMaturityModelCertification(CMMC).json
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)Black1.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)White1.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)Workbook.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)/data/Solution_CybersecurityMaturityModelCertification(CMMC).json
  Solutions/CybersecurityMaturityModelCertification(CMMC)/readme.md
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)Black1.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)White1.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)Workbook.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/Images/CybersecurityMaturityModelCertification(CMMC)Workbook2.png
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/readme.md
Labels: Solution

#4454 Solution Tool Update For () Removal
  Tools/Create-Azure-Sentinel-Solution/createSolution.ps1
Labels: New

#4478 Adding Solution Packages of Akamai
  Solutions/Akamai Security Events/Data Connectors/Connector_CEF_Akamai.json
  Solutions/Akamai Security Events/Package/2.0.0.zip
  Solutions/Akamai Security Events/Package/createUiDefinition.json
  Solutions/Akamai Security Events/Package/mainTemplate.json
  Solutions/Akamai Security Events/Parsers/AkamaiSIEMEvent.txt
  Solutions/Akamai Security Events/SolutionMetadata.json
Labels: Solution

#3951 Proofpoint TAP native poller connector
  Solutions/ProofPointTap/Data Connectors/ProofpointTAPNativePollerConnector/azuredeploy_ProofpointTAP_native_poller_connector.json
  Solutions/ProofPointTap/Parsers/ProofpointTAPEvent.txt
Labels: Connector

#4426 Update Module-4-Incident-Management.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-4-Incident-Management.md
Labels: Solution

#4501 event sample file update
  Sample Data/Syslog/OracleDatabaseAudit.json
Labels: New

#4502 Hunting Query to detect User password reset in Okta
  Solutions/Okta Single Sign-On/Hunting Queries/UserPasswordReset.yaml
Labels: Hunting

#4482 Update RecordedFuture-TIforDefenderEndpoint.json
  Playbooks/RecordedFuture-Block-IPs-and-Domains-on-Microsoft-Defender-for-Endpoint/RecordedFuture-TIforDefenderEndpoint.json
Labels: Playbook

#4381 Simplified variables and logic
  Playbooks/Send-IngestionCostAlert/azuredeploy.json
Labels: Playbook

#4462 031722 cylance protect faulty log workaround
  Parsers/CylancePROTECT/CylancePROTECT-Alternate.txt
  Parsers/CylancePROTECT/README.md
Labels: Parser

#4008 Synack integration solution
  Logos/synack_logo.svg
  Solutions/Synack/Integrations/AzureFunctionSynack.zip
  Solutions/Synack/Integrations/AzureFunctionSynack/azure-service.js
  Solutions/Synack/Integrations/AzureFunctionSynack/function.json
  Solutions/Synack/Integrations/AzureFunctionSynack/host.json
  Solutions/Synack/Integrations/AzureFunctionSynack/index.js
  Solutions/Synack/Integrations/AzureFunctionSynack/synack-service.js
  Solutions/Synack/Integrations/AzureFunctionSynack/sync-service.js
  Solutions/Synack/Integrations/azuredeploy_Synack_API_FunctionApp.json
Labels: Waiting on poster, Solution

#4532 Adding automatic playbook arm template generator to Playbooks README
  Playbooks/Download.png
  Playbooks/ReadMe.md
Labels: Playbook

#4274 Add myself as a code owner
  CODEOWNERS
Labels: New
