Repository Azure/Azure-Sentinel, pull requests merged in 2022-09, with the labels that each got.

#6005 Adding ASim Parser for Cisco ASA
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoASA/ASimNetworkSessionCiscoASA.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoASA/README.md
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoASA.yaml
Labels: ASIM, Parser

#5696 Changing Sentinel deployment to onboardingStates
  Tools/Sentinel-All-In-One/ARMTemplates/azuredeploy.json
  Tools/Sentinel-All-In-One/ARMTemplates/createUiDefinition.json
Labels: Tools

#5681 Turn in to array
  Playbooks/Enrich-SentinelIncident-GreyNoise-IP/azuredeploy.json
  Playbooks/Enrich-SentinelIncident-GreyNoiseCommunity-IP/azuredeploy.json
Labels: Playbook

#4250 Initial Commit For Send-Slack-Message-Webhook
  Playbooks/Send-Slack-Message-Webhook/incident-trigger/azuredeploy.json
  Playbooks/Send-Slack-Message-Webhook/incident-trigger/images/PlaybookName_incident.png
  Playbooks/Send-Slack-Message-Webhook/incident-trigger/images/SlackMessage.png
  Playbooks/Send-Slack-Message-Webhook/incident-trigger/images/designerDark.png
  Playbooks/Send-Slack-Message-Webhook/readme.md
Labels: Playbook

#6050 Updated readme links for cisco meraki
  Playbooks/Sync-IncidentsWithJIRA/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/readme.md
  Solutions/CiscoMeraki/Playbooks/Block-Device-Client/readme.md
  Solutions/CiscoMeraki/Playbooks/Block-IP-Address/readme.md
  Solutions/CiscoMeraki/Playbooks/Block-URL/readme.md
  Solutions/CiscoMeraki/Playbooks/IP-Address-Enrichment/readme.md
  Solutions/CiscoMeraki/Playbooks/URL-Enrichment/readme.md
Labels: Solution Migration

#6045 Update azuredeploy.json
  DataConnectors/O365 Data/azuredeploy.json
Labels: Connector

#6055 new MLBehaviorAnalytics API version
  Tools/Sentinel-All-In-One/ARMTemplates/LinkedTemplates/alertRules.json
Labels: Tools

#5247 Add TimeRange parameter instead of defined time context
  Solutions/GitHub/Workbooks/GithubWorkbook.json
Labels: Waiting on poster, Workbook

#5538 Azurekid/bugfix/sample-data
  Sample Data/Custom/MongoDBAudit_CL.csv
  Sample Data/Custom/MongoDBAudit_CL.json
  Sample Data/Custom/MongoDBAudit_CL.log
Labels: Sample Data

#6074 update links in data connector for Nozomi solution
  Solutions/NozomiNetworks/Data Connectors/NozomiNetworksN2OS.json
  Solutions/NozomiNetworks/Package/2.0.0.zip
  Solutions/NozomiNetworks/Package/mainTemplate.json
Labels: Solution Migration

#5715 Zero Networks Solution v1
  Solutions/ZeroNetworks/Package/1.0.0.zip
  Solutions/ZeroNetworks/Package/createUiDefinition.json
  Solutions/ZeroNetworks/Package/mainTemplate.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddAssettoProtection/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-AddBlockOutboundRule/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksAcccessOrchestrator-EnrichIncident/azuredeploy.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_ZeroNetworks.json
Labels: Waiting on poster, Playbook, Solution

#6056 Playbook Connection Fix Changes for IoT OT Threat Monitoring with Defender for IoT
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/2.0.0.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/mainTemplate.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/AutoCloseIncidents/AutoCloseIncidents.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/MailBySensor/MailBySensor.json
Labels: Solution Migration

#5994 Solution migration changes for Apache Log4j Vulnerability Detection
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Hunting Queries/AzureDiagnostics/WAF_log4j_vulnerability.yaml
  Hunting Queries/CommonSecurityLog/NetworkConnectionToNewExternalLDAPServer.yaml
  Hunting Queries/MultipleDataSources/NetworkConnectionldap_log4j.yaml
  Hunting Queries/Syslog/Apache_log4j_Vulnerability.yaml
  Hunting Queries/Syslog/Base64_Download_Activity.yaml
  Hunting Queries/Syslog/Container_Miner_Activity.yaml
  Hunting Queries/Syslog/Firewall_Disable_Activity.yaml
  Hunting Queries/Syslog/Linux_Toolkit_Detected.yaml
  Hunting Queries/Syslog/Process_Termination_Activity.yaml
  Hunting Queries/Syslog/Suspicious_ShellScript_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/AzureWAFmatching_log4j_vuln.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4J_IPIOC_Dec112021.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4jVulnerableMachines.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/UserAgentSearch_log4j.yaml
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Apache_log4j_Vulnerability.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Base64_Download_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Container_Miner_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Firewall_Disable_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Linux_Toolkit_Detected.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/NetworkConnectionToNewExternalLDAPServer.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/NetworkConnectionldap_log4j.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Process_Termination_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Suspicious_ShellScript_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/WAF_log4j_vulnerability.yaml
  Solutions/Apache Log4j Vulnerability Detection/Package/2.0.0.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/BatchImport/BatchImportToSentinel.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/IndicateProcessor/Log4jIndicatorProcessor.json
  Solutions/Apache Log4j Vulnerability Detection/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution Migration

#6083 update metadata file for zeronetwork
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6040 Users/rahul/neustar
  Solutions/Neustar IP GeoPoint/Playbooks/Neustar-GetIPGeoInfo/azuredeploy.json
  Solutions/Neustar IP GeoPoint/Playbooks/Neustar-GetIPGeoInfo/images/Playbook_Incident_Comment.jpg
  Solutions/Neustar IP GeoPoint/Playbooks/Neustar-GetIPGeoInfo/images/Playbook_NeustarGetIPGeoInfo.jpg
  Solutions/Neustar IP GeoPoint/Playbooks/Neustar-GetIPGeoInfo/readme.md
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/GetIPGeoInfo/__init__.py
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/GetIPGeoInfo/function.json
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/NeustarIPGeoPointFunctionApp.zip
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/azuredeploy.json
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/host.json
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/proxies.json
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/readme.md
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/requirements.txt
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarLogo.jpeg
  Solutions/Neustar IP GeoPoint/Playbooks/readme.md
Labels: Playbook, Solution

#6021 Asim/kustoking/add watchguard parser
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionWatchGuardFirewareOS/ASimNetworkSessionWatchGuardFirewareOS.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionWatchGuardFirewareOS/README.md
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionWatchGuardFirewareOS/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionWatchGuardFirewareOS/vimNetworkSessionWatchGuardFirewareOS.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionWatchGuardFirewareOS.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionWatchGuardFirewareOS.yaml
Labels: ASIM, Parser

#6084 Updated Readme files and Function App ARM template.
  Solutions/Neustar IP GeoPoint/Playbooks/Neustar-GetIPGeoInfo/readme.md
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/azuredeploy.json
  Solutions/Neustar IP GeoPoint/Playbooks/NeustarIPGeoPoint_FunctionAppConnector/readme.md
Labels: Playbook

#6002 [DO NOT MERGE] VMWare Carbon black ICM fix
  Solutions/VMware Carbon Black Cloud/Data Connectors/AzureFunctionVMwareCarbonBlack.zip
Labels: dataconnector-cri

#6051 Updating name for Workbook Thycotic
  Workbooks/AzureActiveDirectoryAuditLogs.json
  Workbooks/AzureActiveDirectorySignins.json
  Workbooks/Cisco.json
  Workbooks/DelineaWorkbook.json
Labels: Workbook

#6052 Palo alto pan os logo path update.
  Solutions/PaloAlto-PAN-OS/Package/2.0.0.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
Labels: Solution

#6089 add arm template onboarding script
  DataConnectors/GCP/ArmTemplate/GCPOnboarding.json
Labels: Connector

#6093 Symantec Endpoint protection solution package 2.0.1
  Solutions/Symantec Endpoint Protection/Data Connectors/Connector_Syslog_SymantecEndpointProtection.json
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/2.0.1.zip
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
Labels: Solution

#6092 Pulse connect secure solution package 2.0.1
  Solutions/Pulse Connect Secure/Data Connectors/Connector_Syslog_PulseConnectSecure.json
  Solutions/Pulse Connect Secure/Data/Solution_Pulse Connect Secure.json
  Solutions/Pulse Connect Secure/Package/2.0.1.zip
  Solutions/Pulse Connect Secure/Package/mainTemplate.json
Labels: Solution

#6082 Cloudflare ICM Fix
  Solutions/Cloudflare/Data Connectors/azuredeploy_Cloudflare_API_FunctionApp.json
Labels: dataconnector-cri

#5419 (Do not merge) Cisco Duo parser update for ICM
  Solutions/CiscoDuoSecurity/Parsers/CiscoDuo.txt
Labels: Parser

#5427 Created a new workbook for Syslog Overview
  Workbooks/Images/Preview/syslogoverview-black.png
  Workbooks/Images/Preview/syslogoverview-white.png
  Workbooks/WorkbooksMetadata.json
  Workbooks/syslogoverview.json
Labels: Workbook

#5613 V1.6.1 Workspace Usage
  Workbooks/WorkbooksMetadata.json
  Workbooks/WorkspaceUsage.json
Labels: Workbook

#5415 Updated function app code
  Solutions/Netskope/Data Connectors/Netskope/AzureFunctionNetskope.zip
  Solutions/Netskope/Data Connectors/Netskope/AzureFunctionNetskope/run.ps1
Labels: Connector, Solution

#5710 Solution Migration Changes for Cisco Duo Security
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoADSyncFailed.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoAdminDeleted.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoAdminMFAFailures.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoAdminPasswordReset.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoMultipleUserLoginFailures.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoMultipleUsersDeleted.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoNewAccessDevice.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoNewAdmin.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoNewAuthDeviceLocation.yaml
  Solutions/CiscoDuoSecurity/Analytic Rules/CiscoDuoUnexpectedAuthFactor.yaml
  Solutions/CiscoDuoSecurity/Data Connectors/CiscoDuo_API_FunctionApp.json
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Hunting Queries/CiscoDuoAdminDeleteActions.yaml
  Solutions/CiscoDuoSecurity/Hunting Queries/CiscoDuoNewUsers.yaml
  Solutions/CiscoDuoSecurity/Package/2.0.0.zip
  Solutions/CiscoDuoSecurity/Package/createUiDefinition.json
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/SolutionMetadata.json
Labels: Solution Migration

#5632 Update package for description in PostgreSQL solution
  Solutions/PostgreSQL/Data Connectors/Connector_PostgreSQL.json
  Solutions/PostgreSQL/Package/2.0.0.zip
  Solutions/PostgreSQL/Package/createUiDefinition.json
  Solutions/PostgreSQL/Package/mainTemplate.json
Labels: Solution

#6053 Asim/update mde process parsers
  Parsers/ASimProcessEvent/ARM/ASimProcessEventMicrosoft365D/ASimProcessEventMicrosoft365D.json
  Parsers/ASimProcessEvent/ARM/vimProcessEventMicrosoft365D/vimProcessEventMicrosoft365D.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventMicrosoft365D.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessEventMicrosoft365D.yaml
Labels: ASIM, Parser

#6079 Asim/update win events process parsers
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftWindowsEvents/ASimProcessCreateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateMicrosoftWindowsEvents/ASimProcessTerminateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/imProcessCreate/imProcessCreate.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftWindowsEvents/vimProcessCreateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftWindowsEvents/vimProcessTerminateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessCreate.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftWindowsEvents.yaml
Labels: ASIM, Parser

#5100 Package Creation For Dynamic 365-- DO NOT MERGE AS 1P
  Solutions/Dynamics 365/Analytic Rules/DynamicsEncryptionSettingsChanged.yaml
  Solutions/Dynamics 365/Analytic Rules/MassExportOfDynamicstoExcel.yaml
  Solutions/Dynamics 365/Analytic Rules/NewDynamicsAdminActivity.yaml
  Solutions/Dynamics 365/Analytic Rules/NewDynamicsUserAgent.yaml
  Solutions/Dynamics 365/Analytic Rules/NewOfficeUserAgentinDynamics.yaml
  Solutions/Dynamics 365/Analytic Rules/UserBulkRetreivalOutsideNormalActivity.yaml
  Solutions/Dynamics 365/Data Connectors/template_Dynamics365.JSON
  Solutions/Dynamics 365/Data/Solution_Dynamics365.json
  Solutions/Dynamics 365/Package/2.0.0.zip
  Solutions/Dynamics 365/Package/createUiDefinition.json
  Solutions/Dynamics 365/Package/mainTemplate.json
  Solutions/Dynamics 365/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#6099 V ntripathi/symantec endpoint protection solution package2.0.1
  Solutions/Symantec Endpoint Protection/Package/2.0.1.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
Labels: Solution

#6104 AIA darktrace solution package update.
  Solutions/AI Analyst Darktrace/Data/Solution_AIAnalystDarktrace.json
  Solutions/AI Analyst Darktrace/Package/2.0.1.zip
  Solutions/AI Analyst Darktrace/Package/mainTemplate.json
  Solutions/AI Analyst Darktrace/SolutionMetadata.json
Labels: Solution

#6101 Lastpass solution package 2.0.1
  Solutions/LastPass/Data/Solution_LastPass.json
  Solutions/LastPass/Package/2.0.1.zip
  Solutions/LastPass/Package/createUiDefinition.json
  Solutions/LastPass/Package/mainTemplate.json
Labels: Solution

#6109 Digital Gurdian SOlution package 2.0.1
  Solutions/DigitalGuardianDLP/Data/Solution_DigitalGuardianDLP.json
  Solutions/DigitalGuardianDLP/Package/2.0.1.zip
  Solutions/DigitalGuardianDLP/Package/mainTemplate.json
Labels: Solution

#6108 Lastpass solution package 2.0.1
  Solutions/LastPass/Package/2.0.1.zip
  Solutions/LastPass/Package/mainTemplate.json
  Solutions/LastPass/SolutionMetadata.json
Labels: Solution

#6107 WireX solution package 2.0.1
  Solutions/WireX Network Forensics Platform/Data/Solution_WireXNetworkForensicsPlatform.json
  Solutions/WireX Network Forensics Platform/Package/2.0.1.zip
  Solutions/WireX Network Forensics Platform/Package/mainTemplate.json
  Solutions/WireX Network Forensics Platform/SolutionMetadata.json
Labels: Solution

#6106 Sonicwall firewall solution package 2.0.1
  Solutions/SonicWall Firewall/Data/Solution_ SonicWall Firewall.json
  Solutions/SonicWall Firewall/Package/2.0.1.zip
  Solutions/SonicWall Firewall/Package/mainTemplate.json
  Solutions/SonicWall Firewall/SolutionMetadata.json
Labels: Solution

#5895 Package creation for Darktrace (New Solution)
  Solutions/Darktrace/Data/Solution_DarktraceEnterpriseImmuneSystem.json
  Solutions/Darktrace/Package/2.0.0.zip
  Solutions/Darktrace/Package/createUiDefinition.json
  Solutions/Darktrace/Package/mainTemplate.json
  Solutions/Darktrace/SolutionMetadata.json
Labels: Solution

#5310 Create ASR--Rule-Ransomware-triggered.yaml
  Hunting Queries/Microsoft 365 Defender/Ransomware/ASR--Rule-Ransomware-triggered.yaml
Labels: Hunting

#6105 Add gcp arem template onboarding
  DataConnectors/GCP/ArmTemplate/GCPOnboarding.json
Labels: Connector

#6065 Create DLLHost.exe WMIC domain discovery.yaml
  Hunting Queries/Microsoft 365 Defender/Ransomware/DEV-0270/DLLHost.exe WMIC domain discovery.yaml
Labels: Hunting

#6064 Create PowerShell adding exclusion path for Microsoft Defender of Pro…
  Hunting Queries/Microsoft 365 Defender/Ransomware/DEV-0270/PowerShell adding exclusion path for Microsoft Defender of ProgramData.yaml
Labels: Hunting

#6063 Create Create new user with known DEV-0270 username and password.yaml
  Hunting Queries/Microsoft 365 Defender/Ransomware/DEV-0270/Create new user with known DEV-0270 username and password.yaml
Labels: Hunting

#6062 Create Email data exfiltration via PowerShell.yaml
  Hunting Queries/Microsoft 365 Defender/Ransomware/DEV-0270/Email data exfiltration via PowerShell.yaml
Labels: Hunting

#6061 Create Add malicious user to Admins and RDP users group via PowerShel…
  Hunting Queries/Microsoft 365 Defender/Ransomware/DEV-0270/Add malicious user to Admins and RDP users group via PowerShell.yaml
Labels: Hunting

#6060 Create DLLHost.exe file creation via PowerShell.yaml
  Hunting Queries/Microsoft 365 Defender/Ransomware/DEV-0270/DLLHost.exe file creation via PowerShell.yaml
Labels: Hunting

#6059 Create Modifying the registry to add a ransom message notification.yaml
  Hunting Queries/Microsoft 365 Defender/Ransomware/DEV-0270/Modifying the registry to add a ransom message notification.yaml
Labels: Hunting

#6047 Create Disabling Services via Registry.yaml
  Hunting Queries/Microsoft 365 Defender/Ransomware/DEV-0270/Disabling Services via Registry.yaml
Labels: Hunting

#6102 Updated Content migrated
  Solutions/Cisco Firepower EStreamer/Package/2.0.1.zip
  Solutions/Cisco Firepower EStreamer/Playbooks/CiscoFirepower-BlockFQDN-NetworkGroup/azuredeploy.json
  Solutions/Cisco Firepower EStreamer/Playbooks/CiscoFirepower-BlockIP-NetworkGroup/azuredeploy.json
  Solutions/Cisco Firepower EStreamer/Playbooks/CiscoFirepower-BlockIP-Teams/azuredeploy.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/PlaybooksMigrated.json
Labels: Solution

#5707 Atlassian Confluence Audit Template spec solution [DO NOT Merge]
  DataConnectors/AtlassianConfluenceAudit/ConfluenceAuditAPISentinelConnector/__init__.py
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/ConfluenceAuditAPISentinelConnector/__init__.py
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/ConfluenceAuditAPISentinelConnector/function.json
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/ConfluenceAuditAPISentinelConnector/state_manager.py
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/ConfluenceAudit_API_FunctionApp.json
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/azuredeploy_Connector_ConfluenceAuditAPI_AzureFunction.json
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/host.json
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/proxies.json
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/requirements.txt
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/2.0.0.zip
  Solutions/AtlassianConfluenceAudit/Package/createUiDefinition.json
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/Parsers/ConfluenceAudit.txt
Labels: Solution Migration

#6110 V ntripathi/lastpass solution2.0.1
  Solutions/LastPass/Package/2.0.2.zip
  Solutions/LastPass/Package/mainTemplate.json
Labels: Solution

#4738 Azurekid/bugfix/dataconnector validator
  .script/dataConnectorValidator.ts
  .script/utils/dataConnector.ts
  .script/utils/dataConnectorCheckers/dataTypeChecker.ts
  .script/utils/schemas/AzureDevOpsAuditing_ConnectorSchema.json
Labels: Connector

#5940 Template spec solution created for OneLoginIAM
  Solutions/OneLoginIAM/Data Connectors/OneLogin_Webhooks_FunctionApp.json
  Solutions/OneLoginIAM/Data/Solution_OneLoginIAM.json
  Solutions/OneLoginIAM/Package/2.0.0.zip
  Solutions/OneLoginIAM/Package/createUiDefinition.json
  Solutions/OneLoginIAM/Package/mainTemplate.json
  Solutions/OneLoginIAM/SolutionMetadata.json
Labels: Solution

#5897 t-nettabrada/ddos
  .script/tests/KqlvalidationsTests/CustomTables/AzureDiagnostics.json
  Solutions/Azure DDoS Protection/Analytic Rules/AttackSourcesPPSThreshold.yaml
  Solutions/Azure DDoS Protection/Analytic Rules/AttackSourcesPercentThreshold.yaml
  Solutions/Azure DDoS Protection/Data/Solution_AzureDDoSProtection.json
  Solutions/Azure DDoS Protection/Package/2.0.0.zip
  Solutions/Azure DDoS Protection/Package/createUiDefinition.json
  Solutions/Azure DDoS Protection/Package/mainTemplate.json
Labels: Solution, Detection

#6130 update solution cisco asa with data connector
  Solutions/CiscoASA/Data Connectors/CiscoASA.JSON
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/2.0.1.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/Playbooks/CiscoASA-AddIPtoNetworkObjectGroup/azuredeploy.json
  Solutions/CiscoASA/Playbooks/CiscoASA-AddIPtoNetworkObjectGroup/readme.md
  Solutions/CiscoASA/Playbooks/CiscoASA-CreateACEInACL/azuredeploy.json
  Solutions/CiscoASA/Playbooks/CiscoASA-CreateACEInACL/readme.md
  Solutions/CiscoASA/Playbooks/CiscoASA-CreateInboundAccessRuleOnInterface/azuredeploy.json
  Solutions/CiscoASA/Playbooks/CiscoASA-CreateInboundAccessRuleOnInterface/readme.md
  Solutions/CiscoASA/Playbooks/readme.md
Labels: Solution

#5486 EatonForeseer TemplateSpec Solution --Do not merge as 1P solution
  Solutions/EatonForeseer/Analytic Rules/EatonUnautorizedLogins.yaml
  Solutions/EatonForeseer/Data/Solution_EatonForeseer.json
  Solutions/EatonForeseer/Package/2.0.0.zip
  Solutions/EatonForeseer/Package/createUiDefinition.json
  Solutions/EatonForeseer/Package/mainTemplate.json
  Solutions/EatonForeseer/SolutionMetadata.json
Labels: Solution Migration, 1P Solution

#5289 solution created for Security Threat Essentials -- DO NOT MERGE AS THIS IS 1P SOLUTION
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_MultipleAdmin_membership_removals_from_NewAdmin.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_NRT_UseraddedtoPrivilgedGroups.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_TimeSeriesAnomaly-MultiVendor_DataExfiltration.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_TimeSeriesAnomaly_Mass_Cloud_Resource_Deletions.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_UserAssignedPrivilegedRole.yaml
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/SecurityThreatEssentialSolution/Package/2.0.0.zip
  Solutions/SecurityThreatEssentialSolution/Package/createUiDefinition.json
  Solutions/SecurityThreatEssentialSolution/Package/mainTemplate.json
  Solutions/SecurityThreatEssentialSolution/SolutionMetadata.json
Labels: Solution Migration

#5597 Rename TI workbook template field
  Workbooks/ThreatIntelligence.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6096 Added validation to query incase displayName not populated by data
  Detections/AuditLogs/Useraccountcreatedwithoutexpectedattributesdefined.yaml
Labels: Detection

#5925 Mass Download & Possible copy to a USB device activity
  .script/tests/KqlvalidationsTests/CustomTables/CloudAppEvents.json
  Detections/SecurityAlert/Massdownload_USBFileCopy.yaml
Labels: Detection

#6116 Create ShadowCopyDeletion.yml
  Hunting Queries/Microsoft 365 Defender/Ransomware/ShadowCopyDeletion.yml
Labels: Hunting

#5891 Create User navigation to redirected URL.yaml
  Hunting Queries/Microsoft 365 Defender/Initial access/User navigation to redirected URL.yaml
Labels: Hunting

#5880 Update hunt query Possible Ransomware Related Destruction Activity
  Hunting Queries/Microsoft 365 Defender/Execution/Possible Ransomware Related Destruction Activity.yaml
Labels: Hunting

#5672 Create Linux Agent Age Report.yaml
  Hunting Queries/Microsoft 365 Defender/General queries/Linux Agent Age Report.yaml
Labels: Hunting

#5351 Create AzDiagSettingsDeleted.yaml
  Detections/AzureActivity/AzDiagSettingsDeleted.yaml
Labels: Detection

#6078 Playbook templates for incident creation
  Playbooks/CreateIncident-MicrosoftForms/azuredeploy.json
  Playbooks/CreateIncident-MicrosoftForms/images/DeleteConditionDark.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/DeleteConditionLight.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/MSForm.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/MSFormsPlaybookDark.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/MSFormsPlaybookLight.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/MicrosoftFormsID.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/SentinelIncidentDark.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/SentinelIncidentLight.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/UnsuccessDark.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/UnsuccessLight.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/mapDynamicContentDark.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/mapDynamicContentLight.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/successDark.jpg
  Playbooks/CreateIncident-MicrosoftForms/images/successLight.jpg
  Playbooks/CreateIncident-MicrosoftForms/readme.md
  Playbooks/CreateIncident-SharedMailbox/NewMicrosoftSentinelIncidentCreationTemplate.oft
  Playbooks/CreateIncident-SharedMailbox/azuredeploy.json
  Playbooks/CreateIncident-SharedMailbox/images/DeleteConditionDark.jpg
  Playbooks/CreateIncident-SharedMailbox/images/DeleteConditionLight.jpg
  Playbooks/CreateIncident-SharedMailbox/images/EmailSubjectUpdateDark.jpg
  Playbooks/CreateIncident-SharedMailbox/images/EmailSubjectUpdateLight.jpg
  Playbooks/CreateIncident-SharedMailbox/images/SentinelIncidentDark.jpg
  Playbooks/CreateIncident-SharedMailbox/images/SentinelIncidentLight.jpg
  Playbooks/CreateIncident-SharedMailbox/images/SharedMailboxPlaybookDark.jpg
  Playbooks/CreateIncident-SharedMailbox/images/SharedMailboxPlaybookLight.jpg
  Playbooks/CreateIncident-SharedMailbox/images/SuccessDark.jpg
  Playbooks/CreateIncident-SharedMailbox/images/SuccessLight.jpg
  Playbooks/CreateIncident-SharedMailbox/images/TrimExampleDark.jpg
  Playbooks/CreateIncident-SharedMailbox/images/TrimExampleLight.jpg
  Playbooks/CreateIncident-SharedMailbox/images/UnsuccessDark.jpg
  Playbooks/CreateIncident-SharedMailbox/images/UnsuccessLight.jpg
  Playbooks/CreateIncident-SharedMailbox/readme.md
Labels: Playbook

#4756 Upload UserDetectPrivilegeGroup
  Hunting Queries/AuditLogs/UserDetectPrivilegeGroup.yaml
Labels: Waiting on poster, Hunting

#5298 Fix "timstamp" column name, Linux failure and AAD Success conditions in HostAADCorrelation.yaml
  Detections/MultipleDataSources/HostAADCorrelation.yaml
Labels: Detection

#6058 Adding vim Parser for Cisco ASA
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoASA/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoASA/vimNetworkSessionCiscoASA.json
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoASA.yaml
Labels: ASIM, Parser

#5935 Template spec solution created for OpenVpn
  Solutions/OpenVPN/Data Connectors/OpenVPN_Syslog.json
  Solutions/OpenVPN/Data/Solution_OpenVpn.json
  Solutions/OpenVPN/Package/2.0.0.zip
  Solutions/OpenVPN/Package/createUiDefinition.json
  Solutions/OpenVPN/Package/mainTemplate.json
  Solutions/OpenVPN/SolutionMetadata.json
Labels: Solution

#5939 Template spec solution created for Auth0
  Solutions/Auth0/Data Connectors/Auth0_FunctionApp.json
  Solutions/Auth0/Data/Solution_Auth0.json
  Solutions/Auth0/Package/2.0.0.zip
  Solutions/Auth0/Package/createUiDefinition.json
  Solutions/Auth0/Package/mainTemplate.json
  Solutions/Auth0/SolutionMetadata.json
Labels: Solution

#6014 Add skip validation for Azure Active directory identity protection
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/SecurityAlert/CorrelateIPC_Unfamiliar-Atypical.yaml
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Validation

#5923 Create Bitsadmin Activity.yaml
  Hunting Queries/Microsoft 365 Defender/Execution/Bitsadmin Activity.yaml
Labels: Hunting

#6135 Azure Security Benchmark TemplateSpec
  Solutions/AzureSecurityBenchmark/Data/Solution_AzureSecurityBenchmark.json
  Solutions/AzureSecurityBenchmark/Package/2.0.0.zip
  Solutions/AzureSecurityBenchmark/Package/createUiDefinition.json
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
  Solutions/AzureSecurityBenchmark/Playbooks/Notify_GovernanceComplianceTeam/Notify_GovernanceComplianceTeam.json
  Solutions/AzureSecurityBenchmark/Playbooks/Open_DevOpsTaskRecommendation/Open_DevOpsTaskRecommendation.json
  Solutions/AzureSecurityBenchmark/Playbooks/Open_JIRATicketRecommendation/Open_JIRATicketRecommendation.json
Labels: Solution, Solution Migration

#6146 updated solution flare system firework
  Solutions/FlareSystemsFirework/Data Connectors/Connector_REST_API_FlareSystemsFirework.json
  Solutions/FlareSystemsFirework/Data/Solution_FlareSystemsFirework.json
  Solutions/FlareSystemsFirework/Package/2.0.0.zip
  Solutions/FlareSystemsFirework/Package/createUiDefinition.json
  Solutions/FlareSystemsFirework/Package/mainTemplate.json
  Solutions/FlareSystemsFirework/Playbooks/azuredeploy.json
  Solutions/FlareSystemsFirework/Playbooks/readme.md
Labels: Solution Migration

#6147 Solution Chages for Armorblox
  Solutions/Armorblox/Analytic Rules/ArmorbloxNeedsReviewAlert.yaml
  Solutions/Armorblox/Data Connectors/Armorblox_API_FunctionApp.json
  Solutions/Armorblox/Data/Solution_Armorblox.json
  Solutions/Armorblox/Package/2.0.0.zip
  Solutions/Armorblox/Package/createUiDefinition.json
  Solutions/Armorblox/Package/mainTemplate.json
  Solutions/Armorblox/Playbooks/azuredeploy.json
Labels: Solution, Solution Migration

#6154 V2 readme update
  Tools/Create-Azure-Sentinel-Solution/V2/README.md
Labels: Tools

#5903 create hunt LOLBins In Possible Phishing
  Hunting Queries/SecurityEvent/hunt_LOLBins.yaml
Labels: Hunting

#6117 Sentinel4github Updates
  Logos/GitHub.svg
  Solutions/GitHub/Data Connectors/GithubWebhook/Images/GithubStep3.jpg
  Solutions/GitHub/Data Connectors/GithubWebhook/README.md
  Solutions/GitHub/Parsers/GitHubSecretScanningData.txt
  Solutions/GitHub/Workbooks/GitHubAdvancedSecurity.json
  Solutions/GitHub/Workbooks/GitHubWorkbook.json
  Solutions/GitHub/Workbooks/workbook.json
Labels: Connector, Parser, Workbook, Solution

#6157 Update metadata for GitHub
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5488 AttackSurfaceReduction
  Workbooks/AttackSurfaceReduction.json
  Workbooks/Images/Preview/AttackSurfaceReductionBlack.png
  Workbooks/Images/Preview/AttackSurfaceReductionWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#5992 solution updated continuous diagnostics mitigation
  Solutions/ContinuousDiagnostics&Mitigation/Analytic Rules/ContinuousDiagnostics&MitigationPostureChanged.yaml
  Solutions/ContinuousDiagnostics&Mitigation/Data/Solution_ContinuousDiagnostics&Mitigation.json
  Solutions/ContinuousDiagnostics&Mitigation/Package/2.0.0.zip
  Solutions/ContinuousDiagnostics&Mitigation/Package/createUiDefinition.json
  Solutions/ContinuousDiagnostics&Mitigation/Package/mainTemplate.json
  Solutions/ContinuousDiagnostics&Mitigation/SolutionMetadata.json
Labels: Solution

#6155 Asim/add networksession stub
  Parsers/ASimDns/ARM/ASimDnsNative/README.md
  Parsers/ASimDns/ARM/vimDnsNative/README.md
  Parsers/ASimDns/Parsers/ASimDnsNative.yaml
  Parsers/ASimDns/Parsers/vimDnsNative.yaml
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionNative/ASimNetworkSessionNative.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionNative/README.md
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionNative/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionNative/vimNetworkSessionNative.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionNative.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionNative.yaml
Labels: ASIM, Parser

#6152 Initial Commit of Qualys Playbooks
  Solutions/QualysVM/Playbooks/CustomConnector/QualysCustomConnector/azuredeploy.json
  Solutions/QualysVM/Playbooks/CustomConnector/QualysCustomConnector/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssetDetails/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssetDetails/images/Playbook_Incident_Comment.jpg
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssetDetails/images/Playbook_QualysVM-GetAssetDetails.jpg
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssetDetails/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByCVEID/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByCVEID/images/Playbook_Incident_Comment.jpg
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByCVEID/images/Playbook_QualysVM-GetAssets-ByCVEID.jpg
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByCVEID/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByOpenPort/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByOpenPort/images/Playbook_Incident_Comment.jpg
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByOpenPort/images/Playbook_QualysVM-GetAssets-ByOpenPort.jpg
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByOpenPort/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-LaunchVMScan-GenerateReport/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-LaunchVMScan-GenerateReport/images/Playbook_Incident_Comment.jpg
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-LaunchVMScan-GenerateReport/images/Playbook_QualysVM-LaunchVMScan-GenerateReport.jpg
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-LaunchVMScan-GenerateReport/readme.md
Labels: Playbook, Solution

#6087 Update for IoT OT Threat Monitoring Solution Package
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedPLCModifications.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data/Solution_IoTOTThreatMonitoringwithDefenderforIoT.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/AutoTriageIncident/AutoTriageIncident.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/AutoTriageIncident/readme.md
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/CVEAutoWorkflow/CVEAutoWorkflow.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/CVEAutoWorkflow/readme.md
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/SendEmailToIoTOwner/SendEmailToIoTOwner.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/SendEmailToIoTOwner/readme.md
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Workbooks/IoTOTThreatMonitoringwithDefenderforIoT.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/readme.md
Labels: Playbook, Workbook, Detection

#5949 M2131 Updates
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/Images/MaturityModelForEventLogManagement_M2131Black.png
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/MaturityModelForEventLogManagement_M2131.json
Labels: Workbook, Solution

#5946 Update InsiderRiskManagement.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Workbooks/InsiderRiskManagement.json
Labels: Workbook, Solution

#6162 Updated OfferId for F5 networks
  Solutions/F5 Networks/Package/2.0.0.zip
  Solutions/F5 Networks/Package/mainTemplate.json
  Solutions/F5 Networks/SolutionMetadata.json
Labels: Solution

#5000 Azure Key Vault TemplateSpec Solution-- DO NOT MERGE AS 1P
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/AzureDiagnostics/KeyVaultSensitiveOperations.yaml
  Detections/AzureDiagnostics/KeyvaultMassSecretRetrieval.yaml
  Detections/AzureDiagnostics/NRT_KeyVaultSensitiveOperations.yaml
  Detections/AzureDiagnostics/TimeSeriesKeyvaultAccessAnomaly.yaml
  Solutions/Azure Key Vault/Analytic Rules/KeyVaultSensitiveOperations.yaml
  Solutions/Azure Key Vault/Analytic Rules/KeyvaultMassSecretRetrieval.yaml
  Solutions/Azure Key Vault/Analytic Rules/NRT_KeyVaultSensitiveOperations.yaml
  Solutions/Azure Key Vault/Analytic Rules/TimeSeriesKeyvaultAccessAnomaly.yaml
  Solutions/Azure Key Vault/Data Connectors/AzureKeyVault.JSON
  Solutions/Azure Key Vault/Data/Solution_Azure Key Vault.json
  Solutions/Azure Key Vault/Package/2.0.0.zip
  Solutions/Azure Key Vault/Package/2.0.1.zip
  Solutions/Azure Key Vault/Package/createUiDefinition.json
  Solutions/Azure Key Vault/Package/mainTemplate.json
  Solutions/Azure Key Vault/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution Migration, 1P Solution

#6139 Fixing issue with watchlist deployment
  Solutions/Training/Azure-Sentinel-Training-Lab/Artifacts/azuredeploy.json
Labels: Solution

#6159 New Soar solution addition threatX
  Solutions/ThreatXCloud/Playbooks/CustomConnector/ThreatXCustomConnector/azuredeploy.json
  Solutions/ThreatXCloud/Playbooks/CustomConnector/ThreatXCustomConnector/readme.md
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-BlockIP-URL/Images/Playbook_threatx-blockip-url1.PNG
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-BlockIP-URL/Images/Playbook_threatx-blockip-url2.PNG
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-BlockIP-URL/Images/playbook_comment_incident.PNG
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-BlockIP-URL/azuredeploy.json
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-BlockIP-URL/readme.md
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-Enrichment/Images/Playbook_Threatx-Enrichment.PNG
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-Enrichment/Images/Playbook_incident_comment.PNG
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-Enrichment/azuredeploy.json
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-Enrichment/readme.md
Labels: Solution

#5452 IP Remediation master playbook update
  MasterPlaybooks/Remediation-IP/AzureFirewall-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/AzureFirewall-BlockIP-Nested-Remediation/readme.md
  MasterPlaybooks/Remediation-IP/CiscoASA-BlockIP-Nested-Remediation/Images/AddIPtoNetworkObjectGroup-AzureSentinel-Comments.png
  MasterPlaybooks/Remediation-IP/CiscoASA-BlockIP-Nested-Remediation/Images/AddIPtoNetworkObjectGroup-CiscoASAd.png
  MasterPlaybooks/Remediation-IP/CiscoASA-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/CiscoASA-BlockIP-Nested-Remediation/readme.md
  MasterPlaybooks/Remediation-IP/CiscoFirepower-BlockIP-Nested-Remediation/Images/BlockIP-NetworkGroup-CiscoFirepowerAdd.png
  MasterPlaybooks/Remediation-IP/CiscoFirepower-BlockIP-Nested-Remediation/Images/designerOverviewLight1.png
  MasterPlaybooks/Remediation-IP/CiscoFirepower-BlockIP-Nested-Remediation/Images/designerOverviewLight2.png
  MasterPlaybooks/Remediation-IP/CiscoFirepower-BlockIP-Nested-Remediation/Images/designerOverviewLight3.png
  MasterPlaybooks/Remediation-IP/CiscoFirepower-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/CiscoFirepower-BlockIP-Nested-Remediation/readme.md
  MasterPlaybooks/Remediation-IP/CiscoUmbrella-BlockIP-Nested-Remediation/Images/playbook_screenshot.png
  MasterPlaybooks/Remediation-IP/CiscoUmbrella-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/CiscoUmbrella-BlockIP-Nested-Remediation/readme.md
  MasterPlaybooks/Remediation-IP/F5-BlockIP-Nested-Remediation/Images/IncidentCommentLight.png
  MasterPlaybooks/Remediation-IP/F5-BlockIP-Nested-Remediation/Images/f5_1.png
  MasterPlaybooks/Remediation-IP/F5-BlockIP-Nested-Remediation/Images/f5_2.png
  MasterPlaybooks/Remediation-IP/F5-BlockIP-Nested-Remediation/Images/logof5.jpg
  MasterPlaybooks/Remediation-IP/F5-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/F5-BlockIP-Nested-Remediation/readme.md
  MasterPlaybooks/Remediation-IP/ForcepointNGFW-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/ForcepointNGFW-BlockIP-Nested-Remediation/readme.md
  MasterPlaybooks/Remediation-IP/Fortinet-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/MDE-BlockIP-Nested-Remediation/Images/mde1.png
  MasterPlaybooks/Remediation-IP/MDE-BlockIP-Nested-Remediation/Images/mde2.png
  MasterPlaybooks/Remediation-IP/MDE-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/MDE-BlockIP-Nested-Remediation/readme.md
  MasterPlaybooks/Remediation-IP/Meraki-BlockIP-Nested-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/Meraki-BlockIP-Nested-Remediation/readme.md
  MasterPlaybooks/Remediation-IP/PaloAlto-PAN-OS-BlockIP-Remediation/azuredeploy.json
  MasterPlaybooks/Remediation-IP/azuredeploy.json
  MasterPlaybooks/Remediation-IP/readme.md
Labels: Playbook

#5354 Exabeam raw sample data
  Sample Data/Syslog/Exabeam.txt
  Sample Data/Syslog/ExabeamEvent.json
Labels: Sample Data

#6161 Remove update functionality in playbook
  Solutions/OpenCTI/Playbooks/CustomConnector/OpenCTICustomConnector/azuredeploy.json
  Solutions/OpenCTI/Playbooks/CustomConnector/OpenCTICustomConnector/readme.md
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-CreateIndicator/azuredeploy.json
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-EnrichIncident/azuredeploy.json
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-GetIndicatorsStream/azuredeploy.json
  Solutions/OpenCTI/SolutionMetadata.json
  Solutions/OpenCTI/data/Solution_OpenCTI.json
Labels: Playbook, Solution

#5726 Add Recorded Future Identity Solution.
  Solutions/Recorded Future Identity/Data/Solution_RecordedFutureIdentity.json
  Solutions/Recorded Future Identity/Package/1.0.0.zip
  Solutions/Recorded Future Identity/Package/2.0.0.zip
  Solutions/Recorded Future Identity/Package/createUiDefinition.json
  Solutions/Recorded Future Identity/Package/mainTemplate.json
  Solutions/Recorded Future Identity/Playbooks/RecordedFutureIdentity-add-AAD-security-group-user.json
  Solutions/Recorded Future Identity/Playbooks/RecordedFutureIdentity-confirm-AAD-risky-user.json
  Solutions/Recorded Future Identity/Playbooks/RecordedFutureIdentity-lookup-and-save-user.json
  Solutions/Recorded Future Identity/Playbooks/RecordedFutureIdentity-search-external-user.json
  Solutions/Recorded Future Identity/Playbooks/RecordedFutureIdentity-search-workforce-user.json
  Solutions/Recorded Future Identity/Playbooks/add_risky_user_to_security_group.json
  Solutions/Recorded Future Identity/Playbooks/azure_identity_protection_confirm_user_is_risky.json
  Solutions/Recorded Future Identity/Playbooks/base_external.json
  Solutions/Recorded Future Identity/Playbooks/base_workforce.json
  Solutions/Recorded Future Identity/Playbooks/images/after_solution_deployed_1.png
  Solutions/Recorded Future Identity/Playbooks/images/after_solution_deployed_2.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_1.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_2.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_3.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_4.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_5.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_icon_1.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_icon_2.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_icon_3.png
  Solutions/Recorded Future Identity/Playbooks/images/empty_lookup_results.png
  Solutions/Recorded Future Identity/Playbooks/images/logo.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_1.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_2.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_3.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_4.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_5.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_6.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_7.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_8.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_connections_1.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_connections_2.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_connections_3.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_connections_arrow.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_edit.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_parameters.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_parameters_arrow.png
  Solutions/Recorded Future Identity/Playbooks/lookup_and_save.json
  Solutions/Recorded Future Identity/Playbooks/readme.md
  Solutions/Recorded Future Identity/SolutionMetadata.json
Labels: Playbook, Solution

#6071 [DO NOT MERGE] Oracle Database audit Parser fix.
  Solutions/OracleDatabaseAudit/Parsers/OracleDatabaseAuditEvent.txt
Labels: Parser

#6166 Update SourceIP field for vcenter parser
  Solutions/VMware vCenter/Parsers/vCenter.txt
Labels: Parser

#5571 Template spec solution package update for Github -- DO NOT MERGE AS THIS IS 1P
  .script/tests/KqlvalidationsTests/CustomTables/GitHubAuditData.json
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - A payment method was removed.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Activities from Infrequent Country.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Oauth application - a client secret was removed.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Repository was created.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Repository was destroyed.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Two Factor Authentication Disabled in GitHub.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User visibility Was changed.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User was added to the organization.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User was blocked.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User was invited to the repository .yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - pull request was created.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - pull request was merged.yaml
  Solutions/GitHub/Data Connectors/GithubWebhook/GithubWebhook_API_FunctionApp.json
  Solutions/GitHub/Detections/(Preview) GitHub - Activities from Infrequent Country.yaml
  Solutions/GitHub/Detections/(Preview) GitHub - Two Factor Authentication Disabled in GitHub.yaml
  Solutions/GitHub/Hunting Queries/First Time User Invite and Add Member to Org.yaml
  Solutions/GitHub/Package/2.0.0.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/data/Solution_GitHub.json
Labels: Solution Migration

#5977 Feature/danielohfeld/add gcp terraform
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPAuditLogsSetup/GCPAuditLogsSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPInitialAuthenticationSetup/GCPInitialAuthenticationSetup.tf
Labels: Connector

#6170 Update the projected values in Extend
  Detections/ASimNetworkSession/ExcessiveHTTPFailuresFromSource.yaml
Labels: ASIM

#6168 Defender for IoT new solution pacakge version
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/CVEAutoWorkflow/CVEAutoWorkflow.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/SendEmailToIoTOwner/SendEmailToIoTOwner.json
Labels: Playbook, Solution

#6143 Machiliv/isc bind
  Solutions/ISC Bind/Data Connectors/Connector_Syslog_ISCBind.json
  Solutions/ISC Bind/Parsers/ISCBind.txt
Labels: Connector, Parser, Solution

#6172 add permissions write logs to topic
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPAuditLogsSetup/GCPAuditLogsSetup.tf
Labels: Connector

#6169 Package update for vCenter
  Solutions/VMware vCenter/Analytic Rules/vCenter-Root impersonation.yaml
  Solutions/VMware vCenter/Analytic Rules/vCenterRootLogin.yaml
  Solutions/VMware vCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/VMware vCenter/Data/Solution_vcenter.json
  Solutions/VMware vCenter/Package/2.0.1.zip
  Solutions/VMware vCenter/Package/createUiDefinition.json
  Solutions/VMware vCenter/Package/mainTemplate.json
Labels: Solution

#6181 GitHub TemplateSpec Solution
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User was invited to the repository.yaml
  Solutions/GitHub/Package/2.0.2.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/data/Solution_GitHub.json
Labels: Solution Migration, 1P Solution

#6176 Spelling correction for msiexec hunting queries
  Hunting Queries/Microsoft 365 Defender/Execution/detect-malicious-use-of-msiexec-mimikatz.yaml
  Hunting Queries/Microsoft 365 Defender/Execution/detect-malicious-use-of-msiexec-msiexec.yaml
  Hunting Queries/Microsoft 365 Defender/Execution/detect-malicious-use-of-msiexec-powershell.yaml
Labels: Hunting

#6131 Add Microsoft Graph PowerShell as app in UnusualGuestActivity.yaml
  Solutions/Azure Active Directory/Analytic Rules/UnusualGuestActivity.yaml
Labels: Solution, Detection

#6148 Fixups
  Detections/DeviceEvents/SolarWinds_TEARDROP_Process-IOCs.yaml
  Detections/DeviceFileEvents/SolarWinds_SUNBURST_&_SUPERNOVA_File-IOCs.yaml
  Detections/DeviceNetworkEvents/SolarWinds_SUNBURST_Network-IOCs.yaml
  Detections/MultipleDataSources/PotentialBuildProcessCompromiseMDE.yaml
  Detections/MultipleDataSources/SUNSPOTHashes.yaml
  Detections/SecurityAlert/AVSpringShell.yaml
  Detections/SecurityAlert/AVTarrask.yaml
  Detections/SecurityAlert/AVdetectionsrelatedtoUkrainebasedthreats.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaConnectionNon-CorporatePrivateNetwork.yaml
Labels: Detection

#5057 Windows Forwarded Events TemplateSpec Solution-- DO NOT MERGE AS 1P
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/WindowsEvents/ChiaCryptoMining_WindowsEvent.yaml
  Detections/WindowsEvents/SOURGUM_IOC_WindowsEvent.yaml
  Solutions/Windows Forwarded Events/Analytic Rules/ChiaCryptoMining_WindowsEvent.yaml
  Solutions/Windows Forwarded Events/Analytic Rules/SOURGUM_IOC_WindowsEvent.yaml
  Solutions/Windows Forwarded Events/Data Connectors/WindowsForwardedEvents.JSON
  Solutions/Windows Forwarded Events/Data/Solution_Windows Forwarded Events.json
  Solutions/Windows Forwarded Events/Package/2.0.0.zip
  Solutions/Windows Forwarded Events/Package/createUiDefinition.json
  Solutions/Windows Forwarded Events/Package/mainTemplate.json
  Solutions/Windows Forwarded Events/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution Migration, 1P Solution

#6182 Re-Packaged the M2131 Solution
  Solutions/MaturityModelForEventLogManagementM2131/Package/2.0.1.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
Labels: Solution Migration

#6133 Re-Packaged Azure DDOS updated to 2.0.1
  Solutions/Azure DDoS Protection/Analytic Rules/AttackSourcesPPSThreshold.yaml
  Solutions/Azure DDoS Protection/Analytic Rules/AttackSourcesPercentThreshold.yaml
  Solutions/Azure DDoS Protection/Data/Solution_AzureDDoSProtection.json
  Solutions/Azure DDoS Protection/Package/2.0.1.zip
  Solutions/Azure DDoS Protection/Package/mainTemplate.json
Labels: Solution Migration

#6171 Fix errors in KeyvaultMassSecretRetrieval.yaml
  Solutions/Azure Key Vault/Analytic Rules/KeyvaultMassSecretRetrieval.yaml
Labels: Solution, Detection

#6174 Updated Claroty Parser and two Analytic rules
  Solutions/Claroty/Analytic Rules/ClarotyLoginToUncommonSite.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLoginsSameDst.yaml
  Solutions/Claroty/Parsers/ClarotyEvent.txt
Labels: Parser, Detection

#5522 Remediation Host master playbook update
  MasterPlaybooks/Remediation-Host/CarbonBlack-QuarantineHost-Nested/Images/MainStep1.PNG
  MasterPlaybooks/Remediation-Host/CarbonBlack-QuarantineHost-Nested/Images/MainStep2.PNG
  MasterPlaybooks/Remediation-Host/CarbonBlack-QuarantineHost-Nested/Images/MainStep3.PNG
  MasterPlaybooks/Remediation-Host/CarbonBlack-QuarantineHost-Nested/Images/PlaybookDesignerDark.png
  MasterPlaybooks/Remediation-Host/CarbonBlack-QuarantineHost-Nested/Images/PlaybookDesignerLight.png
  MasterPlaybooks/Remediation-Host/CarbonBlack-QuarantineHost-Nested/azuredeploy.json
  MasterPlaybooks/Remediation-Host/CarbonBlack-QuarantineHost-Nested/readme.md
  MasterPlaybooks/Remediation-Host/CiscoMeraki-BlockDevice-Nested/Images/IncidentCommentDark.jpg
  MasterPlaybooks/Remediation-Host/CiscoMeraki-BlockDevice-Nested/Images/IncidentCommentLight.jpg
  MasterPlaybooks/Remediation-Host/CiscoMeraki-BlockDevice-Nested/Images/PlaybookDesignerLight.png
  MasterPlaybooks/Remediation-Host/CiscoMeraki-BlockDevice-Nested/Images/Scheduling-FromOneDay.png
  MasterPlaybooks/Remediation-Host/CiscoMeraki-BlockDevice-Nested/azuredeploy.json
  MasterPlaybooks/Remediation-Host/CiscoMeraki-BlockDevice-Nested/readme.md
  MasterPlaybooks/Remediation-Host/Crowdstrike-BlockHost-Nested/Images/MainStep1.PNG
  MasterPlaybooks/Remediation-Host/Crowdstrike-BlockHost-Nested/Images/MainStep2.PNG
  MasterPlaybooks/Remediation-Host/Crowdstrike-BlockHost-Nested/Images/PlaybookDesignerDark.png
  MasterPlaybooks/Remediation-Host/Crowdstrike-BlockHost-Nested/Images/PlaybookDesignerLight.png
  MasterPlaybooks/Remediation-Host/Crowdstrike-BlockHost-Nested/azuredeploy.json
  MasterPlaybooks/Remediation-Host/Crowdstrike-BlockHost-Nested/readme.md
  MasterPlaybooks/Remediation-Host/Images/PlaybookDesignerDark.png
  MasterPlaybooks/Remediation-Host/Images/PlaybookDesignerLight.png
  MasterPlaybooks/Remediation-Host/MDE-IsolateMachine-Nested/Images/mde_isolate.png
  MasterPlaybooks/Remediation-Host/MDE-IsolateMachine-Nested/azurdeploy.json
  MasterPlaybooks/Remediation-Host/MDE-IsolateMachine-Nested/readme.md
  MasterPlaybooks/Remediation-Host/azuredeploy.json
  MasterPlaybooks/Remediation-Host/readme.md
Labels: Playbook

#5557 IP Enrichment master playbook creation
  MasterPlaybooks/IP-Enrichment/EnrichIP-GeoFromIp-Nested/Images/Get-GeoFromIpAndTagIncident.png
  MasterPlaybooks/IP-Enrichment/EnrichIP-GeoFromIp-Nested/azuredeploy.json
  MasterPlaybooks/IP-Enrichment/EnrichIP-GeoFromIp-Nested/readme.md
  MasterPlaybooks/IP-Enrichment/EnrichIP-HYAS-Insight-C2-Attribution-Nested/azuredeploy.json
  MasterPlaybooks/IP-Enrichment/EnrichIP-HYAS-Insight-C2-Attribution-Nested/readme.md
  MasterPlaybooks/IP-Enrichment/EnrichIP-RecordedFuture-IOCEnrichment-Nested/azuredeploy.json
  MasterPlaybooks/IP-Enrichment/EnrichIP-RecordedFuture-IOCEnrichment-Nested/readme.md
  MasterPlaybooks/IP-Enrichment/EnrichIP-RiskIQ-Whois-Ip-Nested/azuredeploy.json
  MasterPlaybooks/IP-Enrichment/EnrichIP-RiskIQ-Whois-Ip-Nested/readme.md
  MasterPlaybooks/IP-Enrichment/EnrichIP-VirusTotal-Nested/Images/designerLight.png
  MasterPlaybooks/IP-Enrichment/EnrichIP-VirusTotal-Nested/azuredeploy.json
  MasterPlaybooks/IP-Enrichment/EnrichIP-VirusTotal-Nested/readme.md
  MasterPlaybooks/IP-Enrichment/Images/AddNestedPlaybook.PNG
  MasterPlaybooks/IP-Enrichment/Images/InputSchema.PNG
  MasterPlaybooks/IP-Enrichment/Images/PlaybookDesignerLight.PNG
  MasterPlaybooks/IP-Enrichment/azuredeploy.json
  MasterPlaybooks/IP-Enrichment/readme.md
  MasterPlaybooks/Remediation-Host/azuredeploy.json
Labels: Playbook

#6009 Re-packaged Threat Analysis Solution
  Solutions/ThreatAnalysis&Response/Package/2.0.0.zip
  Solutions/ThreatAnalysis&Response/Package/2.0.1.zip
  Solutions/ThreatAnalysis&Response/Package/mainTemplate.json
  Solutions/ThreatAnalysis&Response/data/Solution_ThreatAnalysis&Response.json
Labels: Solution

#6189 AIShield - Updated offer id, publisher ID also some content changes
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageClassficationModelTheftVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Data Connectors/AIShieldConnector.json
  Solutions/AIShield AI Security Monitoring/Data Connectors/Logo/AIShield_Logo.svg
  Solutions/AIShield AI Security Monitoring/Data Connectors/Logo/Bosch_Logo.svg
  Solutions/AIShield AI Security Monitoring/Data/Solution_AIShield.json
  Solutions/AIShield AI Security Monitoring/Package/mainTemplate.json
  Solutions/AIShield AI Security Monitoring/Parsers/AIShield.txt
  Solutions/AIShield AI Security Monitoring/SolutionMetadata.json
Labels: Solution

#6199 Update package
  Solutions/GitHub/Data Connectors/azuredeploy_GitHub_native_poller_connector.json
  Solutions/GitHub/Package/2.0.2.zip
  Solutions/GitHub/Package/mainTemplate.json
Labels: Solution

#6001 [DO NOT MERGE] PaloAltoCDL Parser Modification
  Solutions/PaloAltoCDL/Parsers/PaloAltoCDLEvent.txt
Labels: Parser

#6197 Bosch AI shield Package 2.0.1
  Solutions/AIShield AI Security Monitoring/Package/2.0.1.zip
  Solutions/AIShield AI Security Monitoring/Package/createUiDefinition.json
  Solutions/AIShield AI Security Monitoring/Package/mainTemplate.json
Labels: Solution

#6190 Updating threatx solution with minor changes
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-BlockIP-URL/azuredeploy.json
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-BlockIP-URL/readme.md
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-Enrichment/azuredeploy.json
  Solutions/ThreatXCloud/Playbooks/ThreatXPlaybooks/ThreatX-Enrichment/readme.md
Labels: Playbook, Solution

#6188 Repackaged the Microsoft Purview insider Risk Management with 2.0.1
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/2.0.1.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution

#5906 remove optional parameters
  Solutions/ARGOSCloudSecurity/Analytic Rules/ExploitableSecurityIssues.yaml
  Solutions/ARGOSCloudSecurity/Package/1.0.2.zip
  Solutions/ARGOSCloudSecurity/Package/createUiDefinition.json
  Solutions/ARGOSCloudSecurity/Package/mainTemplate.json
  Solutions/ARGOSCloudSecurity/SolutionsMetadata.json
  Solutions/ARGOSCloudSecurity/Workbooks/ARGOSCloudSecurityWorkbook.json
Labels: Connector, Solution, Detection

#6027 Re-packaged NISTSP80053 Solution
  Solutions/NISTSP80053/Package/2.0.1.zip
  Solutions/NISTSP80053/Package/2.0.2.zip
  Solutions/NISTSP80053/Package/mainTemplate.json
  Solutions/NISTSP80053/Workbooks/NISTSP80053.json
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
Labels: Solution, 1P Solution

#6026 Re-packaged Zero Trust Solution
  Solutions/ZeroTrust(TIC3.0)/Package/2.0.3.zip
  Solutions/ZeroTrust(TIC3.0)/Package/mainTemplate.json
  Solutions/ZeroTrust(TIC3.0)/data/Solution_ZeroTrust(TIC3.0).json
Labels: Solution

#6179 IoT OT solution package 2.0.1
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data Connector/template_IoT.JSON
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data/Solution_IoTOTThreatMonitoringwithDefenderforIoT.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/2.0.1.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/createUiDefinition.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/mainTemplate.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/AutoTriageIncident/AutoTriageIncident.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/CVEAutoWorkflow/CVEAutoWorkflow.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/SendEmailToIoTOwner/SendEmailToIoTOwner.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#6011 Re-packaged CMMC Solution
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Data/Solution_CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/2.0.0.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/2.0.1.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/2.0.2.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/mainTemplate.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/CybersecurityMaturityModelCertification(CMMC)2.0.json
Labels: Solution

#6206 Updated Azure Key Vault package with 2.0.2
  Solutions/Azure Key Vault/Data/Solution_Azure Key Vault.json
  Solutions/Azure Key Vault/Package/2.0.2.zip
  Solutions/Azure Key Vault/Package/mainTemplate.json
Labels: Solution

#6204 Update Claroty solution with 2.0.1
  Solutions/Claroty/Data/Solution_Claroty.json
  Solutions/Claroty/Package/2.0.1.zip
  Solutions/Claroty/Package/createUiDefinition.json
  Solutions/Claroty/Package/mainTemplate.json
Labels: Solution

#4527 Adding PS function New-AzureSentinelAlertRuleDeployment
  Tools/SentinelAlertRuleDeployment /New-SentinelAlertRuleDeployment .ps1
Labels: Tools

#6210 Fix the Tanium-QuarantineHosts screenshot
  Solutions/Tanium/Playbooks/Tanium-QuarantineHosts/images/Tanium-QuarantineHosts.png
Labels: Playbook, Solution

#5777 Solution Migration Changes for MarkLogicAudit
  Solutions/MarkLogicAudit/Data/Solution_MarkLogicAudit.json
  Solutions/MarkLogicAudit/DataConnectors/Connector_MarkLogicAudit.json
  Solutions/MarkLogicAudit/Package/2.0.0.zip
  Solutions/MarkLogicAudit/Package/createUiDefinition.json
  Solutions/MarkLogicAudit/Package/mainTemplate.json
  Solutions/MarkLogicAudit/SolutionMetadata.json
Labels: Solution

#6198 solution package created for abuseIPDB
  Solutions/AbuseIPDB/Data/Solution_AbuseIPDB.json
  Solutions/AbuseIPDB/Package/2.0.0.zip
  Solutions/AbuseIPDB/Package/createUiDefinition.json
  Solutions/AbuseIPDB/Package/mainTemplate.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-BlacklistIpToThreatIntelligence/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-EnrichIncidentByIPInfo/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-EnrichIncidentByIPInfo/readme.md
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-ReportaIPsToAbuselPDBAfterCheckingByUserInMSTeams/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-ReportaIPsToAbuselPDBAfterCheckingByUserInMSTeams/readme.md
  Solutions/AbuseIPDB/Playbooks/AbuseIPDBAPIConnector/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/readme.md
  Solutions/AbuseIPDB/SolutionMetadata.json
Labels: Solution

#5898 SlashNext Logic App Connector and playbook templates package.
  Solutions/SlashNext/FunctionApp/deploy.json
  Solutions/SlashNext/Playbooks/SlashNextWebAccessLogAssessment/deploy.json
  Solutions/SlashNext/Playbooks/deploy.json
Labels: Playbook, Solution

#6216 Fix playbook
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_APT_Threats.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_BP_phishing.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Compromised_account.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Compromised_card.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Compromised_imei.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Compromised_mule.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_HI_Threat.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_HI_Threat_Actor.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Malware_Targeted_Malware.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Malware_cnc.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_OSI_GitLeak.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_OSI_PublicLeak.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_OSI_Vulnerability.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Suspicious_ip_open_proxy.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Suspicious_ip_socks_proxy.json
  Solutions/Group-IB/Playbooks/azuredeploy-GIBTIA_Suspicious_ip_tor_node.json
Labels: Playbook, Solution

#6180 Infoblox NIOS Parser enhancement. Replaced Regex with Parse operator
  Solutions/Infoblox NIOS/Parser/Infoblox_dnsclient.txt
Labels: Parser

#6185 ServiceNow TemplateSpec package
  Solutions/Servicenow/Data/Solution_Servicenow.json
  Solutions/Servicenow/Package/2.0.0.zip
  Solutions/Servicenow/Package/createUiDefinition.json
  Solutions/Servicenow/Package/mainTemplate.json
  Solutions/Servicenow/Playbooks/Create-SNOW-record/alert-trigger/azuredeploy.json
  Solutions/Servicenow/Playbooks/Create-SNOW-record/incident-trigger/azuredeploy.json
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/azuredeploy.json
  Solutions/Servicenow/SolutionMetadata.json
Labels: Playbook, Solution Migration, 1P Solution

#6164 Updated Azure deploy button links.
  Solutions/QualysVM/Playbooks/CustomConnector/QualysCustomConnector/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssetDetails/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssetDetails/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByCVEID/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByCVEID/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByOpenPort/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByOpenPort/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-LaunchVMScan-GenerateReport/azuredeploy.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-LaunchVMScan-GenerateReport/readme.md
Labels: Playbook, Solution

#6215 Re-packaged ArgosCloudSecurity solution 2.00
  Solutions/ARGOSCloudSecurity/Analytic Rules/ExploitableSecurityIssues.yaml
  Solutions/ARGOSCloudSecurity/Data Connectors/Connector_ARGOS.json
  Solutions/ARGOSCloudSecurity/Data/Solution_ArgosCloudSecurity.json
  Solutions/ARGOSCloudSecurity/Package/2.0.0.zip
  Solutions/ARGOSCloudSecurity/Package/createUiDefinition.json
  Solutions/ARGOSCloudSecurity/Package/mainTemplate.json
  Solutions/ARGOSCloudSecurity/SolutionMetadata.json
Labels: Solution Migration

#6221 Adding logo file for Threat-x
  Logos/threatx_logo.svg
Labels: Logo

#6208 Solution package created for ISC Bind
  Solutions/ISC Bind/Data/Solution_ISC Bind.json
  Solutions/ISC Bind/Package/2.0.0.zip
  Solutions/ISC Bind/Package/createUiDefinition.json
  Solutions/ISC Bind/Package/mainTemplate.json
  Solutions/ISC Bind/SolutionMetadata.json
Labels: Solution

#6223 version update for SOC process.
  Solutions/SOC-Process-Framework/Package/2.0.3.zip
  Solutions/SOC-Process-Framework/Package/mainTemplate.json
  Solutions/SOC-Process-Framework/data/Solution_Soc-Process.json
Labels: Solution

#6217 CEF Changes for standalone files
  Parsers/PAN_Parser.csl
  Workbooks/ExtraHopDetectionSummary.json
  Workbooks/IllusiveADS.json
  Workbooks/WorkbooksMetadata.json
  Workbooks/ZscalerThreats.json
Labels: Parser, Workbook

#4964 Microsoft Defender for Cloud template spec solution -> DO NOT MERGE A…
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/SecurityAlert/CoreBackupDeletionwithSecurityAlert.yaml
  Solutions/Microsoft Defender for Cloud/Analytic Rules/CoreBackupDeletionwithSecurityAlert.yaml
  Solutions/Microsoft Defender for Cloud/Data Connectors/AzureSecurityCenter.JSON
  Solutions/Microsoft Defender for Cloud/Data/Solution_MicrosoftDefenderforCloud.json
  Solutions/Microsoft Defender for Cloud/Package/2.0.0.zip
  Solutions/Microsoft Defender for Cloud/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Cloud/Package/mainTemplate.json
  Solutions/Microsoft Defender for Cloud/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution Migration, 1P Solution

#6240 Updated solutionId for ISC Bind
  Solutions/ISC Bind/Package/2.0.0.zip
  Solutions/ISC Bind/Package/mainTemplate.json
  Solutions/ISC Bind/SolutionMetadata.json
Labels: Solution

#6239 Update Abnormal Security and Contrast package to 2.0.1
  Solutions/AbnormalSecurity/Package/2.0.1.zip
  Solutions/AbnormalSecurity/Package/mainTemplate.json
  Solutions/Contrast Protect/Package/2.0.1.zip
  Solutions/Contrast Protect/Package/mainTemplate.json
Labels: Solution

#6214 Updated Infoblox NIOS Parser Changes
  Parsers/ASimDns/ARM/FullDeploymentDns.json
  Parsers/ASimDns/ARM/vimDnsInfobloxNIOS/vimDnsInfobloxNIOS.json
  Parsers/ASimDns/Parsers/vimDnsInfobloxNIOS.yaml
Labels: ASIM, Parser
