Repository Azure/Azure-Sentinel, pull requests merged in 2022-01, with the labels that each got.

#3825 Updating IP list
  Sample Data/Feeds/Log4j_IOC_List.csv
Labels: Detection

#3773 Update link and condition in AzurePortalSigninfromanotherAzureTenant.yaml
  Detections/SigninLogs/AzurePortalSigninfromanotherAzureTenant.yaml
Labels: Detection

#3826 Updated WAF_log4j_vulnerability.yaml
  Hunting Queries/AzureDiagnostics/WAF_log4j_vulnerability.yaml
Labels: Detection

#3829 Remove unneeded condition in UnfamiliarsignincorrelationwithPortalSigninandAuditlogs.yaml
  Hunting Queries/MultipleDataSources/UnfamiliarsignincorrelationwithPortalSigninandAuditlogs.yaml
Labels: Hunting

#3827 Update DSTIM workbook to work with ingestes log analytics queries
  Sample Data/Custom/DSMAzureBlobStorageLogs.json
  Sample Data/Custom/DSMDataClassificationLogs.json
  Sample Data/Custom/DSMDataLabelingLogs.json
  Workbooks/DSTIMWorkbook.json
  Workbooks/Images/Preview/DSTIMWorkbookBlack.png
  Workbooks/Images/Preview/DSTIMWorkbookWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#3645 Update array indexes in CorrelateIPC_Unfamiliar-Atypical.yaml
  Detections/SecurityAlert/CorrelateIPC_Unfamiliar-Atypical.yaml
Labels: Detection

#3842 M2131 solution updates
  Solutions/MaturityModelForEventLogManagementM2131/Analytic Rules/M2131RecommendedDatatableUnhealthy.yaml
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/MaturityModelForEventLogManagement_M2131.json
Labels: Solution, Detection

#3682 analytic content for oracle weblogic
  .script/tests/KqlvalidationsTests/CustomTables/OracleWebLogicServerEvent.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicCommandInURI.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicDifferentUAsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicExploitCVE-2021-2109.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicKnownMaliciousUserAgents.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicMultipleClientErrorsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicMultipleServerErrorsRequestsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPrivateIpInUrl.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPutAndGetFileFromSameIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPutSuspiciousFiles.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicRequestToSensitiveFiles.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogic403RequestsFiles.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicAbnormalRequestSize.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicCriticalEventSeverity.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicErrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicFilesErrorRequests.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicRareUAWithClientErrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicRareURLsRequested.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicUncommonUserAgents.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicUrlClienterrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicUrlServerErrors.yaml
  Solutions/OracleWebLogicServer/Workbooks/Images/OracleWeblogicServerBlack.png
  Solutions/OracleWebLogicServer/Workbooks/Images/OracleWeblogicServerWhite.png
  Solutions/OracleWebLogicServer/Workbooks/OracleWorkbook.json
Labels: Solution, Detection

#3783 Adding Retention Tab
  Workbooks/SentinelCentral.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#3492 Playbooks/CrowdStrike: minimum permission details
  Playbooks/CrowdStrike/readme.md
Labels: Playbook

#3665 SIGNL4 Solution Packaging
  Solutions/SIGNL4/Package/1.0.0.zip
  Solutions/SIGNL4/Package/createUiDefinition.json
  Solutions/SIGNL4/Package/mainTemplate.json
  Solutions/SIGNL4/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_SIGNL4.json
Labels: Solution

#3770 Onelogin DataConnector Update
  DataConnectors/OneLogin/OneLogin/function.json
  DataConnectors/OneLogin/OneLogin/run.ps1
  DataConnectors/OneLogin/OneLogin_logs_template.zip
  DataConnectors/OneLogin/azuredeploy.json
  DataConnectors/OneLogin/azuredeploy_kv.json
  DataConnectors/OneLogin/host.json
  DataConnectors/OneLogin/readme.md
  DataConnectors/OneLogin/requirements.psd1
Labels: Connector

#3797 Adding IntrotoKQL workbook
  Tools/Archive-Log-Tool/ArchiveLogsTool.json
  Tools/Archive-Log-Tool/readme.md
  Workbooks/Images/Preview/IntrotoKQL-black.png
  Workbooks/Images/Preview/IntrotoKQL-white.png
  Workbooks/IntrotoKQL.json
Labels: Workbook

#3821 Imperva solution package.
  Solutions/ImpervaCloudWAF/Data/Solution_ImpervaCloudWAF.json
  Solutions/ImpervaCloudWAF/Package/1.0.3.zip
  Solutions/ImpervaCloudWAF/Package/createUiDefinition.json
  Solutions/ImpervaCloudWAF/Package/mainTemplate.json
  Solutions/ImpervaCloudWAF/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_CiscoACI.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_HYAS.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_Illusive.json
Labels: Solution

#3601 AAD Brute Force Hunting query
  Hunting Queries/SigninLogs/AADSuspectedBruteForce.yaml
Labels: Hunting

#3524 Add option for parsing UPN in AccountCreatedandDeletedinShortTimeframe.yaml
  Detections/AuditLogs/AccountCreatedandDeletedinShortTimeframe.yaml
Labels: Detection

#3744 Bosch AIShield Solution
  .script/tests/KqlvalidationsTests/CustomTables/AIShield.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Sample Data/Custom/AIShield_CL.json
  Solutions/BoschAIShield/Analytic Rules/ImageClassficationModelTheftVulnDetection.yaml
  Solutions/BoschAIShield/Data Connectors/AIShieldConnector.json
  Solutions/BoschAIShield/Data Connectors/Logo/Bosch_Logo.svg
  Solutions/BoschAIShield/Parser/AIShield.txt
Labels: Solution, Detection

#3807 Analytic content for Jira
  .script/tests/KqlvalidationsTests/CustomTables/JiraAudit.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraGlobalPermissionAdded.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraNewPrivilegedUser.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraNewUser.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraPermissionSchemeUpdated.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraPrivilegedUserPasswordChanged.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraProjectRolesChanged.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraUserPasswordChange.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraUserRemovedFromGroup.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraUserRemovedFromProject.yaml
  Solutions/AtlassianJiraAudit/Analytic Rules/JiraWorkflowSchemeCopied.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraBlockedTasks.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraNewUsers.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraProjectVersionsReleased.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraUpdatedProjectVersions.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraUpdatedProjects.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraUpdatedUsers.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraUpdatedWorkflowSchemes.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraUpdatedWorkflows.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraUserIPs.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraWorkflowAddedToProject.yaml
  Solutions/AtlassianJiraAudit/Workbooks/AtlassianJiraAudit.json
  Solutions/AtlassianJiraAudit/Workbooks/Images/AtlassianJiraAuditBlack.png
  Solutions/AtlassianJiraAudit/Workbooks/Images/AtlassianJiraAuditWhite.png
Labels: Solution, Detection

#3870 Preparations for SF
  ASIM/dev/ASimYaml2ARM/ASimYaml2ARM.py
  Parsers/ASimNetworkSession/ProductParsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/ProductParsers/ASimNetworkSessionMicrosoft365Defender.yaml
  Parsers/ASimNetworkSession/ProductParsers/ASimNetworkSessionMicrosoftLinuxSysmon.yaml
  Parsers/ASimNetworkSession/ProductParsers/ASimNetworkSessionMicrosoftMD4IoT.yaml
  Parsers/ASimNetworkSession/ProductParsers/ASimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/ProductParsers/ASimNetworkSessionzScalerZIA.yaml
  Parsers/ASimNetworkSession/ProductParsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/ProductParsers/vimNetworkSessionEmpty.yaml
  Parsers/ASimNetworkSession/ProductParsers/vimNetworkSessionMicrosoft365Defender.yaml
  Parsers/ASimNetworkSession/ProductParsers/vimNetworkSessionMicrosoftLinuxSysmon.yaml
  Parsers/ASimNetworkSession/ProductParsers/vimNetworkSessionMicrosoftMD4IoT.yaml
  Parsers/ASimNetworkSession/ProductParsers/vimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/ProductParsers/vimNetworkSessionzScalerZIA.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionSquidProxy.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionzScalerZIA.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionEmpty.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionSquidProxy.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionzScalerZIA.yaml
Labels: ASIM

#3848 Bugfix tactics - techniques mismatch
  Detections/AuditLogs/FirstAppOrServicePrincipalCredential.yaml
  Detections/AuditLogs/NewAppOrServicePrincipalCredential.yaml
  Detections/SecurityEvent/GainCodeExecutionADFSViaSMB.yaml
  Detections/SecurityEvent/RDP_MultipleConnectionsFromSingleSystem.yaml
  Detections/SecurityEvent/RDP_Nesting.yaml
  Detections/SecurityEvent/RDP_RareConnection.yaml
Labels: Detection

#3337 CitrixAnalytics V2 changes
  .script/tests/KqlvalidationsTests/CustomTables/CitrixAnalytics_indicatorEventDetails_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CitrixAnalytics_indicatorSummary_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CitrixAnalytics_riskScoreChange_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CitrixAnalytics_userProfile_CL.json
  DataConnectors/CitrixSecurityAnalytics.json
  DataConnectors/CitrixSecurityAnalyticsLicense.md
  Logos/citrix-logo-circle-black.svg
  Sample Data/CitrixAnalytics_indicatorEventDetails_CL.json
  Sample Data/CitrixAnalytics_indicatorSummary_CL.json
  Sample Data/CitrixAnalytics_riskScoreChange_CL.json
  Sample Data/CitrixAnalytics_userProfile_CL.json
  Workbooks/Citrix.json
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Workbook

#3812 Adding a new workbook on Log4j hunting
  Workbooks/Images/Logos/Log4j.svg
  Workbooks/Images/Preview/Log4jPostCompromiseHuntingBlack.png
  Workbooks/Images/Preview/Log4jPostCompromiseHuntingWhite.png
  Workbooks/Log4jPostCompromiseHunting
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#3887 Updated regex to match all types of logs for Secure pulse parser
  Parsers/PulseConnectSecure/PulseConnectSecure.txt
Labels: Solution, Detection

#3874 Add conditions in OfficeMailForwarding_hunting.yaml
  Hunting Queries/OfficeActivity/OfficeMailForwarding_hunting.yaml
Labels: Detection

#3892 Updated Prerequisites section of Citrix Analytics data connector.
  DataConnectors/CitrixSecurityAnalytics.json
Labels: Connector

#3798 Adding IntrotoKQL to metadata
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#3616 added snowflake content
  .script/tests/KqlvalidationsTests/CustomTables/Snowflake.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Snowflake/Analytic Rules/SnowflakeDiscoveryActivity.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeLongQueryProcessTime.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleFailedQueries.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleLoginFailure.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleLoginFailureFromIP.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakePossibleDataDestruction.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakePrivilegesDiscovery.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeQueryOnSensitiveTable.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeUnusualQuery.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeUserAddAdminPrivileges.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeAdminSources.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeDeletedDatabases.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeDeletedTables.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeDormantUser.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeFailedLogins.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeHighCreditConsumingQueries.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeTimeConsumingQueries.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeUnknownQueryType.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeUnusedAdmins.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeUserSources.yaml
  Solutions/Snowflake/Workbooks/Images/SnowflakeBlack.png
  Solutions/Snowflake/Workbooks/Images/SnowflakeWhite.png
  Solutions/Snowflake/Workbooks/Snowflake.json
Labels: Solution, Detection

#3765 Solution Updates - Log4j, DefenderIOT, SlackAudit
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Package/1.0.1.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data/Solution_IoTOTThreatMonitoringwithDefenderforIoT.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/1.0.8.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/createUiDefinition.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/mainTemplate.json
  Solutions/SlackAudit/Package/1.0.5.zip
  Solutions/SlackAudit/Package/Data/Solution_SlackAudit.json
Labels: Solution

#3618 add content for bitglass
  .script/tests/KqlvalidationsTests/CustomTables/Bitglass.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Bitglass/Analytic Rules/BitglassFilesSharedWithExternal.yaml
  Solutions/Bitglass/Analytic Rules/BitglassImpossibleTravelDistance.yaml
  Solutions/Bitglass/Analytic Rules/BitglassMultipleFailedLogins.yaml
  Solutions/Bitglass/Analytic Rules/BitglassNewAdminUser.yaml
  Solutions/Bitglass/Analytic Rules/BitglassNewDevice.yaml
  Solutions/Bitglass/Analytic Rules/BitglassNewRiskyUser.yaml
  Solutions/Bitglass/Analytic Rules/BitglassSmartEdgeAgentUninstall.yaml
  Solutions/Bitglass/Analytic Rules/BitglassSuspiciousFileUpload.yaml
  Solutions/Bitglass/Analytic Rules/BitglassUserLoginNewGeoLocation.yaml
  Solutions/Bitglass/Analytic Rules/BitglassUserUAChanged.yaml
  Solutions/Bitglass/Hunting Queries/BitglassApplications.yaml
  Solutions/Bitglass/Hunting Queries/BitglassInsecureWebProtocol.yaml
  Solutions/Bitglass/Hunting Queries/BitglassLoginFailures.yaml
  Solutions/Bitglass/Hunting Queries/BitglassNewApplications.yaml
  Solutions/Bitglass/Hunting Queries/BitglassNewUsers.yaml
  Solutions/Bitglass/Hunting Queries/BitglassPrivilegedLoginFailures.yaml
  Solutions/Bitglass/Hunting Queries/BitglassRiskyUsers.yaml
  Solutions/Bitglass/Hunting Queries/BitglassTopUsersWithBlocks.yaml
  Solutions/Bitglass/Hunting Queries/BitglassUncategorizedResources.yaml
  Solutions/Bitglass/Hunting Queries/BitglassUserDevices.yaml
  Solutions/Bitglass/Workbooks/Bitglass.json
  Solutions/Bitglass/Workbooks/Images/BitglassBlack.png
  Solutions/Bitglass/Workbooks/Images/BitglassWhite.png
Labels: Solution, Detection

#3903 Fix join failnoSuccess for Detection
  Detections/SigninLogs/FailedLogonToAzurePortal.yaml
Labels: Detection

#3897 Fix entity/custom/override in ASIM detections
  Detections/ASimNetworkSession/PossibleBeaconingActivity.yaml
  Detections/ASimWebSession/PossibleDGAContacts.yaml
  Detections/ASimWebSession/UnusualUACryptoMiners.yaml
  Detections/ASimWebSession/UnusualUAHackTool.yaml
  Detections/ASimWebSession/UnusualUAPowershell.yaml
Labels: ASIM, Detection

#3785 analytic content for Google Workspace
  .script/tests/KqlvalidationsTests/CustomTables/GWorkspaceActivityReports.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceAdminPermissionsGranted.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceAlertEvents.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceApiAccessToNewClient.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceChangedUserAccess.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceDifferentUAsFromSingleIP.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceOutboundRelayAddedToSuiteDomain.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspacePossibleBruteForce.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspacePossibleMaldocFileNamesInGDRIVE.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceTwoStepAuthenticationDisabledForUser.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceUnexpectedOSUpdate.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceDocumentSharedExternally.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceDocumentSharedPublicily.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceDocumentSharedPublicilyWithLink.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceMultiIPAddresses.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspacePossibleSCAMSPAMorPhishingCalendar.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceRareDocType.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceSharedPrivateDocument.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceSuspendedUsers.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceUncommonUAsString.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceUnknownLoginType.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceUserReportedCalendarInviteAsSpam.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceUserWithSeveralDevices.yaml
  Solutions/GoogleWorkspaceReports/Workbooks/GoogleWorkspace.json
  Solutions/GoogleWorkspaceReports/Workbooks/Images/GoogleWorkspaceBlack.png
  Solutions/GoogleWorkspaceReports/Workbooks/Images/GoogleWorkspaceWhite.png
Labels: Waiting on poster, Solution, Detection

#3929 New Detection Query for an actor tracked by Microsoft as DEV-0586
  Detections/MultipleDataSources/Dev-0586_Jan2022_IOC.yaml
  Sample Data/Feeds/DEV-0586.csv
Labels: Detection

#3745 added analytic content for Cisco SEG
  .script/tests/KqlvalidationsTests/CustomTables/CiscoSEG.json
  .script/tests/KqlvalidationsTests/CustomTables/CiscoSEGEvent.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGDLPViolation.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMaliciousAttachmentNotBlocked.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMultipleLargeEmails.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMultipleSuspiciousEmails.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGPossibleOutbreak.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGPotentialLinkToMalwareDownload.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGSuspiciousLink.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGSuspiciousSenderDomain.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnclassifiedLink.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnexpextedAttachment.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnscannableAttachment.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGDroppedInMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGDroppedOutMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedDKIMFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedDMARKFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedSPFFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedTLSIn.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedTLSOut.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGInsecureProtocol.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGSpamMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGUsersReceivedSpam.yaml
  Solutions/CiscoSEG/Workbooks/CiscoSEG.json
  Solutions/CiscoSEG/Workbooks/Images/CiscoSEGBlack.png
  Solutions/CiscoSEG/Workbooks/Images/CiscoSEGWhite.png
Labels: Solution, Detection

#3911 Asim/fix web parsers
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionEmpty.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionSquidProxy.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionzScalerZIA.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionEmpty.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionSquidProxy.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionzScalerZIA.yaml
Labels: ASIM

#3907 Update malware_in_recyclebin.yaml
  Detections/SecurityEvent/malware_in_recyclebin.yaml
Labels: Detection

#3761 Fix playbook 'Watchlist-InformSubowner-IncidentTrigger' prerequisites
  Playbooks/Watchlist-InformSubowner-IncidentTrigger/azuredeploy.json
Labels: Playbook

#3836 Create ServicePrincipalNameAssignedToUserAccount.yaml
  Detections/SecurityEvent/UserPrincipalNameAssignedToUserAccount.yaml
Labels: Detection

#3835 Create PotentialResourceBasedConstrainedDelegationAbuse.yaml
  Detections/SecurityEvent/PotenialResourceBasedConstrainedDelegationAbuse.yaml
Labels: Detection

#3817 Create FakeComputerAccountCreated.yaml
  Detections/SecurityEvent/FakeComputerAccountCreated.yaml
Labels: Detection

#3617 add content for oci
  .script/tests/KqlvalidationsTests/CustomTables/OCILogs.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/OCILogs/Analytic Rules/OCIDiscoveryActivity.yaml
  Solutions/OCILogs/Analytic Rules/OCIEventRuleDeleted.yaml
  Solutions/OCILogs/Analytic Rules/OCIInboundSSHConnection.yaml
  Solutions/OCILogs/Analytic Rules/OCIInsecureMetadataEndpoint.yaml
  Solutions/OCILogs/Analytic Rules/OCIMetadataEndpointIpAccess.yaml
  Solutions/OCILogs/Analytic Rules/OCIMultipleInstancesLaunched.yaml
  Solutions/OCILogs/Analytic Rules/OCIMultipleInstancesTerminated.yaml
  Solutions/OCILogs/Analytic Rules/OCIMultipleRejects.yaml
  Solutions/OCILogs/Analytic Rules/OCISSHScan.yaml
  Solutions/OCILogs/Analytic Rules/OCIUnexpectedUserAgent.yaml
  Solutions/OCILogs/Hunting Queries/OCIDestinationsIn.yaml
  Solutions/OCILogs/Hunting Queries/OCIDestinationsOut.yaml
  Solutions/OCILogs/Hunting Queries/OCILaunchedInstances.yaml
  Solutions/OCILogs/Hunting Queries/OCIUpdateActivities.yaml
  Solutions/OCILogs/Hunting Queries/OCIUserDeleteActions.yaml
  Solutions/OCILogs/Hunting Queries/OCIUserDeletedUsers.yaml
  Solutions/OCILogs/Hunting Queries/OCIUserNewUsers.yaml
  Solutions/OCILogs/Hunting Queries/OCIUserSources.yaml
  Solutions/OCILogs/Hunting Queries/OCIUserTerminatedInstances.yaml
  Solutions/OCILogs/Hunting Queries/OCIUserUpdatedInstances.yaml
  Solutions/OCILogs/Workbooks/Images/OCIBlack.png
  Solutions/OCILogs/Workbooks/Images/OCIWhite.png
  Solutions/OCILogs/Workbooks/Oracle Cloud Infrastructure (OCI).json
Labels: Solution, Detection

#3888 Adding a new workbook on Log4j hunting
  Solutions/Apache Log4j Vulnerability Detection/Workbooks/Images/Logos/Log4j.svg
  Solutions/Apache Log4j Vulnerability Detection/Workbooks/Images/Preview/Log4jPostCompromiseHuntingBlack.png
  Solutions/Apache Log4j Vulnerability Detection/Workbooks/Images/Preview/Log4jPostCompromiseHuntingWhite.png
  Solutions/Apache Log4j Vulnerability Detection/Workbooks/Log4jPostCompromiseHunting.json
Labels: Workbook

#3808 Create AdminSDHolder_Modifications.yaml
  Detections/AdminSDHolder_Modifications.yaml
Labels: Detection

#3909 Update PaloAlto-HighRiskPorts.yaml
  Hunting Queries/CommonSecurityLog/PaloAlto-HighRiskPorts.yaml
Labels: Detection

#3921 Corrects EntityMapping in ASim detection rule for Solarwinds
  Detections/ASimFileEvent/imFileESolarWindsSunburstSupernova.yaml
Labels: ASIM

#3186 M365D tutorials and tools
  Tools/M365-PowerBi Dashboard/Microsoft Threat Protection - API Dashboard.pbit
  Tools/M365-PowerBi Dashboard/readme.txt
  Tutorials/Microsoft 365 Defender/Webcasts/Airlift 2021 - Lets Invoke.csl
  Tutorials/Microsoft 365 Defender/Webcasts/Ignite 2020 - Best practices for hunting across domains with Microsoft 365 Defender.txt
  Tutorials/Microsoft 365 Defender/Webcasts/README.md
  Tutorials/Microsoft 365 Defender/Webcasts/TrackingTheAdversary/Episode 1 - KQL Fundamentals.txt
  Tutorials/Microsoft 365 Defender/Webcasts/TrackingTheAdversary/Episode 2 - Joins.txt
  Tutorials/Microsoft 365 Defender/Webcasts/TrackingTheAdversary/Episode 3 - Summarizing, Pivoting, and Joining.txt
  Tutorials/Microsoft 365 Defender/Webcasts/TrackingTheAdversary/Episode 4 - Lets Hunt.txt
  Tutorials/Microsoft 365 Defender/Webcasts/TrackingTheAdversary/README.md
  Tutorials/Microsoft 365 Defender/Webcasts/l33tSpeak/MCAS - The Hunt.txt
  Tutorials/Microsoft 365 Defender/Webcasts/l33tSpeak/Performance, Json and dynamics operator, external data.txt
Labels: Tutorial

#3596 analytic content for palo alto cdl
  .script/tests/KqlvalidationsTests/CustomTables/PaloAltoCDLEvent.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLConflictingMacAddress.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLDroppingSessionWithSentTraffic.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLFileTypeWasChanged.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLInboundRiskPorts.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossibleAttackWithoutResponse.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossibleFlooding.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossiblePortScan.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPrivilegesWasChanged.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPutMethodInHighRiskFileType.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLUnexpectedCountries.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLCriticalEventResult.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLFilePermissionWithPutRequest.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLIPsByPorts.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLIncompleteApplicationProtocol.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLMultiDenyResultbyUser.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLOutdatedAgentVersions.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLOutdatedConfigVersions.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLRareApplicationLayerProtocol.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLRareFileRequests.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLRarePortsbyUser.yaml
  Solutions/PaloAltoCDL/Workbooks/Images/PaloAltoBlack.png
  Solutions/PaloAltoCDL/Workbooks/Images/PaloAltoWhite.png
  Solutions/PaloAltoCDL/Workbooks/PaloAltoCDL.json
Labels: Waiting on poster, Solution, Detection

#3891 Azure Purview Solution Updates
  Solutions/Azure Purview/Analytic Rules/AzurePurviewSensitiveDataDiscovered.yaml
  Solutions/Azure Purview/Analytic Rules/AzurePurviewSensitiveDataDiscoveredCustom.yaml
  Solutions/Azure Purview/Data Connectors/Logo/AzurePurview.svg
  Solutions/Azure Purview/Workbooks/AzurePurview.json
Labels: Workbook, Detection

#3775 Confluence native poller connector
  DataConnectors/AtlassianConfluenceAudit/ConfluenceNativePollerConnector/azuredeploy_Confluence_native_poller_connector.json
Labels: Connector

#3774 Jira native poller connector
  DataConnectors/AtlassianJiraAudit/JiraNativePollerConnector/azuredeploy_Jira_native_poller_connector.json
Labels: Connector

#3936 VMWare ESXI solution package
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/1.0.1.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/VMWareESXi/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_SIGNL4.json
Labels: Solution

#3879 Updating Parameter Bar per Private Preview Feedback
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/readme.md
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/MaturityModelForEventLogManagement_M2131.json
  Solutions/MaturityModelForEventLogManagementM2131/readme.md
Labels: Workbook

#3787 Microsoft Sentinel Solution content packaging
  Solutions/Joshua-Cyberiskvision/Package/1.0.0.zip
  Solutions/Joshua-Cyberiskvision/Package/createUiDefinition.json
  Solutions/Joshua-Cyberiskvision/Package/mainTemplate.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-FILE/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-IP/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/Joshua-Intel-Enrichment-URL/azuredeploy.json
  Solutions/Joshua-Cyberiskvision/Playbooks/README.md
  Solutions/Joshua-Cyberiskvision/SolutionMetadata.json
Labels: Solution

#3885 add validations on techniques
  .script/tests/detectionTemplateSchemaValidation/Models/AnalyticsTemplateInternalModelBase.cs
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/KillChainTechniquesHelper.cs
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/NoTechniquesWithoutMatchingTactics.cs
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/Tactic.cs
  Detections/ASimFileEvent/imFileESolarWindsSunburstSupernova.yaml
  Detections/ASimFileEvent/imFileEvent_Dev-0228FilePathHashesNovember2021-ASIM.yaml
  Detections/ASimProcess/imProcess_SolarWinds_SUNBURST_Process-IOCs.yaml
  Detections/ASimProcess/imProcess_malware_in_recyclebin.yaml
  Detections/AWSCloudTrail/AWS_ClearStopChangeTrailLogs.yaml
  Detections/AWSCloudTrail/AWS_FullAdminPolicyAttachedToRolesUsersGroups.yaml
  Detections/AuditLogs/ADFSDomainTrustMods.yaml
  Detections/AuditLogs/CredentialAddedAfterAdminConsent.yaml
  Detections/AzureActivity/RareRunCommandPowerShellScript.yaml
  Detections/AzureDevOpsAuditing/ADOPATUsedWithBrowser.yaml
  Detections/AzureDevOpsAuditing/ADOPipelineModifiedbyNewUser.yaml
  Detections/AzureDevOpsAuditing/AzDOPatSessionMisuse.yaml
  Detections/AzureFirewall/SeveralDenyActionsRegistered.yaml
  Detections/CommonSecurityLog/Wazuh-Large Number of Web errors from an IP.yaml
  Detections/DeviceEvents/SolarWinds_TEARDROP_Process-IOCs.yaml
  Detections/DeviceFileEvents/SolarWinds_SUNBURST_&_SUPERNOVA_File-IOCs.yaml
  Detections/DeviceNetworkEvents/SolarWinds_SUNBURST_Network-IOCs.yaml
  Detections/DeviceProcessEvents/SolarWinds_SUNBURST_Process-IOCs.yaml
  Detections/MultipleDataSources/AdditionalFilesUploadedByActor.yaml
  Detections/MultipleDataSources/Dev-0228FilePathHashesNovember2021.yaml
  Detections/MultipleDataSources/MFADisable.yaml
  Detections/MultipleDataSources/RunCommandUEBABreach.yaml
  Detections/SecurityEvent/PotentialKerberoast.yaml
  Detections/SecurityEvent/malware_in_recyclebin.yaml
  Detections/SecurityEvent/powershell_empire.yaml
  Detections/SymantecProxySG/ExcessiveDeniedProxyTraffic.yaml
  Detections/SymantecProxySG/UserAccessedSuspiciousURLCategories.yaml
  Detections/Syslog/ssh_NewlyInternetExposed.yaml
  Detections/ZoomLogs/SupiciousLinkSharing.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareUnexpectedPost.yaml
  Solutions/Corelight/Analytic Rules/CorelightC2RepetitiveFailures.yaml
  Solutions/Corelight/Analytic Rules/CorelightMultipleCompressedFilesTransferredOverHTTP.yaml
  Solutions/Corelight/Analytic Rules/CorelightMultipleFilesSentOverHTTPAbnormalRequests.yaml
  Solutions/Corelight/Analytic Rules/CorelightPossibleWebshell.yaml
  Solutions/Corelight/Analytic Rules/CorelightPossibleWebshellRarePOST.yaml
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceUnexpectedOSUpdate.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTDenialofService.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTHighBandwidth.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTPLCStopCommand.yaml
  Solutions/LastPass/Analytic Rules/HighlySensitivePasswordAccessed.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicExploitCVE-2021-2109.yaml
  Solutions/ProofPointTap/Analytic Rules/MalwareAttachmentDelivered.yaml
  Solutions/ProofPointTap/Analytic Rules/MalwareLinkClicked.yaml
  Solutions/SemperisDirectoryServicesProtector/Analytic Rules/SemperisDSP_KerberoskrbtgtAccount.yaml
  Solutions/SemperisDirectoryServicesProtector/Analytic Rules/SemperisDSP_RecentsIDHistoryChangesOnADObjects.yaml
  Solutions/SemperisDirectoryServicesProtector/Analytic Rules/SemperisDSP_ZerologonVulnerability.yaml
  Solutions/SentinelOne/Analytic Rules/SentinelOneAlertFromCustomRule.yaml
  Solutions/SentinelOne/Analytic Rules/SentinelOneMultipleAlertsOnHost.yaml
  Solutions/SentinelOne/Analytic Rules/SentinelOneSameCustomRuleHitOnDiffHosts.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditUnknownUA.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeDiscoveryActivity.yaml
  Solutions/Ubiquiti/Analytic Rules/UbiquitiL2RFTP.yaml
  Solutions/Ubiquiti/Analytic Rules/UbiquitiUnusualTraffic.yaml
Labels: Detection

#3834 Update sample data ingest tool to use Monitor Query library
  Tools/Sample-Data-Ingest-Tool/SampleDataIngestTool/LogAnalyticsCheck.cs
  Tools/Sample-Data-Ingest-Tool/SampleDataIngestTool/Program.cs
  Tools/Sample-Data-Ingest-Tool/SampleDataIngestTool/SampleDataIngestTool.csproj
Labels: Connector

#3947 Modified AzureDeploy to remove unnecessary concat
  DataConnectors/O365 Data/azuredeploy.json
Labels: Connector

#4009 asim/deploy-network-fixes
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoft365Defender/ASimNetworkSessionMicrosoft365Defender.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoft365Defender/README.md
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftLinuxSysmon/ASimNetworkSessionMicrosoftLinuxSysmon.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftMD4IoT/ASimNetworkSessionMicrosoftMD4IoT.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftWindowsEventFirewall/ASimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionzScalerZIA/ASimNetworkSessionzScalerZIA.json
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionEmpty/vimNetworkSessionEmpty.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoft365Defender/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoft365Defender/vimNetworkSessionMicrosoft365Defender.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftLinuxSysmon/vimNetworkSessionMicrosoftLinuxSysmon.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftMD4IoT/vimNetworkSessionMicrosoftMD4IoT.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftWindowsEventFirewall/vimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionzScalerZIA/vimNetworkSessionzScalerZIA.json
Labels: ASIM

#3611 Vmware notification and event api update
  DataConnectors/VMware Carbon Black/AzureFunctionVMwareCarbonBlack.zip
  DataConnectors/VMware Carbon Black/AzureFunctionVMwareCarbonBlack/run.ps1
  DataConnectors/VMware Carbon Black/README.md
  DataConnectors/VMware Carbon Black/VMwareCarbonBlack_API_FunctionApp.json
  DataConnectors/VMware Carbon Black/azuredeploy_VMwareCarbonBlack_API_FunctionApp.json
  DataConnectors/VMware Carbon Black/createUiDefinition.json
  DataConnectors/VMware Carbon Black/requirements.psd1
Labels: Connector

#3863 Updating as per #3826
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
Labels: Solution

#3999 Moving files Apache HTTP Server
  Solutions/ApacheHTTPServer/Data Connectors/Connector_ApacheHTTPServer_agent.json
  Solutions/ApacheHTTPServer/Parsers/ApacheHTTPServer.txt
Labels: Connector

#3833 Adding ARGOS Cloud Security Solution
  .script/tests/KqlvalidationsTests/CustomTables/ARGOS_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/argos-logo.svg
  Sample Data/Custom/ARGOS_CL.json
  Solutions/ARGOSCloudSecurity/Analytic Rules/ExploitableSecurityIssues.yaml
  Solutions/ARGOSCloudSecurity/Data Connectors/ARGOS_REST_API_Connector.md
  Solutions/ARGOSCloudSecurity/Data Connectors/Connector_ARGOS.json
  Solutions/ARGOSCloudSecurity/Workbooks/ARGOSCloudSecurityWorkbook.json
  Solutions/ARGOSCloudSecurity/Workbooks/images/logos/argos-logo.svg
  Solutions/ARGOSCloudSecurity/Workbooks/images/preview/ARGOSCloudSecurityWorkbookBlack.png
  Solutions/ARGOSCloudSecurity/Workbooks/images/preview/ARGOSCloudSecurityWorkbookWhite.png
Labels: Solution, Detection

#3160 Created first version of parsers for Azure Firewall
  Parsers/AzureFirewall/ARM/AzureFirewallParser-template.json
  Parsers/AzureFirewall/AzureFirewallApplicationRule.kql
  Parsers/AzureFirewall/AzureFirewallApplicationRuleLogs_sample-dataset.kql
  Parsers/AzureFirewall/AzureFirewallDnsProxy.kql
  Parsers/AzureFirewall/AzureFirewallNetworkRule.kql
  Parsers/AzureFirewall/AzureFirewallNetworkRuleLogs_sample-dataset.kql
  Parsers/AzureFirewall/readme.md
Labels: Parser

#3858 Add Solution for Red Canary
  .script/tests/KqlvalidationsTests/CustomTables/RedCanaryDetections_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/red_canary_logo.svg
  Sample Data/Custom/RedCanaryDetections_CL.json
  Solutions/RedCanary/Analytic Rules/RedCanaryThreatDetection.yaml
  Solutions/RedCanary/Data Connectors/RedCanaryDataConnector.json
Labels: Solution
