Repository Azure/Azure-Sentinel, pull requests merged in 2022-12, with the labels that each got.

#6777 Adding skip validations for Zinc Open source
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/MultipleDataSources/ZincOctober2022_AVHits_IOC.yaml
  Detections/MultipleDataSources/ZincOctober2022_Filename_Commandline_IOC.yaml
  Detections/MultipleDataSources/ZincOctober2022_IP_Domain_Hash_IOC.yaml
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution

#6747 Crowdstrike Falcon Endpoint Protection Package Update
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.7.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/SolutionMetadata.json
Labels: Solution

#6775 Hyperlink validations
  .azure-pipelines/hyperLinkValidations.yaml
  .script/hyperLinkValidator.ts
  azure-pipelines.yml
  package.json
Labels: enhancement, Solution

#6742 Adding package for Dev 0270 Detections and Hunting
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/MultipleDataSources/Dev-0270PowershellSep2022.yaml
  Detections/MultipleDataSources/Dev-0270RegistryIOCSep2022.yaml
  Detections/MultipleDataSources/Dev-0270WMICDiscoverySep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270PowershellSep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270RegistryIOCSep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270WMICDiscoverySep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Data/Solution_DEV0270.json
  Solutions/Dev 0270 Detection and Hunting/Package/2.0.0.zip
  Solutions/Dev 0270 Detection and Hunting/Package/createUiDefinition.json
  Solutions/Dev 0270 Detection and Hunting/Package/mainTemplate.json
  Solutions/Dev 0270 Detection and Hunting/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution

#6709 Adding Solution Dependencies for Domain Solutions
  Solutions/Apache Log4j Vulnerability Detection/Package/2.0.2.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/PCI DSS Compliance/Data/Solution_PCIDSSCompliance.json
  Solutions/PCI DSS Compliance/Package/2.0.1.zip
  Solutions/PCI DSS Compliance/Package/2.0.2.zip
  Solutions/PCI DSS Compliance/Package/mainTemplate.json
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/SecurityThreatEssentialSolution/Package/2.0.2.zip
  Solutions/SecurityThreatEssentialSolution/Package/mainTemplate.json
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Solutions/Zinc Open Source/Package/2.0.2.zip
  Solutions/Zinc Open Source/Package/mainTemplate.json
Labels: Solution

#6740 [Playbooks] Update dynamic summaries playbook
  Playbooks/Dynamic-Summaries-API-Upsert/azuredeploy.json
  Playbooks/Dynamic-Summaries-API-Upsert/readme.md
Labels: Playbook

#6462 netskope playbook
  Playbooks/Netskope/Add-Url-to-netskope-url-list/azuredeploy.json
  Playbooks/Netskope/Add-Url-to-netskope-url-list/images/playbook-url-api-token.png
  Playbooks/Netskope/Add-Url-to-netskope-url-list/images/url-playbook-azure.png
  Playbooks/Netskope/Add-Url-to-netskope-url-list/readme.md
Labels: Playbook

#6792 Fixing the template for Cisco ASA
  Solutions/CiscoASA/Data Connectors/CiscoASA.JSON
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/2.0.2.zip
  Solutions/CiscoASA/Package/mainTemplate.json
Labels: Solution

#6759 KQLTraining solution packaging Changes
  Solutions/KQL Training/Data/Solution_KQL Training.json
  Solutions/KQL Training/Package/2.0.0.zip
  Solutions/KQL Training/Package/createUiDefinition.json
  Solutions/KQL Training/Package/mainTemplate.json
  Solutions/KQL Training/SolutionMetadata.json
  Solutions/KQL Training/Workbooks/AdvancedKQL.json
  Solutions/KQL Training/Workbooks/IntrotoKQL.json
Labels: Solution

#6791 Parser Filter Bug Fix
  Parsers/ASimDns/ARM/FullDeploymentDns.json
  Parsers/ASimDns/ARM/vimDnsInfobloxNIOS/vimDnsInfobloxNIOS.json
  Parsers/ASimDns/Parsers/vimDnsInfobloxNIOS.yaml
Labels: ASIM, Parser

#6795 Update readme.md for Netskope playbooks
  Playbooks/Netskope/Add-Url-to-netskope-url-list/readme.md
Labels: Playbook

#6608 Tool changes for Functionapp Dependencies and Fortinet-Fortigate Package
  Solutions/Fortinet-FortiGate/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet-FortiGate/Package/2.0.0.zip
  Solutions/Fortinet-FortiGate/Package/createUiDefinition.json
  Solutions/Fortinet-FortiGate/Package/mainTemplate.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_IncidentEnrichment/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_ResponseOnIP/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet_ResponseOnURL/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/FunctionApp/azuredeploy.json
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Solution, Tools

#6809 Update azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/incident-trigger/azuredeploy.json
Labels: Playbook, Solution

#6813 Hyperlink validation fix
  .script/hyperLinkValidator.ts
Labels: Solution

#6739 Australian Cyber Security Packaging Changes
  Solutions/Australian Cyber Security Centre/Data/Solution_Australian Cyber Security Centre.json
  Solutions/Australian Cyber Security Centre/Package/2.0.0.zip
  Solutions/Australian Cyber Security Centre/Package/createUiDefinition.json
  Solutions/Australian Cyber Security Centre/Package/mainTemplate.json
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/azuredeploy.json
  Solutions/Australian Cyber Security Centre/SolutionMetadata.json
Labels: Solution

#6800 Updated Author, Support and Provider information for KQL Training Sol…
  Solutions/KQL Training/Data/Solution_KQL Training.json
  Solutions/KQL Training/Package/2.0.0.zip
  Solutions/KQL Training/Package/mainTemplate.json
  Solutions/KQL Training/SolutionMetadata.json
Labels: Solution

#6821 Show warning instead of error when invalid hyperlink
  .script/hyperLinkValidator.ts
Labels: Solution

#6820 Salesforce Repackage for Workbook Change
  Solutions/Salesforce Service Cloud/Data/Solution_TSalesforceCloudtemplateSpec.json
  Solutions/Salesforce Service Cloud/Package/2.0.2.zip
  Solutions/Salesforce Service Cloud/Package/2.0.3.zip
  Solutions/Salesforce Service Cloud/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#6771 Update Detection-VolumeResponseRowsStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-VolumeResponseRowsStatefulAnomalyOnDatabase.yaml
Labels: Solution, Analytic Rules

#6770 Update Detection-VolumeAffectedRowsStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-VolumeAffectedRowsStatefulAnomalyOnDatabase.yaml
Labels: Solution, Analytic Rules

#6769 Update Detection-HotwordsOutgoingStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsOutgoingStatefulAnomalyOnDatabase.yaml
Labels: Solution, Analytic Rules

#6768 Update Detection-HotwordsOLEObjectStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsOLEObjectStatefulAnomalyOnDatabase.yaml
Labels: Solution, Analytic Rules

#6765 Update Detection-HotwordsExecutionStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsExecutionStatefulAnomalyOnDatabase.yaml
Labels: Solution, Analytic Rules

#6764 Update Detection-HotwordsDropStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsDropStatefulAnomalyOnDatabase.yaml
Labels: Solution, Analytic Rules

#6763 Update Detection-ErrorsSyntaxStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-ErrorsSyntaxStatefulAnomalyOnDatabase.yaml
Labels: Solution, Analytic Rules

#6789 Update PrivilegedUserLogonfromnewASN.yaml
  Detections/SigninLogs/PrivilegedUserLogonfromnewASN.yaml
Labels: Detection

#6782 Update ssh_potentialBruteForce.yaml
  Detections/Syslog/ssh_potentialBruteForce.yaml
Labels: Detection

#6662 Successful Sign-In from Non-Compliant Device with Bulk Download Activity
  Hunting Queries/MultipleDataSources/NonCompliantSigninwithBulkDownload.yaml
Labels: Hunting

#6829 Update Azure ranges in Azure Active Directory Analytic Rule
  Solutions/Azure Active Directory/Analytic Rules/AzurePortalSigninfromanotherAzureTenant.yaml
Labels: Solution, Analytic Rules

#6824 Updated AKS Workbook FileNames
  Solutions/Azure kubernetes Service/Workbooks/AksSecurity1_0.json
  Solutions/Azure kubernetes Service/Workbooks/AksSecurity2_0.json
  Solutions/Azure kubernetes Service/Workbooks/Images/AksSecurityBlack.png
  Solutions/Azure kubernetes Service/Workbooks/Images/AksSecurityWhite.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#6746 Adding Solution for Microsoft Windows SQL Server Database Audit
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Hunting Queries/SQLServer/SQL-Failed SQL Logons.yaml
  Hunting Queries/SQLServer/SQL-MultipleFailedLogon_FromSameIP.yaml
  Hunting Queries/SQLServer/SQL-MultipleFailedLogon_InShortSpan.yaml
  Hunting Queries/SQLServer/SQL-New_UserCreated.yaml
  Hunting Queries/SQLServer/SQL-UserAdded_to_SecurityAdmin.yaml
  Hunting Queries/SQLServer/SQL-UserDeletedFromDatabase.yaml
  Hunting Queries/SQLServer/SQL-UserRemovedFromSecurityAdmin.yaml
  Hunting Queries/SQLServer/SQL-UserRemovedFromServerRole.yaml
  Hunting Queries/SQLServer/SQL-UserRoleChanged.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Data/Solution_MicrosoftWindowsSQL.json
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/Readme.md
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-Failed SQL Logons.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-MultipleFailedLogon_FromSameIP.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-MultipleFailedLogon_InShortSpan.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-New_UserCreated.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserAdded_to_SecurityAdmin.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserDeletedFromDatabase.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRemovedFromSecurityAdmin.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRemovedFromServerRole.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRoleChanged.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Package/2.0.0.zip
  Solutions/Microsoft Windows SQL Server Database Audit/Package/createUiDefinition.json
  Solutions/Microsoft Windows SQL Server Database Audit/Package/mainTemplate.json
  Solutions/Microsoft Windows SQL Server Database Audit/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution

#6717 Updating Jira Solution with functionapp playbooks
  Playbooks/Sync-IncidentsWithJIRA/Sync-Comments/tc-function-cc-sync.zip
  Solutions/AtlassianJiraAudit/Package/2.0.1.zip
  Solutions/AtlassianJiraAudit/Package/createUiDefinition.json
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
  Solutions/AtlassianJiraAudit/Playbooks/Add-JiraLinkComment/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Add-JiraLinkComment/images/Add-JiraLinkComment-Dark.png
  Solutions/AtlassianJiraAudit/Playbooks/Add-JiraLinkComment/images/Add-JiraLinkComment-Light.png
  Solutions/AtlassianJiraAudit/Playbooks/Add-JiraLinkComment/images/Add-JiraLinkComment-Result.png
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/alert-trigger/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/incident-trigger/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Images/Azure - Switch Organization.png
  Solutions/AtlassianJiraAudit/Playbooks/Images/JIRA - Automation - Create Link.png
  Solutions/AtlassianJiraAudit/Playbooks/Images/JIRA - Automation - Sync Assigned User.png
  Solutions/AtlassianJiraAudit/Playbooks/Images/JIRA - Automation - Sync Comment.png
  Solutions/AtlassianJiraAudit/Playbooks/Images/JIRA - Automation - Sync Status.png
  Solutions/AtlassianJiraAudit/Playbooks/Images/Sentinel - Automation Rule.png
  Solutions/AtlassianJiraAudit/Playbooks/Images/Solution overview.png
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-CommentsFunctionApp/Sync-Comment.ps1
  Solutions/AtlassianJiraAudit/Playbooks/Sync-CommentsFunctionApp/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-CommentsFunctionApp/tc-function-cc-sync.zip
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Status/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Status/images/Sync-Status-Dark.png
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Status/images/Sync-Status-Light.png
  Solutions/AtlassianJiraAudit/Playbooks/readme.md
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/PlaybooksMigrated.json
Labels: Solution

#6849 fix command to work with RH based OS as well
  DataConnectors/CEF/cef_AMA_troubleshoot.py
Labels: Connector, python

#6850 Revert "Updated AKS Workbook FileNames"
  Solutions/Azure kubernetes Service/Workbooks/AksSecurity.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/AksSecurity.json
  Workbooks/Images/Preview/AksSecurityBlack.png
  Workbooks/Images/Preview/AksSecurityWhite.png
Labels: Workbook

#6851 Revert "Updated workbookmetadata for AKS Solution"
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#6422 AWS_ConsoleLogonWithoutMFA change when UserIdentityUserName is empty
  Solutions/Amazon Web Services/Analytic Rules/AWS_ConsoleLogonWithoutMFA.yaml
Labels: Solution, Detection

#6846 Updated IOC matching queries to fix issues with entity mapping
  Detections/MultipleDataSources/EUROPIUM _September2022.yaml
  Detections/MultipleDataSources/Mercury_Log4j_August2022.yaml
  Detections/MultipleDataSources/PrestigeRansomwareIOCsOct22.yaml
Labels: Detection

#6745 Adding detection for SPO/ODB for file sharing and deletion
  Hunting Queries/Microsoft 365 Defender/Exfiltration/unusual-volume-of-file-deletion.yaml
  Hunting Queries/Microsoft 365 Defender/Impact/unusual-volume-of-file-sharing.yaml
Labels: Hunting

#6798 Updated Provider, Author and support details for SOC Handbook Solution
  Solutions/SOC Handbook/Data/Solution_SOC Handbook.json
  Solutions/SOC Handbook/Package/2.0.0.zip
  Solutions/SOC Handbook/Package/createUiDefinition.json
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/SolutionMetadata.json
Labels: Solution

#6843 Updating SQL solution with latest query changes
  Solutions/Azure SQL Database solution for sentinel/Data/Solution_AzureSQLDatabasesolutionforsentinel.json
  Solutions/Azure SQL Database solution for sentinel/Package/2.0.1.zip
  Solutions/Azure SQL Database solution for sentinel/Package/mainTemplate.json
Labels: Solution

#6865 fix: update WithSecure logo link with reference to master
  Solutions/WithSecureElementsViaConnector/Data/Solution_WithSecureElementsViaConnector.json
  Solutions/WithSecureElementsViaConnector/Package/2.0.1.zip
  Solutions/WithSecureElementsViaConnector/Package/createUiDefinition.json
Labels: Solution, Logo

#6657 Solution Package for Cloud Service Threat Protection Essentials
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/OfficeActivity/Malicious_Inbox_Rule.yaml
  Detections/OfficeActivity/Office_MailForwarding.yaml
  Detections/OfficeActivity/office_policytampering.yaml
  Hunting Queries/AzureActivity/Anomalous_Listing_Of_Storage_Keys.yaml
  Hunting Queries/AzureActivity/Creating_Anomalous_Number_Of_Resources.yaml
  Hunting Queries/AzureDiagnostics/AzureKeyVaultAccessManipulation.yaml
  Hunting Queries/MultipleDataSources/AzureResourceAssignedPublicIP.yaml
  Hunting Queries/OfficeActivity/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Hunting Queries/OfficeActivity/OfficeMailForwarding_hunting.yaml
  Solutions/Cloud Service Threat Protection Essentials/Analytic Rules/Malicious_Inbox_Rule.yaml
  Solutions/Cloud Service Threat Protection Essentials/Analytic Rules/Office_MailForwarding.yaml
  Solutions/Cloud Service Threat Protection Essentials/Analytic Rules/office_policytampering.yaml
  Solutions/Cloud Service Threat Protection Essentials/Data/Solution_CloudServiceThreatProtectionEssentials.json
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/Anomalous_Listing_Of_Storage_Keys.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/AzureKeyVaultAccessManipulation.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/AzureResourceAssignedPublicIP.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/Creating_Anomalous_Number_Of_Resources.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/OfficeMailForwarding_hunting.yaml
  Solutions/Cloud Service Threat Protection Essentials/Package/2.0.0.zip
  Solutions/Cloud Service Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Cloud Service Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Cloud Service Threat Protection Essentials/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution

#6862 Repackaging Azure Active Directory solution with Analytic and Dataconnector changes
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.6.zip
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/Playbooks/Prompt-User/alert-trigger/azuredeploy.json
  Solutions/Azure Active Directory/Playbooks/Prompt-User/incident-trigger/azuredeploy.json
  Solutions/Azure Active Directory/SolutionMetadata.json
Labels: Solution

#6729 Adding Analytic Rule to TI solution
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/DuoSecurity/IPEntity_DuoSecurity.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_DuoSecurity.yaml
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/2.0.1.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution

#6728 SensitiveOperations Workbook
  Workbooks/Images/Preview/SensitiveoperationSecurityBlack.png
  Workbooks/Images/Preview/SensitiveoperationSecurityWhite.png
  Workbooks/SensitiveOperationsinAzureActivityLogReview.JSON
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6847 Repackaging CiscoMeraki solution with Parser changes
  Solutions/CiscoMeraki/ConsolidatedTemplate.json
  Solutions/CiscoMeraki/Package/2.0.1.zip
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/Playbooks/Block-Device-Client/readme.md
  Solutions/CiscoMeraki/Playbooks/Block-IP-Address/readme.md
  Solutions/CiscoMeraki/Playbooks/Block-URL/readme.md
  Solutions/CiscoMeraki/Playbooks/IP-Address-Enrichment/readme.md
  Solutions/CiscoMeraki/Playbooks/URL-Enrichment/readme.md
  Solutions/CiscoMeraki/SolutionMetadata.json
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
Labels: Solution

#6817 Added clarification to S3Bucket parameter
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_API_FunctionApp.json
  Solutions/CiscoUmbrella/Data/Solution_CiscoUmbrella.json
  Solutions/CiscoUmbrella/Package/2.0.1.zip
  Solutions/CiscoUmbrella/Package/2.0.2.zip
  Solutions/CiscoUmbrella/Package/mainTemplate.json
Labels: Solution

#6887 Removed the whitespace from Domain Category
  Solutions/Amazon Web Services/Package/2.0.3.zip
  Solutions/Amazon Web Services/Package/mainTemplate.json
  Solutions/Amazon Web Services/SolutionMetadata.json
Labels: Solution

#6894 Reverting Hunting queries and Analytic Rules for cloud service
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/OfficeActivity/Malicious_Inbox_Rule.yaml
  Detections/OfficeActivity/Office_MailForwarding.yaml
  Detections/OfficeActivity/office_policytampering.yaml
  Hunting Queries/AzureActivity/Anomalous_Listing_Of_Storage_Keys.yaml
  Hunting Queries/AzureActivity/Creating_Anomalous_Number_Of_Resources.yaml
  Hunting Queries/OfficeActivity/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Hunting Queries/OfficeActivity/OfficeMailForwarding_hunting.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Package/2.0.0.zip
  Solutions/Attacker Tools Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Attacker Tools Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Cloud Service Threat Protection Essentials/Analytic Rules/Malicious_Inbox_Rule.yaml
  Solutions/Cloud Service Threat Protection Essentials/Analytic Rules/Office_MailForwarding.yaml
  Solutions/Cloud Service Threat Protection Essentials/Analytic Rules/office_policytampering.yaml
  Solutions/Cloud Service Threat Protection Essentials/Data/Solution_CloudServiceThreatProtectionEssentials.json
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/Anomalous_Listing_Of_Storage_Keys.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/Creating_Anomalous_Number_Of_Resources.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/OfficeMailForwarding_hunting.yaml
  Solutions/Cloud Service Threat Protection Essentials/Package/2.0.0.zip
  Solutions/Cloud Service Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Cloud Service Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Network Threat Protection Essentials/Package/2.0.0.zip
  Solutions/Network Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Network Threat Protection Essentials/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution

#6890 Updated the package to take latest watchlist API version in Log4j solution
  Solutions/Apache Log4j Vulnerability Detection/Package/2.0.3.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
Labels: Solution, WatchList

#6863 Changed conditions for checks in SPO/ODB activities and filenames
  Hunting Queries/Microsoft 365 Defender/Exfiltration/unusual-volume-of-file-sharing.yaml
  Hunting Queries/Microsoft 365 Defender/Impact/unusual-volume-of-file-deletion.yaml
Labels: Hunting

#6879 Updated text and workbook description for Recorded Future
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/2.1.0.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-Ukraine-IndicatorProcessor/RecordedFuture-Ukraine-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/readme.md
Labels: Solution

#6882 add sink for organization
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPAuditLogsSetup/GCPAuditLogsSetup.tf
Labels: Connector

#6902 Changes to fix entity mapping in some of the detections
  Detections/MultipleDataSources/ActiniumFeb2022.yaml
  Detections/MultipleDataSources/Dev-0530_July2022.yaml
  Detections/MultipleDataSources/Dev-0586_Jan2022_IOC.yaml
  Detections/MultipleDataSources/HiveRansomwareJuly2022.yaml
  Detections/MultipleDataSources/Mercury_Log4j_August2022.yaml
  Detections/MultipleDataSources/TarraskHashIoC.yaml
  Detections/SigninLogs/PrivilegedUserLogonfromnewASN.yaml
  Solutions/Windows Forwarded Events/Analytic Rules/ChiaCryptoMining_WindowsEvent.yaml
  Solutions/Windows Forwarded Events/Analytic Rules/SOURGUM_IOC_WindowsEvent.yaml
Labels: Detection

#6830 Show only ConditionalAccessPolicies that failed
  Solutions/Azure Active Directory/Analytic Rules/BypassCondAccessRule.yaml
Labels: Solution, Analytic Rules

#6906 Create Fortiweb schema
  .script/tests/KqlvalidationsTests/CustomTables/Fortiweb.json
Labels: scripts

#6892 Repackaging Cisco Stealthwatch with Data connector update
  Solutions/CiscoStealthwatch/Data Connectors/Cisco_Stealthwatch_syslog.json
  Solutions/CiscoStealthwatch/Data/Solution_CiscoStealthwatch.json
  Solutions/CiscoStealthwatch/Package/2.0.1.zip
  Solutions/CiscoStealthwatch/Package/mainTemplate.json
  Solutions/CiscoStealthwatch/SolutionMetadata.json
Labels: Solution

#6895 KQL validations- upagrade KustoServices package
  .azure-pipelines/kqlValidations.yaml
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.5.2.0.nupkg
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.1.0.nupkg
Labels: Validation

#6899 adding logstash and filter scenario
  Tools/Transformations-Library/Filtering/FilteringFieldsByVendorDCR.json
  Tools/Transformations-Library/Filtering/README.md
  Tools/Transformations-Library/Logstash/LogstashDCR.json
  Tools/Transformations-Library/Logstash/README.md
  Tools/Transformations-Library/Logstash/logstash_pipeline.conf
  Tools/Transformations-Library/README.md
Labels: Tools

#6597 11102022 as import ad group users to ms watchlist
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Add_Role_1.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Add_Role_2.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Add_Role_3.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Add_Role_4.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Create_Watchlist_1.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Create_Watchlist_2.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Create_Watchlist_3.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Create_Watchlist_4.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Create_Watchlist_5.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Create_Watchlist_6.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Create_Watchlist_7.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Demo.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_1.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_2.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_3.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_4.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_5.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_6.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_7.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_8.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Deploy_9.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Group_Id_1.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Group_Id_2.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_View_Watchlist_1.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_View_Watchlist_2.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_View_Watchlist_3.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Workspace_Id_1.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/Images/AS_Group_Watchlist_Workspace_Id_2.png
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/README.md
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/azuredeploy.json
  Playbooks/AS-Import-Azure-AD-Group-Users-to-MS-Watchlist/watchlist_initialize.csv
Labels: Playbook

#6911 Fixing detection templates
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/ThreatIntelligenceIndicator/IPEntity_WireData.yaml
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Detection

#6913 ESET Inspector Client ID update regarding IcM
  Solutions/ESET Inspect/Data Connectors/azuredeploy_ESETInspect_API_FunctionApp.json
Labels: dataconnector-cri

#6910 changed azure sentinel text
  Solutions/Digital Shadows/Analytic Rules/Digital_Shadows_incident_creation_exclude.yaml
  Solutions/Digital Shadows/Analytic Rules/Digital_Shadows_incident_creation_include.yaml
  Solutions/Digital Shadows/Data Connectors/Digital Shadows/DigitalShadowsConnectorAzureFunction/AS_api.py
  Solutions/Digital Shadows/Data Connectors/Digital Shadows/DigitalShadowsConnectorAzureFunction/AS_poller.py
  Solutions/Digital Shadows/Data Connectors/Digital Shadows/DigitalShadowsConnectorAzureFunction/DS_poller.py
  Solutions/Digital Shadows/Data Connectors/Digital Shadows/readme.md
  Solutions/Digital Shadows/Package/2.0.0.zip
  Solutions/Digital Shadows/Package/mainTemplate.json
Labels: Solution

#6671 Cloud Identity Threat Protection Essentials Solution
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/AuditLogs/NewExtUserGrantedAdmin.yaml
  Detections/MultipleDataSources/MFADisable.yaml
  Hunting Queries/AuditLogs/StsRefreshTokenModification.yaml
  Hunting Queries/AuditLogs/UserGrantedAccess_GrantsOthersAccess.yaml
  Hunting Queries/MultipleDataSources/ApplicationGrantedEWSPermissions.yaml
  Hunting Queries/SigninLogs/DisabledAccountSigninAttempts.yaml
  Hunting Queries/SigninLogs/DisabledAccountSigninAttemptsByIP.yaml
  Hunting Queries/SigninLogs/Signins-From-VPS-Providers.yaml
  Hunting Queries/SigninLogs/Signins-from-NordVPN-Providers.yaml
  Hunting Queries/SigninLogs/SuspiciousSignintoPrivilegedAccount.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Analytic Rules/MFADisable.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Analytic Rules/NewExtUserGrantedAdmin.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Data/Solution_CloudIdentityThreatDetection.json
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/ApplicationGrantedEWSPermissions.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttempts.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttemptsByIP.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-from-NordVPN-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/StsRefreshTokenModification.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/SuspiciousSignintoPrivilegedAccount.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/UserGrantedAccess_GrantsOthersAccess.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Package/2.0.0.zip
  Solutions/Cloud Identity Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Cloud Identity Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Cloud Identity Threat Protection Essentials/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution

#6885 RePackage CiscoUmbrella Solution
  Solutions/CiscoUmbrella/Package/2.0.2.zip
  Solutions/CiscoUmbrella/Package/mainTemplate.json
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AddIpToDestinationList/azuredeploy.json
Labels: Solution

#6924 Add Workbooks Microsoft Sentinel Cost (EUR)
  Workbooks/Images/Preview/MicrosoftSentinelCostEURBlack.png
  Workbooks/Images/Preview/MicrosoftSentinelCostEURWhite.png
  Workbooks/MicrosoftSentinelCostEUR.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6914 CEF Repackaging Changes
  Solutions/Common Event Format/Data Connectors/CEF AMA.JSON
  Solutions/Common Event Format/Data/Solution_CommonEventFormat.json
  Solutions/Common Event Format/Package/2.0.1.zip
  Solutions/Common Event Format/Package/createUiDefinition.json
  Solutions/Common Event Format/Package/mainTemplate.json
Labels: Solution

#6916 Update readme.md
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/readme.md
Labels: Playbook

#6878 Updated package with latest query changes for Threat Intelligence
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/2.0.1.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#6553 Sentinel via Azure Monitor REST API Data Connector version 2.0 from Noname Security
  Sample Data/Custom/NonameAPISecurityAlert.json
  Solutions/NonameSecurity/Data Connectors/Connector_RESTAPI_NonameSecurity.json
  Solutions/NonameSecurity/Data/Solution_NonameSecurity.json
  Solutions/NonameSecurity/README.md
  Solutions/NonameSecurity/SolutionMetadata.json
Labels: Connector, Solution

#6917 Repackaged the solution Windows Forwarded Events to reflect the changes made to Analytic Rules
  Solutions/Windows Forwarded Events/Data/Solution_Windows Forwarded Events.json
  Solutions/Windows Forwarded Events/Package/2.0.1.zip
  Solutions/Windows Forwarded Events/Package/createUiDefinition.json
  Solutions/Windows Forwarded Events/Package/mainTemplate.json
Labels: Solution

#6594 Dynamic 365 - Moving the files back to Individual folder
  DataConnectors/Dynamics365Activity/template_Dynamics365.JSON
  Detections/Dynamics365Activity/DynamicsEncryptionSettingsChanged.yaml
  Detections/Dynamics365Activity/MassExportOfDynamicstoExcel.yaml
  Detections/Dynamics365Activity/NewDynamicsAdminActivity.yaml
  Detections/Dynamics365Activity/NewDynamicsUserAgent.yaml
  Detections/Dynamics365Activity/NewOfficeUserAgentinDynamics.yaml
  Detections/Dynamics365Activity/UserBulkRetreivalOutsideNormalActivity.yaml
  Hunting Queries/Dynamics365Activity/DynamicsActivityAfterAADAlert.yaml
  Hunting Queries/Dynamics365Activity/DynamicsActivityAfterFailedLogons.yaml
  Solutions/Dynamics 365/Data/Solution_Dynamics365.json
  Solutions/Dynamics 365/Package/2.0.0.zip
  Solutions/Dynamics 365/Package/createUiDefinition.json
  Solutions/Dynamics 365/Package/mainTemplate.json
  Solutions/Dynamics 365/SolutionMetadata.json
  Workbooks/Dynamics365Workbooks.json
  Workbooks/Images/Logos/DynamicsLogo.svg
  Workbooks/Images/Preview/Dynamics365WorkbookBlack.png
  Workbooks/Images/Preview/Dynamics365WorkbookWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#6931 Kql validations- update KustoServices version
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.1.0.nupkg
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.2.0.nupkg
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: scripts

#6936 M365D phishing tasks playbook
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/azuredeploy.json
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/images/automationRuleDark.jpg
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/images/automationRuleLight.jpg
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/images/playbookDark.jpg
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/images/playbookLight.jpg
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/images/tasksDark.jpg
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/images/tasksLight.jpg
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/readme.md
Labels: Playbook

#6937 image link fix
  Playbooks/Tasks/M365D_Phishing_Playbook_for_SecOps-Tasks/readme.md
Labels: Playbook

#6812 RePackage Virus Total Solution
  Solutions/VirusTotal/Data/Solution_VirusTotal.json
  Solutions/VirusTotal/Package/2.0.2.zip
  Solutions/VirusTotal/Package/mainTemplate.json
Labels: Solution

#6922 Palo Alto CDL connectivity Criteria change
  Solutions/PaloAltoCDL/Data Connectors/Connector_PaloAlto_CDL_CEF.json
  Solutions/PaloAltoCDL/Data/Solution_PaloAltoCDL.json
  Solutions/PaloAltoCDL/Package/2.0.2.zip
  Solutions/PaloAltoCDL/Package/mainTemplate.json
Labels: Solution

#6856 Add AGENT GUID
  Solutions/SAP/sapcon-instance-update.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: Solution

#6943 Author, Support and Provider changes
  Solutions/ESI - Exchange Security Config and Audit Insights/Data Connectors/ESI-ExchangeAdminAuditLogEvents.json
  Solutions/ESI - Exchange Security Config and Audit Insights/Data Connectors/ESI-ExchangeOnPremisesCollector.json
  Solutions/ESI - Exchange Security Config and Audit Insights/Data Connectors/ESI-ExchangeOnlineCollector.json
  Solutions/ESI - Exchange Security Config and Audit Insights/SolutionMetadata.json
Labels: Connector, Solution

#6650 Solution Packaging for Endpoint threat protection essentials
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/SecurityEvent/DumpingLSASSProcessIntoaFile.yaml
  Detections/SecurityEvent/LateralMovementViaDCOM.yaml
  Detections/SecurityEvent/MacroInvokingShellBrowserWindowCOMObjects.yaml
  Detections/SecurityEvent/PotentialRemoteDesktopTunneling.yaml
  Detections/SecurityEvent/RegistryPersistenceViaAppCertDLLModification.yaml
  Detections/SecurityEvent/RegistryPersistenceViaAppInt_DLLsModification.yaml
  Detections/SecurityEvent/SecurityEventLogCleared.yaml
  Detections/SecurityEvent/WDigestDowngradeAttack.yaml
  Detections/SecurityEvent/WindowsBinariesExecutedfromNon-DefaultDirectory.yaml
  Detections/SecurityEvent/WindowsBinariesLolbinsRenamed.yaml
  Detections/SecurityEvent/base64_encoded_pefile.yaml
  Detections/SecurityEvent/execute_base64_decodedpayload.yaml
  Detections/SecurityEvent/malware_in_recyclebin.yaml
  Hunting Queries/MultipleDataSources/BackupDeletion.yaml
  Hunting Queries/MultipleDataSources/PersistViaIFEORegistryKey.yaml
  Hunting Queries/MultipleDataSources/PotentialMicrosoftSecurityServicesTampering.yaml
  Hunting Queries/MultipleDataSources/UnicodeObfuscationInCommandLine.yaml
  Hunting Queries/SecurityEvent/Certutil-LOLBins.yaml
  Hunting Queries/SecurityEvent/FileExecutionWithOneCharacterInTheName.yaml
  Hunting Queries/SecurityEvent/RemoteLoginPerformedwithWMI.yaml
  Hunting Queries/SecurityEvent/RemoteScheduledTaskCreationUpdateUsingATSVCNamedPipe.yaml
  Hunting Queries/SecurityEvent/ScheduledTaskCreationUpdateFromUserWritableDrectory.yaml
  Hunting Queries/SecurityEvent/SignedBinaryProxyExecutionRundll32.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/DumpingLSASSProcessIntoaFile.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/LateralMovementViaDCOM.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/MacroInvokingShellBrowserWindowCOMObjects.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/PotentialRemoteDesktopTunneling.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/RegistryPersistenceViaAppCertDLLModification.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/RegistryPersistenceViaAppInt_DLLsModification.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/SecurityEventLogCleared.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WDigestDowngradeAttack.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WindowsBinariesExecutedfromNon-DefaultDirectory.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WindowsBinariesLolbinsRenamed.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/base64_encoded_pefile.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/execute_base64_decodedpayload.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/malware_in_recyclebin.yaml
  Solutions/Endpoint Threat Protection Essentials/Data/Solution_EndpointThreatProtectionEssentials.json
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/BackupDeletion.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/Certutil-LOLBins.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/FileExecutionWithOneCharacterInTheName.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/PersistViaIFEORegistryKey.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/PotentialMicrosoftSecurityServicesTampering.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/RemoteLoginPerformedwithWMI.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/RemoteScheduledTaskCreationUpdateUsingATSVCNamedPipe.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/ScheduledTaskCreationUpdateFromUserWritableDrectory.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/SignedBinaryProxyExecutionRundll32.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/UnicodeObfuscationInCommandLine.yaml
  Solutions/Endpoint Threat Protection Essentials/Package/2.0.0.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Endpoint Threat Protection Essentials/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution

#6930 Slashnext Package with 2.0.0
  Solutions/SlashNext/Data/Solution_SlashNext.json
  Solutions/SlashNext/FunctionApp/deploy.json
  Solutions/SlashNext/Package/2.0.0.zip
  Solutions/SlashNext/Package/createUiDefinition.json
  Solutions/SlashNext/Package/mainTemplate.json
  Solutions/SlashNext/Playbooks/SlashNextWebAccessLogAssessment/deploy.json
Labels: Solution

#6955 entity trigger playbooks
  Playbooks/Isolate-MDE-Machine-entityTrigger/azuredeploy.json
  Playbooks/Isolate-MDE-Machine-entityTrigger/images/playbookDark.jpg
  Playbooks/Isolate-MDE-Machine-entityTrigger/images/playbookLight.jpg
  Playbooks/Isolate-MDE-Machine-entityTrigger/readme.md
  Playbooks/Revoke-AADSignIn-Session-entityTrigger/azuredeploy.json
  Playbooks/Revoke-AADSignIn-Session-entityTrigger/images/playbookDark.jpg
  Playbooks/Revoke-AADSignIn-Session-entityTrigger/images/playbookLight.jpg
  Playbooks/Revoke-AADSignIn-Session-entityTrigger/readme.md
  Playbooks/Unisolate-MDE-Machine-entityTrigger/azuredeploy.json
  Playbooks/Unisolate-MDE-Machine-entityTrigger/images/playbookDark.jpg
  Playbooks/Unisolate-MDE-Machine-entityTrigger/images/playbookLight.jpg
  Playbooks/Unisolate-MDE-Machine-entityTrigger/readme.md
Labels: Playbook

#6076 090122 as ip blocklist
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Access_1.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Access_2.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Access_3.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_App_Registration_1.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_App_Registration_2.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_App_Registration_3.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_App_Registration_4.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_App_Registration_5.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_App_Registration_5_consent.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_App_Registration_6.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_App_Registration_7.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_List_1.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_List_2.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Create_List_3.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Demo.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Deploy_1.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Deploy_2.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Deploy_3.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Deploy_4.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Deploy_5.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Deploy_6.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Deploy_7.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Deploy_8.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Key_Vault_1.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Key_Vault_2.png
  Playbooks/AS-IP-Blocklist/Images/NamedLocations_Key_Vault_3.png
  Playbooks/AS-IP-Blocklist/README.md
  Playbooks/AS-IP-Blocklist/azuredeploy.json
Labels: Playbook

#6779 Entity trigger playbooks
  Playbooks/Get-MDEInvestigationPackage/entity-trigger/azuredeploy.json
  Playbooks/Get-MDEInvestigationPackage/entity-trigger/images/designerDark.png
  Playbooks/Get-MDEInvestigationPackage/entity-trigger/images/designerLight.png
  Playbooks/Get-MDEInvestigationPackage/readme.md
  Solutions/Azure Active Directory/Playbooks/Block-AADUser/entity-trigger/azuredeploy.json
  Solutions/Azure Active Directory/Playbooks/Block-AADUser/entity-trigger/images/designerScreenshotDark1.png
  Solutions/Azure Active Directory/Playbooks/Block-AADUser/entity-trigger/images/designerScreenshotLight1.png
  Solutions/Azure Active Directory/Playbooks/Block-AADUser/entity-trigger/images/entityTriggerDark.png
  Solutions/Azure Active Directory/Playbooks/Block-AADUser/entity-trigger/images/entityTriggerLight.png
  Solutions/Azure Active Directory/Playbooks/Block-AADUser/entity-trigger/releaseNotes.md
  Solutions/Azure Active Directory/Playbooks/Reset-AADUserPassword/entity-trigger/azuredeploy.json
  Solutions/Azure Active Directory/Playbooks/Reset-AADUserPassword/entity-trigger/images/entityTrigger_dark.png
  Solutions/Azure Active Directory/Playbooks/Reset-AADUserPassword/entity-trigger/images/entityTrigger_light.png
  Solutions/Azure Active Directory/Playbooks/Reset-AADUserPassword/entity-trigger/releaseNotes.md
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/entity-trigger/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/entity-trigger/images/Playbook_dark.jpg
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/entity-trigger/images/Playbook_light.jpg
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/entity-trigger/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/entity-trigger/images/Playbook_dark.jpg
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/entity-trigger/images/Playbook_light.jpg
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/entity-trigger/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/entity-trigger/images/AdaptiveCardtoBlockorUnblock.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/entity-trigger/images/SummarizedAdaptiveCard.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/entity-trigger/images/designerscreenshot_darktheme.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/entity-trigger/images/designerscreenshot_lighttheme.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/entity-trigger/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/entity-trigger/images/AdaptiveCardtoBlockorUnblock.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/entity-trigger/images/SummarizedAdaptiveCard.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/entity-trigger/images/designerscreensh_darktheme.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/entity-trigger/images/designerscreenshot_lighttheme.PNG
Labels: Playbook, Solution

#6805 New Playbook - Update-CVE-IPs-WatchListwithGreyNoise
  Playbooks/Update-CVE-IPs-WatchListwithGreyNoise/ApplyPermissionsonLogicApp.ps1
  Playbooks/Update-CVE-IPs-WatchListwithGreyNoise/NetworkSearchingForGreyNoiseIPbyCVEActivity.yaml
  Playbooks/Update-CVE-IPs-WatchListwithGreyNoise/azuredeploy.json
  Playbooks/Update-CVE-IPs-WatchListwithGreyNoise/images/apikey.png
  Playbooks/Update-CVE-IPs-WatchListwithGreyNoise/images/logicapp.png
  Playbooks/Update-CVE-IPs-WatchListwithGreyNoise/readme.md
Labels: Playbook

#6848 Eclectic IQ playbooks Solution
  Solutions/EclecticIQ/Data/Solution_EclecticIQ.json
  Solutions/EclecticIQ/Package/2.0.0.zip
  Solutions/EclecticIQ/Package/createUiDefinition.json
  Solutions/EclecticIQ/Package/mainTemplate.json
  Solutions/EclecticIQ/Playbooks/CustomConnector/EclecticIQCustomConnector/azuredeploy.json
  Solutions/EclecticIQ/Playbooks/CustomConnector/EclecticIQCustomConnector/readme.md
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-CreateObservable/azuredeploy.json
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-CreateObservable/images/EclecticIQ_CA_IncidentComment_DarkTheme.png
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-CreateObservable/images/EclecticIQ_CA_IncidentComment_LightTheme.png
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-CreateObservable/images/EclecticIQ_CA_Workflow_DarkTheme.png
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-CreateObservable/images/EclecticIQ_CA_Workflow_LightTheme.png
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-CreateObservable/readme.md
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-EnrichIncident/azuredeploy.json
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-EnrichIncident/images/EclecticIQ_EI_IncidentComment_DarkTheme.png
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-EnrichIncident/images/EclecticIQ_EI_IncidentComment_LightTheme.png
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-EnrichIncident/images/EclecticIQ_EI_Workflow_DarkTheme.png
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-EnrichIncident/images/EclecticIQ_EI_Workflow_LightTheme.png
  Solutions/EclecticIQ/Playbooks/EclecticIQPlaybooks/EclecticIQ-EnrichIncident/readme.md
  Solutions/EclecticIQ/SolutionMetadata.json
Labels: Playbook, Solution

#6956 RePackage ZeroTrust Solution
  Solutions/ZeroTrust(TIC3.0)/Package/2.0.4.zip
  Solutions/ZeroTrust(TIC3.0)/Package/mainTemplate.json
  Solutions/ZeroTrust(TIC3.0)/Playbooks/Notify_GovernanceComplianceTeam/Notify_GovernanceComplianceTeam.json
  Solutions/ZeroTrust(TIC3.0)/SolutionMetadata.json
  Solutions/ZeroTrust(TIC3.0)/data/Solution_ZeroTrust(TIC3.0).json
Labels: Solution

#6870 Asim/remove fields other
  Parsers/ASimDns/ARM/ASimDnsInfobloxNIOS/ASimDnsInfobloxNIOS.json
  Parsers/ASimDns/ARM/ASimDnsMicrosoftNXlog/ASimDnsMicrosoftNXlog.json
  Parsers/ASimDns/ARM/ASimDnsMicrosoftOMS/ASimDnsMicrosoftOMS.json
  Parsers/ASimDns/ARM/FullDeploymentDns.json
  Parsers/ASimDns/ARM/vimDnsInfobloxNIOS/vimDnsInfobloxNIOS.json
  Parsers/ASimDns/ARM/vimDnsMicrosoftNXlog/vimDnsMicrosoftNXlog.json
  Parsers/ASimDns/ARM/vimDnsMicrosoftOMS/vimDnsMicrosoftOMS.json
  Parsers/ASimDns/Parsers/ASimDnsInfobloxNIOS.yaml
  Parsers/ASimDns/Parsers/ASimDnsMicrosoftNXlog.yaml
  Parsers/ASimDns/Parsers/ASimDnsMicrosoftOMS.yaml
  Parsers/ASimDns/Parsers/vimDnsInfobloxNIOS.yaml
  Parsers/ASimDns/Parsers/vimDnsMicrosoftNXlog.yaml
  Parsers/ASimDns/Parsers/vimDnsMicrosoftOMS.yaml
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionAWSVPC/ASimNetworkSessionAWSVPC.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionAzureFirewall/ASimNetworkSessionAzureFirewall.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftWindowsEventFirewall/ASimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionAWSVPC/vimNetworkSessionAWSVPC.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionAzureFirewall/vimNetworkSessionAzureFirewall.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftWindowsEventFirewall/vimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionAWSVPC.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionAzureFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAWSVPC.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionAzureFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftWindowsEventFirewall.yaml
Labels: ASIM

#6755 Update Solution Package for darktrace
  Solutions/Darktrace/Data/Solution_DarktraceEnterpriseImmuneSystem.json
  Solutions/Darktrace/Package/2.0.1.zip
  Solutions/Darktrace/Package/mainTemplate.json
Labels: Solution

#6944 Microsoft Exchange Packaging Changes
  Solutions/Microsoft Exchange Security/Analytic Rules/CriticalCmdletsUsageDetection.yaml
  Solutions/Microsoft Exchange Security/Analytic Rules/ServerOrientedWithUserOrientedAdministration.yaml
  Solutions/Microsoft Exchange Security/Data Connectors/ESI-ExchangeAdminAuditLogEvents.json
  Solutions/Microsoft Exchange Security/Data Connectors/ESI-ExchangeOnPremisesCollector.json
  Solutions/Microsoft Exchange Security/Data Connectors/ESI-ExchangeOnlineCollector.json
  Solutions/Microsoft Exchange Security/Data Connectors/azuredeploy_ESI_ExchangeOnlineCollector_Automation.json
  Solutions/Microsoft Exchange Security/Data/Solution_MicrosoftExchangeSecurity.json
  Solutions/Microsoft Exchange Security/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security/Parsers/ExchangeAdminAuditLogs.txt
  Solutions/Microsoft Exchange Security/Parsers/ExchangeConfiguration.txt
  Solutions/Microsoft Exchange Security/Parsers/ExchangeEnvironmentList.txt
  Solutions/Microsoft Exchange Security/SolutionMetadata.json
  Solutions/Microsoft Exchange Security/Watchlists/ExchangeServicesMonitoring.csv
  Solutions/Microsoft Exchange Security/Watchlists/ExchangeServicesMonitoring.json
  Solutions/Microsoft Exchange Security/Watchlists/ExchangeVIP.csv
  Solutions/Microsoft Exchange Security/Watchlists/ExchangeVIPs.json
  Solutions/Microsoft Exchange Security/Workbooks/Microsoft Exchange Least Privilege with RBAC - Online.json
  Solutions/Microsoft Exchange Security/Workbooks/Microsoft Exchange Least Privilege with RBAC.json
  Solutions/Microsoft Exchange Security/Workbooks/Microsoft Exchange Search AdminAuditLog.json
  Solutions/Microsoft Exchange Security/Workbooks/Microsoft Exchange Security Monitoring.json
  Solutions/Microsoft Exchange Security/Workbooks/Microsoft Exchange Security Review - Online.json
  Solutions/Microsoft Exchange Security/Workbooks/Microsoft Exchange Security Review.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#6963 Asim/remove dns extra fields
  .script/tests/KqlvalidationsTests/CustomTables/ASimDnsActivityLogs.json
  Parsers/ASimDns/ARM/ASimDnsAzureFirewall/ASimDnsAzureFirewall.json
  Parsers/ASimDns/ARM/ASimDnsCorelightZeek/ASimDnsCorelightZeek.json
  Parsers/ASimDns/ARM/ASimDnsGcp/ASimDnsGcp.json
  Parsers/ASimDns/ARM/ASimDnsMicrosoftSysmon/ASimDnsMicrosoftSysmon.json
  Parsers/ASimDns/ARM/ASimDnsNative/ASimDnsNative.json
  Parsers/ASimDns/ARM/vimDnsAzureFirewall/vimDnsAzureFirewall.json
  Parsers/ASimDns/ARM/vimDnsCorelightZeek/vimDnsCorelightZeek.json
  Parsers/ASimDns/ARM/vimDnsEmpty/vimDnsEmpty.json
  Parsers/ASimDns/ARM/vimDnsGcp/vimDnsGcp.json
  Parsers/ASimDns/ARM/vimDnsMicrosoftSysmon/vimDnsMicrosoftSysmon.json
  Parsers/ASimDns/ARM/vimDnsNative/vimDnsNative.json
  Parsers/ASimDns/Parsers/ASimDnsAzureFirewall.yaml
  Parsers/ASimDns/Parsers/ASimDnsCorelightZeek.yaml
  Parsers/ASimDns/Parsers/ASimDnsGcp.yaml
  Parsers/ASimDns/Parsers/ASimDnsMicrosoftSysmon.yaml
  Parsers/ASimDns/Parsers/ASimDnsNative.yaml
  Parsers/ASimDns/Parsers/vimDnsAzureFirewall.yaml
  Parsers/ASimDns/Parsers/vimDnsCorelightZeek.yaml
  Parsers/ASimDns/Parsers/vimDnsEmpty.yaml
  Parsers/ASimDns/Parsers/vimDnsGcp.yaml
  Parsers/ASimDns/Parsers/vimDnsMicrosoftSysmon.yaml
  Parsers/ASimDns/Parsers/vimDnsNative.yaml
Labels: ASIM

#6967 Asim/update vectra
  .script/tests/KqlvalidationsTests/CustomTables/VectraStream_CL.json
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionVectraAI/ASimNetworkSessionVectraAI.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionVectraAI/vimNetworkSessionVectraAI.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionVectraAI.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionVectraAI.yaml
  Parsers/ASimWebSession/ARM/ASimWebSessionVectraAI/ASimWebSessionVectraAI.json
  Parsers/ASimWebSession/ARM/FullDeploymentWebSession.json
  Parsers/ASimWebSession/Parsers/ASimWebSessionVectraAI.yaml
Labels: ASIM, Parser

#6938 Azure Web Application Firewall solution
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/AzureDiagnostics/MaliciousWAFSessions.yaml
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/MaliciousWAFSessions.yaml
  Solutions/Azure Web Application Firewall (WAF)/Data Connectors/template_WAF.JSON
  Solutions/Azure Web Application Firewall (WAF)/Data/Solution_AzureWAF.json
  Solutions/Azure Web Application Firewall (WAF)/Package/2.0.1.zip
  Solutions/Azure Web Application Firewall (WAF)/Package/createUiDefinition.json
  Solutions/Azure Web Application Firewall (WAF)/Package/mainTemplate.json
  Solutions/Azure Web Application Firewall (WAF)/SolutionMetadata.json
  Solutions/Azure Web Application Firewall (WAF)/Workbooks/WebApplicationFirewallFirewallEvents.json
  Solutions/Azure Web Application Firewall (WAF)/Workbooks/WebApplicationFirewallGatewayAccessEvents.json
  Solutions/Azure Web Application Firewall (WAF)/Workbooks/WebApplicationFirewallOverview.json
  Solutions/Azure Web Application Firewall (WAF)/Workbooks/WebApplicationFirewallWAFTypeEvents.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution

#6947 Created a new workbook for LogAnalyticsQueryAnalysis
  Workbooks/Images/Preview/LogAnalyticsQueryAnalysisBlack.PNG
  Workbooks/Images/Preview/LogAnalyticsQueryAnalysisWhite.PNG
  Workbooks/LogAnalyticsQueryAnalysis.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6972 Changing Device Filter - Line 6
  Solutions/Trend Micro Apex One/Parsers/TMApexOneEvent.txt
Labels: Parser, Solution

#6962 add parameter checks whether the customer is connected to Azure
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPInitialAuthenticationSetup/GCPInitialAuthenticationSetup.tf
Labels: Connector

#6973 Repackage Windows Firewall to update version
  Solutions/Windows Firewall/Data Connectors/Windows Firewall.JSON
  Solutions/Windows Firewall/Data/Solution_Windows Firewall.json
  Solutions/Windows Firewall/Package/2.0.1.zip
  Solutions/Windows Firewall/Package/mainTemplate.json
  Solutions/Windows Firewall/SolutionMetadata.json
Labels: Solution

#6977 asim/fix-audit-unions
  Parsers/ASimAuditEvent/Parsers/ASimAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventMicrosoftExchangeAdmin365.yaml
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventMicrosoftWindowsEvents.yaml
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventMicrosoftExchangeAdmin365.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventMicrosoftWindowsEvents.yaml
Labels: ASIM

#6980 Updating cisco ise Solution
  Solutions/Cisco ISE/Package/2.0.1.zip
  Solutions/Cisco ISE/Package/mainTemplate.json
Labels: Solution

#6981 Create 2.0.0.zip for WAF
  Solutions/Azure Web Application Firewall (WAF)/Package/2.0.0.zip
Labels: Solution

#6978 Repackage Trend Micro Apex One Solution
  Solutions/Trend Micro Apex One/Data/Solution_Trend Micro Apex One.json
  Solutions/Trend Micro Apex One/Package/2.0.3.zip
  Solutions/Trend Micro Apex One/Package/mainTemplate.json
Labels: Solution

#6547 Update file for deployment using PowerShell - AlertIQ
  Tools/Sentinel-All-In-One/Powershell/SentinelallInOne.ps1
  Tools/Sentinel-All-In-One/Powershell/connectors.json
Labels: Tools

#6932 Recorded Future Enrichment playbook Update
  Solutions/Recorded Future/Package/2.2.0.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/CreateAutomationRule.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/CreateAutomationRuleMenu.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/EnrichmentExampleDark.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/EnrichmentExampleLight.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/LogicAppDark.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/LogicAppLight.png
  Solutions/Recorded Future/Playbooks/readme.md
Labels: Playbook, Solution

#6987 Updating Domain categories for Solutions
  Solutions/AtlassianJiraAudit/Package/2.0.2.zip
  Solutions/AtlassianJiraAudit/Package/createUiDefinition.json
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
  Solutions/AtlassianJiraAudit/SolutionMetadata.json
  Solutions/AzureSecurityBenchmark/Package/2.0.1.zip
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
  Solutions/AzureSecurityBenchmark/SolutionMetadata.json
  Solutions/Okta Single Sign-On/Package/2.0.3.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution

#6974 Adding Data connector to Insider Risk Management Solution
  Solutions/MicrosoftPurviewInsiderRiskManagement/Data Connectors/template_OfficeIRM.JSON
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/2.0.4.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/SolutionMetadata.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution

#6990 Updated Domain Category
  Solutions/VirusTotal/Package/2.0.2.zip
  Solutions/VirusTotal/Package/mainTemplate.json
  Solutions/VirusTotal/SolutionMetadata.json
Labels: Solution

#6991 Updating package for Rapid7
  Solutions/Rapid7InsightVM/Package/2.0.1.zip
  Solutions/Rapid7InsightVM/Package/2.0.2.zip
  Solutions/Rapid7InsightVM/Package/createUiDefinition.json
  Solutions/Rapid7InsightVM/Package/mainTemplate.json
  Solutions/Rapid7InsightVM/SolutionMetadata.json
Labels: Solution

#6997 Atlassian confluence audit solution package 2.0.3
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/ConfluenceAudit_API_FunctionApp.json
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/2.0.3.zip
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
Labels: Solution

#6992 Sailpoint Solution 2.0.0
  Solutions/SailPointIdentityNow/Data/Solution_SailpointIdentityNow.json
  Solutions/SailPointIdentityNow/Package/2.0.0.zip
  Solutions/SailPointIdentityNow/Package/mainTemplate.json
Labels: Solution

#6986 Microsoft Purview solution update
  Solutions/Microsoft Purview/Data/Solution_MicrosoftPurview.json
  Solutions/Microsoft Purview/Package/2.0.5.zip
  Solutions/Microsoft Purview/Package/createUiDefinition.json
  Solutions/Microsoft Purview/Package/mainTemplate.json
Labels: Solution

#6602 [DO NOT MERGE] Oracle Parser Fix IcM 336002500
  Solutions/OracleDatabaseAudit/Package/2.0.3.zip
  Solutions/OracleDatabaseAudit/Package/mainTemplate.json
  Solutions/OracleDatabaseAudit/Parsers/OracleDatabaseAuditEvent.txt
Labels: Parser, Solution

#7002 Purview Solution Update
  Solutions/Microsoft Purview/Data/Solution_MicrosoftPurview.json
  Solutions/Microsoft Purview/Package/2.0.5.zip
  Solutions/Microsoft Purview/Package/createUiDefinition.json
Labels: Solution

#6959 Updated schedule for Duo security functionApp
  DataConnectors/Duo Security/AzureFunctionDuoSecurity.zip
  DataConnectors/Duo Security/azuredeploy_DuoSecurity_API_FunctionApp.json
  DataConnectors/Duo Security/host.json
Labels: Function
