Repository Azure/Azure-Sentinel, pull requests merged in 2022-07, with the labels that each got.

#5443 Updated M2131 Solution package to 1.0.4
  Solutions/MaturityModelForEventLogManagementM2131/Package/1.0.4.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/createUiDefinition.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
Labels: Solution

#5503 Asim/fix infoblox parsers
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Parsers/ASimDns/ARM/ASimDnsInfobloxNIOS/ASimDnsInfobloxNIOS.json
  Parsers/ASimDns/ARM/vimDnsInfobloxNIOS/vimDnsInfobloxNIOS.json
  Parsers/ASimDns/Parsers/ASimDnsInfobloxNIOS.yaml
  Parsers/ASimDns/Parsers/vimDnsInfobloxNIOS.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftMD4IoT.yaml
Labels: ASIM

#5233 Template spec solution update for Apache Tomcat
  Solutions/Tomcat/Analytic Rules/TomcatCommandsinRequest.yaml
  Solutions/Tomcat/Analytic Rules/TomcatKnownMaliciousUserAgent.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleClientErrorsFromSingleIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleEmptyRequestsFromSameIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleServerErrorsFromSingleIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatPutAndGetFileFromSameIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatRequestFromLocalhostIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatRequestSensitiveFiles.yaml
  Solutions/Tomcat/Analytic Rules/TomcatSQLiPattern.yaml
  Solutions/Tomcat/Analytic Rules/TomcatServerErrorsAfterMultipleRequestsFromSameIP.yaml
  Solutions/Tomcat/Data Connectors/Connector_Tomcat_agent.json
  Solutions/Tomcat/Data/Solution_Tomcat.json
  Solutions/Tomcat/Package/2.0.0.zip
  Solutions/Tomcat/Package/createUiDefinition.json
  Solutions/Tomcat/Package/mainTemplate.json
Labels: Solution Migration

#5537 fix SELinux check
  DataConnectors/CEF/cef_AMA_troubleshoot.py
Labels: Connector

#5339 Secure Practice MailRisk Solution
  .script/tests/KqlvalidationsTests/CustomTables/MailRiskEmails_CL.json
  Logos/securepractice_logo.svg
  Sample Data/Custom/MailRiskEmails_CL.json
  Solutions/MailRisk/Data Connectors/SecurePractice_MailRisk.json
Labels: Connector

#5161 CDM Solution Private Preview
  Solutions/ContinuousDiagnostics&Mitigation/Analytic Rules/ContinuousDiagnostics&MitigationPostureChanged.yaml
  Solutions/ContinuousDiagnostics&Mitigation/Hunting Queries/ContinuousDiagnostics&MitigationPosture.yaml
  Solutions/ContinuousDiagnostics&Mitigation/Workbooks/ContinuousDiagnostics&Mitigation.json
  Solutions/ContinuousDiagnostics&Mitigation/Workbooks/Images/ContinuousDiagnostics&MitigationBlack.png
  Solutions/ContinuousDiagnostics&Mitigation/readme.md
Labels: Workbook, Solution, Detection, Hunting

#5244 Template spec solution update for Apache Http Server
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheCVE-2021-41773.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheCommandInURI.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheKnownMaliciousUserAgents.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheMultipleClientErrorsFromSingleIP.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheMultipleServerErrorsRequestsFromSingleIP.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApachePrivateIpInUrl.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApachePutSuspiciousFiles.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheRequestFromPrivateIP.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheRequestToRareFile.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheRequestToSensitiveFiles.yaml
  Solutions/ApacheHTTPServer/Data Connectors/Connector_ApacheHTTPServer_agent.json
  Solutions/ApacheHTTPServer/Data/Solution_Apache Http Server.json
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheRareUAWithClientErrors.yaml
  Solutions/ApacheHTTPServer/Package/2.0.0.zip
  Solutions/ApacheHTTPServer/Package/createUiDefinition.json
  Solutions/ApacheHTTPServer/Package/mainTemplate.json
Labels: Solution Migration

#5204 Package Creation for Abnormal Security Events
  Solutions/AbnormalSecurity/Data Connectors/AbnormalSecurity_API_FunctionApp.json
  Solutions/AbnormalSecurity/Data/Solution_AbnormalSecurity.json
  Solutions/AbnormalSecurity/Package/2.0.0.zip
  Solutions/AbnormalSecurity/Package/createUiDefinition.json
  Solutions/AbnormalSecurity/Package/mainTemplate.json
  Solutions/AbnormalSecurity/SolutionMetadata.json
Labels: Solution Migration

#5550 Queries in support of HIve Ransomware Blog
  Detections/MultipleDataSources/HiveRansomwareJuly2022.yaml
  Detections/SecurityAlert/HiveRansomwareAVHits.yaml
  Hunting Queries/MultipleDataSources/BackupDeletion.yaml
  Sample Data/Feeds/HiveRansomwareJuly2022.csv
Labels: Detection

#5365 Updated workbook's Searches tab with an improved view
  Workbooks/AMAmigrationTracker.json
  Workbooks/Images/Preview/AMAtrackingBlack1.png
  Workbooks/Images/Preview/AMAtrackingBlack2.png
  Workbooks/Images/Preview/AMAtrackingBlack3.png
  Workbooks/Images/Preview/AMAtrackingBlack4.png
  Workbooks/Images/Preview/AMAtrackingWhite1.png
  Workbooks/Images/Preview/AMAtrackingWhite2.png
  Workbooks/Images/Preview/AMAtrackingWhite3.png
  Workbooks/Images/Preview/AMAtrackingWhite4.png
  Workbooks/LogSourcesAndAnalyticRulesCoverage.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#5534 solution created for cloudflare
  Solutions/Cloudflare/Analytic Rules/CloudflareBadClientIp.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareEmptyUA.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareMultipleErrorsSource.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareMultipleUAs.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareUnexpectedCountry.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareUnexpectedPost.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareUnexpectedRequest.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareUnexpectedUrl.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareWafThreatAllowed.yaml
  Solutions/Cloudflare/Analytic Rules/CloudflareXSSProbingPattern.yaml
  Solutions/Cloudflare/Data Connectors/Cloudflare_API_FunctionApp.json
  Solutions/Cloudflare/Data Connectors/azuredeploy_Cloudflare_API_FunctionApp.json
  Solutions/Cloudflare/Data/Solution_Cloudflare.json
  Solutions/Cloudflare/Hunting Queries/CloudflareServerTlsErrors.yaml
  Solutions/Cloudflare/Package/2.0.0.zip
  Solutions/Cloudflare/Package/createUiDefinition.json
  Solutions/Cloudflare/Package/mainTemplate.json
  Solutions/Cloudflare/SolutionMetadata.json
  Solutions/Cloudflare/Workbooks/Cloudflare.json
Labels: Solution Migration

#5368 Template spec solution package update for McAfee Network Security Platform
  Solutions/McAfee Network Security Platform/Data Connectors/McAfeeNSP.json
  Solutions/McAfee Network Security Platform/Data/Solution_McAfee Network Security Platform.json
  Solutions/McAfee Network Security Platform/Package/2.0.0.zip
  Solutions/McAfee Network Security Platform/Package/createUiDefinition.json
  Solutions/McAfee Network Security Platform/Package/mainTemplate.json
  Solutions/McAfee Network Security Platform/SolutionMetadata.json
Labels: Solution Migration

#5341 Template spec solution package update for The Hive
  Solutions/TheHive/Data Connectors/TheHive_Webhooks_FunctionApp.json
  Solutions/TheHive/Data/Solution_TheHive.json
  Solutions/TheHive/Package/2.0.0.zip
  Solutions/TheHive/Package/createUiDefinition.json
  Solutions/TheHive/Package/mainTemplate.json
  Solutions/TheHive/SolutionMetadata.json
Labels: Solution Migration

#5545 Create package for Ivanti Unified Endpoint Management
  Solutions/Ivanti Unified Endpoint Management/Data Connectors/Ivanti_UEM_Syslog.json
  Solutions/Ivanti Unified Endpoint Management/Data/Solution_Ivanti_Unified_Endpoint_Management_Solution.json
  Solutions/Ivanti Unified Endpoint Management/Package/2.0.0.zip
  Solutions/Ivanti Unified Endpoint Management/Package/createUiDefinition.json
  Solutions/Ivanti Unified Endpoint Management/Package/mainTemplate.json
  Solutions/Ivanti Unified Endpoint Management/Parsers/IvantiUEMEvent.txt
  Solutions/Ivanti Unified Endpoint Management/SolutionMetadata.json
Labels: Solution Migration

#5408 Critical user management operations followed by disabling of System Restore from admin account
  Hunting Queries/MultipleDataSources/CriticalOperationsWithSystemrestore.yaml
Labels: Hunting

#5461 Update for Awake Security Workbook
  Solutions/AristaAwakeSecurity/Workbooks/AristaAwakeSecurityWorkbook.json
  Solutions/AristaAwakeSecurity/Workbooks/Images/Preview/AristaAwakeSecurityDevicesBlack.png
  Solutions/AristaAwakeSecurity/Workbooks/Images/Preview/AristaAwakeSecurityDevicesWhite.png
  Solutions/AristaAwakeSecurity/Workbooks/Images/Preview/AristaAwakeSecurityModelsBlack.png
  Solutions/AristaAwakeSecurity/Workbooks/Images/Preview/AristaAwakeSecurityModelsWhite.png
  Solutions/AristaAwakeSecurity/Workbooks/Images/Preview/AristaAwakeSecurityOverviewBlack.png
  Solutions/AristaAwakeSecurity/Workbooks/Images/Preview/AristaAwakeSecurityOverviewWhite.png
Labels: Workbook

#5277 Template spec solution package update for Lookout Mobile Threat Defense
  Solutions/Lookout/Analytic Rules/LookoutThreatEvent.yaml
  Solutions/Lookout/Data Connectors/Lookout_API_FunctionApp.json
  Solutions/Lookout/Data/Solution_Lookout.json
  Solutions/Lookout/Package/2.0.0.zip
  Solutions/Lookout/Package/createUiDefinition.json
  Solutions/Lookout/Package/mainTemplate.json
Labels: Solution Migration

#5333 Template spec solution package update for Oracle Database Audit
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditConnectFromExternalIp.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditDropManyTables.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditForbiddenSrcIpAddr.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditNewIpForUser.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditNewUserDetected.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditQueryOnSensitiveTable.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditRareUserActivity.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditSQLInjectionPatterns.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditSelectOnManyTables.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditShutdownServer.yaml
  Solutions/OracleDatabaseAudit/Data Connectors/Connector_OracleDatabaseAudit.json
  Solutions/OracleDatabaseAudit/Data/Solution_OracleDBAudit.json
  Solutions/OracleDatabaseAudit/Package/2.0.0.zip
  Solutions/OracleDatabaseAudit/Package/createUiDefinition.json
  Solutions/OracleDatabaseAudit/Package/mainTemplate.json
  Solutions/OracleDatabaseAudit/SolutionMetadata.json
Labels: Solution Migration

#5344 Template spec solution package update for snowflake
  Solutions/Snowflake/Analytic Rules/SnowflakeDiscoveryActivity.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeLongQueryProcessTime.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleFailedQueries.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleLoginFailure.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeMultipleLoginFailureFromIP.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakePossibleDataDestruction.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakePrivilegesDiscovery.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeQueryOnSensitiveTable.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeUnusualQuery.yaml
  Solutions/Snowflake/Analytic Rules/SnowflakeUserAddAdminPrivileges.yaml
  Solutions/Snowflake/Data Connectors/Snowflake_API_FunctionApp.json
  Solutions/Snowflake/Data/Solution_Snowflake.json
  Solutions/Snowflake/Package/2.0.0.zip
  Solutions/Snowflake/Package/createUiDefinition.json
  Solutions/Snowflake/Package/mainTemplate.json
Labels: Solution Migration

#4732 NozomiNetworks: first commit
  .script/tests/KqlvalidationsTests/CustomTables/NozomiNetworksEvents.json
  Sample Data/CEF/NozomiNetworksCEF.zip
  Sample Data/CEF/NozomiNetworksEvents.json
  Solutions/NozomiNetworks/Data Connectors/NozomiNetworksN2OS.json
  Solutions/NozomiNetworks/Parsers/NozomiNetworksEvents.txt
Labels: Connector, Parser, Solution

#5569 Renaming from vCenter to VMware vCenter
  Solutions/VCenter/Package/2.0.0.zip
  Solutions/VMware vCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/VMware vCenter/Data Connectors/la_agent_configs/vcenter.conf
  Solutions/VMware vCenter/Data Connectors/syslog_ng_configs/10-vcenter.conf
  Solutions/VMware vCenter/Data/Solution_vcenter.json
  Solutions/VMware vCenter/Package/2.0.0.zip
  Solutions/VMware vCenter/Package/createUiDefinition.json
  Solutions/VMware vCenter/Package/mainTemplate.json
  Solutions/VMware vCenter/Parsers/vCenter.txt
  Solutions/VMware vCenter/SolutionMetadata.json
Labels: Solution

#5568 Updated Package for Vectra ai detect
  Solutions/Vectra AI Detect/Package/2.0.1.zip
  Solutions/Vectra AI Detect/Package/mainTemplate.json
Labels: Solution, Solution Migration

#5541 Unisolate device mde update
  Playbooks/Unisolate-MDEMachine/incident-trigger/azuredeploy.json
  Playbooks/Unisolate-MDEMachine/incident-trigger/releaseNotes.md
Labels: Playbook

#5540 Template spec solution package update for sonraisecurity
  Solutions/SonraiSecurity/Analytic Rules/SonraiNewTicket.yaml
  Solutions/SonraiSecurity/Analytic Rules/SonraiTicketAssigned.yaml
  Solutions/SonraiSecurity/Analytic Rules/SonraiTicketClosed.yaml
  Solutions/SonraiSecurity/Analytic Rules/SonraiTicketCommentAdded.yaml
  Solutions/SonraiSecurity/Analytic Rules/SonraiTicketEscalationExecuted.yaml
  Solutions/SonraiSecurity/Analytic Rules/SonraiTicketReopened.yaml
  Solutions/SonraiSecurity/Analytic Rules/SonraiTicketRiskAccepted.yaml
  Solutions/SonraiSecurity/Analytic Rules/SonraiTicketSnoozed.yaml
  Solutions/SonraiSecurity/Analytic Rules/SonraiTicketUpdated.yaml
  Solutions/SonraiSecurity/Data Connectors/Connector_REST_API_Sonrai.json
  Solutions/SonraiSecurity/Data/Solution_SonraiSecurity.json
  Solutions/SonraiSecurity/Package/2.0.0.zip
  Solutions/SonraiSecurity/Package/createUiDefinition.json
  Solutions/SonraiSecurity/Package/mainTemplate.json
  Solutions/SonraiSecurity/SolutionMetadata.json
Labels: Solution Migration

#5449 solution created for Symantec proxy SG
  Solutions/SymantecProxySG/Analytic Rules/ExcessiveDeniedProxyTraffic.yaml
  Solutions/SymantecProxySG/Analytic Rules/UserAccessedSuspiciousURLCategories.yaml
  Solutions/SymantecProxySG/Data Connectors/Connector_Syslog_SymantecProxySG.json
  Solutions/SymantecProxySG/Data/Solution_SymantecProxySG.json
  Solutions/SymantecProxySG/Package/2.0.0.zip
  Solutions/SymantecProxySG/Package/createUiDefinition.json
  Solutions/SymantecProxySG/Package/mainTemplate.json
  Solutions/SymantecProxySG/Parsers/SymantecProxySG/SymantecProxySG.txt
  Solutions/SymantecProxySG/SolutionMetadata.json
Labels: Solution Migration

#5305 TenableIO TemplateSpec Solution
  Solutions/TenableIO/Data Connectors/TenableIO.json
  Solutions/TenableIO/Data/Solution_TenableIO.json
  Solutions/TenableIO/Package/2.0.0.zip
  Solutions/TenableIO/Package/createUiDefinition.json
  Solutions/TenableIO/Package/mainTemplate.json
  Solutions/TenableIO/SolutionMetadata.json
Labels: Solution Migration

#5312 solution created for vectra AI stream
  Solutions/Vectra AI Stream/Data Connectors/Connector_VectraAI_Stream.json
  Solutions/Vectra AI Stream/Data Connectors/Log_Analytics_Agent_Config_Files/VectraStream.conf
  Solutions/Vectra AI Stream/Data/Solution_Vectra.json
  Solutions/Vectra AI Stream/Hunting Queries/VectraHighVolumeOfNXDOMAIN.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraMaliciousToolFileCopy.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraNetbiosLLMNRUsage.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraPoshC2.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraPotentialDCSync.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraSuspectedKali.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraSuspiciousBeacon.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraSuspiciousLongDNSQueries.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraSuspiciousNbOfSubDomains.yaml
  Solutions/Vectra AI Stream/Hunting Queries/VectraUnsecuredCredsGPP.yaml
  Solutions/Vectra AI Stream/Package/1.1.0.zip
  Solutions/Vectra AI Stream/Package/2.0.0.zip
  Solutions/Vectra AI Stream/Package/createUiDefinition.json
  Solutions/Vectra AI Stream/Package/mainTemplate.json
  Solutions/Vectra AI Stream/Parsers/VectraStream_function.kql
  Solutions/Vectra AI Stream/SolutionMetadata.json
  Solutions/Vectra/Data Connectors/Connector_VectraAI_Stream.json
  Solutions/Vectra/Data/Solution_Vectra.json
  Solutions/Vectra/Package/createUiDefinition.json
  Solutions/Vectra/Package/mainTemplate.json
Labels: Solution Migration

#5281 Corelight TemplateSpec Solution
  Solutions/Corelight/Analytic Rules/CorelightC2RepetitiveFailures.yaml
  Solutions/Corelight/Analytic Rules/CorelightExternalProxyDetected.yaml
  Solutions/Corelight/Analytic Rules/CorelightForcedExternalOutboundSMB.yaml
  Solutions/Corelight/Analytic Rules/CorelightMultipleCompressedFilesTransferredOverHTTP.yaml
  Solutions/Corelight/Analytic Rules/CorelightMultipleFilesSentOverHTTPAbnormalRequests.yaml
  Solutions/Corelight/Analytic Rules/CorelightNetworkServiceScanning.yaml
  Solutions/Corelight/Analytic Rules/CorelightPossibleWebshell.yaml
  Solutions/Corelight/Analytic Rules/CorelightPossibleWebshellRarePOST.yaml
  Solutions/Corelight/Analytic Rules/CorelightSMTPEmailSubjectNonAsciiCharacters.yaml
  Solutions/Corelight/Analytic Rules/CorelightTypoSquattingOrPunycodePhishingHTTPRequest.yaml
  Solutions/Corelight/Data Connectors/Connector_LogAnalytics_agent_Corelight.json
  Solutions/Corelight/Data/Solution_Corelight.json
  Solutions/Corelight/Package/2.0.0.zip
  Solutions/Corelight/Package/createUiDefinition.json
  Solutions/Corelight/Package/mainTemplate.json
  Solutions/Corelight/SolutionMetadata.json
  Solutions/Corelight/Workbooks/Corelight.json
Labels: Solution Migration

#5262 vArmour Application Controller TemplateSpec Solution
  Solutions/vArmour Application Controller/Analytic Rules/vArmourApplicationControllerSMBRealmTraversal.yaml
  Solutions/vArmour Application Controller/Data Connectors/Connector_vArmour_AppController_CEF.json
  Solutions/vArmour Application Controller/Data Connectors/Logo/varmour-logo.svg
  Solutions/vArmour Application Controller/Data Connectors/vArmour_AppController_Connector.md
  Solutions/vArmour Application Controller/Data/Solution_vArmour.json
  Solutions/vArmour Application Controller/Package/1.0.0.zip
  Solutions/vArmour Application Controller/Package/1.0.1.zip
  Solutions/vArmour Application Controller/Package/1.1.0.zip
  Solutions/vArmour Application Controller/Package/2.0.0.zip
  Solutions/vArmour Application Controller/Package/createUiDefinition.json
  Solutions/vArmour Application Controller/Package/mainTemplate.json
  Solutions/vArmour Application Controller/SolutionMetadata.json
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppBlack-1.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppBlack-2.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppBlack-3.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppBlack-4.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppBlack-5.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppBlack-6.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppBlack-7.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppBlack.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppWhite-1.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppWhite-2.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppWhite-3.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppWhite-4.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppWhite-5.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppWhite-6.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppWhite-7.png
  Solutions/vArmour Application Controller/Workbooks/Images/Preview/vArmourAppControllerAppWhite.png
  Solutions/vArmour Application Controller/Workbooks/vArmour_AppContoller_Workbook.json
  Solutions/vArmour/Data/Solution_vArmour.json
  Solutions/vArmour/Package/mainTemplate.json
Labels: Solution Migration

#5261 Template spec solution update for Bitglass
  Solutions/Bitglass/Analytic Rules/BitglassFilesSharedWithExternal.yaml
  Solutions/Bitglass/Analytic Rules/BitglassImpossibleTravelDistance.yaml
  Solutions/Bitglass/Analytic Rules/BitglassMultipleFailedLogins.yaml
  Solutions/Bitglass/Analytic Rules/BitglassNewAdminUser.yaml
  Solutions/Bitglass/Analytic Rules/BitglassNewDevice.yaml
  Solutions/Bitglass/Analytic Rules/BitglassNewRiskyUser.yaml
  Solutions/Bitglass/Analytic Rules/BitglassSmartEdgeAgentUninstall.yaml
  Solutions/Bitglass/Analytic Rules/BitglassSuspiciousFileUpload.yaml
  Solutions/Bitglass/Analytic Rules/BitglassUserLoginNewGeoLocation.yaml
  Solutions/Bitglass/Analytic Rules/BitglassUserUAChanged.yaml
  Solutions/Bitglass/Data Connectors/Bitglass_API_FunctionApp.json
  Solutions/Bitglass/Data/Solution_Bitglass.json
  Solutions/Bitglass/Package/2.0.0.zip
  Solutions/Bitglass/Package/createUiDefinition.json
  Solutions/Bitglass/Package/mainTemplate.json
Labels: Solution Migration

#5291 Template spec solution package update for Elastic Agent
  Solutions/ElasticAgent/Data Connectors/Connector_ElasticAgent.json
  Solutions/ElasticAgent/Data/Solution_ElasticAgent.json
  Solutions/ElasticAgent/Package/2.0.0.zip
  Solutions/ElasticAgent/Package/createUiDefinition.json
  Solutions/ElasticAgent/Package/mainTemplate.json
  Solutions/ElasticAgent/SolutionMetadata.json
Labels: Solution Migration

#5592 - applied latest api versions for serverfarms and sites
  Solutions/Synack/Integrations/azuredeploy_Synack_API_FunctionApp.json
  Solutions/Synack/Package/1.0.2.zip
  Solutions/Synack/Package/mainTemplate.json
Labels: Solution

#5343 SenservaPro TemplateSpec Solution
  Solutions/SenservaPro/Analytic Rules/AdminMFA.yaml
  Solutions/SenservaPro/Analytic Rules/AppsNoClientCredentials.yaml
  Solutions/SenservaPro/Analytic Rules/BlockLegacyAuthentication.yaml
  Solutions/SenservaPro/Analytic Rules/GlobaAdminRoleOverlap.yaml
  Solutions/SenservaPro/Analytic Rules/MFARegistration.yaml
  Solutions/SenservaPro/Analytic Rules/NonAdminGuest.yaml
  Solutions/SenservaPro/Analytic Rules/NotUsingClientCredentials.yaml
  Solutions/SenservaPro/Analytic Rules/OneGlobalAdmin.yaml
  Solutions/SenservaPro/Analytic Rules/PasswordAgePolicyNew.yaml
  Solutions/SenservaPro/Analytic Rules/SearchStaleLastPasswordChange.yaml
  Solutions/SenservaPro/Analytic Rules/SelfServicePasswordReset.yaml
  Solutions/SenservaPro/Analytic Rules/SignInRiskPolicy.yaml
  Solutions/SenservaPro/Analytic Rules/ThirdPartyIntegratedApps.yaml
  Solutions/SenservaPro/Analytic Rules/UserAccountDisabled.yaml
  Solutions/SenservaPro/Analytic Rules/UserRiskPolicy.yaml
  Solutions/SenservaPro/Data Connectors/SenservaPro.json
  Solutions/SenservaPro/Data/Solution_SenservaPro.json
  Solutions/SenservaPro/Package/2.0.0.zip
  Solutions/SenservaPro/Package/createUiDefinition.json
  Solutions/SenservaPro/Package/mainTemplate.json
  Solutions/SenservaPro/SolutionMetadata.json
Labels: Solution Migration

#5276 Template spec solution update for Infoblox Cloud Data Connector
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-HighNumberOfHighThreatLevelQueriesDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-HighNumberOfNXDOMAINDNSResponsesDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-HighThreatLevelQueryNotBlockedDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Data Connectors/InfobloxCloudDataConnector.json
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/2.0.2.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
  Solutions/Infoblox Cloud Data Connector/Workbooks/InfobloxCDCB1TDWorkbook.json
Labels: Solution Migration

#5579 Parse ClientIP addresses in IPEntity_OfficeActivity.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_OfficeActivity.yaml
Labels: Detection

#5514 Azurekid/detections/proofpointpod
  Detections/ProofpointPOD/ProofpointPODBinaryInAttachment.yaml
  Detections/ProofpointPOD/ProofpointPODDataExfiltrationToPrivateEmail.yaml
  Detections/ProofpointPOD/ProofpointPODEmailSenderIPinTIList.yaml
  Detections/ProofpointPOD/ProofpointPODEmailSenderInTIList.yaml
  Detections/ProofpointPOD/ProofpointPODHighRiskNotDiscarded.yaml
  Detections/ProofpointPOD/ProofpointPODMultipleArchivedAttachmentsToSameRecipient.yaml
  Detections/ProofpointPOD/ProofpointPODMultipleLargeEmailsToSameRecipient.yaml
  Detections/ProofpointPOD/ProofpointPODMultipleProtectedEmailsToUnknownRecipient.yaml
  Detections/ProofpointPOD/ProofpointPODSuspiciousAttachment.yaml
  Detections/ProofpointPOD/ProofpointPODWeakCiphers.yaml
Labels: Detection

#5470 Fix error in expanding IPAddresses in IPEntity_DnsEvents.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_DnsEvents.yaml
Labels: Detection

#5513 Removed unsupported sub technique
  Detections/DeviceEvents/SolarWinds_TEARDROP_Process-IOCs.yaml
Labels: Detection

#5357 Imperva Cloud WAF analytic content upd
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaAdminPanelUncommonIp.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaAttackNotBlocked.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaCommandInUri.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaMaliciousClient.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaMaliciousUA.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaMultipleUAsSource.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaSuspiciousDstPort.yaml
Labels: Detection

#5509 Fix missing parentheses in MaliciousWAFSessions.yaml
  Detections/AzureDiagnostics/MaliciousWAFSessions.yaml
Labels: Detection

#5188 Make the "-EncodedCommand " parameter case insensitive while parsing
  Hunting Queries/SecurityEvent/powershell_newencodedscipts.yaml
Labels: Hunting

#5183 Created NRT Rule on First credential added to SPN
  Detections/AuditLogs/nrt_FirstAppOrServicePrincipalCredential.yaml
Labels: Detection

#5608 FalconFriday TemplateSpec solution
  Solutions/FalconFriday/Analytic Rules/ASRBypassingWritingExecutableContent.yaml
  Solutions/FalconFriday/Analytic Rules/AzureADRareUserAgentAppSignin.yaml
  Solutions/FalconFriday/Analytic Rules/AzureADUserAgentOSmissmatch.yaml
  Solutions/FalconFriday/Analytic Rules/COMHijacking.yaml
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-TGTs-requested.yaml
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-backup-key-1.yaml
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-backup-key-2.yaml
  Solutions/FalconFriday/Analytic Rules/CertutilIngressToolTransfer.yaml
  Solutions/FalconFriday/Analytic Rules/CreateProcessWithToken.yaml
  Solutions/FalconFriday/Analytic Rules/DCOMLateralMovement.yaml
  Solutions/FalconFriday/Analytic Rules/DLLSideLoading.yaml
  Solutions/FalconFriday/Analytic Rules/DisableOrModifyWindowsDefender.yaml
  Solutions/FalconFriday/Analytic Rules/DotNetToJScript.yaml
  Solutions/FalconFriday/Analytic Rules/ExcessiveSharePermissions.yaml
  Solutions/FalconFriday/Analytic Rules/ExpiredAccessCredentials.yaml
  Solutions/FalconFriday/Analytic Rules/MatchLegitimateNameOrLocation.yaml
  Solutions/FalconFriday/Analytic Rules/OfficeASRFromBrowser.yaml
  Solutions/FalconFriday/Analytic Rules/OfficeProcessInjection.yaml
  Solutions/FalconFriday/Analytic Rules/OracleSuspiciousCommandExecution.yaml
  Solutions/FalconFriday/Analytic Rules/PasswordSprayingWithMDE.yaml
  Solutions/FalconFriday/Analytic Rules/RecognizingBeaconingTraffic.yaml
  Solutions/FalconFriday/Analytic Rules/RemoteDesktopProtocol.yaml
  Solutions/FalconFriday/Analytic Rules/RenameSystemUtilities.yaml
  Solutions/FalconFriday/Analytic Rules/SMBWindowsAdminShares.yaml
  Solutions/FalconFriday/Analytic Rules/SuspiciousNamedPipes.yaml
  Solutions/FalconFriday/Analytic Rules/SuspiciousParentProcessRelationship.yaml
  Solutions/FalconFriday/Analytic Rules/TrustedDeveloperUtilitiesProxyExecution.yaml
  Solutions/FalconFriday/Analytic Rules/UACBypass-1-elevated-COM.yaml
  Solutions/FalconFriday/Analytic Rules/UACBypass-2-modify-ms-store.yaml
  Solutions/FalconFriday/Analytic Rules/UACBypass-3-changePK-SLUI-tampering.yaml
  Solutions/FalconFriday/Data/Solution_FalconFriday.json
  Solutions/FalconFriday/Package/2.0.0.zip
  Solutions/FalconFriday/Package/createUiDefinition.json
  Solutions/FalconFriday/Package/mainTemplate.json
  Solutions/FalconFriday/SolutionMetadata.json
Labels: Solution Migration

#5621 InfobloxNIOS workbook metadata update
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5553 Symantec Endpoint Protection TemplateSpec Solution
  Solutions/Symantec Endpoint Protection/Analytic Rules/ExcessiveBlockedTrafficGeneratedbyUser.yaml
  Solutions/Symantec Endpoint Protection/Analytic Rules/MalwareDetected.yaml
  Solutions/Symantec Endpoint Protection/Data Connectors/Connector_Syslog_SymantecEndpointProtection.json
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/2.0.0.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_CiscoUmbrellaTemplateSpec.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_PaloAltoCDL.json
Labels: Solution Migration

#5585 OracleWebLogic parser update
  Sample Data/Custom/OracleWebLogicServer/access.log.txt
  Sample Data/Custom/OracleWebLogicServer/server.log.txt
  Sample Data/Custom/OracleWebLogicServer_CL.json
  Solutions/OracleWebLogicServer/Parsers/OracleWebLogicServerEvent.txt
Labels: Parser

#5637 Workbook meta update for CiscoDuo solution
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5641 Workbook meta data update for SlackAudit
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5631 Delete old playbooks and fix deploy URLs
  Solutions/Group-IB/Playbooks/GIBIndicatorProcessor.json
  Solutions/Group-IB/Playbooks/GIBTIA_APT_ThreatActor.json
  Solutions/Group-IB/Playbooks/GIBTIA_APT_Threats.json
  Solutions/Group-IB/Playbooks/GIBTIA_Attacks_ddos.json
  Solutions/Group-IB/Playbooks/GIBTIA_Attacks_deface.json
  Solutions/Group-IB/Playbooks/GIBTIA_Attacks_phishing.json
  Solutions/Group-IB/Playbooks/GIBTIA_Attacks_phishing_kit.json
  Solutions/Group-IB/Playbooks/GIBTIA_BP_phishing.json
  Solutions/Group-IB/Playbooks/GIBTIA_BP_phishing_kit.json
  Solutions/Group-IB/Playbooks/GIBTIA_Compromised_account.json
  Solutions/Group-IB/Playbooks/GIBTIA_Compromised_card.json
  Solutions/Group-IB/Playbooks/GIBTIA_Compromised_imei.json
  Solutions/Group-IB/Playbooks/GIBTIA_Compromised_mule.json
  Solutions/Group-IB/Playbooks/GIBTIA_HI_Threat.json
  Solutions/Group-IB/Playbooks/GIBTIA_HI_Threat_Actor.json
  Solutions/Group-IB/Playbooks/GIBTIA_Malware_Targeted_Malware.json
  Solutions/Group-IB/Playbooks/GIBTIA_Malware_cnc.json
  Solutions/Group-IB/Playbooks/GIBTIA_OSI_GitLeak.json
  Solutions/Group-IB/Playbooks/GIBTIA_OSI_PublicLeak.json
  Solutions/Group-IB/Playbooks/GIBTIA_OSI_Vulnerability.json
  Solutions/Group-IB/Playbooks/GIBTIA_Suspicious_ip_open_proxy.json
  Solutions/Group-IB/Playbooks/GIBTIA_Suspicious_ip_socks_proxy.json
  Solutions/Group-IB/Playbooks/GIBTIA_Suspicious_ip_tor_node.json
  Solutions/Group-IB/Playbooks/readme.md
Labels: Playbook

#5356 Template spec solution package update for Juniper IDP
  Solutions/JuniperIDP/Data Connectors/Connector_LogAnalytics_agent_JuniperIDP.json
  Solutions/JuniperIDP/Data/Solution_JuniperIDP.json
  Solutions/JuniperIDP/Package/2.0.0.zip
  Solutions/JuniperIDP/Package/createUiDefinition.json
  Solutions/JuniperIDP/Package/mainTemplate.json
  Solutions/JuniperIDP/SolutionMetadata.json
Labels: Solution Migration

#5591 Template spec solution update for Trend micro cloud app security
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASDLPViolation.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASPossiblePhishingMail.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASRansomwareOnHost.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASRansomwareOutbreak.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASSuspiciousFilename.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASThreatNotBlocked.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASUnexpectedFileInMail.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASUnexpectedFileOnFileShare.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASVAInfectedUser.yaml
  Solutions/Trend Micro Cloud App Security/Analytic Rules/TrendMicroCASVAOutbreak.yaml
  Solutions/Trend Micro Cloud App Security/Data Connectors/TerndMicroCAS_API_FunctionApp.json
  Solutions/Trend Micro Cloud App Security/Data/Solution_Trend Micro Cloud App Security.json
  Solutions/Trend Micro Cloud App Security/Package/2.0.0.zip
  Solutions/Trend Micro Cloud App Security/Package/createUiDefinition.json
  Solutions/Trend Micro Cloud App Security/Package/mainTemplate.json
Labels: Solution Migration

#5640 Fixed multiple parser issue while creating solution package
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#5240 V-laanjana/package creation/sophos xg firewall
  Solutions/Sophos XG Firewall/Analytic Rules/ExcessiveAmountofDeniedConnectionsfromASingleSource.yaml
  Solutions/Sophos XG Firewall/Analytic Rules/PortScanDetected.yaml
  Solutions/Sophos XG Firewall/Data Connectors/Connector_Syslog_SophosXGFirewall.json
  Solutions/Sophos XG Firewall/Data/Solution_SophosXGFirewall.json
  Solutions/Sophos XG Firewall/Package/2.0.0.zip
  Solutions/Sophos XG Firewall/Package/createUiDefinition.json
  Solutions/Sophos XG Firewall/Package/mainTemplate.json
  Solutions/Sophos XG Firewall/Parsers/SophosXGFirewall.txt
  Solutions/Sophos XG Firewall/SolutionMetadata.json
  Solutions/Sophos XG Firewall/Workbooks/SophosXGFirewall.json
  Solutions/SophosXGFirewall/Package/1.0.8.zip
  Solutions/SophosXGFirewall/Package/mainTemplate.json
Labels: Solution Migration

#5653 Create readme.md
  DataConnectors/Palo Alto Networks/readme.md
Labels: Connector

#5581 Added new detections and hunting queries for the AAD Sec Ops Guide
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Detections/AuditLogs/AccountElevatedtoNewRole.yaml
  Detections/AuditLogs/AdditionofaTemporaryAccessPasstoaPrivilegedAccount.yaml
  Detections/AuditLogs/ApplicationIDURIChanged.yaml
  Detections/AuditLogs/ApplicationRedirectURLUpdate.yaml
  Detections/AuditLogs/AuthenticationMethodChangedforPrivilegedAccount.yaml
  Detections/AuditLogs/ChangestoApplicationLogoutURL.yaml
  Detections/AuditLogs/ChangestoApplicationOwnership.yaml
  Detections/AuditLogs/ChangestoPIMSettings.yaml
  Detections/AuditLogs/ConditionalAccessPolicyModifiedbyNewUser.yaml
  Detections/AuditLogs/End-userconsentstoppedduetorisk-basedconsent.yaml
  Detections/AuditLogs/GuestUsersInvitedtoTenantbyNewInviters.yaml
  Detections/AuditLogs/PrivilegedAccountPermissionsChanged.yaml
  Detections/AuditLogs/ServicePrincipalAssignedAppRoleWithSensitiveAccess.yaml
  Detections/AuditLogs/ServicePrincipalAssignedPrivilegedRole.yaml
  Detections/AuditLogs/URLAddedtoApplicationfromUnknownDomain.yaml
  Detections/AuditLogs/UserAccountCreatedUsingIncorrectNamingFormat.yaml
  Detections/AuditLogs/UserAddedtoAdminRole.yaml
  Detections/AuditLogs/UserStatechangedfromGuesttoMember.yaml
  Detections/AuditLogs/Useraccountcreatedwithoutexpectedattributesdefined.yaml
  Detections/MultipleDataSources/Accountcreatedfromnon-approvedsources.yaml
  Detections/SecurityAlert/HiveRansomwareAVHits.yaml
  Detections/SigninLogs/AnomolousSingleFactorSignin.yaml
  Detections/SigninLogs/AuthenticationAttemptfromNewCountry.yaml
  Detections/SigninLogs/AuthenticationsofPrivilegedAccountsOutsideofExpectedControls.yaml
  Detections/SigninLogs/PrivilegedUserLogonfromnewASN.yaml
  Detections/SigninLogs/ServicePrincipalAuthenticationAttemptfromNewCountry.yaml
  Hunting Queries/AuditLogs/BitLockerKeyRetrieval.yaml
  Hunting Queries/AuditLogs/UsersAuthenticatingtoOtherAzureADTenants.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/cobalt-strike-invoked-w-wmi.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/robbinhood-driver.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/robbinhood-evasion.yaml
  Hunting Queries/Microsoft 365 Defender/Credential Access/doppelpaymer-procdump.yaml
  Hunting Queries/Microsoft 365 Defender/Credential Access/lazagne.yaml
  Hunting Queries/Microsoft 365 Defender/Credential Access/wadhrama-credential-dump.yaml
  Hunting Queries/Microsoft 365 Defender/Defense evasion/doppelpaymer-stop-services.yaml
  Hunting Queries/Microsoft 365 Defender/Discovery/doppelpaymer.yaml
  Hunting Queries/Microsoft 365 Defender/Execution/detect-doublepulsar-execution.yaml
  Hunting Queries/Microsoft 365 Defender/Execution/detect-web-server-exploit-doublepulsar.yaml
  Hunting Queries/Microsoft 365 Defender/Impact/wadhrama-data-destruction.yaml
  Hunting Queries/Microsoft 365 Defender/Lateral Movement/doppelpaymer-psexec.yaml
  Hunting Queries/Microsoft 365 Defender/Lateral Movement/remote-file-creation-with-psexec.yaml
  Hunting Queries/Microsoft 365 Defender/Persistence/wadhrama-ransomware.yaml
  Hunting Queries/SigninLogs/AdministratorsAuthenticatingtoAnotherAzureADTenant.yaml
  Hunting Queries/SigninLogs/SuccessfulSigninFromNon-CompliantDevice.yaml
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSecurityEvents/ASimProcessCreateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSecurityEvents/README.md
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSecurityEvents/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSecurityEvents/vimProcessCreateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftSecurityEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSecurityEvents.yaml
Labels: ASIM, Detection, Hunting

#5616 Create Microsoft Defender AV details.yaml
  Hunting Queries/Microsoft 365 Defender/TVM/Microsoft Defender AV details.yaml
  Hunting Queries/Microsoft 365 Defender/TVM/Microsoft Defender AV mode device count.yaml
  Hunting Queries/Microsoft 365 Defender/TVM/Microsoft Defender Anti virus Engine details.yaml
  Hunting Queries/Microsoft 365 Defender/TVM/Microsoft Defender Anti virus Platform details.yaml
  Hunting Queries/Microsoft 365 Defender/TVM/Microsoft Defender Anti virus Security Intelligence details.yaml
Labels: Hunting

#5673 Workbook metadata update for GCPIAM
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5674 CrowdStrike Solution 2.0.1
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/Connector_Syslog_CrowdStrikeFalconEndpointProtection.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/CrowdstrikeReplicator_API_FunctionApp.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.1.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Solution

#5607 V laanjana/package creation/google cloud platform dns new
  Solutions/GoogleCloudPlatformDNS/Data Connectors/GCP_DNS_API_FunctionApp.json
  Solutions/GoogleCloudPlatformDNS/Data/Solution_GoogleCloudPlatformDNS.json
  Solutions/GoogleCloudPlatformDNS/Package/2.0.0.zip
  Solutions/GoogleCloudPlatformDNS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformDNS/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformDNS/SolutionMetadata.json
Labels: Solution Migration

#5278 solution updated for Azure Purview -- DO NOT MERGE AS THIS IS 1P SOLUTION
  Solutions/Azure Purview/Analytic Rules/AzurePurviewSensitiveDataDiscovered.yaml
  Solutions/Azure Purview/Analytic Rules/AzurePurviewSensitiveDataDiscoveredCustom.yaml
  Solutions/Azure Purview/Data Connectors/AzurePurview.json
  Solutions/Azure Purview/Data/Solution_AzurePurview.json
  Solutions/Azure Purview/Package/2.0.0.zip
  Solutions/Azure Purview/Package/createUiDefinition.json
  Solutions/Azure Purview/Package/mainTemplate.json
Labels: Solution Migration

#5320 PingFederate TemplateSpec Solution
  Solutions/PingFederate/Analytic Rules/PingFederateAbnormalPasswordResetsAttempts.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateAuthFromNewSource.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateForbiddenCountry.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateMultiplePasswordResetsForUser.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateNewUserSSO.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateOauthOld.yaml
  Solutions/PingFederate/Analytic Rules/PingFederatePasswordRstReqUnexpectedSource.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateSamlOld.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnexpectedAuthUrl.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnexpectedUserCountry.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnusualMailDomain.yaml
  Solutions/PingFederate/Data Connectors/Connector_CEF_PingFederate.json
  Solutions/PingFederate/Data/Solution_PingFederate.json
  Solutions/PingFederate/Hunting Queries/PingFederateUnusualSources.yaml
  Solutions/PingFederate/Package/2.0.0.zip
  Solutions/PingFederate/Package/createUiDefinition.json
  Solutions/PingFederate/Package/mainTemplate.json
  Solutions/PingFederate/SolutionMetadata.json
  Solutions/PingFederate/Workbooks/PingFederate.json
Labels: Solution Migration

#5664 Updating Uiconfigid for 3p solutions
  Solutions/Forescout/Data/Solution_Forescout.json
  Solutions/Forescout/Package/2.0.1.zip
  Solutions/Forescout/Package/mainTemplate.json
  Solutions/Ivanti Unified Endpoint Management/Data/Solution_Ivanti_Unified_Endpoint_Management_Solution.json
  Solutions/Ivanti Unified Endpoint Management/Package/2.0.1.zip
  Solutions/Ivanti Unified Endpoint Management/Package/mainTemplate.json
  Solutions/McAfee Network Security Platform/Data/Solution_McAfee Network Security Platform.json
  Solutions/McAfee Network Security Platform/Package/2.0.1.zip
  Solutions/McAfee Network Security Platform/Package/mainTemplate.json
  Solutions/Trend Micro Apex One/Data/Solution_Trend Micro Apex One.json
  Solutions/Trend Micro Apex One/Package/2.0.1.zip
  Solutions/Trend Micro Apex One/Package/mainTemplate.json
Labels: Solution

#5651 Updated uiConfigId1 for ISV Solutions
  Solutions/AIShield AI Security Monitoring/Package/2.0.0.zip
  Solutions/AIShield AI Security Monitoring/Package/mainTemplate.json
  Solutions/AristaAwakeSecurity/Data/Solution_AristaAwakeSecurity.json
  Solutions/AristaAwakeSecurity/Package/2.0.1.zip
  Solutions/AristaAwakeSecurity/Package/mainTemplate.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/2.0.1.zip
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/mainTemplate.json
  Solutions/Morphisec/Package/2.0.0.zip
  Solutions/Morphisec/Package/mainTemplate.json
  Solutions/Semperis Directory Services Protector/Package/2.0.0.zip
  Solutions/Semperis Directory Services Protector/Package/mainTemplate.json
  Solutions/SonraiSecurity/Package/2.0.0.zip
  Solutions/SonraiSecurity/Package/mainTemplate.json
  Solutions/Trend Micro Deep Security/Package/2.0.0.zip
  Solutions/Trend Micro Deep Security/Package/mainTemplate.json
  Solutions/Trend Micro TippingPoint/Package/2.0.0.zip
  Solutions/Trend Micro TippingPoint/Package/mainTemplate.json
Labels: Solution Migration

#5668 Tenable IO solution package 2.0.1
  Solutions/TenableIO/Data/Solution_TenableIO.json
  Solutions/TenableIO/Package/2.0.1.zip
  Solutions/TenableIO/Package/mainTemplate.json
Labels: Solution

#5639 IoT OT Solution 1.0.14
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data/Solution_IoTOTThreatMonitoringwithDefenderforIoT.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/1.0.13.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/1.0.14.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/createUiDefinition.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/mainTemplate.json
Labels: Solution

#5678 Package Updated for CiscoStealthwatch
  Solutions/CiscoStealthwatch/Data Connectors/Cisco_Stealthwatch_syslog.json
  Solutions/CiscoStealthwatch/Data/Solution_CiscoStealthwatch.json
  Solutions/CiscoStealthwatch/Package/2.0.0.zip
  Solutions/CiscoStealthwatch/Package/createUiDefinition.json
  Solutions/CiscoStealthwatch/Package/mainTemplate.json
Labels: Solution Migration

#5669 Package created for Holm Security
  Solutions/HolmSecurity/Data Connectors/HolmSecurityAssets_API_FunctionApp.json
  Solutions/HolmSecurity/Data/Solution_HolmSecurity.json
  Solutions/HolmSecurity/Package/2.0.0.zip
  Solutions/HolmSecurity/Package/createUiDefinition.json
  Solutions/HolmSecurity/Package/mainTemplate.json
  Solutions/HolmSecurity/SolutionMetadata.json
Labels: Solution Migration

#5539 Package update for Google Cloud Platform Monitoring
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/AzureFunctionGCPMonitor/function.json
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/AzureFunctionGCPMonitor/main.py
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/AzureFunctionGCPMonitor/sentinel_connector_async.py
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/AzureFunctionGCPMonitor/state_manager.py
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/GCP_Monitor_API_FunctionApp.json
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/Logo/google_logo.svg
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/azuredeploy_GCP_MONITOR_API_FunctionApp.json
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/host.json
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/proxies.json
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/requirements.txt
  Solutions/Google Cloud Platform Cloud Monitoring/Data/Solution_GoogleCloudPlatformMonitor.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/2.0.0.zip
  Solutions/Google Cloud Platform Cloud Monitoring/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/mainTemplate.json
  Solutions/Google Cloud Platform Cloud Monitoring/Parsers/GCP_MONITOR.txt
  Solutions/Google Cloud Platform Cloud Monitoring/SolutionMetadata.json
  Solutions/GoogleCloudPlatformMonitor/Data Connectors/Logo/google_logo.svg
Labels: Solution Migration

#5563 Create Zero Networks SolutionMetadata.json
  Solutions/ZeroNetworks/SolutionMetadata.json
Labels: Solution

#5307 Tanium: initial merge commit
  .script/tests/KqlvalidationsTests/CustomTables/TaniumComplyCompliance_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TaniumComplyVulnerabilities_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TaniumDefenderHealth_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TaniumDiscoverUnmanagedAssets_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TaniumMainAsset_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TaniumSCCMClientHealth_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TaniumThreatResponse_CL.json
  Logos/Tanium.svg
  Sample Data/Custom/TaniumComplyCompliance_CL.csv
  Sample Data/Custom/TaniumComplyVulnerabilities_CL.csv
  Sample Data/Custom/TaniumDefenderHealth_CL.csv
  Sample Data/Custom/TaniumDiscoverUnmanagedAssets_CL.csv
  Sample Data/Custom/TaniumMainAsset_CL.csv
  Sample Data/Custom/TaniumSCCMClientHealth_CL.csv
  Sample Data/Custom/TaniumThreatResponse_CL.csv
  Solutions/Tanium/Analytic Rules/TaniumThreatResponseAlerts.yaml
  Solutions/Tanium/Data Connectors/Connector_REST_API_Tanium.json
  Solutions/Tanium/Package/1.0.4.zip
  Solutions/Tanium/Package/createUiDefinition.json
  Solutions/Tanium/Package/mainTemplate.json
  Solutions/Tanium/Playbooks/Tanium-AddComment/README.md
  Solutions/Tanium/Playbooks/Tanium-AddComment/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-CloseTHRAlert/README.md
  Solutions/Tanium/Playbooks/Tanium-CloseTHRAlert/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-CollectComplyFindings/README.md
  Solutions/Tanium/Playbooks/Tanium-CollectComplyFindings/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-CollectDefenderStatus/README.md
  Solutions/Tanium/Playbooks/Tanium-CollectDefenderStatus/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-CollectSCCMClientStatus/README.md
  Solutions/Tanium/Playbooks/Tanium-CollectSCCMClientStatus/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-QuarantineHosts/README.md
  Solutions/Tanium/Playbooks/Tanium-QuarantineHosts/azuredeploy.json
  Solutions/Tanium/README.md
  Solutions/Tanium/SolutionMetadata.json
  Solutions/Tanium/Workbooks/TaniumWorkbook.json
  Solutions/Tanium/images/Tanium.svg
  Solutions/Tanium/images/install.gif
Labels: Playbook, Workbook, Solution, Detection

#5602 Mulesoft TemplateSpec Solution
  Solutions/MuleSoftCloudhub/Data Connectors/MuleSoftCloudhubSentinelConnector/__init__.py
  Solutions/Mulesoft/Data Connectors/MuleSoftCloudhubSentinelConnector/__init__.py
  Solutions/Mulesoft/Data Connectors/MuleSoftCloudhubSentinelConnector/function.json
  Solutions/Mulesoft/Data Connectors/MuleSoftCloudhubSentinelConnector/rest_api.py
  Solutions/Mulesoft/Data Connectors/MuleSoftCloudhubSentinelConnector/state_manager.py
  Solutions/Mulesoft/Data Connectors/MuleSoft_Cloudhub_API_FunctionApp.json
  Solutions/Mulesoft/Data Connectors/azuredeploy_Connector_MuleSoft_Cloudhub_API_AzureFunction.json
  Solutions/Mulesoft/Data Connectors/host.json
  Solutions/Mulesoft/Data Connectors/proxies.json
  Solutions/Mulesoft/Data Connectors/requirements.txt
  Solutions/Mulesoft/Package/2.0.0.zip
  Solutions/Mulesoft/Package/createUiDefinition.json
  Solutions/Mulesoft/Package/mainTemplate.json
  Solutions/Mulesoft/Parsers/MuleSoftCloudhub.txt
  Solutions/Mulesoft/SolutionMetadata.json
Labels: Solution Migration

#5691 Adding WorkbooksMetadata for Googleworkspace Reports
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5605 Template spec solution for Nozominetworks
  Solutions/NozomiNetworks/Data Connectors/NozomiNetworksN2OS.json
  Solutions/NozomiNetworks/Data/Solution_Nozomi.json
  Solutions/NozomiNetworks/Package/2.0.0.zip
  Solutions/NozomiNetworks/Package/createUiDefinition.json
  Solutions/NozomiNetworks/Package/mainTemplate.json
  Solutions/NozomiNetworks/SolutionMetadata.json
Labels: Solution Migration

#5671 Add ReversingLabs logo
  Logos/reversinglabs.svg
Labels: Solution

#5258 Update Dynamic Threat Analysis Workbook
  Solutions/ThreatAnalysis&Response/Workbooks/DynamicThreatModeling&Response.json
Labels: Workbook, Solution

#5638 V laanjana/solution update nx log aix audit
  Solutions/NXLogAixAudit/Data Connectors/NXLogAixAudit.json
  Solutions/NXLogAixAudit/Data/Solution_NXLogAixAudit.json
  Solutions/NXLogAixAudit/Package/2.0.0.zip
  Solutions/NXLogAixAudit/Package/createUiDefinition.json
  Solutions/NXLogAixAudit/Package/mainTemplate.json
  Solutions/NXLogAixAudit/SolutionMetadata.json
Labels: Solution Migration

#5692 Package update for Oracle weblogic server
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicCommandInURI.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicDifferentUAsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicExploitCVE-2021-2109.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicKnownMaliciousUserAgents.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicMultipleClientErrorsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicMultipleServerErrorsRequestsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPrivateIpInUrl.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPutAndGetFileFromSameIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPutSuspiciousFiles.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicRequestToSensitiveFiles.yaml
  Solutions/OracleWebLogicServer/Data Connectors/Connector_OracleWebLogicServer_agent.json
  Solutions/OracleWebLogicServer/Data/Solution_OracleWebLogicServer.json
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogic403RequestsFiles.yaml
  Solutions/OracleWebLogicServer/Package/2.0.0.zip
  Solutions/OracleWebLogicServer/Package/createUiDefinition.json
  Solutions/OracleWebLogicServer/Package/mainTemplate.json
Labels: Solution Migration

#5699 Update for #5648
  DataConnectors/ReadMe.md
Labels: Connector

#5703 Solution Migration Changes for GCPIAM
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMDisableDataAccessLogging.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMEmptyUA.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMHighPrivilegedRoleAdded.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMNewAuthenticationToken.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMNewServiceAccount.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMNewServiceAccountKey.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMPrivilegesEnumeration.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMPublicBucket.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMServiceAccountEnumeration.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMServiceAccountKeysEnumeration.yaml
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCP_IAM_API_FunctionApp.json
  Solutions/GoogleCloudPlatformIAM/Data/Solution_GoogleCloudPlatformIAM.json
  Solutions/GoogleCloudPlatformIAM/Package/2.0.0.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/SolutionMetadata.json
  Solutions/GoogleCloudPlatformIAM/Workbooks/GCP_IAM.json
Labels: Solution Migration

#5697 Update MDE restrict incident trigger playbooks
  Playbooks/Restrict-MDEDomain/incident-trigger/azuredeploy.json
  Playbooks/Restrict-MDEFileHash/incident-trigger/azuredeploy.json
  Playbooks/Restrict-MDEIPAddress/incident-trigger/azuredeploy.json
  Playbooks/Restrict-MDEUrl/incident-trigger/azuredeploy.json
Labels: Playbook

#5708 Playbook preparation for CiscoASA
  Playbooks/CiscoASA/CiscoASA-AddIPtoNetworkObjectGroup/azuredeploy.json
  Playbooks/CiscoASA/CiscoASA-CreateACEInACL/azuredeploy.json
  Playbooks/CiscoASA/CiscoASA-CreateInboundAccessRuleOnInterface/azuredeploy.json
Labels: Playbook, Solution Migration

#5575 Added WatchGuard FireboxV sample data
  Sample Data/Syslog/WatchGuardFireBoxV.csv
Labels: Sample Data

#5555 Adding workbook as a part of the solution
  Solutions/MicrosoftDefenderForEndpoint/Workbooks/MicrosoftDefenderForEndPoint.json
Labels: Workbook, Solution

#5097 ThreatAnalysis&Response Solution updates
  Solutions/ThreatAnalysis&Response/Notebook/MITREATTACKMap/MITREATTACKMap.zip
  Solutions/ThreatAnalysis&Response/Notebook/MITREATTACKMap/__init__.py
  Solutions/ThreatAnalysis&Response/Notebook/MITREATTACKMap/function.json
  Solutions/ThreatAnalysis&Response/Notebook/MITREATTACKMap/readme.md
  Solutions/ThreatAnalysis&Response/Notebook/MITREATTACKMap/sample.dat
  Solutions/ThreatAnalysis&Response/Notebook/requirements.txt
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseWhite1.png
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseWhite2.png
  Solutions/ThreatAnalysis&Response/Workbooks/ThreatAnalysis&Response.json
  Workbooks/MITREAttack.json
Labels: Workbook, Solution

#5304 solution for created Palo Alto Prisma
  Solutions/PaloAltoPrismaCloud/Data Connectors/PrismaCloud_API_FunctionApp.json
  Solutions/PaloAltoPrismaCloud/Data/Solution_PaloAltoPrismaCloud.json
  Solutions/PaloAltoPrismaCloud/Package/2.0.0.zip
  Solutions/PaloAltoPrismaCloud/Package/createUiDefinition.json
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
  Solutions/PaloAltoPrismaCloud/Workbooks/PaloAltoPrismaCloudOverview.json
Labels: Solution Migration

#5728 Workbook metadata update for Cisco ISE
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#5182 Imperva WAF Cloud Template Package
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaAbnormalProtocolUsage.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaAdminPanelUncommonIp.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaAttackNotBlocked.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaCommandInUri.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaForbiddenCountry.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaForbiddenMethod.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaMaliciousClient.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaMaliciousUA.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaMultipleUAsSource.yaml
  Solutions/ImpervaCloudWAF/Analytic Rules/ImpervaSuspiciousDstPort.yaml
  Solutions/ImpervaCloudWAF/Data Connectors/ImpervaWAFCloud_FunctionApp.json
  Solutions/ImpervaCloudWAF/Data/Solution_ImpervaCloudWAF.json
  Solutions/ImpervaCloudWAF/Package/1.0.3.zip
  Solutions/ImpervaCloudWAF/Package/2.0.0.zip
  Solutions/ImpervaCloudWAF/Package/createUiDefinition.json
  Solutions/ImpervaCloudWAF/Package/mainTemplate.json
Labels: Solution Migration

#5706 Template spec solution migration for NC Protect Data Connector
  Solutions/archTIS/Data Connectors/NucleusCyberNCProtect.json
  Solutions/archTIS/Data/Solution_archTIS.json
  Solutions/archTIS/Package/2.0.0.zip
  Solutions/archTIS/Package/createUiDefinition.json
  Solutions/archTIS/Package/mainTemplate.json
Labels: Solution Migration

#5704 solution update Zscaler pvt access (ZPA)
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerSharedZPASession.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedCountEventResult.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedCountries.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedUpdateOperation.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsByDormantUser.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsByNewUser.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsFromNewCountry.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsFromNewIP.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsOutsideOperationalHours.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAUnexpectedSessionDuration.yaml
  Solutions/Zscaler Private Access (ZPA)/Data Connectors/Connector_LogAnalytics_agent_Zscaler_ZPA.json
  Solutions/Zscaler Private Access (ZPA)/Data Connectors/README.md
  Solutions/Zscaler Private Access (ZPA)/Data/Solution_Zscaler Private Access (ZPA).json
  Solutions/Zscaler Private Access (ZPA)/Package/2.0.0.zip
  Solutions/Zscaler Private Access (ZPA)/Package/createUiDefinition.json
  Solutions/Zscaler Private Access (ZPA)/Package/mainTemplate.json
Labels: Solution Migration

#5709 Template spec solution migration for Box solution
  Solutions/Box/Analytic Rules/BoxAbnormalUserActivity.yaml
  Solutions/Box/Analytic Rules/BoxBinaryFile.yaml
  Solutions/Box/Analytic Rules/BoxDownloadForbiddenFiles.yaml
  Solutions/Box/Analytic Rules/BoxInactiveUserLogin.yaml
  Solutions/Box/Analytic Rules/BoxItemSharedToExternalUser.yaml
  Solutions/Box/Analytic Rules/BoxMultipleItemsDeletedByUser.yaml
  Solutions/Box/Analytic Rules/BoxNewExternalUser.yaml
  Solutions/Box/Analytic Rules/BoxSensitiveFile.yaml
  Solutions/Box/Analytic Rules/BoxUserLoginAsAdmin.yaml
  Solutions/Box/Analytic Rules/BoxUserRoleChangedToOwner.yaml
  Solutions/Box/Data Connectors/Box_API_FunctionApp.json
  Solutions/Box/Data/Solution_Box.json
  Solutions/Box/Package/2.0.0.zip
  Solutions/Box/Package/createUiDefinition.json
  Solutions/Box/Package/mainTemplate.json
  Solutions/Box/SolutionMetadata.json
  Solutions/Box/Workbooks/Box.json
Labels: Solution Migration

#5719 BitGlass Solution Package 2.0.1
  Solutions/Bitglass/Data/Solution_Bitglass.json
  Solutions/Bitglass/Package/2.0.1.zip
  Solutions/Bitglass/Package/createUiDefinition.json
  Solutions/Bitglass/Package/mainTemplate.json
Labels: Solution

#5682 PaloAlto Global Protect Steps
  DataConnectors/Palo Alto Networks/PaloAltoNetworks.json
Labels: Connector

#5705 Create New Playbook Solution for Standalone
  Solutions/Standalone/Data/Solution_Standalone.json
  Solutions/Standalone/Playbooks/Add-IP-Entity-To-Named-Location/AddApiPermissions.ps1
  Solutions/Standalone/Playbooks/Add-IP-Entity-To-Named-Location/azuredeploy.json
  Solutions/Standalone/Playbooks/Add-IP-Entity-To-Named-Location/images/designer-dark.jpg
  Solutions/Standalone/Playbooks/Add-IP-Entity-To-Named-Location/images/designer-light.jpg
  Solutions/Standalone/Playbooks/Add-IP-Entity-To-Named-Location/readme.md
  Solutions/Standalone/Playbooks/Create-AzureDevOpsTask/alert-trigger/azuredeploy.json
  Solutions/Standalone/Playbooks/Create-AzureDevOpsTask/alert-trigger/images/Create-AzureDevOpsTask_alert.png
  Solutions/Standalone/Playbooks/Create-AzureDevOpsTask/incident-trigger/azuredeploy.json
  Solutions/Standalone/Playbooks/Create-AzureDevOpsTask/incident-trigger/images/designerDark.png
  Solutions/Standalone/Playbooks/Create-AzureDevOpsTask/incident-trigger/images/designerLight.png
  Solutions/Standalone/Playbooks/Create-AzureDevOpsTask/readme.md
  Solutions/Standalone/Playbooks/Create-Zendesk-Ticket/azuredeploy.json
  Solutions/Standalone/Playbooks/Create-Zendesk-Ticket/images/designerDark.png
  Solutions/Standalone/Playbooks/Create-Zendesk-Ticket/images/designerLight.png
  Solutions/Standalone/Playbooks/Create-Zendesk-Ticket/images/ticket.png
  Solutions/Standalone/Playbooks/Create-Zendesk-Ticket/images/ticketsQueue.png
  Solutions/Standalone/Playbooks/Create-Zendesk-Ticket/readme.md
  Solutions/Standalone/Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/azuredeploy.json
  Solutions/Standalone/Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/images/comment-dark.jpg
  Solutions/Standalone/Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/images/comment-light.jpg
  Solutions/Standalone/Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/images/designer-dark.jpg
  Solutions/Standalone/Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/images/designerLight.jpg
  Solutions/Standalone/Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/readme.md
Labels: Playbook, Solution Migration

#5725 Add IntrotoKQL Summer Content
  Tools/IntrotoKQL/Datasets/Syslogs.json
  Tools/IntrotoKQL/Datasets/all_datasets.json
  Tools/IntrotoKQL/all_exercises.json
  Workbooks/IntrotoKQL.json
Labels: Workbook, Tools

#5720 solution update Cisco seg
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGDLPViolation.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMaliciousAttachmentNotBlocked.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMultipleLargeEmails.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMultipleSuspiciousEmails.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGPossibleOutbreak.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGPotentialLinkToMalwareDownload.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGSuspiciousLink.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGSuspiciousSenderDomain.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnclassifiedLink.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnexpextedAttachment.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnscannableAttachment.yaml
  Solutions/CiscoSEG/Data Connectors/Connector_Cisco_SEG_CEF.json
  Solutions/CiscoSEG/Data/Solution_CiscoSEG.json
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGUsersReceivedSpam.yaml
  Solutions/CiscoSEG/Package/2.0.0.zip
  Solutions/CiscoSEG/Package/createUiDefinition.json
  Solutions/CiscoSEG/Package/mainTemplate.json
Labels: Solution Migration

#5737 solution update for lastpass
  Solutions/LastPass/Analytic Rules/EmployeeAccountDeleted.yaml
  Solutions/LastPass/Analytic Rules/FailedSigninDueToMFA.yaml
  Solutions/LastPass/Analytic Rules/HighlySensitivePasswordAccessed.yaml
  Solutions/LastPass/Analytic Rules/TIMapIPEntityToLastPass.yaml
  Solutions/LastPass/Analytic Rules/UnusualVolumeOfPasswordsUpdatedOrRemoved.yaml
  Solutions/LastPass/Data Connectors/LastPassAPIConnector.json
  Solutions/LastPass/Data/Solution_LastPass.json
  Solutions/LastPass/Package/2.0.0.zip
  Solutions/LastPass/Package/Data/Solution_LastPass.json
  Solutions/LastPass/Package/createUiDefinition.json
  Solutions/LastPass/Package/mainTemplate.json
  Solutions/LastPass/README.md
Labels: Solution Migration

#5741 Last pass sample data
  Sample Data/Custom/LastPassNativePoller_CL.csv
Labels: Sample Data

#5743 VMWare Carbon Black Link update.
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlackConnector/readme.md
  Solutions/CarbonBlack/Playbooks/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/readme.md
Labels: Solution

#5724 Template spec solution migration for Slack Audit
  Solutions/SlackAudit/Analytic Rules/SlackAuditEmptyUA.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditMultipleArchivedFilesUploadedInShortTimePeriod.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditMultipleFailedLoginsForUser.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditSensitiveFile.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditSuspiciousFileDownloaded.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditUnknownUA.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditUserChangedToAdminOrOwner.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditUserEmailChanged.yaml
  Solutions/SlackAudit/Analytic Rules/SlackAuditUserLoginAfterDeactivated.yaml
  Solutions/SlackAudit/Data Connectors/SlackAudit_API_FunctionApp.json
  Solutions/SlackAudit/Hunting Queries/SlackAuditSuspiciousFilesDownloaded.yaml
  Solutions/SlackAudit/Hunting Queries/SlackAuditUploadedFilesByUser.yaml
  Solutions/SlackAudit/Hunting Queries/SlackAuditUserLoginsByIP.yaml
  Solutions/SlackAudit/Package/2.0.0.zip
  Solutions/SlackAudit/Package/Data/Solution_SlackAudit.json
  Solutions/SlackAudit/Package/createUiDefinition.json
  Solutions/SlackAudit/Package/mainTemplate.json
  Solutions/SlackAudit/data/Solution_SlackAudit.json
Labels: Solution Migration

#5317 Template spec solution update for InsightVm Cloud Solution
  Solutions/Rapid7InsightVM/Data Connectors/InsightVMCloud_API_FunctionApp.json
  Solutions/Rapid7InsightVM/Data/Solution_InsightVMCloudAPI.json
  Solutions/Rapid7InsightVM/Package/2.0.0.zip
  Solutions/Rapid7InsightVM/Package/createUiDefinition.json
  Solutions/Rapid7InsightVM/Package/mainTemplate.json
  Solutions/Rapid7InsightVM/SolutionMetadata.json
Labels: Solution Migration

#5349 Add package files for Red Canary Solution
  Solutions/Red Canary/Package/1.0.0.zip
  Solutions/Red Canary/Package/createUiDefinition.json
  Solutions/Red Canary/Package/mainTemplate.json
Labels: Solution

#5712 Prepare Playbooks for Crowdstrike solution and package
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicator/azuredeploy_Connector_CrowdstrikeFalconAPI_AzureFunction.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.2.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdstrikeFalconEventStream.txt
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/azuredeploy.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/images/designerScreenshotDark.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/images/designerScreenshotLight.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/readme.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/azuredeploy.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/images/ContainHost.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/images/Incident_Comment.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/images/designerOverviewDark.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/images/designerOverviewLight.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/images/deviceInformationDark.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/images/deviceInformationLight.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/images/switchcaseDark.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/images/switchcaseLight.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_ContainHost/readme.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Enrichment_GetDeviceInformation/azuredeploy.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Enrichment_GetDeviceInformation/images/comment.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Enrichment_GetDeviceInformation/images/designerOverviewCollapsedDark.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Enrichment_GetDeviceInformation/images/designerOverviewCollapsedLight.png
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Enrichment_GetDeviceInformation/readme.md
Labels: Playbook, Solution Migration

#5606 Azure AD playbook preparation
  Playbooks/Block-AADUser/alert-trigger/azuredeploy.json
  Playbooks/Block-AADUser/incident-trigger/azuredeploy.json
  Playbooks/Prompt-User/alert-trigger/azuredeploy.json
  Playbooks/Prompt-User/incident-trigger/azuredeploy.json
  Playbooks/Reset-AADUserPassword/alert-trigger/azuredeploy.json
  Playbooks/Reset-AADUserPassword/incident-trigger/azuredeploy.json
Labels: Playbook

#5665 Create New Solution and Playbook for VirusTotal
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/domain-alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/domain-alert-trigger/images/Get-VirusTotalDomainReport_alert.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/domain-incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/domain-incident-trigger/images/designerDark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/domain-incident-trigger/images/designerLight.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/fileInfo-alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/fileInfo-alert-trigger/images/Get-VirusTotalFileInfo_alert.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/fileInfoincident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/fileInfoincident-trigger/images/designerDark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/fileInfoincident-trigger/images/designerLight.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/ip-alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/ip-alert-trigger/images/Get-VirusTotalIPReport_alert.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/ip-incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/ip-incident-trigger/images/designerDark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/ip-incident-trigger/images/designerLight.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/url-alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/url-alert-trigger/images/Get-VirusTotalURLReport_alert.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/url-incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/url-incident-trigger/images/designerDark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/url-incident-trigger/images/designerLight.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/url-incident-trigger/releaseNotes.md
Labels: Playbook, Solution Migration

#5756 Azure AD Identity Protection Playbooks
  Solutions/Azure Active directory Identity Protection/Playbooks/Confirm-AADRiskyUser/alert-trigger/azuredeploy.json
  Solutions/Azure Active directory Identity Protection/Playbooks/Confirm-AADRiskyUser/alert-trigger/images/Confirm-AADRiskyUser_alert.png
  Solutions/Azure Active directory Identity Protection/Playbooks/Confirm-AADRiskyUser/incident-trigger/azuredeploy.json
  Solutions/Azure Active directory Identity Protection/Playbooks/Confirm-AADRiskyUser/incident-trigger/images/designerDark.png
  Solutions/Azure Active directory Identity Protection/Playbooks/Confirm-AADRiskyUser/incident-trigger/images/designerLight.png
  Solutions/Azure Active directory Identity Protection/Playbooks/Confirm-AADRiskyUser/readme.md
  Solutions/Azure Active directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/alert-trigger/azuredeploy.json
  Solutions/Azure Active directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/alert-trigger/images/Dismiss-AADRiskyUser_alert.png
  Solutions/Azure Active directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/incident-trigger/azuredeploy.json
  Solutions/Azure Active directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/incident-trigger/images/Dismiss-AADRiskyUser_incident.png
  Solutions/Azure Active directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/incident-trigger/images/designerDark.png
  Solutions/Azure Active directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/incident-trigger/images/designerLight.png
  Solutions/Azure Active directory Identity Protection/Playbooks/Dismiss-AADRiskyUser/readme.md
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/azuredeploy.json
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/ImageDark1.png
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/ImageLight1.png
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/TeamsCard.png
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/commentDark.png
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/commentLight.png
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/designerView.png
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/msg.png
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/images/responsePart.png
  Solutions/Azure Active directory Identity Protection/Playbooks/IdentityProtection-TeamsBotResponse/readme.md
Labels: Playbook, Solution Migration

#5757 Servicenow playbook preparation
  Solutions/Servicenow/Playbooks/Create-SNOW-record/alert-trigger/azuredeploy.json
  Solutions/Servicenow/Playbooks/Create-SNOW-record/alert-trigger/images/dark-Playbook-alert-trigger.png
  Solutions/Servicenow/Playbooks/Create-SNOW-record/alert-trigger/images/light-Playbook-alert-trigger.png
  Solutions/Servicenow/Playbooks/Create-SNOW-record/images/SNOW-connector-requirements.png
  Solutions/Servicenow/Playbooks/Create-SNOW-record/images/in-SNOW.png
  Solutions/Servicenow/Playbooks/Create-SNOW-record/incident-trigger/azuredeploy.json
  Solutions/Servicenow/Playbooks/Create-SNOW-record/incident-trigger/images/dark-Playbook-incident-trigger.png
  Solutions/Servicenow/Playbooks/Create-SNOW-record/incident-trigger/images/light-Playbook-incident-trigger.png
  Solutions/Servicenow/Playbooks/Create-SNOW-record/readme.md
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/azuredeploy.json
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/AutomationRuleExampleDark.jpg
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/AutomationRuleExampleLight.jpg
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/SNOW-connector-requirementsDark.png
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/SNOW-connector-requirementsLight.png
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/SNOWIncidentClosed.jpg
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/SNOWNewIncident.jpg
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/SNOWTagAdded.jpg
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/SnowPlaybookDark.jpg
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/images/SnowPlaybookLight.jpg
  Solutions/Servicenow/Playbooks/SNOW-CreateAndUpdateIncident/readme.md
Labels: Playbook, Solution Migration

#5753 VMWare CarbonBlack Playbook
  Solutions/CarbonBlack/Analytic Rules/CriticalThreatDetected.yaml
  Solutions/CarbonBlack/Analytic Rules/KnownMalwareDetected.yaml
  Solutions/CarbonBlack/Data/Solution_CarbonBlack.json
  Solutions/CarbonBlack/Package/2.0.0.zip
  Solutions/CarbonBlack/Package/createUiDefinition.json
  Solutions/CarbonBlack/Package/mainTemplate.json
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/CarbonBlack-DeviceEnrichment/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/CarbonBlack-QuarantineDevice/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/azuredeploy.json
  Solutions/CarbonBlack/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/readme.md
  Solutions/CarbonBlack/Playbooks/CarbonBlackConnector/readme.md
  Solutions/CarbonBlack/Playbooks/readme.md
  Solutions/CarbonBlack/SolutionMetadata.json
Labels: Playbook, Solution Migration

#5750 ASIM parsers- minor fixes
  ASIM/lib/functions/ASIM_LookupAADcodes.yaml
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
Labels: ASIM, Parser
