Repository Azure/Azure-Sentinel, pull requests merged in 2023-01, with the labels that each got.

#7000 Update ASIM_LookupHTTPStatusCode.yaml
  ASIM/lib/functions/ASIM_LookupHTTPStatusCode.yaml
Labels: ASIM

#6942 Salesforce Instruction update.
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceServiceCloud_API_FunctionApp.json
  Solutions/Salesforce Service Cloud/Data/Solution_TSalesforceCloudtemplateSpec.json
  Solutions/Salesforce Service Cloud/Package/2.0.3.zip
  Solutions/Salesforce Service Cloud/Package/mainTemplate.json
Labels: Connector

#7004 Updating Watchlist Utilities Solution from 2.0.0 to 2.0.1
  Solutions/Watchlists Utilities/Data/Solution_Watchlists Utilities.json
  Solutions/Watchlists Utilities/Package/2.0.1.zip
  Solutions/Watchlists Utilities/Package/mainTemplate.json
  Solutions/Watchlists Utilities/SolutionMetadata.json
Labels: Solution

#6984 Updated Underlying Microsoft Technologies used for Windows Firewall
  Solutions/Windows Firewall/Data/Solution_Windows Firewall.json
  Solutions/Windows Firewall/Package/2.0.1.zip
  Solutions/Windows Firewall/Package/createUiDefinition.json
Labels: Solution

#6976 Run validations on ASimAuditEvent schema
  .github/workflows/convertKqlFunctionYamlToArmTemplate.yaml
  .github/workflows/runAsimSchemaAndDataTesters.yaml
  .script/getModifiedASimSchemas.ps1
  .script/tests/KqlvalidationsTests/CustomFunctions/_Im_AuditEvent.json
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/ParsersDatabase.cs
  .script/tests/asimParsersTest/runAsimTesters.ps1
  Parsers/ASimAuditEvent/ARM/ASimAuditEvent/ASimAuditEvent.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventMicrosoftSOffice365/ASimAuditEventMicrosoftSOffice365.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventMicrosoftSOffice365/README.md
  Parsers/ASimAuditEvent/ARM/imAuditEvent/imAuditEvent.json
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
Labels: ASIM

#7009 Leaderboard Monthly Update - Update stats.md file with December 2022 Data
  Tools/stats/stats.md
Labels: Tools

#7011 asim/identityinfo-enrichment
  .script/tests/KqlvalidationsTests/CustomTables/IdentityInfo.json
  ASIM/lib/functions/ASIM_Enrich_IdentityInfo.yaml
  ASIM/lib/functions/ASIM_IdentityInfo.yaml
Labels: ASIM

#7010 Updated Description for Common Event Format
  Solutions/Common Event Format/Data/Solution_CommonEventFormat.json
  Solutions/Common Event Format/Package/2.0.1.zip
  Solutions/Common Event Format/Package/createUiDefinition.json
Labels: Solution

#6655 Analytic fixes
  Detections/ProofpointPOD/ProofpointPODEmailSenderInTIList.yaml
  Solutions/CiscoMeraki/Parsers/CiscoMeraki.txt
  Solutions/ProofPointTap/Analytic Rules/MalwareAttachmentDelivered.yaml
  Solutions/ProofPointTap/Analytic Rules/MalwareLinkClicked.yaml
  Solutions/Proofpoint On demand(POD) Email Security/Analytic Rules/ProofpointPODBinaryInAttachment.yaml
  Solutions/Proofpoint On demand(POD) Email Security/Analytic Rules/ProofpointPODMultipleArchivedAttachmentsToSameRecipient.yaml
  Solutions/Proofpoint On demand(POD) Email Security/Analytic Rules/ProofpointPODSuspiciousAttachment.yaml
Labels: Solution, Detection

#6859 adding dynamic summaries API model
  Playbooks/Dynamic-Summaries-API-Upsert/DynamicSummaries_API_Models.pdf
  Playbooks/Dynamic-Summaries-API-Upsert/readme.md
Labels: Playbook

#6969 Domain change in WireXNetworkForensicPlatform and MicrosoftDefenderforCloudApps
  Solutions/Microsoft Defender for Cloud Apps/Data/Solution_Microsoft Defender for Cloud Apps.json
  Solutions/Microsoft Defender for Cloud Apps/Package/2.0.1.zip
  Solutions/Microsoft Defender for Cloud Apps/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Cloud Apps/Package/mainTemplate.json
  Solutions/Microsoft Defender for Cloud Apps/SolutionMetadata.json
  Solutions/WireX Network Forensics Platform/Data Connectors/WireXsystemsNFP(1b).json
  Solutions/WireX Network Forensics Platform/Data/Solution_WireXNetworkForensicsPlatform.json
  Solutions/WireX Network Forensics Platform/Package/2.0.2.zip
  Solutions/WireX Network Forensics Platform/Package/mainTemplate.json
  Solutions/WireX Network Forensics Platform/SolutionMetadata.json
Labels: Solution

#6989 Microsoft Exchange Security - Update automation account
  Solutions/Microsoft Exchange Security/Data Connectors/ESI-ExchangeOnlineCollector.json
  Solutions/Microsoft Exchange Security/Data Connectors/azuredeploy_ESI_ExchangeOnlineCollector_Automation.json
Labels: Connector, Solution

#6958 Updated AADUser Functionapp
  DataConnectors/AADUserInfo/AADUserInfo_template.zip
  DataConnectors/AADUserInfo/azuredeploy.json
  DataConnectors/AADUserInfo/host.json
Labels: Function

#7014 Updating description for data connector of Insider Risk Management
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskHighUserAlertsCorrelation.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskM365IRMAlertObserved.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/2.0.4.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution

#7030 Parser text updated
  Solutions/Proofpoint On demand(POD) Email Security/Package/2.0.3.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
Labels: Solution

#7022 Updated the default text for Hunting Query, Data Connector and Workbooks
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7023 Repackaged ProofPoint POD solution
  Solutions/Proofpoint On demand(POD) Email Security/Data/Solution_ProofPointPOD.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/2.0.4.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
Labels: Solution

#7021 Updated product names
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-3-Analytics-Rules.md
Labels: Solution

#6908 Create detect-av-edr-privileged-delete-vulnerability.yaml
  Hunting Queries/Microsoft 365 Defender/Privilege escalation/detect-av-edr-privileged-delete-vulnerability.yaml
Labels: Hunting

#7040 Updated two solutions to remove ASCII character
  Solutions/MarkLogicAudit/Data/Solution_MarkLogicAudit.json
  Solutions/MarkLogicAudit/Package/2.0.1.zip
  Solutions/MarkLogicAudit/Package/mainTemplate.json
  Solutions/MarkLogicAudit/SolutionMetadata.json
  Solutions/NozomiNetworks/Data/Solution_Nozomi.json
  Solutions/NozomiNetworks/Package/2.0.1.zip
  Solutions/NozomiNetworks/Package/mainTemplate.json
  Solutions/NozomiNetworks/SolutionMetadata.json
Labels: Solution

#7001 Repackaging and Update of solution AzureFirewall, ZeroNetworks and WindowsServerDNS
  Solutions/Azure Firewall/Data/Solution_AzureFirewall.json
  Solutions/Azure Firewall/Package/2.0.2.zip
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Windows Server DNS/Data/Solution_DNS.json
  Solutions/Windows Server DNS/Package/2.0.2.zip
  Solutions/Windows Server DNS/Package/mainTemplate.json
  Solutions/ZeroNetworks/Data/Solution_ZeroNetworks.json
  Solutions/ZeroNetworks/Package/2.0.2.zip
  Solutions/ZeroNetworks/Package/mainTemplate.json
Labels: Solution

#7048 Removed M365-PowerBi Dashboard
  Tools/M365-PowerBi Dashboard/Microsoft Threat Protection - API Dashboard.pbit
  Tools/M365-PowerBi Dashboard/readme.txt
Labels: Tools

#7017 Hyperlink Validations with Error
  .script/hyperLinkValidator.ts
Labels: enhancement

#7061 Updated deploy to Azure links in readme for Azure Active Directory
  Solutions/Azure Active Directory/Playbooks/Reset-AADUserPassword/readme.md
Labels: Solution

#7049 Updating data connector to remove parser reference
  Solutions/AtlassianConfluenceAudit/Data Connector/AtlassianConfluenceAudit/ConfluenceAudit_API_FunctionApp.json
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/2.0.4.zip
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
Labels: Solution

#7033 Microsoft Exchange Security Connector Name and Version details Update
  Solutions/Microsoft Exchange Security/Data Connectors/ESI-ExchangeAdminAuditLogEvents.json
  Solutions/Microsoft Exchange Security/Data Connectors/ESI-ExchangeOnPremisesCollector.json
  Solutions/Microsoft Exchange Security/Data Connectors/ESI-ExchangeOnlineCollector.json
  Solutions/Microsoft Exchange Security/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security/Package/mainTemplate.json
Labels: Solution

#6915 File content validation- Azure Sentinel to Microsoft Sentinel
  .azure-pipelines/contentValidations.yaml
  .script/contentValidator.ts
  azure-pipelines.yml
Labels: enhancement, Solution

#7069 MIP Packaging Changes
  .script/dataConnectorValidator.ts
  .script/utils/dataConnector.ts
  .script/utils/schemas/MicrosoftPurviewInformationProtection_ConnectorSchema.json
  Solutions/Microsoft Purview Information Protection/Data Connectors/MicrosoftPurviewInformationProtection.json
  Solutions/Microsoft Purview Information Protection/Data/Solution_MicrosoftPurviewInformationProtection.json
  Solutions/Microsoft Purview Information Protection/Package/2.0.0.zip
  Solutions/Microsoft Purview Information Protection/Package/createUiDefinition.json
  Solutions/Microsoft Purview Information Protection/Package/mainTemplate.json
  Solutions/Microsoft Purview Information Protection/SolutionMetadata.json
Labels: Solution

#6950 AIShield AI Security Monitoring connector updates
  Sample Data/Custom/AIShield_CL.json
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageClassficationModelExtractionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageClassificationModelEvasionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/NaturalLanguageProcessingModelExtractionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TabularClassificationModelExtractionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TimeSeriesForecastingModelExtractionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Data/Solution_AIShield.json
  Solutions/AIShield AI Security Monitoring/Package/2.0.3.zip
  Solutions/AIShield AI Security Monitoring/Package/createUiDefinition.json
  Solutions/AIShield AI Security Monitoring/Package/mainTemplate.json
  Solutions/AIShield AI Security Monitoring/Parsers/AIShield.txt
Labels: Parser, Solution, Sample Data, Analytic Rules

#7032 Repackage Cloudflare
  Solutions/Cloudflare/Data Connectors/Cloudflare_API_FunctionApp.json
  Solutions/Cloudflare/Data/Solution_Cloudflare.json
  Solutions/Cloudflare/Package/2.0.2.zip
  Solutions/Cloudflare/Package/createUiDefinition.json
  Solutions/Cloudflare/Package/mainTemplate.json
Labels: Solution

#6901 Fix invalid yaml issues in "Find Software By Name and Version.yaml"
  Hunting Queries/Microsoft 365 Defender/Device Inventory/Find Software By Name and Version.yaml
Labels: Hunting

#6903 Arm ttk validations
  .github/actions/Dockerfile
  .github/actions/entrypoint.ps1
  .github/workflows/arm-ttk-validations.yaml
Labels: enhancement, Playbook, Solution

#7082 Update WorkbooksMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7031 OpenCTI schema fix based on recent changes in GraphQL API
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-CreateIndicator/azuredeploy.json
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-EnrichIncident/azuredeploy.json
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-GetIndicatorsStream/azuredeploy.json
Labels: Playbook

#7075 Updating Ubiquiti Unifi Solution
  Solutions/Ubiquiti UniFi/Data/Solution_Ubiquiti UniFi.json
  Solutions/Ubiquiti UniFi/Package/2.0.1.zip
  Solutions/Ubiquiti UniFi/Package/createUiDefinition.json
  Solutions/Ubiquiti UniFi/Package/mainTemplate.json
  Solutions/Ubiquiti UniFi/SolutionMetadata.json
  Solutions/Ubiquiti UniFi/Workbooks/Ubiquiti.json
Labels: Solution

#7042 ProofPointTAP package update
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/2.0.1.zip
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/Parsers/ProofpointTAPEvent.txt
  Solutions/ProofPointTap/Playbooks/readme.md
  Solutions/ProofPointTap/SolutionMetadata.json
Labels: Solution, Analytic Rules

#7070 Orca Security: Fixed Pkg
  Solutions/Orca Security Alerts/Data Connectors/OrcaSecurityAlerts.json
  Solutions/Orca Security Alerts/Package/2.0.1.zip
  Solutions/Orca Security Alerts/Package/mainTemplate.json
  Solutions/Orca Security Alerts/SolutionMetadata.json
Labels: Solution

#7078 Better Mobile: Fixed Pkg
  Solutions/BETTER Mobile Threat Defense (MTD)/Data Connectors/BETTERMTD.json
  Solutions/BETTER Mobile Threat Defense (MTD)/Package/2.0.1.zip
  Solutions/BETTER Mobile Threat Defense (MTD)/Package/mainTemplate.json
Labels: Solution

#7080 Perimeter 81: Fixed Pkg
  Solutions/Perimeter 81/Data Connectors/Perimeter81ActivityLogs.json
  Solutions/Perimeter 81/Package/2.0.1.zip
  Solutions/Perimeter 81/Package/mainTemplate.json
  Solutions/Perimeter 81/SolutionMetadata.json
Labels: Solution

#7076 Abnormal: Fixed Pkg
  Solutions/AbnormalSecurity/Data Connectors/AbnormalSecurity_API_FunctionApp.json
  Solutions/AbnormalSecurity/Package/2.0.2.zip
  Solutions/AbnormalSecurity/Package/mainTemplate.json
Labels: Solution

#7091 ICM 358744198 Fix: Handled multilingual support in office 365 workbook queries
  Workbooks/Office365.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7087 Package update for log4J
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Package/2.0.4.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/SolutionMetadata.json
Labels: Solution

#7095 Infoblox Nios Data connector instruction update.
  Solutions/Infoblox NIOS/Data Connectors/Connector_Syslog_Infoblox.json
  Solutions/Infoblox NIOS/Package/2.0.2.zip
  Solutions/Infoblox NIOS/Package/mainTemplate.json
Labels: Solution

#7094 [Playbooks] Dynamic summaries PDF document update
  Playbooks/Dynamic-Summaries-API-Upsert/DynamicSummaries_API_Models.pdf
Labels: Playbook

#7093 Zimperium 2: Fixed Pkg
  Solutions/Zimperium Mobile Threat Defense/Data Connectors/Zimperium MTD Alerts.json
  Solutions/Zimperium Mobile Threat Defense/Package/2.0.1.zip
  Solutions/Zimperium Mobile Threat Defense/Package/mainTemplate.json
Labels: Solution

#7103 Hyperlink validation to skip "&&sudo" in URL
  .script/hyperLinkValidator.ts
Labels: enhancement, Tools

#7066 Create ASimNetworkSessionMicrosoftSysmon.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftSysmon.yaml
Labels: ASIM, Parser

#7105 Enhancement:Identify targetProduct change With Azure Sentinel
  .script/contentValidator.ts
Labels: enhancement, Validation

#7047 MDO Workbook - Fixing Select All Issue
  Workbooks/MicrosoftDefenderForOffice365.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7108 Updating Microsoft Purview Package
  Solutions/Microsoft Purview/Data/Solution_MicrosoftPurview.json
  Solutions/Microsoft Purview/Package/2.0.6.zip
  Solutions/Microsoft Purview/Package/mainTemplate.json
Labels: Solution

#7113 Fix to handle multiple replacement of targetProduct tag in Content Validation
  .script/contentValidator.ts
Labels: Validation

#7083 Parser optimization and package update for RSA Secur ID
  Solutions/RSA SecurID/Data/Solution_RSASecurID.json
  Solutions/RSA SecurID/Package/2.0.2.zip
  Solutions/RSA SecurID/Package/mainTemplate.json
  Solutions/RSA SecurID/Parsers/RSASecurIDAMEvent.txt
Labels: Solution

#7086 Repackage Fortinet-Fortigate
  Solutions/Fortinet-FortiGate/Data Connectors/Fortinet-FortiGate.json
  Solutions/Fortinet-FortiGate/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet-FortiGate/Package/2.0.1.zip
  Solutions/Fortinet-FortiGate/Package/createUiDefinition.json
  Solutions/Fortinet-FortiGate/Package/mainTemplate.json
  Solutions/Fortinet-FortiGate/SolutionMetadata.json
Labels: Solution

#7072 Citrix WAF: Fixed Pkg
  Solutions/Citrix Web App Firewall/Data Connectors/Citrix_WAF.json
  Solutions/Citrix Web App Firewall/Package/2.0.1.zip
  Solutions/Citrix Web App Firewall/Package/mainTemplate.json
Labels: Solution

#7118 Updating logo link for Synack
  Solutions/Synack/Package/1.0.2.zip
  Solutions/Synack/Package/createUiDefinition.json
Labels: Solution

#7115 add lambda function for sending cloud watch events to bucket
  DataConnectors/AWS-S3/CloudWatchLanbdaFunction.py
Labels: python

#7096 Updated script to include techniques in Analytical Rules
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7039 Add more cases in detection RunCommandUEBABreach.yaml
  Detections/MultipleDataSources/RunCommandUEBABreach.yaml
Labels: Detection

#7120 Adding version 1.0.6 to github Splunk-Add-on
  Tools/Azure-Sentinel-add-on/Azure-Sentinel-add-on.aob_meta
  Tools/Azure-Sentinel-add-on/README.txt
  Tools/Azure-Sentinel-add-on/README/addon_builder.conf.spec
  Tools/Azure-Sentinel-add-on/README/alert_actions.conf.spec
  Tools/Azure-Sentinel-add-on/appserver/static/alert_send_to_sentinel.png
  Tools/Azure-Sentinel-add-on/appserver/static/alerticon.png
  Tools/Azure-Sentinel-add-on/default/addon_builder.conf
  Tools/Azure-Sentinel-add-on/default/alert_actions.conf
  Tools/Azure-Sentinel-add-on/default/app.conf
  Tools/Azure-Sentinel-add-on/default/data/ui/alerts/send_to_sentinel.html
  Tools/Azure-Sentinel-add-on/default/data/ui/nav/default.xml
  Tools/Azure-Sentinel-add-on/default/data/ui/views/home.xml
  Tools/Azure-Sentinel-add-on/default/props.conf
  Tools/Azure-Sentinel-add-on/default/savedsearches.conf
  Tools/Azure-Sentinel-add-on/static/appIcon.png
  Tools/Azure-Sentinel-add-on/static/appIconAlt.png
  Tools/Azure-Sentinel-add-on/static/appIconAlt_2x.png
  Tools/Azure-Sentinel-add-on/static/appIcon_2x.png
Labels: Tools

#6826 Updating Detection queries with Resource Specific logs for Azure Firewall
  .script/tests/KqlvalidationsTests/CustomTables/AZFWApplicationRule.json
  .script/tests/KqlvalidationsTests/CustomTables/AZFWDnsQuery.json
  .script/tests/KqlvalidationsTests/CustomTables/AZFWNetworkRule.json
  Detections/MultipleDataSources/ActiniumFeb2022.yaml
  Detections/MultipleDataSources/BariumDomainIOC112020.yaml
  Detections/MultipleDataSources/BariumIPIOC112020.yaml
  Detections/MultipleDataSources/CERIUMOct292020IOCs.yaml
  Detections/MultipleDataSources/ChiaCryptoMining.yaml
  Detections/MultipleDataSources/DEV-0322_SolarWinds_Serv-U_IOC.yaml
  Detections/MultipleDataSources/Dev-0530_July2022.yaml
  Detections/MultipleDataSources/GalliumIOCs.yaml
  Detections/MultipleDataSources/IridiumIOCs.yaml
  Detections/MultipleDataSources/KnownPHOSPHORUSDomainsIP-October2020.yaml
  Detections/MultipleDataSources/Mercury_Log4j_August2022.yaml
  Detections/MultipleDataSources/NICKELIOCsNov2021.yaml
  Detections/MultipleDataSources/NOBELIUM_DomainIOCsMarch2021.yaml
  Detections/MultipleDataSources/NOBELIUM_IOCsMay2021.yaml
  Detections/MultipleDataSources/PHOSPHORUSMarch2019IOCs.yaml
  Detections/MultipleDataSources/POLONIUMIPIoC.yaml
  Detections/MultipleDataSources/SOURGUM_IOC.yaml
  Detections/MultipleDataSources/STRONTIUMJuly2019IOCs.yaml
  Detections/MultipleDataSources/Solorigate-Network-Beacon.yaml
  Detections/MultipleDataSources/ThalliumIOCs.yaml
  Detections/MultipleDataSources/WSLMalwareCorrelation.yaml
  Detections/MultipleDataSources/ZincJan272021IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ActiniumFeb2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/BariumDomainIOC112020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/BariumIPIOC112020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/CERIUMOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ChiaCryptoMining.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DEV-0322_SolarWinds_Serv-U_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Dev-0530_July2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/GalliumIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/IridiumIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/KnownPHOSPHORUSDomainsIP-October2020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/NOBELIUM_DomainIOCsMarch2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/NOBELIUM_IOCsMay2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/PHOSPHORUSMarch2019IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/POLONIUMIPIoC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/SOURGUM_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Solorigate-Network-Beacon.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ThalliumIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/WSLMalwareCorrelation.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ZincJan272021IOCs.yaml
Labels: Detection

#7052 Bug fixing for VirusTotal Solution
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Run-MDEAntivirus/Run-MDEAntivirus-alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Data/Solution_VirusTotal.json
  Solutions/VirusTotal/Package/2.0.3.zip
  Solutions/VirusTotal/Package/mainTemplate.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/readme.md
Labels: Solution

#7112 ACSC Solution repackaging
  Logos/ACSClogo.svg
  Solutions/Australian Cyber Security Centre/ACSC logo.png
  Solutions/Australian Cyber Security Centre/ACSCLogo.jpg
  Solutions/Australian Cyber Security Centre/Data/Solution_Australian Cyber Security Centre.json
  Solutions/Australian Cyber Security Centre/Package/2.0.1.zip
  Solutions/Australian Cyber Security Centre/Package/createUiDefinition.json
  Solutions/Australian Cyber Security Centre/Package/mainTemplate.json
  Solutions/Australian Cyber Security Centre/SolutionMetadata.json
Labels: Solution

#7122 Remove arm-ttk validations for dataconnector and playbooks
  .github/actions/Dockerfile
  .github/actions/entrypoint.ps1
Labels: Validation

#6907 Fortiweb enrichment
  .script/tests/KqlvalidationsTests/CustomTables/Fortiweb.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/FortiWebCloud/Analytic Rules/Fortiweb - WAF Allowed threat.yaml
  Solutions/FortiWebCloud/Data Connectors/Fortiweb.json
  Solutions/FortiWebCloud/Hunting Queries/Unexpected Countries.yaml
  Solutions/FortiWebCloud/Hunting Queries/owaspTop10-Threatsyaml.yaml
  Solutions/FortiWebCloud/Parsers/Fortiweb.txt
  Solutions/FortiWebCloud/Workbooks/Fortiweb-workbook.json
Labels: Solution

#7037 Domain tools template spec Solution
  Solutions/DomainTools/Data/Solution_DomainTools.json
  Solutions/DomainTools/Package/2.0.0.zip
  Solutions/DomainTools/Package/createUiDefinition.json
  Solutions/DomainTools/Package/mainTemplate.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/azuredeploy.json
  Solutions/DomainTools/Playbooks/FunctionApp/azuredeploy.json
Labels: Solution

#7126 Update Configure-Long-Term-Retention.ps1
  Tools/Archive-Log-Tool/ArchiveLogsTool-PowerShell/Configure-Long-Term-Retention.ps1
Labels: scripts

#7121 Netskope Repackaging Changes
  Solutions/Netskope/Data Connectors/Netskope/Netskope_API_FunctionApp.json
  Solutions/Netskope/Data/Solution_Netskope.json
  Solutions/Netskope/Package/2.0.2.zip
  Solutions/Netskope/Package/createUiDefinition.json
  Solutions/Netskope/Package/mainTemplate.json
  Solutions/Netskope/Parsers/Netskope.txt
Labels: Solution

#6486 Adding Dynatrace solution
  .script/tests/KqlvalidationsTests/CustomTables/DynatraceAttacks.json
  .script/tests/KqlvalidationsTests/CustomTables/DynatraceAuditLogs.json
  .script/tests/KqlvalidationsTests/CustomTables/DynatraceProblems.json
  .script/tests/KqlvalidationsTests/CustomTables/DynatraceSecurityProblems.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  .vscode/launch.json
  Logos/dynatrace.svg
  Sample Data/DynatraceAttacks_CL.json
  Sample Data/DynatraceAuditLogs_CL.json
  Sample Data/DynatraceProblems_CL.json
  Sample Data/DynatraceSecurityProblems_CL.json
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_AttackDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_CodeLevelVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_NonCriticalVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_ThirdPartyVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/Dynatrace_ProblemDetection.yaml
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_Attacks.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_AuditLogs.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_Problems.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_RuntimeVulnerabilities.json
  Solutions/Dynatrace/Data/Solution_Dynatrace.json
  Solutions/Dynatrace/Package/2.0.0.zip
  Solutions/Dynatrace/Package/createUiDefinition.json
  Solutions/Dynatrace/Package/mainTemplate.json
  Solutions/Dynatrace/Parsers/DynatraceAttacks.txt
  Solutions/Dynatrace/Parsers/DynatraceAuditLogs.txt
  Solutions/Dynatrace/Parsers/DynatraceProblems.txt
  Solutions/Dynatrace/Parsers/DynatraceSecurityProblems.txt
  Solutions/Dynatrace/Playbooks/Add_DynatraceApplicationSecurityAttackSourceIpThreatIntelligence/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Add_DynatraceApplicationSecurityAttackSourceIpThreatIntelligence/readme.md
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackMSDefender365/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackMSDefender365/readme.md
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackWithSecurityAlerts/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackWithSecurityAlerts/readme.md
  Solutions/Dynatrace/Playbooks/Enrich_DynatraceApplicationSecurityAttackIncident/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich_DynatraceApplicationSecurityAttackIncident/readme.md
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSDefender365/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSDefender365/readme.md
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceSentinelSecurityAlerts/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceSentinelSecurityAlerts/readme.md
  Solutions/Dynatrace/SolutionMetadata.json
  Solutions/Dynatrace/Workbooks/Dynatrace.json
  Solutions/Dynatrace/Workbooks/images/preview/DynatraceWorkbookBlack.png
  Solutions/Dynatrace/Workbooks/images/preview/DynatraceWorkbookWhite.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Playbook, Connector, Parser, Workbook, Solution, Analytic Rules

#7117 Optimizing bag_unpack to be more performant
  Detections/AuditLogs/Useraccountcreatedwithoutexpectedattributesdefined.yaml
Labels: Detection

#6988 Add UI kickstart scripts
  Solutions/SAP/sapcon-instance-update.sh
  Solutions/SAP/sapcon-sentinel-auto-update.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-ui-agent-kickstart.sh
Labels: Solution

#7101 Open cti fix
  Solutions/OpenCTI/Playbooks/OpenCTIPlaybooks/OpenCTI-GetIndicatorsStream/azuredeploy.json
Labels: Playbook, Solution

#7100 Origin/users/rahul/abuseipdb bugfix
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-BlacklistIpToThreatIntelligence/azuredeploy.json
Labels: Playbook, Solution

#7084 Correct targetProduct in tiIndicator: submitTiIndicators
  Solutions/Recorded Future/Package/2.2.2.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-Ukraine-IndicatorProcessor/RecordedFuture-Ukraine-IndicatorProcessor.json
Labels: Solution

#7067 Create ASIMWebSessionIIS.yaml
  Parsers/ASimWebSession/Parsers/ASIMWebSessionIIS.yaml
Labels: ASIM, Parser

#6840 Fixed 'jsonData' parameters and removed escape characters
  Workbooks/DataCollectionHealthMonitoring.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7028 Update ReversingLabs solution to v2.0.1
  Solutions/ReversingLabs/Data/Solution_ReversingLabs.json
  Solutions/ReversingLabs/Package/2.0.1.zip
  Solutions/ReversingLabs/Package/mainTemplate.json
  Solutions/ReversingLabs/SolutionMetadata.json
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/Images/Logo/reversinglabs.svg
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/Images/Preview/ReversingLabsOpsSummary-Black.png
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/Images/Preview/ReversingLabsOpsSummary-White.png
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/Images/Preview/ReversingLabsTiSummary-Black.png
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/Images/Preview/ReversingLabsTiSummary-White.png
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/ReversingLabs-CapabilitiesOverview.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution

#7141 Upgrading version of Synack
  Solutions/Synack/Package/1.0.3.zip
  Solutions/Synack/Package/mainTemplate.json
Labels: Solution

#7142 Update ARM-ttk validations for Armorblox 2.0.1.zip
  Solutions/Armorblox/Package/2.0.1.zip
Labels: Solution

#7098 add ASimAuthentication Parsers for syslog sshd, su and sudo
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSshd/ASimAuthenticationSshd.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSshd/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSu/ASimAuthenticationSu.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSu/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSudo/ASimAuthenticationSudo.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSudo/README.md
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSshd.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSu.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSudo.yaml
Labels: ASIM

#7135 Updating Recorded future package to 2.2.2
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/2.2.2.zip
  Solutions/Recorded Future/Package/mainTemplate.json
Labels: Solution

#7134 Asim iis union
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
Labels: ASIM

#7137 Update ASimTester.csv
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#7145 Asim/update file schema
  .script/tests/KqlvalidationsTests/CustomFunctions/_Im_WebSession.json
  ASIM/schemas/ASimFileEvent.yaml
  ASIM/schemas/common/ASimEnumerations.yaml
  Parsers/ASimFileEvent/Parsers/vimFileEventEmpty.yaml
  Parsers/ASimFileEvent/Parsers/vimFileEventM365D.yaml
  Parsers/ASimFileEvent/Parsers/vimFileEventMicrosoftSharePoint.yaml
  Parsers/ASimWebSession/ARM/ASIMWebSessionIIS/ASIMWebSessionIIS.json
  Parsers/ASimWebSession/ARM/ASIMWebSessionIIS/README.md
  Parsers/ASimWebSession/ARM/ASimWebSession/ASimWebSession.json
  Parsers/ASimWebSession/ARM/FullDeploymentWebSession.json
  Parsers/ASimWebSession/ARM/vimWebSessionEmpty/vimWebSessionEmpty.json
  Parsers/ASimWebSession/Parsers/vimWebSessionEmpty.yaml
Labels: ASIM

#7147 iboss: Fixed Package
  Solutions/iboss/Package/1.0.0.zip
  Solutions/iboss/Package/2.0.0.zip
  Solutions/iboss/Package/2.0.1.zip
  Solutions/iboss/Package/mainTemplate.json
  Solutions/iboss/SolutionMetadata.json
Labels: Solution

#7125 bugfix: in Un/Isolate-MDE-Machine-entityTrigger Playbook
  Playbooks/Isolate-MDE-Machine-entityTrigger/azuredeploy.json
  Playbooks/Unisolate-MDE-Machine-entityTrigger/azuredeploy.json
Labels: Playbook

#7150 Cloudflare solution id fix.
  Solutions/Cloudflare/Package/2.0.2.zip
  Solutions/Cloudflare/Package/mainTemplate.json
  Solutions/Cloudflare/SolutionMetadata.json
Labels: Solution

#7154 Update ASIM_Enrich_IdentityInfo.yaml
  ASIM/lib/functions/ASIM_Enrich_IdentityInfo.yaml
Labels: ASIM

#7132 Symantec Endpoint Protection solution moving parser to solution and r…
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/2.0.2.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/Parsers/SymantecEndpointProtection.txt
Labels: Solution

#7160 Updating reference for Microsoft 365 solution
  Detections/OfficeActivity/External User added to Team and immediately uploads file.yaml
  Detections/OfficeActivity/ExternalUserAddedRemovedInTeams.yaml
  Detections/OfficeActivity/MailItemsAccessedTimeSeries.yaml
  Detections/OfficeActivity/Mail_redirect_via_ExO_transport_rule.yaml
  Detections/OfficeActivity/Malicious_Inbox_Rule.yaml
  Detections/OfficeActivity/MultipleTeamsDeletes.yaml
  Detections/OfficeActivity/Office_MailForwarding.yaml
  Detections/OfficeActivity/Office_Uploaded_Executables.yaml
  Detections/OfficeActivity/RareOfficeOperations.yaml
  Detections/OfficeActivity/SharePoint_Downloads_byNewIP.yaml
  Detections/OfficeActivity/SharePoint_Downloads_byNewUserAgent.yaml
  Detections/OfficeActivity/StrontiumCredHarvesting.yaml
  Detections/OfficeActivity/exchange_auditlogdisabled.yaml
  Detections/OfficeActivity/office_policytampering.yaml
  Hunting Queries/OfficeActivity/AnomolousUserAccessingOtherUsersMailbox.yaml
  Hunting Queries/OfficeActivity/ExternalUserAddedRemovedInTeams_HuntVersion.yaml
  Hunting Queries/OfficeActivity/ExternalUserFromNewOrgAddedToTeams.yaml
  Hunting Queries/OfficeActivity/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Hunting Queries/OfficeActivity/MultiTeamBot.yaml
  Hunting Queries/OfficeActivity/MultiTeamOwner.yaml
  Hunting Queries/OfficeActivity/MultipleTeamsDeletes.yaml
  Hunting Queries/OfficeActivity/NewBotAddedToTeams.yaml
  Hunting Queries/OfficeActivity/New_WindowsReservedFileNamesOnOfficeFileServices.yaml
  Hunting Queries/OfficeActivity/OfficeMailForwarding_hunting.yaml
  Hunting Queries/OfficeActivity/TeamsFilesUploaded.yaml
  Hunting Queries/OfficeActivity/UserAddToTeamsAndUploadsFile.yaml
  Hunting Queries/OfficeActivity/WindowsReservedFileNamesOnOfficeFileServices.yaml
  Hunting Queries/OfficeActivity/new_adminaccountactivity.yaml
  Hunting Queries/OfficeActivity/new_sharepoint_downloads_by_IP.yaml
  Hunting Queries/OfficeActivity/new_sharepoint_downloads_by_UserAgent.yaml
  Hunting Queries/OfficeActivity/nonowner_MailboxLogin.yaml
  Hunting Queries/OfficeActivity/powershell_or_nonbrowser_MailboxLogin.yaml
  Hunting Queries/OfficeActivity/sharepoint_downloads.yaml
Labels: Solution

#7171 GCP IAM instruction update.
  Solutions/GoogleCloudPlatformIAM/Data Connectors/azuredeploy_GCP_IAM_API_FunctionApp.json
Labels: dataconnector-cri

#7026 Adding data connector of Prisma cloud Compute
  Solutions/PrismaCloudCompute/Data Connectors/Images/Accesskey_details.png
  Solutions/PrismaCloudCompute/Data Connectors/Images/Accesskey_results.png
  Solutions/PrismaCloudCompute/Data Connectors/Images/New_Service_account.png
  Solutions/PrismaCloudCompute/Data Connectors/Images/access_control.png
  Solutions/PrismaCloudCompute/Data Connectors/Images/add_option.png
  Solutions/PrismaCloudCompute/Data Connectors/Images/console_portal.png
  Solutions/PrismaCloudCompute/Data Connectors/Images/setting.png
  Solutions/PrismaCloudCompute/Data Connectors/PrismaCloudCompute_CLV2.json
  Solutions/PrismaCloudCompute/Data Connectors/readme.md
  Solutions/PrismaCloudCompute/Package/2.0.0.zip
  Solutions/PrismaCloudCompute/Package/createUiDefinition.json
  Solutions/PrismaCloudCompute/Package/mainTemplate.json
Labels: Connector, Solution

#7099 New Solution Package (V2.0.2) - Changes to analytic rules
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTDenialofService.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTExcessiveLoginAttempts.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTFirmwareUpdates.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTHighBandwidth.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTINoSensorTrafficDetected.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTIllegalFunctionCodes.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTInsecurePLC.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTInternetAccess.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTMalware.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTNetworkScanning.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTPLCStopCommand.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedDevice.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedNetworkConfiguration.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedPLCModifications.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedRemoteAccess.yaml
Labels: Detection

#7152 Fix for Palo Alto Prisma CSPM - Parser failing Bug
  Solutions/PaloAltoPrismaCloud/Data/Solution_PaloAltoPrismaCloud.json
  Solutions/PaloAltoPrismaCloud/Package/2.0.2.zip
  Solutions/PaloAltoPrismaCloud/Package/createUiDefinition.json
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
  Solutions/PaloAltoPrismaCloud/Parsers/PaloAltoPrismaCloud.txt
  Solutions/PaloAltoPrismaCloud/SolutionMetadata.json
Labels: Solution

#7170 Fortiweb Repackaging Changes
  Solutions/FortiWebCloud/Data Connectors/Fortiweb.json
  Solutions/FortiWebCloud/Data/Solution_FortiWebCloud.json
  Solutions/FortiWebCloud/Package/2.0.1.zip
  Solutions/FortiWebCloud/Package/createUiDefinition.json
  Solutions/FortiWebCloud/Package/mainTemplate.json
  Solutions/FortiWebCloud/Playbooks/FortiWebCustomConnector/azuredeploy.json
  Solutions/FortiWebCloud/SolutionMetadata.json
  Solutions/FortiWebCloud/Workbooks/Fortiweb-workbook.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7133 Repackage Legacy IOC
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ActiniumFeb2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/BariumDomainIOC112020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/BariumIPIOC112020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/CERIUMOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ChiaCryptoMining.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DEV-0322_SolarWinds_Serv-U_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Dev-0530_July2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Dev-0586_Jan2022_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ExchangeServerVulnerabilitiesMarch2021IoCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/GalliumIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/HAFNIUMUmServiceSuspiciousFile.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/HiveRansomwareJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/IridiumIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/KNOTWEEDAVDetection.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/KNOTWEEDC2DomainsJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/KNOTWEEDFileHashesJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/KnownPHOSPHORUSDomainsIP-October2020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MSHTMLVuln.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Manganese_VPN-IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/NICKELIOCsNov2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/NOBELIUM_DomainIOCsMarch2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/NOBELIUM_IOCsMay2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Nobelium_FoggyWeb.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/PHOSPHORUSMarch2019IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/POLONIUMIPIoC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/SOURGUM_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/STRONTIUMOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/SUNSPOTLogFile.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Solorigate-Network-Beacon.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Solorigate-VM-Network.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/TarraskHashIoC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ThalliumIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/WSLMalwareCorrelation.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ZincJan272021IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ZincOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Package/2.0.1.zip
  Solutions/Legacy IOC based Threat Protection/Package/createUiDefinition.json
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
Labels: Solution
