Repository Azure/Azure-Sentinel, pull requests merged in 2023-09, with the labels that each got.

#8922 Fix version for IPEntity_AzureActivity
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureActivity.yaml
Labels: Solution, Analytic Rules

#8898 Repackaging - Netwrix Auditor (MMA to AMA Migration)
  Solutions/Netwrix Auditor/Data Connectors/Connector_NetwrixAuditor.json
  Solutions/Netwrix Auditor/Data Connectors/template_NetwrixAuditorAMA.json
  Solutions/Netwrix Auditor/Data/Solution_Netwrix.json
  Solutions/Netwrix Auditor/Package/3.0.0.zip
  Solutions/Netwrix Auditor/Package/createUiDefinition.json
  Solutions/Netwrix Auditor/Package/mainTemplate.json
  Solutions/Netwrix Auditor/Parsers/NetwrixAuditor.txt
  Solutions/Netwrix Auditor/ReleaseNotes.md
Labels: Solution, Content-Package

#8904 Repackaging - Forcepoint NGFW (MMA to AMA Migration)
  Solutions/Forcepoint NGFW/Data Connectors/FORCEPOINT_NGFW.json
  Solutions/Forcepoint NGFW/Data Connectors/template_FORCEPOINT_NGFWAMA.json
  Solutions/Forcepoint NGFW/Data/Solution_ForcepointNGFW.json
  Solutions/Forcepoint NGFW/Package/3.0.0.zip
  Solutions/Forcepoint NGFW/Package/createUiDefinition.json
  Solutions/Forcepoint NGFW/Package/mainTemplate.json
  Solutions/Forcepoint NGFW/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package

#8916 Repackaging - Forcepoint CASB (MMA to AMA Migration)
  Solutions/Forcepoint CASB/Data Connectors/Forcepoint CASB.json
  Solutions/Forcepoint CASB/Data Connectors/template_Forcepoint CASBAMA.json
  Solutions/Forcepoint CASB/Data/Solution_ForcepointCASB.json
  Solutions/Forcepoint CASB/Data/system_generated_metadata.json
  Solutions/Forcepoint CASB/Package/3.0.0.zip
  Solutions/Forcepoint CASB/Package/createUiDefinition.json
  Solutions/Forcepoint CASB/Package/mainTemplate.json
  Solutions/Forcepoint CASB/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#8908 add IdentityInfo/BehaviourAnalytics to missing detections
  Detections/AuditLogs/AdditionofaTemporaryAccessPasstoaPrivilegedAccount.yaml
  Detections/MultipleDataSources/RunCommandUEBABreach.yaml
  Detections/SigninLogs/AuthenticationsofPrivilegedAccountsOutsideofExpectedControls.yaml
  Detections/SigninLogs/PrivilegedUserLogonfromnewASN.yaml
Labels: Detection

#8889 Infoblox 3.0.0 etc
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-HighThreatLevelQueryNotBlockedDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyHighThreatLevelSingleQueryDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-InfobloxCDCMatchFound-LookalikeDomains.yaml
  Solutions/Infoblox Cloud Data Connector/Data Connectors/InfobloxCloudDataConnector.json
  Solutions/Infoblox Cloud Data Connector/Package/3.0.0.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
Labels: Solution

#8930 Update Connector_UploadIndicatorsAPI_template.json
  DataConnectors/Templates/Connector_UploadIndicatorsAPI_template.json
Labels: Connector

#8926 Added Preview tag for data connector of MDO365
  Solutions/Microsoft Defender for Office 365/Data Connectors/template_OfficeATP.JSON
  Solutions/Microsoft Defender for Office 365/Data/Solution_MicrosoftDefenderforOffice365.json
  Solutions/Microsoft Defender for Office 365/Package/3.0.0.zip
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
Labels: Solution, Content-Package

#8913 Switch sign-in and deletion time comparison, and add ResultType sign-in filter for SuspiciousLoginfromDeletedExternalIdentities
  Detections/MultipleDataSources/SuspiciousLoginfromDeletedExternalIdentities.yaml
Labels: Detection

#8910 Updating main template of PaloAltoPrismaCloud for ARM-TTK failure.
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudAclAccessKeysNotRotated.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudAclAllowAllOut.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudAclAllowInToAdminPort.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudAclInAllowAll.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudAnomalousApiKeyActivity.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudHighRiskScoreAlert.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudHighSeverityAlertOpenedForXDays.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudIamAdminGroup.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudInactiveUser.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudMaxRiskScoreAlert.yaml
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudMultipleFailedLoginsUser.yaml
  Solutions/PaloAltoPrismaCloud/Data/system_generated_metadata.json
  Solutions/PaloAltoPrismaCloud/Package/3.0.0.zip
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
Labels: Solution, auto-package

#8935 Microsoft PowerBI solution repacking
  Solutions/Microsoft PowerBI/Data Connectors/template_OfficePowerBI.JSON
  Solutions/Microsoft PowerBI/Data/system_generated_metadata.json
  Solutions/Microsoft PowerBI/Package/3.0.0.zip
  Solutions/Microsoft PowerBI/Package/createUiDefinition.json
  Solutions/Microsoft PowerBI/Package/mainTemplate.json
  Solutions/Microsoft Project/Data Connectors/template_Office365Project.JSON
Labels: Content-Package, auto-package

#8934 Repackaging - vArmour Application Controller(MMA to AMA Migration)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/vArmour Application Controller/Analytic Rules/vArmourApplicationControllerSMBRealmTraversal.yaml
  Solutions/vArmour Application Controller/Data Connectors/Connector_vArmour_AppController_CEF.json
  Solutions/vArmour Application Controller/Data Connectors/template_Connector_vArmour_AppController_CEFAMA.json
  Solutions/vArmour Application Controller/Data/Solution_vArmour.json
  Solutions/vArmour Application Controller/Data/system_generated_metadata.json
  Solutions/vArmour Application Controller/Package/3.0.0.zip
  Solutions/vArmour Application Controller/Package/createUiDefinition.json
  Solutions/vArmour Application Controller/Package/mainTemplate.json
  Solutions/vArmour Application Controller/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0, auto-package

#8932 Web session public preview
  Solutions/Web Session Essentials/Analytic Rules/RarelyRequestedResources.yaml
  Solutions/Web Session Essentials/Workbooks/WebSessionEssentials.json
Labels: Solution, Content-Package

#8915 Commvault Integration with Microsoft Azure Sentinel - V.1.0
  Logos/Commvault-Logo.svg
  Solutions/Commvault Security IQ/Analytic Rules/Data_Alert.yaml
  Solutions/Commvault Security IQ/Analytic Rules/IDP_Alert.yaml
  Solutions/Commvault Security IQ/Analytic Rules/User_Alert.yaml
  Solutions/Commvault Security IQ/Data/Solution_Commvault Security IQ.json
  Solutions/Commvault Security IQ/Package/3.0.0.zip
  Solutions/Commvault Security IQ/Package/createUiDefinition.json
  Solutions/Commvault Security IQ/Package/mainTemplate.json
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/Images/Playbook_commvault_logic_app1.png
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/Images/Playbook_commvault_logic_app2.png
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/Images/Playbook_commvault_logic_app3.png
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/Images/Playbook_commvault_logic_app4.png
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/readme.md
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Cycle_Token.ps1
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_Data_Aging.ps1
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_IDP.ps1
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_User.ps1
  Solutions/Commvault Security IQ/README.md
  Solutions/Commvault Security IQ/ReleaseNotes.md
  Solutions/Commvault Security IQ/SolutionMetadata.json
Labels: Solution

#8940 updating Netskope Data Connector to migrate from v1 API to v2 API
  Solutions/Netskope/Data Connectors/Netskope/AzureFunctionNetskope.zip
  Solutions/Netskope/Data Connectors/Netskope/AzureFunctionNetskope/run.ps1
  Solutions/Netskope/Data Connectors/Netskope/host.json
  Solutions/Netskope/Data Connectors/Netskope/requirements.psd1
Labels: Connector

#8943 Microsoft Project Repackaging
  Solutions/Microsoft Project/Package/3.0.0.zip
  Solutions/Microsoft Project/Package/createUiDefinition.json
  Solutions/Microsoft Project/Package/mainTemplate.json
Labels: Solution

#8945 🐛 Fix incorrect case for severity
  Solutions/Azure Active Directory/Analytic Rules/MFASpammingfollowedbySuccessfullogin.yaml
Labels: Solution, Analytic Rules

#8955 Azurekid - Bugfix DHCP Schema Duration field (ASIM)
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#8956 Skipvalidation for PR 8809
  .script/utils/workbookCheckers/WorkbookPreviewImageValidationSkipList.json
Labels: scripts

#8933 O365 Data: Fix ZIP and add default values for new variables
  DataConnectors/O365 Data/O365APItoAS-Template.zip
  DataConnectors/O365 Data/O365APItoAS-Template/TimerTrigger/run.ps1
Labels: Connector

#8957 Repackaging - vArmour Application Controller
  Solutions/vArmour Application Controller/Data Connectors/template_vArmour_AppControllerAMA.json
  Solutions/vArmour Application Controller/Data/Solution_vArmour.json
  Solutions/vArmour Application Controller/Package/3.0.0.zip
  Solutions/vArmour Application Controller/Package/createUiDefinition.json
  Solutions/vArmour Application Controller/Package/mainTemplate.json
Labels: Solution, Content-Package, P0

#8959 Repackaging - KasperskySecurityCenter
  Solutions/KasperskySecurityCenter/Data Connectors/template_KasperskySCAMA.json
  Solutions/KasperskySecurityCenter/Data/Solution_Kaspersky Security Center.json
  Solutions/KasperskySecurityCenter/Package/3.0.0.zip
  Solutions/KasperskySecurityCenter/Package/createUiDefinition.json
  Solutions/KasperskySecurityCenter/Package/mainTemplate.json
Labels: Solution, Content-Package

#8954 Description containing double quotes via image tag
  .github/workflows/checkAutomatedPR.yaml
Labels: Tools

#8961 Update WorkbookPreviewImageValidationSkipList.json
  .script/utils/workbookCheckers/WorkbookPreviewImageValidationSkipList.json
Labels: scripts

#8937 Repackaging - PingFederate (MMA to AMA Migration)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/PingFederate/Analytic Rules/PingFederateAbnormalPasswordResetsAttempts.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateAuthFromNewSource.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateForbiddenCountry.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateMultiplePasswordResetsForUser.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateNewUserSSO.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateOauthOld.yaml
  Solutions/PingFederate/Analytic Rules/PingFederatePasswordRstReqUnexpectedSource.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateSamlOld.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnexpectedAuthUrl.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnexpectedUserCountry.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnusualMailDomain.yaml
  Solutions/PingFederate/Data Connectors/Connector_CEF_PingFederate.json
  Solutions/PingFederate/Data Connectors/template_PingFederateAMA.json
  Solutions/PingFederate/Data/Solution_PingFederate.json
  Solutions/PingFederate/Data/system_generated_metadata.json
  Solutions/PingFederate/Hunting Queries/PingFederateAuthUrls.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateFailedAuthentications.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateNewUsers.yaml
  Solutions/PingFederate/Hunting Queries/PingFederatePasswordResetRequests.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateRareSources.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateSAMLSubjects.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateTopSources.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateUnusualCountry.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateUnusualSources.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateUsersPaswordsReset.yaml
  Solutions/PingFederate/Package/3.0.0.zip
  Solutions/PingFederate/Package/createUiDefinition.json
  Solutions/PingFederate/Package/mainTemplate.json
  Solutions/PingFederate/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#8942 Repackaging - WireX Network Forensics Platform (MMA to AMA Migration)
  Solutions/WireX Network Forensics Platform/Data Connectors/WireXsystemsNFP(1b).json
  Solutions/WireX Network Forensics Platform/Data Connectors/template_WireXsystemsNFPAMA.json
  Solutions/WireX Network Forensics Platform/Data/Solution_WireXNetworkForensicsPlatform.json
  Solutions/WireX Network Forensics Platform/Data/system_generated_metadata.json
  Solutions/WireX Network Forensics Platform/Package/3.0.0.zip
  Solutions/WireX Network Forensics Platform/Package/createUiDefinition.json
  Solutions/WireX Network Forensics Platform/Package/mainTemplate.json
  Solutions/WireX Network Forensics Platform/ReleaseNotes.md
Labels: Solution, Content-Package, P0, auto-package

#8964 Update WorkbookPreviewImageValidationSkipList.json
  .script/utils/workbookCheckers/WorkbookPreviewImageValidationSkipList.json
Labels: Tools

#7992 MailGuard 365 Sentinel Solution
  .script/tests/KqlvalidationsTests/CustomTables/MailGuard365_Threats_CL.json
  Logos/MailGuard365_logo.svg
  Sample Data/MailGuard365_Threats_CL.csv
  Solutions/MailGuard 365/Data Connectors/MailGuard365.json
  Solutions/MailGuard 365/Hunting Queries/MailGuard365HighConfidenceThreats.yaml
  Solutions/MailGuard 365/Hunting Queries/MailGuard365MalwareThreats.yaml
  Solutions/MailGuard 365/Hunting Queries/MailGuard365PhishingThreats.yaml
  Solutions/MailGuard 365/Package/3.0.0.zip
  Solutions/MailGuard 365/Package/createUiDefinition.json
  Solutions/MailGuard 365/Package/mainTemplate.json
  Solutions/MailGuard 365/ReleaseNotes.md
  Solutions/MailGuard 365/SolutionMetadata.json
  Solutions/MailGuard 365/Workbooks/MailGuard365Dashboard.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#8969 Update WorkbookPreviewImageValidationSkipList.json
  .script/utils/workbookCheckers/WorkbookPreviewImageValidationSkipList.json
Labels: Tools

#8963 Update sapcon-sentinel-ui-agent-kickstart.sh
  Solutions/SAP/sapcon-sentinel-ui-agent-kickstart.sh
Labels: SAP

#8966 Update sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: SAP

#8972 Update WorkbookPreviewImageValidationSkipList.json
  .script/utils/workbookCheckers/WorkbookPreviewImageValidationSkipList.json
Labels: Tools

#8973 Enable workflow from pipeline
  .azure-pipelines/callGithubWorkflow.yaml
  .script/package-automation/invokeGithubWorklow.ps1
Labels: Tools

#8971 Repackaging - Citrix Web App Firewall (MMA to AMA Migration)
  Solutions/Citrix Web App Firewall/Data Connectors/Citrix_WAF.json
  Solutions/Citrix Web App Firewall/Data Connectors/template_Citrix_WAFAMA.json
  Solutions/Citrix Web App Firewall/Data/Solution_CitrixWebAppFirewall.json
  Solutions/Citrix Web App Firewall/Data/system_generated_metadata.json
  Solutions/Citrix Web App Firewall/Package/3.0.0.zip
  Solutions/Citrix Web App Firewall/Package/createUiDefinition.json
  Solutions/Citrix Web App Firewall/Package/mainTemplate.json
  Solutions/Citrix Web App Firewall/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0, auto-package

#8976 Web session public preview
  Solutions/Web Session Essentials/Data/system_generated_metadata.json
  Solutions/Web Session Essentials/Package/3.0.0.zip
  Solutions/Web Session Essentials/Package/mainTemplate.json
  Solutions/Web Session Essentials/Workbooks/WebSessionEssentials.json
Labels: Solution, Content-Package

#8983 Added Release Notes in Web Session Essentials
  Solutions/Web Session Essentials/Package/3.0.0.zip
  Solutions/Web Session Essentials/Package/createUiDefinition.json
  Solutions/Web Session Essentials/ReleaseNotes.md
Labels: Solution

#8991 Update 3.0.0.zip
  Solutions/Contrast Protect/Package/3.0.0.zip
Labels: Solution, P0

#8516 [ASIM: NXLog ASIM DNS PARSER UPDATES]
  .script/tests/KqlvalidationsTests/CustomTables/NXLog_DNS_Server_CL.json
  Parsers/ASimDns/Parsers/ASimDnsMicrosoftNXlog.yaml
  Parsers/ASimDns/Parsers/vimDnsMicrosoftNXlog.yaml
  Parsers/ASimDns/Tests/Microsoft_DNS Server_Dns_DataTest_ASimDnsMicrosoftNXLog.csv
  Parsers/ASimDns/Tests/Microsoft_DNS Server_Dns_DataTest_vimDnsMicrosoftNXLog.csv
  Parsers/ASimDns/Tests/Microsoft_DNS Server_Dns_SchemaTest_ASimDnsMicrosoftNXLog.csv
  Parsers/ASimDns/Tests/Microsoft_DNS Server_Dns_SchemaTest_vimDnsMicrosoftNXLog.csv
  Parsers/ASimDns/Tests/README.md
  Sample Data/ASIM/Microsoft_DNS Server_Dns_IntestedLogs.csv
  Sample Data/ASIM/NXLog_DNS_Server_CL_schema.csv
Labels: ASIM

#8929 Re-add active TI indicator filter to IPEntity_AzureKeyVault
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureKeyVault.yaml
Labels: Solution

#8995 Fixed RemoteIP field parsing in FailedLogonAttempts_UnknownUser.yaml
  Solutions/Syslog/Analytic Rules/FailedLogonAttempts_UnknownUser.yaml
Labels: Solution, Analytic Rules

#8998 Update WorkbookPreviewImageValidationSkipList.json
  .script/utils/workbookCheckers/WorkbookPreviewImageValidationSkipList.json
Labels: Workbook

#8978 EmptyCustomUnifyingParsers
  ASIM/deploy/EmptyCustomUnifyingParsers/ASim_AuditEventCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/Im_AuditEventCustom.json
Labels: ASIM

#8977 New ASIM Schema YAML files
  ASIM/dev/ASimTester/ASimTester.csv
  ASIM/schemas/ASimDHCPEvent.yaml
  ASIM/schemas/ASimFileEvent.yaml
  ASIM/schemas/ASimRegistryEvent.yaml
  ASIM/schemas/ASimUserManagement.yaml
  ASIM/schemas/entities/ASimSystem.yaml
Labels: ASIM

#9004 Yaml format fixes for ASIM schemas
  ASIM/schemas/ASimAuthentication.yaml
  ASIM/schemas/ASimDHCPEvent.yaml
  ASIM/schemas/ASimDns.yaml
  ASIM/schemas/ASimFileEvent.yaml
  ASIM/schemas/ASimRegistryEvent.yaml
Labels: ASIM

#9007 update zip 3.0.0
  Solutions/Forcepoint CSG/Package/3.0.0.zip
  Solutions/Forcepoint CSG/Package/mainTemplate.json
Labels: Solution

#8907 Add Locations to SuccessThenFail_DiffIP_SameUserandApp.yaml
  Solutions/Azure Active Directory/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
Labels: Solution, Analytic Rules

#9009 Recorded future playbooks update
  Playbooks/RecordedFuture-Block-IPs-and-Domains-on-Microsoft-Defender-for-Endpoint/readme.md
  Playbooks/RecordedFuture_C2_Malware_Detect/RecordedFuture_C2_Malware_Detection_ImportToSentinel.json
  Playbooks/RecordedFuture_C2_Malware_Detect/RecordedFuture_C2_Malware_Detection_IndicatorProcessor.json
  Playbooks/RecordedFuture_C2_Malware_Detect/readme.md
  Playbooks/RecordedFuture_COVID19_Related_Domain_Lure_Detect/RecordedFuture_COVID19_Related_Domain_Lure_ImportToSentinel.json
  Playbooks/RecordedFuture_COVID19_Related_Domain_Lure_Detect/RecordedFuture_COVID19_Related_Domain_Lure_IndicatorProcessor.json
  Playbooks/RecordedFuture_COVID19_Related_Domain_Lure_Detect/readme.md
  Playbooks/RecordedFuture_Dom_C2_DNS_Name/readme.md
  Playbooks/RecordedFuture_Generic_Detection/RecordedFuture_Generic_Detection_ImportToSentinel.json
  Playbooks/RecordedFuture_Generic_Detection/RecordedFuture_Generic_Detection_IndicatorProcessor.json
  Playbooks/RecordedFuture_Generic_Detection/readme.md
  Playbooks/RecordedFuture_IOC_Enrichment/readme.md
  Playbooks/RecordedFuture_IP_ActCommC2C/readme.md
  Playbooks/RecordedFuture_IP_Enrichment/readme.md
  Playbooks/RecordedFuture_IP_SCF/readme.md
Labels: Playbook

#8808 New Detection for Multi Cloud
  Detections/MultipleDataSources/BrutforceAttemptOnAzurePortalAndAWSConsolAtSameTime.yaml
  Detections/MultipleDataSources/CrossCloudUnauthorizedCredentialsAccessDetection.yaml
  Detections/MultipleDataSources/SuccessfulAWSConsoleLoginfromIPAddressObservedConductingPasswordSpray.yaml
  Detections/MultipleDataSources/SuspiciousAWSConsolLoginByCredentialAceessAlerts.yaml
  Detections/MultipleDataSources/Unauthorized_user_access_across_AWS_and_Azure.yaml
  Detections/MultipleDataSources/UserImpersonateByAAID.yaml
  Detections/MultipleDataSources/UserImpersonateByRiskyUser.yaml
  Solutions/Amazon Web Services/Analytic Rules/SuspiciousAWSCLICommandExecution.yaml
  Solutions/Amazon Web Services/Analytic Rules/SuspiciousAWSEC2ComputeResourceDeployments.yaml
Labels: Detection

#9013 MainTemplate Generation should use ParserId instead of ParserName
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#9012 09 13 2023 as block hash in defender
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Add_Contributor_Role_1.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Add_Contributor_Role_2.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Add_Contributor_Role_3.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Add_Contributor_Role_4.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_1.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_10.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_2.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_3.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_4.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_5.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_6.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_7.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_8.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_App_Registration_9.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Demo_1.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Demo_2.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Deploy_1.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Deploy_2.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Deploy_3.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Key_Vault_1.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Key_Vault_2.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Key_Vault_3.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Key_Vault_Access_1.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Key_Vault_Access_2.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Key_Vault_Access_3.png
  Playbooks/AS-Block-Hash-in-Defender/Images/BlockHashInDefender_Key_Vault_Access_4.png
  Playbooks/AS-Block-Hash-in-Defender/README.md
  Playbooks/AS-Block-Hash-in-Defender/azuredeploy.json
Labels: Playbook

#8928 New Cloud App sample queries
  .script/tests/KqlvalidationsTests/CustomTables/CloudAppEvents.json
  Hunting Queries/Microsoft 365 Defender/Cloud Apps/aad-group-adds.yaml
  Hunting Queries/Microsoft 365 Defender/Cloud Apps/aad-role-adds.yaml
  Hunting Queries/Microsoft 365 Defender/Cloud Apps/mass-downloads.yaml
Labels: Hunting

#9014 more changes in schema
  ASIM/schemas/ASimDHCPEvent.yaml
  ASIM/schemas/entities/ASimApp.yaml
  ASIM/schemas/entities/ASimSystem.yaml
Labels: ASIM

#9011 Skip packaging for dependabot PRs
  .github/workflows/package-command.yaml
  .github/workflows/package-on-merge.yaml
Labels: Tools

#9016 Commvault Integration with Microsoft Azure Sentinel - V.1.0 (minor changes)
  Solutions/Commvault Security IQ/Data/Solution_Commvault Security IQ.json
  Solutions/Commvault Security IQ/Package/3.0.0.zip
  Solutions/Commvault Security IQ/Package/createUiDefinition.json
  Solutions/Commvault Security IQ/Package/mainTemplate.json
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/readme.md
  Solutions/Commvault Security IQ/README.md
  Solutions/Commvault Security IQ/SolutionMetadata.json
Labels: Solution

#9005 readme file for parsers and typo correction. Update Workbook version
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Analytic Rules/CriticalCmdletsUsageDetection.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Analytic Rules/ServerOrientedWithUserOrientedAdministration.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.0.1.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/ExchangeConfiguration.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/ExchangeEnvironmentList.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/README.md
  Solutions/Microsoft Exchange Security - Exchange On-Premises/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.0.1.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/ExchangeConfiguration.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/ExchangeEnvironmentList.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/README.md
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#9020 Hash and InspectionField added
  ASIM/schemas/ASimFileEvent.yaml
  ASIM/schemas/ASimProcessEvent.yaml
Labels: ASIM

#8622 Fix-Filtering
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimUserManagement/Parsers/ASimUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/ASimUserManagementMicrosoftSecurityEvent.yaml
  Parsers/ASimUserManagement/Parsers/imUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementEmpty.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementMicrosoftSecurityEvent.yaml
  Parsers/ASimUserManagement/README.md
  Sample Data/ASIM/Microsoft_Windows_UserManagement_SecurityEvent_IngestedLogs.csv
  Sample Data/ASIM/Microsoft_Windows_UserManagement_SecurityEvent_Schema.csv
  Sample Data/ASIM/Microsoft_Windows_UserManagement_WindowsEvent_IngestedLogs.csv
  Sample Data/ASIM/Microsoft_Windows_UserManagement_WindowsEvent_Schema.csv
Labels: ASIM

#9026 link fixes
  Playbooks/AS-Sign-Out-Google-User/README.md
Labels: Playbook

#9025 09 16 2023 as recurring host entity
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Add_Contributor_Role_1.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Add_Contributor_Role_2.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Add_Contributor_Role_3.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Add_Contributor_Role_4.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Demo_1.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Deploy_1.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Deploy_2.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Deploy_3.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Deploy_4.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Deploy_5.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Deploy_6.png
  Playbooks/AS-Recurring-Host-Entity/Images/RecurringHostEntity_Sentinel_Workspace_1.png
  Playbooks/AS-Recurring-Host-Entity/README.md
  Playbooks/AS-Recurring-Host-Entity/azuredeploy.json
Labels: Playbook

#9010 zip and azuredeploy
  Solutions/GreyNoiseThreatIntelligence/Data Connectors/GreyNoiseAPISentinelConn.zip
  Solutions/GreyNoiseThreatIntelligence/Data Connectors/azuredeploy_Connector_GreyNoiseAPISentinel_AzureFunction.json
Labels: Connector

#9027 Update WorkbooksMetadata.json
  Workbooks/Images/Preview/DoDZeroTrustWorkbook1Black.png
  Workbooks/Images/Preview/DoDZeroTrustWorkbook1White.png
  Workbooks/Images/Preview/DoDZeroTrustWorkbook2Black.png
  Workbooks/Images/Preview/DoDZeroTrustWorkbook2White.png
  Workbooks/Images/Preview/DoDZeroTrustWorkbook3Black.png
  Workbooks/Images/Preview/DoDZeroTrustWorkbook3White.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#8950 Adding DoD Zero Trust Strategy Workbook v1.0 (Stand-alone)
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/DoDZeroTrustWorkbook.json
Labels: Workbook

#8823 Mdvm connector updates
  DataConnectors/M365Defender-VulnerabilityManagement/azureDeploy.json
  DataConnectors/M365Defender-VulnerabilityManagement/azureDeployNetworkRestricted.json
  DataConnectors/M365Defender-VulnerabilityManagement/main.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/mainNetworkRestricted.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/maintenance/customDcrTables.json
  DataConnectors/M365Defender-VulnerabilityManagement/modules/customDcrTables.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/readme.md
  DataConnectors/M365Defender-VulnerabilityManagement/workbooks/azureDeploy.json
Labels: dataconnector-cri

#9003 HttpHost LogicalType Fix ASimTester.csv
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#9002 Repackaging - Illusive Platform (MMA to AMA Migration)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Illusive Platform/Analytic Rules/Illusive_Detection_Query.yaml
  Solutions/Illusive Platform/Data Connectors/illusive Attack Management System.json
  Solutions/Illusive Platform/Data Connectors/template_IllusivePlatformAMA.json
  Solutions/Illusive Platform/Data/Solution_IllusiveAttackManagementSystem.json
  Solutions/Illusive Platform/Data/system_generated_metadata.json
  Solutions/Illusive Platform/Package/3.0.0.zip
  Solutions/Illusive Platform/Package/createUiDefinition.json
  Solutions/Illusive Platform/Package/mainTemplate.json
  Solutions/Illusive Platform/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0, auto-package

#9028 Repackaging - AI Analyst Darktrace (MMA to AMA Migration)
  Solutions/AI Analyst Darktrace/Data Connectors/AIA-Darktrace.json
  Solutions/AI Analyst Darktrace/Data Connectors/template_AIA-DarktraceAMA.json
  Solutions/AI Analyst Darktrace/Data/Solution_AIAnalystDarktrace.json
  Solutions/AI Analyst Darktrace/Data/system_generated_metadata.json
  Solutions/AI Analyst Darktrace/Package/3.0.0.zip
  Solutions/AI Analyst Darktrace/Package/createUiDefinition.json
  Solutions/AI Analyst Darktrace/Package/mainTemplate.json
  Solutions/AI Analyst Darktrace/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0, auto-package

#9033 Asim/kustoking/fix-windows-usermanagement
  Parsers/ASimUserManagement/Parsers/ASimUserManagementMicrosoftSecurityEvent.yaml
  Parsers/ASimUserManagement/Parsers/imUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementMicrosoftSecurityEvent.yaml
Labels: ASIM

#9044 Removed tabs from YAML files which raises errors when using PyYaml
  Detections/MultipleDataSources/Unauthorized_user_access_across_AWS_and_Azure.yaml
  Solutions/SpyCloud Enterprise Protection/Analytic Rules/SpyCloudEnterpriseProtectionBreachRule.yaml
  Solutions/SpyCloud Enterprise Protection/Analytic Rules/SpyCloudEnterpriseProtectionMalwareRule.yaml
Labels: Solution

#9040 Removed the broken short link from analytic rule.
  Solutions/Windows Security Events/Analytic Rules/ExchangeOABVirtualDirectoryAttributeContainingPotentialWebshell.yaml
Labels: Analytic Rules

#9049 Pavelmirlenko patch 1
  Solutions/Azure Active Directory/Analytic Rules/MFASpammingfollowedbySuccessfullogin.yaml
Labels: Solution, Analytic Rules

#8948 Repackaged Amazon Web Services
  .script/dataConnectorValidator.ts
  .script/utils/dataConnector.ts
  .script/utils/schemas/AWS_ConnectorSchema.json
  .script/utils/schemas/AwsS3_ConnectorSchema.json
  Solutions/Amazon Web Services/Data Connectors/template_AWS.json
  Solutions/Amazon Web Services/Data Connectors/template_AwsS3.json
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Data/system_generated_metadata.json
  Solutions/Amazon Web Services/Package/3.0.0.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Solution, Content-Package, auto-package

#9052 TheHive Package
  Solutions/TheHive/Package/3.0.0.zip
  Solutions/TheHive/Package/createUiDefinition.json
Labels: Solution

#9054 [UPD]PS Downloads Normalized
  Hunting Queries/ASimProcess/imProcess_powershell_downloads.yaml
Labels: Hunting

#9058 09 20 2023 as terminate okta user session from entity
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Access_1.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Access_2.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Access_3.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Access_4.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Demo_1.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Deploy_1.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Deploy_2.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Deploy_3.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Key_Vault_1.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Key_Vault_2.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/UserSessions_Key_Vault_3.png
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/Images/init
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/README.md
  Playbooks/AS-Terminate-Okta-User-Session-From-Entity/azuredeploy.json
Labels: Playbook

#8665 ASIM Authentication schema parser with its sample and test data for SentinelOne
  .script/tests/KqlvalidationsTests/CustomTables/SentinelOne_CL.json
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSentinelOne.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationSentinelOne.yaml
  Parsers/ASimAuthentication/Tests/SentinelOne_ASimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/SentinelOne_ASimAuthentication_SchemaTest.csv
  Parsers/ASimAuthentication/Tests/SentinelOne_vimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/SentinelOne_vimAuthentication_SchemaTest.csv
  Sample Data/ASIM/SentinelOne_ASimAuthentication_IngestedLogs.csv
  Sample Data/ASIM/SentinelOne_ASimAuthentication_RawLogs.json
  Sample Data/ASIM/SentinelOne_CL_Schema.csv
Labels: ASIM

#8666 ASIM DNS schema parser with its sample and test data for SentinelOne
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimDns/Parsers/ASimDns.yaml
  Parsers/ASimDns/Parsers/ASimDnsSentinelOne.yaml
  Parsers/ASimDns/Parsers/imDns.yaml
  Parsers/ASimDns/Parsers/vimDnsSentinelOne.yaml
  Parsers/ASimDns/Tests/SentinelOne_ASimDns_DataTest.csv
  Parsers/ASimDns/Tests/SentinelOne_ASimDns_SchemaTest.csv
  Parsers/ASimDns/Tests/SentinelOne_vimDns_DataTest.csv
  Parsers/ASimDns/Tests/SentinelOne_vimDns_SchemaTest.csv
  Sample Data/ASIM/SentinelOne_ASimDns_IngestedLogs.csv
  Sample Data/ASIM/SentinelOne_ASimDns_RawLogs.json
Labels: ASIM

#8668 ASIM Network Session schema parser with its sample and test data for SentinelOne
  .script/tests/KqlvalidationsTests/CustomTables/SentinelOne_CL.json
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionSentinelOne.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionSentinelOne.yaml
  Parsers/ASimNetworkSession/Tests/SentinelOne_ASimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/SentinelOne_ASimNetworkSession_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/SentinelOne_vimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/SentinelOne_vimNetworkSession_SchemaTest.csv
  Sample Data/ASIM/SentinelOne_ASimNetworkSession_IngestedLogs.csv
  Sample Data/ASIM/SentinelOne_ASimNetworkSession_RawLogs.json
Labels: ASIM

#8670 ASIM User Management schema parser with its sample and test data for SentinelOne
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimUserManagement/Parsers/ASimUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/ASimUserManagementSentinelOne.yaml
  Parsers/ASimUserManagement/Parsers/imUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementSentinelOne.yaml
  Parsers/ASimUserManagement/Tests/SentinelOne_ASimUserManagement_DataTest.csv
  Parsers/ASimUserManagement/Tests/SentinelOne_ASimUserManagement_SchemaTest.csv
  Parsers/ASimUserManagement/Tests/SentinelOne_vimUserManagement_DataTest.csv
  Parsers/ASimUserManagement/Tests/SentinelOne_vimUserManagement_SchemaTest.csv
  Sample Data/ASIM/SentinelOne_ASimUserManagement_IngestedLogs.csv
  Sample Data/ASIM/SentinelOne_ASimUserManagement_RawLogs.json
Labels: ASIM

#9031 Re-branded the "Cyberpion" to "IONIX"
  Logos/ionix-logo.svg
  Solutions/Cyberpion/Data/Solution_Cyberpion.json
  Solutions/IONIX/Analytic Rules/HighUrgencyActionItems.yaml
  Solutions/IONIX/Data Connectors/IONIXSecurityLogs.json
  Solutions/IONIX/Data/Solution_IONIX.json
  Solutions/IONIX/Package/2.0.0.zip
  Solutions/IONIX/Package/2.0.1.zip
  Solutions/IONIX/Package/3.0.0.zip
  Solutions/IONIX/Package/createUiDefinition.json
  Solutions/IONIX/Package/mainTemplate.json
  Solutions/IONIX/ReleaseNotes.md
  Solutions/IONIX/SolutionMetadata.json
  Solutions/IONIX/Workbooks/IONIXOverviewWorkbook.json
  Solutions/IONIX/Workbooks/Images/Logos/ionix-logo.svg
  Solutions/IONIX/Workbooks/Images/Previews/IONIXActionItemsBlack.png
  Solutions/IONIX/Workbooks/Images/Previews/IONIXActionItemsWhite.png
  Workbooks/Images/Logos/ionix-logo.svg
  Workbooks/Images/Preview/IONIXActionItemsBlack.png
  Workbooks/Images/Preview/IONIXActionItemsWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9076 V rusraut/akamai security events
  Solutions/Akamai Security Events/Data Connectors/Connector_CEF_Akamai.json
  Solutions/Akamai Security Events/Data Connectors/template_AkamaiSecurityEventsAMA.json
  Solutions/Akamai Security Events/Package/3.0.0.zip
  Solutions/Akamai Security Events/Package/mainTemplate.json
Labels: Solution, Content-Package

#9039 Added shorten url for function app and azure deploy
  Solutions/MimecastAudit/Data Connectors/MimecastAudit_API_AzureFunctionApp.json
  Solutions/MimecastAudit/Data Connectors/azuredeploy_MimecastAudit_AzureFunctionApp.json
  Solutions/MimecastAudit/Package/3.0.0.zip
  Solutions/MimecastAudit/Package/mainTemplate.json
Labels: Solution

#9050 Issue Fix #8951 - Update PIMElevationRequestRejected.yaml
  Solutions/Azure Active Directory/Analytic Rules/PIMElevationRequestRejected.yaml
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Data/system_generated_metadata.json
  Solutions/Azure Active Directory/Package/3.0.3.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/ReleaseNotes.md
Labels: Analytic Rules, Content-Package

#8678 ASIM Registry schema parser with its sample and test data for SentinelOne
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimRegistryEvent/Parsers/ASimRegistry.yaml
  Parsers/ASimRegistryEvent/Parsers/ASimRegistryEventSentinelOne.yaml
  Parsers/ASimRegistryEvent/Parsers/imRegistry.yaml
  Parsers/ASimRegistryEvent/Parsers/vimRegistryEventSentinelOne.yaml
  Parsers/ASimRegistryEvent/test/SentinelOne_vimRegistryEvent_DataTest.csv
  Parsers/ASimRegistryEvent/test/SentinelOne_vimRegistryEvent_SchemaTest.csv
  Sample Data/ASIM/SentinelOne_ASimRegistryEvent_IngestedLogs.csv
  Sample Data/ASIM/SentinelOne_ASimRegistryEvent_RawLogs.json
Labels: ASIM

#9081 Addinf metadata for DoD Zero workbook
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#9083 update createUiDefinition and zip
  Solutions/Trend Micro Apex One/Package/3.0.0.zip
  Solutions/Trend Micro Apex One/Package/createUiDefinition.json
Labels: Solution

#9080 Ignore dependabot pr from azure pipeline
  .azure-pipelines/callGithubWorkflow.yaml
  .github/workflows/checkAutomatedPR.yaml
  .github/workflows/checkPRContentChange.yaml
  .github/workflows/checkSkipPackagingInfo.yaml
  .github/workflows/getSolutionName.yaml
  .github/workflows/neworexistingsolution.yaml
  .github/workflows/package-command.yaml
Labels: Tools

#9082 Updated text Azure Sentinel to Microsoft Sentinel
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/3.0.1.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
Labels: Solution

#9030 Added shorten url for function app and azure deploy
  Solutions/MimecastTTP/Data Connectors/MimecastTTP_API_FunctionApp.json
  Solutions/MimecastTTP/Data Connectors/azuredeploy_MimecastTTP_AzureFunctionApp.json
  Solutions/MimecastTTP/Package/3.0.0.zip
  Solutions/MimecastTTP/Package/mainTemplate.json
Labels: Solution

#8667 ASIM File Event schema parser with its sample and test data for SentinelOne
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimFileEvent/Parsers/ASimFileEvent.yaml
  Parsers/ASimFileEvent/Parsers/ASimFileEventSentinelOne.yaml
  Parsers/ASimFileEvent/Parsers/imFileEvent.yaml
  Parsers/ASimFileEvent/Parsers/vimFileEventSentinelOne.yaml
  Parsers/ASimFileEvent/test/SentinelOne_ASimFileEvent_DataTest.csv
  Parsers/ASimFileEvent/test/SentinelOne_ASimFileEvent_SchemaTest.csv
  Parsers/ASimFileEvent/test/SentinelOne_vimFileEvent_DataTest.csv
  Parsers/ASimFileEvent/test/SentinelOne_vimFileEvent_SchemaTest.csv
  Sample Data/ASIM/SentinelOne_ASimFileEvent_IngestedLogs.csv
  Sample Data/ASIM/SentinelOne_ASimFileEvent_RawLogs.json
Labels: ASIM

#8862 Update on GitHub Advanced Security workbook
  Solutions/GitHub/Package/3.0.1.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/Workbooks/GitHubWorkbook.json
Labels: Workbook, Solution

#9096 Updated package zip
  Solutions/IONIX/Package/3.0.0.zip
Labels: Solution

#9071 Commvault Integration with Microsoft Azure Sentinel - V.1.0 (matching the darsy and github package)
  Solutions/Commvault Security IQ/Package/3.0.0.zip
  Solutions/Commvault Security IQ/Package/mainTemplate.json
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/readme.md
Labels: Solution

#9085 Filter out exclusion list so that package is not created
  .script/package-automation/getSolutionName.ps1
Labels: Tools

#9097 Repackaging - ArubaClearPass
  Solutions/Aruba ClearPass/Data Connectors/Connector_Syslog_ArubaClearPass.json
  Solutions/Aruba ClearPass/Data Connectors/template_ArubaClearPassAMA.json
  Solutions/Aruba ClearPass/Package/3.0.1.zip
  Solutions/Aruba ClearPass/Package/mainTemplate.json
Labels: Solution, Content-Package

#9100 Removed blank parenthesis from Web Session Essentials
  Solutions/Web Session Essentials/Package/3.0.0.zip
  Solutions/Web Session Essentials/Package/mainTemplate.json
Labels: Solution

#9084 Repackaging - PaloAltoCDL (MMA to AMA Migration)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLConflictingMacAddress.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLDroppingSessionWithSentTraffic.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLFileTypeWasChanged.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLInboundRiskPorts.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossibleAttackWithoutResponse.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossibleFlooding.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPossiblePortScan.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPrivilegesWasChanged.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLPutMethodInHighRiskFileType.yaml
  Solutions/PaloAltoCDL/Analytic Rules/PaloAltoCDLUnexpectedCountries.yaml
  Solutions/PaloAltoCDL/Data Connectors/Connector_PaloAlto_CDL_CEF.json
  Solutions/PaloAltoCDL/Data Connectors/template_PaloAlto_CDLAMA.json
  Solutions/PaloAltoCDL/Data/Solution_PaloAltoCDL.json
  Solutions/PaloAltoCDL/Data/system_generated_metadata.json
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLCriticalEventResult.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLFilePermissionWithPutRequest.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLIPsByPorts.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLIncompleteApplicationProtocol.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLMultiDenyResultbyUser.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLOutdatedAgentVersions.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLOutdatedConfigVersions.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLRareApplicationLayerProtocol.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLRareFileRequests.yaml
  Solutions/PaloAltoCDL/Hunting Queries/PaloAltoCDLRarePortsbyUser.yaml
  Solutions/PaloAltoCDL/Package/3.0.0.zip
  Solutions/PaloAltoCDL/Package/createUiDefinition.json
  Solutions/PaloAltoCDL/Package/mainTemplate.json
  Solutions/PaloAltoCDL/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#8669 ASIM Process Event schema parser with its sample and test data for SentinelOne
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateSentinelOne.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEvent.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventCreate.yaml
  Parsers/ASimProcessEvent/Parsers/imProcess.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessCreate.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateSentinelOne.yaml
  Parsers/ASimProcessEvent/test/SentinelOne_ASimProcessCreate_DataTest.csv
  Parsers/ASimProcessEvent/test/SentinelOne_ASimProcessCreate_SchemaTest.csv
  Parsers/ASimProcessEvent/test/SentinelOne_vimProcessCreate_DataTest.csv
  Parsers/ASimProcessEvent/test/SentinelOne_vimProcessCreate_SchemaTest.csv
  Sample Data/ASIM/SentinelOne_ASimProcessEvent_IngestedLogs.csv
  Sample Data/ASIM/SentinelOne_ASimProcessEvent_RawLogs.json
Labels: ASIM

#8154 [SOLUTION: NXLog DNSLogs 3.0.0]
  Solutions/NXLogDnsLogs/Data Connectors/NXLogDnsLogs.json
  Solutions/NXLogDnsLogs/Data/Solution_NXLogDnsLogs.json
  Solutions/NXLogDnsLogs/Package/3.0.0.zip
  Solutions/NXLogDnsLogs/Package/createUiDefinition.json
  Solutions/NXLogDnsLogs/Package/mainTemplate.json
  Solutions/NXLogDnsLogs/Parsers/ASimDnsMicrosoftNXLog.yaml
  Solutions/NXLogDnsLogs/SolutionMetadata.json
Labels: ASIM, Solution

#9107 Update readme.md o365
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/readme.md
Labels: Solution

#9106 addition of two new actions in o365
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/GetInboxRule/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/GetInboxRule/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/O365DefenderFunctionApp.zip
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/RemoveInboxRule/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/RemoveInboxRule/run.ps1
Labels: dataconnector-cri, Solution

#9108 Updated CreateUI file - Salesforce Service Cloud solution
  Solutions/Salesforce Service Cloud/Data/Solution_TSalesforceCloudtemplateSpec.json
  Solutions/Salesforce Service Cloud/Package/3.0.0.zip
  Solutions/Salesforce Service Cloud/Package/createUiDefinition.json
Labels: Solution, Content-Package

#9061 Update NRT_AuthenticationMethodsChangedforVIPUsers.yaml
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/Azure Active Directory/Analytic Rules/NRT_AuthenticationMethodsChangedforVIPUsers.yaml
  Solutions/Azure Active Directory/Package/3.0.3.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/ReleaseNotes.md
Labels: Solution, Analytic Rules

#9062 Update CiscoUmbrella_API_FunctionApp.json
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_API_FunctionApp.json
  Solutions/CiscoUmbrella/Data/system_generated_metadata.json
  Solutions/CiscoUmbrella/Package/3.0.0.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/Package/mainTemplate.json
  Solutions/CiscoUmbrella/ReleaseNotes.md
  Solutions/Workplace from Facebook/Data Connectors/WorkplaceFacebook/WorkplaceFacebook_Webhooks_FunctionApp.json
  Solutions/Workplace from Facebook/Package/3.0.0.zip
  Solutions/Workplace from Facebook/Package/createUiDefinition.json
  Solutions/Workplace from Facebook/Package/mainTemplate.json
  Solutions/Workplace from Facebook/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package

#9117 Update README.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
Labels: dataconnector-cri

#9110 [feedly solution] fix issues
  Solutions/Feedly/Data Connectors/Feedly_API_AzureFunctionApp.json
  Solutions/Feedly/Package/3.0.0.zip
  Solutions/Feedly/Package/mainTemplate.json
  Solutions/Feedly/SolutionMetadata.json
Labels: Solution

#9091 fixing links, typo
  Solutions/HolmSecurity/Data Connectors/HolmSecurityAssets_API_FunctionApp.json
  Solutions/HolmSecurity/Data/Solution_HolmSecurity.json
  Solutions/HolmSecurity/Package/3.0.0.zip
  Solutions/HolmSecurity/Package/createUiDefinition.json
  Solutions/HolmSecurity/Package/mainTemplate.json
  Solutions/HolmSecurity/ReleaseNotes.md
  Solutions/HolmSecurity/SolutionMetadata.json
Labels: Solution

#9115 Repackaging - CiscoSEG (MMA to AMA Migration)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGDLPViolation.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMaliciousAttachmentNotBlocked.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMultipleLargeEmails.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMultipleSuspiciousEmails.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGPossibleOutbreak.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGPotentialLinkToMalwareDownload.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGSuspiciousLink.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGSuspiciousSenderDomain.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnclassifiedLink.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnexpextedAttachment.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnscannableAttachment.yaml
  Solutions/CiscoSEG/Data Connectors/Connector_Cisco_SEG_CEF.json
  Solutions/CiscoSEG/Data Connectors/template_CiscoSEGAMA.json
  Solutions/CiscoSEG/Data/Solution_CiscoSEG.json
  Solutions/CiscoSEG/Data/system_generated_metadata.json
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGDroppedInMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGDroppedOutMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedDKIMFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedDMARKFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedSPFFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedTLSIn.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedTLSOut.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGInsecureProtocol.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGSpamMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGUsersReceivedSpam.yaml
  Solutions/CiscoSEG/Package/3.0.0.zip
  Solutions/CiscoSEG/Package/createUiDefinition.json
  Solutions/CiscoSEG/Package/mainTemplate.json
  Solutions/CiscoSEG/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#9095 Repackaging - Cisco Firepower EStreamer (MMA to AMA Migration)
  Solutions/Cisco Firepower EStreamer/Data Connectors/CiscoFirepowerEStreamerCollector.json
  Solutions/Cisco Firepower EStreamer/Data Connectors/template_CiscoFirepowerEStreamerAMA.json
  Solutions/Cisco Firepower EStreamer/Data/Solution_Cisco Firepower EStreamer.json
  Solutions/Cisco Firepower EStreamer/Package/3.0.0.zip
  Solutions/Cisco Firepower EStreamer/Package/createUiDefinition.json
  Solutions/Cisco Firepower EStreamer/Package/mainTemplate.json
  Solutions/Cisco Firepower EStreamer/ReleaseNotes.md
Labels: Solution, Content-Package, P0, auto-package

#9088 Repackaging - PaloAlto-PAN-OS (MMA to AMA Migration)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/PaloAlto-PAN-OS/Analytic Rules/FileHashEntity_Covid19_CommonSecurityLog.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-NetworkBeaconing.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-PortScanning.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-UnusualThreatSignatures.yaml
  Solutions/PaloAlto-PAN-OS/Data Connectors/PaloAltoNetworks.json
  Solutions/PaloAlto-PAN-OS/Data Connectors/template_PaloAlto-PAN-OSAMA.json
  Solutions/PaloAlto-PAN-OS/Hunting Queries/Palo Alto - potential beaconing detected.yaml
  Solutions/PaloAlto-PAN-OS/Hunting Queries/PaloAlto-HighRiskPorts.yaml
  Solutions/PaloAlto-PAN-OS/Package/3.0.0.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetSystemInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetSystemInfo/readme.md
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
  Solutions/PaloAlto-PAN-OS/data/system_generated_metadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#9121 addition of new playbook to o365 solution
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-DeleteMaliciousInboxRule/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-DeleteMaliciousInboxRule/images/o365-DeleteMaliciousInboxRule_entitymapping.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-DeleteMaliciousInboxRule/images/o365-DeleteMaliciousInboxRule_light.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-DeleteMaliciousInboxRule/readme.md
Labels: Playbook, Solution, Content-Package
