Repository Azure/Azure-Sentinel, pull requests merged in 2023-10, with the labels that each got.

#9093 Updating entity mappings to remove legacy support and map additional entities - Set 1
  Detections/AzureActivity/RareRunCommandPowerShellScript.yaml
  Detections/AzureAppServices/AVScan_Failure.yaml
  Detections/AzureAppServices/AVScan_Infected_Files_Found.yaml
  Detections/CommonSecurityLog/Wazuh-Large_Number_of_Web_errors_from_an_IP.yaml
  Detections/DeviceProcessEvents/SolarWinds_SUNBURST_Process-IOCs.yaml
  Detections/LAQueryLogs/UserSearchingForVIPUserActivity.yaml
Labels: Detection

#9123 Repackaging - F5 Networks (MMA to AMA Migration)
  Solutions/F5 Networks/Data Connectors/template_F5.JSON
  Solutions/F5 Networks/Data Connectors/template_F5NetworksAMA.JSON
  Solutions/F5 Networks/Data/Solution_F5 Networks.json
  Solutions/F5 Networks/Package/3.0.0.zip
  Solutions/F5 Networks/Package/createUiDefinition.json
  Solutions/F5 Networks/Package/mainTemplate.json
  Solutions/F5 Networks/ReleaseNotes.md
  Solutions/F5 Networks/SolutionMetadata.json
Labels: Solution, Content-Package, P0, auto-package

#8981 Repackaging - Infoblox Cloud Data Connector (MMA to AMA Migration)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-DataExfiltrationAttack.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-HighThreatLevelQueryNotBlockedDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyHighThreatLevelQueriesFromSingleHostDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyHighThreatLevelSingleQueryDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyNXDOMAINDNSResponsesDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-CommonSecurityLogMatchFound-MalwareC2.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-InfobloxCDCMatchFound-LookalikeDomains.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-SyslogMatchFound-URL.yaml
  Solutions/Infoblox Cloud Data Connector/Data Connectors/InfobloxCloudDataConnector.json
  Solutions/Infoblox Cloud Data Connector/Data Connectors/template_InfobloxCloudDataConnectorAMA.json
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/3.0.1.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Incident-Enrichment-Domains/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0

#9136 Update PossibleBeaconingActivity.yaml
  Solutions/Network Session Essentials/Analytic Rules/PossibleBeaconingActivity.yaml
Labels: Analytic Rules

#9057 Create Process Tree function from make-graph
  Functions/DeviceProcessEvents-ProcessTree.kql
Labels: Function

#9138 update link in createUiDefintion and zip
  Solutions/Trend Micro Apex One/Package/3.0.0.zip
  Solutions/Trend Micro Apex One/Package/createUiDefinition.json
Labels: Solution

#9140 Updated workbook datatype to fix duplicates
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/3.0.2.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9143 10 03 2023 as update okta network zone from entity
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Access_1.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Access_2.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Access_3.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Access_4.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Demo_1.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Demo_2.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Deploy_1.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Deploy_2.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Deploy_3.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Key_Vault_1.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Key_Vault_2.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/Images/NetworkZone_Key_Vault_3.png
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/README.md
  Playbooks/AS-Update-Okta-Network-Zone-From-Entity/azuredeploy.json
Labels: Playbook

#9135 Remove properties that are empty and null
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#9144 Added MFA Registartion Queries
  Hunting Queries/AuditLogs/AccountMFAModifications.yaml
  Solutions/Azure Active Directory/Analytic Rules/SuspiciousSignInFollowedByMFAModification.yaml
  Solutions/Azure Active Directory/Data/system_generated_metadata.json
  Solutions/Azure Active Directory/Package/3.0.4.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution, Hunting, Analytic Rules

#9154 Update Logo URL for SpyCloud Enterprise Solution in maintemplate.json file
  Solutions/SpyCloud Enterprise Protection/Package/3.0.0.zip
  Solutions/SpyCloud Enterprise Protection/Package/mainTemplate.json
Labels: Solution

#9155 Removed blob from the logo URL
  Solutions/SpyCloud Enterprise Protection/Package/3.0.0.zip
  Solutions/SpyCloud Enterprise Protection/Package/createUiDefinition.json
Labels: Solution

#9109 Wiz solution fix workbook
  Solutions/Wiz/Package/2.0.0.zip
  Solutions/Wiz/Package/createUiDefinition.json
  Solutions/Wiz/Package/mainTemplate.json
  Workbooks/Images/Logos/Wiz_logo.svg
  Workbooks/Images/Preview/WizFindingsBlack1.png
  Workbooks/Images/Preview/WizFindingsBlack2.png
  Workbooks/Images/Preview/WizFindingsBlack3.png
  Workbooks/Images/Preview/WizFindingsWhite1.png
  Workbooks/Images/Preview/WizFindingsWhite2.png
  Workbooks/Images/Preview/WizFindingsWhite3.png
  Workbooks/WizFindings.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9156 wiz solution zip and release notes
  Solutions/Wiz/Package/2.0.0.zip
  Solutions/Wiz/ReleaseNotes.md
Labels: Solution

#9164 Improving entity mapping - Set 2
  Detections/MultipleDataSources/AADAWSConsoleCorrelation.yaml
  Detections/MultipleDataSources/AADHostLoginCorrelation.yaml
  Detections/MultipleDataSources/AAD_PAVPN_Correlation.yaml
  Detections/MultipleDataSources/ADFS-DKM-MasterKey-Export.yaml
  Detections/MultipleDataSources/AWSConsoleAADCorrelation.yaml
  Detections/MultipleDataSources/Accountcreatedfromnon-approvedsources.yaml
  Detections/MultipleDataSources/AnomalousIPUsageFollowedByTeamsAction.yaml
  Detections/MultipleDataSources/AuditPolicyManipulation_using_auditpol.yaml
Labels: Detection

#9160 minor fixes
  Solutions/HolmSecurity/Data/Solution_HolmSecurity.json
  Solutions/HolmSecurity/Package/3.0.1.zip
  Solutions/HolmSecurity/Package/mainTemplate.json
  Solutions/HolmSecurity/ReleaseNotes.md
Labels: Solution

#9165 Repackaging - PaloAltoPanOS
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/PaloAlto-PAN-OS/Analytic Rules/FileHashEntity_Covid19_CommonSecurityLog.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-NetworkBeaconing.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-PortScanning.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-UnusualThreatSignatures.yaml
  Solutions/PaloAlto-PAN-OS/Data Connectors/PaloAltoNetworks.json
  Solutions/PaloAlto-PAN-OS/Data Connectors/template_PaloAlto-PAN-OSAMA.json
  Solutions/PaloAlto-PAN-OS/Hunting Queries/Palo Alto - potential beaconing detected.yaml
  Solutions/PaloAlto-PAN-OS/Hunting Queries/PaloAlto-HighRiskPorts.yaml
  Solutions/PaloAlto-PAN-OS/Package/3.0.0.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP-EntityTrigger/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL-EntityTrigger/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetSystemInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetThreatPCAP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetURLCategoryInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/readme.md
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#9168 Egress-Defend
  Solutions/Egress Defend/Package/3.0.0.zip
  Solutions/Egress Defend/Package/createUiDefinition.json
  Solutions/Egress Defend/Package/mainTemplate.json
Labels: Solution

#9169 Update 3.0.0.zip
  Solutions/PaloAlto-PAN-OS/Package/3.0.0.zip
Labels: Solution

#9141 Update SharePoint_Downloads_byNewIP.yaml
  Solutions/Microsoft 365/Analytic Rules/SharePoint_Downloads_byNewIP.yaml
Labels: Solution, Analytic Rules

#9173 Updating data types for Insider risk management Workbook
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/3.0.3.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Workbooks/InsiderRiskManagement.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/system_generated_metadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Solution, Content-Package

#9158 Repackaging - Oracle Cloud Infrastructure (using Azure Function)
  Solutions/Oracle Cloud Infrastructure/Data Connectors/OCI_logs_API_FunctionApp.json
  Solutions/Oracle Cloud Infrastructure/Data/Solution_OCILogs.json
  Solutions/Oracle Cloud Infrastructure/Package/3.0.1.zip
  Solutions/Oracle Cloud Infrastructure/Package/createUiDefinition.json
  Solutions/Oracle Cloud Infrastructure/Package/mainTemplate.json
  Solutions/Oracle Cloud Infrastructure/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package

#8683 ASIM Audit Event schema parser with its sample and test data for SentinelOne
  Parsers/ASimAuditEvent/Parsers/ASimAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventSentinelOne.yaml
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventSentinelOne.yaml
  Parsers/ASimAuditEvent/Tests/SentinelOne_ASimAuditEvent_DataTest.csv
  Parsers/ASimAuditEvent/Tests/SentinelOne_AsimAuditEvent_SchemaTest.csv
  Parsers/ASimAuditEvent/Tests/SentinelOne_vimAuditEvent_DataTest.csv
  Parsers/ASimAuditEvent/Tests/SentinelOne_vimAuditEvent_SchemaTest.csv
  Sample Data/ASIM/SentinelOne_ASimAuditEvent_IngestedLogs.csv
  Sample Data/ASIM/SentinelOne_ASimAuditEvent_RawLogs.json
Labels: ASIM

#9176 Update SigninBruteForce-AzurePortal.yaml
  Solutions/Azure Active Directory/Analytic Rules/SigninBruteForce-AzurePortal.yaml
Labels: Solution, Analytic Rules

#9189 Updated Package to fix data type for MicrosoftPerviewInformationProte…
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/3.0.3.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/ReleaseNotes.md
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution, Content-Package

#9193 Fix typo on README.md
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/README.md
Labels: Connector

#9195 Rename filename to lambda
  DataConnectors/AWS-S3/CloudWatchLambdaFunction.py
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
Labels: Connector

#8804 HYAS Protect Initial Commit
  .script/tests/KqlvalidationsTests/CustomTables/HYASProtectDnsSecurityLogs_CL.json
  Solutions/HYAS Protect/Data Connectors/HYASProtect_FunctionApp.json
  Solutions/HYAS Protect/Data Connectors/HyasProtect.zip
  Solutions/HYAS Protect/Data Connectors/HyasProtect/__init__.py
  Solutions/HYAS Protect/Data Connectors/HyasProtect/function.json
  Solutions/HYAS Protect/Data Connectors/HyasProtect/state_manager.py
  Solutions/HYAS Protect/Data Connectors/HyasProtect/utils.py
  Solutions/HYAS Protect/Data Connectors/azuredeploy_Connector_Hyas_AzureFunction.json
  Solutions/HYAS Protect/Data Connectors/host.json
  Solutions/HYAS Protect/Data Connectors/proxies.json
  Solutions/HYAS Protect/Data Connectors/requirements.txt
  Solutions/HYAS Protect/Data/Solution_HyasProtectLogs.json
  Solutions/HYAS Protect/Package/3.0.0.zip
  Solutions/HYAS Protect/Package/createUiDefinition.json
  Solutions/HYAS Protect/Package/mainTemplate.json
  Solutions/HYAS Protect/Parsers/HYASProtectDNS.yaml
  Solutions/HYAS Protect/ReleaseNotes.md
  Solutions/HYAS Protect/SolutionMetadata.json
Labels: Solution

#9094 Atlassian Beacon data connector solution
  .script/tests/KqlvalidationsTests/CustomTables/atlassian_beacon_alerts_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/AtlassianBeacon_Logo.svg
  Sample Data/Custom/AtlassianBeacon.json
  Solutions/Atlassian Beacon/Analytic Rules/AtlassianBeacon_High.yaml
  Solutions/Atlassian Beacon/Data Connectors/AtlassianBeacon_DataConnector.json
  Solutions/Atlassian Beacon/Data/Solution_AtlassianBeacon.json
  Solutions/Atlassian Beacon/Package/3.0.0.zip
  Solutions/Atlassian Beacon/Package/createUiDefinition.json
  Solutions/Atlassian Beacon/Package/mainTemplate.json
  Solutions/Atlassian Beacon/Playbooks/Sync Alerts/azuredeploy.json
  Solutions/Atlassian Beacon/SolutionMetadata.json
Labels: Solution

#9202 Fixed the DataminrPulseAsset watchlist fields related issue.
  Solutions/Dataminr Pulse/Package/3.0.0.zip
  Solutions/Dataminr Pulse/Package/mainTemplate.json
  Solutions/Dataminr Pulse/ReleaseNotes.md
  Solutions/Dataminr Pulse/Watchlists/DataminrPulse-Asset/DataminrPulseAsset.json
Labels: Solution

#9205 MimecastAudit: Updated publisherId
  Solutions/MimecastAudit/Package/3.0.0.zip
  Solutions/MimecastAudit/Package/mainTemplate.json
  Solutions/MimecastAudit/SolutionMetadata.json
Labels: Solution

#9207 MimecastTIRegional: Updated publisherId
  Solutions/MimecastTIRegional/Package/3.0.0.zip
  Solutions/MimecastTIRegional/Package/mainTemplate.json
  Solutions/MimecastTIRegional/SolutionMetadata.json
Labels: Solution

#8996 Solution/threatconnect1
  Logos/ThreatConnect.svg
  Solutions/ThreatConnect/Analytic Rules/ThreatConnect_DomainEntity_DnsEvents.yaml
  Solutions/ThreatConnect/Analytic Rules/ThreatConnect_EmailEntity_OfficeActivity.yaml
  Solutions/ThreatConnect/Analytic Rules/ThreatConnect_EmailEntity_SigninLogs.yaml
  Solutions/ThreatConnect/Analytic Rules/ThreatConnect_IPEntity_NetworkSessions.yaml
  Solutions/ThreatConnect/Analytic Rules/ThreatConnect_URLEntity_OfficeActivity.yaml
  Solutions/ThreatConnect/Data/Solution_ThreatConnect.json
  Solutions/ThreatConnect/Package/3.0.0.zip
  Solutions/ThreatConnect/Package/createUiDefinition.json
  Solutions/ThreatConnect/Package/mainTemplate.json
  Solutions/ThreatConnect/ReleaseNotes.md
  Solutions/ThreatConnect/SolutionMetadata.json
  Solutions/ThreatConnect/Workbooks/Images/Logo/ThreatConnect.svg
  Solutions/ThreatConnect/Workbooks/Images/Preview/ThreatConnectOverviewDark.png
  Solutions/ThreatConnect/Workbooks/Images/Preview/ThreatConnectOverviewWhite.png
  Solutions/ThreatConnect/Workbooks/ThreatConnectOverview.json
  Workbooks/Images/Logos/ThreatConnect.svg
  Workbooks/Images/Preview/ThreatConnectOverviewBlack.png
  Workbooks/Images/Preview/ThreatConnectOverviewWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9213 Update UserAssignedPrivilegedRole.yaml
  Solutions/Azure Active Directory/Analytic Rules/UserAssignedPrivilegedRole.yaml
Labels: Solution, Analytic Rules

#9211 Recorded Future UI corrected
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.0.0.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
Labels: Content-Package, P0

#9179 Repackaging - DigitalGuardianDLP
  Solutions/DigitalGuardianDLP/Data/Solution_DigitalGuardianDLP.json
  Solutions/DigitalGuardianDLP/Data/system_generated_metadata.json
  Solutions/DigitalGuardianDLP/Package/3.0.0.zip
  Solutions/DigitalGuardianDLP/Package/createUiDefinition.json
  Solutions/DigitalGuardianDLP/Package/mainTemplate.json
  Solutions/DigitalGuardianDLP/ReleaseNotes.md
  Solutions/DigitalGuardianDLP/SolutionMetadata.json
  Solutions/DigitalGuardianDLP/Workbooks/DigitalGuardian.json
Labels: Solution, Content-Package, auto-package

#9210 Issue fix :9174 Update NetworkSearchingForGreyNoiseIPbyCVEActivity.yaml
  Playbooks/Update-CVE-IPs-WatchListwithGreyNoise/NetworkSearchingForGreyNoiseIPbyCVEActivity.yaml
Labels: Playbook

#9199 Update DCR-Toolkit Workbook
  Workbooks/DCR-Toolkit.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#9212 GreyNoise Solution - fix typos for marketplace release
  Solutions/GreyNoiseThreatIntelligence/Data/Solution_GreyNoise.json
  Solutions/GreyNoiseThreatIntelligence/Package/3.0.0.zip
  Solutions/GreyNoiseThreatIntelligence/Package/createUiDefinition.json
  Solutions/GreyNoiseThreatIntelligence/Package/mainTemplate.json
Labels: Solution

#9149 Updating query to avoid duplicate values for location
  Solutions/Azure Active Directory/Analytic Rules/SigninBruteForce-AzurePortal.yaml
  Solutions/Azure Active Directory/Analytic Rules/UserAssignedPrivilegedRole.yaml
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/3.0.4.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/ReleaseNotes.md
  Solutions/Azure Active Directory/Workbooks/AzureActiveDirectorySignins.json
Labels: Workbook, Solution, Content-Package, auto-package

#9224 fix publisherId
  Solutions/ThreatConnect/Package/3.0.0.zip
  Solutions/ThreatConnect/Package/createUiDefinition.json
  Solutions/ThreatConnect/Package/mainTemplate.json
  Solutions/ThreatConnect/SolutionMetadata.json
Labels: Solution

#8726 Add-UserManagement-Linux
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimUserManagement/Parsers/ASimUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/ASimUserManagementLinuxAuthpriv.yaml
  Parsers/ASimUserManagement/Parsers/imUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementLinuxAuthpriv.yaml
  Parsers/ASimUserManagement/Tests/Linux_Authpriv_UserManamgent_DataTest.csv
  Parsers/ASimUserManagement/Tests/Linux_Authpriv_UserManamgent_SchemaTest.csv
  Sample Data/ASIM/Linux_Authpriv_UserManagement_IngestedLogs.csv
Labels: ASIM

#9225 Improving entity mapping - Set 3
  Detections/MultipleDataSources/COMRegistryKeyModifiedtoPointtoFileinColorDrivers.yaml
  Detections/MultipleDataSources/Dev-0228FilePathHashesNovember2021.yaml
  Detections/MultipleDataSources/Dev-0530_FileExtRename.yaml
  Detections/MultipleDataSources/EUROPIUM _September2022.yaml
  Detections/MultipleDataSources/EmailAccessviaActiveSync.yaml
  Detections/MultipleDataSources/EuropiumUnusualIdentity.yaml
  Detections/MultipleDataSources/ExchangeWorkerProcessMakingRemoteCall.yaml
  Detections/MultipleDataSources/ForestBlizzardJuly2019IOCs.yaml
Labels: Detection

#9233 Update ReleaseNotes.md
  Solutions/DigitalGuardianDLP/ReleaseNotes.md
Labels: Solution

#9222 Updated Workbook to fix default workspace details
  Solutions/SentinelSOARessentials/Package/3.0.1.zip
  Solutions/SentinelSOARessentials/Package/createUiDefinition.json
  Solutions/SentinelSOARessentials/Package/mainTemplate.json
  Solutions/SentinelSOARessentials/Playbooks/CreateIncident-SharedMailbox/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Incident-Assignment-Shifts/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Incident-Assignment-Shifts/readme.md
  Solutions/SentinelSOARessentials/Playbooks/Post-Message-Slack/readme.md
  Solutions/SentinelSOARessentials/Playbooks/Send-basic-email/README.md
  Solutions/SentinelSOARessentials/Playbooks/Send-basic-email/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Send-email-with-formatted-incident-report/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Send-email-with-formatted-incident-report/readme.md
  Solutions/SentinelSOARessentials/ReleaseNotes.md
  Solutions/SentinelSOARessentials/Workbooks/SecurityOperationsEfficiency.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Solution, Content-Package

#9184 Repackaging - Okta Single Sign-On (using Azure Functions)
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/AzureFunctionOktaSSO_V2/AzureFunctionOktaSSO.zip
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/AzureFunctionOktaSSO_V2/AzureFunctionOktaSSO/function.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/AzureFunctionOktaSSO_V2/AzureFunctionOktaSSO/run.ps1
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/AzureFunctionOktaSSO_V2/host.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/AzureFunctionOktaSSO_V2/profile.ps1
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/AzureFunctionOktaSSO_V2/requirements.psd1
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/CHANGELOG.md
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/Connector_REST_API_FunctionApp_Okta.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/azuredeploy_OktaSingleSignOn_API_FunctionApp_V2.json
  Solutions/Okta Single Sign-On/Hunting Queries/AdminPrivilegeGrant.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/ImpersonationSession.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/RareMFAOperation.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/UserPasswordReset.yaml
  Solutions/Okta Single Sign-On/Package/3.0.0.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/Playbooks/readme.md
  Solutions/Okta Single Sign-On/ReleaseNotes.md
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
  Solutions/Okta Single Sign-On/data/system_generated_metadata.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_API_FunctionApp.json
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.1.zip
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/Parsers/ProofpointTAPEvent.txt
  Solutions/ProofPointTap/Playbooks/Get-ProofPointTapEvents/readme.md
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-AddForensicsInfoToIncident/azuredeploy.json
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-AddForensicsInfoToIncident/readme.md
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-CheckAccountInVAP/azuredeploy.json
  Solutions/ProofPointTap/Playbooks/ProofpointTAP-CheckAccountInVAP/readme.md
  Solutions/ProofPointTap/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package

#9239 Updated publisher ID to fix the issue getting during offer publisher and change the release note order to make latest on top.
  Solutions/Dataminr Pulse/Package/3.0.0.zip
  Solutions/Dataminr Pulse/Package/mainTemplate.json
  Solutions/Dataminr Pulse/ReleaseNotes.md
  Solutions/Dataminr Pulse/SolutionMetadata.json
Labels: Solution

#9231 Update PIMElevationRequestRejected.yaml
  Solutions/Azure Active Directory/Analytic Rules/PIMElevationRequestRejected.yaml
  Solutions/Azure Active Directory/Data/system_generated_metadata.json
  Solutions/Azure Active Directory/Package/3.0.5.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/ReleaseNotes.md
Labels: Analytic Rules

#9246 updated mainTemplate and zip
  Solutions/Okta Single Sign-On/Package/3.0.0.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution

#9223 Repackaging - Qualys VM Knowledgebase
  Solutions/Qualys VM Knowledgebase/Data Connectors/QualysKB_API_FunctionApp.json
  Solutions/Qualys VM Knowledgebase/Data/Solution_QualysKBtemplateSpec.json
  Solutions/Qualys VM Knowledgebase/Data/system_generated_metadata.json
  Solutions/Qualys VM Knowledgebase/Package/3.0.0.zip
  Solutions/Qualys VM Knowledgebase/Package/createUiDefinition.json
  Solutions/Qualys VM Knowledgebase/Package/mainTemplate.json
  Solutions/Qualys VM Knowledgebase/Parsers/QualysKB.txt
  Solutions/Qualys VM Knowledgebase/ReleaseNotes.md
  Solutions/Qualys VM Knowledgebase/SolutionMetadata.json
Labels: Solution, Content-Package

#9251 [feedly] fix function app settings
  Solutions/Feedly/Data Connectors/azuredeploy_Connector_Feedly_AzureFunction.json
Labels: Connector, Solution

#9238 Updating connectivity criteria for Cisco ASA
  Solutions/CiscoASA/Data Connectors/template_CiscoAsaAma.JSON
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/3.0.1.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/Playbooks/readme.md
  Solutions/CiscoASA/ReleaseNotes.md
Labels: Solution, Content-Package

#9247 Update SharePoint_Downloads_byNewUserAgent.yaml
  Solutions/Microsoft 365/Analytic Rules/SharePoint_Downloads_byNewUserAgent.yaml
Labels: Solution, Analytic Rules

#8947 Cognyte Luminar Initial Commit
  Logos/CognyteLuminar.svg
  Solutions/CognyteLuminar/Data Connectors/Cognyte Luminar.zip
  Solutions/CognyteLuminar/Data Connectors/Cognyte Luminar/__init__.py
  Solutions/CognyteLuminar/Data Connectors/Cognyte Luminar/function.json
  Solutions/CognyteLuminar/Data Connectors/Cognyte Luminar/readme.md
  Solutions/CognyteLuminar/Data Connectors/Cognyte Luminar/state_manager.py
  Solutions/CognyteLuminar/Data Connectors/CognyteLuminar_FunctionApp.json
  Solutions/CognyteLuminar/Data Connectors/azuredeploy_LuminarFuncApp_AzureFunction.json
  Solutions/CognyteLuminar/Data Connectors/host.json
  Solutions/CognyteLuminar/Data Connectors/proxies.json
  Solutions/CognyteLuminar/Data Connectors/requirements.txt
  Solutions/CognyteLuminar/Data/Solution_Cognyte_Luminar.json
  Solutions/CognyteLuminar/Package/3.0.0.zip
  Solutions/CognyteLuminar/Package/createUiDefinition.json
  Solutions/CognyteLuminar/Package/mainTemplate.json
  Solutions/CognyteLuminar/ReleaseNotes.md
  Solutions/CognyteLuminar/SolutionMetadata.json
Labels: Solution

#9253 Update Tanium's README file
  Solutions/Tanium/README.md
  Solutions/Tanium/build_solution.sh
  Solutions/Tanium/check_build.sh
Labels: Solution

#9263 Atlassian Beacon solution update and repackage
  Solutions/Atlassian Beacon/Data Connectors/AtlassianBeacon_DataConnector.json
  Solutions/Atlassian Beacon/Data/Solution_AtlassianBeacon.json
  Solutions/Atlassian Beacon/Package/3.0.0.zip
  Solutions/Atlassian Beacon/Package/createUiDefinition.json
  Solutions/Atlassian Beacon/Package/mainTemplate.json
  Solutions/Atlassian Beacon/Playbooks/Sync Alerts/azuredeploy.json
  Solutions/Atlassian Beacon/ReleaseNotes.md
Labels: Solution

#9261 [feedly] fix functionapp runtime
  Solutions/Feedly/Data Connectors/azuredeploy_Connector_Feedly_AzureFunction.json
  Solutions/Feedly/Package/3.0.1.zip
  Solutions/Feedly/Package/createUiDefinition.json
  Solutions/Feedly/Package/mainTemplate.json
  Solutions/Feedly/ReleaseNotes.md
Labels: Connector

#9273 Update AWS_OverlyPermessiveKMS.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_OverlyPermessiveKMS.yaml
Labels: Solution, Analytic Rules

#9258 Hunting query columns corrected in Trend Micro Apex One
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneDataLossPreventionAction.yaml
  Solutions/Trend Micro Apex One/Package/3.0.1.zip
  Solutions/Trend Micro Apex One/Package/createUiDefinition.json
  Solutions/Trend Micro Apex One/Package/mainTemplate.json
  Solutions/Trend Micro Apex One/ReleaseNotes.md
Labels: Solution

#9122 Commit to "Gigamon-Connector"
  .script/tests/KqlvalidationsTests/CustomTables/Gigamon_CL.json
  Logos/gigamon.svg
  Solutions/Gigamon Connector/Data Connectors/Connector_Analytics_Gigamon.json
  Solutions/Gigamon Connector/Data/Solution_Gigamon.json
  Solutions/Gigamon Connector/Package/3.0.0.zip
  Solutions/Gigamon Connector/Package/createUiDefinition.json
  Solutions/Gigamon Connector/Package/mainTemplate.json
  Solutions/Gigamon Connector/ReleaseNotes.md
  Solutions/Gigamon Connector/SolutionMetadata.json
  Solutions/Gigamon Connector/Workbooks/Gigamon.json
  Solutions/Gigamon Connector/Workbooks/Images/Logo/gigamon.svg
  Solutions/Gigamon Connector/Workbooks/Images/Preview/GigamonWorkbookBlack.png
  Solutions/Gigamon Connector/Workbooks/Images/Preview/GigamonWorkbookWhite.png
  Workbooks/Images/Logos/gigamon.svg
  Workbooks/Images/Preview/GigamonWorkbookBlack.png
  Workbooks/Images/Preview/GigamonWorkbookWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#8507 Update Playbook_ARM_Template_Generator.ps1
  Tools/Playbook-ARM-Template-Generator/Playbook_ARM_Template_Generator.zip
  Tools/Playbook-ARM-Template-Generator/src/Playbook_ARM_Template_Generator.ps1
Labels: Tools

#9281 Update WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9257 Updated Windows Firewall solution to add connector
  Solutions/Windows Firewall/Data/Solution_Windows Firewall.json
  Solutions/Windows Firewall/Package/3.0.1.zip
  Solutions/Windows Firewall/Package/createUiDefinition.json
  Solutions/Windows Firewall/Package/mainTemplate.json
Labels: Solution, Content-Package

#9270 Ermes browser security solution
  Logos/Ermes_Browser_Security_Logo.svg
  Solutions/Ermes Browser Security/Data Connectors/ErmesBrowserSecurityEvents.json
  Solutions/Ermes Browser Security/Data Connectors/ErmesBrowserSecurityEvents_ccp/data_connector_definition.json
  Solutions/Ermes Browser Security/Data Connectors/ErmesBrowserSecurityEvents_ccp/data_connector_poller.json
  Solutions/Ermes Browser Security/Data Connectors/ErmesBrowserSecurityEvents_ccp/dcr.json
  Solutions/Ermes Browser Security/Data Connectors/ErmesBrowserSecurityEvents_ccp/table.json
  Solutions/Ermes Browser Security/Data/Solution_ErmesBrowserSecurity.json
  Solutions/Ermes Browser Security/Package/3.0.0.zip
  Solutions/Ermes Browser Security/Package/createUiDefinition.json
  Solutions/Ermes Browser Security/Package/mainTemplate.json
  Solutions/Ermes Browser Security/ReleaseNotes.md
  Solutions/Ermes Browser Security/SolutionMetadata.json
Labels: Solution, Content-Package, P0

#9220 10 13 2023 as mc afee solidcore
  Parsers/AS-McAfeeSolidcore/AS-McAfeeSolidcore.yaml
Labels: Parser

#9283 Fix categories in Packaging tool
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#9286 Change runtime of GuestAccountsAddedinAADGroupsOtherThanTheOnesSpecified to 2h
  Solutions/Azure Active Directory/Analytic Rules/GuestAccountsAddedinAADGroupsOtherThanTheOnesSpecified.yaml
Labels: Solution, Analytic Rules

#9288 Fix typos in Readme
  Solutions/CiscoASA/Playbooks/readme.md
Labels: Playbook, Solution

#9132 fix hostnetwork in update
  Solutions/SAP/sapcon-instance-update.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-ui-agent-kickstart.sh
Labels: SAP

#9277 Update widgets onboarding content for pP
  Widgets/Deployment/Images/entity-behavior-page.png
  Widgets/Deployment/Images/view-widgets.png
  Widgets/Deployment/Images/widget-not-configured.png
  Widgets/Deployment/Images/widgets-onboarding-page.png
  Widgets/Deployment/README.md
Labels: Widgets

#9296 Update azuredeploy_Connector_AliCloud_API_AzureFunction.json for Alibaba Cloud
  Solutions/Alibaba Cloud/DataConnectors/azuredeploy_Connector_AliCloud_API_AzureFunction.json
Labels: Solution

#9294 DC extension update for AAD
  .script/dataConnectorValidator.ts
  .script/utils/dataConnector.ts
  .script/utils/schemas/AzureActiveDirectory_ConnectorSchema.json
  Solutions/Azure Active Directory/Data Connectors/template_AzureActiveDirectory.json
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/3.0.6.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package

#9153 Added Cross-Cloud GCP Detection
  .script/tests/KqlvalidationsTests/CustomTables/GCPAuditLogs.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Detections/MultipleDataSources/Cross-CloudSuspiciousComputeResourcecreationinGCP.yaml
  Detections/MultipleDataSources/CrossCloudSuspiciousUserActivityObservedInGCPEnvourment.yaml
  Detections/MultipleDataSources/SuspiciousVMInstanceCreationActivity.yaml
Labels: Detection

#9298 Update README.md to reflect namechange of imProcess to imProcessEvent
  Parsers/ASimProcessEvent/README.md
Labels: ASIM

#9227 Fix empty array issue and json valid or not after package
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools

#9304 Fix minor issue in checkSkipPackagingInfo & Added log
  .script/package-automation/checkSkipPackagingInfo.ps1
Labels: Tools

#9186 Prisma Cloud Compute Solution Package With CCP CLV2
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/Images/Accesskey_details.png
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/Images/Accesskey_results.png
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/Images/New_Service_account.png
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/Images/access_control.png
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/Images/add_option.png
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/Images/console_portal.png
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/Images/setting.png
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PaloAltoPrismaCloudCWPP_ccp/DCR.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PaloAltoPrismaCloudCWPP_ccp/connectorDefinition.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PaloAltoPrismaCloudCWPP_ccp/dataConnectorPoller.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PaloAltoPrismaCloudCWPP_ccp/table.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PrismaCloudCompute_CLV2.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/readme.md
  Solutions/Palo Alto Prisma Cloud CWPP/Package/2.0.0.zip
  Solutions/Palo Alto Prisma Cloud CWPP/Package/3.0.0.zip
  Solutions/Palo Alto Prisma Cloud CWPP/Package/createUiDefinition.json
  Solutions/Palo Alto Prisma Cloud CWPP/Package/mainTemplate.json
  Solutions/Palo Alto Prisma Cloud CWPP/ReleaseNotes.md
  Solutions/Palo Alto Prisma Cloud CWPP/SolutionMetadata.json
  Solutions/Palo Alto Prisma Cloud CWPP/data/PrismaCloud.json
  Solutions/PrismaCloudCompute/Package/mainTemplate.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#9305 updated to v1.2
  Workbooks/OptimizationWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#9292 Correlating Disabled Acc IP Signin & Risky O365 Op
  Detections/MultipleDataSources/DisabledAccIPSigninWithRareRiskyOps.yaml
Labels: Hunting
