Repository Azure/Azure-Sentinel, pull requests merged in 2023-11, with the labels that each got.

#9308 Leaderboard Monthly Update - Update stats.md file with Oct 2023 Data
  Tools/stats/stats.md
Labels: Tools

#9131 feat: file transfers analytics rules based on threshold
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_above_threshold.yaml
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_folders_above_threshold.yaml
  Solutions/Syslog/Analytic Rules/sftp_file_transfer_above_threshold.yaml
  Solutions/Syslog/Analytic Rules/sftp_file_transfer_folders_above_threshold.yaml
  Solutions/Windows Forwarded Events/Analytic Rules/moveit_file_transfer_above_threshold.yaml
  Solutions/Windows Forwarded Events/Analytic Rules/moveit_file_transfer_folders_above_threshold.yaml
Labels: Solution, Analytic Rules

#9306 Typos fixed in docs file
  docs/RequiredUpdatesForPlaybookTemplates/PlaybookTemplatesRequiredChanges.md
Labels: Playbook

#9310 Detect privileged role assignments ignoring PIM activations (#9218)
  Solutions/Azure Active Directory/Analytic Rules/UserAssignedNewPrivilegedRole.yaml
Labels: Solution, Analytic Rules

#9316 Updated the link in Symantec VIP solution
  Solutions/Symantec VIP/Data Connectors/Connector_Syslog_SymantecVIP.json
Labels: Connector, Content-Package

#9166 Multiple variables to single
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools

#8664 Prancer Solution
  .script/tests/KqlvalidationsTests/CustomTables/prancer_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/Prancer.svg
  Sample Data/prancer_CL.json
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Disks_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Flow_Logs_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Network_Security_Groups_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/PAC_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Registries_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Sites_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Storage_Accounts_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Subnets_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/VM_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Vaults_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Virtual_Networks_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Data Connectors/PrancerLogData.json
  Solutions/Prancer PenSuiteAI Integration/Data/Solutions_PrancerLogIntegration.json
  Solutions/Prancer PenSuiteAI Integration/Hunting Queries/CSPM_query.yaml
  Solutions/Prancer PenSuiteAI Integration/Hunting Queries/PAC_high_severity_query.yaml
  Solutions/Prancer PenSuiteAI Integration/Package/3.0.0.zip
  Solutions/Prancer PenSuiteAI Integration/Package/createUiDefinition.json
  Solutions/Prancer PenSuiteAI Integration/Package/mainTemplate.json
  Solutions/Prancer PenSuiteAI Integration/ReleaseNotes.md
  Solutions/Prancer PenSuiteAI Integration/SolutionMetadata.json
  Solutions/Prancer PenSuiteAI Integration/Workbooks/PrancerSentinelAnalytics.json
  Workbooks/Images/Logos/Prancer.svg
  Workbooks/Images/Preview/PrancerBlack.png
  Workbooks/Images/Preview/PrancerWhite.png
  Workbooks/PrancerSentinelAnalytics.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9326 Fixed the Brokenlink in Readme.md file
  README.md
Labels: documentation

#9321 Business Email Compromise - Financial Fraud Skip Validation
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/ASimFileEvent/SuspiciousAccessOfBECRelatedDocuments.yaml
  Detections/AWSCloudTrail/SuspiciousAccessOfBECRelatedDocumentsInAWSS3Buckets.yaml
  Detections/AuditLogs/AccountElevatedtoNewRole.yaml
  Detections/AuditLogs/AuthenticationMethodChangedforPrivilegedAccount.yaml
  Detections/AuditLogs/PrivilegedAccountPermissionsChanged.yaml
  Detections/AuditLogs/UserAddedtoAdminRole.yaml
  Detections/OfficeActivity/BEC_MailboxRule.yaml
Labels: Detection

#9331 Issue fix 9214 : Update readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/readme.md
Labels: Playbook

#8603 Initial Branch from old Closed PR #7696
  .script/tests/KqlvalidationsTests/CustomTables/Authomize_v2_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/Authomize.svg
  Sample Data/Authomize_v2_CL.csv
  Solutions/Authomize/Analytic Rules/AWS_role_with_admin_privileges.yaml
  Solutions/Authomize/Analytic Rules/AWS_role_with_shadow_admin_privileges.yaml
  Solutions/Authomize/Analytic Rules/Access_to_AWS_without_MFA.yaml
  Solutions/Authomize/Analytic Rules/Admin_SaaS_account_detected.yaml
  Solutions/Authomize/Analytic Rules/Admin_password_wasnt_updated.yaml
  Solutions/Authomize/Analytic Rules/Chain_of_3_or_more_roles.yaml
  Solutions/Authomize/Analytic Rules/Detect_AWS_IAM_Users.yaml
  Solutions/Authomize/Analytic Rules/Empty_group_with_entitlements.yaml
  Solutions/Authomize/Analytic Rules/IaaS_admin_detected.yaml
  Solutions/Authomize/Analytic Rules/IaaS_policy_not_attached_to_any_identity.yaml
  Solutions/Authomize/Analytic Rules/IaaS_shadow_admin_detected.yaml
  Solutions/Authomize/Analytic Rules/New_direct_access_policy_was_granted.yaml
  Solutions/Authomize/Analytic Rules/New_service_account_gained_access_to_IaaS_resource.yaml
  Solutions/Authomize/Analytic Rules/Password_Exfiltration_over_SCIM.yaml
  Solutions/Authomize/Analytic Rules/Privileged_Machines_Exposed_to_the_Internet.yaml
  Solutions/Authomize/Analytic Rules/Refactor_AWS_policy_based_on_activities.yaml
  Solutions/Authomize/Analytic Rules/Stale_AWS_policy_attachment_to_identity.yaml
  Solutions/Authomize/Analytic Rules/Stale_IAAS_policy_attachment_to_role.yaml
  Solutions/Authomize/Analytic Rules/Unused_IaaS_Policy.yaml
  Solutions/Authomize/Analytic Rules/User_assigned_to_a_default_admin_role.yaml
  Solutions/Authomize/Analytic Rules/User_without_MFA.yaml
  Solutions/Authomize/Data Connectors/AuthomizeCustomConnector.json
  Solutions/Authomize/Data Connectors/AuthomizeSentinelConnector.zip
  Solutions/Authomize/Data Connectors/AuthomizeSentinelConnector/__init__.py
  Solutions/Authomize/Data Connectors/AuthomizeSentinelConnector/azureworker.py
  Solutions/Authomize/Data Connectors/AuthomizeSentinelConnector/function.json
  Solutions/Authomize/Data Connectors/host.json
  Solutions/Authomize/Data Connectors/readme.md
  Solutions/Authomize/Data Connectors/requirements.txt
  Solutions/Authomize/Data/Solution_Authomize.json
  Solutions/Authomize/Hunting queries/Admin_SaaS_account_detected.yaml
  Solutions/Authomize/Hunting queries/Chain_of_3_or_more_roles.yaml
  Solutions/Authomize/Hunting queries/IaaS_admin_detected.yaml
  Solutions/Authomize/Hunting queries/IaaS_shadow_admin_detected.yaml
  Solutions/Authomize/Hunting queries/Password_Exfiltration_over_SCIM_application.yaml
  Solutions/Authomize/Hunting queries/Privileged_Machines_Exposed_to_the_Internet.yaml
  Solutions/Authomize/Package/3.0.0.zip
  Solutions/Authomize/Package/createUiDefinition.json
  Solutions/Authomize/Package/mainTemplate.json
  Solutions/Authomize/ReleaseNotes.md
  Solutions/Authomize/SolutionMetadata.json
  Solutions/Authomize/Workbooks/Authomize.json
  Solutions/Authomize/Workbooks/Images/Preview/AuthomizeITDREventMonitoring-Black.png
  Solutions/Authomize/Workbooks/Images/Preview/AuthomizeITDREventMonitoring-White.png
  Workbooks/Images/Logos/Authomize.svg
  Workbooks/Images/Preview/AuthomizeITDREventMonitoring-Black.png
  Workbooks/Images/Preview/AuthomizeITDREventMonitoring-White.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9302 Retry policy on connection to proofpoint
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofpointSentinelConnector/__init__.py
Labels: Connector, Solution

#9336 Revert "Multiple variables to single"
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools

#9315 10 31 2023 as revoke azure ad user session from entity
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_10.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_4.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_5.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_6.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_7.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_8.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_App_Registration_9.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Demo_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Demo_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Deploy_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Deploy_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Deploy_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Key_Vault_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Key_Vault_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Key_Vault_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Key_Vault_Access_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Key_Vault_Access_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Key_Vault_Access_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/Images/RevokeUserSession_Key_Vault_Access_4.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/README.md
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/azuredeploy.json
Labels: Playbook

#9341 Update content for Azure Function in Readme.md
  Solutions/Authomize/Data Connectors/readme.md
Labels: Solution

#9327 fixed broken dynatrace doc links
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_Attacks.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_AuditLogs.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_Problems.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_RuntimeVulnerabilities.json
  Solutions/Dynatrace/Data/Solution_Dynatrace.json
  Solutions/Dynatrace/Package/3.0.0.zip
  Solutions/Dynatrace/Package/createUiDefinition.json
  Solutions/Dynatrace/Package/mainTemplate.json
  Solutions/Dynatrace/Playbooks/Add_DynatraceApplicationSecurityAttackSourceIpThreatIntelligence/readme.md
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackMSDefender365/readme.md
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackWithSecurityAlerts/readme.md
  Solutions/Dynatrace/Playbooks/Enrich_DynatraceApplicationSecurityAttackIncident/readme.md
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSDefender365/readme.md
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceSentinelSecurityAlerts/readme.md
Labels: Solution

#9342 Update Flow_Logs_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Flow_Logs_High_Severity.yaml
Labels: Solution, Analytic Rules

#9319 Added shortlinks for failing links in Solution
  Solutions/Trend Micro Apex One/Data Connectors/TrendMicro_ApexOne.json
  Solutions/Trend Micro Apex One/Data Connectors/template_TrendMicro_ApexOneAMA.json
  Solutions/Trend Micro Apex One/Data/Solution_Trend Micro Apex One.json
  Solutions/Trend Micro Apex One/Data/system_generated_metadata.json
  Solutions/Trend Micro Apex One/Package/3.0.1.zip
  Solutions/Trend Micro Apex One/Package/createUiDefinition.json
  Solutions/Trend Micro Apex One/Package/mainTemplate.json
Labels: Solution, Content-Package

#9278 fix: replace legacy (not working) F-Secure links with WithSecure links
  Solutions/WithSecureElementsViaConnector/Data Connectors/WithSecureElementsViaConnector.json
  Solutions/WithSecureElementsViaConnector/Data/Solution_WithSecureElementsViaConnector.json
  Solutions/WithSecureElementsViaConnector/Package/3.0.0.zip
  Solutions/WithSecureElementsViaConnector/Package/mainTemplate.json
  Solutions/WithSecureElementsViaConnector/ReleaseNotes.md
Labels: Solution

#9201 Update Zoom data connector to pass Zoom webhook endpoint validation
  DataConnectors/Zoom/ZoomLogs/run.ps1
  DataConnectors/Zoom/azuredeploy.json
  DataConnectors/Zoom/readme.md
  DataConnectors/Zoom/zoom_logs_templateV2.zip
Labels: Connector

#9314 10 31 2023 as revoke azure ad user session from incident
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Add_Contributor_Role_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Add_Contributor_Role_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Add_Contributor_Role_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Add_Contributor_Role_4.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_10.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_4.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_5.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_6.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_7.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_8.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_App_Registration_9.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Demo_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Demo_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Deploy_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Deploy_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Deploy_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Key_Vault_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Key_Vault_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Key_Vault_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Key_Vault_Access_1.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Key_Vault_Access_2.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Key_Vault_Access_3.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/Images/RevokeUserSession_Key_Vault_Access_4.png
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/README.md
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/azuredeploy.json
Labels: Playbook

#9230 Support Fork PR to create package after merge
  .github/workflows/package-on-fork.yaml
  .script/package-automation/package-on-fork-pr.ps1
Labels: Tools

#9351 Revamped CTIS Playbook
  Solutions/Australian Cyber Security Centre/ACSCLogo.png
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/azuredeploy.json
  Solutions/Australian Cyber Security Centre/Playbooks/readme.md
Labels: Solution, Content-Package

#9343 Updating Github Workbook name
  Solutions/GitHub/Package/3.0.2.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/Parsers/GitHubAuditData.txt
  Solutions/GitHub/Parsers/GitHubCodeScanningData.txt
  Solutions/GitHub/Parsers/GitHubDependabotData.txt
  Solutions/GitHub/Parsers/GitHubSecretScanningData.txt
  Solutions/GitHub/Workbooks/GitHub.json
  Solutions/GitHub/data/Solution_GitHub.json
  Solutions/GitHub/data/system_generated_metadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Content-Package, P0, auto-package

#9328 RecordedFutureSolution3.0.2
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.0.2.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-Alert-Importer/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-Playbook-Alert-Importer/azuredeploy.json
  Solutions/Recorded Future/ReleaseNotes.md
  Solutions/Recorded Future/readme.md
Labels: Solution

#9309 v1-update-pr
  Logos/cyborg-logo-full.svg
  Solutions/Cyborg Security HUNTER/Data Connectors/CyborgSecurity_HUNTER.json
  Solutions/Cyborg Security HUNTER/Data/Solution_CyborgSecurity_HUNTER.json
  Solutions/Cyborg Security HUNTER/Hunting Queries/Attempted VBScript Stored in Non-Run CurrentVersion Registry Key Value.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/Excessive Windows Discovery and Execution Processes - Potential Malware Installation.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/LSASS Memory Dumping using WerFault.exe - Command Identification.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/Metasploit Impacket PsExec Process Creation Activity.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/Potential Maldoc Execution Chain Observed.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/PowerShell Pastebin Download.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/Powershell Encoded Command Execution.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/Prohibited Applications Spawning cmd.exe or powershell.exe.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/Proxy VBScript Execution via CurrentVersion Registry Key.yaml
  Solutions/Cyborg Security HUNTER/Hunting Queries/Rundll32 or cmd Executing Application from Explorer - Potential Malware Execution Chain.yaml
  Solutions/Cyborg Security HUNTER/Package/3.0.0.zip
  Solutions/Cyborg Security HUNTER/Package/createUiDefinition.json
  Solutions/Cyborg Security HUNTER/Package/mainTemplate.json
  Solutions/Cyborg Security HUNTER/ReleaseNotes.md
  Solutions/Cyborg Security HUNTER/SolutionMetadata.json
Labels: Solution

#9365 Playbook default name corrected in Microsoft Entra ID
  Solutions/Microsoft Entra ID/Package/3.0.7.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/alert-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/entity-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/incident-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/alert-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/entity-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/incident-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/alert-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/entity-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/incident-trigger/azuredeploy.json
Labels: Solution, Content-Package

#9359 Repackaging - Rebranding Changes
  Solutions/ContinuousDiagnostics&Mitigation/Package/3.0.0.zip
  Solutions/ContinuousDiagnostics&Mitigation/Package/createUiDefinition.json
  Solutions/ContinuousDiagnostics&Mitigation/Package/mainTemplate.json
  Solutions/ContinuousDiagnostics&Mitigation/ReleaseNotes.md
  Solutions/ContinuousDiagnostics&Mitigation/Workbooks/ContinuousDiagnostics&Mitigation.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/3.0.1.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/ReleaseNotes.md
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/MaturityModelForEventLogManagement_M2131.json
  Solutions/NISTSP80053/Package/3.0.0.zip
  Solutions/NISTSP80053/Package/createUiDefinition.json
  Solutions/NISTSP80053/Package/mainTemplate.json
  Solutions/NISTSP80053/Playbooks/Create-AzureDevOpsTask/Open_DevOpsTaskRecommendation.json
  Solutions/NISTSP80053/Playbooks/CreateJiraIssue/Open_JIRATicketRecommendation.json
  Solutions/NISTSP80053/Playbooks/Notify_GovernanceComplianceTeam/Notify_GovernanceComplianceTeam.json
  Solutions/NISTSP80053/ReleaseNotes.md
  Solutions/NISTSP80053/Workbooks/NISTSP80053.json
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
  Solutions/ThreatAnalysis&Response/Package/3.0.0.zip
  Solutions/ThreatAnalysis&Response/Package/createUiDefinition.json
  Solutions/ThreatAnalysis&Response/Package/mainTemplate.json
  Solutions/ThreatAnalysis&Response/ReleaseNotes.md
  Solutions/ThreatAnalysis&Response/Workbooks/DynamicThreatModeling&Response.json
  Solutions/ZeroTrust(TIC3.0)/Package/3.0.0.zip
  Solutions/ZeroTrust(TIC3.0)/Package/createUiDefinition.json
  Solutions/ZeroTrust(TIC3.0)/Package/mainTemplate.json
  Solutions/ZeroTrust(TIC3.0)/ReleaseNotes.md
  Solutions/ZeroTrust(TIC3.0)/Workbooks/ZeroTrustTIC3.json
  Solutions/ZeroTrust(TIC3.0)/readme.md
Labels: Solution, Content-Package

#9262 Modified PR for creation of RidgeSecurity Sentinel Solution
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/RidgeSecurity.svg
  Sample Data/RidgeSecurity_IngestedLogs.csv
  Sample Data/RidgeSecurity_RawLogs.txt
  Sample Data/RidgeSecurity_Schema.csv
  Solutions/RidgeSecurity/Analytic Rules/RidgeSecurity_Risks.yaml
  Solutions/RidgeSecurity/Analytic Rules/RidgeSecurity_Vulnerabilities.yaml
  Solutions/RidgeSecurity/Data Connectors/RidgeSecurity.json
  Solutions/RidgeSecurity/Data/Solution_RidgeSecurity.json
  Solutions/RidgeSecurity/Package/3.0.0.zip
  Solutions/RidgeSecurity/Package/createUiDefinition.json
  Solutions/RidgeSecurity/Package/mainTemplate.json
  Solutions/RidgeSecurity/ReleaseNotes.md
  Solutions/RidgeSecurity/SolutionMetadata.json
Labels: Solution

#9381 Improving entity mapping - Set 4
  Detections/AuditLogs/AdditionofaTemporaryAccessPasstoaPrivilegedAccount.yaml
  Detections/AuditLogs/ApplicationIDURIChanged.yaml
  Detections/AuditLogs/ApplicationRedirectURLUpdate.yaml
  Detections/AuditLogs/ChangestoApplicationLogoutURL.yaml
  Detections/AuditLogs/ChangestoApplicationOwnership.yaml
  Detections/AuditLogs/ChangestoPIMSettings.yaml
  Detections/AuditLogs/ConditionalAccessPolicyModifiedbyNewUser.yaml
  Detections/AuditLogs/End-userconsentstoppedduetorisk-basedconsent.yaml
  Detections/AuditLogs/GuestUsersInvitedtoTenantbyNewInviters.yaml
Labels: Detection, CoreEntityFix

#9287 EntityWork#2
  Detections/SecurityEvent/gte_6_FailedLogons_10m.yaml
  Detections/SigninLogs/AuthenticationAttemptfromNewCountry.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_GuardDuty_template.yaml
  Solutions/DNS Essentials/Analytic Rules/MultipleErrorsReportedForSameDNSQueryStaticThresholdBased.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/ExplicitMFADeny.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AppServiceHTTPLogs.yaml
Labels: Solution, Detection, Analytic Rules, CoreEntityFix

#9388 Disable GitHub Workflow Call from Azure pipeline which creates Auto Package
  azure-pipelines.yml
Labels: Tools

#9380 Identity Info connector fix - replaces #9372
  Detections/MultipleDataSources/SuspiciousVMInstanceCreationActivity.yaml
  Hunting Queries/MultipleDataSources/AADPrivilegedAccountsFailedMFA.yaml
  Hunting Queries/MultipleDataSources/AnomolousSignInsBasedonTime.yaml
  Hunting Queries/MultipleDataSources/CriticalOperationsWithSystemrestore.yaml
  Hunting Queries/MultipleDataSources/PrivilegedAccountPasswordChanges.yaml
  Hunting Queries/MultipleDataSources/PrivilegedAccountsLockedOut.yaml
  Hunting Queries/SigninLogs/AdministratorsAuthenticatingtoAnotherAzureADTenant.yaml
  Hunting Queries/SigninLogs/MFAUserBlocked.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/AuthenticationMethodChangedforPrivilegedAccount.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/PrivilegedAccountPermissionsChanged.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/LegacyAuthAttempt.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/SuccessfulSigninFromNon-CompliantDevice.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/UserAccounts-NewSingleFactorAuth.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/UserAccounts-UnusualLogonTimes.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/UserLoginIPAddressTeleportation.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/new_locations_azuread_signin.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/riskSignInWithNewMFAMethod.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttempts.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-from-NordVPN-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/SuspiciousSignintoPrivilegedAccount.yaml
  Solutions/Microsoft Entra ID Protection/Analytic Rules/CorrelateIPC_Unfamiliar-Atypical.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/AuthenticationMethodsChangedforPrivilegedAccount.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/MFARejectedbyUser.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/PrivilegedAccountsSigninFailureSpikes.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UserAccounts-CABlockedSigninSpikes.yaml
  Solutions/UEBA Essentials/Hunting Queries/newAccountAddedToAdminGroup.yaml
Labels: Solution, Detection, Hunting

#9389 Adding support for SAP agent response
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_AGENT_BASIC_ROLE_V0.0.1.SAP
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_CONNECTOR_ROLE_V0.0.27.SAP
Labels: SAP

#9373 add OMI check for version 1.17.2
  DataConnectors/CEF/cef_troubleshoot.py
Labels: Connector

#9386 Updated mapping for M365 Analytic Rules Detections (Manny's half)
  Solutions/Microsoft 365/Analytic Rules/Office_Uploaded_Executables.yaml
  Solutions/Microsoft 365/Analytic Rules/RareOfficeOperations.yaml
  Solutions/Microsoft 365/Analytic Rules/SharePoint_Downloads_byNewIP.yaml
  Solutions/Microsoft 365/Analytic Rules/exchange_auditlogdisabled.yaml
  Solutions/Microsoft 365/Analytic Rules/office_policytampering.yaml
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_above_threshold.yaml
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_folders_above_threshold.yaml
Labels: Solution, Detection, CoreEntityFix

#9392 Updated the PublisherID
  Solutions/CognyteLuminar/Package/3.0.0.zip
  Solutions/CognyteLuminar/Package/mainTemplate.json
  Solutions/CognyteLuminar/SolutionMetadata.json
Labels: Solution

#9387 Updated M365 Analytical Rules Diana's Half
  Solutions/Microsoft 365/Analytic Rules/External User added to Team and immediately uploads file.yaml
  Solutions/Microsoft 365/Analytic Rules/ExternalUserAddedRemovedInTeams.yaml
  Solutions/Microsoft 365/Analytic Rules/MailItemsAccessedTimeSeries.yaml
  Solutions/Microsoft 365/Analytic Rules/Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Microsoft 365/Analytic Rules/Malicious_Inbox_Rule.yaml
  Solutions/Microsoft 365/Analytic Rules/MultipleTeamsDeletes.yaml
  Solutions/Microsoft 365/Analytic Rules/Office_MailForwarding.yaml
Labels: Solution

#9400 Update Office_Uploaded_Executables.yaml
  Solutions/Microsoft 365/Analytic Rules/Office_Uploaded_Executables.yaml
Labels: Solution, Analytic Rules

#9402 update Release Notes in createUiDefinition and zip
  Solutions/ZeroTrust(TIC3.0)/Package/3.0.0.zip
  Solutions/ZeroTrust(TIC3.0)/Package/createUiDefinition.json
Labels: Solution

#9404 Symantec Proxy SG - Short Link Update for Parser URL
  Solutions/SymantecProxySG/Data Connectors/Connector_Syslog_SymantecProxySG.json
  Solutions/SymantecProxySG/Package/3.0.0.zip
  Solutions/SymantecProxySG/Package/mainTemplate.json
Labels: Solution, Content-Package

#9322 New solution components
  .script/tests/KqlvalidationsTests/CustomFunctions/ExchangeAdminAuditLogs.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Analytic Rules/CriticalCmdletsUsageDetection.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Analytic Rules/ServerOrientedWithUserOrientedAdministration.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data Connectors/ESI-ExchangeAdminAuditLogEvents.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data Connectors/ESI-ExchangeOnPremisesCollector.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data Connectors/azuredeploy_ESI_DCR_Option1MSExchangeAuditLogs.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data/Solution_MicrosoftExchangeSecurity.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.1.0.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/ExchangeAdminAuditLogs.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/MESCheckVIP.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/README.md
  Solutions/Microsoft Exchange Security - Exchange On-Premises/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Watchlists/ExchangeServicesMonitoring.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Watchlists/ExchangeVIP.csv
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Watchlists/ExchangeVIP.json
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.0.2.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/MESCheckVIP.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/README.md
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange Online/Watchlists/ExchangeVIP.csv
  Solutions/Microsoft Exchange Security - Exchange Online/Watchlists/ExchangeVIP.json
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Workbooks/Images/Preview/MicrosoftExchangeLeastPrivilegewithRBAC-OnlineBlack.png
  Workbooks/Images/Preview/MicrosoftExchangeLeastPrivilegewithRBAC-OnlineWhite.png
  Workbooks/Images/Preview/MicrosoftExchangeLeastPrivilegewithRBACBlack.png
  Workbooks/Images/Preview/MicrosoftExchangeLeastPrivilegewithRBACWhite.png
  Workbooks/Images/Preview/MicrosoftExchangeSearchAdminAuditLogBlack.png
  Workbooks/Images/Preview/MicrosoftExchangeSearchAdminAuditLogWhite.png
  Workbooks/Images/Preview/MicrosoftExchangeSecurityMonitoringBlack.png
  Workbooks/Images/Preview/MicrosoftExchangeSecurityMonitoringWhite.png
  Workbooks/Images/Preview/MicrosoftExchangeSecurityReview-OnlineBlack.png
  Workbooks/Images/Preview/MicrosoftExchangeSecurityReview-OnlineWhite.png
  Workbooks/Images/Preview/MicrosoftExchangeSecurityReviewBlack.png
  Workbooks/Images/Preview/MicrosoftExchangeSecurityReviewWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9409 Corelight package updated to 3.0.1
  Solutions/Corelight/Data/Solution_Corelight.json
  Solutions/Corelight/Hunting Queries/CorelightRarePOST.yaml
  Solutions/Corelight/Package/3.0.1.zip
  Solutions/Corelight/Package/mainTemplate.json
  Solutions/Corelight/ReleaseNotes.md
  Solutions/Corelight/SolutionMetadata.json
Labels: Solution, Content-Package, P0

#9410 Update Corelight Zip Package
  Solutions/Corelight/Package/3.0.1.zip
Labels: Solution

#9390 Microsoft Exchange connector query fix
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data Connectors/ESI-ExchangeAdminAuditLogEvents.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data/Solution_MicrosoftExchangeSecurity.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.1.0.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
Labels: Solution, Content-Package

#9411 Repackage Microsoft Entra ID due to update in Analytical Rule
  Solutions/Microsoft Entra ID/Package/3.0.7.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Solution

#9417 resource "google_logging_project_sink" "sentinel-sink" need project data
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPAuditLogsSetup/GCPAuditLogsSetup.tf
Labels: Connector

#9366 [feedly] fix the app service plan
  Solutions/Feedly/Data Connectors/azuredeploy_Connector_Feedly_AzureFunction.json
  Solutions/Feedly/Package/3.0.2.zip
  Solutions/Feedly/Package/mainTemplate.json
  Solutions/Feedly/ReleaseNotes.md
Labels: Solution

#8704 seraphic security connector
  Logos/LogoSeraphicSecurity.svg
  Sample Data/Custom/SeraphicWebSecurity_CL.json
  Solutions/SeraphicSecurity/Data Connectors/SeraphicSecurityConnector.json
  Solutions/SeraphicSecurity/Data/Solution_Seraphic_Security.json
  Solutions/SeraphicSecurity/Package/2.0.0.zip
  Solutions/SeraphicSecurity/Package/createUiDefinition.json
  Solutions/SeraphicSecurity/Package/mainTemplate.json
  Solutions/SeraphicSecurity/ReleaseNotes.md
  Solutions/SeraphicSecurity/SolutionMetadata.json
Labels: Solution

#9419 Update in PublisherID and offerID
  Solutions/Gigamon Connector/Data/Solution_Gigamon.json
  Solutions/Gigamon Connector/Package/3.0.0.zip
  Solutions/Gigamon Connector/Package/mainTemplate.json
  Solutions/Gigamon Connector/SolutionMetadata.json
Labels: Solution

#9412 Update troubleshooting scrip to cope new agent version 1.28.11
  DataConnectors/Syslog/Sentinel_AMA_troubleshoot.py
Labels: dataconnector-cri

#9422 Update the list of Logstash supported versions
  DataConnectors/microsoft-logstash-output-azure-loganalytics/README.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
Labels: dataconnector-cri

#9427 Create azuredeploy_parameters.json
  Solutions/azuredeploy_parameters.json
Labels: Content-Package

#9407 SecurityAlert Entity Mapping Updates
  Detections/SecurityAlert/DetectPIMAlertDisablingActivity.yaml
  Detections/SecurityAlert/Dev-0530AVHits.yaml
  Detections/SecurityAlert/HiveRansomwareAVHits.yaml
  Detections/SecurityAlert/MDE_hitsforADFandAzureSynapsePipelines.yaml
  Detections/SecurityAlert/Massdownload_USBFileCopy.yaml
  Detections/SecurityAlert/Solorigate-Defender-Detections.yaml
  Detections/SecurityAlert/Suspicious_WorkSpaceDeletion_Attempt.yaml
  Detections/SecurityEvent/AADHealthMonAgentRegKeyAccess.yaml
  Detections/SecurityEvent/AADHealthSvcAgentRegKeyAccess.yaml
  Detections/SecurityEvent/ADFSAbnormalEnhancedKeyUsageAttribute-OID.yaml
  Detections/SecurityEvent/AccessibilityFeaturesModification.yaml
  Detections/SecurityEvent/AdminSDHolder_Modifications.yaml
  Detections/SecurityEvent/COMEventSystemLoadingNewDLL.yaml
  Detections/SecurityEvent/DSRMAccountAbuse.yaml
  Detections/SecurityEvent/FakeComputerAccountCreated.yaml
  Detections/SecurityEvent/GroupCreatedAddedToPrivlegeGroup_1h.yaml
  Detections/SecurityEvent/MidnightBlizzard_SuspiciousRundll32Exec.yaml
  Detections/SecurityEvent/MidnightBlizzard_SuspiciousScriptRegistryWrite.yaml
  Detections/SecurityEvent/PotenialResourceBasedConstrainedDelegationAbuse.yaml
  Detections/SecurityEvent/PotentialBuildProcessCompromise.yaml
  Detections/SecurityEvent/PotentialKerberoast.yaml
Labels: Detection, CoreEntityFix

#9431 AnalyticRules Entity Mapping Updates
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOAgentPoolCreatedDeleted.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOAuditStreamDisabled.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADONewExtensionAdded.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOPATUsedWithBrowser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOPipelineModifiedbyNewUser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADORetentionReduced.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOSecretNotSecured.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOVariableModifiedByNewUser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOAdminGroupAdditions.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOHistoricPrPolicyBypassing.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOHistoricServiceConnectionAdds.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOPatSessionMisuse.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOPipelineCreatedDeletedOneDay.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ExternalUpstreamSourceAddedtoAzureDevOpsFeed.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/NRT_ADOAuditStreamDisabled.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/NewAgentAddedToPoolbyNewUserorofNewOS.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/NewPAPCAPCASaddedtoADO.yaml
Labels: Detection, CoreEntityFix

#9330 [Solution] Update Microsoft defender for cloud solution
  .script/dataConnectorValidator.ts
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  .script/utils/dataConnector.ts
  .script/utils/schemas/SecurityAlert_ConnectorSchema.json
  Solutions/Microsoft Defender for Cloud/Analytic Rules/CoreBackupDeletionwithSecurityAlert.yaml
  Solutions/Microsoft Defender for Cloud/Data Connectors/AzureSecurityCenter.JSON
  Solutions/Microsoft Defender for Cloud/Data Connectors/MicrosoftDefenderForCloudTenantBased.json
  Solutions/Microsoft Defender for Cloud/Data/Solution_MicrosoftDefenderforCloud.json
  Solutions/Microsoft Defender for Cloud/Package/3.0.0.zip
  Solutions/Microsoft Defender for Cloud/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Cloud/Package/mainTemplate.json
  Solutions/Microsoft Defender for Cloud/ReleaseNotes.md
Labels: Solution, Content-Package

#9345 Updated Analytic Rules for missing entity mapping
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/Anomalies/UnusualAnomaly.yaml
  Detections/QualysVM/HighNumberofVulnDetected.yaml
  Detections/QualysVM/NewHighSeverityVulnDetectedAcrossMulitpleHosts.yaml
Labels: Detection

#9434 Added support tier validation
  .script/SolutionValidations/validSupportObject.ts
Labels: scripts, P0

#9435 Removed Lastpass due to incorrect name
  Solutions/LastPass/Package/3.0.0.zip
  Solutions/LastPass/ReleaseNotes.md
Labels: Solution

#9432 Entity mapping fixes for BEC solution
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/AccountElevatedtoNewRole.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/AuthenticationMethodChangedforPrivilegedAccount.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/PrivilegedAccountPermissionsChanged.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/SuspiciousAccessOfBECRelatedDocuments.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/UserAddedtoAdminRole.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#9437 Updated Release Notes and zip
  Solutions/AbuseIPDB/ReleaseNotes.md
  Solutions/Azure Activity/Package/3.0.0.zip
  Solutions/Azure Firewall/ReleaseNotes.md
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/3.0.3.zip
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Microsoft Defender Threat Intelligence/Package/3.0.0.zip
  Solutions/Microsoft Defender Threat Intelligence/Package/createUiDefinition.json
Labels: Solution

#9333 Create AS-StealthDefend.yaml
  Parsers/AS-StealthDefend/AS-StealthDefend.yaml
Labels: Parser

#9421 Updating Security Operations Efficiency Workbook
  Solutions/SOC Handbook/Data/Solution_SOC Handbook.json
  Solutions/SOC Handbook/Package/3.0.2.zip
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/ReleaseNotes.md
  Solutions/SOC Handbook/Workbooks/SecurityOperationsEfficiency.json
  Solutions/SentinelSOARessentials/Data/Solution_SentinelSOAREssentials.json
  Solutions/SentinelSOARessentials/Package/3.0.2.zip
  Solutions/SentinelSOARessentials/Package/ReleaseNotes.md
  Solutions/SentinelSOARessentials/Package/mainTemplate.json
  Solutions/SentinelSOARessentials/Workbooks/SecurityOperationsEfficiency.json
  Workbooks/WorkbooksMetadata.json
Labels: Content-Package

#9442 Update ReleaseNotes.md
  Solutions/Azure Firewall/ReleaseNotes.md
Labels: Solution

#9444 updated createUiDefinition and zip
  Solutions/Windows Security Events/Package/3.0.0.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
Labels: Solution

#9446 Change timerange to 1d instead of 3d
  Solutions/Microsoft Entra ID/Analytic Rules/SigninPasswordSpray.yaml
Labels: Solution, Analytic Rules

#9416 fix a bug
  Solutions/RidgeSecurity/Data/Solution_RidgeSecurity.json
  Solutions/RidgeSecurity/Package/3.0.0.zip
  Solutions/RidgeSecurity/Package/createUiDefinition.json
  Solutions/RidgeSecurity/Package/mainTemplate.json
Labels: Solution

#9451 Update McAfeeEPOEvent.yaml
  Solutions/McAfee ePolicy Orchestrator/Parsers/McAfeeEPOEvent.yaml
Labels: Solution, Analytic Rules

#9415 Cyborgsecurity hunter v1 image update
  Logos/cyborgsecurity-logo-75px.svg
  Solutions/Cyborg Security HUNTER/Data/Solution_CyborgSecurity_HUNTER.json
  Solutions/Cyborg Security HUNTER/Package/3.0.0.zip
  Solutions/Cyborg Security HUNTER/ReleaseNotes.md
Labels: Solution

#9454 update createUiDefinition and zip
  Solutions/Cyborg Security HUNTER/Data/Solution_CyborgSecurity_HUNTER.json
  Solutions/Cyborg Security HUNTER/ReleaseNotes.md
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.0.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
Labels: Solution, Content-Package, P0

#9449 Updated steps related to Microsoft Entra ID in Data Connector UI and README.md file.
  Solutions/Dataminr Pulse/Data Connectors/DataminrPulseAlerts/DataminrPulseAlerts_FunctionApp.json
  Solutions/Dataminr Pulse/Data Connectors/DataminrPulseAlerts/README.md
  Solutions/Dataminr Pulse/Package/3.0.0.zip
  Solutions/Dataminr Pulse/Package/createUiDefinition.json
  Solutions/Dataminr Pulse/Package/mainTemplate.json
  Solutions/Dataminr Pulse/ReleaseNotes.md
Labels: Solution

#9445 Updating Data connector extension from .JSON to .json
  .script/dataConnectorValidator.ts
  .script/utils/dataConnector.ts
  .script/utils/schemas/AzureActivity_ConnectorSchema.json
  .script/utils/schemas/PowerBIActivity_ConnectorSchema.json
  .script/utils/schemas/SecurityAlert(ASC)_ConnectorSchema.json
  .script/utils/schemas/SecurityAlert(OATP)_ConnectorSchema.json
  Solutions/Azure Activity/Data Connectors/AzureActivity.json
  Solutions/Barracuda CloudGen Firewall/Data Connectors/template_BarracudaCloudFirewall.json
  Solutions/Barracuda WAF/Data Connectors/template_Barracuda.json
  Solutions/ExtraHop Reveal(x)/Data Connectors/template_ExtraHopNetworks.json
  Solutions/ExtraHop Reveal(x)/Data Connectors/template_ExtraHopReveal(x)AMA.json
  Solutions/F5 Networks/Data Connectors/template_F5.json
  Solutions/F5 Networks/Data Connectors/template_F5NetworksAMA.JSON
  Solutions/F5 Networks/Data Connectors/template_F5NetworksAMA.json
  Solutions/Microsoft Defender for Office 365/Data Connectors/template_OfficeATP.json
  Solutions/Microsoft PowerBI/Data Connectors/template_OfficePowerBI.json
  Solutions/SonicWall Firewall/Data Connectors/SonicwallFirewall.json
  Solutions/SonicWall Firewall/Data Connectors/template_SonicwallFirewallAMA.json
  Solutions/Threat Intelligence/Data Connectors/template_MicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligence.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceTaxii.json
Labels: Connector, Content-Package, P0

#9414 Possible error in copy paste action in detection AWS_CreatedCURDLambdaPolicytoPrivilegEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCURDLambdaPolicytoPrivilegEscalation.yaml
Labels: Solution, Analytic Rules

#9441 Armorblox - Adding entity mapping
  Solutions/Armorblox/Analytic Rules/ArmorbloxNeedsReviewAlert.yaml
  Solutions/Armorblox/Data/Solution_Armorblox.json
  Solutions/Armorblox/Package/3.0.0.zip
  Solutions/Armorblox/Package/createUiDefinition.json
  Solutions/Armorblox/Package/mainTemplate.json
  Solutions/Armorblox/ReleaseNotes.md
  Solutions/Armorblox/SolutionMetadata.json
Labels: Solution, Analytic Rules, Content-Package, P0

#9357 AIShield - Adding entity mapping
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageClassficationModelExtractionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageClassificationModelEvasionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/NaturalLanguageProcessingModelExtractionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TabularClassificationModelExtractionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TimeSeriesForecastingModelExtractionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Data/Solution_AIShield.json
  Solutions/AIShield AI Security Monitoring/Package/3.0.0.zip
  Solutions/AIShield AI Security Monitoring/Package/createUiDefinition.json
  Solutions/AIShield AI Security Monitoring/Package/mainTemplate.json
  Solutions/AIShield AI Security Monitoring/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package, P0

#9459 Repackage - Business Email Compromise - Financial Fraud
  Solutions/Business Email Compromise - Financial Fraud/Data/Solution_BECThreatCentric.json
  Solutions/Business Email Compromise - Financial Fraud/Package/3.0.3.zip
  Solutions/Business Email Compromise - Financial Fraud/Package/createUiDefinition.json
  Solutions/Business Email Compromise - Financial Fraud/Package/mainTemplate.json
  Solutions/Business Email Compromise - Financial Fraud/ReleaseNotes.md
Labels: Solution, Content-Package

#9425 Updated Device Info Table Schema.
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.5.0.nupkg
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.6.0.nupkg
Labels: draft

#9401 Multiple to single object variables object
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools

#9367 updated the Account Entity with CloudAppAccountId identifier
  .script/tests/detectionTemplateSchemaValidation/Models/EntityMappingIdentifiers.cs
Labels: scripts

#9460 BloodHound Enterprise - Add missing entity mappings
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  Solutions/BloodHound Enterprise/Analytic Rules/BloodHoundEnterpriseCriticalAttackPaths.yaml
  Solutions/BloodHound Enterprise/Analytic Rules/BloodHoundEnterpriseExposure.yaml
  Solutions/BloodHound Enterprise/Analytic Rules/BloodHoundEnterpriseTierZeroAssets.yaml
Labels: Solution, Analytic Rules

#9470 Repackaged Australian Cyber Security Centre
  Solutions/Australian Cyber Security Centre/Data/Solution_Australian Cyber Security Centre.json
  Solutions/Australian Cyber Security Centre/Package/3.0.1.zip
  Solutions/Australian Cyber Security Centre/Package/mainTemplate.json
  Solutions/Australian Cyber Security Centre/ReleaseNotes.md
Labels: Solution, Content-Package

#9472 Repackage - Microsoft Defender XDR
  Solutions/Microsoft Defender XDR/Package/3.0.1.zip
  Solutions/Microsoft Defender XDR/Package/createUiDefinition.json
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/Workbooks/MicrosoftDefenderForEndPoint.json
Labels: Solution, Content-Package

#9447 Repackaging - Multi Cloud Attack Coverage Essentials-Resource Abuse Solution
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/MultipleDataSources/BrutforceAttemptOnAzurePortalAndAWSConsolAtSameTime.yaml
  Detections/MultipleDataSources/Cross-CloudSuspiciousComputeResourcecreationinGCP.yaml
  Detections/MultipleDataSources/CrossCloudSuspiciousUserActivityObservedInGCPEnvourment.yaml
  Detections/MultipleDataSources/CrossCloudUnauthorizedCredentialsAccessDetection.yaml
  Detections/MultipleDataSources/SuccessfulAWSConsoleLoginfromIPAddressObservedConductingPasswordSpray.yaml
  Detections/MultipleDataSources/SuspiciousAWSConsolLoginByCredentialAceessAlerts.yaml
  Detections/MultipleDataSources/Unauthorized_user_access_across_AWS_and_Azure.yaml
  Detections/MultipleDataSources/UserImpersonateByAAID.yaml
  Detections/MultipleDataSources/UserImpersonateByRiskyUser.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/BrutforceAttemptOnAzurePortalAndAWSConsolAtSameTime.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/Cross-CloudSuspiciousComputeResourcecreationinGCP.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/CrossCloudSuspiciousUserActivityObservedInGCPEnvourment.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/CrossCloudUnauthorizedCredentialsAccessDetection.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/SuccessfulAWSConsoleLoginfromIPAddressObservedConductingPasswordSpray.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/SuspiciousAWSConsolLoginByCredentialAceessAlerts.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/Unauthorized_user_access_across_AWS_and_Azure.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/UserImpersonateByAAID.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Analytic Rules/UserImpersonateByRiskyUser.yaml
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Data/Solution_MultiCloudAttackCoverageEssentials-ResourceAbuse.json
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Package/3.0.0.zip
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Package/createUiDefinition.json
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Package/mainTemplate.json
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/ReleaseNotes.md
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution, Content-Package

#9485 prancer fix mainTemplate.json
  Solutions/Prancer PenSuiteAI Integration/Package/3.0.0.zip
  Solutions/Prancer PenSuiteAI Integration/Package/mainTemplate.json
Labels: Solution

#9453 Update AzDOServiceConnectionUsage.yaml for missing entity mapping
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOServiceConnectionUsage.yaml
  Solutions/AzureDevOpsAuditing/Package/3.0.1.zip
  Solutions/AzureDevOpsAuditing/Package/mainTemplate.json
  Solutions/AzureDevOpsAuditing/ReleaseNotes.md
Labels: Solution

#9487 Updating solution name to - Multi Cloud Attack Coverage Essentials - Resource Abuse
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/BrutforceAttemptOnAzurePortalAndAWSConsolAtSameTime.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/Cross-CloudSuspiciousComputeResourcecreationinGCP.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/CrossCloudSuspiciousUserActivityObservedInGCPEnvourment.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/CrossCloudUnauthorizedCredentialsAccessDetection.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/SuccessfulAWSConsoleLoginfromIPAddressObservedConductingPasswordSpray.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/SuspiciousAWSConsolLoginByCredentialAceessAlerts.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/Unauthorized_user_access_across_AWS_and_Azure.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/UserImpersonateByAAID.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/UserImpersonateByRiskyUser.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Data/Solution_Multi Cloud Attack Coverage Essentials - Resource Abuse.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/3.0.0.zip
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/createUiDefinition.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/mainTemplate.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/ReleaseNotes.md
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/SolutionMetadata.json
  Solutions/Multi Cloud Attack Coverage Essentials-Resource Abuse/Package/3.0.0.zip
Labels: Solution, Content-Package

#9466 Fix Caps JSON issue in Pipeline packaging
  .script/package-automation/package-generator.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools

#9500 UI corrected for AzureDevAuditing
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOPATUsedWithBrowser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOPipelineModifiedbyNewUser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOVariableModifiedByNewUser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/NewAgentAddedToPoolbyNewUserorofNewOS.yaml
  Solutions/AzureDevOpsAuditing/Hunting Queries/ADOBuildCheckDeleted.yaml
  Solutions/AzureDevOpsAuditing/Hunting Queries/ADOInternalUpstreamPacakgeFeedAdded.yaml
  Solutions/AzureDevOpsAuditing/Package/3.0.1.zip
  Solutions/AzureDevOpsAuditing/Package/createUiDefinition.json
  Solutions/AzureDevOpsAuditing/Package/mainTemplate.json
Labels: Solution

#9499 Updating trigger type for AAD playbook
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.0.9.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/incident-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/incident-trigger/azuredeploy.json
Labels: Solution, Content-Package

#9354 AWS query Entity fixes
  Detections/MultipleDataSources/AADAWSConsoleCorrelation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_APIfromTor.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_ChangeToRDSDatabase.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_ChangeToVPC.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_ClearStopChangeTrailLogs.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_ConsoleLogonWithoutMFA.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCRUDDyanmoDBPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCRUDIAMtoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCRUDKMSPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCRUDS3PolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCURDLambdaPolicytoPrivilegEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCloudFormationPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedDataPipelinePolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedEC2PolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedGluePolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedLambdaPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedSSMPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreationofEncryptKeysWithoutMFA.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CredentialHijack.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_ECRContainerHigh.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_ECRImageScanningDisabled.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_FullAdminPolicyAttachedToRolesUsersGroups.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_GuardDutyDisabled.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_IngressEgressSecurityGroupChange.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_LoadBalancerSecGroupChange.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_LogTampering.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_NetworkACLOpenToAllPorts.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_OverlyPermessiveKMS.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationAdminManagedPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationAdministratorAccessManagedPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationFullAccessManagedPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaCRUDIAMPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaCRUDKMSPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaCRUDLambdaPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaCRUDS3Policy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaCloudFormationPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaDataPipeline.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaEC2Policy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaGluePolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaLambdaPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationViaSSM.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_PrivilegeEscalationviaCRUDDynamoDB.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_RDSInstancePubliclyExposed.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_S3BruteForce.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_S3BucketAccessPointExposed.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_S3BucketExposedviaACL.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_S3BucketExposedviaPolicy.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_S3ObjectPubliclyExposed.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_S3Ransomware.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_SAMLUpdateIdentity.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_SSMPubliclyExposed.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_SetDefaulyPolicyVersion.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_SuspiciousCommandEC2.yaml
  Solutions/Amazon Web Services/Analytic Rules/NRT_AWS_ConsoleLogonWithoutMFA.yaml
  Solutions/Amazon Web Services/Analytic Rules/SuspiciousAWSCLICommandExecution.yaml
  Solutions/Amazon Web Services/Analytic Rules/SuspiciousAWSEC2ComputeResourceDeployments.yaml
Labels: Solution, Detection, 1P Solution, CoreEntityFix

#9486 Theom - Add entity to Analytic Rules
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  Solutions/Microsoft 365/Analytic Rules/ForestBlizzardCredHarvesting.yaml
  Solutions/Theom/Analytic Rules/TRIS0001_Dev_secrets_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0002_National_IDs_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0003_Financial_data_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0004_Healthcare_data_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0005_Unencrypted_public_data_stores.yaml
  Solutions/Theom/Analytic Rules/TRIS0007-10_TRIS0014_Critical_data_in_API_headers_or_body.yaml
  Solutions/Theom/Analytic Rules/TRIS0012_Dev_secrets_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0015_Healthcare_data_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0018_National_IDs_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0026_Financial_data_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0032_Dark_Data_with_large_fin_value.yaml
  Solutions/Theom/Analytic Rules/TRIS0033_Least_priv_large_value_shadow_DB.yaml
  Solutions/Theom/Analytic Rules/TRIS0034_Overprovisioned_Roles_Shadow_DB.yaml
  Solutions/Theom/Analytic Rules/TRIS0035_Shadow_DB_large_datastore_value.yaml
  Solutions/Theom/Analytic Rules/TRIS0036_Shadow_DB_with_atypical_accesses.yaml
  Solutions/Theom/Analytic Rules/TheomRisksCritical.yaml
  Solutions/Theom/Analytic Rules/TheomRisksHigh.yaml
  Solutions/Theom/Analytic Rules/TheomRisksInsights.yaml
  Solutions/Theom/Analytic Rules/TheomRisksLow.yaml
  Solutions/Theom/Analytic Rules/TheomRisksMedium.yaml
Labels: Solution

#9406 ADOMaliciousToolingDetections1
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOMaliciousToolingDetections1.yaml
Labels: Solution, Analytic Rules

#9490 Semperis Directory Services Provider - Update Analytic rules
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_EvidenceOfMimikatzDCShadowAttack.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_KerberoskrbtgtAccount.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_RecentsIDHistoryChangesOnADObjects.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_WellKnownPrivilegedSIDsInsIDHistory.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_ZerologonVulnerability.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Failed_Logons.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Operations_Critical_Notifications_.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_RBAC_Changes.yaml
Labels: Solution, Analytic Rules, P0

#9514 DefenderForIoT - Update analytic rule to add IP Entity
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTDenialofService.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTExcessiveLoginAttempts.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTFirmwareUpdates.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTHighBandwidth.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTINoSensorTrafficDetected.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTIllegalFunctionCodes.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTInsecurePLC.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTInternetAccess.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTMalware.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTNetworkScanning.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTPLCStopCommand.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedDevice.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedNetworkConfiguration.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedPLCModifications.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedRemoteAccess.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/3.0.0.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/createUiDefinition.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/mainTemplate.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/AutoCloseIncidents/AutoCloseIncidents.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/ReleaseNotes.md
Labels: Solution, Content-Package

#9513 Removed package folder
  Solutions/Package/mainTemplate.json
Labels: Solution

#8909 Azurekid - Validate-AsimCsv function (ASIM)
  ASIM/dev/ASimTester/Validate-ASimCsv/README.md
  ASIM/dev/ASimTester/Validate-ASimCsv/Validate-ASimCsv.ps1
Labels: ASIM

#9371 Fix-issue-9053
  Parsers/ASimWebSession/Parsers/ASimWebSessionFortinetFortiGate.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionFortinetFortiGate.yaml
Labels: ASIM

#8982 Okta connector
  .script/tests/KqlvalidationsTests/CustomTables/OktaSSO.json
  .script/tests/KqlvalidationsTests/CustomTables/OktaV2_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationOktaOSS.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationOktaOSS.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/DeviceRegistrationMaliciousIP.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/FailedLoginsFromUnknownOrInvalidUser.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/HighRiskAdminActivity.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/LoginfromUsersfromDifferentCountrieswithin3hours.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/MFAFatigue.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/NewDeviceLocationCriticalOperation.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/PasswordSpray.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/PhishingDetection.yaml
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_DCR.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_DataConnectorDefinition.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_PollingConfig.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_Tables.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/azuredeploy_Okta_native_poller_connector_v2.json
  Solutions/Okta Single Sign-On/Hunting Queries/AdminPrivilegeGrant.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/CreateAPIToken.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/ImpersonationSession.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/LegacyAuthentication.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/LoginFromMultipleLocations.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/LoginNordVPN.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/LoginsVPSProvider.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/NewDeviceRegistration.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/RareMFAOperation.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/UserPasswordReset.yaml
  Solutions/Okta Single Sign-On/Package/3.0.1.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/Parsers/OktaSSO.yaml
  Solutions/Okta Single Sign-On/Workbooks/OktaSingleSignOn.json
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
  Workbooks/WorkbooksMetadata.json
Labels: ASIM, Solution
