Repository Azure/Azure-Sentinel, pull requests merged in 2023-08, with the labels that each got.

#8425 add-WebSessionApacheHTTPServer
  .script/tests/KqlvalidationsTests/CustomTables/ApacheHTTPServer_CL.json
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionApacheHTTPServer.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionApacheHTTPServer.yaml
  Parsers/ASimWebSession/Tests/Apache_HTTPServer_WebSession_DataTest.csv.csv
  Parsers/ASimWebSession/Tests/Apache_HTTPServer_WebSession_SchemaTest.csv
  Parsers/ASimWebSession/Tests/README.md
  Parsers/ASimWebSession/test/README.md
Labels: ASIM

#8593 Island sentinel api rate limit and workbook fixes
  Solutions/Island/Data Connectors/IslandAdminAPIConnector.json
  Solutions/Island/Data Connectors/IslandUserAPIConnector.json
  Solutions/Island/Data/Solution_Island.json
  Solutions/Island/Package/3.0.0.zip
  Solutions/Island/Package/createUiDefinition.json
  Solutions/Island/Package/mainTemplate.json
  Solutions/Island/ReleaseNotes.md
  Solutions/Island/SolutionMetadata.json
  Solutions/Island/Workbooks/IslandAdminAuditOverview.json
  Solutions/Island/Workbooks/IslandUserActivityOverview.json
  Solutions/Island/Workbooks/images/IslandEnterpriseBrowserAdminAuditOverview.png
  Solutions/Island/Workbooks/images/IslandEnterpriseBrowserUserActivityOverview.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#8685 update createui and text azure sentinal to microsoft sentinel
  Solutions/Azure Firewall/Package/3.0.0.zip
  Solutions/Azure Firewall/Package/createUiDefinition.json
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-AddIPtoTIAllowList/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addNewRule/entity-trigger/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/azuredeploy.json
  Solutions/Azure Firewall/Playbooks/AzureFirewall-BlockIP-addToIPGroup/entity-trigger/azuredeploy.json
Labels: Solution, Content-Package

#8684 Microsoft defender for office 365
  Solutions/Microsoft Defender for Office 365/Package/3.0.0.zip
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
  Solutions/Microsoft Defender for Office 365/SolutionMetadata.json
Labels: Solution

#8663 Repackaging VMware vCenter solution
  Solutions/VMware vCenter/Data/Solution_vcenter.json
  Solutions/VMware vCenter/Package/3.0.0.zip
  Solutions/VMware vCenter/Package/createUiDefinition.json
  Solutions/VMware vCenter/Package/mainTemplate.json
  Solutions/VMware vCenter/ReleaseNotes.md
Labels: Solution, Content-Package

#8687 Leaderboard Monthly Update - Update stats.md file with Jul 2023 Data
  Tools/stats/stats.md
Labels: Tools

#8686 Updated logos for Proofpoint solutions
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.0.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
  Solutions/Proofpoint On demand(POD) Email Security/Data/Solution_ProofPointPOD.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/3.0.0.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
  Solutions/Proofpoint On demand(POD) Email Security/ReleaseNotes.md
Labels: Solution, Content-Package

#8682 Updating Release Notes for Existing Solutions
  Solutions/AtlassianConfluenceAudit/ReleaseNotes.md
  Solutions/Azure Firewall/ReleaseNotes.md
  Solutions/CiscoMeraki/ReleaseNotes.md
  Solutions/Cloudflare/ReleaseNotes.md
  Solutions/Exabeam Advanced Analytics/ReleaseNotes.md
  Solutions/Illumio Core/ReleaseNotes.md
  Solutions/MaturityModelForEventLogManagementM2131/ReleaseNotes.md
  Solutions/Microsoft 365 Defender/ReleaseNotes.md
  Solutions/NetClean ProActive/ReleaseNotes.md
  Solutions/SOC-Process-Framework/ReleaseNotes.md
  Solutions/SentinelSOARessentials/ReleaseNotes.md
  Solutions/Teams/ReleaseNotes.md
  Solutions/Vectra AI Detect/ReleaseNotes.md
  Solutions/Web Shells Threat Protection/ReleaseNotes.md
Labels: Solution

#8335 ASIM Web Session schema parser with its sample and test data for Barracuda WAF
  .script/tests/KqlvalidationsTests/CustomTables/barracuda_CL.json
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionBarracudaWAF.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionBarracudaWAF.yaml
  Parsers/ASimWebSession/test/Barracuda_WAF_ASimWebSession_DataTest.csv
  Parsers/ASimWebSession/test/Barracuda_WAF_ASimWebSession_SchemaTest.csv
  Parsers/ASimWebSession/test/Barracuda_WAF_vimWebSession_SchemaTest.csv
  Parsers/ASimWebSession/test/Barracuda_WAF_vimwebSession_DataTest.csv
  Sample Data/ASIM/Barracuda_WAF_ASimWebSession_IngestedLogs.csv
  Sample Data/ASIM/barracuda_CL_Schema.csv
Labels: ASIM

#8373 Cortex XDR CCP content creation
  .script/tests/KqlvalidationsTests/CustomTables/CortexXDR_Incidents_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/CortexXDR_Logo.svg
  Sample Data/Custom/CortexXDR_IngestedLogs.csv
  Sample Data/Custom/CortexXDR_RawLogs.json
  Sample Data/Custom/CortexXDR_Schema.csv
  Solutions/Cortex XDR/Analytic Rules/CortexXDR_High.yaml
  Solutions/Cortex XDR/Analytic Rules/CortexXDR_Low.yaml
  Solutions/Cortex XDR/Analytic Rules/CortexXDR_Medium.yaml
  Solutions/Cortex XDR/Data Connectors/CortexXDR_DataConnector.json
  Solutions/Cortex XDR/Data/Solution_CortexXDR.json
  Solutions/Cortex XDR/Package/3.0.0.zip
  Solutions/Cortex XDR/Package/createUiDefinition.json
  Solutions/Cortex XDR/Package/mainTemplate.json
  Solutions/Cortex XDR/ReleaseNotes.md
  Solutions/Cortex XDR/SolutionMetadata.json
Labels: Solution

#8656 Repackaging - Box
  Solutions/Box/Data Connectors/Box_API_FunctionApp.json
  Solutions/Box/Data/Solution_Box.json
  Solutions/Box/Package/3.0.0.zip
  Solutions/Box/Package/createUiDefinition.json
  Solutions/Box/Package/mainTemplate.json
  Solutions/Box/ReleaseNotes.md
Labels: Solution, Content-Package

#8681 Repackaging - Pulse Connect Secure
  Solutions/Pulse Connect Secure/Data/Solution_Pulse Connect Secure.json
  Solutions/Pulse Connect Secure/Package/3.0.0.zip
  Solutions/Pulse Connect Secure/Package/createUiDefinition.json
  Solutions/Pulse Connect Secure/Package/mainTemplate.json
  Solutions/Pulse Connect Secure/ReleaseNotes.md
Labels: Solution, Content-Package

#8675 Updated prerequisites for playbooks
  Solutions/AbuseIPDB/Data/Solution_AbuseIPDB.json
  Solutions/AbuseIPDB/Package/3.0.0.zip
  Solutions/AbuseIPDB/Package/createUiDefinition.json
  Solutions/AbuseIPDB/Package/mainTemplate.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-BlacklistIpToThreatIntelligence/azuredeploy.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-BlacklistIpToThreatIntelligence/readme.md
  Solutions/AbuseIPDB/ReleaseNotes.md
  Solutions/AbuseIPDB/SolutionMetadata.json
Labels: Solution, Content-Package

#8697 Solution id and Tier updated for Nasuni
  Solutions/Nasuni/Data/Solution_Nasuni.json
  Solutions/Nasuni/Package/3.0.1.zip
  Solutions/Nasuni/Package/createUiDefinition.json
  Solutions/Nasuni/Package/mainTemplate.json
  Solutions/Nasuni/ReleaseNotes.md
  Solutions/Nasuni/SolutionMetadata.json
Labels: Solution, Content-Package, P0

#8696 Crowd strike fdrv2
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/azuredeploy_cdfdrv2_connector.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdStrikeReplicator.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdStrikeReplicator_future.yaml
Labels: dataconnector-cri, Parser, Content-Package

#8688 Added condition so that repo checkout doesn't happen
  .azure-pipelines/callGithubWorkflow.yaml
Labels: Tools

#8705 Update CiscoSEMaliciousFiles.yaml
  Solutions/Cisco Secure Endpoint/Hunting Queries/CiscoSEMaliciousFiles.yaml
Labels: Hunting

#8707 Crowdstrike fdrv2
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CrowdstrikeReplicatorV2_ConnectorUI.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdStrikeReplicator.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdstrikeReplicator
Labels: Content-Package

#8702 add Optimization workbook
  Workbooks/Images/Logos/optimization.svg
  Workbooks/Images/Preview/OptimizationWorkbookBlack.png
  Workbooks/Images/Preview/OptimizationWorkbookWhite.png
  Workbooks/OptimizationWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#8711 updated the json file
  Workbooks/OptimizationWorkbook.json
Labels: Workbook

#8712 New query from Kijo Girardi
  Hunting Queries/Microsoft 365 Defender/Email Queries/Email-RemediationAction-List.yaml
Labels: Hunting

#8723 Crowd strike fdrv2
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/azuredeploy_cdfdrv2_connector.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/createUiDefinition_csfdrv2_connector.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CrowdstrikeReplicatorV2_ConnectorUI.json
Labels: Content-Package

#8725 🐛 Fix incorrect field in TI analytic
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureKeyVault.yaml
Labels: Solution, Analytic Rules

#8715 Repackaging - Broadcom SymantecDLP
  Solutions/Broadcom SymantecDLP/Data/Solution_Broadcom SymantecDLP.json
  Solutions/Broadcom SymantecDLP/Package/3.0.0.zip
  Solutions/Broadcom SymantecDLP/Package/createUiDefinition.json
  Solutions/Broadcom SymantecDLP/Package/mainTemplate.json
  Solutions/Broadcom SymantecDLP/ReleaseNotes.md
Labels: Solution, Content-Package

#8724 Sentinel lab refresh - updated module6 - watchlist
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/watchlists11.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-6-Watchlists.md
Labels: Solution

#8480 transformations/filtering review
  Tools/Transformations-Library/Filtering/FilteringRowsDCR.json
  Tools/Transformations-Library/Filtering/README-Sentinel-Repository-CICD.md
  Tools/Transformations-Library/Filtering/README.md
Labels: Tools

#8408 ASIM parsers filtering validations - dynamic tests - part1
  ASIM/dev/ASimTester/filteringTest/ASimFilteringTest.py
  ASIM/dev/ASimTester/filteringTest/Readme.md
Labels: ASIM

#8710 Update/modernize modules
  Solutions/Training/Azure-Sentinel-Training-Lab/Artifacts/LinkedTemplates/alertRules.json
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/Alert-Playbook-Run.gif
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azactivity0.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azactivity2.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azdefender1.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azdefender2.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azdefender3.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/content-manage1.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/content-manage2.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/incident-tagged.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m2-ws-activitylogpolicy.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m2-ws-target-foractivitylogs1.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-analyticsblade.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-azureactivity-select.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-azureactivity-suspicious.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-azureactivity-suspiciousresourcedeployment.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-azureactivity-suspiciousresourcedeployment2.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-azureactivity-suspiciousresourcedeployment3.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-azureactivity-suspiciousresourcedeployment4.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-fusion01.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-fusion02.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-fusion03.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-incident-entity-tab2.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-incident-entity-tab3.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-incident-entity.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-incident_entity.gif
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-microsoft-creation-rule.gif
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-microsoft-creation-rule.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-microsoft-creation-rule02.gif
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-microsoft-creation-rule02.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-microsoft-creation-rule03.gif
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-microsoft-creation-rule03.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m3-rarerdp.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m5-alert-evidence-logs.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/m5-select-alert-events.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/mdti1.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/run-playbook-from-alert1.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/ticontent1.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/ticontent2.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/ticontent3.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/ticontent4.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/ticontent5.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-2-Data-Connectors.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-3-Analytics-Rules.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-4-Incident-Management.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-7-Threat-Intelligence.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-8-Sentinel-Solutions.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/image.png
  Solutions/Training/Azure-Sentinel-Training-Lab/README.md
Labels: Solution

#8454 Tanium solution 2.0.1
  Solutions/Tanium/Data/Solution_Tanium.json
  Solutions/Tanium/Package/2.0.1.zip
  Solutions/Tanium/Package/createUiDefinition.json
  Solutions/Tanium/Package/mainTemplate.json
  Solutions/Tanium/Playbooks/Tanium-Apply-SecurityPatches-WithReboot/README.md
  Solutions/Tanium/Playbooks/Tanium-Apply-SecurityPatches-WithReboot/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-Apply-SecurityPatches-WithReboot/images/Tanium-Apply-SecurityPatches-WithReboot.png
  Solutions/Tanium/Playbooks/Tanium-Apply-SecurityPatches-WithoutReboot/README.md
  Solutions/Tanium/Playbooks/Tanium-Apply-SecurityPatches-WithoutReboot/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-Apply-SecurityPatches-WithoutReboot/images/Tanium-Apply-SecurityPatches-WithoutReboot.png
  Solutions/Tanium/Playbooks/Tanium-ComplyFindings/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-GeneralHostInfo/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-MSDefenderHealth/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-QuarantineHosts/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-ResolveThreatResponseAlert/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-SCCMClientHealth/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-SecurityPatches/README.md
  Solutions/Tanium/Playbooks/Tanium-SecurityPatches/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-SecurityPatches/images/Tanium-SecurityPatches.png
  Solutions/Tanium/Playbooks/Tanium-UnquarantineHosts/azuredeploy.json
  Solutions/Tanium/README.md
  Solutions/Tanium/build_solution.sh
  Solutions/Tanium/check_build.sh
Labels: Solution

#8618 Create Tomcat.log
  Sample Data/Syslog/Tomcat.csv
Labels: Sample Data

#8737 Updating email.png to hide email address in the screenshot
  Playbooks/Send-UnhealthyAzureArcResourceAlert/images/email.png
Labels: Playbook

#8729 Fix: on addition of package earlier commit were reset
  .github/workflows/package-command.yaml
  .github/workflows/slash-command-dispatch.yaml
Labels: Tools

#8739 Issue#8571 fix - Repackaged Azure Active Directory
  Solutions/Azure Active Directory/Analytic Rules/CredentialAddedAfterAdminConsent.yaml
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/3.0.2.zip
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/ReleaseNotes.md
Labels: Analytic Rules, Content-Package

#8718 Repackaging - Microsoft 365
  Solutions/Microsoft 365/Data Connectors/Microsoft365.JSON
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Hunting Queries/New_WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Microsoft 365/Hunting Queries/OfficeMailForwarding_hunting.yaml
  Solutions/Microsoft 365/Hunting Queries/WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Microsoft 365/Hunting Queries/new_sharepoint_downloads_by_IP.yaml
  Solutions/Microsoft 365/Hunting Queries/nonowner_MailboxLogin.yaml
  Solutions/Microsoft 365/Hunting Queries/powershell_or_nonbrowser_MailboxLogin.yaml
  Solutions/Microsoft 365/Package/3.0.0.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/Microsoft 365/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package

#8758 Updated Cisco ASA version to 3.0.0
  Solutions/CiscoASA/Package/3.0.0.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
Labels: Solution

#8741 Depreciating outdated static IOC based use cases
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_IP_Domain_Hash_IOC.yaml
Labels: Solution

#8761 update OptimizationWorkbook
  Workbooks/OptimizationWorkbook.json
Labels: Workbook

#8760 Vectra Cloud: Updated offerId and publisherId
  Solutions/Vectra XDR/Package/3.0.0.zip
  Solutions/Vectra XDR/Package/mainTemplate.json
  Solutions/Vectra XDR/ReleaseNotes.md
  Solutions/Vectra XDR/SolutionMetadata.json
Labels: Solution

#8759 Make Parser FunctionParams as optional
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#8746 Fix empty diff check for NRT_NewAppOrServicePrincipalCredential
  Solutions/Azure Active Directory/Analytic Rules/NRT_NewAppOrServicePrincipalCredential.yaml
Labels: Analytic Rules

#8736 Update ReversingLabs solution to v2.2.0
  Solutions/ReversingLabs/Data/Solution_ReversingLabs.json
  Solutions/ReversingLabs/Package/3.0.0.zip
  Solutions/ReversingLabs/Package/createUiDefinition.json
  Solutions/ReversingLabs/Package/mainTemplate.json
  Solutions/ReversingLabs/Playbooks/ReversingLabs-CheckQuota/README.md
  Solutions/ReversingLabs/Playbooks/ReversingLabs-CheckQuota/images/playbook.jpg
  Solutions/ReversingLabs/Playbooks/ReversingLabs-EnrichFileHash/README.md
  Solutions/ReversingLabs/Playbooks/ReversingLabs-EnrichFileHash/azuredeploy.json
  Solutions/ReversingLabs/Playbooks/ReversingLabs-EnrichFileHash/images/playbook.png
  Solutions/ReversingLabs/Playbooks/ReversingLabs-EnrichFileHash/playbook.png
  Solutions/ReversingLabs/ReleaseNotes.md
  Solutions/ReversingLabs/SolutionMetadata.json
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/ReversingLabs-CapabilitiesOverview.json
Labels: Solution

#8762 Updated fortinet fortigate solution to fix Managed identities issue
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/3.0.2.zip
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
Labels: Solution, Content-Package

#8658 MISP2Sentinel
  Logos/misp-logo.svg
  Solutions/MISP2Sentinel/Data Connectors/MISP2SentinelConnector_UploadIndicatorsAPI.json
  Solutions/MISP2Sentinel/Data/Solution_MISP2Sentinel.json
  Solutions/MISP2Sentinel/Package/3.0.0.zip
  Solutions/MISP2Sentinel/Package/createUiDefinition.json
  Solutions/MISP2Sentinel/Package/mainTemplate.json
  Solutions/MISP2Sentinel/README.md
  Solutions/MISP2Sentinel/ReleaseNotes.md
  Solutions/MISP2Sentinel/SolutionMetadata.json
Labels: Solution

#8772 Removed duplicated workbooks.
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#7895 feat: add Playbooks/Enrich-AzureResourceGraph
  Playbooks/Enrich-AzureResourceGraph/azuredeploy.json
  Playbooks/Enrich-AzureResourceGraph/images/Enrich-AzureResourceGraph.png
  Playbooks/Enrich-AzureResourceGraph/readme.md
Labels: Playbook

#8779 Bugfix DomainEntity_SecurityAlert.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_SecurityAlert.yaml
Labels: Solution, Analytic Rules

#8732 ASIM parsers filtering validations - dynamic tests - part2
  ASIM/dev/ASimTester/filteringTest/ASimFilteringTest.py
Labels: ASIM

#8766 Make the script generic and fix output file printing
  DataConnectors/Syslog/Sentinel_AMA_troubleshoot.py
Labels: Connector, Solution

#8780 Repackaging - Claroty
  Solutions/Claroty/Data/Solution_Claroty.json
  Solutions/Claroty/Package/3.0.0.zip
  Solutions/Claroty/Package/createUiDefinition.json
  Solutions/Claroty/Package/mainTemplate.json
  Solutions/Claroty/ReleaseNotes.md
Labels: Solution, Content-Package

#8782 Repackaged Threat Intelligence
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_SecurityEvent.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_Syslog.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_VMConnection.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_WireData.yaml
  Solutions/Threat Intelligence/Package/3.0.0.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Solution, Content-Package

#8781 ASIM parsers filtering validations - dynamic tests - part3
  ASIM/dev/ASimTester/filteringTest/ASimFilteringTest.py
Labels: ASIM

#8401 Add new playbooks for Sentinel2MISP
  Playbooks/2S-Sentinel2MISP/MISP-Forwarder/azuredeploy.json
  Playbooks/2S-Sentinel2MISP/MISP-Orchestrator/azuredeploy.json
  Playbooks/2S-Sentinel2MISP/README.MD
Labels: Playbook

#8791 Package created on merge fails for invalid character
  .github/workflows/package-on-merge.yaml
Labels: Tools

#8787 add arm templates to the github to use in the UI
  Solutions/SAP/ARM templates/azuredeploy.json
  Solutions/SAP/ARM templates/uiFormDefinition.json
Labels: SAP

#8794 Updating the Query of SigninAttemptsByIPviaDisabledAccounts.yaml
  Solutions/Azure Active Directory/Analytic Rules/SigninAttemptsByIPviaDisabledAccounts.yaml
Labels: Solution, Analytic Rules

#8648 Egress Defend
  .script/tests/KqlvalidationsTests/CustomTables/DefendAuditData.json
  .script/tests/KqlvalidationsTests/CustomTables/EgressDefend_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/Egress-logo.svg
  Playbooks/2S-Sentinel2MISP/MISP-Forwarder/azuredeploy.json
  Playbooks/2S-Sentinel2MISP/MISP-Orchestrator/azuredeploy.json
  Sample Data/Egress Defend_RawLogs.json
  Sample Data/Egress Defend_Schema.csv
  Sample Data/EgressDefendSampleData.csv
  Solutions/Egress Defend/Analytic Rules/DangerousAttachmentReceived.yaml
  Solutions/Egress Defend/Analytic Rules/DangerousLinksClicked.yaml
  Solutions/Egress Defend/Data Connectors/DefendAPIConnector.json
  Solutions/Egress Defend/Data/Solution_EgressDefend.json
  Solutions/Egress Defend/Hunting Queries/DangerousLinksClicked.yaml
  Solutions/Egress Defend/Package/3.0.0.zip
  Solutions/Egress Defend/Package/createUiDefinition.json
  Solutions/Egress Defend/Package/mainTemplate.json
  Solutions/Egress Defend/Parsers/DefendAuditData.txt
  Solutions/Egress Defend/ReleaseNotes.md
  Solutions/Egress Defend/SolutionMetadata.json
  Solutions/Egress Defend/Workbooks/DefendMetrics.json
  Solutions/Egress Defend/Workbooks/Images/Preview/EgressDefendMetricWorkbookBlack01.png
  Solutions/Egress Defend/Workbooks/Images/Preview/EgressDefendMetricWorkbookWhite01.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#8797 Alibaba Cloud Solution Update
  Solutions/Alibaba Cloud/Data/Solution_Alibaba Cloud.json
  Solutions/Alibaba Cloud/SolutionMetadata.json
Labels: Solution, Content-Package

#8763 Updated Parser for Cisco WSA Solution
  Solutions/CiscoWSA/Data/Solution_CiscoWSA.json
  Solutions/CiscoWSA/Package/3.0.0.zip
  Solutions/CiscoWSA/Package/createUiDefinition.json
  Solutions/CiscoWSA/Package/mainTemplate.json
  Solutions/CiscoWSA/Parsers/CiscoWSAEvent.txt
  Solutions/CiscoWSA/ReleaseNotes.md
  Solutions/CiscoWSA/SolutionMetadata.json
Labels: Content-Package

#8700 Add cloud apps folder and initial query
  Hunting Queries/Microsoft 365 Defender/Cloud Apps/file-download-events.yaml
Labels: Hunting

#8560 skip the ldd test in case of fedora
  Solutions/SAP/sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-ui-agent-kickstart.sh
Labels: SAP

#8773 Updated HQ description for 255 char limit for standalone HQ
  Hunting Queries/AuditLogs/RareAuditActivityByApp.yaml
  Hunting Queries/AuditLogs/RareAuditActivityByUser.yaml
  Hunting Queries/GitHub/Unusual Number of Repository Clones.yaml
  Hunting Queries/MultipleDataSources/AzureResourceCreationWithNetworkActivity.yaml
  Hunting Queries/MultipleDataSources/FailedSigninsWithAuditDetails.yaml
  Hunting Queries/MultipleDataSources/PermutationsOnLogonNames.yaml
  Hunting Queries/MultipleDataSources/RareDNSLookupWithDataTransfer.yaml
  Hunting Queries/MultipleDataSources/RareDomainsInCloudLogs.yaml
  Hunting Queries/MultipleDataSources/TrackingPasswordChanges.yaml
  Hunting Queries/MultipleDataSources/TrackingPrivAccounts.yaml
  Hunting Queries/SigninLogs/AnomalousUserAppSigninLocationIncrease.yaml
  Hunting Queries/SigninLogs/AnomalousUserAppSigninLocationIncreaseDetail.yaml
  Hunting Queries/SigninLogs/InactiveAccounts.yaml
  Hunting Queries/SigninLogs/LoginSpikeWithIncreaseFailureRate.yaml
  Hunting Queries/Syslog/disabled_account_squid_usage.yaml
  Hunting Queries/W3CIISLog/ClientIPwithManyUserAgents.yaml
  Hunting Queries/W3CIISLog/Potential_IIS_BF.yaml
  Hunting Queries/W3CIISLog/Potential_IIS_CodeInject.yaml
  Hunting Queries/W3CIISLog/RareClientFileAccess.yaml
  Hunting Queries/W3CIISLog/SuspectedMailBoxExportHostonOWA.yaml
  Hunting Queries/WireData/WireDataBeacon.yaml
  Hunting Queries/ZoomLogs/MultipleRegistrationDenies.yaml
Labels: Hunting

#8800 Updated solution to include the default value for the watchlist1-id p…
  Solutions/Infoblox NIOS/Package/3.0.2.zip
  Solutions/Infoblox NIOS/Package/mainTemplate.json
  Solutions/Infoblox NIOS/ReleaseNotes.md
Labels: Solution

#8783 Repackaging Sophos solution
  Solutions/Sophos Endpoint Protection/Data Connectors/SophosEP_API_FunctionApp.json
  Solutions/Sophos Endpoint Protection/Data/Solution_EP.json
  Solutions/Sophos Endpoint Protection/Package/3.0.0.zip
  Solutions/Sophos Endpoint Protection/Package/createUiDefinition.json
  Solutions/Sophos Endpoint Protection/Package/mainTemplate.json
  Solutions/Sophos Endpoint Protection/ReleaseNotes.md
Labels: Solution, Content-Package

#8770 Updated SecurityOperationsEfficiency Workbook for SOAR
  Solutions/SentinelSOARessentials/Data/Solution_SentinelSOAREssentials.json
  Solutions/SentinelSOARessentials/Package/3.0.1.zip
  Solutions/SentinelSOARessentials/Package/mainTemplate.json
  Solutions/SentinelSOARessentials/ReleaseNotes.md
  Solutions/SentinelSOARessentials/Workbooks/SecurityOperationsEfficiency.json
Labels: Solution, Content-Package

#8807 Update ReleaseNotes.md
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Solution

#8812 Repackaged MISP2Sentinel (DC description and updated support)
  Solutions/MISP2Sentinel/Data Connectors/MISP2SentinelConnector_UploadIndicatorsAPI.json
  Solutions/MISP2Sentinel/Data/Solution_MISP2Sentinel.json
  Solutions/MISP2Sentinel/Package/3.0.0.zip
  Solutions/MISP2Sentinel/Package/createUiDefinition.json
  Solutions/MISP2Sentinel/Package/mainTemplate.json
  Solutions/MISP2Sentinel/SolutionMetadata.json
Labels: Solution, Content-Package

#8815 Repackaging - Box
  Solutions/Box/Data/Solution_Box.json
  Solutions/Box/Package/3.0.1.zip
  Solutions/Box/Package/mainTemplate.json
  Solutions/Box/ReleaseNotes.md
Labels: Solution, Content-Package

#8803 Added checks for FunctionApp to Check Deploy To Azure
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#8817 Update Parser guidance for YAML usage
  Solutions/README.md
Labels: Solution

#8754 Update TargetResource logic for UserAssignedPrivilegedRole
  Solutions/Azure Active Directory/Analytic Rules/UserAssignedPrivilegedRole.yaml
Labels: Solution

#8690 Issue #8105 - Update PossibleBeaconingActivity.yaml
  Solutions/Network Session Essentials/Analytic Rules/PossibleBeaconingActivity.yaml
Labels: ASIM, Solution, Analytic Rules

#8564 Add-Schema-UserManagement
  ASIM/dev/ASimTester/ASimTester.csv
  ASIM/schemas/ASimAuthentication.yaml
  ASIM/schemas/ASimDns.yaml
  ASIM/schemas/ASimFileEvent.yaml
  ASIM/schemas/ASimUserManagement.yaml
  ASIM/schemas/entities/ASimGroup.yaml
Labels: ASIM

#8810 updated to version 1.1
  Workbooks/OptimizationWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#8814 Sentinel lab refresh - updated modules 5, 7 and 8
  Solutions/Training/Azure-Sentinel-Training-Lab/Artifacts/Telemetry/HighRiskApps.csv
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/TI1.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/TI10.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/TI9.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azsolutions10.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azsolutions11.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azsolutions12.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azsolutions13.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azsolutions5.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azsolutions6.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/azsolutions9.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/hunting-16.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/hunting-17.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/hunting-18.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/hunting-19.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/hunting-20.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/hunting-21.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/hunting-22.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Images/hunting-23.png
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-5-Hunting.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-7-Threat-Intelligence.md
  Solutions/Training/Azure-Sentinel-Training-Lab/Modules/Module-8-Sentinel-Solutions.md
Labels: Solution

#8832 Vectra XDR repackaging
  Solutions/Vectra XDR/Package/3.0.1.zip
  Solutions/Vectra XDR/Package/createUiDefinition.json
  Solutions/Vectra XDR/Package/mainTemplate.json
  Solutions/Vectra XDR/ReleaseNotes.md
Labels: Solution, P0

#8813 Citrix ADC Watchlist alias and Data connector instruction Update
  Solutions/Citrix ADC/Data Connectors/Connector_CitrixADC_syslog.json
  Solutions/Citrix ADC/Data/Solution_CitrixAdc.json
  Solutions/Citrix ADC/Package/3.0.1.zip
  Solutions/Citrix ADC/Package/mainTemplate.json
  Solutions/Citrix ADC/Parsers/CitrixADCEvent.txt
  Solutions/Citrix ADC/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#8819 Repackaging-PaloAltoPrismaCloud
  Solutions/PaloAltoPrismaCloud/Data Connectors/PrismaCloud_API_FunctionApp.json
  Solutions/PaloAltoPrismaCloud/Data/Solution_PaloAltoPrismaCloud.json
  Solutions/PaloAltoPrismaCloud/Package/3.0.0.zip
  Solutions/PaloAltoPrismaCloud/Package/createUiDefinition.json
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
  Solutions/PaloAltoPrismaCloud/ReleaseNotes.md
Labels: Solution, Content-Package

#8771 Update known_issues.md
  Solutions/known_issues.md
Labels: Solution

#8615 Fix-Authentication-Parsers
  .script/tests/KqlvalidationsTests/CustomTables/Okta_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/PostgreSQL_CL.json
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADManagedIdentity.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADNonInteractive.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADServicePrincipalSignInLogs.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADSigninLogs.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAWSCloudTrail.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationM365Defender.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationMicrosoftMD4IoT.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationMicrosoftWindowsEvent.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationOktaOSS.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationPostgreSQL.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSshd.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSu.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSudo.yaml
Labels: ASIM

#8842 Updated Existing Action which adds comment
  .github/workflows/addComment.yaml
  .github/workflows/addCommentToRemindUpdatingTemplateVersion.yml
Labels: Tools

#8853 Updated links and text for connector for Sophos Endpoint Protection
  Solutions/Sophos Endpoint Protection/Data Connectors/SophosEP_API_FunctionApp.json
  Solutions/Sophos Endpoint Protection/Package/3.0.0.zip
  Solutions/Sophos Endpoint Protection/Package/createUiDefinition.json
  Solutions/Sophos Endpoint Protection/Package/mainTemplate.json
Labels: Content-Package

#8840 Oracle Cloud Infrastructure - Updated the parser and repackaged the solution with 3.0.0 as part of IcM 407357383
  Solutions/Oracle Cloud Infrastructure/Data/Solution_OCILogs.json
  Solutions/Oracle Cloud Infrastructure/Package/3.0.0.zip
  Solutions/Oracle Cloud Infrastructure/Package/createUiDefinition.json
  Solutions/Oracle Cloud Infrastructure/Package/mainTemplate.json
  Solutions/Oracle Cloud Infrastructure/Parsers/OCILogs.txt
  Solutions/Oracle Cloud Infrastructure/ReleaseNotes.md
Labels: Parser, Solution, Content-Package

#8856 Repackaged MISP2Sentinel
  Solutions/MISP2Sentinel/Package/3.0.0.zip
  Solutions/MISP2Sentinel/Package/mainTemplate.json
  Solutions/MISP2Sentinel/SolutionMetadata.json
Labels: Solution

#8829 ASR rules query contribution
  Hunting Queries/Microsoft 365 Defender/ASR rules/ASR-rules-categorized-detection-graph.yaml
Labels: Hunting

#8863 Update Solutions/Infoblox NIOS/Data Connectors/Connector_Syslog_Infoblox.json
  Solutions/Infoblox NIOS/Data Connectors/Connector_Syslog_Infoblox.json
Labels: Connector, Solution

#8857 ASIM parsers filtering validations - dynamic tests - part4
  ASIM/dev/ASimTester/filteringTest/ASimFilteringTest.py
  ASIM/dev/ASimTester/filteringTest/Readme.md
  ASIM/dev/ASimTester/filteringTest/schemasParameters.py
Labels: ASIM

#8860 fix sapcon-sentinel-kickstart.sh user
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: SAP

#6905 Votiro sentinel solutions
  .script/tests/KqlvalidationsTests/CustomTables/VotiroEvents.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/votiro.svg
  Sample Data/CEF/VotiroSampleData.txt
  Solutions/Votiro/Analytic Rules/VotiroFileBlockedFromConnector.yaml
  Solutions/Votiro/Analytic Rules/VotiroFileBlockedInEmail.yaml
  Solutions/Votiro/Data Connectors/VotiroEvents.json
  Solutions/Votiro/Data/Solution_Votiro.json
  Solutions/Votiro/Package/2.0.0.zip
  Solutions/Votiro/Package/3.0.0.zip
  Solutions/Votiro/Package/createUiDefinition.json
  Solutions/Votiro/Package/mainTemplate.json
  Solutions/Votiro/Parser/VotiroEvents.txt
  Solutions/Votiro/SolutionMetadata.json
  Solutions/Votiro/Workbooks/Votiro Monitoring Dashboard.json
Labels: Solution

#8651 ASIM Added User Management Schema
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#8140 Initial implementation of SlashNext Security Events for Microsoft Sen…
  Solutions/SlashNext SIEM/Data/Solution_SlashNextSIEM.json
  Solutions/SlashNext SIEM/Package/3.0.0.zip
  Solutions/SlashNext SIEM/Package/createUiDefinition.json
  Solutions/SlashNext SIEM/Package/mainTemplate.json
  Solutions/SlashNext SIEM/Playbook/SlashNextEventConnector/azuredeploy.json
  Solutions/SlashNext SIEM/Playbook/SlashNextSecurityEventForMSSentinel/azuredeploy.json
  Solutions/SlashNext SIEM/Playbook/logo/slashnext-logo.svg
  Solutions/SlashNext SIEM/Playbook/readme.md
  Solutions/SlashNext SIEM/ReleaseNotes.md
  Solutions/SlashNext SIEM/SolutionMetadata.json
Labels: Playbook, Solution

#8868 Updated solution to fix Connector issue for TI
  Solutions/Threat Intelligence/Package/3.0.1.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#8839 Standalone tagging of detections
  Detections/ASimDNS/imDNS_Miners.yaml
  Detections/ASimDNS/imDNS_TorProxies.yaml
  Detections/ASimProcess/Potentialre-namedsdeleteusage(ASIMVersion).yaml
  Detections/ASimProcess/SdeletedeployedviaGPOandrunrecursively(ASIMVersion).yaml
  Detections/ASimProcess/imProcess_MidnightBlizzard_SuspiciousRundll32Exec.yaml
  Detections/ASimProcess/imProcess_base64_encoded_pefile.yaml
  Detections/ASimProcess/imProcess_malware_in_recyclebin.yaml
  Detections/Anomalies/SignInAnomaly.yaml
  Detections/BehaviorAnalytics/SuspiciousSigninByAADConnectAccount.yaml
  Detections/DeviceProcessEvents/SolarWinds_SUNBURST_Process-IOCs.yaml
  Detections/MultipleDataSources/PhishinglinkExecutionObserved.yaml
  Detections/MultipleDataSources/RiskyUserIn3Pnetworkactivity.yaml
  Detections/MultipleDataSources/SucessfullSiginFromPhingLink.yaml
  Detections/SigninLogs/NewCountryValidCreds.yaml
Labels: Detection

#8874 Skip Detection comment on fork PR for security reasons
  .github/workflows/addCommentToRemindUpdatingTemplateVersion.yml
Labels: Tools

#8540 Updated Playbooks with the change of Adaptive card title.
  Solutions/RubrikSecurityCloud/Data Connectors/RubrikWebhookEvents_API_FunctionApp.json
  Solutions/RubrikSecurityCloud/Data/Solution_RubrikSecurityCloud.json
  Solutions/RubrikSecurityCloud/Package/3.0.0.zip
  Solutions/RubrikSecurityCloud/Package/createUiDefinition.json
  Solutions/RubrikSecurityCloud/Package/mainTemplate.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyIncidentResponse/Teams-RansomwareDiscovery.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyIncidentResponse/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFilesetRansomwareDiscovery/Teams-IOCScanData.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFilesetRansomwareDiscovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikIOCScan/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndFileRecovery/Teams-IOCScandata.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndFileRecovery/Teams-RecoveryData.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndFileRecovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndVMRecovery/Teams-IOCScanData.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndVMRecovery/Teams-RecoveryExportVM.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndVMRecovery/Teams-RecoveryLiveMount.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndVMRecovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/ReleaseNotes.md
Labels: Solution

#8878 Updated Wiz offerID
  Solutions/Wiz/Package/2.0.0.zip
  Solutions/Wiz/Package/mainTemplate.json
  Solutions/Wiz/SolutionMetadata.json
Labels: Solution, P0

#8875 Release note updated of slashnext
  Solutions/SlashNext SIEM/ReleaseNotes.md
Labels: Solution

#8793 MFA Spamming followed by Successful login
  Hunting Queries/SigninLogs/MFA Spamming
  Solutions/Azure Active Directory/Analytic Rules/MFASpammingfollowedbySuccessfullogin.yaml
Labels: Solution, Analytic Rules

#8699 [feedly] Add a Data Connector to pull IoCs from Feedly
  .script/tests/KqlvalidationsTests/CustomTables/feedly_indicators_CL.json
  Logos/Feedly.svg
  Sample Data/Custom/feedly_indicators_CL_Schema.csv
  Sample Data/Custom/feedly_indicators_CL_ingested_logs.csv
  Solutions/Feedly/.gitignore
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector.zip
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector/__init__.py
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector/config.py
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector/feedly_downloader.py
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector/function.json
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector/local.settings.json
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector/sentinel_api.py
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector/state_manager.py
  Solutions/Feedly/Data Connectors/FeedlySentinelConnector/worker.py
  Solutions/Feedly/Data Connectors/Feedly_API_AzureFunctionApp.json
  Solutions/Feedly/Data Connectors/azuredeploy_Connector_Feedly_AzureFunction.json
  Solutions/Feedly/Data Connectors/host.json
  Solutions/Feedly/Data Connectors/proxies.json
  Solutions/Feedly/Data Connectors/requirements.txt
  Solutions/Feedly/Data/Solution_Feedly.json
  Solutions/Feedly/Package/3.0.0.zip
  Solutions/Feedly/Package/createUiDefinition.json
  Solutions/Feedly/Package/mainTemplate.json
  Solutions/Feedly/ReleaseNotes.md
  Solutions/Feedly/SolutionMetadata.json
Labels: Solution

#8879 bugfix issue #6621
  Tools/ConvertYamlToJson/ConvertSentinelRuleFrom-Yaml.ps1
Labels: Tools

#8827 Fix issue on function app
  .script/package-automation/package-generator.ps1
Labels: Tools

#8885 Add automated comment on Github Issue only when its created
  .github/workflows/IssueComment.yml
Labels: Tools

#8877 Added the skiplist for specific workbooks preview image validation.
  .script/utils/workbookCheckers/WorkbookPreviewImageValidationSkipList.json
  .script/utils/workbookCheckers/imageExistChecker.ts
  .script/utils/workbookCheckers/previewImageChecker.ts
Labels: scripts

#8756 Support sovereign clouds and other minor changes
  DataConnectors/O365 Data/O365APItoAS-Template.zip
  DataConnectors/O365 Data/O365APItoAS-Template/TimerTrigger/run.ps1
  DataConnectors/O365 Data/azuredeploy.json
  DataConnectors/O365 Data/azuredeploy.parameters.json
Labels: dataconnector-cri

#7743 Initial Push of Salem Cyber Integration
  Logos/salem_logo.svg
  Sample Data/SalemCyber.csv
  Solutions/SalemCyber/Data/Solution_Salem.json
  Solutions/SalemCyber/Package/3.0.0.zip
  Solutions/SalemCyber/Package/createUiDefinition.json
  Solutions/SalemCyber/Package/mainTemplate.json
  Solutions/SalemCyber/Playbooks/SendAlertToSalem/azuredeploy.json
  Solutions/SalemCyber/Playbooks/SendAlertToSalem/readme.md
  Solutions/SalemCyber/Playbooks/images/Playbook Logic App Designer View.png
  Solutions/SalemCyber/ReleaseNotes.md
  Solutions/SalemCyber/SolutionMetadata.json
  Solutions/SalemCyber/Workbooks/SalemDashboard.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Playbook, Solution

#8897 Updated Office Macro and User App Hardening tabs
  Workbooks/AcscEssential8.json
  Workbooks/Images/Preview/AcscEssential8Black1.png
  Workbooks/Images/Preview/AcscEssential8Black2.png
  Workbooks/Images/Preview/AcscEssential8White1.png
  Workbooks/Images/Preview/AcscEssential8White2.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#8892 Compress only files instead of complete folder in package
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#8805 08 16 2023 as sign out google user
  Playbooks/AS-Sign-Out-Google-User/CreateGoogleJWT/__init__.py
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Add_Contributor_Role_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Add_Contributor_Role_2.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Add_Contributor_Role_3.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Add_Contributor_Role_4.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_10.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_11.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_12.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_2.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_3.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_4.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_5.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_6.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_7.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_8.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Configure_VSCode_9.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_Google_Service_Account_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_Google_Service_Account_2.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_Google_Service_Account_3.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_Google_Service_Account_4.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_Google_Service_Account_5.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_Google_Service_Account_6.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_Google_Service_Account_7.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_a_Private_Key_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Create_a_Private_Key_2.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Demo_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Deploy_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Deploy_2.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Deploy_3.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Deploy_4.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Deploy_Azure_Function_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Deploy_Azure_Function_2.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Deploy_Azure_Function_3.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Deploy_Azure_Function_4.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Key_Vault_Access_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Key_Vault_Access_2.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Key_Vault_Access_3.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Key_Vault_Access_4.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Key_Vault_Create_Secret_1.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Key_Vault_Create_Secret_2.png
  Playbooks/AS-Sign-Out-Google-User/Images/SignOutGoogleUser_Key_Vault_Create_Secret_3.png
  Playbooks/AS-Sign-Out-Google-User/README.md
  Playbooks/AS-Sign-Out-Google-User/azuredeploy.json
Labels: Playbook

#8891 Repackaging - OSSEC (MMA to AMA Migration)
  Solutions/OSSEC/Data Connectors/Connector_CEF_OSSEC.json
  Solutions/OSSEC/Data Connectors/template_OSSECAMA.json
  Solutions/OSSEC/Data/Solution_OssectemplateSpec.json
  Solutions/OSSEC/Package/3.0.0.zip
  Solutions/OSSEC/Package/createUiDefinition.json
  Solutions/OSSEC/Package/mainTemplate.json
  Solutions/OSSEC/Parsers/OSSECEvent.txt
  Solutions/OSSEC/ReleaseNotes.md
Labels: Solution, Content-Package

#8902 Updated tier in Wiz solution
  Solutions/Wiz/Package/2.0.0.zip
  Solutions/Wiz/Package/mainTemplate.json
Labels: bug, Solution, P0

#8903 Update ASimTester.csv
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM, Sample Data

#8888 Fix FQDN aggregation for Port Sweep Firewall rule
  Sample Data/Custom/AZFWPortSweepCustom_CL.csv
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Sweep.yaml
Labels: Solution, Analytic Rules

#8906 Update CreateUIDefinition
  Solutions/OSSEC/Package/3.0.0.zip
  Solutions/OSSEC/Package/createUiDefinition.json
Labels: Solution

#8911 Create systemconfig.json
  Solutions/SAP/template/systemconfig.json
Labels: SAP

#8918 Cisco Umbrella - Updating the text under Prerequisites section of Playboook
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AddIpToDestinationList/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AssignPolicyToIdentity/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-BlockDomain/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-GetDomainInfo/azuredeploy.json
Labels: Playbook, Content-Package

#8899 Juniper SRX - Parser change as part of IcM 409297750
  Solutions/Juniper SRX/Data/Solution_Juniper SRX.json
  Solutions/Juniper SRX/Package/3.0.0.zip
  Solutions/Juniper SRX/Package/createUiDefinition.json
  Solutions/Juniper SRX/Package/mainTemplate.json
  Solutions/Juniper SRX/Parsers/JuniperSRX.yaml
  Solutions/Juniper SRX/ReleaseNotes.md
Labels: Solution, Content-Package

#8920 Updated createui and ReleaseNotes
  Solutions/OSSEC/Data/Solution_OssectemplateSpec.json
  Solutions/OSSEC/Package/3.0.0.zip
  Solutions/OSSEC/Package/createUiDefinition.json
  Solutions/OSSEC/ReleaseNotes.md
Labels: Solution, Content-Package

#8919 Repackage - Snowflake(Azure Function Changes)
  Solutions/Snowflake/Data Connectors/Snowflake_API_FunctionApp.json
  Solutions/Snowflake/Data/Solution_Snowflake.json
  Solutions/Snowflake/Data/system_generated_metadata.json
  Solutions/Snowflake/Package/3.0.0.zip
  Solutions/Snowflake/Package/createUiDefinition.json
  Solutions/Snowflake/Package/mainTemplate.json
  Solutions/Snowflake/Parsers/Snowflake.txt
  Solutions/Snowflake/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package
