Repository Azure/Azure-Sentinel, pull requests merged in 2023-04, with the labels that each got.

#7661 03242023 as create opsgenie incident
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Access_1.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Access_2.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Access_3.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Access_4.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Demo_1.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Demo_2.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Deploy_1.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Deploy_2.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Deploy_3.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Key_Vault_1.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Key_Vault_2.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/Opsgenie_Key_Vault_3.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/opsgenie_setup_1.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/opsgenie_setup_2.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/opsgenie_setup_3.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/opsgenie_setup_4.png
  Playbooks/AS-Create-Opsgenie-Incident/Images/opsgenie_setup_5.png
  Playbooks/AS-Create-Opsgenie-Incident/README.md
  Playbooks/AS-Create-Opsgenie-Incident/azuredeploy.json
Labels: Playbook

#7677 Added vim parser for Forcepoint
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionForcePointFirewall/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionForcePointFirewall/vimNetworkSessionForcePointFirewall.json
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionForcePointFirewall.yaml
Labels: ASIM

#7594 Adding new Network ASIM parser for Forcepoint
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionForcePointFirewall/ASimNetworkSessionForcePointFirewall.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionForcePointFirewall/README.md
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionForcePointFirewall.yaml
Labels: ASIM

#7153 Adding Intel 471 Sentinel solution
  Logos/intel471_logo.svg
  Sample Data/intel471_titan_API_malware_indicators.json
  Solutions/Intel471/Playbooks/Intel471-ImportMalwareIntelligenceToSentinel/README.md
  Solutions/Intel471/Playbooks/Intel471-ImportMalwareIntelligenceToSentinel/azuredeploy.json
  Solutions/Intel471/Playbooks/Intel471-ImportMalwareIntelligenceToSentinel/malware-intelligence-screenshot.png
Labels: Playbook, Solution

#7727 Leaderboard Monthly Update - Update stats.md file with March 2023 Data
  Tools/stats/stats.md
Labels: Tools

#7738 Fixed "quoatSetting" typo and replaced with "quotaSetting"
  Tools/Sentinel-All-In-One/ARMTemplates/azuredeploy.json
  Tools/Sentinel-All-In-One/MSSPversion/LinkedTemplates/workspace.json
Labels: Tools

#7636 Fix esetprotect errors
  Solutions/ESETPROTECT/Analytic Rules/ESETThreatDetected.yaml
  Solutions/ESETPROTECT/Analytic Rules/ESETWebsiteBlocked.yaml
  Solutions/ESETPROTECT/Data Connectors/Connector_Syslog_ESETPROTECT.json
  Solutions/ESETPROTECT/Data/Solution_ESETPROTECT.json
  Solutions/ESETPROTECT/Package/2.0.0.zip
  Solutions/ESETPROTECT/Package/createUiDefinition.json
  Solutions/ESETPROTECT/Package/mainTemplate.json
Labels: Connector, Solution

#7740 Fixing the bug for Insider risk Management playbook
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/2.0.6.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Playbooks/Notify_InsiderRiskTeam/Notify_InsiderRiskTeam.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution

#7692 MDTI Solution Package 2.0.2
  Solutions/Microsoft Defender Threat Intelligence/Data/Solution_MicrosoftDefenderThreatIntelligence.json
  Solutions/Microsoft Defender Threat Intelligence/Package/2.0.2.zip
  Solutions/Microsoft Defender Threat Intelligence/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_InfobloxNIOS.json
Labels: Solution

#7726 Adding new workbooks to Defender Solutions
  Solutions/Microsoft 365 Defender/Workbooks/Images/Preview/microsoftdefenderforendpointblack.png
  Solutions/Microsoft 365 Defender/Workbooks/Images/Preview/microsoftdefenderforendpointwhite.png
  Solutions/Microsoft 365 Defender/Workbooks/Images/Preview/microsoftdefenderforidentityblack.png
  Solutions/Microsoft 365 Defender/Workbooks/Images/Preview/microsoftdefenderforidentitywhite.png
  Solutions/Microsoft 365 Defender/Workbooks/MicrosoftDefenderForEndPoint.json
  Solutions/Microsoft 365 Defender/Workbooks/MicrosoftDefenderForIdentity.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution

#7728 Threat Intelligence: Hunting query improvements
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_SecurityEvent.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_Syslog.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_VMConnection.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_WireData.yaml
Labels: Solution, Hunting

#7688 Repackaging GitHub Solution with detections migration
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/GitHub/NRT Two Factor Authentication Disabled.yaml
  Detections/GitHub/Security Vulnerability in Repo.yaml
  Solutions/GitHub/Analytic Rules/NRT Two Factor Authentication Disabled.yaml
  Solutions/GitHub/Analytic Rules/Security Vulnerability in Repo.yaml
  Solutions/GitHub/Package/2.0.2.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/data/Solution_GitHub.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution

#7295 Hunting Queries KQL Validation tests
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Hunting Queries/AuditLogs/NonredeemedGuesUserInvites.yaml
  Hunting Queries/AuditLogs/UserDetectPrivilegeGroup.yaml
  Hunting Queries/LAQueryLogs/UserReturningMoreDataThanDailyAverage.yaml
  Hunting Queries/Microsoft 365 Defender/Campaigns/redmenshen-bpfdoor-backdoor.yaml
  Hunting Queries/Microsoft 365 Defender/Exploits/VMWare-LPE-2022-22960.yaml
  Hunting Queries/Microsoft 365 Defender/General queries/insider-threat-detection-queries (3).yaml
  Hunting Queries/Microsoft 365 Defender/Initial access/Non_intended_user_logon.yaml
  Hunting Queries/Microsoft 365 Defender/Protection events/ExploitGuardNetworkProtectionEvents.yaml
  Hunting Queries/Microsoft 365 Defender/Ransomware/Check for multiple signs of ransomware activity.yaml
Labels: Hunting

#7733 Repackaging Windows Security Events
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/2.0.4.zip
  Solutions/Windows Security Events/Package/mainTemplate.json
Labels: Solution

#7556 Add Manual Sentinel Incident Workbook
  Workbooks/Images/Preview/ManualincidentBlack.png
  Workbooks/Images/Preview/ManualincidentWhite.png
  Workbooks/ManualSentinelIncident.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7672 Update in MultiplePasswordresetsbyUser.yaml Detection
  Detections/MultipleDataSources/MultiplePasswordresetsbyUser.yaml
Labels: Detection

#7730 Adding Threat Intelligence Workbook as a part of the solution
  Solutions/Microsoft Defender Threat Intelligence/Workbooks/Images/Preview/ThreatIntelligenceBlack.png
  Solutions/Microsoft Defender Threat Intelligence/Workbooks/Images/Preview/ThreatIntelligenceWhite.png
  Solutions/Microsoft Defender Threat Intelligence/Workbooks/ThreatIntelligence.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution

#7754 Azure Active Directory Repackaging
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.11.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution

#7737 Minor changes and entity mapping updates
  Solutions/Windows Server DNS/Analytic Rules/DNS_HighNXDomainCount_detection.yaml
  Solutions/Windows Server DNS/Analytic Rules/DNS_HighReverseDNSCount_detection.yaml
  Solutions/Windows Server DNS/Analytic Rules/DNS_Miners.yaml
  Solutions/Windows Server DNS/Analytic Rules/DNS_TorProxies.yaml
  Solutions/Windows Server DNS/Analytic Rules/NRT_DNS_Related_To_Mining_Pools.yaml
Labels: Solution, Analytic Rules

#7753 Minor changes in Hunting Queries
  Solutions/Windows Server DNS/Hunting Queries/DNS_CommonlyAbusedTLDs.yaml
  Solutions/Windows Server DNS/Hunting Queries/DNS_DomainAnomalousLookupIncrease.yaml
  Solutions/Windows Server DNS/Hunting Queries/DNS_FullNameAnomalousLookupIncrease.yaml
  Solutions/Windows Server DNS/Hunting Queries/DNS_HighReverseDNSCount.yaml
  Solutions/Windows Server DNS/Hunting Queries/DNS_LongURILookup.yaml
Labels: Solution, Hunting

#7760 Threat Intelligence: Analytical Rule Improvements 2
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureSQL.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_CustomSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPentity_SigninLogs.yaml
Labels: Solution, Analytic Rules

#7703 Apifirewall poc v2
  Solutions/42Crunch API Protection/Data/Solution_42CrunchAPIProtection.json
  Solutions/42Crunch API Protection/Package/2.0.3.zip
  Solutions/42Crunch API Protection/Package/createUiDefinition.json
  Solutions/42Crunch API Protection/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7673 ASIM parser development guideline
  Parsers/AADUserInfo/test/readme.txt
  Parsers/ASim Microsoft Defender for IoT - Endpoint/test/readme.txt
  Parsers/ASim Sysmon for Linux/test/readme.txt
  Parsers/ASim Sysmon for Windows/test/readme.txt
  Parsers/ASim WindowsEvent/test/readme.txt
  Parsers/ASimAuditEvent/test/readme.txt
  Parsers/ASimAuthentication/test/readme.txt
  Parsers/ASimDns/test/readme.txt
  Parsers/ASimFileEvent/test/readme.txt
  Parsers/ASimNetworkSession/test/readme.txt
  Parsers/ASimProcessEvent/test/readme.txt
  Parsers/ASimRegistryEvent/test/readme.txt
  Parsers/ASimWebSession/Test/readme.txt
  Parsers/Readme
  Sample Data/ASIM/readme.md
  Solutions/Images/ASIM_Parser_Steps.png
Labels: ASIM

#7755 Threat Intelligence: Analytical Rule improvements
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_AuditLogs.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_PaloAlto.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_SecurityAlerts.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_Syslog.yaml
Labels: Solution, Analytic Rules

#7759 Repackaging solutions with Parser and connector description updates
  Solutions/ApacheHTTPServer/Data Connectors/Connector_ApacheHTTPServer_agent.json
  Solutions/ApacheHTTPServer/Data/Solution_Apache Http Server.json
  Solutions/ApacheHTTPServer/Package/2.0.2.zip
  Solutions/ApacheHTTPServer/Package/createUiDefinition.json
  Solutions/ApacheHTTPServer/Package/mainTemplate.json
  Solutions/ApacheHTTPServer/Parsers/ApacheHTTPServer.txt
  Solutions/Citrix ADC/Data Connectors/Connector_CitrixADC_CEF.json
  Solutions/Citrix ADC/Data/Solution_CitrixAdc.json
  Solutions/Citrix ADC/Package/2.0.1.zip
  Solutions/Citrix ADC/Package/mainTemplate.json
  Solutions/Citrix ADC/Parsers/CitrixADCEvent.txt
  Solutions/OracleWebLogicServer/Data Connectors/Connector_OracleWebLogicServer_agent.json
  Solutions/OracleWebLogicServer/Data/Solution_OracleWebLogicServer.json
  Solutions/OracleWebLogicServer/Package/2.0.1.zip
  Solutions/OracleWebLogicServer/Package/createUiDefinition.json
  Solutions/OracleWebLogicServer/Package/mainTemplate.json
  Solutions/OracleWebLogicServer/Parsers/OracleWebLogicServerEvent.txt
Labels: Solution

#7767 Threat Intelligence: Analytical Rule Improvements 3
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_DuoSecurity.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_VMConnection.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_W3CIISLog.yaml
Labels: Analytic Rules

#7770 Update ThreatIntelligence.json workbook
  Solutions/Threat Intelligence/Workbooks/ThreatIntelligence.json
Labels: Workbook

#7756 Updating analytic rules of threat intel - 2
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_Syslog.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_imWebSession.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_PaloAlto.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_SigninLogs.yaml
  Solutions/Threat Intelligence/Analytic Rules/FileHashEntity_CommonSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/FileHashEntity_SecurityEvent.yaml
Labels: Solution, Analytic Rules

#7769 minor changes in Hunting Query for DNS
  Solutions/Windows Server DNS/Hunting Queries/DNS_HighPercentNXDomainCount.yaml
  Solutions/Windows Server DNS/Hunting Queries/DNS_WannaCry.yaml
  Solutions/Windows Server DNS/Hunting Queries/Solorigate-DNS-Pattern.yaml
  Solutions/Windows Server DNS/Hunting Queries/Solorigate-Encoded-Domain-URL.yaml
Labels: Hunting

#7761 Updating analytic rules of threat intel - 3
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AWSCloudTrail.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AppServiceHTTPLogs.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureFirewall.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureNetworkAnalytics.yaml
Labels: Solution, Analytic Rules

#7757 Updating analytic rules of threat intel - 1
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_CommonSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_PaloAlto.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_SecurityAlert.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_AzureActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_SecurityAlert.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_SecurityEvent.yaml
Labels: Solution, Analytic Rules

#7762 Repackaging Aruba ClearPass and NGINX HTTP Server
  Solutions/Aruba ClearPass/Data Connectors/Connector_Syslog_ArubaClearPass.json
  Solutions/Aruba ClearPass/Data/Solution_Aruba.json
  Solutions/Aruba ClearPass/Package/2.0.2.zip
  Solutions/Aruba ClearPass/Package/createUiDefinition.json
  Solutions/Aruba ClearPass/Package/mainTemplate.json
  Solutions/Aruba ClearPass/Parsers/ArubaClearPass.txt
  Solutions/NGINX HTTP Server/Data Connectors/Connector_NGINX_agent.json
  Solutions/NGINX HTTP Server/Data/Solution_Nginx.json
  Solutions/NGINX HTTP Server/Package/2.0.2.zip
  Solutions/NGINX HTTP Server/Package/createUiDefinition.json
  Solutions/NGINX HTTP Server/Package/mainTemplate.json
  Solutions/NGINX HTTP Server/Parsers/NGINXHTTPServer.txt
Labels: Solution

#7741 Repackage IPQualityScore
  Solutions/IPQualityScore/Data/Solution_IPQualityScore.json
  Solutions/IPQualityScore/Package/2.0.0.zip
  Solutions/IPQualityScore/Package/createUiDefinition.json
  Solutions/IPQualityScore/Package/mainTemplate.json
  Solutions/IPQualityScore/Playbooks/Enrich-Sentinel-IPQualityScore-Email-Address-Reputation/azuredeploy.json
  Solutions/IPQualityScore/Playbooks/Enrich-Sentinel-IPQualityScore-IP-Address-Reputation/azuredeploy.json
  Solutions/IPQualityScore/Playbooks/Enrich-Sentinel-IPQualityScore-Phone-Number-Reputation/azuredeploy.json
  Solutions/IPQualityScore/Playbooks/Enrich-Sentinel-IPQualityScore-URL-Reputation/azuredeploy.json
  Solutions/IPQualityScore/Playbooks/Enrich_Sentinel_IPQualityScore_Domain_Reputation/azuredeploy.json
  Solutions/IPQualityScore/SolutionMetadata.json
Labels: Solution

#7772 Repackaging Windows Server DNS
  Solutions/Windows Server DNS/Data/Solution_DNS.json
  Solutions/Windows Server DNS/Package/2.0.5.zip
  Solutions/Windows Server DNS/Package/createUiDefinition.json
  Solutions/Windows Server DNS/Package/mainTemplate.json
Labels: Solution

#7475 Cohesity security
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/IncidentProducer/IncidentProducer.cs
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/IncidentProducer/local.settings.json
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/Package/IncidentProducer.zip
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/azuredeploy.json
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/deploy.py
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/deploy_config.sh
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/remove.py
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/storage_account_delete.sh
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/zip.sh
  Solutions/CohesitySecurity/Tests/Data/alert.json
  Solutions/CohesitySecurity/Tests/Data/recoveries.json
  Solutions/CohesitySecurity/Tests/alert.py
  Solutions/CohesitySecurity/Tests/alert.test.py
  Solutions/CohesitySecurity/Tests/az.py
  Solutions/CohesitySecurity/Tests/az.test.py
  Solutions/CohesitySecurity/Tests/deploy_playbooks.sh
  Solutions/CohesitySecurity/Tests/helios.py
  Solutions/CohesitySecurity/Tests/helios.test.py
  Solutions/CohesitySecurity/Tests/main.py
  Solutions/CohesitySecurity/Tests/readme.md
  Solutions/CohesitySecurity/cohesity.json
  Solutions/CohesitySecurity/json_parser.sh
Labels: Connector

#7682 03242023 as remove domains from zscaler url category
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Activate.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/URLcat.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Access_1.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Access_2.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Access_3.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Access_4.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Demo_1.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Demo_2.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Deploy_1.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Deploy_2.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Deploy_3.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Deploy_4.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Deploy_5.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Deploy_6.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Deploy_7.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Deploy_8.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Integration_Account_1.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Integration_Account_2.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Integration_Account_3.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Integration_Account_4.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Key_Vault_1.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Key_Vault_2.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Key_Vault_3.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/Zscaler_Key_Vault_4.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/gitinc1.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/init
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit1.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit1a.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit2.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit3.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit4.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit5.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit6.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit7.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit8.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/Images/zgit9.png
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/README.md
  Playbooks/AS-Remove-Domains-from-Zscaler-URL-Category/azuredeploy.json
Labels: Playbook

#7683 03242023 zscaler add domains to url category
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Access_1.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Access_2.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Access_3.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Access_4.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Demo_1.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Demo_2.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Demo_3.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Deploy_1.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Deploy_2.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Deploy_3.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Deploy_4.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Deploy_5.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Deploy_6.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Deploy_7.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Deploy_8.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Integration_Account_1.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Integration_Account_2.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Integration_Account_3.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Integration_Account_4.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Key_Vault_1.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Key_Vault_2.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Key_Vault_3.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/Images/Zscaler_Key_Vault_4.png
  Playbooks/Zscaler-add-Domains-to-URL-Category/README.md
  Playbooks/Zscaler-add-Domains-to-URL-Category/azuredeploy.json
Labels: Playbook

#7776 Addressing comments post merger for PR #7730
  Solutions/Microsoft Defender Threat Intelligence/Workbooks/MicrosoftThreatIntelligence.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#7773 Moving Analytic rules and Updating package for TI Solution
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/ASimDNS/imDns_DomainEntity_DnsEvents.yaml
  Detections/ASimDNS/imDns_IPEntity_DnsEvents.yaml
  Detections/ASimNetworkSession/IPEntity_imNetworkSession.yaml
  Detections/GitHub/Threat Intel Matches to GitHub Audit Logs.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_imNetworkSession.yaml
  Solutions/Threat Intelligence/Analytic Rules/Threat Intel Matches to GitHub Audit Logs.yaml
  Solutions/Threat Intelligence/Analytic Rules/imDns_DomainEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/imDns_IPEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/2.0.2.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution

#7707 Repackaging Azure Active Directory with Detections migration
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationAdded.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationDeleted.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationInboundCollaborationSettingsChanged.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationInboundDirectSettingsChanged.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationOutboundCollaborationSettingsChanged.yaml
  Detections/AuditLogs/Cross-tenantAccessSettingsOrganizationOutboundDirectSettingsChanged.yaml
  Detections/AuditLogs/GuestAccountsAddedinAADGroupsOtherThanTheOnesSpecified.yaml
  Detections/AuditLogs/NRT_AuthenticationMethodsChangedforVIPUsers.yaml
  Detections/AuditLogs/nrt_FirstAppOrServicePrincipalCredential.yaml
  Solutions/Azure Active Directory/Analytic Rules/Cross-tenantAccessSettingsOrganizationAdded.yaml
  Solutions/Azure Active Directory/Analytic Rules/Cross-tenantAccessSettingsOrganizationDeleted.yaml
  Solutions/Azure Active Directory/Analytic Rules/Cross-tenantAccessSettingsOrganizationInboundCollaborationSettingsChanged.yaml
  Solutions/Azure Active Directory/Analytic Rules/Cross-tenantAccessSettingsOrganizationInboundDirectSettingsChanged.yaml
  Solutions/Azure Active Directory/Analytic Rules/Cross-tenantAccessSettingsOrganizationOutboundCollaborationSettingsChanged.yaml
  Solutions/Azure Active Directory/Analytic Rules/Cross-tenantAccessSettingsOrganizationOutboundDirectSettingsChanged.yaml
  Solutions/Azure Active Directory/Analytic Rules/GuestAccountsAddedinAADGroupsOtherThanTheOnesSpecified.yaml
  Solutions/Azure Active Directory/Analytic Rules/NRT_AuthenticationMethodsChangedforVIPUsers.yaml
  Solutions/Azure Active Directory/Analytic Rules/nrt_FirstAppOrServicePrincipalCredential.yaml
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.11.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Detection

#7764 repackaging - Illumio Core/SecurityBridge/Trend Micro TippingPoint
  Solutions/Illumio Core/Data Connectors/Connector_IllumioCore_CEF.json
  Solutions/Illumio Core/Data/Solution_IllumioCore.json
  Solutions/Illumio Core/Package/2.0.1.zip
  Solutions/Illumio Core/Package/createUiDefinition.json
  Solutions/Illumio Core/Package/mainTemplate.json
  Solutions/Illumio Core/Parsers/IllumioCoreEvent.txt
  Solutions/SecurityBridge App/Data Connectors/Connector_SecurityBridge.json
  Solutions/SecurityBridge App/Data/Solution_SecurityBridgeSAP.json
  Solutions/SecurityBridge App/Package/2.0.1.zip
  Solutions/SecurityBridge App/Package/createUiDefinition.json
  Solutions/SecurityBridge App/Package/mainTemplate.json
  Solutions/SecurityBridge App/Parsers/SecurityBridgeLogs.txt
  Solutions/Trend Micro TippingPoint/Data Connectors/TrendMicroTippingPoint.json
  Solutions/Trend Micro TippingPoint/Data/Solution_Trend Micro TippingPoint.json
  Solutions/Trend Micro TippingPoint/Package/2.0.2.zip
  Solutions/Trend Micro TippingPoint/Package/createUiDefinition.json
  Solutions/Trend Micro TippingPoint/Package/mainTemplate.json
  Solutions/Trend Micro TippingPoint/Parsers/TrendMicroTippingPoint
Labels: Solution

#7771 Repackaging - Microsoft 365 Defender
  Solutions/Microsoft 365 Defender/Data/Solution_Microsoft 365 Defender.json
  Solutions/Microsoft 365 Defender/Package/2.0.4.zip
  Solutions/Microsoft 365 Defender/Package/createUiDefinition.json
  Solutions/Microsoft 365 Defender/Package/mainTemplate.json
Labels: Solution

#7786 Duplicate Content
  Hunting Queries/Dynamics365Activity/DynamicsActivityAfterAADAlert.yaml
  Hunting Queries/Dynamics365Activity/DynamicsActivityAfterFailedLogons.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Hunting Queries/CobaltDNSBeacon.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttempts.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttemptsByIP.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-from-NordVPN-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/UserGrantedAccess_GrantsOthersAccess.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/AzureResourceAssignedPublicIP.yaml
  Solutions/Legacy IOC based Threat Protection/Hunting Queries/STRONTIUM_IOC_RetroHunt.yaml
  Solutions/Legacy IOC based Threat Protection/Hunting Queries/SolarWindsInventory.yaml
  Solutions/Network Threat Protection Essentials/Analytic Rules/NetworkEndpointCorrelation.yaml
  Solutions/Network Threat Protection Essentials/Analytic Rules/NewUserAgentLast24h.yaml
  Solutions/Network Threat Protection Essentials/Hunting Queries/UseragentExploitPentest.yaml
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Hunting

#7791 Tool changes to raise exception if content is being duplicated as standalone as well as part of solution
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7780 Watchguard, MarkLogicAudit, MongoDBAudit DC Description Update
  Solutions/MarkLogicAudit/Data/Solution_MarkLogicAudit.json
  Solutions/MarkLogicAudit/DataConnectors/Connector_MarkLogicAudit.json
  Solutions/MarkLogicAudit/Package/2.0.3.zip
  Solutions/MarkLogicAudit/Package/mainTemplate.json
  Solutions/MongoDBAudit/Data Connectors/Connector_MongoDBAudit.json
  Solutions/MongoDBAudit/Data/Solution_MongoDBAudit.json
  Solutions/MongoDBAudit/Package/2.0.3.zip
  Solutions/MongoDBAudit/Package/mainTemplate.json
  Solutions/Watchguard Firebox/Data Connectors/Connector_syslog_WatchGuardFirebox.json
  Solutions/Watchguard Firebox/Data/Solution_WatchguardFirebox.json
  Solutions/Watchguard Firebox/Package/2.0.3.zip
  Solutions/Watchguard Firebox/Package/createUiDefinition.json
  Solutions/Watchguard Firebox/Package/mainTemplate.json
Labels: Solution

#7795 Repackaging Legacy IOC and Network Threat Protection Solution
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Package/2.0.5.zip
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
  Solutions/Network Threat Protection Essentials/Data/Solution_NetworkThreatDetection.json
  Solutions/Network Threat Protection Essentials/Package/2.0.1.zip
  Solutions/Network Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Network Threat Protection Essentials/Package/mainTemplate.json
Labels: Solution

#7777 Repackaging ESETProtect
  Solutions/ESETPROTECT/Data Connectors/Connector_Syslog_ESETPROTECT.json
  Solutions/ESETPROTECT/Data/Solution_ESETPROTECT.json
  Solutions/ESETPROTECT/Package/2.0.1.zip
  Solutions/ESETPROTECT/Package/createUiDefinition.json
  Solutions/ESETPROTECT/Package/mainTemplate.json
  Solutions/ESETPROTECT/Parsers/ESETPROTECT.txt
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7802 Removed content for VMRay solution
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/VMRayETDFeeder.zip
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/VMRayETDFeeder/__init__.py
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/VMRayETDFeeder/function.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/VMRayETD_API_FunctionApp.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/azuredeploy_VMRayETD_API_FunctionApp.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/host.json
  Solutions/VMRay Email Threat Defender Connector/Data Connectors/requirements.txt
  Solutions/VMRay Email Threat Defender Connector/Data/Solution_VMRay.json
  Solutions/VMRay Email Threat Defender Connector/Package/1.1.0.zip
  Solutions/VMRay Email Threat Defender Connector/Package/2.0.0.zip
  Solutions/VMRay Email Threat Defender Connector/Package/createUiDefinition.json
  Solutions/VMRay Email Threat Defender Connector/Package/mainTemplate.json
  Solutions/VMRay Email Threat Defender Connector/SolutionMetadata.json
Labels: Solution

#7768 add the rulename, transactionID, Resourcetype and resourceID for WAF
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/UserAgentSearch_log4j.yaml
Labels: Analytic Rules

#7782 InfobloxCDC.txt Parser Update
  Solutions/Infoblox Cloud Data Connector/Parsers/InfobloxCDC.txt
Labels: Parser

#7803 Adding Workbook Metadata for CyberARK EPM
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#7800 Repackaging Attackers Tools Threat Protection Essentials
  Solutions/Attacker Tools Threat Protection Essentials/Data/Solution_AttackersToolsThreatProtectionEssentials.json
  Solutions/Attacker Tools Threat Protection Essentials/Package/2.0.1.zip
  Solutions/Attacker Tools Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Attacker Tools Threat Protection Essentials/Package/mainTemplate.json
Labels: Solution

#7723 Vectra Detect Analytics fixes
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-HighSeverityDetection-by-Tactics.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-NewCampaign.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Suspected-Behavior-by-Tactics.yaml
Labels: Solution, Analytic Rules

#7794 Cloud Service & Cloud Identity Repackaging
  Solutions/Cloud Identity Threat Protection Essentials/Data/Solution_CloudIdentityThreatDetection.json
  Solutions/Cloud Identity Threat Protection Essentials/Package/2.0.1.zip
  Solutions/Cloud Identity Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Cloud Service Threat Protection Essentials/Data/Solution_CloudServiceThreatProtectionEssentials.json
  Solutions/Cloud Service Threat Protection Essentials/Package/2.0.1.zip
  Solutions/Cloud Service Threat Protection Essentials/Package/mainTemplate.json
Labels: Solution

#7811 Updated Jira Audit with 2.0.4 to fix hunting query
  Solutions/AtlassianJiraAudit/Data/Solution_AtlassianJiraAudit.json
  Solutions/AtlassianJiraAudit/Package/2.0.4.zip
  Solutions/AtlassianJiraAudit/Package/createUiDefinition.json
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
Labels: Solution

#7810 Minor Changes - Analytics Rule
  Solutions/Microsoft 365 Defender/Analytic Rules/AVSpringShell.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/AVTarrask.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/AVdetectionsrelatedtoUkrainebasedthreats.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/PossiblePhishingwithCSL&NetworkSession.yaml
  Solutions/Microsoft 365 Defender/Analytic Rules/PotentialBuildProcessCompromiseMDE.yaml
Labels: Solution, Analytic Rules

#7787 Workplace from Facebook Repackaging
  Solutions/Workplace from Facebook/Data Connectors/WorkplaceFacebook/WorkplaceFacebook_Webhooks_FunctionApp.json
  Solutions/Workplace from Facebook/Data/Solution_WorkplaceFacebook.json
  Solutions/Workplace from Facebook/Package/2.0.1.zip
  Solutions/Workplace from Facebook/Package/mainTemplate.json
  Solutions/Workplace from Facebook/Parsers/Workplace_Facebook.txt
Labels: Solution

#7775 MDC Analytical Rule Improvements
  Solutions/Microsoft Defender for Cloud/Analytic Rules/CoreBackupDeletionwithSecurityAlert.yaml
Labels: Solution, Analytic Rules

#7330 Add more cases and fix join key in Analytic Rule AzDiagSettingsDeleted.yaml
  Detections/AzureActivity/AzDiagSettingsDeleted.yaml
Labels: Detection

#7824 Add pack parameter to ASIM templates
  ASIM/deploy/EmptyCustomUnifyingParsers/ASim_DnsCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/ASim_NetworkSessionCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/ASim_WebSessionCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/Im_DnsCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/Im_NetworkSessionCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/Im_WebSessionCustom.json
Labels: ASIM

#7825 ASIM packed to pack
  ASIM/deploy/EmptyCustomUnifyingParsers/ASim_DnsCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/ASim_NetworkSessionCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/ASim_WebSessionCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/Im_DnsCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/Im_NetworkSessionCustom.json
  ASIM/deploy/EmptyCustomUnifyingParsers/Im_WebSessionCustom.json
Labels: ASIM

#7806 M365D Hunting query improvements
  Solutions/Microsoft 365 Defender/Hunting Queries/Appspot Phishing Abuse.yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/Check for spoofing attempts on the domain with Authentication failures.yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/Delivered Bad Emails from Top bad IPv4 addresses .yaml
  Solutions/Microsoft 365 Defender/Hunting Queries/EmailDelivered-ToInbox.yaml
Labels: Solution, Hunting

#7823 FortiNet FortiGate - Updated category filter to use new CEF field
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionFortinetFortiGate/ASimNetworkSessionFortinetFortiGate.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionFortinetFortiGate/vimNetworkSessionFortinetFortiGate.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionFortinetFortiGate.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionFortinetFortiGate.yaml
Labels: ASIM

#7826 Adding 1.0.0 package back to cyberARK Solution
  Solutions/CyberArkEPM/Package/1.0.0.zip
Labels: Solution

#7829 TI package for private preview
  Solutions/Threat Intelligence/Package/2.0.3.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#7831 asim/add-audit-custom-take-3
  ASIM/deploy/EmptyCustomUnifyingParsers/ASimEmptyView.json
  ASIM/deploy/EmptyCustomUnifyingParsers/AuditEventDeploymentCustomUnifyingParsers.json
Labels: ASIM

#7833 Signl4 & ForescoutHostPropertyMonitor Repackaging
  Solutions/ForescoutHostPropertyMonitor/Data/Solution_ForescoutHostProp.json
  Solutions/ForescoutHostPropertyMonitor/Package/2.0.1.zip
  Solutions/ForescoutHostPropertyMonitor/Package/mainTemplate.json
  Solutions/ForescoutHostPropertyMonitor/SolutionMetadata.json
  Solutions/SIGNL4/Data/Solution_SIGNL4.json
  Solutions/SIGNL4/Package/2.0.2.zip
  Solutions/SIGNL4/Package/mainTemplate.json
Labels: Solution

#7809 Fixes broken analytics
  Solutions/Azure Active Directory/Analytic Rules/MFARejectedbyUser.yaml
  Solutions/Azure Active Directory/Analytic Rules/NRT_MFARejectedbyUser.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_CommonSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_PaloAlto.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_SecurityAlert.yaml
Labels: Solution, Analytic Rules

#7724 Added support for the case when adding a user takes place outside/wit…
  Detections/AuditLogs/UserAddedtoAdminRole.yaml
Labels: Detection

#7812 Jamf Protect for Microsoft Sentinel v2.1.3
  Solutions/Jamf Protect/Analytic Rules/JamfProtectAlerts.yaml
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Package/2.1.3.zip
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/SolutionMetadata.json
Labels: Solution

#7815 Armoblox & Flare repackaging
  Solutions/Armorblox/Data/Solution_Armorblox.json
  Solutions/Armorblox/Package/2.0.2.zip
  Solutions/Armorblox/Package/createUiDefinition.json
  Solutions/Armorblox/Package/mainTemplate.json
  Solutions/Armorblox/Playbooks/Needs-Review-Incident-Email-Notification/README.md
  Solutions/Armorblox/Playbooks/Needs-Review-Incident-Email-Notification/azuredeploy.json
  Solutions/Armorblox/Playbooks/Needs-Review-Incident-Email-Notification/images/Playbook_Send-email-alert.png
  Solutions/Flare/Data/Solution_FlareSystemsFirework.json
  Solutions/Flare/Package/2.0.3.zip
  Solutions/Flare/Package/createUiDefinition.json
  Solutions/Flare/Package/mainTemplate.json
  Solutions/Flare/Playbooks/credential-warning/azuredeploy.json
  Solutions/Flare/Playbooks/credential-warning/readme.md
Labels: Playbook, Solution

#7817 ReversingLabs solution v2.1.2
  Solutions/ReversingLabs/Package/2.1.2.zip
  Solutions/ReversingLabs/Package/mainTemplate.json
  Solutions/ReversingLabs/Playbooks/ReversingLabs-EnrichFileHash/azuredeploy.json
Labels: Solution

#7650 Cynerio Event Solution
  .script/tests/KqlvalidationsTests/CustomTables/CynerioEvent_CL.json
  Logos/Cynerio.svg
  Parsers/ASimAuthentication/Tests/Cynerio_Cynerio_Authentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/Cynerio_Cynerio_Authentication_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/Cynerio_Cynerio_NetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/Cynerio_Cynerio_NetworkSession_SchemaTest.csv
  Sample Data/AsimAuthenticationCynerioEvents_schema.csv
  Sample Data/AsimNetworkSessionCynerioEvents_schema.csv
  Sample Data/Cynerio_Authentication_query_data.csv
  Sample Data/Cynerio_Cynerio_Authentication_IngestedLogs.csv
  Sample Data/Cynerio_Cynerio_NetworkSession_IngestedLogs.csv
  Sample Data/Cynerio_IngestedLogs.csv
  Sample Data/Cynerio_NetworkSession_query_data.csv
  Sample Data/Cynerio_RawLogs.json
  Sample Data/Cynerio_Schema.csv
  Solutions/Cynerio/Data Connectors/Cynerio_Connector.json
  Solutions/Cynerio/Data/Solution_Cynerio.json
  Solutions/Cynerio/Package/2.0.0.zip
  Solutions/Cynerio/Package/createUiDefinition.json
  Solutions/Cynerio/Package/mainTemplate.json
  Solutions/Cynerio/Parsers/CynerioEvent_Authentication.txt
  Solutions/Cynerio/Parsers/CynerioEvent_NetworkSession.txt
  Solutions/Cynerio/SolutionMetadata.json
Labels: ASIM

#7641 Add pipeline API for OAT
  Sample Data/Custom/TrendMicro_XDR_OAT_CL.json
  Sample Data/Custom/TrendMicro_XDR_OAT_Health_Check_CL.json
  Solutions/Trend Micro Vision One/Analytic Rules/Create Incident for XDR Alerts.yaml
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/oat_pipeline_file_poison_qt/__init__.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/oat_pipeline_file_poison_qt/function.json
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/oat_pipeline_file_qt/__init__.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/oat_pipeline_file_qt/function.json
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/oat_pipeline_task_poison_qt/__init__.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/oat_pipeline_task_poison_qt/function.json
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/oat_pipeline_task_qt/__init__.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/oat_pipeline_task_qt/function.json
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/queue_trigger_oat/__init__.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/queue_trigger_oat/function.json
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/requirements.txt
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/configurations.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/customized_logger/__init__.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/customized_logger/customized_json_logger.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/data_collector.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/decorators/__init__.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/decorators/timer.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/models/oat.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/services/oat_service.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/services/workbench_service.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/trace_utils/trace/trace_manager.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/transform_utils.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/shared_code/utils.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/timer_trigger_oat/__init__.py
  Solutions/Trend Micro Vision One/Data Connectors/AzureFunctionTrendMicroXDR/timer_trigger_oat/function.json
  Solutions/Trend Micro Vision One/Data Connectors/TrendMicroXDR.json
  Solutions/Trend Micro Vision One/Data Connectors/azuredeploy_TrendMicroVisionOne_API_FunctionApp.json
  Solutions/Trend Micro Vision One/Data Connectors/requirements.txt
  Solutions/Trend Micro Vision One/Data/Solution_TrendMicroVisionOneTemplateSpec.json
  Solutions/Trend Micro Vision One/Package/2.0.1.zip
  Solutions/Trend Micro Vision One/Package/createUiDefinition.json
  Solutions/Trend Micro Vision One/Package/mainTemplate.json
  Solutions/Trend Micro Vision One/Workbooks/TrendMicroXDROverview.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/TrendMicroXDROverview.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#7843 Updated planId to offerId for Cisco ISE
  Solutions/Cisco ISE/SolutionMetadata.json
Labels: Solution

#7845 asim/force-build
  Parsers/ASimAuditEvent/Parsers/ASimAuditEvent.yaml
  Parsers/ASimAuthentication/ARM/AADSTS/AADSTS.json
  Parsers/ASimAuthentication/ARM/AADSTS/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADNonInteractive/ASimAuthenticationAADNonInteractive.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADSigninLogs/ASimAuthenticationAADSigninLogs.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationM365Defender/ASimAuthenticationM365Defender.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationMicrosoftWindowsEvent/ASimAuthenticationMicrosoftWindowsEvent.json
  Parsers/ASimAuthentication/ARM/FullDeploymentAuthentication.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADManagedIdentity/vimAuthenticationAADManagedIdentity.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADNonInteractive/vimAuthenticationAADNonInteractive.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADServicePrincipalSignInLogs/vimAuthenticationAADServicePrincipalSignInLogs.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADSigninLogs/vimAuthenticationAADSigninLogs.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationEmpty/vimAuthenticationEmpty.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationM365Defender/vimAuthenticationM365Defender.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationMicrosoftWindowsEvent/vimAuthenticationMicrosoftWindowsEvent.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationPostgreSQL/vimAuthenticationPostgreSQL.json
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimDns/ARM/ASimDnsNative/ASimDnsNative.json
  Parsers/ASimDns/Parsers/ASimDns.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEvent.yaml
  Parsers/ASimRegistryEvent/ARM/FullDeploymentRegistryEvent.json
  Parsers/ASimRegistryEvent/ARM/README.md
  Parsers/ASimRegistryEvent/ARM/imRegistry/README.md
  Parsers/ASimRegistryEvent/ARM/imRegistry/imRegistry.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventEmpty/README.md
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventEmpty/vimRegistryEventEmpty.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoft365D/README.md
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoft365D/vimRegistryEventMicrosoft365D.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftSecurityEvent/README.md
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftSecurityEvent/vimRegistryEventMicrosoftSecurityEvent.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftSysmon/README.md
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftSysmon/vimRegistryEventMicrosoftSysmon.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftWindowsEvent/README.md
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftWindowsEvent/vimRegistryEventMicrosoftWindowsEvent.json
  Parsers/ASimRegistryEvent/Parsers/imRegistry.yaml
  Parsers/ASimWebSession/ARM/ASimWebSession/ASimWebSession.json
  Parsers/ASimWebSession/ARM/ASimWebSessionIIS/ASimWebSessionIIS.json
  Parsers/ASimWebSession/ARM/ASimWebSessionIIS/README.md
  Parsers/ASimWebSession/ARM/FullDeploymentWebSession.json
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
Labels: ASIM

#7844 Repackaging - Teams
  Solutions/Teams/Data/Solution_Teams.json
  Solutions/Teams/Package/2.0.1.zip
  Solutions/Teams/Package/createUiDefinition.json
  Solutions/Teams/Package/mainTemplate.json
Labels: Solution

#7847 asim/workspace-region-deploy
  ASIM/ASimFullDeployment.json
  ASIM/dev/ASimTester/ASimDataTester.json
  ASIM/dev/ASimTester/ASimSchemaTester.json
  ASIM/dev/ASimTester/ASimTester.json
  Parsers/ASim Microsoft Defender for IoT - Endpoint/MD4IoTFullDeployment.json
  Parsers/ASim Sysmon for Windows/SysmonFullDeployment.json
  Parsers/ASim WindowsEvent/ARM/MicrosoftWindowsEventFullDeployment.json
  Parsers/ASimRegistryEvent/ARM/FullDeploymentRegistryEvent.json
  Parsers/ASimRegistryEvent/ARM/imRegistry/imRegistry.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventEmpty/vimRegistryEventEmpty.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoft365D/vimRegistryEventMicrosoft365D.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftSecurityEvent/vimRegistryEventMicrosoftSecurityEvent.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftSysmon/vimRegistryEventMicrosoftSysmon.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftWindowsEvent/vimRegistryEventMicrosoftWindowsEvent.json
Labels: ASIM

#7835 Microsoft Defender for Cloud App: Update Analytic rule and Workbook
  Solutions/Microsoft Defender for Cloud Apps/Analytic Rules/AdditionalFilesUploadedByActor.yaml
  Solutions/Microsoft Defender for Cloud Apps/Workbooks/MicrosoftCloudAppSecurity.json
Labels: Solution, Analytic Rules

#7842 Updating log4j hunting rules-1
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Apache_log4j_Vulnerability.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Base64_Download_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Container_Miner_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Firewall_Disable_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Linux_Toolkit_Detected.yaml
Labels: Solution, Hunting

#7846 Repackaging AzureSecurityBenchmark
  Solutions/AzureSecurityBenchmark/Data/Solution_AzureSecurityBenchmark.json
  Solutions/AzureSecurityBenchmark/Package/2.0.1.zip
  Solutions/AzureSecurityBenchmark/Package/createUiDefinition.json
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
  Solutions/AzureSecurityBenchmark/Playbooks/Notify_GovernanceComplianceTeam-SecurityBenchmark/Notify_GovernanceComplianceTeam.json
Labels: Solution

#7840 Repackaging - Servicenow and CiscoASA
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/2.0.3.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/Playbooks/CiscoASAConnector/CiscoASA-swagger.json
  Solutions/CiscoASA/Playbooks/CiscoASAConnector/azuredeploy-gateway.json
  Solutions/CiscoASA/Playbooks/CiscoASAConnector/azuredeploy.json
  Solutions/CiscoASA/Playbooks/CiscoASAConnector/readme.md
  Solutions/Servicenow/Data/Solution_Servicenow.json
  Solutions/Servicenow/Package/2.0.1.zip
  Solutions/Servicenow/Package/createUiDefinition.json
  Solutions/Servicenow/Package/mainTemplate.json
  Solutions/Servicenow/Playbooks/Create-SNOW-record/readme.md
  Solutions/Servicenow/StoreApp/README.md
Labels: Solution

#7752 Threat Intelligence playbooks with key vault to hold Client-Secret instead of Logic App SecureString
  Solutions/Microsoft Defender Threat Intelligence/Package/2.0.3.zip
  Solutions/Microsoft Defender Threat Intelligence/Package/mainTemplate.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Automated-Triage/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Base/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-WebComponents/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Intel-Reputation/azuredeploy.json
Labels: Solution

#7857 Arm-ttk Tools error in validation
  .github/workflows/arm-ttk-validations.yaml
  Solutions/Agari/Package/mainTemplate.json
Labels: Validation

#7849 Attacker Tools Threat Protection Essentials: Update Analytic Rule and Hunting Queries
  Solutions/Attacker Tools Threat Protection Essentials/Analytic Rules/AdFind_Usage.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Analytic Rules/CredentialDumpingServiceInstallation.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Analytic Rules/CredentialDumpingToolsFileArtifacts.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Analytic Rules/powershell_empire.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Hunting Queries/CobaltDNSBeacon.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Hunting Queries/PotentialImpacketExecution.yaml
Labels: Solution, Hunting, Analytic Rules

#7832 Repackaging Zero Trust, NISTS, Maturity Model and CMMCV2
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Data/Solution_CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/2.0.3.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/createUiDefinition.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/mainTemplate.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Playbooks/Notify_GovernanceComplianceTeam-CMMCV2/Notify_GovernanceComplianceTeam.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Workbooks/CybersecurityMaturityModelCertification_CMMCV2.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/2.0.5.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/Playbooks/Notify_LogManagementTeam-MaturityModel/Notify_LogManagementTeam.json
  Solutions/MaturityModelForEventLogManagementM2131/Playbooks/Open_DevOpsTaskRecommendation/Open_DevOpsTaskRecommendation.json
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
  Solutions/NISTSP80053/Package/2.0.3.zip
  Solutions/NISTSP80053/Package/createUiDefinition.json
  Solutions/NISTSP80053/Package/mainTemplate.json
  Solutions/NISTSP80053/Playbooks/Notify_GovernanceComplianceTeam-NISTSP80053/Notify_GovernanceComplianceTeam.json
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
  Solutions/ZeroTrust(TIC3.0)/Package/2.0.5.zip
  Solutions/ZeroTrust(TIC3.0)/Package/createUiDefinition.json
  Solutions/ZeroTrust(TIC3.0)/Package/mainTemplate.json
  Solutions/ZeroTrust(TIC3.0)/Playbooks/Notify_GovernanceComplianceTeam-ZeroTrust/Notify_GovernanceComplianceTeam.json
  Solutions/ZeroTrust(TIC3.0)/Workbooks/ZeroTrustTIC3.json
  Solutions/ZeroTrust(TIC3.0)/data/Solution_ZeroTrust(TIC3.0).json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7859 Updating Azure Sentinel to Microsoft Sentinel in Security Benchmark
  Solutions/AzureSecurityBenchmark/Data/Solution_AzureSecurityBenchmark.json
  Solutions/AzureSecurityBenchmark/Package/2.0.2.zip
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
Labels: Solution

#7736 Adding missing parameter
  Solutions/ZeroNetworks/Data Connectors/SegmentFunctionConnector/azuredeploy_Connector_ZeroNetworks_Segment_Audit_AzureFunction.json
  Solutions/ZeroNetworks/Data Connectors/SegmentNativePollerConnector/azuredeploy_ZeroNetworks_Segment_native_poller_connector.json
  Solutions/ZeroNetworks/Data/Solution_ZeroNetworks.json
  Solutions/ZeroNetworks/Package/2.0.3.zip
  Solutions/ZeroNetworks/Package/createUiDefinition.json
  Solutions/ZeroNetworks/Package/mainTemplate.json
  Solutions/ZeroNetworks/Playbooks/CustomConnector/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZNSolutionPlaybooks.json
  Solutions/ZeroNetworks/SolutionMetadata.json
Labels: Solution

#7814 Repackaging Digital Shadows and Cisco Firepower
  Solutions/Cisco Firepower EStreamer/Data/Solution_Cisco Firepower EStreamer.json
  Solutions/Cisco Firepower EStreamer/Package/2.0.3.zip
  Solutions/Cisco Firepower EStreamer/Package/mainTemplate.json
  Solutions/Cisco Firepower EStreamer/Playbooks/CiscoFirepowerConnector/CiscoFirepower-swagger.json
  Solutions/Cisco Firepower EStreamer/Playbooks/CiscoFirepowerConnector/azuredeploy-gateway.json
  Solutions/Cisco Firepower EStreamer/Playbooks/CiscoFirepowerConnector/azuredeploy.json
  Solutions/Cisco Firepower EStreamer/Playbooks/CiscoFirepowerConnector/readme.md
  Solutions/Digital Shadows/Data/Solution_DigitalShadowsSearchlight.json
  Solutions/Digital Shadows/Package/2.0.1.zip
  Solutions/Digital Shadows/Package/createUiDefinition.json
  Solutions/Digital Shadows/Package/mainTemplate.json
  Solutions/Digital Shadows/Playbooks/DigitalShadowsPlaybooktoUpdateIncidentStatus/DigitalShadowsPlaybook-UpdateIncidentStatus.json
  Solutions/Digital Shadows/Playbooks/DigitalShadowsPlaybooktoUpdateIncidentStatus/readme.md
Labels: Solution

#7862 Adding test fields for ProcessEvent
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#7837 SecurityThreatEssentials-HuntingQuery-Changes
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/SecurityThreatEssentialSolution/Hunting Queries/Signins-from-NordVPN-Providers.yaml
Labels: Solution, Hunting

#7861 ThreatEssentials_AnalyticsRuleMinorChanges
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/PossibleAiTMPhishingAttemptAgainstAAD.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_MultipleAdmin_membership_removals_from_NewAdmin.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_NRT_UseraddedtoPrivilgedGroups.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_TimeSeriesAnomaly-MultiVendor_DataExfiltration.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_TimeSeriesAnomaly_Mass_Cloud_Resource_Deletions.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_UserAssignedPrivilegedRole.yaml
Labels: Solution, Analytic Rules

#7865 Updating entity mapping for COMEventSystemLoadingNewDLL.yaml
  Detections/SecurityEvent/COMEventSystemLoadingNewDLL.yaml
Labels: Detection

#7841 Update analytic rules of log4j
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/AzureWAFmatching_log4j_vuln.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4jVulnerableMachines.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/UserAgentSearch_log4j.yaml
Labels: Solution, Analytic Rules

#7855 update log4j hunting rules - 2
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/NetworkConnectionToNewExternalLDAPServer.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/NetworkConnectionldap_log4j.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Process_Termination_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Suspicious_ShellScript_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/WAF_log4j_vulnerability.yaml
Labels: Solution, Hunting

#7870 DNSEssentials_AddingCustomTable_KQLValidation
  .script/tests/KqlvalidationsTests/CustomTables/DNS_Summarized_Logs_ip_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/DNS_Summarized_Logs_sourceInfo_CL.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: Tools

#7858 Updating darktrace package to 2.0.1
  Solutions/Darktrace/Data/Solution_DarktraceEnterpriseImmuneSystem.json
  Solutions/Darktrace/Package/2.0.1.zip
  Solutions/Darktrace/Package/createUiDefinition.json
  Solutions/Darktrace/Package/mainTemplate.json
Labels: Solution

#7718 Updating Zscaler playbooks to add in Solution
  Playbooks/Zscaler/Add-IP-To-Category/azuredeploy.json
  Solutions/Zscaler Internet Access/Data/Solution_Zscaler Internet Access.json
  Solutions/Zscaler Internet Access/Package/2.0.1.zip
  Solutions/Zscaler Internet Access/Package/createUiDefinition.json
  Solutions/Zscaler Internet Access/Package/mainTemplate.json
  Solutions/Zscaler Internet Access/Playbooks/Add-Url-To-Category/azuredeploy.json
  Solutions/Zscaler Internet Access/Playbooks/Add-Url-To-Category/deployboth.json
  Solutions/Zscaler Internet Access/Playbooks/Add-Url-To-Category/images/Sentinel_Add_URL_To_Category.png
  Solutions/Zscaler Internet Access/Playbooks/Add-Url-To-Category/images/designerDark.png
  Solutions/Zscaler Internet Access/Playbooks/Add-Url-To-Category/images/designerLight.png
  Solutions/Zscaler Internet Access/Playbooks/Add-Url-To-Category/readme.md
  Solutions/Zscaler Internet Access/Playbooks/Get-Sandbox-Report-For-Hash/azuredeploy.json
  Solutions/Zscaler Internet Access/Playbooks/Get-Sandbox-Report-For-Hash/deployboth.json
  Solutions/Zscaler Internet Access/Playbooks/Get-Sandbox-Report-For-Hash/images/Get-Sandbox-Report.png
  Solutions/Zscaler Internet Access/Playbooks/Get-Sandbox-Report-For-Hash/images/designerDark.png
  Solutions/Zscaler Internet Access/Playbooks/Get-Sandbox-Report-For-Hash/images/designerLight.png
  Solutions/Zscaler Internet Access/Playbooks/Get-Sandbox-Report-For-Hash/readme.md
  Solutions/Zscaler Internet Access/Playbooks/Zscaler API authentication/FunctionApp/azuredeploy.json
  Solutions/Zscaler Internet Access/Playbooks/Zscaler API authentication/azuredeploy.json
  Solutions/Zscaler Internet Access/Playbooks/Zscaler API authentication/images/Authentication.png
  Solutions/Zscaler Internet Access/Playbooks/Zscaler API authentication/readme.md
Labels: Playbook, Solution

#7834 Repackaging Fortinet-Fortigate and Zero Networks
  Solutions/Fortinet-FortiGate/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet-FortiGate/Package/2.0.2.zip
  Solutions/Fortinet-FortiGate/Package/mainTemplate.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet-FortiGate-FunctionApp/Fortinetlogo.png
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet-FortiGate-FunctionApp/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/Fortinet-FortiGate-FunctionApp/readme.md
  Solutions/Fortinet-FortiGate/Playbooks/FortinetFortiGateConnector/Fortinetlogo.png
  Solutions/Fortinet-FortiGate/Playbooks/FortinetFortiGateConnector/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/FortinetFortiGateConnector/readme.md
  Solutions/ZeroNetworks/Data/Solution_ZeroNetworks.json
  Solutions/ZeroNetworks/Package/2.0.3.zip
  Solutions/ZeroNetworks/Package/createUiDefinition.json
  Solutions/ZeroNetworks/Package/mainTemplate.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksConnector/ZeroNetworks-swagger.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksConnector/ZeroNetworks-swagger.yaml
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksConnector/azuredeploy.json
  Solutions/ZeroNetworks/Playbooks/ZeroNetworksConnector/readme.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7783 Changes before PP
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/DNS Essentials/Analytic Rules/DNSRequestToKnownDomainIOCs.yaml
  Solutions/DNS Essentials/Analytic Rules/ExcessiveNXDOMAINDNSQueriesAnomalyBased.yaml
  Solutions/DNS Essentials/Analytic Rules/ExcessiveNXDOMAINDNSQueriesStaticThresholdBased.yaml
  Solutions/DNS Essentials/Analytic Rules/MultipleErrorsReportedForSameDNSQueryAnomalyBased.yaml
  Solutions/DNS Essentials/Analytic Rules/MultipleErrorsReportedForSameDNSQueryStaticThresholdBased.yaml
  Solutions/DNS Essentials/Analytic Rules/PotentialDGADetectedviaRepetitiveFailuresAnomalyBased.yaml
  Solutions/DNS Essentials/Analytic Rules/PotentialDGADetectedviaRepetitiveFailuresStaticThresholdBased.yaml
  Solutions/DNS Essentials/Analytic Rules/RareClientObservedWithHighReverseDNSLookupCountAnomalyBased.yaml
  Solutions/DNS Essentials/Analytic Rules/RareClientObservedWithHighReverseDNSLookupCountStaticThresholdBased.yaml
  Solutions/DNS Essentials/Hunting Queries/AnomalousIncreaseInDNSActivityByClients.yaml
  Solutions/DNS Essentials/Hunting Queries/CVE-2020-1350 (SIGRED)ExploitationPattern.yaml
  Solutions/DNS Essentials/Hunting Queries/ConnectionToUnpopularWebsiteDetected.yaml
  Solutions/DNS Essentials/Hunting Queries/DNSQueryWithFailuresInLast24Hours.yaml
  Solutions/DNS Essentials/Hunting Queries/DNSRequestToKnownDomainIOCs.yaml
  Solutions/DNS Essentials/Hunting Queries/DomainsWithLargeNumberOfSubDomains.yaml
  Solutions/DNS Essentials/Hunting Queries/IncreaseInDNSRequestsByClientThanTheDailyAverageCount.yaml
  Solutions/DNS Essentials/Hunting Queries/PossibleDNSTunnelingOrDataExfiltrationActivity.yaml
  Solutions/DNS Essentials/Hunting Queries/PotentialBeaconingActivity.yaml
  Solutions/DNS Essentials/Hunting Queries/Sources(Clients)WithHighNumberOfErrors.yaml
  Solutions/DNS Essentials/Hunting Queries/UnexpectedTopLevelDomains.yaml
  Solutions/DNS Essentials/Watchlists/DNS_Solution_Domain_IOCs.json
  Solutions/DNS Essentials/Watchlists/DNS_Solution_Monitoring_Configuration.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7875 update publisher and solution id
  Solutions/Cynerio/Data Connectors/Cynerio_Connector.json
  Solutions/Cynerio/Package/2.0.0.zip
  Solutions/Cynerio/Package/mainTemplate.json
  Solutions/Cynerio/Parsers/CynerioEvent_Authentication.txt
  Solutions/Cynerio/Parsers/CynerioEvent_NetworkSession.txt
  Solutions/Cynerio/SolutionMetadata.json
Labels: Solution

#7876 PowerShell Empire Rule Bugfix
  Sample Data/Feeds/EmpireCommandString.txt
  Solutions/Attacker Tools Threat Protection Essentials/Analytic Rules/powershell_empire.yaml
Labels: Parser, Solution, Analytic Rules

#7877 Fixing bug for Sysmon for linux data connector
  Solutions/Microsoft Sysmon For Linux/Data/Solution_Linux.json
  Solutions/Microsoft Sysmon For Linux/Package/2.0.1.zip
  Solutions/Microsoft Sysmon For Linux/Package/mainTemplate.json
Labels: Solution

#7766 Correct sample queries, data types and connectivity criteria so SonicWall Firewall reports as connected on all appliance models
  Solutions/SonicWall Firewall/Data Connectors/SonicwallFirewall.JSON
  Solutions/SonicWall Firewall/Data/Solution_SonicWall Firewall.json
  Solutions/SonicWall Firewall/Package/2.0.6.zip
  Solutions/SonicWall Firewall/Package/mainTemplate.json
Labels: Connector

#7889 More rule fixes
  Detections/MultipleDataSources/Dev-0530_FileExtRename.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4jVulnerableMachines.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Analytic Rules/powershell_empire.yaml
  Solutions/FalconFriday/Analytic Rules/DLLSideLoading.yaml
  Solutions/Microsoft Defender for Cloud Apps/Analytic Rules/AdditionalFilesUploadedByActor.yaml
Labels: Detection

#7902 Update Log4J_IPIOC_Dec112021.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4J_IPIOC_Dec112021.yaml
Labels: Solution, Analytic Rules

#7880 Update createSolutionV2.ps1
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7898 Repackaging Microsoft Defender for Cloud Apps
  Solutions/Microsoft Defender for Cloud Apps/Data/Solution_Microsoft Defender for Cloud Apps.json
  Solutions/Microsoft Defender for Cloud Apps/Package/2.0.2.zip
  Solutions/Microsoft Defender for Cloud Apps/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Cloud Apps/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7839 update package to 2.0.5 for Vectra Detect Solution
  Solutions/Vectra AI Detect/Package/2.0.5.zip
  Solutions/Vectra AI Detect/Package/createUiDefinition.json
  Solutions/Vectra AI Detect/Package/mainTemplate.json
  Solutions/Vectra AI Detect/SolutionMetadata.json
Labels: Solution

#7907 update analytic rules of ZINC actor
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_AVHits_IOC.yaml
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_Filename_Commandline_IOC.yaml
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_IP_Domain_Hash_IOC.yaml
Labels: Detection

#7910 UEBAEssentials_ContentTesting1
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Account Creation.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Activity Role Assignment.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Code Execution.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Data Access.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Defensive Mechanism Modification.yaml
Labels: Solution, Hunting

#7908 Adding Azure Gov button and minor fixes
  DataConnectors/O365 Data/readme.md
Labels: dataconnector-cri

#7904 Repackaging - Apache Log4j Vulnerability Detection
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Package/2.0.5.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
Labels: Solution

#7913 Updating analytic rule and hunting query Network threat protection
  Solutions/Network Threat Protection Essentials/Analytic Rules/NetworkEndpointCorrelation.yaml
  Solutions/Network Threat Protection Essentials/Analytic Rules/NewUserAgentLast24h.yaml
  Solutions/Network Threat Protection Essentials/Hunting Queries/B64IPInURL.yaml
  Solutions/Network Threat Protection Essentials/Hunting Queries/RiskyCommandB64EncodedInUrl.yaml
Labels: Solution, Hunting, Analytic Rules

#7866 Deprecating Azure Information Protection
  Solutions/Azure Information Protection/Data Connectors/AzureInformationProtection.JSON
  Solutions/Azure Information Protection/Data/Solution_AzureInformationProtection.json
  Solutions/Azure Information Protection/Package/2.0.0.zip
  Solutions/Azure Information Protection/Package/2.0.1.zip
  Solutions/Azure Information Protection/Package/createUiDefinition.json
  Solutions/Azure Information Protection/Package/mainTemplate.json
  Solutions/Azure Information Protection/SolutionMetadata.json
  Solutions/Azure Information Protection/Workbooks/AzureInformationProtection.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#7921 Repackaging Auth0 with Data Connector instructions Update
  Solutions/Auth0/Data Connectors/Auth0_FunctionApp.json
  Solutions/Auth0/Data/Solution_Auth0.json
  Solutions/Auth0/Package/2.0.2.zip
  Solutions/Auth0/Package/mainTemplate.json
Labels: Solution

#7900 AAD Rule Technique Update
  Solutions/Azure Active Directory/Analytic Rules/SuspiciousAADJoinedDeviceUpdate.yaml
Labels: Solution, Analytic Rules

#7872 Cloud Identity Threat Protection Essentials: Hunting Query Updates
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/ApplicationGrantedEWSPermissions.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttempts.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttemptsByIP.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-from-NordVPN-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/StsRefreshTokenModification.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/SuspiciousSignintoPrivilegedAccount.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/UserGrantedAccess_GrantsOthersAccess.yaml
Labels: Solution, Hunting

#7860 Cloud Identity Threat Protection Essentials: Update Analytic Rule
  Solutions/Cloud Identity Threat Protection Essentials/Analytic Rules/MFADisable.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Analytic Rules/NewExtUserGrantedAdmin.yaml
Labels: Solution, Analytic Rules

#7879 Cloud Service Threat Protection: Update Hunting Queries
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/AzureKeyVaultAccessManipulation.yaml
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/AzureResourceAssignedPublicIP.yaml
Labels: Solution, Hunting

#7920 Hunting Query Updates
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Failed Logon.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Geo Location Logon.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Login to Devices.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Password Reset.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous RDP Activity.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Resource Access.yaml
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Role Assignment.yaml
Labels: Solution, Hunting

#7922 updating hunting query of network threat protection
  Solutions/Network Threat Protection Essentials/Hunting Queries/UseragentExploitPentest.yaml
Labels: Solution, Hunting

#7796 modify guid for uniqueness
  DataConnectors/Templates/Connector_API_CCP_template.json
Labels: Connector

#7500 Threat Intelligence Solution for Azure Government
  Solutions/Threat Intelligence Solution for Azure Government/Data/Solution_ThreatIntelligenceFairfax.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/2.0.0.zip
  Solutions/Threat Intelligence Solution for Azure Government/Package/createUiDefinition.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/mainTemplate.json
  Solutions/Threat Intelligence Solution for Azure Government/SolutionMetadata.json
Labels: Solution

#7931 Azurekid/asim schematester
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#7933 Updating hunting queries of UEBA
  Solutions/UEBA Essentials/Hunting Queries/loginActivityFromBotnet.yaml
  Solutions/UEBA Essentials/Hunting Queries/newAccountAddedToAdminGroup.yaml
  Solutions/UEBA Essentials/Hunting Queries/terminatedEmployeeAccessHVA.yaml
  Solutions/UEBA Essentials/Hunting Queries/terminatedEmployeeActivity.yaml
  Solutions/UEBA Essentials/Hunting Queries/updateKeyVaultActivity.yaml
Labels: Solution, Hunting

#7936 Repackaging Fortinet FortiGate
  Solutions/Fortinet-FortiGate/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet-FortiGate/Package/2.0.3.zip
  Solutions/Fortinet-FortiGate/Package/mainTemplate.json
  Solutions/Fortinet-FortiGate/Playbooks/FortinetCustomConnector/Fortinetlogo.png
  Solutions/Fortinet-FortiGate/Playbooks/FortinetCustomConnector/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/FortinetCustomConnector/readme.md
  Solutions/Fortinet-FortiGate/Playbooks/FortinetFortigateFunctionApp/Fortinetlogo.png
  Solutions/Fortinet-FortiGate/Playbooks/FortinetFortigateFunctionApp/azuredeploy.json
  Solutions/Fortinet-FortiGate/Playbooks/FortinetFortigateFunctionApp/readme.md
Labels: Solution

#7938 Domain Tool Repackaging
  Solutions/DomainTools/Data/Solution_DomainTools.json
  Solutions/DomainTools/Package/2.0.3.zip
  Solutions/DomainTools/Package/mainTemplate.json
  Solutions/DomainTools/Playbooks/DomainToolsFunctionApp/azuredeploy.json
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-URL_Playbook/azuredeploy.json
Labels: Solution

#7909 Falcon Friday Repackaging
  Solutions/FalconFriday/Data/Solution_FalconFriday.json
  Solutions/FalconFriday/Package/2.0.1.zip
  Solutions/FalconFriday/Package/createUiDefinition.json
  Solutions/FalconFriday/Package/mainTemplate.json
  Solutions/FalconFriday/SolutionMetadata.json
Labels: Solution

#7918 Endpoint Threat Protection Essentials: Update Hunting queries
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/BackupDeletion.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/Certutil-LOLBins.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/FileExecutionWithOneCharacterInTheName.yaml
Labels: Solution, Hunting

#7935 EndpointThreat-AnalyticsRule
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/PotentialRemoteDesktopTunneling.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/SecurityEventLogCleared.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WindowsBinariesExecutedfromNon-DefaultDirectory.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/base64_encoded_pefile.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/execute_base64_decodedpayload.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/malware_in_recyclebin.yaml
Labels: Solution, Analytic Rules

#7914 Standalone metadata updates
  Detections/MultipleDataSources/Dev-0530_FileExtRename.yaml
  Detections/MultipleDataSources/ExchangeWorkerProcessMakingRemoteCall.yaml
  Detections/MultipleDataSources/PrestigeRansomwareIOCsOct22.yaml
  Detections/MultipleDataSources/STRONTIUMJuly2019IOCs.yaml
  Detections/SecurityAlert/Dev-0530AVHits.yaml
  Detections/SecurityAlert/HiveRansomwareAVHits.yaml
  Detections/SecurityEvent/COMEventSystemLoadingNewDLL.yaml
  Detections/SigninLogs/PrivilegedUserLogonfromnewASN.yaml
  Detections/http_proxy_oab_CL/ExchagngeSuspiciousFileDownloads.yaml
  Detections/http_proxy_oab_CL/HAFNIUMSuspiciousFileDownloads.yaml
  Hunting Queries/GitHub/Suspicious Fork Activity.yaml
  Playbooks/QuickStart-SentinelTriggers/alert-trigger/azuredeploy.json
  Playbooks/QuickStart-SentinelTriggers/incident-trigger/azuredeploy.json
  Workbooks/WorkbooksMetadata.json
Labels: Playbook, Workbook, Hunting, Analytic Rules

#7937 Endpoint Threat Protection Essentials: Update Hunting queries
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/PersistViaIFEORegistryKey.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/PotentialMicrosoftSecurityServicesTampering.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/RemoteLoginPerformedwithWMI.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/RemoteScheduledTaskCreationUpdateUsingATSVCNamedPipe.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/ScheduledTaskCreationUpdateFromUserWritableDrectory.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/SignedBinaryProxyExecutionRundll32.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/UnicodeObfuscationInCommandLine.yaml
Labels: Solution, Hunting

#7941 Encoding issue fix for Proofpoint TAP ICM 381702433
  Solutions/ProofPointTap/Data Connectors/AzureFunctionProofpointTAP.zip
  Solutions/ProofPointTap/Data Connectors/AzureFunctionProofpointTAP/run.ps1
Labels: Connector

#7850 Fixing the input values for playbooks
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7942 EndpointThreatEssetials_AnalyticsRules
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/DumpingLSASSProcessIntoaFile.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/LateralMovementViaDCOM.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/MacroInvokingShellBrowserWindowCOMObjects.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/PotentialRemoteDesktopTunneling.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/RegistryPersistenceViaAppCertDLLModification.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/RegistryPersistenceViaAppInt_DLLsModification.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/SecurityEventLogCleared.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WDigestDowngradeAttack.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WindowsBinariesLolbinsRenamed.yaml
Labels: Solution, Analytic Rules
