Repository Azure/Azure-Sentinel, pull requests merged in 2023-06, with the labels that each got.

#8137 Microsoft Defender Threat Intelligence Playbooks reversed
  Solutions/Microsoft Defender Threat Intelligence/Package/2.0.4.zip
  Solutions/Microsoft Defender Threat Intelligence/Package/mainTemplate.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Automated-Triage/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Base/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-WebComponents/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Intel-Reputation/azuredeploy.json
Labels: Solution

#8132 added solution package
  Solutions/Digital Shadows/Data/Solution_DigitalShadowsSearchlight.json
  Solutions/Digital Shadows/Package/2.0.2.zip
  Solutions/Digital Shadows/Package/createUiDefinition.json
  Solutions/Digital Shadows/Package/mainTemplate.json
Labels: Solution

#7917 new playbook for the existing MDTI solution
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-Cookies/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-Cookies/readme.md
Labels: Playbook, Solution

#8162 Updated Analytic rule query for TI and updated package
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_SecurityAlerts.yaml
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/2.0.5.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#8165 Secure Practice MailRisk Update package
  Solutions/MailRisk/Data/Solution_SecurePracticeMailRisk.json
  Solutions/MailRisk/Package/2.0.1.zip
  Solutions/MailRisk/Package/mainTemplate.json
Labels: Solution

#8181 Update createSolutionV2.ps1
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#8016 New Detection - New Country Valid Creds
  Detections/SigninLogs/NewCountryValidCreds.yaml
Labels: Detection

#8194 Asim/fix web custom template
  ASIM/deploy/EmptyCustomUnifyingParsers/Im_WebSessionCustom.json
  Parsers/ASimRegistryEvent/ARM/imRegistry/imRegistry.json
  Parsers/ASimRegistryEvent/Parsers/imRegistry.yaml
Labels: ASIM

#8186 Updating analytics rules
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/CadetBlizzard_Jan2022_IOC.yaml
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_Filename_Commandline_IOC.yaml
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_IP_Domain_Hash_IOC.yaml
Labels: Solution, Analytic Rules

#8195 OneLogin IAM repackaging
  Solutions/OneLoginIAM/Data/Solution_OneLoginIAM.json
  Solutions/OneLoginIAM/Package/2.0.2.zip
  Solutions/OneLoginIAM/Package/mainTemplate.json
Labels: Solution

#8163 Updating/Correcting PaloAlto playbooks and custom connectors
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetSystemInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetThreatPCAP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetURLCategoryInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoCustomConnector/PaloAlto_PAN-OS_Rest_API_CustomConnector/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoCustomConnector/PaloAlto_PAN-OS_XML_API_CustomConnector/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP-EntityTrigger/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP-EntityTrigger/images/AdaptiveCardtoBlockorUnblock.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP-EntityTrigger/images/SummarizedAdaptiveCard.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP-EntityTrigger/images/designerscreenshot_darktheme.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP-EntityTrigger/images/designerscreenshot_lighttheme.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP-EntityTrigger/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP/AdaptiveCardtoBlockorUnblock.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP/SummarizedAdaptiveCard.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP/designerscreenshot.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockIP/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL-EntityTrigger/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL-EntityTrigger/images/AdaptiveCardtoBlockorUnblock.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL-EntityTrigger/images/SummarizedAdaptiveCard.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL-EntityTrigger/images/designerscreensh_darktheme.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL-EntityTrigger/images/designerscreenshot_lighttheme.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL-EntityTrigger/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL/AdaptiveCardtoBlockorUnblock.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL/SummarizedAdaptiveCard.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL/designerscreenshot.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetSystemInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetSystemInfo/designerscreenshot.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetSystemInfo/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetThreatPCAP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetThreatPCAP/designerscreenshot.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetThreatPCAP/readme.md
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetURLCategoryInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetURLCategoryInfo/designerscreenshot.PNG
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-GetURLCategoryInfo/readme.md
Labels: Playbook, Solution

#8212 Updating MalformedUserAgents.yaml
  Detections/MultipleDataSources/MalformedUserAgents.yaml
Labels: Detection

#8177 Updating SOC Handbook Solution adding Workbook
  Solutions/SOC Handbook/Data/Solution_SOC Handbook.json
  Solutions/SOC Handbook/Package/2.0.1.zip
  Solutions/SOC Handbook/Package/createUiDefinition.json
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/Workbooks/AttackSurfaceReduction.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#8200 Update deploy button links for AWS Sytems Manager Solution
  Solutions/AWS Systems Manager/Playbooks/AWSSystemsManagerPlaybooks/AWS-SSM-GetInstancePatches-HostEntityTrigger/readme.md
  Solutions/AWS Systems Manager/Playbooks/AWSSystemsManagerPlaybooks/AWS-SSM-GetInstancePatches-IPEntityTrigger/readme.md
  Solutions/AWS Systems Manager/Playbooks/AWSSystemsManagerPlaybooks/AWS-SSM-GetInstancePatches/readme.md
  Solutions/AWS Systems Manager/Playbooks/AWSSystemsManagerPlaybooks/AWS-SSM-RunAutomationRunbook/readme.md
  Solutions/AWS Systems Manager/Playbooks/AWSSystemsManagerPlaybooks/AWS-SSM-StopManagedInstance-HostEntityTrigger/readme.md
  Solutions/AWS Systems Manager/Playbooks/AWSSystemsManagerPlaybooks/AWS-SSM-StopManagedInstance-IPEntityTrigger/readme.md
  Solutions/AWS Systems Manager/Playbooks/AWSSystemsManagerPlaybooks/AWS-SSM-StopManagedInstance/readme.md
  Solutions/AWS Systems Manager/Playbooks/CustomConnector/AWS_SSM_FunctionAppConnector/readme.md
Labels: Playbook

#8227 Fix deployment instructions
  Solutions/CiscoMeraki/Data Connectors/Connector_Syslog_CiscoMeraki.json
Labels: Solution

#8018 Add SAP BTP
  Logos/SAPBTP.svg
Labels: Solution

#8153 [SOLUTION: NXLog AIX Audit 2.0.1]
  Solutions/NXLogAixAudit/Data Connectors/Logo/NXLog.svg
  Solutions/NXLogAixAudit/Data Connectors/NXLogAixAudit.json
  Solutions/NXLogAixAudit/Data/Solution_NXLogAixAudit.json
  Solutions/NXLogAixAudit/Package/2.0.1.zip
  Solutions/NXLogAixAudit/Package/createUiDefinition.json
  Solutions/NXLogAixAudit/Package/mainTemplate.json
  Solutions/NXLogAixAudit/SolutionMetadata.json
Labels: Solution

#8152 [SOLUTION: NXLog LinuxAudit 2.0.1]
  Solutions/NXLog LinuxAudit/Data Connectors/NXLogLinuxAudit.json
  Solutions/NXLog LinuxAudit/Data/Solution_NXLogLinuxAuditTemplateSpec.json
  Solutions/NXLog LinuxAudit/Package/2.0.1.zip
  Solutions/NXLog LinuxAudit/Package/createUiDefinition.json
  Solutions/NXLog LinuxAudit/Package/mainTemplate.json
  Solutions/NXLog LinuxAudit/SolutionMetadata.json
Labels: Solution

#8204 Repackaging - QualysVM
  Solutions/QualysVM/Package/2.0.2.zip
  Solutions/QualysVM/Package/createUiDefinition.json
  Solutions/QualysVM/Package/mainTemplate.json
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssetDetails/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByCVEID/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-GetAssets-ByOpenPort/readme.md
  Solutions/QualysVM/Playbooks/QualysVMPlaybooks/QualysVM-LaunchVMScan-GenerateReport/readme.md
  Solutions/QualysVM/data/Solution_QualysVM.json
Labels: Solution

#8147 Repackaging - VMWareESXi
  Solutions/VMWareESXi/Analytic Rules/ESXiDormantVMStarted.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiMultipleNewVM.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiMultipleVMStopped.yaml
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/2.0.4.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
Labels: Solution

#8220 Repackaging Proofpoint POD solution
  Solutions/Proofpoint On demand(POD) Email Security/Analytic Rules/ProofpointPODBinaryInAttachment.yaml
  Solutions/Proofpoint On demand(POD) Email Security/Data/Solution_ProofPointPOD.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/2.0.6.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
Labels: Solution

#8117 Update AMAmigrationTracker.json
  Workbooks/AMAmigrationTracker.json
Labels: Workbook

#8121 update the update script to support log from test run
  Solutions/SAP/sapcon-instance-update.sh
Labels: Detection

#8229 Standalone Tagging for Workbooks
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7734 Added validation for KQL queries of Analytic Rules and Hunting Quries to use Latest TI
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: Tools

#8238 Updating ESI solutions package
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
Labels: Solution

#8240 Updating playbook arm template
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Run-MDEAntivirus/Run-MDEAntivirus-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Run-MDEAntivirus/readme.md
Labels: Playbook, Solution

#8022 SOLUTION: NXLog FIM (File Integrity Monitoring) (yet again)
  .script/tests/KqlvalidationsTests/CustomTables/NXLogFIM_CL.json
  Sample Data/Custom/NXLogFIM_CL.json
  Solutions/NXLog FIM/Data Connectors/NXLogFIM.json
  Solutions/NXLog FIM/Data/Solution_NXLogFIMTemplateSpec.json
  Solutions/NXLog FIM/Package/2.0.0.zip
  Solutions/NXLog FIM/Package/2.0.1.zip
  Solutions/NXLog FIM/Package/createUiDefinition.json
  Solutions/NXLog FIM/Package/mainTemplate.json
  Solutions/NXLog FIM/SolutionMetadata.json
Labels: Solution

#8223 Repackaging - CMMC , NISTSP80053
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Data/Solution_CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/2.0.5.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/mainTemplate.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Playbooks/Create-AzureDevOpsTask-CMMCV2/Open_DevOpsTaskRecommendation.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Playbooks/CreateJiraIssue-CMMCV2/Open_JIRATicketRecommendation.json
  Solutions/NISTSP80053/Package/2.0.5.zip
  Solutions/NISTSP80053/Package/mainTemplate.json
  Solutions/NISTSP80053/Playbooks/Create-AzureDevOpsTask-NISTSP80053/Open_DevOpsTaskRecommendation.json
  Solutions/NISTSP80053/Playbooks/CreateJiraIssue-NISTSP80053/Open_JIRATicketRecommendation.json
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
Labels: Solution

#7883 Updating the Analytics Rules and Hunting Queries for Azure Firewall Solution to support Resource Specific logs.
  .script/tests/KqlvalidationsTests/CustomTables/AZFWThreatIntel.json
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Deny Rate for Source IP.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Port to Protocol.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Multiple Sources Affected by the Same TI Destination.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Scan.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Sweep.yaml
  Solutions/Azure Firewall/Analytic Rules/SeveralDenyActionsRegistered.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First Time Source IP to Destination Using Port.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First time source IP to Destination.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Source IP Abnormally Connects to Multiple Destinations.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port for Organization.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port to IP.yaml
  Solutions/Azure Firewall/Workbooks/Azure Firewall Workbook - Structured Logs - Deployment Template.json
  Solutions/Azure Firewall/Workbooks/AzureFirewallWorkbook-StructuredLogs.json
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookBlack1.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookBlack2.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookBlack3.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookBlack4.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookBlack5.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookWhite1.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookWhite2.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookWhite3.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookWhite4.PNG
  Solutions/Azure Firewall/Workbooks/Images/Preview/AzureFirewallWorkbookWhite5.PNG
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Hunting, Analytic Rules

#8245 Updating API version for CyberARKEPM
  Solutions/CyberArkEPM/Package/2.0.1.zip
  Solutions/CyberArkEPM/Package/mainTemplate.json
Labels: Solution

#8185 Infoblox 2.0.10
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/2.0.10.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
Labels: Solution

#8250 updated the regex to only match the word Sentinel when there is a space in prefix.
  .script/SolutionValidations/validMSBranding.ts
Labels: scripts

#8242 Corrected support information for MS Exchange Security solutions
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/SolutionMetadata.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/SolutionMetadata.json
Labels: Solution

#8255 Update Solution Publishing Guidance
  Solutions/README.md
Labels: Solution

#8244 Repackaging - signal4
  Solutions/SIGNL4/Data/Solution_SIGNL4.json
  Solutions/SIGNL4/Package/2.0.3.zip
  Solutions/SIGNL4/Package/mainTemplate.json
  Solutions/SIGNL4/Playbooks/SIGNL4_Alerting_and_Response/README.md
  Solutions/SIGNL4/Playbooks/SIGNL4_Alerting_and_Response/azuredeploy.json
  Solutions/SIGNL4/Playbooks/SIGNL4_Alerting_and_Response/images/SIGNL4-Playbook.png
Labels: Solution

#8258 Standalone tagging
  Hunting Queries/Dynamics365Activity/DynamicsActivityAfterAADAlert.yaml
  Hunting Queries/Dynamics365Activity/DynamicsActivityAfterFailedLogons.yaml
  Solutions/MailRisk/Package/2.0.1.zip
Labels: Solution, Hunting

#8243 Microsoft Defender for endpoint workbook removal : BUG 5506
  Solutions/MicrosoftDefenderForEndpoint/Data/Solution_MicrosoftDefenderEndpoint.json
  Solutions/MicrosoftDefenderForEndpoint/Package/2.0.4.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/createUiDefinition.json
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/MicrosoftDefenderForEndpoint/Workbooks/MicrosoftDefenderForEndPoint.json
Labels: Workbook, Solution

#8259 Updated ServiceNow solution for app store link
  Solutions/Servicenow/Data/Solution_Servicenow.json
  Solutions/Servicenow/Package/2.0.2.zip
  Solutions/Servicenow/Package/createUiDefinition.json
  Solutions/Servicenow/Package/mainTemplate.json
Labels: Solution

#8209 Bug Fix - Repackaging Cisco Meraki
  Solutions/CiscoMeraki/Package/2.0.4.zip
  Solutions/CiscoMeraki/Package/createUiDefinition.json
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
Labels: Solution

#8252 Updating Playbooks with same details in Solutions
  Solutions/AzureSecurityBenchmark/Data/Solution_AzureSecurityBenchmark.json
  Solutions/AzureSecurityBenchmark/Package/2.0.3.zip
  Solutions/AzureSecurityBenchmark/Package/createUiDefinition.json
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
  Solutions/AzureSecurityBenchmark/Playbooks/Open_DevOpsTaskRecommendation-ASB/Open_DevOpsTaskRecommendation-ASB.json
  Solutions/AzureSecurityBenchmark/Playbooks/Open_JIRATicketRecommendation-ASB/Open_JIRATicketRecommendation-ASB.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/2.0.6.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/Playbooks/Open_DevOpsTaskRecommendation-M2131/Open_DevOpsTaskRecommendation-M2131.json
  Solutions/MaturityModelForEventLogManagementM2131/Playbooks/Open_JIRATicketRecommendation-M2131/Open_JIRATicketRecommendation-M2131.json
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
  Solutions/ZeroTrust(TIC3.0)/Package/2.0.6.zip
  Solutions/ZeroTrust(TIC3.0)/Package/mainTemplate.json
  Solutions/ZeroTrust(TIC3.0)/Playbooks/Open_DevOpsTaskRecommendation-ZeroTrust/Open_DevOpsTaskRecommendation-ZeroTrust.json
  Solutions/ZeroTrust(TIC3.0)/Playbooks/Open_JIRATicketRecommendation-ZeroTrust/Open_JIRATicketRecommendation-ZeroTrust.json
  Solutions/ZeroTrust(TIC3.0)/data/Solution_ZeroTrust(TIC3.0).json
Labels: Solution

#8175 Fix readme markup tables in AtlassianJiraAudit playbooks for customfield_ids to match azuredeploy.json definition
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/readme.md
Labels: Playbook, Solution

#8264 Update azuredeploy_Connector_GWorkspaceReportsAPI_AzureFunction.json
  Solutions/GoogleWorkspaceReports/Data Connectors/azuredeploy_Connector_GWorkspaceReportsAPI_AzureFunction.json
Labels: Function

#8270 Update sapcon-instance-update.sh
  Solutions/SAP/sapcon-instance-update.sh
Labels: Solution

#8275 Updated the Watchlist displayName to Sources_by_SourceType
  ASIM/deploy/Watchlists/ASimSourceType.json
Labels: WatchList

#8248 Cisco ASA Repackaging: Bug 5503
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/2.0.3.zip
  Solutions/CiscoASA/Package/2.0.4.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
Labels: Connector, Solution

#8249 Updating solutions to fix Solution ids
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data Connectors/CyberArk Data Connector.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data/Solution_CyberArkEPVEvents.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/2.0.2.zip
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/createUiDefinition.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/mainTemplate.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/SolutionMetadata.json
  Solutions/Morphisec/Data/Solution_Morphisec.json
  Solutions/Morphisec/Package/2.0.1.zip
  Solutions/Morphisec/Package/createUiDefinition.json
  Solutions/Morphisec/Package/mainTemplate.json
  Solutions/Morphisec/SolutionMetadata.json
  Solutions/NXLog BSM macOS/Package/2.0.1.zip
  Solutions/NXLog BSM macOS/Package/mainTemplate.json
  Solutions/NXLog BSM macOS/SolutionMetadata.json
  Solutions/Sophos Cloud Optix/Data Connectors/Connector_REST_API_SophosCloudOptix.json
  Solutions/Sophos Cloud Optix/Data/Solution_SophosCloudOptix.json
  Solutions/Sophos Cloud Optix/Package/2.0.1.zip
  Solutions/Sophos Cloud Optix/Package/createUiDefinition.json
  Solutions/Sophos Cloud Optix/Package/mainTemplate.json
  Solutions/Sophos Cloud Optix/SolutionMetadata.json
Labels: Solution

#8260 Google Workspace Mitiga Data Exfiltration Scenarios
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceDocumentCopiedToPrivateDrive.yaml
  Solutions/GoogleWorkspaceReports/Hunting Queries/GWorkspaceLicenseRevokeAndAssignmentToUser.yaml
Labels: Solution, Hunting

#8217 Support changed from Microsoft to Cloudflare
  Solutions/Cloudflare/Data/Solution_Cloudflare.json
  Solutions/Cloudflare/Package/2.0.3.zip
  Solutions/Cloudflare/Package/createUiDefinition.json
  Solutions/Cloudflare/Package/mainTemplate.json
  Solutions/Cloudflare/SolutionMetadata.json
Labels: Solution

#7888 update to SOCProcessFramework solution
  Playbooks/Get-SentinelAlertsEvidence/alert-trigger/azuredeploy.json
  Playbooks/Get-SentinelAlertsEvidence/images/playbookDark.jpg
  Playbooks/Get-SentinelAlertsEvidence/images/playbookLight.jpg
  Playbooks/Get-SentinelAlertsEvidence/incident-trigger/azuredeploy.json
  Playbooks/Get-SentinelAlertsEvidence/readme.md
  Solutions/SOC-Process-Framework/Playbooks/Get-SOCActions/azuredeploy.json
  Solutions/SOC-Process-Framework/Playbooks/readme.md
  Solutions/SOC-Process-Framework/Watchlists/SOC-Recommended-Actions/SocRA.json
  Solutions/SOC-Process-Framework/data/Solution_Soc-Process.json
Labels: Playbook, Solution

#8225 Update Logstash plugins readme file with Logstash supported version
  DataConnectors/microsoft-logstash-output-azure-loganalytics/README.md
  DataConnectors/microsoft-sentinel-logstash-output-plugin/README.md
Labels: Connector

#8199 Updated Function APP Version to 4
  Solutions/SecurityScorecard Cybersecurity Ratings/Data Connectors/SecurityScorecardFactor/azuredeploy_Connector_SecurityScorecardFactorAPI_AzureFunction.json
  Solutions/SecurityScorecard Cybersecurity Ratings/Data Connectors/SecurityScorecardIssue/azuredeploy_Connector_SecurityScorecardIssueAPI_AzureFunction.json
  Solutions/SecurityScorecard Cybersecurity Ratings/Data Connectors/SecurityScorecardRatings/azuredeploy_Connector_SecurityScorecardRatingsAPI_AzureFunction.json
Labels: dataconnector-cri

#8233 06 09 2023 as incident ip matched on watchlist
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Add_Contributor_Role_1.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Add_Contributor_Role_2.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Add_Contributor_Role_3.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Add_Contributor_Role_4.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Create_Watchlist_1.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Create_Watchlist_2.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Create_Watchlist_3.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Create_Watchlist_4.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Create_Watchlist_5.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Demo_1.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Demo_2.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Deploy_1.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Deploy_2.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Deploy_3.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Resource_Group_Name_1.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/Images/IPMatchedOnWatchlist_Resource_Group_Name_2.png
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/README.md
  Playbooks/AS-Incident-IP-Matched-on-Watchlist/azuredeploy.json
Labels: Playbook

#8193 Feature/danielohfeld/add scc tamplate
  DataConnectors/GCP/Templatespec/GoogleSCCtemplatespec.json
Labels: Tools

#8232 06 09 2023 as delete app registration
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Access_1.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Access_2.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Access_3.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Access_4.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Add_Contributor_Role_1.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Add_Contributor_Role_2.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Add_Contributor_Role_3.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Add_Contributor_Role_4.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Create_App_Registration_1.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Create_App_Registration_2.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Create_App_Registration_3.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Create_App_Registration_4.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Create_App_Registration_5.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Create_App_Registration_6.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Create_App_Registration_7.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Create_App_Registration_8.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Demo_1.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Demo_2.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Deploy_1.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Deploy_2.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Deploy_3.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Key_Vault_1.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Key_Vault_2.png
  Playbooks/AS-Delete-App-Registration/Images/DeleteAppRegistration_Key_Vault_3.png
  Playbooks/AS-Delete-App-Registration/README.md
  Playbooks/AS-Delete-App-Registration/azuredeploy.json
Labels: Playbook

#8142 Update DomainEntity_CommonSecurityLog.yaml
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_CommonSecurityLog.yaml
Labels: Solution, Analytic Rules

#8236 adding the new feature to report fraud for mfa
  Detections/SigninLogs/MFARejectedbyUser.yaml
  Solutions/Azure Active Directory/Analytic Rules/MFARejectedbyUser.yaml
Labels: Detection

#7985 Fix typo in Pipeline/Readme.MD
  Tools/AzureDataExplorer/Pipeline/Readme.MD
Labels: Tools

#8291 Update SenservaPro.json
  Solutions/SenservaPro/Data Connectors/SenservaPro.json
  Solutions/SenservaPro/Data/Solution_SenservaPro.json
  Solutions/SenservaPro/Package/2.0.2.zip
  Solutions/SenservaPro/Package/createUiDefinition.json
  Solutions/SenservaPro/Package/mainTemplate.json
Labels: Solution

#8299 Fix condition in Analytic Rule AWS_NetworkACLOpenToAllPorts.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_NetworkACLOpenToAllPorts.yaml
Labels: Solution, Analytic Rules

#8302 Updated teams Solution to fix ARM-TTK
  Solutions/Teams/Package/2.0.1.zip
  Solutions/Teams/Package/createUiDefinition.json
  Solutions/Teams/Package/mainTemplate.json
Labels: Solution

#8298 Update Abuse.ch Recent Threat Feed Query
  Hunting Queries/Microsoft 365 Defender/Campaigns/Abuse.ch Recent Threat Feed.yaml
Labels: Hunting

#7951 Workbook sentinel coverage
  Workbooks/AzureLogCoverage.json
  Workbooks/Images/Preview/AzureLogCoverageBlack1.png
  Workbooks/Images/Preview/AzureLogCoverageBlack2.png
  Workbooks/Images/Preview/AzureLogCoverageWhite1.png
  Workbooks/Images/Preview/AzureLogCoverageWhite2.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#8295 Soar content addition to existing o365 solution
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockMalwareFileExtension/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockMalwareFileExtension/images/o365-BlockMalwareFileExtension_dark.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockMalwareFileExtension/images/o365-BlockMalwareFileExtension_entitymapping.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockMalwareFileExtension/images/o365-BlockMalwareFileExtension_incidentcomment.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockMalwareFileExtension/readme.md
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender-EntityTrigger/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender-EntityTrigger/images/o365-BlockSender-EntityTrigger_entitymapping.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender-EntityTrigger/images/o365-BlockSender-EntityTrigger_incidentComment.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender-EntityTrigger/images/o365-BlockSender-EntityTrigger_light.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender-EntityTrigger/readme.md
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender/images/o365-BlockSender_entitymapping.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender/images/o365-BlockSender_incidentComment.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender/images/o365-BlockSender_light.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender/readme.md
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSpamDomain/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSpamDomain/images/o365-BlockSpamDomain_entityMapping.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSpamDomain/images/o365-BlockSpamDomain_incidentcomment.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSpamDomain/images/o365-BlockSpamDomain_light.jpg
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSpamDomain/readme.md
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/BlockMalwareFileExtension/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/BlockMalwareFileExtension/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/ConnectExchangeOnline/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/ConnectExchangeOnline/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/CreateAllowBlockList/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/CreateAllowBlockList/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/CreateSpamPolicy/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/CreateSpamPolicy/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/CreateSpamRule/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/CreateSpamRule/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/DisconnectExchangeOnline/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/DisconnectExchangeOnline/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/ListMalwarePolicy/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/ListMalwarePolicy/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/ListSpamPolicy/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/ListSpamPolicy/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/O365DefenderFunctionApp.zip
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/RemoveAllowBlockListItems/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/RemoveAllowBlockListItems/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/TenantAllowBlockList/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/TenantAllowBlockList/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/UpdateAllowBlockList/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/UpdateAllowBlockList/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/host.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/profile.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/readme.md
  Solutions/Microsoft Defender for Office 365/Playbooks/O365_Defender_FunctionAppConnector/requirements.psd1
Labels: Playbook, Solution

#8263 added url encoding to avoid breaking api call
  Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/azuredeploy.json
Labels: Playbook

#8092 Add Upload Indicators API data connector template and doc
  DataConnectors/Templates/Connector_UploadIndicatorsAPI_template.json
  DataConnectors/Templates/Doc_Template_UploadIndicatorsAPI_Connector.md
Labels: Connector

#8305 Updating directory structure of o365 custom connector
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/BlockMalwareFileExtension/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/BlockMalwareFileExtension/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/ConnectExchangeOnline/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/ConnectExchangeOnline/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/CreateAllowBlockList/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/CreateAllowBlockList/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/CreateSpamPolicy/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/CreateSpamPolicy/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/CreateSpamRule/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/CreateSpamRule/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/DisconnectExchangeOnline/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/DisconnectExchangeOnline/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/ListMalwarePolicy/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/ListMalwarePolicy/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/ListSpamPolicy/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/ListSpamPolicy/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/O365DefenderFunctionApp.zip
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/RemoveAllowBlockListItems/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/RemoveAllowBlockListItems/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/TenantAllowBlockList/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/TenantAllowBlockList/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/UpdateAllowBlockList/function.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/UpdateAllowBlockList/run.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/host.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/profile.ps1
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/readme.md
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/requirements.psd1
Labels: Playbook, Solution

#8261 Secure Practice MailRisk data connector
  Solutions/MailRisk/Data/Solution_SecurePracticeMailRisk.json
  Solutions/MailRisk/Package/2.0.2.zip
  Solutions/MailRisk/Package/mainTemplate.json
  Solutions/MailRisk/SolutionMetadata.json
Labels: Solution

#8309 Rename troubleshooter script
  DataConnectors/Syslog/Sentinel_AMA_troubleshoot.py
Labels: Connector

#8308 Updated ESET Protect solution
  Solutions/ESETPROTECT/Analytic Rules/ESETThreatDetected.yaml
  Solutions/ESETPROTECT/Data/Solution_ESETPROTECT.json
  Solutions/ESETPROTECT/Package/2.0.2.zip
  Solutions/ESETPROTECT/Package/mainTemplate.json
  Solutions/ESETPROTECT/SolutionMetadata.json
Labels: Solution

#8063 Remove guid duplicates
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Solutions/Azure Active Directory/Analytic Rules/ADFSSignInLogsPasswordSpray.yaml
Labels: Solution, Analytic Rules

#8274 Update hunting queries
  Parsers/SQLSever/SQLServer_Parser.txt
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-Failed SQL Logons.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-MultipleFailedLogon_FromSameIP.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-MultipleFailedLogon_InShortSpan.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-New_UserCreated.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserAdded_to_SecurityAdmin.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserDeletedFromDatabase.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRemovedFromSecurityAdmin.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRemovedFromServerRole.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRoleChanged.yaml
Labels: Solution

#8198 Suspicious Email Forwarding Configuration with SAP download
  Hunting Queries/SAP/Emailforwarding_SAPdownload.yaml
Labels: Hunting

#8326 Updated look back time for Cisco ISE
  Solutions/Cisco ISE/Analytic Rules/CiscoISECmdExecutionWithHighestPrivilegesNewIP.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECmdExecutionWithHighestPrivilegesNewUser.yaml
  Solutions/Cisco ISE/Data/Solution_CiscoISE.json
  Solutions/Cisco ISE/Package/2.0.3.zip
  Solutions/Cisco ISE/Package/mainTemplate.json
Labels: Solution

#8320 Updating the parser name from imDNSGCPCloudDNS to GCPCloudDNS
  Solutions/GoogleCloudPlatformDNS/Data/Solution_GoogleCloudPlatformDNS.json
  Solutions/GoogleCloudPlatformDNS/Package/2.0.3.zip
  Solutions/GoogleCloudPlatformDNS/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformDNS/Parsers/GCPCloudDNS.txt
Labels: Solution

#8301 Repackaging-GoogleWorkspaceReport
  Solutions/GoogleWorkspaceReports/Data/Solution_GoogleWorkspaceReports.json
  Solutions/GoogleWorkspaceReports/Package/2.0.6.zip
  Solutions/GoogleWorkspaceReports/Package/createUiDefinition.json
  Solutions/GoogleWorkspaceReports/Package/mainTemplate.json
Labels: Solution

#8284 fix a bug when alerts is not selected
  Tools/Sentinel-All-In-One/v2/Scripts/Create-NewSolutionAndRulesFromList.ps1
Labels: Tools

#8285 fix a bug when alerts are not selected
  Tools/Sentinel-All-In-One/v2/LinkedTemplates/solutionsAndAlerts.json
Labels: Tools

#8281 Get-SOCTasks
  Playbooks/Get-SOCTasks/azuredeploy.json
  Playbooks/Get-SOCTasks/images/tasks.png
  Playbooks/Get-SOCTasks/readme.md
Labels: Playbook

#8339 Added SAP Controls WB to WorkbooksMetadata
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#8356 Update README.md
  ASIM/dev/Delete-SentinelFunction/README.md
Labels: ASIM

#8357 Juniper SRX parser fix
  Solutions/Juniper SRX/Data/Solution_Juniper SRX.json
  Solutions/Juniper SRX/Package/2.0.3.zip
  Solutions/Juniper SRX/Package/mainTemplate.json
  Solutions/Juniper SRX/Parsers/JuniperSRX.txt
Labels: Parser, Solution

#8344 Salesforce Service Cloud - Azure Function App Update as part of icM 392473074
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConn.zip
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConnector/__init__.py
Labels: Connector

#8359 Reduced description to less than 255 characters
  Hunting Queries/AuditLogs/ConsentToApplicationDiscovery.yaml
Labels: Hunting

#8346 Data Connector Changes For KQL Validations
  .script/tests/KqlvalidationsTests/CustomTables/Netskope_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Perimeter81_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TheHive_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicro_XDR_Health_Check_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicro_XDR_OAT_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicro_XDR_RCA_Result_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicro_XDR_RCA_Task_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicro_XDR_WORKBENCH_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Workplace_Facebook_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/net_assets_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/web_assets_CL.json
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/HolmSecurity/Data Connectors/HolmSecurityAssets_API_FunctionApp.json
  Solutions/Netskope/Data Connectors/Netskope/Netskope_API_FunctionApp.json
  Solutions/OneIdentity/Data Connectors/OneIdentity.JSON
  Solutions/Perimeter 81/Data Connectors/Perimeter81ActivityLogs.json
  Solutions/TheHive/Data Connectors/TheHive_Webhooks_FunctionApp.json
  Solutions/Trend Micro Vision One/Data Connectors/TrendMicroXDR.json
  Solutions/Workplace from Facebook/Data Connectors/WorkplaceFacebook/WorkplaceFacebook_Webhooks_FunctionApp.json
Labels: Connector

#8349 Data Connectors updates for KQL validation tests
  .script/tests/KqlvalidationsTests/CustomTables/ABNORMAL_CASES_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ABNORMAL_THREAT_MESSAGES_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/F5Telemetry_ASM_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/F5Telemetry_LTM_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/F5Telemetry_system_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ForcepointDLPEvents_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GitLabApp.json
  .script/tests/KqlvalidationsTests/CustomTables/VMware_vCenter.json
  .script/tests/KqlvalidationsTests/CustomTables/VectraStream.json
  .script/tests/KqlvalidationsTests/CustomTables/Zoom_CL.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/AbnormalSecurity/Data Connectors/AbnormalSecurity_API_FunctionApp.json
  Solutions/Cybersixgill-Actionable-Alerts/Data Connectors/Cybersixgill_FunctionApp.json
  Solutions/F5 BIG-IP/Data Connectors/F5BigIp.json
  Solutions/Forcepoint DLP/Data Connectors/Forcepoint DLP.json
  Solutions/Fortinet-FortiGate/Data Connectors/Fortinet-FortiGate.json
  Solutions/GitLab/Data Connectors/Connector_Syslog_GitLab.json
  Solutions/MongoDBAudit/Data Connectors/Connector_MongoDBAudit.json
  Solutions/VMware vCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/Vectra AI Stream/Data Connectors/Connector_VectraAI_Stream.json
  Solutions/ZoomReports/Data Connectors/ZoomReports_API_FunctionApp.json
Labels: Connector

#8360 Add D365 logo
  Logos/Dynamics365.svg
Labels: Logo

#8361 Repackaging - SlackAudit
  Solutions/SlackAudit/Package/2.0.1.zip
  Solutions/SlackAudit/Package/createUiDefinition.json
  Solutions/SlackAudit/Package/mainTemplate.json
  Solutions/SlackAudit/data/Solution_SlackAudit.json
Labels: Solution

#8336 Adding Playbook Health Monitoring Workbooks
  Workbooks/Images/Preview/PlaybookHealthBlack.PNG
  Workbooks/Images/Preview/PlaybookHealthWhite.PNG
  Workbooks/PlaybookHealth.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#8366 Adding new files for WebSessionRules Support
  Sample Data/Feeds/CommandsInURL.csv
  Sample Data/Feeds/LocalFileInclusionIndicators.csv
  Sample Data/Feeds/RiskyFileExtensionsInUrl.csv
  Sample Data/Feeds/WhiteListedDomainsForWebSessionUseCases.csv
Labels: Sample Data

#8325 Azure Firewall Solution Hunting Queries - Trimming descriptions to below 255 Characters.
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First Time Source IP to Destination Using Port.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - First time source IP to Destination.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Source IP Abnormally Connects to Multiple Destinations.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port for Organization.yaml
  Solutions/Azure Firewall/Hunting Queries/Azure Firewall - Uncommon Port to IP.yaml
Labels: Solution, Hunting

#8145 Created a workbook for Zoom Report & added as a part of the solution.
  Solutions/ZoomReports/Workbooks/Images/Preview/ZoomReportsBlack.png
  Solutions/ZoomReports/Workbooks/Images/Preview/ZoomReportsWhite.png
  Solutions/ZoomReports/Workbooks/ZoomReports.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution

#8345 fixing handling of entity mappings in rules
  Tools/Sentinel-All-In-One/v2/Scripts/Create-NewSolutionAndRulesFromList.ps1
Labels: Tools

#8375 test-my change1
  Solutions/Alibaba Cloud/Data/Solution_Alibaba Cloud.json
Labels: Tools

#8323 add SELINUX support to troubleshooter script
  DataConnectors/Syslog/Sentinel_AMA_troubleshoot.py
Labels: Connector

#8380 Workbook changes in tool
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#8370 Updated ASIM test for Windows audit event
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#8354 Add sap playbooks standard
  Solutions/SAP/Playbooks/Basic-SAPLockUser-STD/README.md
  Solutions/SAP/Playbooks/Basic-SAPLockUser-STD/azureconnectordeploy.json
  Solutions/SAP/Playbooks/Basic-SAPLockUser-STD/azuredeploy.json
  Solutions/SAP/Playbooks/Basic-SAPLockUser-STD/connections.json
  Solutions/SAP/Playbooks/Basic-SAPLockUser-STD/workflow.json
  Solutions/SAP/Playbooks/Basic-SAPLockUser-STD/workflowparameters.json
  Solutions/SAP/Playbooks/INSTALLATION.md
  Solutions/SAP/Playbooks/README.md
  Solutions/SAP/Playbooks/img/sap-soar-youtube-thumbnail.png
  Solutions/SAP/README.md
Labels: Playbook, Solution

#8391 🐛 Fix incorrect case for Port Scan columnName
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Scan.yaml
Labels: Solution

#8396 Updating CyberArkEpm Zip
  Solutions/CyberArkEPM/Package/2.0.1.zip
Labels: Solution

#8374 Updated the validation according to packaging script v3.0
  .script/SolutionValidations/validDomainsVerticals.ts
  .script/SolutionValidations/validSupportObject.ts
Labels: draft

#8399 Move all resources ApiVersion to a single place
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#8064 Start working on filtering test
  ASIM/dev/ASimTester/filteringTest/filteringTest.py
  ASIM/dev/ASimTester/filteringTest/schemasParameters.py
Labels: ASIM

#8389 Hunting queries corrections
  Hunting Queries/AzureActivity/Azure-CloudShell-Usage.yaml
  Hunting Queries/Microsoft 365 Defender/Initial access/SuspiciousUrlClicked.yaml
  Hunting Queries/Microsoft 365 Defender/Lateral Movement/ImpersonatedUserFootprint.yaml
Labels: Hunting

#8402 Incident 401776254 : [CRI] - [2306220040004022] - [CarbonBlack playbook error when deploying prereq custom connector]
  Solutions/VMware Carbon Black Cloud/Data/Solution_VMware Carbon Black Cloud.json
  Solutions/VMware Carbon Black Cloud/Package/2.0.2.zip
  Solutions/VMware Carbon Black Cloud/Package/createUiDefinition.json
  Solutions/VMware Carbon Black Cloud/Package/mainTemplate.json
  Solutions/VMware Carbon Black Cloud/Playbooks/CarbonBlack-TakeDeviceActionFromTeams/azuredeploy.json
Labels: Solution

#8410 Repackaging - SymantecProxySG
  Solutions/SymantecProxySG/Data Connectors/Connector_Syslog_SymantecProxySG.json
  Solutions/SymantecProxySG/Data/Solution_SymantecProxySG.json
  Solutions/SymantecProxySG/Package/2.0.3.zip
  Solutions/SymantecProxySG/Package/createUiDefinition.json
  Solutions/SymantecProxySG/Package/mainTemplate.json
  Solutions/SymantecProxySG/SolutionMetadata.json
Labels: Solution

#8415 Updating CyberArkEPM solution
  Solutions/CyberArkEPM/Package/2.0.1.zip
  Solutions/CyberArkEPM/Package/2.0.2.zip
  Solutions/CyberArkEPM/Package/mainTemplate.json
  Solutions/CyberArkEPM/data/Solution_CyberArkEPM.json
Labels: Solution
