Repository Azure/Azure-Sentinel, pull requests merged in 2023-07, with the labels that each got.

#8337 Repackaging MDE, AAD & SentinelSOAR solution
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.13.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/Playbooks/Revoke-AADSignInSessions/alert-trigger/azuredeploy.json
  Solutions/Azure Active Directory/Playbooks/Revoke-AADSignInSessions/incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Data/Solution_MicrosoftDefenderEndpoint.json
  Solutions/MicrosoftDefenderForEndpoint/Package/2.0.5.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/createUiDefinition.json
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/SentinelSOARessentials/Data/Solution_SentinelSOAREssentials.json
  Solutions/SentinelSOARessentials/Package/2.1.0.zip
  Solutions/SentinelSOARessentials/Package/createUiDefinition.json
  Solutions/SentinelSOARessentials/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/PlaybooksMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#8013 asim/kustoking/update-auditevent-microsoftwindows
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventMicrosoftWindowsEvents.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventMicrosoftWindowsEvents.yaml
  Parsers/ASimAuditEvent/Tests/Microsoft_Windows_AuditEvent_DataTest.csv
  Parsers/ASimAuditEvent/Tests/Microsoft_Windows_AuditEvent_SchemaTest.csv
  Parsers/ASimAuditEvent/Tests/README.md
  Parsers/ASimWebSession/test/README.md
  Sample Data/ASIM/Microsoft_Windows_AuditEvent_Event_IngestedLogs.csv
  Sample Data/ASIM/Microsoft_Windows_AuditEvent_Event_Schema.csv
  Sample Data/ASIM/Microsoft_Windows_AuditEvent_SecurityEvent_IngestedLogs.csv
  Sample Data/ASIM/Microsoft_Windows_AuditEvent_SecurityEvent_Schema.csv
  Sample Data/ASIM/Microsoft_Windows_AuditEvent_WindowsEvent_IngestedLogs_.csv
  Sample Data/ASIM/Microsoft_Windows_AuditEvent_WindowsEvent_Schema.csv
Labels: ASIM

#8224 Packaging Automation Code Review
  .github/workflows/AddLabel.yaml
  .github/workflows/addComment.yaml
  .github/workflows/addCommentOnContentPR.yaml
  .github/workflows/addCommentOnPackagedPR.yaml
  .github/workflows/addLabelOnPr.yaml
  .github/workflows/allowedWorkflowRun.yaml
  .github/workflows/checkAutomatedPR.yaml
  .github/workflows/checkPRContentChange.yaml
  .github/workflows/checkSkipPackagingInfo.yaml
  .github/workflows/deployToPartnerCenter.yaml
  .github/workflows/getSolutionName.yaml
  .github/workflows/neworexistingsolution.yaml
  .github/workflows/package-command.yaml
  .github/workflows/pullRequestStatus.yaml
  .github/workflows/slash-command-dispatch-partnerCenter.yaml
  .github/workflows/slash-command-dispatch.yaml
  .script/package-automation/checkPRContentChange.ps1
  .script/package-automation/checkSkipPackagingInfo.ps1
  .script/package-automation/createADOItem.ps1
  .script/package-automation/getSolutionName.ps1
  .script/package-automation/newOrExistingSolution.ps1
  .script/package-automation/package-generator.ps1
  .script/package-automation/partnerCenterDeploy.ps1
  Tools/Create-Azure-Sentinel-Solution/common/LogAppInsights.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
  Tools/Create-Azure-Sentinel-Solution/templating/baseCreateUiDefinition.json
Labels: Tools

#8419 Skip contentId and id error in arm-ttk github actions
  .github/actions/entrypoint.ps1
Labels: Tools

#8422 Leaderboard Monthly Update - Update stats.md file with June 2023 Data
  Tools/stats/stats.md
Labels: Tools

#8413 UpdatingCustomTablesforDataConnectorsKQLValidations
  .script/tests/KqlvalidationsTests/CustomTables/ProjectActivity.json
  .script/tests/KqlvalidationsTests/CustomTables/ProofPointTAPClicksBlocked_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ProofPointTAPMessagesBlocked_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ProofpointPOD.json
  .script/tests/KqlvalidationsTests/CustomTables/ProofpointPOD_maillog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ProofpointPOD_message_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/QualysKB.json
  .script/tests/KqlvalidationsTests/CustomTables/RSASecurIDAMEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/Rubrik_Anomaly_Data_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Rubrik_Ransomware_Data_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Rubrik_ThreatHunt_Data_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SalesforceServiceCloud_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SecurityScorecardFactor_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SecurityScorecardIssues_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SecurityScorecardRatings_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SenservaPro_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SentinelOne_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SlackAudit_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Snowflake_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SophosEP_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SymantecICDx_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Talon_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Tenable_IO_Assets_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Tenable_IO_Vuln_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Tenable_ad_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TheomAlerts_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicroCAS_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicroDeepSecurity.json
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicroTippingPoint.json
  .script/tests/KqlvalidationsTests/CustomTables/ZimperiumMitigationLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ZimperiumThreatLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/secRMM_CL.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: Connector

#8432 ESI solutions links update
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data Connectors/ESI-ExchangeOnPremisesCollector.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/Data Connectors/ESI-ExchangeOnlineCollector.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
Labels: Solution, Content-Package

#8437 Removed appinsights code
  .github/workflows/AddLabel.yaml
  .script/package-automation/getSolutionName.ps1
Labels: Tools

#8439 removed unused appinsights
  .github/workflows/getSolutionName.yaml
Labels: Tools

#8397 Adding Custom Tables for Data Connectors KQL Validations
  .script/tests/KqlvalidationsTests/CustomTables/AADProvisioningLogs.json
  .script/tests/KqlvalidationsTests/CustomTables/AADRiskyServicePrincipals.json
  .script/tests/KqlvalidationsTests/CustomTables/AADRiskyUsers.json
  .script/tests/KqlvalidationsTests/CustomTables/AADServicePrincipalRiskEvents.json
  .script/tests/KqlvalidationsTests/CustomTables/AADUserRiskEvents.json
  .script/tests/KqlvalidationsTests/CustomTables/ASimDnsMicrosoftNXLog.json
  .script/tests/KqlvalidationsTests/CustomTables/BSMmacOS_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CGFWFirewallActivity.json
  .script/tests/KqlvalidationsTests/CustomTables/CarbonBlackAuditLogs_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CylancePROTECT.json
  .script/tests/KqlvalidationsTests/CustomTables/DnsInventory.json
  .script/tests/KqlvalidationsTests/CustomTables/GWorkspace_ReportsAPI_admin_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GWorkspace_ReportsAPI_calendar_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GWorkspace_ReportsAPI_drive_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GWorkspace_ReportsAPI_login_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GWorkspace_ReportsAPI_mobile_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GWorkspace_ReportsAPI_token_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GWorkspace_ReportsAPI_user_accounts_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetworkAccessTraffic.json
  .script/tests/KqlvalidationsTests/CustomTables/barracuda_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ibossUrlEvent.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: Connector

#8058 Update UserAgentSearch_log4j.yaml
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/UserAgentSearch_log4j.yaml
Labels: Solution, Analytic Rules

#8441 Added appinsights code in github workflows
  .github/workflows/checkSkipPackagingInfo.yaml
  .github/workflows/getSolutionName.yaml
  .github/workflows/neworexistingsolution.yaml
  .script/package-automation/getSolutionName.ps1
Labels: Tools

#8427 remove >/dev/null
  Solutions/SAP/sapcon-instance-update.sh
Labels: SAP

#8340 Secure Practice MailRisk data connector publisherId
  Solutions/MailRisk/Data/Solution_SecurePracticeMailRisk.json
  Solutions/MailRisk/Package/2.0.3.zip
  Solutions/MailRisk/Package/mainTemplate.json
  Solutions/MailRisk/SolutionMetadata.json
Labels: Solution

#8430 Update README.md
  Parsers/ASim Sysmon for Windows/README.md
Labels: Parser

#8436 Update IPEntity_SigninLogs.yaml renamed
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_SigninLogs.yaml
Labels: Solution, Analytic Rules

#8445 Remove appinsights code from actions
  .github/workflows/checkPRContentChange.yaml
  .github/workflows/checkSkipPackagingInfo.yaml
  .github/workflows/deployToPartnerCenter.yaml
  .github/workflows/getSolutionName.yaml
  .script/package-automation/checkPRContentChange.ps1
  .script/package-automation/checkSkipPackagingInfo.ps1
  .script/package-automation/getSolutionName.ps1
  .script/package-automation/newOrExistingSolution.ps1
Labels: Tools

#8442 Packaging AWS Systems Manager solution
  Solutions/AWS Systems Manager/Data/Solution_AWSSystemsManager.json
  Solutions/AWS Systems Manager/Package/3.0.0.zip
  Solutions/AWS Systems Manager/Package/createUiDefinition.json
  Solutions/AWS Systems Manager/Package/mainTemplate.json
  Solutions/AWS Systems Manager/SolutionMetadata.json
Labels: Solution, Content-Package

#8420 SOLUTION: NXLog FIM (File Integrity Monitoring) - preparing for publi…
  Solutions/NXLog FIM/Package/2.0.0.zip
  Solutions/NXLog FIM/Package/2.0.1.zip
  Solutions/NXLog FIM/Package/mainTemplate.json
  Solutions/NXLog FIM/SolutionMetadata.json
Labels: Solution

#8378 function app manual deployment instructions
  DataConnectors/AzureFunctionsManualDeployment.md
  DataConnectors/Images/AzureIcon.png
  DataConnectors/Images/CreatenewFunctionApp.png
  DataConnectors/Images/Deploythefunction.png
  DataConnectors/Images/Selectalocation.png
  DataConnectors/Images/Selectaruntime.png
  DataConnectors/Images/globallyuniquename.png
  DataConnectors/Images/subscription.png
  DataConnectors/ReadMe.md
Labels: Connector

#8452 Added conditional appinsights
  .github/workflows/neworexistingsolution.yaml
  .script/package-automation/checkPRContentChange.ps1
  .script/package-automation/checkSkipPackagingInfo.ps1
  .script/package-automation/createADOItem.ps1
  .script/package-automation/getSolutionName.ps1
  .script/package-automation/newOrExistingSolution.ps1
Labels: Tools

#8453 Remove permissions from actions
  .github/workflows/AddLabel.yaml
  .github/workflows/checkPRContentChange.yaml
Labels: Tools

#8196 Add "CreatePolicyVersion" EventName in several AWS Analytics Rules
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCRUDDyanmoDBPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCRUDIAMtoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCRUDKMSPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCRUDS3PolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCURDLambdaPolicytoPrivilegEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedCloudFormationPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedDataPipelinePolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedEC2PolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedGluePolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedLambdaPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CreatedSSMPolicytoPrivilegeEscalation.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_FullAdminPolicyAttachedToRolesUsersGroups.yaml
Labels: Solution, Analytic Rules

#8458 Checks added for fork PR
  .github/workflows/AddLabel.yaml
  .github/workflows/addCommentOnContentPR.yaml
  .github/workflows/addCommentOnPackagedPR.yaml
  .github/workflows/addLabelOnPr.yaml
  .github/workflows/allowedWorkflowRun.yaml
  .github/workflows/checkAutomatedPR.yaml
  .github/workflows/checkPRContentChange.yaml
  .github/workflows/slash-command-dispatch-partnerCenter.yaml
  .github/workflows/slash-command-dispatch.yaml
Labels: Tools

#8450 Qualys VM Knowledgebase - THREAT_INTELLIGENCE property addition as part of icM 394136598
  Solutions/Qualys VM Knowledgebase/Data Connectors/AzureFunctionQualysKB.zip
  Solutions/Qualys VM Knowledgebase/Data Connectors/AzureFunctionQualysKB/run.ps1
Labels: Connector

#8179 Added solution for Cisco SD-WAN
  .script/tests/KqlvalidationsTests/CustomTables/CiscoSDWANNetflow.json
  .script/tests/KqlvalidationsTests/CustomTables/CiscoSDWANNetflow_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CiscoSyslogUTD.json
  .script/tests/KqlvalidationsTests/CustomTables/MapNetflowUsername.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Sample Data/Custom/CiscoSDWANNetflow_CL.csv
  Sample Data/Syslog/CiscoSDWAN.csv
  Solutions/Cisco SD-WAN/Analytic Rules/CiscoSDWANSentinelIPSEventThreshold.yaml
  Solutions/Cisco SD-WAN/Analytic Rules/CiscoSDWANSentinelIntrusionEvents.yaml
  Solutions/Cisco SD-WAN/Analytic Rules/CiscoSDWANSentinelMalwareEvents.yaml
  Solutions/Cisco SD-WAN/Analytic Rules/CiscoSDWANSentinelMonitorCriticalIP.yaml
  Solutions/Cisco SD-WAN/Data Connectors/CiscoSDWAN.json
  Solutions/Cisco SD-WAN/Data Connectors/custom.yml
  Solutions/Cisco SD-WAN/Data/Solution_CiscoSD-WAN.json
  Solutions/Cisco SD-WAN/Package/2.0.0.zip
  Solutions/Cisco SD-WAN/Package/createUiDefinition.json
  Solutions/Cisco SD-WAN/Package/mainTemplate.json
  Solutions/Cisco SD-WAN/Parsers/CiscoSDWANNetflow.txt
  Solutions/Cisco SD-WAN/Parsers/CiscoSyslogFW6LogSummary.txt
  Solutions/Cisco SD-WAN/Parsers/CiscoSyslogUTD.txt
  Solutions/Cisco SD-WAN/Parsers/MapNetflowUsername.txt
  Solutions/Cisco SD-WAN/Playbooks/CiscoSDWANIntrusionLogicAPP/README.md
  Solutions/Cisco SD-WAN/Playbooks/CiscoSDWANIntrusionLogicAPP/azuredeploy.json
  Solutions/Cisco SD-WAN/Playbooks/CiscoSDWANLogicAPP/README.md
  Solutions/Cisco SD-WAN/Playbooks/CiscoSDWANLogicAPP/azuredeploy.json
  Solutions/Cisco SD-WAN/Playbooks/CiscoSDWANReport/README.md
  Solutions/Cisco SD-WAN/Playbooks/CiscoSDWANReport/azuredeploy.json
  Solutions/Cisco SD-WAN/SolutionMetadata.json
  Solutions/Cisco SD-WAN/Workbooks/CiscoSDWAN.json
  Solutions/Cisco SD-WAN/Workbooks/Images/Preview/CiscoSDWANBlack1.png
  Solutions/Cisco SD-WAN/Workbooks/Images/Preview/CiscoSDWANBlack2.png
  Solutions/Cisco SD-WAN/Workbooks/Images/Preview/CiscoSDWANBlack3.png
  Solutions/Cisco SD-WAN/Workbooks/Images/Preview/CiscoSDWANWhite1.png
  Solutions/Cisco SD-WAN/Workbooks/Images/Preview/CiscoSDWANWhite2.png
  Solutions/Cisco SD-WAN/Workbooks/Images/Preview/CiscoSDWANWhite3.png
  Workbooks/Images/Logos/cisco-logo-72px.svg
  Workbooks/Images/Preview/CiscoSDWANBlack1.png
  Workbooks/Images/Preview/CiscoSDWANBlack2.png
  Workbooks/Images/Preview/CiscoSDWANBlack3.png
  Workbooks/Images/Preview/CiscoSDWANWhite1.png
  Workbooks/Images/Preview/CiscoSDWANWhite2.png
  Workbooks/Images/Preview/CiscoSDWANWhite3.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Solution

#8463 Deprecated Workflows
  .github/workflows/convertKqlFuncYamlToArmTemplate.yaml
  .github/workflows/runAsimTesters.yaml
Labels: Tools

#8254 Update to include uppercase UPN's
  Solutions/Azure Active Directory/Analytic Rules/AuthenticationMethodsChangedforPrivilegedAccount.yaml
Labels: Solution, Analytic Rules

#8435 Add collector health scenario
  Solutions/SAP/Playbooks/Basic-SAPLockUser-STD/README.md
  Solutions/SAP/Playbooks/INSTALLATION.md
  Solutions/SAP/Playbooks/README.md
  Solutions/SAP/Playbooks/SAPCollectorRemediate-STD/README.md
  Solutions/SAP/Playbooks/SAPCollectorRemediate-STD/azureconnectordeploy.json
  Solutions/SAP/Playbooks/SAPCollectorRemediate-STD/azuredeploy.json
  Solutions/SAP/Playbooks/SAPCollectorRemediate-STD/connections.json
  Solutions/SAP/Playbooks/SAPCollectorRemediate-STD/workflow.json
  Solutions/SAP/Playbooks/SAPCollectorRemediate-STD/workflowparameters.json
Labels: Playbook, SAP

#8379 Created Package
  Solutions/NetClean ProActive/Data Connectors/Connector_NetClean.json
  Solutions/NetClean ProActive/Data/Solution_NetCleanProActive.json
  Solutions/NetClean ProActive/Package/2.0.0.zip
  Solutions/NetClean ProActive/Package/createUiDefinition.json
  Solutions/NetClean ProActive/Package/mainTemplate.json
  Solutions/NetClean ProActive/SolutionMetadata.json
  Solutions/NetClean ProActive/Workbooks/Images/preview/NetCleanProActiveBlack1.png
  Solutions/NetClean ProActive/Workbooks/Images/preview/NetCleanProActiveBlack2.png
  Solutions/NetClean ProActive/Workbooks/Images/preview/NetCleanProActiveWhite1.png
  Solutions/NetClean ProActive/Workbooks/Images/preview/NetCleanProActiveWhite2.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#8049 Add Wiz solution
  Logos/Wiz.svg
  Sample Data/Custom/Wiz/WizAuditLogs_IngestedLogs.csv
  Sample Data/Custom/Wiz/WizAuditLogs_RawLogs.json
  Sample Data/Custom/Wiz/WizAuditLogs_Schema.csv
  Sample Data/Custom/Wiz/WizIssues_IngestedLogs.csv
  Sample Data/Custom/Wiz/WizIssues_RawLogs.json
  Sample Data/Custom/Wiz/WizIssues_Schema.csv
  Sample Data/Custom/Wiz/WizVulnerabilities_IngestedLogs.csv
  Sample Data/Custom/Wiz/WizVulnerabilities_RawLogs.json
  Sample Data/Custom/Wiz/WizVulnerabilities_Schema.csv
  Sample Data/Custom/Wiz/Workbook screenshots/Audit logs over time.png
  Sample Data/Custom/Wiz/Workbook screenshots/Charts 1.png
  Sample Data/Custom/Wiz/Workbook screenshots/Charts 2.png
  Sample Data/Custom/Wiz/Workbook screenshots/Vulnerabilities over time.png
  Sample Data/Custom/Wiz/Workbook screenshots/issues over time.png
  Solutions/Wiz/Data Connectors/azuredeploy_Connector_Wiz_API_AzureFunction.json
  Solutions/Wiz/Data/Solution_Wiz.json
  Solutions/Wiz/Package/2.0.0.zip
  Solutions/Wiz/Package/createUiDefinition.json
  Solutions/Wiz/Package/mainTemplate.json
  Solutions/Wiz/SolutionMetadata.json
  Solutions/Wiz/Workbooks/WizFindings.json
Labels: Solution

#8465 Fixed issue when changes are not from any solution
  .script/package-automation/getSolutionName.ps1
Labels: Tools

#8457 New BEC Inbox Rule
  Detections/OfficeActivity/BEC_MailboxRule.yaml
Labels: Detection

#8466 Fix new or existing solution action
  .github/workflows/AddLabel.yaml
  .script/package-automation/newOrExistingSolution.ps1
Labels: Tools

#8464 Update Incident-Assignment-Shift playbook with incorrect API-call
  Solutions/SentinelSOARessentials/Playbooks/Incident-Assignment-Shifts/azuredeploy.json
Labels: Playbook, Solution

#8393 Updated HQ descriptions to fit new limits
  Solutions/Web Shells Threat Protection/Hunting Queries/Possible webshell drop.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/PotentialWebshell.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/SpringshellWebshellUsage.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/WebShellActivity.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/exchange-iis-worker-dropping-webshell.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/umworkerprocess-creating-webshell.yaml
Labels: Solution, Hunting

#8226 Update SysmonFullDeployment.json
  Parsers/ASim Sysmon for Windows/SysmonFullDeployment.json
Labels: ASIM

#7725 Audit Sentinel Detection Rules
  Tools/Audit-Sentinel-Detection/Readme.md
  Tools/Audit-Sentinel-Detection/azuredeploy.json
Labels: Tools

#8342 ASIM added dhcp schema
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#8446 Data Connectors Kql validations tables update
  .script/tests/KqlvalidationsTests/CustomTables/AIShield_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/AkamaiSIEMEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/AlsidForADLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ApigeeX_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Armis_Activities_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Armis_Alerts_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Armis_Devices_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Armorblox_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ArubaClearPass.json
  .script/tests/KqlvalidationsTests/CustomTables/Auth0AM_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/AzureDiagnostics.json
  .script/tests/KqlvalidationsTests/CustomTables/AzureMetrics.json
  .script/tests/KqlvalidationsTests/CustomTables/BetterMTDAppLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BetterMTDDeviceLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BetterMTDIncidentLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BetterMTDNetflowLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ContainerInventory.json
  .script/tests/KqlvalidationsTests/CustomTables/KubeEvents.json
  .script/tests/KqlvalidationsTests/CustomTables/agari_apdpolicy_log_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/agari_apdtc_log_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/agari_bpalerts_log_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/beSECURE_Audit_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/beSECURE_ScanEvent_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/beSECURE_ScanResults_CL.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: Connector

#8174 Release Notes Guidance added
  Solutions/Images/ReleaseNotes_OfferListing.png
  Solutions/ReleaseNotesGuidance.md
  Solutions/ReleaseNotesSample.md
Labels: Solution

#8078 Udated solution package with the changes of field mapping with Extern…
  Solutions/CofenseTriage/Data Connectors/CofenseTriageDataConnector/CofenseBasedIndicatorCreator/cofense_to_sentinel_mapping.py
  Solutions/CofenseTriage/Data Connectors/CofenseTriageDataConnector/CofenseBasedIndicatorCreator/sentinel.py
  Solutions/CofenseTriage/Data/Solution_CofenseTriage.json
  Solutions/CofenseTriage/Package/2.0.1.zip
  Solutions/CofenseTriage/Package/mainTemplate.json
  Solutions/CofenseTriage/Workbooks/CofenseTriageThreatIndicators.json
Labels: Solution

#8468 Revert branch name in action And Add filter
  .github/workflows/AddLabel.yaml
  .github/workflows/addCommentOnContentPR.yaml
Labels: Tools

#7660 DCRs \ collect net protect events
  Tools/DCRs Library/MDE Network Protection Logs/README.md
  Tools/DCRs Library/MDE Network Protection Logs/azuredeploy.json
Labels: Tools

#8327 Packaging Intel 471 Solution
  Solutions/Intel471/Data/Solution_Intel471.json
  Solutions/Intel471/Package/2.0.0.zip
  Solutions/Intel471/Package/createUiDefinition.json
  Solutions/Intel471/Package/mainTemplate.json
  Solutions/Intel471/Playbooks/Intel471-ImportMalwareIntelligenceToSentinel/README.md
  Solutions/Intel471/Playbooks/Intel471-ImportMalwareIntelligenceToSentinel/azuredeploy.json
  Solutions/Intel471/Playbooks/Intel471-ImportMalwareIntelligenceToSentinel/images/ImportMalwareIntelligenceToSentinel.png
  Solutions/Intel471/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_Intel471.json
Labels: Playbook, Solution

#8471 Updated Package with 3.0.0 for SOC Handbook
  Solutions/SOC Handbook/Data/Solution_SOC Handbook.json
  Solutions/SOC Handbook/Package/3.0.0.zip
  Solutions/SOC Handbook/Package/mainTemplate.json
Labels: Solution, Content-Package

#8143 3P network detection added
  Detections/MultipleDataSources/PhishinglinkExecutionObserved.yaml
  Detections/MultipleDataSources/RiskyUserIn3Pnetworkactivity.yaml
  Detections/MultipleDataSources/SucessfullSiginFromPhingLink.yaml
Labels: Detection

#8474 Fix issues on pr number and github action
  .github/workflows/AddLabel.yaml
  .github/workflows/addCommentOnContentPR.yaml
  .github/workflows/checkPRContentChange.yaml
  .github/workflows/checkSkipPackagingInfo.yaml
  .github/workflows/getSolutionName.yaml
  .github/workflows/neworexistingsolution.yaml
  .github/workflows/package-command.yaml
  .script/package-automation/getSolutionName.ps1
  .script/package-automation/newOrExistingSolution.ps1
Labels: Tools

#8234 06 09 2023 as blob storage add domains to zscaler url category
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_API_Key_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_API_Key_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Access_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Access_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Access_3.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Access_4.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Admin_Account_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Admin_Account_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Admin_Account_3.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Admin_Account_4.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Admin_Account_5.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Admin_Account_6.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Admin_Account_7.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Admin_Account_8.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Blob_Storage_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Blob_Storage_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Blob_Storage_3.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Blob_Storage_4.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Demo_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Demo_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_10.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_11.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_12.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_13.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_3.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_4.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_5.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_6.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_7.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_8.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Deploy_9.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Integration_Account_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Integration_Account_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Integration_Account_3.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Integration_Account_4.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Key_Vault_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Key_Vault_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Key_Vault_3.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Key_Vault_4.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_Root_Domain_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_URL_Category_1.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/Images/Zscaler_URL_Category_2.png
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/README.md
  Playbooks/AS-Blob-Storage-Add-Domains-to-Zscaler-URL-Category/azuredeploy.json
Labels: Playbook

#8484 Update readme
  Tools/Audit-Sentinel-Detection/Readme.md
  Tools/DCRs Library/MDE Network Protection Logs/README.md
Labels: Tools

#8469 Updated link in ReleaseNotesGuidance.md
  Solutions/ReleaseNotesGuidance.md
Labels: Solution

#8487 Updated broken links
  Solutions/Broadcom SymantecDLP/Data Connectors/Connector_Syslog_SymantecDLP.json
  Solutions/Claroty/Data Connectors/Connector_Claroty_CEF.json
Labels: bug, Solution, Content-Package

#8488 Fixed issue on hunting query text
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#8394 06 27 2023 as block GitHub user
  Playbooks/AS-Block-GitHub-User/CreateJWT-Function/CreateJWT.js
  Playbooks/AS-Block-GitHub-User/Encode-Private-Key/Encode-Private-Key.ps1
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Add_Contributor_Role_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Add_Contributor_Role_2.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Add_Contributor_Role_3.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Add_Contributor_Role_4.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_10.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_11.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_2.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_3.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_4.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_5.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_6.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_7.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_8.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Configure_VSCode_9.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Demo_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Demo_2.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Deploy_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Deploy_2.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Deploy_3.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Deploy_Azure_Function_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Deploy_Azure_Function_2.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Deploy_Azure_Function_3.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Deploy_Azure_Function_4.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Encode_Private_Key_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Install_GitHub_App_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Install_GitHub_App_2.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Install_GitHub_App_3.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Install_GitHub_App_4.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Install_GitHub_App_5.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Key_Vault_Access_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Key_Vault_Access_2.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Key_Vault_Access_3.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Key_Vault_Access_4.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Key_Vault_Create_Secret_1.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Key_Vault_Create_Secret_2.png
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Key_Vault_Create_Secret_3.png
  Playbooks/AS-Block-GitHub-User/README.md
  Playbooks/AS-Block-GitHub-User/azuredeploy.json
Labels: Playbook

#8019 Web Session Essentials Solution - New
  .script/tests/KqlvalidationsTests/CustomFunctions/_Im_WebSession.json
  .script/tests/KqlvalidationsTests/CustomTables/WebSession_Summarized_DstIP_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/WebSession_Summarized_SrcIP_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/WebSession_Summarized_SrcInfo_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/WebSession_Summarized_ThreatInfo_CL.json
  Sample Data/Feeds/UnusualUserAgents.csv
  Solutions/Web Session Essentials/Analytic Rules/CommandInURL.yaml
  Solutions/Web Session Essentials/Analytic Rules/DataExfiltrationTimeSeriesAnomaly.yaml
  Solutions/Web Session Essentials/Analytic Rules/DiscordCDNRiskyFileDownload.yaml
  Solutions/Web Session Essentials/Analytic Rules/KnownMaliciousUserAgents.yaml
  Solutions/Web Session Essentials/Analytic Rules/LocalFileInclusion-LFI.yaml
  Solutions/Web Session Essentials/Analytic Rules/MultipleClientErrorsWithinShortTime.yaml
  Solutions/Web Session Essentials/Analytic Rules/MultipleServerErrorsWithinShortTime.yaml
  Solutions/Web Session Essentials/Analytic Rules/MultipleUAsFromSingleIP.yaml
  Solutions/Web Session Essentials/Analytic Rules/PossibleMaliciousDoubleExtension.yaml
  Solutions/Web Session Essentials/Analytic Rules/PotentionalFileEnumeration.yaml
  Solutions/Web Session Essentials/Analytic Rules/PrivateIPInURL.yaml
  Solutions/Web Session Essentials/Analytic Rules/RareUserAgentDetected.yaml
  Solutions/Web Session Essentials/Analytic Rules/RarelyRequestedResources.yaml
  Solutions/Web Session Essentials/Analytic Rules/RequestToPotentiallyHarmfulFileTypes.yaml
  Solutions/Web Session Essentials/Analytic Rules/ThreatInfoFoundInWebRequests.yaml
  Solutions/Web Session Essentials/Data/Solution_Web Session Essentials.json
  Solutions/Web Session Essentials/Hunting Queries/EmptyUserAgent.yaml
  Solutions/Web Session Essentials/Hunting Queries/ExcessiveForbiddenRequestsDetected.yaml
  Solutions/Web Session Essentials/Hunting Queries/IPAddressInURL.yaml
  Solutions/Web Session Essentials/Hunting Queries/KaliLinuxUserAgentDetected.yaml
  Solutions/Web Session Essentials/Hunting Queries/PotentialBeaconingDetected_LimitedDomainBased.yaml
  Solutions/Web Session Essentials/Hunting Queries/PotentialBeaconingDetected_SimilarSrcBytes.yaml
  Solutions/Web Session Essentials/Hunting Queries/PotentialBeaconingDetected_TimeDelta.yaml
  Solutions/Web Session Essentials/Hunting Queries/RequestFromBotsAndCrawlers.yaml
  Solutions/Web Session Essentials/Hunting Queries/ThreatInfoFoundInWebRequests.yaml
  Solutions/Web Session Essentials/Package/3.0.0.zip
  Solutions/Web Session Essentials/Package/createUiDefinition.json
  Solutions/Web Session Essentials/Package/mainTemplate.json
  Solutions/Web Session Essentials/Playbooks/SummarizeWebSessionData/azuredeploy.json
  Solutions/Web Session Essentials/Playbooks/SummarizeWebSessionData/readme.md
  Solutions/Web Session Essentials/SolutionMetadata.json
  Solutions/Web Session Essentials/Workbooks/Images/Preview/WebSessionEssentialsWorkbookBlack.png
  Solutions/Web Session Essentials/Workbooks/Images/Preview/WebSessionEssentialsWorkbookWhite.png
  Solutions/Web Session Essentials/Workbooks/WebSessionEssentials.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Hunting, Analytic Rules, Content-Package

#8479 Minor updates to improve coverage in BEC detections
  Detections/MultipleDataSources/PhishinglinkExecutionObserved.yaml
  Detections/MultipleDataSources/RiskyUserIn3Pnetworkactivity.yaml
  Detections/MultipleDataSources/SucessfullSiginFromPhingLink.yaml
Labels: Detection

#8433 Repackaging-ZoomReports
  Solutions/ZoomReports/Data Connectors/ZoomSentinelConnector/function.json
  Solutions/ZoomReports/Data/Solution_ZoomReports.json
  Solutions/ZoomReports/Package/3.0.0.zip
  Solutions/ZoomReports/Package/createUiDefinition.json
  Solutions/ZoomReports/Package/mainTemplate.json
  Solutions/ZoomReports/ReleaseNotes.md
Labels: Solution, Content-Package

#8501 Update ReleaseNotesSample.md
  Solutions/ReleaseNotesSample.md
Labels: Solution

#8502 Update ReleaseNotes.md
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
Labels: Solution

#8472 Update Cisco Meraki with 3.0.0
  Solutions/CiscoMeraki/Package/3.0.0.zip
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
Labels: Solution, Content-Package, P0

#8509 Updated Entrust and GCP Big query package
  Solutions/Entrust identity as Service/Package/3.0.0.zip
  Solutions/Entrust identity as Service/Package/mainTemplate.json
  Solutions/Entrust identity as Service/SolutionMetadata.json
  Solutions/Google Cloud Platform BigQuery/Package/3.0.0.zip
Labels: Solution

#8489 Repackaging-Windows SQL Server Database Audit
  Solutions/Microsoft Windows SQL Server Database Audit/Data/Solution_MicrosoftWindowsSQL.json
  Solutions/Microsoft Windows SQL Server Database Audit/Package/3.0.0.zip
  Solutions/Microsoft Windows SQL Server Database Audit/Package/createUiDefinition.json
  Solutions/Microsoft Windows SQL Server Database Audit/Package/mainTemplate.json
  Solutions/Microsoft Windows SQL Server Database Audit/ReleaseNotes.md
Labels: Solution, P0

#8513 Update WorkbooksMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#8510 Repackaging Web Shell Threat Protection
  Solutions/Web Shells Threat Protection/Package/3.0.0.zip
  Solutions/Web Shells Threat Protection/Package/createUiDefinition.json
  Solutions/Web Shells Threat Protection/Package/mainTemplate.json
  Solutions/Web Shells Threat Protection/ReleaseNotes.md
Labels: Solution

#8514 Add files via upload
  Playbooks/AS-Block-GitHub-User/Images/BlockGitHubUser_Key_Vault_Create_Secret_2.png
Labels: Playbook

#8461 Repackaging Security Threat Essential Solution
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/PossibleAiTMPhishingAttemptAgainstAAD.yaml
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/SecurityThreatEssentialSolution/Package/3.0.0.zip
  Solutions/SecurityThreatEssentialSolution/Package/mainTemplate.json
  Solutions/SecurityThreatEssentialSolution/ReleaseNotes.md
Labels: Solution, Content-Package

#8515 Updating Create UI file for broken links-ZoomReports
  Solutions/ZoomReports/Data/Solution_ZoomReports.json
  Solutions/ZoomReports/Package/3.0.0.zip
  Solutions/ZoomReports/Package/createUiDefinition.json
  Solutions/ZoomReports/Package/mainTemplate.json
Labels: Solution, Content-Package

#8459 Content issue found during template service bugbash beforeGA
  Solutions/SOC-Process-Framework/Package/3.0.0.zip
  Solutions/SOC-Process-Framework/Package/createUiDefinition.json
  Solutions/SOC-Process-Framework/Package/mainTemplate.json
  Solutions/SOC-Process-Framework/ReleaseNotes.md
  Solutions/SOC-Process-Framework/data/Solution_Soc-Process.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Solution, Content-Package

#8498 Updated DNS Essentials with 3.0.0
  Solutions/DNS Essentials/Data/Solution_DNS.json
  Solutions/DNS Essentials/Package/3.0.0.zip
  Solutions/DNS Essentials/Package/mainTemplate.json
Labels: Content-Package

#8447 Custom tables added for Data connector validations
  .script/tests/KqlvalidationsTests/CustomTables/BitglassLogs_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CiscoACIEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/CiscoDuo_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CiscoMeraki.json
  .script/tests/KqlvalidationsTests/CustomTables/CiscoUCS.json
  .script/tests/KqlvalidationsTests/CustomTables/Cloudflare_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Cohesity_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CrowdstrikeReplicatorLogs_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ESETInspect_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ESIExchangeConfig_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ESIExchangeOnlineConfig_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ElasticAgentEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/Exabeam.json
  .script/tests/KqlvalidationsTests/CustomTables/FireEyeNXEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/ForescoutEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/ForescoutHostProperties_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GCP_IAM_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/GCP_MONITORING_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Infoblox_dhcpdiscover.json
  .script/tests/KqlvalidationsTests/CustomTables/Infoblox_dhcpinform.json
  .script/tests/KqlvalidationsTests/CustomTables/Infoblox_dhcprequest.json
  .script/tests/KqlvalidationsTests/CustomTables/darktrace_model_alerts_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/eset_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/githubscanaudit_CL.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: scripts

#8256 fixing rule - A client made a web request to a potentially harmful file
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Detections/ASimWebSession/PotentiallyHarmfulFileTypes.yaml
Labels: Detection

#8368 Citrix ADC Data Connector instructions and Parser Changes
  Sample Data/Syslog/Citrix ADC.txt
  Solutions/Citrix ADC/Data Connectors/Connector_CitrixADC_CEF.json
  Solutions/Citrix ADC/Data Connectors/Connector_CitrixADC_syslog.json
  Solutions/Citrix ADC/Data/Solution_CitrixAdc.json
  Solutions/Citrix ADC/Package/3.0.0.zip
  Solutions/Citrix ADC/Package/createUiDefinition.json
  Solutions/Citrix ADC/Package/mainTemplate.json
  Solutions/Citrix ADC/Parsers/CitrixADCEvent.txt
  Solutions/Citrix ADC/Parsers/CitrixADCEventOld.txt
Labels: Content-Package

#7991 Microsoft Sentinel solution for Nasuni
  .script/tests/KqlvalidationsTests/CustomTables/Nasuni.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Nasuni/Analytic Rules/RansomwareAttackDetected.yaml
  Solutions/Nasuni/Analytic Rules/RansomwareClientBlocked.yaml
  Solutions/Nasuni/Data Connectors/Logo/Nasuni.svg
  Solutions/Nasuni/Data Connectors/Nasuni Data Connector.json
  Solutions/Nasuni/Data/Solution_Nasuni.json
  Solutions/Nasuni/Hunting Queries/FileDeleteEvents.yaml
  Solutions/Nasuni/Package/3.0.0.zip
  Solutions/Nasuni/Package/createUiDefinition.json
  Solutions/Nasuni/Package/mainTemplate.json
  Solutions/Nasuni/SolutionMetadata.json
Labels: Solution

#8497 Repackaging Microsoft defender for office 365 solution
  Solutions/Microsoft Defender for Office 365/Data/Solution_MicrosoftDefenderforOffice365.json
  Solutions/Microsoft Defender for Office 365/Package/3.0.0.zip
  Solutions/Microsoft Defender for Office 365/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
  Solutions/Microsoft Defender for Office 365/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package

#8508 Updating the values for empty array for serialized data for workbooks
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#8530 fix oci to sentinel function
  Solutions/Oracle Cloud Infrastructure/Data Connectors/AzureFunctionOCILogs/main.py
  Solutions/Oracle Cloud Infrastructure/Data Connectors/azuredeploy_OCI_logs_API_FunctionApp.json
Labels: Solution

#8532 Updating release notes in package
  Solutions/Microsoft Defender for Office 365/Package/3.0.0.zip
  Solutions/Microsoft Defender for Office 365/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
Labels: Solution

#8519 Updating SOC Handbook package to fix workbooks
  Solutions/SOC Handbook/Data/Solution_SOC Handbook.json
  Solutions/SOC Handbook/Package/3.0.1.zip
  Solutions/SOC Handbook/Package/createUiDefinition.json
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/ReleaseNotes.md
Labels: Solution, Content-Package

#8534 Changes in main template for workbook
  Solutions/ZoomReports/Package/3.0.0.zip
  Solutions/ZoomReports/Package/mainTemplate.json
Labels: Solution

#8536 Citrix ADC - Adding Release Notes
  Solutions/Citrix ADC/ReleaseNotes.md
Labels: Solution

#8526 Update getModifiedASimSchemas.ps1
  .script/getModifiedASimSchemas.ps1
Labels: scripts

#8538 Updating release notes path in Package
  Solutions/Microsoft Defender for Office 365/Package/3.0.0.zip
  Solutions/Microsoft Defender for Office 365/Package/createUiDefinition.json
Labels: Solution

#8539 Citrix ADC - Updated release note in CreateUI
  Solutions/Citrix ADC/Package/3.0.0.zip
  Solutions/Citrix ADC/Package/createUiDefinition.json
Labels: Solution

#8541 Fixed issue after merge workflow
  .github/workflows/addCommentOnPackagedPR.yaml
Labels: Tools

#8417 New Okta related detection and hunting queries
  .script/tests/KqlvalidationsTests/CustomTables/Okta_CL.json
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/KillChainTechniquesHelper.cs
  Solutions/Okta Single Sign-On/Analytic Rules/DeviceRegistrationMaliciousIP.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/HighRiskAdminActivity.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/MFAFatigue.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/NewDeviceLocationCriticalOperation.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/PhishingDetection.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/LegacyAuthentication.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/LoginFromMultipleLocations.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/LoginNordVPN.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/LoginsVPSProvider.yaml
  Solutions/Okta Single Sign-On/Hunting Queries/NewDeviceRegistration.yaml
Labels: Solution, Hunting, Analytic Rules, Content-Package

#8547 Update package-on-merge.yaml
  .github/workflows/package-on-merge.yaml
Labels: Tools

#8512 Updating Cloudflare solution for hunting queries changes
  .script/tests/KqlvalidationsTests/CustomTables/Cloudflare.json
  Solutions/Cloudflare/Data/Solution_Cloudflare.json
  Solutions/Cloudflare/Hunting Queries/CloudflareClientErrors.yaml
  Solutions/Cloudflare/Hunting Queries/CloudflareServerErrors.yaml
  Solutions/Cloudflare/Package/3.0.0.zip
  Solutions/Cloudflare/Package/createUiDefinition.json
  Solutions/Cloudflare/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0

#7854 Data connector m365 defender vulnerability management
  DataConnectors/M365Defender-VulnerabilityManagement/azureDeploy.json
  DataConnectors/M365Defender-VulnerabilityManagement/azureDeployNetworkRestricted.json
  DataConnectors/M365Defender-VulnerabilityManagement/deploymentScript.ps1
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage.zip
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/function.json
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/libs/Azure.Core.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/libs/Azure.Identity.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/libs/Azure.Monitor.Ingestion.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/libs/Microsoft.Identity.Client.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/libs/Microsoft.IdentityModel.Abstractions.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/readme.md
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/run.ps1
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/host.json
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/profile.ps1
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/requirements.psd1
  DataConnectors/M365Defender-VulnerabilityManagement/main.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/mainNetworkRestricted.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/maintenance/buildFiles.ps1
  DataConnectors/M365Defender-VulnerabilityManagement/maintenance/customDcrTables.json
  DataConnectors/M365Defender-VulnerabilityManagement/maintenance/deployLatestFunctionPackage.ps1
  DataConnectors/M365Defender-VulnerabilityManagement/modules/customDcrTables.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/keyVault.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/lawCustomTable.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/lawRoleAssignment.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/readme.md
  DataConnectors/M365Defender-VulnerabilityManagement/workbooks/azureDeploy.json
  DataConnectors/M365Defender-VulnerabilityManagement/workbooks/main.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/workbooks/readme.md
Labels: Connector, Solution

#8528 Sentinel SOAR Essentials repackaging.
  Solutions/SentinelSOARessentials/Data/Solution_SentinelSOAREssentials.json
  Solutions/SentinelSOARessentials/Package/3.0.0.zip
  Solutions/SentinelSOARessentials/Package/ReleaseNotes.md
  Solutions/SentinelSOARessentials/Package/mainTemplate.json
  Solutions/SentinelSOARessentials/ReleaseNotes.md
  Solutions/SentinelSOARessentials/Workbooks/IncidentTasksWorkbook.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package

#8392 Update imAuthSigninsMultipleCountries.yaml
  Detections/ASimAuthentication/imAuthSigninsMultipleCountries.yaml
Labels: ASIM

#8557 changed solutionID to match Marketplace listing
  Solutions/Nasuni/Package/3.0.0.zip
  Solutions/Nasuni/Package/mainTemplate.json
Labels: Solution

#8523 Repackaging Microsoft Insider Risk Management Solution
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskHighUserIncidentsCorrelation.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskM365IRMAlertObserved.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskSensitiveDataAccessOutsideOrgGeo.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskyAccessByApplication.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/3.0.0.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#8550 Updating GitHub Solution Package
  Solutions/GitHub/Package/3.0.0.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/ReleaseNotes.md
  Solutions/Microsoft Defender for Office 365/Package/3.0.0.zip
  Solutions/Microsoft Defender for Office 365/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
Labels: Solution, P0

#8555 Updated Packages, Links and images for MDE
  Solutions/MicrosoftDefenderForEndpoint/Data/Solution_MicrosoftDefenderEndpoint.json
  Solutions/MicrosoftDefenderForEndpoint/Package/3.0.0.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/createUiDefinition.json
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Isolate-MDEMachine/readme.md
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEAppExecution/readme.md
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/Restrict-MDEDomain-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/ReleaseNotes.md
Labels: Solution, Content-Package

#8562 Dataconnector schema for BloodHoundEnterprise
  .script/dataConnectorValidator.ts
  .script/utils/dataConnector.ts
  .script/utils/schemas/BloodHoundEnterprise_ConnectorSchema.json
Labels: dataconnector-cri

#8561 Updating sentinel cost anomaly alert
  Playbooks/Send-IngestionCostAnomalyAlert/azuredeploy.json
Labels: Playbook

#8400 azure function to azure functions
  Solutions/AbnormalSecurity/Data Connectors/AbnormalSecurity_API_FunctionApp.json
  Solutions/AbnormalSecurity/Data/Solution_AbnormalSecurity.json
  Solutions/AbnormalSecurity/Package/3.0.0.zip
  Solutions/AbnormalSecurity/Package/createUiDefinition.json
  Solutions/AbnormalSecurity/Package/mainTemplate.json
  Solutions/AbnormalSecurity/ReleaseNotes.md
  Solutions/CohesitySecurity/Data/Solution_CohesitySecurity.json
  Solutions/CohesitySecurity/Package/3.0.0.zip
  Solutions/CohesitySecurity/Package/createUiDefinition.json
  Solutions/CohesitySecurity/Package/mainTemplate.json
  Solutions/CohesitySecurity/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#8542 🐛 Remove errant tabs
  Detections/MultipleDataSources/PhishinglinkExecutionObserved.yaml
  Detections/MultipleDataSources/RiskyUserIn3Pnetworkactivity.yaml
  Detections/MultipleDataSources/SucessfullSiginFromPhingLink.yaml
Labels: Detection

#8566 Added Thycotic Software Events
  Solutions/Delinea Secret Server/Workbooks/DelineaWorkbook.json
Labels: Workbook

#8559 Updated Atlassian Confluence to 3.0.0
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/3.0.0.zip
  Solutions/AtlassianConfluenceAudit/Package/createUiDefinition.json
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/ReleaseNotes.md
Labels: Solution, Content-Package

#8567 Repackaging - Legacy IOC based Threat Protection
  Solutions/Legacy IOC based Threat Protection/Package/3.0.0.zip
  Solutions/Legacy IOC based Threat Protection/Package/createUiDefinition.json
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
  Solutions/Legacy IOC based Threat Protection/ReleaseNotes.md
Labels: Solution

#8569 Repackaging - Legacy IOC based Threat Protection
  Solutions/Legacy IOC based Threat Protection/Package/3.0.0.zip
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
Labels: Solution

#8572 Repackaging Azure Active directory Solution
  Solutions/Azure Active Directory/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
  Solutions/Azure Active Directory/Analytic Rules/UserAssignedPrivilegedRole.yaml
  Solutions/Azure Active Directory/Package/3.0.0.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Active Directory/ReleaseNotes.md
Labels: Solution

#8576 Fix packaging version and some minor change
  .github/workflows/getSolutionName.yaml
  .script/package-automation/package-generator.ps1
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools

#8568 adding _ASIM_GetSourceBySourceType table
  .script/tests/KqlvalidationsTests/CustomTables/_ASIM_GetSourceBySourceType.json
Labels: scripts

#8494 Cynerio add workbooks
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Cynerio/Analytic Rules/IoTDefaultPasswords.yaml
  Solutions/Cynerio/Analytic Rules/IoTExploitationAttempts.yaml
  Solutions/Cynerio/Analytic Rules/IoTWeakPasswords.yaml
  Solutions/Cynerio/Analytic Rules/MedicalDeviceScanning.yaml
  Solutions/Cynerio/Analytic Rules/SuspiciousConnections.yaml
  Solutions/Cynerio/Data/Solution_Cynerio.json
  Solutions/Cynerio/Package/3.0.0.zip
  Solutions/Cynerio/Package/createUiDefinition.json
  Solutions/Cynerio/Package/mainTemplate.json
  Solutions/Cynerio/ReleaseNotes.md
  Solutions/Cynerio/Workbooks/CynerioOverviewWorkbook.json
  Solutions/Cynerio/Workbooks/Images/Preview/CynerioOverviewBlack.png
  Solutions/Cynerio/Workbooks/Images/Preview/CynerioOverviewWhite.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7950 initial sevco security connector
  .script/tests/KqlvalidationsTests/CustomTables/Sevco_Devices_CL.json
  Sample Data/Sevco_IngestedLogs.csv
  Solutions/SevcoSecurity/Data Connectors/Connector_SevcoSecurity.json
  Solutions/SevcoSecurity/Data/Solution_SevcoSecurity.json
  Solutions/SevcoSecurity/Package/3.0.0.zip
  Solutions/SevcoSecurity/Package/createUiDefinition.json
  Solutions/SevcoSecurity/Package/mainTemplate.json
  Solutions/SevcoSecurity/ReleaseNotes.md
  Solutions/SevcoSecurity/SolutionMetadata.json
Labels: Connector

#8582 Skip Validation for Dependabots
  .github/workflows/AddLabel.yaml
Labels: Tools

#8558 Workbook version update validation issue
  .script/utils/workbookCheckers/isVersionIncrementedOnModification.ts
Labels: draft

#8583 Update ArchivingBasicLogsRetention.json
  Workbooks/ArchivingBasicLogsRetention.json
Labels: Workbook, Solution

#8414 Optimizing the KQL tests runtime
  .azure-pipelines/detectionTemplateSchemaValidation.yaml
  .azure-pipelines/kqlValidations.yaml
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/CommonFunctionsLoader.cs
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/ParsersCustomJsonDirectoryFunctionsLoader.cs
  .script/tests/KqlvalidationsTests/JsonFilesTestData/DataConnectorFilesLoader.cs
  .script/tests/KqlvalidationsTests/JsonFilesTestData/JsonFilesLoader.cs
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/YamlFilesTestData/YamlFilesLoader.cs
  .script/tests/detectionTemplateSchemaValidation/DetectionTemplateSchemaValidation.Tests.csproj
  .script/tests/detectionTemplateSchemaValidation/DetectionTemplateSchemaValidationTests.cs
  .script/tests/detectionTemplateSchemaValidation/DetectionsYamlFilesTestData.cs
Labels: scripts, P0

#8592 adding getsourcebysourcename function details
  .script/tests/KqlvalidationsTests/CustomFunctions/_ASIM_GetSourceBySourceType.json
Labels: scripts

#8577 Repackaging Teams solution
  Solutions/Teams/Data/Solution_Teams.json
  Solutions/Teams/Package/3.0.0.zip
  Solutions/Teams/Package/createUiDefinition.json
  Solutions/Teams/Package/mainTemplate.json
  Solutions/Teams/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#8573 Windows firewall 3.0.0 solution
  Solutions/Windows Firewall/Data/Solution_Windows Firewall.json
  Solutions/Windows Firewall/Package/3.0.0.zip
  Solutions/Windows Firewall/Package/createUiDefinition.json
  Solutions/Windows Firewall/Package/mainTemplate.json
  Solutions/Windows Firewall/ReleaseNotes.md
Labels: Solution, Content-Package

#7482 Cisco ISE parser optimization regarding IcM
  Solutions/Cisco ISE/Package/3.0.0.zip
  Solutions/Cisco ISE/Package/createUiDefinition.json
  Solutions/Cisco ISE/Package/mainTemplate.json
  Solutions/Cisco ISE/Parsers/CiscoISEEvent.txt
  Solutions/Cisco ISE/ReleaseNotes.md
Labels: Parser

#8599 skip sap solution validation
  .script/package-automation/getSolutionName.ps1
  DataConnectors/AzureFunctionsManualDeployment.md
Labels: Tools

#8604 Skip validation check for for dependabot prs
  .github/workflows/addCommentOnPackagedPR.yaml
  .github/workflows/checkPRContentChange.yaml
  .github/workflows/deployToPartnerCenter.yaml
  .github/workflows/slash-command-dispatch-partnerCenter.yaml
  .github/workflows/slash-command-dispatch.yaml
Labels: Tools

#8606 Fix manual onboarding (KeyVault creation) doc and script
  Widgets/Deployment/README.md
  Widgets/Deployment/WidgetsKvCreation.Ps1
Labels: Widgets

#8584 Repackaging- VectraAIDetect Solution for Workbook issue.
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-NewCampaign.yaml
  Solutions/Vectra AI Detect/Data/Solution_Vectra AI Detect.json
  Solutions/Vectra AI Detect/Package/3.0.0.zip
  Solutions/Vectra AI Detect/Package/createUiDefinition.json
  Solutions/Vectra AI Detect/Package/mainTemplate.json
  Solutions/Vectra AI Detect/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#8585 Repackaging - MaturityModelForEventLogManagementM2131
  Solutions/MaturityModelForEventLogManagementM2131/Package/3.0.0.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/createUiDefinition.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/ReleaseNotes.md
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
Labels: Solution, Content-Package

#8610 Fix issue on playbook
  .script/package-automation/package-generator.ps1
Labels: Tools

#8579 Repackaging - Azure Firewall
  Solutions/Azure Firewall/Data/Solution_AzureFirewall.json
  Solutions/Azure Firewall/Package/3.0.0.zip
  Solutions/Azure Firewall/Package/createUiDefinition.json
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Azure Firewall/ReleaseNotes.md
Labels: Solution, Content-Package

#8595 Optimizing KQL validation runtime
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/ParsersCustomJsonDirectoryFunctionsLoader.cs
  .script/tests/KqlvalidationsTests/YamlFilesTestData/YamlFilesLoader.cs
Labels: draft, Content-Package, P0

#7659 Update sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: Solution

#8619 Fix existing pr body update on artifacts generation
  .github/workflows/checkAutomatedPR.yaml
  .github/workflows/package-command.yaml
Labels: Tools

#8620 Minor change in automated pr
  .github/workflows/checkAutomatedPR.yaml
Labels: Tools

#7890 BEC - Stages 2-3 UEBA updates
  Hunting Queries/SigninLogs/LegacyAuthAttempt.yaml
  Hunting Queries/SigninLogs/MFAUserBlocked.yaml
  Hunting Queries/SigninLogs/SuccessfulSigninFromNon-CompliantDevice.yaml
  Hunting Queries/SigninLogs/UserAccounts-NewSingleFactorAuth.yaml
  Hunting Queries/SigninLogs/UserAccounts-UnusualLogonTimes.yaml
  Hunting Queries/SigninLogs/UserLoginIPAddressTeleportation.yaml
  Hunting Queries/SigninLogs/new_locations_azuread_signin.yaml
  Hunting Queries/SigninLogs/riskSignInWithNewMFAMethod.yaml
  Solutions/Azure Active Directory/Analytic Rules/MFARejectedbyUser.yaml
  Solutions/Azure Active Directory/Analytic Rules/NRT_MFARejectedbyUser.yaml
  Solutions/Azure Active Directory/Analytic Rules/SigninAttemptsByIPviaDisabledAccounts.yaml
  Solutions/Azure Active Directory/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
  Solutions/Azure Active Directory/Analytic Rules/UserAccounts-CABlockedSigninSpikes.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttempts.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-from-NordVPN-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/SuspiciousSignintoPrivilegedAccount.yaml
Labels: Solution, Detection, Hunting

#8600 Updated publisherId and offerId as per require.
  Solutions/Cisco SD-WAN/Package/2.0.0.zip
  Solutions/Cisco SD-WAN/Package/createUiDefinition.json
  Solutions/Cisco SD-WAN/Package/mainTemplate.json
  Solutions/Cisco SD-WAN/SolutionMetadata.json
Labels: Solution

#8624 Github Action Fetch-depth set to 2-test
  .github/workflows/checkAutomatedPR.yaml
  .github/workflows/checkPRContentChange.yaml
  .github/workflows/checkSkipPackagingInfo.yaml
  .github/workflows/deployToPartnerCenter.yaml
  .github/workflows/getSolutionName.yaml
  .github/workflows/neworexistingsolution.yaml
  .github/workflows/package-command.yaml
  .github/workflows/package-on-merge.yaml
Labels: Tools

#8629 kql tests run optimization issue fix
  .script/tests/KqlvalidationsTests/CustomTables/_ASIM_GetSourceBySourceType.json
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/CommonFunctionsLoader.cs
Labels: scripts

#8630 Added check to skip individual file inside of solutions
  .script/package-automation/getSolutionName.ps1
Labels: Tools

#8628 Solution catalog update
  Solutions/ContentHubCatalog.xlsx
  Solutions/ContentHubSolutionsCatalog.md
Labels: Solution

#8483 Add new playbook "Send-UnhealthyAzureArcResourceAlert"
  Playbooks/Send-UnhealthyAzureArcResourceAlert/README.md
  Playbooks/Send-UnhealthyAzureArcResourceAlert/azuredeploy.json
  Playbooks/Send-UnhealthyAzureArcResourceAlert/images/email.png
  Playbooks/Send-UnhealthyAzureArcResourceAlert/images/subscription.png
Labels: Playbook

#8614 Cynerio Remove V2 package
  Solutions/Cynerio/Package/2.0.0.zip
  Solutions/Cynerio/Package/3.0.0.zip
  Solutions/Cynerio/Package/mainTemplate.json
Labels: Solution

#8633 Adding Release Notes
  Solutions/Cloudflare/ReleaseNotes.md
Labels: Solution

#8635 Add condition continue-on-error in workflow
  .github/workflows/package-command.yaml
Labels: Tools

#8637 Added missing version parameter
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User was added to the organization.yaml
Labels: Solution, Analytic Rules, P0

#8634 Update README.md
  Playbooks/Send-UnhealthyAzureArcResourceAlert/README.md
Labels: Playbook

#7025 Fix incorrect fields in detection AdminPromoAfterRoleMgmtAppPermissionGrant.yaml
  Solutions/Azure Active Directory/Analytic Rules/AdminPromoAfterRoleMgmtAppPermissionGrant.yaml
Labels: Solution, Detection, Analytic Rules

#8638 Repackaging Cisco Meraki for Workbook issue
  Solutions/CiscoMeraki/Package/3.0.1.zip
  Solutions/CiscoMeraki/Package/createUiDefinition.json
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/ReleaseNotes.md
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
Labels: Solution, Content-Package

#8597 Fortinet fortigate description update
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/3.0.1.zip
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
Labels: Solution, Content-Package

#8640 fixed issue on package version
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#8642 Updated data connector link
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/createUiDefinition_csfdrv2_connector.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CrowdstrikeReplicatorV2_ConnectorUI.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/azuredeploy_CrowdstrikeReplicatorV2_ConnectorUI.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.0.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Content-Package

#8643 Update createUiDefinition_csfdrv2_connector.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/createUiDefinition_csfdrv2_connector.json
Labels: Content-Package

#8279 ASIM WebSession schema parser with its sample and test data for Cisco…
  .script/tests/KqlvalidationsTests/CustomTables/meraki_CL.json
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionCiscoMeraki.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionCiscoMeraki.yaml
  Parsers/ASimWebSession/Test/Cisco_Meraki_ASimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/Cisco_Meraki_ASimWebSession_SchemaTest.csv
  Parsers/ASimWebSession/Test/Cisco_Meraki_vimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/Cisco_Meraki_vimWebSession_SchemaTest.csv
  Sample Data/ASIM/Cisco_Meraki_ASimWebSession_IngestedLogs.csv
Labels: ASIM

#8467 Add-Authentication-Cisco-ASA
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationCiscoASA.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationCiscoASA.yaml
  Parsers/ASimAuthentication/Tests/ASim_Cisco_ASA_Authentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/ASim_Cisco_ASA_Authentication_SchemaTest.csv
  Parsers/ASimAuthentication/Tests/vim_Cisco_ASA_Authentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/vim_Cisco_ASA_Authentication_SchemaTest.csv
  Sample Data/ASIM/Cisco_ASA_Authentication_IngestedLogs.csv
  Sample Data/ASIM/Cisco_ASA_Authentication_SchemaTest.csv
Labels: ASIM

#8423 fix-vimWebSessionPaloAltoCEF
  Parsers/ASimWebSession/Parsers/ASimWebSessionPaloAltoCEF.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionPaloAltoCEF.yaml
Labels: ASIM

#8424 add-WebSessionFortinetFortigate
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionFortinetFortiGate.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionFortinetFortiGate.yaml
  Parsers/ASimWebSession/test/Fortinet_FortiGate_WebSession_DataTest.csv
  Parsers/ASimWebSession/test/Fortinet_FortiGate_WebSession_SchemaTest.csv
Labels: ASIM

#8645 RCE Fix for the github workflow
  .github/workflows/checkAutomatedPR.yaml
Labels: Tools

#8611 Repackaging - Illumio Core
  Solutions/Illumio Core/Data Connectors/Connector_IllumioCore_CEF.json
  Solutions/Illumio Core/Data/Solution_IllumioCore.json
  Solutions/Illumio Core/Package/3.0.0.zip
  Solutions/Illumio Core/Package/createUiDefinition.json
  Solutions/Illumio Core/Package/mainTemplate.json
  Solutions/Illumio Core/ReleaseNotes.md
Labels: Solution, Content-Package
