Repository Azure/Azure-Sentinel, pull requests merged in 2023-05, with the labels that each got.

#7945 Spelling correction - strucutured
  Parsers/Readme.md
Labels: Parser

#7947 Asim/update windows usertype function
  ASIM/lib/functions/ASIM_GetWindowsUserType.yaml
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoft365Defender/ASimNetworkSessionMicrosoft365Defender.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftWindowsEventFirewall/ASimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoft365Defender/vimNetworkSessionMicrosoft365Defender.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftWindowsEventFirewall/vimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoft365Defender.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoft365Defender.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftWindowsEvents/ASimProcessCreateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateMicrosoftSecurityEvents/ASimProcessTerminateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateMicrosoftWindowsEvents/ASimProcessTerminateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftWindowsEvents/vimProcessCreateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftSecurityEvents/vimProcessTerminateMicrosoftSecurityEvents.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateMicrosoftWindowsEvents/vimProcessTerminateMicrosoftWindowsEvents.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateMicrosoftSecurityEvents.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftWindowsEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftSecurityEvents.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateMicrosoftWindowsEvents.yaml
  Parsers/ASimRegistryEvent/ARM/imRegistry/imRegistry.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftWindowsEvent/vimRegistryEventMicrosoftWindowsEvent.json
  Parsers/ASimRegistryEvent/Parsers/vimRegistryEventMicrosoftWindowsEvent.yaml
Labels: ASIM

#7946 Added apostrophe to hasn't
  docs/SOCAnalystActionsByAlert.csv
Labels: documentation

#7927 UEBA_Essentials_HuntingQuery
  Solutions/UEBA Essentials/Hunting Queries/Anomalous Sign-in Activity.yaml
  Solutions/UEBA Essentials/Hunting Queries/anomalousActionInTenant.yaml
  Solutions/UEBA Essentials/Hunting Queries/dormantAccountActivityFromUncommonCountry.yaml
  Solutions/UEBA Essentials/Hunting Queries/firstConnectionFromGroup.yaml
Labels: Solution, Hunting

#7939 Infoblox parser dns client
  Solutions/Infoblox NIOS/Parser/Infoblox_dnsclient.txt
Labels: Parser, Solution

#7949 Asim dns infoblox parser update
  Parsers/ASimDns/ARM/ASimDnsInfobloxNIOS/ASimDnsInfobloxNIOS.json
  Parsers/ASimDns/ARM/vimDnsInfobloxNIOS/vimDnsInfobloxNIOS.json
  Parsers/ASimDns/Parsers/ASimDnsInfobloxNIOS.yaml
  Parsers/ASimDns/Parsers/vimDnsInfobloxNIOS.yaml
Labels: ASIM

#7934 Signl4 Logo Correction
  Logos/signl4.svg
  Solutions/SIGNL4/Package/2.0.2.zip
  Solutions/SIGNL4/Package/mainTemplate.json
Labels: Solution

#7789 update instructions for codeless connector
  DataConnectors/ReadMe.md
Labels: Connector

#7956 Leaderboard Monthly Update - Update stats.md file with April 2023 Data
  Tools/stats/stats.md
Labels: Tools

#7960 Adding Dataconnector folder to GoogleCloudPlatformAuditLogs Solution
  Solutions/Google Cloud Platform Audit Logs/Data Connectors/GCPAuditLogs.json
Labels: Solution

#7896 feat: add Playbooks/Enrich-AzureResourceGraph-Incident
  Playbooks/Enrich-AzureResourceGraph-Incident/azuredeploy.json
  Playbooks/Enrich-AzureResourceGraph-Incident/images/Enrich-AzureResourceGraph-Incident.png
  Playbooks/Enrich-AzureResourceGraph-Incident/readme.md
Labels: Playbook

#7891 04 13 2023 as incident spiderfoot scan
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_API_Key_1.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_API_Key_2.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Access_1.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Access_2.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Access_3.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Access_4.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Demo_1.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Demo_2.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Deploy_1.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Deploy_2.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Deploy_3.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Deploy_4.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Deploy_5.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Key_Vault_1.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Key_Vault_2.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Key_Vault_3.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Run_Playbook_1.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Run_Playbook_2.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Run_Playbook_3.png
  Playbooks/AS-Incident-Spiderfoot-Scan/Images/Spiderfoot_Subdomain_1.png
  Playbooks/AS-Incident-Spiderfoot-Scan/README.md
  Playbooks/AS-Incident-Spiderfoot-Scan/azuredeploy.json
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/APIKey.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/logicapp1.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/logicappedit.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/nav1.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/nav2.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/nav3.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/nav4.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/success.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/template1.png
  Playbooks/AS_Alert_Spiderfoot_Scan/Images/template2.png
  Playbooks/AS_Alert_Spiderfoot_Scan/README.md
Labels: Playbook

#7778 Microsoft Defender Threat Intelligence Repackaging
  Solutions/Microsoft Defender Threat Intelligence/Data/Solution_MicrosoftDefenderThreatIntelligence.json
  Solutions/Microsoft Defender Threat Intelligence/Package/2.0.4.zip
  Solutions/Microsoft Defender Threat Intelligence/Package/createUiDefinition.json
  Solutions/Microsoft Defender Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#7957 Updated the broken links
  Solutions/Box/Data Connectors/Box_API_FunctionApp.json
  Solutions/Exabeam Advanced Analytics/Data Connectors/Connector_Exabeam_Syslog.json
  Solutions/Illumio Core/Data Connectors/Connector_IllumioCore_CEF.json
  Solutions/Illumio Core/Data/Solution_IllumioCore.json
  Solutions/Pulse Connect Secure/Data Connectors/Connector_Syslog_PulseConnectSecure.json
  Solutions/VMware vCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/ZoomReports/Data Connectors/ZoomReports_API_FunctionApp.json
Labels: Solution

#7969 Rectifying the api version for templatespecs
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7961 ASimTester: Relax NetworkSession/EventSeverity to Recommended
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#7971 Fix UEBA deployment
  Tools/Sentinel-All-In-One/v2/LinkedTemplates/settings.json
Labels: Tools

#7797 update GUID creation for uniqueness
  Solutions/GitHub/Data Connectors/azuredeploy_GitHub_native_poller_connector.json
Labels: Connector, Solution

#7940 adding initial package
  Solutions/Island/Data/Solution_Island.json
  Solutions/Island/Package/2.0.0.zip
  Solutions/Island/Package/createUiDefinition.json
  Solutions/Island/Package/mainTemplate.json
  Solutions/Island/SolutionMetadata.json
Labels: Solution

#7965 Legacy IOC repackaging with content names update
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/AquaBlizzardFeb2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/CadetBlizzard_Jan2022_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/CaramelTsunami_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DenimTsunamiAVDetection.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DenimTsunamiC2DomainsJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DenimTsunamiFileHashesJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DiamondSleetJan272021IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DiamondSleetOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/EmeraldSleetIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ExchangeServerVulnerabilitiesMarch2021IoCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ForestBlizzardOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/GraniteTyphoonIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/KnownMintSandstormDomainsIP-October2020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MSHTMLVuln.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MidnightBlizzard_DomainIOCsMarch2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MidnightBlizzard_FoggyWeb.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MidnightBlizzard_IOCsMay2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/NylonTyphoonIOCsNov2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/PlaidRainIPIoC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/RubySleetOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/SeashellBlizzardIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/SilkTyphoonUmServiceSuspiciousFile.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/WSLMalwareCorrelation.yaml
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Hunting Queries/ForestBlizzard_IOC_RetroHunt.yaml
  Solutions/Legacy IOC based Threat Protection/Hunting Queries/NetworkConnectiontoOMIPorts.yaml
  Solutions/Legacy IOC based Threat Protection/Hunting Queries/NylonTyphoonCommandLineActivity-Nov2021.yaml
  Solutions/Legacy IOC based Threat Protection/Hunting Queries/NylonTyphoonRegIOCPatterns.yaml
  Solutions/Legacy IOC based Threat Protection/Package/2.0.8.zip
  Solutions/Legacy IOC based Threat Protection/Package/createUiDefinition.json
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
Labels: Solution

#7970 Repackaging Network Threat Essential
  Solutions/Network Threat Protection Essentials/Data/Solution_NetworkThreatDetection.json
  Solutions/Network Threat Protection Essentials/Package/2.0.2.zip
  Solutions/Network Threat Protection Essentials/Package/mainTemplate.json
Labels: Solution

#7503 CiscoSEG Parser Optimization Regarding IcM 355468251
  Solutions/CiscoSEG/Parsers/CiscoSEGEvent.txt
Labels: Parser

#7982 🐛 Fix incorrect column name
  Detections/ASimWebSession/ExcessiveNetworkFailuresFromSource.yaml
  Detections/ASimWebSession/PossibleDGAContacts.yaml
Labels: ASIM

#7952 Sign In Anomaly Query
  Detections/Anomalies/SignInAnomaly.yaml
Labels: Detection

#7301 KQL Validations for Multiple data sources hunting queries
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Hunting Queries/MultipleDataSources/LogonwithExpiredAccount.yaml
  Hunting Queries/MultipleDataSources/PossibleCommandInjectionagainstAzureIR.yaml
  Hunting Queries/MultipleDataSources/RareDNSLookupWithDataTransfer.yaml
  Hunting Queries/MultipleDataSources/RareDomainsInCloudLogs.yaml
  Hunting Queries/MultipleDataSources/TrackingPrivAccounts.yaml
  Hunting Queries/MultipleDataSources/UnfamiliarsignincorrelationwithPortalSigninandAuditlogs.yaml
  Hunting Queries/SecurityAlert/AlertsOnHost.yaml
  Hunting Queries/SecurityAlert/AlertsWithFile.yaml
  Hunting Queries/SecurityEvent/PotentialProcessDoppelganging.yaml
  Hunting Queries/SecurityEvent/hunt_LOLBins.yaml
  Hunting Queries/SigninLogs/LowAndSlowPasswordAttempt.yaml
  Hunting Queries/SigninLogs/SuccessThenFail_SameUserDiffApp.yaml
  Hunting Queries/SigninLogs/UserAccounts-BlockedAccounts.yaml
  Hunting Queries/SigninLogs/UserAccounts-NewSingleFactorAuth.yaml
  Hunting Queries/SigninLogs/UserAccounts-UnusualLogonTimes.yaml
  Hunting Queries/W3CIISLog/RareClientFileAccess.yaml
  Hunting Queries/WireData/WireDataBeacon.yaml
Labels: Hunting

#7978 Repackaged Microsoft 365, MicrosoftDefenderForEndpoint, Windows Forwarded Events
  Solutions/Microsoft 365/Analytic Rules/ForestBlizzardCredHarvesting.yaml
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Package/2.0.5.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/MicrosoftDefenderForEndpoint/Analytic Rules/AquaBlizzardAVHits.yaml
  Solutions/MicrosoftDefenderForEndpoint/Data/Solution_MicrosoftDefenderEndpoint.json
  Solutions/MicrosoftDefenderForEndpoint/Package/2.0.3.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/createUiDefinition.json
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/Windows Forwarded Events/Analytic Rules/CaramelTsunami_IOC_WindowsEvent.yaml
  Solutions/Windows Forwarded Events/Data/Solution_Windows Forwarded Events.json
  Solutions/Windows Forwarded Events/Package/2.0.3.zip
  Solutions/Windows Forwarded Events/Package/createUiDefinition.json
  Solutions/Windows Forwarded Events/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7882 Updated TI solution to update Analytic rules
  Solutions/Threat Intelligence/Package/2.0.3.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#7977 Repackaging - Zinc Open Source
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Solutions/Zinc Open Source/Package/2.0.3.zip
  Solutions/Zinc Open Source/Package/mainTemplate.json
Labels: Solution

#7994 Add back GetUserType
  ASIM/lib/functions/ASIM_GetUserType.yaml
Labels: ASIM

#7967 Azure Active Directory - Analytic Rule Validation Fix
  Solutions/Azure Active Directory/Analytic Rules/AzurePortalSigninfromanotherAzureTenant.yaml
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.12.zip
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution, Analytic Rules

#7905 Update so rule can deploy from template
  Detections/AWSCloudTrail/SuspiciousAccessOfBECRelatedDocumentsInAWSS3Buckets.yaml
Labels: Detection

#7987 Adding 3 New Playbooks to Defender Threat Intelligence solution
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-PassiveDns/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-PassiveDns/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-PassiveDnsReverse/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-PassiveDnsReverse/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Trackers/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Trackers/readme.md
Labels: Playbook, Solution

#7966 AMA troubleshoot v2
  DataConnectors/CEF/cef_AMA_troubleshoot.py
Labels: Connector

#7976 Fixing broken link
  Solutions/SenservaPro/Data Connectors/SenservaPro.json
  Solutions/SenservaPro/Package/2.0.2.zip
  Solutions/SenservaPro/Package/mainTemplate.json
Labels: Solution

#7968 Package update for Digital Shadows
  Solutions/Digital Shadows/Package/2.0.0.zip
  Solutions/Digital Shadows/Package/2.0.1.zip
  Solutions/Digital Shadows/Package/createUiDefinition.json
  Solutions/Digital Shadows/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#8007 Repackaging Azure Activity
  Solutions/Azure Activity/Data/Solution_AzureActivity.json
  Solutions/Azure Activity/Package/2.0.6.zip
  Solutions/Azure Activity/Package/createUiDefinition.json
  Solutions/Azure Activity/Package/mainTemplate.json
Labels: Solution

#8024 Repackaging - Windows Security Events
  Solutions/Windows Security Events/Package/2.0.4.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
Labels: Solution

#8036 Updated API versions for Darktrace Solution
  Solutions/Darktrace/Package/2.0.1.zip
  Solutions/Darktrace/Package/mainTemplate.json
Labels: Solution

#8035 Update IPEntity_imNetworkSession.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_imNetworkSession.yaml
Labels: Solution, Analytic Rules

#7995 Endpoint threat Protection & Microsoft Defender for Cloud Repackaging
  Solutions/Endpoint Threat Protection Essentials/Data/Solution_EndpointThreatProtectionEssentials.json
  Solutions/Endpoint Threat Protection Essentials/Package/2.0.2.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Microsoft Defender for Cloud/Data/Solution_MicrosoftDefenderforCloud.json
  Solutions/Microsoft Defender for Cloud/Package/2.0.1.zip
  Solutions/Microsoft Defender for Cloud/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Cloud/Package/mainTemplate.json
Labels: Solution

#8020 Repackaging Microsoft 365 Defender
  Solutions/Microsoft 365 Defender/Data Connectors/MicrosoftThreatProtection.JSON
  Solutions/Microsoft 365 Defender/Data/Solution_Microsoft 365 Defender.json
  Solutions/Microsoft 365 Defender/Package/2.0.5.zip
  Solutions/Microsoft 365 Defender/Package/createUiDefinition.json
  Solutions/Microsoft 365 Defender/Package/mainTemplate.json
Labels: Solution

#8027 Updated instruction steps for GitHub Connector
  Solutions/GitHub/Data Connectors/azuredeploy_GitHub_native_poller_connector.json
  Solutions/GitHub/Package/2.0.2.zip
  Solutions/GitHub/Package/2.0.3.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/data/Solution_GitHub.json
Labels: Solution

#8037 Updated NIST Solution for workbook
  Solutions/NISTSP80053/Package/2.0.4.zip
  Solutions/NISTSP80053/Package/mainTemplate.json
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
Labels: Solution

#7993 Repackaging - UEBAEssentials
  Solutions/UEBA Essentials/Data/Solution_UEBA.json
  Solutions/UEBA Essentials/Package/2.0.1.zip
  Solutions/UEBA Essentials/Package/createUiDefinition.json
  Solutions/UEBA Essentials/Package/mainTemplate.json
  Solutions/UEBA Essentials/SolutionMetadata.json
Labels: Solution

#7996 Repackaging Cloud Identity Threat Protection and Cloud Service Threat…
  Solutions/Cloud Identity Threat Protection Essentials/Data/Solution_CloudIdentityThreatDetection.json
  Solutions/Cloud Identity Threat Protection Essentials/Package/2.0.2.zip
  Solutions/Cloud Identity Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Cloud Identity Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Cloud Service Threat Protection Essentials/Data/Solution_CloudServiceThreatProtectionEssentials.json
  Solutions/Cloud Service Threat Protection Essentials/Package/2.0.2.zip
  Solutions/Cloud Service Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Cloud Service Threat Protection Essentials/Package/mainTemplate.json
Labels: Solution

#8043 Fixed issues with Update Table Retention; Added support for Azure Gov
  Tools/Archive-Log-Tool/ArchiveLogsTool-PowerShell/Configure-Long-Term-Retention.ps1
  Tools/Archive-Log-Tool/ArchiveLogsTool-PowerShell/Configure-Long-Term-Retention.zip
  Tools/Archive-Log-Tool/ArchiveLogsTool-PowerShell/README.MD
Labels: Tools

#7990 updated package with apiVersion fix
  Solutions/Island/Data/Solution_Island.json
  Solutions/Island/Package/2.0.1.zip
  Solutions/Island/Package/createUiDefinition.json
  Solutions/Island/Package/mainTemplate.json
Labels: Solution

#7623 Adding more Analytics rules
  .script/tests/KqlvalidationsTests/CustomTables/Firework_CL.json
  Sample Data/Custom/Firework_CL.json
  Solutions/Flare/Analytic Rules/FlareCloudBucket.yaml
  Solutions/Flare/Analytic Rules/FlareCredentialLeaks.yaml
  Solutions/Flare/Analytic Rules/FlareDarkweb.yaml
  Solutions/Flare/Analytic Rules/FlareDork.yaml
  Solutions/Flare/Analytic Rules/FlareHost.yaml
  Solutions/Flare/Analytic Rules/FlareInfectedDevice.yaml
  Solutions/Flare/Analytic Rules/FlarePaste.yaml
  Solutions/Flare/Analytic Rules/FlareSSLcert.yaml
  Solutions/Flare/Analytic Rules/FlareSourceCode.yaml
  Solutions/Flare/Data/Solution_FlareSystemsFirework.json
  Solutions/Flare/Package/2.1.0.zip
  Solutions/Flare/Package/createUiDefinition.json
  Solutions/Flare/Package/mainTemplate.json
  Solutions/Flare/SolutionMetadata.json
Labels: Solution, Analytic Rules

#8048 Updated API version - Cloudflare and IPQualityScore
  Solutions/Cloudflare/Package/2.0.2.zip
  Solutions/Cloudflare/Package/mainTemplate.json
  Solutions/IPQualityScore/Package/2.0.0.zip
  Solutions/IPQualityScore/Package/mainTemplate.json
Labels: Solution

#8050 Updated TI connector to add Threat Intelligence Upload Indicators API
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/2.0.4.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#8041 05 15 2023 as add machine logon users to incident
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Add_Contributor_Role_1.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Add_Contributor_Role_2.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Add_Contributor_Role_3.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Add_Contributor_Role_4.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Add_Contributor_Role_5.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_1.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_10.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_2.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_3.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_4.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_5.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_6.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_7.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_8.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_App_Registration_9.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Demo_1.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Deploy_1.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Deploy_2.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Deploy_3.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Key_Vault_1.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Key_Vault_2.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Key_Vault_3.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Key_Vault_Access_1.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Key_Vault_Access_2.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Key_Vault_Access_3.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Key_Vault_Access_4.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Run_1.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/Images/MachineLogonUsers_Run_2.png
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/README.md
  Playbooks/AS-Add-Machine-Logon-Users-to-Incident/azuredeploy.json
Labels: Playbook

#7986 Update TenableIO.json
  Solutions/TenableIO/Data Connectors/TenableIO.json
Labels: Solution

#8056 Repackaged Zero Networks & Armorblox
  Solutions/Armorblox/Package/2.0.2.zip
  Solutions/Armorblox/Package/createUiDefinition.json
  Solutions/Armorblox/Package/mainTemplate.json
  Solutions/ZeroNetworks/Data/Solution_ZeroNetworks.json
  Solutions/ZeroNetworks/Package/2.0.4.zip
  Solutions/ZeroNetworks/Package/createUiDefinition.json
  Solutions/ZeroNetworks/Package/mainTemplate.json
Labels: Solution

#8061 Fix YAMLs
  ASIM/schemas/ASimAuditEvent.yaml
  ASIM/schemas/ASimAuthentication.yaml
  ASIM/schemas/ASimDns.yaml
  ASIM/schemas/ASimFileEvent.yaml
  ASIM/schemas/ASimNotification.yaml
  ASIM/schemas/ASimProcessEvent.yaml
  ASIM/schemas/common/ASimEnumerations.yaml
  ASIM/schemas/common/ASimEventFields.yaml
  ASIM/schemas/common/ASimInspectionFields.yaml
  ASIM/schemas/entities/ASimActor.yaml
  ASIM/schemas/entities/ASimApp.yaml
  ASIM/schemas/entities/ASimDvc.yaml
  ASIM/schemas/entities/ASimExtendedProcess.yaml
  ASIM/schemas/entities/ASimProcess.yaml
  ASIM/schemas/entities/ASimSystem.yaml
  ASIM/schemas/entities/ASimUser.yaml
Labels: ASIM

#8067 Update createSolutionV2.ps1
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#8046 Updated function app of domaintools
  Solutions/DomainTools/Package/2.0.3.zip
  Solutions/DomainTools/Package/mainTemplate.json
  Solutions/DomainTools/Playbooks/DomainToolsFunctionApp/azuredeploy.json
Labels: Solution, Function

#8057 SentinelOne solution packaging
  Solutions/SentinelOne/Data Connectors/README.md
  Solutions/SentinelOne/Data/Solution_SentinelOne.json
  Solutions/SentinelOne/Package/2.0.3.zip
  Solutions/SentinelOne/Package/createUiDefinition.json
  Solutions/SentinelOne/Package/mainTemplate.json
  Solutions/SentinelOne/SolutionMetadata.json
Labels: Solution

#8059 Repackaging GCP Cloud Monitoring / DNS / IAM
  Solutions/Google Cloud Platform Cloud Monitoring/Data/Solution_GoogleCloudPlatformMonitor.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/2.0.2.zip
  Solutions/Google Cloud Platform Cloud Monitoring/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformDNS/Data/Solution_GoogleCloudPlatformDNS.json
  Solutions/GoogleCloudPlatformDNS/Package/2.0.2.zip
  Solutions/GoogleCloudPlatformDNS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformDNS/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/Data/Solution_GoogleCloudPlatformIAM.json
  Solutions/GoogleCloudPlatformIAM/Package/2.0.1.zip
  Solutions/GoogleCloudPlatformIAM/Package/2.0.2.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
Labels: Solution

#7980 SevcoSecurity logo
  Logos/sevcosecurity.svg
Labels: Logo

#7774 Solution support object validation
  .script/SolutionValidations/solutionValidator.ts
  .script/SolutionValidations/validDomainsVerticals.ts
  .script/SolutionValidations/validSupportObject.ts
  .script/utils/validationError.ts
Labels: Tools

#8074 Kusto Services NuGet Package update
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.4.0.nupkg
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.5.0.nupkg
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: scripts

#8069 Add Power Platform logo files
  Logos/PowerApps.svg
  Logos/PowerAutomate.svg
  Logos/PowerPlatform.svg
Labels: Logo

#7716 Data connector KQL validations
  .script/tests/KqlvalidationsTests/DataConnectorSchema.json
  .script/tests/KqlvalidationsTests/JsonFilesTestData/DataConnectorFilesLoader.cs
  .script/tests/KqlvalidationsTests/JsonFilesTestData/DataConnectorFilesTestData.cs
  .script/tests/KqlvalidationsTests/JsonFilesTestData/DataConnectorSchema.cs
  .script/tests/KqlvalidationsTests/JsonFilesTestData/JsonFilesLoader.cs
  .script/tests/KqlvalidationsTests/JsonFilesTestData/JsonFilesTestData.cs
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: Connector

#8071 Fixed DeployToAzure buttons
  MasterPlaybooks/Remediation-IP/AzureFirewall-BlockIP-Nested-Remediation/readme.md
Labels: Playbook

#8062 Depreciating outdated IOC Based Detection Queries
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/AquaBlizzardFeb2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/BariumDomainIOC112020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/BariumIPIOC112020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/CadetBlizzard_Jan2022_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/CaramelTsunami_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ChiaCryptoMining.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DEV-0322_SolarWinds_Serv-U_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DenimTsunamiAVDetection.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DenimTsunamiC2DomainsJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DenimTsunamiFileHashesJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Dev-0530_July2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DiamondSleetJan272021IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/DiamondSleetOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/EmeraldSleetIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ExchangeServerVulnerabilitiesMarch2021IoCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ForestBlizzardOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/GraniteTyphoonIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/HiveRansomwareJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/KnownMintSandstormDomainsIP-October2020.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MSHTMLVuln.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Manganese_VPN-IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MidnightBlizzard_DomainIOCsMarch2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MidnightBlizzard_FoggyWeb.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/MidnightBlizzard_IOCsMay2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/NylonTyphoonIOCsNov2021.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/PHOSPHORUSMarch2019IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/PlaidRainIPIoC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/RubySleetOct292020IOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/SUNSPOTLogFile.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/SeashellBlizzardIOCs.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/SilkTyphoonUmServiceSuspiciousFile.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Solorigate-Network-Beacon.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Solorigate-VM-Network.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/TarraskHashIoC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/WSLMalwareCorrelation.yaml
Labels: Solution, Analytic Rules

#7750 Updates for first cred added, performance, cleanup, entity addition
  Solutions/Azure Active Directory/Analytic Rules/FirstAppOrServicePrincipalCredential.yaml
Labels: Solution, Analytic Rules

#8083 Update digital shadow solution for data connector instructions
  Solutions/Digital Shadows/Package/2.0.1.zip
  Solutions/Digital Shadows/Package/mainTemplate.json
Labels: Solution

#8053 Update URLAddedtoApplicationfromUnknownDomain.yaml
  Detections/AuditLogs/URLAddedtoApplicationfromUnknownDomain.yaml
Labels: Detection

#8079 Updated Google ApigeeX solution
  Solutions/Google Apigee/Data/Solution_Google Apigee.json
  Solutions/Google Apigee/Package/2.0.2.zip
  Solutions/Google Apigee/Package/mainTemplate.json
Labels: Solution

#8082 Repackaging Microsoft 365 solution
  Solutions/Microsoft 365/Analytic Rules/SharePoint_Downloads_byNewUserAgent.yaml
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Package/2.0.6.zip
  Solutions/Microsoft 365/Package/mainTemplate.json
Labels: Solution

#8108 asim/add-parser-list
  ASIM/ASIM parsers list.md
Labels: ASIM

#8065 Cisco Secure Endpoint repackaging
  Solutions/Cisco Secure Endpoint/Data/Solution_CiscoSecureEndpoint.json
  Solutions/Cisco Secure Endpoint/Hunting Queries/CiscoSEMaliciousFiles.yaml
  Solutions/Cisco Secure Endpoint/Hunting Queries/CiscoSEModifiedAgent.yaml
  Solutions/Cisco Secure Endpoint/Hunting Queries/CiscoSEVulnerableApplications.yaml
  Solutions/Cisco Secure Endpoint/Package/2.0.1.zip
  Solutions/Cisco Secure Endpoint/Package/createUiDefinition.json
  Solutions/Cisco Secure Endpoint/Package/mainTemplate.json
Labels: Solution

#8109 Update ASIM parsers list.md
  ASIM/ASIM parsers list.md
Labels: ASIM

#8077 🐛 Handle SubStatus mixed case
  Detections/SecurityEvent/gte_6_FailedLogons_10m.yaml
Labels: Detection

#8068 Repackaging - Bitglass , CiscoDuoSecurity
  Solutions/Bitglass/Data/Solution_Bitglass.json
  Solutions/Bitglass/Package/2.0.2.zip
  Solutions/Bitglass/Package/createUiDefinition.json
  Solutions/Bitglass/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Package/2.0.4.zip
  Solutions/CiscoDuoSecurity/Package/createUiDefinition.json
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
Labels: Solution

#8113 Updated the API version - Forescout, Watchguard and WireX
  Solutions/Forescout/Package/2.0.2.zip
  Solutions/Forescout/Package/mainTemplate.json
  Solutions/Forescout/SolutionMetadata.json
  Solutions/Watchguard Firebox/Package/2.0.3.zip
  Solutions/Watchguard Firebox/Package/mainTemplate.json
  Solutions/WireX Network Forensics Platform/Package/2.0.2.zip
  Solutions/WireX Network Forensics Platform/Package/mainTemplate.json
Labels: Solution

#8010 Remove condition in Detection/Analytic rule SuspiciousModificationofGlobalAdminProperties.yaml
  Detections/MultipleDataSources/SuspiciousModificationofGlobalAdminProperties.yaml
Labels: Detection

#8119 Improved Onboarding doc
  Widgets/Deployment/README.md
Labels: Widgets

#8112 Updating TI solution to add data types
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_CommonSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_PaloAlto.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_SecurityAlert.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_Syslog.yaml
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_imWebSession.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_AzureActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_PaloAlto.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_SecurityAlert.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_SecurityEvent.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_SigninLogs.yaml
  Solutions/Threat Intelligence/Analytic Rules/FileHashEntity_CommonSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/FileHashEntity_SecurityEvent.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AWSCloudTrail.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AppServiceHTTPLogs.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureFirewall.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureKeyVault.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureNetworkAnalytics.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_AzureSQL.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_CustomSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_DuoSecurity.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_VMConnection.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_W3CIISLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_imNetworkSession.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_imWebSession.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPentity_SigninLogs.yaml
  Solutions/Threat Intelligence/Analytic Rules/Threat Intel Matches to GitHub Audit Logs.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_AuditLogs.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_PaloAlto.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_SecurityAlerts.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_Syslog.yaml
  Solutions/Threat Intelligence/Analytic Rules/imDns_DomainEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/imDns_IPEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_SecurityEvent.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_Syslog.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_VMConnection.yaml
  Solutions/Threat Intelligence/Hunting Queries/FileEntity_WireData.yaml
  Solutions/Threat Intelligence/Package/2.0.4.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#8075 Custom tables update for KQL validation tests
  .script/tests/KqlvalidationsTests/CustomTables/AADSignInEventsBeta.json
  .script/tests/KqlvalidationsTests/CustomTables/AADSpnSignInEventsBeta.json
  .script/tests/KqlvalidationsTests/CustomTables/AlertInfo.json
  .script/tests/KqlvalidationsTests/CustomTables/AzureDiagnostics.json
  .script/tests/KqlvalidationsTests/CustomTables/Cloudflare.json
  .script/tests/KqlvalidationsTests/CustomTables/CyberSixgill_Alerts_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/DeviceTvmInfoGathering.json
  .script/tests/KqlvalidationsTests/CustomTables/DeviceTvmSecureConfigurationAssessment.json
  .script/tests/KqlvalidationsTests/CustomTables/DeviceTvmSoftwareInventory.json
  .script/tests/KqlvalidationsTests/CustomTables/DeviceTvmSoftwareVulnerabilities.json
  .script/tests/KqlvalidationsTests/CustomTables/DeviceTvmSoftwareVulnerabilitiesKB.json
  .script/tests/KqlvalidationsTests/CustomTables/IdentityDirectoryEvents.json
  .script/tests/KqlvalidationsTests/CustomTables/IdentityLogonEvents.json
  .script/tests/KqlvalidationsTests/CustomTables/IdentityQueryEvents.json
  .script/tests/KqlvalidationsTests/CustomTables/LAQueryLogs.json
  .script/tests/KqlvalidationsTests/CustomTables/MtpAlerts.json
  .script/tests/KqlvalidationsTests/CustomTables/NGINXHTTPServer.json
  .script/tests/KqlvalidationsTests/CustomTables/PaloAltoCDLEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/SQLEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/TMApexOneEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/VectraStream.json
  .script/tests/KqlvalidationsTests/CustomTables/ZoomLogs.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
Labels: Hunting, scripts

#8073 [SOLUTION: NXLog BSM (Basic Security Module)]
  Logos/NXLogBSMmacOS.svg
  Solutions/NXLog BSM macOS/Data Connectors/NXLogBSMmacOS.json
  Solutions/NXLog BSM macOS/Data/Solution_NXLogBSMmacOSTemplateSpec.json
  Solutions/NXLog BSM macOS/Package/2.0.1.zip
  Solutions/NXLog BSM macOS/Package/createUiDefinition.json
  Solutions/NXLog BSM macOS/Package/mainTemplate.json
  Solutions/NXLog BSM macOS/SolutionMetadata.json
Labels: Solution

#8133 OfferId Update for Microsoft ESI - Online solution
  Solutions/Microsoft Exchange Security - Exchange Online/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/SolutionMetadata.json
Labels: Solution

#8130 Updated API version - Holm Security
  Solutions/HolmSecurity/Package/2.0.1.zip
  Solutions/HolmSecurity/Package/mainTemplate.json
  Solutions/HolmSecurity/SolutionMetadata.json
Labels: Solution

#7715 Cisco Stealthwatch Repackaging
  Solutions/CiscoStealthwatch/Data/Solution_CiscoStealthwatch.json
  Solutions/CiscoStealthwatch/Package/2.0.2.zip
  Solutions/CiscoStealthwatch/Package/createUiDefinition.json
  Solutions/CiscoStealthwatch/Package/mainTemplate.json
Labels: Solution

#8084 Repackaging - Mulesoft ,OneLoginIAM , Rapid7Insight
  Solutions/Mulesoft/Data/Solution_Mulesoft.json
  Solutions/Mulesoft/Package/2.0.1.zip
  Solutions/Mulesoft/Package/mainTemplate.json
  Solutions/OneLoginIAM/Data Connectors/OneLogin_Webhooks_FunctionApp.json
  Solutions/OneLoginIAM/Data/Solution_OneLoginIAM.json
  Solutions/OneLoginIAM/Package/2.0.1.zip
  Solutions/OneLoginIAM/Package/mainTemplate.json
  Solutions/Rapid7InsightVM/Data/Solution_InsightVMCloudAPI.json
  Solutions/Rapid7InsightVM/Package/2.0.3.zip
  Solutions/Rapid7InsightVM/Package/mainTemplate.json
Labels: Solution

#8135 Updated API version - ForescoutHostPropertyMonitor, ESET Protect
  Solutions/ESETPROTECT/Package/2.0.1.zip
  Solutions/ESETPROTECT/Package/mainTemplate.json
  Solutions/ForescoutHostPropertyMonitor/Data/Solution_ForescoutHostProp.json
  Solutions/ForescoutHostPropertyMonitor/Package/2.0.1.zip
  Solutions/ForescoutHostPropertyMonitor/Package/createUiDefinition.json
  Solutions/ForescoutHostPropertyMonitor/Package/mainTemplate.json
Labels: Solution

#8087 Entrust Identity SOAR Solution
  Logos/Entrustlogo.svg
  Solutions/Entrust Identity SOAR/Data/Solution_EntrustidentitySOAR.json
  Solutions/Entrust Identity SOAR/Package/2.0.0.zip
  Solutions/Entrust Identity SOAR/Package/createUiDefinition.json
  Solutions/Entrust Identity SOAR/Package/mainTemplate.json
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-BlockUser/Images/Entrust-BlockUser_incident_comment.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-BlockUser/Images/Entrust-BlockUser_light.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-BlockUser/azuredeploy.json
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-BlockUser/readme.md
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIP-EntityTrigger/Images/Entrust-EnrichIP-EntityTrigger.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIP-EntityTrigger/Images/Entrust-EnrichIP-EntityTrigger_incident_comment.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIP-EntityTrigger/azuredeploy.json
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIP-EntityTrigger/readme.md
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithIPDetails/Images/Entrust-EnrichIncidentWithIPDetails.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithIPDetails/Images/Entrust-EnrichIncidentwithIPDetails_light.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithIPDetails/azuredeploy.json
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithIPDetails/readme.md
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithUserDetails/Images/Entrust-EnrichIncidentWithUserDetails_incident_comment.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithUserDetails/Images/Entrust-EnrichIncidentWithUserDetails_light.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithUserDetails/azuredeploy.json
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithUserDetails/readme.md
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichUser-EntityTrigger/Images/Entrust-EnrichUser-EntityTrigger.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichUser-EntityTrigger/Images/Entrust-EnrichUser-EntityTrigger_incident_comment.png
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichUser-EntityTrigger/azuredeploy.json
  Solutions/Entrust Identity SOAR/Playbooks/EntrustPlaybooks/Entrust-EnrichUser-EntityTrigger/readme.md
  Solutions/Entrust Identity SOAR/SolutionMetadata.json
Labels: Solution

#8106 Packaging Web Shells Threat Protection
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/MultipleDataSources/PotentialMercury_Webshell.yaml
  Detections/W3CIISLog/MaliciousAlertLinkedWebRequests.yaml
  Detections/W3CIISLog/Supernovawebshell.yaml
  Hunting Queries/AzureDiagnostics/SpringshellWebshellUsage.yaml
  Hunting Queries/Microsoft 365 Defender/Execution/exchange-iis-worker-dropping-webshell.yaml
  Hunting Queries/Microsoft 365 Defender/Execution/umworkerprocess-creating-webshell.yaml
  Hunting Queries/Microsoft 365 Defender/Persistence/Possible webshell drop.yaml
  Hunting Queries/W3CIISLog/PotentialWebshell.yaml
  Hunting Queries/W3CIISLog/WebShellActivity.yaml
  Solutions/Web Shells Threat Protection/Analytic Rules/MaliciousAlertLinkedWebRequests.yaml
  Solutions/Web Shells Threat Protection/Analytic Rules/PotentialMercury_Webshell.yaml
  Solutions/Web Shells Threat Protection/Analytic Rules/Supernovawebshell.yaml
  Solutions/Web Shells Threat Protection/Data/Solution_WebShellsThreatProtection.json
  Solutions/Web Shells Threat Protection/Hunting Queries/Possible webshell drop.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/PotentialWebshell.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/SpringshellWebshellUsage.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/WebShellActivity.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/exchange-iis-worker-dropping-webshell.yaml
  Solutions/Web Shells Threat Protection/Hunting Queries/umworkerprocess-creating-webshell.yaml
  Solutions/Web Shells Threat Protection/Package/2.0.0.zip
  Solutions/Web Shells Threat Protection/Package/createUiDefinition.json
  Solutions/Web Shells Threat Protection/Package/mainTemplate.json
  Solutions/Web Shells Threat Protection/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution

#8070 Alibaba, Atlassian Jira & Confluence Audit Repackaging
  Solutions/Alibaba Cloud/Data/Solution_Alibaba Cloud.json
  Solutions/Alibaba Cloud/Package/2.0.1.zip
  Solutions/Alibaba Cloud/Package/createUiDefinition.json
  Solutions/Alibaba Cloud/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/2.0.5.zip
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianJiraAudit/Data/Solution_AtlassianJiraAudit.json
  Solutions/AtlassianJiraAudit/Package/2.0.5.zip
  Solutions/AtlassianJiraAudit/Package/createUiDefinition.json
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
Labels: Solution

#8089 Updating support from Microsoft Corporation to Forescout Technologies
  Solutions/ForescoutHostPropertyMonitor/Package/2.0.1.zip
  Solutions/ForescoutHostPropertyMonitor/Package/createUiDefinition.json
  Solutions/ForescoutHostPropertyMonitor/Package/mainTemplate.json
  Solutions/ForescoutHostPropertyMonitor/SolutionMetadata.json
Labels: Solution

#8138 Nchristis use case demo lab
  Solutions/SAP/Demo/scenarios/8-Big_use_case_1/ABAPAuditLog.01
  Solutions/SAP/Demo/scenarios/8-Big_use_case_1/metadata.json
Labels: Solution

#8047 Updated test cases for Vectra Cloud
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#7322 Adding analytics rule for subscription migration
  Solutions/Azure Activity/Analytic Rules/SubscriptionMigration.yaml
Labels: Solution, Detection

#7564 Update sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: Solution

#8131 CrowdStrike Falcon Endpoint repackaging
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalOrHighSeverityDetectionsByUser.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalSeverityDetection.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.9.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Solution

#8139 Updating Publisher Id for ESI solutions
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/SolutionMetadata.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/2.0.0.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/SolutionMetadata.json
Labels: Solution

#8008 Add more operations in Detection/Analytics Rule SuspiciousLoginfromDeletedExternalIdentities.yaml
  Detections/MultipleDataSources/SuspiciousLoginfromDeletedExternalIdentities.yaml
Labels: Detection

#8040 Detects high count download from a sensitive SAP Privileged account.
  .script/tests/KqlvalidationsTests/CustomTables/SAPAuditLog.json
  Hunting Queries/SAP/SAP_HighdownloadfromPriviledgedaccount.yaml
Labels: Hunting

#8146 Repackaging ZIA
  Solutions/Zscaler Internet Access/Data/Solution_Zscaler Internet Access.json
  Solutions/Zscaler Internet Access/Package/2.0.2.zip
  Solutions/Zscaler Internet Access/Package/createUiDefinition.json
  Solutions/Zscaler Internet Access/Package/mainTemplate.json
Labels: Solution

#7648 Recorded future solution 2.4
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/2.4.0.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-08-39-58.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-08-43-42.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-08-47-16.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-11-00-01.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-14-39-40.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-14-52-32.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-16-39-00.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-16-46-44.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-18-17-36-48.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-19-16-28-20.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-19-16-49-53.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-19-16-51-12.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-19-17-08-46.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-19-17-40-10.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-19-17-46-13.png
  Solutions/Recorded Future/Playbooks/Images/2023-04-19-17-46-32.png
  Solutions/Recorded Future/Playbooks/Images/2023-05-05-15-29-37.png
  Solutions/Recorded Future/Playbooks/Images/2023-05-05-15-37-58.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-DOMAIN-C2_DNS_Name-IndicatorProcessor/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-HASH-Observed_in_Underground_Virus_Test_Sites-IndicatorProcessor/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/CreateAutomationRule.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/CreateAutomationRuleMenu.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/RecordedFuture.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IP-Actively_Comm_C2_Server-IndicatorProcessor/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-ImportToSentinel/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-Sandbox_Enrichment-Url/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-Sandbox_Outlook_Attachment/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-Sandbox_StorageAccount/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-URL-Recent_Rep_by_Insikt_Group-IndicatorProcessor/azuredeploy.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-Ukraine-IndicatorProcessor/azuredeploy.json
  Solutions/Recorded Future/Playbooks/readme.md
  Solutions/Recorded Future/Sample Data/RecordedFutureRisklist_IngestedLogs.csv
  Solutions/Recorded Future/Sample Data/RecordedFutureRisklist_RawLogs.json
  Solutions/Recorded Future/SolutionMetadata.json
Labels: Playbook, Solution

#8118 Create mechanism to exclude activities based on environment variable
  Solutions/GoogleWorkspaceReports/Data Connectors/GWorkspaceReportsAPISentinelConnector/__init__.py
Labels: Connector

#8120 Branding content validation.
  .script/SolutionValidations/solutionValidator.ts
  .script/SolutionValidations/validMSBranding.ts
  .script/utils/validationError.ts
Labels: scripts

#8144 Repackaging Oracle Cloud Infrastructure Solution
  Solutions/Oracle Cloud Infrastructure/Data/Solution_OCILogs.json
  Solutions/Oracle Cloud Infrastructure/Package/2.0.2.zip
  Solutions/Oracle Cloud Infrastructure/Package/createUiDefinition.json
  Solutions/Oracle Cloud Infrastructure/Package/mainTemplate.json
  Solutions/Oracle Cloud Infrastructure/SolutionMetadata.json
Labels: Solution

#8158 Update WorkbooksMetadata.json to add Netskope Metadata
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#8128 Add AI traces to Onboarding script
  Widgets/Deployment/README.md
  Widgets/Deployment/WidgetsKvCreation.Ps1
Labels: Widgets

#8156 Repackage AWS IAM
  Solutions/AWS_IAM/Data/Solution_AWSIAM.json
  Solutions/AWS_IAM/Package/2.0.1.zip
  Solutions/AWS_IAM/Package/mainTemplate.json
  Solutions/AWS_IAM/SolutionMetadata.json
Labels: Solution

#8129 Update template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence/Package/2.0.4.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#8167 Machiliv/microsoft sentinel branding
  .script/SolutionValidations/solutionValidator.ts
Labels: Tools

#8161 Repackaging Trend Micro TippingPoint and SonicWall Firewall
  Solutions/SonicWall Firewall/Data/Solution_SonicWall Firewall.json
  Solutions/SonicWall Firewall/Package/2.0.6.zip
  Solutions/SonicWall Firewall/Package/mainTemplate.json
  Solutions/Trend Micro TippingPoint/Package/2.0.2.zip
  Solutions/Trend Micro TippingPoint/Package/mainTemplate.json
Labels: Solution

#8168 Repackaging Trend Micro Vision One and Vectra Detect
  Solutions/Trend Micro Vision One/Data/Solution_TrendMicroVisionOneTemplateSpec.json
  Solutions/Trend Micro Vision One/Package/2.0.2.zip
  Solutions/Trend Micro Vision One/Package/createUiDefinition.json
  Solutions/Trend Micro Vision One/Package/mainTemplate.json
  Solutions/Vectra AI Detect/Data/Solution_Vectra AI Detect.json
  Solutions/Vectra AI Detect/Package/2.0.6.zip
  Solutions/Vectra AI Detect/Package/mainTemplate.json
Labels: Solution

#8159 ISV solutions repackaging
  Solutions/Cisco Firepower EStreamer/Package/2.0.3.zip
  Solutions/Cisco Firepower EStreamer/Package/mainTemplate.json
  Solutions/Cisco Firepower EStreamer/SolutionMetadata.json
  Solutions/CyberArkEPM/DataConnectors/CyberArkEPM_API_FunctionApp.json
  Solutions/CyberArkEPM/Package/2.0.1.zip
  Solutions/CyberArkEPM/Package/createUiDefinition.json
  Solutions/CyberArkEPM/Package/mainTemplate.json
  Solutions/CyberArkEPM/data/Solution_CyberArkEPM.json
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/2.0.9.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
Labels: Solution

#8171 Add trace logging to cef troubleshooter
  DataConnectors/CEF/cef_AMA_troubleshoot.py
Labels: Connector, python
