Repository Azure/Azure-Sentinel, pull requests merged in 2023-03, with the labels that each got.

#7431 Investigation Insights - ASIM Support
  Workbooks/InvestigationInsights.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7456 Arm ttk issue fix
  .github/workflows/arm-ttk-validations.yaml
Labels: Validation

#7035 Fix fields in Solution/Analytic Rule AzureADRoleManagementPermissionGrant.yaml
  Solutions/Azure Active Directory/Analytic Rules/AzureADRoleManagementPermissionGrant.yaml
Labels: Detection

#6925 Update AWSBucketAPILogs-SuspiciousDataAccessToS3BucketsfromUnknownIP.…
  Hunting Queries/AWSS3/AWSBucketAPILogs-SuspiciousDataAccessToS3BucketsfromUnknownIP.yaml
Labels: Hunting

#7294 Fixing workbook query regarding IcM and repackaging
  Solutions/MaturityModelForEventLogManagementM2131/Package/2.0.2.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/MaturityModelForEventLogManagement_M2131.json
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
Labels: Workbook, Solution

#7427 GCP BigQuery Solution - Initial commit of solution
  Solutions/Google Cloud Platform BigQuery/Playbooks/CustomConnector/GCPBigQueryCustomConnector/azuredeploy.json
  Solutions/Google Cloud Platform BigQuery/Playbooks/CustomConnector/GCPBigQueryCustomConnector/readme.md
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-CreateWatchlist-From-BigQueryTable/azuredeploy.json
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-CreateWatchlist-From-BigQueryTable/images/GCPBigQuery-CreateWatchlist-From-BigQueryTableOutput_dark.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-CreateWatchlist-From-BigQueryTable/images/GCPBigQuery-CreateWatchlist-From-BigQueryTableOutput_light.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-CreateWatchlist-From-BigQueryTable/images/GCPBigQuery-CreateWatchlist-From-BigQueryTable_dark.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-CreateWatchlist-From-BigQueryTable/images/GCPBigQuery-CreateWatchlist-From-BigQueryTable_light.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-CreateWatchlist-From-BigQueryTable/readme.md
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-EnrichEntity-With-BigQueryTableData/azuredeploy.json
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-EnrichEntity-With-BigQueryTableData/images/GCPBigQuery-EnrichEntity-With-BigQueryTableDataOutput_dark.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-EnrichEntity-With-BigQueryTableData/images/GCPBigQuery-EnrichEntity-With-BigQueryTableDataOutput_light.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-EnrichEntity-With-BigQueryTableData/images/GCPBigQuery-EnrichEntity-With-BigQueryTableData_dark.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-EnrichEntity-With-BigQueryTableData/images/GCPBigQuery-EnrichEntity-With-BigQueryTableData_light.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-EnrichEntity-With-BigQueryTableData/readme.md
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-GetQueryResults/azuredeploy.json
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-GetQueryResults/images/GCPBigQuery-GetQueryResultsOutput_dark.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-GetQueryResults/images/GCPBigQuery-GetQueryResultsOutput_light.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-GetQueryResults/images/GCPBigQuery-GetQueryResults_dark.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-GetQueryResults/images/GCPBigQuery-GetQueryResults_light.jpg
  Solutions/Google Cloud Platform BigQuery/Playbooks/GCPBigQueryPlaybooks/GCPBigQuery-GetQueryResults/readme.md
  Solutions/Google Cloud Platform BigQuery/Playbooks/readme.md
Labels: Playbook, Solution

#7282 KQL validations for Hunting Queries for multiple solutions
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Hunting Queries/GitHub/User Grant Access and Grants Other Access.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/NetworkConnectionldap_log4j.yaml
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraUserIPs.yaml
  Solutions/Box/Hunting Queries/BoxAdminIpAddress.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGSpamMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGUsersReceivedSpam.yaml
  Solutions/DigitalGuardianDLP/Hunting Queries/DigitalGuardianIncidentsByUser.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/UnicodeObfuscationInCommandLine.yaml
  Solutions/GitHub/Hunting Queries/User Grant Access and Grants Other Access.yaml
Labels: Hunting

#7465 Updating Workbook Metadata to fix gallery bugs
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7453 Updating Soc Process package to fix bug
  Solutions/SOC-Process-Framework/Package/2.0.5.zip
  Solutions/SOC-Process-Framework/Package/mainTemplate.json
  Solutions/SOC-Process-Framework/Playbooks/Get-SOCActions/azuredeploy.json
  Solutions/SOC-Process-Framework/data/Solution_Soc-Process.json
Labels: Playbook, Solution

#7425 Google Cloud Solutions Logo Update
  Solutions/Google Apigee/Data/Solution_Google Apigee.json
  Solutions/Google Apigee/Package/2.0.1.zip
  Solutions/Google Apigee/Package/createUiDefinition.json
  Solutions/Google Apigee/Package/mainTemplate.json
  Solutions/Google Apigee/logo/Google-Cloud-Branding.png
  Solutions/Google Cloud Platform Cloud Monitoring/Data/Solution_GoogleCloudPlatformMonitor.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/2.0.1.zip
  Solutions/Google Cloud Platform Cloud Monitoring/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/mainTemplate.json
  Solutions/Google Cloud Platform Cloud Monitoring/logo/Google-Cloud-Branding.png
  Solutions/GoogleCloudPlatformDNS/Data/Solution_GoogleCloudPlatformDNS.json
  Solutions/GoogleCloudPlatformDNS/Package/2.0.1.zip
  Solutions/GoogleCloudPlatformDNS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformDNS/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformDNS/logo/Google-Cloud-Branding.png
  Solutions/GoogleCloudPlatformIAM/Data/Solution_GoogleCloudPlatformIAM.json
  Solutions/GoogleCloudPlatformIAM/Package/2.0.2.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/logo/Google-Cloud-Branding.png
  Solutions/GoogleWorkspaceReports/Data/Solution_GoogleWorkspaceReports.json
  Solutions/GoogleWorkspaceReports/Package/2.0.3.zip
  Solutions/GoogleWorkspaceReports/Package/createUiDefinition.json
  Solutions/GoogleWorkspaceReports/Package/mainTemplate.json
Labels: Solution, Logo

#7462 Duplicate column error fixed - DvcScopeId
  .script/tests/KqlvalidationsTests/CustomTables/ASimDnsActivityLogs.json
  Parsers/ASimDns/ARM/ASimDnsNative/ASimDnsNative.json
  Parsers/ASimDns/ARM/vimDnsNative/vimDnsNative.json
  Parsers/ASimDns/Parsers/ASimDnsNative.yaml
  Parsers/ASimDns/Parsers/vimDnsNative.yaml
Labels: ASIM

#7469 Fixed Arm-ttk issue when solution name has space
  .github/workflows/arm-ttk-validations.yaml
Labels: Validation

#7445 Detecting potential phishing in correlation with CSL & Network Session logs
  .script/tests/KqlvalidationsTests/CustomTables/AlertEvidence.json
  Solutions/Microsoft 365 Defender/Analytic Rules/PossiblePhishingwithCSL&NetworkSession.yaml
Labels: Analytic Rules

#7451 Leaderboard Monthly Update - Update stats.md file with February 2023 Data
  Tools/stats/stats.md
Labels: Tools

#7461 Update gte_6_FailedLogons_10m.yaml
  Detections/SecurityEvent/gte_6_FailedLogons_10m.yaml
Labels: Detection

#7457 Update Dynamics 365 md desc to add Docs link
  Solutions/Dynamics 365/Data Connectors/template_Dynamics365.json
Labels: Connector

#7473 Package Update for Google Solution
  Solutions/Google Apigee/Package/2.0.1.zip
  Solutions/GoogleWorkspaceReports/Package/2.0.3.zip
Labels: Solution

#7448 [SOAR] New Solution Entrust
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-BlockUser/Images/Entrust-BlockUser_incident_comment.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-BlockUser/Images/Entrust-BlockUser_light.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-BlockUser/azuredeploy.json
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-BlockUser/readme.md
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIP-EntityTrigger/Images/Entrust-EnrichIP-EntityTrigger.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIP-EntityTrigger/Images/Entrust-EnrichIP-EntityTrigger_incident_comment.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIP-EntityTrigger/azuredeploy.json
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIP-EntityTrigger/readme.md
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithIPDetails/Images/Entrust-EnrichIncidentWithIPDetails.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithIPDetails/Images/Entrust-EnrichIncidentwithIPDetails_light.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithIPDetails/azuredeploy.json
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithIPDetails/readme.md
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithUserDetails/Images/Entrust-EnrichIncidentWithUserDetails_incident_comment.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithUserDetails/Images/Entrust-EnrichIncidentWithUserDetails_light.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithUserDetails/azuredeploy.json
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichIncidentWithUserDetails/readme.md
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichUser-EntityTrigger/Images/Entrust-EnrichUser-EntityTrigger.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichUser-EntityTrigger/Images/Entrust-EnrichUser-EntityTrigger_incident_comment.png
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichUser-EntityTrigger/azuredeploy.json
  Solutions/EntrustIdentityAsaService/Playbooks/EntrustPlaybooks/Entrust-EnrichUser-EntityTrigger/readme.md
Labels: Playbook

#7477 Repackage Dynamic 365
  Solutions/Dynamics 365/Data/Solution_Dynamics365.json
  Solutions/Dynamics 365/Package/2.0.1.zip
  Solutions/Dynamics 365/Package/mainTemplate.json
Labels: Solution

#7364 Atalassian jira audit repackaging
  DataConnectors/AtlassianJiraAudit/JiraAuditAPISentinelConnector/__init__.py
  DataConnectors/AtlassianJiraAudit/azuredeploy_Jira_native_poller_connector.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector/__init__.py
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector/function.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector/state_manager.py
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAudit_API_FunctionApp.json
  Solutions/AtlassianJiraAudit/Data Connectors/azuredeploy_Connector_JiraAuditAPI_AzureFunction.json
  Solutions/AtlassianJiraAudit/Data Connectors/host.json
  Solutions/AtlassianJiraAudit/Data Connectors/proxies.json
  Solutions/AtlassianJiraAudit/Data Connectors/requirements.txt
  Solutions/AtlassianJiraAudit/Data/Solution_AtlassianJiraAudit.json
  Solutions/AtlassianJiraAudit/Hunting Queries/JiraUserIPs.yaml
  Solutions/AtlassianJiraAudit/Package/2.0.3.zip
  Solutions/AtlassianJiraAudit/Package/createUiDefinition.json
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/readme.md
Labels: Solution

#7376 Template Spec Solution for Shodan
  Solutions/Shodan/Data/Solution_shodan.json
  Solutions/Shodan/Package/2.0.0.zip
  Solutions/Shodan/Package/createUiDefinition.json
  Solutions/Shodan/Package/mainTemplate.json
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichDomain-EntityTrigger/azuredeploy.json
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIP-EntityTrigger/azuredeploy.json
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIPAndDomain/azuredeploy.json
  Solutions/Shodan/SolutionMetadata.json
Labels: Solution

#7458 Adding playbooks to MDE Solution
  Solutions/MicrosoftDefenderForEndpoint/Data/Solution_MicrosoftDefenderEndpoint.json
  Solutions/MicrosoftDefenderForEndpoint/Package/2.0.2.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/createUiDefinition.json
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/Restrict-MDEDomain-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEUrl/Restrict-MDEUrl-entity-trigger/azuredeploy.json
Labels: Playbook, Solution

#7483 Update README.md
  Tools/Sentinel-All-In-One/README.md
Labels: Tools

#7479 Update AcscEssential8.json
  Workbooks/AcscEssential8.json
Labels: Workbook

#7360 Update to Workspace deletion attempt from an infected device
  Detections/SecurityAlert/Suspicious_WorkSpaceDeletion_Attempt.yaml
Labels: Detection

#7398 Adding hint.strategy=native to support more partitions
  Hunting Queries/Microsoft 365 Defender/Exfiltration/Files copied to USB drives.yaml
Labels: Hunting

#7489 Updates to 2.1.1 solution package
  Solutions/Jamf Protect/Package/2.1.1.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
Labels: Solution

#7463 Marklogic Repackaging
  Solutions/MarkLogicAudit/Data/Solution_MarkLogicAudit.json
  Solutions/MarkLogicAudit/DataConnectors/Connector_MarkLogicAudit.json
  Solutions/MarkLogicAudit/Package/2.0.2.zip
  Solutions/MarkLogicAudit/Package/createUiDefinition.json
  Solutions/MarkLogicAudit/Package/mainTemplate.json
  Solutions/MarkLogicAudit/Parsers/MarkLogicAudit.txt
Labels: Solution

#7450 Repackaging VirusTotal
  Solutions/VirusTotal/Package/2.0.3.zip
  Solutions/VirusTotal/Package/mainTemplate.json
Labels: Solution

#7464 MongoDB Repackaging
  Solutions/MongoDBAudit/Data Connectors/Connector_MongoDBAudit.json
  Solutions/MongoDBAudit/Data/Solution_MongoDBAudit.json
  Solutions/MongoDBAudit/Package/2.0.2.zip
  Solutions/MongoDBAudit/Package/createUiDefinition.json
  Solutions/MongoDBAudit/Package/mainTemplate.json
  Solutions/MongoDBAudit/Parsers/MongoDBAudit.txt
Labels: Solution

#7468 Repackaging Azure Active Directory
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.8.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution

#7420 V sabiraj adding analytic rulefor flare
  .script/tests/KqlvalidationsTests/CustomTables/Firework_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Flare/Analytic Rules/FlareCredentialLeaks.yaml
  Solutions/Flare/Data/Solution_FlareSystemsFirework.json
  Solutions/Flare/Package/2.0.2.zip
  Solutions/Flare/Package/createUiDefinition.json
  Solutions/Flare/Package/mainTemplate.json
Labels: Solution

#7436 Cybersixgill Actionable Alerts offerid update
  Solutions/Cybersixgill-Actionable-Alerts/Data/Solution_Cybersixgill_Actionable_Alerts.json
  Solutions/Cybersixgill-Actionable-Alerts/Package/2.0.0.zip
  Solutions/Cybersixgill-Actionable-Alerts/Package/2.0.1.zip
  Solutions/Cybersixgill-Actionable-Alerts/Package/createUiDefinition.json
  Solutions/Cybersixgill-Actionable-Alerts/Package/mainTemplate.json
  Solutions/Cybersixgill-Actionable-Alerts/SolutionMetadata.json
Labels: Solution

#7476 hide table only available to private preview
  Workbooks/AcscEssential8.json
Labels: Workbook

#7497 Entity Playbooks
  Solutions/Azure Active Directory/Playbooks/Reset-AADUserPassword/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/entity-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/entity-trigger/images/comment-dark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/entity-trigger/images/comment-light.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/entity-trigger/images/designer-dark.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/entity-trigger/images/designer-light.png
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/readme.md
Labels: Playbook

#7498 Updating package for Flare
  Solutions/Flare/Analytic Rules/FlareCredentialLeaks.yaml
  Solutions/Flare/Data/Solution_FlareSystemsFirework.json
  Solutions/Flare/Package/2.0.2.zip
  Solutions/Flare/Package/mainTemplate.json
Labels: Solution

#7432 Update to add `where` IP find/search
  Detections/SecurityAlert/Suspicious_WorkSpaceDeletion_Attempt.yaml
Labels: Detection

#7494 Update ssh_potentialBruteForce.yaml
  Solutions/Syslog/Analytic Rules/ssh_potentialBruteForce.yaml
Labels: Analytic Rules

#7446 Palo Alto Solutions Logo update
  Solutions/PaloAlto-PAN-OS/Package/2.0.1.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-GetURLCategoryInfo/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/SolutionMetadata.json
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
  Solutions/PaloAlto-PAN-OS/logo/Palo-alto-logo.png
  Solutions/PaloAltoCDL/Data/Solution_PaloAltoCDL.json
  Solutions/PaloAltoCDL/Package/2.0.3.zip
  Solutions/PaloAltoCDL/Package/createUiDefinition.json
  Solutions/PaloAltoCDL/Package/mainTemplate.json
  Solutions/PaloAltoCDL/SolutionMetadata.json
  Solutions/PaloAltoCDL/logo/Palo-alto-logo.png
  Solutions/PaloAltoPrismaCloud/Data/Solution_PaloAltoPrismaCloud.json
  Solutions/PaloAltoPrismaCloud/Package/2.0.3.zip
  Solutions/PaloAltoPrismaCloud/Package/createUiDefinition.json
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
  Solutions/PaloAltoPrismaCloud/logo/Palo-alto-logo.png
Labels: Solution, Logo

#7487 Microsoft 365 Defender Repackaging
  Solutions/Microsoft 365 Defender/Data/Solution_Microsoft 365 Defender.json
  Solutions/Microsoft 365 Defender/Package/2.0.3.zip
  Solutions/Microsoft 365 Defender/Package/createUiDefinition.json
  Solutions/Microsoft 365 Defender/Package/mainTemplate.json
Labels: Solution

#7402 Fixed deprecated command columnifexists
  Detections/AuditLogs/ServicePrincipalAssignedAppRoleWithSensitiveAccess.yaml
Labels: Detection

#7514 Update vimAuthenticationEmpty.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationEmpty.yaml
Labels: ASIM

#7511 Fixing bugs for Recorded future workbook
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/2.3.1.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7515 Repackaging Microsoft 365
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Package/2.0.3.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
Labels: Solution

#7513 Get-GeoFromIpAndTagIncident Playbook Issue fix
  Playbooks/Get-GeoFromIpAndTagIncident/customConnector/azuredeploy.json
  Playbooks/Get-GeoFromIpAndTagIncident/incident-trigger/azuredeploy.json
Labels: Playbook

#7397 Update MaliciousOAuthApp_O365AttackToolkit.yaml
  Sample Data/Feeds/Microsoft.OAuth.KnownApplications.csv
  Solutions/Azure Active Directory/Analytic Rules/MaliciousOAuthApp_O365AttackToolkit.yaml
Labels: Solution, Analytic Rules

#7519 Fixingworkspacedetection
  Detections/SecurityAlert/Suspicious_WorkSpaceDeletion_Attempt.yaml
Labels: Detection

#7430 fix typo and remove URL mapping
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-HighSeverityDetection-by-Tactics.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-NewCampaign.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Suspected-Behavior-by-Tactics.yaml
Labels: Solution, Analytic Rules

#7341 Show the actual Role and Fix InitiatingUser
  Solutions/Azure Active Directory/Analytic Rules/PIMElevationRequestRejected.yaml
Labels: Solution, Analytic Rules

#7530 Fixing Bugs for Workbooks
  Solutions/MaturityModelForEventLogManagementM2131/Package/2.0.3.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/createUiDefinition.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/SolutionMetadata.json
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
  Solutions/MicrosoftDefenderForEndpoint/Package/2.0.3.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
Labels: Workbook, Solution

#7354 Data Connector and Parser Update
  Solutions/SentinelOne/Data Connectors/SentinelOne_API_FunctionApp.json
  Solutions/SentinelOne/Data/Solution_SentinelOne.json
  Solutions/SentinelOne/Package/2.0.2.zip
  Solutions/SentinelOne/Package/createUiDefinition.json
  Solutions/SentinelOne/Package/mainTemplate.json
  Solutions/SentinelOne/Parsers/SentinelOne.txt
Labels: Connector, Parser

#7521 Repackaging BroadcomSymantecDLP, Cisco UCS, CiscoMeraki
  Solutions/Broadcom SymantecDLP/Data Connectors/Connector_Syslog_SymantecDLP.json
  Solutions/Broadcom SymantecDLP/Data/Solution_Broadcom SymantecDLP.json
  Solutions/Broadcom SymantecDLP/Package/2.0.2.zip
  Solutions/Broadcom SymantecDLP/Package/mainTemplate.json
  Solutions/Broadcom SymantecDLP/Parsers/SymantecDLP.txt
  Solutions/Broadcom SymantecDLP/SolutionMetadata.json
  Solutions/Cisco UCS/Data Connectors/Connector_Syslog_CiscoUCS.json
  Solutions/Cisco UCS/Data/Solution_Cisco UCS.json
  Solutions/Cisco UCS/Package/2.0.1.zip
  Solutions/Cisco UCS/Package/mainTemplate.json
  Solutions/Cisco UCS/Parsers/CiscoUCS.txt
  Solutions/CiscoMeraki/Data Connectors/Connector_Syslog_CiscoMeraki.json
  Solutions/CiscoMeraki/Package/2.0.3.zip
  Solutions/CiscoMeraki/Package/createUiDefinition.json
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/Parsers/CiscoMeraki.txt
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
Labels: Solution

#7523 Repackaging Solutions with Parser instructions Update
  Solutions/Blackberry CylancePROTECT/Data Connectors/template_BlackberryCylancePROTECT.JSON
  Solutions/Blackberry CylancePROTECT/Data/Solution_BlackberryCylancePROTECT.json
  Solutions/Blackberry CylancePROTECT/Package/2.0.1.zip
  Solutions/Blackberry CylancePROTECT/Package/createUiDefinition.json
  Solutions/Blackberry CylancePROTECT/Package/mainTemplate.json
  Solutions/Blackberry CylancePROTECT/Parsers/CylancePROTECT-old.txt
  Solutions/Infoblox NIOS/Data Connectors/Connector_Syslog_Infoblox.json
  Solutions/Infoblox NIOS/Data/Solution_InfobloxNIOS.json
  Solutions/Infoblox NIOS/Package/2.0.3.zip
  Solutions/Infoblox NIOS/Package/createUiDefinition.json
  Solutions/Infoblox NIOS/Package/mainTemplate.json
  Solutions/Juniper SRX/Data Connectors/Connector_Syslog_JuniperSRX.json
  Solutions/Juniper SRX/Data/Solution_Juniper SRX.json
  Solutions/Juniper SRX/Package/2.0.2.zip
  Solutions/Juniper SRX/Package/mainTemplate.json
  Solutions/Juniper SRX/Parsers/JuniperSRX.txt
Labels: Solution

#7288 Fixed failing KQL validations for Hunting Queries
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/Proofpoint On demand(POD) Email Security/Hunting Queries/ProofpointPODLargeOutboundEmails.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeHighCreditConsumingQueries.yaml
  Solutions/Snowflake/Hunting Queries/SnowflakeTimeConsumingQueries.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiUnusualSubdomains.yaml
  Solutions/Windows Server DNS/Hunting Queries/DNS_HighPercentNXDomainCount.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerIPsByPorts.yaml
Labels: Hunting

#6409 Created a new tool for creating Incidents with email
  Playbooks/Create Incidents with Email/Readme.md
  Playbooks/Create Incidents with Email/azuredeploy.json
Labels: Tools

#7481 Solution creation for GCP big query
  Solutions/Google Cloud Platform BigQuery/Data/Solution_gcpbigquery.json
  Solutions/Google Cloud Platform BigQuery/Package/2.0.0.zip
  Solutions/Google Cloud Platform BigQuery/Package/createUiDefinition.json
  Solutions/Google Cloud Platform BigQuery/Package/mainTemplate.json
  Solutions/Google Cloud Platform BigQuery/Playbooks/CustomConnector/GCPBigQueryCustomConnector/azuredeploy.json
  Solutions/Google Cloud Platform BigQuery/SolutionMetadata.json
Labels: Solution

#7517 Adding eventGroupingSettings to Analytic Rules
  Solutions/Jamf Protect/Analytic Rules/JamfProtectAlerts.yaml
  Solutions/Jamf Protect/Analytic Rules/JamfProtectNetworkThreats.yaml
  Solutions/Jamf Protect/Analytic Rules/JamfProtectUnifiedLogs.yaml
  Solutions/Jamf Protect/Package/2.1.2.zip
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/SolutionMetadata.json
Labels: Solution

#7536 Automation Health workbook update
  Workbooks/AutomationHealth.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7552 Updating UI for Blackberry CylancePROTECT Solution
  Solutions/Blackberry CylancePROTECT/Package/2.0.1.zip
  Solutions/Blackberry CylancePROTECT/Package/createUiDefinition.json
Labels: Solution

#7441 Update in data connector and parser
  Solutions/ISC Bind/Data Connectors/Connector_Syslog_ISCBind.json
  Solutions/ISC Bind/Data/Solution_ISC Bind.json
  Solutions/ISC Bind/Package/2.0.1.zip
  Solutions/ISC Bind/Package/mainTemplate.json
  Solutions/ISC Bind/Parsers/ISCBind.txt
Labels: Connector, Parser

#7546 Repackaging Azure Active Directory
  Solutions/Azure Active Directory/Data Connectors/template_AzureActiveDirectory.JSON
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.9.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution

#7555 Removing hardcoded creds
  Solutions/DomainTools/Playbooks/DomainTools_Iris_Investigate-Guided_Pivots_Playbook/azuredeploy.json
Labels: Playbook

#7559 Update Readme with needed license
  Tools/MDO Power BI Dashboard/Readme.md
Labels: Tools

#7506 Update ReversingLabs solution to version 2.1.1
  Solutions/ReversingLabs/Data/Solution_ReversingLabs.json
  Solutions/ReversingLabs/Package/2.1.1.zip
  Solutions/ReversingLabs/Package/createUiDefinition.json
  Solutions/ReversingLabs/Package/mainTemplate.json
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/ReversingLabs-CapabilitiesOverview.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution

#7563 Update Active Directory Sensitive Group Modifications.yaml
  Hunting Queries/Microsoft 365 Defender/Credential Access/Active Directory Sensitive Group Modifications.yaml
Labels: Hunting

#7538 fix: update DeviceVendor for WithSecureElementsViaConnector solution
  Solutions/WithSecureElementsViaConnector/Data Connectors/WithSecureElementsViaConnector.json
  Solutions/WithSecureElementsViaConnector/Data/Solution_WithSecureElementsViaConnector.json
  Solutions/WithSecureElementsViaConnector/Package/2.0.3.zip
  Solutions/WithSecureElementsViaConnector/Package/createUiDefinition.json
  Solutions/WithSecureElementsViaConnector/Package/mainTemplate.json
Labels: Connector, Solution

#7553 Update Solution tool for Workbook dependencies and display name
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7512 MTTC/MTTT Calculation are inconsistent in Security Operations Efficiency workbook
  Workbooks/SecurityOperationsEfficiency.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7570 Adding 42CrunchAPIProtectionWorkbook
  Workbooks/42CrunchAPIProtectionWorkbook.json
Labels: Workbook

#7490 Squid Proxy parser optimization regarding IcM 369763265
  Solutions/SquidProxy/Parsers/SquidProxy.txt
Labels: Parser

#7572 Updated Workbook Metadata for SAP workbooks
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#7575 Repackaging Broadcom SymantecDLP
  Solutions/Broadcom SymantecDLP/Data Connectors/Connector_Syslog_SymantecDLP.json
  Solutions/Broadcom SymantecDLP/Package/2.0.2.zip
  Solutions/Broadcom SymantecDLP/Package/createUiDefinition.json
  Solutions/Broadcom SymantecDLP/Package/mainTemplate.json
Labels: Solution

#7548 Update Dev-0530AVHits.yaml for performance
  Detections/SecurityAlert/Dev-0530AVHits.yaml
Labels: Detection

#7480 UI description update for CISCO ASA & Windows Security Events
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/2.0.3.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/2.0.2.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
Labels: Solution

#7537 Add modern Recycle Bin path in Analytic rule malware_in_recyclebin.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/malware_in_recyclebin.yaml
Labels: Solution, Analytic Rules

#7577 Repackage Security Threat Essential
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/PossibleAiTMPhishingAttemptAgainstAAD.yaml
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/SecurityThreatEssentialSolution/Package/2.0.3.zip
  Solutions/SecurityThreatEssentialSolution/Package/createUiDefinition.json
  Solutions/SecurityThreatEssentialSolution/Package/mainTemplate.json
  Solutions/SecurityThreatEssentialSolution/SolutionMetadata.json
Labels: Solution

#7318 Infoblox CDC Parser Fix IcM 364057961
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/2.0.8.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
  Solutions/Infoblox Cloud Data Connector/Parsers/InfobloxCDC.txt
Labels: Parser, Solution

#7437 Google workspace description update in CreateUI
  Solutions/GoogleWorkspaceReports/Data Connectors/GWorkspaceReports_API_FunctionApp.json
  Solutions/GoogleWorkspaceReports/Data/Solution_GoogleWorkspaceReports.json
  Solutions/GoogleWorkspaceReports/Package/2.0.4.zip
  Solutions/GoogleWorkspaceReports/Package/createUiDefinition.json
  Solutions/GoogleWorkspaceReports/Package/mainTemplate.json
  Solutions/GoogleWorkspaceReports/Parsers/GWorkspaceActivityReports
Labels: Solution

#7578 Repackage Endpoint Threat Protection Essentials
  Solutions/Endpoint Threat Protection Essentials/Data/Solution_EndpointThreatProtectionEssentials.json
  Solutions/Endpoint Threat Protection Essentials/Package/2.0.1.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
Labels: Solution

#7579 [CRI] <2303150050002250> deployment fix for AAD Identity protection
  Solutions/Azure Active Directory Identity Protection/Data/Solution_AzureADIdentityProtection.json
  Solutions/Azure Active Directory Identity Protection/Package/2.0.5.zip
  Solutions/Azure Active Directory Identity Protection/Package/mainTemplate.json
Labels: Solution

#6607 Creating Network Solution
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/ASimNetworkSession/ExcessiveHTTPFailuresFromSource.yaml
  Detections/ASimNetworkSession/IPEntity_imNetworkSession.yaml
  Detections/ASimNetworkSession/PortScan.yaml
  Detections/ASimNetworkSession/PossibleBeaconingActivity.yaml
  Solutions/Network Session Essentials/Analytic Rules/AnomalyFoundInNetworkSessionTraffic.yaml
  Solutions/Network Session Essentials/Analytic Rules/DetectPortMisuseByAnomalyBasedDetection.yaml
  Solutions/Network Session Essentials/Analytic Rules/DetectPortMisuseByStaticThreshold.yaml
  Solutions/Network Session Essentials/Analytic Rules/ExcessiveHTTPFailuresFromSource.yaml
  Solutions/Network Session Essentials/Analytic Rules/NetworkPortSweepFromExternalNetwork.yaml
  Solutions/Network Session Essentials/Analytic Rules/PortScan.yaml
  Solutions/Network Session Essentials/Analytic Rules/PossibleBeaconingActivity.yaml
  Solutions/Network Session Essentials/Data/Solution_NetworkSessionEssentials.json
  Solutions/Network Session Essentials/Hunting Queries/DetectPortMisuseByAnomalyHunting.yaml
  Solutions/Network Session Essentials/Hunting Queries/DetectPortMisuseByStaticThresholdHunting.yaml
  Solutions/Network Session Essentials/Hunting Queries/DetectsSeveralUsersWithTheSameMACAddress.yaml
  Solutions/Network Session Essentials/Hunting Queries/MismatchBetweenDestinationAppNameAndDestinationPort.yaml
  Solutions/Network Session Essentials/Package/2.0.0.zip
  Solutions/Network Session Essentials/Package/createUiDefinition.json
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/Playbooks/SummarizeData/azuredeploy.json
  Solutions/Network Session Essentials/Playbooks/SummarizeData/readme.md
  Solutions/Network Session Essentials/SolutionMetadata.json
  Solutions/Network Session Essentials/Watchlists/NetworkSession_Monitor_Configuration.json
  Solutions/Network Session Essentials/Workbooks/NetworkSessionEssentials.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Playbook, Workbook, Solution, Detection, Hunting, WatchList, Analytic Rules

#7505 Ashwin/mar23 Bugfixes FileHash extraction logic and Static URL to Servicetags
  Solutions/Azure Active Directory/Analytic Rules/AzurePortalSigninfromanotherAzureTenant.yaml
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Solutions/Azure Activity/Hunting Queries/AzureRunCommandFromAzureIP.yaml
  Solutions/Azure Activity/Package/mainTemplate.json
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ActiniumFeb2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Dev-0530_July2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Dev-0586_Jan2022_IOC.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/HiveRansomwareJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/KNOTWEEDFileHashesJuly2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/TarraskHashIoC.yaml
Labels: Analytic Rules

#7522 Adding C# template for Function app
  DataConnectors/Templates/Connector_REST_API_AzureFunctionApp_template/Template_REST_API_AzureFunction_App_Code/Template_REST_API_Function_App_C#/Template_REST_API_Function_App_C#.cs
  DataConnectors/Templates/Connector_REST_API_AzureFunctionApp_template/Template_REST_API_AzureFunction_App_Code/Template_REST_API_Function_App_C#/Template_REST_API_Function_App_C#proj.csproj
  DataConnectors/Templates/Connector_REST_API_AzureFunctionApp_template/Template_REST_API_AzureFunction_App_Code/Template_REST_API_Function_App_C#/host.json
  DataConnectors/Templates/Connector_REST_API_AzureFunctionApp_template/Template_REST_API_AzureFunction_App_Code/Template_REST_API_Function_App_C#/local.settings.json
Labels: Connector

#7003 Dns domain solution
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/DNS Essentials/Analytic Rules/DNSRequestToKnownDomainIOCs.yaml
  Solutions/DNS Essentials/Analytic Rules/ExcessiveNXDOMAINDNSQueriesAnomalyBased.yaml
  Solutions/DNS Essentials/Analytic Rules/ExcessiveNXDOMAINDNSQueriesStaticThresholdBased.yaml
  Solutions/DNS Essentials/Analytic Rules/MultipleErrorsReportedForSameDNSQueryAnomalyBased.yaml
  Solutions/DNS Essentials/Analytic Rules/MultipleErrorsReportedForSameDNSQueryStaticThresholdBased.yaml
  Solutions/DNS Essentials/Analytic Rules/PotentialDGADetectedviaRepetitiveFailuresAnomalyBased.yaml
  Solutions/DNS Essentials/Analytic Rules/PotentialDGADetectedviaRepetitiveFailuresStaticThresholdBased.yaml
  Solutions/DNS Essentials/Analytic Rules/RareClientObservedWithHighReverseDNSLookupCountAnomalyBased.yaml
  Solutions/DNS Essentials/Analytic Rules/RareClientObservedWithHighReverseDNSLookupCountStaticThresholdBased.yaml
  Solutions/DNS Essentials/Data/Solution_DNS.json
  Solutions/DNS Essentials/Hunting Queries/AnomalousIncreaseInDNSActivityByClients.yaml
  Solutions/DNS Essentials/Hunting Queries/CVE-2020-1350 (SIGRED)ExploitationPattern.yaml
  Solutions/DNS Essentials/Hunting Queries/ConnectionToUnpopularWebsiteDetected.yaml
  Solutions/DNS Essentials/Hunting Queries/DNSQueryWithFailuresInLast24Hours.yaml
  Solutions/DNS Essentials/Hunting Queries/DNSRequestToKnownDomainIOCs.yaml
  Solutions/DNS Essentials/Hunting Queries/DomainsWithLargeNumberOfSubDomains.yaml
  Solutions/DNS Essentials/Hunting Queries/IncreaseInDNSRequestsByClientThanTheDailyAverageCount.yaml
  Solutions/DNS Essentials/Hunting Queries/PossibleDNSTunnelingOrDataExfilterationActivity.yaml
  Solutions/DNS Essentials/Hunting Queries/PotentialBeaconingActivity.yaml
  Solutions/DNS Essentials/Hunting Queries/Sources(Clients)WithHighNumberOfErrors.yaml
  Solutions/DNS Essentials/Hunting Queries/UnexpectedTopLevelDomains.yaml
  Solutions/DNS Essentials/Package/2.0.0.zip
  Solutions/DNS Essentials/Package/createUiDefinition.json
  Solutions/DNS Essentials/Package/mainTemplate.json
  Solutions/DNS Essentials/Playbooks/SummarizeData/azuredeploy.json
  Solutions/DNS Essentials/Playbooks/SummarizeData/readme.md
  Solutions/DNS Essentials/SolutionMetadata.json
  Solutions/DNS Essentials/Watchlists/DNS_Solution_Domain_IOCs.json
  Solutions/DNS Essentials/Watchlists/DNS_Solution_Monitoring_Configuration.json
  Solutions/DNS Essentials/Workbooks/DNSSolutionWorkbook.json
  Solutions/DNS Essentials/Workbooks/Images/Preview/DNSDomainWorkbookBlack.png
  Solutions/DNS Essentials/Workbooks/Images/Preview/DNSDomainWorkbookWhite.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_CrowdStrike.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_DNS.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_DigitalShadows.json
  Tools/Create-Azure-Sentinel-Solution/V2/input/Solution_SlashNext.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_DNS.json
  Tools/Create-Azure-Sentinel-Solution/input/Solution_ZeroNetworks.json
Labels: Playbook, Workbook, Solution, Hunting, WatchList, Analytic Rules

#7550 data connector description update
  Solutions/Akamai Security Events/Data Connectors/Connector_CEF_Akamai.json
  Solutions/Akamai Security Events/Data/Solution_Akamai.json
  Solutions/Akamai Security Events/Package/2.0.2.zip
  Solutions/Akamai Security Events/Package/mainTemplate.json
  Solutions/Akamai Security Events/Parsers/AkamaiSIEMEvent.txt
  Solutions/Exabeam Advanced Analytics/Data Connectors/Connector_Exabeam_Syslog.json
  Solutions/Exabeam Advanced Analytics/Data/Solution_ExabeamAdvancedAnalytics.json
  Solutions/Exabeam Advanced Analytics/Package/2.0.1.zip
  Solutions/Exabeam Advanced Analytics/Package/mainTemplate.json
  Solutions/Exabeam Advanced Analytics/Parsers/ExabeamEvent.txt
  Solutions/OSSEC/Data Connectors/Connector_CEF_OSSEC.json
  Solutions/OSSEC/Data/Solution_OssectemplateSpec.json
  Solutions/OSSEC/Package/2.0.1.zip
  Solutions/OSSEC/Package/mainTemplate.json
  Solutions/OSSEC/Parsers/OSSECEvent.txt
  Solutions/VMWareESXi/Data Connectors/Connector_Syslog_VMwareESXi.json
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/2.0.3.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/VMWareESXi/Parsers/VMwareESXi.txt
Labels: Solution

#7580 Updating AAD Solution to add playbooks
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.10.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Playbook, Solution

#7585 Solution Repackaging for AzureKeyVault & ProofPointTap
  Solutions/Azure Key Vault/Data/Solution_Azure Key Vault.json
  Solutions/Azure Key Vault/Package/2.0.4.zip
  Solutions/Azure Key Vault/Package/createUiDefinition.json
  Solutions/Azure Key Vault/Package/mainTemplate.json
  Solutions/Azure Key Vault/Workbooks/AzureKeyVaultWorkbook.json
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/2.0.3.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
Labels: Solution

#7504 YAML schema for Process Event
  ASIM/schemas/ASimProcessEvent.yaml
  ASIM/schemas/entities/ASimExtendedProcess.yaml
Labels: ASIM

#7595 Added new Event Vendor for Network Schema
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#7598 Update imDns_IPEntity_DnsEvents.yaml
  Detections/ASimDNS/imDns_IPEntity_DnsEvents.yaml
Labels: ASIM

#7607 Updated query to use series_decompose_anomalies to improve perf
  Solutions/Azure Active Directory/Analytic Rules/AnomalousUserAppSigninLocationIncrease-detection.yaml
Labels: Solution, Analytic Rules

#7528 New MDTI playbook solution for Sentinel
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Automated-Triage/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Automated-Triage/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Base/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Base/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-WebComponents/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-WebComponents/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Intel-Reputation/azuredeploy.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Intel-Reputation/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI.jpg
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/readme.md
Labels: Playbook

#7606 Update template_WindowsFirewallAma.JSON - add fwlink to description that points to Docs install info
  Solutions/Windows Firewall/Data Connectors/template_WindowsFirewallAma.JSON
Labels: Connector, Solution

#7597 Updating crossComponent Resources for microsoftdefenderforidentity Workbook
  Workbooks/WorkbooksMetadata.json
  Workbooks/microsoftdefenderforidentity.json
Labels: Workbook

#7561 Created Microsoft PowerBI Activity Workbook
  Solutions/Microsoft PowerBI/Workbooks/Images/Preview/MicrosoftPowerBIActivityWorkbookBlack.png
  Solutions/Microsoft PowerBI/Workbooks/Images/Preview/MicrosoftPowerBIActivityWorkbookWhite.png
  Solutions/Microsoft PowerBI/Workbooks/MicrosoftPowerBIActivityWorkbook.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#7600 Added 1.6.0 update
  Workbooks/Images/Preview/MicrosoftSentinelCostGBPBlack.png
  Workbooks/Images/Preview/MicrosoftSentinelCostGBPWhite.png
  Workbooks/MicrosoftSentinelCostGBP.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7591 Link fix in zipfile
  Solutions/Talon/Package/2.0.1.zip
  Solutions/Talon/Package/mainTemplate.json
  Solutions/Talon/SolutionMetadata.json
Labels: Solution

#7543 Add validations for Three schemas, made some changes to fix validation errors
  .script/tests/KqlvalidationsTests/CustomFunctions/_Im_Authentication.json
  .script/tests/KqlvalidationsTests/CustomFunctions/_Im_FileEvent.json
  .script/tests/KqlvalidationsTests/CustomFunctions/_Im_RegistryEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/AADServicePrincipalSignInLogs.json
  .script/tests/KqlvalidationsTests/CustomTables/Okta_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/PostgreSQL_CL.json
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/ParsersCustomJsonDirectoryFunctionsLoader.cs
  .script/tests/KqlvalidationsTests/FunctionSchemasLoaders/ParsersDatabase.cs
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.3.0.nupkg
  .script/tests/KqlvalidationsTests/Microsoft.Azure.Sentinel.KustoServices.6.4.0.nupkg
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Parsers/ASimAuthentication/Parsers/AADSTS.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADNonInteractive.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADSigninLogs.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationM365Defender.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationMicrosoftWindowsEvent.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAADManagedIdentity.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAADNonInteractive.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAADServicePrincipalSignInLogs.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAADSigninLogs.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationM365Defender.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationMicrosoftWindowsEvent.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationPostgreSQL.yaml
  Parsers/ASimFileEvent/Parsers/imFileEvent.yaml
  Parsers/ASimFileEvent/Parsers/vimFileEventNative.yaml
Labels: ASIM, Parser

#7626 Updated connector id for Powerbi workbook
  Solutions/Microsoft PowerBI/Package/2.0.1.zip
  Solutions/Microsoft PowerBI/Package/mainTemplate.json
Labels: Solution

#7613 Fixing bug for Reversing labs workbook
  Solutions/ReversingLabs/Data/Solution_ReversingLabs.json
  Solutions/ReversingLabs/Package/2.1.2.zip
  Solutions/ReversingLabs/Package/mainTemplate.json
Labels: Solution

#7592 Updated queries with mv-apply - AAD
  Solutions/Azure Active Directory/Analytic Rules/MailPermissionsAddedToApplication.yaml
  Solutions/Azure Active Directory/Analytic Rules/MaliciousOAuthApp_O365AttackToolkit.yaml
  Solutions/Azure Active Directory/Analytic Rules/MaliciousOAuthApp_PwnAuth.yaml
  Solutions/Azure Active Directory/Analytic Rules/MultipleAdmin_membership_removals_from_NewAdmin.yaml
Labels: Solution, Analytic Rules

#7584 Quality improvement for AAD queries - 2
  Solutions/Azure Active Directory/Analytic Rules/BulkChangestoPrivilegedAccountPermissions.yaml
  Solutions/Azure Active Directory/Analytic Rules/BypassCondAccessRule.yaml
  Solutions/Azure Active Directory/Analytic Rules/DisabledAccountSigninsAcrossManyApplications.yaml
  Solutions/Azure Active Directory/Analytic Rules/DistribPassCrackAttempt.yaml
  Solutions/Azure Active Directory/Analytic Rules/ExplicitMFADeny.yaml
Labels: Solution, Analytic Rules

#7587 Repackaging Legacy IOC and Azure Activity
  Solutions/Azure Activity/Data Connectors/AzureActivity.JSON
  Solutions/Azure Activity/Data/Solution_AzureActivity.json
  Solutions/Azure Activity/Package/2.0.4.zip
  Solutions/Azure Activity/Package/createUiDefinition.json
  Solutions/Azure Activity/Package/mainTemplate.json
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Package/2.0.4.zip
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
Labels: Solution

#7589 Quality Improvement in AAD - 3
  Solutions/Azure Active Directory/Analytic Rules/ADFSDomainTrustMods.yaml
  Solutions/Azure Active Directory/Analytic Rules/CredentialAddedAfterAdminConsent.yaml
  Solutions/Azure Active Directory/Analytic Rules/FailedLogonToAzurePortal.yaml
  Solutions/Azure Active Directory/Analytic Rules/FirstAppOrServicePrincipalCredential.yaml
  Solutions/Azure Active Directory/Analytic Rules/MFARejectedbyUser.yaml
  Solutions/Azure Active Directory/Analytic Rules/NRT_ADFSDomainTrustMods.yaml
  Solutions/Azure Active Directory/Analytic Rules/NRT_MFARejectedbyUser.yaml
Labels: Solution, Analytic Rules

#7605 Improving code quality - AAD - 8
  Solutions/Azure Active Directory/Analytic Rules/SuspiciousOAuthApp_OfflineAccess.yaml
  Solutions/Azure Active Directory/Analytic Rules/UnusualGuestActivity.yaml
  Solutions/Azure Active Directory/Analytic Rules/UserAccounts-CABlockedSigninSpikes.yaml
  Solutions/Azure Active Directory/Analytic Rules/UserAssignedPrivilegedRole.yaml
Labels: Solution, Analytic Rules

#7491 Increased bin to 10m and fixed deprecated commands
  Solutions/Windows Security Events/Analytic Rules/MultipleFailedFollowedBySuccess.yaml
Labels: Solution, Analytic Rules

#7582 Quality improvement for AAD queries
  Solutions/Azure Active Directory/Analytic Rules/AccountCreatedDeletedByNonApprovedUser.yaml
  Solutions/Azure Active Directory/Analytic Rules/AccountCreatedandDeletedinShortTimeframe.yaml
  Solutions/Azure Active Directory/Analytic Rules/AzureAADPowerShellAnomaly.yaml
  Solutions/Azure Active Directory/Analytic Rules/Brute Force Attack against GitHub Account.yaml
  Solutions/Azure Active Directory/Analytic Rules/BruteForceCloudPC.yaml
Labels: Solution, Analytic Rules

#7535 Data Connector Description Update
  Solutions/SquidProxy/Data Connectors/Connector_CustomLog_SquidProxy.json
  Solutions/SquidProxy/Data/Solution_SquidProxytemplateSpec.json
  Solutions/SquidProxy/Package/2.0.1.zip
  Solutions/SquidProxy/Package/mainTemplate.json
  Solutions/SquidProxy/Parsers/SquidProxy.txt
  Solutions/Symantec Endpoint Protection/Data Connectors/Connector_Syslog_SymantecEndpointProtection.json
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/2.0.4.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/Parsers/SymantecEndpointProtection.txt
  Solutions/Symantec VIP/Analytic Rules/ClientDeniedAccess.yaml
  Solutions/Symantec VIP/Analytic Rules/ExcessiveFailedAuthenticationsfromInvalidInputs.yaml
  Solutions/Symantec VIP/Data Connectors/Connector_Syslog_SymantecVIP.json
  Solutions/Symantec VIP/Data/Solution_SymantecVIP.json
  Solutions/Symantec VIP/Package/2.0.1.zip
  Solutions/Symantec VIP/Package/createUiDefinition.json
  Solutions/Symantec VIP/Package/mainTemplate.json
  Solutions/Symantec VIP/Parsers/SymantecVIP.txt
  Solutions/VMware vCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/VMware vCenter/Data/Solution_vcenter.json
  Solutions/VMware vCenter/Package/2.0.2.zip
  Solutions/VMware vCenter/Package/createUiDefinition.json
  Solutions/VMware vCenter/Package/mainTemplate.json
  Solutions/VMware vCenter/Parsers/vCenter.txt
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7602 Users/demehra/aad query improve 6
  Solutions/Azure Active Directory/Analytic Rules/AuthenticationMethodsChangedforPrivilegedAccount.yaml
  Solutions/Azure Active Directory/Analytic Rules/AzureADRoleManagementPermissionGrant.yaml
  Solutions/Azure Active Directory/Analytic Rules/NRT_NewAppOrServicePrincipalCredential.yaml
  Solutions/Azure Active Directory/Analytic Rules/NewAppOrServicePrincipalCredential.yaml
  Solutions/Azure Active Directory/Analytic Rules/PrivilegedAccountsSigninFailureSpikes.yaml
  Solutions/Azure Active Directory/Analytic Rules/RareApplicationConsent.yaml
Labels: Solution, Analytic Rules

#7604 Minor updates on entity mapping - AAD
  Solutions/Azure Active Directory/Analytic Rules/SeamlessSSOPasswordSpray.yaml
  Solutions/Azure Active Directory/Analytic Rules/Sign-in Burst from Multiple Locations.yaml
  Solutions/Azure Active Directory/Analytic Rules/SigninAttemptsByIPviaDisabledAccounts.yaml
  Solutions/Azure Active Directory/Analytic Rules/SigninBruteForce-AzurePortal.yaml
  Solutions/Azure Active Directory/Analytic Rules/SigninPasswordSpray.yaml
  Solutions/Azure Active Directory/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
Labels: Solution, Analytic Rules

#7637 Updated Initiated by details
  Solutions/Azure Active Directory/Analytic Rules/BulkChangestoPrivilegedAccountPermissions.yaml
Labels: Solution, Analytic Rules

#7599 Repackaging Microsoft 365
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Hunting Queries/OfficeActivity/MultipleUsersEmailForwardedToSameDestination.yaml
  Solutions/Microsoft 365/Data Connectors/Office365.JSON
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Hunting Queries/MultipleUsersEmailForwardedToSameDestination.yaml
  Solutions/Microsoft 365/Package/2.0.4.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/HuntingQueriesMigrated.json
Labels: Solution, Hunting

#7634 Cisco Umbrella Hunting QUery fix and solution update regarding IcM 37…
  Solutions/CiscoUmbrella/Data/Solution_CiscoUmbrella.json
  Solutions/CiscoUmbrella/Hunting Queries/CiscoUmbrellaHighValuesOfUploadedData.yaml
  Solutions/CiscoUmbrella/Package/2.0.3.zip
  Solutions/CiscoUmbrella/Package/2.0.4.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/Package/mainTemplate.json
Labels: Solution

#7533 Data connector description update
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/Connector_Syslog_CrowdStrikeFalconEndpointProtection.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/2.0.8.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdstrikeFalconEventStream.txt
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdstrikeReplicator
  Solutions/Netskope/Data Connectors/Netskope/Netskope_API_FunctionApp.json
  Solutions/Netskope/Package/2.0.2.zip
  Solutions/Netskope/Package/mainTemplate.json
  Solutions/Netskope/Parsers/Netskope.txt
  Solutions/Pulse Connect Secure/Data Connectors/Connector_Syslog_PulseConnectSecure.json
  Solutions/Pulse Connect Secure/Data/Solution_Pulse Connect Secure.json
  Solutions/Pulse Connect Secure/Package/2.0.2.zip
  Solutions/Pulse Connect Secure/Package/createUiDefinition.json
  Solutions/Pulse Connect Secure/Package/mainTemplate.json
  Solutions/Pulse Connect Secure/Parsers/PulseConnectSecure.txt
  Solutions/Qualys VM Knowledgebase/Data Connectors/QualysKB_API_FunctionApp.json
  Solutions/Qualys VM Knowledgebase/Data/Solution_QualysKBtemplateSpec.json
  Solutions/Qualys VM Knowledgebase/Package/2.0.1.zip
  Solutions/Qualys VM Knowledgebase/Package/mainTemplate.json
  Solutions/Qualys VM Knowledgebase/Parsers/QualysKB.txt
Labels: Solution

#7647 Repackaging Azure Active Directory with quality upgrades in queries
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.10.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution

#7624 Updating windows security hunting rules - 1
  Solutions/Windows Security Events/Hunting Queries/CommandsexecutedbyWMIonnewhosts-potentialImpacket.yaml
  Solutions/Windows Security Events/Hunting Queries/Crashdumpdisabledonhost.yaml
  Solutions/Windows Security Events/Hunting Queries/DecoyUserAccountAuthenticationAttempt.yaml
  Solutions/Windows Security Events/Hunting Queries/Discorddownloadinvokedfromcmdline.yaml
  Solutions/Windows Security Events/Hunting Queries/ExchangePowerShellSnapin.yaml
  Solutions/Windows Security Events/Hunting Queries/HostExportingMailboxAndRemovingExport.yaml
Labels: Solution, Hunting

#7639 Update vimAuthenticationEmpty.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationEmpty/vimAuthenticationEmpty.json
Labels: ASIM

#7620 Analytics Rules minor changes
  Solutions/Azure Activity/Analytic Rules/AADHybridHealthADFSNewServer.yaml
  Solutions/Azure Activity/Analytic Rules/AADHybridHealthADFSServiceDelete.yaml
  Solutions/Azure Activity/Analytic Rules/AADHybridHealthADFSSuspApp.yaml
  Solutions/Azure Activity/Analytic Rules/NRT-AADHybridHealthADFSNewServer.yaml
Labels: Solution, Analytic Rules

#7622 Analytics Rule Changes after review
  Solutions/Azure Activity/Analytic Rules/Creating_Anomalous_Number_Of_Resources_detection.yaml
  Solutions/Azure Activity/Analytic Rules/NewResourceGroupsDeployedTo.yaml
  Solutions/Azure Activity/Analytic Rules/TimeSeriesAnomaly_Mass_Cloud_Resource_Deletions.yaml
Labels: Solution, Analytic Rules

#7625 Updating windows security hunting rules - 2
  Solutions/Windows Security Events/Hunting Queries/HostsWithNewLogons.yaml
  Solutions/Windows Security Events/Hunting Queries/Invoke-PowerShellTcpOneLine.yaml
  Solutions/Windows Security Events/Hunting Queries/Least_Common_Parent_Child_Process.yaml
  Solutions/Windows Security Events/Hunting Queries/Least_Common_Process_Command_Lines.yaml
  Solutions/Windows Security Events/Hunting Queries/Least_Common_Process_With_Depth.yaml
Labels: Solution, Hunting

#7630 Windows Security Events - Hunting query updates
  Solutions/Windows Security Events/Hunting Queries/MultipleExplicitCredentialUsage4648Events.yaml
  Solutions/Windows Security Events/Hunting Queries/NishangReverseTCPShellBase64.yaml
  Solutions/Windows Security Events/Hunting Queries/ProcessEntropy.yaml
  Solutions/Windows Security Events/Hunting Queries/RareProcbyServiceAccount.yaml
  Solutions/Windows Security Events/Hunting Queries/RareProcessPath.yaml
  Solutions/Windows Security Events/Hunting Queries/RareProcessWithCmdLine.yaml
  Solutions/Windows Security Events/Hunting Queries/RareProcess_forWinHost.yaml
  Solutions/Windows Security Events/Hunting Queries/Suspicious_Windows_Login_outside_normal_hours.yaml
  Solutions/Windows Security Events/Hunting Queries/Suspicious_enumeration_using_adfind.yaml
Labels: Solution, Hunting

#7590 Adding entity-trigger playbooks to Palo Alto
  Solutions/PaloAlto-PAN-OS/Hunting Queries/Palo Alto - potential beaconing detected.yaml
  Solutions/PaloAlto-PAN-OS/Package/2.0.2.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockIP/entity-trigger/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAlto-PAN-OS-BlockURL/entity-trigger/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoCustomConnector/PaloAlto_PAN-OS_Rest_API_CustomConnector/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoCustomConnector/PaloAlto_PAN-OS_XML_API_CustomConnector/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
Labels: Playbook, Solution

#7554 Auth0 Repackaging Changes for parser and data connector fixes
  Solutions/Auth0/Data/Solution_Auth0.json
  Solutions/Auth0/Package/2.0.1.zip
  Solutions/Auth0/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Solution

#7643 Windows Security Events - entity mapping and version property updates
  Solutions/Windows Security Events/Hunting Queries/UserAccountAddedToPrivlegeGroup.yaml
  Solutions/Windows Security Events/Hunting Queries/UserAccountCreatedDeleted.yaml
  Solutions/Windows Security Events/Hunting Queries/UserAdd_RemToGroupByUnauthorizedUser.yaml
  Solutions/Windows Security Events/Hunting Queries/UserCreatedByUnauthorizedUser.yaml
  Solutions/Windows Security Events/Hunting Queries/VIPAccountFailedLogons.yaml
  Solutions/Windows Security Events/Hunting Queries/WindowsSystemTimeChange.yaml
Labels: Solution, Hunting

#7632 Microsoft Defender Threat Intelligence Solution
  Solutions/Microsoft Defender Threat Intelligence/Data/Solution_MicrosoftDefenderThreatIntelligence.json
  Solutions/Microsoft Defender Threat Intelligence/Package/2.0.0.zip
  Solutions/Microsoft Defender Threat Intelligence/Package/createUiDefinition.json
  Solutions/Microsoft Defender Threat Intelligence/Package/mainTemplate.json
  Solutions/Microsoft Defender Threat Intelligence/SolutionMetadata.json
Labels: Solution

#7654 Windows Security Events - Hunting Queries Entity mapping updates 2
  Solutions/Windows Security Events/Hunting Queries/MultipleExplicitCredentialUsage4648Events.yaml
  Solutions/Windows Security Events/Hunting Queries/NishangReverseTCPShellBase64.yaml
  Solutions/Windows Security Events/Hunting Queries/ProcessEntropy.yaml
  Solutions/Windows Security Events/Hunting Queries/RareProcbyServiceAccount.yaml
  Solutions/Windows Security Events/Hunting Queries/RareProcessPath.yaml
  Solutions/Windows Security Events/Hunting Queries/RareProcessWithCmdLine.yaml
  Solutions/Windows Security Events/Hunting Queries/RareProcess_forWinHost.yaml
  Solutions/Windows Security Events/Hunting Queries/Suspicious_Windows_Login_outside_normal_hours.yaml
  Solutions/Windows Security Events/Hunting Queries/Suspicious_enumeration_using_adfind.yaml
Labels: Solution, Hunting

#7653 Repackaging AAD IP solution with Analytic Rule updates
  Solutions/Azure Active Directory Identity Protection/Analytic Rules/CorrelateIPC_Unfamiliar-Atypical.yaml
  Solutions/Azure Active Directory Identity Protection/Data Connectors/template_AzureActiveDirectoryIdentityProtection.JSON
  Solutions/Azure Active Directory Identity Protection/Data/Solution_AzureADIdentityProtection.json
  Solutions/Azure Active Directory Identity Protection/Package/2.0.6.zip
  Solutions/Azure Active Directory Identity Protection/Package/createUiDefinition.json
  Solutions/Azure Active Directory Identity Protection/Package/mainTemplate.json
Labels: Solution

#7656 Updated hunting rules windows security 1
  Solutions/Windows Security Events/Hunting Queries/cscript_summary.yaml
  Solutions/Windows Security Events/Hunting Queries/enumeration_user_and_group.yaml
  Solutions/Windows Security Events/Hunting Queries/masquerading_files.yaml
  Solutions/Windows Security Events/Hunting Queries/new_processes.yaml
  Solutions/Windows Security Events/Hunting Queries/powershell_downloads.yaml
  Solutions/Windows Security Events/Hunting Queries/powershell_newencodedscipts.yaml
  Solutions/Windows Security Events/Hunting Queries/uncommon_processes.yaml
Labels: Solution, Hunting

#7638 Minor changes in Hunting queries
  Solutions/Azure Activity/Hunting Queries/AnalyticsRulesAdministrativeOperations.yaml
  Solutions/Azure Activity/Hunting Queries/Anomalous_Listing_Of_Storage_Keys.yaml
  Solutions/Azure Activity/Hunting Queries/AzureAdministrationFromVPS.yaml
  Solutions/Azure Activity/Hunting Queries/AzureNSG_AdministrativeOperations.yaml
  Solutions/Azure Activity/Hunting Queries/AzureRunCommandFromAzureIP.yaml
  Solutions/Azure Activity/Hunting Queries/AzureSentinelConnectors_AdministrativeOperations.yaml
  Solutions/Azure Activity/Hunting Queries/AzureSentinelWorkbooks_AdministrativeOperation.yaml
  Solutions/Azure Activity/Hunting Queries/AzureVirtualNetworkSubnets_AdministrativeOperationset.yaml
  Solutions/Azure Activity/Hunting Queries/Common_Deployed_Resources.yaml
  Solutions/Azure Activity/Hunting Queries/Creating_Anomalous_Number_Of_Resources.yaml
  Solutions/Azure Activity/Hunting Queries/Granting_Permissions_to_Account.yaml
  Solutions/Azure Activity/Hunting Queries/PortOpenedForAzureResource.yaml
  Solutions/Azure Activity/Hunting Queries/Rare_Custom_Script_Extension.yaml
Labels: Solution, Hunting

#7657 Update uncommon_processes.yaml to add version
  Solutions/Windows Security Events/Hunting Queries/uncommon_processes.yaml
Labels: Solution, Hunting

#7421 Added 2 new queries related to suspicious BEC file access.
  Detections/ASimFileEvent/SuspiciousAccessOfBECRelatedDocuments.yaml
  Detections/AWSCloudTrail/SuspiciousAccessOfBECRelatedDocumentsInAWSS3Buckets.yaml
Labels: ASIM, Detection

#7635 Semperis dsp updates
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Failed_Logons.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Operations_Critical_Notifications_.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_RBAC_Changes.yaml
  Solutions/Semperis Directory Services Protector/Data/Solution_Semperis.json
  Solutions/Semperis Directory Services Protector/Package/2.0.5.zip
  Solutions/Semperis Directory Services Protector/Package/createUiDefinition.json
  Solutions/Semperis Directory Services Protector/Package/mainTemplate.json
  Solutions/Semperis Directory Services Protector/Workbooks/Images/Preview/adchanges-black.png
  Solutions/Semperis Directory Services Protector/Workbooks/Images/Preview/adchanges-white.png
  Solutions/Semperis Directory Services Protector/Workbooks/Images/Preview/indicators-black.png
  Solutions/Semperis Directory Services Protector/Workbooks/Images/Preview/indicators-white.png
  Solutions/Semperis Directory Services Protector/Workbooks/Images/Preview/notifications-black.png
  Solutions/Semperis Directory Services Protector/Workbooks/Images/Preview/notifications-white.png
  Solutions/Semperis Directory Services Protector/Workbooks/Images/Preview/quickview-black.png
  Solutions/Semperis Directory Services Protector/Workbooks/Images/Preview/quickview-white.png
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPADChanges.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPNotifications.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPQuickviewDashboard.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPSecurityIndicators.json
  Solutions/Semperis Directory Services Protector/Workbooks/workbooksMetadata.json
Labels: Solution, Analytic Rules

#7652 Qualys VM KB
  Solutions/Pulse Connect Secure/Data/Solution_Pulse Connect Secure.json
  Solutions/Pulse Connect Secure/Package/2.0.2.zip
  Solutions/Pulse Connect Secure/Package/createUiDefinition.json
  Solutions/Qualys VM Knowledgebase/Data Connectors/AzureFunctionQualysKB/run.ps1
  Solutions/Qualys VM Knowledgebase/Package/2.0.1.zip
  Solutions/Qualys VM Knowledgebase/Package/mainTemplate.json
Labels: Solution

#6921 [DO NOT MERGE]ZPA Parser Optimization
  Solutions/Zscaler Private Access (ZPA)/Data/Solution_Zscaler Private Access (ZPA).json
  Solutions/Zscaler Private Access (ZPA)/Package/2.0.1.zip
  Solutions/Zscaler Private Access (ZPA)/Package/mainTemplate.json
  Solutions/Zscaler Private Access (ZPA)/Parsers/ZPAEvent.txt
  Solutions/Zscaler Private Access (ZPA)/SolutionMetadata.json
Labels: Parser

#7394 Packaged content for MailRisk Solution
  Solutions/MailRisk/Data Connectors/azuredeploy_SecurePractice_MailRisk.json
  Solutions/MailRisk/Data/Solution_SecurePracticeMailRisk.json
  Solutions/MailRisk/Package/2.0.0.zip
  Solutions/MailRisk/Package/createUiDefinition.json
  Solutions/MailRisk/Package/mainTemplate.json
  Solutions/MailRisk/SolutionMetadata.json
Labels: Solution

#7631 Conditional access trends and changes
  Workbooks/ConditionalAccessTrendsandChanges.json
  Workbooks/Images/Preview/catrendsBlack.png
  Workbooks/Images/Preview/catrendsWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7586 Update vmImage to ubuntu-latest
  .azure-pipelines/NonAsciiValidations.yaml
  .azure-pipelines/contentValidations.yaml
  .azure-pipelines/dataConnectorValidations.yaml
  .azure-pipelines/detectionTemplateSchemaValidation.yaml
  .azure-pipelines/detectionsValidations.yaml
  .azure-pipelines/documentsLinkValidator.yaml
  .azure-pipelines/hyperLinkValidations.yaml
  .azure-pipelines/jsonFileValidator.yaml
  .azure-pipelines/logoValidator.yaml
  .azure-pipelines/playbooksValidations.yaml
  .azure-pipelines/sampleDataValidator.yaml
  .azure-pipelines/solutionValidator.yaml
  .azure-pipelines/workbooksTemplateValidations.yaml
  .azure-pipelines/workbooksValidations.yaml
  .azure-pipelines/yamlFileValidator.yaml
Labels: Validation, Tools

#7665 Windows Security Events
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/2.0.3.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
Labels: Solution

#7667 Repackaging ProofPointPOD
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/SkipStrcutreValidationsTemplates.json
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Detections/ProofpointPOD/ProofpointPODEmailSenderIPinTIList.yaml
  Detections/ProofpointPOD/ProofpointPODEmailSenderInTIList.yaml
  Solutions/Proofpoint On demand(POD) Email Security/Analytic Rules/ProofpointPODEmailSenderIPinTIList.yaml
  Solutions/Proofpoint On demand(POD) Email Security/Analytic Rules/ProofpointPODEmailSenderInTIList.yaml
  Solutions/Proofpoint On demand(POD) Email Security/Data/Solution_ProofPointPOD.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/2.0.5.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Solution

#7664 Repackaging Azure Activity with queries updates
  Solutions/Azure Activity/Analytic Rules/Creation_of_Expensive_Computes_in_Azure.yaml
  Solutions/Azure Activity/Analytic Rules/Granting_Permissions_To_Account_detection.yaml
  Solutions/Azure Activity/Analytic Rules/NRT_Creation_of_Expensive_Computes_in_Azure.yaml
  Solutions/Azure Activity/Analytic Rules/New-CloudShell-User.yaml
  Solutions/Azure Activity/Analytic Rules/RareOperations.yaml
  Solutions/Azure Activity/Data/Solution_AzureActivity.json
  Solutions/Azure Activity/Package/2.0.4.zip
  Solutions/Azure Activity/Package/createUiDefinition.json
  Solutions/Azure Activity/Package/mainTemplate.json
Labels: Solution

#7608 New queries for AAD Connect and OAuth app abuse
  Detections/BehaviorAnalytics/SuspiciousSigninByAADConnectAccount.yaml
  Hunting Queries/MultipleDataSources/PotentialSSHTunneltoAADConnectHost.yaml
  Solutions/Azure Active Directory/Analytic Rules/ExchangeFullAccessGrantedToApp.yaml
Labels: Solution, Detection, Hunting

#7684 Fixing Concurrency for the Nested "For Loop" in the playbook
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-WebComponents/azuredeploy.json
Labels: Playbook, Solution

#7685 GCP Audit Log Repackaging Changes
  Solutions/Google Cloud Platform Audit Logs/Package/2.0.0.zip
  Solutions/Google Cloud Platform Audit Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Audit Logs/Package/mainTemplate.json
  Solutions/Google Cloud Platform Audit Logs/logo/Google-Cloud-Branding.png
Labels: Solution

#7680 update Analytic templates and fix workbook
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-HighSeverityDetection-by-Tactics.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-NewCampaign.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Suspected-Behavior-by-Tactics.yaml
  Solutions/Vectra AI Detect/Workbooks/AIVectraDetectWorkbook.json
Labels: Workbook, Solution, Analytic Rules

#7674 Updating workbook queries to support VPN Gateway
  Solutions/MaturityModelForEventLogManagementM2131/Package/2.0.4.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/Workbooks/MaturityModelForEventLogManagement_M2131.json
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
Labels: Solution

#7676 add support to MK
  DataConnectors/CEF/cef_AMA_troubleshoot.py
Labels: Connector

#7689 Package of syslog
  Solutions/Syslog/Data/Solution_syslog.json
  Solutions/Syslog/Package/2.0.3.zip
  Solutions/Syslog/Package/createUiDefinition.json
  Solutions/Syslog/Package/mainTemplate.json
Labels: Solution

#7690 Windows Security Events - Workbook Improvs
  Solutions/Windows Security Events/Workbooks/IdentityAndAccess.json
Labels: Workbook

#7671 Azure SQL - Hunting query improvements
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-AffectedRowAnomaly.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-BooleanBlindSQLi.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-ExecutionTimeAnomaly.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-PrevalenceBasedQuerySizeAnomaly.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-SuspiciousStoredProcedures.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-TimeBasedQuerySizeAnomaly.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-VolumeAffectedRowsStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Hunting Queries/HuntingQuery-VolumeResponseRowsStatefulAnomalyOnDatabase.yaml
Labels: Solution, Hunting

#7669 Updating Azure SQL database analytics rules
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-ErrorsCredentialStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-ErrorsFirewallStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-ErrorsSyntaxStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsDropStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsExecutionStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsFirewallRuleStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsOLEObjectStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-HotwordsOutgoingStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-VolumeAffectedRowsStatefulAnomalyOnDatabase.yaml
  Solutions/Azure SQL Database solution for sentinel/Analytic Rules/Detection-VolumeResponseRowsStatefulAnomalyOnDatabase.yaml
Labels: Solution, Analytic Rules
