Repository Azure/Azure-Sentinel, pull requests merged in 2023-12, with the labels that each got.

#9464 Digital Shadows & Dynatrace - Add Entity mappings
  Solutions/Digital Shadows/Analytic Rules/Digital_Shadows_incident_creation_exclude.yaml
  Solutions/Digital Shadows/Analytic Rules/Digital_Shadows_incident_creation_include.yaml
  Solutions/Digital Shadows/Data Connectors/Digital Shadows/DigitalShadowsSearchlight_API_functionApp.json
  Solutions/Digital Shadows/Data/Solution_DigitalShadowsSearchlight.json
  Solutions/Digital Shadows/Package/3.0.0.zip
  Solutions/Digital Shadows/Package/createUiDefinition.json
  Solutions/Digital Shadows/Package/mainTemplate.json
  Solutions/Digital Shadows/ReleaseNotes.md
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_CodeLevelVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_NonCriticalVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_ThirdPartyVulnerabilityDetection.yaml
  Solutions/Dynatrace/Package/3.0.1.zip
  Solutions/Dynatrace/Package/mainTemplate.json
  Solutions/Dynatrace/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package, P0

#9517 Prancer: fix items from manual validation
  .vscode/settings.json
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Disks_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Flow_Logs_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Network_Security_Groups_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/PAC_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Registries_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Sites_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Storage_Accounts_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Subnets_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/VM_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Vaults_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Virtual_Networks_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Data Connectors/PrancerLogData.json
  Solutions/Prancer PenSuiteAI Integration/Package/3.0.0.zip
  Solutions/Prancer PenSuiteAI Integration/Package/createUiDefinition.json
  Solutions/Prancer PenSuiteAI Integration/Package/mainTemplate.json
Labels: Solution

#9498 Repackage - AzureSecurityBenchmark , KQL Training , SOC Handbook - Rebranding Changes
  Solutions/AzureSecurityBenchmark/Data/Solution_AzureSecurityBenchmark.json
  Solutions/AzureSecurityBenchmark/Package/3.0.0.zip
  Solutions/AzureSecurityBenchmark/Package/createUiDefinition.json
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
  Solutions/AzureSecurityBenchmark/ReleaseNotes.md
  Solutions/AzureSecurityBenchmark/Workbooks/AzureSecurityBenchmark.json
  Solutions/KQL Training/Data/Solution_KQL Training.json
  Solutions/KQL Training/Package/3.0.1.zip
  Solutions/KQL Training/Package/mainTemplate.json
  Solutions/KQL Training/ReleaseNotes.md
  Solutions/KQL Training/Workbooks/AdvancedKQL.json
  Solutions/SOC Handbook/Package/3.0.3.zip
  Solutions/SOC Handbook/Package/createUiDefinition.json
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/ReleaseNotes.md
  Solutions/SOC Handbook/Workbooks/AzureSentinelCost.json
  Solutions/SOC Handbook/Workbooks/InvestigationInsights.json
  Solutions/SOC Handbook/Workbooks/MITREAttack.json
Labels: Solution, Content-Package

#8411 ASIM WebSession schema parser with test results for Cisco Firepower.
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionCiscoFirepower.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionCiscoFirepower.yaml
  Parsers/ASimWebSession/Test/Cisco_Firepower_ASimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/Cisco_Firepower_ASimWebSession_SchemaTest.csv
  Parsers/ASimWebSession/Test/Cisco_Firepower_vimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/Cisco_Firepower_vimWebSession_SchemaTest.csv
  Sample Data/ASIM/Cisco_Firepower_ASimWebSession_IngestedLogs.csv
  Sample Data/ASIM/Cisco_Firepower_ASimWebSession_RawLogs.txt
  Sample Data/ASIM/CommonSecurityLog_Schema.csv
Labels: ASIM

#9528 Update links
  Solutions/AzureSecurityBenchmark/Package/3.0.0.zip
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
  Solutions/AzureSecurityBenchmark/Workbooks/AzureSecurityBenchmark.json
  Solutions/KQL Training/Package/3.0.1.zip
  Solutions/KQL Training/Package/mainTemplate.json
  Solutions/KQL Training/Workbooks/AdvancedKQL.json
  Solutions/SOC Handbook/Package/3.0.3.zip
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/Workbooks/InvestigationInsights.json
  Solutions/SOC Handbook/Workbooks/MITREAttack.json
Labels: Solution, Content-Package

#8923 ASIM WebSession Event schema parser with its sample and test data for CitrixNetscalerWAF
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionCitrixNetScaler.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionCitrixNetScaler.yaml
  Parsers/ASimWebSession/Test/Citrix_NetScaler_ASimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/Citrix_NetScaler_ASimWebSession_SchemaTest.csv
  Parsers/ASimWebSession/Test/Citrix_NetScaler_vimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/Citrix_NetScaler_vimWebSession_SchemaTest.csv
  Sample Data/ASIM/Citrix_NetScaler_ASimWebSession_IngestedLogs.csv
  Sample Data/ASIM/CommonSecurityLog_Schema.csv
Labels: ASIM

#9481 ForeScout & Github - Add missing entity
  Solutions/ForescoutHostPropertyMonitor/Analytic Rules/ForeScout-DNSSniffEventMonitor.yaml
  Solutions/GitHub/Analytic Rules/Security Vulnerability in Repo.yaml
Labels: Solution, Analytic Rules, P0

#9523 01 12 2023 as ip blocklist remove i ps
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Access_1.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Access_2.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Access_3.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_1.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_10.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_2.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_3.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_4.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_5.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_6.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_7.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_8.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_App_Registration_9.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_List_1.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_List_2.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Create_List_3.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Demo.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Deploy_1.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Deploy_2.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Deploy_3.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Key_Vault_1.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Key_Vault_2.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/Images/NamedLocations_Key_Vault_3.png
  Playbooks/AS-IP-Blocklist-Remove-IPs/README.md
  Playbooks/AS-IP-Blocklist-Remove-IPs/azuredeploy.json
Labels: Playbook

#9525 Atlassian Payload update in integration
  .script/tests/KqlvalidationsTests/CustomTables/atlassian_beacon_alerts_CL.json
  Sample Data/Custom/AtlassianBeacon.json
  Solutions/Atlassian Beacon/Analytic Rules/AtlassianBeacon_High.yaml
  Solutions/Atlassian Beacon/Package/3.0.1.zip
  Solutions/Atlassian Beacon/Package/createUiDefinition.json
  Solutions/Atlassian Beacon/Package/mainTemplate.json
  Solutions/Atlassian Beacon/Playbooks/Sync Alerts/azuredeploy.json
  Solutions/Atlassian Beacon/ReleaseNotes.md
Labels: Solution

#9530 Repackaging- Zoom Reports
  Solutions/ZoomReports/Data/Solution_ZoomReports.json
  Solutions/ZoomReports/Data/system_generated_metadata.json
  Solutions/ZoomReports/Package/3.0.1.zip
  Solutions/ZoomReports/Package/createUiDefinition.json
  Solutions/ZoomReports/Package/mainTemplate.json
  Solutions/ZoomReports/ReleaseNotes.md
Labels: Solution, Content-Package

#9064 Updated entity mappings
  Detections/SecurityEvent/MidnightBlizzard_SuspiciousScriptRegistryWrite.yaml
Labels: Detection

#9524 Update parser to extract additional fields
  Solutions/Zscaler Private Access (ZPA)/Parsers/ZPAEvent.yaml
Labels: Solution

#8828 ASIM File Event schema parser with its sample and test data for VMware Carbon Black Cloud
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimFileEvent/Parsers/ASimFileEvent.yaml
  Parsers/ASimFileEvent/Parsers/ASimFileEventVMwareCarbonBlackCloud.yaml
  Parsers/ASimFileEvent/Parsers/imFileEvent.yaml
  Parsers/ASimFileEvent/Parsers/vimFileEventVMwareCarbonBlackCloud.yaml
  Parsers/ASimFileEvent/test/VMwareCarbonBlackCloud_ASimFileEvent_DataTest.csv
  Parsers/ASimFileEvent/test/VMwareCarbonBlackCloud_ASimFileEvent_SchemaTest.csv
  Parsers/ASimFileEvent/test/VMwareCarbonBlackCloud_vimFileEvent_DataTest.csv
  Parsers/ASimFileEvent/test/VMwareCarbonBlackCloud_vimFileEvent_SchemaTest.csv
  Sample Data/ASIM/VMwareCarbonBlackCloud_vimFileEvent_IngestedLogs.csv
  Sample Data/ASIM/VMwareCarbonBlackCloud_vimFileEvent_RawLogs.json
Labels: ASIM

#8845 ASIM Web Session schema parser with its sample and test data for F5 ASM(Aaplication Security Manager)
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionF5ASM.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionF5ASM.yaml
  Parsers/ASimWebSession/Test/F5_ASM_ASimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/F5_ASM_ASimWebSession_SchemaTest.csv
  Parsers/ASimWebSession/Test/F5_ASM_vimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/F5_ASM_vimWebSession_SchemaTest.csv
  Sample Data/ASIM/F5_ASM_ASimWebSession_IngestedLogs.csv
  Sample Data/ASIM/F5_ASM_ASimWebSession_RawLogs.txt
Labels: ASIM

#9544 removing __MACOSX metadata files from zip file
  Solutions/AbnormalSecurity/Data Connectors/AbnormalSecurityConn.zip
Labels: Connector, Solution

#8774 ASIM Network Session Event schema parser with its sample and test data for VMware Carbon Black Cloud
  .script/tests/KqlvalidationsTests/CustomTables/CarbonBlackNotifications_CL.json
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionVMwareCarbonBlackCloud.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionVMwareCarbonBlackCloud.yaml
  Parsers/ASimNetworkSession/Tests/VMwareCarbonBlackCloud_ASimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/VMwareCarbonBlackCloud_ASimNetworkSession_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/VMwareCarbonBlackCloud_vimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/VMwareCarbonBlackCloud_vimNetworkSession_SchemaTest.csv
  Sample Data/ASIM/CarbonBlackNotifications_CL_Schema.csv
  Sample Data/ASIM/VMwareCarbonBlackCloud_ASimNetworkSession_IngestedLogs.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimNetworkSessionThreat_IngestedLogs.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimNetworkSessionThreat_RawLogs.json
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimNetworkSession_IngestedLogs.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimNetworkSession_RawLogs.json
Labels: ASIM

#9550 Repackaged the DataminrPulse Solution with updated version 3.0.1
  Solutions/Dataminr Pulse/Data/Solution_DataminrPulse.json
  Solutions/Dataminr Pulse/Package/3.0.1.zip
  Solutions/Dataminr Pulse/Package/mainTemplate.json
  Solutions/Dataminr Pulse/ReleaseNotes.md
Labels: Solution

#8680 ASIM Registry Event schema parser with its sample and test data for Trend Micro Vision One
  .script/tests/KqlvalidationsTests/CustomTables/TrendMicro_XDR_OAT_CL.json
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimRegistryEvent/Parsers/ASimRegistry.yaml
  Parsers/ASimRegistryEvent/Parsers/ASimRegistryEventTrendMicroVisionOne.yaml
  Parsers/ASimRegistryEvent/Parsers/imRegistry.yaml
  Parsers/ASimRegistryEvent/Parsers/vimRegistryEventTrendMicroVisionOne.yaml
  Parsers/ASimRegistryEvent/test/TrendMicro_VisionOne_ASimRegistryEvent_DataTest.csv
  Parsers/ASimRegistryEvent/test/TrendMicro_VisionOne_ASimRegistryEvent_SchemaTest.csv
  Parsers/ASimRegistryEvent/test/TrendMicro_VisionOne_vimRegistryEvent_DataTest.csv
  Parsers/ASimRegistryEvent/test/TrendMicro_VisionOne_vimRegistryEvent_SchemaTest.csv
  Sample Data/ASIM/TrendMicroVisionOne_ASimProcessEvent_IngestedLogs.csv
  Sample Data/ASIM/TrendMicroVisionOne_ASimRegistryEvent_IngestedLogs.csv
  Sample Data/ASIM/TrendMicroVisionOne_ASimRegistryEvent_RawLogs.json
  Sample Data/ASIM/TrendMicro_XDR_OAT_CL_Schema.csv
Labels: ASIM

#9532 update data connector definiton and steps
  Solutions/RidgeSecurity/Data Connectors/RidgeSecurity.json
  Solutions/RidgeSecurity/Package/3.0.0.zip
  Solutions/RidgeSecurity/Package/createUiDefinition.json
  Solutions/RidgeSecurity/Package/mainTemplate.json
Labels: Solution

#9124 ASIM NetworkSession schema parser with its sample and test data for CrowdStrikeFalconHost
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCrowdStrikeFalconHost.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCrowdStrikeFalconHost.yaml
  Parsers/ASimNetworkSession/Tests/CrowdStrike_FalconHost_ASimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/CrowdStrike_FalconHost_ASimNetworkSession_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/CrowdStrike_FalconHost_vimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/CrowdStrike_FalconHost_vimNetworkSession_SchemaTest.csv
  Sample Data/ASIM/CrowdStrike_FalconHost_ASimNetworkSession_IngestedLogs.csv
  Sample Data/ASIM/CrowdStrike_FalconHost_ASimNetworkSession_RawLogs.txt
Labels: ASIM

#9519 Vectra AI SaaS - Initial Analytic templates
  .script/tests/KqlvalidationsTests/CustomTables/VectraDetections.json
  .script/tests/KqlvalidationsTests/CustomTables/VectraEntityScoring.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Vectra XDR/Analytic Rules/DetectXDR_Prioritized_Entities.yaml
  Solutions/Vectra XDR/Analytic Rules/DetectXDR_detections.yaml
Labels: Solution, Analytic Rules

#9552 update data connector definiton and steps
  Solutions/RidgeSecurity/Data Connectors/RidgeSecurity.json
  Solutions/RidgeSecurity/Package/3.0.0.zip
  Solutions/RidgeSecurity/Package/mainTemplate.json
  Solutions/RidgeSecurity/SolutionMetadata.json
Labels: Solution

#9554 Ermes solution publisher Update
  Solutions/Ermes Browser Security/Package/3.0.1.zip
  Solutions/Ermes Browser Security/Package/createUiDefinition.json
  Solutions/Ermes Browser Security/Package/mainTemplate.json
  Solutions/Ermes Browser Security/ReleaseNotes.md
  Solutions/Ermes Browser Security/SolutionMetadata.json
Labels: Solution, P0

#9541 Jamf Protect for Microsoft Sentinel - v3.0.1
  Solutions/Jamf Protect/Data Connectors/JamfProtect.json
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Package/3.0.1.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/Parsers/JamfProtect.txt
  Solutions/Jamf Protect/Parsers/JamfProtect.yaml
  Solutions/Jamf Protect/ReleaseNotes.md
Labels: Solution

#9536 Repackaging- Microsoft Exchange Security - Exchange Online and Windows Server DNS Solution
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.0.3.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
  Solutions/Windows Server DNS/Data Connectors/template_ASimDnsActivityLogs.JSON
  Solutions/Windows Server DNS/Data/Solution_DNS.json
  Solutions/Windows Server DNS/Package/3.0.0.zip
  Solutions/Windows Server DNS/Package/createUiDefinition.json
  Solutions/Windows Server DNS/Package/mainTemplate.json
  Solutions/Windows Server DNS/ReleaseNotes.md
Labels: Solution, Content-Package

#8776 ASIM Process Event schema parser with its sample and test data for VMware Carbon Black Cloud
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateVMwareCarbonBlackCloud.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEvent.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventCreate.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventTerminate.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessTerminateVMwareCarbonBlackCloud.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessCreate.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessEvent.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessTerminate.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateVMwareCarbonBlackCloud.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessTerminateVMwareCarbonBlackCloud.yaml
  Parsers/ASimProcessEvent/test/VMware_CarbonBlackCloud_ASimProcessCreate_DataTest.csv
  Parsers/ASimProcessEvent/test/VMware_CarbonBlackCloud_ASimProcessCreate_SchemaTest.csv
  Parsers/ASimProcessEvent/test/VMware_CarbonBlackCloud_ASimProcessTerminate_DataTest.csv
  Parsers/ASimProcessEvent/test/VMware_CarbonBlackCloud_ASimProcessTerminate_SchemaTest.csv
  Parsers/ASimProcessEvent/test/VMware_CarbonBlackCloud_vimProcessCreate_DataTest.csv
  Parsers/ASimProcessEvent/test/VMware_CarbonBlackCloud_vimProcessCreate_SchemaTest.csv
  Parsers/ASimProcessEvent/test/VMware_CarbonBlackCloud_vimProcessTerminate_DataTest.csv
  Parsers/ASimProcessEvent/test/VMware_CarbonBlackCloud_vimProcessTerminate_SchemaTest.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimProcessCreateThreat_IngestedLogs.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimProcessCreateThreat_RawLogs.json
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimProcessCreate_IngestedLogs.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimProcessCreate_RawLogs.json
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimProcessTerminate_IngestedLogs.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimProcessTerminate_RawLogs.json
Labels: ASIM

#9538 MimecastSEG : Enhanced data connector to use existing workspace
  Solutions/MimecastSEG/Data Connectors/azuredeploy_MimecastSEG_AzureFunctionApp.json
  Solutions/MimecastSEG/Package/3.0.1.zip
  Solutions/MimecastSEG/Package/mainTemplate.json
  Solutions/MimecastSEG/ReleaseNotes.md
Labels: Solution

#9556 Update Azure Firewall - Port Scan.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Port Scan.yaml
Labels: Solution, Analytic Rules

#9558 Update Create-NewSolutionAndRulesFromList.ps1
  Tools/Sentinel-All-In-One/v2/Scripts/Create-NewSolutionAndRulesFromList.ps1
Labels: Tools

#9567 Corrected links in SentinelSOARessentials
  Solutions/SentinelSOARessentials/Playbooks/CreateIncident-SharedMailbox/readme.md
  Solutions/SentinelSOARessentials/Playbooks/Defender_XDR_Ransomware_Playbook_for_SecOps-Tasks/azuredeploy.json
  Solutions/SentinelSOARessentials/Workbooks/IncidentTasksWorkbook.json
Labels: Solution, Content-Package

#9540 MimecastTTP : Enhanced data connector to use existing workspace
  Solutions/MimecastTTP/Data Connectors/azuredeploy_MimecastTTP_AzureFunctionApp.json
  Solutions/MimecastTTP/Package/3.0.1.zip
  Solutions/MimecastTTP/Package/mainTemplate.json
  Solutions/MimecastTTP/ReleaseNotes.md
Labels: Solution

#9560 fixing zip file
  Solutions/AbnormalSecurity/Data Connectors/AbnormalSecurityConn.zip
Labels: Connector, Solution

#9564 Atlassian Beacon Logo Update
  Logos/AtlassianBeacon_Logo.svg
Labels: Logo

#9570 UI Corrected for Cisco Umbrella
  Solutions/CiscoUmbrella/Package/3.0.0.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/ReleaseNotes.md
Labels: Solution

#9576 Updating Entity Mapping set #6
  Detections/SecurityAlert/DetectPIMAlertDisablingActivity.yaml
  Detections/SecurityAlert/Dev-0530AVHits.yaml
  Detections/SecurityAlert/HiveRansomwareAVHits.yaml
  Detections/SecurityAlert/MDE_hitsforADFandAzureSynapsePipelines.yaml
  Detections/SecurityAlert/Massdownload_USBFileCopy.yaml
  Detections/SecurityAlert/Solorigate-Defender-Detections.yaml
  Detections/SecurityAlert/Suspicious_WorkSpaceDeletion_Attempt.yaml
  Detections/SecurityEvent/AADHealthMonAgentRegKeyAccess.yaml
  Detections/SecurityEvent/AADHealthSvcAgentRegKeyAccess.yaml
  Detections/SecurityEvent/ADFSAbnormalEnhancedKeyUsageAttribute-OID.yaml
  Detections/SecurityEvent/AccessibilityFeaturesModification.yaml
  Detections/SecurityEvent/AdminSDHolder_Modifications.yaml
  Detections/SecurityEvent/COMEventSystemLoadingNewDLL.yaml
  Detections/SecurityEvent/DSRMAccountAbuse.yaml
  Detections/SecurityEvent/FakeComputerAccountCreated.yaml
  Detections/SecurityEvent/GroupCreatedAddedToPrivlegeGroup_1h.yaml
  Detections/SecurityEvent/MidnightBlizzard_SuspiciousRundll32Exec.yaml
  Detections/SecurityEvent/PotenialResourceBasedConstrainedDelegationAbuse.yaml
  Detections/SecurityEvent/PotentialBuildProcessCompromise.yaml
  Detections/SecurityEvent/PotentialKerberoast.yaml
  Detections/SecurityEvent/password_never_expires.yaml
Labels: Analytic Rules, CoreEntityFix

#9430 SecurityEvent Entity Updates Second Half
  Detections/SecurityEvent/RDP_MultipleConnectionsFromSingleSystem.yaml
  Detections/SecurityEvent/RDP_Nesting.yaml
  Detections/SecurityEvent/RDP_RareConnection.yaml
  Detections/SecurityEvent/SilkTyphoonNewUMServiceChildProcess.yaml
  Detections/SecurityEvent/SilkTyphoonSuspiciousUMServiceError.yaml
  Detections/SecurityEvent/SolorigateNamedPipe.yaml
  Detections/SecurityEvent/UserAccountAdd-Removed.yaml
  Detections/SecurityEvent/UserAccountAddedToPrivlegeGroup_1h.yaml
  Detections/SecurityEvent/UserAccountCreatedDeleted_10m.yaml
  Detections/SecurityEvent/UserAccountEnabledDisabled_10m.yaml
  Detections/SecurityEvent/UserCreatedAddedToBuiltinAdmins_1d.yaml
  Detections/SecurityEvent/UserPrincipalNameAssignedToUserAccount.yaml
  Detections/SecurityEvent/password_never_expires.yaml
Labels: Detection, CoreEntityFix

#9545 initial copy of Accelerynt-Security AS-Enable-Microsoft-Entra-ID-User…
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_1.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_10.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_11.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_2.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_3.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_4.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_5.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_6.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_7.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_8.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_App_Registration_9.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Demo_1.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Demo_2.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Deploy_1.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Deploy_2.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Deploy_3.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Key_Vault_1.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Key_Vault_2.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Key_Vault_3.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Key_Vault_Access_1.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Key_Vault_Access_2.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Key_Vault_Access_3.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Disable_User_Key_Vault_Access_4.png
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/README.md
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/azuredeploy.json
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_1.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_10.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_11.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_2.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_3.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_4.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_5.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_6.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_7.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_8.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_App_Registration_9.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Demo_1.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Demo_2.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Deploy_1.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Deploy_2.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Deploy_3.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Key_Vault_1.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Key_Vault_2.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Key_Vault_3.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Key_Vault_Access_1.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Key_Vault_Access_2.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Key_Vault_Access_3.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/Images/Azure_AD_Enable_User_Key_Vault_Access_4.png
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/README.md
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/azuredeploy.json
Labels: Playbook

#9573 Update for best practice and release notes
  Solutions/RidgeSecurity/Data/Solution_RidgeSecurity.json
  Solutions/RidgeSecurity/Package/3.0.0.zip
  Solutions/RidgeSecurity/Package/mainTemplate.json
Labels: Solution

#9580 corrected AtlassianBeacon_Logo.svg
  Logos/AtlassianBeacon_Logo.svg
Labels: Logo

#9539 MimecastTIRegional : Enhanced data connector to use existing workspace
  Solutions/MimecastTIRegional/Data Connectors/azuredeploy_MimecastTIRegional_AzureFunctionApp.json
  Solutions/MimecastTIRegional/Package/3.0.1.zip
  Solutions/MimecastTIRegional/Package/mainTemplate.json
  Solutions/MimecastTIRegional/ReleaseNotes.md
Labels: Solution

#9537 MimecastAudit : Enhanced data connector to use existing workspace
  Solutions/MimecastAudit/Data Connectors/azuredeploy_MimecastAudit_AzureFunctionApp.json
  Solutions/MimecastAudit/Package/3.0.1.zip
  Solutions/MimecastAudit/Package/mainTemplate.json
  Solutions/MimecastAudit/ReleaseNotes.md
Labels: Solution

#9489 TenableAD - Update Analytic rule for entity mapping
  Solutions/TenableAD/Analytic Rules/TenableAdADAttacksPathways.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdDCShadow.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdDCSync.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdGoldenTicket.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdIndicatorsOfAttack.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdIndicatorsOfExposures.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdLSASSMemory.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdPasswordGuessing.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdPasswordIssues.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdPasswordSpraying.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdPrivilegedAccountIssues.yaml
  Solutions/TenableAD/Analytic Rules/TenableAdUserAccountIssues.yaml
Labels: Analytic Rules

#9589 Vmware Carbon Black Parser Changes
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoFirepower/ASimNetworkSessionCiscoFirepower.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoFirepower/README.md
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCrowdStrikeFalconHost/ASimNetworkSessionCrowdStrikeFalconHost.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCrowdStrikeFalconHost/README.md
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionSentinelOne/ASimNetworkSessionSentinelOne.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionSentinelOne/README.md
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionVMwareCarbonBlackCloud/ASimNetworkSessionVMwareCarbonBlackCloud.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionVMwareCarbonBlackCloud/README.md
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoFirepower/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoFirepower/vimNetworkSessionCiscoFirepower.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCrowdStrikeFalconHost/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCrowdStrikeFalconHost/vimNetworkSessionCrowdStrikeFalconHost.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionSentinelOne/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionSentinelOne/vimNetworkSessionSentinelOne.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionVMwareCarbonBlackCloud/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionVMwareCarbonBlackCloud/vimNetworkSessionVMwareCarbonBlackCloud.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionVMwareCarbonBlackCloud.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionVMwareCarbonBlackCloud.yaml
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateVMwareCarbonBlackCloud/ASimProcessCreateVMwareCarbonBlackCloud.json
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateVMwareCarbonBlackCloud/README.md
  Parsers/ASimProcessEvent/ARM/ASimProcessEvent/ASimProcessEvent.json
  Parsers/ASimProcessEvent/ARM/ASimProcessEventCreate/ASimProcessEventCreate.json
  Parsers/ASimProcessEvent/ARM/ASimProcessEventTerminate/ASimProcessEventTerminate.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateVMwareCarbonBlackCloud/ASimProcessTerminateVMwareCarbonBlackCloud.json
  Parsers/ASimProcessEvent/ARM/ASimProcessTerminateVMwareCarbonBlackCloud/README.md
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
  Parsers/ASimProcessEvent/ARM/imProcessCreate/imProcessCreate.json
  Parsers/ASimProcessEvent/ARM/imProcessEvent/imProcessEvent.json
  Parsers/ASimProcessEvent/ARM/imProcessTerminate/imProcessTerminate.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateVMwareCarbonBlackCloud/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateVMwareCarbonBlackCloud/vimProcessCreateVMwareCarbonBlackCloud.json
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateVMwareCarbonBlackCloud/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessTerminateVMwareCarbonBlackCloud/vimProcessTerminateVMwareCarbonBlackCloud.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateVMwareCarbonBlackCloud.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateVMwareCarbonBlackCloud.yaml
Labels: ASIM

#9594 Entity map fix #7 - ASIM detections
  Detections/ASimAuthentication/imAuthBruteForce.yaml
  Detections/ASimAuthentication/imAuthPasswordSpray.yaml
  Detections/ASimAuthentication/imSigninAttemptsByIPviaDisabledAccounts.yaml
  Detections/ASimDNS/imDNS_Miners.yaml
  Detections/ASimDNS/imDNS_TorProxies.yaml
  Detections/ASimDNS/imDns_ExcessiveNXDOMAINDNSQueries.yaml
  Detections/ASimDNS/imDns_HighNXDomainCount_detection.yaml
  Detections/ASimFileEvent/imFileESolarWindsSunburstSupernova.yaml
  Detections/ASimProcess/NewEXEdeployedviaDefaultDomainorDefaultDomainControllerPolicies(ASIMVersion).yaml
  Detections/ASimProcess/Potentialre-namedsdeleteusage(ASIMVersion).yaml
  Detections/ASimProcess/SdeletedeployedviaGPOandrunrecursively(ASIMVersion).yaml
  Detections/ASimProcess/imFileEvent_Dev-0228FilePathHashesNovember2021(ASIMVersion).yaml
  Detections/ASimProcess/imProcess_AdFind_Usage.yaml
  Detections/ASimProcess/imProcess_MidnightBlizzard_SuspiciousRundll32Exec.yaml
  Detections/ASimProcess/imProcess_SolarWinds_SUNBURST_Process-IOCs.yaml
  Detections/ASimProcess/imProcess_base64_encoded_pefile.yaml
  Detections/ASimProcess/imProcess_malware_in_recyclebin.yaml
  Detections/ASimWebSession/DiscordCDNRiskyFileDownload_ASim.yaml
  Detections/ASimWebSession/UnusualUACryptoMiners.yaml
  Detections/ASimWebSession/UnusualUAHackTool.yaml
  Detections/ASimWebSession/UnusualUAPowershell.yaml
  Detections/SecurityEvent/AADHealthMonAgentRegKeyAccess.yaml
  Solutions/Windows Security Events/Analytic Rules/password_not_set.yaml
Labels: ASIM, Analytic Rules, CoreEntityFix

#9597 Repackage - PaloAlto-PAN-OS (Playbook issue fixed)
  Solutions/PaloAlto-PAN-OS/Package/3.0.0.zip
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/Package/testParameters.json
  Solutions/PaloAlto-PAN-OS/Playbooks/PaloAltoPlaybooks/PaloAlto-PAN-OS-BlockURL/azuredeploy.json
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
Labels: Solution, Content-Package

#9603 DCR based logstash plugin - update sample file instruction
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
Labels: Connector

#9476 KQL Best Practices automation
  .azure-pipelines/kqlValidations.yaml
  .script/tests/KqlvalidationsTests/GitHubApiClient.cs
  .script/tests/KqlvalidationsTests/JsonFilesTestData/DataConnectorFilesLoader.cs
  .script/tests/KqlvalidationsTests/JsonFilesTestData/JsonFilesLoader.cs
  .script/tests/KqlvalidationsTests/KqlBestPracticesChecker.cs
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
  .script/tests/KqlvalidationsTests/Kqlvalidations.Tests.csproj
  .script/tests/KqlvalidationsTests/YamlFilesTestData/YamlFilesLoader.cs
Labels: scripts

#9598 Added permission: none for Slash command dispatch
  .github/workflows/slash-command-dispatch.yaml
Labels: Tools

#9605 added forward slash at the end of url
  .script/package-automation/package-service.ps1
Labels: Tools

#9583 Authomize - Add entity mapping to Analytic rules
  Solutions/Authomize/Analytic Rules/AWS_role_with_admin_privileges.yaml
  Solutions/Authomize/Analytic Rules/AWS_role_with_shadow_admin_privileges.yaml
  Solutions/Authomize/Analytic Rules/Access_to_AWS_without_MFA.yaml
  Solutions/Authomize/Analytic Rules/Admin_SaaS_account_detected.yaml
  Solutions/Authomize/Analytic Rules/Admin_password_wasnt_updated.yaml
  Solutions/Authomize/Analytic Rules/Chain_of_3_or_more_roles.yaml
  Solutions/Authomize/Analytic Rules/Detect_AWS_IAM_Users.yaml
  Solutions/Authomize/Analytic Rules/Empty_group_with_entitlements.yaml
  Solutions/Authomize/Analytic Rules/IaaS_admin_detected.yaml
  Solutions/Authomize/Analytic Rules/IaaS_policy_not_attached_to_any_identity.yaml
  Solutions/Authomize/Analytic Rules/IaaS_shadow_admin_detected.yaml
  Solutions/Authomize/Analytic Rules/New_direct_access_policy_was_granted.yaml
  Solutions/Authomize/Analytic Rules/New_service_account_gained_access_to_IaaS_resource.yaml
  Solutions/Authomize/Analytic Rules/Password_Exfiltration_over_SCIM.yaml
  Solutions/Authomize/Analytic Rules/Privileged_Machines_Exposed_to_the_Internet.yaml
  Solutions/Authomize/Analytic Rules/Refactor_AWS_policy_based_on_activities.yaml
  Solutions/Authomize/Analytic Rules/Stale_AWS_policy_attachment_to_identity.yaml
  Solutions/Authomize/Analytic Rules/Stale_IAAS_policy_attachment_to_role.yaml
  Solutions/Authomize/Analytic Rules/Unused_IaaS_Policy.yaml
  Solutions/Authomize/Analytic Rules/User_assigned_to_a_default_admin_role.yaml
  Solutions/Authomize/Analytic Rules/User_without_MFA.yaml
  Solutions/Authomize/Package/3.0.0.zip
  Solutions/Authomize/Package/mainTemplate.json
  Solutions/Authomize/Package/testParameters.json
  Solutions/Authomize/ReleaseNotes.md
Labels: Solution, Analytic Rules, P0

#9607 Minor code improvement in check checkSkipValidations
  .script/package-automation/checkSkipPackagingInfo.ps1
Labels: Tools

#9611 Fixed issue on Valid Json Check in Github pipeline
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools

#9130 Ingest-CanaryTokens: update CanaryToken API usage, Remove duplicate GeoIP, resourceTags and location as parameters, docs
  Playbooks/Ingest-CanaryTokens/azuredeploy.json
  Playbooks/Ingest-CanaryTokens/readme.md
Labels: Playbook

#9609 Update templates for PPInventory data connector
  DataConnectors/PPInventory/azuredeploy_PowerPlatformInventory_API_FunctionApp.json
  DataConnectors/PPInventory/createUIDef.json
Labels: Connector

#9618 🐛 Fix typo in ThreadId for Oracle WebLogic parser
  .script/tests/KqlvalidationsTests/CustomTables/OracleWebLogicServerEvent.json
  Solutions/OracleWebLogicServer/Data Connectors/Connector_OracleWebLogicServer_agent.json
  Solutions/OracleWebLogicServer/Data/Solution_OracleWebLogicServer.json
  Solutions/OracleWebLogicServer/Package/3.0.0.zip
  Solutions/OracleWebLogicServer/Package/createUiDefinition.json
  Solutions/OracleWebLogicServer/Package/mainTemplate.json
  Solutions/OracleWebLogicServer/Package/testParameters.json
  Solutions/OracleWebLogicServer/Parsers/OracleWebLogicServerEvent.txt
  Solutions/OracleWebLogicServer/Parsers/OracleWebLogicServerEvent.yaml
  Solutions/OracleWebLogicServer/ReleaseNotes.md
Labels: Parser, Solution

#9621 Updated the User and Behavior Analytics workbook
  Workbooks/Images/Preview/UserEntityBehaviorAnalyticsBlack2.png
  Workbooks/Images/Preview/UserEntityBehaviorAnalyticsWhite2.png
  Workbooks/UserEntityBehaviorAnalytics.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#9586 Added "GroupMembership has "Admin" condition for better extraction of admin accounts from the identity infotable
  Detections/SigninLogs/PrivilegedUserLogonfromnewASN.yaml
  Hunting Queries/MultipleDataSources/PrivilegedAccountPasswordChanges.yaml
  Hunting Queries/MultipleDataSources/PrivilegedAccountsLockedOut.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/PrivilegedAccountsSigninFailureSpikes.yaml
Labels: Solution, Detection, Hunting, Analytic Rules

#9631 Updating Forcepoint CSG Solution
  Solutions/Forcepoint CSG/Data/Solution_ForcepointCSG.json
  Solutions/Forcepoint CSG/Package/3.0.1.zip
  Solutions/Forcepoint CSG/Package/mainTemplate.json
  Solutions/Forcepoint CSG/Package/testParameters.json
  Solutions/Forcepoint CSG/Workbooks/ForcepointCloudSecuirtyGateway.json
  Workbooks/WorkbooksMetadata.json
Labels: Content-Package

#9633 Fix Premium MDTI connector kind
  Solutions/Threat Intelligence/Data Connectors/template_PremiumMicrosoftDefenderThreatIntelligence.json
Labels: dataconnector-cri, Solution

#9620 Rename 3.02.zip to 3.0.2.zip
  Solutions/Cloudflare/Package/3.0.2.zip
Labels: Solution

#9627 CTIS Playbook - Update playbook to add Grouping
  Solutions/Australian Cyber Security Centre/Package/3.0.2.zip
  Solutions/Australian Cyber Security Centre/Package/mainTemplate.json
  Solutions/Australian Cyber Security Centre/Package/testParameters.json
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/azuredeploy.json
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/readme.md
  Solutions/Australian Cyber Security Centre/ReleaseNotes.md
Labels: Content-Package

#9647 Updating CreateUi file for count issue
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.0.3.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
Labels: Solution

#9635 Corrected typo mistake Microsoft Windows DNS to Windows Server DNS
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Package/3.0.3.zip
  Solutions/Legacy IOC based Threat Protection/Package/createUiDefinition.json
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
  Solutions/Legacy IOC based Threat Protection/ReleaseNotes.md
  Solutions/Network Threat Protection Essentials/Data/Solution_NetworkThreatDetection.json
  Solutions/Network Threat Protection Essentials/Package/3.0.0.zip
  Solutions/Network Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Network Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Network Threat Protection Essentials/Package/testParameters.json
  Solutions/Network Threat Protection Essentials/ReleaseNotes.md
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Solutions/Zinc Open Source/Package/3.0.1.zip
  Solutions/Zinc Open Source/Package/createUiDefinition.json
  Solutions/Zinc Open Source/Package/mainTemplate.json
  Solutions/Zinc Open Source/Package/testParameters.json
  Solutions/Zinc Open Source/ReleaseNotes.md
Labels: Solution, Content-Package

#9595 Azure WAF - Analytic Rule Update
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/AFD-Premium-WAF-SQLiDetection.yaml
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/AFD-Premium-WAF-XSSDetection.yaml
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/App-GW-WAF-Code-Injection.yaml
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/App-GW-WAF-Path-Traversal-Attack.yaml
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/App-GW-WAF-Scanner-detection.yaml
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/MaliciousWAFSessions.yaml
  Solutions/Azure Web Application Firewall (WAF)/Data/Solution_AzureWAF.json
  Solutions/Azure Web Application Firewall (WAF)/Data/system_generated_metadata.json
  Solutions/Azure Web Application Firewall (WAF)/Package/3.0.0.zip
  Solutions/Azure Web Application Firewall (WAF)/Package/createUiDefinition.json
  Solutions/Azure Web Application Firewall (WAF)/Package/mainTemplate.json
  Solutions/Azure Web Application Firewall (WAF)/Package/testParameters.json
Labels: Solution, Content-Package, auto-package

#9424 Set Correct User AGent Strings for Dynatrace Connectors and Playbook templates
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_AttackDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_CodeLevelVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_NonCriticalVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_ThirdPartyVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/Dynatrace_ProblemDetection.yaml
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_Attacks.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_AuditLogs.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_Problems.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_RuntimeVulnerabilities.json
  Solutions/Dynatrace/Data/Solution_Dynatrace.json
  Solutions/Dynatrace/Package/3.0.1.zip
  Solutions/Dynatrace/Package/mainTemplate.json
  Solutions/Dynatrace/Package/testParameters.json
  Solutions/Dynatrace/Playbooks/Add_DynatraceApplicationSecurityAttackSourceIpThreatIntelligence/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackMSDefender365/readme.md
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackMSDefenderXDR/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackWithSecurityAlerts/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich_DynatraceApplicationSecurityAttackIncident/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSDefenderXDR/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSSentinelSecurityAlerts/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSSentinelSecurityAlerts/readme.md
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceSentinelSecurityAlerts/readme.md
  Solutions/Dynatrace/ReleaseNotes.md
Labels: Solution

#9516 Repackaging -Palo Alto Prisma Cloud CWPP Solution
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PaloAltoPrismaCloudCWPP_ccp/DCR.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PaloAltoPrismaCloudCWPP_ccp/connectorDefinition.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PaloAltoPrismaCloudCWPP_ccp/dataConnectorPoller.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PrismaCloudCompute_CLV2.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data/Solution_Palo Alto Prisma Cloud CWPP.json
  Solutions/Palo Alto Prisma Cloud CWPP/Package/3.0.1.zip
  Solutions/Palo Alto Prisma Cloud CWPP/Package/createUiDefinition.json
  Solutions/Palo Alto Prisma Cloud CWPP/Package/mainTemplate.json
  Solutions/Palo Alto Prisma Cloud CWPP/ReleaseNotes.md
Labels: Solution, Content-Package

#9658 Release Note path Modification
  Solutions/Azure Web Application Firewall (WAF)/Package/3.0.0.zip
  Solutions/Azure Web Application Firewall (WAF)/Package/createUiDefinition.json
  Solutions/Azure Web Application Firewall (WAF)/ReleaseNotes.md
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/3.0.0.zip
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/createUiDefinition.json
Labels: Solution

#9645 FIX some queries
  Solutions/NozomiNetworks/Package/3.0.1.zip
  Solutions/NozomiNetworks/Package/mainTemplate.json
  Solutions/NozomiNetworks/Package/testParameters.json
  Solutions/NozomiNetworks/ReleaseNotes.md
Labels: Solution

#9360 Oracle Data base documentation updates
  Solutions/OracleDatabaseAudit/Data Connectors/Connector_OracleDatabaseAudit.json
  Solutions/OracleDatabaseAudit/Data/Solution_OracleDBAudit.json
  Solutions/OracleDatabaseAudit/Package/3.0.0.zip
  Solutions/OracleDatabaseAudit/Package/createUiDefinition.json
  Solutions/OracleDatabaseAudit/Package/mainTemplate.json
  Solutions/OracleDatabaseAudit/Package/testParameters.json
  Solutions/OracleDatabaseAudit/ReleaseNotes.md
  Solutions/known_issues.md
Labels: Content-Package

#9632 Correct Exchange Parser to add parameters in solution and update version
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data/Solution_MicrosoftExchangeSecurity.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.1.1.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/ExchangeConfiguration.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/README.md
  Solutions/Microsoft Exchange Security - Exchange On-Premises/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.0.4.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/ExchangeConfiguration.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/README.md
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
Labels: Solution

#9660 Update createUiDefinition and ReleaseNotes
  Solutions/ExtraHop Reveal(x)/Package/3.0.0.zip
  Solutions/ExtraHop Reveal(x)/Package/createUiDefinition.json
Labels: Solution, P0

#9641 Create AWS Config Service Resource Deletion Attempts
  Solutions/Amazon Web Services/Analytic Rules/AWS_ConfigServiceResourceDeletion.yaml
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/3.0.1.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
  Solutions/Amazon Web Services/Package/testParameters.json
  Solutions/Amazon Web Services/ReleaseNotes.md
Labels: Detection

#9382 Azurekid - Duplicate entries in ASimTester
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#9661 Releasenote update
  Solutions/Recorded Future/ReleaseNotes.md
Labels: Solution

#9662 Added missing TargetUserName and TargetDomainName
  Detections/SecurityEvent/UserAccountEnabledDisabled_10m.yaml
Labels: Detection

#9667 GCPInitialAuthenticationSetup: Add output workload_identity_pool_id for variable evaluation
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPInitialAuthenticationSetup/GCPInitialAuthenticationSetup.tf
Labels: Connector

#9669 Updating Readme.md file
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/readme.md
Labels: documentation

#9673 Update readme.md
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/readme.md
Labels: documentation

#9677 Getting the app details from the key vault instead of pipline.
  .azure-pipelines/kqlValidations.yaml
  .script/tests/KqlvalidationsTests/GitHubApiClient.cs
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
Labels: Solution, scripts

#9681 Commenting the authenticated github client as it is giving errors for…
  .script/tests/KqlvalidationsTests/GitHubApiClient.cs
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
Labels: scripts

#9659 AIShield AI Security Monitoring Solution updates to version 3.1.0
  .script/tests/KqlvalidationsTests/CustomTables/AIShield.json
  .script/tests/KqlvalidationsTests/CustomTables/AIShield_CL.json
  Sample Data/Custom/AIShield_CL.json
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageClassficationModelEvasionHighSuspiciousVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageClassficationModelEvasionLowSuspiciousVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageClassficationModelExtractionHighSuspiciousVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ImageSegmentationModelExtractionHighSuspiciousVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/NaturalLanguageProcessingModelExtractionHighSuspiciousVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TabularClassificationModelEvasionHighSuspiciousVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TabularClassificationModelEvasionLowSuspiciousVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TabularClassificationModelExtractionHighSuspiciousVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TimeSeriesForecastingModelExtractionHighSuspiciousVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TimeSeriesForecastingModelExtractionVulnDetection.yaml
  Solutions/AIShield AI Security Monitoring/Data/Solution_AIShield.json
  Solutions/AIShield AI Security Monitoring/Package/3.0.0.zip
  Solutions/AIShield AI Security Monitoring/Package/createUiDefinition.json
  Solutions/AIShield AI Security Monitoring/Package/mainTemplate.json
  Solutions/AIShield AI Security Monitoring/Package/testParameters.json
  Solutions/AIShield AI Security Monitoring/Parsers/AIShield.yaml
  Solutions/AIShield AI Security Monitoring/ReleaseNotes.md
Labels: Solution

#9629 added techniques and subtechniques for analytic rules
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#9679 Repackaging - Pulse Connect Secure , Windows Security Events, Azure F…
  Solutions/Azure Firewall/Data/Solution_AzureFirewall.json
  Solutions/Azure Firewall/Package/3.0.2.zip
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Azure Firewall/Package/testParameters.json
  Solutions/Azure Firewall/ReleaseNotes.md
  Solutions/Pulse Connect Secure/Data Connectors/Connector_Syslog_PulseConnectSecure.json
  Solutions/Pulse Connect Secure/Data/Solution_Pulse Connect Secure.json
  Solutions/Pulse Connect Secure/Package/3.0.1.zip
  Solutions/Pulse Connect Secure/Package/mainTemplate.json
  Solutions/Pulse Connect Secure/Package/testParameters.json
  Solutions/Pulse Connect Secure/Parsers/PulseConnectSecure.txt
  Solutions/Pulse Connect Secure/ReleaseNotes.md
  Solutions/Windows Security Events/Analytic Rules/NonDCActiveDirectoryReplication.yaml
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Hunting Queries/DecoyUserAccountAuthenticationAttempt.yaml
  Solutions/Windows Security Events/Package/3.0.1.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
  Solutions/Windows Security Events/Package/testParameters.json
  Solutions/Windows Security Events/ReleaseNotes.md
Labels: Solution, Content-Package

#9674 Added release notes to solution description
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.1.1.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Package/testParameters.json
  Solutions/Recorded Future/ReleaseNotes.md
Labels: Solution

#9685 Update 3.0.4.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.0.4.zip
Labels: Solution

#9624 entity mapping fixes
  Detections/MultipleDataSources/DisabledAccIPSigninWithRareRiskyOps.yaml
  Detections/MultipleDataSources/GainCodeExecutionADFSviaWMI.yaml
  Detections/MultipleDataSources/HostAADCorrelation.yaml
  Detections/MultipleDataSources/MailBoxTampering.yaml
  Detections/MultipleDataSources/Mercury_Log4j_August2022.yaml
  Detections/MultipleDataSources/PrestigeRansomwareIOCsOct22.yaml
  Detections/MultipleDataSources/RunCommandUEBABreach.yaml
  Detections/MultipleDataSources/SecurityServiceRegistryACLModification.yaml
  Detections/MultipleDataSources/SigninFirewallCorrelation.yaml
  Detections/SigninLogs/PrivilegedUserLogonfromnewASN.yaml
  Detections/W3CIISLog/AnomomlousUserAgentConnection.yaml
  Detections/W3CIISLog/HighFailedLogonCountByClientIP.yaml
  Detections/W3CIISLog/HighFailedLogonCountByUser.yaml
  Detections/W3CIISLog/ProxyShellPwn2Own.yaml
  Detections/W3CIISLog/SilkTyphoonSuspiciousExchangeRequestPattern.yaml
Labels: Detection

#9653 Repackaging-MicrosoftEntraID
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Data/system_generated_metadata.json
  Solutions/Microsoft Entra ID/Package/3.0.10.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/Package/testParameters.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package
