Repository Azure/Azure-Sentinel, pull requests merged in 2023-02, with the labels that each got.

#7183 Updated /IoTOTThreatMonitoringwithDefenderforIoT workbook description.
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#7155 Updated name of Network Solution
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook

#7191 Update MicrosoftThreatProtection.JSON
  Solutions/Microsoft 365 Defender/Data Connectors/MicrosoftThreatProtection.JSON
Labels: Connector

#7193 Update data connector CEF AMA.JSON description md
  Solutions/Common Event Format/Data Connectors/CEF AMA.JSON
Labels: Connector

#7192 Update data connector CEF.JSON description md
  Solutions/Common Event Format/Data Connectors/CEF.JSON
Labels: Connector

#7057 feat: add Playbooks/Enrich-CIRCL-hashlookup
  Playbooks/Enrich-CIRCL-hashlookup/CustomConnector/azuredeploy.json
  Playbooks/Enrich-CIRCL-hashlookup/Playbook/azuredeploy.json
  Playbooks/Enrich-CIRCL-hashlookup/images/Enrich-CIRCL-hashlookup.png
  Playbooks/Enrich-CIRCL-hashlookup/readme.md
Labels: Playbook

#7201 Removed old package from zip for Palo Alto Prisma
  Solutions/PaloAltoPrismaCloud/Package/2.0.2.zip
Labels: Solution

#7159 Watchguard Firebox repackaging
  Solutions/Watchguard Firebox/Data Connectors/Connector_syslog_WatchGuardFirebox.json
  Solutions/Watchguard Firebox/Data/Solution_WatchguardFirebox.json
  Solutions/Watchguard Firebox/Package/2.0.1.zip
  Solutions/Watchguard Firebox/Package/createUiDefinition.json
  Solutions/Watchguard Firebox/Package/mainTemplate.json
  Solutions/Watchguard Firebox/Parsers/WatchGuardFirebox.txt
Labels: dataconnector-cri, Parser, Solution

#7185 Leaderboard Monthly Update - Update stat.md file with January 2023 Data
  Tools/stats/stats.md
Labels: Tools

#7161 Onapsis Repackaging
  Solutions/Onapsis Platform/Data Connectors/OnapsisPlatform.json
  Solutions/Onapsis Platform/Data/Solution_Onapsis.json
  Solutions/Onapsis Platform/Package/2.0.1.zip
  Solutions/Onapsis Platform/Package/mainTemplate.json
Labels: Solution

#7206 Bug fix for proofpoint TAP connector
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/ProofPointTap/Analytic Rules/MalwareAttachmentDelivered.yaml
  Solutions/ProofPointTap/Analytic Rules/MalwareLinkClicked.yaml
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/2.0.1.zip
  Solutions/ProofPointTap/Package/mainTemplate.json
Labels: Solution

#7209 Updating default names for VirusTotal playbooks
  Solutions/VirusTotal/Package/2.0.3.zip
  Solutions/VirusTotal/Package/mainTemplate.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/incident-trigger/azuredeploy.json
Labels: Solution

#7214 Dynatrace: Fixed Folder and Package
  Solutions/Dynatrace/Package/2.0.0.zip
  Solutions/Dynatrace/Package/mainTemplate.json
  Solutions/Dynatrace/SolutionMetadata.json
Labels: Solution

#7231 Update template_SecurityEvents.JSON
  Solutions/Windows Security Events/Data Connectors/template_SecurityEvents.JSON
Labels: Connector

#7234 Update template_WindowsSecurityEvents.JSON
  Solutions/Windows Security Events/Data Connectors/template_WindowsSecurityEvents.JSON
Labels: Connector

#7219 Update AzureKeyVault.JSON
  Solutions/Azure Key Vault/Data Connectors/AzureKeyVault.JSON
Labels: Connector

#7220 Update AzureKubernetes.JSON
  Solutions/Azure kubernetes Service/Data Connectors/AzureKubernetes.JSON
Labels: Connector

#7222 Update template_WAF.JSON
  Solutions/Azure Web Application Firewall (WAF)/Data Connectors/template_WAF.JSON
Labels: Connector

#7223 Update template_OfficeIRM.JSON
  Solutions/MicrosoftPurviewInsiderRiskManagement/Data Connectors/template_OfficeIRM.JSON
Labels: Connector

#7215 Update template_AzureActiveDirectoryIdentityProtection.JSON
  Solutions/Azure Active Directory Identity Protection/Data Connectors/template_AzureActiveDirectoryIdentityProtection.JSON
Labels: Connector

#7216 Update AzureActivity.JSON
  Solutions/Azure Activity/Data Connectors/AzureActivity.JSON
Labels: Connector

#7217 Update DDOS.JSON
  Solutions/Azure DDoS Protection/Data Connectors/DDOS.JSON
Labels: Connector

#7208 Adding sonicwall product Ids
  Solutions/SonicWall Firewall/Data Connectors/SonicwallFirewall.JSON
  Solutions/SonicWall Firewall/Data/Solution_ SonicWall Firewall.json
  Solutions/SonicWall Firewall/Package/2.0.5.zip
  Solutions/SonicWall Firewall/Package/mainTemplate.json
Labels: dataconnector-cri, Solution

#7221 Update AzureStorageAccount_CCP.JSON
  Solutions/Azure Storage/Data Connectors/AzureStorageAccount_CCP.JSON
Labels: Connector

#7226 Update template_IoT.JSON
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data Connector/template_IoT.JSON
Labels: Connector

#7225 Update MicrosoftDefenderforIdentity.JSON
  Solutions/Microsoft Defender For Identity/Data Connectors/MicrosoftDefenderforIdentity.JSON
Labels: Connector

#7224 Update template_MicrosoftDefenderAdvancedThreatProtection.JSON
  Solutions/MicrosoftDefenderForEndpoint/Data Connectors/template_MicrosoftDefenderAdvancedThreatProtection.JSON
Labels: Connector

#7197 Update data connector TI Platform description md
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligence.JSON
Labels: Connector

#7196 Update data connector TI TAXII.json description md
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceTaxii.JSON
Labels: Connector

#7194 Update data connector DNS.JSON description md
  Solutions/Windows Server DNS/Data Connectors/template_DNS.JSON
Labels: Connector

#7232 Update Windows Firewall.JSON
  Solutions/Windows Firewall/Data Connectors/Windows Firewall.JSON
Labels: Connector

#7233 Update WindowsForwardedEvents.JSON
  Solutions/Windows Forwarded Events/Data Connectors/WindowsForwardedEvents.JSON
Labels: Connector

#7235 Update AzureBatchAccount_CCP.JSON
  Solutions/Azure Batch Account/Data Connectors/AzureBatchAccount_CCP.JSON
Labels: Connector

#7236 Update AzureDataLakeStorageGen1_CCP.JSON
  Solutions/Azure Data Lake Storage Gen1/Data Connectors/AzureDataLakeStorageGen1_CCP.JSON
Labels: Connector

#7237 Update MicrosoftPurview.json
  Solutions/Microsoft Purview/Data Connectors/MicrosoftPurview.json
Labels: Connector

#7181 Package update for IoT to 2.0.2
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data Connector/template_IoT.JSON
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data/Solution_IoTOTThreatMonitoringwithDefenderforIoT.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/2.0.2.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/createUiDefinition.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/mainTemplate.json
Labels: Solution

#7060 feat: add Playbooks/Enrich-MalwareBazaar
  Playbooks/Enrich-MalwareBazaar/CustomConnector/azuredeploy.json
  Playbooks/Enrich-MalwareBazaar/Playbook/azuredeploy.json
  Playbooks/Enrich-MalwareBazaar/images/Enrich-MalwareBazaar.png
  Playbooks/Enrich-MalwareBazaar/readme.md
Labels: Playbook

#7058 feat: add Playbooks/Enrich-Intezer-Analyze
  Playbooks/Enrich-Intezer-Analyze/CustomConnector/azuredeploy.json
  Playbooks/Enrich-Intezer-Analyze/Playbook/azuredeploy.json
  Playbooks/Enrich-Intezer-Analyze/images/Enrich-Intezer-Analyze-Community.png
  Playbooks/Enrich-Intezer-Analyze/readme.md
Labels: Playbook

#6803 Added new Playbook - Push Defender for Endpoint Alerts including Alert Names, MITRE Tactics, Techniques and Sub-Techniques as Hunting ARM Templates into a Sentinel Github Repository
  Playbooks/Put-MDEAlert-Hunting-GitHub/Media/Github-Hunting.png
  Playbooks/Put-MDEAlert-Hunting-GitHub/Media/LogicApp-KQL.png
  Playbooks/Put-MDEAlert-Hunting-GitHub/Media/MDE-alert.png
  Playbooks/Put-MDEAlert-Hunting-GitHub/Media/MDE_A_process_was_injected_with_potentially_malicious_code_T1055_T1055_001_T1055_002_T1055_003_T1055_004_T1055_012_T1059_001.json
  Playbooks/Put-MDEAlert-Hunting-GitHub/Media/Sentinel-Hunting.png
  Playbooks/Put-MDEAlert-Hunting-GitHub/Media/keyvault-access-policy.png
  Playbooks/Put-MDEAlert-Hunting-GitHub/Media/readme.md
  Playbooks/Put-MDEAlert-Hunting-GitHub/Media/secret-identifier.png
  Playbooks/Put-MDEAlert-Hunting-GitHub/azuredeploy.json
  Playbooks/Put-MDEAlert-Hunting-GitHub/readme.md
Labels: Playbook

#7085 Fix possible mistake in condition in Nobelium_FoggyWeb.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Nobelium_FoggyWeb.yaml
Labels: Detection

#7253 KQL validations for hunting queries
  .script/tests/KqlvalidationsTests/CustomTables/SenservaPro_CL.json
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/KqlvalidationsTests/YamlFilesTestData/HuntingQueriesYamlFilesLoader.cs
  .script/tests/KqlvalidationsTests/YamlFilesTestData/HuntingQueriesYamlFilesTestData.cs
  Hunting Queries/GitHub/Inactive or New Account Usage.yaml
  Hunting Queries/GitHub/Mass Deletion of Repositories .yaml
Labels: Hunting

#7227 Update template_OfficeATP.JSON
  Solutions/Microsoft Defender for Office 365/Data Connectors/template_OfficeATP.JSON
Labels: Connector

#7202 Adding sample queries for WithSecure data connector
  Solutions/WithSecureElementsViaConnector/Data Connectors/WithSecureElementsViaConnector.json
  Solutions/WithSecureElementsViaConnector/Package/2.0.2.zip
  Solutions/WithSecureElementsViaConnector/Package/mainTemplate.json
Labels: Connector, Solution

#7245 Packaged Azure Storage solution for link addition
  Solutions/Azure Storage/Data Connectors/AzureStorageAccount_CCP.JSON
  Solutions/Azure Storage/Data/Solution_AzureStorage.json
  Solutions/Azure Storage/Package/2.0.2.zip
  Solutions/Azure Storage/Package/mainTemplate.json
Labels: Solution

#7187 Update vimAuthenticationPostgreSQL.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationPostgreSQL.yaml
Labels: ASIM

#7230 Update Office365.JSON
  Solutions/Microsoft 365/Data Connectors/Office365.JSON
Labels: Connector

#7229 Update AzureNSG.JSON
  Solutions/Azure Network Security Groups/Data Connectors/AzureNSG.JSON
Labels: Connector

#7269 Repackaging Microsoft Defender for Office 365
  Solutions/Microsoft Defender for Office 365/Data Connectors/template_OfficeATP.JSON
  Solutions/Microsoft Defender for Office 365/Data/Solution_MicrosoftDefenderforOffice365.json
  Solutions/Microsoft Defender for Office 365/Package/2.0.1.zip
  Solutions/Microsoft Defender for Office 365/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
  Solutions/Microsoft Defender for Office 365/Workbooks/MicrosoftDefenderForOffice365.json
Labels: Solution

#7188 update no cloud found
  Solutions/SAP/sapcon-instance-update.sh
  Solutions/SAP/sapcon-sentinel-auto-update.sh
Labels: Solution

#7278 Fixing Entity Mapping errors.
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/ActiniumFeb2022.yaml
  Solutions/Legacy IOC based Threat Protection/Analytic Rules/Dev-0586_Jan2022_IOC.yaml
Labels: Detection

#7246 Analytics Health & Audit Workbook
  Workbooks/AnalyticsHealthAudit.json
  Workbooks/Images/Preview/AnalyticsHealthAuditBlack.png
  Workbooks/Images/Preview/AnalyticsHealthAuditWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7203 Skip Azure Sentinel Community Github text from validations
  .script/contentValidator.ts
  .script/skip-text.txt
Labels: enhancement

#7258 Repackage Windows Server DNS
  Solutions/Windows Server DNS/Data Connectors/template_DNS.JSON
  Solutions/Windows Server DNS/Package/2.0.2.zip
  Solutions/Windows Server DNS/Package/createUiDefinition.json
  Solutions/Windows Server DNS/Package/mainTemplate.json
Labels: Solution

#7199 Initial commit Shodan Solution.
  Solutions/Shodan/Playbooks/CustomConnector/ShodanCustomConnector/azuredeploy.json
  Solutions/Shodan/Playbooks/CustomConnector/ShodanCustomConnector/readme.md
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichDomain-EntityTrigger/azuredeploy.json
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichDomain-EntityTrigger/images/Shodan-EnrichDomain-EntityTrigger_dark.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichDomain-EntityTrigger/images/Shodan-EnrichDomain-EntityTrigger_light.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichDomain-EntityTrigger/images/ShodanDomainEnrichmentIncidentComment_dark.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichDomain-EntityTrigger/images/ShodanDomainEnrichmentIncidentComment_light.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichDomain-EntityTrigger/readme.md
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIP-EntityTrigger/azuredeploy.json
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIP-EntityTrigger/images/Shodan-EnrichIP-EntityTrigger_dark.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIP-EntityTrigger/images/Shodan-EnrichIP-EntityTrigger_light.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIP-EntityTrigger/images/ShodanIPEnrichmentIncidentComment_dark.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIP-EntityTrigger/images/ShodanIPEnrichmentIncidentComment_light.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIP-EntityTrigger/readme.md
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIPAndDomain/azuredeploy.json
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIPAndDomain/images/Shodan-EnrichIPAndDomain_dark.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIPAndDomain/images/Shodan-EnrichIPAndDomain_light.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIPAndDomain/images/ShodanEnrichIPAndDomainIncidentComment_dark.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIPAndDomain/images/ShodanEnrichIPAndDomainIncidentComment_light.jpg
  Solutions/Shodan/Playbooks/ShodanPlaybooks/Shodan-EnrichIPAndDomain/readme.md
Labels: Playbook, Solution

#7189 Ai commandline analysis playbook
  Playbooks/AS-AI-Commandline-Analysis/Images/azuresentinelauth.png
  Playbooks/AS-AI-Commandline-Analysis/Images/cmdanalysis.png
  Playbooks/AS-AI-Commandline-Analysis/Images/openaiapikey.png
  Playbooks/AS-AI-Commandline-Analysis/azuredeploy.json
  Playbooks/AS-AI-Commandline-Analysis/readme.md
Labels: Playbook

#7092 Update mdo power bi
  Tools/MDO Power BI Dashboard/MDO Detection Details Report v2.2.pbit
  Tools/MDO Power BI Dashboard/MDO Detection Details Report v2.3.1.pbit
Labels: Tools

#7290 Azure Batch Account Repackaging Changes
  Solutions/Azure Batch Account/Data Connectors/AzureBatchAccount_CCP.JSON
  Solutions/Azure Batch Account/Data/Solution_Azure Batch Account.json
  Solutions/Azure Batch Account/Package/2.0.1.zip
  Solutions/Azure Batch Account/Package/mainTemplate.json
Labels: Solution

#7205 Update AutoAlertStatusSync.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Playbooks/AutoAlertStatusSync/AutoAlertStatusSync.json
Labels: Playbook

#7267 Playbooks addition to existing Prisma cloud solution
  Solutions/PaloAltoPrismaCloud/Playbooks/CustomConnector/PrismaCloudCSPMCustomConnector/azuredeploy.json
  Solutions/PaloAltoPrismaCloud/Playbooks/CustomConnector/PrismaCloudCSPMCustomConnector/readme.md
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Enrichment/azuredeploy.json
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Enrichment/images/PrismaCloud_enrichment_incidentTriggerComment_light.png
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Enrichment/images/PrismaCloud_enrichment_incidentTrigger_light.png
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Enrichment/readme.md
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Remediation/azuredeploy.json
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Remediation/images/PrismaCloud-Remediation-incidenttriggerComment_light.jpg
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Remediation/images/PrismaCloud-Remediation-incidenttrigger_light.jpg
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Remediation/readme.md
Labels: Playbook

#7286 Azure Data Lake Storage Gen1 Repackaging changes
  Solutions/Azure Data Lake Storage Gen1/Data Connectors/AzureDataLakeStorageGen1_CCP.JSON
  Solutions/Azure Data Lake Storage Gen1/Data/Solutions_AzureDataLake.json
  Solutions/Azure Data Lake Storage Gen1/Package/2.0.1.zip
  Solutions/Azure Data Lake Storage Gen1/Package/createUiDefinition.json
  Solutions/Azure Data Lake Storage Gen1/Package/mainTemplate.json
Labels: Solution

#7291 Update Readme.md with fixed link
  Playbooks/AS-AI-Commandline-Analysis/readme.md
Labels: Playbook

#7305 Microsoft Purview Repackaging changes
  Solutions/Microsoft Purview/Data Connectors/MicrosoftPurview.json
  Solutions/Microsoft Purview/Data/Solution_MicrosoftPurview.json
  Solutions/Microsoft Purview/Package/2.0.7.zip
  Solutions/Microsoft Purview/Package/createUiDefinition.json
  Solutions/Microsoft Purview/Package/mainTemplate.json
Labels: Solution

#7303 Updated OfficeMailForwarding_hunting.yaml for correct link
  Hunting Queries/OfficeActivity/AnomolousUserAccessingOtherUsersMailbox.yaml
  Hunting Queries/OfficeActivity/ExternalUserAddedRemovedInTeams_HuntVersion.yaml
  Hunting Queries/OfficeActivity/ExternalUserFromNewOrgAddedToTeams.yaml
  Hunting Queries/OfficeActivity/MultiTeamBot.yaml
  Hunting Queries/OfficeActivity/MultiTeamOwner.yaml
  Hunting Queries/OfficeActivity/MultipleTeamsDeletes.yaml
  Hunting Queries/OfficeActivity/NewBotAddedToTeams.yaml
  Hunting Queries/OfficeActivity/New_WindowsReservedFileNamesOnOfficeFileServices.yaml
  Hunting Queries/OfficeActivity/OfficeMailForwarding_hunting.yaml
  Hunting Queries/OfficeActivity/TeamsFilesUploaded.yaml
  Hunting Queries/OfficeActivity/UserAddToTeamsAndUploadsFile.yaml
  Hunting Queries/OfficeActivity/WindowsReservedFileNamesOnOfficeFileServices.yaml
  Hunting Queries/OfficeActivity/double_file_ext_exes.yaml
  Hunting Queries/OfficeActivity/new_adminaccountactivity.yaml
  Hunting Queries/OfficeActivity/new_sharepoint_downloads_by_IP.yaml
  Hunting Queries/OfficeActivity/new_sharepoint_downloads_by_UserAgent.yaml
  Hunting Queries/OfficeActivity/nonowner_MailboxLogin.yaml
  Hunting Queries/OfficeActivity/powershell_or_nonbrowser_MailboxLogin.yaml
  Hunting Queries/OfficeActivity/sharepoint_downloads.yaml
Labels: Hunting

#7163 added reference to Create-LA-Tables-ADX.ps1
  Tools/AzureDataExplorer/README.MD
Labels: Tools

#7289 Repackage Legacy IOC
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Package/2.0.2.zip
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
Labels: Solution

#7316 updated the AR to remove the sub techniques values
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#6953 Jamf protect for Microsoft Sentinel v2.1
  .script/tests/KqlvalidationsTests/CustomTables/jamfprotect_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Jamf Protect/Analytic Rules/JamfProtectAlerts.yaml
  Solutions/Jamf Protect/Analytic Rules/JamfProtectNetworkThreats.yaml
  Solutions/Jamf Protect/Analytic Rules/JamfProtectUnifiedLogs.yaml
  Solutions/Jamf Protect/Data Connectors/JamfProtect.json
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Package/2.1.0.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/SolutionMetadata.json
  Solutions/Jamf Protect/Workbooks/JamfProtectDashboard.json
Labels: Workbook, Solution, Analytic Rules

#7313 Enrich incident alienvault otx issue fix
  Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/azuredeploy.json
  Playbooks/Enrich-Sentinel-Incident-AlienVault-OTX/readme.md
Labels: Playbook

#7325 add support for cloudwatch
  DataConnectors/AWS-S3/ConfigAwsConnector.ps1
  DataConnectors/AWS-S3/ConfigCloudWatchDataConnector.ps1
Labels: Connector, scripts

#7311 Remove trailing spaces in SEABORGIUMIOC.csv
  Sample Data/Feeds/SEABORGIUMIOC.csv
Labels: Sample Data

#7210 Updated Cloudflare solution for bugs
  Solutions/Cloudflare/Analytic Rules/CloudflareUnexpectedRequest.yaml
  Solutions/Cloudflare/Data Connectors/Cloudflare_API_FunctionApp.json
  Solutions/Cloudflare/Data/Solution_Cloudflare.json
  Solutions/Cloudflare/Package/2.0.2.zip
  Solutions/Cloudflare/Package/createUiDefinition.json
  Solutions/Cloudflare/Package/mainTemplate.json
Labels: Solution

#7281 Update README.md
  Solutions/HoneyTokens/README.md
Labels: Solution

#6946 Noname api security for azure sentinel
  Solutions/NonameSecurity/Package/2.0.0.zip
  Solutions/NonameSecurity/Package/createUiDefinition.json
  Solutions/NonameSecurity/Package/mainTemplate.json
Labels: Solution

#7174 Updated Workbook description for ThreatAnalysis & response
  Solutions/ThreatAnalysis&Response/Package/2.0.3.zip
  Solutions/ThreatAnalysis&Response/Package/mainTemplate.json
  Solutions/ThreatAnalysis&Response/data/Solution_ThreatAnalysis&Response.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Workbook, Solution

#7302 🐛 Fix malformed YAML in migrated analytics
  Detections/DeviceProcessEvents/AdFind_Usage.yaml
  Detections/DuoSecurity/IPEntity_DuoSecurity.yaml
  Detections/MultipleDataSources/NetworkEndpointCorrelation.yaml
  Detections/MultipleDataSources/NewUserAgentLast24h.yaml
  Detections/SecurityEvent/CredentialDumpingServiceInstallation.yaml
  Detections/SecurityEvent/CredentialDumpingToolsFileArtifacts.yaml
  Detections/SecurityEvent/powershell_empire.yaml
  Detections/ThreatIntelligenceIndicator/DomainEntity_CommonSecurityLog.yaml
  Detections/ThreatIntelligenceIndicator/DomainEntity_DnsEvents.yaml
  Detections/ThreatIntelligenceIndicator/DomainEntity_PaloAlto.yaml
  Detections/ThreatIntelligenceIndicator/DomainEntity_SecurityAlert.yaml
  Detections/ThreatIntelligenceIndicator/DomainEntity_Syslog.yaml
  Detections/ThreatIntelligenceIndicator/DomainEntity_imWebSession.yaml
  Detections/ThreatIntelligenceIndicator/EmailEntity_AzureActivity.yaml
  Detections/ThreatIntelligenceIndicator/EmailEntity_OfficeActivity.yaml
  Detections/ThreatIntelligenceIndicator/EmailEntity_PaloAlto.yaml
  Detections/ThreatIntelligenceIndicator/EmailEntity_SecurityAlert.yaml
  Detections/ThreatIntelligenceIndicator/EmailEntity_SecurityEvent.yaml
  Detections/ThreatIntelligenceIndicator/EmailEntity_SigninLogs.yaml
  Detections/ThreatIntelligenceIndicator/FileHashEntity_CommonSecurityLog.yaml
  Detections/ThreatIntelligenceIndicator/FileHashEntity_SecurityEvent.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AWSCloudTrail.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AppServiceHTTPLogs.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AzureActivity.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AzureFirewall.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AzureKeyVault.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AzureNetworkAnalytics.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_AzureSQL.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_CustomSecurityLog.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_DnsEvents.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_OfficeActivity.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_VMConnection.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_W3CIISLog.yaml
  Detections/ThreatIntelligenceIndicator/IPEntity_imWebSession.yaml
  Detections/ThreatIntelligenceIndicator/IPentity_SigninLogs.yaml
  Detections/ThreatIntelligenceIndicator/URLEntity_AuditLogs.yaml
  Detections/ThreatIntelligenceIndicator/URLEntity_OfficeActivity.yaml
  Detections/ThreatIntelligenceIndicator/URLEntity_PaloAlto.yaml
  Detections/ThreatIntelligenceIndicator/URLEntity_SecurityAlerts.yaml
  Detections/ThreatIntelligenceIndicator/URLEntity_Syslog.yaml
Labels: Detection

#7263 Update alert trigger playbook templates
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/readme.md
Labels: Playbook, Solution

#6788 11302022 as incident response approval email
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Access_1.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Access_2.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Access_3.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Access_4.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Create_App_Registration_1.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Create_App_Registration_2.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Create_App_Registration_3.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Create_App_Registration_4.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Create_App_Registration_5.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Create_App_Registration_6.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Create_App_Registration_7.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Create_App_Registration_8.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Demo.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Deploy_1.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Deploy_2.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Deploy_3.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Deploy_4.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Deploy_5.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Deploy_6.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Deploy_7.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Key_Vault_1.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Key_Vault_2.png
  Playbooks/AS-Incident-Response-Approval-Email/Images/ApprovalEmail_Key_Vault_3.png
  Playbooks/AS-Incident-Response-Approval-Email/README.md
  Playbooks/AS-Incident-Response-Approval-Email/azuredeploy.json
Labels: Playbook

#7271 02 03 2023 as incident host exposure level
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Add_Role_1.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Add_Role_2.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Add_Role_3.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Add_Role_4.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Demo.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Deploy_1.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Deploy_2.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Deploy_3.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Deploy_4.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Deploy_5.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Deploy_6.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Deploy_7.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Prereq.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Run_1.png
  Playbooks/AS-Incident-Host-Exposure-Level/Images/ExposureLevel_Run_2.png
  Playbooks/AS-Incident-Host-Exposure-Level/README.md
  Playbooks/AS-Incident-Host-Exposure-Level/azuredeploy.json
Labels: Playbook

#7336 Solution Domain and Vertical validation.
  .azure-pipelines/solutionValidator.yaml
  .script/SolutionValidations/ValidDomainsVerticals.json
  .script/SolutionValidations/solutionValidator.ts
  .script/utils/validationError.ts
  azure-pipelines.yml
Labels: scripts

#7329 Update readme with the proxy optional parameter
  DataConnectors/microsoft-sentinel-logstash-output-plugin/README.md
Labels: Connector

#7338 FireEye Network Security Repackaging
  Solutions/FireEye Network Security/Data/Solution_FireEye Network Security.json
  Solutions/FireEye Network Security/Package/2.0.2.zip
  Solutions/FireEye Network Security/Package/mainTemplate.json
  Solutions/FireEye Network Security/Parsers/FireEyeNXEvent.txt
  Solutions/FireEye Network Security/SolutionMetadata.json
Labels: dataconnector-cri, Parser, Solution

#7328 Initial version
  Workbooks/AcscEssential8.json
  Workbooks/Images/Preview/AcscEssential8Black1.png
  Workbooks/Images/Preview/AcscEssential8Black2.png
  Workbooks/Images/Preview/AcscEssential8White1.png
  Workbooks/Images/Preview/AcscEssential8White2.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#7314 Update readme to make instructions clearer
  Playbooks/AS-AI-Commandline-Analysis/readme.md
Labels: Playbook

#7345 🐛 Fix incorrect case for IPAddress column
  Detections/SigninLogs/AnomolousSingleFactorSignin.yaml
Labels: Detection

#7347 fix script URL
  Tools/Sentinel-All-In-One/README.md
  Tools/Sentinel-All-In-One/SubscriptionLevel/LinkedTemplates/dataConnectors.json
  Tools/Sentinel-All-In-One/SubscriptionLevel/LinkedTemplates/scheduledAlerts.json
  Tools/Sentinel-All-In-One/SubscriptionLevel/createUiDefinition.json
  Tools/Sentinel-All-In-One/TenantLevel/LinkedTemplates/dataConnectors.json
  Tools/Sentinel-All-In-One/TenantLevel/LinkedTemplates/scheduledAlerts.json
  Tools/Sentinel-All-In-One/TenantLevel/createUiDefinition.json
Labels: Tools

#7256 Packaged Azure WAF solution for link addition
  Solutions/Azure Web Application Firewall (WAF)/Data Connectors/template_WAF.JSON
  Solutions/Azure Web Application Firewall (WAF)/Data/Solution_AzureWAF.json
  Solutions/Azure Web Application Firewall (WAF)/Package/2.0.2.zip
  Solutions/Azure Web Application Firewall (WAF)/Package/mainTemplate.json
Labels: Solution

#7355 Github Issue Fix for issue 7332
  Detections/AuditLogs/ConditionalAccessPolicyModifiedbyNewUser.yaml
Labels: Detection

#7327 PaloAltoPrismaCloud Repackaging and playbook update
  Solutions/PaloAltoPrismaCloud/Data/Solution_PaloAltoPrismaCloud.json
  Solutions/PaloAltoPrismaCloud/Package/2.0.3.zip
  Solutions/PaloAltoPrismaCloud/Package/createUiDefinition.json
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Enrichment/azuredeploy.json
  Solutions/PaloAltoPrismaCloud/Playbooks/PrismaCloudCSPMPlaybooks/PrismaCloudCSPM-Remediation/azuredeploy.json
Labels: Solution

#7239 Updating Azure Firewall with changes in Data Connector description
  Solutions/Azure Firewall/Data Connectors/AzureFirewall.JSON
  Solutions/Azure Firewall/Data/Solution_AzureFirewall.json
  Solutions/Azure Firewall/Package/2.0.2.zip
  Solutions/Azure Firewall/Package/createUiDefinition.json
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Azure Firewall/SolutionMetadata.json
Labels: Solution

#7244 Repackaging Azure Key Vault
  Solutions/Azure Key Vault/Data Connectors/AzureKeyVault.JSON
  Solutions/Azure Key Vault/Data/Solution_Azure Key Vault.json
  Solutions/Azure Key Vault/Package/2.0.3.zip
  Solutions/Azure Key Vault/Package/createUiDefinition.json
  Solutions/Azure Key Vault/Package/mainTemplate.json
Labels: Solution

#7357 readme fixes and removing AAD from subscription
  Tools/Sentinel-All-In-One/README.md
  Tools/Sentinel-All-In-One/SubscriptionLevel/Media/Sentinel All-in-One logo.jpg
  Tools/Sentinel-All-In-One/SubscriptionLevel/createUiDefinition.json
Labels: Tools

#7260 ActivityStatusValue appears to be changed/updated
  Detections/SecurityAlert/Suspicious_WorkSpaceDeletion_Attempt.yaml
Labels: Detection

#7334 Add more cases to RareRunCommandPowerShellScript.yaml
  Detections/AzureActivity/RareRunCommandPowerShellScript.yaml
Labels: Detection

#7254 Repackaging Azure Kubernetes
  Solutions/Azure kubernetes Service/Data Connectors/AzureKubernetes.JSON
  Solutions/Azure kubernetes Service/Data/Solution_AzurekubernetesService.json
  Solutions/Azure kubernetes Service/Package/2.0.2.zip
  Solutions/Azure kubernetes Service/Package/createUiDefinition.json
  Solutions/Azure kubernetes Service/Package/mainTemplate.json
Labels: Solution

#7361 Fixing text changes for Palo alto cloud compute
  Solutions/PrismaCloudCompute/Data Connectors/PrismaCloudCompute_CLV2.json
  Solutions/PrismaCloudCompute/Package/2.0.0.zip
  Solutions/PrismaCloudCompute/Package/mainTemplate.json
Labels: Solution

#7292 Windows Forwarded Events Repackaging changes
  Solutions/Windows Forwarded Events/Data Connectors/WindowsForwardedEvents.JSON
  Solutions/Windows Forwarded Events/Data/Solution_Windows Forwarded Events.json
  Solutions/Windows Forwarded Events/Package/2.0.2.zip
  Solutions/Windows Forwarded Events/Package/createUiDefinition.json
  Solutions/Windows Forwarded Events/Package/mainTemplate.json
Labels: Solution

#7247 Repackage Syslog
  Solutions/Syslog/Data Connectors/template_Syslog.json
  Solutions/Syslog/Data/Solution_syslog.json
  Solutions/Syslog/Package/2.0.2.zip
  Solutions/Syslog/Package/createUiDefinition.json
  Solutions/Syslog/Package/mainTemplate.json
Labels: Solution

#7366 CEF Repackaging changes with Data connector Description update
  Solutions/Common Event Format/Data Connectors/CEF AMA.JSON
  Solutions/Common Event Format/Data Connectors/CEF.JSON
  Solutions/Common Event Format/Data/Solution_CommonEventFormat.json
  Solutions/Common Event Format/Package/2.0.2.zip
  Solutions/Common Event Format/Package/mainTemplate.json
Labels: Solution

#7367 Microsoft 365 Defender Repackaging changes with Data connector Description changes
  Solutions/Microsoft 365 Defender/Data Connectors/MicrosoftThreatProtection.JSON
  Solutions/Microsoft 365 Defender/Data/Solution_Microsoft 365 Defender.json
  Solutions/Microsoft 365 Defender/Package/2.0.2.zip
  Solutions/Microsoft 365 Defender/Package/mainTemplate.json
Labels: Solution

#7324 add agent name
  Solutions/SAP/sapcon-sentinel-ui-agent-kickstart.sh
Labels: Solution

#7374 Updating tool to add array for techniques
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7276 Repackage Microsoft 365
  Solutions/Microsoft 365/Data Connectors/Office365.JSON
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Package/2.0.2.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/Microsoft 365/Workbooks/Office365.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7277 Repackage Azure Network Security Groups
  Solutions/Azure Network Security Groups/Data Connectors/AzureNSG.JSON
  Solutions/Azure Network Security Groups/Data/Solution_NetworkSecurityGroups.json
  Solutions/Azure Network Security Groups/Package/2.0.2.zip
  Solutions/Azure Network Security Groups/Package/createUiDefinition.json
  Solutions/Azure Network Security Groups/Package/mainTemplate.json
Labels: Solution

#7243 Azure activity package update
  Solutions/Azure Activity/Data Connectors/AzureActivity.JSON
  Solutions/Azure Activity/Data/Solution_AzureActivity.json
  Solutions/Azure Activity/Package/2.0.2.zip
  Solutions/Azure Activity/Package/2.0.3.zip
  Solutions/Azure Activity/Package/mainTemplate.json
Labels: dataconnector-cri, Solution

#7321 Recorded Future enrichment update
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/2.3.0.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash.json
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/IntelligenceCloudParameter.png
  Solutions/Recorded Future/Playbooks/RecordedFuture-IOC_Enrichment-IP_Domain_URL_Hash/images/RecordedFuture.png
  Solutions/Recorded Future/Playbooks/readme.md
Labels: Playbook, Solution

#7255 Fix rule scheduling in Analytic Rule GuestAccountsAddedinAADGroupsOtherThanTheOnesSpecified.yaml
  Detections/AuditLogs/GuestAccountsAddedinAADGroupsOtherThanTheOnesSpecified.yaml
Labels: Detection

#7249 Fix condition in Analytic rule Dev-0270PowershellSep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270PowershellSep2022.yaml
Labels: Detection

#7273 Updating AAD Solution to 2.0.7
  Solutions/Azure Active Directory/Data/Solution_AAD.json
  Solutions/Azure Active Directory/Package/2.0.7.zip
  Solutions/Azure Active Directory/Package/createUiDefinition.json
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution

#7284 Adding Talon Security Workbook
  Workbooks/Images/Logos/Talon.svg
  Workbooks/Images/Preview/TalonInsightsBlack.png
  Workbooks/Images/Preview/TalonInsightsWhite.png
  Workbooks/TalonInsights.json
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Workbook

#7384 Updating techniques for azure activity
  Solutions/Azure Activity/Package/2.0.3.zip
  Solutions/Azure Activity/Package/mainTemplate.json
Labels: Solution

#7386 Schema update for dynamic 365activity
  .script/dataConnectorValidator.ts
  .script/utils/dataConnector.ts
  .script/utils/schemas/Dynamics365Activity_ConnectorSchema.json
Labels: Connector

#7387 Update 2.0.2.zip
  Solutions/Microsoft 365/Package/2.0.2.zip
Labels: Solution

#7358 Updating playbooks and package for Dynatrace
  Solutions/Dynatrace/Package/2.0.0.zip
  Solutions/Dynatrace/Package/mainTemplate.json
  Solutions/Dynatrace/Playbooks/Add_DynatraceApplicationSecurityAttackSourceIpThreatIntelligence/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackMSDefender365/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackWithSecurityAlerts/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich_DynatraceApplicationSecurityAttackIncident/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSDefender365/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceSentinelSecurityAlerts/azuredeploy.json
Labels: Solution

#7391 Windows Forwarded Events Update 2.0.2.zip
  Solutions/Windows Forwarded Events/Package/2.0.2.zip
Labels: Solution

#7393 Azure Data Lake Storage Gen1 - updated the logo path
  Solutions/Azure Data Lake Storage Gen1/Data/Solutions_AzureDataLake.json
  Solutions/Azure Data Lake Storage Gen1/Package/2.0.1.zip
  Solutions/Azure Data Lake Storage Gen1/Package/createUiDefinition.json
Labels: Solution

#7307 add-filtered-websession-paloaltocef
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionPaloAltoCEF.yaml
Labels: ASIM

#7262 Azure Active Directory Identity Protection
  Solutions/Azure Active Directory Identity Protection/Data Connectors/template_AzureActiveDirectoryIdentityProtection.JSON
  Solutions/Azure Active Directory Identity Protection/Data/Solution_AzureADIdentityProtection.json
  Solutions/Azure Active Directory Identity Protection/Package/2.0.3.zip
  Solutions/Azure Active Directory Identity Protection/Package/2.0.4.zip
  Solutions/Azure Active Directory Identity Protection/Package/createUiDefinition.json
  Solutions/Azure Active Directory Identity Protection/Package/mainTemplate.json
Labels: dataconnector-cri, Solution

#7385 Update readme.md
  Playbooks/ThinkstCanary-Alert-Ingestion/readme.md
Labels: Playbook

#7089 Adding data connector ASimDnsActivityLogs
  Solutions/Windows Server DNS/Data Connectors/template_ASimDnsActivityLogs.JSON
  Solutions/Windows Server DNS/Data/Solution_DNS.json
  Solutions/Windows Server DNS/Package/2.0.2.zip
  Solutions/Windows Server DNS/Package/2.0.3.zip
  Solutions/Windows Server DNS/Package/createUiDefinition.json
  Solutions/Windows Server DNS/Package/mainTemplate.json
Labels: Connector, Solution

#7382 LegacyIOC Bug Fix for Analytic Rules
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Package/2.0.3.zip
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
Labels: Solution

#7315 Repackage Windows Firewall
  Solutions/Windows Firewall/Data Connectors/Windows Firewall.JSON
  Solutions/Windows Firewall/Data Connectors/template_WindowsFirewallAma.JSON
  Solutions/Windows Firewall/Data/Solution_Windows Firewall.json
  Solutions/Windows Firewall/Package/2.0.2.zip
  Solutions/Windows Firewall/Package/createUiDefinition.json
  Solutions/Windows Firewall/Package/mainTemplate.json
Labels: Solution

#7409 ZeroNetworks: Fixed Pkg
  Solutions/ZeroNetworks/Package/2.0.2.zip
  Solutions/ZeroNetworks/Package/mainTemplate.json
  Solutions/ZeroNetworks/SolutionMetadata.json
Labels: Solution

#7241 Azure DDOS Protection pkg update
  Solutions/Azure DDoS Protection/Data Connectors/DDOS.JSON
  Solutions/Azure DDoS Protection/Data/Solution_AzureDDoSProtection.json
  Solutions/Azure DDoS Protection/Package/2.0.3.zip
  Solutions/Azure DDoS Protection/Package/2.0.4.zip
  Solutions/Azure DDoS Protection/Package/createUiDefinition.json
  Solutions/Azure DDoS Protection/Package/mainTemplate.json
Labels: dataconnector-cri, Solution

#7403 Amazon web services UI update
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/2.0.5.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Solution

#7416 Repackage Azure Active Directory
  Solutions/Azure Active Directory/Data Connectors/template_AzureActiveDirectory.JSON
  Solutions/Azure Active Directory/Package/2.0.7.zip
  Solutions/Azure Active Directory/Package/mainTemplate.json
Labels: Solution

#7415 Updating package of Windows Server DNS
  Solutions/Windows Server DNS/Package/2.0.3.zip
  Solutions/Windows Server DNS/Package/createUiDefinition.json
  Solutions/Windows Server DNS/Package/mainTemplate.json
Labels: Solution

#7408 Jamf Protect for Microsoft Sentinel - v2.1.1
  Solutions/Jamf Protect/Analytic Rules/JamfProtectAlerts.yaml
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Package/2.1.1.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/SolutionMetadata.json
Labels: Solution, Analytic Rules

#7251 Fix condition in Analytic Rule Dev-0270WMICDiscoverySep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270WMICDiscoverySep2022.yaml
Labels: Analytic Rules

#7399 Update ReversingLabs solution to v2.1.0
  Solutions/ReversingLabs/Data/Solution_ReversingLabs.json
  Solutions/ReversingLabs/Package/2.1.0.zip
  Solutions/ReversingLabs/Package/createUiDefinition.json
  Solutions/ReversingLabs/Package/mainTemplate.json
  Solutions/ReversingLabs/Playbooks/ReversingLabs-CheckQuota/README.md
  Solutions/ReversingLabs/Playbooks/ReversingLabs-CheckQuota/azuredeploy.json
  Solutions/ReversingLabs/Playbooks/ReversingLabs-CheckQuota/playbook.jpg
  Solutions/ReversingLabs/SolutionMetadata.json
  Solutions/ReversingLabs/Workbooks/ReversingLabs-CapabilitiesOverview/ReversingLabs-CapabilitiesOverview.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7348 Update InsecureProtocols.json
  Workbooks/InsecureProtocols.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#6993 Repackage Trend Micro Vision One
  Solutions/Trend Micro Vision One/Data/Solution_TrendMicroVisionOneTemplateSpec.json
  Solutions/Trend Micro Vision One/Package/2.0.1.zip
  Solutions/Trend Micro Vision One/Package/createUiDefinition.json
  Solutions/Trend Micro Vision One/Package/mainTemplate.json
Labels: Solution

#7388 Update TimeSeriesAnomaly-ProcessExecutions.yaml
  Solutions/Windows Security Events/Analytic Rules/TimeSeriesAnomaly-ProcessExecutions.yaml
Labels: Solution, Analytic Rules

#7340 Add solution: Dynamics 365 data connector
  Solutions/Dynamics 365/Data Connectors/template_Dynamics365.json
  Solutions/Dynamics 365/Data/Solution_Dynamics365.json
  Solutions/Dynamics 365/Package/2.0.1.zip
  Solutions/Dynamics 365/Package/createUiDefinition.json
  Solutions/Dynamics 365/Package/mainTemplate.json
  Solutions/Dynamics 365/SolutionMetadata.json
Labels: Solution

#7422 Google Logos update
  Logos/google-workspace-logo.svg
Labels: Logo

#7381 AzureDevopsAuditing: Added EntityType Url and Repackaging of Solution
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOHistoricPrPolicyBypassing.yaml
  Solutions/AzureDevOpsAuditing/Data/Solution_AzureDevOpsAuditing.json
  Solutions/AzureDevOpsAuditing/Package/2.0.2.zip
  Solutions/AzureDevOpsAuditing/Package/createUiDefinition.json
  Solutions/AzureDevOpsAuditing/Package/mainTemplate.json
Labels: Solution, Detection

#7252 Solution Tool Update For Workbook Description
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7373 EntityTrigger Logic apps for Restrict IP, Domain, Url and FileHash
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/Restrict-MDEDomain-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/Restrict-MDEDomain-entity-trigger/images/Restrict-MDEDomain-entityTrigger-dark.png
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/Restrict-MDEDomain-entity-trigger/images/Restrict-MDEDomain-entityTrigger-light.png
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/readme.md
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-entity-trigger/images/Restrict-MDEFileHash-entityTrigger-dark.png
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-entity-trigger/images/Restrict-MDEFileHash-entityTrigger-light.png
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/readme.md
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-entity-trigger/images/Restrict-MDEIPAddress-entityTrigger-dark.png
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-entity-trigger/images/Restrict-MDEIPAddress-entityTrigger-light.png
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/readme.md
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEUrl/Restrict-MDEUrl-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEUrl/Restrict-MDEUrl-entity-trigger/images/Restrict-MDEURLAddress-entityTrigger-dark.png
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEUrl/Restrict-MDEUrl-entity-trigger/images/Restrict-MDEURLAddress-entityTrigger-light.png
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEUrl/readme.md
Labels: Playbook

#7429 Cohesity: Fixed Pkg
  Solutions/CohesitySecurity/Package/2.0.0.zip
  Solutions/CohesitySecurity/Package/mainTemplate.json
  Solutions/CohesitySecurity/SolutionMetadata.json
Labels: Solution

#7428 Update data connector desc DNS via AMA -add doc lk
  Solutions/Windows Server DNS/Data Connectors/template_ASimDnsActivityLogs.JSON
Labels: Connector

#7392 Repackaging of DEV-0270 Detection & Hunting
  Solutions/Dev 0270 Detection and Hunting/Data/Solution_DEV0270.json
  Solutions/Dev 0270 Detection and Hunting/Package/2.0.1.zip
  Solutions/Dev 0270 Detection and Hunting/Package/mainTemplate.json
Labels: Solution, Analytic Rules

#7156 Update Endpoint Agent Health Status Report.yaml
  Hunting Queries/Microsoft 365 Defender/General queries/Endpoint Agent Health Status Report.yaml
Labels: Hunting

#7439 Solution packaging tool fix regarding workbook counter.
  Tools/Create-Azure-Sentinel-Solution/V2/createSolutionV2.ps1
Labels: Tools

#7440 Updating description for data connectors
  Solutions/Microsoft Defender For Identity/Package/2.0.1.zip
  Solutions/Microsoft Defender For Identity/Package/mainTemplate.json
  Solutions/Microsoft Purview Information Protection/Data Connectors/MicrosoftPurviewInformationProtection.json
  Solutions/Microsoft Purview Information Protection/Data/Solution_MicrosoftPurviewInformationProtection.json
  Solutions/Microsoft Purview Information Protection/Package/2.0.1.zip
  Solutions/Microsoft Purview Information Protection/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Data Connectors/template_OfficeIRM.JSON
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/2.0.5.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
Labels: Solution

#7438 Repackage Windows Server DNS
  Solutions/Windows Server DNS/Data Connectors/template_ASimDnsActivityLogs.JSON
  Solutions/Windows Server DNS/Data/Solution_DNS.json
  Solutions/Windows Server DNS/Package/2.0.4.zip
  Solutions/Windows Server DNS/Package/createUiDefinition.json
  Solutions/Windows Server DNS/Package/mainTemplate.json
Labels: Solution

#7411 Content Validation to check only Specific tag in Data,DataConnectors and CreateUiDefinition folder file
  .script/contentValidator.ts
  .script/skip-text.txt
  .script/validate-tag.json
Labels: Validation

#7417 Talon solution
  Logos/Talon.svg
  Sample Data/Talon_CL.csv
  Sample Data/Talon_Insights_sample.csv
  Solutions/Talon/Data Connectors/TalonLogs.json
  Solutions/Talon/Data/Solution_Talon.json
  Solutions/Talon/Package/2.0.0.zip
  Solutions/Talon/Package/createUiDefinition.json
  Solutions/Talon/Package/mainTemplate.json
  Solutions/Talon/SolutionMetadata.json
  Solutions/Talon/Workbooks/TalonInsights.json
  Solutions/Talon/Workbooks/images/previews/TalonInsightsBlack.png
  Solutions/Talon/Workbooks/images/previews/TalonInsightsWhite.png
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution

#7283 GCP Audit Log Packaging Changes with Data Connector
  Solutions/Google Cloud Platform Audit Logs/Package/2.0.0.zip
  Solutions/Google Cloud Platform Audit Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Audit Logs/Package/mainTemplate.json
Labels: Solution

#7404 Repackage Cisco ASA
  Solutions/CiscoASA/Data Connectors/template_CiscoAsaAma.JSON
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/2.0.3.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/SolutionMetadata.json
Labels: Solution

#7240 Repackage Windows Security Events
  Solutions/Windows Security Events/Data Connectors/template_SecurityEvents.JSON
  Solutions/Windows Security Events/Data Connectors/template_WindowsSecurityEvents.JSON
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/2.0.2.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
Labels: Solution
