Repository Azure/Azure-Sentinel, pull requests merged in 2024-09, with the labels that each got.

#11054 Update ReleaseNotes.md
  Solutions/Power Platform/ReleaseNotes.md
Labels: documentation

#11059 Create ReleaseNotes.md
  Solutions/Dynamics 365/ReleaseNotes.md
Labels: documentation

#11067 PhishingAnalysis.json - Update WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#11066 Python Version Updated to 3.11 in ESET Inspect
  Solutions/ESET Inspect/Data Connectors/AzureFunctionESETInspect.zip
  Solutions/ESET Inspect/Data Connectors/azuredeploy_ESETInspect_API_FunctionApp.json
Labels: Connector, P0, Python-Version-Update

#11071 Recorded future readme update
  Solutions/Recorded Future Identity/Playbooks/images/APIRequest.png
  Solutions/Recorded Future Identity/Playbooks/images/BasePlaybooks.png
  Solutions/Recorded Future Identity/Playbooks/images/after_solution_deployed_1.png
  Solutions/Recorded Future Identity/Playbooks/images/after_solution_deployed_2.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_1.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_2.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_3.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_4.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_5.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_icon_1.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_icon_2.png
  Solutions/Recorded Future Identity/Playbooks/images/deploy_custom_template_service_icon_3.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_1.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_2.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_3.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_4.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_5.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_6.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_7.png
  Solutions/Recorded Future Identity/Playbooks/images/microsoft_sentinel_8.png
  Solutions/Recorded Future Identity/Playbooks/images/playbookauth.png
  Solutions/Recorded Future Identity/Playbooks/images/playbookparameters.png
  Solutions/Recorded Future Identity/Playbooks/images/runningPlaybooks.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_connections_1.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_connections_2.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_connections_3.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_connections_arrow.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_edit.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_parameters.png
  Solutions/Recorded Future Identity/Playbooks/images/workforce_playbook_parameters_arrow.png
  Solutions/Recorded Future Identity/Playbooks/readme.md
  Solutions/Recorded Future Identity/readme.md
Labels: Playbook, Solution

#11081 GSA Solution packaged
  Solutions/Global Secure Access/Data/Solution_GlobalSecureAccess.json
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/createUiDefinition.json
  Solutions/Global Secure Access/Package/mainTemplate.json
  Solutions/Global Secure Access/ReleaseNotes.md
Labels: Solution, Content-Package

#11075 Update runAsimSchemaAndDataTesters.yaml
  .github/workflows/runAsimSchemaAndDataTesters.yaml
Labels: workflows

#11087 Python Version Updated to 3.11 in Following Solutions Release Notes
  Solutions/Cloudflare/ReleaseNotes.md
  Solutions/Google Apigee/ReleaseNotes.md
  Solutions/Google Cloud Platform Cloud Monitoring/ReleaseNotes.md
  Solutions/GoogleCloudPlatformDNS/ReleaseNotes.md
  Solutions/Lookout Cloud Security Platform for Microsoft Sentinel/ReleaseNotes.md
Labels: Python-Version-Update

#11094 ASIM Automation-BugFixing
  .github/workflows/runAsimSchemaAndDataTesters.yaml
  .script/tests/asimParsersTest/VerifyASimParserTemplate.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: ASIM

#11086 Cribl fixes for Sentinel Solution
  Logos/Cribl-Logo.svg
  Solutions/Cribl/Package/3.0.0.zip
  Solutions/Cribl/Package/mainTemplate.json
  Solutions/Cribl/SolutionMetadata.json
Labels: Solution

#10991 Update azuredeploy_QualysKB_API_FunctionApp.json
  Solutions/Qualys VM Knowledgebase/Data Connectors/azuredeploy_QualysKB_API_FunctionApp.json
  Solutions/Qualys VM Knowledgebase/ReleaseNotes.md
Labels: Connector, Solution

#11099 Phosphorus-Data-Connector-version-update
  Solutions/Phosphorus/ReleaseNotes.md
Labels: documentation

#11102 Updated parser file txt to yaml
  Solutions/Alibaba Cloud/Data/Solution_Alibaba Cloud.json
  Solutions/Alibaba Cloud/Package/3.0.0.zip
  Solutions/Alibaba Cloud/Package/createUiDefinition.json
  Solutions/Alibaba Cloud/Package/mainTemplate.json
  Solutions/Cisco Secure Endpoint/Data/Solution_CiscoSecureEndpoint.json
  Solutions/Cisco Secure Endpoint/Package/3.0.0.zip
  Solutions/Cisco Secure Endpoint/Package/createUiDefinition.json
  Solutions/Cisco Secure Endpoint/Package/mainTemplate.json
  Solutions/Google Apigee/Data/Solution_Google Apigee.json
  Solutions/Google Apigee/Package/3.0.0.zip
  Solutions/Google Apigee/Package/createUiDefinition.json
  Solutions/Google Apigee/Package/mainTemplate.json
  Solutions/Google Cloud Platform Cloud Monitoring/Data/Solution_GoogleCloudPlatformMonitor.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/3.0.0.zip
  Solutions/Google Cloud Platform Cloud Monitoring/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformDNS/Data/Solution_GoogleCloudPlatformDNS.json
  Solutions/GoogleCloudPlatformDNS/Package/3.0.1.zip
  Solutions/GoogleCloudPlatformDNS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformDNS/Package/mainTemplate.json
Labels: Parser, Solution, Content-Package

#11106 FixARMTTK
  Solutions/Microsoft 365/Package/3.0.4.zip
Labels: Solution

#11110 Updated Release Notes
  Solutions/Alibaba Cloud/ReleaseNotes.md
  Solutions/GoogleCloudPlatformDNS/ReleaseNotes.md
Labels: documentation

#11037 Recorded Future Identity Bugfixes and solution pack fixes
  Solutions/Recorded Future Identity/Data/Solution_RecordedFutureIdentity.json
  Solutions/Recorded Future Identity/Package/3.0.1.zip
  Solutions/Recorded Future Identity/Package/mainTemplate.json
  Solutions/Recorded Future Identity/Playbooks/RFI-search-external-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-search-workforce-user/azuredeploy.json
  Solutions/Recorded Future Identity/ReleaseNotes.md
  Solutions/Recorded Future Identity/SolutionMetadata.json
Labels: Solution

#11105 slash next 3.11 version update
  Solutions/SlashNext/FunctionApp/deploy.json
Labels: Connector, P0, Python-Version-Update

#11089 Python Version Updated to 3.11 in Proofpoint On demand
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofpointPOD_API_FunctionApp.json
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofpointSentinelConn.zip
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/azuredeploy_Connector_Proofpoint_AzureFunction.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/3.0.2.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
  Solutions/Proofpoint On demand(POD) Email Security/ReleaseNotes.md
Labels: Connector, Solution, Content-Package, Python-Version-Update

#11080 Iboss ama update
  Solutions/iboss/Data Connectors/template_ibossAMA.json
  Solutions/iboss/Data/Solution_iboss.json
  Solutions/iboss/Package/3.1.0.zip
  Solutions/iboss/Package/createUiDefinition.json
  Solutions/iboss/Package/mainTemplate.json
  Solutions/iboss/Parsers/ibossUrlEvent.yaml
Labels: Connector, Parser, Solution

#11061 Microsoft Defender for Office 365 Defender XDR workbook update
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Package/3.0.9.zip
  Solutions/Microsoft Defender XDR/Package/createUiDefinition.json
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/Package/testParameters.json
  Solutions/Microsoft Defender XDR/Workbooks/Images/Preview/MicrosoftDefenderForOffice365detectionsandinsightsblack.png
  Solutions/Microsoft Defender XDR/Workbooks/Images/Preview/MicrosoftDefenderForOffice365detectionsandinsightswhite.png
  Solutions/Microsoft Defender XDR/Workbooks/MDO Insights.json
  Solutions/Microsoft Defender XDR/Workbooks/MicrosoftDefenderForOffice365detectionsandinsights.json
  Workbooks/Images/Preview/MicrosoftDefenderForOffice365detectionsandinsightsblack.png
  Workbooks/Images/Preview/MicrosoftDefenderForOffice365detectionsandinsightswhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#11008 update Microsoft Sentinel Cost (EUR)
  Workbooks/MicrosoftSentinelCostEUR.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#11090 New Microsoft Sentinel Workbook for Windows Firewall via AMA connector.
  Workbooks/Images/Logos/WindowsFirewallViaAMA.svg
  Workbooks/Images/Preview/WindowsFirewallviaAMABlack1.png
  Workbooks/Images/Preview/WindowsFirewallviaAMABlack2.png
  Workbooks/Images/Preview/WindowsFirewallviaAMAWhite1.png
  Workbooks/Images/Preview/WindowsFirewallviaAMAWhite2.png
  Workbooks/WindowsFirewallViaAMA.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#11128 Created new workbook to monitor Microsoft Copilot for Security
  Workbooks/CopilotforSecurityMonitoring.json
  Workbooks/Images/Preview/MicrosoftCopilotForSecurityBlack.png
  Workbooks/Images/Preview/MicrosoftCopilotForSecurityWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#10941 Added Silverfort Solution
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/silverfort-logo.svg
  Solutions/Silverfort/Analytic Rules/Certifried.yaml
  Solutions/Silverfort/Analytic Rules/Log4Shell.yaml
  Solutions/Silverfort/Analytic Rules/NoPac_Breach.yaml
  Solutions/Silverfort/Analytic Rules/User_Brute_Force.yaml
  Solutions/Silverfort/Data Connectors/SilverfortAma.json
  Solutions/Silverfort/Data/Solution_Silverfort.json
  Solutions/Silverfort/Package/3.0.0.zip
  Solutions/Silverfort/Package/createUiDefinition.json
  Solutions/Silverfort/Package/mainTemplate.json
  Solutions/Silverfort/Package/testParameters.json
  Solutions/Silverfort/ReleaseNotes.md
  Solutions/Silverfort/SolutionMetadata.json
  Solutions/Silverfort/Workbooks/SilverfortWorkbook.json
  Workbooks/Images/Logos/silverfort-logo.svg
  Workbooks/Images/Preview/SilverfortBlack.png
  Workbooks/Images/Preview/SilverfortWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Solution

#11136 Wrong indentation issue fixed in hunting queries
  Hunting Queries/Microsoft 365 Defender/Device Inventory/MDE_FindOutOfDateClients.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_AVScanTimesAndType.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_BlockingASRRules.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_BrowserExtensionInstalled.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_DeviceHealth.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_DeviceInventory-LastUserLoggedIn.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_Evidenceforasingledevice.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindDefenderSettingsOnEndpoints.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindLNKFilesOnEndpoints.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindMountedISOandDriveLetters.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindsPowerShellExecutionEvents.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindstatuschangefromExposurelevel.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ListAlPnPDevicesAllowedorBlocked.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ListAllNotOnboardedEnpoints.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_Networktrafficgoingtoport-DNS.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_Networktrafficgoingtoport.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ProxyChangesViaRegistry.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ShowUSBMountedDevicesAndDriveLetter.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ShowUSBMountedandfilescopied.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_SmartScreenCheck.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_SoftwareInventorybyOS.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDI_Objects_Moving_OUs.YAML
Labels: Hunting

#11121 Python Version updated to 3.11 in Salesforce Service Cloud
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConn.zip
  Solutions/Salesforce Service Cloud/Data Connectors/azuredeploy_Connector_Salesforce_Service_Cloud_AzureFunction.json
Labels: Connector, Python-Version-Update

#11122 Updated Entity mappings of analytical rules
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/3.0.6.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#11160 Update ingestASimSampleData.py and runAsimSchemaAndDataTesters.yaml
  .github/workflows/runAsimSchemaAndDataTesters.yaml
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: ASIM

#11164 To not change SELinux context we should not move the syslog conf file.
  DataConnectors/Syslog/Forwarder_AMA_installer.py
Labels: Connector

#11134 Iboss ama boolean update
  Solutions/iboss/Data Connectors/iboss_cef.json
  Solutions/iboss/Data Connectors/template_ibossAMA.json
  Solutions/iboss/Data/Solution_iboss.json
  Solutions/iboss/Package/3.1.1.zip
  Solutions/iboss/Package/mainTemplate.json
Labels: Connector, Solution

#11144 fix spelling in data connector templates
  Solutions/CTM360/Data Connectors/CBS/CTM360_CBS_API_functionApp.json
Labels: Connector, Solution

#11171 Update template_Dynamics365.json
  Solutions/Dynamics 365/Data Connectors/template_Dynamics365.json
  Solutions/Dynamics 365/Package/3.0.0.zip
  Solutions/Dynamics 365/Package/createUiDefinition.json
  Solutions/Dynamics 365/Package/mainTemplate.json
  Solutions/Dynamics 365/Package/testParameters.json
  Solutions/Dynamics 365/ReleaseNotes.md
Labels: Connector

#11158 Updated Parser and Release Notes
  Solutions/AbnormalSecurity/ReleaseNotes.md
  Solutions/CiscoUmbrella/ReleaseNotes.md
  Solutions/GoogleWorkspaceReports/Package/3.0.0.zip
  Solutions/GoogleWorkspaceReports/Package/createUiDefinition.json
  Solutions/GoogleWorkspaceReports/Package/mainTemplate.json
Labels: Solution

#11161 Preview ti map to cloud app
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_CloudAppEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/FileHashEntity_CloudAppEvents.yaml
  Solutions/Threat Intelligence/Package/3.0.6.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Solution, Analytic Rules

#11163 Silverfort PR - Marketplace Issues
  Solutions/Silverfort/Data/Solution_Silverfort.json
  Solutions/Silverfort/Package/3.0.0.zip
  Solutions/Silverfort/Package/createUiDefinition.json
  Solutions/Silverfort/Package/mainTemplate.json
  Solutions/Silverfort/Package/testParameters.json
Labels: Solution

#11127 Duplicate guid fix for GSA solution
  .script/tests/idChangeValidatorTest/SkipIdValidationsTemplates.json
  Solutions/Global Secure Access/Analytic Rules/Identity - AfterHoursActivity.yaml
  Solutions/Global Secure Access/Analytic Rules/Identity - SharedSessions.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - External User added to Team and immediately uploads file.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - ExternalUserAddedRemovedInTeams.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Malicious_Inbox_Rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_MailForwarding.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_Uploaded_Executables.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - RareOfficeOperations.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewIP.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewUserAgent.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - exchange_auditlogdisabled.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - office_policytampering.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_above_threshold.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_folders_above_threshold.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Deny Rate.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Port to Protocol.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Source IP Port Scan.yaml
  Solutions/Global Secure Access/Data/Solution_GlobalSecureAccess.json
  Solutions/Global Secure Access/Hunting Queries/AnomolousUserAccessingOtherUsersMailbox.yaml
  Solutions/Global Secure Access/Hunting Queries/ExternalUserAddedRemovedInTeams_HuntVersion.yaml
  Solutions/Global Secure Access/Hunting Queries/ExternalUserFromNewOrgAddedToTeams.yaml
  Solutions/Global Secure Access/Hunting Queries/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Solutions/Global Secure Access/Hunting Queries/MultiTeamBot.yaml
  Solutions/Global Secure Access/Hunting Queries/MultiTeamOwner.yaml
  Solutions/Global Secure Access/Hunting Queries/MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Hunting Queries/MultipleUsersEmailForwardedToSameDestination.yaml
  Solutions/Global Secure Access/Hunting Queries/NewBotAddedToTeams.yaml
  Solutions/Global Secure Access/Hunting Queries/New_WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Global Secure Access/Hunting Queries/OfficeMailForwarding_hunting.yaml
  Solutions/Global Secure Access/Hunting Queries/TeamsFilesUploaded.yaml
  Solutions/Global Secure Access/Hunting Queries/UserAddToTeamsAndUploadsFile.yaml
  Solutions/Global Secure Access/Hunting Queries/WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Global Secure Access/Hunting Queries/double_file_ext_exes.yaml
  Solutions/Global Secure Access/Hunting Queries/new_adminaccountactivity.yaml
  Solutions/Global Secure Access/Hunting Queries/new_sharepoint_downloads_by_IP.yaml
  Solutions/Global Secure Access/Hunting Queries/new_sharepoint_downloads_by_UserAgent.yaml
  Solutions/Global Secure Access/Hunting Queries/nonowner_MailboxLogin.yaml
  Solutions/Global Secure Access/Hunting Queries/powershell_or_nonbrowser_MailboxLogin.yaml
  Solutions/Global Secure Access/Hunting Queries/sharepoint_downloads.yaml
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/createUiDefinition.json
  Solutions/Global Secure Access/Package/mainTemplate.json
  Solutions/Global Secure Access/Package/testParameters.json
  Solutions/Global Secure Access/ReleaseNotes.md
  Solutions/Global Secure Access/SolutionMetadata.json
  Solutions/Global Secure Access/Workbooks/GSAM365EnrichedEvents.json
  Solutions/Global Secure Access/Workbooks/GSANetworkTraffic.json
Labels: Solution

#11187 Adding GSA Solution with new ID's for Analytic Rules
  Solutions/Global Secure Access/Analytic Rules/Identity - AfterHoursActivity.yaml
  Solutions/Global Secure Access/Analytic Rules/Identity - SharedSessions.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - External User added to Team and immediately uploads file.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - ExternalUserAddedRemovedInTeams.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Malicious_Inbox_Rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_MailForwarding.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_Uploaded_Executables.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - RareOfficeOperations.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewIP.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewUserAgent.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - exchange_auditlogdisabled.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - office_policytampering.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_above_threshold.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_folders_above_threshold.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Deny Rate.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Port to Protocol.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Source IP Port Scan.yaml
  Solutions/Global Secure Access/Data/Solution_GlobalSecureAccess.json
  Solutions/Global Secure Access/Hunting Queries/AnomolousUserAccessingOtherUsersMailbox.yaml
  Solutions/Global Secure Access/Hunting Queries/ExternalUserAddedRemovedInTeams_HuntVersion.yaml
  Solutions/Global Secure Access/Hunting Queries/ExternalUserFromNewOrgAddedToTeams.yaml
  Solutions/Global Secure Access/Hunting Queries/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Solutions/Global Secure Access/Hunting Queries/MultiTeamBot.yaml
  Solutions/Global Secure Access/Hunting Queries/MultiTeamOwner.yaml
  Solutions/Global Secure Access/Hunting Queries/MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Hunting Queries/MultipleUsersEmailForwardedToSameDestination.yaml
  Solutions/Global Secure Access/Hunting Queries/NewBotAddedToTeams.yaml
  Solutions/Global Secure Access/Hunting Queries/New_WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Global Secure Access/Hunting Queries/OfficeMailForwarding_hunting.yaml
  Solutions/Global Secure Access/Hunting Queries/TeamsFilesUploaded.yaml
  Solutions/Global Secure Access/Hunting Queries/UserAddToTeamsAndUploadsFile.yaml
  Solutions/Global Secure Access/Hunting Queries/WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Global Secure Access/Hunting Queries/double_file_ext_exes.yaml
  Solutions/Global Secure Access/Hunting Queries/new_adminaccountactivity.yaml
  Solutions/Global Secure Access/Hunting Queries/new_sharepoint_downloads_by_IP.yaml
  Solutions/Global Secure Access/Hunting Queries/new_sharepoint_downloads_by_UserAgent.yaml
  Solutions/Global Secure Access/Hunting Queries/nonowner_MailboxLogin.yaml
  Solutions/Global Secure Access/Hunting Queries/powershell_or_nonbrowser_MailboxLogin.yaml
  Solutions/Global Secure Access/Hunting Queries/sharepoint_downloads.yaml
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/createUiDefinition.json
  Solutions/Global Secure Access/Package/mainTemplate.json
  Solutions/Global Secure Access/Package/testParameters.json
  Solutions/Global Secure Access/ReleaseNotes.md
  Solutions/Global Secure Access/SolutionMetadata.json
  Solutions/Global Secure Access/Workbooks/GSAM365EnrichedEvents.json
  Solutions/Global Secure Access/Workbooks/GSANetworkTraffic.json
Labels: Solution, Content-Package

#11191 Detections title changed
  Solutions/Global Secure Access/Analytic Rules/Office 365 - External User added to Team and immediately uploads file.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - ExternalUserAddedRemovedInTeams.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Malicious_Inbox_Rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_MailForwarding.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_Uploaded_Executables.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - RareOfficeOperations.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewIP.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewUserAgent.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - exchange_auditlogdisabled.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - office_policytampering.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_above_threshold.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_folders_above_threshold.yaml
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/createUiDefinition.json
  Solutions/Global Secure Access/Package/mainTemplate.json
Labels: Solution

#11189 [ZeroFox] Change query param in Alerts codeless connector
  Solutions/ZeroFox/Data Connectors/Alerts/alerts_connector.json
  Solutions/ZeroFox/Data/Solution_ZeroFox.json
  Solutions/ZeroFox/Package/3.2.0.zip
  Solutions/ZeroFox/Package/mainTemplate.json
  Solutions/ZeroFox/ReleaseNotes.md
Labels: Connector, Solution

#11172 Solution Repackaged for CTM360 and ESI
  Solutions/CTM360/Package/3.0.2.zip
  Solutions/CTM360/Package/mainTemplate.json
  Solutions/CTM360/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.1.5.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/ReleaseNotes.md
Labels: Connector, Solution, P0

#11195 Cisco Meraki via REST API configurationChanges pagination fix
  Solutions/Cisco Meraki Events via REST API/Data Connectors/CiscoMerakiMultiRule_ccp/dataConnectorPoller.json
  Solutions/Cisco Meraki Events via REST API/Data/Solution_Cisco Meraki Events via REST API.json
  Solutions/Cisco Meraki Events via REST API/Package/3.0.1.zip
  Solutions/Cisco Meraki Events via REST API/Package/mainTemplate.json
  Solutions/Cisco Meraki Events via REST API/ReleaseNotes.md
Labels: Connector, Solution

#11182 Add reader role
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_READER.SAP
Labels: SAP
