Repository Azure/Azure-Sentinel, pull requests merged in 2024-01, with the labels that each got.

#9695 update createUiDefinition
  Solutions/Windows Security Events/Package/3.0.1.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
Labels: Solution

#9696 Leaderboard Monthly Update - Update stats.md file with Dec 2023 Data
  Tools/stats/stats.md
Labels: Tools

#9686 Removed key vault integration
  .azure-pipelines/kqlValidations.yaml
Labels: Tools

#9697 Updating ReleaseNotes for GitHub solution
  Solutions/GitHub/ReleaseNotes.md
Labels: documentation

#9694 Shainw entity map fix 5 [last few AuditLogs]
  Detections/AuditLogs/ServicePrincipalAssignedAppRoleWithSensitiveAccess.yaml
  Detections/AuditLogs/ServicePrincipalAssignedPrivilegedRole.yaml
  Detections/AuditLogs/SuspiciousLinkingofExternalIdtoExistingUsers.yaml
  Detections/AuditLogs/URLAddedtoApplicationfromUnknownDomain.yaml
  Detections/AuditLogs/UserAccountCreatedUsingIncorrectNamingFormat.yaml
  Detections/AuditLogs/UserStatechangedfromGuesttoMember.yaml
  Detections/AuditLogs/Useraccountcreatedwithoutexpectedattributesdefined.yaml
Labels: Detection, CoreEntityFix

#9654 resourceid entity
  Solutions/Azure Key Vault/Analytic Rules/KeyvaultMassSecretRetrieval.yaml
  Solutions/Azure Key Vault/Package/3.0.0.zip
  Solutions/Azure Key Vault/Package/createUiDefinition.json
  Solutions/Azure Key Vault/Package/mainTemplate.json
  Solutions/Azure Key Vault/Package/testParameters.json
  Solutions/Azure Key Vault/ReleaseNotes.md
Labels: Detection

#9709 Deleting workbook from standalone folder
  Workbooks/CiscoUmbrella.json
Labels: Content-Package

#9690 Microsoft 365 - Bugfixes
  Solutions/Microsoft 365/Analytic Rules/External User added to Team and immediately uploads file.yaml
  Solutions/Microsoft 365/Analytic Rules/MailItemsAccessedTimeSeries.yaml
  Solutions/Microsoft 365/Analytic Rules/Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Microsoft 365/Analytic Rules/Malicious_Inbox_Rule.yaml
  Solutions/Microsoft 365/Analytic Rules/MultipleTeamsDeletes.yaml
  Solutions/Microsoft 365/Analytic Rules/Office_MailForwarding.yaml
  Solutions/Microsoft 365/Analytic Rules/Office_Uploaded_Executables.yaml
  Solutions/Microsoft 365/Analytic Rules/RareOfficeOperations.yaml
  Solutions/Microsoft 365/Analytic Rules/exchange_auditlogdisabled.yaml
  Solutions/Microsoft 365/Analytic Rules/office_policytampering.yaml
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_above_threshold.yaml
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_folders_above_threshold.yaml
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Hunting Queries/AnomolousUserAccessingOtherUsersMailbox.yaml
  Solutions/Microsoft 365/Hunting Queries/ExternalUserAddedRemovedInTeams_HuntVersion.yaml
  Solutions/Microsoft 365/Hunting Queries/ExternalUserFromNewOrgAddedToTeams.yaml
  Solutions/Microsoft 365/Hunting Queries/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Solutions/Microsoft 365/Hunting Queries/MultiTeamBot.yaml
  Solutions/Microsoft 365/Hunting Queries/MultiTeamOwner.yaml
  Solutions/Microsoft 365/Hunting Queries/MultipleTeamsDeletes.yaml
  Solutions/Microsoft 365/Hunting Queries/MultipleUsersEmailForwardedToSameDestination.yaml
  Solutions/Microsoft 365/Hunting Queries/NewBotAddedToTeams.yaml
  Solutions/Microsoft 365/Hunting Queries/New_WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Microsoft 365/Hunting Queries/OfficeMailForwarding_hunting.yaml
  Solutions/Microsoft 365/Hunting Queries/TeamsFilesUploaded.yaml
  Solutions/Microsoft 365/Hunting Queries/UserAddToTeamsAndUploadsFile.yaml
  Solutions/Microsoft 365/Hunting Queries/WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Microsoft 365/Hunting Queries/double_file_ext_exes.yaml
  Solutions/Microsoft 365/Hunting Queries/new_adminaccountactivity.yaml
  Solutions/Microsoft 365/Hunting Queries/new_sharepoint_downloads_by_IP.yaml
  Solutions/Microsoft 365/Hunting Queries/new_sharepoint_downloads_by_UserAgent.yaml
  Solutions/Microsoft 365/Hunting Queries/nonowner_MailboxLogin.yaml
  Solutions/Microsoft 365/Hunting Queries/powershell_or_nonbrowser_MailboxLogin.yaml
  Solutions/Microsoft 365/Hunting Queries/sharepoint_downloads.yaml
  Solutions/Microsoft 365/Package/3.0.1.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/Microsoft 365/Package/testParameters.json
  Solutions/Microsoft 365/ReleaseNotes.md
  Solutions/Microsoft 365/Workbooks/SharePointAndOneDrive.json
Labels: Solution, Content-Package

#9707 Prisma Cloud CWPP solution type change for password
  Solutions/Palo Alto Prisma Cloud CWPP/Data Connectors/PaloAltoPrismaCloudCWPP_ccp/dataConnectorPoller.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data/Solution_Palo Alto Prisma Cloud CWPP.json
  Solutions/Palo Alto Prisma Cloud CWPP/Package/3.0.2.zip
  Solutions/Palo Alto Prisma Cloud CWPP/Package/mainTemplate.json
  Solutions/Palo Alto Prisma Cloud CWPP/ReleaseNotes.md
Labels: Fixed, Content-Package

#9698 Repackage - Apache Log4j Vulnerability Detection , Web Session Essen…
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Apache_log4j_Vulnerability.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Base64_Download_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Container_Miner_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Firewall_Disable_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Linux_Toolkit_Detected.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/NetworkConnectionToNewExternalLDAPServer.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/NetworkConnectionldap_log4j.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Process_Termination_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/Suspicious_ShellScript_Activity.yaml
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/WAF_log4j_vulnerability.yaml
  Solutions/Apache Log4j Vulnerability Detection/Package/3.0.1.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/Package/testParameters.json
  Solutions/Apache Log4j Vulnerability Detection/ReleaseNotes.md
  Solutions/Network Session Essentials/Analytic Rules/ExcessiveHTTPFailuresFromSource.yaml
  Solutions/Network Session Essentials/Hunting Queries/DetectPortMisuseByAnomalyHunting.yaml
  Solutions/Network Session Essentials/Package/3.0.1.zip
  Solutions/Network Session Essentials/Package/createUiDefinition.json
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/Package/testParameters.json
  Solutions/Network Session Essentials/ReleaseNotes.md
  Solutions/Web Session Essentials/Package/3.0.1.zip
  Solutions/Web Session Essentials/Package/createUiDefinition.json
  Solutions/Web Session Essentials/Package/mainTemplate.json
  Solutions/Web Session Essentials/Package/testParameters.json
  Solutions/Web Session Essentials/ReleaseNotes.md
Labels: Solution, Content-Package

#9575 Tanium IP Address Schema Fix
  Solutions/Tanium/Package/3.0.0.zip
  Solutions/Tanium/Package/createUiDefinition.json
  Solutions/Tanium/Package/mainTemplate.json
  Solutions/Tanium/Package/testParameters.json
  Solutions/Tanium/Playbooks/Tanium-Apply-SecurityPatches-WithReboot/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-Apply-SecurityPatches-WithoutReboot/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-ComplyFindings/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-ComplyFindings/images/Tanium-ComplyFindings.png
  Solutions/Tanium/Playbooks/Tanium-GeneralHostInfo/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-MSDefenderHealth/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-QuarantineHosts/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-SCCMClientHealth/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-SecurityPatches/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-UnquarantineHosts/azuredeploy.json
  Solutions/Tanium/SolutionMetadata.json
Labels: Solution

#9704 Added fork branch condition for KQL Best Practices
  .script/tests/KqlvalidationsTests/GitHubApiClient.cs
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
Labels: Tools

#9713 corrected minor changes in solutions
  Solutions/Microsoft 365/Package/3.0.1.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Network Threat Protection Essentials/Package/3.0.0.zip
  Solutions/Network Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Network Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Tanium/Package/3.0.0.zip
  Solutions/Tanium/Package/createUiDefinition.json
  Solutions/Tanium/ReleaseNotes.md
Labels: Solution

#9708 Update Vectra XDR package to 3.1.0
  Solutions/Vectra XDR/Data/Solution_VectraXDR.json
  Solutions/Vectra XDR/Package/3.1.0.zip
  Solutions/Vectra XDR/Package/createUiDefinition.json
  Solutions/Vectra XDR/Package/mainTemplate.json
  Solutions/Vectra XDR/Package/testParameters.json
  Solutions/Vectra XDR/ReleaseNotes.md
  Solutions/Vectra XDR/SolutionMetadata.json
Labels: Solution

#9473 WindowsAuditParserUpdate
  Parsers/ASimAuditEvent/ARM/ASimAuditEventMicrosoftWindowsEvents/ASimAuditEventMicrosoftWindowsEvents.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventMicrosoftWindowsEvents/README.md
  Parsers/ASimAuditEvent/ARM/vimAuditEventMicrosoftWindowsEvents/vimAuditEventMicrosoftWindowsEvents.json
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventMicrosoftWindowsEvents.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventMicrosoftWindowsEvents.yaml
Labels: ASIM

#9015 ASIM Authentication schema parser with its sample and test data for CrowdStrikeFalconHost
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationCrowdStrikeFalconHost.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationCrowdStrikeFalconHost.yaml
  Parsers/ASimAuthentication/Tests/CrowdStrike_FalconHost_ASimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/CrowdStrike_FalconHost_ASimAuthentication_SchemaTest.csv
  Parsers/ASimAuthentication/Tests/CrowdStrike_FalconHost_vimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/CrowdStrike_FalconHost_vimAuthentication_SchemaTest.csv
  Sample Data/ASIM/CrowdStrike_Falcon_ASimAuthentication_IngestedLogs.csv
  Sample Data/ASIM/CrowdStrike_Falcon_ASimAuthentication_RawLogs.txt
Labels: ASIM

#9731 Fixed wrong account parsing in AuditLog block for MultiplePasswordresetsbyUser
  Detections/MultipleDataSources/MultiplePasswordresetsbyUser.yaml
Labels: Detection

#9730 Changed runtime to every 2h instead of 1d for 2 rules
  Detections/AuditLogs/ChangestoApplicationOwnership.yaml
  Detections/AuditLogs/URLAddedtoApplicationfromUnknownDomain.yaml
Labels: Detection

#9732 fix image and IDs for CTM360
  Logos/CTM360Logo.svg
  Solutions/CTM360/SolutionMetadata.json
Labels: Logo

#9692 updated by Account=tolower(Account)
  Detections/SecurityEvent/RDP_MultipleConnectionsFromSingleSystem.yaml
Labels: Detection

#9729 Updating validation for entityMapping max from 5 to 10
  .script/tests/detectionTemplateSchemaValidation/Models/QueryBasedTemplateInternalModel.cs
Labels: Validation, scripts

#9719 Entity Updates Jan 4 Diana Half
  Solutions/Microsoft Entra ID/Analytic Rules/DisabledAccountSigninsAcrossManyApplications.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/DistribPassCrackAttempt.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/ExchangeFullAccessGrantedToApp.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/ExplicitMFADeny.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/FailedLogonToAzurePortal.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/FirstAppOrServicePrincipalCredential.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/GuestAccountsAddedinAADGroupsOtherThanTheOnesSpecified.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/MFARejectedbyUser.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/MFASpammingfollowedbySuccessfullogin.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/MailPermissionsAddedToApplication.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/MaliciousOAuthApp_O365AttackToolkit.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/MaliciousOAuthApp_PwnAuth.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/MultipleAdmin_membership_removals_from_NewAdmin.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_ADFSDomainTrustMods.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_AuthenticationMethodsChangedforVIPUsers.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_NewAppOrServicePrincipalCredential.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_PIMElevationRequestRejected.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_PrivlegedRoleAssignedOutsidePIM.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_UseraddedtoPrivilgedGroups.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NewAppOrServicePrincipalCredential.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NewOnmicrosoftDomainAdded.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/PIMElevationRequestRejected.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/PrivilegedAccountsSigninFailureSpikes.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/PrivlegedRoleAssignedOutsidePIM.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/RareApplicationConsent.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SeamlessSSOPasswordSpray.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Sign-in Burst from Multiple Locations.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SigninBruteForce-AzurePortal.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SuspiciousAADJoinedDeviceUpdate.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SuspiciousOAuthApp_OfflineAccess.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SuspiciousServicePrincipalcreationactivity.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SuspiciousSignInFollowedByMFAModification.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UnusualGuestActivity.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UserAccounts-CABlockedSigninSpikes.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UserAssignedNewPrivilegedRole.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UserAssignedPrivilegedRole.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UseraddedtoPrivilgedGroups.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/nrt_FirstAppOrServicePrincipalCredential.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskHighUserAlertsCorrelation.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskHighUserIncidentsCorrelation.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskM365IRMAlertObserved.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskSensitiveDataAccessOutsideOrgGeo.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#9742 Disabling KQL Best practices temporarily for adding some additional functionality
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
Labels: scripts

#9737 Updated Cisco Duo solution to 3.0.0
  Solutions/CiscoDuoSecurity/Data Connectors/CiscoDuo_API_FunctionApp.json
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Package/3.0.0.zip
  Solutions/CiscoDuoSecurity/Package/ReleaseNotes.md
  Solutions/CiscoDuoSecurity/Package/createUiDefinition.json
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/Package/testParameters.json
Labels: Solution, Content-Package

#9744 Updating release notes
  Solutions/Australian Cyber Security Centre/ReleaseNotes.md
  Solutions/CiscoDuoSecurity/ReleaseNotes.md
Labels: documentation

#9706 EntityWorkJan3 - Manny
  Detections/ASimDNS/imDNS_Miners.yaml
  Detections/MultipleDataSources/SuspiciousLoginfromDeletedExternalIdentities.yaml
  Detections/MultipleDataSources/TimeSeriesAnomaly-MultiVendor_DataExfiltration.yaml
  Detections/MultipleDataSources/powershell_MangoSandstorm.yaml
  Solutions/Windows Security Events/Analytic Rules/NonDCActiveDirectoryReplication.yaml
Labels: Solution, Detection, Analytic Rules, CoreEntityFix

#9725 Update AuthenticationMethodChangedforPrivilegedAccount.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/AuthenticationMethodChangedforPrivilegedAccount.yaml
  Solutions/Business Email Compromise - Financial Fraud/Data/Solution_Business Email Compromise - Financial Fraud.json
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/AWSBucketAPILogs-SuspiciousDataAccessToS3BucketsfromUnknownIP.yaml
  Solutions/Business Email Compromise - Financial Fraud/Package/3.0.4.zip
  Solutions/Business Email Compromise - Financial Fraud/Package/createUiDefinition.json
  Solutions/Business Email Compromise - Financial Fraud/Package/mainTemplate.json
  Solutions/Business Email Compromise - Financial Fraud/ReleaseNotes.md
Labels: Solution, Analytic Rules

#8679 ASIM Process Event schema parser with its sample and test data for Trend Micro Vision One
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateTrendMicroVisionOne.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEvent.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventCreate.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessCreate.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateTrendMicroVisionOne.yaml
  Parsers/ASimProcessEvent/test/TrendMicro_VisionOne_ASimProcessCreate_DataTest.csv
  Parsers/ASimProcessEvent/test/TrendMicro_VisionOne_ASimProcessCreate_SchemaTest.csv
  Parsers/ASimProcessEvent/test/TrendMicro_VisionOne_vimProcessCreate_DataTest.csv
  Parsers/ASimProcessEvent/test/TrendMicro_VisionOne_vimProcessCreate_SchemaTest.csv
  Sample Data/ASIM/TrendMicroVisionOne_ASimProcessEvent_IngestedLogs.csv
  Sample Data/ASIM/TrendMicroVisionOne_ASimProcessEvent_RawLogs.json
Labels: ASIM

#8830 ASIM Audit Event schema parser with its sample and test data for VMware Carbon Black Cloud
  .script/tests/KqlvalidationsTests/CustomTables/CarbonBlackAuditLogs_CL.json
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuditEvent/Parsers/ASimAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventVMwareCarbonBlackCloud.yaml
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventVMwareCarbonBlackCloud.yaml
  Parsers/ASimAuditEvent/Tests/VMwareCarbonBlackCloud_ASimAuditEvent_DataTest.csv
  Parsers/ASimAuditEvent/Tests/VMwareCarbonBlackCloud_AsimAuditEvent_SchemaTest.csv
  Parsers/ASimAuditEvent/Tests/VMwareCarbonBlackCloud_vimAuditEvent_DataTest.csv
  Parsers/ASimAuditEvent/Tests/VMwareCarbonBlackCloud_vimAuditEvent_SchemaTest.csv
  Sample Data/ASIM/CarbonBlackAuditLogs_CL_Schema.csv
  Sample Data/ASIM/VMwareCarbonBlackCloud_ASimAuditEvent_IngestedLogs.csv
  Sample Data/ASIM/VMwareCarbonBlackCloud_ASimAuditEvent_RawLogs.json
Labels: ASIM

#9022 ASIM Audit Event schema parser with its sample and test data for CrowdStrikeFalconHost
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuditEvent/Parsers/ASimAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventCrowdStrikeFalconHost.yaml
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventCrowdStrikeFalconHost.yaml
  Parsers/ASimAuditEvent/Tests/CrowdStrike_FalconHost_ASimAuditEvent_DataTest.csv
  Parsers/ASimAuditEvent/Tests/CrowdStrike_FalconHost_AsimAuditEvent_SchemaTest.csv
  Parsers/ASimAuditEvent/Tests/CrowdStrike_FalconHost_vimAuditEvent_DataTest.csv
  Parsers/ASimAuditEvent/Tests/CrowdStrike_FalconHost_vimAuditEvent_SchemaTest.csv
  Sample Data/ASIM/CrowdStrike_FalconHost_ASimAuditEvent_IngestedLogs.csv
  Sample Data/ASIM/CrowdStrike_FalconHost_ASimAuditEvent_RawLogs.txt
Labels: ASIM

#9738 Palo Alto Prisma Cloud - Improved the Analytic Rule Logic
  Solutions/PaloAltoPrismaCloud/Analytic Rules/PaloAltoPrismaCloudHighSeverityAlertOpenedForXDays.yaml
  Solutions/PaloAltoPrismaCloud/Data/Solution_PaloAltoPrismaCloud.json
  Solutions/PaloAltoPrismaCloud/Package/3.0.1.zip
  Solutions/PaloAltoPrismaCloud/Package/createUiDefinition.json
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
  Solutions/PaloAltoPrismaCloud/Package/testParameters.json
  Solutions/PaloAltoPrismaCloud/ReleaseNotes.md
Labels: Analytic Rules, Content-Package, auto-package

#8831 ASIM Authentication Event schema parser with its sample and test data for VMware Carbon Black Cloud
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationVMwareCarbonBlackCloud.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationVMwareCarbonBlackCloud.yaml
  Parsers/ASimAuthentication/Tests/VMwareCarbonBackCloud_ASimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/VMwareCarbonBackCloud_ASimAuthentication_SchemaTest.csv
  Parsers/ASimAuthentication/Tests/VMwareCarbonBackCloud_vimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/VMwareCarbonBackCloud_vimAuthentication_SchemaTest.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimAuthentication_IngestedLogs.csv
  Sample Data/ASIM/VMware_CarbonBlackCloud_ASimAuthentication_RawLogs.json
Labels: ASIM

#9755 added new detection for kerberoast activities and made a change in previous detection
  Hunting Queries/Microsoft 365 Defender/Execution/detect-potential-kerberoast-activities.yaml
  Hunting Queries/Microsoft 365 Defender/General queries/wifikeys.yaml
Labels: Hunting

#9752 AIShield AI Security Monitoring Solution - Analytics rules count update
  Solutions/AIShield AI Security Monitoring/Data/Solution_AIShield.json
  Solutions/AIShield AI Security Monitoring/Package/3.0.0.zip
  Solutions/AIShield AI Security Monitoring/Package/createUiDefinition.json
  Solutions/AIShield AI Security Monitoring/Package/mainTemplate.json
  Solutions/AIShield AI Security Monitoring/Package/testParameters.json
  Solutions/AIShield AI Security Monitoring/ReleaseNotes.md
Labels: Solution

#9761 Update azuredeploy_Connector_JiraAuditAPI_AzureFunction.json
  Solutions/AtlassianJiraAudit/Data Connectors/azuredeploy_Connector_JiraAuditAPI_AzureFunction.json
Labels: Function

#9749 Added missing analytic rule to Solution
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Package/3.0.1.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
Labels: Solution, Content-Package

#9650 Malware Protection Essentials - ASIM Based Solution
  .script/tests/KqlvalidationsTests/CustomFunctions/_ASim_FileEvent.json
  .script/tests/KqlvalidationsTests/CustomFunctions/_ASim_ProcessEvent.json
  .script/tests/KqlvalidationsTests/CustomFunctions/_ASim_RegistryEvent.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/Malware Protection Essentials/Analytic Rules/BackupDeletionDetected.yaml
  Solutions/Malware Protection Essentials/Analytic Rules/PrintProcessersModified.yaml
  Solutions/Malware Protection Essentials/Analytic Rules/StartupRegistryModified.yaml
  Solutions/Malware Protection Essentials/Analytic Rules/SuspiciousProcessCreation.yaml
  Solutions/Malware Protection Essentials/Analytic Rules/WindowsAllowFirewallRuleAdded.yaml
  Solutions/Malware Protection Essentials/Analytic Rules/WindowsUpdateDisabled.yaml
  Solutions/Malware Protection Essentials/Data/Solution_MalwareProtectionEssentials.json
  Solutions/Malware Protection Essentials/Hunting Queries/ExecutableInUncommonLocation.yaml
  Solutions/Malware Protection Essentials/Hunting Queries/FileCretaedInStartupFolder.yaml
  Solutions/Malware Protection Essentials/Hunting Queries/FilesWithRansomwareExtensions.yaml
  Solutions/Malware Protection Essentials/Hunting Queries/NewMaliciousScheduledTask.yaml
  Solutions/Malware Protection Essentials/Hunting Queries/NewScheduledTaskCreation.yaml
  Solutions/Malware Protection Essentials/Hunting Queries/SystemFilesModifiedByUser.yaml
  Solutions/Malware Protection Essentials/Package/3.0.0.zip
  Solutions/Malware Protection Essentials/Package/createUiDefinition.json
  Solutions/Malware Protection Essentials/Package/mainTemplate.json
  Solutions/Malware Protection Essentials/Package/testParameters.json
  Solutions/Malware Protection Essentials/ReleaseNotes.md
  Solutions/Malware Protection Essentials/SolutionMetadata.json
  Solutions/Malware Protection Essentials/Watchlists/RansomwareFileExtensions.csv
  Solutions/Malware Protection Essentials/Watchlists/RansomwareFileExtensions.json
  Solutions/Malware Protection Essentials/Workbooks/Images/Preview/MalwareProtectionEssentialsBlack.png
  Solutions/Malware Protection Essentials/Workbooks/Images/Preview/MalwareProtectionEssentialsWhite.png
  Solutions/Malware Protection Essentials/Workbooks/MalwareProtectionEssentialsWorkbook.json
  Workbooks/Images/Preview/MalwareProtectionEssentialsBlack.png
  Workbooks/Images/Preview/MalwareProtectionEssentialsWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#9753 Bug fixes for Gitlab and Sophos XG
  Solutions/GitLab/ReleaseNotes.md
  Solutions/Sophos XG Firewall/Data Connectors/Connector_Syslog_SophosXGFirewall.json
  Solutions/Sophos XG Firewall/Data/Solution_SophosXGFirewall.json
  Solutions/Sophos XG Firewall/Package/2.0.1.zip
  Solutions/Sophos XG Firewall/Package/3.0.0.zip
  Solutions/Sophos XG Firewall/Package/createUiDefinition.json
  Solutions/Sophos XG Firewall/Package/mainTemplate.json
  Solutions/Sophos XG Firewall/Package/testParameters.json
  Solutions/Sophos XG Firewall/ReleaseNotes.md
  Solutions/Sophos XG Firewall/SolutionMetadata.json
Labels: bug, Solution, Content-Package

#9754 fixing Training Lab script vulnerability
  Solutions/Training/Azure-Sentinel-Training-Lab/Artifacts/LinkedTemplates/ingestEvents.json
  Solutions/Training/Azure-Sentinel-Training-Lab/Artifacts/Scripts/IngestCSV.ps1
Labels: Solution

#9773 Update dataConnectorValidator.test.ts to skip check for additional banner
  .script/tests/dataConnectorValidatorTest/dataConnectorValidator.test.ts
Labels: scripts

#9774 Updating schema
  .script/utils/schemas/Syslog_ConnectorSchema.json
Labels: scripts, Content-Package

#9655 Update AzureFirewall.JSON - Azure Firewall Connector to support resource specific log tables.
  Solutions/Azure Firewall/Data Connectors/AzureFirewall.JSON
  Solutions/Azure Firewall/Package/3.0.3.zip
  Solutions/Azure Firewall/Package/createUiDefinition.json
  Solutions/Azure Firewall/Package/mainTemplate.json
  Solutions/Azure Firewall/ReleaseNotes.md
Labels: Solution

#9465 CCP Integration in Packaging Tool
  .github/workflows/checkAutomatedPR.yaml
  .github/workflows/package-command.yaml
  .github/workflows/slash-command-dispatch.yaml
  .script/package-automation/package-generator.ps1
  Tools/Create-Azure-Sentinel-Solution/V3/CCP_README.md
  Tools/Create-Azure-Sentinel-Solution/V3/README.md
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/ccp-folder-structure.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/ccpOneToOneMapping.svg
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/ccp_flow_multiple.svg
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/connector-connected.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/dataConnectorDefinitionFields.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/dataConnectorDefinitionType.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/dataInputDataConnectorsArray.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/dataPollerFields.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/dcr-browser-network.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/dcrFields.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/dcrStreamName.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/multiplePollerDCRStructure.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/multiplePollerInSingleFile.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/multiplePollerStructure.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/singleDefinitionForMultiplePoller.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/singleDefinitionMultiplePollerDCR.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/tableFields.png
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
  Tools/Create-Azure-Sentinel-Solution/common/get-ccp-details.ps1
  Tools/Create-Azure-Sentinel-Solution/common/templating/baseMainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools

#9691 Create User Session Impersonation(Okta)
  Solutions/Okta Single Sign-On/Analytic Rules/UserSessionImpersonation.yaml
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_DataConnectorDefinition.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_PollingConfig.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_Tables.json
  Solutions/Okta Single Sign-On/Package/3.0.1.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/Package/testParameters.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
Labels: Solution, Analytic Rules

#9758 Logstash DCR plugin - Support China and US Government Azure sovereign clouds
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/CHANGELOG.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/outputs/microsoft-sentinel-log-analytics-logstash-output-plugin.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logAnalyticsAadTokenProvider.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logAnalyticsClient.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logstashLoganalyticsConfiguration.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/version.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/microsoft-sentinel-log-analytics-logstash-output-plugin-1.1.0.gem
Labels: Connector

#9784 UI Corrected Of Microsoft 365
  Solutions/Microsoft 365/Package/3.0.1.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
Labels: Solution

#9127 ASIM WebSession schema parser with its sample data and tester files for Palo Alto Cortex Data Lake
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimWebSession/Parsers/ASimWebSession.yaml
  Parsers/ASimWebSession/Parsers/ASimWebSessionPaloAltoCortexDataLake.yaml
  Parsers/ASimWebSession/Parsers/imWebSession.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionPaloAltoCortexDataLake.yaml
  Parsers/ASimWebSession/Test/PaloAlto_CortexDataLake_ASimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/PaloAlto_CortexDataLake_ASimWebSession_SchemaTest.csv
  Parsers/ASimWebSession/Test/PaloAlto_CortexDataLake_vimWebSession_DataTest.csv
  Parsers/ASimWebSession/Test/PaloAlto_CortexDataLake_vimWebSession_SchemaTest.csv
  Sample Data/ASIM/CommonSecurityLog_Schema.csv
  Sample Data/ASIM/PaloAlto_CortexDataLake_ASimWebSession_IngestedLogs.csv
  Sample Data/ASIM/PaloAlto_CortexDataLake_ASimWebSession_RawLogs.txt
Labels: ASIM

#9765 Repackaging-Rapid7InsightVM for fixing bug
  Solutions/Rapid7InsightVM/Data Connectors/InsightVMCloud_API_FunctionApp.json
  Solutions/Rapid7InsightVM/Data/Solution_InsightVMCloudAPI.json
  Solutions/Rapid7InsightVM/Package/3.0.0.zip
  Solutions/Rapid7InsightVM/Package/createUiDefinition.json
  Solutions/Rapid7InsightVM/Package/mainTemplate.json
  Solutions/Rapid7InsightVM/Package/testParameters.json
  Solutions/Rapid7InsightVM/ReleaseNotes.md
Labels: Solution, Content-Package

#9126 ASIM NetworkSession schema parser with its sample data and tester files for Palo Alto Cortex Data Lake
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionPaloAltoCortexDataLake.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionPaloAltoCortexDataLake.yaml
  Parsers/ASimNetworkSession/Tests/PaloAlto_CortexDataLake_ASimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/PaloAlto_CortexDataLake_ASimNetworkSession_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/PaloAlto_CortexDataLake_vimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/PaloAlto_CortexDataLake_vimNetworkSession_SchemaTest.csv
  Sample Data/ASIM/PaloAlto_CortexDataLake_ASimNetworkSession_IngestedLogs.csv
  Sample Data/ASIM/PaloAlto_CortexDataLake_ASimNetworkSession_RawLogs.txt
Labels: ASIM

#9794 Adding data Sources permissions template
  .script/tests/dataConnectorValidatorTest/dataConnectorValidator.test.ts
  .script/tests/dataConnectorValidatorTest/testFiles/validSyslogConnectorDataSourcesPermissions.json
Labels: Tools, scripts

#9741 EntityWorkJan8-pt2
  Solutions/Azure Activity/Analytic Rules/NRT-AADHybridHealthADFSNewServer.yaml
  Solutions/Azure Activity/Analytic Rules/NRT_Creation_of_Expensive_Computes_in_Azure.yaml
  Solutions/Azure Activity/Analytic Rules/New-CloudShell-User.yaml
  Solutions/Azure Activity/Analytic Rules/NewResourceGroupsDeployedTo.yaml
  Solutions/Azure Activity/Analytic Rules/RareOperations.yaml
  Solutions/Azure Activity/Analytic Rules/SubscriptionMigration.yaml
  Solutions/Azure Activity/Analytic Rules/TimeSeriesAnomaly_Mass_Cloud_Resource_Deletions.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#9800 Update permissionsChecker.ts
  .script/utils/dataConnectorCheckers/permissionsChecker.ts
Labels: Content-Package

#9125 ASIM Authentication schema parser with its sample and test data for Palo Alto Cortex Data Lake.
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationPaloAltoCortexDataLake.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationPaloAltoCortexDataLake.yaml
  Parsers/ASimAuthentication/Tests/PaloAlto_CortexDataLake_ASimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/PaloAlto_CortexDataLake_ASimAuthentication_SchemaTest.csv
  Parsers/ASimAuthentication/Tests/PaloAlto_CortexDataLake_vimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/PaloAlto_CortexDataLake_vimAuthentication_SchemaTest.csv
  Sample Data/ASIM/PaloAlto_CortexDataLake_ASimAuthentication_IngestedLogs.csv
  Sample Data/ASIM/PaloAlto_CortexDataLake_ASimAuthentication_RawLogs.txt
Labels: ASIM

#9769 Edit email address to support
  Solutions/RidgeSecurity/SolutionMetadata.json
Labels: Solution

#9801 Create ActiveDirectory_Account_lockout_and_unlocks.yaml
  Hunting Queries/Microsoft 365 Defender/Initial access/ActiveDirectory_Account_lockout_and_unlocks.yaml
Labels: Hunting

#9799 add script for GCP Gov
  DataConnectors/AWS-S3/AwsRequiredPoliciesForGov.md
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScriptsGov.zip
  DataConnectors/AWS-S3/ConfigCloudTrailDataConnector.ps1
  DataConnectors/AWS-S3/ConfigCloudWatchDataConnector.ps1
  DataConnectors/AWS-S3/ConfigGuardDutyDataConnector.ps1
  DataConnectors/AWS-S3/ConfigVpcFlowDataConnector.ps1
  DataConnectors/AWS-S3/ConfigVpcFlowLogs.ps1
  DataConnectors/AWS-S3/Enviornment/EnviornmentConstants.ps1
  DataConnectors/AWS-S3/Utils/AwsResourceCreator.ps1
  DataConnectors/AWS-S3/Utils/CommonAwsPolicies.ps1
  DataConnectors/GCP/README.md
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPAuditLogsSetup/GCPAuditLogsSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPInitialAuthenticationSetupGov/GCPInitialAuthenticationSetupGov.tf
Labels: Connector

#9736 Microsoft Entra ID - Playbook template fix
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Data/system_generated_metadata.json
  Solutions/Microsoft Entra ID/Package/3.0.11.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/incident-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Playbook, Content-Package, auto-package

#9805 Repackaging-UbiquitiUniFi
  Solutions/Ubiquiti UniFi/Data Connectors/Connector_Ubiquiti_agent.json
  Solutions/Ubiquiti UniFi/Data/Solution_Ubiquiti UniFi.json
  Solutions/Ubiquiti UniFi/Package/3.0.0.zip
  Solutions/Ubiquiti UniFi/Package/createUiDefinition.json
  Solutions/Ubiquiti UniFi/Package/mainTemplate.json
  Solutions/Ubiquiti UniFi/Package/testParameters.json
  Solutions/Ubiquiti UniFi/ReleaseNotes.md
Labels: Solution, Content-Package

#9772 Create ConnectedNetworkDeviceDiscovery.yaml
  Hunting Queries/Microsoft 365 Defender/Discovery/ConnectedNetworkDeviceDiscovery.yaml
Labels: Hunting

#9793 Atlassian Beacon Solution Description and Logo Update
  Logos/AtlassianBeacon_Logo.svg
  Solutions/Atlassian Beacon/Data/Solution_AtlassianBeacon.json
  Solutions/Atlassian Beacon/Package/3.0.2.zip
  Solutions/Atlassian Beacon/Package/createUiDefinition.json
  Solutions/Atlassian Beacon/Package/mainTemplate.json
  Solutions/Atlassian Beacon/Package/testParameters.json
  Solutions/Atlassian Beacon/ReleaseNotes.md
Labels: Solution

#9804 Repackage Windows Security Events
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Hunting Queries/CommandsexecutedbyWMIonnewhosts-potentialImpacket.yaml
  Solutions/Windows Security Events/Hunting Queries/CreateDCInstallationMedia.yaml
  Solutions/Windows Security Events/Hunting Queries/HostExportingMailboxAndRemovingExport.yaml
  Solutions/Windows Security Events/Hunting Queries/HostsWithNewLogons.yaml
  Solutions/Windows Security Events/Hunting Queries/MSRPRN_Printer_Bug_Exploitation.yaml
  Solutions/Windows Security Events/Hunting Queries/MultipleExplicitCredentialUsage4648Events.yaml
  Solutions/Windows Security Events/Hunting Queries/NewChildProcessOfW3WP.yaml
  Solutions/Windows Security Events/Hunting Queries/ProcessEntropy.yaml
  Solutions/Windows Security Events/Hunting Queries/SuspectedLSASSDump.yaml
  Solutions/Windows Security Events/Hunting Queries/Suspicious_Windows_Login_outside_normal_hours.yaml
  Solutions/Windows Security Events/Hunting Queries/Suspicious_enumeration_using_adfind.yaml
  Solutions/Windows Security Events/Hunting Queries/WindowsSystemTimeChange.yaml
  Solutions/Windows Security Events/Hunting Queries/masquerading_files.yaml
  Solutions/Windows Security Events/Hunting Queries/new_processes.yaml
  Solutions/Windows Security Events/Hunting Queries/persistence_create_account.yaml
  Solutions/Windows Security Events/Hunting Queries/uncommon_processes.yaml
  Solutions/Windows Security Events/Package/3.0.2.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
  Solutions/Windows Security Events/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package

#9779 Update Microsoft Entra ID solution with bugfix
  Solutions/Microsoft Entra ID/Analytic Rules/ExplicitMFADeny.yaml
  Solutions/Microsoft Entra ID/Package/3.0.11.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution

#9714 New connector template for SyslogAma
  Solutions/Syslog/Data Connectors/template_SyslogAma.json
Labels: Connector, Solution, Content-Package

#9797 correction in analytics rule
  Solutions/Network Session Essentials/Analytic Rules/DetectPortMisuseByAnomalyBasedDetection.yaml
  Solutions/Network Session Essentials/Package/3.0.2.zip
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/ReleaseNotes.md
Labels: Detection

#9808 Updating threat intelligence solution
  Solutions/Threat Intelligence/Package/3.0.2.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/Package/testParameters.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9809 Ermes solution packaging and tool document change
  Solutions/Ermes Browser Security/Data Connectors/ErmesBrowserSecurityEvents_ccp/data_connector_poller.json
  Solutions/Ermes Browser Security/Data/Solution_ErmesBrowserSecurity.json
  Solutions/Ermes Browser Security/Package/3.0.2.zip
  Solutions/Ermes Browser Security/Package/mainTemplate.json
  Solutions/Ermes Browser Security/Package/testParameters.json
  Solutions/Ermes Browser Security/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V3/CCP_README.md
Labels: Solution, Content-Package, P0

#9795 Update Solution_PaloAlto-PAN-OS.json
  Solutions/Attacker Tools Threat Protection Essentials/Data/Solution_AttackersToolsThreatProtectionEssentials.json
  Solutions/Attacker Tools Threat Protection Essentials/Hunting Queries/CobaltDNSBeacon.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Hunting Queries/PotentialImpacketExecution.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Package/3.0.1.zip
  Solutions/Attacker Tools Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Attacker Tools Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Attacker Tools Threat Protection Essentials/Package/testParameters.json
  Solutions/Attacker Tools Threat Protection Essentials/ReleaseNotes.md
  Solutions/Azure Activity/Package/3.0.1.zip
  Solutions/Azure Activity/Package/mainTemplate.json
  Solutions/Azure Activity/Package/testParameters.json
  Solutions/Azure Activity/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/Package/3.0.1.zip
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
Labels: Solution, Content-Package, auto-package

#9676 Issue fix for fork pr and code improvement
  .github/workflows/package-command.yaml
  .github/workflows/package-on-fork.yaml
  .github/workflows/package-on-merge.yaml
  .script/package-automation/arm-ttk-tests.ps1
  .script/package-automation/checkPRContentChange.ps1
  .script/package-automation/checkSkipPackagingInfo.ps1
  .script/package-automation/getSolutionName.ps1
  .script/package-automation/newOrExistingSolution.ps1
  .script/package-automation/package-on-fork-pr.ps1
  .script/package-automation/package-service.ps1
Labels: Tools

#9821 CTM360 HV and CBS Azure function app package fix
  Solutions/CTM360/Package/3.0.0.zip
  Solutions/CTM360/Package/createUiDefinition.json
  Solutions/CTM360/Package/mainTemplate.json
Labels: Solution

#9827 Update README.md
  Playbooks/AS-IAM-Entra-ID-Master-Playbook/README.md
Labels: Playbook

#9831 add / when creating oidc provider
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScriptsGov.zip
  DataConnectors/AWS-S3/Utils/AwsResourceCreator.ps1
Labels: Connector

#9816 Repackage - Syslog (New AMA Dataconnector added)
  Solutions/Syslog/Data/Solution_syslog.json
  Solutions/Syslog/Hunting Queries/CryptoCurrencyMiners.yaml
  Solutions/Syslog/Hunting Queries/CryptoThreatActivity.yaml
  Solutions/Syslog/Hunting Queries/SCXExecuteRunAsProviders.yaml
  Solutions/Syslog/Hunting Queries/SchedTaskAggregation.yaml
  Solutions/Syslog/Hunting Queries/SchedTaskEditViaCrontab.yaml
  Solutions/Syslog/Hunting Queries/squid_abused_tlds.yaml
  Solutions/Syslog/Hunting Queries/squid_malformed_requests.yaml
  Solutions/Syslog/Hunting Queries/squid_volume_anomalies.yaml
  Solutions/Syslog/Package/3.0.0.zip
  Solutions/Syslog/Package/createUiDefinition.json
  Solutions/Syslog/Package/mainTemplate.json
  Solutions/Syslog/Package/testParameters.json
  Solutions/Syslog/ReleaseNotes.md
Labels: Solution, Content-Package

#9833 Update readme.md
  DataConnectors/GitHub/readme.md
Labels: Connector

#9834 Repackaged Google Cloud Platform Audit Log
  Solutions/Google Cloud Platform Audit Logs/Data Connectors/GCPAuditLogs.json
  Solutions/Google Cloud Platform Audit Logs/Data/Solution_GCPAuditLogs.json
  Solutions/Google Cloud Platform Audit Logs/Package/2.0.1.zip
  Solutions/Google Cloud Platform Audit Logs/Package/2.0.2.zip
  Solutions/Google Cloud Platform Audit Logs/Package/mainTemplate.json
Labels: Solution, Content-Package

#9819 Update queries used by the cisco-asa ama connector
  Solutions/CiscoASA/Data Connectors/template_CiscoAsaAma.JSON
Labels: Solution, Content-Package

#9777 Created a new tool for creating Incidents from external systems
  Playbooks/Create Incidents From Http/Readme.md
  Playbooks/Create Incidents From Http/azuredeploy.json
Labels: Playbook

#9802 Fortinet FortiNDR Cloud Initialization
  .script/tests/KqlvalidationsTests/CustomTables/FncEventsDetections_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/FncEventsObservation_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/FncEventsSuricata_CL.json
  Sample Data/Fortinet FortiNDR Cloud/detection.json
  Sample Data/Fortinet FortiNDR Cloud/observation.json
  Sample Data/Fortinet FortiNDR Cloud/suricata_http_domain.json
  Sample Data/Fortinet FortiNDR Cloud/suricata_http_ip.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/FortinetFortiNdrCloud_API_AzureFunctionApp.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/azuredeploy_FortinetFortiNdrCloud_API_FunctionApp.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn.zip
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/FetchAndSendActivity/__init__.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/FetchAndSendActivity/function.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/FetchAndSendByDayActivity/__init__.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/FetchAndSendByDayActivity/function.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/OrchestratorWatchdog/__init__.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/OrchestratorWatchdog/function.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/SingletonEternalOrchestrator/__init__.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/SingletonEternalOrchestrator/function.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/globalVariables.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/metastream/__init__.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/metastream/auth_client.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/metastream/errors.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/metastream/metastream.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/metastream/s3_client.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/sentinel/__init__.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/fortinetFortiNdrCloudDataConn/sentinel/sentinel.py
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/host.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/requirements.txt
  Solutions/Fortinet FortiNDR Cloud/Data/Solution_FortiNdrCloud.json
  Solutions/Fortinet FortiNDR Cloud/Package/3.0.0.zip
  Solutions/Fortinet FortiNDR Cloud/Package/createUiDefinition.json
  Solutions/Fortinet FortiNDR Cloud/Package/mainTemplate.json
  Solutions/Fortinet FortiNDR Cloud/Package/testParameters.json
  Solutions/Fortinet FortiNDR Cloud/Parsers/Fortinet_FortiNDR_Cloud.md
  Solutions/Fortinet FortiNDR Cloud/Parsers/Fortinet_FortiNDR_Cloud.yaml
  Solutions/Fortinet FortiNDR Cloud/ReleaseNotes.md
  Solutions/Fortinet FortiNDR Cloud/SolutionMetadata.json
  Solutions/Fortinet FortiNDR Cloud/Workbooks/FortinetFortiNdrCloudWorkbook.json
  Tools/Create-Azure-Sentinel-Solution/V3/input/Solution_Armorblox.json
  Workbooks/Images/Preview/FncDetectionDashboardBlack.png
  Workbooks/Images/Preview/FncDetectionDashboardWhite.png
  Workbooks/Images/Preview/FncMainDashboardBlack.png
  Workbooks/Images/Preview/FncMainDashboardWhite.png
  Workbooks/Images/Preview/FncObservationDashboardBlack.png
  Workbooks/Images/Preview/FncObservationDashboardWhite.png
  Workbooks/Images/Preview/FncSuricataDashboardBlack.png
  Workbooks/Images/Preview/FncSuricataDashboardWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9852 change role name from defender to sentinel
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScriptsGov.zip
  DataConnectors/AWS-S3/Utils/AwsResourceCreator.ps1
  DataConnectors/AWS-S3/Utils/CommonAwsPolicies.ps1
Labels: Connector

#9853 Updated Corelight main parser
  Solutions/Corelight/Hunting Queries/CorelightRepetitiveDnsFailures.yaml
  Solutions/Corelight/Package/3.0.2.zip
  Solutions/Corelight/Package/createUiDefinition.json
  Solutions/Corelight/Package/mainTemplate.json
  Solutions/Corelight/Package/testParameters.json
  Solutions/Corelight/Parsers/Corelight.yaml
  Solutions/Corelight/ReleaseNotes.md
Labels: Parser, Solution

#9791 Tasks Repository solution
  Tools/Tasks-Repository/TasksRepository.csv
  Tools/Tasks-Repository/TasksRepositoryWatchlistTemplate.json
  Tools/Tasks-Repository/azuredeploynmi.json
  Tools/Tasks-Repository/images/AMLConnection1.png
  Tools/Tasks-Repository/images/AMLConnection2.png
  Tools/Tasks-Repository/images/AMLConnection3.png
  Tools/Tasks-Repository/images/automationrule.png
  Tools/Tasks-Repository/images/parallelism.png
  Tools/Tasks-Repository/readme.md
Labels: Tools

#9762 Datalake2Sentinel Connector
  Logos/OrangeCyberdefenseLogo.svg
  Solutions/Datalake2Sentinel/Data Connectors/Datalake2SentinelConnector.json
  Solutions/Datalake2Sentinel/Data/Solution_Datalake2Sentinel.json
  Solutions/Datalake2Sentinel/Package/3.0.0.zip
  Solutions/Datalake2Sentinel/Package/createUiDefinition.json
  Solutions/Datalake2Sentinel/Package/mainTemplate.json
  Solutions/Datalake2Sentinel/Package/testParameters.json
  Solutions/Datalake2Sentinel/README.md
  Solutions/Datalake2Sentinel/ReleaseNotes.md
  Solutions/Datalake2Sentinel/SolutionMetadata.json
Labels: Solution

#9440 Update README.md
  README.md
  Solutions/README.md
Labels: Solution
