Repository Azure/Azure-Sentinel, pull requests merged in 2024-11, with the labels that each got.

#11253 Update legacy syslog connector definition
  Solutions/ESET Protect Platform/ReleaseNotes.md
  Solutions/Syslog/Data Connectors/template_Syslog.json
  Solutions/Syslog/Package/3.0.7.zip
  Solutions/Syslog/Package/mainTemplate.json
  Solutions/Syslog/ReleaseNotes.md
Labels: Connector, Solution

#11286 PureStorage FlashBlade Integration
  Solutions/Pure Storage/Analytic Rules/FB-FabricModuleUnhealthy.yaml
  Solutions/Pure Storage/Data/Solution_PureStorage.json
  Solutions/Pure Storage/Package/3.0.3.zip
  Solutions/Pure Storage/Package/createUiDefinition.json
  Solutions/Pure Storage/Package/mainTemplate.json
  Solutions/Pure Storage/Parsers/PureStorageFlashArrayParser.yaml
  Solutions/Pure Storage/Parsers/PureStorageFlashBladeParser.yaml
  Solutions/Pure Storage/Playbooks/Pure-Storage-FlashBlade-File-System-Snapshot/azuredeploy.json
  Solutions/Pure Storage/ReleaseNotes.md
Labels: Parser, Solution

#11375 Update sapcon-instance-update.sh
  Solutions/SAP/sapcon-instance-update.sh
Labels: Solution, SAP

#11367 Update azuredeploy_MimecastSEG_AzureFunctionApp.json
  Solutions/MimecastSEG/Data Connectors/azuredeploy_MimecastSEG_AzureFunctionApp.json
Labels: Connector

#11377 update ermes connector poller configuration
  Solutions/Ermes Browser Security/Data Connectors/ErmesBrowserSecurityEvents_ccp/data_connector_poller.json
  Solutions/Ermes Browser Security/Package/3.0.3.zip
  Solutions/Ermes Browser Security/Package/createUiDefinition.json
  Solutions/Ermes Browser Security/Package/mainTemplate.json
  Solutions/Ermes Browser Security/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector

#11366 Infoblox Insight ID Bug Fix
  Solutions/Infoblox/Package/3.0.1.zip
  Solutions/Infoblox/Package/mainTemplate.json
  Solutions/Infoblox/ReleaseNotes.md
  Solutions/Infoblox/Workbooks/Infoblox_Workbook.json
Labels: Solution

#11385 Repackaging Imperva Solution
  Solutions/ImpervaCloudWAF/Data/Solution_ImpervaCloudWAF.json
  Solutions/ImpervaCloudWAF/Package/3.0.1.zip
  Solutions/ImpervaCloudWAF/Package/createUiDefinition.json
  Solutions/ImpervaCloudWAF/Package/mainTemplate.json
  Solutions/ImpervaCloudWAF/ReleaseNotes.md
Labels: Solution, Content-Package

#11393 Fix Alert Parsers
  Parsers/ASimAlertEvent/ARM/imAlertEvent/imAlertEvent.json
  Parsers/ASimAlertEvent/ARM/vimAlertEventEmpty/vimAlertEventEmpty.json
  Parsers/ASimAlertEvent/Parsers/imAlertEvent.yaml
  Parsers/ASimAlertEvent/Parsers/vimAlertEventEmpty.yaml
Labels: ASIM

#11348 passwordchange
  Workbooks/1Password.json
Labels: Workbook, Standalone

#11378 Updating Okta Parser
  Solutions/Okta Single Sign-On/Package/3.0.10.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/Parsers/OktaSSO.yaml
  Solutions/Okta Single Sign-On/ReleaseNotes.md
Labels: Parser

#11407 Skip kql validation for file asim_fillNull
  .script/tests/KqlvalidationsTests/KqlValidationTests.cs
Labels: Tools

#11388 Repackaged - PaloAltoPANOS
  Solutions/PaloAlto-PAN-OS/Analytic Rules/FileHashEntity_Covid19_CommonSecurityLog.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-NetworkBeaconing.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-PortScanning.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-UnusualThreatSignatures.yaml
  Solutions/PaloAlto-PAN-OS/Hunting Queries/Palo Alto - potential beaconing detected.yaml
  Solutions/PaloAlto-PAN-OS/Hunting Queries/PaloAlto-HighRiskPorts.yaml
  Solutions/PaloAlto-PAN-OS/Package/3.0.7.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11406 V prasadboke new tenable zip and okta arm ttk resolved
  Solutions/Okta Single Sign-On/Package/3.0.10.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Tenable App/Package/3.0.1.zip
  Solutions/Tenable App/Package/3.1.0.zip
  Solutions/Tenable App/Package/mainTemplate.json
Labels: Solution

#11395 added vs code extension hunting
  Hunting Queries/DeviceProcess/VScodeExtensionofanUser.yaml
Labels: Hunting, Standalone

#11413 Update ScanSecrets.yaml
  .github/workflows/ScanSecrets.yaml
Labels: workflows

#11408 Removed preview tag of data connector from windows firewall solution
  Solutions/Windows Firewall/Data Connectors/template_WindowsFirewallAma.JSON
  Solutions/Windows Firewall/Package/3.0.2.zip
  Solutions/Windows Firewall/Package/mainTemplate.json
Labels: Connector, Content-Package

#11421 Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: workflows

#11418 Updated data type query for GCP SCC data connector
  Solutions/Google Cloud Platform Security Command Center/Data Connectors/GCPSecurityCommandCenter.json
  Solutions/Google Cloud Platform Security Command Center/Package/3.0.6.zip
  Solutions/Google Cloud Platform Security Command Center/Package/mainTemplate.json
  Solutions/Google Cloud Platform Security Command Center/ReleaseNotes.md
Labels: Content-Package

#11411 Fixed the issue of Custom Connector id parameter in RubrikRansomwareDiscoveryAndVmRecovery playbook.
  Solutions/RubrikSecurityCloud/Data/Solution_RubrikSecurityCloud.json
  Solutions/RubrikSecurityCloud/Package/3.2.1.zip
  Solutions/RubrikSecurityCloud/Package/mainTemplate.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFileObjectContextAnalysis/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndVMRecovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/ReleaseNotes.md
Labels: Solution

#11414 Repackaged - Fortinet Fortigate Solution
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalOrHighSeverityDetectionsByUser.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalSeverityDetection.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.9.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/3.0.7.zip
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11365 Re: DomainTools Microsoft Sentinel Solutions - CodeQL alerts - CRM:01390016354
  Solutions/DomainTools/Playbooks/CustomConnector/DomainTools_FunctionAppConnector/DomainRiskScore/__init__.py
Labels: Playbook, Solution

#11430 Update custom connector DomainToolsFunctionApp.zip of Domain tools Solution
  Solutions/DomainTools/Playbooks/CustomConnector/DomainTools_FunctionAppConnector/DomainToolsFunctionApp.zip
Labels: Solution

#11425 Repackage - Aruba ClearPass
  Solutions/Aruba ClearPass/Data/Solution_Aruba.json
  Solutions/Aruba ClearPass/Package/3.0.3.zip
  Solutions/Aruba ClearPass/Package/createUiDefinition.json
  Solutions/Aruba ClearPass/Package/mainTemplate.json
  Solutions/Aruba ClearPass/ReleaseNotes.md
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGDLPViolation.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMaliciousAttachmentNotBlocked.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMultipleLargeEmails.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGMultipleSuspiciousEmails.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGPossibleOutbreak.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGPotentialLinkToMalwareDownload.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGSuspiciousLink.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGSuspiciousSenderDomain.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnclassifiedLink.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnexpextedAttachment.yaml
  Solutions/CiscoSEG/Analytic Rules/CiscoSEGUnscannableAttachment.yaml
  Solutions/CiscoSEG/Data/Solution_CiscoSEG.json
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGDroppedInMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGDroppedOutMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedDKIMFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedDMARKFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedSPFFailure.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedTLSIn.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGFailedTLSOut.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGInsecureProtocol.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGSpamMails.yaml
  Solutions/CiscoSEG/Hunting Queries/CiscoSEGUsersReceivedSpam.yaml
  Solutions/CiscoSEG/Package/3.0.4.zip
  Solutions/CiscoSEG/Package/createUiDefinition.json
  Solutions/CiscoSEG/Package/mainTemplate.json
  Solutions/CiscoSEG/ReleaseNotes.md
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneAttackDiscoveryDetectionRisks.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneCommandLineSuspiciousRequests.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneCommandsInRequest.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneDvcAccessPermissionWasChanged.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneInboundRemoteAccess.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneMultipleDenyOrTerminateActionOnSingleIp.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOnePossibleExploitOrExecuteOperation.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneRiskCnCEvents.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneSpywareWithFailedResponse.yaml
  Solutions/Trend Micro Apex One/Analytic Rules/TMApexOneSuspiciousConnections.yaml
  Solutions/Trend Micro Apex One/Data/Solution_Trend Micro Apex One.json
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTranslatedAction.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTranslatedOperation.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTriggeredPolicy.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneBehaviorMonitoringTypesOfEvent.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneChannelType.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneDataLossPreventionAction.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneRareAppProtocolByIP.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneSpywareDetection.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneSuspiciousFiles.yaml
  Solutions/Trend Micro Apex One/Hunting Queries/TMApexOneTopSources.yaml
  Solutions/Trend Micro Apex One/Package/3.0.3.zip
  Solutions/Trend Micro Apex One/Package/createUiDefinition.json
  Solutions/Trend Micro Apex One/Package/mainTemplate.json
  Solutions/Trend Micro Apex One/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11417 Updated upper case
  Solutions/SINEC Security Guard/Analytic Rules/SSG_Azure_Sentinel_analytic_rule.yaml
  Solutions/SINEC Security Guard/Data Connectors/Logo/SSG.svg
  Solutions/SINEC Security Guard/Data Connectors/data_connector_GenericUI.json
  Solutions/SINEC Security Guard/Data/Solution_Sinec Security Guard.json
  Solutions/SINEC Security Guard/Package/3.0.0.zip
  Solutions/SINEC Security Guard/Package/createUiDefinition.json
  Solutions/SINEC Security Guard/Package/mainTemplate.json
  Solutions/SINEC Security Guard/Package/testParameters.json
  Solutions/SINEC Security Guard/ReleaseNotes.md
  Solutions/SINEC Security Guard/SolutionMetadata.json
  Solutions/Sinec Security Guard/Package/3.0.0.zip
Labels: Solution

#11357 VectraXDR Tooltip Changes
  Solutions/Vectra XDR/Data Connectors/VectraDataConnector/azuredeploy_Connector_VectraXDR_AzureFunction.json
Labels: Connector

#11349 Infoblox Tooltip Changes
  Solutions/Infoblox/Data Connectors/InfobloxCloudDataConnector/azuredeploy_Connector_InfoBloxCloud_AzureFunction.json
Labels: Connector

#11347 Cofense Intelligence Tooltip Changes
  Solutions/CofenseIntelligence/Data Connectors/CofenseIntelligenceDataConnector/azuredeploy_Connector_CofenseIntelligence_AzureFunction.json
Labels: Connector

#11355 Team cymru scout azure deploy tool tip changes
  Solutions/Team Cymru Scout/Data Connectors/TeamCymruScout/azuredeploy_Connector_TeamCymruScout_AzureFunction.json
Labels: Connector

#11354 Security scorecard azure deploy tool tip changes
  Solutions/SecurityScorecard Cybersecurity Ratings/Data Connectors/SecurityScorecardFactor/azuredeploy_Connector_SecurityScorecardFactorAPI_AzureFunction.json
  Solutions/SecurityScorecard Cybersecurity Ratings/Data Connectors/SecurityScorecardIssue/azuredeploy_Connector_SecurityScorecardIssueAPI_AzureFunction.json
  Solutions/SecurityScorecard Cybersecurity Ratings/Data Connectors/SecurityScorecardRatings/azuredeploy_Connector_SecurityScorecardRatingsAPI_AzureFunction.json
Labels: Connector

#11353 Rubrik azure deploy tool tip changes
  Solutions/RubrikSecurityCloud/Data Connectors/RubrikWebhookEvents/azuredeploy_Connector_RubrikWebhookEvents_AzureFunction.json
Labels: Connector

#11352 Mimecast azure deploy tool tip changes
  Solutions/Mimecast/Data Connectors/MimecastAT/azuredeploy_Connector_MimecastAT_AzureFunction.json
  Solutions/Mimecast/Data Connectors/MimecastAudit/azuredeploy_Connector_MimecastAudit_AzureFunction.json
  Solutions/Mimecast/Data Connectors/MimecastCloudIntegrated/azuredeploy_Connector_MimecastCI_AzureFunction.json
  Solutions/Mimecast/Data Connectors/MimecastSEG/azuredeploy_Connector_MimecastSEG_AzureFunction.json
  Solutions/Mimecast/Data Connectors/MimecastTTP/azuredeploy_Connector_MimecastTTP_AzureFunction.json
Labels: Connector

#11351 Dataminr azure deploy tool tip changes
  Solutions/Dataminr Pulse/Data Connectors/DataminrPulseAlerts/azuredeploy_Connector_DataminrPulseAlerts_AzureFunction.json
Labels: Connector

#11350 Cofense triage azure deploy tool tip changes
  Solutions/CofenseTriage/Data Connectors/CofenseTriageDataConnector/azuredeploy_CofenseTriage_API_AzureFunction.json
Labels: Connector

#11427 Swapnildombaleveritas patch 1
  Solutions/Veritas NetBackup/Package/3.0.0.zip
  Solutions/Veritas NetBackup/Package/mainTemplate.json
  Solutions/Veritas NetBackup/ReleaseNotes.md
  Solutions/Veritas NetBackup/SolutionMetadata.json
Labels: Solution

#11415 Issue 11296 Fixes - AWS Rule
  Solutions/Amazon Web Services/Analytic Rules/AWS_OverlyPermessiveKMS.yaml
  Solutions/Amazon Web Services/Package/3.0.3.zip
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Solution

#11398 Update vCenter.yaml
  Solutions/VMware vCenter/Package/3.0.3.zip
  Solutions/VMware vCenter/Package/mainTemplate.json
  Solutions/VMware vCenter/Parsers/vCenter.yaml
Labels: Parser, Solution

#11405 Added CloudGuard solution
  Logos/CloudGuardLogo.svg
  Solutions/Check Point CloudGuard/Data Connectors/CloudGuard_ccp/CloudGuard_DCR.json
  Solutions/Check Point CloudGuard/Data Connectors/CloudGuard_ccp/CloudGuard_DataConnectorDefinition.json
  Solutions/Check Point CloudGuard/Data Connectors/CloudGuard_ccp/CloudGuard_PollingConfig.json
  Solutions/Check Point CloudGuard/Data Connectors/CloudGuard_ccp/CloudGuard_Tables.json
  Solutions/Check Point CloudGuard/Data/Solution_CloudGuard.json
  Solutions/Check Point CloudGuard/Package/3.0.0.zip
  Solutions/Check Point CloudGuard/Package/createUiDefinition.json
  Solutions/Check Point CloudGuard/Package/mainTemplate.json
  Solutions/Check Point CloudGuard/Package/testParameters.json
  Solutions/Check Point CloudGuard/ReleaseNotes.md
  Solutions/Check Point CloudGuard/SolutionMetadata.json
  Solutions/VMware vCenter/ReleaseNotes.md
Labels: Connector

#11183 Adding new La function named FillNull
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  ASIM/lib/functions/ASIM_FillNull.yaml
Labels: ASIM

#11447 Fix: TAXII Connector feature state
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceTaxii.json
Labels: Connector

#11437 Vectra -Add support for match metadata (suricata)
  .script/tests/KqlvalidationsTests/CustomTables/vectra_match.json
  .script/tests/KqlvalidationsTests/CustomTables/vectra_match_CL.json
  Solutions/Vectra AI Stream/Data/Solution_Vectra.json
  Solutions/Vectra AI Stream/Package/3.0.1.zip
  Solutions/Vectra AI Stream/Package/createUiDefinition.json
  Solutions/Vectra AI Stream/Package/mainTemplate.json
  Solutions/Vectra AI Stream/Parsers/vectra_match.yaml
  Solutions/Vectra AI Stream/Parsers/vectra_stream.yaml
  Solutions/Vectra AI Stream/ReleaseNotes.md
Labels: Parser, Solution

#11424 Update SophosXGFirewall.json
  Solutions/Sophos XG Firewall/Package/3.0.1.zip
  Solutions/Sophos XG Firewall/Package/mainTemplate.json
  Solutions/Sophos XG Firewall/ReleaseNotes.md
  Solutions/Sophos XG Firewall/Workbooks/SophosXGFirewall.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#11449 Create non-ascii-validations.yaml
  .github/workflows/non-ascii-validations.yaml
Labels: workflows

#11323 MDO Tools hygiene
  Tools/MDO-Power BI Dashboard
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/MDO Detection Details Report - v1.22 (Sentinel,LogAnalytics).pbit
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/MDO Detection Details Report v2.3.1(legacy).pbit
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOLA1.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOLA2.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOLA3.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI1.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI10.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI11.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI12.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI13.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI14.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI15.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI16.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI17.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI18.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI19.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI2.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI20.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI3.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI4.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI5.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI6.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI7.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI8.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Media/MDOPowerBI9.png
  Tools/Microsoft Defender for Office 365/Microsoft Defender for Office 365 Detection Details Report/Readme.md
  Tools/Microsoft Defender for Office 365/Readme.md
Labels: Tools

#11390 Gcp firewall package solution
  Solutions/Google Cloud Platform Firewall Logs/Data Connectors/GCPFirewallLogs_ccp/GCPFirewall_DCR.json
  Solutions/Google Cloud Platform Firewall Logs/Data Connectors/GCPFirewallLogs_ccp/GCPFirewall_PollingConfig.json
  Solutions/Google Cloud Platform Firewall Logs/Data Connectors/GCPFirewallLogs_ccp/GCP_ConnectorDefinition.json
  Solutions/Google Cloud Platform Firewall Logs/Data Connectors/GCPFirewallLogs_ccp/solutionMetadata.json
  Solutions/Google Cloud Platform Firewall Logs/Data/Solution_GoogleFirewallLogs.json
  Solutions/Google Cloud Platform Firewall Logs/Package/3.0.0.zip
  Solutions/Google Cloud Platform Firewall Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Firewall Logs/Package/mainTemplate.json
  Solutions/Google Cloud Platform Firewall Logs/Package/testParameters.json
  Solutions/Google Cloud Platform Firewall Logs/ReleaseNotes.md
  Solutions/Google Cloud Platform Firewall Logs/logo/google_logo.svg
  Solutions/Google Cloud Platform Firewall Logs/solutionMetadata.json
Labels: Connector, Solution

#11456 Update MailBoxTampering.yaml
  Detections/MultipleDataSources/MailBoxTampering.yaml
Labels: Analytic Rules, Standalone

#11462 Update azuredeploy.json
  Playbooks/AS-Disable-Microsoft-Entra-ID-User-From-Entity/azuredeploy.json
Labels: Playbook, Standalone

#11463 Update azuredeploy.json
  Playbooks/AS-Enable-Microsoft-Entra-ID-User-From-Entity/azuredeploy.json
Labels: Playbook, Standalone

#11455 Update PasswordSprayingWithMDE.yaml
  Solutions/FalconFriday/Analytic Rules/MatchLegitimateNameOrLocation.yaml
  Solutions/FalconFriday/Analytic Rules/PasswordSprayingWithMDE.yaml
  Solutions/FalconFriday/Package/3.0.0.zip
  Solutions/FalconFriday/Package/createUiDefinition.json
  Solutions/FalconFriday/Package/mainTemplate.json
Labels: Solution

#11464 Update configuration and templates for SINEC Security Guard solution
  Solutions/SINEC Security Guard/Data Connectors/data_connector_GenericUI.json
  Solutions/SINEC Security Guard/Data/Solution_Sinec Security Guard.json
  Solutions/SINEC Security Guard/Package/3.0.0.zip
  Solutions/SINEC Security Guard/Package/createUiDefinition.json
  Solutions/SINEC Security Guard/Package/mainTemplate.json
  Solutions/SINEC Security Guard/ReleaseNotes.md
Labels: Connector, Solution

#11435 Repackage - Claroty
  Solutions/Claroty/Analytic Rules/ClarotyAssetDown.yaml
  Solutions/Claroty/Analytic Rules/ClarotyCriticalBaselineDeviation.yaml
  Solutions/Claroty/Analytic Rules/ClarotyLoginToUncommonSite.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLogin.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLoginsSameDst.yaml
  Solutions/Claroty/Analytic Rules/ClarotyNewAsset.yaml
  Solutions/Claroty/Analytic Rules/ClarotyPolicyViolation.yaml
  Solutions/Claroty/Analytic Rules/ClarotySuspiciousActivity.yaml
  Solutions/Claroty/Analytic Rules/ClarotySuspiciousFileTransfer.yaml
  Solutions/Claroty/Analytic Rules/ClarotyTreat.yaml
  Solutions/Claroty/Data/Solution_Claroty.json
  Solutions/Claroty/Hunting Queries/ClarotyBaselineDeviation.yaml
  Solutions/Claroty/Hunting Queries/ClarotyConflictAssets.yaml
  Solutions/Claroty/Hunting Queries/ClarotyCriticalEvents.yaml
  Solutions/Claroty/Hunting Queries/ClarotyPLCLogins.yaml
  Solutions/Claroty/Hunting Queries/ClarotySRAFailedLogins.yaml
  Solutions/Claroty/Hunting Queries/ClarotyScanSources.yaml
  Solutions/Claroty/Hunting Queries/ClarotyScantargets.yaml
  Solutions/Claroty/Hunting Queries/ClarotyUnapprovedAccess.yaml
  Solutions/Claroty/Hunting Queries/ClarotyUnresolvedAlerts.yaml
  Solutions/Claroty/Hunting Queries/ClarotyWriteExecuteOperations.yaml
  Solutions/Claroty/Package/3.0.3.zip
  Solutions/Claroty/Package/createUiDefinition.json
  Solutions/Claroty/Package/mainTemplate.json
  Solutions/Claroty/ReleaseNotes.md
  Solutions/Forcepoint CSG/Data/Solution_ForcepointCSG.json
  Solutions/Forcepoint CSG/Package/3.0.3.zip
  Solutions/Forcepoint CSG/Package/createUiDefinition.json
  Solutions/Forcepoint CSG/Package/mainTemplate.json
  Solutions/Forcepoint CSG/ReleaseNotes.md
  Solutions/Forcepoint NGFW/Data/Solution_ForcepointNGFW.json
  Solutions/Forcepoint NGFW/Package/3.0.2.zip
  Solutions/Forcepoint NGFW/Package/createUiDefinition.json
  Solutions/Forcepoint NGFW/Package/mainTemplate.json
  Solutions/Forcepoint NGFW/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11452 VMware Carbon Black ccp connector fix
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlackCloud_ccp/CarbonBlack_DCR.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlackCloud_ccp/CarbonBlack_PollingConfig.json
  Solutions/VMware Carbon Black Cloud/Package/3.0.4.zip
  Solutions/VMware Carbon Black Cloud/Package/createUiDefinition.json
  Solutions/VMware Carbon Black Cloud/Package/mainTemplate.json
  Solutions/VMware Carbon Black Cloud/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#11466 Gcp firewall package solution
  Solutions/Google Cloud Platform Firewall Logs/Data Connectors/GCPFirewallLogs_ccp/GCPFirewall_PollingConfig.json
  Solutions/Google Cloud Platform Firewall Logs/Package/3.0.0.zip
  Solutions/Google Cloud Platform Firewall Logs/Package/mainTemplate.json
Labels: Connector, Solution

#11440 Removed the broken URL in Endpoint Threat Protection Essentials
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/MacroInvokingShellBrowserWindowCOMObjects.yaml
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.5.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Endpoint Threat Protection Essentials/ReleaseNotes.md
Labels: Solution, Analytic Rules

#11383 Contributed a new Azure Sentinel solution for Torq which includes a n…
  Logos/Torq.svg
  Solutions/Torq/Data/Solution_Torq.json
  Solutions/Torq/Package/3.0.0.zip
  Solutions/Torq/Package/createUiDefinition.json
  Solutions/Torq/Package/mainTemplate.json
  Solutions/Torq/Package/testParameters.json
  Solutions/Torq/Playbooks/Torq-Sentinel-Incident-Trigger/azuredeploy.json
  Solutions/Torq/Playbooks/Torq-Sentinel-Incident-Trigger/playbook_screenshot.png
  Solutions/Torq/Playbooks/Torq-Sentinel-Incident-Trigger/readme.md
  Solutions/Torq/Playbooks/logo.png
  Solutions/Torq/ReleaseNotes.md
  Solutions/Torq/SolutionMetadata.json
Labels: Solution, New Solution

#11465 Repackage - NozomiNetworks
  Solutions/FireEye Network Security/Data/Solution_FireEye Network Security.json
  Solutions/FireEye Network Security/Package/3.0.2.zip
  Solutions/FireEye Network Security/Package/createUiDefinition.json
  Solutions/FireEye Network Security/Package/mainTemplate.json
  Solutions/FireEye Network Security/ReleaseNotes.md
  Solutions/NozomiNetworks/Data/Solution_Nozomi.json
  Solutions/NozomiNetworks/Package/3.0.3.zip
  Solutions/NozomiNetworks/Package/createUiDefinition.json
  Solutions/NozomiNetworks/Package/mainTemplate.json
  Solutions/NozomiNetworks/ReleaseNotes.md
  Solutions/OSSEC/Data/Solution_OssectemplateSpec.json
  Solutions/OSSEC/Package/3.0.2.zip
  Solutions/OSSEC/Package/createUiDefinition.json
  Solutions/OSSEC/Package/mainTemplate.json
  Solutions/OSSEC/ReleaseNotes.md
Labels: Solution, Content-Package

#11458 Moving validation workflows from ADO to GitHub
  .github/workflows/content-validations.yaml
  .github/workflows/data-connector-validations.yaml
  .github/workflows/detection-template-schema-validations.yaml
  .github/workflows/detection-validations.yaml
  .github/workflows/documents-link-validation.yaml
  .github/workflows/json-syntax-validation.yaml
  .github/workflows/kql-validations.yaml
  .github/workflows/logo-validation.yaml
  .github/workflows/playbook-validations.yaml
  .github/workflows/sample-data-validation.yaml
  .github/workflows/solution-validations.yaml
  .github/workflows/workbook-metadata-validations.yaml
  .github/workflows/workbook-template-validations.yaml
  .github/workflows/yaml-syntax-validation.yaml
Labels: workflows

#11285 Garrison ULTRA Remote Logs solution
  .script/tests/KqlvalidationsTests/CustomTables/Garrison_ULTRARemote_Logs_CL.json
  Logos/Garrison_Logomark.svg
  Sample Data/GarrisonULTRARemoteLogs_IngestedLogs.csv
  Sample Data/GarrisonULTRARemoteLogs_RawLogs.json
  Sample Data/GarrisonULTRARemoteLogs_Schema.csv
  Solutions/Garrison ULTRA/Data Connectors/GarrisonULTRARemoteLogs/GarrisonULTRARemoteLogs_ConnectorUI.json
  Solutions/Garrison ULTRA/Data Connectors/GarrisonULTRARemoteLogs/azuredeploy_DataCollectionResources.json
  Solutions/Garrison ULTRA/Data/Solution_GarrisonULTRARemoteLogs.json
  Solutions/Garrison ULTRA/Package/3.0.0.zip
  Solutions/Garrison ULTRA/Package/createUiDefinition.json
  Solutions/Garrison ULTRA/Package/mainTemplate.json
  Solutions/Garrison ULTRA/Package/testParameters.json
  Solutions/Garrison ULTRA/ReleaseNotes.md
  Solutions/Garrison ULTRA/SolutionMetadata.json
Labels: Connector, Solution, New Solution

#11473 Repackage - Netwrix Auditor
  Solutions/Netwrix Auditor/Data/Solution_Netwrix.json
  Solutions/Netwrix Auditor/Package/3.0.2.zip
  Solutions/Netwrix Auditor/Package/createUiDefinition.json
  Solutions/Netwrix Auditor/Package/mainTemplate.json
  Solutions/Netwrix Auditor/ReleaseNotes.md
  Solutions/PingFederate/Analytic Rules/PingFederateAbnormalPasswordResetsAttempts.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateAuthFromNewSource.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateForbiddenCountry.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateMultiplePasswordResetsForUser.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateNewUserSSO.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateOauthOld.yaml
  Solutions/PingFederate/Analytic Rules/PingFederatePasswordRstReqUnexpectedSource.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateSamlOld.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnexpectedAuthUrl.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnexpectedUserCountry.yaml
  Solutions/PingFederate/Analytic Rules/PingFederateUnusualMailDomain.yaml
  Solutions/PingFederate/Data/Solution_PingFederate.json
  Solutions/PingFederate/Hunting Queries/PingFederateAuthUrls.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateFailedAuthentications.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateNewUsers.yaml
  Solutions/PingFederate/Hunting Queries/PingFederatePasswordResetRequests.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateRareSources.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateSAMLSubjects.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateTopSources.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateUnusualCountry.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateUnusualSources.yaml
  Solutions/PingFederate/Hunting Queries/PingFederateUsersPaswordsReset.yaml
  Solutions/PingFederate/Package/3.0.2.zip
  Solutions/PingFederate/Package/createUiDefinition.json
  Solutions/PingFederate/Package/mainTemplate.json
  Solutions/PingFederate/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11479 Removing KQL validation workflow
  .github/workflows/kql-validations.yaml
Labels: workflows

#11472 Update UserAccount_ScreenshotHosts.yaml
  Exploration Queries/InputEntity_Account/UserAccount_ScreenshotHosts.yaml
Labels: Hunting

#11477 CloudGuard - Updated connector name
  Solutions/Check Point CloudGuard/Data Connectors/CloudGuard_ccp/CloudGuard_DataConnectorDefinition.json
  Solutions/Check Point CloudGuard/Data/Solution_CloudGuard.json
  Solutions/Check Point CloudGuard/Package/3.0.0.zip
  Solutions/Check Point CloudGuard/Package/mainTemplate.json
  Solutions/Check Point CloudGuard/ReleaseNotes.md
Labels: Connector

#11481 Update ReleaseNotes.md
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
Labels: Solution

#11358 Google Threat Intelligence Solution
  Logos/GoogleThreatIntelligence.svg
  Solutions/Google Threat Intelligence/Data/Solution_GoogleThreatIntelligence.json
  Solutions/Google Threat Intelligence/Package/3.0.0.zip
  Solutions/Google Threat Intelligence/Package/createUiDefinition.json
  Solutions/Google Threat Intelligence/Package/mainTemplate.json
  Solutions/Google Threat Intelligence/Package/testParameters.json
  Solutions/Google Threat Intelligence/Playbooks/CustomConnector/GTICustomConnector/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/CustomConnector/GTICustomConnector/readme.md
  Solutions/Google Threat Intelligence/Playbooks/GTIEnrichment/GTI-EnrichAlert/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/GTIEnrichment/GTI-EnrichEntity/GTI-EnrichDomain/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/GTIEnrichment/GTI-EnrichEntity/GTI-EnrichFilehash/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/GTIEnrichment/GTI-EnrichEntity/GTI-EnrichIP/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/GTIEnrichment/GTI-EnrichEntity/GTI-EnrichURL/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/GTIEnrichment/GTI-EnrichIncident/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/readme.md
  Solutions/Google Threat Intelligence/SolutionMetadata.json
  Solutions/Google Threat Intelligence/readme.md
Labels: Solution

#11483 Update azuredeploy_OktaSingleSignOn_API_FunctionApp_V2.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/azuredeploy_OktaSingleSignOn_API_FunctionApp_V2.json
Labels: Connector, Solution

#11487 OktaSSO - Minor update to analytic rules
  Solutions/Okta Single Sign-On/Analytic Rules/DeviceRegistrationMaliciousIP.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/HighRiskAdminActivity.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/MFAFatigue.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/NewDeviceLocationCriticalOperation.yaml
  Solutions/Okta Single Sign-On/Package/3.1.0.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution, Analytic Rules

#11201 Amazon Web Services WAF new Data connector
  Solutions/Amazon Web Services/Data Connectors/AWS_WAF_CCP/AWS S3 WAF connector template.json
  Solutions/Amazon Web Services/Data Connectors/AWS_WAF_CCP/AwsS3_WAF_DCR.json
  Solutions/Amazon Web Services/Data Connectors/AWS_WAF_CCP/AwsS3_WAF_DataConnectorDefination.json
  Solutions/Amazon Web Services/Data Connectors/AWS_WAF_CCP/AwsS3_WAF_PollingConfig.json
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/3.0.3.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
  Solutions/Amazon Web Services/Package/testParameters.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#11490 AlertEvent Readme
  ASIM/README.md
Labels: ASIM

#11482 Update OCI_logs_API_FunctionApp.json
  Solutions/Oracle Cloud Infrastructure/Data Connectors/OCI_logs_API_FunctionApp.json
  Solutions/Oracle Cloud Infrastructure/Package/3.0.2.zip
  Solutions/Oracle Cloud Infrastructure/Package/createUiDefinition.json
  Solutions/Oracle Cloud Infrastructure/Package/mainTemplate.json
  Solutions/Oracle Cloud Infrastructure/Package/testParameters.json
Labels: Connector, Solution

#11484 🐛 Fix broken Mango Sandstorm rule
  Detections/MultipleDataSources/powershell_MangoSandstorm.yaml
Labels: Solution

#11492 solution version corrected Okta single sign on
  Solutions/Okta Single Sign-On/Package/3.1.0.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution

#11491 Repackage - Broadcom SymantecDLP
  Solutions/Broadcom SymantecDLP/Data/Solution_Broadcom SymantecDLP.json
  Solutions/Broadcom SymantecDLP/Package/3.0.3.zip
  Solutions/Broadcom SymantecDLP/Package/createUiDefinition.json
  Solutions/Broadcom SymantecDLP/Package/mainTemplate.json
  Solutions/Broadcom SymantecDLP/ReleaseNotes.md
  Solutions/Forcepoint CASB/Data/Solution_ForcepointCASB.json
  Solutions/Forcepoint CASB/Package/3.0.2.zip
  Solutions/Forcepoint CASB/Package/createUiDefinition.json
  Solutions/Forcepoint CASB/Package/mainTemplate.json
  Solutions/Forcepoint CASB/ReleaseNotes.md
  Solutions/Illumio Core/Data/Solution_IllumioCore.json
  Solutions/Illumio Core/Package/3.0.3.zip
  Solutions/Illumio Core/Package/createUiDefinition.json
  Solutions/Illumio Core/Package/mainTemplate.json
  Solutions/Illumio Core/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11498 Adding updated workflow for KQL validation
  .github/workflows/kql-validations.yaml
Labels: workflows

#11497 Updated broken link
  Solutions/Microsoft Business Applications/Package/3.2.0.zip
  Solutions/Microsoft Business Applications/Package/mainTemplate.json
  Solutions/Microsoft Business Applications/Playbooks/MSBizApps-Incident-From-Alert-Teams/azuredeploy.json
  Solutions/Microsoft Business Applications/ReleaseNotes.md
Labels: Solution

#11500 Inlcude AlertEvent Parsers for ASIM Validations
  .script/tests/asimParsersTest/ASimFilteringTest.py
  .script/tests/asimParsersTest/VerifyASimParserTemplate.py
Labels: ASIM

#11504 Packaged solution to resolve analytic rule bug
  Solutions/DNS Essentials/Analytic Rules/MultipleErrorsReportedForSameDNSQueryStaticThresholdBased.yaml
  Solutions/DNS Essentials/Data/Solution_DNS.json
  Solutions/DNS Essentials/Package/3.0.3.zip
  Solutions/DNS Essentials/Package/mainTemplate.json
  Solutions/DNS Essentials/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#11396 [ThreatIntelligence] Template updates for PMDTI GA and new types Public Preview
  Solutions/Threat Intelligence Solution for Azure Government/Data/Solution_ThreatIntelligenceFairfax.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/3.0.3.zip
  Solutions/Threat Intelligence Solution for Azure Government/Package/createUiDefinition.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/mainTemplate.json
  Solutions/Threat Intelligence Solution for Azure Government/ReleaseNotes.md
  Solutions/Threat Intelligence/Data Connectors/template_MicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence/Data Connectors/template_PremiumMicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceTaxii.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators_ForGov.json
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/3.0.8.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Connector

#11448 Link no longer works in Anomalous AAD Account Manipulation
  Hunting Queries/BehaviorAnalytics/Anomalous AAD Account Manipulation.yaml
Labels: Hunting

#11502 Repackaged - Zscalar Internet Access
  Solutions/SonicWall Firewall/Analytic Rules/CaptureATPMaliciousFileDetection.yaml
  Solutions/SonicWall Firewall/Data/Solution_SonicWall Firewall.json
  Solutions/SonicWall Firewall/Hunting Queries/OutboundSSHConnections.yaml
  Solutions/SonicWall Firewall/Package/3.1.2.zip
  Solutions/SonicWall Firewall/Package/createUiDefinition.json
  Solutions/SonicWall Firewall/Package/mainTemplate.json
  Solutions/SonicWall Firewall/ReleaseNotes.md
  Solutions/Zscaler Internet Access/Analytic Rules/DiscordCDNRiskyDownload.yaml
  Solutions/Zscaler Internet Access/Analytic Rules/Zscaler-LowVolumeDomainRequests.yaml
  Solutions/Zscaler Internet Access/Data/Solution_Zscaler Internet Access.json
  Solutions/Zscaler Internet Access/Package/3.0.3.zip
  Solutions/Zscaler Internet Access/Package/createUiDefinition.json
  Solutions/Zscaler Internet Access/Package/mainTemplate.json
  Solutions/Zscaler Internet Access/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0

#11467 Cortex xdr ccp solution
  .script/tests/KqlvalidationsTests/CustomTables/PaloAltoCortexXDR_Incidents_CL.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/DCR.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/DataConnectorDefinition.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/PollingConfig.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/solutionMetadata.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/table_agent.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/table_alerts.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/table_endpoint.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/table_incidents.json
  Solutions/Cortex XDR/Data Connectors/CortexXDR_ccp/table_managment.json
  Solutions/Cortex XDR/Data/Solution_CortexXDR.json
  Solutions/Cortex XDR/Package/3.0.1.zip
  Solutions/Cortex XDR/Package/createUiDefinition.json
  Solutions/Cortex XDR/Package/mainTemplate.json
  Solutions/Cortex XDR/Package/testParameters.json
  Solutions/Cortex XDR/Parsers/PaloAltoCortexXDR.yaml
  Solutions/Cortex XDR/SolutionMetadata.json
  Solutions/CyberArkEPM/Package/mainTemplate.json
Labels: Connector, Parser
