Repository Azure/Azure-Sentinel, pull requests merged in 2024-04, with the labels that each got.

#10202 Updated links
  Solutions/HYAS Protect/Data Connectors/HYASProtect_FunctionApp.json
  Solutions/HYAS Protect/Data Connectors/azuredeploy_Connector_Hyas_AzureFunction.json
  Solutions/HYAS Protect/Package/3.0.0.zip
  Solutions/HYAS Protect/Package/mainTemplate.json
Labels: Solution

#10200 Update SophosEPEvent.yaml parser
  Solutions/Sophos Endpoint Protection/Data/Solution_EP.json
  Solutions/Sophos Endpoint Protection/Package/3.0.2.zip
  Solutions/Sophos Endpoint Protection/Package/createUiDefinition.json
  Solutions/Sophos Endpoint Protection/Package/mainTemplate.json
  Solutions/Sophos Endpoint Protection/Parsers/SophosEPEvent.yaml
  Solutions/Sophos Endpoint Protection/ReleaseNotes.md
Labels: Parser, Solution

#10212 Change in the instruction for connector name in Minemeld solution
  Solutions/Minemeld/Data/Solution_Minemeld.json
  Solutions/Minemeld/Package/3.0.0.zip
  Solutions/Minemeld/Package/createUiDefinition.json
  Solutions/Minemeld/Package/mainTemplate.json
  Solutions/Minemeld/Package/testParameters.json
  Solutions/Minemeld/Playbooks/CustomConnector/MinemeldCustomConnector/azuredeploy.json
Labels: Playbook, Solution, Content-Package

#10217 SAP solution- switch files SENTINEL_AGENT_BASIC and SENTINEL_CONNECTOR
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_AGENT_BASIC_ROLE_V0.0.1.SAP
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_CONNECTOR_ROLE_V0.0.27.SAP
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_READER.SAP
Labels: SAP

#10219 Updated playbook prerequisite description and corrected sentence formatting
  Solutions/AbuseIPDB/Data/Solution_AbuseIPDB.json
  Solutions/AbuseIPDB/Package/3.0.1.zip
  Solutions/AbuseIPDB/Package/createUiDefinition.json
  Solutions/AbuseIPDB/Package/mainTemplate.json
  Solutions/AbuseIPDB/Package/testParameters.json
  Solutions/AbuseIPDB/Playbooks/AbuseIPDB-BlacklistIpToThreatIntelligence/azuredeploy.json
  Solutions/AbuseIPDB/ReleaseNotes.md
Labels: Playbook, Solution, Content-Package

#10231 Remove duplicate ActingAppName (UserManagement)
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#10108 Infoblox new solution - SOC Insights
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxCDC_SOCInsights.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsight.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsightAssets.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsightAssets_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsightComments.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsightComments_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsightEvents.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsightEvents_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsightIndicators.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsightIndicators_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsight_CL.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Sample Data/CEF/InfobloxCDC_SOCInsights.csv
  Sample Data/Custom/InfobloxInsightAssets_CL.csv
  Sample Data/Custom/InfobloxInsightComments_CL.csv
  Sample Data/Custom/InfobloxInsightEvents_CL.csv
  Sample Data/Custom/InfobloxInsightIndicators_CL.csv
  Sample Data/Custom/InfobloxInsight_CL.csv
  Solutions/Infoblox SOC Insights/Analytic Rules/Infoblox-SOCInsightDetected-APISource.yaml
  Solutions/Infoblox SOC Insights/Analytic Rules/Infoblox-SOCInsightDetected-CDCSource.yaml
  Solutions/Infoblox SOC Insights/Data Connectors/InfobloxSOCInsightsDataConnector_AMA.json
  Solutions/Infoblox SOC Insights/Data Connectors/InfobloxSOCInsightsDataConnector_API.json
  Solutions/Infoblox SOC Insights/Data Connectors/InfobloxSOCInsightsDataConnector_Legacy.json
  Solutions/Infoblox SOC Insights/Data/Solution_Infoblox_SOC_Insights.json
  Solutions/Infoblox SOC Insights/Package/3.0.0.zip
  Solutions/Infoblox SOC Insights/Package/createUiDefinition.json
  Solutions/Infoblox SOC Insights/Package/mainTemplate.json
  Solutions/Infoblox SOC Insights/Package/testParameters.json
  Solutions/Infoblox SOC Insights/Parsers/InfobloxCDC_SOCInsights.yaml
  Solutions/Infoblox SOC Insights/Parsers/InfobloxInsight.yaml
  Solutions/Infoblox SOC Insights/Parsers/InfobloxInsightAssets.yaml
  Solutions/Infoblox SOC Insights/Parsers/InfobloxInsightComments.yaml
  Solutions/Infoblox SOC Insights/Parsers/InfobloxInsightEvents.yaml
  Solutions/Infoblox SOC Insights/Parsers/InfobloxInsightIndicators.yaml
  Solutions/Infoblox SOC Insights/Playbooks/Infoblox-SOC-Get-Insight-Details/azuredeploy.json
  Solutions/Infoblox SOC Insights/Playbooks/Infoblox-SOC-Get-Open-Insights-API/azuredeploy.json
  Solutions/Infoblox SOC Insights/Playbooks/Infoblox-SOC-Import-Indicators-TI/azuredeploy.json
  Solutions/Infoblox SOC Insights/Playbooks/images/infoblox.png
  Solutions/Infoblox SOC Insights/Playbooks/readme.md
  Solutions/Infoblox SOC Insights/ReleaseNotes.md
  Solutions/Infoblox SOC Insights/SolutionMetadata.json
  Solutions/Infoblox SOC Insights/Workbooks/Images/Preview/InfobloxSOCInsightsBlack.png
  Solutions/Infoblox SOC Insights/Workbooks/Images/Preview/InfobloxSOCInsightsWhite.png
  Solutions/Infoblox SOC Insights/Workbooks/InfobloxSOCInsightsWorkbook.json
  Workbooks/Images/Preview/InfobloxSOCInsightsBlack.png
  Workbooks/Images/Preview/InfobloxSOCInsightsWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10235 Leaderboard Monthly Update - Update stats.md file with Mar 2024 Data
  Solutions/HYAS Protect/Package/3.0.0.zip
  Solutions/HYAS Protect/Package/createUiDefinition.json
  Tools/stats/stats.md
Labels: Tools, P0

#10224 Entity Work April 1
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/BrutforceAttemptOnAzurePortalAndAWSConsolAtSameTime.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/Cross-CloudSuspiciousComputeResourcecreationinGCP.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/CrossCloudSuspiciousUserActivityObservedInGCPEnvourment.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/CrossCloudUnauthorizedCredentialsAccessDetection.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/SuccessfulAWSConsoleLoginfromIPAddressObservedConductingPasswordSpray.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/SuspiciousAWSConsolLoginByCredentialAceessAlerts.yaml
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Analytic Rules/Unauthorized_user_access_across_AWS_and_Azure.yaml
Labels: Solution, Analytic Rules

#10153 Entity Mapping Updates March 14 Manny
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/SuspiciousAccessOfBECRelatedDocuments.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/SuspiciousAccessOfBECRelatedDocumentsInAWSS3Buckets.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/UserAddedtoAdminRole.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Two Factor Authentication Disabled in GitHub.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User visibility Was changed.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User was added to the organization.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User was blocked.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - User was invited to the repository.yaml
  Solutions/GitHub/Analytic Rules/NRT Two Factor Authentication Disabled.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10239 WorkBook Usage Report missing fields for analytic rules due to using old preview API
  Workbooks/WorkspaceUsage.json
Labels: Workbook

#10238 Added ReleaseNotes file for Minemeld solution
  Solutions/Minemeld/Package/3.0.0.zip
  Solutions/Minemeld/ReleaseNotes.md
Labels: Solution, Content-Package

#9788 Resolved duplicate text in UI definition & Aligned Playbook, Data Connector & Workbook version numbers with rest of Dynatrace solution
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_AttackDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_CodeLevelVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_NonCriticalVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_ThirdPartyVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/Dynatrace_ProblemDetection.yaml
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_Attacks.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_AuditLogs.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_Problems.json
  Solutions/Dynatrace/Data Connectors/Connector_Dynatrace_RuntimeVulnerabilities.json
  Solutions/Dynatrace/Package/3.0.1.zip
  Solutions/Dynatrace/Package/createUiDefinition.json
  Solutions/Dynatrace/Package/mainTemplate.json
  Solutions/Dynatrace/Playbooks/Add_DynatraceApplicationSecurityAttackSourceIpThreatIntelligence/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackMSDefenderXDR/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich-DynatraceAppSecAttackWithSecurityAlerts/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Enrich_DynatraceApplicationSecurityAttackIncident/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSDefenderXDR/azuredeploy.json
  Solutions/Dynatrace/Playbooks/Ingest-DynatraceMSSentinelSecurityAlerts/azuredeploy.json
  Solutions/Dynatrace/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10242 Adding Manny's changes into smaller PRs Slice 3
  Solutions/Microsoft Defender XDR/Analytic Rules/AVSpringShell.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/AVTarrask.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/AVdetectionsrelatedtoUkrainebasedthreats.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/PossiblePhishingwithCSL&NetworkSession.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/PossibleWebpBufferOverflow.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/PotentialBuildProcessCompromiseMDE.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/SUNSPOTHashes.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/SolarWinds_SUNBURST_&_SUPERNOVA_File-IOCs.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/SolarWinds_SUNBURST_Network-IOCs.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/SolarWinds_TEARDROP_Process-IOCs.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10247 april entity mapping diana p1
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/PrivilegedAccountPermissionsChanged.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270RegistryIOCSep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270WMICDiscoverySep2022.yaml
  Solutions/MicrosoftPurviewInsiderRiskManagement/Analytic Rules/InsiderRiskyAccessByApplication.yaml
  Solutions/Syslog/Analytic Rules/FailedLogonAttempts_UnknownUser.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_AuditLogs.yaml
  Solutions/Threat Intelligence/Analytic Rules/imDns_DomainEntity_DnsEvents.yaml
  Solutions/Web Shells Threat Protection/Analytic Rules/PotentialMercury_Webshell.yaml
  Solutions/Windows Forwarded Events/Analytic Rules/CaramelTsunami_IOC_WindowsEvent.yaml
  Solutions/Windows Forwarded Events/Analytic Rules/ChiaCryptoMining_WindowsEvent.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10245 Fix: add missing title to MicrosoftDefenderForCloudTenantBased
  Solutions/Microsoft Defender for Cloud/Data Connectors/MicrosoftDefenderForCloudTenantBased.json
Labels: Connector, Solution, Content-Package

#10251 Updating OKTA solution to add Azure deploy for Gov portal
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/Connector_REST_API_FunctionApp_Okta.json
  Solutions/Okta Single Sign-On/Package/3.0.5.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
Labels: Solution, Content-Package

#10256 update aws3 template
  Solutions/Amazon Web Services/Data Connectors/template_AwsS3.json
Labels: Content-Package

#10254 Adding Manny's changes into smaller PRs Slice 5
  Solutions/Microsoft Entra ID/Analytic Rules/Brute Force Attack against GitHub Account.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/BruteForceCloudPC.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/BulkChangestoPrivilegedAccountPermissions.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/BypassCondAccessRule.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/CredentialAddedAfterAdminConsent.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationAdded.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationDeleted.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationInboundCollaborationSettingsChanged.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationInboundDirectSettingsChanged.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationOutboundCollaborationSettingsChanged.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationOutboundDirectSettingsChanged.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10233 04 02 2024 as clear okta network zone list
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Access_1.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Access_2.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Access_3.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Access_4.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Demo_1.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Deploy_1.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Deploy_2.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Deploy_3.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Key_Vault_1.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Key_Vault_2.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/Images/NetworkZone_Key_Vault_3.png
  Playbooks/AS-Clear-Okta-Network-Zone-List/README.md
  Playbooks/AS-Clear-Okta-Network-Zone-List/azuredeploy.json
Labels: Playbook

#10255 Entity-Work-April-5-pt2
  Detections/ZoomLogs/E2EEDisbaled.yaml
  Detections/ZoomLogs/ExternalUserAccess.yaml
  Detections/ZoomLogs/JoiningMeetingFromAnotherTimeZone.yaml
  Detections/ZoomLogs/SupiciousLinkSharing.yaml
  Detections/http_proxy_oab_CL/ExchagngeSuspiciousFileDownloads.yaml
  Detections/http_proxy_oab_CL/SilkTyphoonSuspiciousFileDownloads.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-NetworkBeaconing.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-PortScanning.yaml
Labels: Solution, Detection, Analytic Rules, CoreEntityFix

#10223 Adding field mapping folder and sample
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuditEvent/Field Mappings/Templates/AuditEvent_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimAuthentication/Field Mappings/Templates/Authentication_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimDhcpEvent/Field Mappings/Templates/DhcpEvent_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimDns/Field Mappings/Templates/Dns_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimFileEvent/Field Mappings/Templates/FileEvent_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimNetworkSession/Field Mappings/Templates/NetworkSession_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimProcessEvent/Field Mappings/Templates/ProcessEvent_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimRegistryEvent/Field Mappings/Templates/RegistryEvent_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimUserManagement/Field Mappings/Templates/UserManagement_EventVendorEventProduct_MappingSheet.csv
  Parsers/ASimWebSession/Field Mappings/Templates/WebSession_EventVendorEventProduct_MappingSheet.csv
Labels: ASIM

#10258 Fixed ARM-ttk failures for Okta
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/Connector_REST_API_FunctionApp_Okta.json
  Solutions/Okta Single Sign-On/Package/3.0.5.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
Labels: Solution, Content-Package

#10259 Updated awsS3 connector template
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/3.0.2.zip
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Solution, Content-Package

#10262 Fixed Deploy to Azure button link in the solutions connector page
  Solutions/HYAS Protect/Data Connectors/HYASProtect_FunctionApp.json
  Solutions/HYAS Protect/Package/3.0.0.zip
  Solutions/HYAS Protect/Package/mainTemplate.json
Labels: Solution

#10218 give an option in the update script to update appid or appsecret
  Solutions/SAP/sapcon-instance-update.sh
Labels: SAP

#10271 Microsoft Exchange Security - Exchange On-Premises - Updated the connectivity criteria and Last Log Received Queries
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data Connectors/ESI-ExchangeAdminAuditLogEvents.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data/Solution_MicrosoftExchangeSecurity.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.1.3.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#10272 Updating solutions to add Azure deploy button for gov
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CrowdstrikeReplicatorV2_ConnectorUI.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.3.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_API_FunctionApp.json
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.2.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/Package/testParameters.json
  Solutions/ProofPointTap/ReleaseNotes.md
  Solutions/ZoomReports/Data Connectors/ZoomReports_API_FunctionApp.json
  Solutions/ZoomReports/Data/Solution_ZoomReports.json
  Solutions/ZoomReports/Package/3.0.2.zip
  Solutions/ZoomReports/Package/createUiDefinition.json
  Solutions/ZoomReports/Package/mainTemplate.json
  Solutions/ZoomReports/Package/testParameters.json
  Solutions/ZoomReports/ReleaseNotes.md
Labels: Solution, Content-Package

#10263 Update azuredeploy_DataCollectionResources.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/azuredeploy_DataCollectionResources.json
Labels: Connector

#10246 Mail_redirect_via_ExO_transport_rule: Add From field and change runtime to 1h to improve MTTD
  Solutions/Microsoft 365/Analytic Rules/Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Microsoft 365/Package/3.0.2.zip
  Solutions/Microsoft 365/Package/mainTemplate.json
Labels: Solution, Analytic Rules

#10275 Fixed IP entity for "Time series anomaly for data size transferred to public internet"
  Detections/MultipleDataSources/TimeSeriesAnomaly-MultiVendor_DataExfiltration.yaml
Labels: Detection

#10240 Ensure all logs from PANW are included in Sentinel dashboard
  Solutions/PaloAlto-PAN-OS/Package/3.0.3.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/Workbooks/PaloAltoOverview.json
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
Labels: Workbook, Solution, Content-Package, auto-package

#10277 Updating threat intelligence solution
  Solutions/Threat Intelligence/Package/3.0.3.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#10282 Update ReleaseNotes.md
  Solutions/Amazon Web Services/ReleaseNotes.md
Labels: Solution

#10250 Update in Entity Mapping for the solution of BEC and GitHub
  Solutions/Business Email Compromise - Financial Fraud/Data/Solution_Business Email Compromise - Financial Fraud.json
  Solutions/Business Email Compromise - Financial Fraud/Package/3.0.8.zip
  Solutions/Business Email Compromise - Financial Fraud/Package/mainTemplate.json
  Solutions/Business Email Compromise - Financial Fraud/ReleaseNotes.md
  Solutions/GitHub/Package/3.0.4.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/ReleaseNotes.md
  Solutions/GitHub/data/Solution_GitHub.json
Labels: Solution, Content-Package

#10270 Update parsers
  Solutions/Symantec Endpoint Protection/Data Connectors/Connector_Syslog_SymantecEndpointProtection.json
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/3.0.0.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/Package/testParameters.json
  Solutions/Symantec Endpoint Protection/Parsers/SymantecEndpointProtection.txt
  Solutions/Symantec Endpoint Protection/Parsers/SymantecEndpointProtection.yaml
  Solutions/VMWareESXi/Data Connectors/Connector_Syslog_VMwareESXi.json
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/3.0.0.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/VMWareESXi/Package/testParameters.json
  Solutions/VMWareESXi/Parsers/VMwareESXi.txt
  Solutions/VMWareESXi/Parsers/VMwareESXi.yaml
Labels: Parser, Solution

#10257 Update in Entity Mappings of solution MultiCloud_attack and MDE XDR
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Package/3.0.4.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Data/Solution_Multi Cloud Attack Coverage Essentials - Resource Abuse.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/3.0.2.zip
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/createUiDefinition.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/mainTemplate.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/ReleaseNotes.md
Labels: Solution, Content-Package

#10268 Update ExploitGuardAsrDescriptions.yaml with new ASR Rules
  Hunting Queries/Microsoft 365 Defender/Protection events/ExploitGuardAsrDescriptions.yaml
Labels: Hunting

#10299 Added release notes
  Solutions/SAP/ReleaseNotes.md
Labels: SAP

#10286 maintemplate modified for kind: GenericUI ( Microsoft Defender for Cloud )
  Solutions/Microsoft Defender for Cloud/Package/3.0.2.zip
  Solutions/Microsoft Defender for Cloud/Package/mainTemplate.json
  Solutions/VMWareESXi/ReleaseNotes.md
Labels: Solution

#10298 Updated default values of table in the user input ARM template
  .script/tests/KqlvalidationsTests/CustomTables/BitsightBreaches_data_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightCompany_details_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightCompany_rating_details_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightDiligence_historical_statistics_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightDiligence_statistics_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightFindings_data_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightFindings_summary_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightGraph_data_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightIndustrial_statistics_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/BitsightObservation_statistics_CL.json
  Sample Data/Custom/BitSight/BitsightBreaches_data_CL.csv
  Sample Data/Custom/BitSight/BitsightCompany_details_CL.csv
  Sample Data/Custom/BitSight/BitsightCompany_rating_details_CL.csv
  Sample Data/Custom/BitSight/BitsightDiligence_historical_statistics_CL.csv
  Sample Data/Custom/BitSight/BitsightDiligence_statistics_CL.csv
  Sample Data/Custom/BitSight/BitsightFindings_data_CL.csv
  Sample Data/Custom/BitSight/BitsightFindings_summary_CL.csv
  Sample Data/Custom/BitSight/BitsightGraph_data_CL.csv
  Sample Data/Custom/BitSight/BitsightIndustrial_statistics_CL.csv
  Sample Data/Custom/BitSight/BitsightObservation_statistics_CL.csv
  Solutions/BitSight/Data Connectors/BitSightDataConnector/BitSight_API_FunctionApp.json
  Solutions/BitSight/Data Connectors/BitSightDataConnector/README.md
  Solutions/BitSight/Data Connectors/BitSightDataConnector/azuredeploy_BitSight_API_FunctionApp.json
  Solutions/BitSight/Data/Solution_BitSight.json
  Solutions/BitSight/Package/3.0.1.zip
  Solutions/BitSight/Package/createUiDefinition.json
  Solutions/BitSight/Package/mainTemplate.json
  Solutions/BitSight/Parsers/BitSightAlerts.txt
  Solutions/BitSight/Parsers/BitSightBreaches.txt
  Solutions/BitSight/Parsers/BitSightBreaches.yaml
  Solutions/BitSight/Parsers/BitSightCompanyDetails.txt
  Solutions/BitSight/Parsers/BitSightCompanyDetails.yaml
  Solutions/BitSight/Parsers/BitSightCompanyRatings.txt
  Solutions/BitSight/Parsers/BitSightCompanyRatings.yaml
  Solutions/BitSight/Parsers/BitSightDiligenceHistoricalStatistics.txt
  Solutions/BitSight/Parsers/BitSightDiligenceHistoricalStatistics.yaml
  Solutions/BitSight/Parsers/BitSightDiligenceStatistics.txt
  Solutions/BitSight/Parsers/BitSightDiligenceStatistics.yaml
  Solutions/BitSight/Parsers/BitSightFindingsData.txt
  Solutions/BitSight/Parsers/BitSightFindingsData.yaml
  Solutions/BitSight/Parsers/BitSightFindingsSummary.txt
  Solutions/BitSight/Parsers/BitSightFindingsSummary.yaml
  Solutions/BitSight/Parsers/BitSightGraphData.txt
  Solutions/BitSight/Parsers/BitSightGraphData.yaml
  Solutions/BitSight/Parsers/BitSightIndustrialStatistics.txt
  Solutions/BitSight/Parsers/BitSightIndustrialStatistics.yaml
  Solutions/BitSight/Parsers/BitSightObservationStatistics.txt
  Solutions/BitSight/Parsers/BitSightObservationStatistics.yaml
  Solutions/BitSight/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10293 Claroty xDome Data connector - reset
  Logos/ClarotyLogo.svg
  Sample Data/CEF/ClarotyxDome_sample_data.csv
  Solutions/Claroty xDome/Data Connectors/Claroty_xDome.json
  Solutions/Claroty xDome/Data/Solution_Claroty_xDome.json
  Solutions/Claroty xDome/Package/3.0.0.zip
  Solutions/Claroty xDome/Package/createUiDefinition.json
  Solutions/Claroty xDome/Package/mainTemplate.json
  Solutions/Claroty xDome/Package/testParameters.json
  Solutions/Claroty xDome/ReleaseNotes.md
  Solutions/Claroty xDome/SolutionMetadata.json
Labels: Solution

#10308 Fixed typo in workbook
  Solutions/Microsoft Defender XDR/Package/3.0.4.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/Workbooks/MicrosoftDefenderForIdentity.json
Labels: Solution, Content-Package

#10291 Create Attempts to request Kerberos service ticket using the AS service
  Hunting Queries/Microsoft 365 Defender/Credential Access/Attempts to request Kerberos service ticket using the AS service
Labels: Hunting

#10290 Adding hunting rule for impacket psexec module
  Hunting Queries/Microsoft 365 Defender/Execution/detect-impacket-psexec-module.yaml
Labels: Hunting

#10204 Fix local network logic
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-PortScanning.yaml
  Solutions/PaloAlto-PAN-OS/Package/3.0.4.zip
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
Labels: Solution, Analytic Rules

#10324 Missing file extension
  Hunting Queries/Microsoft 365 Defender/Credential Access/Attempts to request Kerberos service ticket using the AS service
  Hunting Queries/Microsoft 365 Defender/Credential Access/Attempts to request Kerberos service ticket using the AS service.yaml
  Hunting Queries/Microsoft 365 Defender/Initial access/ActiveDirectory_Account_lockout_and_unlocks.yaml
Labels: Hunting

#10269 Updated Entity Mappings of Analytic Rule
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/3.0.5.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/testParameters.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/ReleaseNotes.md
  Solutions/MicrosoftPurviewInsiderRiskManagement/data/Solution_InsiderRiskManagement.json
  Solutions/Syslog/Data/Solution_syslog.json
  Solutions/Syslog/Package/3.0.3.zip
  Solutions/Syslog/Package/createUiDefinition.json
  Solutions/Syslog/Package/mainTemplate.json
  Solutions/Syslog/ReleaseNotes.md
  Solutions/Windows Forwarded Events/Data/Solution_Windows Forwarded Events.json
  Solutions/Windows Forwarded Events/Package/3.0.0.zip
  Solutions/Windows Forwarded Events/Package/createUiDefinition.json
  Solutions/Windows Forwarded Events/Package/mainTemplate.json
  Solutions/Windows Forwarded Events/Package/testParameters.json
  Solutions/Windows Forwarded Events/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10284 Updated Entity Mappings
  Solutions/AzureSecurityBenchmark/Data/Solution_AzureSecurityBenchmark.json
  Solutions/AzureSecurityBenchmark/Package/3.0.2.zip
  Solutions/AzureSecurityBenchmark/Package/createUiDefinition.json
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
  Solutions/AzureSecurityBenchmark/ReleaseNotes.md
  Solutions/Dev 0270 Detection and Hunting/Data/Solution_DEV0270.json
  Solutions/Dev 0270 Detection and Hunting/Package/3.0.0.zip
  Solutions/Dev 0270 Detection and Hunting/Package/createUiDefinition.json
  Solutions/Dev 0270 Detection and Hunting/Package/mainTemplate.json
  Solutions/Dev 0270 Detection and Hunting/Package/testParameters.json
  Solutions/Dev 0270 Detection and Hunting/ReleaseNotes.md
  Solutions/Web Shells Threat Protection/Package/3.0.3.zip
  Solutions/Web Shells Threat Protection/Package/mainTemplate.json
  Solutions/Web Shells Threat Protection/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10329 Update ReleaseNotes.md
  Solutions/Microsoft Defender for Cloud/ReleaseNotes.md
Labels: Solution

#10333 update script aws gov to azure com
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/Enviornment/EnviornmentConstants.ps1
Labels: Connector

#10331 Solution updates for parser fix in package
  Solutions/GitHub/Data Connectors/GithubWebhook/GithubWebhook_API_FunctionApp.json
  Solutions/GitHub/Package/3.0.5.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/ReleaseNotes.md
  Solutions/GitHub/data/Solution_GitHub.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data/Solution_MicrosoftExchangeSecurity.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.1.4.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.1.2.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
  Solutions/Okta Single Sign-On/Package/3.0.6.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.3.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/3.0.1.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/ReleaseNotes.md
  Solutions/ZoomReports/Data/Solution_ZoomReports.json
  Solutions/ZoomReports/Package/3.0.3.zip
  Solutions/ZoomReports/Package/createUiDefinition.json
  Solutions/ZoomReports/Package/mainTemplate.json
  Solutions/ZoomReports/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10285 Sophos Endpoint Protection solution Fix
  Solutions/Sophos Endpoint Protection/Package/3.0.2.zip
  Solutions/Sophos Endpoint Protection/Package/createUiDefinition.json
  Solutions/Sophos Endpoint Protection/Package/mainTemplate.json
  Solutions/Sophos Endpoint Protection/ReleaseNotes.md
Labels: Solution

#9363 Added new filters in SentinelOne Authentication vim parser
  Parsers/ASimAuthentication/Parsers/vimAuthenticationSentinelOne.yaml
  Parsers/ASimAuthentication/Tests/SentinelOne_vimAuthentication_DataTest.csv
Labels: ASIM

#10321 Added Azure Deploy button for government portal for CTM360 solution
  Solutions/CTM360/Data Connectors/CBS/CTM360_CBS_API_functionApp.json
  Solutions/CTM360/Data Connectors/HackerView/CTM360_HV_API_FunctionApp.json
  Solutions/CTM360/Data/CTM360.json
  Solutions/CTM360/Package/3.0.2.zip
  Solutions/CTM360/Package/createUiDefinition.json
  Solutions/CTM360/Package/mainTemplate.json
  Solutions/CTM360/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10334 Update createUiDefinition_csfdrv2_connector.json
  .github/workflows/hyperlinkValidator.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/azuredeploy_cdfdrv2_connector.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/createUiDefinition_csfdrv2_connector.json
Labels: Connector, Solution, Content-Package

#10316 Entity Work April 16
  Detections/CommonSecurityLog/Fortinet-NetworkBeaconPattern.yaml
  Detections/CommonSecurityLog/MultiVendor-PossibleDGAContacts.yaml
  Detections/CommonSecurityLog/TimeSeriesAnomaly-MultiVendor_NetworkTraffic.yaml
  Detections/DuoSecurity/TrustMonitorEvent.yaml
  Detections/MultipleDataSources/MalformedUserAgents.yaml
  Detections/MultipleDataSources/StarBlizzardDomainsAugust2022.yaml
  Detections/PulseConnectSecure/PulseConnectSecureVPN-CVE_2021_22893_Exploit.yaml
  Detections/SecurityNestedRecommendation/OMIGODVulnerableMachines.yaml
  Detections/W3CIISLog/HighPortCountByClientIP.yaml
  Detections/ZoomLogs/E2EEDisbaled.yaml
Labels: Detection, CoreEntityFix

#10348 Updated package for Microsoft Exchange Security OnPremises and Online solutions
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.1.4.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.1.2.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
Labels: Solution

#10243 Authentication parser filter update
  Parsers/ASimAuthentication/ARM/ASimAuthentication/ASimAuthentication.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationOktaOSS/ASimAuthenticationOktaOSS.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationOktaOSS/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationPostgreSQL/ASimAuthenticationPostgreSQL.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSentinelOne/ASimAuthenticationSentinelOne.json
  Parsers/ASimAuthentication/ARM/FullDeploymentAuthentication.json
  Parsers/ASimAuthentication/ARM/imAuthentication/imAuthentication.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAWSCloudTrail/vimAuthenticationAWSCloudTrail.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationBarracudaWAF/vimAuthenticationBarracudaWAF.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationCiscoASA/vimAuthenticationCiscoASA.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationCiscoISE/vimAuthenticationCiscoISE.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationCiscoMeraki/vimAuthenticationCiscoMeraki.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationCrowdStrikeFalconHost/vimAuthenticationCrowdStrikeFalconHost.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationMicrosoftMD4IoT/vimAuthenticationMicrosoftMD4IoT.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationOktaOSS/vimAuthenticationOktaOSS.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationPaloAltoCortexDataLake/vimAuthenticationPaloAltoCortexDataLake.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationPostgreSQL/vimAuthenticationPostgreSQL.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationSentinelOne/vimAuthenticationSentinelOne.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationSudo/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationSudo/vimAuthenticationSudo.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationVMwareCarbonBlackCloud/vimAuthenticationVMwareCarbonBlackCloud.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationVectraXDRAudit/vimAuthenticationVectraXDRAudit.json
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationOktaOSS.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationPostgreSQL.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSentinelOne.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAWSCloudTrail.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationBarracudaWAF.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationCiscoASA.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationCiscoISE.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationCiscoMeraki.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationCrowdStrikeFalconHost.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationMicrosoftMD4IoT.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationOktaOSS.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationPaloAltoCortexDataLake.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationPostgreSQL.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationSudo.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationVMwareCarbonBlackCloud.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationVectraXDRAudit.yaml
Labels: ASIM

#10304 Windows Security Events - Updated sort condition to return consistent results
  Solutions/Windows Security Events/Analytic Rules/MultipleFailedFollowedBySuccess.yaml
  Solutions/Windows Security Events/Package/3.0.5.zip
  Solutions/Windows Security Events/Package/mainTemplate.json
Labels: Solution, Detection

#10328 Added Azure Deploy button for government portal for WorkplaceFromFB solution
  Solutions/Workplace from Facebook/Data Connectors/WorkplaceFacebook/WorkplaceFacebook_Webhooks_FunctionApp.json
  Solutions/Workplace from Facebook/Data/Solution_WorkplaceFacebook.json
  Solutions/Workplace from Facebook/Package/3.0.0.zip
  Solutions/Workplace from Facebook/Package/createUiDefinition.json
  Solutions/Workplace from Facebook/Package/mainTemplate.json
  Solutions/Workplace from Facebook/Package/testParameters.json
  Solutions/Workplace from Facebook/ReleaseNotes.md
Labels: Solution, Content-Package

#10297 Added Deploy to Azure gov Button for the Armis and CiscoUmbrella solution.
  Solutions/Armis/Data Connectors/ArmisActivities/ArmisActivities_API_FunctionApp.json
  Solutions/Armis/Data Connectors/ArmisAlerts/ArmisAlerts_API_FunctionApp.json
  Solutions/Armis/Data Connectors/ArmisDevice/ArmisDevice_API_FunctionApp.json
  Solutions/Armis/Data/Solution_Armis.json
  Solutions/Armis/Package/3.0.1.zip
  Solutions/Armis/Package/createUiDefinition.json
  Solutions/Armis/Package/mainTemplate.json
  Solutions/Armis/Package/testParameters.json
  Solutions/Armis/ReleaseNotes.md
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_API_FunctionApp.json
  Solutions/CiscoUmbrella/Data/Solution_CiscoUmbrella.json
  Solutions/CiscoUmbrella/Package/3.0.1.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/Package/mainTemplate.json
  Solutions/CiscoUmbrella/Package/testParameters.json
  Solutions/CiscoUmbrella/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
Labels: Connector, Solution, Content-Package, P0

#10313 Added Azure Deploy button for government portal for QualysVM and QualysVM Knowledgebase solution
  Solutions/Qualys VM Knowledgebase/Data Connectors/QualysKB_API_FunctionApp.json
  Solutions/Qualys VM Knowledgebase/Data/Solution_QualysKBtemplateSpec.json
  Solutions/Qualys VM Knowledgebase/Package/3.0.1.zip
  Solutions/Qualys VM Knowledgebase/Package/createUiDefinition.json
  Solutions/Qualys VM Knowledgebase/Package/mainTemplate.json
  Solutions/Qualys VM Knowledgebase/Package/testParameters.json
  Solutions/Qualys VM Knowledgebase/ReleaseNotes.md
  Solutions/QualysVM/Data Connectors/QualysVM_API_FunctionApp.json
  Solutions/QualysVM/Package/3.0.0.zip
  Solutions/QualysVM/Package/createUiDefinition.json
  Solutions/QualysVM/Package/mainTemplate.json
  Solutions/QualysVM/Package/testParameters.json
  Solutions/QualysVM/ReleaseNotes.md
  Solutions/QualysVM/data/Solution_QualysVM.json
Labels: Solution, Content-Package

#10302 Added Deploy to Azure gov Button for the AtlassianJiraAudit and CiscoDuoSecurity Solution
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAudit_API_FunctionApp.json
  Solutions/AtlassianJiraAudit/Data/Solution_AtlassianJiraAudit.json
  Solutions/AtlassianJiraAudit/Package/3.0.1.zip
  Solutions/AtlassianJiraAudit/Package/createUiDefinition.json
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
  Solutions/AtlassianJiraAudit/Package/testParameters.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/azuredeploy.json
  Solutions/AtlassianJiraAudit/ReleaseNotes.md
  Solutions/CiscoDuoSecurity/Data Connectors/CiscoDuo_API_FunctionApp.json
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Package/3.0.2.zip
  Solutions/CiscoDuoSecurity/Package/createUiDefinition.json
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/ReleaseNotes.md
Labels: Solution, Content-Package

#10358 Correct-SSHD-VIM-Parser
  Parsers/ASimAuthentication/ARM/vimAuthenticationSshd/vimAuthenticationSshd.json
  Parsers/ASimAuthentication/Parsers/vimAuthenticationSshd.yaml
Labels: ASIM

#10252 update mainTemplate for Market Place certification
  Solutions/CyberArkAudit/Data Connectors/CyberArkAudit_API_FunctionApp.json
  Solutions/CyberArkAudit/Data Connectors/azuredeploy_CyberArkAudit_MainTemplate.json
  Solutions/CyberArkAudit/Package/3.0.0.zip
  Solutions/CyberArkAudit/Package/mainTemplate.json
Labels: Solution

#10359 Fixed typo in microsoftdefenderforidentity.json
  Workbooks/microsoftdefenderforidentity.json
Labels: Workbook

#10323 Update OktaSSO.yaml
  .script/tests/KqlvalidationsTests/CustomTables/OktaV2_CL.json
  Solutions/Okta Single Sign-On/Parsers/OktaSSO.yaml
Labels: Parser, Content-Package

#10353 Updated theHYAS Protect package to 3.0.1
  Solutions/HYAS Protect/Package/3.0.1.zip
  Solutions/HYAS Protect/Package/mainTemplate.json
Labels: Solution

#10357 Updated the OfferID to fix the Product ID related issue when clicking view details button from solution
  Solutions/Armis/Package/3.0.1.zip
  Solutions/Armis/Package/mainTemplate.json
  Solutions/Armis/SolutionMetadata.json
Labels: Solution

#10368 Preview tag added to **Data Connector** title
  Solutions/Cisco Meraki Events via REST API/Data Connectors/CiscoMerakiMultiRule_ccp/dataConnectorDefinition.json
  Solutions/Cisco Meraki Events via REST API/Package/3.0.0.zip
  Solutions/Cisco Meraki Events via REST API/Package/mainTemplate.json
Labels: Solution, Content-Package

#10361 Entity Work April 22
  Detections/ZoomLogs/ExternalUserAccess.yaml
  Detections/ZoomLogs/JoiningMeetingFromAnotherTimeZone.yaml
  Detections/ZoomLogs/SupiciousLinkSharing.yaml
  Detections/http_proxy_oab_CL/ExchagngeSuspiciousFileDownloads.yaml
  Detections/http_proxy_oab_CL/SilkTyphoonSuspiciousFileDownloads.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-NetworkBeaconing.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-PortScanning.yaml
  Solutions/CiscoASA/Analytic Rules/CiscoASA-AvgAttackDetectRateIncrease.yaml
  Solutions/CiscoASA/Analytic Rules/CiscoASA-ThreatDetectionMessage.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMDisableDataAccessLogging.yaml
Labels: Solution

#10370 Removed Extra folder inside the 3.0.1 Zip File
  Solutions/HYAS Protect/Package/3.0.1.zip
Labels: Solution

#10350 Update run.ps1 - fix LoginURL check
  DataConnectors/O365 Data/O365APItoAS-Template/TimerTrigger/run.ps1
Labels: Connector

#10377 Update hyperlinkValidator.yaml
  .github/workflows/hyperlinkValidator.yaml
Labels: Validation

#10376 Link updated of VMware Carbonn black solution
  Solutions/VMware Carbon Black Cloud/Package/3.0.1.zip
  Solutions/VMware Carbon Black Cloud/Package/mainTemplate.json
  Solutions/VMware Carbon Black Cloud/Playbooks/CarbonBlack-QuarantineDevice/azuredeploy.json
Labels: Solution, Content-Package

#10378 version corrected
  Solutions/Cisco Meraki Events via REST API/Package/3.0.0.zip
  Solutions/Cisco Meraki Events via REST API/Package/mainTemplate.json
Labels: Solution

#9928 Update in description of creatUIDefinition.json
  Solutions/SlashNext SIEM/Data/Solution_SlashNextSIEM.json
  Solutions/SlashNext SIEM/Package/3.0.0.zip
  Solutions/SlashNext SIEM/Package/createUiDefinition.json
  Solutions/SlashNext SIEM/Package/mainTemplate.json
  Solutions/SlashNext SIEM/Package/testParameters.json
  Solutions/SlashNext SIEM/Playbook/SlashNextEventConnector/azuredeploy.json
  Solutions/SlashNext SIEM/Playbook/SlashNextSecurityEventForMSSentinel/azuredeploy.json
  Solutions/SlashNext SIEM/ReleaseNotes.md
  Solutions/SlashNext SIEM/SolutionMetadata.json
Labels: Solution

#10390 update installation instructions
  Solutions/CyberArkAudit/Data Connectors/CyberArkAudit_API_FunctionApp.json
  Solutions/CyberArkAudit/Package/3.0.0.zip
  Solutions/CyberArkAudit/Package/mainTemplate.json
  Solutions/CyberArkAudit/ReleaseNotes.md
Labels: Solution

#10393 Updated package for solutions
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.1.3.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/ExchangeConfiguration.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/ExchangeEnvironmentList.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/MESCheckOnlineVIP.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/MESCheckVIP.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/MESCompareDataMRA.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
  Solutions/Okta Single Sign-On/Package/3.0.7.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
  Solutions/Sophos Endpoint Protection/Data/Solution_EP.json
  Solutions/Sophos Endpoint Protection/Package/3.0.3.zip
  Solutions/Sophos Endpoint Protection/Package/mainTemplate.json
  Solutions/Sophos Endpoint Protection/ReleaseNotes.md
Labels: Solution, Content-Package

#10351 GCP Audit logs process updates
  Solutions/Google Cloud Platform Audit Logs/readme.md
Labels: GCP Process Change

#10400 Impacket wmipersist
  Hunting Queries/Microsoft 365 Defender/Persistence/detect-impacket-wmipersist.yaml
Labels: Hunting

#10401 Adding query to hunt for impacke dcomexec
  Hunting Queries/Microsoft 365 Defender/Execution/detect-impacket-dcomexec.yaml
Labels: Hunting

#10399 Adding query to hunt for impacket wmiexec
  Hunting Queries/Microsoft 365 Defender/Execution/detect-impacket-wmiexec.yaml
Labels: Hunting

#10396 Fork PR (Auth0 doc )- 10352
  Solutions/Auth0/Images/API.png
  Solutions/Auth0/Images/ApplicationProperties.png
  Solutions/Auth0/Images/Applications.png
  Solutions/Auth0/Images/Credentials.png
  Solutions/Auth0/Images/functionappvalues.png
  Solutions/Auth0/readme.md
Labels: Solution, documentation

#10196 Added Egress Iris solution
  Sample Data/Custom/Egress Iris_RawLogs.json
  Sample Data/Custom/Egress Iris_Schema.csv
  Sample Data/Feeds/TestIOCs.csv
  Solutions/Egress Iris/Data Connectors/EgressDataConnector.json
  Solutions/Egress Iris/Package/3.0.0.zip
  Solutions/Egress Iris/Package/createUiDefinition.json
  Solutions/Egress Iris/Package/mainTemplate.json
  Solutions/Egress Iris/Package/testParameters.json
  Solutions/Egress Iris/ReleaseNotes.md
  Solutions/Egress Iris/SolutionMetadata.json
  Solutions/Egress Iris/Workbooks/PreventWorkbook.json
  Solutions/Egress Iris/Workbooks/images/EgressPreventWorkbookBlack01.png
  Solutions/Egress Iris/Workbooks/images/EgressPreventWorkbookWhite01.png
  Solutions/Egress Iris/data/Solution_Egress.json
  Workbooks/Images/Preview/EgressPreventWorkbookBlack01.png
  Workbooks/Images/Preview/EgressPreventWorkbookWhite01.png
  Workbooks/WorkbooksMetadata.json
Labels: dataconnector-cri, Workbook, Solution

#10407 Updating Connectivity criteria for connectors
  Solutions/CiscoSEG/Data Connectors/Connector_Cisco_SEG_CEF.json
  Solutions/CiscoSEG/Data Connectors/template_CiscoSEGAMA.json
  Solutions/CiscoSEG/Package/3.0.1.zip
  Solutions/CiscoSEG/Package/createUiDefinition.json
  Solutions/CiscoSEG/Package/mainTemplate.json
  Solutions/CiscoSEG/Package/testParameters.json
  Solutions/CiscoSEG/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/Data Connectors/PaloAltoNetworks.json
  Solutions/PaloAlto-PAN-OS/Data Connectors/template_PaloAltoNetworksAMA.json
  Solutions/PaloAlto-PAN-OS/Package/3.0.5.zip
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
Labels: Content-Package

#10395 Repackage solution for parser related issue in maintemplate
  Solutions/BitSight/Package/3.0.1.zip
  Solutions/BitSight/Package/mainTemplate.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Data/Solution_FortiWebCloud.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/3.0.2.zip
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/ReleaseNotes.md
  Solutions/GitHub/Package/3.0.6.zip
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/ReleaseNotes.md
  Solutions/GitHub/data/Solution_GitHub.json
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/3.0.3.zip
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
  Solutions/Infoblox Cloud Data Connector/ReleaseNotes.md
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Package/3.1.1.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data/Solution_MicrosoftExchangeSecurity.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.1.5.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/ExchangeConfiguration.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/ExchangeEnvironmentList.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Parsers/MESCheckVIP.yaml
  Solutions/Microsoft Exchange Security - Exchange On-Premises/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.1.4.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
  Solutions/OracleDatabaseAudit/Data/Solution_OracleDBAudit.json
  Solutions/OracleDatabaseAudit/Package/3.0.1.zip
  Solutions/OracleDatabaseAudit/Package/createUiDefinition.json
  Solutions/OracleDatabaseAudit/Package/mainTemplate.json
  Solutions/OracleDatabaseAudit/ReleaseNotes.md
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.4.zip
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/3.0.2.zip
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/ReleaseNotes.md
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/3.0.1.zip
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/ZoomReports/Data/Solution_ZoomReports.json
  Solutions/ZoomReports/Package/3.0.4.zip
  Solutions/ZoomReports/Package/mainTemplate.json
  Solutions/ZoomReports/ReleaseNotes.md
Labels: Content-Package, P0
