Repository Azure/Azure-Sentinel, pull requests merged in 2024-12, with the labels that each got.

#11506 Repackage - CyberArk PAM
  Solutions/Citrix Web App Firewall/Data/Solution_CitrixWebAppFirewall.json
  Solutions/Citrix Web App Firewall/Package/3.0.2.zip
  Solutions/Citrix Web App Firewall/Package/createUiDefinition.json
  Solutions/Citrix Web App Firewall/Package/mainTemplate.json
  Solutions/Citrix Web App Firewall/ReleaseNotes.md
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data/Solution_CyberArkEPVEvents.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/3.0.3.zip
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/createUiDefinition.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/mainTemplate.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/ReleaseNotes.md
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-HighSeverityDetection-by-Tactics.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-NewCampaign.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Suspected-Behavior-by-Tactics.yaml
  Solutions/Vectra AI Detect/Data/Solution_Vectra AI Detect.json
  Solutions/Vectra AI Detect/Package/3.0.2.zip
  Solutions/Vectra AI Detect/Package/createUiDefinition.json
  Solutions/Vectra AI Detect/Package/mainTemplate.json
  Solutions/Vectra AI Detect/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0

#11513 Updated the Parser in CiscoSEG
  Solutions/CiscoSEG/Package/3.0.5.zip
  Solutions/CiscoSEG/Package/mainTemplate.json
  Solutions/CiscoSEG/Parsers/CiscoSEGEvent.yaml
  Solutions/CiscoSEG/ReleaseNotes.md
Labels: Parser, Solution

#11509 Updating NGFW by Palo Alto Networks with correct connector id
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-NetworkBeaconing.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-PortScanning.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-UnusualThreatSignatures.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Data/Solution_AzureCloudNGFWByPaloAltoNetworks.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/3.0.1.zip
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/createUiDefinition.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/mainTemplate.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Content-Package, P0

#11489 Updated deploy file to add UserName column
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/azuredeploy_DataCollectionResources.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/azuredeploy_cdfdrv2_connector.json
  Solutions/SINEC Security Guard/ReleaseNotes.md
Labels: Connector, Solution

#11516 Updated Permissions in AS-Revoke-Azure-AD-User-Session-From-Incident and AS-Revoke-Azure-AD-User-Session-From-Entity
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/README.md
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/azuredeploy.json
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/README.md
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/azuredeploy.json
Labels: Playbook

#11511 Repackage - CiscoMeraki , VMWare Esxi, Microsoft Exchange Security
  Solutions/CiscoMeraki/Package/3.0.3.zip
  Solutions/CiscoMeraki/Package/createUiDefinition.json
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/ReleaseNotes.md
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
  Solutions/VMWareESXi/Analytic Rules/ESXiDormantVMStarted.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiLowPatchDiskSpace.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiLowTempDirSpace.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiMultipleNewVM.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiMultipleVMStopped.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiNewVM.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiRootImpersonation.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiRootLogin.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiSharedOrStolenRootAccount.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiUnexpectedDiskImage.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiVMStopped.yaml
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Hunting Queries/ESXiDormantUsers.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiDownloadErrors.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiNFCDownloadActivities.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiRootLoginFailure.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiRootLogins.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiUnusedVMs.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiVMHighLoad.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiVMPoweredOff.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiVMPoweredOn.yaml
  Solutions/VMWareESXi/Hunting Queries/ESXiVirtualImagesList.yaml
  Solutions/VMWareESXi/Package/3.0.3.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/VMWareESXi/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11494 KQL Query for DomainEntity_EmailUrlInfo is not optimized for larger data sets
  Solutions/Threat Intelligence/Analytic Rules/DomainEntity_EmailUrlInfo.yaml
  Solutions/Threat Intelligence/Package/3.0.9.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Solution, Detection

#11520 Use variables instead of parameters
  Solutions/Commvault Security IQ/Data Connectors/azuredeploy_CommvaultSecurityIQ_FunctionApp.json
Labels: Connector, Solution

#11519 Repackage - Ubiquiti UniFi
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiCryptominer.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiDestinationInTiList.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiL2RFTP.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiL2RLargeIcmp.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiNonCorpDns.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiR2LDns.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiR2LRDP.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiR2LSSH.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiUnknownMacJoined.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiUnusualTraffic.yaml
  Solutions/Ubiquiti UniFi/Data/Solution_Ubiquiti UniFi.json
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiDnsTimeOut.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiInternalDnsServer.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiRareInternalPorts.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiTopBlockedDst.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiTopBlockedExternalServices.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiTopBlockedInternalServices.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiTopBlockedSrc.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiTopFirewallRules.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiUnusualSubdomains.yaml
  Solutions/Ubiquiti UniFi/Hunting Queries/UbiquitiVulnerableDevices.yaml
  Solutions/Ubiquiti UniFi/Package/3.0.3.zip
  Solutions/Ubiquiti UniFi/Package/createUiDefinition.json
  Solutions/Ubiquiti UniFi/Package/mainTemplate.json
  Solutions/Ubiquiti UniFi/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11517 Repackage - VmWare vCenter
  Solutions/Cisco ISE/Analytic Rules/CiscoISEAdminPasswordReset.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEAttempDeleteLocalStoreLogs.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEBackupFailed.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECertExpired.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECmdExecutionWithHighestPrivilegesNewIP.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECmdExecutionWithHighestPrivilegesNewUser.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEDeviceChangedIP.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEDevicePostureStatusChanged.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISELogCollectorSuspended.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISELogsDeleted.yaml
  Solutions/Cisco ISE/Data/Solution_CiscoISE.json
  Solutions/Cisco ISE/Hunting Queries/CiscoISEAuthenticationToSuspendedAccount.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISEDynamicAuthorizationFailed.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISEExpiredCertInClientCertChain.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISEFailedAuthentication.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISEFailedLoginsSSHCLI.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISEGuestAuthenticationFailed.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISEGuestAuthenticationSuccess.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISERareUserAgent.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISESourceHighNumberAuthenticationErrors.yaml
  Solutions/Cisco ISE/Hunting Queries/CiscoISESuspendLogCollector.yaml
  Solutions/Cisco ISE/Package/3.0.2.zip
  Solutions/Cisco ISE/Package/createUiDefinition.json
  Solutions/Cisco ISE/Package/mainTemplate.json
  Solutions/Cisco ISE/ReleaseNotes.md
  Solutions/VMware vCenter/Analytic Rules/vCenter-Root impersonation.yaml
  Solutions/VMware vCenter/Analytic Rules/vCenterRootLogin.yaml
  Solutions/VMware vCenter/Data/Solution_vcenter.json
  Solutions/VMware vCenter/Package/3.0.4.zip
  Solutions/VMware vCenter/Package/createUiDefinition.json
  Solutions/VMware vCenter/Package/mainTemplate.json
  Solutions/VMware vCenter/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11526 Repackage - ZPA
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheCVE-2021-41773.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheCommandInURI.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheKnownMaliciousUserAgents.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheMultipleClientErrorsFromSingleIP.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheMultipleServerErrorsRequestsFromSingleIP.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApachePrivateIpInUrl.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApachePutSuspiciousFiles.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheRequestFromPrivateIP.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheRequestToRareFile.yaml
  Solutions/ApacheHTTPServer/Analytic Rules/ApacheRequestToSensitiveFiles.yaml
  Solutions/ApacheHTTPServer/Data/Solution_Apache Http Server.json
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheFilesErrorRequests.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheFilesRequested.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheRareFilesRequested.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheRareUAWithClientErrors.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheRareURLsRequested.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheRareUserAgents.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheRequestsToUnexistingFiles.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheUnexpectedPostRequests.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheUrlClienterrors.yaml
  Solutions/ApacheHTTPServer/Hunting Queries/ApacheUrlServerErrors.yaml
  Solutions/ApacheHTTPServer/Package/3.0.1.zip
  Solutions/ApacheHTTPServer/Package/createUiDefinition.json
  Solutions/ApacheHTTPServer/Package/mainTemplate.json
  Solutions/ApacheHTTPServer/ReleaseNotes.md
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerSharedZPASession.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedCountEventResult.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedCountries.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedUpdateOperation.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsByDormantUser.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsByNewUser.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsFromNewCountry.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsFromNewIP.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsOutsideOperationalHours.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAUnexpectedSessionDuration.yaml
  Solutions/Zscaler Private Access (ZPA)/Data/Solution_Zscaler Private Access (ZPA).json
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerAbnormalTotalBytesSize.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerApplicationByUsers.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerConnectionCloseReason.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerIPsByPorts.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerSourceLocation.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerTopConnectors.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerTopSourceIP.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUrlhostname.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUserAccessGroups.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUserServerErrors.yaml
  Solutions/Zscaler Private Access (ZPA)/Package/3.0.1.zip
  Solutions/Zscaler Private Access (ZPA)/Package/createUiDefinition.json
  Solutions/Zscaler Private Access (ZPA)/Package/mainTemplate.json
  Solutions/Zscaler Private Access (ZPA)/ReleaseNotes.md
Labels: Solution, Content-Package

#11536 Repackage - Citrix ADC
  Solutions/Citrix ADC/Data/Solution_CitrixAdc.json
  Solutions/Citrix ADC/Package/3.0.3.zip
  Solutions/Citrix ADC/Package/createUiDefinition.json
  Solutions/Citrix ADC/Package/mainTemplate.json
  Solutions/Citrix ADC/ReleaseNotes.md
  Solutions/Tomcat/Analytic Rules/TomcatCommandsinRequest.yaml
  Solutions/Tomcat/Analytic Rules/TomcatKnownMaliciousUserAgent.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleClientErrorsFromSingleIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleEmptyRequestsFromSameIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatMultipleServerErrorsFromSingleIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatPutAndGetFileFromSameIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatRequestFromLocalhostIP.yaml
  Solutions/Tomcat/Analytic Rules/TomcatRequestSensitiveFiles.yaml
  Solutions/Tomcat/Analytic Rules/TomcatSQLiPattern.yaml
  Solutions/Tomcat/Analytic Rules/TomcatServerErrorsAfterMultipleRequestsFromSameIP.yaml
  Solutions/Tomcat/Data/Solution_Tomcat.json
  Solutions/Tomcat/Hunting Queries/Tomcat403RequestsFiles.yaml
  Solutions/Tomcat/Hunting Queries/TomcatAbnormalRequestSize.yaml
  Solutions/Tomcat/Hunting Queries/TomcatERRORs.yaml
  Solutions/Tomcat/Hunting Queries/TomcatRareFilesRequested.yaml
  Solutions/Tomcat/Hunting Queries/TomcatRareURLsRequested.yaml
  Solutions/Tomcat/Hunting Queries/TomcatTopFilesWithErrorRequests.yaml
  Solutions/Tomcat/Hunting Queries/TomcatTopURLsClientErrors.yaml
  Solutions/Tomcat/Hunting Queries/TomcatTopURLsServerErrors.yaml
  Solutions/Tomcat/Hunting Queries/TomcatUncommonUAs.yaml
  Solutions/Tomcat/Hunting Queries/TomcatUncommonUAsWithClientErrors.yaml
  Solutions/Tomcat/Hunting Queries/TomcatUncommonUAsWithServerErrors.yaml
  Solutions/Tomcat/Package/3.0.1.zip
  Solutions/Tomcat/Package/createUiDefinition.json
  Solutions/Tomcat/Package/mainTemplate.json
  Solutions/Tomcat/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11537 Repackage - Sophos XG Firewall
  Solutions/Citrix ADC/Package/3.0.3.zip
  Solutions/Citrix ADC/Package/createUiDefinition.json
  Solutions/Sophos XG Firewall/Analytic Rules/ExcessiveAmountofDeniedConnectionsfromASingleSource.yaml
  Solutions/Sophos XG Firewall/Analytic Rules/PortScanDetected.yaml
  Solutions/Sophos XG Firewall/Data/Solution_SophosXGFirewall.json
  Solutions/Sophos XG Firewall/Package/3.0.1.zip
  Solutions/Sophos XG Firewall/Package/createUiDefinition.json
  Solutions/Sophos XG Firewall/Package/mainTemplate.json
  Solutions/Sophos XG Firewall/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11324 Adding new Box CCP connector and updated parser
  .script/tests/KqlvalidationsTests/CustomTables/BoxEvents.json
  .script/tests/KqlvalidationsTests/CustomTables/BoxEventsV2_CL.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/Box/Data Connectors/BoxEvents_ccp/BoxEvents_DCR.json
  Solutions/Box/Data Connectors/BoxEvents_ccp/BoxEvents_DataConnectorDefinition.json
  Solutions/Box/Data Connectors/BoxEvents_ccp/BoxEvents_DataConnectorPoller.json
  Solutions/Box/Data Connectors/BoxEvents_ccp/BoxEvents_table.json
  Solutions/Box/Data/Solution_Box.json
  Solutions/Box/Package/3.1.0.zip
  Solutions/Box/Package/createUiDefinition.json
  Solutions/Box/Package/mainTemplate.json
  Solutions/Box/Package/testParameters.json
  Solutions/Box/Parsers/BoxEvents.yaml
  Solutions/Box/ReleaseNotes.md
Labels: Connector, Parser, Solution, Codeless Connector Platform (CCP) Connector

#11543 IPEntity_Workday.yaml Update for TI
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_Workday.yaml
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/3.0.9.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#11539 DCR based Logstash plugin - limit excon version and handle client timeout
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/CHANGELOG.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logStashEventsBatcher.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/version.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/microsoft-sentinel-log-analytics-logstash-output-plugin.gemspec
Labels: Connector, Standalone

#11459 Doppel solution
  .script/tests/KqlvalidationsTests/CustomTables/DoppelTable_CL.json
  Logos/doppel.svg
  Sample Data/Doppel_Logs.json
  Solutions/Doppel/Data Connectors/Connector_Doppel.json
  Solutions/Doppel/Data Connectors/DeployToAzure.json
  Solutions/Doppel/Data/Solution_Doppel.json
  Solutions/Doppel/Package/3.0.0.zip
  Solutions/Doppel/Package/createUiDefinition.json
  Solutions/Doppel/Package/mainTemplate.json
  Solutions/Doppel/Package/testParameters.json
  Solutions/Doppel/ReleaseNotes.md
  Solutions/Doppel/SolutionMetadata.json
  Solutions/Doppel/Workbooks/Doppel.json
  Solutions/Doppel/Workbooks/DoppelWorkbookBlack.png
  Solutions/Doppel/Workbooks/DoppelWorkbookWhite.png
  Solutions/Doppel/Workbooks/Images/DoppelWorkbookBlack.png
  Solutions/Doppel/Workbooks/Images/DoppelWorkbookWhite.png
  Workbooks/Images/Logos/doppel.svg
  Workbooks/Images/Preview/DoppelWorkbookBlack.png
  Workbooks/Images/Preview/DoppelWorkbookWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Connector, New Solution

#11533 ZeroNetworks-2.0.5
  Solutions/ZeroNetworks/Data/Solution_ZeroNetworks.json
  Solutions/ZeroNetworks/Package/3.0.0.zip
  Solutions/ZeroNetworks/Package/createUiDefinition.json
  Solutions/ZeroNetworks/Package/mainTemplate.json
  Solutions/ZeroNetworks/Package/testParameters.json
  Solutions/ZeroNetworks/ReleaseNotes.md
  Solutions/ZeroNetworks/SolutionMetadata.json
Labels: Solution

#11548 Update ASimTester.csv
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#11551 Repackage - Fortinet Fortiweb,OracleDatabaseAudit
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Analytic Rules/Fortiweb - WAF Allowed threat.yaml
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Data Connectors/template_FortiwebAma.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Data/Solution_FortiWebCloud.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Hunting Queries/Unexpected Countries.yaml
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Hunting Queries/owaspTop10-Threatsyaml.yaml
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/3.0.3.zip
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/ReleaseNotes.md
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditConnectFromExternalIp.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditDropManyTables.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditForbiddenSrcIpAddr.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditNewIpForUser.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditNewUserDetected.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditQueryOnSensitiveTable.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditRareUserActivity.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditSQLInjectionPatterns.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditSelectOnManyTables.yaml
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditShutdownServer.yaml
  Solutions/OracleDatabaseAudit/Data/Solution_OracleDBAudit.json
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditActionsByIp.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditActionsByUser.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditActiveUsers.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditDbConnectNonOperationalTime.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditDroppedTables.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditInactiveUsers.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditLargeQueries.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditListOfTablesQueried.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditUsersNewPrivilegesAdded.yaml
  Solutions/OracleDatabaseAudit/Hunting Queries/OracleDBAuditUsersPrivilegesReview.yaml
  Solutions/OracleDatabaseAudit/Package/3.0.3.zip
  Solutions/OracleDatabaseAudit/Package/createUiDefinition.json
  Solutions/OracleDatabaseAudit/Package/mainTemplate.json
  Solutions/OracleDatabaseAudit/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11554 Repackage - Gitlab and PostgreSQL
  Solutions/GitLab/Analytic Rules/GitLab_BruteForce.yaml
  Solutions/GitLab/Analytic Rules/GitLab_ExternalUser.yaml
  Solutions/GitLab/Analytic Rules/GitLab_Impersonation.yaml
  Solutions/GitLab/Analytic Rules/GitLab_LocalAuthNoMFA.yaml
  Solutions/GitLab/Analytic Rules/GitLab_MaliciousIP.yaml
  Solutions/GitLab/Analytic Rules/GitLab_PAT_Repo.yaml
  Solutions/GitLab/Analytic Rules/GitLab_RepoVisibilityChange.yaml
  Solutions/GitLab/Analytic Rules/GitLab_Repo_Deletion.yaml
  Solutions/GitLab/Data/Solution_Gitlab.json
  Solutions/GitLab/Package/3.0.2.zip
  Solutions/GitLab/Package/createUiDefinition.json
  Solutions/GitLab/Package/mainTemplate.json
  Solutions/GitLab/ReleaseNotes.md
  Solutions/PostgreSQL/Data/Solution_PostgresSQL.json
  Solutions/PostgreSQL/Package/3.0.1.zip
  Solutions/PostgreSQL/Package/createUiDefinition.json
  Solutions/PostgreSQL/Package/mainTemplate.json
  Solutions/PostgreSQL/ReleaseNotes.md
  Solutions/Sophos XG Firewall/ReleaseNotes.md
Labels: Solution, Content-Package

#11521 GoogleThreatIntelligence: Update publisherId
  Solutions/Google Threat Intelligence/Package/3.0.0.zip
  Solutions/Google Threat Intelligence/Package/mainTemplate.json
  Solutions/Google Threat Intelligence/ReleaseNotes.md
  Solutions/Google Threat Intelligence/SolutionMetadata.json
Labels: Solution

#11486 adding solution SentinelOne
  .script/tests/KqlvalidationsTests/CustomTables/SentinelOneActivities_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SentinelOneAgents_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SentinelOneAlerts_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SentinelOneGroups_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/SentinelOneThreats_CL.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/DCR.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/PollerConfig.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/connectorDefinition.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/solutionMetadata.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/table - Activities.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/table - Agents.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/table - Alerts.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/table - Groups.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/table - Threats.json
  Solutions/SentinelOne/Data/Solution_SentinelOne.json
  Solutions/SentinelOne/Package/3.0.3.zip
  Solutions/SentinelOne/Package/createUiDefinition.json
  Solutions/SentinelOne/Package/mainTemplate.json
  Solutions/SentinelOne/Package/testParameters.json
  Solutions/SentinelOne/Parsers/SentinelOne.yaml
  Solutions/SentinelOne/ReleaseNotes.md
  Solutions/SentinelOne/SolutionMetadata.json
Labels: Connector, Solution

#11556 CCP issue resolved for Okta Single Sign ON
  Solutions/Okta Single Sign-On/Package/3.1.1.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
Labels: Connector, Solution

#11558 Update DetectionsMigrated.json
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Detection

#11557 Update readme with known issue
  Solutions/Recorded Future/Playbooks/ThreatHunting/readme.md
  Solutions/Recorded Future/Playbooks/readme.md
Labels: Solution

#11218 ASIM - Azurekid bugfix ASimTester.csv
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#11559 Repackaged - Nginx
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXCommandsInRequest.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXCoreDump.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXDifferentUAsFromSingleIP.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXKnownMaliciousUserAgent.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXMultipleClientErrorsFromSingleIP.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXMultipleServerErrorsFromSingleIP.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXPrivateIPinUrl.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXPutAndGetFileFromSameIP.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXRequestToSensitiveFiles.yaml
  Solutions/NGINX HTTP Server/Analytic Rules/NGINXSqlPattern.yaml
  Solutions/NGINX HTTP Server/Data/Solution_Nginx.json
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXAbnormalRequestSize.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXRareFilesRequested.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXRareURLsRequested.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXRequestsFromBotsCrawlers.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXRequestsToUnexistingFiles.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXTopFilesRequested.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXTopFilesWithErrorRequests.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXTopURLsClientErrors.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXTopURLsServerErrors.yaml
  Solutions/NGINX HTTP Server/Hunting Queries/NGINXUncommonUAsString.yaml
  Solutions/NGINX HTTP Server/Package/3.0.1.zip
  Solutions/NGINX HTTP Server/Package/createUiDefinition.json
  Solutions/NGINX HTTP Server/Package/mainTemplate.json
  Solutions/NGINX HTTP Server/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11522 Updated the Rule name as it was duplicate
  Solutions/Amazon Web Services/Analytic Rules/AWS_LogTampering.yaml
  Solutions/Amazon Web Services/Data Connectors/AWS_WAF_CCP/AwsS3_WAF_PollingConfig.json
  Solutions/Amazon Web Services/Package/3.0.4.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
  Solutions/Amazon Web Services/ReleaseNotes.md
Labels: Solution, Content-Package

#11528 adding solution Auth0 for packing new connector
  Solutions/Auth0/Data Connectors/Auth0_CCP/DCR.json
  Solutions/Auth0/Data Connectors/Auth0_CCP/DataConnectorDefinition.json
  Solutions/Auth0/Data Connectors/Auth0_CCP/PollingConfig.json
  Solutions/Auth0/Data Connectors/Auth0_CCP/table.json
  Solutions/Auth0/Data/Solution_Auth0.json
  Solutions/Auth0/Package/3.1.0.zip
  Solutions/Auth0/Package/createUiDefinition.json
  Solutions/Auth0/Package/mainTemplate.json
  Solutions/Auth0/Package/testParameters.json
  Solutions/Auth0/Parsers/Auth0AM.yaml
  Solutions/Auth0/ReleaseNotes.md
Labels: Connector, Solution

#11552 Fix BTP ccp
  Solutions/SAP BTP/Data Connectors/SAPBTPPollerConnector/SAPBTP_DataConnectorDefinition.json
  Solutions/SAP BTP/Package/3.0.8.zip
  Solutions/SAP BTP/Package/mainTemplate.json
Labels: Connector

#11541 Update LocalAdminGroupChanges.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Persistence/LocalAdminGroupChanges.yaml
  Solutions/Microsoft Defender XDR/Package/3.0.11.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
Labels: Solution

#11555 Added IllumioSaaS solution in a domain solution list
  Solutions/Network Session Essentials/Data/Solution_NetworkSessionEssentials.json
  Solutions/Network Session Essentials/Package/3.0.5.zip
  Solutions/Network Session Essentials/Package/createUiDefinition.json
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/ReleaseNotes.md
Labels: Solution, Content-Package

#11564 Update readme
  Solutions/IllumioSaaS/Playbooks/CustomConnector/IllumioSaaS_FunctionAppConnector/README.md
  Solutions/IllumioSaaS/Playbooks/Illumio-Get-Ven-Details/README.md
  Solutions/IllumioSaaS/Playbooks/Illumio-Port-Blocking-Switch/README.md
  Solutions/IllumioSaaS/Playbooks/Illumio-Quarantine-Workload/README.md
Labels: Solution

#11523 Fix logo issue - Transmit Security
  Solutions/TransmitSecurity/Data/Solution_TransmitSecurity.json
  Solutions/TransmitSecurity/Package/3.0.1.zip
  Solutions/TransmitSecurity/Package/createUiDefinition.json
  Solutions/TransmitSecurity/Package/mainTemplate.json
Labels: Solution

#11567 Repackage - SquidProxy
  Solutions/Pulse Connect Secure/Analytic Rules/PulseConnectSecureVPN-BruteForce.yaml
  Solutions/Pulse Connect Secure/Analytic Rules/PulseConnectSecureVPN-DistinctFailedUserLogin.yaml
  Solutions/Pulse Connect Secure/Data/Solution_Pulse Connect Secure.json
  Solutions/Pulse Connect Secure/Package/3.0.3.zip
  Solutions/Pulse Connect Secure/Package/createUiDefinition.json
  Solutions/Pulse Connect Secure/Package/mainTemplate.json
  Solutions/Pulse Connect Secure/ReleaseNotes.md
  Solutions/SquidProxy/Data/Solution_SquidProxytemplateSpec.json
  Solutions/SquidProxy/Package/3.0.1.zip
  Solutions/SquidProxy/Package/createUiDefinition.json
  Solutions/SquidProxy/Package/mainTemplate.json
  Solutions/SquidProxy/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11574 Update DetectionsMigrated.json for change path name Microsoft Defender 365 to Microsoft Defender XDR
  Tools/Create-Azure-Sentinel-Solution/V2/MigratedContent/DetectionsMigrated.json
Labels: Detection

#11572 Adding condition to filter noisy logic and updated description for Team Detection
  Detections/MultipleDataSources/AnomalousIPUsageFollowedByTeamsAction.yaml
Labels: Solution

#11093 Update Object and ObjectType Class for AuditSchema in Tester.csv
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#11578 Update Readme.md
  DataConnectors/JumpCloud Single Sign On/Readme.md
Labels: documentation

#11573 Repackage - Symantec Endpoint Protection and Infobox NIOS
  Solutions/Infoblox NIOS/Analytic Rules/ExcessiveNXDOMAINDNSQueries.yaml
  Solutions/Infoblox NIOS/Analytic Rules/PotentialDHCPStarvationAttack.yaml
  Solutions/Infoblox NIOS/Data/Solution_InfobloxNIOS.json
  Solutions/Infoblox NIOS/Package/3.0.4.zip
  Solutions/Infoblox NIOS/Package/createUiDefinition.json
  Solutions/Infoblox NIOS/Package/mainTemplate.json
  Solutions/Infoblox NIOS/ReleaseNotes.md
  Solutions/Symantec Endpoint Protection/Analytic Rules/ExcessiveBlockedTrafficGeneratedbyUser.yaml
  Solutions/Symantec Endpoint Protection/Analytic Rules/MalwareDetected.yaml
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/3.0.4.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11577 Repackage - McAfee ePolicy Orchestrator
  Solutions/Juniper SRX/Data/Solution_Juniper SRX.json
  Solutions/Juniper SRX/Package/3.0.2.zip
  Solutions/Juniper SRX/Package/createUiDefinition.json
  Solutions/Juniper SRX/Package/mainTemplate.json
  Solutions/Juniper SRX/ReleaseNotes.md
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOAgentHandlerDown.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOAlertError.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOAttemptUninstallAgent.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPODeploymentFailed.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOExceptionAdded.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOFirewallDisabled.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOLoggingError.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOMultipleThreatsSameHost.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOScanningEngineDisabled.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOSpamEmail.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOTaskError.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOThreatNotBlocked.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOUnableCleanDeleteInfectedFile.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOUpdateFailed.yaml
  Solutions/McAfee ePolicy Orchestrator/Data/Solution_McAfee.json
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOAgentErrors.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOApplicationsBlocked.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOEmailThreats.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOInfectedFiles.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOInfectedSystems.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOLongTermInfectedSystems.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOMultipleThreats.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOObjectsNotScanned.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOScanErrors.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOThreatNotBlocked.yaml
  Solutions/McAfee ePolicy Orchestrator/Package/3.0.2.zip
  Solutions/McAfee ePolicy Orchestrator/Package/createUiDefinition.json
  Solutions/McAfee ePolicy Orchestrator/Package/mainTemplate.json
  Solutions/McAfee ePolicy Orchestrator/ReleaseNotes.md
  Solutions/OpenVPN/Data/Solution_OpenVpn.json
  Solutions/OpenVPN/Package/3.0.1.zip
  Solutions/OpenVPN/Package/createUiDefinition.json
  Solutions/OpenVPN/Package/mainTemplate.json
  Solutions/OpenVPN/ReleaseNotes.md
Labels: Solution, Content-Package

#11571 Fixes related to UEBARiskscore calculation and threshold logic
  Solutions/Microsoft Entra ID/Analytic Rules/MFARejectedbyUser.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.2.10.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution, Content-Package

#11587 update ReleaseNotes URL of Azure cloud NGFW by PAN
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/3.0.1.zip
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/createUiDefinition.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/mainTemplate.json
Labels: Content-Package, P0

#11588 Repackage - Barracuda CloudGen Firewall , Cisco WSA
  Solutions/Barracuda CloudGen Firewall/Data/Solution_BarracudaCloudGenFirewall.json
  Solutions/Barracuda CloudGen Firewall/Package/3.0.2.zip
  Solutions/Barracuda CloudGen Firewall/Package/createUiDefinition.json
  Solutions/Barracuda CloudGen Firewall/Package/mainTemplate.json
  Solutions/Barracuda CloudGen Firewall/ReleaseNotes.md
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAAccessToUnwantedSite.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSADataExfiltration.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleErrorsToUnwantedCategory.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleErrorsToUrl.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleInfectedFiles.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAMultipleUnwantedFileTypes.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAProtocolAbuse.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAPublicIPSource.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAUnexpectedFileType.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAUnexpectedUrl.yaml
  Solutions/CiscoWSA/Analytic Rules/CiscoWSAUnscannableFile.yaml
  Solutions/CiscoWSA/Data/Solution_CiscoWSA.json
  Solutions/CiscoWSA/Hunting Queries/CiscoWSABlockedFiles.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSARareApplications.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSATopApplications.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSATopResources.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSAUncategorizedResources.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSAUploadedFiles.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSAUrlRareErrorUrl.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSAUrlShortenerLinks.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSAUrlSuspiciousResources.yaml
  Solutions/CiscoWSA/Hunting Queries/CiscoWSAUrlUsersWithErrors.yaml
  Solutions/CiscoWSA/Package/3.0.2.zip
  Solutions/CiscoWSA/Package/createUiDefinition.json
  Solutions/CiscoWSA/Package/mainTemplate.json
  Solutions/CiscoWSA/ReleaseNotes.md
Labels: Solution, Content-Package

#11592 CloudGuard - Updated connector name + folder name
  Solutions/Check Point CloudGuard CNAPP/Data Connectors/CloudGuard_ccp/CloudGuard_DCR.json
  Solutions/Check Point CloudGuard CNAPP/Data Connectors/CloudGuard_ccp/CloudGuard_DataConnectorDefinition.json
  Solutions/Check Point CloudGuard CNAPP/Data Connectors/CloudGuard_ccp/CloudGuard_PollingConfig.json
  Solutions/Check Point CloudGuard CNAPP/Data Connectors/CloudGuard_ccp/CloudGuard_Tables.json
  Solutions/Check Point CloudGuard CNAPP/Data/Solution_CloudGuard.json
  Solutions/Check Point CloudGuard CNAPP/Package/3.0.0.zip
  Solutions/Check Point CloudGuard CNAPP/Package/createUiDefinition.json
  Solutions/Check Point CloudGuard CNAPP/Package/mainTemplate.json
  Solutions/Check Point CloudGuard CNAPP/Package/testParameters.json
  Solutions/Check Point CloudGuard CNAPP/ReleaseNotes.md
  Solutions/Check Point CloudGuard CNAPP/SolutionMetadata.json
  Solutions/Check Point CloudGuard/Package/3.0.0.zip
Labels: Connector, Solution

#11596 Packaged - Cisco Secure Cloud Analytics
  Solutions/Cisco Secure Cloud Analytics/Data/Solution_CiscoStealthwatch.json
  Solutions/Cisco Secure Cloud Analytics/Package/3.0.2.zip
  Solutions/Cisco Secure Cloud Analytics/Package/createUiDefinition.json
  Solutions/Cisco Secure Cloud Analytics/Package/mainTemplate.json
  Solutions/Cisco Secure Cloud Analytics/ReleaseNotes.md
  Solutions/MongoDBAudit/Data/Solution_MongoDBAudit.json
  Solutions/MongoDBAudit/Package/3.0.1.zip
  Solutions/MongoDBAudit/Package/createUiDefinition.json
  Solutions/MongoDBAudit/Package/mainTemplate.json
  Solutions/MongoDBAudit/ReleaseNotes.md
Labels: Solution, Content-Package

#11597 Repackage - OracleWebLogicServer
  Solutions/Blackberry CylancePROTECT/Data/Solution_BlackberryCylancePROTECT.json
  Solutions/Blackberry CylancePROTECT/Package/3.0.1.zip
  Solutions/Blackberry CylancePROTECT/Package/createUiDefinition.json
  Solutions/Blackberry CylancePROTECT/Package/mainTemplate.json
  Solutions/Blackberry CylancePROTECT/ReleaseNotes.md
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicCommandInURI.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicDifferentUAsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicExploitCVE-2021-2109.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicKnownMaliciousUserAgents.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicMultipleClientErrorsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicMultipleServerErrorsRequestsFromSingleIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPrivateIpInUrl.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPutAndGetFileFromSameIP.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicPutSuspiciousFiles.yaml
  Solutions/OracleWebLogicServer/Analytic Rules/OracleWebLogicRequestToSensitiveFiles.yaml
  Solutions/OracleWebLogicServer/Data/Solution_OracleWebLogicServer.json
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogic403RequestsFiles.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicAbnormalRequestSize.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicCriticalEventSeverity.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicErrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicFilesErrorRequests.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicRareUAWithClientErrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicRareURLsRequested.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicUncommonUserAgents.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicUrlClienterrors.yaml
  Solutions/OracleWebLogicServer/Hunting Queries/OracleWebLogicUrlServerErrors.yaml
  Solutions/OracleWebLogicServer/Package/3.0.1.zip
  Solutions/OracleWebLogicServer/Package/createUiDefinition.json
  Solutions/OracleWebLogicServer/Package/mainTemplate.json
  Solutions/OracleWebLogicServer/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11598 Repackaged - Cisco UCS
  Solutions/Cisco ACI/Data/Solution_Cisco ACI.json
  Solutions/Cisco ACI/Package/3.0.1.zip
  Solutions/Cisco ACI/Package/createUiDefinition.json
  Solutions/Cisco ACI/Package/mainTemplate.json
  Solutions/Cisco ACI/ReleaseNotes.md
  Solutions/Cisco UCS/Data/Solution_Cisco UCS.json
  Solutions/Cisco UCS/Package/3.0.1.zip
  Solutions/Cisco UCS/Package/createUiDefinition.json
  Solutions/Cisco UCS/Package/mainTemplate.json
  Solutions/Cisco UCS/ReleaseNotes.md
  Solutions/SymantecProxySG/Analytic Rules/ExcessiveDeniedProxyTraffic.yaml
  Solutions/SymantecProxySG/Analytic Rules/UserAccessedSuspiciousURLCategories.yaml
  Solutions/SymantecProxySG/Data/Solution_SymantecProxySG.json
  Solutions/SymantecProxySG/Package/3.0.2.zip
  Solutions/SymantecProxySG/Package/createUiDefinition.json
  Solutions/SymantecProxySG/Package/mainTemplate.json
  Solutions/SymantecProxySG/ReleaseNotes.md
Labels: Solution, Content-Package

#11529 version 3.0.1
  Solutions/CTERA/Analytic Rules/InfectedFileDetected.yaml
  Solutions/CTERA/Analytic Rules/MassAccessDenied.yaml
  Solutions/CTERA/Analytic Rules/MassDeletions.yaml
  Solutions/CTERA/Analytic Rules/MassPermissionChanges.yaml
  Solutions/CTERA/Analytic Rules/RansomwareDetected.yaml
  Solutions/CTERA/Analytic Rules/RansomwareUserBlocked.yaml
  Solutions/CTERA/Data/Solution_CTERA.json
  Solutions/CTERA/Hunting Queries/AccessDenied.yaml
  Solutions/CTERA/Hunting Queries/BatchDeletions.yaml
  Solutions/CTERA/Hunting Queries/BatchPermissionChanges.yaml
  Solutions/CTERA/Package/3.0.1.zip
  Solutions/CTERA/Package/createUiDefinition.json
  Solutions/CTERA/Package/mainTemplate.json
  Solutions/CTERA/ReleaseNotes.md
Labels: Solution

#11600 Updated publisherId in multiple files as requested in Microsoft Portal when the offer was reviewed.
  Solutions/Torq/Data/Solution_Torq.json
  Solutions/Torq/Package/3.0.0.zip
  Solutions/Torq/Package/mainTemplate.json
  Solutions/Torq/ReleaseNotes.md
  Solutions/Torq/SolutionMetadata.json
Labels: Solution

#11602 Repackaged- RSA SecurID
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianClassifiedDataInsecureTransfer.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianExfiltrationOverDNS.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianExfiltrationToFileShareServices.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianFileSentToExternal.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianFileSentToExternalDomain.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianFilesSentToExternalDomain.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianMultipleIncidentsFromUser.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianPossibleProtocolAbuse.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianUnexpectedProtocol.yaml
  Solutions/Digital Guardian Data Loss Prevention/Analytic Rules/DigitalGuardianViolationNotBlocked.yaml
  Solutions/Digital Guardian Data Loss Prevention/Data/Solution_DigitalGuardianDLP.json
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianDomains.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianFilesSentByUsers.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianIncidentsByUser.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianInsecureProtocolSources.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianInspectedFiles.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianNewIncidents.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianRareDestinationPorts.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianRareNetworkProtocols.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianRareUrls.yaml
  Solutions/Digital Guardian Data Loss Prevention/Hunting Queries/DigitalGuardianUrlByUser.yaml
  Solutions/Digital Guardian Data Loss Prevention/Package/3.0.2.zip
  Solutions/Digital Guardian Data Loss Prevention/Package/createUiDefinition.json
  Solutions/Digital Guardian Data Loss Prevention/Package/mainTemplate.json
  Solutions/Digital Guardian Data Loss Prevention/ReleaseNotes.md
  Solutions/RSA SecurID/Data/Solution_RSASecurID.json
  Solutions/RSA SecurID/Package/3.0.1.zip
  Solutions/RSA SecurID/Package/createUiDefinition.json
  Solutions/RSA SecurID/Package/mainTemplate.json
  Solutions/RSA SecurID/ReleaseNotes.md
Labels: Solution, Content-Package

#11614 Update ASimTester.csv
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#11608 Repackage - Ivanti Unified Endpoint Management
  Solutions/ISC Bind/Data/Solution_ISC Bind.json
  Solutions/ISC Bind/Package/3.0.2.zip
  Solutions/ISC Bind/Package/createUiDefinition.json
  Solutions/ISC Bind/Package/mainTemplate.json
  Solutions/ISC Bind/ReleaseNotes.md
  Solutions/Ivanti Unified Endpoint Management/Data/Solution_Ivanti_Unified_Endpoint_Management_Solution.json
  Solutions/Ivanti Unified Endpoint Management/Package/3.0.1.zip
  Solutions/Ivanti Unified Endpoint Management/Package/createUiDefinition.json
  Solutions/Ivanti Unified Endpoint Management/Package/mainTemplate.json
  Solutions/Ivanti Unified Endpoint Management/ReleaseNotes.md
Labels: Solution, Content-Package

#11586 Add Samsung Knox Asset Intelligence Sentinel Solution
  .script/tests/KqlvalidationsTests/CustomTables/Samsung_Knox_Application_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Samsung_Knox_Audit_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Samsung_Knox_Network_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Samsung_Knox_Process_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Samsung_Knox_System_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Samsung_Knox_User_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/Samsung_Knox_Asset_Intelligence.svg
  Sample Data/Samsung_Knox_Application_CL-SampleData.csv
  Sample Data/Samsung_Knox_Audit_CL-SampleData.csv
  Sample Data/Samsung_Knox_Network_CL-SampleData.csv
  Sample Data/Samsung_Knox_Process_CL-SampleData.csv
  Sample Data/Samsung_Knox_System_CL-SampleData.csv
  Sample Data/Samsung_Knox_User_CL-SampleData.csv
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxApplicationPrivilegeEscalationOrChange.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxKeyguardDisabledFeatureSet.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxMobileDeviceBootCompromise.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPasswordLockout.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPeripheralAccessDetectionWithCamera.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPeripheralAccessDetectionWithMic.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxSecurityLogFull.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxSuspiciousURLs.yaml
  Solutions/Samsung Knox Asset Intelligence/CustomTables/Samsung_Knox_Application_CL.json
  Solutions/Samsung Knox Asset Intelligence/CustomTables/Samsung_Knox_Audit_CL.json
  Solutions/Samsung Knox Asset Intelligence/CustomTables/Samsung_Knox_Network_CL.json
  Solutions/Samsung Knox Asset Intelligence/CustomTables/Samsung_Knox_Process_CL.json
  Solutions/Samsung Knox Asset Intelligence/CustomTables/Samsung_Knox_System_CL.json
  Solutions/Samsung Knox Asset Intelligence/CustomTables/Samsung_Knox_User_CL.json
  Solutions/Samsung Knox Asset Intelligence/Data Connectors/SamsungDCDefinition.json
  Solutions/Samsung Knox Asset Intelligence/Data Connectors/azuredeploy_SamsungDataConnectorDefinition.json
  Solutions/Samsung Knox Asset Intelligence/Data/Solution_Samsung.json
  Solutions/Samsung Knox Asset Intelligence/Package/3.0.0.zip
  Solutions/Samsung Knox Asset Intelligence/Package/createUiDefinition.json
  Solutions/Samsung Knox Asset Intelligence/Package/mainTemplate.json
  Solutions/Samsung Knox Asset Intelligence/Package/testParameters.json
  Solutions/Samsung Knox Asset Intelligence/ReleaseNotes.md
  Solutions/Samsung Knox Asset Intelligence/SolutionMetadata.json
  Solutions/Samsung Knox Asset Intelligence/Workbooks/SamsungKnoxAssetIntelligence.json
  Workbooks/Images/Logos/Samsung_Knox_Asset_Intelligence.svg
  Workbooks/Images/Preview/SamsungKnoxAssetIntelligenceBlack.png
  Workbooks/Images/Preview/SamsungKnoxAssetIntelligenceWhite.png
  Workbooks/SamsungKnoxAssetIntelligence.json
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector

#11609 Repackage - McAfee Network Security
  Solutions/McAfee Network Security Platform/Data/Solution_McAfee Network Security Platform.json
  Solutions/McAfee Network Security Platform/Package/3.0.1.zip
  Solutions/McAfee Network Security Platform/Package/createUiDefinition.json
  Solutions/McAfee Network Security Platform/Package/mainTemplate.json
  Solutions/McAfee Network Security Platform/ReleaseNotes.md
  Solutions/Symantec VIP/Analytic Rules/ClientDeniedAccess.yaml
  Solutions/Symantec VIP/Analytic Rules/ExcessiveFailedAuthenticationsfromInvalidInputs.yaml
  Solutions/Symantec VIP/Data/Solution_SymantecVIP.json
  Solutions/Symantec VIP/Package/3.0.1.zip
  Solutions/Symantec VIP/Package/createUiDefinition.json
  Solutions/Symantec VIP/Package/mainTemplate.json
  Solutions/Symantec VIP/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package
