Repository Azure/Azure-Sentinel, pull requests merged in 2024-06, with the labels that each got.

#10451 changes for releasenotes and lastindex for data file check
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#10568 Add new Hunting folder for Spoof AH queries and add 1 AH query example
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spoof and Impersonation/Display Name - Spoof and Impersonation.yaml
Labels: Hunting

#10563 Adding a query to hunt for impacket atexec module
  Hunting Queries/Microsoft 365 Defender/Execution/detect-impacket-atexec.yaml
Labels: Hunting

#10572 Leaderboard Monthly Update - Update stats.md file with June 2024 Data
  Tools/stats/stats.md
Labels: Tools

#10561 Added missing DC reference in Analytic Rule for Log4jVulnernability Solution
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4J_IPIOC_Dec112021.yaml
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Hunting Queries/NetworkConnectionToNewExternalLDAPServer.yaml
  Solutions/Apache Log4j Vulnerability Detection/Package/3.0.4.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10573 Created Phish folder and added PhishDetectionByDetectionMethod.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Phish/PhishDetectionByDetectionMethod.yaml
Labels: Hunting

#10530 Update CiscoWSAEvent.yaml to work with AsyncOS 15
  Solutions/CiscoWSA/Package/3.0.0.zip
  Solutions/CiscoWSA/Package/createUiDefinition.json
  Solutions/CiscoWSA/Package/mainTemplate.json
  Solutions/CiscoWSA/Package/testParameters.json
  Solutions/CiscoWSA/Parsers/CiscoWSAEvent.yaml
Labels: Parser, Solution

#10582 Update template_WindowsFirewallAma.JSON MD
  Solutions/Windows Firewall/Data Connectors/template_WindowsFirewallAma.JSON
Labels: dataconnector-cri, Solution

#10557 SAP- add read permissions for 20 tables to allow for DBTABLOG read
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_CONNECTOR_ROLE_V0.0.27.SAP
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_RESPONDER.SAP
Labels: SAP

#10574 Added mising DC reference in Analytic Rule for Network session Essential Solution
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Network Session Essentials/Analytic Rules/AnomalyFoundInNetworkSessionTraffic.yaml
  Solutions/Network Session Essentials/Analytic Rules/DetectPortMisuseByAnomalyBasedDetection.yaml
  Solutions/Network Session Essentials/Analytic Rules/DetectPortMisuseByStaticThreshold.yaml
  Solutions/Network Session Essentials/Analytic Rules/ExcessiveHTTPFailuresFromSource.yaml
  Solutions/Network Session Essentials/Analytic Rules/NetworkPortSweepFromExternalNetwork.yaml
  Solutions/Network Session Essentials/Analytic Rules/PortScan.yaml
  Solutions/Network Session Essentials/Analytic Rules/PossibleBeaconingActivity.yaml
  Solutions/Network Session Essentials/Data/Solution_NetworkSessionEssentials.json
  Solutions/Network Session Essentials/Hunting Queries/DetectPortMisuseByAnomalyHunting.yaml
  Solutions/Network Session Essentials/Hunting Queries/DetectPortMisuseByStaticThresholdHunting.yaml
  Solutions/Network Session Essentials/Hunting Queries/DetectsSeveralUsersWithTheSameMACAddress.yaml
  Solutions/Network Session Essentials/Hunting Queries/MismatchBetweenDestinationAppNameAndDestinationPort.yaml
  Solutions/Network Session Essentials/Package/3.0.4.zip
  Solutions/Network Session Essentials/Package/createUiDefinition.json
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/Playbooks/SummarizeData_NSE/readme.md
  Solutions/Network Session Essentials/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package

#10570 Added mising DC reference in Analytic Rule for LigecyIOCBasedThreatIntelligence Solution
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Hunting Queries/ForestBlizzard_IOC_RetroHunt.yaml
  Solutions/Legacy IOC based Threat Protection/Package/3.0.5.zip
  Solutions/Legacy IOC based Threat Protection/Package/createUiDefinition.json
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
  Solutions/Legacy IOC based Threat Protection/ReleaseNotes.md
Labels: Solution, Content-Package

#10592 Fix entity in BulkChangestoPrivilegedAccountPermissions.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/BulkChangestoPrivilegedAccountPermissions.yaml
Labels: Solution, Analytic Rules

#10598 Update ConvertSentinelRuleFrom-Yaml.ps1
  Tools/ConvertYamlToJson/ConvertSentinelRuleFrom-Yaml.ps1
Labels: Tools

#10588 Adding more Folders for future MDO email hunting queries and adding example queries to the folders
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/Audit Email Preview-Download action.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/Hunt for TABL changes.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/MDO daily detection summary report.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/Hunt for malicious URLs using external IOC source.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/Hunt for malicious attachments using external IOC source.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/Inbox rule change which forward-redirect email.yaml
Labels: Hunting

#10552 Added mising DC reference in Analytic Rule for GreyNoiseThreatIntelligence and ZincOpenSource Solution
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/GreyNoiseThreatIntelligence/Analytic Rules/GreyNoise_IPEntity_CustomSecurityLog.yaml
  Solutions/GreyNoiseThreatIntelligence/Analytic Rules/GreyNoise_IPEntity_DnsEvents.yaml
  Solutions/GreyNoiseThreatIntelligence/Analytic Rules/GreyNoise_IPEntity_imNetworkSession.yaml
  Solutions/GreyNoiseThreatIntelligence/Data/Solution_GreyNoise.json
  Solutions/GreyNoiseThreatIntelligence/Package/3.0.2.zip
  Solutions/GreyNoiseThreatIntelligence/Package/createUiDefinition.json
  Solutions/GreyNoiseThreatIntelligence/Package/mainTemplate.json
  Solutions/GreyNoiseThreatIntelligence/Package/testParameters.json
  Solutions/GreyNoiseThreatIntelligence/ReleaseNotes.md
  Solutions/Zinc Open Source/Analytic Rules/ZincOctober2022_IP_Domain_Hash_IOC.yaml
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Solutions/Zinc Open Source/Package/3.0.3.zip
  Solutions/Zinc Open Source/Package/createUiDefinition.json
  Solutions/Zinc Open Source/Package/mainTemplate.json
  Solutions/Zinc Open Source/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package, P0

#10586 Entra Connector - Successful logon from IP and failure from a different IP fixes
  Solutions/Microsoft Entra ID/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
  Solutions/Microsoft Entra ID/Package/3.2.6.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Solution, Analytic Rules

#10610 Update AnalyticsRulesAdministrativeOperations.yaml rule
  Solutions/Azure Activity/Hunting Queries/AnalyticsRulesAdministrativeOperations.yaml
Labels: Analytic Rules

#10602 Added new queries from MDO PM as part of hunting reach and usage improvement initiative
  Hunting Queries/Microsoft 365 Defender/Email Queries/Attachment/JNLP attachment.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/Local time to UTC time conversion.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/Mail item accessed.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/Malicious email senders.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Phish/Appspot phishing abuse.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/PhishingEmailUrlRedirector.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Remediation/Email remediation action list.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spoof and Impersonation/Referral phish emails.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spoof and Impersonation/Spoof and impersonation detections by sender IP.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spoof and Impersonation/Spoof and impersonation phish detections.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spoof and Impersonation/User not covered under display name impersonation.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL/Phishing Email Url Redirector.yaml
Labels: Hunting

#10597 DC description - Update template_WindowsFirewallAma.JSON
  Solutions/Windows Firewall/Data Connectors/template_WindowsFirewallAma.JSON
  Solutions/Windows Firewall/Data/Solution_Windows Firewall.json
  Solutions/Windows Firewall/Package/3.0.2.zip
  Solutions/Windows Firewall/Package/createUiDefinition.json
  Solutions/Windows Firewall/Package/mainTemplate.json
  Solutions/Windows Firewall/Package/testParameters.json
  Solutions/Windows Firewall/ReleaseNotes.md
Labels: Connector, Solution

#10244 Support for Domain Solutions
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Attacker Tools Threat Protection Essentials/Data/Solution_AttackersToolsThreatProtectionEssentials.json
  Solutions/Business Email Compromise - Financial Fraud/Data/Solution_Business Email Compromise - Financial Fraud.json
  Solutions/Cloud Identity Threat Protection Essentials/Data/Solution_CloudIdentityThreatDetection.json
  Solutions/Cloud Service Threat Protection Essentials/Data/Solution_CloudServiceThreatProtectionEssentials.json
  Solutions/Endpoint Threat Protection Essentials/Data/Solution_EndpointThreatProtectionEssentials.json
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Data/Solution_Multi Cloud Attack Coverage Essentials - Resource Abuse.json
  Solutions/Network Session Essentials/Data/Solution_NetworkSessionEssentials.json
  Solutions/Network Threat Protection Essentials/Data/Solution_NetworkThreatDetection.json
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/Web Session Essentials/Data/Solution_Web Session Essentials.json
  Solutions/Web Shells Threat Protection/Data/Solution_WebShellsThreatProtection.json
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Tools/Create-Azure-Sentinel-Solution/V3/README.md
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools, Content-Package

#10580 Repackaged - Web Session Essentials
  Solutions/Apache Log4j Vulnerability Detection/Package/3.0.4.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Business Email Compromise - Financial Fraud/Data/Solution_Business Email Compromise - Financial Fraud.json
  Solutions/Business Email Compromise - Financial Fraud/Package/3.0.9.zip
  Solutions/Business Email Compromise - Financial Fraud/Package/createUiDefinition.json
  Solutions/Business Email Compromise - Financial Fraud/Package/mainTemplate.json
  Solutions/Business Email Compromise - Financial Fraud/ReleaseNotes.md
  Solutions/Endpoint Threat Protection Essentials/Data/Solution_EndpointThreatProtectionEssentials.json
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.4.zip
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Endpoint Threat Protection Essentials/ReleaseNotes.md
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Data/Solution_Multi Cloud Attack Coverage Essentials - Resource Abuse.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/3.0.3.zip
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/createUiDefinition.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/mainTemplate.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/ReleaseNotes.md
  Solutions/Web Session Essentials/Package/3.0.3.zip
  Solutions/Web Session Essentials/Package/createUiDefinition.json
  Solutions/Web Session Essentials/Package/mainTemplate.json
  Solutions/Web Session Essentials/ReleaseNotes.md
Labels: Solution, Content-Package

#10621 Update README.md - add support up to 8.13
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
Labels: documentation

#10579 Added shortlinks for WEBSITE_RUN_FROM_PACKAGE
  Solutions/IllumioSaaS/Data Connectors/azuredeploy_IllumioSaaS_FunctionApp.json
  Solutions/VMware SD-WAN and SASE/Data Connectors/Function App Connector/azuredeploy_Connector_Vmware_AzureFunction.json.json
  Solutions/Wiz/Data Connectors/azuredeploy_Connector_Wiz_API_AzureFunction.json
  Solutions/ZeroNetworks/Data Connectors/SegmentFunctionConnector/azuredeploy_Connector_ZeroNetworks_Segment_Audit_AzureFunction.json
Labels: P0

#10615 Adding QR code hunting queries.
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Campaign with randomly named attachments.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Campaign with suspicious keywords.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Hunting for sender patterns.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Hunting for user signals-clusters.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Personalized campaigns based on the first few keywords.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Personalized campaigns based on the last few keywords.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Risky sign-in attempt from a non-managed device.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Suspicious sign-in attempts from QR code phishing campaigns.yaml
Labels: Hunting

#10627 V prasadboke releasenotes
  Solutions/AtlassianJiraAudit/ReleaseNotes.md
  Solutions/Microsoft Entra ID/Package/3.2.6.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Solution

#10550 Add SQLi and XSS Detections/Analytic Rules for App GW WAF in Azure WAF Solution
  Sample Data/Sample Data/Custom/APPGW_SQLI_Sample_Data.csv
  Sample Data/Sample Data/Custom/APPGW_XSS_Sample_Data.csv
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/App-GW-WAF-SQLiDetection.yaml
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/App-GW-WAF-XSSDetection.yaml
  Solutions/Azure Web Application Firewall (WAF)/Data/Solution_AzureWAF.json
  Solutions/Azure Web Application Firewall (WAF)/Package/3.0.1.zip
  Solutions/Azure Web Application Firewall (WAF)/Package/createUiDefinition.json
  Solutions/Azure Web Application Firewall (WAF)/Package/mainTemplate.json
  Solutions/Azure Web Application Firewall (WAF)/ReleaseNotes.md
Labels: Solution, Analytic Rules

#10612 MDO - Created new folders and added new queries
  Hunting Queries/Microsoft 365 Defender/Email Queries/Attachment/ATP policy status check.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Attachment/Safe attachment detection.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Authentication/Authentication failures.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Authentication/Spoof attempts with auth failure.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Detections by detection methods.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Mail reply to new domain.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Mailflow by directionality.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Malicious emails detected per day.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Sender recipient contact establishment.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Top 100 malicious email senders.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Top 100 senders.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Zero day threats.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/Email malware detection report.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/Malware detections by detection methods.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Overrides/Admin overrides.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Overrides/Top policies performing admin overrides.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Overrides/Top policies performing user overrides.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Overrides/User overrides.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Group quarantine release.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Quarantine release trend.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Submissions/Admin reported submissions.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Submissions/Status of submissions.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Submissions/Top submitters of admin submissions.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Submissions/Top submitters of user submissions.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Submissions/User reported submissions.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Top Attacks/Attacked more than x times average.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Top Attacks/Malicious mails by sender IPs.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Top Attacks/Top 10 URL domains attacking organization.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Top Attacks/Top 10 percent of most attacked users.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Top Attacks/Top external malicious senders.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Top Attacks/Top targeted users.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL Click/End user malicious clicks.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL Click/URL click count by click action.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL Click/User clicked through events.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL Click/User clicks on malicious inbound emails.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL Click/User clicks on phishing URLs in emails.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL/SafeLinks URL detections.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/ZAP/Total ZAP count.yaml
Labels: Hunting

#10606 🐛 Fix analytic rule bugs
  Detections/ASimWebSession/PossibleDGAContacts.yaml
  Solutions/Microsoft 365/Analytic Rules/ExternalUserAddedRemovedInTeams.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationAdded.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationDeleted.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationInboundCollaborationSettingsChanged.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationInboundDirectSettingsChanged.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationOutboundCollaborationSettingsChanged.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Cross-tenantAccessSettingsOrganizationOutboundDirectSettingsChanged.yaml
  Solutions/Windows Security Events/Analytic Rules/ADFSRemoteAuthSyncConnection.yaml
Labels: Solution, Analytic Rules

#10609 Added missing DC reference in Analytic Rule for Attacker Tools Threat Protection Essentials Solution
  Solutions/Attacker Tools Threat Protection Essentials/Analytic Rules/CredentialDumpingServiceInstallation.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Analytic Rules/CredentialDumpingToolsFileArtifacts.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Data/Solution_AttackersToolsThreatProtectionEssentials.json
  Solutions/Attacker Tools Threat Protection Essentials/Hunting Queries/CobaltDNSBeacon.yaml
  Solutions/Attacker Tools Threat Protection Essentials/Package/3.0.3.zip
  Solutions/Attacker Tools Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Attacker Tools Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Attacker Tools Threat Protection Essentials/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10638 🐛 Analytic rules fixes 2024-06-11
  Detections/MultipleDataSources/StarBlizzardDomainsAugust2022.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/ADFSDomainTrustMods.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/AccountCreatedDeletedByNonApprovedUser.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/AzureADRoleManagementPermissionGrant.yaml
  Solutions/Windows Security Events/Analytic Rules/NRT_execute_base64_decodedpayload.yaml
Labels: Solution, Detection, Analytic Rules

#10628 Adding more QR code related hunting queries for use cases which pivot on URLLocation
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Emails delivered having URLs from QR codes.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Emails with QR codes and suspicious keywords in subject.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Emails with QR codes from non-prevalent sender.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Inbound emails with QR code URLs.yaml
Labels: Hunting, Standalone

#10634 Update PaloAltoCDLEvent.yaml parser
  Solutions/PaloAltoCDL/Data Connectors/Connector_PaloAlto_CDL_CEF.json
  Solutions/PaloAltoCDL/Data Connectors/template_PaloAlto_CDLAMA.json
  Solutions/PaloAltoCDL/Data/Solution_PaloAltoCDL.json
  Solutions/PaloAltoCDL/Data/system_generated_metadata.json
  Solutions/PaloAltoCDL/Package/3.0.1.zip
  Solutions/PaloAltoCDL/Package/createUiDefinition.json
  Solutions/PaloAltoCDL/Package/mainTemplate.json
  Solutions/PaloAltoCDL/Package/testParameters.json
  Solutions/PaloAltoCDL/Parsers/PaloAltoCDLEvent.yaml
  Solutions/PaloAltoCDL/ReleaseNotes.md
Labels: Parser, Solution, Content-Package

#10633 CEFOverviewWorkbook Added
  Workbooks/CEFOverviewWorkbook.json
  Workbooks/Images/Preview/CEFOverviewBlack.png
  Workbooks/Images/Preview/CEFOverviewWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#10620 Revert "Enhanced Logstash Data Connector with Managed Identity Support"
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/CHANGELOG.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/examples/logstash-syslog-sentinel_mi.conf
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/outputs/microsoft-sentinel-log-analytics-logstash-output-plugin.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logAnalyticsAadTokenProvider.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logAnalyticsArcTokenProvider.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logAnalyticsClient.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logAnalyticsMiTokenProvider.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logstashLoganalyticsConfiguration.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/version.rb
Labels: Connector

#10651 Removed duplicate solution - Azure SQL Database
  Solutions/Azure SQL Database/Data/Solution_AzureSqlDatabaseTemplateSpec.json
  Solutions/Azure SQL Database/Package/2.0.0.zip
  Solutions/Azure SQL Database/Package/createUiDefinition.json
  Solutions/Azure SQL Database/Package/mainTemplate.json
  Solutions/Azure SQL Database/SolutionMetadata.json
Labels: Solution

#10654 Fix/iso 8601 formatting
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_above_threshold.yaml
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_folders_above_threshold.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/PossibleWebpBufferOverflow.yaml
Labels: Solution, Analytic Rules

#10649 Adding URL click, QR code and Malware detection related query examples
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/Email containing malware sent by an internal sender.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/QR code/Custom detection-Emails with QR from non-prevalent senders.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL Click/URL click on ZAP Email.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL Click/URL clicks actions by URL.yaml
Labels: Hunting

#10656 Updated instruction and package for Mulesoft
  Solutions/Mulesoft/Data Connectors/MuleSoft_Cloudhub_API_FunctionApp.json
  Solutions/Mulesoft/Data/Solution_Mulesoft.json
  Solutions/Mulesoft/Package/3.0.0.zip
  Solutions/Mulesoft/Package/mainTemplate.json
  Solutions/Mulesoft/Package/testParameters.json
  Solutions/Mulesoft/ReleaseNotes.md
Labels: Solution, Content-Package

#10630 New Playbook: Reopen Incident when Incident Tasks have not been completed
  Playbooks/Reopen-Incdient-With-Incomplete-Tasks/incident-trigger/azuredeploy.json
  Playbooks/Reopen-Incdient-With-Incomplete-Tasks/incident-trigger/images/automationrule.png
  Playbooks/Reopen-Incdient-With-Incomplete-Tasks/incident-trigger/images/playbookworkflow.png
  Playbooks/Reopen-Incdient-With-Incomplete-Tasks/readme.md
Labels: Playbook, Standalone

#10637 Microsoft Exchange Security - On-Premises - Correct bad XPath
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data Connectors/azuredeploy_ESI_DCR_Option1MSExchangeAuditLogs.json
Labels: Connector, Solution

#10623 Added missing DC reference in Analytic Rule for Dev0270 and EndpointThreat Solution
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270NewUserSep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270PowershellSep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270RegistryIOCSep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Analytic Rules/Dev-0270WMICDiscoverySep2022.yaml
  Solutions/Dev 0270 Detection and Hunting/Data/Solution_DEV0270.json
  Solutions/Dev 0270 Detection and Hunting/Package/3.0.1.zip
  Solutions/Dev 0270 Detection and Hunting/Package/mainTemplate.json
  Solutions/Dev 0270 Detection and Hunting/ReleaseNotes.md
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/DumpingLSASSProcessIntoaFile.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/LateralMovementViaDCOM.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/MacroInvokingShellBrowserWindowCOMObjects.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/PotentialRemoteDesktopTunneling.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/RegistryPersistenceViaAppCertDLLModification.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/RegistryPersistenceViaAppInt_DLLsModification.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WDigestDowngradeAttack.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WindowsBinariesExecutedfromNon-DefaultDirectory.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WindowsBinariesLolbinsRenamed.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/Certutil-LOLBins.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/FileExecutionWithOneCharacterInTheName.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/RemoteLoginPerformedwithWMI.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/RemoteScheduledTaskCreationUpdateUsingATSVCNamedPipe.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/ScheduledTaskCreationUpdateFromUserWritableDrectory.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/SignedBinaryProxyExecutionRundll32.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/UnicodeObfuscationInCommandLine.yaml
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.4.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Endpoint Threat Protection Essentials/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10629 Added missing data connector reference in analytic rules
  Solutions/Microsoft Defender XDR/Analytic Rules/PossiblePhishingwithCSL&NetworkSession.yaml
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Package/3.0.8.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
  Solutions/ThreatConnect/Analytic Rules/ThreatConnect_DomainEntity_DnsEvents.yaml
  Solutions/ThreatConnect/Data/Solution_ThreatConnect.json
  Solutions/ThreatConnect/Package/3.0.1.zip
  Solutions/ThreatConnect/Package/createUiDefinition.json
  Solutions/ThreatConnect/Package/mainTemplate.json
  Solutions/ThreatConnect/Package/testParameters.json
  Solutions/ThreatConnect/ReleaseNotes.md
  Solutions/Web Shells Threat Protection/Analytic Rules/PotentialMercury_Webshell.yaml
  Solutions/Web Shells Threat Protection/Data/Solution_WebShellsThreatProtection.json
  Solutions/Web Shells Threat Protection/Package/3.0.4.zip
  Solutions/Web Shells Threat Protection/Package/createUiDefinition.json
  Solutions/Web Shells Threat Protection/Package/mainTemplate.json
  Solutions/Web Shells Threat Protection/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10655 Mark Move-Logs-to-Storage Playbook as Deprecated
  Playbooks/Move-LogAnalytics-to-Storage/README.md
  Playbooks/[Deprecated]Move-LogAnalytics-to-Storage/README.md
  Playbooks/[Deprecated]Move-LogAnalytics-to-Storage/[Deprecated]azuredeploy.json
Labels: Playbook

#10659 Update and rename AnomolousSingleFactorSignin.yaml to AnomalousSingle…
  Detections/SigninLogs/AnomalousSingleFactorSignin.yaml
  Detections/SigninLogs/AnomolousSingleFactorSignin.yaml
Labels: Detection

#10644 Updated Analytic Rules and fixes the Bugs
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Package/3.0.3.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/Microsoft 365/ReleaseNotes.md
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.2.7.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/3.0.7.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
  Solutions/Windows Security Events/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10660 🐛 Remove preceding newlines in queries
  .script/idChangeValidator.ts
  Detections/MultipleDataSources/RiskyUserIn3Pnetworkactivity.yaml
  Detections/MultipleDataSources/SecurityServiceRegistryACLModification.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/Legacy IOC based Threat Protection/Deprecated Analytic Rules/Manganese_VPN-IOCs.yaml
  Solutions/SecurityBridge App/Analytical Rules/CriticalEventTriggered.yaml
  Solutions/Symantec VIP/Analytic Rules/ClientDeniedAccess.yaml
  Solutions/Symantec VIP/Analytic Rules/ExcessiveFailedAuthenticationsfromInvalidInputs.yaml
  Solutions/Syslog/Analytic Rules/squid_cryptomining_pools.yaml
  Solutions/Syslog/Analytic Rules/squid_tor_proxies.yaml
  Solutions/Syslog/Analytic Rules/ssh_potentialBruteForce.yaml
Labels: Solution, Detection, Hunting

#10684 Add more malware and hunting queries
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/Hunt for email conversation take over attempts.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/Email containing malware accessed on a unmanaged device.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/URL Click/URLClick details based on malicious URL click alert.yaml
Labels: Hunting

#10664 Updated Analytic rule "Local Admin Group Changes" for Defender XDR
  Solutions/Microsoft Defender XDR/Analytic Rules/Persistence/LocalAdminGroupChanges.yaml
  Solutions/Microsoft Defender XDR/Package/3.0.8.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
Labels: Solution, Content-Package

#10642 ASIM-SchemaDataTester-NewValidation
  .github/workflows/runAsimSchemaAndDataTesters.yaml
  .script/tests/asimParsersTest/ExclusionListForASimTests.csv
  .script/tests/asimParsersTest/runAsimTesters.ps1
Labels: ASIM

#10681 Shortlinks updated for Crowdstrike Data Connector
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdStrikeFalconAdversaryIntelligence/CrowdStrikeFalconAdversaryIntelligence_FunctionApp.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.7.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Playbooks/CrowdStrike_Base/azuredeploy.json
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
Labels: Content-Package

#10688 Update SAP BTP ReleaseNotes.md
  Solutions/SAP BTP/ReleaseNotes.md
Labels: documentation

#10608 Updated Python version 3.8 to 3.9
  Solutions/Auth0/Data Connectors/azuredeploy_Auth0_FunctionApp.json
Labels: Connector

#10690 Shortlink and tier updated for 1Password
  Solutions/1Password/Data Connectors/1Password_API_FunctionApp.json
  Solutions/1Password/Package/3.0.0.zip
  Solutions/1Password/Package/mainTemplate.json
  Solutions/1Password/SolutionMetadata.json
Labels: Solution, Content-Package, P0

#10705 Updated contentSchemaVersion for HYAS Protect
  Solutions/HYAS Protect/Data/Solution_HyasProtectLogs.json
  Solutions/HYAS Protect/Package/3.0.3.zip
  Solutions/HYAS Protect/Package/mainTemplate.json
Labels: Solution, Content-Package, P0

#10704 Fix on issues comment not added to issue
  .github/workflows/IssueComment.yml
Labels: Tools

#10712 Update readme.md
  Playbooks/Update-NamedLocations-TOR/readme.md
Labels: documentation

#10699 package updated for Windows security events
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/3.0.7.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
Labels: Solution, Content-Package

#10685 Update template_Syslog.json
  Solutions/Syslog/Data Connectors/template_Syslog.json
  Solutions/Syslog/Data/Solution_syslog.json
  Solutions/Syslog/Package/3.0.4.zip
  Solutions/Syslog/Package/mainTemplate.json
  Solutions/Syslog/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#10720 Fixed Switch Org image and Sync-CommentsFunctionApp paths in readme.md
  Solutions/AtlassianJiraAudit/Playbooks/readme.md
Labels: Playbook
