Repository Azure/Azure-Sentinel, pull requests merged in 2024-10, with the labels that each got.

#11079 Update sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-kickstart-sapcon-java.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
Labels: SAP

#11145 fix spelling in data connector template for Exchange On-Premises
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data Connectors/ESI-ExchangeOnPremisesCollector.json
Labels: Connector, Solution

#11185 create new GCP CCP template
  DataConnectors/Templates/Connector_GCP_CCP_template.json
Labels: Connector, Solution

#11152 Sentinel M2: Add analytic rules to Illumio SaaS solution
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/IllumioSaaS/Analytic Rules/Illumio_Firewall_Tampering_Detection_Query.yaml
  Solutions/IllumioSaaS/Analytic Rules/Illumio_VEN_Enforcement_Change_Detection_Query.yaml
  Solutions/IllumioSaaS/Analytic Rules/Illumio_VEN_Offline_Detection_Query.yaml
  Solutions/IllumioSaaS/Package/3.2.0.zip
  Solutions/IllumioSaaS/Package/createUiDefinition.json
  Solutions/IllumioSaaS/Package/mainTemplate.json
  Solutions/IllumioSaaS/data/Solution_IllumioSaaS.json
Labels: Solution, Analytic Rules

#11070 ASIM Parsers for Infoblox
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuditEvent/Parsers/ASimAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventInfobloxBloxOne.yaml
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventInfobloxBloxOne.yaml
  Parsers/ASimAuditEvent/Tests/InfobloxBloxOne_ASimAuditEvent_ASimDataTester.csv
  Parsers/ASimAuditEvent/Tests/InfobloxBloxOne_ASimAuditEvent_ASimSchemaTester.csv
  Parsers/ASimAuditEvent/Tests/InfobloxBloxOne_vimAuditEvent_ASimDataTester.csv
  Parsers/ASimAuditEvent/Tests/InfobloxBloxOne_vimAuditEvent_ASimSchemaTester.csv
  Parsers/ASimDhcpEvent/Parsers/ASimDhcpEvent.yaml
  Parsers/ASimDhcpEvent/Parsers/ASimDhcpEventInfobloxBloxOne.yaml
  Parsers/ASimDhcpEvent/Parsers/imDhcpEvent.yaml
  Parsers/ASimDhcpEvent/Parsers/vimDhcpEventInfobloxBloxOne.yaml
  Parsers/ASimDhcpEvent/Tests/InfobloxBloxOne_ASimDhcpEvent_ASimDataTester.csv
  Parsers/ASimDhcpEvent/Tests/InfobloxBloxOne_ASimDhcpEvent_ASimSchemaTester.csv
  Parsers/ASimDhcpEvent/Tests/InfobloxBloxOne_vimDhcpEvent_ASimDataTester.csv
  Parsers/ASimDhcpEvent/Tests/InfobloxBloxOne_vimDhcpEvent_ASimSchemaTester.csv
  Parsers/ASimDns/Parsers/ASimDns.yaml
  Parsers/ASimDns/Parsers/ASimDnsInfobloxBloxOne.yaml
  Parsers/ASimDns/Parsers/imDns.yaml
  Parsers/ASimDns/Parsers/vimDnsInfobloxBloxOne.yaml
  Parsers/ASimDns/Tests/InfobloxBloxOne_ASimDns_ASimDataTester.csv
  Parsers/ASimDns/Tests/InfobloxBloxOne_ASimDns_ASimSchemaTester.csv
  Parsers/ASimDns/Tests/InfobloxBloxOne_vimDns_ASimDataTester.csv
  Parsers/ASimDns/Tests/InfobloxBloxOne_vimDns_ASimSchemaTester.csv
  Sample Data/ASIM/Infoblox_BloxOne_AuditEvent_IngestedLogs.csv
  Sample Data/ASIM/Infoblox_BloxOne_DhcpEvent_IngestedLogs.csv
  Sample Data/ASIM/Infoblox_BloxOne_Dns_IngestedLogs.csv
Labels: ASIM

#11212 Leaderboard Monthly Update - Update stats.md file with Sep 2024 Data
  Tools/stats/stats.md
Labels: Tools

#11198 Update ServiceInstallationFromUsersWritableDirectory.yaml
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Hunting Queries/ServiceInstallationFromUsersWritableDirectory.yaml
  Solutions/Windows Security Events/Package/3.0.9.zip
  Solutions/Windows Security Events/Package/mainTemplate.json
  Solutions/Windows Security Events/ReleaseNotes.md
Labels: Hunting, Content-Package

#11214 Fixed Bugs in Cohesity Restore Playbook
  Solutions/CohesitySecurity/Data/Solution_CohesitySecurity.json
  Solutions/CohesitySecurity/Package/3.1.1.zip
  Solutions/CohesitySecurity/Package/createUiDefinition.json
  Solutions/CohesitySecurity/Package/mainTemplate.json
  Solutions/CohesitySecurity/Package/testParameters.json
  Solutions/CohesitySecurity/Playbooks/Cohesity_Restore_From_Last_Snapshot/azuredeploy.json
Labels: Solution

#11208 Updated Bitwarden publisher, offer id's and solution description
  Solutions/Bitwarden/Data/Solution_Bitwarden.json
  Solutions/Bitwarden/Package/3.0.0.zip
  Solutions/Bitwarden/Package/createUiDefinition.json
  Solutions/Bitwarden/Package/mainTemplate.json
  Solutions/Bitwarden/SolutionMetadata.json
Labels: Solution

#11193 Adding infoblox solution publishing fixes
  Solutions/Infoblox/Package/3.0.0.zip
  Solutions/Infoblox/Package/mainTemplate.json
  Solutions/Infoblox/ReleaseNotes.md
  Solutions/Infoblox/SolutionMetadata.json
Labels: Solution

#11228 Update 3.0.0.zip of Infoblox Solution
  Solutions/Infoblox/Package/3.0.0.zip
  Solutions/Infoblox/ReleaseNotes.md
Labels: Solution

#11226 Corrected URL
  Detections/SecurityAlert/AVSpringShell.yaml
Labels: Detection

#11224 Adding queries to look for abnormal sch task creation and launch
  Hunting Queries/Microsoft 365 Defender/Persistence/rare_sch_task_launch.yaml
  Hunting Queries/Microsoft 365 Defender/Persistence/rare_sch_task_with_activity.yaml
  Hunting Queries/Microsoft 365 Defender/Persistence/sch_task_creation.yaml
Labels: Solution, Hunting

#11223 adding gcp firewall terraform file for quick setup
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPFirewallLogsSetup/GCPFirewallLogSetup.tf
Labels: Solution

#11230 Update ingestASimSampleData.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: scripts

#11227 Fixing "Invalid Login Endpoint" issue
  DataConnectors/O365 Data/O365APItoAS-Template.zip
  DataConnectors/O365 Data/O365APItoAS-Template/TimerTrigger/run.ps1
Labels: Connector

#11207 Fix Office rules and hunting queries
  Solutions/Global Secure Access/Analytic Rules/Office 365 - External User added to Team and immediately uploads file.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - ExternalUserAddedRemovedInTeams.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Malicious_Inbox_Rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_MailForwarding.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_Uploaded_Executables.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - RareOfficeOperations.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewIP.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewUserAgent.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - exchange_auditlogdisabled.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - office_policytampering.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_above_threshold.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_folders_above_threshold.yaml
  Solutions/Global Secure Access/Data/Solution_GlobalSecureAccess.json
  Solutions/Global Secure Access/Hunting Queries/AnomolousUserAccessingOtherUsersMailbox.yaml
  Solutions/Global Secure Access/Hunting Queries/ExternalUserFromNewOrgAddedToTeams.yaml
  Solutions/Global Secure Access/Hunting Queries/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Solutions/Global Secure Access/Hunting Queries/MultiTeamBot.yaml
  Solutions/Global Secure Access/Hunting Queries/MultiTeamOwner.yaml
  Solutions/Global Secure Access/Hunting Queries/MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Hunting Queries/MultipleUsersEmailForwardedToSameDestination.yaml
  Solutions/Global Secure Access/Hunting Queries/NewBotAddedToTeams.yaml
  Solutions/Global Secure Access/Hunting Queries/New_WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Global Secure Access/Hunting Queries/OfficeMailForwarding_hunting.yaml
  Solutions/Global Secure Access/Hunting Queries/TeamsFilesUploaded.yaml
  Solutions/Global Secure Access/Hunting Queries/UserAddToTeamsAndUploadsFile.yaml
  Solutions/Global Secure Access/Hunting Queries/WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Global Secure Access/Hunting Queries/new_sharepoint_downloads_by_IP.yaml
  Solutions/Global Secure Access/Hunting Queries/new_sharepoint_downloads_by_UserAgent.yaml
  Solutions/Global Secure Access/Hunting Queries/nonowner_MailboxLogin.yaml
  Solutions/Global Secure Access/Hunting Queries/powershell_or_nonbrowser_MailboxLogin.yaml
  Solutions/Global Secure Access/Hunting Queries/sharepoint_downloads.yaml
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/createUiDefinition.json
  Solutions/Global Secure Access/Package/mainTemplate.json
  Solutions/Global Secure Access/ReleaseNotes.md
  Solutions/Global Secure Access/Workbooks/GSAM365EnrichedEvents.json
  Solutions/Global Secure Access/Workbooks/GSANetworkTraffic.json
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_above_threshold.yaml
  Workbooks/GSAM365EnrichedEvents.json
  Workbooks/GSANetworkTraffic.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11255 Update readme and changelog related to v1.1.3
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/CHANGELOG.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
Labels: Connector

#11260 Update readme.md
  Playbooks/CrowdStrike/readme.md
Labels: documentation

#11259 Solution Skeleton Structure
  Solutions/TestSolution/Data/Solution_TestSolution.json
  Solutions/TestSolution/ReleaseNotes.md
  Solutions/TestSolution/SolutionMetadata.json
Labels: documentation, Content-Package

#11203 Recorded future solution update
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.10.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/Alerts/readme.md
  Solutions/Recorded Future/Playbooks/Connectors/RecordedFuture-CustomConnector/azuredeploy.json
  Solutions/Recorded Future/Playbooks/Connectors/RecordedFuture-CustomConnector/readme.md
  Solutions/Recorded Future/Playbooks/Enrichment/RecordedFuture-IOC_Enrichment/azuredeploy.json
  Solutions/Recorded Future/Playbooks/Enrichment/quickstart.md
  Solutions/Recorded Future/Playbooks/Enrichment/readme.md
  Solutions/Recorded Future/Playbooks/Images/alertworkbook.png
  Solutions/Recorded Future/Playbooks/Images/analyticrules.png
  Solutions/Recorded Future/Playbooks/Images/ioc_enrichment_error_not.png
  Solutions/Recorded Future/Playbooks/Images/workbook.png
  Solutions/Recorded Future/Playbooks/IndicatorImport/readme.md
  Solutions/Recorded Future/Playbooks/Sandboxing/readme.md
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/2023-10-26-19-49-18.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/2023-10-26-19-50-43.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/2023-12-21-00-18-07.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/2023-12-21-00-59-26.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/ActorIndicators.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/AdvancedParameters.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/GenericDetails.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/ThreatMapConfig.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/Images/advanceindicatorconfig.png
  Solutions/Recorded Future/Playbooks/ThreatHunting/readme.md
  Solutions/Recorded Future/Playbooks/readme.md
  Solutions/Recorded Future/ReleaseNotes.md
  Solutions/Recorded Future/readme.md
Labels: Solution

#11256 Merge MDTI-Actor-Lookup into playbooks folder
  Playbooks/MDTI-Actor-Lookup/MDTIAFunc.zip
  Playbooks/MDTI-Actor-Lookup/azuredeploy.json
  Playbooks/MDTI-Actor-Lookup/function_app.py
  Playbooks/MDTI-Actor-Lookup/readme.md
Labels: Playbook, Standalone

#11220 Added more analytic rules, modified existing queries, changed alerttype
  Solutions/IllumioSaaS/Analytic Rules/Illumio_VEN_Clone_Detection_Query.yaml
  Solutions/IllumioSaaS/Analytic Rules/Illumio_VEN_Deactivated_Query.yaml
  Solutions/IllumioSaaS/Analytic Rules/Illumio_VEN_Enforcement_Change_Detection_Query.yaml
  Solutions/IllumioSaaS/Analytic Rules/Illumio_VEN_Firewall_Tampering_Detection_Query.yaml
  Solutions/IllumioSaaS/Analytic Rules/Illumio_VEN_Offline_Detection_Query.yaml
  Solutions/IllumioSaaS/Analytic Rules/Illumio_VEN_Suspend_Query.yaml
  Solutions/IllumioSaaS/Package/3.2.0.zip
  Solutions/IllumioSaaS/Package/createUiDefinition.json
  Solutions/IllumioSaaS/Package/mainTemplate.json
  Solutions/IllumioSaaS/data/Solution_IllumioSaaS.json
Labels: Solution

#11266 Repackaged for updated in Analytical Rule
  Solutions/Malware Protection Essentials/Analytic Rules/SuspiciousProcessCreation.yaml
  Solutions/Malware Protection Essentials/Data/Solution_MalwareProtectionEssentials.json
  Solutions/Malware Protection Essentials/Package/3.0.1.zip
  Solutions/Malware Protection Essentials/Package/mainTemplate.json
Labels: Solution, Content-Package

#11273 Update ingestASimSampleData.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: ASIM

#11274 Removing unused variable 'location'
  Solutions/Commvault Security IQ/Package/3.0.1.zip
  Solutions/Commvault Security IQ/Package/mainTemplate.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_Data_Aging_Logic_App/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_SAML_Provider_Logic_App/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_User_Logic_App/azuredeploy.json
Labels: Solution

#10924 Create CarbonBlackViaAWSS3_ConnectorDefinition.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/CarbonBlackViaAWSS3_ConnectorDefinition.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlackCloud_ccp/CarbonBlack_DCR.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlackCloud_ccp/CarbonBlack_DataConnectorDefination.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlackCloud_ccp/CarbonBlack_PollingConfig.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlackCloud_ccp/table_alerts.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlackCloud_ccp/table_watclist.json
  Solutions/VMware Carbon Black Cloud/Data/Solution_VMware Carbon Black Cloud.json
  Solutions/VMware Carbon Black Cloud/Package/3.0.2.zip
  Solutions/VMware Carbon Black Cloud/Package/createUiDefinition.json
  Solutions/VMware Carbon Black Cloud/Package/mainTemplate.json
  Solutions/VMware Carbon Black Cloud/Package/testParameters.json
Labels: Solution, Codeless Connector Platform (CCP) Connector

#11287 Updating PCI DSS Compliance solution to 3.0.0
  Solutions/PCI DSS Compliance/Data/Solution_PCIDSSCompliance.json
  Solutions/PCI DSS Compliance/Package/3.0.0.zip
  Solutions/PCI DSS Compliance/Package/createUiDefinition.json
  Solutions/PCI DSS Compliance/Package/mainTemplate.json
  Solutions/PCI DSS Compliance/Package/testParameters.json
  Solutions/PCI DSS Compliance/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#10994 M2: ASIM Parsers, connector optimizations/enhancements
  .script/tests/KqlvalidationsTests/CustomTables/Illumio_Auditable_Events_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Illumio_Flow_Events_CL.json
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuditEvent/Parsers/ASimAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventIllumioSaaSCore.yaml
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventIllumioSaaSCore.yaml
  Parsers/ASimAuditEvent/Tests/Illumio_Core_AuditEvent_DataTest.csv
  Parsers/ASimAuditEvent/Tests/Illumio_Core_AuditEvent_SchemaTest.csv
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationIllumioSaaSCore.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationIllumioSaaSCore.yaml
  Parsers/ASimAuthentication/Tests/Illumio_Core_Authentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/Illumio_Core_Authentication_SchemaTest.csv
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionIllumioSaaSCore.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionIllumioSaaSCore.yaml
  Parsers/ASimNetworkSession/Tests/Illumio_Core_NetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/Illumio_Core_NetworkSession_SchemaTest.csv
  Sample Data/ASIM/Illumio_Auditable_Events_CL_Schema.csv
  Sample Data/ASIM/Illumio_Core_AuditEvent_IngestedLogs.csv
  Sample Data/ASIM/Illumio_Core_Authentication_IngestedLogs.csv
  Sample Data/ASIM/Illumio_Core_NetworkSession_IngestedLogs.csv
  Sample Data/ASIM/Illumio_Flow_Events_CL_Schema.csv
  Sample Data/Custom/Illumio/Illumio_FlowEventsIngestedLogs.csv
  Sample Data/Custom/Illumio/Illumio_FlowEventsRawLogs.json
  Sample Data/Custom/Illumio/Illumio_FlowEventsSchema.csv
  Solutions/IllumioSaaS/Data Connectors/CommonCode/__init__.py
  Solutions/IllumioSaaS/Data Connectors/CommonCode/azure_storage_queue.py
  Solutions/IllumioSaaS/Data Connectors/CommonCode/constants.py
  Solutions/IllumioSaaS/Data Connectors/CommonCode/helper.py
  Solutions/IllumioSaaS/Data Connectors/CommonCode/sentinel_connector.py
  Solutions/IllumioSaaS/Data Connectors/QueueManagerFunctionApp/queue_manager.py
  Solutions/IllumioSaaS/Data Connectors/QueueTriggerFuncApp/DeployFunctionApp/azuredeploy_QueueTrigger_FunctionApp.json
  Solutions/IllumioSaaS/Data Connectors/QueueTriggerFuncApp/azure_queue_trigger.py
  Solutions/IllumioSaaS/Data Connectors/TimedApiFunctionApp/api_response.py
  Solutions/IllumioSaaS/Data Connectors/TimedSQSFunctionApp/aws_queue.py
  Solutions/IllumioSaaS/Data Connectors/azure_storage_queue.py
  Solutions/IllumioSaaS/Data Connectors/azuredeploy_IllumioSaaS_FunctionApp.json
  Solutions/IllumioSaaS/Data Connectors/constants.py
  Solutions/IllumioSaaS/Data Connectors/createUiDefinition.json
  Solutions/IllumioSaaS/Data Connectors/sentinel_connector.py
  Solutions/IllumioSaaS/Package/3.2.0.zip
Labels: ASIM, Connector, Solution

#11291 Update MultiVendor-PossibleDGAContacts.yaml
  Detections/CommonSecurityLog/MultiVendor-PossibleDGAContacts.yaml
Labels: Detection

#11294 Update AADHostLoginCorrelation.yaml
  Detections/MultipleDataSources/AADHostLoginCorrelation.yaml
Labels: Detection, Standalone

#11232 Add Sentinel based PowerBI report
  Tools/MDO Power BI Dashboard/MDO Detection Details Report - v1.22 (Sentinel,LogAnalytics).pbit
  Tools/MDO Power BI Dashboard/Media/MDOLA1.png
  Tools/MDO Power BI Dashboard/Media/MDOLA2.png
  Tools/MDO Power BI Dashboard/Media/MDOLA3.png
  Tools/MDO Power BI Dashboard/Readme.md
Labels: Tools

#11297 Added MS-PIM-Fairfax as a trusted identity for role modification, to support GCC-High / Azure Government
  Solutions/Microsoft Entra ID/Analytic Rules/PrivlegedRoleAssignedOutsidePIM.yaml
Labels: Solution

#11271 Cohesity security
  Solutions/CohesitySecurity/Data Connectors/Helios2Sentinel/IncidentProducer/IncidentProducer.cs
  Solutions/CohesitySecurity/Data/Solution_CohesitySecurity.json
  Solutions/CohesitySecurity/Package/3.1.2.zip
  Solutions/CohesitySecurity/Package/mainTemplate.json
  Solutions/CohesitySecurity/Playbooks/Cohesity_Restore_From_Last_Snapshot/azuredeploy.json
Labels: Solution

#11298 Added domain solutions id's
  Solutions/CohesitySecurity/ReleaseNotes.md
  Solutions/Malware Protection Essentials/Data/Solution_MalwareProtectionEssentials.json
  Solutions/Malware Protection Essentials/Package/3.0.1.zip
  Solutions/Malware Protection Essentials/Package/createUiDefinition.json
  Solutions/Malware Protection Essentials/Package/mainTemplate.json
  Solutions/Malware Protection Essentials/ReleaseNotes.md
  Solutions/Okta Single Sign-On/ReleaseNotes.md
Labels: Solution, Content-Package

#11169 CTERA Solution for Azure Sentinel
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/CTERA_Logo.svg
  Solutions/CTERA/Analytic Rules/RansomwareDetected.yaml
  Solutions/CTERA/Analytic Rules/RansomwareUserBlocked.yaml
  Solutions/CTERA/Data Connectors/CTERA_Data_Connector.json
  Solutions/CTERA/Data/Solution_CTERA.json
  Solutions/CTERA/Hunting Queries/MassAccessDenied.yaml
  Solutions/CTERA/Hunting Queries/MassDeletions.yaml
  Solutions/CTERA/Hunting Queries/MassPermissionChanges.yaml
  Solutions/CTERA/Package/3.0.0.zip
  Solutions/CTERA/Package/createUiDefinition.json
  Solutions/CTERA/Package/mainTemplate.json
  Solutions/CTERA/Package/testParameters.json
  Solutions/CTERA/ReleaseNotes.md
  Solutions/CTERA/SolutionMetadata.json
  Solutions/CTERA/Workbooks/CTERA_Workbook.json
  Solutions/CTERA/Workbooks/Images/Preview/CTERASMBLogsWorkbookBlack.png
  Solutions/CTERA/Workbooks/Images/Preview/CTERASMBLogsWorkbookWhite.png
  Workbooks/Images/Logos/CTERA_Logo.svg
  Workbooks/Images/Preview/CTERASMBLogsWorkbookBlack.png
  Workbooks/Images/Preview/CTERASMBLogsWorkbookWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#11194 Updated Parsers and added new tabs in workbook as per new requirement in Corelight Solution.
  Solutions/Corelight/Data/Solution_Corelight.json
  Solutions/Corelight/Package/3.1.0.zip
  Solutions/Corelight/Package/mainTemplate.json
  Solutions/Corelight/Parsers/corelight_conn.yaml
  Solutions/Corelight/Parsers/corelight_dns.yaml
  Solutions/Corelight/Parsers/corelight_etc_viz.yaml
  Solutions/Corelight/Parsers/corelight_files.yaml
  Solutions/Corelight/Parsers/corelight_ftp.yaml
  Solutions/Corelight/Parsers/corelight_http.yaml
  Solutions/Corelight/Parsers/corelight_rdp.yaml
  Solutions/Corelight/Parsers/corelight_ssh.yaml
  Solutions/Corelight/Parsers/corelight_ssl.yaml
  Solutions/Corelight/Parsers/corelight_vpn.yaml
  Solutions/Corelight/Parsers/corelight_x509.yaml
  Solutions/Corelight/ReleaseNotes.md
  Solutions/Corelight/Workbooks/Corelight.json
  Workbooks/Images/Preview/CorelightBlack1.png
  Workbooks/Images/Preview/CorelightBlack2.png
  Workbooks/Images/Preview/CorelightBlack3.png
  Workbooks/Images/Preview/CorelightBlack4.png
  Workbooks/Images/Preview/CorelightBlack5.png
  Workbooks/Images/Preview/CorelightBlack6.png
  Workbooks/Images/Preview/CorelightBlack7.png
  Workbooks/Images/Preview/CorelightBlack8.png
  Workbooks/Images/Preview/CorelightWhite1.png
  Workbooks/Images/Preview/CorelightWhite2.png
  Workbooks/Images/Preview/CorelightWhite3.png
  Workbooks/Images/Preview/CorelightWhite4.png
  Workbooks/Images/Preview/CorelightWhite5.png
  Workbooks/Images/Preview/CorelightWhite6.png
  Workbooks/Images/Preview/CorelightWhite7.png
  Workbooks/Images/Preview/CorelightWhite8.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#11305 add stream prefix to cloudwatch lambda
  DataConnectors/AWS-S3/CloudWatchLambdaFunction.py
Labels: Connector

#11308 aws-s3-fun-pythonversionupdate3.8to3.9
  DataConnectors/AWS-S3-AzureFunction/azuredeploy_awss3.json
Labels: Connector

#11131 1Password codeless connector
  Solutions/1Password/Data Connectors/1Password_ccpv2/1Password_DCR.json
  Solutions/1Password/Data Connectors/1Password_ccpv2/1Password_DataConnectorDefinition.json
  Solutions/1Password/Data Connectors/1Password_ccpv2/1Password_PollingConfig.json
  Solutions/1Password/Data Connectors/1Password_ccpv2/1Password_tables.json
  Solutions/1Password/Data Connectors/1Password_ccpv2/azuredeploy_1Password_poller_connector.json
  Solutions/1Password/Data/Solution_1Password.json
  Solutions/1Password/Package/3.0.2.zip
  Solutions/1Password/Package/createUiDefinition.json
  Solutions/1Password/Package/mainTemplate.json
  Solutions/1Password/Package/testParameters.json
  Solutions/1Password/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector

#11310 Inspira Enterprise Standalone workbooks
  Workbooks/Data_Latency_Workbook.json
  Workbooks/Images/Preview/Data_Latency_Black.png
  Workbooks/Images/Preview/Data_Latency_White.png
  Workbooks/Images/Preview/Syslog_Bifurcation_Black.png
  Workbooks/Images/Preview/Syslog_Bifurcation_White.png
  Workbooks/Images/Preview/User_Analytics_Black.png
  Workbooks/Images/Preview/User_Analytics_White.png
  Workbooks/Syslog-Bifurcation.json
  Workbooks/User_Analytics_Workbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#11282 Added the newly created Learn links for publishing Sentinel solutions
  Solutions/README.md
Labels: documentation

#11314 Enforcing ASim validations when failure comes
  .github/workflows/runAsimSchemaAndDataTesters.yaml
  .script/tests/asimParsersTest/ASimFilteringTest.py
  .script/tests/asimParsersTest/VerifyASimParserTemplate.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
  .script/tests/asimParsersTest/runAsimTesters.ps1
Labels: ASIM

#11304 Bitglass solution packaged to update old URL to new URL
  Solutions/Bitglass/Data/Solution_Bitglass.json
  Solutions/Bitglass/Package/3.0.0.zip
  Solutions/Bitglass/Package/createUiDefinition.json
  Solutions/Bitglass/Package/mainTemplate.json
Labels: Solution, Content-Package

#11318 Fixed TLS default version related thing by udating it to TLS1.2
  Solutions/Vectra XDR/Data Connectors/VectraDataConnector/azuredeploy_Connector_VectraXDR_AzureFunction.json
Labels: Connector, Solution

#11257 Update imDns_DomainEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/EmailEntity_CloudAppEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_CloudAppEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/imDns_DomainEntity_DnsEvents.yaml
  Solutions/Threat Intelligence/Package/3.0.7.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#11236 ZeroNetworks: update parsers with new auditTypes
  Solutions/ZeroNetworks/Parsers/ZNSegmentAudit.txt
  Solutions/ZeroNetworks/Parsers/ZNSegmentAudit.yaml
Labels: Parser, Solution

#11276 Fixes for issues occurred during publishing to the Azure Store
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaS_API_FunctionApp.json
  Solutions/VaronisSaaS/Package/3.0.0.zip
  Solutions/VaronisSaaS/Package/createUiDefinition.json
  Solutions/VaronisSaaS/Package/mainTemplate.json
  Solutions/VaronisSaaS/SolutionMetadata.json
Labels: Solution

#11333 Update ASimFilteringTest.py
  .script/tests/asimParsersTest/ASimFilteringTest.py
Labels: ASIM

#11335 fixing Typo in filtering script
  .script/tests/asimParsersTest/ASimFilteringTest.py
Labels: ASIM

#11330 Placing workbook images in the workbook/image/preview location
  Solutions/CTERA/Package/3.0.0.zip
  Solutions/CTERA/Package/mainTemplate.json
  Solutions/CTERA/SolutionMetadata.json
Labels: Solution

#11337 Update ingestASimSampleData.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: ASIM

#11336 Updated Pulisher Id for mimecast solution
  Solutions/Mimecast/Package/3.0.0.zip
  Solutions/Mimecast/Package/mainTemplate.json
  Solutions/Mimecast/SolutionMetadata.json
Labels: Solution

#11316 Adding new MDO related queries from recent Microsoft Threat Intellige…
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Hunting/Automated email notifications and suspicious sign-in activity.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Hunting/BEC - File sharing tactics - Dropbox.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Hunting/BEC - File sharing tactics - OneDrive or SharePoint.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Hunting/Files share contents and suspicious sign-in activity.yaml
  Solutions/Microsoft Defender XDR/Package/3.0.10.zip
  Solutions/Microsoft Defender XDR/Package/createUiDefinition.json
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
Labels: Solution, Hunting

#11328 Bug fixes for function and logic app
  Playbooks/MDTI-Actor-Lookup/FunctionApp.zip
  Playbooks/MDTI-Actor-Lookup/MDTIAFunc.zip
  Playbooks/MDTI-Actor-Lookup/azuredeploy.json
  Playbooks/MDTI-Actor-Lookup/function_app.py
Labels: Connector, Solution

#11322 Update Vmware Carbon black solution to fix deployment issue
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlackCloud_ccp/CarbonBlack_DataConnectorDefination.json
  Solutions/VMware Carbon Black Cloud/Package/3.0.3.zip
  Solutions/VMware Carbon Black Cloud/Package/createUiDefinition.json
  Solutions/VMware Carbon Black Cloud/Package/mainTemplate.json
Labels: Content-Package

#11346 Update 3.0.2.zip of CTM 360
  Solutions/CTM360/Package/3.0.2.zip
  Solutions/CTM360/Package/mainTemplate.json
  Solutions/VMware Carbon Black Cloud/ReleaseNotes.md
Labels: Solution, P0

#11343 Handle Response Size
  .script/tests/asimParsersTest/ASimFilteringTest.py
  .script/tests/asimParsersTest/runAsimTesters.ps1
Labels: ASIM

#11338 Updated description of Analytic Rule
  Solutions/Azure Key Vault/Data/Solution_Azure Key Vault.json
  Solutions/Azure Key Vault/Package/3.0.3.zip
  Solutions/Azure Key Vault/Package/createUiDefinition.json
  Solutions/Azure Key Vault/Package/mainTemplate.json
  Solutions/Azure Key Vault/ReleaseNotes.md
  Solutions/Azure SQL Database solution for sentinel/Data/Solution_AzureSQLDatabasesolutionforsentinel.json
  Solutions/Azure SQL Database solution for sentinel/Package/3.0.0.zip
  Solutions/Azure SQL Database solution for sentinel/Package/createUiDefinition.json
  Solutions/Azure SQL Database solution for sentinel/Package/mainTemplate.json
  Solutions/Azure SQL Database solution for sentinel/Package/testParameters.json
  Solutions/Azure SQL Database solution for sentinel/ReleaseNotes.md
  Solutions/Bitglass/ReleaseNotes.md
Labels: Solution, Content-Package

#11361 Skip permission validation for OnPremise Solution
  .script/dataConnectorValidator.ts
Labels: Validation, Tools

#11341 Updating Windows Auth Parser
  Parsers/ASimAuthentication/ARM/ASimAuthentication/ASimAuthentication.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationIllumioSaaSCore/ASimAuthenticationIllumioSaaSCore.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationIllumioSaaSCore/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationMicrosoftWindowsEvent/ASimAuthenticationMicrosoftWindowsEvent.json
  Parsers/ASimAuthentication/ARM/FullDeploymentAuthentication.json
  Parsers/ASimAuthentication/ARM/imAuthentication/imAuthentication.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationIllumioSaaSCore/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationIllumioSaaSCore/vimAuthenticationIllumioSaaSCore.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationMicrosoftWindowsEvent/vimAuthenticationMicrosoftWindowsEvent.json
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationMicrosoftWindowsEvent.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationMicrosoftWindowsEvent.yaml
  Sample Data/ASIM/Microsoft_Security Events_Authentication_IngestedLogs.csv
Labels: ASIM, Parser

#11345 Fix queries
  Solutions/Global Secure Access/Analytic Rules/Identity - AfterHoursActivity.yaml
  Solutions/Global Secure Access/Analytic Rules/Identity - SharedSessions.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - External User added to Team and immediately uploads file.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Deny Rate.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Port to Protocol.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Source IP Port Scan.yaml
  Solutions/Global Secure Access/Hunting Queries/AnomolousUserAccessingOtherUsersMailbox.yaml
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/createUiDefinition.json
  Solutions/Global Secure Access/Package/mainTemplate.json
  Solutions/Global Secure Access/Package/testParameters.json
  Solutions/Global Secure Access/ReleaseNotes.md
Labels: Solution
