Repository Azure/Azure-Sentinel, pull requests merged in 2024-03, with the labels that each got.

#10069 Update FortiNDR Cloud Support email address
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/FortinetFortiNdrCloud_API_AzureFunctionApp.json
  Solutions/Fortinet FortiNDR Cloud/Data/Solution_FortiNdrCloud.json
  Solutions/Fortinet FortiNDR Cloud/Package/3.0.0.zip
  Solutions/Fortinet FortiNDR Cloud/Package/createUiDefinition.json
  Solutions/Fortinet FortiNDR Cloud/Package/mainTemplate.json
  Solutions/Fortinet FortiNDR Cloud/ReleaseNotes.md
Labels: Solution

#10039 MimecastAudit : Fixed workspace default log retention bug
  Solutions/MimecastAudit/Data Connectors/MimecastAudit_API_AzureFunctionApp.json
  Solutions/MimecastAudit/Data Connectors/azuredeploy_MimecastAudit_AzureFunctionApp.json
  Solutions/MimecastAudit/Data/Solution_MimecastAudit.json
  Solutions/MimecastAudit/Package/3.0.2.zip
  Solutions/MimecastAudit/Package/mainTemplate.json
  Solutions/MimecastAudit/ReleaseNotes.md
Labels: Solution

#10040 MimecastSEG : Fixed workspace default log retention bug
  Solutions/MimecastSEG/Data Connectors/MimecastSEG_API_AzureFunctionApp.json
  Solutions/MimecastSEG/Data Connectors/azuredeploy_MimecastSEG_AzureFunctionApp.json
  Solutions/MimecastSEG/Data/Solution_MimecastSEG.json
  Solutions/MimecastSEG/Package/3.0.2.zip
  Solutions/MimecastSEG/Package/createUiDefinition.json
  Solutions/MimecastSEG/Package/mainTemplate.json
  Solutions/MimecastSEG/ReleaseNotes.md
Labels: Solution

#10059 Recorded future v323
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.3.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/Alerts/RecordedFuture-Alert-Importer/azuredeploy.json
  Solutions/Recorded Future/Playbooks/Alerts/RecordedFuture-Playbook-Alert-Importer/azuredeploy.json
  Solutions/Recorded Future/ReleaseNotes.md
  Solutions/Recorded Future/Workbooks/RecordedFutureAlertOverview.json
  Solutions/Recorded Future/Workbooks/RecordedFuturePlaybookAlertOverview.json
  Workbooks/Images/Preview/RecordedFutureAlertOverviewBlack.png
  Workbooks/Images/Preview/RecordedFutureAlertOverviewWhite.png
  Workbooks/Images/Preview/RecordedFuturePlaybookAlertOverviewBlack1.png
  Workbooks/Images/Preview/RecordedFuturePlaybookAlertOverviewWhite1.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#9566 ASIM Parser Changes
  Parsers/ASimFileEvent/Parsers/ASimFileEvent.yaml
  Parsers/ASimFileEvent/Parsers/imFileEvent.yaml
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateTrendMicroVisionOne/ASimProcessCreateTrendMicroVisionOne.json
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateTrendMicroVisionOne/README.md
  Parsers/ASimProcessEvent/ARM/ASimProcessEvent/ASimProcessEvent.json
  Parsers/ASimProcessEvent/ARM/ASimProcessEventCreate/ASimProcessEventCreate.json
  Parsers/ASimProcessEvent/ARM/ASimProcessEventTerminate/ASimProcessEventTerminate.json
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
  Parsers/ASimProcessEvent/ARM/imProcessCreate/imProcessCreate.json
  Parsers/ASimProcessEvent/ARM/imProcessEvent/imProcessEvent.json
  Parsers/ASimProcessEvent/ARM/imProcessTerminate/imProcessTerminate.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateTrendMicroVisionOne/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateTrendMicroVisionOne/vimProcessCreateTrendMicroVisionOne.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessEvent.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventCreate.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEventTerminate.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessCreate.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessEvent.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessTerminate.yaml
  Parsers/ASimRegistryEvent/ARM/ASimRegistry/ASimRegistry.json
  Parsers/ASimRegistryEvent/ARM/FullDeploymentRegistryEvent.json
  Parsers/ASimRegistryEvent/ARM/imRegistry/imRegistry.json
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftSecurityEvent/README.md
  Parsers/ASimRegistryEvent/ARM/vimRegistryEventMicrosoftSecurityEvent/vimRegistryEventMicrosoftSecurityEvent.json
  Parsers/ASimRegistryEvent/Parsers/ASimRegistry.yaml
  Parsers/ASimRegistryEvent/Parsers/imRegistry.yaml
  Parsers/ASimRegistryEvent/Parsers/vimRegistryEventEmpty.yaml
  Parsers/ASimRegistryEvent/Parsers/vimRegistryEventMicrosoftSecurityEvent.yaml
Labels: ASIM

#9646 Google Workspace File Parsers
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimFileEvent/ARM/ASimFileEvent/ASimFileEvent.json
  Parsers/ASimFileEvent/ARM/ASimFileEventGoogleWorkspace/ASimFileEventGoogleWorkspace.json
  Parsers/ASimFileEvent/ARM/ASimFileEventGoogleWorkspace/README.md
  Parsers/ASimFileEvent/ARM/FullDeploymentFileEvent.json
  Parsers/ASimFileEvent/ARM/imFileEvent/imFileEvent.json
  Parsers/ASimFileEvent/ARM/vimFileEventGoogleWorkspace/README.md
  Parsers/ASimFileEvent/ARM/vimFileEventGoogleWorkspace/vimFileEventGoogleWorkspace.json
  Parsers/ASimFileEvent/Parsers/ASimFileEvent.yaml
  Parsers/ASimFileEvent/Parsers/ASimFileEventGoogleWorkspace.yaml
  Parsers/ASimFileEvent/Parsers/imFileEvent.yaml
  Parsers/ASimFileEvent/Parsers/vimFileEventGoogleWorkspace.yaml
  Parsers/ASimFileEvent/test/GoogleWorkspace_ASimFileEvent_DataTest.csv
  Parsers/ASimFileEvent/test/GoogleWorkspace_ASimFileEvent_SchemaTest.csv
  Parsers/ASimFileEvent/test/GoogleWorkspace_vimFileEvent_DataTest.csv
  Parsers/ASimFileEvent/test/GoogleWorkspace_vimFileEvent_SchemaTest.csv
Labels: ASIM

#9877 added new event types for VMWare Carbon Black Audit
  Parsers/ASimAuditEvent/ARM/ASimAuditEvent/ASimAuditEvent.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventCrowdStrikeFalconHost/ASimAuditEventCrowdStrikeFalconHost.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventCrowdStrikeFalconHost/README.md
  Parsers/ASimAuditEvent/ARM/ASimAuditEventVMwareCarbonBlackCloud/ASimAuditEventVMwareCarbonBlackCloud.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventVMwareCarbonBlackCloud/README.md
  Parsers/ASimAuditEvent/ARM/FullDeploymentAuditEvent.json
  Parsers/ASimAuditEvent/ARM/imAuditEvent/imAuditEvent.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventCrowdStrikeFalconHost/README.md
  Parsers/ASimAuditEvent/ARM/vimAuditEventCrowdStrikeFalconHost/vimAuditEventCrowdStrikeFalconHost.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventVMwareCarbonBlackCloud/README.md
  Parsers/ASimAuditEvent/ARM/vimAuditEventVMwareCarbonBlackCloud/vimAuditEventVMwareCarbonBlackCloud.json
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventVMwareCarbonBlackCloud.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventVMwareCarbonBlackCloud.yaml
Labels: ASIM

#9959 Usermanagement ARM template generation
  .script/getModifiedASimSchemas.ps1
  Parsers/ASimUserManagement/ARM/ASimUserManagement/ASimUserManagement.json
  Parsers/ASimUserManagement/ARM/ASimUserManagement/README.md
  Parsers/ASimUserManagement/ARM/ASimUserManagementCiscoISE/ASimUserManagementCiscoISE.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementCiscoISE/README.md
  Parsers/ASimUserManagement/ARM/ASimUserManagementLinuxAuthpriv/ASimUserManagementLinuxAuthpriv.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementLinuxAuthpriv/README.md
  Parsers/ASimUserManagement/ARM/ASimUserManagementMicrosoftSecurityEvent/ASimUserManagementMicrosoftSecurityEvent.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementMicrosoftSecurityEvent/README.md
  Parsers/ASimUserManagement/ARM/ASimUserManagementSentinelOne/ASimUserManagementSentinelOne.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementSentinelOne/README.md
  Parsers/ASimUserManagement/ARM/FullDeploymentUserManagement.json
  Parsers/ASimUserManagement/ARM/README.md
  Parsers/ASimUserManagement/ARM/imUserManagement/README.md
  Parsers/ASimUserManagement/ARM/imUserManagement/imUserManagement.json
  Parsers/ASimUserManagement/ARM/vimUserManagementCiscoISE/README.md
  Parsers/ASimUserManagement/ARM/vimUserManagementCiscoISE/vimUserManagementCiscoISE.json
  Parsers/ASimUserManagement/ARM/vimUserManagementEmpty/README.md
  Parsers/ASimUserManagement/ARM/vimUserManagementEmpty/vimUserManagementEmpty.json
  Parsers/ASimUserManagement/ARM/vimUserManagementLinuxAuthpriv/README.md
  Parsers/ASimUserManagement/ARM/vimUserManagementLinuxAuthpriv/vimUserManagementLinuxAuthpriv.json
  Parsers/ASimUserManagement/ARM/vimUserManagementMicrosoftSecurityEvent/README.md
  Parsers/ASimUserManagement/ARM/vimUserManagementMicrosoftSecurityEvent/vimUserManagementMicrosoftSecurityEvent.json
  Parsers/ASimUserManagement/ARM/vimUserManagementSentinelOne/README.md
  Parsers/ASimUserManagement/ARM/vimUserManagementSentinelOne/vimUserManagementSentinelOne.json
  Parsers/ASimUserManagement/Parsers/imUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementCiscoISE.yaml
Labels: ASIM

#10086 Leaderboard Monthly Update - Update stats.md file with Feb 2024 Data
  Tools/stats/stats.md
Labels: Tools

#10078 oidc provider for prod users
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScriptsGov.zip
  DataConnectors/AWS-S3/ConfigCloudTrailDataConnector.ps1
  DataConnectors/AWS-S3/ConfigCloudWatchDataConnector.ps1
  DataConnectors/AWS-S3/ConfigCustomLogDataConnector.ps1
  DataConnectors/AWS-S3/ConfigGuardDutyDataConnector.ps1
  DataConnectors/AWS-S3/ConfigVpcFlowDataConnector.ps1
  DataConnectors/AWS-S3/Enviornment/EnviornmentConstants.ps1
  DataConnectors/AWS-S3/Utils/AwsResourceCreator.ps1
Labels: Connector

#10074 Amazon - add fwlink to docs in dc description - template_AWS.json
  Solutions/Amazon Web Services/Data Connectors/template_AWS.json
Labels: Connector, Solution

#10075 Amazon S3 data connector - upd description to add fwlink - template_A…
  Solutions/Amazon Web Services/Data Connectors/template_AwsS3.json
Labels: Connector, Solution

#10041 MimecastTIRegional : Fixed workspace default log retention bug
  Solutions/MimecastTIRegional/Data Connectors/MimecastTIRegional_API_AzureFunctionApp.json
  Solutions/MimecastTIRegional/Data Connectors/azuredeploy_MimecastTIRegional_AzureFunctionApp.json
  Solutions/MimecastTIRegional/Data/Solution_MimecastTIRegional.json
  Solutions/MimecastTIRegional/Package/3.0.2.zip
  Solutions/MimecastTIRegional/Package/mainTemplate.json
  Solutions/MimecastTIRegional/ReleaseNotes.md
Labels: Solution

#10093 fix bug for existing role
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScriptsGov.zip
  DataConnectors/AWS-S3/Utils/AwsResourceCreator.ps1
Labels: Connector

#10024 Infoblox CDC update Parser
  Solutions/Infoblox Cloud Data Connector/Data Connectors/template_InfobloxCloudDataConnectorAMA.json
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/3.0.2.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
  Solutions/Infoblox Cloud Data Connector/Package/testParameters.json
  Solutions/Infoblox Cloud Data Connector/Parsers/InfobloxCDC.yaml
  Solutions/Infoblox Cloud Data Connector/Workbooks/InfobloxCDCB1TDWorkbook.json
  Workbooks/Images/Logos/infoblox_logo.svg
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10072 Update pulisherId and SolutionId
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/FortinetFortiNdrCloud_API_AzureFunctionApp.json
  Solutions/Fortinet FortiNDR Cloud/Data/Solution_FortiNdrCloud.json
  Solutions/Fortinet FortiNDR Cloud/Package/3.0.0.zip
  Solutions/Fortinet FortiNDR Cloud/Package/createUiDefinition.json
  Solutions/Fortinet FortiNDR Cloud/Package/mainTemplate.json
  Solutions/Fortinet FortiNDR Cloud/SolutionMetadata.json
Labels: Solution

#10098 Update README.md ASIM Doc
  ASIM/README.md
Labels: ASIM

#9952 Create NgrokReverseProxyOnNetwork
  Solutions/DNS Essentials/Analytic Rules/NgrokReverseProxyOnNetwork.yaml
Labels: Solution

#10095 CyberArk EPV to PAM documentation edit
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data Connectors/template_CyberArkAMA.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data/Solution_CyberArkEPVEvents.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/3.0.1.zip
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/createUiDefinition.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/mainTemplate.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/ReleaseNotes.md
Labels: Solution

#10073 01 03 2024 as mde isolate machine
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Add_Contributor_Role_1.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Add_Contributor_Role_2.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Add_Contributor_Role_3.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Add_Contributor_Role_4.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_1.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_2.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_3.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_4.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_5.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_6.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_7.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_8.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_App_Registration_9.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Demo_1.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Deploy_1.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Deploy_2.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Deploy_3.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Key_Vault_1.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Key_Vault_2.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Key_Vault_3.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Key_Vault_Access_1.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Key_Vault_Access_2.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Key_Vault_Access_3.png
  Playbooks/AS-MDE-Isolate-Machine/Images/IsolateMachine_Key_Vault_Access_4.png
  Playbooks/AS-MDE-Isolate-Machine/README.md
  Playbooks/AS-MDE-Isolate-Machine/azuredeploy.json
Labels: Playbook

#10091 Moving Hunting Queries to Microsoft Defender XDR Solution
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Package/3.0.2.zip
  Solutions/Microsoft Defender XDR/Package/createUiDefinition.json
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/Package/testParameters.json
Labels: Solution, Content-Package

#10090 Update azuredeploy_Connector_Wiz_API_AzureFunction.json
  Solutions/Wiz/Data Connectors/azuredeploy_Connector_Wiz_API_AzureFunction.json
Labels: Solution

#10103 updated with a fix and more notes
  Playbooks/Update-BulkIncidents/azuredeploy.json
  Playbooks/Update-BulkIncidents/readme.md
Labels: Playbook

#10102 01 03 2024 as mde unisolate machine
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Add_Contributor_Role_1.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Add_Contributor_Role_2.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Add_Contributor_Role_3.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Add_Contributor_Role_4.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_1.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_2.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_3.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_4.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_5.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_6.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_7.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_8.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_App_Registration_9.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Demo_1.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Deploy_1.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Deploy_2.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Deploy_3.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Key_Vault_1.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Key_Vault_2.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Key_Vault_3.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Key_Vault_Access_1.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Key_Vault_Access_2.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Key_Vault_Access_3.png
  Playbooks/AS-MDE-Unisolate-Machine/Images/UnisolateMachine_Key_Vault_Access_4.png
  Playbooks/AS-MDE-Unisolate-Machine/README.md
  Playbooks/AS-MDE-Unisolate-Machine/azuredeploy.json
Labels: Playbook

#10084 Cyble Threat Intel Playbook 1.0.1
  Playbooks/CybleLogicApp/Images/Cyble-Threat-Intel-Logic-App.png
  Playbooks/CybleLogicApp/azuredeploy.json
Labels: Playbook

#10105 Update title of CiscoASA connector as legacy
  Solutions/CiscoASA/Data Connectors/CiscoASA.JSON
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/3.0.2.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#10047 Moving Orphan Hunting query to Solution Endpoint Threat Protection Essentials
  .script/tests/KqlvalidationsTests/CustomFunctions/_ASim_ProcessEvent_Create.json
  .script/tests/KqlvalidationsTests/CustomFunctions/_ASim_ProcessEvent_Terminate.json
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/ASimProcess_CertutilLoLBins.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/ASimProcess_WindowsSystemShutdownReboot.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/DownloadOfNewFileUsingCurl.yaml
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/WindowsFirewallUpdateUsingNetsh.yaml
Labels: Solution

#10046 Moving Orphan Hunting queries to Windows Security Events Solution
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Hunting Queries/ADAccountLockouts.yaml
  Solutions/Windows Security Events/Hunting Queries/KrbRelayUpServiceCreation.yaml
  Solutions/Windows Security Events/Hunting Queries/RemoteScheduledTaskCreationUpdateviaSchtasks.yaml
  Solutions/Windows Security Events/Hunting Queries/SuspiciousCommandlineTokenLolbas.yaml
  Solutions/Windows Security Events/Hunting Queries/WindowsSystemShutdownReboot.yaml
  Solutions/Windows Security Events/Package/3.0.4.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
  Solutions/Windows Security Events/ReleaseNotes.md
Labels: Solution, Content-Package

#10081 Added validation for parameter type check
  .github/workflows/validateFieldTypes.yaml
  .script/package-automation/validateFieldTypes.ps1
Labels: Tools

#10043 MimecastTTP : Fixed workspace default log retention bug
  Solutions/MimecastTTP/Data Connectors/MimecastTTP_API_FunctionApp.json
  Solutions/MimecastTTP/Data Connectors/azuredeploy_MimecastTTP_AzureFunctionApp.json
  Solutions/MimecastTTP/Data/Solution_MimecastTTP.json
  Solutions/MimecastTTP/Package/3.0.2.zip
  Solutions/MimecastTTP/Package/createUiDefinition.json
  Solutions/MimecastTTP/Package/mainTemplate.json
  Solutions/MimecastTTP/ReleaseNotes.md
Labels: Solution

#9592 Added SonicWall ASIM Network Session parser
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionSonicWallFirewall/ASimNetworkSessionSonicWallFirewall.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionSonicWallFirewall/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionSonicWallFirewall/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionSonicWallFirewall/vimNetworkSessionSonicWallFirewall.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionSonicWallFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionSonicWallFirewall.yaml
  Parsers/ASimNetworkSession/Tests/SonicWall_Firewall_ASimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/SonicWall_Firewall_ASimNetworkSession_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/SonicWall_Firewall_vimNetworkSession_DataTest.csv
  Parsers/ASimNetworkSession/Tests/SonicWall_Firewall_vimNetworkSession_SchemaTest.csv
  Sample Data/ASIM/SonicWallFirewall/CommonSecurityLog_NetworkSession.csv
  Sample Data/ASIM/SonicWallFirewall/SonicWall_Firewall_NetworkSession_IngestedLogs.csv
Labels: ASIM

#10117 UI fix and default reccurance fix
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.4.zip
  Solutions/Recorded Future/Package/createUiDefinition.json
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/ThreatHunting/RecordedFuture-ThreatMap-Importer/azuredeploy.json
  Solutions/Recorded Future/ReleaseNotes.md
Labels: Solution

#10056 Repackage - Fortinet Fortiweb (MMA to AMA)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Analytic Rules/Fortiweb - WAF Allowed threat.yaml
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Data Connectors/Fortiweb.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Data Connectors/template_FortiwebAma.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Data/Solution_FortiWebCloud.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Hunting Queries/Unexpected Countries.yaml
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Hunting Queries/owaspTop10-Threatsyaml.yaml
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/3.0.1.zip
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Package/testParameters.json
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/Parsers/Fortiweb.txt
  Solutions/Fortinet FortiWeb Cloud WAF-as-a-Service connector for Microsoft Sentinel/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package

#10088 Removed Solution package as suggested
  Solutions/Cloudflare/Package/3.1.0.zip
  Solutions/Cloudflare/ReleaseNotes.md
Labels: Solution

#10121 Adding a query which is looking for LSASS credential dumping
  Hunting Queries/Microsoft 365 Defender/Credential Access/lsass-credential-dumping.yaml
Labels: Hunting

#10120 Fixed issues for purestorage solution offer
  Solutions/Pure Storage/Data/Solution_PureStorage.json
  Solutions/Pure Storage/Package/3.0.0.zip
  Solutions/Pure Storage/Package/createUiDefinition.json
  Solutions/Pure Storage/Package/mainTemplate.json
  Solutions/Pure Storage/ReleaseNotes.md
  Solutions/Pure Storage/SolutionMetadata.json
Labels: Solution

#9555 Update "Explicit MFA Deny"
  Solutions/Microsoft Entra ID/Analytic Rules/ExplicitMFADeny.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.2.2.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution, Detection, entity:Host

#10122 Repackaged Endpoint Threat Protection Essentials
  Solutions/Endpoint Threat Protection Essentials/Data/Solution_EndpointThreatProtectionEssentials.json
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.3.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Endpoint Threat Protection Essentials/ReleaseNotes.md
Labels: Solution, Content-Package

#9975 Create Protocols passing authentication in cleartext (ASIM Network Se…
  Solutions/Network Session Essentials/Analytic Rules/Anomaly in SMB Traffic(ASIM Network Session schema).yaml
  Solutions/Network Session Essentials/Analytic Rules/Remote Desktop Network Brute force (ASIM Network Session schema).yaml
  Solutions/Network Session Essentials/Data/Solution_NetworkSessionEssentials.json
  Solutions/Network Session Essentials/Hunting Queries/Detect Outbound LDAP Traffic(ASIM Network Session schema).yaml
  Solutions/Network Session Essentials/Hunting Queries/Protocols passing authentication in cleartext (ASIM Network Session schema).yaml
  Solutions/Network Session Essentials/Hunting Queries/Remote Desktop Network Traffic(ASIM Network Session schema).yaml
  Solutions/Network Session Essentials/Package/3.0.3.zip
  Solutions/Network Session Essentials/Package/createUiDefinition.json
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/ReleaseNotes.md
Labels: Solution

#10126 Network session essential repackaging
  Solutions/Network Session Essentials/Data/Solution_NetworkSessionEssentials.json
  Solutions/Network Session Essentials/Package/3.0.3.zip
  Solutions/Network Session Essentials/Package/createUiDefinition.json
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/ReleaseNotes.md
  Solutions/Windows Security Events/Package/3.0.4.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/mainTemplate.json
Labels: Solution, Content-Package

#10131 Entity Work March 12
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/DumpingLSASSProcessIntoaFile.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/LateralMovementViaDCOM.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/MacroInvokingShellBrowserWindowCOMObjects.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/PotentialRemoteDesktopTunneling.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/RegistryPersistenceViaAppCertDLLModification.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/RegistryPersistenceViaAppInt_DLLsModification.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/SecurityEventLogCleared.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/SuspiciousPowerShellCommandExecuted.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WDigestDowngradeAttack.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WindowsBinariesExecutedfromNon-DefaultDirectory.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/WindowsBinariesLolbinsRenamed.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/base64_encoded_pefile.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/execute_base64_decodedpayload.yaml
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/malware_in_recyclebin.yaml
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.3.zip
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
Labels: Solution, Analytic Rules

#10118 Filter Correction in network session parsers
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionPaloAltoCEF/vimNetworkSessionPaloAltoCEF.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionWatchGuardFirewareOS/vimNetworkSessionWatchGuardFirewareOS.json
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionPaloAltoCEF.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionWatchGuardFirewareOS.yaml
Labels: ASIM

#10116 Audit Union Parser Fix
  Parsers/ASimAuditEvent/ARM/imAuditEvent/imAuditEvent.json
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
Labels: ASIM

#10104 Palo Alto Data Lake DvcAction table update
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionPaloAltoCortexDataLake/ASimNetworkSessionPaloAltoCortexDataLake.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionPaloAltoCortexDataLake/vimNetworkSessionPaloAltoCortexDataLake.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionPaloAltoCortexDataLake.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionPaloAltoCortexDataLake.yaml
Labels: ASIM

#10099 Updating UserManagement Parsers
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimUserManagement/ARM/ASimUserManagement/ASimUserManagement.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementCiscoISE/ASimUserManagementCiscoISE.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementLinuxAuthpriv/ASimUserManagementLinuxAuthpriv.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementNative/ASimUserManagementNative.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementNative/README.md
  Parsers/ASimUserManagement/ARM/ASimUserManagementSentinelOne/ASimUserManagementSentinelOne.json
  Parsers/ASimUserManagement/ARM/FullDeploymentUserManagement.json
  Parsers/ASimUserManagement/ARM/imUserManagement/imUserManagement.json
  Parsers/ASimUserManagement/ARM/vimUserManagementCiscoISE/vimUserManagementCiscoISE.json
  Parsers/ASimUserManagement/ARM/vimUserManagementLinuxAuthpriv/vimUserManagementLinuxAuthpriv.json
  Parsers/ASimUserManagement/ARM/vimUserManagementMicrosoftSecurityEvent/vimUserManagementMicrosoftSecurityEvent.json
  Parsers/ASimUserManagement/ARM/vimUserManagementNative/README.md
  Parsers/ASimUserManagement/ARM/vimUserManagementNative/vimUserManagementNative.json
  Parsers/ASimUserManagement/ARM/vimUserManagementSentinelOne/vimUserManagementSentinelOne.json
  Parsers/ASimUserManagement/Parsers/ASimUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/ASimUserManagementCiscoISE.yaml
  Parsers/ASimUserManagement/Parsers/ASimUserManagementLinuxAuthpriv.yaml
  Parsers/ASimUserManagement/Parsers/ASimUserManagementNative.yaml
  Parsers/ASimUserManagement/Parsers/imUserManagement.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementCiscoISE.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementLinuxAuthpriv.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementMicrosoftSecurityEvent.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementNative.yaml
Labels: Solution

#9914 Remove BlastRadius where improperly used
  Hunting Queries/SigninLogs/MFAUserBlocked.yaml
  Solutions/Business Email Compromise - Financial Fraud/Data/Solution_Business Email Compromise - Financial Fraud.json
  Solutions/Business Email Compromise - Financial Fraud/Data/system_generated_metadata.json
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/LegacyAuthAttempt.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/SuccessfulSigninFromNon-CompliantDevice.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/UserAccounts-UnusualLogonTimes.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/UserLoginIPAddressTeleportation.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/new_locations_azuread_signin.yaml
  Solutions/Business Email Compromise - Financial Fraud/Hunting Queries/riskSignInWithNewMFAMethod.yaml
  Solutions/Business Email Compromise - Financial Fraud/Package/3.0.7.zip
  Solutions/Business Email Compromise - Financial Fraud/Package/createUiDefinition.json
  Solutions/Business Email Compromise - Financial Fraud/Package/mainTemplate.json
  Solutions/Business Email Compromise - Financial Fraud/ReleaseNotes.md
  Solutions/Cloud Identity Threat Protection Essentials/Data/Solution_CloudIdentityThreatDetection.json
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/DisabledAccountSigninAttempts.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-From-VPS-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/Signins-from-NordVPN-Providers.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Hunting Queries/SuspiciousSignintoPrivilegedAccount.yaml
  Solutions/Cloud Identity Threat Protection Essentials/Package/3.0.3.zip
  Solutions/Cloud Identity Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Cloud Identity Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Cloud Identity Threat Protection Essentials/ReleaseNotes.md
  Solutions/Microsoft Entra ID/Analytic Rules/MFARejectedbyUser.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UserAccounts-CABlockedSigninSpikes.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.2.3.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Solution, Hunting, Content-Package, P0

#10115 Okta solution repackage
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_DCR.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_DataConnectorDefinition.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_PollingConfig.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_Tables.json
  Solutions/Okta Single Sign-On/Package/3.0.3.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
Labels: Solution, Content-Package

#10127 Repackaging - Amazon Web Services
  Solutions/Amazon Web Services/Data Connectors/template_AWS.json
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/3.0.1.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Content-Package

#9961 Workday Codeless Connector
  Logos/workday-logo.svg
  Solutions/Workday/Data Connectors/Workday_ccp/Workday_DCR.json
  Solutions/Workday/Data Connectors/Workday_ccp/Workday_DataConnectorDefinition.json
  Solutions/Workday/Data Connectors/Workday_ccp/Workday_PollingConfig.json
  Solutions/Workday/Data Connectors/Workday_ccp/azuredeploy_Workday_poller_connector.json
  Solutions/Workday/Data/Solution_Workday.json
  Solutions/Workday/Package/3.0.0.zip
  Solutions/Workday/Package/createUiDefinition.json
  Solutions/Workday/Package/mainTemplate.json
  Solutions/Workday/Package/testParameters.json
  Solutions/Workday/ReleaseNotes.md
  Solutions/Workday/SolutionMetadata.json
Labels: Solution

#10123 Dhcp Parsers
  .github/workflows/convertKqlFunctionYamlToArmTemplate.yaml
  .script/getModifiedASimSchemas.ps1
  ASIM/README.md
  ASIM/dev/ASimTester/ASimTester.csv
  ASIM/dev/Parser YAML templates/ASimDhcpEventTemplate.yaml
  ASIM/dev/Parser YAML templates/vimDhcpEventTemplate.yaml
  ASIM/dev/Parser YAML templates/vimDhcpTemplate.yaml
  Parsers/ASimDhcpEvent/ARM/ASimDhcpEvent/ASimDhcpEvent.json
  Parsers/ASimDhcpEvent/ARM/ASimDhcpEvent/README.md
  Parsers/ASimDhcpEvent/ARM/ASimDhcpEventNative/ASimDhcpEventNative.json
  Parsers/ASimDhcpEvent/ARM/ASimDhcpEventNative/README.md
  Parsers/ASimDhcpEvent/ARM/FullDeploymentDhcpEvent.json
  Parsers/ASimDhcpEvent/ARM/README.md
  Parsers/ASimDhcpEvent/ARM/imDhcpEvent/README.md
  Parsers/ASimDhcpEvent/ARM/imDhcpEvent/imDhcpEvent.json
  Parsers/ASimDhcpEvent/ARM/vimDhcpEventEmpty/README.md
  Parsers/ASimDhcpEvent/ARM/vimDhcpEventEmpty/vimDhcpEventEmpty.json
  Parsers/ASimDhcpEvent/ARM/vimDhcpEventNative/README.md
  Parsers/ASimDhcpEvent/ARM/vimDhcpEventNative/vimDhcpEventNative.json
  Parsers/ASimDhcpEvent/Parsers/ASimDhcpEvent.yaml
  Parsers/ASimDhcpEvent/Parsers/ASimDhcpEventNative.yaml
  Parsers/ASimDhcpEvent/Parsers/imDhcpEvent.yaml
  Parsers/ASimDhcpEvent/Parsers/vimDhcpEventEmpty.yaml
  Parsers/ASimDhcpEvent/Parsers/vimDhcpEventNative.yaml
  Parsers/ASimDhcpEvent/README.md
Labels: ASIM

#10128 updated ESI Data connector
  Solutions/Microsoft Exchange Security - Exchange Online/Data Connectors/ESI-ExchangeOnlineCollector.json
  Solutions/Microsoft Exchange Security - Exchange Online/Data/system_generated_metadata.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.0.5.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/testParameters.json
Labels: Solution, Content-Package, auto-package

#10132 Slice 1 - Adding Manny's changes into smaller PRs
  Solutions/Microsoft 365/Analytic Rules/External User added to Team and immediately uploads file.yaml
  Solutions/Microsoft 365/Analytic Rules/ExternalUserAddedRemovedInTeams.yaml
  Solutions/Microsoft 365/Analytic Rules/MailItemsAccessedTimeSeries.yaml
  Solutions/Microsoft 365/Analytic Rules/Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Microsoft 365/Analytic Rules/Malicious_Inbox_Rule.yaml
  Solutions/Microsoft 365/Analytic Rules/MultipleTeamsDeletes.yaml
  Solutions/Microsoft 365/Analytic Rules/exchange_auditlogdisabled.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10125 Repackaging - MDE XDR
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Hunting Queries/Exploits/SpoolsvSpawningRundll32.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/MDEExclusionUsingPowerShell.yaml
  Solutions/Microsoft Defender XDR/Package/3.0.2.zip
  Solutions/Microsoft Defender XDR/Package/createUiDefinition.json
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
Labels: Content-Package

#10124 Change connectivity criteria to use resource graph
  Solutions/CiscoASA/Data Connectors/template_CiscoAsaAma.JSON
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/3.0.3.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#10133 Repackaging - DNS Essentials
  Solutions/DNS Essentials/Data/Solution_DNS.json
  Solutions/DNS Essentials/Package/3.0.2.zip
  Solutions/DNS Essentials/Package/createUiDefinition.json
  Solutions/DNS Essentials/Package/mainTemplate.json
  Solutions/DNS Essentials/ReleaseNotes.md
Labels: Solution, Content-Package

#9748 Code implementation for hyperlink validation
  .azure-pipelines/callGithubWorkflow.yaml
  .azure-pipelines/hyperLinkValidations.yaml
  .github/workflows/hyperlinkValidator.yaml
  .script/hyperLinkValidator.ts
  .script/package-automation/hyperlink-validation.ps1
  azure-pipelines.yml
Labels: Tools

#10141 Adding Manny's changes into smaller PRs Slice 2
  Solutions/Microsoft 365/Analytic Rules/Office_MailForwarding.yaml
  Solutions/Microsoft 365/Analytic Rules/Office_Uploaded_Executables.yaml
  Solutions/Microsoft 365/Analytic Rules/RareOfficeOperations.yaml
  Solutions/Microsoft 365/Analytic Rules/SharePoint_Downloads_byNewIP.yaml
  Solutions/Microsoft 365/Analytic Rules/SharePoint_Downloads_byNewUserAgent.yaml
  Solutions/Microsoft 365/Analytic Rules/office_policytampering.yaml
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_above_threshold.yaml
  Solutions/Microsoft 365/Analytic Rules/sharepoint_file_transfer_folders_above_threshold.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10139 AzureDevOpsAuditing Entity Mapping Updates - Manny
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOAgentPoolCreatedDeleted.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOAuditStreamDisabled.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOMaliciousToolingDetections1.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADONewExtensionAdded.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOPATUsedWithBrowser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOPipelineModifiedbyNewUser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADORetentionReduced.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOSecretNotSecured.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOVariableModifiedByNewUser.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOAdminGroupAdditions.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10140 AzureDevOpsAuditing Entity Mapping Updates - Diana
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOHistoricPrPolicyBypassing.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOHistoricServiceConnectionAdds.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOPatSessionMisuse.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOPipelineCreatedDeletedOneDay.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/AzDOServiceConnectionUsage.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/ExternalUpstreamSourceAddedtoAzureDevOpsFeed.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/NRT_ADOAuditStreamDisabled.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/NewAgentAddedToPoolbyNewUserorofNewOS.yaml
  Solutions/AzureDevOpsAuditing/Analytic Rules/NewPAPCAPCASaddedtoADO.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10152 Entity Mapping Updates March 2 Diana
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/AccountElevatedtoNewRole.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/AuthenticationMethodChangedforPrivilegedAccount.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/BEC_MailboxRule.yaml
  Solutions/Business Email Compromise - Financial Fraud/Analytic Rules/PrivilegedAccountPermissionsChanged.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - A payment method was removed.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Activities from Infrequent Country.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Oauth application - a client secret was removed.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Repository was created.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - Repository was destroyed.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - pull request was created.yaml
  Solutions/GitHub/Analytic Rules/(Preview) GitHub - pull request was merged.yaml
Labels: Solution, Analytic Rules, CoreEntityFix

#10155 CiscoISE-UserManagement
  Parsers/ASimUserManagement/ARM/ASimUserManagementCiscoISE/ASimUserManagementCiscoISE.json
  Parsers/ASimUserManagement/Parsers/ASimUserManagementCiscoISE.yaml
Labels: ASIM

#9651 Users/v muuppugund/cloud data connector
  Solutions/Microsoft Defender for Cloud/Data Connectors/AzureSecurityCenter.JSON
  Solutions/Microsoft Defender for Cloud/Data/Solution_MicrosoftDefenderforCloud.json
  Solutions/Microsoft Defender for Cloud/Package/3.0.1.zip
  Solutions/Microsoft Defender for Cloud/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Cloud/Package/mainTemplate.json
  Solutions/Microsoft Defender for Cloud/ReleaseNotes.md
Labels: Solution, Content-Package

#9926 The erroneous behaviour happens because same user account has been used to create the VIP User watchlist
  Solutions/Watchlists Utilities/Playbooks/Watchlist-ChangeIncidentSeverityandTitleIFUserVIP/readme.md
Labels: Playbook

#9925 Corrected index in query
  Solutions/Microsoft 365/Analytic Rules/RareOfficeOperations.yaml
Labels: Solution, Analytic Rules

#10165 updated okta solution package for logo, Link and typo in description
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_DataConnectorDefinition.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/azuredeploy_Okta_native_poller_connector_v2.json
  Solutions/Okta Single Sign-On/Package/3.0.4.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
Labels: Solution, Content-Package

#10154 Github Security Comment fix
  DataConnectors/Templates/Connector_REST_API_AzureFunctionApp_template/Template_REST_API_AzureFunction_App_Code/Template_REST_API_Function_App_Python/Template_REST_API_Function_App_Python.py
Labels: python

#10161 Origin/feature/stavbelladev/fix bucket bug
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScriptsComToFFX.zip
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScriptsGov.zip
Labels: Connector

#10171 Adjust data source description
  Solutions/Microsoft Purview Information Protection/Data/Solution_MicrosoftPurviewInformationProtection.json
  Solutions/Microsoft Purview Information Protection/Package/3.0.0.zip
  Solutions/Microsoft Purview Information Protection/Package/createUiDefinition.json
  Solutions/Microsoft Purview Information Protection/Package/mainTemplate.json
  Solutions/Microsoft Purview Information Protection/Package/testParameters.json
  Solutions/Microsoft Purview Information Protection/ReleaseNotes.md
Labels: Solution

#10172 Cognyte Luminar Solution - Updated OfferID
  Solutions/CognyteLuminar/Package/3.0.0.zip
  Solutions/CognyteLuminar/Package/createUiDefinition.json
  Solutions/CognyteLuminar/Package/mainTemplate.json
  Solutions/CognyteLuminar/ReleaseNotes.md
  Solutions/CognyteLuminar/SolutionMetadata.json
Labels: Solution

#10167 Prancer new data format changes
  Sample Data/prancer_CL.json
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Disks_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Flow_Logs_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Network_Security_Groups_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/PAC_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Registries_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Sites_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Storage_Accounts_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Subnets_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/VM_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Vaults_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Analytic Rules/Virtual_Networks_High_Severity.yaml
  Solutions/Prancer PenSuiteAI Integration/Hunting Queries/CSPM_query.yaml
  Solutions/Prancer PenSuiteAI Integration/Hunting Queries/PAC_high_severity_query.yaml
  Solutions/Prancer PenSuiteAI Integration/Package/3.0.1.zip
  Solutions/Prancer PenSuiteAI Integration/Package/createUiDefinition.json
  Solutions/Prancer PenSuiteAI Integration/Package/mainTemplate.json
  Solutions/Prancer PenSuiteAI Integration/Package/testParameters.json
  Solutions/Prancer PenSuiteAI Integration/ReleaseNotes.md
  Solutions/Prancer PenSuiteAI Integration/Workbooks/PrancerSentinelAnalytics.json
Labels: Solution

#10177 Add release notes
  Solutions/SAP BTP/ReleaseNotes.md
Labels: Solution, documentation

#10147 Detections test case fix
  .script/tests/detectionTemplateSchemaValidation/DetectionTemplateSchemaValidationTests.cs
Labels: Tools

#10176 updated to v1.3
  Workbooks/OptimizationWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#10159 Change in Hunting Query Description - MS SQL server Database Audit
  Solutions/Microsoft Windows SQL Server Database Audit/Data/Solution_MicrosoftWindowsSQL.json
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-Failed SQL Logons.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-MultipleFailedLogon_FromSameIP.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-MultipleFailedLogon_InShortSpan.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-New_UserCreated.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserAdded_to_SecurityAdmin.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserDeletedFromDatabase.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRemovedFromSecurityAdmin.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRemovedFromServerRole.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Hunting Queries/SQL-UserRoleChanged.yaml
  Solutions/Microsoft Windows SQL Server Database Audit/Package/3.0.1.zip
  Solutions/Microsoft Windows SQL Server Database Audit/Package/createUiDefinition.json
  Solutions/Microsoft Windows SQL Server Database Audit/Package/mainTemplate.json
  Solutions/Microsoft Windows SQL Server Database Audit/Package/testParameters.json
  Solutions/Microsoft Windows SQL Server Database Audit/ReleaseNotes.md
Labels: Solution, Hunting, Content-Package

#10079 Create SentinelAnalyticRulesManagementScript.ps1
  Tools/PowerShell/SentinelAnalyticRulesManagementScript.ps1
Labels: Tools

#10183 Updated publisherId and offerId
  Solutions/CognyteLuminar/Package/3.0.0.zip
  Solutions/CognyteLuminar/Package/mainTemplate.json
  Solutions/CognyteLuminar/SolutionMetadata.json
Labels: Solution

#10151 Mdvm updates
  DataConnectors/M365Defender-VulnerabilityManagement/azureDeploy.json
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage.zip
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/run.ps1
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/version.info
  DataConnectors/M365Defender-VulnerabilityManagement/main.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/customDcrTables.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/readme.md
  DataConnectors/M365Defender-VulnerabilityManagement/releaseNotes.md
Labels: Connector

#10186 Updated Solution Microsoft 365
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Package/3.0.2.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/Microsoft 365/ReleaseNotes.md
Labels: Solution, Content-Package

#10143 Creating Analytic rules from Hunting queries
  Solutions/Microsoft Defender XDR/Analytic Rules/Campaign/Jupyter-Solarmaker/DeimosComponentExecution.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Campaign/Macaw Ransomware/ImminentRansomware.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Campaign/Sysrv-botnet/MaliciousCMDExecutionByJava.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Command and Control/C2-NamedPipe.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Credential Access/DoppelPaymerProcDump.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Credential Access/LSASSCredDumpProcdump.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Defense Evasion/DoppelpaymerStopService.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Defense Evasion/QakbotCampaignSelfDeletion.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Defense Evasion/Regsvr32Rundll32ImageLoadsAbnormalExtension.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Defense Evasion/Regsvr32Rundll32WithAnomalousParentProcess.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Discovery/SuspiciousCommandInitiatedByWebServerProcess.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Execution/BITSAdminActivity.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Execution/OfficeAppsLaunchingWscript.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Execution/PotentialKerberoastActivities.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Exfiltration/FilesCopiedToUSBDrives.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Exploits/MosaicLoader.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Impact/AnomalousVoulmeOfFileDeletion.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Lateral Movement/RemoteFileCreationWithPsExec.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Lateral Movement/ServiceAccountsPerformingRemotePS.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Persistence/AccountCreation.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Persistence/LocalAdminGroupChanges.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Persistence/RareProcessAsService.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/DEV-0270/DisableSecurityServiceViaRegistry.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/DataDeletionOnMulipleDrivesUsingCipherExe.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/LaZagneCredTheft.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/LogDeletionUsingWevtutil.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/MultiProcessKillWithTaskKill.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/PotentialCobaltStrikeRansomwareActivity.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/QakbotDiscoveryActivities.yaml
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/ShadowCopyDeletion.yaml
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/MultiProcessKillWithTaskKill.yaml
  Solutions/Microsoft Defender XDR/Package/3.0.3.zip
  Solutions/Microsoft Defender XDR/Package/createUiDefinition.json
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
Labels: Solution, Content-Package

#10187 Microsoft Entra ID - Updated AnomalousUserAppSigninLocationIncrease-detection Rule to return accurate and consistent Results
  Solutions/Microsoft Entra ID/Analytic Rules/AnomalousUserAppSigninLocationIncrease-detection.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.2.4.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Analytic Rules, Content-Package

#10191 Update ReleaseNotes.md
  Solutions/SAP BTP/ReleaseNotes.md
Labels: Solution, documentation

#10164 Repackaging - SecurityThreatEssentialSolution
  Solutions/SecurityThreatEssentialSolution/Data/Solution_SecurityThreatEssentialSolution.json
  Solutions/SecurityThreatEssentialSolution/Data/system_generated_metadata.json
  Solutions/SecurityThreatEssentialSolution/Package/3.0.2.zip
  Solutions/SecurityThreatEssentialSolution/Package/createUiDefinition.json
  Solutions/SecurityThreatEssentialSolution/Package/mainTemplate.json
  Solutions/SecurityThreatEssentialSolution/Package/testParameters.json
  Solutions/SecurityThreatEssentialSolution/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package

#10175 Change default risk lists, updated defaults and update documentation.
  Playbooks/RecordedFuture-Block-IPs-and-Domains-on-Microsoft-Defender-for-Endpoint/RecordedFuture-TIforDefenderEndpoint.json
  Playbooks/RecordedFuture-Block-IPs-and-Domains-on-Microsoft-Defender-for-Endpoint/readme.md
  Playbooks/RecordedFuture_IP_SCF/RecordedFuture_IP_SCF_ImportToDefenderATP.json
  Playbooks/RecordedFuture_IP_SCF/RecordedFuture_IP_SCF_IndicatorProcessor.json
  Playbooks/RecordedFuture_IP_SCF/readme.md
Labels: Playbook

#10189 added new data type to awsS3 Data connector
  .script/tests/KqlvalidationsTests/CustomTables/AWSCloudWatch.json
  Solutions/Amazon Web Services/Data Connectors/template_AwsS3.json
  Solutions/Amazon Web Services/Package/3.0.1.zip
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: dataconnector-cri, Solution, Content-Package

#10174 Cisco Email Threat Defense Connector - Updated offerID
  Solutions/Cisco ETD/Package/3.0.0.zip
  Solutions/Cisco ETD/Package/mainTemplate.json
  Solutions/Cisco ETD/SolutionMetadata.json
Labels: Solution, auto-package

#10198 Updating Crowdstrike template
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/azuredeploy_cdfdrv2_connector.json
Labels: Connector, Solution

#10197 Updating the kickstart scripts
  Solutions/SAP/sapcon-sentinel-kickstart-sapcon-java.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-ui-agent-kickstart.sh
Labels: SAP

#10193 Adding a new workbook to monitor Azure OpenAI instances.
  Workbooks/AzureOpenAIMonitoring.json
  Workbooks/Images/Preview/AzureOpenAIMonitoringBlack.PNG
  Workbooks/Images/Preview/AzureOpenAIMonitoringWhite.PNG
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#10179 splitted the entity mappings, cause 3 is maximum identifiers in sentinel entity mapping
  Solutions/Microsoft 365/Analytic Rules/exchange_auditlogdisabled.yaml
  Solutions/Microsoft 365/Package/3.0.2.zip
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/Microsoft 365/ReleaseNotes.md
Labels: Solution, Analytic Rules

#10173 Cisco meraki rest api solution
  Solutions/Cisco Meraki Events via REST API/Data Connectors/CiscoMerakiMultiRule_ccp/dataConnectorDefinition.json
  Solutions/Cisco Meraki Events via REST API/Data Connectors/CiscoMerakiMultiRule_ccp/dataConnectorPoller.json
  Solutions/Cisco Meraki Events via REST API/Data Connectors/CiscoMerakiMultiRule_ccp/dcr.json
  Solutions/Cisco Meraki Events via REST API/Data/Solution_Cisco Meraki Events via REST API.json
  Solutions/Cisco Meraki Events via REST API/Package/2.0.0.zip
  Solutions/Cisco Meraki Events via REST API/Package/3.0.0.zip
  Solutions/Cisco Meraki Events via REST API/Package/createUiDefinition.json
  Solutions/Cisco Meraki Events via REST API/Package/mainTemplate.json
  Solutions/Cisco Meraki Events via REST API/Package/testParameters.json
  Solutions/Cisco Meraki Events via REST API/ReleaseNotes.md
  Solutions/Cisco Meraki Events via REST API/SolutionMetadata.json
Labels: Solution, Content-Package

#10206 Hyperlinks corrected for AWS
  Solutions/Amazon Web Services/Analytic Rules/AWS_ChangeToRDSDatabase.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_ChangeToVPC.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_ClearStopChangeTrailLogs.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_CredentialHijack.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_FullAdminPolicyAttachedToRolesUsersGroups.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_GuardDuty_template.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_IngressEgressSecurityGroupChange.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_LoadBalancerSecGroupChange.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_LogTampering.yaml
  Solutions/Amazon Web Services/Hunting Queries/AWS_IAM_PrivilegeEscalationbyAttachment.yaml
  Solutions/Amazon Web Services/Hunting Queries/AWS_PrivilegedRoleAttachedToInstance.yaml
  Solutions/Amazon Web Services/Package/3.0.1.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Solution

#10209 correct mistake in filteringTest readme
  ASIM/dev/ASimTester/filteringTest/Readme.md
Labels: ASIM

#10199 Fixing CoreLight Network Parser Fitler bug
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoMeraki/ASimNetworkSessionCiscoMeraki.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionSonicWallFirewall/ASimNetworkSessionSonicWallFirewall.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionSonicWallFirewall/README.md
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoMeraki/vimNetworkSessionCiscoMeraki.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCorelightZeek/vimNetworkSessionCorelightZeek.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionSonicWallFirewall/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionSonicWallFirewall/vimNetworkSessionSonicWallFirewall.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoMeraki.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoMeraki.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCorelightZeek.yaml
Labels: ASIM

#10129 Authentication parsers update
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADManagedIdentity/ASimAuthenticationAADManagedIdentity.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADManagedIdentity/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADNonInteractive/ASimAuthenticationAADNonInteractive.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADNonInteractive/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADServicePrincipalSignInLogs/ASimAuthenticationAADServicePrincipalSignInLogs.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADServicePrincipalSignInLogs/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADSigninLogs/ASimAuthenticationAADSigninLogs.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationAADSigninLogs/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationCiscoMeraki/ASimAuthenticationCiscoMeraki.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSu/ASimAuthenticationSu.json
  Parsers/ASimAuthentication/ARM/imAuthentication/imAuthentication.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADManagedIdentity/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADManagedIdentity/vimAuthenticationAADManagedIdentity.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADNonInteractive/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADNonInteractive/vimAuthenticationAADNonInteractive.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADServicePrincipalSignInLogs/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADServicePrincipalSignInLogs/vimAuthenticationAADServicePrincipalSignInLogs.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADSigninLogs/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationAADSigninLogs/vimAuthenticationAADSigninLogs.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationCiscoMeraki/vimAuthenticationCiscoMeraki.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationGoogleWorkspace/vimAuthenticationGoogleWorkspace.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationM365Defender/vimAuthenticationM365Defender.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationMicrosoftWindowsEvent/vimAuthenticationMicrosoftWindowsEvent.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationSalesforceSC/vimAuthenticationSalesforceSC.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationSshd/vimAuthenticationSshd.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationSu/vimAuthenticationSu.json
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADManagedIdentity.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADNonInteractive.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADServicePrincipalSignInLogs.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationAADSigninLogs.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationCiscoMeraki.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSu.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAADManagedIdentity.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAADNonInteractive.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAADServicePrincipalSignInLogs.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationAADSigninLogs.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationCiscoMeraki.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationGoogleWorkspace.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationM365Defender.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationMicrosoftWindowsEvent.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationSalesforceSC.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationSshd.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationSu.yaml
Labels: ASIM

#10213 Sap solution adding usx required agent roles
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_READER.SAP
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_RESPONDER.SAP
Labels: SAP

#9616 Updating 'SonicWall Firewall' Solution to version 3.1.0
  .script/tests/KqlvalidationsTests/CustomTables/ASimNetworkSessionSonicWallFirewall.json
  Sample Data/ASIM/CommonSecurityLog_NetworkSession.csv
  Sample Data/ASIM/SonicWall_SonicOS_NetworkSession_IngestedLogs.csv
  Solutions/SonicWall Firewall/Analytic Rules/AllowedInboundSSHTelnetRDPConnections.yaml
  Solutions/SonicWall Firewall/Analytic Rules/CaptureATPMaliciousFileDetection.yaml
  Solutions/SonicWall Firewall/Data/Solution_SonicWall Firewall.json
  Solutions/SonicWall Firewall/Hunting Queries/OutboundSSHConnections.yaml
  Solutions/SonicWall Firewall/Package/3.1.0.zip
  Solutions/SonicWall Firewall/Package/createUiDefinition.json
  Solutions/SonicWall Firewall/Package/mainTemplate.json
  Solutions/SonicWall Firewall/Package/testParameters.json
  Solutions/SonicWall Firewall/ReleaseNotes.md
  Solutions/SonicWall Firewall/Workbooks/SonicWallFirewall.json
  Workbooks/Images/Logos/sonicwall_logo.svg
  Workbooks/Images/Preview/SonicWallWorkbookBlack.png
  Workbooks/Images/Preview/SonicWallWorkbookWhite.png
  Workbooks/SonicWallFirewall.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10215 Multi AWS Account CloudWatch Logs AWS Lambda
  DataConnectors/AWS-S3/CloudWatchLambdaFunction.py
  DataConnectors/AWS-S3/CloudWatchLambdaFunction_V2.py
Labels: dataconnector-cri
