Repository Azure/Azure-Sentinel, pull requests merged in 2024-02, with the labels that each got.

#9878 Repackage - Syslog
  Solutions/Syslog/Data/Solution_syslog.json
  Solutions/Syslog/Package/3.0.1.zip
  Solutions/Syslog/Package/createUiDefinition.json
  Solutions/Syslog/Package/mainTemplate.json
  Solutions/Syslog/ReleaseNotes.md
Labels: Solution, Content-Package

#9882 Repackage CiscoASA
  Solutions/CiscoASA/Package/3.0.1.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/Package/testParameters.json
  Solutions/CiscoASA/Playbooks/CiscoASA-AddIPtoNetworkObjectGroup/azuredeploy.json
  Solutions/CiscoASA/ReleaseNotes.md
Labels: Solution, Content-Package

#9883 Azure Key Vault Entity Identifier Update
  Solutions/Azure Key Vault/Analytic Rules/KeyvaultMassSecretRetrieval.yaml
  Solutions/Azure Key Vault/Analytic Rules/TimeSeriesKeyvaultAccessAnomaly.yaml
  Solutions/Azure Key Vault/Data/Solution_Azure Key Vault.json
  Solutions/Azure Key Vault/Package/3.0.1.zip
  Solutions/Azure Key Vault/Package/mainTemplate.json
  Solutions/Azure Key Vault/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#9855 Updating parser query for cisco duo
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Package/3.0.1.zip
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/Parsers/CiscoDuo.yaml
  Solutions/CiscoDuoSecurity/ReleaseNotes.md
  Solutions/CiscoDuoSecurity/Workbooks/CiscoDuo.json
Labels: Parser, Solution, Content-Package

#9885 Leaderboard Monthly Update - Update stats.md file with Jan 2024 Data
  Tools/stats/stats.md
Labels: Tools

#9887 Updating underlying technologies for solutions
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.1.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/Zscaler Private Access (ZPA)/Data/Solution_Zscaler Private Access (ZPA).json
  Solutions/Zscaler Private Access (ZPA)/Package/2.0.1.zip
  Solutions/Zscaler Private Access (ZPA)/Package/createUiDefinition.json
Labels: Solution, Content-Package

#9892 Updated parser variables for Cisco Duo
  Solutions/CiscoDuoSecurity/Package/3.0.1.zip
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
Labels: Solution

#9760 Jamf Protect for Microsoft Sentinel v3.1.0
  .script/tests/KqlvalidationsTests/CustomTables/JamfProtect.json
  .script/tests/KqlvalidationsTests/CustomTables/jamfprotect_CL.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect.json
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Hunting Queries/JamfProtect_macOS_AtomicStealer.yaml
  Solutions/Jamf Protect/Hunting Queries/JamfProtect_macOS_DazzleSpy.yaml
  Solutions/Jamf Protect/Hunting Queries/JamfProtect_macOS_JokerSpy.yaml
  Solutions/Jamf Protect/Hunting Queries/JamfProtect_macOS_KandyKorn.yaml
  Solutions/Jamf Protect/Hunting Queries/JamfProtect_macOS_PureLand.yaml
  Solutions/Jamf Protect/Hunting Queries/JamfProtect_macOS_RustBucket.yaml
  Solutions/Jamf Protect/Hunting Queries/JamfProtect_macOS_Turtle.yaml
  Solutions/Jamf Protect/Package/3.1.0.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/Package/testParameters.json
  Solutions/Jamf Protect/Parsers/JamfProtect.yaml
  Solutions/Jamf Protect/ReleaseNotes.md
  Solutions/Jamf Protect/SolutionMetadata.json
Labels: Solution, auto-package

#9866 Adding new detection Azure Back Door SigIn
  Solutions/Microsoft Entra ID/Analytic Rules/PossibleSignInfromAzureBackdoor.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.2.0.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Detection

#9872 Added Pure Storage Parser
  Logos/purestorage_logo.svg
  Solutions/Pure Storage/Parser/PureStorageParser.yaml
Labels: Parser, Solution

#9895 Adding a query looking for rare processes as a service
  Hunting Queries/Microsoft 365 Defender/Persistence/Rare-process-as-a-service.yaml
Labels: Hunting

#9880 Repackaging-Microsoft Defender Threat Intelligence
  Solutions/Microsoft Defender Threat Intelligence/Data/Solution_MicrosoftDefenderThreatIntelligence.json
  Solutions/Microsoft Defender Threat Intelligence/Package/3.0.1.zip
  Solutions/Microsoft Defender Threat Intelligence/Package/createUiDefinition.json
  Solutions/Microsoft Defender Threat Intelligence/Package/mainTemplate.json
  Solutions/Microsoft Defender Threat Intelligence/Package/testParameters.json
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Automated-Triage/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-Cookies/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Data-WebComponents/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Intel-Reputation/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-PassiveDns/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-PassiveDnsReverse/readme.md
  Solutions/Microsoft Defender Threat Intelligence/Playbooks/MDTI-Trackers/readme.md
  Solutions/Microsoft Defender Threat Intelligence/ReleaseNotes.md
Labels: Solution, Content-Package

#9904 ui fix
  Solutions/Microsoft Entra ID/Package/3.2.0.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
Labels: Solution

#9905 Fix parser name in packaging tool
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#9869 Bug fix: Added variable of isPRMerged in pipeline
  .github/workflows/package-command.yaml
  .github/workflows/package-on-merge.yaml
  .script/package-automation/package-service.ps1
Labels: Tools

#9854 Adding hunt queries, regsvr32, rundll32 and image based payload delivery
  Hunting Queries/Microsoft 365 Defender/Defense evasion/regsvr32-rundll32-image-loads-abnormal-extension.yaml
  Hunting Queries/Microsoft 365 Defender/Defense evasion/regsvr32-rundll32-image-loads-from-abnormal-locations.yaml
  Hunting Queries/Microsoft 365 Defender/Defense evasion/regsvr32-rundll32-with-anomalous-parent-process.yaml
  Hunting Queries/Microsoft 365 Defender/Execution/anomalous-payload-delivered-from-iso-file.yaml
Labels: Hunting

#9889 Update readme.md
  Tools/Tasks-Repository/readme.md
Labels: Tools

#8986 Google Cloud Platform Security Command Center Packaging
  Solutions/Google Cloud Platform Security Command Center/Data Connectors/GCPSecurityCommandCenter.json
  Solutions/Google Cloud Platform Security Command Center/Data/Solution_Google Cloud Platform Security Command Center.json
  Solutions/Google Cloud Platform Security Command Center/Data/system_generated_metadata.json
  Solutions/Google Cloud Platform Security Command Center/Package/3.0.0.zip
  Solutions/Google Cloud Platform Security Command Center/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Security Command Center/Package/mainTemplate.json
  Solutions/Google Cloud Platform Security Command Center/ReleaseNotes.md
  Solutions/Google Cloud Platform Security Command Center/SolutionMetadata.json
Labels: Solution, Content-Package, auto-package

#9913 Fix typo on TI Data Connector description
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
Labels: Connector, Solution

#9909 Update mainTemplate.json and zip files
  Solutions/Datalake2Sentinel/Package/3.0.0.zip
  Solutions/Datalake2Sentinel/Package/mainTemplate.json
  Solutions/Datalake2Sentinel/SolutionMetadata.json
Labels: Solution

#9908 Darktrace workbook update
  Solutions/Darktrace/Workbooks/DarktraceWorkbook.json
Labels: Workbook, Solution

#9911 Update
  Workbooks/NormalizedNetworkEvents.json
Labels: Workbook

#9915 Repackaging for tagged for dependent solutions
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Package/3.0.2.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/ReleaseNotes.md
  Solutions/Attacker Tools Threat Protection Essentials/Data/Solution_AttackersToolsThreatProtectionEssentials.json
  Solutions/Attacker Tools Threat Protection Essentials/Package/3.0.2.zip
  Solutions/Attacker Tools Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Attacker Tools Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Attacker Tools Threat Protection Essentials/ReleaseNotes.md
  Solutions/Network Session Essentials/Data/Solution_NetworkSessionEssentials.json
  Solutions/Network Session Essentials/Package/3.0.2.zip
  Solutions/Network Session Essentials/Package/createUiDefinition.json
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/ReleaseNotes.md
Labels: Solution

#9893 Improvements as per Github new change
  .github/workflows/AddLabel.yaml
  .github/workflows/IssueComment.yml
  .github/workflows/addComment.yaml
  .github/workflows/addLabelOnPr.yaml
  .github/workflows/arm-ttk-validations.yaml
  .github/workflows/checkPRContentChange.yaml
  .github/workflows/checkSkipPackagingInfo.yaml
  .github/workflows/getSolutionName.yaml
  .github/workflows/neworexistingsolution.yaml
  .github/workflows/package-command.yaml
  .github/workflows/package-on-fork.yaml
  .github/workflows/package-on-merge.yaml
Labels: Tools

#9921 add comments to begining of script
  DataConnectors/Syslog/Forwarder_AMA_installer.py
  DataConnectors/Syslog/Sentinel_AMA_troubleshoot.py
Labels: Connector

#9935 Fix for analytic pipeline comment
  .github/workflows/addCommentToRemindUpdatingTemplateVersion.yml
  .github/workflows/checkPRContentChange.yaml
Labels: Tools

#9934 Forti ndr cloud sentinel initialization
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/azuredeploy_FortinetFortiNdrCloud_API_FunctionApp.json
  Solutions/Fortinet FortiNDR Cloud/Data/Solution_FortiNdrCloud.json
  Solutions/Fortinet FortiNDR Cloud/Package/3.0.0.zip
  Solutions/Fortinet FortiNDR Cloud/Package/mainTemplate.json
Labels: Solution

#9932 Small playbook fix and broken links in readme
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.1.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/Alerts/RecordedFuture-Alert-Importer/azuredeploy.json
  Solutions/Recorded Future/Playbooks/IndicatorImport/readme.md
  Solutions/Recorded Future/Playbooks/readme.md
  Solutions/Recorded Future/ReleaseNotes.md
  Solutions/Recorded Future/readme.md
Labels: Solution

#9623 Users/v muuppugundu/azurefirwallchanges
  .script/tests/KqlvalidationsTests/CustomTables/AZFWFlowTrace.json
  .script/tests/KqlvalidationsTests/CustomTables/AZFWIdpsSignature.json
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Deny Rate for Source IP.yaml
  Solutions/Azure Firewall/Analytic Rules/SeveralDenyActionsRegistered.yaml
  Solutions/Azure Firewall/Data Connectors/AzureFirewall.JSON
  Solutions/Azure Firewall/Package/3.0.4.zip
  Solutions/Azure Firewall/Package/mainTemplate.json
Labels: Content-Package

#9927 Repackage - Tagged for dependent solutions for deployment
  Solutions/Business Email Compromise - Financial Fraud/Package/3.0.5.zip
  Solutions/Business Email Compromise - Financial Fraud/Package/mainTemplate.json
  Solutions/Business Email Compromise - Financial Fraud/Package/testParameters.json
  Solutions/Business Email Compromise - Financial Fraud/ReleaseNotes.md
  Solutions/Cloud Identity Threat Protection Essentials/Data/Solution_CloudIdentityThreatDetection.json
  Solutions/Cloud Identity Threat Protection Essentials/Package/3.0.2.zip
  Solutions/Cloud Identity Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Cloud Identity Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Cloud Identity Threat Protection Essentials/ReleaseNotes.md
  Solutions/Cloud Service Threat Protection Essentials/Data/Solution_CloudServiceThreatProtectionEssentials.json
  Solutions/Cloud Service Threat Protection Essentials/Hunting Queries/AzureResourceAssignedPublicIP.yaml
  Solutions/Cloud Service Threat Protection Essentials/Package/3.0.0.zip
  Solutions/Cloud Service Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Cloud Service Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Cloud Service Threat Protection Essentials/Package/testParameters.json
  Solutions/Cloud Service Threat Protection Essentials/ReleaseNotes.md
Labels: Solution

#9912 Data Collection Terraform GCP fixes
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPAuditLogsSetup/GCPAuditLogsSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPInitialAuthenticationSetup/GCPInitialAuthenticationSetup.tf
Labels: Connector

#9798 Palo Alto ASIM parser small correction
  Parsers/ASimWebSession/ARM/ASimWebSession/ASimWebSession.json
  Parsers/ASimWebSession/ARM/ASimWebSessionCiscoFirepower/ASimWebSessionCiscoFirepower.json
  Parsers/ASimWebSession/ARM/ASimWebSessionCiscoFirepower/README.md
  Parsers/ASimWebSession/ARM/ASimWebSessionCitrixNetScaler/ASimWebSessionCitrixNetScaler.json
  Parsers/ASimWebSession/ARM/ASimWebSessionCitrixNetScaler/README.md
  Parsers/ASimWebSession/ARM/ASimWebSessionF5ASM/ASimWebSessionF5ASM.json
  Parsers/ASimWebSession/ARM/ASimWebSessionF5ASM/README.md
  Parsers/ASimWebSession/ARM/ASimWebSessionFortinetFortiGate/ASimWebSessionFortinetFortiGate.json
  Parsers/ASimWebSession/ARM/ASimWebSessionPaloAltoCortexDataLake/ASimWebSessionPaloAltoCortexDataLake.json
  Parsers/ASimWebSession/ARM/ASimWebSessionPaloAltoCortexDataLake/README.md
  Parsers/ASimWebSession/ARM/FullDeploymentWebSession.json
  Parsers/ASimWebSession/ARM/imWebSession/imWebSession.json
  Parsers/ASimWebSession/ARM/vimWebSessionCiscoFirepower/README.md
  Parsers/ASimWebSession/ARM/vimWebSessionCiscoFirepower/vimWebSessionCiscoFirepower.json
  Parsers/ASimWebSession/ARM/vimWebSessionCitrixNetScaler/README.md
  Parsers/ASimWebSession/ARM/vimWebSessionCitrixNetScaler/vimWebSessionCitrixNetScaler.json
  Parsers/ASimWebSession/ARM/vimWebSessionF5ASM/README.md
  Parsers/ASimWebSession/ARM/vimWebSessionF5ASM/vimWebSessionF5ASM.json
  Parsers/ASimWebSession/ARM/vimWebSessionFortinetFortiGate/vimWebSessionFortinetFortiGate.json
  Parsers/ASimWebSession/ARM/vimWebSessionPaloAltoCortexDataLake/README.md
  Parsers/ASimWebSession/ARM/vimWebSessionPaloAltoCortexDataLake/vimWebSessionPaloAltoCortexDataLake.json
  Parsers/ASimWebSession/Parsers/ASimWebSessionPaloAltoCortexDataLake.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionPaloAltoCortexDataLake.yaml
Labels: ASIM

#9929 Ctm 360 repackaged
  Solutions/CTM360/Analytic Rules/AutoGeneratedPage.yaml
  Solutions/CTM360/Analytic Rules/BrandAbuse.yaml
  Solutions/CTM360/Analytic Rules/BrandImpersonationHIGH.yaml
  Solutions/CTM360/Analytic Rules/BrandImpersonationINFO.yaml
  Solutions/CTM360/Analytic Rules/CodeRepository.yaml
  Solutions/CTM360/Analytic Rules/CompromisedCards.yaml
  Solutions/CTM360/Analytic Rules/CookiesHttponlyFlagNotUsed.yaml
  Solutions/CTM360/Analytic Rules/CookiesSamesiteFlagNotUsed.yaml
  Solutions/CTM360/Analytic Rules/CookiesSecureFlagNotUsed.yaml
  Solutions/CTM360/Analytic Rules/DMARCNotConfigured.yaml
  Solutions/CTM360/Analytic Rules/DomainInfringemen.yaml
  Solutions/CTM360/Analytic Rules/ExecutiveImpersonation.yaml
  Solutions/CTM360/Analytic Rules/ExposedAdminLoginPage.yaml
  Solutions/CTM360/Analytic Rules/ExposedEmailAddress.yaml
  Solutions/CTM360/Analytic Rules/ExposedUserList.yaml
  Solutions/CTM360/Analytic Rules/HeaderContentSecurityPolicyMissing.yaml
  Solutions/CTM360/Analytic Rules/HeaderHTTPStrictTransportSecurityMissing.yaml
  Solutions/CTM360/Analytic Rules/HeaderReferrerPolicyMissing.yaml
  Solutions/CTM360/Analytic Rules/HeaderWebServerExposed.yaml
  Solutions/CTM360/Analytic Rules/HeaderXFrameOptionsMissingInformational.yaml
  Solutions/CTM360/Analytic Rules/HeaderXFrameOptionsMissingLow.yaml
  Solutions/CTM360/Analytic Rules/HeaderXFrameOptionsMissingMedium.yaml
  Solutions/CTM360/Analytic Rules/HeaderXXSSProtectionMissing.yaml
  Solutions/CTM360/Analytic Rules/LeakedCredential.yaml
  Solutions/CTM360/Analytic Rules/Phishing.yaml
  Solutions/CTM360/Analytic Rules/SPFNotConfigured.yaml
  Solutions/CTM360/Analytic Rules/SPFPolicySetToSoftFail.yaml
  Solutions/CTM360/Analytic Rules/SubdomainInfringement.yaml
  Solutions/CTM360/Analytic Rules/SubresourceIntegritySRINotImplemented.yaml
  Solutions/CTM360/Analytic Rules/SuspiciousMobileAppHigh.yaml
  Solutions/CTM360/Analytic Rules/SuspiciousMobileAppINFO.yaml
  Solutions/CTM360/Analytic Rules/TLSCertificateHostnameMismatch.yaml
  Solutions/CTM360/Analytic Rules/TLSCertificateUsingWeakCipherInformational.yaml
  Solutions/CTM360/Analytic Rules/TLSCertificateUsingWeakCipherMedium.yaml
  Solutions/CTM360/Analytic Rules/Tlsv11InUseInfo.yaml
  Solutions/CTM360/Analytic Rules/Tlsv11InUseMedium.yaml
  Solutions/CTM360/Analytic Rules/Tlsv1InUseLow.yaml
  Solutions/CTM360/Analytic Rules/Tlsv1InUseMedium.yaml
  Solutions/CTM360/Package/3.0.1.zip
  Solutions/CTM360/Package/mainTemplate.json
  Solutions/CTM360/ReleaseNotes.md
Labels: Solution, P0

#9907 Added Pure Storage package
  Solutions/Pure Storage/Data/Solution_PureStorage.json
  Solutions/Pure Storage/Package/3.0.0.zip
  Solutions/Pure Storage/Package/createUiDefinition.json
  Solutions/Pure Storage/Package/mainTemplate.json
  Solutions/Pure Storage/Package/testParameters.json
  Solutions/Pure Storage/Parsers/PureStorageParser.yaml
  Solutions/Pure Storage/ReleaseNotes.md
  Solutions/Pure Storage/SolutionMetadata.json
Labels: Solution

#9664 Veritas analytics rules
  .script/tests/KqlvalidationsTests/CustomTables/NetBackupAlerts_CL.json
  Solutions/Veritas NetBackup/Analytic Rules/NetBackup_many_Anomalies.yaml
  Solutions/Veritas NetBackup/Analytic Rules/NetBackup_many_login_fail.yaml
  Solutions/Veritas NetBackup/Data/Solution_NetBackup.json
  Solutions/Veritas NetBackup/Package/3.0.0.zip
  Solutions/Veritas NetBackup/Package/createUiDefinition.json
  Solutions/Veritas NetBackup/Package/mainTemplate.json
  Solutions/Veritas NetBackup/Package/testParameters.json
  Solutions/Veritas NetBackup/README.md
  Solutions/Veritas NetBackup/ReleaseNotes.md
  Solutions/Veritas NetBackup/SolutionMetadata.json
Labels: Solution

#9953 Fixing release notes
  Solutions/AbuseIPDB/ReleaseNotes.md
  Solutions/Apache Log4j Vulnerability Detection/ReleaseNotes.md
  Solutions/AtlassianJiraAudit/ReleaseNotes.md
  Solutions/Attacker Tools Threat Protection Essentials/ReleaseNotes.md
  Solutions/Azure Activity/ReleaseNotes.md
  Solutions/Azure Firewall/ReleaseNotes.md
  Solutions/AzureDevOpsAuditing/ReleaseNotes.md
  Solutions/AzureSecurityBenchmark/ReleaseNotes.md
  Solutions/Cloud Identity Threat Protection Essentials/ReleaseNotes.md
  Solutions/FalconFriday/ReleaseNotes.md
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
  Solutions/KQL Training/ReleaseNotes.md
  Solutions/LastPass/ReleaseNotes.md
  Solutions/Microsoft Defender Threat Intelligence/ReleaseNotes.md
  Solutions/Microsoft Entra ID/ReleaseNotes.md
  Solutions/MicrosoftPurviewInsiderRiskManagement/ReleaseNotes.md
  Solutions/SecurityThreatEssentialSolution/ReleaseNotes.md
  Solutions/SenservaPro/ReleaseNotes.md
  Solutions/ThreatAnalysis&Response/ReleaseNotes.md
  Solutions/UEBA Essentials/ReleaseNotes.md
  Solutions/Windows Security Events/ReleaseNotes.md
Labels: documentation

#9956 Including UserManagement Schema
  .github/workflows/convertKqlFunctionYamlToArmTemplate.yaml
Labels: workflows

#9960 Repackaged Google Cloud Platform Security Command Center
  Solutions/Google Cloud Platform Security Command Center/Data/Solution_Google Cloud Platform Security Command Center.json
  Solutions/Google Cloud Platform Security Command Center/Package/3.0.1.zip
  Solutions/Google Cloud Platform Security Command Center/Package/mainTemplate.json
Labels: Solution, Content-Package

#9789 Analytic Rule "requiredDataConnectors" property should be [] in maintemplate and handle ARM-TTK Error
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#9870 Repackaging- Solution for requiredDataConnectors: [] property
  Solutions/DNS Essentials/Data/Solution_DNS.json
  Solutions/DNS Essentials/Package/3.0.1.zip
  Solutions/DNS Essentials/Package/createUiDefinition.json
  Solutions/DNS Essentials/Package/mainTemplate.json
  Solutions/DNS Essentials/Package/testParameters.json
  Solutions/DNS Essentials/ReleaseNotes.md
  Solutions/GitHub/Data Connectors/GithubWebhook/GithubWebhook_API_FunctionApp.json
  Solutions/GitHub/Package/3.0.3.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/Package/testParameters.json
  Solutions/GitHub/ReleaseNotes.md
  Solutions/GitHub/data/Solution_GitHub.json
  Solutions/GitHub/data/system_generated_metadata.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/3.0.2.zip
  Solutions/MaturityModelForEventLogManagementM2131/Package/mainTemplate.json
  Solutions/MaturityModelForEventLogManagementM2131/Package/testParameters.json
  Solutions/MaturityModelForEventLogManagementM2131/ReleaseNotes.md
  Solutions/MaturityModelForEventLogManagementM2131/data/Solution_MaturityModelForEventLogManagementM2131.json
  Solutions/NISTSP80053/Package/3.0.1.zip
  Solutions/NISTSP80053/Package/mainTemplate.json
  Solutions/NISTSP80053/Package/testParameters.json
  Solutions/NISTSP80053/ReleaseNotes.md
  Solutions/NISTSP80053/data/Solution_NISTSP80053.json
  Solutions/Web Session Essentials/Data/Solution_Web Session Essentials.json
  Solutions/Web Session Essentials/Data/system_generated_metadata.json
  Solutions/Web Session Essentials/Package/3.0.2.zip
  Solutions/Web Session Essentials/Package/mainTemplate.json
  Solutions/Web Session Essentials/ReleaseNotes.md
  Solutions/ZeroTrust(TIC3.0)/Package/3.0.1.zip
  Solutions/ZeroTrust(TIC3.0)/Package/mainTemplate.json
  Solutions/ZeroTrust(TIC3.0)/Package/testParameters.json
  Solutions/ZeroTrust(TIC3.0)/ReleaseNotes.md
  Solutions/ZeroTrust(TIC3.0)/data/Solution_ZeroTrust(TIC3.0).json
Labels: Solution, Content-Package

#9835 Repackaging-CybersecurityMaturityModelCertification(CMMC)2.0
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Data/Solution_CybersecurityMaturityModelCertification(CMMC)2.0.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/3.0.0.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/createUiDefinition.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/mainTemplate.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/testParameters.json
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/ReleaseNotes.md
Labels: Solution, Content-Package

#9796 Repackaging-ApacheLog4jSolution
  Solutions/Apache Log4j Vulnerability Detection/Package/3.0.3.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/ReleaseNotes.md
Labels: Solution, Content-Package

#9836 Repackaged-ContinuousDiagnostics&Mitigation
  Solutions/ContinuousDiagnostics&Mitigation/Data/Solution_ContinuousDiagnostics&Mitigation.json
  Solutions/ContinuousDiagnostics&Mitigation/Package/3.0.1.zip
  Solutions/ContinuousDiagnostics&Mitigation/Package/mainTemplate.json
  Solutions/ContinuousDiagnostics&Mitigation/Package/testParameters.json
  Solutions/ContinuousDiagnostics&Mitigation/ReleaseNotes.md
Labels: Solution, Content-Package

#9944 Remove space in kind parameter in deploy json file
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/azuredeploy_FortinetFortiNdrCloud_API_FunctionApp.json
Labels: Connector, Solution

#9886 Added validation for app insights to la in pipeline
  .github/workflows/validateClassicAppInsights.yaml
  .script/package-automation/validateClassicAppInsights.ps1
Labels: Tools

#9974 Ccp version change, auto release notes and update condition
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
  Tools/Create-Azure-Sentinel-Solution/common/templating/baseCreateUiDefinition.json
Labels: Tools

#9919 Update NonDCActiveDirectoryReplication.yaml
  Solutions/Windows Security Events/Analytic Rules/NonDCActiveDirectoryReplication.yaml
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/3.0.3.zip
  Solutions/Windows Security Events/Package/mainTemplate.json
  Solutions/Windows Security Events/ReleaseNotes.md
Labels: Solution, Analytic Rules

#9947 Update azuredeploy.json for RecordedFuture-ThreatIntelligenceImport to conform with request body required
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.2.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/IndicatorImport/RecordedFuture-ThreatIntelligenceImport/azuredeploy.json
Labels: Playbook, Solution

#9920 Alterts API Integration and ARM template updates
  Solutions/VMware Carbon Black Cloud/Data Connectors/AzureFunctionVMwareCarbonBlack.zip
  Solutions/VMware Carbon Black Cloud/Data Connectors/AzureFunctionVMwareCarbonBlack/AlertsApiTimer/function.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/AzureFunctionVMwareCarbonBlack/AlertsApiTimer/run.ps1
  Solutions/VMware Carbon Black Cloud/Data Connectors/AzureFunctionVMwareCarbonBlack/AuditEventsAlertsTimer/function.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/AzureFunctionVMwareCarbonBlack/AuditEventsAlertsTimer/run.ps1
  Solutions/VMware Carbon Black Cloud/Data Connectors/AzureFunctionVMwareCarbonBlack/function.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/VMwareCarbonBlack_API_FunctionApp.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/azuredeploy_VMwareCarbonBlack_API_FunctionApp.json
  Solutions/VMware Carbon Black Cloud/Data/system_generated_metadata.json
  Solutions/VMware Carbon Black Cloud/Package/3.0.0.zip
  Solutions/VMware Carbon Black Cloud/Package/createUiDefinition.json
  Solutions/VMware Carbon Black Cloud/Package/mainTemplate.json
  Solutions/VMware Carbon Black Cloud/Package/testParameters.json
  Solutions/VMware Carbon Black Cloud/ReleaseNotes.md
Labels: Solution, Content-Package

#9977 Repackaged Google Cloud Platform Security Command Center
  Solutions/Google Cloud Platform Security Command Center/Data/Solution_Google Cloud Platform Security Command Center.json
  Solutions/Google Cloud Platform Security Command Center/Package/3.0.2.zip
  Solutions/Google Cloud Platform Security Command Center/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Security Command Center/Package/mainTemplate.json
  Solutions/Google Cloud Platform Security Command Center/Package/testParameters.json
  Solutions/Google Cloud Platform Security Command Center/ReleaseNotes.md
Labels: Solution, Content-Package

#9950 azuredeploy.json url update
  Solutions/Cybersixgill-Actionable-Alerts/Data Connectors/Cybersixgill_FunctionApp.json
  Solutions/Cybersixgill-Actionable-Alerts/Data Connectors/azuredeploy_Connector_Cybersixgill_AzureFunction.json
  Solutions/Cybersixgill-Actionable-Alerts/Data/Solution_Cybersixgill_Actionable_Alerts.json
  Solutions/Cybersixgill-Actionable-Alerts/Package/3.0.0.zip
  Solutions/Cybersixgill-Actionable-Alerts/Package/createUiDefinition.json
  Solutions/Cybersixgill-Actionable-Alerts/Package/mainTemplate.json
  Solutions/Cybersixgill-Actionable-Alerts/Package/testParameters.json
  Solutions/Cybersixgill-Actionable-Alerts/ReleaseNotes.md
  Solutions/Cybersixgill-Actionable-Alerts/SolutionMetadata.json
Labels: Solution

#9815 Repackaging -AzureSecurityBenchmark
  Solutions/AzureSecurityBenchmark/Data/Solution_AzureSecurityBenchmark.json
  Solutions/AzureSecurityBenchmark/Package/3.0.1.zip
  Solutions/AzureSecurityBenchmark/Package/mainTemplate.json
  Solutions/AzureSecurityBenchmark/Package/testParameters.json
  Solutions/AzureSecurityBenchmark/ReleaseNotes.md
Labels: Solution, Content-Package

#9822 Repackaging-Business Email Compromise - Financial Fraud
  Solutions/Business Email Compromise - Financial Fraud/Data/Solution_Business Email Compromise - Financial Fraud.json
  Solutions/Business Email Compromise - Financial Fraud/Data/system_generated_metadata.json
  Solutions/Business Email Compromise - Financial Fraud/Package/3.0.6.zip
  Solutions/Business Email Compromise - Financial Fraud/Package/mainTemplate.json
  Solutions/Business Email Compromise - Financial Fraud/ReleaseNotes.md
Labels: Solution, Content-Package

#9985 Fix convertKqlFunctionYamlToArmTemplate pipeline
  .github/workflows/convertKqlFunctionYamlToArmTemplate.yaml
Labels: Tools

#9990 Repackage - Endpoint Threat Protection Essentials
  Solutions/Endpoint Threat Protection Essentials/Data/Solution_EndpointThreatProtectionEssentials.json
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.2.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Endpoint Threat Protection Essentials/ReleaseNotes.md
Labels: Solution, Content-Package

#9993 V sudkharat/updating createui file
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/3.0.0.zip
  Solutions/CybersecurityMaturityModelCertification(CMMC)2.0/Package/createUiDefinition.json
  Solutions/Windows Security Events/Package/3.0.3.zip
  Solutions/Windows Security Events/Package/createUiDefinition.json
Labels: Solution

#9995 Changed AAD to Entra ID where it was missing for consistency
  Solutions/Microsoft Entra ID/Analytic Rules/SuspiciousAADJoinedDeviceUpdate.yaml
Labels: Solution

#9942 Repackage - PaloAlto-PAN-OS (MMA to AMA Migration)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/PaloAlto-PAN-OS/Analytic Rules/FileHashEntity_Covid19_CommonSecurityLog.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-NetworkBeaconing.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-PortScanning.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-UnusualThreatSignatures.yaml
  Solutions/PaloAlto-PAN-OS/Data Connectors/PaloAltoNetworks.json
  Solutions/PaloAlto-PAN-OS/Data Connectors/template_PaloAltoNetworksAMA.json
  Solutions/PaloAlto-PAN-OS/Hunting Queries/Palo Alto - potential beaconing detected.yaml
  Solutions/PaloAlto-PAN-OS/Hunting Queries/PaloAlto-HighRiskPorts.yaml
  Solutions/PaloAlto-PAN-OS/Package/3.0.2.zip
  Solutions/PaloAlto-PAN-OS/Package/createUiDefinition.json
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#9946 Repackage - Fortinet FortiGate Next-Generation Firewall
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data Connectors/Fortinet-FortiGate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data Connectors/template_Fortinet-FortiGateAma.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data/system_generated_metadata.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/3.0.4.zip
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, auto-package

#9964 Changes to two files' entity mappings
  Solutions/Azure Activity/Analytic Rules/NewResourceGroupsDeployedTo.yaml
  Solutions/Azure Activity/Analytic Rules/TimeSeriesAnomaly_Mass_Cloud_Resource_Deletions.yaml
  Solutions/Azure Activity/Package/3.0.2.zip
  Solutions/Azure Activity/Package/createUiDefinition.json
  Solutions/Azure Activity/Package/mainTemplate.json
  Solutions/Azure Activity/ReleaseNotes.md
Labels: Solution

#9991 Repackage - CrowdStrike Falcon Endpoint Protection
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalOrHighSeverityDetectionsByUser.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalSeverityDetection.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/Connector_Syslog_CrowdStrikeFalconEndpointProtection.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/template_CrowdStrikeFalconEndpointProtectionAma.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.2.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
Labels: Solution, Content-Package

#9999 Added detections for PowerShell Suspicious Commandlet Exceutions
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/SuspiciousPowerShellCommandExecuted.yaml
  Solutions/Endpoint Threat Protection Essentials/Data/Solution_EndpointThreatProtectionEssentials.json
  Solutions/Endpoint Threat Protection Essentials/Hunting Queries/SuspiciousPowerShellCommandExecution.yaml
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.2.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Endpoint Threat Protection Essentials/ReleaseNotes.md
Labels: Solution, Content-Package

#9997 Repackage - Vectra AI Detect
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-HighSeverityDetection-by-Tactics.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-NewCampaign.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Suspected-Behavior-by-Tactics.yaml
  Solutions/Vectra AI Detect/Data Connectors/AIVectraDetect.json
  Solutions/Vectra AI Detect/Data Connectors/template_AIVectraDetectAma.json
  Solutions/Vectra AI Detect/Data/Solution_Vectra AI Detect.json
  Solutions/Vectra AI Detect/Package/3.0.0.zip
  Solutions/Vectra AI Detect/Package/createUiDefinition.json
  Solutions/Vectra AI Detect/Package/mainTemplate.json
  Solutions/Vectra AI Detect/Package/testParameters.json
  Solutions/Vectra AI Detect/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0

#9992 Repackage - Zscaler Internet Access
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Zscaler Internet Access/Analytic Rules/DiscordCDNRiskyDownload.yaml
  Solutions/Zscaler Internet Access/Analytic Rules/Zscaler-LowVolumeDomainRequests.yaml
  Solutions/Zscaler Internet Access/Data Connectors/template_Zscaler.JSON
  Solutions/Zscaler Internet Access/Data Connectors/template_ZscalerAma.JSON
  Solutions/Zscaler Internet Access/Data/Solution_Zscaler Internet Access.json
  Solutions/Zscaler Internet Access/Package/3.0.0.zip
  Solutions/Zscaler Internet Access/Package/createUiDefinition.json
  Solutions/Zscaler Internet Access/Package/mainTemplate.json
  Solutions/Zscaler Internet Access/Package/testParameters.json
  Solutions/Zscaler Internet Access/Playbooks/Add-Url-To-Category/azuredeploy.json
  Solutions/Zscaler Internet Access/Playbooks/Get-Sandbox-Report-For-Hash/azuredeploy.json
  Solutions/Zscaler Internet Access/Playbooks/Zscaler API authentication/azuredeploy.json
  Solutions/Zscaler Internet Access/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0

#6167 Salesforce-asim-authentication parser
  .script/tests/KqlvalidationsTests/CustomTables/SalesforceServiceCloud_CL.json
  Parsers/ASimAuthentication/ARM/ASimAuthentication/ASimAuthentication.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationPaloAltoCortexDataLake/ASimAuthenticationPaloAltoCortexDataLake.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationPaloAltoCortexDataLake/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSalesforceSC/ASimAuthenticationSalesforceSC.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationSalesforceSC/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationVMwareCarbonBlackCloud/ASimAuthenticationVMwareCarbonBlackCloud.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationVMwareCarbonBlackCloud/README.md
  Parsers/ASimAuthentication/ARM/FullDeploymentAuthentication.json
  Parsers/ASimAuthentication/ARM/imAuthentication/imAuthentication.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationPaloAltoCortexDataLake/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationPaloAltoCortexDataLake/vimAuthenticationPaloAltoCortexDataLake.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationSalesforceSC/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationSalesforceSC/vimAuthenticationSalesforceSC.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationVMwareCarbonBlackCloud/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationVMwareCarbonBlackCloud/vimAuthenticationVMwareCarbonBlackCloud.json
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationSalesforceSC.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationSalesforceSC.yaml
  Parsers/ASimAuthentication/Tests/Salesforce_ASimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/Salesforce_ASimAuthentication_SchemaTest.csv
  Parsers/ASimAuthentication/Tests/Salesforce_vimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/Salesforce_vimAuthentication_SchemaTest.csv
Labels: ASIM

#10016 Updated Release Notes
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.2.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/Endpoint Threat Protection Essentials/Package/3.0.2.zip
  Solutions/Endpoint Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Endpoint Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/3.0.4.zip
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
Labels: Solution

#10007 Repackage - Syslog (Addition of AMA DataConnector)
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Google Cloud Platform Security Command Center/Package/3.0.2.zip
  Solutions/Google Cloud Platform Security Command Center/Package/createUiDefinition.json
  Solutions/Syslog/Analytic Rules/FailedLogonAttempts_UnknownUser.yaml
  Solutions/Syslog/Analytic Rules/NRT_squid_events_for_mining_pools.yaml
  Solutions/Syslog/Analytic Rules/sftp_file_transfer_above_threshold.yaml
  Solutions/Syslog/Analytic Rules/sftp_file_transfer_folders_above_threshold.yaml
  Solutions/Syslog/Analytic Rules/squid_cryptomining_pools.yaml
  Solutions/Syslog/Analytic Rules/squid_tor_proxies.yaml
  Solutions/Syslog/Analytic Rules/ssh_potentialBruteForce.yaml
  Solutions/Syslog/Data Connectors/template_SyslogAma.json
  Solutions/Syslog/Data/Solution_syslog.json
  Solutions/Syslog/Hunting Queries/CryptoCurrencyMiners.yaml
  Solutions/Syslog/Hunting Queries/CryptoThreatActivity.yaml
  Solutions/Syslog/Hunting Queries/RareProcess_ForLxHost.yaml
  Solutions/Syslog/Hunting Queries/SCXExecuteRunAsProviders.yaml
  Solutions/Syslog/Hunting Queries/SchedTaskEditViaCrontab.yaml
  Solutions/Syslog/Hunting Queries/squid_abused_tlds.yaml
  Solutions/Syslog/Hunting Queries/squid_malformed_requests.yaml
  Solutions/Syslog/Hunting Queries/squid_volume_anomalies.yaml
  Solutions/Syslog/Package/3.0.2.zip
  Solutions/Syslog/Package/createUiDefinition.json
  Solutions/Syslog/Package/mainTemplate.json
  Solutions/Syslog/ReleaseNotes.md
  Solutions/Vectra AI Detect/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/V2/WorkbookMetadata/WorkbooksMetadata.json
Labels: Solution, Content-Package

#10018 Update azuredeploy_Okta_native_poller_connector_v2.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/azuredeploy_Okta_native_poller_connector_v2.json
Labels: Connector, Solution

#10019 Moving Orphan Hunting queries to MDE XDR
  Solutions/Microsoft Defender XDR/Hunting Queries/Campaigns/JudgementPandaExfilActivity.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Campaigns/Jupyter-Solarmaker/DeimosComponentExecution.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Campaigns/LemonDuck/LemonDuckRegistrationFunction.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Campaigns/Log4j/DeviceWithLog4jAlerts.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Campaigns/Log4j/Log4jVulnRelatedAlerts.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Campaigns/Macaw Ransomware/MaliciousUseOfMSBuildAsLoLBin.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Campaigns/Qakbot/QakbotReconActivities.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Command and Control/C2-NamedPipe.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Command and Control/ReconWithRundll.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Credential Access/DoppelPaymerProcdump.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Credential Access/LSASSCredDumpProcdump.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Credential Access/LaZagne.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Defense Evasion/DoppelpaymerStopServices.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Defense Evasion/QakbotCampaignSelfDeletion.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Discovery/SuspiciousCommandInitiatedByWebServerProcess.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Execution/AnomalousPayloadDeliveredWithISOFile.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Execution/BitsadminActivity.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Execution/MaliciousUseOfMSIExec.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Execution/MaliciousUseOfMsiExecMimikatz.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Execution/OfficeAppsLaunchingWscript.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Execution/PowerShellDownloads.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Execution/SuspiciousMshtaUsage.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Exfiltration/FilesCopiedToUSBDrives.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Exploits/CVE-2022-26134-Confluence.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Exploits/MosaicLoader.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Exploits/Print Spooler RCE/SuspiciousDLLInSpoolFolder.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Exploits/Print Spooler RCE/SuspiciousFilesInSpoolFolder.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Exploits/Print Spooler RCE/SuspiciousSpoolsvChildProcess.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Exploits/PrintNightmareUsageDetection-CVE-2021-1675.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Exploits/SpoolsvSpawningRundll32.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Impact/AnomalousVoulmeOfFileDeletion.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Initial Access/DetectMailSniper.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Lateral Movement/AccountBruteForce.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Lateral Movement/ServiceAccountsPerformingRemotePS.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Persistence/LocalAdminGroupChanges.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Persistence/ScheduledTaskCreation.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/DetectMultipleSignsOfRamsomwareActivity.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/IcedIdSuspiciousImageLoad.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/LogDeletionUsingWevtutil.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/MDEExclusionUsingPowerShell.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/MultiProcessKillWithTaskKill.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/PotentialCobaltStrikeRansomwareActivity.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/QakbotDiscoveryActivities.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/ShadowCopyDeletion.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Ransomware/TurningOffServicesWithSCCommad.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/TVM/Detect_CISA_Alert_AA22-117A2021_Top_Routinely_Exploited_Vulnerabilities.yaml
Labels: Solution

#9965 Resolve data connector deploy to azure error
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/FortinetFortiNdrCloud_API_AzureFunctionApp.json
  Solutions/Fortinet FortiNDR Cloud/Data Connectors/azuredeploy_FortinetFortiNdrCloud_API_FunctionApp.json
  Solutions/Fortinet FortiNDR Cloud/Package/3.0.0.zip
  Solutions/Fortinet FortiNDR Cloud/Package/mainTemplate.json
Labels: Connector, Solution

#9955 Azure Key Vault Analytic Rule Entity Mapping Fix
  Solutions/Azure Key Vault/Analytic Rules/KeyVaultSensitiveOperations.yaml
  Solutions/Azure Key Vault/Analytic Rules/NRT_KeyVaultSensitiveOperations.yaml
  Solutions/Azure Key Vault/Data/Solution_Azure Key Vault.json
  Solutions/Azure Key Vault/Package/3.0.2.zip
  Solutions/Azure Key Vault/Package/mainTemplate.json
  Solutions/Azure Key Vault/ReleaseNotes.md
Labels: Solution, Detection, Content-Package

#10029 Repackage - Legacy IOC and Web Shells for Domain Changes
  Solutions/Legacy IOC based Threat Protection/Data/Solution_Legacy IOC based Threat Protection.json
  Solutions/Legacy IOC based Threat Protection/Package/3.0.4.zip
  Solutions/Legacy IOC based Threat Protection/Package/createUiDefinition.json
  Solutions/Legacy IOC based Threat Protection/Package/mainTemplate.json
  Solutions/Legacy IOC based Threat Protection/ReleaseNotes.md
  Solutions/Web Shells Threat Protection/Data/Solution_WebShellsThreatProtection.json
  Solutions/Web Shells Threat Protection/Package/3.0.2.zip
  Solutions/Web Shells Threat Protection/Package/createUiDefinition.json
  Solutions/Web Shells Threat Protection/Package/mainTemplate.json
  Solutions/Web Shells Threat Protection/Package/testParameters.json
  Solutions/Web Shells Threat Protection/ReleaseNotes.md
Labels: Solution, Content-Package

#9818 UI corrected for Okta single sign on
  Solutions/Ermes Browser Security/ReleaseNotes.md
  Solutions/Okta Single Sign-On/Package/3.0.1.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
Labels: Solution

#9979 Correct type for SrcIpAddr in Usermanagement Schema
  ASIM/dev/ASimTester/ASimTester.csv
Labels: ASIM

#10033 Maybe add "Power Platform CLI - pac" to UnusualGuestActivity.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UnusualGuestActivity.yaml
Labels: Solution, Analytic Rules

#10035 02 23 20224 as playbook updates
  Playbooks/AS-Add-Azure-AD-User-Job-Title-to-Incident/README.md
  Playbooks/AS-Block-Hash-in-Defender/README.md
Labels: Playbook

#10030 Repackage - Multi Cloud Attack & Network Threat PE
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Data/Solution_Multi Cloud Attack Coverage Essentials - Resource Abuse.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/3.0.1.zip
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/createUiDefinition.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/mainTemplate.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/testParameters.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/ReleaseNotes.md
  Solutions/Network Threat Protection Essentials/Data/Solution_NetworkThreatDetection.json
  Solutions/Network Threat Protection Essentials/Hunting Queries/B64IPInURL.yaml
  Solutions/Network Threat Protection Essentials/Hunting Queries/RiskyCommandB64EncodedInUrl.yaml
  Solutions/Network Threat Protection Essentials/Hunting Queries/UseragentExploitPentest.yaml
  Solutions/Network Threat Protection Essentials/Package/3.0.1.zip
  Solutions/Network Threat Protection Essentials/Package/createUiDefinition.json
  Solutions/Network Threat Protection Essentials/Package/mainTemplate.json
  Solutions/Network Threat Protection Essentials/ReleaseNotes.md
Labels: Solution, Content-Package

#10038 Renaming catelog and uri fix
  .script/package-automation/catalogAPI.ps1
  .script/package-automation/newOrExistingSolution.ps1
  .script/package-automation/package-generator.ps1
  Tools/Create-Azure-Sentinel-Solution/V3/README.md
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/README.md
Labels: Tools

#9639 Google Workspace Authentication
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuthentication/ARM/ASimAuthentication/ASimAuthentication.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationGoogleWorkspace/ASimAuthenticationGoogleWorkspace.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationGoogleWorkspace/README.md
  Parsers/ASimAuthentication/ARM/FullDeploymentAuthentication.json
  Parsers/ASimAuthentication/ARM/imAuthentication/imAuthentication.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationGoogleWorkspace/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationGoogleWorkspace/vimAuthenticationGoogleWorkspace.json
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationGoogleWorkspace.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationGoogleWorkspace.yaml
  Parsers/ASimAuthentication/Tests/GoogleWorkspace_ASimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/GoogleWorkspace_ASimAuthentication_SchemaTest.csv
  Parsers/ASimAuthentication/Tests/GoogleWorkspace_vimAuthentication_DataTest.csv
  Parsers/ASimAuthentication/Tests/GoogleWorkspace_vimAuthentication_SchemaTest.csv
Labels: ASIM

#10037 Reverts PR 9947
  Solutions/Recorded Future/Playbooks/IndicatorImport/RecordedFuture-ThreatIntelligenceImport/azuredeploy.json
Labels: Playbook, Solution

#10055 Update MFASpamming.yaml
  Hunting Queries/SigninLogs/MFASpamming.yaml
Labels: Hunting

#9996 Solutions _solutionVersion for resources in packages
  Solutions/Ermes Browser Security/Data/Solution_ErmesBrowserSecurity.json
  Solutions/Ermes Browser Security/Package/3.0.3.zip
  Solutions/Ermes Browser Security/Package/mainTemplate.json
  Solutions/Ermes Browser Security/ReleaseNotes.md
  Solutions/Okta Single Sign-On/Package/3.0.2.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
  Solutions/Palo Alto Prisma Cloud CWPP/Data/Solution_Palo Alto Prisma Cloud CWPP.json
  Solutions/Palo Alto Prisma Cloud CWPP/Package/3.0.3.zip
  Solutions/Palo Alto Prisma Cloud CWPP/Package/mainTemplate.json
  Solutions/Palo Alto Prisma Cloud CWPP/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10027 Update MS-PIM reference
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_UseraddedtoPrivilgedGroups.yaml
Labels: Solution, Analytic Rules

#10057 Update alert rule version in tool
  Tools/ConvertYamlToJson/ConvertSentinelRuleFrom-Yaml.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#10066 Repackaging - Zinc Open Source
  Solutions/Zinc Open Source/Data/Solution_ZINC.json
  Solutions/Zinc Open Source/Package/3.0.2.zip
  Solutions/Zinc Open Source/Package/createUiDefinition.json
  Solutions/Zinc Open Source/Package/mainTemplate.json
  Solutions/Zinc Open Source/ReleaseNotes.md
Labels: Solution, Content-Package

#10065 Repackaged GCP Security Command Center
  Solutions/Google Cloud Platform Security Command Center/Package/3.0.4.zip
  Solutions/Google Cloud Platform Security Command Center/Package/mainTemplate.json
  Solutions/Google Cloud Platform Security Command Center/ReleaseNotes.md
Labels: Solution

#10068 update createUiDefinition of Multi Cloud Attack Coverage Essentials and Network Threat Protection Essentials
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Data/Solution_Multi Cloud Attack Coverage Essentials - Resource Abuse.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/3.0.1.zip
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/createUiDefinition.json
  Solutions/Network Threat Protection Essentials/Data/Solution_NetworkThreatDetection.json
  Solutions/Network Threat Protection Essentials/Package/3.0.1.zip
  Solutions/Network Threat Protection Essentials/Package/createUiDefinition.json
Labels: Solution, Content-Package
