Repository Azure/Azure-Sentinel, pull requests merged in 2024-07, with the labels that each got.

#10683 Update description in README.md for Commvault Sentinel Integration
  Solutions/Commvault Security IQ/README.md
Labels: documentation

#10692 Create DataCollectionRulePowerShellEvents
  DataConnectors/WindowsEvents/DataCollectionRulePowerShellEvents
Labels: Connector

#10521 Add initial solution content for Radiflow
  .script/tests/KqlvalidationsTests/CustomFunctions/RadiflowEvent.json
  .script/tests/KqlvalidationsTests/CustomTables/RadiflowEvent.json
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/Radiflow.svg
  Sample Data/CEF/RadiflowIsid_IngestedLogs.csv
  Sample Data/CEF/RadiflowIsid_RawLogs.txt
  Sample Data/CEF/RadiflowIsid_Schema.csv
  Solutions/Radiflow/Analytic Rules/RadiflowExploitDetected.yaml
  Solutions/Radiflow/Analytic Rules/RadiflowNetworkScanningDetected.yaml
  Solutions/Radiflow/Analytic Rules/RadiflowNewActivityDetected.yaml
  Solutions/Radiflow/Analytic Rules/RadiflowPlatformAlert.yaml
  Solutions/Radiflow/Analytic Rules/RadiflowPolicyViolationDetected.yaml
  Solutions/Radiflow/Analytic Rules/RadiflowSuspiciousMaliciousActivityDetected.yaml
  Solutions/Radiflow/Analytic Rules/RadiflowUnauthorizedCommandinOperationalDevice.yaml
  Solutions/Radiflow/Analytic Rules/RadiflowUnauthorizedInternetAccess.yaml
  Solutions/Radiflow/Data Connectors/RadiflowIsid.json
  Solutions/Radiflow/Data/Solution_Radiflow.json
  Solutions/Radiflow/Package/3.0.0.zip
  Solutions/Radiflow/Package/createUiDefinition.json
  Solutions/Radiflow/Package/mainTemplate.json
  Solutions/Radiflow/Package/testParameters.json
  Solutions/Radiflow/Parsers/RadiflowEvent.yaml
  Solutions/Radiflow/ReleaseNotes.md
  Solutions/Radiflow/SolutionMetadata.json
Labels: Solution

#10724 Modified the query just to get user details
  Detections/ASimAuthentication/imAuthSigninsMultipleCountries.yaml
Labels: ASIM, Parser

#10718 Update Connector_Syslog_CiscoMeraki.json to include firewall logs
  Solutions/CiscoMeraki/Data Connectors/Connector_Syslog_CiscoMeraki.json
Labels: Connector, Solution

#10734 Removing hardcoded variables from playbook
  Playbooks/Get-Recipients-EmailMessageID-containing-URL/azuredeploy.json
Labels: Playbook

#10736 CEFOverview workbook added
  Solutions/Common Event Format/Data/Solution_CommonEventFormat.json
  Solutions/Common Event Format/Package/3.0.1.zip
  Solutions/Common Event Format/Package/createUiDefinition.json
  Solutions/Common Event Format/Package/mainTemplate.json
  Solutions/Common Event Format/Package/testParameters.json
  Solutions/Common Event Format/ReleaseNotes.md
  Solutions/Common Event Format/Workbooks/CEFOverviewWorkbook.json
Labels: Solution, Content-Package

#10312 RecordedFutureIdentity solution update
  Solutions/Recorded Future Identity/Data/Solution_RecordedFutureIdentity.json
  Solutions/Recorded Future Identity/Package/3.0.0.zip
  Solutions/Recorded Future Identity/Package/createUiDefinition.json
  Solutions/Recorded Future Identity/Package/mainTemplate.json
  Solutions/Recorded Future Identity/Package/testParameters.json
  Solutions/Recorded Future Identity/Playbooks/RFI-CustomConnector-0-1-0/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-add-EntraID-security-group-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-confirm-EntraID-risky-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-lookup-and-save-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-search-external-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-search-workforce-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RecordedFutureIdentity-add-AAD-security-group-user.json
  Solutions/Recorded Future Identity/Playbooks/RecordedFutureIdentity-confirm-AAD-risky-user.json
  Solutions/Recorded Future Identity/Playbooks/RecordedFutureIdentity-search-workforce-user.json
  Solutions/Recorded Future Identity/Playbooks/base_external.json
  Solutions/Recorded Future Identity/Playbooks/lookup_and_save.json
  Solutions/Recorded Future Identity/Playbooks/readme.md
  Solutions/Recorded Future Identity/ReleaseNotes.md
Labels: Solution

#10716 Update CiscoMeraki parser to contemplate firewall LogType
  Solutions/CiscoMeraki/Parsers/CiscoMeraki.yaml
Labels: Parser, Solution

#10738 ProofpointTAP - Update Analytic rules
  Solutions/ProofPointTap/Analytic Rules/MalwareAttachmentDelivered.yaml
  Solutions/ProofPointTap/Analytic Rules/MalwareLinkClicked.yaml
Labels: Solution, Analytic Rules, auto-package

#10743 Leaderboard Monthly Update - Update stats.md file with June 2024 Data
  Tools/stats/stats.md
Labels: Tools

#10740 New query for TABL entries
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/New TABL Items.yaml
Labels: Hunting

#10727 Sophos Endpoint Protection package update
  Solutions/Sophos Endpoint Protection/Data Connectors/SophosEP_ccp/SophosEP_PollingConfig.json
  Solutions/Sophos Endpoint Protection/Data Connectors/SophosEP_ccp/SophosEP_Tables.json
  Solutions/Sophos Endpoint Protection/Data Connectors/SophosEP_ccp/azuredeploy_SophosEndpoint_poller_connector.json
  Solutions/Sophos Endpoint Protection/Package/3.0.4.zip
  Solutions/Sophos Endpoint Protection/Package/createUiDefinition.json
  Solutions/Sophos Endpoint Protection/Package/mainTemplate.json
  Solutions/Sophos Endpoint Protection/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#10719 Fixed parameters for authentication of Jira
  Solutions/AtlassianJiraAudit/Package/3.0.3.zip
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
  Solutions/AtlassianJiraAudit/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector

#10739 ProofpointTAP packaged for update in Analytic Rule
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.5.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
Labels: Solution, Content-Package

#10746 Corrected Playbook's metadata
  Solutions/MicrosoftDefenderForEndpoint/Data/Solution_MicrosoftDefenderEndpoint.json
  Solutions/MicrosoftDefenderForEndpoint/Package/3.0.2.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/createUiDefinition.json
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/MicrosoftDefenderForEndpoint/Package/testParameters.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Isolate-MDEMachine/Isolate-MDEMachine-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Isolate-MDEMachine/Isolate-MDEMachine-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEAppExecution/Restrict-MDEAppExecution-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEAppExecution/Restrict-MDEAppExecution-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/Restrict-MDEDomain-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/Restrict-MDEDomain-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEDomain/Restrict-MDEDomain-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEUrl/Restrict-MDEUrl-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEUrl/Restrict-MDEUrl-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEUrl/Restrict-MDEUrl-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Run-MDEAntivirus/Run-MDEAntivirus-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Run-MDEAntivirus/Run-MDEAntivirus-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Unisolate-MDEMachine/Unisolate-MDEMachine-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Unisolate-MDEMachine/Unisolate-MDEMachine-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/ReleaseNotes.md
Labels: Playbook, Solution, Content-Package

#10697 Added the implementation of an API that ingests extensive data of an event
  Solutions/SlashNext SIEM/Data/Solution_SlashNextSIEM.json
  Solutions/SlashNext SIEM/Package/3.1.0.zip
  Solutions/SlashNext SIEM/Package/mainTemplate.json
  Solutions/SlashNext SIEM/Playbook/SlashNextEventConnector/azuredeploy.json
  Solutions/SlashNext SIEM/Playbook/SlashNextSecurityEventForMSSentinel/azuredeploy.json
  Solutions/SlashNext SIEM/ReleaseNotes.md
Labels: Playbook, Solution

#10077 Cyware Solution - Initial Addition
  Logos/cyware-logo.svg
  Solutions/Cyware/Data/Solution_Cyware.json
  Solutions/Cyware/Hunting queries/DetectingSuspiciousPowerShellCommandExecutions.yaml
  Solutions/Cyware/Hunting queries/MatchCywareIntelWatchlistItemsWithCommonLogs.yaml
  Solutions/Cyware/Hunting queries/UnusualNetworkConnectionsToRareExternalDomains.yaml
  Solutions/Cyware/Package/3.0.0.zip
  Solutions/Cyware/Package/createUiDefinition.json
  Solutions/Cyware/Package/mainTemplate.json
  Solutions/Cyware/Package/testParameters.json
  Solutions/Cyware/Playbooks/Send_Incident_To_Cyware_Orchestrate/README.md
  Solutions/Cyware/Playbooks/Send_Incident_To_Cyware_Orchestrate/azuredeploy.json
  Solutions/Cyware/Playbooks/Send_Incident_To_Cyware_Orchestrate/azuredeploy.parameters.json
  Solutions/Cyware/Playbooks/Send_Incident_To_Cyware_Orchestrate/images/Microsoft Sentinel - Configure Data Transformations.png
  Solutions/Cyware/Playbooks/Send_Incident_To_Cyware_Orchestrate/images/Microsoft Sentinel - Send Data To Cyware Orcehstrate.png
  Solutions/Cyware/ReleaseNotes.md
  Solutions/Cyware/SolutionMetadata.json
Labels: Playbook, Solution, Hunting

#10689 Added missing AMA Data Connector reference in Analytic rules
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-TGTs-requested.yaml
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-backup-key-1.yaml
  Solutions/FalconFriday/Analytic Rules/CertifiedPreOwned-backup-key-2.yaml
  Solutions/FalconFriday/Analytic Rules/ExcessiveSharePermissions.yaml
  Solutions/FalconFriday/Data/Solution_FalconFriday.json
  Solutions/FalconFriday/Package/3.0.0.zip
  Solutions/FalconFriday/Package/createUiDefinition.json
  Solutions/FalconFriday/Package/mainTemplate.json
  Solutions/FalconFriday/Package/testParameters.json
  Solutions/FalconFriday/ReleaseNotes.md
  Solutions/Recorded Future/Analytic Rules/RecordedFutureDomainMalwareC2inDNSEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureDomainMalwareC2inSyslogEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureHashObservedInUndergroundinCommonSecurityLog.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureIPMalwareC2inDNSEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureUrlReportedbyInsiktGroupinSyslogEvents.yaml
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.5.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10735 OMS migration changes and repackage of solutions
  Solutions/Infoblox SOC Insights/Analytic Rules/Infoblox-SOCInsightDetected-CDCSource.yaml
  Solutions/Infoblox SOC Insights/Data Connectors/InfobloxSOCInsightsDataConnector_AMA.json
  Solutions/Infoblox SOC Insights/Data Connectors/InfobloxSOCInsightsDataConnector_API.json
  Solutions/Infoblox SOC Insights/Data/Solution_Infoblox_SOC_Insights.json
  Solutions/Infoblox SOC Insights/Package/3.0.2.zip
  Solutions/Infoblox SOC Insights/Package/createUiDefinition.json
  Solutions/Infoblox SOC Insights/Package/mainTemplate.json
  Solutions/Infoblox SOC Insights/Playbooks/Infoblox-SOC-Get-Insight-Details/azuredeploy.json
  Solutions/Infoblox SOC Insights/Playbooks/Infoblox-SOC-Import-Indicators-TI/azuredeploy.json
  Solutions/Infoblox SOC Insights/ReleaseNotes.md
  Solutions/Onapsis Platform/Data Connectors/OnapsisPlatform.json
  Solutions/Onapsis Platform/Data/Solution_Onapsis.json
  Solutions/Onapsis Platform/Package/3.0.0.zip
  Solutions/Onapsis Platform/Package/createUiDefinition.json
  Solutions/Onapsis Platform/Package/mainTemplate.json
  Solutions/Onapsis Platform/Package/testParameters.json
  Solutions/Onapsis Platform/ReleaseNotes.md
  Solutions/Onapsis Platform/SolutionMetadata.json
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-HighSeverityDetection-by-Tactics.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-NewCampaign.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Suspected-Behavior-by-Tactics.yaml
  Solutions/Vectra AI Detect/Data Connectors/template_AIVectraDetectAma.json
  Solutions/Vectra AI Detect/Data/Solution_Vectra AI Detect.json
  Solutions/Vectra AI Detect/Package/3.0.1.zip
  Solutions/Vectra AI Detect/Package/createUiDefinition.json
  Solutions/Vectra AI Detect/Package/mainTemplate.json
  Solutions/Vectra AI Detect/ReleaseNotes.md
  Solutions/WireX Network Forensics Platform/Data Connectors/template_WireXsystemsNFPAMA.json
  Solutions/WireX Network Forensics Platform/Data/Solution_WireXNetworkForensicsPlatform.json
  Solutions/WireX Network Forensics Platform/Package/3.0.1.zip
  Solutions/WireX Network Forensics Platform/Package/createUiDefinition.json
  Solutions/WireX Network Forensics Platform/Package/mainTemplate.json
  Solutions/WireX Network Forensics Platform/Package/testParameters.json
  Solutions/WireX Network Forensics Platform/ReleaseNotes.md
  Solutions/Zscaler Internet Access/Analytic Rules/DiscordCDNRiskyDownload.yaml
  Solutions/Zscaler Internet Access/Analytic Rules/Zscaler-LowVolumeDomainRequests.yaml
  Solutions/Zscaler Internet Access/Data Connectors/template_ZscalerAma.JSON
  Solutions/Zscaler Internet Access/Data/Solution_Zscaler Internet Access.json
  Solutions/Zscaler Internet Access/Package/3.0.2.zip
  Solutions/Zscaler Internet Access/Package/createUiDefinition.json
  Solutions/Zscaler Internet Access/Package/mainTemplate.json
  Solutions/Zscaler Internet Access/ReleaseNotes.md
  Solutions/vArmour Application Controller/Analytic Rules/vArmourApplicationControllerSMBRealmTraversal.yaml
  Solutions/vArmour Application Controller/Data Connectors/template_vArmour_AppControllerAMA.json
  Solutions/vArmour Application Controller/Data/Solution_vArmour.json
  Solutions/vArmour Application Controller/Package/3.0.1.zip
  Solutions/vArmour Application Controller/Package/createUiDefinition.json
  Solutions/vArmour Application Controller/Package/mainTemplate.json
  Solutions/vArmour Application Controller/Package/testParameters.json
  Solutions/vArmour Application Controller/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0

#10754 Repackaging AristaAwakeSecurity And Barracuda - OMS Migration
  Solutions/AristaAwakeSecurity/Analytic Rules/HighMatchCountsByDevice.yaml
  Solutions/AristaAwakeSecurity/Analytic Rules/HighSeverityMatchesByDevice.yaml
  Solutions/AristaAwakeSecurity/Analytic Rules/ModelMatchesWithMultipleDestinationsByDevice.yaml
  Solutions/AristaAwakeSecurity/Data Connectors/Connector_AristaAwakeSecurity_CEF.json
  Solutions/AristaAwakeSecurity/Data/Solution_AristaAwakeSecurity.json
  Solutions/AristaAwakeSecurity/Package/3.0.0.zip
  Solutions/AristaAwakeSecurity/Package/createUiDefinition.json
  Solutions/AristaAwakeSecurity/Package/mainTemplate.json
  Solutions/AristaAwakeSecurity/Package/testParameters.json
  Solutions/AristaAwakeSecurity/ReleaseNotes.md
  Solutions/AristaAwakeSecurity/SolutionMetadata.json
  Solutions/Barracuda WAF/Data Connectors/template_Barracuda.json
  Solutions/Barracuda WAF/Data/Solution_BarracudaWAF.json
  Solutions/Barracuda WAF/Package/3.0.0.zip
  Solutions/Barracuda WAF/Package/createUiDefinition.json
  Solutions/Barracuda WAF/Package/mainTemplate.json
  Solutions/Barracuda WAF/Package/testParameters.json
  Solutions/Barracuda WAF/ReleaseNotes.md
  Solutions/Barracuda WAF/SolutionMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package, P0

#10763 OMS migration changes and repackage of solutions
  Solutions/Claroty/Analytic Rules/ClarotyAssetDown.yaml
  Solutions/Claroty/Analytic Rules/ClarotyCriticalBaselineDeviation.yaml
  Solutions/Claroty/Analytic Rules/ClarotyLoginToUncommonSite.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLogin.yaml
  Solutions/Claroty/Analytic Rules/ClarotyMultipleFailedLoginsSameDst.yaml
  Solutions/Claroty/Analytic Rules/ClarotyNewAsset.yaml
  Solutions/Claroty/Analytic Rules/ClarotyPolicyViolation.yaml
  Solutions/Claroty/Analytic Rules/ClarotySuspiciousActivity.yaml
  Solutions/Claroty/Analytic Rules/ClarotySuspiciousFileTransfer.yaml
  Solutions/Claroty/Analytic Rules/ClarotyTreat.yaml
  Solutions/Claroty/Data Connectors/template_ClarotyAMA.json
  Solutions/Claroty/Data/Solution_Claroty.json
  Solutions/Claroty/Hunting Queries/ClarotyBaselineDeviation.yaml
  Solutions/Claroty/Hunting Queries/ClarotyConflictAssets.yaml
  Solutions/Claroty/Hunting Queries/ClarotyCriticalEvents.yaml
  Solutions/Claroty/Hunting Queries/ClarotyPLCLogins.yaml
  Solutions/Claroty/Hunting Queries/ClarotySRAFailedLogins.yaml
  Solutions/Claroty/Hunting Queries/ClarotyScanSources.yaml
  Solutions/Claroty/Hunting Queries/ClarotyScantargets.yaml
  Solutions/Claroty/Hunting Queries/ClarotyUnapprovedAccess.yaml
  Solutions/Claroty/Hunting Queries/ClarotyUnresolvedAlerts.yaml
  Solutions/Claroty/Hunting Queries/ClarotyWriteExecuteOperations.yaml
  Solutions/Claroty/Package/3.0.2.zip
  Solutions/Claroty/Package/createUiDefinition.json
  Solutions/Claroty/Package/mainTemplate.json
  Solutions/Claroty/Package/testParameters.json
  Solutions/Claroty/ReleaseNotes.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalOrHighSeverityDetectionsByUser.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Analytic Rules/CriticalSeverityDetection.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/template_CrowdStrikeFalconEndpointProtectionAma.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.8.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
  Solutions/FireEye Network Security/Data Connectors/template_FireEyeNX_CEFAMA.json
  Solutions/FireEye Network Security/Data/Solution_FireEye Network Security.json
  Solutions/FireEye Network Security/Package/3.0.1.zip
  Solutions/FireEye Network Security/Package/createUiDefinition.json
  Solutions/FireEye Network Security/Package/mainTemplate.json
  Solutions/FireEye Network Security/Package/testParameters.json
  Solutions/FireEye Network Security/ReleaseNotes.md
  Solutions/KasperskySecurityCenter/Data Connectors/template_KasperskySCAMA.json
  Solutions/KasperskySecurityCenter/Data/Solution_Kaspersky Security Center.json
  Solutions/KasperskySecurityCenter/Package/3.0.1.zip
  Solutions/KasperskySecurityCenter/Package/createUiDefinition.json
  Solutions/KasperskySecurityCenter/Package/mainTemplate.json
  Solutions/KasperskySecurityCenter/Package/testParameters.json
  Solutions/KasperskySecurityCenter/ReleaseNotes.md
  Solutions/Netwrix Auditor/Data Connectors/template_NetwrixAuditorAMA.json
  Solutions/Netwrix Auditor/Data/Solution_Netwrix.json
  Solutions/Netwrix Auditor/Package/3.0.1.zip
  Solutions/Netwrix Auditor/Package/createUiDefinition.json
  Solutions/Netwrix Auditor/Package/mainTemplate.json
  Solutions/Netwrix Auditor/Package/testParameters.json
  Solutions/Netwrix Auditor/ReleaseNotes.md
Labels: Solution, Content-Package

#10764 Repackaged - Citrix Web App Firewall , Cisco Firepower EStreamer
  Solutions/Cisco Firepower EStreamer/Data Connectors/template_CiscoFirepowerEStreamerAMA.json
  Solutions/Cisco Firepower EStreamer/Data/Solution_Cisco Firepower EStreamer.json
  Solutions/Cisco Firepower EStreamer/Package/3.0.1.zip
  Solutions/Cisco Firepower EStreamer/Package/createUiDefinition.json
  Solutions/Cisco Firepower EStreamer/Package/mainTemplate.json
  Solutions/Cisco Firepower EStreamer/Package/testParameters.json
  Solutions/Cisco Firepower EStreamer/ReleaseNotes.md
  Solutions/Citrix Web App Firewall/Data Connectors/template_Citrix_WAFAMA.json
  Solutions/Citrix Web App Firewall/Data/Solution_CitrixWebAppFirewall.json
  Solutions/Citrix Web App Firewall/Package/3.0.1.zip
  Solutions/Citrix Web App Firewall/Package/createUiDefinition.json
  Solutions/Citrix Web App Firewall/Package/mainTemplate.json
  Solutions/Citrix Web App Firewall/Package/testParameters.json
  Solutions/Citrix Web App Firewall/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10745 Update ASIM Tester Workflow
  .github/workflows/runAsimSchemaAndDataTesters.yaml
  .script/tests/asimParsersTest/ASimFilteringTest.py
  .script/tests/asimParsersTest/VerifyASimParserTemplate.py
  .script/tests/asimParsersTest/runAsimTesters.ps1
Labels: ASIM

#10768 release notes added to new Solution
  Solutions/TransmitSecurity/ReleaseNotes.md
Labels: Solution

#10780 Add release notes
  Solutions/Power Platform/ReleaseNotes.md
Labels: documentation

#10672 Update wiz queries with new tables
  .script/dataConnectorValidator.ts
  .script/tests/KqlvalidationsTests/CustomTables/WizAuditLogsV2_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/WizAuditLogs_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/WizIssuesV2_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/WizIssues_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/WizVulnerabilitiesV2_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/WizVulnerabilities_CL.json
  .script/utils/dataConnector.ts
  .script/utils/schemas/Wiz_ConnectorSchema.json
  Solutions/Wiz/Data Connectors/azuredeploy_Connector_Wiz_API_AzureFunction.json
  Solutions/Wiz/Data Connectors/template_WIZ.json
  Solutions/Wiz/Data/Solution_Wiz.json
  Solutions/Wiz/Package/3.0.0.zip
  Solutions/Wiz/Package/createUiDefinition.json
  Solutions/Wiz/Package/mainTemplate.json
  Solutions/Wiz/Package/testParameters.json
  Solutions/Wiz/ReleaseNotes.md
  Solutions/Wiz/Workbooks/WizFindings.json
  Workbooks/WizFindings.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10770 SAP release notes V 3.1.13
  Solutions/SAP/ReleaseNotes.md
Labels: SAP

#10781 TTP added wherever missing - 42Crunch API Protection
  Solutions/42Crunch API Protection/Analytic Rules/APIAPIScaping.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIAnomalyDetection.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIBOLA.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIFirstTimeAccess.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIInvalidHostAccess.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIJWTValidation.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIKiterunnerDetection.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APIRateLimiting.yaml
  Solutions/42Crunch API Protection/Analytic Rules/APISuspiciousLogin.yaml
  Solutions/42Crunch API Protection/Data Connectors/42CrunchAPIProtection.json
  Solutions/42Crunch API Protection/Data/system_generated_metadata.json
  Solutions/42Crunch API Protection/Package/3.0.0.zip
  Solutions/42Crunch API Protection/Package/createUiDefinition.json
  Solutions/42Crunch API Protection/Package/mainTemplate.json
  Solutions/42Crunch API Protection/Package/testParameters.json
  Solutions/42Crunch API Protection/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package, P0, auto-package

#10796 New Quarantine Email Queries
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/High Confidence Phish Released.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Quarantine Release Email Details.yaml
Labels: Hunting

#10778 Repackaged for OMS Migration
  Solutions/Illusive Platform/Analytic Rules/Illusive_Detection_Query.yaml
  Solutions/Illusive Platform/Data Connectors/template_IllusivePlatformAMA.json
  Solutions/Illusive Platform/Data/Solution_IllusiveAttackManagementSystem.json
  Solutions/Illusive Platform/Package/3.0.1.zip
  Solutions/Illusive Platform/Package/createUiDefinition.json
  Solutions/Illusive Platform/Package/mainTemplate.json
  Solutions/Illusive Platform/Package/testParameters.json
  Solutions/Illusive Platform/ReleaseNotes.md
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-DataExfiltrationAttack.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-HighThreatLevelQueryNotBlockedDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyHighThreatLevelQueriesFromSingleHostDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyHighThreatLevelSingleQueryDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyNXDOMAINDNSResponsesDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-CommonSecurityLogMatchFound-MalwareC2.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-InfobloxCDCMatchFound-LookalikeDomains.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-SyslogMatchFound-URL.yaml
  Solutions/Infoblox Cloud Data Connector/Data Connectors/template_InfobloxCloudDataConnectorAMA.json
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/3.0.4.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
  Solutions/Infoblox Cloud Data Connector/ReleaseNotes.md
  Solutions/iboss/Data Connectors/template_ibossAMA.json
  Solutions/iboss/Data/Solution_iboss.json
  Solutions/iboss/Package/3.0.1.zip
  Solutions/iboss/Package/createUiDefinition.json
  Solutions/iboss/Package/mainTemplate.json
  Solutions/iboss/Package/testParameters.json
  Solutions/iboss/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10774 Repackaged for OMS Migration
  Solutions/AI Analyst Darktrace/Data Connectors/template_AIA-DarktraceAMA.json
  Solutions/AI Analyst Darktrace/Data/Solution_AIAnalystDarktrace.json
  Solutions/AI Analyst Darktrace/Package/3.0.1.zip
  Solutions/AI Analyst Darktrace/Package/createUiDefinition.json
  Solutions/AI Analyst Darktrace/Package/mainTemplate.json
  Solutions/AI Analyst Darktrace/Package/testParameters.json
  Solutions/AI Analyst Darktrace/ReleaseNotes.md
  Solutions/Delinea Secret Server/Data Connectors/template_DelineaSecretServerAMA.json
  Solutions/Delinea Secret Server/Data/Solution_DelineaSecretServer.json
  Solutions/Delinea Secret Server/Package/3.0.1.zip
  Solutions/Delinea Secret Server/Package/createUiDefinition.json
  Solutions/Delinea Secret Server/Package/mainTemplate.json
  Solutions/Delinea Secret Server/Package/testParameters.json
  Solutions/Delinea Secret Server/ReleaseNotes.md
  Solutions/ExtraHop Reveal(x)/Data Connectors/template_ExtraHopReveal(x)AMA.json
  Solutions/ExtraHop Reveal(x)/Data/Solution_ExtraHop Reveal(x).json
  Solutions/ExtraHop Reveal(x)/Package/3.0.1.zip
  Solutions/ExtraHop Reveal(x)/Package/createUiDefinition.json
  Solutions/ExtraHop Reveal(x)/Package/mainTemplate.json
  Solutions/ExtraHop Reveal(x)/Package/testParameters.json
  Solutions/ExtraHop Reveal(x)/ReleaseNotes.md
  Solutions/ExtraHop Reveal(x)/SolutionMetadata.json
  Solutions/F5 Networks/Data Connectors/template_F5NetworksAMA.json
  Solutions/F5 Networks/Data/Solution_F5 Networks.json
  Solutions/F5 Networks/Package/3.0.1.zip
  Solutions/F5 Networks/Package/createUiDefinition.json
  Solutions/F5 Networks/Package/mainTemplate.json
  Solutions/F5 Networks/Package/testParameters.json
  Solutions/F5 Networks/ReleaseNotes.md
  Solutions/F5 Networks/SolutionMetadata.json
Labels: Solution, Content-Package, P0

#10769 Repackaged Contrast Protect and CyberArk
  Solutions/Contrast Protect/Analytic Rules/ContrastBlocks.yaml
  Solutions/Contrast Protect/Analytic Rules/ContrastExploits.yaml
  Solutions/Contrast Protect/Analytic Rules/ContrastProbes.yaml
  Solutions/Contrast Protect/Analytic Rules/ContrastSuspicious.yaml
  Solutions/Contrast Protect/Data Connectors/template_ContrastProtectAMA.json
  Solutions/Contrast Protect/Data/Solution_Contrast Protect.json
  Solutions/Contrast Protect/Package/3.0.1.zip
  Solutions/Contrast Protect/Package/createUiDefinition.json
  Solutions/Contrast Protect/Package/mainTemplate.json
  Solutions/Contrast Protect/Package/testParameters.json
  Solutions/Contrast Protect/ReleaseNotes.md
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data Connectors/CyberArk Data Connector.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data Connectors/template_CyberArkAMA.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Data/Solution_CyberArkEPVEvents.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/3.0.2.zip
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/createUiDefinition.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/mainTemplate.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/Package/testParameters.json
  Solutions/CyberArk Enterprise Password Vault (EPV) Events/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10782 Added TTP wherever missing - Standalone Rules
  Detections/ASimProcess/imProcess_SolarWinds_SUNBURST_Process-IOCs.yaml
  Detections/ASimWebSession/UnusualUACryptoMiners.yaml
  Detections/ASimWebSession/UnusualUAHackTool.yaml
  Detections/ASimWebSession/UnusualUAPowershell.yaml
  Detections/CommonSecurityLog/Wazuh-Large_Number_of_Web_errors_from_an_IP.yaml
  Detections/DuoSecurity/TrustMonitorEvent.yaml
  Detections/Heartbeat/MissingDCHearbeat.yaml
  Detections/Heartbeat/OMI_vulnerability_detection.yaml
  Detections/ZoomLogs/SupiciousLinkSharing.yaml
Labels: Detection

#10783 Update analytic rules for missing TTP - Amazon Web Services
  Solutions/Amazon Web Services/Analytic Rules/AWS_ClearStopChangeTrailLogs.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_FullAdminPolicyAttachedToRolesUsersGroups.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_LogTampering.yaml
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/3.0.3.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
  Solutions/Amazon Web Services/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package, auto-package

#10824 Repackage Multicloud
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/3.0.3.zip
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/Package/mainTemplate.json
  Solutions/Multi Cloud Attack Coverage Essentials - Resource Abuse/ReleaseNotes.md
Labels: Solution

#10825 Create SyslogCEFConnectors.csv for PR #10762
  DataConnectors/SyslogCEFConnectors.csv
Labels: Solution

#10757 Updates to Radiflow directory
  Solutions/Radiflow/Package/3.0.0.zip
  Solutions/Radiflow/Package/createUiDefinition.json
  Solutions/Radiflow/Package/mainTemplate.json
  Solutions/Radiflow/Package/testParameters.json
  Solutions/Radiflow/ReleaseNotes.md
  Solutions/Radiflow/SolutionMetadata.json
Labels: Solution

#10710 Update Network Session ASIM parser for Cisco Meraki
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoMeraki.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoMeraki.yaml
Labels: ASIM

#10829 Updated package to 3.0.1 for Morphisec solution
  Solutions/Morphisec/Data/Solution_Morphisec.json
  Solutions/Morphisec/Package/3.0.0.zip
  Solutions/Morphisec/Package/3.0.1.zip
  Solutions/Morphisec/Package/mainTemplate.json
Labels: Solution, Content-Package, P0

#10821 Use case mapper workbook
  Workbooks/Images/Logos/ucasemapper.svg
  Workbooks/Images/Preview/useCaseMapperBlack1.png
  Workbooks/Images/Preview/useCaseMapperBlack2.png
  Workbooks/Images/Preview/useCaseMapperBlack3.png
  Workbooks/Images/Preview/useCaseMapperWhite1.png
  Workbooks/Images/Preview/useCaseMapperWhite2.png
  Workbooks/Images/Preview/useCaseMapperWhite3.png
  Workbooks/WorkbooksMetadata.json
  Workbooks/use cases mapper workbook/README.md
  Workbooks/use cases mapper workbook/deployment.json
  Workbooks/usecasemapper.json
Labels: Workbook

#10813 Oms migration deprecate data connectors in solutions
  Solutions/Forcepoint CASB/Data Connectors/template_Forcepoint CASBAMA.json
  Solutions/Forcepoint CASB/Data/Solution_ForcepointCASB.json
  Solutions/Forcepoint CASB/Package/3.0.1.zip
  Solutions/Forcepoint CASB/Package/createUiDefinition.json
  Solutions/Forcepoint CASB/Package/mainTemplate.json
  Solutions/Forcepoint CASB/Package/testParameters.json
  Solutions/Forcepoint CASB/ReleaseNotes.md
  Solutions/Forcepoint CSG/Data Connectors/template_ForcepointCloudSecurityGatewayAMA.json
  Solutions/Forcepoint CSG/Data/Solution_ForcepointCSG.json
  Solutions/Forcepoint CSG/Package/3.0.2.zip
  Solutions/Forcepoint CSG/Package/createUiDefinition.json
  Solutions/Forcepoint CSG/Package/mainTemplate.json
  Solutions/Forcepoint CSG/ReleaseNotes.md
  Solutions/Forcepoint NGFW/Data Connectors/template_FORCEPOINT_NGFWAMA.json
  Solutions/Forcepoint NGFW/Data/Solution_ForcepointNGFW.json
  Solutions/Forcepoint NGFW/Package/3.0.1.zip
  Solutions/Forcepoint NGFW/Package/createUiDefinition.json
  Solutions/Forcepoint NGFW/Package/mainTemplate.json
  Solutions/Forcepoint NGFW/Package/testParameters.json
  Solutions/Forcepoint NGFW/ReleaseNotes.md
  Solutions/Illumio Core/Data Connectors/Connector_IllumioCore_CEF.json
  Solutions/Illumio Core/Data Connectors/template_IllumioCoreAMA.json
  Solutions/Illumio Core/Data/Solution_IllumioCore.json
  Solutions/Illumio Core/Package/3.0.2.zip
  Solutions/Illumio Core/Package/createUiDefinition.json
  Solutions/Illumio Core/Package/mainTemplate.json
  Solutions/Illumio Core/Package/testParameters.json
  Solutions/Illumio Core/ReleaseNotes.md
Labels: Solution, Content-Package

#10759 Mdvm connector updates
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage.zip
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/GetMDVMData/run.ps1
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/Modules/AzMon.Ingestion/Azure.Core.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/Modules/AzMon.Ingestion/Azure.Identity.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/Modules/AzMon.Ingestion/Azure.Monitor.Ingestion.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/Modules/AzMon.Ingestion/Microsoft.Identity.Client.Extensions.Msal.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/Modules/AzMon.Ingestion/Microsoft.Identity.Client.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/Modules/AzMon.Ingestion/Microsoft.IdentityModel.Abstractions.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/Modules/AzMon.Ingestion/System.ClientModel.dll
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/requirements.psd1
  DataConnectors/M365Defender-VulnerabilityManagement/functionPackage/version.info
  DataConnectors/M365Defender-VulnerabilityManagement/nuget.csproj
  DataConnectors/M365Defender-VulnerabilityManagement/readme.md
  DataConnectors/M365Defender-VulnerabilityManagement/releaseNotes.md
Labels: Connector

#10835 Adding reference of cefAma into workbookmetadata.Json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10741 Syslog instructions URL broken
  Solutions/McAfee ePolicy Orchestrator/Data Connectors/Connector_McAfee_ePO.json
  Solutions/McAfee ePolicy Orchestrator/Data/Solution_McAfee.json
  Solutions/McAfee ePolicy Orchestrator/Package/3.0.0.zip
  Solutions/McAfee ePolicy Orchestrator/Package/createUiDefinition.json
  Solutions/McAfee ePolicy Orchestrator/Package/mainTemplate.json
  Solutions/McAfee ePolicy Orchestrator/Package/testParameters.json
  Solutions/McAfee ePolicy Orchestrator/ReleaseNotes.md
Labels: Connector, Solution

#10652 Adding new workflow for scanning secrets in commits
  .github/workflows/ScanSecrets.yaml
  .script/SecretScanning/Excludepathlist
Labels: workflows

#10837 fixed YAML file
  Solutions/SpyCloud Enterprise Protection/Analytic Rules/SpyCloudEnterpriseProtectionMalwareRule.yaml
  Solutions/SpyCloud Enterprise Protection/Data/Solution_Spycloud_Enterprise_Protection.json
  Solutions/SpyCloud Enterprise Protection/Package/3.0.1.zip
  Solutions/SpyCloud Enterprise Protection/Package/createUiDefinition.json
  Solutions/SpyCloud Enterprise Protection/Package/mainTemplate.json
  Solutions/SpyCloud Enterprise Protection/Package/testParameters.json
  Solutions/SpyCloud Enterprise Protection/Playbooks/SpyCloud-Breach-Playbook/readme.md
  Solutions/SpyCloud Enterprise Protection/Playbooks/SpyCloud-Get-Domain-Breach-Data-Playbook/readme.md
  Solutions/SpyCloud Enterprise Protection/Playbooks/SpyCloud-Get-Email-Breach-Data-Playbook/readme.md
  Solutions/SpyCloud Enterprise Protection/Playbooks/SpyCloud-Get-IP-Breach-Data-Playbook/readme.md
  Solutions/SpyCloud Enterprise Protection/Playbooks/SpyCloud-Get-Username-Breach-Data-Playbook/readme.md
  Solutions/SpyCloud Enterprise Protection/Playbooks/SpyCloud-Malware-Playbook/readme.md
  Solutions/SpyCloud Enterprise Protection/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package, P0

#10822 Update Analytical Rule for missing technique - SlackAudit
  Solutions/SlackAudit/Analytic Rules/SlackAuditUnknownUA.yaml
Labels: Solution, Analytic Rules, P0

#10823 Update Analytic rules for missing TTPs - Snowflake, Symantec Endpoint Protection, SymantecProxySG
  Solutions/Snowflake/Analytic Rules/SnowflakeDiscoveryActivity.yaml
  Solutions/Symantec Endpoint Protection/Analytic Rules/MalwareDetected.yaml
  Solutions/SymantecProxySG/Analytic Rules/ExcessiveDeniedProxyTraffic.yaml
  Solutions/SymantecProxySG/Analytic Rules/UserAccessedSuspiciousURLCategories.yaml
Labels: Solution, Analytic Rules, P0

#10827 Update Analytic Rules for missing TTPs - CTM360
  Solutions/CTM360/Analytic Rules/AutoGeneratedPage.yaml
  Solutions/CTM360/Analytic Rules/BrandAbuse.yaml
  Solutions/CTM360/Analytic Rules/BrandImpersonationHIGH.yaml
  Solutions/CTM360/Analytic Rules/BrandImpersonationINFO.yaml
  Solutions/CTM360/Analytic Rules/CodeRepository.yaml
  Solutions/CTM360/Analytic Rules/CompromisedCards.yaml
  Solutions/CTM360/Analytic Rules/CookiesHttponlyFlagNotUsed.yaml
  Solutions/CTM360/Analytic Rules/CookiesSamesiteFlagNotUsed.yaml
  Solutions/CTM360/Analytic Rules/CookiesSecureFlagNotUsed.yaml
  Solutions/CTM360/Analytic Rules/DMARCNotConfigured.yaml
  Solutions/CTM360/Analytic Rules/DomainInfringemen.yaml
  Solutions/CTM360/Analytic Rules/ExecutiveImpersonation.yaml
  Solutions/CTM360/Analytic Rules/ExposedAdminLoginPage.yaml
  Solutions/CTM360/Analytic Rules/ExposedEmailAddress.yaml
  Solutions/CTM360/Analytic Rules/ExposedUserList.yaml
  Solutions/CTM360/Analytic Rules/HeaderContentSecurityPolicyMissing.yaml
  Solutions/CTM360/Analytic Rules/HeaderHTTPStrictTransportSecurityMissing.yaml
  Solutions/CTM360/Analytic Rules/HeaderReferrerPolicyMissing.yaml
  Solutions/CTM360/Analytic Rules/HeaderWebServerExposed.yaml
  Solutions/CTM360/Analytic Rules/HeaderXFrameOptionsMissingInformational.yaml
  Solutions/CTM360/Analytic Rules/HeaderXFrameOptionsMissingLow.yaml
  Solutions/CTM360/Analytic Rules/HeaderXFrameOptionsMissingMedium.yaml
  Solutions/CTM360/Analytic Rules/HeaderXXSSProtectionMissing.yaml
  Solutions/CTM360/Analytic Rules/LeakedCredential.yaml
  Solutions/CTM360/Analytic Rules/Phishing.yaml
  Solutions/CTM360/Analytic Rules/SPFNotConfigured.yaml
  Solutions/CTM360/Analytic Rules/SPFPolicySetToSoftFail.yaml
  Solutions/CTM360/Analytic Rules/SubdomainInfringement.yaml
  Solutions/CTM360/Analytic Rules/SubresourceIntegritySRINotImplemented.yaml
  Solutions/CTM360/Analytic Rules/SuspiciousMobileAppHigh.yaml
  Solutions/CTM360/Analytic Rules/SuspiciousMobileAppINFO.yaml
  Solutions/CTM360/Analytic Rules/TLSCertificateHostnameMismatch.yaml
  Solutions/CTM360/Analytic Rules/TLSCertificateUsingWeakCipherInformational.yaml
  Solutions/CTM360/Analytic Rules/TLSCertificateUsingWeakCipherMedium.yaml
  Solutions/CTM360/Analytic Rules/Tlsv11InUseInfo.yaml
  Solutions/CTM360/Analytic Rules/Tlsv11InUseMedium.yaml
  Solutions/CTM360/Analytic Rules/Tlsv1InUseLow.yaml
  Solutions/CTM360/Analytic Rules/Tlsv1InUseMedium.yaml
Labels: Solution, Analytic Rules, P0

#10820 Update Analytic rules for missing techniques - SecurityBridge
  Solutions/SecurityBridge App/Analytical Rules/CriticalEventTriggered.yaml
Labels: Solution, Analytic Rules, P0

#10818 Update Analytic rule for missing Techniques - RedCanary
  Solutions/Red Canary/Analytic Rules/RedCanaryThreatDetection.yaml
Labels: Solution, Analytic Rules, P0

#10815 Updated Analytic rule for missing TTPs - OracleDatabaseAudit
  Solutions/OracleDatabaseAudit/Analytic Rules/OracleDBAuditQueryOnSensitiveTable.yaml
Labels: Solution, Analytic Rules, P0

#10812 Update Analytic rules for missing TTPs - Semperis
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_KerberoskrbtgtAccount.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_RecentsIDHistoryChangesOnADObjects.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_ZerologonVulnerability.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Failed_Logons.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Operations_Critical_Notifications_.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_RBAC_Changes.yaml
Labels: Solution, Analytic Rules, P0

#10811 Update analytic rule for missing TTPs - Network Session Essentials
  Solutions/Network Session Essentials/Analytic Rules/NetworkPortSweepFromExternalNetwork.yaml
Labels: Solution, Analytic Rules, P0

#10799 Update analytic rules for missing TTPs - Azure Firewall
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Deny Rate for Source IP.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Abnormal Port to Protocol.yaml
  Solutions/Azure Firewall/Analytic Rules/Azure Firewall - Multiple Sources Affected by the Same TI Destination.yaml
Labels: Solution, Analytic Rules

#10798 Updated analytic rules for missing TTPs - Cisco SDWAN
  Solutions/Cisco SD-WAN/Analytic Rules/CiscoSDWANSentinelIPSEventThreshold.yaml
  Solutions/Cisco SD-WAN/Analytic Rules/CiscoSDWANSentinelIntrusionEvents.yaml
  Solutions/Cisco SD-WAN/Analytic Rules/CiscoSDWANSentinelMalwareEvents.yaml
  Solutions/Cisco SD-WAN/Analytic Rules/CiscoSDWANSentinelMonitorCriticalIP.yaml
Labels: Solution, Analytic Rules, P0

#10797 Updated analytic rules for missing TTPs - Recorded Future
  Solutions/Recorded Future/Analytic Rules/RecordedFutureDomainMalwareC2inDNSEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureDomainMalwareC2inSyslogEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureIPMalwareC2inAzureActivityEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureIPMalwareC2inDNSEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureUrlReportedbyInsiktGroupinSyslogEvents.yaml
  Solutions/Recorded Future/Analytic Rules/ThreatHunting/RecordedFutureThreatHuntingDomainAllActors.yaml
  Solutions/Recorded Future/Analytic Rules/ThreatHunting/RecordedFutureThreatHuntingHashAllActors.yaml
  Solutions/Recorded Future/Analytic Rules/ThreatHunting/RecordedFutureThreatHuntingIPAllActors.yaml
  Solutions/Recorded Future/Analytic Rules/ThreatHunting/RecordedFutureThreatHuntingUrlAllActors.yaml
Labels: Solution, Analytic Rules, P0

#10795 Update analytic rules for missing TTP - Authomize
  Solutions/Authomize/Analytic Rules/Chain_of_3_or_more_roles.yaml
  Solutions/Authomize/Analytic Rules/Empty_group_with_entitlements.yaml
  Solutions/Authomize/Analytic Rules/IaaS_policy_not_attached_to_any_identity.yaml
  Solutions/Authomize/Analytic Rules/New_service_account_gained_access_to_IaaS_resource.yaml
  Solutions/Authomize/Analytic Rules/Stale_IAAS_policy_attachment_to_role.yaml
Labels: Solution, Analytic Rules, P0

#10794 Update Analytic rules for Entity mapping and missing TTPs - Cisco Umbrella
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaConnectionNon-CorporatePrivateNetwork.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaConnectionToUnpopularWebsiteDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaCryptoMinerUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaEmptyUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaHackToolUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaPowershellUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaRareUserAgentDetected.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaRequestAllowedHarmfulMaliciousURICategory.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaRequestBlocklistedFileType.yaml
  Solutions/CiscoUmbrella/Analytic Rules/CiscoUmbrellaURIContainsIPAddress.yaml
Labels: Solution, Analytic Rules

#10792 Updated Analytic Rules for missing TTPs - BitSight
  Solutions/BitSight/Analytic Rules/BitSightCompromisedSystemsDetected.yaml
  Solutions/BitSight/Analytic Rules/BitSightDiligenceRiskCategoryDetected.yaml
  Solutions/BitSight/Analytic Rules/BitSightDropInCompanyRatings.yaml
  Solutions/BitSight/Analytic Rules/BitSightDropInHeadlineRating.yaml
  Solutions/BitSight/Analytic Rules/BitSightNewAlertFound.yaml
  Solutions/BitSight/Analytic Rules/BitSightNewBreachFound.yaml
Labels: Solution, Analytic Rules, P0

#10800 Updated analytic rules for missing TTPs - Microsoft Entra ID
  Solutions/Microsoft Entra ID/Analytic Rules/ADFSDomainTrustMods.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/CredentialAddedAfterAdminConsent.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_ADFSDomainTrustMods.yaml
Labels: Solution, Analytic Rules, P0

#10801 Update Analytics Rules for missing TTPs - Dynatrace
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_CodeLevelVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_NonCriticalVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/DynatraceApplicationSecurity_ThirdPartyVulnerabilityDetection.yaml
  Solutions/Dynatrace/Analytic Rules/Dynatrace_ProblemDetection.yaml
Labels: Solution, Analytic Rules, P0

#10802 Update rule for missing TTPs - MDE
  Solutions/MicrosoftDefenderForEndpoint/Hunting Queries/MDE_Process-IOCs.yaml
Labels: Solution, Analytic Rules, P0

#10803 Update Analytic rule for missing technique - log4j
  Solutions/Apache Log4j Vulnerability Detection/Analytic Rules/Log4J_IPIOC_Dec112021.yaml
Labels: Solution, Analytic Rules, P0

#10804 Update Analytic rule for missing techniques - ARGOSCloudSecurity
  Solutions/ARGOSCloudSecurity/Analytic Rules/ExploitableSecurityIssues.yaml
Labels: Solution, Analytic Rules, P0

#10805 Update Analytic for missing techniques - CiscoSecureEndpoint
  Solutions/Cisco Secure Endpoint/Analytic Rules/CiscoEndpointHighAlert.yaml
Labels: Solution, Analytic Rules, P0

#10807 Update analytic rule for missing technique - Endpoint Threat Protection Essentials
  Solutions/Endpoint Threat Protection Essentials/Analytic Rules/malware_in_recyclebin.yaml
Labels: Solution, Analytic Rules, P0

#10809 Update Analytic rule for missing TTPs - GWorkspace
  Solutions/GoogleWorkspaceReports/Analytic Rules/GWorkspaceUnexpectedOSUpdate.yaml
Labels: Solution, Analytic Rules, P0

#10810 Update Analytic rule for missing technique - Jamf Protect
  Solutions/Jamf Protect/Analytic Rules/JamfProtectNetworkThreats.yaml
Labels: Solution, Analytic Rules, P0

#10808 Update Analytic rules for missing techniques - Eset Security Management Center
  Solutions/Eset Security Management Center/Analytic Rules/eset-sites-blocked.yaml
  Solutions/Eset Security Management Center/Analytic Rules/eset-threats.yaml
Labels: Solution, Analytic Rules, P0

#10806 Update Analytical Rules for missing TTPs - Corelight
  Solutions/Corelight/Analytic Rules/CorelightC2RepetitiveFailures.yaml
  Solutions/Corelight/Analytic Rules/CorelightMultipleCompressedFilesTransferredOverHTTP.yaml
Labels: Solution, Analytic Rules, P0

#10787 Update Analytic rules for missing TTP - CiscoISE
  Solutions/Cisco ISE/Analytic Rules/CiscoISEAdminPasswordReset.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEAttempDeleteLocalStoreLogs.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEBackupFailed.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECertExpired.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECmdExecutionWithHighestPrivilegesNewIP.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISECmdExecutionWithHighestPrivilegesNewUser.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEDeviceChangedIP.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISEDevicePostureStatusChanged.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISELogCollectorSuspended.yaml
  Solutions/Cisco ISE/Analytic Rules/CiscoISELogsDeleted.yaml
Labels: Solution, Analytic Rules

#10784 Update Analytic rules for missing TTP - Vectra AI Detect
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Account-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-HighSeverityDetection-by-Tactics.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-Detections.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Host-by-Severity.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-NewCampaign.yaml
  Solutions/Vectra AI Detect/Analytic Rules/VectraDetect-Suspected-Behavior-by-Tactics.yaml
Labels: Solution, Analytic Rules, P0

#10785 Update Analytic rules for missing TTP - Ubiquiti UniFi
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiL2RFTP.yaml
  Solutions/Ubiquiti UniFi/Analytic Rules/UbiquitiUnusualTraffic.yaml
  Solutions/Ubiquiti UniFi/Data/Solution_Ubiquiti UniFi.json
  Solutions/Ubiquiti UniFi/Package/3.0.1.zip
  Solutions/Ubiquiti UniFi/Package/createUiDefinition.json
  Solutions/Ubiquiti UniFi/Package/mainTemplate.json
  Solutions/Ubiquiti UniFi/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10786 Update Analytic rule for missing TTP - AzureDevOpsAuditing
  Solutions/AzureDevOpsAuditing/Analytic Rules/ADOPATUsedWithBrowser.yaml
  Solutions/AzureDevOpsAuditing/Data/Solution_AzureDevOpsAuditing.json
  Solutions/AzureDevOpsAuditing/Package/3.0.3.zip
  Solutions/AzureDevOpsAuditing/Package/createUiDefinition.json
  Solutions/AzureDevOpsAuditing/Package/mainTemplate.json
  Solutions/AzureDevOpsAuditing/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10849 Adding Access Package Query
  Hunting Queries/AuditLogs/ApprovedAccessPackagesDetails.yaml
Labels: Hunting

#10732 Varonis saas dev
  Solutions/VaronisSaaS/Data Connectors/Varonis.Sentinel.Functions.zip
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/NuGet.config
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/Constants.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/DatAlert/DatAlertClient.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/DatAlert/DatAlertParams.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/FetchDataFunction.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/Helpers/CustomParser.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/Helpers/SearchAlertObjectMapper.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/Search/AlertSearchQueryBuilder.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/Search/Model/AlertAttributes.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/Search/Model/AlertItem.cs
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/local.settings.json
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaS_API_FunctionApp.json
  Solutions/VaronisSaaS/Data Connectors/azuredeploy.bicep
  Solutions/VaronisSaaS/Data Connectors/azuredeploy.json
  Solutions/VaronisSaaS/Data/Solution_VaronisSaaS.json
  Solutions/VaronisSaaS/Package/3.0.0.zip
  Solutions/VaronisSaaS/Package/createUiDefinition.json
  Solutions/VaronisSaaS/Package/mainTemplate.json
  Solutions/VaronisSaaS/README.md
  Solutions/VaronisSaaS/ReleaseNotes.md
  Solutions/VaronisSaaS/Workbooks/VaronisSaaS.json
Labels: Solution

#10816 Update Analytic rule for missing TTPs - PaloAltoPANOS
  Solutions/PaloAlto-PAN-OS/Analytic Rules/FileHashEntity_Covid19_CommonSecurityLog.yaml
Labels: Solution, Analytic Rules, P0

#10755 Recorded future playbook updates
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.6.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/Alerts/RecordedFuture-Playbook-Alert-Importer/azuredeploy.json
  Solutions/Recorded Future/Playbooks/Alerts/create_incident.png
  Solutions/Recorded Future/Playbooks/Alerts/readme.md
  Solutions/Recorded Future/Playbooks/Enrichment/RecordedFuture-IOC_Enrichment/azuredeploy.json
  Solutions/Recorded Future/Playbooks/Images/LogicAppVersion.png
  Solutions/Recorded Future/Playbooks/readme.md
  Solutions/Recorded Future/ReleaseNotes.md
Labels: Solution

#10839 Updated the name of data table as well as a few nodes of data.
  Solutions/SlashNext SIEM/Data/Solution_SlashNextSIEM.json
  Solutions/SlashNext SIEM/Package/3.1.0.zip
  Solutions/SlashNext SIEM/Package/mainTemplate.json
  Solutions/SlashNext SIEM/Playbook/SlashNextEventConnector/azuredeploy.json
  Solutions/SlashNext SIEM/Playbook/SlashNextSecurityEventForMSSentinel/azuredeploy.json
  Solutions/SlashNext SIEM/ReleaseNotes.md
Labels: Solution

#10726 Illumio integration ga branch
  .script/tests/KqlvalidationsTests/CustomTables/Illumio_Flow_Events_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/Illumio_Workloads_Summarized_API_CL.json
  Sample Data/Custom/Illumio/Illumio_FlowEventsIngestedLogs.csv
  Sample Data/Custom/Illumio/Illumio_FlowEventsRawLogs.json
  Sample Data/Custom/Illumio/Illumio_WorkloadAPISummarizedRawLogs.json
  Sample Data/Custom/Illumio/Illumio_WorkloadAPISummarizedSchema.csv
  Solutions/IllumioSaaS/Data Connectors/IllumioSaaS_FunctionApp.json
  Solutions/IllumioSaaS/Data Connectors/QueueManagerFunctionApp/azure_storage_queue.py
  Solutions/IllumioSaaS/Data Connectors/QueueManagerFunctionApp/function.json
  Solutions/IllumioSaaS/Data Connectors/QueueManagerFunctionApp/queue_manager.py
  Solutions/IllumioSaaS/Data Connectors/QueueTriggerFuncApp/DeployFunctionApp/azuredeploy_QueueTrigger_FunctionApp.json
  Solutions/IllumioSaaS/Data Connectors/QueueTriggerFuncApp/DeployFunctionApp/azuredeploy_QueueTrigger_FunctionApp.parameters.json
  Solutions/IllumioSaaS/Data Connectors/QueueTriggerFuncApp/DeployFunctionApp/createUiDefinitionQueueTrigger.json
  Solutions/IllumioSaaS/Data Connectors/QueueTriggerFuncApp/azure_queue_trigger.py
  Solutions/IllumioSaaS/Data Connectors/QueueTriggerFuncApp/sentinel_connector.py
  Solutions/IllumioSaaS/Data Connectors/README.md
  Solutions/IllumioSaaS/Data Connectors/TimedApiFunctionApp/api_response.py
  Solutions/IllumioSaaS/Data Connectors/TimedApiFunctionApp/function.json
  Solutions/IllumioSaaS/Data Connectors/TimedApiFunctionApp/readme.md
  Solutions/IllumioSaaS/Data Connectors/TimedSQSFunctionApp/aws_queue.py
  Solutions/IllumioSaaS/Data Connectors/TimedSQSFunctionApp/azure_storage_queue.py
  Solutions/IllumioSaaS/Data Connectors/TimedSQSFunctionApp/function.json
  Solutions/IllumioSaaS/Data Connectors/azure_storage_queue.py
  Solutions/IllumioSaaS/Data Connectors/azuredeploy_IllumioSaaS_FunctionApp.json
  Solutions/IllumioSaaS/Data Connectors/azuredeploy_IllumioSaaS_FunctionApp.parameters.json
  Solutions/IllumioSaaS/Data Connectors/constants.py
  Solutions/IllumioSaaS/Data Connectors/createUiDefinition.json
  Solutions/IllumioSaaS/Data Connectors/host.json
  Solutions/IllumioSaaS/Data Connectors/requirements.txt
  Solutions/IllumioSaaS/Data Connectors/sentinel_connector.py
  Solutions/IllumioSaaS/Package/3.1.0.zip
  Solutions/IllumioSaaS/Package/createUiDefinition.json
  Solutions/IllumioSaaS/Package/mainTemplate.json
  Solutions/IllumioSaaS/Package/testParameters.json
  Solutions/IllumioSaaS/Workbooks/IllumioAuditableEvents.json
  Solutions/IllumioSaaS/Workbooks/IllumioFlowData.json
  Solutions/IllumioSaaS/Workbooks/IllumioWorkloadsStats.json
  Solutions/IllumioSaaS/data/Solution_IllumioSaaS.json
  Workbooks/Images/Preview/IllumioWorkloadsSummarizedBlack.png
  Workbooks/Images/Preview/IllumioWorkloadsSummarizedWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10848 Update solutionId to match Partner Center
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Data/Solution_AzureCloudNGFWByPaloAltoNetworks.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/3.0.0.zip
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/createUiDefinition.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/mainTemplate.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/SolutionMetadata.json
Labels: Solution

#10852 Fix YAML file for the solution Veritas Netbackup
  Solutions/CiscoSEG/ReleaseNotes.md
  Solutions/Veritas NetBackup/Analytic Rules/NetBackup_many_Anomalies.yaml
  Solutions/Veritas NetBackup/Data/Solution_NetBackup.json
  Solutions/Veritas NetBackup/Package/3.0.0.zip
  Solutions/Veritas NetBackup/Package/createUiDefinition.json
  Solutions/Veritas NetBackup/Package/mainTemplate.json
  Solutions/Veritas NetBackup/SolutionMetadata.json
Labels: Solution, Analytic Rules, Content-Package

#10854 Update Radiflow Logo
  Logos/Radiflow.svg
Labels: Logo

#10843 Oms syslog solution migration partner
  Solutions/ESETPROTECT/Analytic Rules/ESETThreatDetected.yaml
  Solutions/ESETPROTECT/Analytic Rules/ESETWebsiteBlocked.yaml
  Solutions/ESETPROTECT/Data Connectors/Connector_Syslog_ESETPROTECT.json
  Solutions/ESETPROTECT/Data/Solution_ESETPROTECT.json
  Solutions/ESETPROTECT/Package/3.0.0.zip
  Solutions/ESETPROTECT/Package/createUiDefinition.json
  Solutions/ESETPROTECT/Package/mainTemplate.json
  Solutions/ESETPROTECT/Package/testParameters.json
  Solutions/ESETPROTECT/ReleaseNotes.md
  Solutions/Nasuni/Analytic Rules/RansomwareAttackDetected.yaml
  Solutions/Nasuni/Analytic Rules/RansomwareClientBlocked.yaml
  Solutions/Nasuni/Data Connectors/Nasuni Data Connector.json
  Solutions/Nasuni/Data/Solution_Nasuni.json
  Solutions/Nasuni/Hunting Queries/FileDeleteEvents.yaml
  Solutions/Nasuni/Package/3.0.2.zip
  Solutions/Nasuni/Package/createUiDefinition.json
  Solutions/Nasuni/Package/mainTemplate.json
  Solutions/Nasuni/Package/testParameters.json
  Solutions/Nasuni/ReleaseNotes.md
  Solutions/Watchguard Firebox/Data Connectors/Connector_syslog_WatchGuardFirebox.json
  Solutions/Watchguard Firebox/Data/Solution_WatchguardFirebox.json
  Solutions/Watchguard Firebox/Package/3.0.0.zip
  Solutions/Watchguard Firebox/Package/createUiDefinition.json
  Solutions/Watchguard Firebox/Package/mainTemplate.json
  Solutions/Watchguard Firebox/Package/testParameters.json
  Solutions/Watchguard Firebox/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10850 Remove comment only at the beginning of the line
  DataConnectors/Syslog/Forwarder_AMA_installer.py
Labels: Connector, Solution

#10777 Make 'tactics' and 'relevantTechniques' properties mandatory
  .script/tests/detectionTemplateSchemaValidation/Models/AnalyticsTemplateInternalModelBase.cs
  .script/tests/detectionTemplateSchemaValidation/Models/ModelValidationAttributes/KillChainTechniquesHelper.cs
Labels: scripts

#10841 Updated the "Workspace" type from resource type picker to resource picker
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/3.0.8.zip
  Solutions/Windows Security Events/Package/mainTemplate.json
  Solutions/Windows Security Events/ReleaseNotes.md
  Solutions/Windows Security Events/Workbooks/EventAnalyzer.json
Labels: Workbook, Solution, Content-Package

#10842 Updated SOCProcessFramework Workbook - Table markdown from "| : |" to "| - |"
  Solutions/SOC-Process-Framework/Package/3.0.1.zip
  Solutions/SOC-Process-Framework/Package/createUiDefinition.json
  Solutions/SOC-Process-Framework/Package/mainTemplate.json
  Solutions/SOC-Process-Framework/Package/testParameters.json
  Solutions/SOC-Process-Framework/ReleaseNotes.md
  Solutions/SOC-Process-Framework/Watchlists/SOC-Maturity-Assessment/SOCMA.json
  Solutions/SOC-Process-Framework/Watchlists/SOC-Recommended-Actions/SocRA.json
  Solutions/SOC-Process-Framework/Workbooks/SOCProcessFramework.json
Labels: Workbook, Solution, Content-Package

#10868 Updated link for Custom Connector redirection in playbooks MD O365
  Solutions/Microsoft Defender for Office 365/Package/3.0.2.zip
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
  Solutions/Microsoft Defender for Office 365/Package/testParameters.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockMalwareFileExtension/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender-EntityTrigger/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSender/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-BlockSpamDomain/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/Playbooks/O365DefenderPlaybooks/o365-DeleteMaliciousInboxRule/azuredeploy.json
  Solutions/Microsoft Defender for Office 365/ReleaseNotes.md
Labels: Solution, Content-Package

#10872 Update Analytic rule for missing TTPs - Theom
  Solutions/Theom/Analytic Rules/TRIS0001_Dev_secrets_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0002_National_IDs_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0003_Financial_data_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0004_Healthcare_data_unencrypted.yaml
  Solutions/Theom/Analytic Rules/TRIS0005_Unencrypted_public_data_stores.yaml
  Solutions/Theom/Analytic Rules/TRIS0007-10_TRIS0014_Critical_data_in_API_headers_or_body.yaml
  Solutions/Theom/Analytic Rules/TRIS0012_Dev_secrets_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0015_Healthcare_data_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0018_National_IDs_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0026_Financial_data_exposed.yaml
  Solutions/Theom/Analytic Rules/TRIS0032_Dark_Data_with_large_fin_value.yaml
  Solutions/Theom/Analytic Rules/TRIS0033_Least_priv_large_value_shadow_DB.yaml
  Solutions/Theom/Analytic Rules/TRIS0034_Overprovisioned_Roles_Shadow_DB.yaml
  Solutions/Theom/Analytic Rules/TRIS0035_Shadow_DB_large_datastore_value.yaml
  Solutions/Theom/Analytic Rules/TRIS0036_Shadow_DB_with_atypical_accesses.yaml
  Solutions/Theom/Analytic Rules/TheomRisksCritical.yaml
  Solutions/Theom/Analytic Rules/TheomRisksHigh.yaml
  Solutions/Theom/Analytic Rules/TheomRisksInsights.yaml
  Solutions/Theom/Analytic Rules/TheomRisksLow.yaml
  Solutions/Theom/Analytic Rules/TheomRisksMedium.yaml
Labels: P0

#10366 Entity Work April 23
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMEmptyUA.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMHighPrivilegedRoleAdded.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMNewAuthenticationToken.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMNewServiceAccount.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMNewServiceAccountKey.yaml
  Solutions/GoogleCloudPlatformIAM/Analytic Rules/GCPIAMPublicBucket.yaml
  Solutions/Infoblox NIOS/Analytic Rules/ExcessiveNXDOMAINDNSQueries.yaml
  Solutions/Infoblox NIOS/Analytic Rules/PotentialDHCPStarvationAttack.yaml
  Solutions/LastPass/Analytic Rules/TIMapIPEntityToLastPass.yaml
  Solutions/MicrosoftDefenderForEndpoint/Analytic Rules/AquaBlizzardAVHits.yaml
Labels: Solution, CoreEntityFix

#10253 Entity Work April 5 part 1
  Detections/CommonSecurityLog/MultiVendor-PossibleDGAContacts.yaml
  Detections/CommonSecurityLog/TimeSeriesAnomaly-MultiVendor_NetworkTraffic.yaml
  Detections/MultipleDataSources/StarBlizzardDomainsAugust2022.yaml
  Detections/ZoomLogs/SupiciousLinkSharing.yaml
Labels: Detection, CoreEntityFix

#10342 april entity mapping updates diana p3
  Solutions/PaloAlto-PAN-OS/Analytic Rules/FileHashEntity_Covid19_CommonSecurityLog.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureDomainMalwareC2inDNSEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureHashObservedInUndergroundinCommonSecurityLog.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureIPMalwareC2inAzureActivityEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureIPMalwareC2inDNSEvents.yaml
  Solutions/Sophos XG Firewall/Analytic Rules/ExcessiveAmountofDeniedConnectionsfromASingleSource.yaml
  Solutions/Sophos XG Firewall/Analytic Rules/PortScanDetected.yaml
  Solutions/Syslog/Analytic Rules/squid_cryptomining_pools.yaml
  Solutions/Syslog/Analytic Rules/squid_tor_proxies.yaml
  Solutions/Zscaler Internet Access/Analytic Rules/Zscaler-LowVolumeDomainRequests.yaml
Labels: Solution, Analytic Rules, P0

#10870 Update analytic rule for missing TTPs - Symantec Endpoint Protection, Illusive, GitHub
  Solutions/GitHub/Analytic Rules/Security Vulnerability in Repo.yaml
  Solutions/Illusive Platform/Analytic Rules/Illusive_Detection_Query.yaml
  Solutions/Symantec Endpoint Protection/Analytic Rules/ExcessiveBlockedTrafficGeneratedbyUser.yaml
Labels: Solution, Analytic Rules, P0

#10876 Update Solution_MicrosoftDefenderforOffice365.json
  Solutions/Microsoft Defender for Office 365/Data/Solution_MicrosoftDefenderforOffice365.json
Labels: Content-Package

#10878 Updated releasenotes for ForcepointCSG solution
  Solutions/Forcepoint CSG/ReleaseNotes.md
Labels: Solution

#10771 Zerofox/fix connector timeout
  .script/tests/KqlvalidationsTests/CustomTables/ZeroFox_CTI_identity_breach_CL.json
  Solutions/ZeroFox/Data Connectors/CTI/.funcignore
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI.zip
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/advanced_dark_web_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/advanced_dark_web_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/botnet_compromised_credentials_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/botnet_compromised_credentials_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/botnet_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/botnet_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/breaches_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/breaches_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/c2_domains_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/c2_domains_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/compromised_credentials_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/compromised_credentials_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/connections/sentinel.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/connections/zerofox.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/credit_cards_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/credit_cards_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/dark_web_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/dark_web_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/discord_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/discord_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/disruption_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/disruption_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/email_addresses_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/email_addresses_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/exploits_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/exploits_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/host.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/identity_breach_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/identity_breach_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/irc_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/irc_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/malware_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/malware_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/national_ids_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/national_ids_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/phishing_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/phishing_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/phone_numbers_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/phone_numbers_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/ransomware_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/ransomware_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/telegram_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/telegram_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/tests/ZeroFox_test.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/threat_actors_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/threat_actors_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/vulnerabilities_connector/__init__.py
  Solutions/ZeroFox/Data Connectors/CTI/AzureFunctionZeroFoxCTI/vulnerabilities_connector/function.json
  Solutions/ZeroFox/Data Connectors/CTI/ZeroFoxCTI.json
  Solutions/ZeroFox/Data Connectors/CTI/requirements.txt
  Solutions/ZeroFox/Package/3.1.0.zip
  Solutions/ZeroFox/Package/mainTemplate.json
  Solutions/ZeroFox/ReleaseNotes.md
Labels: Connector, Solution

#10042 Added new Playbooks and Fixed issue in VmRecovery playbook
  Solutions/RubrikSecurityCloud/Data/Solution_RubrikSecurityCloud.json
  Solutions/RubrikSecurityCloud/Package/3.2.0.zip
  Solutions/RubrikSecurityCloud/Package/createUiDefinition.json
  Solutions/RubrikSecurityCloud/Package/mainTemplate.json
  Solutions/RubrikSecurityCloud/Package/testParameters.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyAnalysis/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyAnalysis/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyGenerateDownloadableLink/IncidentComment.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyGenerateDownloadableLink/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyGenerateDownloadableLink/RubrikAnomalyGenerateDownloadableLink.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyGenerateDownloadableLink/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyIncidentResponse/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyIncidentResponse/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikDataObjectDiscovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFileObjectContextAnalysis/Images/RubrikFileObjectContextAnalysis.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFileObjectContextAnalysis/Images/Teams-fileinput.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFileObjectContextAnalysis/Images/Teams-objectName-input.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFileObjectContextAnalysis/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFileObjectContextAnalysis/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikIOCScan/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndFileRecovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndVMRecovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRetrieveUserIntelligenceInformation/Images/IncidentComment-UserPolicyHits.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRetrieveUserIntelligenceInformation/Images/IncidentComment-UserRiskDetails.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRetrieveUserIntelligenceInformation/Images/RubrikRetrieveUserIntelligenceInformation.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRetrieveUserIntelligenceInformation/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRetrieveUserIntelligenceInformation/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUserIntelligenceAnalysis/Images/RubrikUserIntelligenceAnalysis.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUserIntelligenceAnalysis/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUserIntelligenceAnalysis/azuredeploy.json
  Solutions/RubrikSecurityCloud/ReleaseNotes.md
  Solutions/RubrikSecurityCloud/SolutionMetadata.json
Labels: Solution

#10869 DNS Essentials - Update hunting queries for missing tactics and version properties
  Solutions/DNS Essentials/Hunting Queries/AnomalousIncreaseInDNSActivityByClients.yaml
  Solutions/DNS Essentials/Hunting Queries/CVE-2020-1350 (SIGRED)ExploitationPattern.yaml
  Solutions/DNS Essentials/Hunting Queries/ConnectionToUnpopularWebsiteDetected.yaml
  Solutions/DNS Essentials/Hunting Queries/DNSQueryWithFailuresInLast24Hours.yaml
  Solutions/DNS Essentials/Hunting Queries/DomainsWithLargeNumberOfSubDomains.yaml
  Solutions/DNS Essentials/Hunting Queries/IncreaseInDNSRequestsByClientThanTheDailyAverageCount.yaml
  Solutions/DNS Essentials/Hunting Queries/PossibleDNSTunnelingOrDataExfiltrationActivity.yaml
  Solutions/DNS Essentials/Hunting Queries/PotentialBeaconingActivity.yaml
  Solutions/DNS Essentials/Hunting Queries/Sources(Clients)WithHighNumberOfErrors.yaml
  Solutions/DNS Essentials/Hunting Queries/UnexpectedTopLevelDomains.yaml
  Solutions/DNS Essentials/Package/3.0.2.zip
  Solutions/DNS Essentials/Package/mainTemplate.json
  Solutions/DNS Essentials/ReleaseNotes.md
Labels: Hunting

#10879 Oms syslog migration solution repackaging
  Solutions/GitLab/Data Connectors/Connector_Syslog_GitLab.json
  Solutions/GitLab/Data/Solution_Gitlab.json
  Solutions/GitLab/Package/3.0.1.zip
  Solutions/GitLab/Package/createUiDefinition.json
  Solutions/GitLab/Package/mainTemplate.json
  Solutions/GitLab/Package/testParameters.json
  Solutions/GitLab/ReleaseNotes.md
  Solutions/ISC Bind/Data Connectors/Connector_Syslog_ISCBind.json
  Solutions/ISC Bind/Data/Solution_ISC Bind.json
  Solutions/ISC Bind/Package/3.0.1.zip
  Solutions/ISC Bind/Package/createUiDefinition.json
  Solutions/ISC Bind/Package/mainTemplate.json
  Solutions/ISC Bind/Package/testParameters.json
  Solutions/ISC Bind/ReleaseNotes.md
  Solutions/Ivanti Unified Endpoint Management/Data Connectors/Ivanti_UEM_Syslog.json
  Solutions/Ivanti Unified Endpoint Management/Data/Solution_Ivanti_Unified_Endpoint_Management_Solution.json
  Solutions/Ivanti Unified Endpoint Management/Package/3.0.0.zip
  Solutions/Ivanti Unified Endpoint Management/Package/createUiDefinition.json
  Solutions/Ivanti Unified Endpoint Management/Package/mainTemplate.json
  Solutions/Ivanti Unified Endpoint Management/Package/testParameters.json
  Solutions/Ivanti Unified Endpoint Management/ReleaseNotes.md
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOAgentHandlerDown.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOAlertError.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOAttemptUninstallAgent.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPODeploymentFailed.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOExceptionAdded.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOFirewallDisabled.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOLoggingError.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOMultipleThreatsSameHost.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOScanningEngineDisabled.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOSpamEmail.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOTaskError.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOThreatNotBlocked.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOUnableCleanDeleteInfectedFile.yaml
  Solutions/McAfee ePolicy Orchestrator/Analytic Rules/McAfeeEPOUpdateFailed.yaml
  Solutions/McAfee ePolicy Orchestrator/Data Connectors/Connector_McAfee_ePO.json
  Solutions/McAfee ePolicy Orchestrator/Data/Solution_McAfee.json
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOAgentErrors.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOApplicationsBlocked.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOEmailThreats.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOInfectedFiles.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOInfectedSystems.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOLongTermInfectedSystems.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOMultipleThreats.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOObjectsNotScanned.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOScanErrors.yaml
  Solutions/McAfee ePolicy Orchestrator/Hunting Queries/McAfeeEPOThreatNotBlocked.yaml
  Solutions/McAfee ePolicy Orchestrator/Package/3.0.1.zip
  Solutions/McAfee ePolicy Orchestrator/Package/createUiDefinition.json
  Solutions/McAfee ePolicy Orchestrator/Package/mainTemplate.json
  Solutions/McAfee ePolicy Orchestrator/ReleaseNotes.md
Labels: Solution, Content-Package

#10666 New Microsoft Defender XDR KQL Discovery
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Hunting Queries/Microsoft 365 Defender/Device Inventory/MDE_FindOutOfDateClients.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_AVScanTimesAndType.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_BlockingASRRules.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_BrowserExtensionInstalled.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_DeviceHealth.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_DeviceInventory-LastUserLoggedIn.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_Evidenceforasingledevice.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindDefenderSettingsOnEndpoints.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindLNKFilesOnEndpoints.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindMountedISOandDriveLetters.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindsPowerShellExecutionEvents.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_FindstatuschangefromExposurelevel.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ListAlPnPDevicesAllowedorBlocked.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ListAllNotOnboardedEnpoints.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_Networktrafficgoingtoport-DNS.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_Networktrafficgoingtoport.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ProxyChangesViaRegistry.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ShowUSBMountedDevicesAndDriveLetter.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_ShowUSBMountedandfilescopied.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_SmartScreenCheck.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDE_SoftwareInventorybyOS.YAML
  Hunting Queries/Microsoft 365 Defender/Discovery/MDI_Find_deleted_accounts_and_by_whom.yaml
  Hunting Queries/Microsoft 365 Defender/Discovery/MDI_Group_Memebership_Changes.yaml
  Hunting Queries/Microsoft 365 Defender/Discovery/MDI_Objects_Moving_OUs.YAML
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/MDO_CountOfRecipientsEmailaddressbySubject.YAML
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/MDO_CountOfSendersEmailaddressbySubject.YAML
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/MDO_Countofrecipientsemailaddressesbysubject.YAML
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/MDO_SummaryOfSenders.YAML
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/MDO_URLClickedinEmail.YAML
Labels: Hunting

#10873 Deprecating duplicate rule with same logic
  Detections/SigninLogs/ExplicitMFADeny.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/ExplicitMFADeny.yaml
  Solutions/Microsoft Entra ID/Package/3.2.7.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Solution

#10886 Cloud NGFW for Azure Sentinel Solution - Update ReleaseNotes link
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/3.0.0.zip
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/createUiDefinition.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/mainTemplate.json
Labels: Solution

#10703 Create-LA-Tables-ADX-ScriptFile.ps1
  Tools/AzureDataExplorer/CreateTables_ADX_ScriptFile/Create-LA-Tables-ADX-ScriptFile.ps1
  Tools/AzureDataExplorer/CreateTables_ADX_ScriptFile/README.md
  Tools/AzureDataExplorer/README.MD
Labels: Tools

#10668 Copy log analytics table
  Tools/Copy-AzOperationalInsightsTable/Copy-AzOperationalInsightsTable.ps1
  Tools/Copy-AzOperationalInsightsTable/README.md
Labels: Tools

#10581 ASimNetworkSessionMicrosoftWindowsEventFirewall.yaml-43
  Parsers/ASimNetworkSession/ARM/ASimNetworkSession/ASimNetworkSession.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoMeraki/ASimNetworkSessionCiscoMeraki.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftSecurityEventFirewall/ASimNetworkSessionMicrosoftSecurityEventFirewall.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftSecurityEventFirewall/README.md
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftWindowsEventFirewall/ASimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionMicrosoftWindowsEventFirewall/README.md
  Parsers/ASimNetworkSession/ARM/FullDeploymentNetworkSession.json
  Parsers/ASimNetworkSession/ARM/imNetworkSession/imNetworkSession.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoMeraki/vimNetworkSessionCiscoMeraki.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftSecurityEventFirewall/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftSecurityEventFirewall/vimNetworkSessionMicrosoftSecurityEventFirewall.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftWindowsEventFirewall/README.md
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionMicrosoftWindowsEventFirewall/vimNetworkSessionMicrosoftWindowsEventFirewall.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftSecurityEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/imNetworkSession.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftSecurityEventFirewall.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionMicrosoftWindowsEventFirewall.yaml
  Parsers/ASimNetworkSession/Tests/SecurityEvent_Firewall_ASimNetworkSession_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/SecurityEvent_Firewall_VimNetworkSession_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/WindowsEvent_Firewall_ASimNetworkSession_SchemaTest.csv
  Parsers/ASimNetworkSession/Tests/WindowsEvent_Firewall_VimNetworkSession_SchemaTest.csv
Labels: ASIM

#10859 add CEF configuration
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/examples/auxiliry-logs/arm-template/deploy-dcr-dce-cef-table.json
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/examples/auxiliry-logs/config/bronze.conf
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/examples/auxiliry-logs/config/logstash.yml
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/examples/auxiliry-logs/config/pipelines.yml
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/examples/auxiliry-logs/config/syslog.conf
Labels: Connector

#10892 Sentinel Logstash Output Plugin: Add rubygems installation instructions to README
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
Labels: Standalone

#10884 Oms migration syslog - Microsoft Sysmon For Linux, Forescout (Legacy)
  Solutions/Forescout (Legacy)/Data Connectors/Forescout_syslog.json
  Solutions/Forescout (Legacy)/Data/Solution_Forescout.json
  Solutions/Forescout (Legacy)/Package/3.0.1.zip
  Solutions/Forescout (Legacy)/Package/createUiDefinition.json
  Solutions/Forescout (Legacy)/Package/mainTemplate.json
  Solutions/Forescout (Legacy)/ReleaseNotes.md
  Solutions/Microsoft Sysmon For Linux/Data Connectors/SysmonForLinux.json
  Solutions/Microsoft Sysmon For Linux/Data/Solution_Linux.json
  Solutions/Microsoft Sysmon For Linux/Package/3.0.0.zip
  Solutions/Microsoft Sysmon For Linux/Package/createUiDefinition.json
  Solutions/Microsoft Sysmon For Linux/Package/mainTemplate.json
  Solutions/Microsoft Sysmon For Linux/Package/testParameters.json
  Solutions/Microsoft Sysmon For Linux/ReleaseNotes.md
Labels: Solution, Content-Package

#10499 SPLITED PARSER FOR OKTA AND OKTAV2
  .script/tests/KqlvalidationsTests/CustomTables/OktaV2_CL.json
  Parsers/ASimAuthentication/ARM/ASimAuthentication/ASimAuthentication.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationOktaOSS/ASimAuthenticationOktaOSS.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationOktaOSS/README.md
  Parsers/ASimAuthentication/ARM/ASimAuthenticationOktaV2/ASimAuthenticationOktaV2.json
  Parsers/ASimAuthentication/ARM/ASimAuthenticationOktaV2/README.md
  Parsers/ASimAuthentication/ARM/FullDeploymentAuthentication.json
  Parsers/ASimAuthentication/ARM/imAuthentication/imAuthentication.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationOktaOSS/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationOktaOSS/vimAuthenticationOktaOSS.json
  Parsers/ASimAuthentication/ARM/vimAuthenticationOktaV2/README.md
  Parsers/ASimAuthentication/ARM/vimAuthenticationOktaV2/vimAuthenticationOktaV2.json
  Parsers/ASimAuthentication/Parsers/ASimAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationOktaOSS.yaml
  Parsers/ASimAuthentication/Parsers/ASimAuthenticationOktaV2.yaml
  Parsers/ASimAuthentication/Parsers/imAuthentication.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationOktaOSS.yaml
  Parsers/ASimAuthentication/Parsers/vimAuthenticationOktaV2.yaml
Labels: ASIM, Parser

#10900 Update WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10882 Updated analytical rules for TTP changes
  Solutions/BitSight/Package/3.0.2.zip
  Solutions/BitSight/Package/mainTemplate.json
  Solutions/BitSight/ReleaseNotes.md
  Solutions/CiscoUmbrella/Package/3.0.2.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/Package/mainTemplate.json
  Solutions/CiscoUmbrella/ReleaseNotes.md
Labels: Solution, Analytic Rules, P0

#10895 Update README.md
  Tools/Sentinel-All-In-One/v2/README.md
Labels: Tools
