Repository Azure/Azure-Sentinel, pull requests merged in 2024-05, with the labels that each got.

#10409 Adding a new workbook on Azure Service Health
  Workbooks/AzureServiceHealthWorkbook.json
  Workbooks/Images/Preview/AzureServiceHealthBlack.png
  Workbooks/Images/Preview/AzureServiceHealthWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#10425 Fixed the 3.0.1 package zip issue.
  Solutions/Armis/Package/3.0.1.zip
Labels: Solution

#10405 Parser Issue fix
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#10408 advance build version for PC update
  Solutions/CyberArkAudit/Package/3.0.1.zip
  Solutions/CyberArkAudit/Package/mainTemplate.json
  Solutions/CyberArkAudit/ReleaseNotes.md
Labels: Solution

#10429 Updated solution for parser name and parent id changes
  Solutions/CiscoSEG/Data/Solution_CiscoSEG.json
  Solutions/CiscoSEG/Package/3.0.2.zip
  Solutions/CiscoSEG/Package/mainTemplate.json
  Solutions/CiscoSEG/ReleaseNotes.md
  Solutions/Dynatrace/Data/Solution_Dynatrace.json
  Solutions/Dynatrace/Package/3.0.1.zip
  Solutions/Dynatrace/Package/createUiDefinition.json
  Solutions/Dynatrace/Package/mainTemplate.json
  Solutions/Dynatrace/ReleaseNotes.md
  Solutions/Fortinet FortiNDR Cloud/Data/Solution_FortiNdrCloud.json
  Solutions/Fortinet FortiNDR Cloud/Package/3.0.1.zip
  Solutions/Fortinet FortiNDR Cloud/Package/mainTemplate.json
  Solutions/Fortinet FortiNDR Cloud/ReleaseNotes.md
Labels: Solution, Content-Package

#10438 Leaderboard Monthly Update - Update stats.md file with May 2024 Data
  Tools/stats/stats.md
Labels: Tools

#10437 Corelight and SentinelOne Solution Repackage
  Solutions/Corelight/Data/Solution_Corelight.json
  Solutions/Corelight/Package/3.0.2.zip
  Solutions/Corelight/Package/createUiDefinition.json
  Solutions/Corelight/Package/mainTemplate.json
  Solutions/Corelight/ReleaseNotes.md
  Solutions/SentinelOne/Data/Solution_SentinelOne.json
  Solutions/SentinelOne/Package/3.0.1.zip
  Solutions/SentinelOne/Package/mainTemplate.json
  Solutions/SentinelOne/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10398 Tenant-based - Defender for Cloud: update data connector to include doc fwlink
  Solutions/Microsoft Defender for Cloud/Data Connectors/MicrosoftDefenderForCloudTenantBased.json
Labels: Connector, Solution

#10397 TI upload indicators - update data connector to include doc fwlink
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
Labels: Connector, Solution

#10435 Repackaged Armis, Netskopev2, AtlassianConfluenceAudit
  Solutions/Armis/Data/Solution_Armis.json
  Solutions/Armis/Package/3.0.2.zip
  Solutions/Armis/Package/createUiDefinition.json
  Solutions/Armis/Package/mainTemplate.json
  Solutions/Armis/ReleaseNotes.md
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/3.0.1.zip
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/ReleaseNotes.md
  Solutions/Netskopev2/Data/Solution_Netskope.json
  Solutions/Netskopev2/Package/3.0.1.zip
  Solutions/Netskopev2/Package/createUiDefinition.json
  Solutions/Netskopev2/Package/mainTemplate.json
  Solutions/Netskopev2/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10434 Repackage - Vectra XDR , Dataminr Pulse
  Solutions/Dataminr Pulse/Data/Solution_DataminrPulse.json
  Solutions/Dataminr Pulse/Package/3.0.3.zip
  Solutions/Dataminr Pulse/Package/createUiDefinition.json
  Solutions/Dataminr Pulse/Package/mainTemplate.json
  Solutions/Dataminr Pulse/ReleaseNotes.md
  Solutions/Vectra XDR/Analytic Rules/DetectXDR_detections.yaml
  Solutions/Vectra XDR/Data/Solution_VectraXDR.json
  Solutions/Vectra XDR/Package/3.1.1.zip
  Solutions/Vectra XDR/Package/createUiDefinition.json
  Solutions/Vectra XDR/Package/mainTemplate.json
  Solutions/Vectra XDR/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10432 Solutions Repackaged to fix Metadata Error
  Solutions/Qualys VM Knowledgebase/Package/3.0.1.zip
  Solutions/Qualys VM Knowledgebase/Package/mainTemplate.json
  Solutions/Qualys VM Knowledgebase/ReleaseNotes.md
  Solutions/Rapid7InsightVM/Data/Solution_InsightVMCloudAPI.json
  Solutions/Rapid7InsightVM/Package/3.0.1.zip
  Solutions/Rapid7InsightVM/Package/mainTemplate.json
  Solutions/Rapid7InsightVM/ReleaseNotes.md
Labels: Solution

#10433 Repackaged-PureStorage and Infoblox SOC Insights Solution
  Solutions/Infoblox SOC Insights/Data/Solution_Infoblox_SOC_Insights.json
  Solutions/Infoblox SOC Insights/Package/3.0.1.zip
  Solutions/Infoblox SOC Insights/Package/createUiDefinition.json
  Solutions/Infoblox SOC Insights/Package/mainTemplate.json
  Solutions/Infoblox SOC Insights/ReleaseNotes.md
  Solutions/Pure Storage/Data/Solution_PureStorage.json
  Solutions/Pure Storage/Package/3.0.1.zip
  Solutions/Pure Storage/Package/mainTemplate.json
  Solutions/Pure Storage/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#10428 Parser issue fixed in Solution
  Solutions/CiscoDuoSecurity/Package/3.0.2.zip
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/ReleaseNotes.md
  Solutions/CiscoUmbrella/Package/3.0.1.zip
  Solutions/CiscoUmbrella/Package/mainTemplate.json
  Solutions/CiscoUmbrella/Parsers/Cisco_Umbrella
  Solutions/CiscoUmbrella/ReleaseNotes.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.4.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
Labels: Solution

#10436 Repackaged Workplce from FB and Zscalar Internet Access
  Solutions/Workplace from Facebook/Data/Solution_WorkplaceFacebook.json
  Solutions/Workplace from Facebook/Package/3.0.1.zip
  Solutions/Workplace from Facebook/Package/mainTemplate.json
  Solutions/Workplace from Facebook/ReleaseNotes.md
  Solutions/Zscaler Internet Access/Data/Solution_Zscaler Internet Access.json
  Solutions/Zscaler Internet Access/Package/3.0.1.zip
  Solutions/Zscaler Internet Access/Package/createUiDefinition.json
  Solutions/Zscaler Internet Access/Package/mainTemplate.json
  Solutions/Zscaler Internet Access/ReleaseNotes.md
Labels: Solution, Content-Package

#10422 Add Codeless connector builder templates
  Tools/CodelessConnectorBuilder/CCP-APIKey.json
  Tools/CodelessConnectorBuilder/CCP-BasicAuth.json
  Tools/CodelessConnectorBuilder/CCP-OAuth2.json
  Tools/CodelessConnectorBuilder/CCP-UI.json
Labels: Tools

#10414 Logstash plugin (legacy) - Update README.md to remove dummy values
  DataConnectors/microsoft-logstash-output-azure-loganalytics/README.md
Labels: Connector

#10418 Update PotentialCobaltStrikeRansomwareActivity.yaml to correct erroneous entity mapping.
  Solutions/Microsoft Defender XDR/Analytic Rules/Ransomware/PotentialCobaltStrikeRansomwareActivity.yaml
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Package/3.0.5.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
Labels: Solution, Content-Package, auto-package

#10443 Correction-in-CrowdStrike-Falcon-Endpoint-Protection zip file
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.4.zip
Labels: Solution

#10379 Added Playbooks and Analytic Rules for Pure Storage Solutions
  Solutions/Pure Storage/Analytic Rules/PureControllerFailed.yaml
  Solutions/Pure Storage/Analytic Rules/PureFailedLogin.yaml
  Solutions/Pure Storage/Data/Solution_PureStorage.json
  Solutions/Pure Storage/Package/3.0.1.zip
  Solutions/Pure Storage/Package/createUiDefinition.json
  Solutions/Pure Storage/Package/mainTemplate.json
  Solutions/Pure Storage/Playbooks/Pure-Storage-Protection-Groups-Snapshot/azuredeploy.json
  Solutions/Pure Storage/Playbooks/Pure-Storage-User-Delete/azuredeploy.json
  Solutions/Pure Storage/Playbooks/Pure-Storage-Volumes-Snapshot/azuredeploy.json
  Solutions/Pure Storage/ReleaseNotes.md
Labels: Solution

#10456 Pure Storage Solution packaged for parser name correction
  Solutions/Pure Storage/Package/3.0.2.zip
  Solutions/Pure Storage/Package/mainTemplate.json
Labels: Solution, P0

#10448 Updated createui for Proofpoint POD
  Solutions/Proofpoint On demand(POD) Email Security/Package/3.0.1.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
Labels: Solution

#10453 fixed a typo in the description
  Solutions/Microsoft 365/Analytic Rules/ExternalUserAddedRemovedInTeams.yaml
  Solutions/Microsoft 365/Package/3.0.2.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/Microsoft 365/ReleaseNotes.md
Labels: Solution

#10430 Fixing bytes ecoding.
  Solutions/HolmSecurity/Data Connectors/AzureFunctionHolmSecurityAssets.zip
  Solutions/HolmSecurity/Data Connectors/AzureFunctionHolmSecurityAssetsConn/__init__.py
Labels: Connector, Solution

#10473 Updating queries and solution for Microsoft Defender XDR
  Solutions/Microsoft Defender XDR/Analytic Rules/Impact/AnomalousVoulmeOfFileDeletion.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Impact/AnomalousVoulmeOfFileDeletion.yaml
  Solutions/Microsoft Defender XDR/Package/3.0.6.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
Labels: Solution

#10477 Update createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
Labels: Tools

#10458 change publisher id in Claroty xDome solution
  Solutions/Claroty xDome/Package/3.0.0.zip
  Solutions/Claroty xDome/Package/mainTemplate.json
  Solutions/Claroty xDome/SolutionMetadata.json
Labels: Solution

#10478 Repackaged Cisco Secure Cloud Analytics
  Solutions/Cisco Secure Cloud Analytics/Data Connectors/Cisco_Stealthwatch_syslog.json
  Solutions/Cisco Secure Cloud Analytics/Data/Solution_CiscoStealthwatch.json
  Solutions/Cisco Secure Cloud Analytics/Package/1.1.0.zip
  Solutions/Cisco Secure Cloud Analytics/Package/2.0.0.zip
  Solutions/Cisco Secure Cloud Analytics/Package/2.0.1.zip
  Solutions/Cisco Secure Cloud Analytics/Package/2.0.2.zip
  Solutions/Cisco Secure Cloud Analytics/Package/3.0.0.zip
  Solutions/Cisco Secure Cloud Analytics/Package/createUiDefinition.json
  Solutions/Cisco Secure Cloud Analytics/Package/mainTemplate.json
  Solutions/Cisco Secure Cloud Analytics/Package/testParameters.json
  Solutions/Cisco Secure Cloud Analytics/Parsers/StealthwatchEvent.yaml
  Solutions/Cisco Secure Cloud Analytics/ReleaseNotes.md
  Solutions/Cisco Secure Cloud Analytics/SolutionMetadata.json
  Solutions/CiscoStealthwatch/Data/Solution_CiscoStealthwatch.json
Labels: Solution, Content-Package

#10485 Repackaged Google Cloud Platform Security Command Center
  Solutions/Google Cloud Platform Security Command Center/Package/3.0.5.zip
  Solutions/Google Cloud Platform Security Command Center/Package/mainTemplate.json
Labels: Solution

#10480 Custom connector issue resolved for playbook
  Solutions/SlashNext SIEM/Package/3.0.0.zip
  Solutions/SlashNext SIEM/Package/createUiDefinition.json
  Solutions/SlashNext SIEM/Package/mainTemplate.json
  Solutions/SlashNext SIEM/Playbook/SlashNextEventConnector/azuredeploy.json
  Solutions/SlashNext SIEM/Playbook/SlashNextSecurityEventForMSSentinel/azuredeploy.json
Labels: Solution, Content-Package, P0

#10462 Add Codeless Connector Builder Workbook
  Workbooks/CodelessConnectorBuilder.json
  Workbooks/Images/Preview/CodelessConnectorBuilderBlack.png
  Workbooks/Images/Preview/CodelessConnectorBuilderWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#10488 Updated release note
  Solutions/Google Cloud Platform Security Command Center/Data/Solution_Google Cloud Platform Security Command Center.json
  Solutions/Google Cloud Platform Security Command Center/ReleaseNotes.md
Labels: documentation, Content-Package

#10489 Update ReleaseNotes.md
  Solutions/Windows Firewall/ReleaseNotes.md
Labels: Solution

#10486 Fix wrong fieldMappings
  Solutions/Windows Security Events/Analytic Rules/password_not_set.yaml
  Solutions/Windows Security Events/Data/Solution_Windows Security Events.json
  Solutions/Windows Security Events/Package/3.0.6.zip
  Solutions/Windows Security Events/Package/mainTemplate.json
  Solutions/Windows Security Events/ReleaseNotes.md
Labels: Solution, Analytic Rules

#10503 ClonePR-10296
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Data/system_generated_metadata.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.1.5.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/Parsers/ExchangeConfiguration.yaml
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
Labels: Solution, Content-Package

#10504 Corrected the solution id to sync with the offer published in the MS partner account.
  Solutions/BitSight/Package/3.0.1.zip
  Solutions/BitSight/Package/mainTemplate.json
  Solutions/BitSight/SolutionMetadata.json
Labels: Solution

#10190 Add CCP v2 connector to Jira solution
  .script/tests/KqlvalidationsTests/CustomTables/JiraAudit.json
  .script/tests/KqlvalidationsTests/CustomTables/Jira_Audit_v2_CL.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector/__init__.py
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector/function.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector/state_manager.py
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector_ccpv2/JiraAudit_DCR.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector_ccpv2/JiraAudit_DataConnectorDefinition.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector_ccpv2/JiraAudit_PollingConfig.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector_ccpv2/JiraAudit_tables.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector_ccpv2/azuredeploy_JiraAudit_poller_connector.json
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAudit_API_FunctionApp.json
  Solutions/AtlassianJiraAudit/Data Connectors/azuredeploy_Connector_JiraAuditAPI_AzureFunction.json
  Solutions/AtlassianJiraAudit/Data Connectors/host.json
  Solutions/AtlassianJiraAudit/Data Connectors/proxies.json
  Solutions/AtlassianJiraAudit/Data Connectors/requirements.txt
  Solutions/AtlassianJiraAudit/Data/Solution_AtlassianJiraAudit.json
  Solutions/AtlassianJiraAudit/Package/3.0.2.zip
  Solutions/AtlassianJiraAudit/Package/createUiDefinition.json
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
  Solutions/AtlassianJiraAudit/Package/testParameters.json
  Solutions/AtlassianJiraAudit/Parsers/JiraAudit.yaml
  Solutions/AtlassianJiraAudit/Playbooks/Add-JiraLinkComment/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/alert-trigger/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/incident-trigger/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Create-Jira-Issue/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Jira-CreateAndUpdateIssue/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-AssignedUser/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-CommentsFunctionApp/Sync-Comment.ps1
  Solutions/AtlassianJiraAudit/Playbooks/Sync-CommentsFunctionApp/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Incidents/readme.md
  Solutions/AtlassianJiraAudit/Playbooks/Sync-Status/azuredeploy.json
  Solutions/AtlassianJiraAudit/Playbooks/readme.md
  Solutions/AtlassianJiraAudit/SolutionMetadata.json
  Solutions/AtlassianJiraAudit/Workbooks/AtlassianJiraAudit.json
Labels: Solution

#10515 Update ReleaseNotes.md
  Solutions/SymantecProxySG/ReleaseNotes.md
Labels: documentation

#10466 Fixed ISSUE #10465 - Sentinel Central Workbook Patch
  Workbooks/Sentinel_Central.json
Labels: Workbook

#10490 Updated connectivity criteria for data connectors
  Solutions/CiscoASA/Data Connectors/CiscoASA.JSON
  Solutions/CiscoASA/Package/3.0.4.zip
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/ReleaseNotes.md
  Solutions/Common Event Format/Data Connectors/CEF.JSON
  Solutions/Common Event Format/Package/3.0.0.zip
  Solutions/Common Event Format/Package/createUiDefinition.json
  Solutions/Common Event Format/Package/mainTemplate.json
  Solutions/Common Event Format/Package/testParameters.json
  Solutions/Common Event Format/ReleaseNotes.md
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence/Package/3.0.4.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#10491 Update azuredeploy.json
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/README.md
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Incident/azuredeploy.json
Labels: Playbook

#10501 Update azuredeploy.json
  Playbooks/AS-IAM-Entra-ID-Master-Playbook/AS-Microsoft-Entra-ID-Revoke-User-Sessions-HTTP/azuredeploy.json
Labels: Playbook

#10500 Update azuredeploy.json
  Playbooks/AS-IAM-Master-Playbook/AS-Microsoft-Entra-ID-Revoke-User-Sessions-HTTP/azuredeploy.json
Labels: Playbook

#10492 Update azuredeploy.json
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/README.md
  Playbooks/AS-Revoke-Azure-AD-User-Session-From-Entity/azuredeploy.json
Labels: Playbook

#10452 Solution packaged to update shorlinks handle
  Solutions/Netskopev2/Data Connectors/NetskopeDataConnector/Netskope_FunctionApp.json
  Solutions/Netskopev2/Data Connectors/NetskopeWebTransactionsDataConnector/Netskope_WebTransactions.json
  Solutions/Netskopev2/Data Connectors/NetskopeWebTransactionsDataConnector/azuredeploy_Connector_NetskopeWebTransaction.json
  Solutions/Netskopev2/Package/3.0.2.zip
  Solutions/Netskopev2/Package/mainTemplate.json
Labels: Solution, Content-Package, P0

#10417 Update AWS_FailedBruteForceS3Bucket.yaml
  Solutions/Amazon Web Services/Hunting Queries/AWS_FailedBruteForceS3Bucket.yaml
  Solutions/Amazon Web Services/Package/3.0.3.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Solution, Hunting

#10535 Update ReleaseNotes.md
  Solutions/Amazon Web Services/ReleaseNotes.md
Labels: Solution

#10514 Updated connector for vcenter
  Solutions/VMware vCenter/Data Connectors/Connector_Syslog_vcenter.json
  Solutions/VMware vCenter/Data/Solution_vcenter.json
  Solutions/VMware vCenter/Package/3.0.1.zip
  Solutions/VMware vCenter/Package/createUiDefinition.json
  Solutions/VMware vCenter/Package/mainTemplate.json
  Solutions/VMware vCenter/Package/testParameters.json
  Solutions/VMware vCenter/ReleaseNotes.md
Labels: Solution, Content-Package

#10541 Update Release Note and Version number in Solution JSON
  Solutions/Fortinet FortiNDR Cloud/Data/Solution_FortiNdrCloud.json
  Solutions/Fortinet FortiNDR Cloud/ReleaseNotes.md
Labels: documentation

#10537 packaged solution for updated in Entity Mappings an updated description of analytical rule
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.2.5.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10546 Update Analytic Rule for MDE XDR Solution
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Package/3.0.7.zip
  Solutions/Microsoft Defender XDR/Package/createUiDefinition.json
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
Labels: Solution, Content-Package

#10547 Fix the Solution ID and updated the package version.
  Solutions/BitSight/Data/Solution_BitSight.json
  Solutions/BitSight/Package/3.0.2.zip
  Solutions/BitSight/Package/mainTemplate.json
Labels: Solution

#10548 Update README.md
  Solutions/README.md
Labels: documentation

#10559 ASIM-Tester-Workflow-Fix
  .github/workflows/runAsimSchemaAndDataTesters.yaml
Labels: ASIM

#10214 Adding Data Connector for Commvault Sentinel Integration
  .script/tests/KqlvalidationsTests/CustomTables/CommvaultSecurityIQ_CL.json
  Sample Data/CommvaultSecurityIQ_CL.json
  Sample Data/CommvaultSecurityIQ_CommvaultEvents_CL.json
  Solutions/Commvault Security IQ/Analytic Rules/CommvaultSecurityIQ_Alert.yaml
  Solutions/Commvault Security IQ/Data Connectors/AzureFunctionCommvaultSecurityIQ/function.json
  Solutions/Commvault Security IQ/Data Connectors/AzureFunctionCommvaultSecurityIQ/main.py
  Solutions/Commvault Security IQ/Data Connectors/CommvaultSecurityIQDataConnector.zip
  Solutions/Commvault Security IQ/Data Connectors/CommvaultSecurityIQ_API_AzureFunctionApp.json
  Solutions/Commvault Security IQ/Data Connectors/azuredeploy_CommvaultSecurityIQ_FunctionApp.json
  Solutions/Commvault Security IQ/Data Connectors/host.json
  Solutions/Commvault Security IQ/Data Connectors/proxies.json
  Solutions/Commvault Security IQ/Data Connectors/requirements.txt
  Solutions/Commvault Security IQ/Data/Solution_Commvault Security IQ.json
  Solutions/Commvault Security IQ/Package/3.0.1.zip
  Solutions/Commvault Security IQ/Package/createUiDefinition.json
  Solutions/Commvault Security IQ/Package/mainTemplate.json
  Solutions/Commvault Security IQ/Package/testParameters.json
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/Images/Playbook_commvault_logic_app1.png
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/Images/Playbook_commvault_logic_app2.png
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/Images/Playbook_commvault_logic_app3.png
  Solutions/Commvault Security IQ/Playbooks/CommvaultLogicApp/Images/Playbook_commvault_logic_app4.png
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_Data_Aging_Logic_App/Images/disable_data_aging1.png
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_Data_Aging_Logic_App/Images/disable_data_aging2.png
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_Data_Aging_Logic_App/Images/disable_data_aging3.png
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_Data_Aging_Logic_App/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_Data_Aging_Logic_App/readme.md
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_SAML_Provider_Logic_App/Images/disable_saml_provider.png
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_SAML_Provider_Logic_App/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_SAML_Provider_Logic_App/readme.md
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_User_Logic_App/Images/disable_user1.png
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_User_Logic_App/Images/disable_user2.png
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_User_Logic_App/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_User_Logic_App/readme.md
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_Data_Aging.ps1
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_Data_Aging.py
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_IDP.ps1
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_IDP.py
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_User.ps1
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_User.py
  Solutions/Commvault Security IQ/ReleaseNotes.md
Labels: Solution

#10560 Update URLEntity_DeviceNetworkEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/URLEntity_DeviceNetworkEvents.yaml
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
Labels: Analytic Rules, auto-package
