Repository Azure/Azure-Sentinel, pull requests merged in 2024-08, with the labels that each got.

#10901 Fix bug for parser rename
  .script/tests/asimParsersTest/runAsimTesters.ps1
Labels: scripts

#10905 Revert Forescout legacy Solution package from 3.0.1 to 3.0.0
  Solutions/Forescout (Legacy)/Data Connectors/Forescout_syslog.json
  Solutions/Forescout (Legacy)/Data/Solution_Forescout.json
  Solutions/Forescout (Legacy)/Package/3.0.1.zip
  Solutions/Forescout (Legacy)/Package/createUiDefinition.json
  Solutions/Forescout (Legacy)/Package/mainTemplate.json
  Solutions/Forescout (Legacy)/ReleaseNotes.md
Labels: Solution, Content-Package

#10898 check if comment already exist for detection in pr
  .github/workflows/addCommentToRemindUpdatingTemplateVersion.yml
Labels: Tools

#10902 Packaging Solution - OMS Migaration related changes
  Solutions/Cisco UCS/Data Connectors/Connector_Syslog_CiscoUCS.json
  Solutions/Cisco UCS/Data/Solution_Cisco UCS.json
  Solutions/Cisco UCS/Package/3.0.0.zip
  Solutions/Cisco UCS/Package/createUiDefinition.json
  Solutions/Cisco UCS/Package/mainTemplate.json
  Solutions/Cisco UCS/ReleaseNotes.md
  Solutions/Citrix ADC/Data Connectors/Connector_CitrixADC_syslog.json
  Solutions/Citrix ADC/Data/Solution_CitrixAdc.json
  Solutions/Citrix ADC/Package/3.0.2.zip
  Solutions/Citrix ADC/Package/createUiDefinition.json
  Solutions/Citrix ADC/Package/mainTemplate.json
  Solutions/Citrix ADC/ReleaseNotes.md
  Solutions/Infoblox NIOS/Analytic Rules/ExcessiveNXDOMAINDNSQueries.yaml
  Solutions/Infoblox NIOS/Analytic Rules/PotentialDHCPStarvationAttack.yaml
  Solutions/Infoblox NIOS/Data Connectors/Connector_Syslog_Infoblox.json
  Solutions/Infoblox NIOS/Data/Solution_InfobloxNIOS.json
  Solutions/Infoblox NIOS/Package/3.0.3.zip
  Solutions/Infoblox NIOS/Package/createUiDefinition.json
  Solutions/Infoblox NIOS/Package/mainTemplate.json
  Solutions/Infoblox NIOS/ReleaseNotes.md
Labels: Solution, Content-Package

#10897 Update Radiflow package version and mainTemplate.json
  Solutions/Radiflow/Package/3.0.1.zip
  Solutions/Radiflow/Package/mainTemplate.json
Labels: Solution

#10566 ASimProcessCreateMicrosoftSysmon.yaml-48
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSysmon/ASimProcessCreateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSysmon/README.md
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSysmonWindowsEvent/ASimProcessCreateMicrosoftSysmonWindowsEvent.json
  Parsers/ASimProcessEvent/ARM/ASimProcessCreateMicrosoftSysmonWindowsEvent/README.md
  Parsers/ASimProcessEvent/ARM/ASimProcessEvent/ASimProcessEvent.json
  Parsers/ASimProcessEvent/ARM/FullDeploymentProcessEvent.json
  Parsers/ASimProcessEvent/ARM/README.md
  Parsers/ASimProcessEvent/ARM/imProcessEvent/imProcessEvent.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSysmon/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSysmon/vimProcessCreateMicrosoftSysmon.json
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSysmonWidowsEvent/README.md
  Parsers/ASimProcessEvent/ARM/vimProcessCreateMicrosoftSysmonWidowsEvent/vimProcessCreateMicrosoftSysmonWidowsEvent.json
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessCreateMicrosoftSysmonWindowsEvent.yaml
  Parsers/ASimProcessEvent/Parsers/ASimProcessEvent.yaml
  Parsers/ASimProcessEvent/Parsers/imProcessEvent.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSysmon.yaml
  Parsers/ASimProcessEvent/Parsers/vimProcessCreateMicrosoftSysmonWidowsEvent.yaml
  Parsers/ASimProcessEvent/test/Create_MicrosoftSysmon_ASimProcessCreate_DataTest.csv
  Parsers/ASimProcessEvent/test/Create_MicrosoftSysmon_ASimProcessCreate_SchemaTest.csv
  Parsers/ASimProcessEvent/test/Create_MicrosoftSysmon_VimProcessCreate_DataTest.csv
  Parsers/ASimProcessEvent/test/Create_MicrosoftSysmon_VimProcessCreate_SchemaTest.csv
  Parsers/ASimProcessEvent/test/Create_MicrosoftSysmon_Windows_Event_ASimProcessCreate_SchemaTest.csv
  Parsers/ASimProcessEvent/test/Create_MicrosoftSysmon_Windows_Event_VimProcessCreate_SchemaTest.csv
Labels: ASIM

#10916 Adding data connector for Threat Intelligence Upload Indicators API F…
  Solutions/Threat Intelligence Solution for Azure Government/Data/Solution_ThreatIntelligenceFairfax.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/3.0.0.zip
  Solutions/Threat Intelligence Solution for Azure Government/Package/createUiDefinition.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/mainTemplate.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/testParameters.json
  Solutions/Threat Intelligence Solution for Azure Government/ReleaseNotes.md
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators_ForFairfax.json
Labels: Connector, Solution, Content-Package

#10917 Adding ingestAsimSampleData.py script to automate ingestion of sample data
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: scripts

#10922 Update createUiDefinition_csfdrv2_connector.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CSFDRv2_Deploymnet/createUiDefinition_csfdrv2_connector.json
Labels: Connector, Content-Package

#10904 Oms migration syslog parser solutions
  Solutions/Pulse Connect Secure/Analytic Rules/PulseConnectSecureVPN-BruteForce.yaml
  Solutions/Pulse Connect Secure/Analytic Rules/PulseConnectSecureVPN-DistinctFailedUserLogin.yaml
  Solutions/Pulse Connect Secure/Data Connectors/Connector_Syslog_PulseConnectSecure.json
  Solutions/Pulse Connect Secure/Data/Solution_Pulse Connect Secure.json
  Solutions/Pulse Connect Secure/Package/3.0.2.zip
  Solutions/Pulse Connect Secure/Package/createUiDefinition.json
  Solutions/Pulse Connect Secure/Package/mainTemplate.json
  Solutions/Pulse Connect Secure/ReleaseNotes.md
  Solutions/RSA SecurID/Data Connectors/RSASecurID.json
  Solutions/RSA SecurID/Data/Solution_RSASecurID.json
  Solutions/RSA SecurID/Package/3.0.0.zip
  Solutions/RSA SecurID/Package/createUiDefinition.json
  Solutions/RSA SecurID/Package/mainTemplate.json
  Solutions/RSA SecurID/ReleaseNotes.md
  Solutions/Sophos XG Firewall/Analytic Rules/ExcessiveAmountofDeniedConnectionsfromASingleSource.yaml
  Solutions/Sophos XG Firewall/Analytic Rules/PortScanDetected.yaml
  Solutions/Sophos XG Firewall/Data Connectors/Connector_Syslog_SophosXGFirewall.json
  Solutions/Sophos XG Firewall/Data/Solution_SophosXGFirewall.json
  Solutions/Sophos XG Firewall/Package/3.0.0.zip
  Solutions/Sophos XG Firewall/Package/createUiDefinition.json
  Solutions/Sophos XG Firewall/Package/mainTemplate.json
  Solutions/Sophos XG Firewall/Parsers/SophosXGFirewall.yaml
  Solutions/Sophos XG Firewall/ReleaseNotes.md
  Solutions/SymantecProxySG/Analytic Rules/ExcessiveDeniedProxyTraffic.yaml
  Solutions/SymantecProxySG/Analytic Rules/UserAccessedSuspiciousURLCategories.yaml
  Solutions/SymantecProxySG/Data Connectors/Connector_Syslog_SymantecProxySG.json
  Solutions/SymantecProxySG/Data/Solution_SymantecProxySG.json
  Solutions/SymantecProxySG/Package/3.0.1.zip
  Solutions/SymantecProxySG/Package/createUiDefinition.json
  Solutions/SymantecProxySG/Package/mainTemplate.json
  Solutions/SymantecProxySG/ReleaseNotes.md
Labels: Solution, Content-Package

#10923 Kaspersky Security Center removed from GitHub's Sentinel Repo
  Solutions/KasperskySecurityCenter/Data Connectors/Connector_KasperskySC_CEF.json
  Solutions/KasperskySecurityCenter/Data Connectors/template_KasperskySCAMA.json
  Solutions/KasperskySecurityCenter/Data/Solution_Kaspersky Security Center.json
  Solutions/KasperskySecurityCenter/Data/system_generated_metadata.json
  Solutions/KasperskySecurityCenter/Package/2.0.0.zip
  Solutions/KasperskySecurityCenter/Package/2.0.1.zip
  Solutions/KasperskySecurityCenter/Package/3.0.0.zip
  Solutions/KasperskySecurityCenter/Package/3.0.1.zip
  Solutions/KasperskySecurityCenter/Package/createUiDefinition.json
  Solutions/KasperskySecurityCenter/Package/mainTemplate.json
  Solutions/KasperskySecurityCenter/Package/testParameters.json
  Solutions/KasperskySecurityCenter/Parsers/KasperskySCEvent.yaml
  Solutions/KasperskySecurityCenter/ReleaseNotes.md
  Solutions/KasperskySecurityCenter/SolutionMetadata.json
Labels: Solution

#10896 New playbook solution for Microsoft Sentinel repo: Create-Incident-on…
  Playbooks/Create-Incident-on-missing-Data-Source/azuredeploy.json
  Playbooks/Create-Incident-on-missing-Data-Source/images/0-appoverview.png
  Playbooks/Create-Incident-on-missing-Data-Source/images/1-Recurrence.png
  Playbooks/Create-Incident-on-missing-Data-Source/images/2-Authorize-API-Connections.png
  Playbooks/Create-Incident-on-missing-Data-Source/images/3-InitializeVariable.png
  Playbooks/Create-Incident-on-missing-Data-Source/images/4-SampleIncident.png
  Playbooks/Create-Incident-on-missing-Data-Source/readme.md
Labels: Playbook, Standalone

#10907 Oms migration syslog parser solution1
  Solutions/Symantec Endpoint Protection/Analytic Rules/ExcessiveBlockedTrafficGeneratedbyUser.yaml
  Solutions/Symantec Endpoint Protection/Analytic Rules/MalwareDetected.yaml
  Solutions/Symantec Endpoint Protection/Data Connectors/Connector_Syslog_SymantecEndpointProtection.json
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/3.0.3.zip
  Solutions/Symantec Endpoint Protection/Package/createUiDefinition.json
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/ReleaseNotes.md
  Solutions/Symantec VIP/Analytic Rules/ClientDeniedAccess.yaml
  Solutions/Symantec VIP/Analytic Rules/ExcessiveFailedAuthenticationsfromInvalidInputs.yaml
  Solutions/Symantec VIP/Data Connectors/Connector_Syslog_SymantecVIP.json
  Solutions/Symantec VIP/Data/Solution_SymantecVIP.json
  Solutions/Symantec VIP/Package/3.0.0.zip
  Solutions/Symantec VIP/Package/createUiDefinition.json
  Solutions/Symantec VIP/Package/mainTemplate.json
  Solutions/Symantec VIP/ReleaseNotes.md
  Solutions/VMWareESXi/Analytic Rules/ESXiDormantVMStarted.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiLowPatchDiskSpace.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiLowTempDirSpace.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiMultipleNewVM.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiMultipleVMStopped.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiNewVM.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiRootImpersonation.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiRootLogin.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiSharedOrStolenRootAccount.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiUnexpectedDiskImage.yaml
  Solutions/VMWareESXi/Analytic Rules/ESXiVMStopped.yaml
  Solutions/VMWareESXi/Data Connectors/Connector_Syslog_VMwareESXi.json
  Solutions/VMWareESXi/Data/Solution_VMWareESXi.json
  Solutions/VMWareESXi/Package/3.0.2.zip
  Solutions/VMWareESXi/Package/createUiDefinition.json
  Solutions/VMWareESXi/Package/mainTemplate.json
  Solutions/VMWareESXi/ReleaseNotes.md
Labels: Solution, Content-Package

#10925 Update WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#10918 UploadAPI gov template
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators_ForGov.json
Labels: dataconnector-cri, Solution

#10921 IllumioSaaS solution repackaged with modified logo link
  Solutions/IllumioSaaS/Data Connectors/IllumioSaaS_FunctionApp.json
  Solutions/IllumioSaaS/Data Connectors/QueueTriggerFuncApp/DeployFunctionApp/azuredeploy_QueueTrigger_FunctionApp.json
  Solutions/IllumioSaaS/Data Connectors/README.md
  Solutions/IllumioSaaS/Data Connectors/azuredeploy_IllumioSaaS_FunctionApp.json
  Solutions/IllumioSaaS/Package/3.1.0.zip
  Solutions/IllumioSaaS/Package/createUiDefinition.json
  Solutions/IllumioSaaS/Package/mainTemplate.json
  Solutions/IllumioSaaS/data/Solution_IllumioSaaS.json
Labels: Solution

#10915 Update UserAccountAddedToPrivlegeGroup.yaml
  Solutions/Windows Security Events/Hunting Queries/UserAccountAddedToPrivlegeGroup.yaml
Labels: Solution, Hunting

#10908 Updated analytical rules for entity mappings
  Solutions/PaloAlto-PAN-OS/Package/3.0.7.zip
  Solutions/PaloAlto-PAN-OS/Package/mainTemplate.json
  Solutions/PaloAlto-PAN-OS/ReleaseNotes.md
  Solutions/PaloAlto-PAN-OS/data/Solution_PaloAlto-PAN-OS.json
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.7.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/ReleaseNotes.md
  Solutions/Syslog/Data/Solution_syslog.json
  Solutions/Syslog/Package/3.0.6.zip
  Solutions/Syslog/Package/createUiDefinition.json
  Solutions/Syslog/Package/mainTemplate.json
  Solutions/Syslog/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10928 Update Radiflow Package and Data Connectors
  Solutions/Radiflow/Data Connectors/RadiflowIsid.json
  Solutions/Radiflow/Package/3.0.1.zip
  Solutions/Radiflow/Package/mainTemplate.json
Labels: Solution

#10927 Google cloud platform IAM packaged for entity mapping changes
  Solutions/GoogleCloudPlatformIAM/Data/Solution_GoogleCloudPlatformIAM.json
  Solutions/GoogleCloudPlatformIAM/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/Package/testParameters.json
  Solutions/GoogleCloudPlatformIAM/ReleaseNotes.md
Labels: Solution, Analytic Rules, Content-Package

#10851 [AMA migration] - Add custom logs via Ama solution
  Solutions/CustomLogsAma/Data Connectors/CustomLogsViaAmaTemplate.json
  Solutions/CustomLogsAma/Package/3.0.0.zip
  Solutions/CustomLogsAma/Package/createUiDefinition.json
  Solutions/CustomLogsAma/Package/mainTemplate.json
  Solutions/CustomLogsAma/Package/testParameters.json
  Solutions/CustomLogsAma/ReleaseNotes.md
  Solutions/CustomLogsAma/SolutionMetadata.json
  Solutions/CustomLogsAma/data/Solution_CustomLogAma.json
Labels: Connector, Solution

#10891 update ReversingLabs solution to v3.0.1
  Logos/reversinglabs.svg
  Solutions/ReversingLabs/Data/Solution_ReversingLabs.json
  Solutions/ReversingLabs/Package/3.0.1.zip
  Solutions/ReversingLabs/Package/createUiDefinition.json
  Solutions/ReversingLabs/Package/mainTemplate.json
  Solutions/ReversingLabs/Package/testParameters.json
  Solutions/ReversingLabs/Playbooks/ReversingLabs-CheckQuota/README.md
  Solutions/ReversingLabs/Playbooks/ReversingLabs-CheckQuota/azuredeploy.json
  Solutions/ReversingLabs/Playbooks/ReversingLabs-EnrichFileHash/images/playbook.png
  Solutions/ReversingLabs/Playbooks/ReversingLabs-EnrichFileHash/playbook.jpg
  Solutions/ReversingLabs/Playbooks/SpectraAnalyze-EnrichFileHash/README.md
  Solutions/ReversingLabs/Playbooks/SpectraAnalyze-EnrichFileHash/azuredeploy.json
  Solutions/ReversingLabs/Playbooks/SpectraAnalyze-EnrichFileHash/playbook.jpg
  Solutions/ReversingLabs/Playbooks/SpectraAnalyze-EnrichNetworkEntities/README.md
  Solutions/ReversingLabs/Playbooks/SpectraAnalyze-EnrichNetworkEntities/azuredeploy.json
  Solutions/ReversingLabs/Playbooks/SpectraAnalyze-EnrichNetworkEntities/playbook.png
  Solutions/ReversingLabs/Playbooks/SpectraIntelligence-EnrichFileHash/README.md
  Solutions/ReversingLabs/Playbooks/SpectraIntelligence-EnrichFileHash/azuredeploy.json
  Solutions/ReversingLabs/Playbooks/SpectraIntelligence-EnrichFileHash/playbook.png
  Solutions/ReversingLabs/Playbooks/SpectraIntelligence-EnrichNetworkEntities/README.md
  Solutions/ReversingLabs/Playbooks/SpectraIntelligence-EnrichNetworkEntities/azuredeploy.json
  Solutions/ReversingLabs/Playbooks/SpectraIntelligence-EnrichNetworkEntities/playbook.png
  Solutions/ReversingLabs/ReleaseNotes.md
  Solutions/ReversingLabs/SolutionMetadata.json
Labels: Playbook, Solution

#10930 Updated TI to add Premium Microsoft Defender Threat Intelligence (Pre…
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/3.0.4.zip
  Solutions/Threat Intelligence/Package/createUiDefinition.json
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Solution, Content-Package

#10942 Provide an alternative to assign Entra roles to system assigned managed identity
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/readme.md
Labels: Solution

#10947 Update ingestASimSampleData.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: Tools

#10910 Leaderboard Monthly Update - Update stats.md file with July 2024 Data
  Tools/stats/stats.md
Labels: Tools

#10953 Fix the description comment in rule
  Hunting Queries/Microsoft 365 Defender/Discovery/MultipleSensitiveLdaps.yaml
Labels: Hunting

#10956 Replace Azure sentinel with Microsoft sentinel
  Solutions/Commvault Security IQ/Data Connectors/CommvaultSecurityIQ_API_AzureFunctionApp.json
  Solutions/Commvault Security IQ/Package/3.0.1.zip
  Solutions/Commvault Security IQ/Package/mainTemplate.json
Labels: Solution

#10931 Updated TI Azure gov Solution
  Solutions/Threat Intelligence Solution for Azure Government/Package/3.0.1.zip
  Solutions/Threat Intelligence Solution for Azure Government/Package/mainTemplate.json
  Solutions/Threat Intelligence Solution for Azure Government/ReleaseNotes.md
Labels: Solution

#10955 Solution packaged for updating the post deployment steps of playbook
  Solutions/AWSAthena/Data/Solution_AWSAthena.json
  Solutions/AWSAthena/Package/3.0.1.zip
  Solutions/AWSAthena/Package/createUiDefinition.json
  Solutions/AWSAthena/Package/mainTemplate.json
  Solutions/AWSAthena/Playbooks/AWSAthenaPlaybooks/AWSAthena-GetQueryResults/azuredeploy.json
  Solutions/AWSAthena/Playbooks/CustomConnector/AWSAthena_FunctionAppConnector/azuredeploy.json
  Solutions/AWSAthena/ReleaseNotes.md
Labels: Playbook, Solution, Content-Package

#10899 DCR based Logstash plugin - replace client
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/CHANGELOG.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/README.md
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logAnalyticsAadTokenProvider.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logAnalyticsClient.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/logStashEventsBatcher.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/lib/logstash/sentinel_la/version.rb
  DataConnectors/microsoft-sentinel-log-analytics-logstash-output-plugin/microsoft-sentinel-log-analytics-logstash-output-plugin.gemspec
Labels: dataconnector-cri, Do-Not-Merge, Standalone

#10972 Updated Readme file
  DataConnectors/O365 Data/readme.md
Labels: documentation

#10967 Custom Soln OMS Migration Packaging
  Solutions/CiscoMeraki/Data Connectors/Connector_Syslog_CiscoMeraki.json
  Solutions/CiscoMeraki/Package/3.0.2.zip
  Solutions/CiscoMeraki/Package/createUiDefinition.json
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/Package/testParameters.json
  Solutions/CiscoMeraki/ReleaseNotes.md
  Solutions/CiscoMeraki/data/Solution_CiscoMeraki.json
  Solutions/JBoss/Data Connectors/Connector_JBoss.json
  Solutions/JBoss/Data/Solution_Jboss.json
  Solutions/JBoss/Package/3.0.0.zip
  Solutions/JBoss/Package/createUiDefinition.json
  Solutions/JBoss/Package/mainTemplate.json
  Solutions/JBoss/Package/testParameters.json
  Solutions/JBoss/ReleaseNotes.md
  Solutions/JuniperIDP/Data Connectors/Connector_LogAnalytics_agent_JuniperIDP.json
  Solutions/JuniperIDP/Data/Solution_JuniperIDP.json
  Solutions/JuniperIDP/Package/3.0.0.zip
  Solutions/JuniperIDP/Package/createUiDefinition.json
  Solutions/JuniperIDP/Package/mainTemplate.json
  Solutions/JuniperIDP/Package/testParameters.json
  Solutions/JuniperIDP/ReleaseNotes.md
  Solutions/JuniperIDP/SolutionMetadata.json
  Solutions/MarkLogicAudit/Data/Solution_MarkLogicAudit.json
  Solutions/MarkLogicAudit/DataConnectors/Connector_MarkLogicAudit.json
  Solutions/MarkLogicAudit/Package/3.0.0.zip
  Solutions/MarkLogicAudit/Package/createUiDefinition.json
  Solutions/MarkLogicAudit/Package/mainTemplate.json
  Solutions/MarkLogicAudit/Package/testParameters.json
  Solutions/MarkLogicAudit/ReleaseNotes.md
  Solutions/PostgreSQL/ReleaseNotes.md
  Solutions/SquidProxy/ReleaseNotes.md
Labels: Solution, Content-Package

#10977 Updated CyberARK solution to fix the deployment validation
  Solutions/CyberArkEPM/Package/3.0.0.zip
  Solutions/CyberArkEPM/Package/createUiDefinition.json
  Solutions/CyberArkEPM/Package/mainTemplate.json
  Solutions/CyberArkEPM/Package/testParameters.json
  Solutions/CyberArkEPM/ReleaseNotes.md
  Solutions/CyberArkEPM/data/Solution_CyberArkEPM.json
Labels: Solution, Content-Package, P0

#10974 Removing Preview tag from AtlassianJiraAudits Connector
  Solutions/AtlassianJiraAudit/Data Connectors/JiraAuditAPISentinelConnector_ccpv2/JiraAudit_DataConnectorDefinition.json
  Solutions/AtlassianJiraAudit/Package/3.0.3.zip
  Solutions/AtlassianJiraAudit/Package/createUiDefinition.json
  Solutions/AtlassianJiraAudit/Package/mainTemplate.json
  Solutions/AtlassianJiraAudit/ReleaseNotes.md
Labels: Solution, Content-Package

#10985 Update AtlassianJiraAudit release note
  Solutions/AtlassianJiraAudit/ReleaseNotes.md
Labels: documentation

#10828 SinecSecurityGuard_tb_reviewed
  .script/tests/KqlvalidationsTests/CustomTables/SINECSecurityGuard_CL.json
  .script/utils/schemas/_ConnectorSchema.json
  Logos/SSG.svg
  Sample Data/Custom/Sinec Security Guard/Test_with_SSG.json
  Solutions/Sinec Security Guard/Analytic Rules/SSG_Azure_Sentinel_analytic_rule.yaml
  Solutions/Sinec Security Guard/Data Connectors/Logo/SSG.svg
  Solutions/Sinec Security Guard/Data Connectors/data_connector_GenericUI.json
  Solutions/Sinec Security Guard/Data/Solution_Sinec Security Guard.json
  Solutions/Sinec Security Guard/Package/3.0.0.zip
  Solutions/Sinec Security Guard/Package/createUiDefinition.json
  Solutions/Sinec Security Guard/Package/mainTemplate.json
  Solutions/Sinec Security Guard/Package/testParameters.json
  Solutions/Sinec Security Guard/ReleaseNotes.md
  Solutions/Sinec Security Guard/SolutionMetadata.json
Labels: Solution

#10982 Analytics Updates on Risk score for UEBA context
  Solutions/Microsoft Entra ID/Analytic Rules/SuccessThenFail_DiffIP_SameUserandApp.yaml
Labels: Solution, Analytic Rules

#10980 Fine-Tuning Analytical rule NRT PIM Elevation Request Rejected
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_PIMElevationRequestRejected.yaml
  Solutions/Microsoft Entra ID/Package/3.2.8.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Solution, Analytic Rules

#10912 Adding Cribl to Microsoft Azure Solutions Repo
  .script/tests/KqlvalidationsTests/CustomTables/CriblAccess_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CriblAudit_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CriblInternal_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CriblUIAccess_CL.json
  DataConnectors/Cribl/CriblStream.JSON
  DataConnectors/Cribl/README.md
  Logos/Cribl-Logo.svg
  Sample Data/Cribl_Access_logs.json
  Sample Data/Cribl_Audit_logs.json
  Sample Data/Cribl_Internal_logs.json
  Sample Data/Cribl_UI-Access_logs.json
  Solutions/Akamai Security Events/ReleaseNotes.md
  Solutions/Cribl/Data Connectors/Connector_Cribl.json
  Solutions/Cribl/Data/Solution_Cribl.json
  Solutions/Cribl/Package/1.0.0.zip
  Solutions/Cribl/Package/3.0.0.zip
  Solutions/Cribl/Package/createUiDefinition.json
  Solutions/Cribl/Package/mainTemplate.json
  Solutions/Cribl/Package/testParameters.json
  Solutions/Cribl/Parsers/CriblAccess.yaml
  Solutions/Cribl/Parsers/CriblAudit.yaml
  Solutions/Cribl/Parsers/CriblInternal.yaml
  Solutions/Cribl/Parsers/CriblUIAccess.yaml
  Solutions/Cribl/ReleaseNotes.md
  Solutions/Cribl/SolutionMetadata.json
Labels: Solution

#10976 Removing Preview tag from SophosEndPointProtection Connector
  Solutions/Okta Single Sign-On/Data Connectors/OktaNativePollerConnectorV2/OktaSSOv2_DataConnectorDefinition.json
  Solutions/Okta Single Sign-On/Package/3.0.8.zip
  Solutions/Okta Single Sign-On/Package/createUiDefinition.json
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
  Solutions/Okta Single Sign-On/ReleaseNotes.md
  Solutions/Okta Single Sign-On/data/Solution_Okta.json
  Solutions/Sophos Endpoint Protection/Data Connectors/SophosEP_ccp/SophosEP_DataConnectorDefinition.json
  Solutions/Sophos Endpoint Protection/Data/Solution_EP.json
  Solutions/Sophos Endpoint Protection/Package/3.0.5.zip
  Solutions/Sophos Endpoint Protection/Package/mainTemplate.json
  Solutions/Sophos Endpoint Protection/ReleaseNotes.md
Labels: Solution, Content-Package

#10995 Oms migration solutions package
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data Connectors/template_Fortinet-FortiGateAma.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/3.0.6.zip
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Playbooks/FortinetFortigateFunctionApp/azuredeploy.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerSharedZPASession.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedCountEventResult.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedCountries.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerUnexpectedUpdateOperation.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsByDormantUser.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsByNewUser.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsFromNewCountry.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsFromNewIP.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAConnectionsOutsideOperationalHours.yaml
  Solutions/Zscaler Private Access (ZPA)/Analytic Rules/ZscalerZPAUnexpectedSessionDuration.yaml
  Solutions/Zscaler Private Access (ZPA)/Data Connectors/Connector_LogAnalytics_agent_Zscaler_ZPA.json
  Solutions/Zscaler Private Access (ZPA)/Data/Solution_Zscaler Private Access (ZPA).json
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerAbnormalTotalBytesSize.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerApplicationByUsers.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerConnectionCloseReason.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerIPsByPorts.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerSourceLocation.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerTopConnectors.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerTopSourceIP.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUrlhostname.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUserAccessGroups.yaml
  Solutions/Zscaler Private Access (ZPA)/Hunting Queries/ZscalerUserServerErrors.yaml
  Solutions/Zscaler Private Access (ZPA)/Package/3.0.0.zip
  Solutions/Zscaler Private Access (ZPA)/Package/createUiDefinition.json
  Solutions/Zscaler Private Access (ZPA)/Package/mainTemplate.json
  Solutions/Zscaler Private Access (ZPA)/Package/testParameters.json
  Solutions/Zscaler Private Access (ZPA)/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#10997 arm ttk resolved for OKTA single sign on
  Solutions/Okta Single Sign-On/Package/3.0.8.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution

#11002 Recorded future identity readme update
  Solutions/Recorded Future Identity/Playbooks/readme.md
Labels: documentation

#11004 Delete 1.0.0.zip
  Solutions/Cribl/Package/1.0.0.zip
Labels: Solution

#11005 Update Servicenow Readme
  Solutions/Servicenow/StoreApp/README.md
Labels: documentation

#11006 RecordedFuture-Alert-Importer fixes
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.8.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/Alerts/RecordedFuture-Alert-Importer/azuredeploy.json
  Solutions/Recorded Future/ReleaseNotes.md
Labels: Solution

#11007 Updated package for Sophos Endpoint Protection
  Solutions/Sophos Endpoint Protection/Package/3.0.5.zip
  Solutions/Sophos Endpoint Protection/Package/mainTemplate.json
Labels: Solution

#11010 Update README.md
  Solutions/README.md
Labels: documentation

#11014 Google Cloud Platform Audit Logs
  Solutions/Google Cloud Platform Audit Logs/Data Connectors/GCPAuditLogs.json
  Solutions/Google Cloud Platform Audit Logs/Package/2.0.3.zip
  Solutions/Google Cloud Platform Audit Logs/Package/mainTemplate.json
Labels: Connector, Solution, Content-Package

#10969 Phosphorus-Data-Connector
  Logos/Phosphorus.svg
  Sample Data/Phosphorus_CL.csv
  Solutions/Phosphorus/Data Connectors/PhosphorusDataConnector.json
  Solutions/Phosphorus/Data/Solution_Phosphorus.json
  Solutions/Phosphorus/Package/3.0.0.zip
  Solutions/Phosphorus/Package/createUiDefinition.json
  Solutions/Phosphorus/Package/mainTemplate.json
  Solutions/Phosphorus/Package/testParameters.json
  Solutions/Phosphorus/README.md
  Solutions/Phosphorus/ReleaseNotes.md
  Solutions/Phosphorus/SolutionMetadata.json
Labels: Solution, New Solution

#10988 Added New Workbook "PhishingAnalysis"
  Workbooks/Images/Preview/PhishingAnalysisBlack.png
  Workbooks/Images/Preview/PhishingAnalysisWhite.png
  Workbooks/PhishingAnalysis.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#11013 Sentinel all in one v2
  Tools/Sentinel-All-In-One/v2/LinkedTemplates/solutionsAndAlerts.json
  Tools/Sentinel-All-In-One/v2/LinkedTemplates/solutionsAndAlertsGov.json
  Tools/Sentinel-All-In-One/v2/azuredeploy.json
  Tools/Sentinel-All-In-One/v2/azuredeployGov.json
Labels: Tools

#11015 Update cribl input file and logo
  Logos/Cribl-Logo.svg
  Solutions/Cribl/Data/Solution_Cribl.json
  Solutions/Cribl/Package/3.0.0.zip
  Solutions/Cribl/Package/createUiDefinition.json
  Solutions/Cribl/Package/mainTemplate.json
Labels: Solution, Content-Package, P0

#11021 Update MS shortlinks
  Solutions/DomainTools/Package/3.0.2.zip
  Solutions/DomainTools/Package/mainTemplate.json
  Solutions/DomainTools/Playbooks/CustomConnector/DomainTools_FunctionAppConnector/azuredeploy.json
Labels: Solution

#11022 Solution package updated
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.2.9.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution, Content-Package

#11038 Updated solution for Syslog to update parser parameter
  Solutions/Syslog/Package/3.0.6.zip
  Solutions/Syslog/Package/mainTemplate.json
  Solutions/Syslog/ReleaseNotes.md
  Solutions/Syslog/Workspace Functions/SyslogConnectorsOverallStatus.yaml
Labels: Solution

#11033 Updating the RDP_Nesting rule
  Detections/SecurityEvent/RDP_Nesting.yaml
Labels: Analytic Rules

#10948 Global Secure Access
  .script/tests/KqlvalidationsTests/CustomTables/EnrichedMicrosoft365AuditLogs.json
  .script/tests/KqlvalidationsTests/CustomTables/RemoteNetworkHealthLogs.json
  Logos/gsa.svg
  Solutions/Global Secure Access/Analytic Rules/Identity - AfterHoursActivity.yaml
  Solutions/Global Secure Access/Analytic Rules/Identity - SharedSessions.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - External User added to Team and immediately uploads file.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - ExternalUserAddedRemovedInTeams.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Mail_redirect_via_ExO_transport_rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Malicious_Inbox_Rule.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_MailForwarding.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - Office_Uploaded_Executables.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - RareOfficeOperations.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewIP.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - SharePoint_Downloads_byNewUserAgent.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - exchange_auditlogdisabled.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - office_policytampering.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_above_threshold.yaml
  Solutions/Global Secure Access/Analytic Rules/Office 365 - sharepoint_file_transfer_folders_above_threshold.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Deny Rate.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Port to Protocol.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Source IP Port Scan.yaml
  Solutions/Global Secure Access/Data/Solution_GlobalSecureAccess.json
  Solutions/Global Secure Access/Hunting Queries/AnomolousUserAccessingOtherUsersMailbox.yaml
  Solutions/Global Secure Access/Hunting Queries/ExternalUserAddedRemovedInTeams_HuntVersion.yaml
  Solutions/Global Secure Access/Hunting Queries/ExternalUserFromNewOrgAddedToTeams.yaml
  Solutions/Global Secure Access/Hunting Queries/Mail_redirect_via_ExO_transport_rule_hunting.yaml
  Solutions/Global Secure Access/Hunting Queries/MultiTeamBot.yaml
  Solutions/Global Secure Access/Hunting Queries/MultiTeamOwner.yaml
  Solutions/Global Secure Access/Hunting Queries/MultipleTeamsDeletes.yaml
  Solutions/Global Secure Access/Hunting Queries/MultipleUsersEmailForwardedToSameDestination.yaml
  Solutions/Global Secure Access/Hunting Queries/NewBotAddedToTeams.yaml
  Solutions/Global Secure Access/Hunting Queries/New_WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Global Secure Access/Hunting Queries/OfficeMailForwarding_hunting.yaml
  Solutions/Global Secure Access/Hunting Queries/TeamsFilesUploaded.yaml
  Solutions/Global Secure Access/Hunting Queries/UserAddToTeamsAndUploadsFile.yaml
  Solutions/Global Secure Access/Hunting Queries/WindowsReservedFileNamesOnOfficeFileServices.yaml
  Solutions/Global Secure Access/Hunting Queries/double_file_ext_exes.yaml
  Solutions/Global Secure Access/Hunting Queries/new_adminaccountactivity.yaml
  Solutions/Global Secure Access/Hunting Queries/new_sharepoint_downloads_by_IP.yaml
  Solutions/Global Secure Access/Hunting Queries/new_sharepoint_downloads_by_UserAgent.yaml
  Solutions/Global Secure Access/Hunting Queries/nonowner_MailboxLogin.yaml
  Solutions/Global Secure Access/Hunting Queries/powershell_or_nonbrowser_MailboxLogin.yaml
  Solutions/Global Secure Access/Hunting Queries/sharepoint_downloads.yaml
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/createUiDefinition.json
  Solutions/Global Secure Access/Package/mainTemplate.json
  Solutions/Global Secure Access/Package/testParameters.json
  Solutions/Global Secure Access/SolutionMetadata.json
  Solutions/Global Secure Access/Workbooks/GSAM365EnrichedEvents.json
  Solutions/Global Secure Access/Workbooks/GSANetworkTraffic.json
  Workbooks/GSAM365EnrichedEvents.json
  Workbooks/GSANetworkTraffic.json
  Workbooks/Images/Logos/gsa.svg
  Workbooks/Images/Preview/GSAEnrichedLogsBlack.png
  Workbooks/Images/Preview/GSAEnrichedLogsWhite.png
  Workbooks/Images/Preview/GSATrafficLogsBlack.png
  Workbooks/Images/Preview/GSATrafficLogsWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#11030 Repackaged SailpointIdentityNow
  Solutions/SailPointIdentityNow/Data Connectors/SailPoint_IdentityNow_FunctionApp.json
  Solutions/SailPointIdentityNow/Data/Solution_SailpointIdentityNow.json
  Solutions/SailPointIdentityNow/Package/3.0.0.zip
  Solutions/SailPointIdentityNow/Package/createUiDefinition.json
  Solutions/SailPointIdentityNow/Package/mainTemplate.json
  Solutions/SailPointIdentityNow/Package/testParameters.json
  Solutions/SailPointIdentityNow/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#11045 Update ScanSecrets.yaml to output only verified results
  .github/workflows/ScanSecrets.yaml
Labels: workflows
