Repository Azure/Azure-Sentinel, pull requests merged in 2025-10, with the labels that each got.

#12807 sync the new version of Sentinel in Defender Adoption script
  Tools/Sentinel-Defender-Helper-Script/SentinelTransitionHelper.ps1
Labels: Tools

#12893 MongoDB Bug fix and UI changes
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/GetMDBALogs/__init__.py
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/MongoDBAtlasLogs.zip
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/MongoDBAtlasLogs_AzureFunction.json
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/createUiDef.json
  Solutions/MongoDBAtlas/Data/Solution_MongoDBAtlas.json
  Solutions/MongoDBAtlas/Package/3.0.3.zip
  Solutions/MongoDBAtlas/Package/mainTemplate.json
  Solutions/MongoDBAtlas/ReleaseNotes.md
Labels: Solution

#12902 Fix Deploy to Azure button rendering and improve readability
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/MongoDBAtlasLogs_AzureFunction.json
  Solutions/MongoDBAtlas/Data/Solution_MongoDBAtlas.json
  Solutions/MongoDBAtlas/Package/3.0.4.zip
  Solutions/MongoDBAtlas/Package/mainTemplate.json
  Solutions/MongoDBAtlas/ReleaseNotes.md
Labels: Solution

#12868 support info changes
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Package/3.0.4.zip
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/ReleaseNotes.md
  Solutions/CiscoDuoSecurity/SolutionMetadata.json
Labels: Solution, Content-Package

#12905 Versions/3.2.0 - one more fix before release
  Solutions/Tanium/Package/3.2.0.zip
  Solutions/Tanium/Package/mainTemplate.json
  Solutions/Tanium/Playbooks/Tanium-QuarantineHosts/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-UnquarantineHosts/azuredeploy.json
  cspell-dictionaries/analytics-rules-words.txt
  cspell.config.json
Labels: Solution

#12915 Restoring previous version of Read me file
  Solutions/README.md
Labels: readme

#12886 Description changes for illumio-connector
  Solutions/Illumio Insight/Data Connectors/IllumioInsight_CCP/IllumioInsight_Definition.json
  Solutions/Illumio Insight/Data Connectors/IllumioInsightsSummaryConnector_CCP/IllumioInsightsSummary_ConnectorDefinition.json
  Solutions/Illumio Insight/Data Connectors/IllumioInsightsSummaryConnector_CCP/IllumioInsightsSummary_PollingConfig.json
  Solutions/Illumio Insight/Data/Solution_IllumioInsights.json
  Solutions/Illumio Insight/Package/3.3.2.zip
  Solutions/Illumio Insight/Package/createUiDefinition.json
  Solutions/Illumio Insight/Package/mainTemplate.json
  Solutions/Illumio Insight/ReleaseNotes.md
  Solutions/Illumio Insight/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Solution

#12916 Add etd investigations connector
  .script/tests/KqlvalidationsTests/CustomTables/SAPETDInvestigations_CL.json
  Solutions/SAP ETD Cloud/Analytic Rules/SAPETD-SynchAlerts.yaml
  Solutions/SAP ETD Cloud/Analytic Rules/SAPETD-SynchInvestigations.yaml
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_DCR.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_PollerConfig.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_connectorDefinition.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_dataConnector.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_table.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/solutionMetadata.json
  Solutions/SAP ETD Cloud/Data/Solution_SAPETD.json
  Solutions/SAP ETD Cloud/Package/3.0.3.zip
  Solutions/SAP ETD Cloud/Package/createUiDefinition.json
  Solutions/SAP ETD Cloud/Package/mainTemplate.json
  Solutions/SAP ETD Cloud/ReleaseNotes.md
  Solutions/SAP ETD Cloud/SolutionMetadata.json
Labels: Solution, Analytic Rules

#12654 Add Threat intelligence - TAXII Export connector to Threat Intelligence (NEW) solution
  .script/tests/KqlvalidationsTests/CustomTables/ThreatIntelExportOperation.json
  Solutions/Threat Intelligence (NEW)/Data Connectors/template_ThreatIntelligenceTaxiiExport.json
  Solutions/Threat Intelligence (NEW)/Data/Solution_ThreatIntelligenceUpdated.json
  Solutions/Threat Intelligence (NEW)/Package/3.0.7.zip
  Solutions/Threat Intelligence (NEW)/Package/createUiDefinition.json
  Solutions/Threat Intelligence (NEW)/Package/mainTemplate.json
Labels: Connector, Solution

#12871 Fixed bug in TeamCymruScoutEnrichIncident playbook.
  Solutions/Team Cymru Scout/Data/Solution_TeamCymruScout.json
  Solutions/Team Cymru Scout/Package/3.1.1.zip
  Solutions/Team Cymru Scout/Package/mainTemplate.json
  Solutions/Team Cymru Scout/Playbooks/TeamCymruScoutEnrichIncident/azuredeploy.json
  Solutions/Team Cymru Scout/ReleaseNotes.md
Labels: Playbook, Solution

#12925 Fix solution id for VirtualMetric DataStream
  Solutions/VirtualMetric DataStream/Package/3.0.0.zip
  Solutions/VirtualMetric DataStream/Package/mainTemplate.json
Labels: Solution
