Repository Azure/Azure-Sentinel, pull requests merged in 2025-07, with the labels that each got.

#12068 Support summary rules in packaging tool
  Tools/Create-Azure-Sentinel-Solution/V3/README.md
  Tools/Create-Azure-Sentinel-Solution/V3/SUMMARYRULE_README.md
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/common/summaryRules.ps1
  Tools/Create-Azure-Sentinel-Solution/common/templating/baseCreateUiDefinition.json
Labels: Tools

#12200 Updating ASIM-CiscoASA Parser
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoASA/ASimNetworkSessionCiscoASA.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoASA/vimNetworkSessionCiscoASA.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoASA.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoASA.yaml
  Sample Data/ASIM/Cisco_ASA_NetworkSession_IngestedLogs.csv
Labels: ASIM

#12392 Add query for malicious SVG files in MDO
  Hunting Queries/Microsoft 365 Defender/Email Queries/Custom Detections/Potentially malicious SVG file delivered into Inbox.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Custom Detections/Potentially malicious SVG file delivered into Inbox.yaml
Labels: Solution, Hunting

#12256 Publishing several KQL queries on spam detection
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Bulk Detection Top10 Domains.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection Delivery Location.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection Mails with BCL.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection Tech.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection Top10 Domains.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection Top10 Users.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection Top15 Domains Details.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection Top15 Users Details.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection Trend.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detections by Detection technology.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Bulk Detection Top10 Domains.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection Delivery Location.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection Mails with BCL.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection Tech.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection Top10 Domains.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection Top10 Users.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection Top15 Domains Details.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection Top15 Users Details.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection Trend.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detections by Detection technology.yaml
Labels: Solution, Standalone

#12434 remove_protocol_from_list
  Parsers/ASimWebSession/ARM/vimWebSessionFortinetFortiGate/vimWebSessionFortinetFortiGate.json
  Parsers/ASimWebSession/Parsers/vimWebSessionFortinetFortiGate.yaml
Labels: ASIM

#12194 Google ApigeeX Connector CCP Migration
  Solutions/Google Apigee/Data Connectors/ApigeeXReadme.md
  Solutions/Google Apigee/Data Connectors/ApigeeX_FunctionApp.json
  Solutions/Google Apigee/Data Connectors/Apigee_GCP_CCP/ApigeeXV2_Config.json
  Solutions/Google Apigee/Data Connectors/Apigee_GCP_CCP/ApigeeXV2_DCR.json
  Solutions/Google Apigee/Data Connectors/Apigee_GCP_CCP/ApigeeXV2_DataConnectorDefinition.json
  Solutions/Google Apigee/Data Connectors/Apigee_GCP_CCP/ApigeeXV2_table.json
  Solutions/Google Apigee/Data Connectors/GoogleApigeeXLog_CCP/GoogleApigeeXLog_ConnectorDefinition.json
  Solutions/Google Apigee/Data Connectors/GoogleApigeeXLog_CCP/GoogleApigeeXLog_DCR.json
  Solutions/Google Apigee/Data Connectors/GoogleApigeeXLog_CCP/GoogleApigeeXLog_PollingConfig.json
  Solutions/Google Apigee/Data/Solution_Google Apigee.json
  Solutions/Google Apigee/Package/3.0.0.zip
  Solutions/Google Apigee/Package/3.1.0.zip
  Solutions/Google Apigee/Package/createUiDefinition.json
  Solutions/Google Apigee/Package/mainTemplate.json
  Solutions/Google Apigee/Parsers/ApigeeX.yaml
  Solutions/Google Apigee/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12459 Salesforce data connector ccp migration
  .script/tests/KqlvalidationsTests/CustomTables/SalesforceServiceCloudV2_CL.json
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConnector_CCP/SalesforceServiceCloud_DCR.json
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConnector_CCP/SalesforceServiceCloud_DataConnectorDefinition.json
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConnector_CCP/SalesforceServiceCloud_PollingConfig.json
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConnector_CCP/SalesforceServiceCloud_Tables.json
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceSentinelConnector_CCP/azuredeploy_SalesforceServiceCloud_poller_connector.json
  Solutions/Salesforce Service Cloud/Data Connectors/SalesforceServiceCloud_API_FunctionApp.json
  Solutions/Salesforce Service Cloud/Data/Solution_TSalesforceCloudtemplateSpec.json
  Solutions/Salesforce Service Cloud/Package/3.0.3.zip
  Solutions/Salesforce Service Cloud/Package/createUiDefinition.json
  Solutions/Salesforce Service Cloud/Package/mainTemplate.json
  Solutions/Salesforce Service Cloud/Package/testParameters.json
  Solutions/Salesforce Service Cloud/Parsers/SalesforceServiceCloud.yaml
  Solutions/Salesforce Service Cloud/ReleaseNotes.md
Labels: Codeless Connector Framework (CCF) Connector, Content-Package

#12467 Update 3.0.0.zip for solution Amazon Web Services NetworkFirewall
  Solutions/Amazon Web Services NetworkFirewall/Package/3.0.0.zip
Labels: Solution

#12175 Initial Endace Release
  Logos/endace_vert_logo_black.svg
  Sample Data/endace_sentinel_sample_data.csv
  Solutions/Endace/Data/Solution_Endace.json
  Solutions/Endace/Hunting Queries/Endace_Pivot-to-Vision.yaml
  Solutions/Endace/Package/3.0.0.zip
  Solutions/Endace/Package/createUiDefinition.json
  Solutions/Endace/Package/mainTemplate.json
  Solutions/Endace/Package/testParameters.json
  Solutions/Endace/ReleaseNotes.md
  Solutions/Endace/SolutionMetadata.json
Labels: New Solution

#12472 Summary rule fix and Network Session Essentials Package update
  Solutions/Network Session Essentials/Data/Solution_NetworkSessionEssentials.json
  Solutions/Network Session Essentials/Package/3.0.7.zip
  Solutions/Network Session Essentials/Package/createUiDefinition.json
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/ReleaseNotes.md
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_Country.yaml
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_IP.yaml
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_Protocol.yaml
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_Result.yaml
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_Rule.yaml
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_SourceInfo.yaml
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_Source_Port.yaml
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_Threat.yaml
  Solutions/Network Session Essentials/Summary rules/NetworkSummary_Threat_IOC.yaml
  Tools/Create-Azure-Sentinel-Solution/common/summaryRules.ps1
Labels: Tools, Content-Package

#12463 Adding a new query on spam IP geo position
  Hunting Queries/Microsoft 365 Defender/Email Queries/Spam/Spam Detection IP and Geo Position.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Spam/Spam Detection IP and Geo Position.yaml
Labels: Solution, Hunting

#12164 Initial Solution Package for NCSC-NL integration
  Logos/NCSC-NL_logo.svg
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/Data/Solution_NCSC-NL NDN Cyber Threat Intelligence Sharing.json
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/Package/3.0.0.zip
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/Package/createUiDefinition.json
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/Package/mainTemplate.json
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/Package/testParameters.json
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/Playbooks/NCSCNLShareSTIXBundle/README.md
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/Playbooks/NCSCNLShareSTIXBundle/azuredeploy.json
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/Playbooks/NCSCNLShareSTIXBundle/images/ncsc-nl-header.png
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/README.md
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/ReleaseNotes.md
  Solutions/NCSC-NL NDN Cyber Threat Intelligence Sharing/SolutionMetadata.json
Labels: P0, New Solution

#12485 Crowdstrike API Connector
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdStrikeAPI_ccp/CrowdStrikeAPI_DCR.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdStrikeAPI_ccp/CrowdStrikeAPI_Definition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdStrikeAPI_ccp/CrowdStrikeAPI_PollingConfig.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.1.4.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12441 Updated offerId and solutionId for ExtraHop solution
  Solutions/ExtraHop/Package/3.0.1.zip
  Solutions/ExtraHop/Package/mainTemplate.json
  Solutions/ExtraHop/SolutionMetadata.json
Labels: Solution

#12481 Updated the read me file path
  Solutions/SlackAudit/Data Connectors/Readme.md
Labels: Codeless Connector Framework (CCF) Connector

#12468 Update CEF AMA.JSON to GA
  Solutions/Common Event Format/Data Connectors/CEF AMA.JSON
  Solutions/Common Event Format/Data/Solution_CommonEventFormat.json
  Solutions/Common Event Format/Package/3.0.5.zip
  Solutions/Common Event Format/Package/createUiDefinition.json
  Solutions/Common Event Format/Package/mainTemplate.json
  Solutions/Common Event Format/ReleaseNotes.md
Labels: Solution

#12263 Updated new ThreatIntelIndicators table references using parser
  Solutions/DNS Essentials/Data/Solution_DNS.json
  Solutions/DNS Essentials/Package/3.0.4.zip
  Solutions/DNS Essentials/Package/mainTemplate.json
  Solutions/DNS Essentials/ReleaseNotes.md
  Solutions/DNS Essentials/Workbooks/DNSSolutionWorkbook.json
Labels: Solution

#12492 Repackaged Threat Intelligence (New)
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_CustomSecurityLog.yaml
  Solutions/Threat Intelligence (NEW)/Package/3.0.2.zip
  Solutions/Threat Intelligence (NEW)/Package/mainTemplate.json
  Solutions/Threat Intelligence (NEW)/ReleaseNotes.md
Labels: Solution

#12486 Cisco ASA connector to GA
  Solutions/CiscoASA/Data Connectors/template_CiscoAsaAma.JSON
  Solutions/CiscoASA/Package/3.0.6.zip
  Solutions/CiscoASA/Package/mainTemplate.json
Labels: Connector, Solution, Content-Package

#12262 updated ThreatConnect workbook to ThreatIntelIndicators table references
  Solutions/ThreatConnect/Package/3.0.1.zip
  Solutions/ThreatConnect/Package/mainTemplate.json
  Solutions/ThreatConnect/ReleaseNotes.md
  Solutions/ThreatConnect/Workbooks/ThreatConnectOverview.json
Labels: Solution

#12478 Update SOC playbook docs and deployment instructions
  Solutions/SOC-Process-Framework/Package/3.0.2.zip
  Solutions/SOC-Process-Framework/Package/mainTemplate.json
  Solutions/SOC-Process-Framework/Playbooks/Get-SOCActions/azuredeploy.json
  Solutions/SOC-Process-Framework/Playbooks/readme.md
  Solutions/SOC-Process-Framework/README.md
  Solutions/SOC-Process-Framework/ReleaseNotes.md
Labels: Solution, Content-Package

#12450 Change Logo and added new playbook
  Logos/blinkops.svg
  Solutions/BlinkOps/Data/Solution_Blinkops.json
  Solutions/BlinkOps/Package/3.0.1.zip
  Solutions/BlinkOps/Package/createUiDefinition.json
  Solutions/BlinkOps/Package/mainTemplate.json
  Solutions/BlinkOps/Playbooks/Sentinel-Alert-Handler/azuredeploy.json
  Solutions/BlinkOps/Playbooks/Sentinel-Alert-Handler/readme.md
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/Create_event_based_workflow.png
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/azuredeploy.json
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/playbook_screenshot.png
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/readme.md
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/xdr_webhook.png
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/xdr_webhook_config.png
  Solutions/BlinkOps/Playbooks/blink-sentinel-incident-handler/Configure_Sentinel_Webhook.png
  Solutions/BlinkOps/Playbooks/blink-sentinel-incident-handler/Sentinel_webhook.png
  Solutions/BlinkOps/Playbooks/logo.png
  Solutions/BlinkOps/ReleaseNotes.md
Labels: Solution

#12480 ZcalerPrivateAccess-ParserUpdate
  Solutions/Zscaler Private Access (ZPA)/Package/3.0.2.zip
  Solutions/Zscaler Private Access (ZPA)/Package/mainTemplate.json
  Solutions/Zscaler Private Access (ZPA)/Parsers/ZPAEvent.yaml
  Solutions/Zscaler Private Access (ZPA)/ReleaseNotes.md
Labels: Solution

#12482 fix: removed Go source code
  Solutions/NordPass/Data Connectors/src/cmd/api/api.go
  Solutions/NordPass/Data Connectors/src/go.mod
  Solutions/NordPass/Data Connectors/src/go.sum
  Solutions/NordPass/Data Connectors/src/internal/activity/mapper.go
  Solutions/NordPass/Data Connectors/src/internal/activity/response.go
  Solutions/NordPass/Data Connectors/src/internal/api/mock_service.go
  Solutions/NordPass/Data Connectors/src/internal/api/service.go
  Solutions/NordPass/Data Connectors/src/internal/apierrors/error_invalid_body.go
  Solutions/NordPass/Data Connectors/src/internal/apierrors/error_parameter_type.go
  Solutions/NordPass/Data Connectors/src/internal/apierrors/error_parameter_validator.go
  Solutions/NordPass/Data Connectors/src/internal/apierrors/errors.go
  Solutions/NordPass/Data Connectors/src/internal/apierrors/handler.go
  Solutions/NordPass/Data Connectors/src/internal/apierrors/validation_handler.go
  Solutions/NordPass/Data Connectors/src/internal/client/http.go
  Solutions/NordPass/Data Connectors/src/internal/config/configurator.go
  Solutions/NordPass/Data Connectors/src/internal/container/azure_credential.go
  Solutions/NordPass/Data Connectors/src/internal/container/clock.go
  Solutions/NordPass/Data Connectors/src/internal/container/container.go
  Solutions/NordPass/Data Connectors/src/internal/container/logger.go
  Solutions/NordPass/Data Connectors/src/internal/container/mock_clock.go
  Solutions/NordPass/Data Connectors/src/internal/container/router.go
  Solutions/NordPass/Data Connectors/src/internal/controller/ingest_controller.go
  Solutions/NordPass/Data Connectors/src/internal/controller/ingest_controller_test.go
  Solutions/NordPass/Data Connectors/src/internal/router/router.go
  Solutions/NordPass/Data Connectors/src/internal/sentinel/entry.go
  Solutions/NordPass/Data Connectors/src/internal/sentinel/manager.go
  Solutions/NordPass/Data Connectors/src/internal/sentinel/mock_manager.go
  Solutions/NordPass/Data Connectors/src/internal/storage/manager.go
  Solutions/NordPass/Data Connectors/src/internal/utils/cursorManager.go
  Solutions/NordPass/Data Connectors/src/internal/utils/mock_cursor.go
Labels: Solution

#12495 Azure Function to update watchlist from a network restricted Azure Blob Storage
  Tools/WatchlistAutoUpdateFromNetworkRestrictedBlob/README.md
  Tools/WatchlistAutoUpdateFromNetworkRestrictedBlob/function_app.py
  Tools/WatchlistAutoUpdateFromNetworkRestrictedBlob/host.json
  Tools/WatchlistAutoUpdateFromNetworkRestrictedBlob/requirements.txt
Labels: Tools

#12045 Added support for GCC-High PIM
  Solutions/Cloud Identity Threat Protection Essentials/Analytic Rules/NewExtUserGrantedAdmin.yaml
  Solutions/Microsoft Business Applications/Analytic Rules/Power Platform - Account added to privileged Microsoft Entra roles.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/MultipleAdmin_membership_removals_from_NewAdmin.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_PrivlegedRoleAssignedOutsidePIM.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_UseraddedtoPrivilgedGroups.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UserAssignedNewPrivilegedRole.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UserAssignedPrivilegedRole.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/UseraddedtoPrivilgedGroups.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_MultipleAdmin_membership_removals_from_NewAdmin.yaml
  Solutions/SecurityThreatEssentialSolution/Analytic Rules/Threat_Essentials_NRT_UseraddedtoPrivilgedGroups.yaml
Labels: Solution

#12511 Added ReadMe file for Cisco Secure Endpoint CCF Data Connector
  Solutions/Cisco Secure Endpoint/Data Connectors/README.md
Labels: Codeless Connector Framework (CCF) Connector

#12521 Added Terraform Log setup file for Google Apigee CCF Connector
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPApigeeLogSetup/GCPApigeeLogSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPApigeeLogSetup/GCPApigeeLogSetup.tf
Labels: Codeless Connector Framework (CCF) Connector

#12460 OCI Connector CCP Migration
  .script/tests/KqlvalidationsTests/CustomTables/OCI_LogsV2_CL.json
  Solutions/Oracle Cloud Infrastructure/Data Connectors/OCI_logs_API_FunctionApp.json
  Solutions/Oracle Cloud Infrastructure/Data Connectors/Oracle_Cloud_Infrastructure_CCP/OCI_DataConnector_DCR.json
  Solutions/Oracle Cloud Infrastructure/Data Connectors/Oracle_Cloud_Infrastructure_CCP/OCI_DataConnector_DataConnectorDefinition.json
  Solutions/Oracle Cloud Infrastructure/Data Connectors/Oracle_Cloud_Infrastructure_CCP/OCI_DataConnector_PollingConfig.json
  Solutions/Oracle Cloud Infrastructure/Data Connectors/Oracle_Cloud_Infrastructure_CCP/OCI_DataConnector_Table.json
  Solutions/Oracle Cloud Infrastructure/Data Connectors/Oracle_Cloud_Infrastructure_CCP/azuredeploy_OCI_DataConnector_poller_connector.json
  Solutions/Oracle Cloud Infrastructure/Data/Solution_OCILogs.json
  Solutions/Oracle Cloud Infrastructure/Package/3.0.2.zip
  Solutions/Oracle Cloud Infrastructure/Package/createUiDefinition.json
  Solutions/Oracle Cloud Infrastructure/Package/mainTemplate.json
  Solutions/Oracle Cloud Infrastructure/Package/testParameters.json
  Solutions/Oracle Cloud Infrastructure/Parsers/OCILogs.yaml
  Solutions/Oracle Cloud Infrastructure/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Codeless Connector Framework (CCF) Connector, Content-Package

#12381 Updated mainTemplate.json and added 3.0.3.zip file
  Solutions/Cloudflare/Data Connectors/Cloudflare_API_FunctionApp.json
  Solutions/Cloudflare/Package/3.0.2.zip
  Solutions/Cloudflare/Package/createUiDefinition.json
  Solutions/Cloudflare/Package/mainTemplate.json
Labels: Solution

#12502 Add OAuth phishing email CDR
  Hunting Queries/Microsoft 365 Defender/Email Queries/Custom Detections/Potential OAuth phishing email delivered into Inbox.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Custom Detections/Potential OAuth phishing email delivered into Inbox.yaml
Labels: Solution, Hunting

#12349 Google Cloud Platform Resource Manager CCF Connector Standard Table
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPResourceManagerLogsSetup/GCPResourceManagerLogSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPResourceManagerLogsSetup/GCPResourceManagerLogSetup.tf
  Solutions/GoogleCloudPlatformResourceManager/Data Connectors/GCPResourceManagerAuditLogs_ccf/GCPResourceManagerAuditLogs_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformResourceManager/Data Connectors/GCPResourceManagerAuditLogs_ccf/GCPResourceManagerAuditLogs_DCR.json
  Solutions/GoogleCloudPlatformResourceManager/Data Connectors/GCPResourceManagerAuditLogs_ccf/GCPResourceManagerAuditLogs_PollingConfig.json
  Solutions/GoogleCloudPlatformResourceManager/Data Connectors/README.md
  Solutions/GoogleCloudPlatformResourceManager/Data/Solution_GoogleCloudPlatformResourceManager.json
  Solutions/GoogleCloudPlatformResourceManager/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformResourceManager/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformResourceManager/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformResourceManager/Package/testParameters.json
  Solutions/GoogleCloudPlatformResourceManager/ReleaseNotes.md
  Solutions/GoogleCloudPlatformResourceManager/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Codeless Connector Framework (CCF) Connector, Content-Package

#12315 Google Cloud Platform Compute Engine CCP Connector with Standard Table
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPComputeEngineLogsSetup/GCPComputeEngineLogSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPComputeEngineLogsSetup/GCPComputeEngineLogSetup.tf
  Solutions/Google Cloud Platform Compute Engine/Data Connectors/GCPComputeEngineLog_CCP/GCPComputeEngineLog_ConnectorDefinition.json
  Solutions/Google Cloud Platform Compute Engine/Data Connectors/GCPComputeEngineLog_CCP/GCPComputeEngineLog_DCR.json
  Solutions/Google Cloud Platform Compute Engine/Data Connectors/GCPComputeEngineLog_CCP/GCPComputeEngineLog_PollerConfig.json
  Solutions/Google Cloud Platform Compute Engine/Data Connectors/GCPComputeEngineReadme.md
  Solutions/Google Cloud Platform Compute Engine/Data/Solution_GoogleCloudPlatformComputeEngine.json
  Solutions/Google Cloud Platform Compute Engine/Package/3.0.0.zip
  Solutions/Google Cloud Platform Compute Engine/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Compute Engine/Package/mainTemplate.json
  Solutions/Google Cloud Platform Compute Engine/Package/testParameters.json
  Solutions/Google Cloud Platform Compute Engine/ReleaseNotes.md
  Solutions/Google Cloud Platform Compute Engine/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Codeless Connector Framework (CCF) Connector, Content-Package

#12417 Cisco ASA Version Update
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoASA.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoASA.yaml
  Sample Data/ASIM/Cisco_ASA_NetworkSession_IngestedLogs.csv
Labels: ASIM

#12504 reworked SecurityBridge push api
  Solutions/SecurityBridge App/Data Connectors/Connector_SecurityBridge.json
  Solutions/SecurityBridge App/Data Connectors/SecurityBridge_PUSH_CCP/SecurityBridge_DCR.json
  Solutions/SecurityBridge App/Data Connectors/SecurityBridge_PUSH_CCP/SecurityBridge_connectorDefinition.json
  Solutions/SecurityBridge App/Data Connectors/SecurityBridge_PUSH_CCP/SecurityBridge_dataConnector.json
  Solutions/SecurityBridge App/Data Connectors/SecurityBridge_PUSH_CCP/solutionMetadata.json
  Solutions/SecurityBridge App/Data/Solution_SecurityBridgeSAP.json
  Solutions/SecurityBridge App/Package/3.2.0.zip
  Solutions/SecurityBridge App/Package/createUiDefinition.json
  Solutions/SecurityBridge App/Package/mainTemplate.json
  Solutions/SecurityBridge App/Package/testParameters.json
  Solutions/SecurityBridge App/ReleaseNotes.md
Labels: Codeless Connector Framework (CCF) Connector

#12536 Log4j playbooks: Update Log4jIndicatorProcessor and readme file
  Solutions/Apache Log4j Vulnerability Detection/Data/Solution_Log4j.json
  Solutions/Apache Log4j Vulnerability Detection/Package/3.0.7.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/BatchImport/BatchImportToSentinel.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/IndicateProcessor/Log4jIndicatorProcessor.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/IndicatorProcessor/Images/Log4jIndicatorProcessor_Dark.png
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/IndicatorProcessor/Images/Log4jIndicatorProcessor_Light.png
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/IndicatorProcessor/Log4jIndicatorProcessor.json
  Solutions/Apache Log4j Vulnerability Detection/Playbooks/Readme.md
  Solutions/Apache Log4j Vulnerability Detection/ReleaseNotes.md
Labels: Solution, Content-Package

#12514 Gcp cloud monitoring Readme links updated
  Solutions/Google Cloud Platform Cloud Monitoring/Data Connectors/GCPMonitoringLogs_CCP/GCPCloudMonitoringLogs_ConnectorDefinition.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/3.0.2.zip
  Solutions/Google Cloud Platform Cloud Monitoring/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Cloud Monitoring/Package/mainTemplate.json
Labels: Codeless Connector Framework (CCF) Connector, Content-Package

#12470 Update template_WindowsFirewallAma.JSON to GA
  Solutions/Windows Firewall/Data Connectors/template_WindowsFirewallAma.JSON
  Solutions/Windows Firewall/Data/Solution_Windows Firewall.json
  Solutions/Windows Firewall/Package/3.0.3.zip
  Solutions/Windows Firewall/Package/createUiDefinition.json
  Solutions/Windows Firewall/Package/mainTemplate.json
  Solutions/Windows Firewall/ReleaseNotes.md
Labels: Solution

#12518 Added resourceName for DruvaQuarantineEnterpriseWorkload
  Solutions/DruvaDataSecurityCloud/Package/3.0.1.zip
  Solutions/DruvaDataSecurityCloud/Package/mainTemplate.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineEnterpriseWorkload/azuredeploy.json
Labels: Solution

#8884 Azurekid - ConvertFrom-Asim
  ASIM/dev/ConvertFrom-ASim/ConvertFrom-ASim.ps1
  ASIM/dev/ConvertFrom-ASim/documentation/README.md
  ASIM/dev/ConvertFrom-ASim/documentation/image.png
  ASIM/dev/ConvertFrom-ASim/examples/vimAuditEventMicrosoftExchangeAdmin365.json
  ASIM/dev/ConvertFrom-ASim/examples/vimAuditEventMicrosoftExchangeAdmin365.yaml
  ASIM/dev/Parser YAML templates/vimAuthenticationTemplate.yaml
Labels: ASIM

#12453 Resolved VPC Flow Log Location aware issue
  DataConnectors/AWS-S3/Utils/AwsResourceCreator.ps1
Labels: Connector

#12560 fix images urls
  Solutions/BlinkOps/Playbooks/Sentinel-Alert-Handler/readme.md
Labels: Solution

#12343 Cloudflare CCF Migration
  .script/tests/KqlvalidationsTests/CustomTables/CloudflareV2_CL.json
  Solutions/Cloudflare/Data Connectors/CloudflareLog_CCF/CloudflareLog_ConnectorDefinition.json
  Solutions/Cloudflare/Data Connectors/CloudflareLog_CCF/CloudflareLog_DCR.json
  Solutions/Cloudflare/Data Connectors/CloudflareLog_CCF/CloudflareLog_PollerConfig.json
  Solutions/Cloudflare/Data Connectors/CloudflareLog_CCF/CloudflareLog_Table.json
  Solutions/Cloudflare/Data Connectors/Cloudflare_API_FunctionApp.json
  Solutions/Cloudflare/Data/Solution_Cloudflare.json
  Solutions/Cloudflare/Package/3.0.2.zip
  Solutions/Cloudflare/Package/createUiDefinition.json
  Solutions/Cloudflare/Package/mainTemplate.json
  Solutions/Cloudflare/Package/testParameters.json
  Solutions/Cloudflare/Parsers/Cloudflare.yaml
  Solutions/Cloudflare/ReleaseNotes.md
Labels: Codeless Connector Framework (CCF) Connector, Content-Package, P0

#12552 Update SolutionMetadata.json
  Solutions/GoogleCloudPlatformNAT/Data Connectors/GCPNATLogs_ccp/GCPNATLogs_DCR.json
  Solutions/GoogleCloudPlatformNAT/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformNAT/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformNAT/SolutionMetadata.json
Labels: Solution, Content-Package

#12570 Update release notes for AWS NetworkFirewall and PingOne
  Solutions/Amazon Web Services NetworkFirewall/ReleaseNotes.md
  Solutions/PingOne/ReleaseNotes.md
Labels: documentation

#12561 Sap-logserv-workbook-add
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/SAPLogServ_DCR.json
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/SAPLogServ_connectorDefinition.json
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/SAPLogServ_dataConnector.json
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/solutionMetadata.json
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/table.json
  Solutions/SAP LogServ/Data/Solution_SAPLogServ.json
  Solutions/SAP LogServ/Package/3.0.3.zip
  Solutions/SAP LogServ/Package/createUiDefinition.json
  Solutions/SAP LogServ/Package/mainTemplate.json
  Solutions/SAP LogServ/Package/testParameters.json
  Solutions/SAP LogServ/ReleaseNotes.md
  Solutions/SAP LogServ/SolutionMetadata.json
  Solutions/SAP LogServ/Workbooks/SAPLogServObserve.json
  Workbooks/Images/Preview/SAPLogServActivityBlack.png
  Workbooks/Images/Preview/SAPLogServActivityWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#12252 Cisco Meraki Workbook updated with new ThreatIntelIndicators table
  Solutions/CiscoMeraki/Package/3.0.4.zip
  Solutions/CiscoMeraki/Package/mainTemplate.json
  Solutions/CiscoMeraki/ReleaseNotes.md
  Solutions/CiscoMeraki/Workbooks/CiscoMerakiWorkbook.json
Labels: Workbook, Solution

#12250 Salesforce workbook updated with new ThreatIntelIndicators Table
  Solutions/Salesforce Service Cloud/Package/3.0.4.zip
  Solutions/Salesforce Service Cloud/Package/createUiDefinition.json
  Solutions/Salesforce Service Cloud/Package/mainTemplate.json
  Solutions/Salesforce Service Cloud/ReleaseNotes.md
  Solutions/Salesforce Service Cloud/Workbooks/SalesforceServiceCloud.json
Labels: Solution

#12587 AWS VPC Flow Logs Data Connector
  Solutions/AWS VPC Flow Logs/Data Connectors/AWSVPCFlowLogs_CCP/AWSVPCFlowLogs_DCR.json
  Solutions/AWS VPC Flow Logs/Data Connectors/AWSVPCFlowLogs_CCP/AWSVPCFlowLogs_DataConnectorDefinition.json
  Solutions/AWS VPC Flow Logs/Data Connectors/AWSVPCFlowLogs_CCP/AWSVPCFlowLogs_PollingConfig.json
  Solutions/AWS VPC Flow Logs/Data/Solution_AWSVPCFlowLogs.json
  Solutions/AWS VPC Flow Logs/Package/3.0.0.zip
  Solutions/AWS VPC Flow Logs/Package/createUiDefinition.json
  Solutions/AWS VPC Flow Logs/Package/mainTemplate.json
  Solutions/AWS VPC Flow Logs/Package/testParameters.json
  Solutions/AWS VPC Flow Logs/ReleaseNotes.md
  Solutions/AWS VPC Flow Logs/SolutionMetadata.json
  Solutions/AWS VPC Flow Logs/readme.md
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Content-Package

#12201 Entra id Conditional Access (prefix) analytic rules - NEW
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - A Conditional Access Device platforms condition has changed (the Device platforms condition can be spoofed).yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - A Conditional Access app exclusion has changed.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - A Conditional Access policy was deleted.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - A Conditional Access policy was disabled.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - A Conditional Access policy was put into report-only mode.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - A Conditional Access policy was updated.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - A Conditional Access usergrouprole exclusion has changed.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - A new Conditional Access policy was created.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/Conditional Access - Dynamic Group Exclusion Changes.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.3.5.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution

#12592 Removed deprecated Data Connector
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.10.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
  Solutions/Proofpoint On demand(POD) Email Security/Data/Solution_ProofPointPOD.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/3.0.5.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
  Solutions/Proofpoint On demand(POD) Email Security/ReleaseNotes.md
Labels: Solution, Content-Package

#12595 Removed deprecated Data Connector for Slack Audit and AtlassianConfluenceAudit Solutions.
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/3.0.6.zip
  Solutions/AtlassianConfluenceAudit/Package/createUiDefinition.json
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/ReleaseNotes.md
  Solutions/SlackAudit/Package/3.0.4.zip
  Solutions/SlackAudit/Package/createUiDefinition.json
  Solutions/SlackAudit/Package/mainTemplate.json
  Solutions/SlackAudit/ReleaseNotes.md
  Solutions/SlackAudit/data/Solution_SlackAudit.json
Labels: Solution, Content-Package

#12584 Cotrast adr solution
  .script/tests/KqlvalidationsTests/CustomTables/ContrastADR_CL.json
  Solutions/ContrastADR/Data Connectors/azuredeploy_ContrastADR_functionapp.json
  Solutions/ContrastADR/Package/3.0.0.zip
  Solutions/ContrastADR/Package/mainTemplate.json
  Solutions/ContrastADR/Parsers/Contrast_alert_event_parser.yaml
  Solutions/Samsung Knox Asset Intelligence/ReleaseNotes.md
Labels: Connector, Parser, Solution

#12601 Removed deprecated Data Connector
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.10.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/Proofpoint On demand(POD) Email Security/Data/Solution_ProofPointPOD.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/3.0.5.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
  Solutions/QualysVM/Package/3.0.5.zip
  Solutions/QualysVM/Package/createUiDefinition.json
  Solutions/QualysVM/Package/mainTemplate.json
  Solutions/QualysVM/ReleaseNotes.md
  Solutions/QualysVM/data/Solution_QualysVM.json
Labels: Solution, Content-Package

#12545 Fix package tool slash packaging
  .github/actions/Dockerfile
  .github/workflows/arm-ttk-validations.yaml
  .github/workflows/package-command.yaml
  .github/workflows/package-on-fork.yaml
  .github/workflows/package-on-merge.yaml
  .github/workflows/slash-command-armttk.yaml
  .github/workflows/slash-command-dispatch.yaml
  .script/package-automation/arm-ttk-tests.ps1
  .script/package-automation/checkSkipPackagingInfo.ps1
  .script/package-automation/getSolutionName.ps1
  .script/package-automation/newOrExistingSolution.ps1
  .script/package-automation/package-generator.ps1
  .script/package-automation/package-on-fork-pr.ps1
  .script/package-automation/package-service.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/common/get-ccp-details.ps1
  Tools/Create-Azure-Sentinel-Solution/pipeline/createSolutionV4.ps1
Labels: Tools
