Repository Azure/Azure-Sentinel, pull requests merged in 2025-03, with the labels that each got.

#11871 Updated deploy links for Confluence Audit Data connector
  Solutions/AtlassianConfluenceAudit/Data Connectors/AtlassianConfluenceAuditDataConnector/ConfluenceAudit_API_FunctionApp.json
  Solutions/AtlassianConfluenceAudit/Package/3.0.3.zip
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
Labels: Solution, Content-Package

#11777 Netskope CCP Integration
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeAlerts_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeEventsApplication_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeEventsAudit_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeEventsConnection_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeEventsDLP_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeEventsEndpoint_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeEventsInfrastructure_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeEventsNetwork_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeEventsPage_CL.json
  Sample Data/Custom/Netskope/NetskopeAlerts_CL.csv
  Sample Data/Custom/Netskope/NetskopeEventsApplication_CL.csv
  Sample Data/Custom/Netskope/NetskopeEventsConnection_CL.csv
  Sample Data/Custom/Netskope/NetskopeEventsDLP_CL.csv
  Sample Data/Custom/Netskope/NetskopeEventsEndpoint_CL.csv
  Sample Data/Custom/Netskope/NetskopeEventsNetwork_CL.csv
  Sample Data/Custom/Netskope/NetskopeEventsPage_CL.csv
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeAlertsEvents_ConnectorDefination.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeAlertsEvents_DCR.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeAlertsEvents_Poller.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeAlerts_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeEventsApplication_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeEventsAudit_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeEventsConnection_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeEventsDLP_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeEventsEndpoint_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeEventsInfrastructure_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeEventsNetwork_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeEventsPage_Table.json
  Solutions/Netskopev2/Data Connectors/NetskopeDataConnector/Netskope_FunctionApp.json
  Solutions/Netskopev2/Data/Solution_Netskope.json
  Solutions/Netskopev2/Package/3.0.2.zip
  Solutions/Netskopev2/Package/createUiDefinition.json
  Solutions/Netskopev2/Package/mainTemplate.json
  Solutions/Netskopev2/Package/testParameters.json
Labels: Connector, Solution

#11807 Updated tablename in MimecastAudit DataConnector UI page to fix the Connectivity issue
  .script/tests/KqlvalidationsTests/CustomTables/Audit_CL.json
  Solutions/Mimecast/Analytic Rules/MimecastAudit/Mimecast_Audit.yaml
  Solutions/Mimecast/Data Connectors/MimecastAudit/Mimecast_Audit_FunctionApp.json
  Solutions/Mimecast/Data/Solution_Mimecast.json
  Solutions/Mimecast/Package/3.0.1.zip
  Solutions/Mimecast/Package/mainTemplate.json
  Solutions/Mimecast/ReleaseNotes.md
Labels: Solution

#11858 Updating data type for Workspacekey and Api tokens
  Solutions/HolmSecurity/Data Connectors/azuredeploy_Connector_HolmSecurityAssets_AzureFunction.json
  Solutions/Okta Single Sign-On/Data Connectors/OktaSingleSign-On/azuredeploy_OktaSingleSignOn_API_FunctionApp_V2.json
  Solutions/ProofPointTap/Data Connectors/azuredeploy_ProofpointTAP_API_FunctionApp.json
  Solutions/Qualys VM Knowledgebase/Data Connectors/azuredeploy_QualysKB_API_FunctionApp.json
  Solutions/QualysVM/Data Connectors/azuredeploy_QualysVM_API_FunctionApp_V2.json
  Solutions/Trend Micro Vision One/Data Connectors/azuredeploy_TrendMicroVisionOne_API_FunctionApp.json
  Solutions/VMware Carbon Black Cloud/Data Connectors/azuredeploy_VMwareCarbonBlack_API_FunctionApp.json
  Solutions/ZeroNetworks/Data Connectors/SegmentFunctionConnector/azuredeploy_Connector_ZeroNetworks_Segment_Audit_AzureFunction.json
Labels: Connector, P0

#11846 Set `minimumTlsVersion` to `TLS1_2`
  Solutions/Auth0/Data Connectors/azuredeploy_Auth0_FunctionApp.json
Labels: Connector, Solution

#11852 Varonis SaaS: migrate azure function to .net 8
  Solutions/VaronisSaaS/Data Connectors/Varonis.Sentinel.Functions.zip
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/Varonis.Sentinel.Functions.csproj
  Solutions/VaronisSaaS/Data Connectors/VaronisSaaSFunction/Varonis.Sentinel.Functions/local.settings.json
  Solutions/VaronisSaaS/Data Connectors/azuredeploy.bicep
  Solutions/VaronisSaaS/Data Connectors/azuredeploy.json
Labels: Connector, Solution

#11853 Fix invalid query issue in Doppel Data Connector connectivity check
  Solutions/Doppel/Data Connectors/Template_Doppel.json
  Solutions/Doppel/Data/Solution_Doppel.json
  Solutions/Doppel/Package/3.0.1.zip
  Solutions/Doppel/Package/mainTemplate.json
  Solutions/Doppel/ReleaseNotes.md
Labels: Connector, Solution

#11879 Duplicating PR #11733
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxApplicationPrivilegeEscalationOrChange.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxKeyguardDisabledFeatureSet.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxMobileDeviceBootCompromise.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPasswordLockout.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPeripheralAccessDetectionWithCamera.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPeripheralAccessDetectionWithMic.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxSecurityLogFull.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxSuspiciousURLs.yaml
  Solutions/Samsung Knox Asset Intelligence/Data Connectors/Template_Samsung.json
  Solutions/Samsung Knox Asset Intelligence/Data/Solution_Samsung.json
  Solutions/Samsung Knox Asset Intelligence/Package/3.0.0.zip
  Solutions/Samsung Knox Asset Intelligence/Package/3.0.1.zip
  Solutions/Samsung Knox Asset Intelligence/Package/createUiDefinition.json
  Solutions/Samsung Knox Asset Intelligence/Package/mainTemplate.json
  Solutions/Samsung Knox Asset Intelligence/ReleaseNotes.md
Labels: Connector, Solution, Content-Package, P0

#11881 Duplicating PR #11845
  .script/tests/KqlvalidationsTests/CustomTables/jamfprotecttelemetryv2_CL.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/connectorDefinition.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/solutionMetadata.json
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Package/3.2.2.zip
  Solutions/Jamf Protect/Package/3.2.3.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/Parsers/JamfProtect.yaml
  Solutions/Jamf Protect/ReleaseNotes.md
  Solutions/Jamf Protect/SolutionMetadata.json
Labels: Connector, Parser, Solution, Content-Package, P0

#11883 fix publisher id after certification finding
  Solutions/SAP ETD Cloud/Package/3.0.0.zip
  Solutions/SAP ETD Cloud/Package/createUiDefinition.json
  Solutions/SAP ETD Cloud/Package/mainTemplate.json
  Solutions/SAP ETD Cloud/SolutionMetadata.json
Labels: Solution

#11882 fix publisher id as per partner center certification review finding
  Solutions/SAP LogServ/Package/3.0.0.zip
  Solutions/SAP LogServ/Package/mainTemplate.json
  Solutions/SAP LogServ/SolutionMetadata.json
Labels: Solution

#11869 Fix Docker Daemon and Container Proxy Configuration
  Solutions/SAP/sapcon-sentinel-kickstart-sapcon-java.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-ui-agent-kickstart.sh
Labels: SAP

#11833 AIShield AI Security Monitoring Solution Guardian updates
  .script/tests/KqlvalidationsTests/CustomTables/Guardian.json
  .script/tests/KqlvalidationsTests/CustomTables/Guardian_CL.json
  Sample Data/Custom/Guardian_CL.json
  Solutions/AIShield AI Security Monitoring/Analytic Rules/BIIDetectionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/BanTopicVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/BlockCompetitorVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/BlockSubstringVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/CodeDetectionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ContentAccessControlAllowedListVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ContentAccessControlBlockedListVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ContentSafetyProfanityVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/ContentSafetyToxicityVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/GenderBiasVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/InputOutputRelevanceVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/InputRateLimiterVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/InvisibleTextVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/JSONPolicyViolationVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/LanguageDetectionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/MaliciousURLDetectionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/NoLLMOutputVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/NotSafeForWorkVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/PrivacyProtectionPIIVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/RacialBiasVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/RegexVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/SameInOpLanguageDetectionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/SecretsVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/SecurityIntegrityChecksPIIVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/SentimentVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/SpecialPIIDetectionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/TokenLimitVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/URLDetectionVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Analytic Rules/URLReachabilityVulDetection.yaml
  Solutions/AIShield AI Security Monitoring/Data Connectors/AIShieldConnector.json
  Solutions/AIShield AI Security Monitoring/Data/Solution_AIShield.json
  Solutions/AIShield AI Security Monitoring/Package/3.0.1.zip
  Solutions/AIShield AI Security Monitoring/Package/createUiDefinition.json
  Solutions/AIShield AI Security Monitoring/Package/mainTemplate.json
  Solutions/AIShield AI Security Monitoring/Package/testParameters.json
  Solutions/AIShield AI Security Monitoring/Parsers/Guardian.yaml
  Solutions/AIShield AI Security Monitoring/ReleaseNotes.md
  Solutions/AIShield AI Security Monitoring/SolutionMetadata.json
  Solutions/AIShield AI Security Monitoring/Workbooks/GuardianDashboard.json
  Solutions/AIShield AI Security Monitoring/Workbooks/Images/Preview/GuardianDashboardBlack.png
  Solutions/AIShield AI Security Monitoring/Workbooks/Images/Preview/GuardianDashboardWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Parser, Analytic Rules

#11740 Adding new MDO Advance hunting queries to Hunting query and Defender XDR solution-Hunting query area
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/Email sender IP address Geo location information.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/General/Hunt for Admin email access.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/Automated email notifications and suspicious sign-in activity.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/BEC - File sharing tactics - Dropbox.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/BEC - File sharing tactics - OneDrive or SharePoint.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/Hunt for email bombing attacks.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/Top outbound recipient domains sending inbound emails with threats.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Phish/Possible Teams phishing activity.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Phish/Possible device code phishing attempts.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Remediation/AIR investigation actions insight.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/General/Email sender IP address Geo location information.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/General/Hunt for Admin email access.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Hunting/Hunt for email bombing attacks.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Hunting/Top outbound recipient domains sending inbound emails with threats.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Phish/Possible Teams phishing activity.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Phish/Possible device code phishing attempts.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Remediation/AIR investigation actions insight.yaml
Labels: Solution, Hunting, Standalone

#11900 Create Email bombing.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Hunting/Email bombing.yaml
Labels: Hunting

#11901 Create Email bombing.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Hunting/Email bombing.yaml
Labels: Hunting

#11870 Readme updated for gcp and aws
  Tools/Create-Azure-Sentinel-Solution/V3/CCP_README.md
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/ccp-folder-structure-new.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/dataInputDataConnectorsArray.png
Labels: documentation

#11854 Bump version
  Solutions/BloodHound Enterprise/Data/Solution_BloodHoundEnterprise.json
  Solutions/BloodHound Enterprise/Package/3.1.2.zip
  Solutions/BloodHound Enterprise/Package/createUiDefinition.json
  Solutions/BloodHound Enterprise/Package/mainTemplate.json
  Solutions/BloodHound Enterprise/ReleaseNotes.md
Labels: Connector

#11904 arm ttk fix
  Solutions/SAP ETD Cloud/Analytic Rules/SAPETD-LoginFromUnexpectedNetwork.yaml
  Solutions/SAP ETD Cloud/Analytic Rules/SAPETD-SynchAlerts.yaml
  Solutions/SAP ETD Cloud/Package/3.0.0.zip
  Solutions/SAP ETD Cloud/Package/mainTemplate.json
Labels: Solution

#11911 Summary rules examples
  Summary rules/DNS/ZscalarDNSEventsIPSummary.yaml
  Summary rules/Network/FortinetFortigateNetworkSessionIPSummary.yaml
  Summary rules/Network/PaloAltoPANOSNetworkSessionIPSummary.yaml
  Summary rules/Network/ZscalarNetworkSessionIPSummary.yaml
  Summary rules/WebSession/FortinetFortigateWebSessionIPSummary.yaml
  Summary rules/WebSession/PaloAltoPANOSWebSessionIPSummary.yaml
  Summary rules/WebSession/ZscalarWebSessionIPSummary.yaml
Labels: Summary Rules

#11912 Updated OfferId for TeamCymruScout to match solutionId with partner center
  Solutions/Team Cymru Scout/Package/3.0.0.zip
  Solutions/Team Cymru Scout/Package/mainTemplate.json
  Solutions/Team Cymru Scout/SolutionMetadata.json
Labels: Solution

#11785 Feat identity pba importer
  Solutions/Recorded Future Identity/Data/Solution_RecordedFutureIdentity.json
  Solutions/Recorded Future Identity/Package/3.1.0.zip
  Solutions/Recorded Future Identity/Package/createUiDefinition.json
  Solutions/Recorded Future Identity/Package/mainTemplate.json
  Solutions/Recorded Future Identity/Playbooks/Connectors/RFI-CustomConnector-0-2-0/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-Playbook-Alert-Importer-LAW-Sentinel/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-Playbook-Alert-Importer-LAW/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/RFI-Playbook-Alert-Importer/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/images/APIRequest2.png
  Solutions/Recorded Future Identity/Playbooks/images/added_actions_taken.png
  Solutions/Recorded Future Identity/Playbooks/images/apiconnection.png
  Solutions/Recorded Future Identity/Playbooks/images/managedidentity1.png
  Solutions/Recorded Future Identity/Playbooks/images/managedidentity2.png
  Solutions/Recorded Future Identity/Playbooks/images/playbookauth2.png
  Solutions/Recorded Future Identity/Playbooks/images/playbookparameters2.png
  Solutions/Recorded Future Identity/Playbooks/images/rf.png
  Solutions/Recorded Future Identity/Playbooks/images/risky_user_fail.png
  Solutions/Recorded Future Identity/Playbooks/images/runningPlaybooks2.png
  Solutions/Recorded Future Identity/Playbooks/readme.md
  Solutions/Recorded Future Identity/Playbooks/v3/RFI-CustomConnector-0-1-0/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3/RFI-add-EntraID-security-group-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3/RFI-confirm-EntraID-risky-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3/RFI-lookup-and-save-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3/RFI-search-external-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3/RFI-search-workforce-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3/readme.md
  Solutions/Recorded Future Identity/ReleaseNotes.md
  Solutions/Recorded Future Identity/readme.md
  Solutions/Recorded Future/Package/3.2.15.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/ThreatHunting/RecordedFuture-ActorThreatHunt-IndicatorImport/azuredeploy.json
  Solutions/Recorded Future/Playbooks/ThreatHunting/RecordedFuture-MalwareThreatHunt-IndicatorImport/azuredeploy.json
  Solutions/Recorded Future/Playbooks/ThreatHunting/RecordedFuture-ThreatMap-Importer/azuredeploy.json
  Solutions/Recorded Future/Playbooks/ThreatHunting/RecordedFuture-ThreatMapMalware-Importer/azuredeploy.json
  Solutions/Recorded Future/ReleaseNotes.md
Labels: Solution

#11918 update reader role with RFC metadata and XAL FMs
  Solutions/SAP/Sample Authorizations Role File/MSFTSEN_SENTINEL_READER.SAP
Labels: SAP

#11826 Fix Azure CLI version comparison bug
  Solutions/SAP/sapcon-sentinel-kickstart-sapcon-java.sh
  Solutions/SAP/sapcon-sentinel-kickstart.sh
  Solutions/SAP/sapcon-sentinel-ui-agent-kickstart.sh
Labels: SAP

#11905 Sap agentless package
  Solutions/SAP/Agentless/example-parameters.zip
  Solutions/SAP/Agentless/package-1.1.2.zip
Labels: SAP

#11920 Solution packaged for added new Hunting Query
  Solutions/Microsoft Defender XDR/Data/Solution_Microsoft Defender XDR.json
  Solutions/Microsoft Defender XDR/Package/3.0.11.zip
  Solutions/Microsoft Defender XDR/Package/createUiDefinition.json
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
Labels: Solution, Hunting, Content-Package

#11909 Bug fix in disabling data aging
  Solutions/Commvault Security IQ/Analytic Rules/CommvaultSecurityIQ_Alert.yaml
  Solutions/Commvault Security IQ/Analytic Rules/User_Alert.yaml
  Solutions/Commvault Security IQ/Data Connectors/AzureFunctionCommvaultSecurityIQ/main.py
  Solutions/Commvault Security IQ/Package/3.0.2.zip
  Solutions/Commvault Security IQ/Package/mainTemplate.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_Data_Aging_Logic_App/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_SAML_Provider_Logic_App/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/Commvault_Disable_User_Logic_App/azuredeploy.json
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_Data_Aging.py
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_IDP.py
  Solutions/Commvault Security IQ/Playbooks/Runbooks/Commvault_Disable_User.py
  Solutions/Commvault Security IQ/README.md
  Solutions/Commvault Security IQ/Tools/AssignLogicAppRoles.ps1
  Solutions/Commvault Security IQ/Tools/Setup-CommvaultAutomation.ps1
Labels: Solution

#11903 Google Cloud Platform Cloud IDS CCP Connector
  .script/tests/KqlvalidationsTests/CustomTables/GCP_CLOUDIDSV2_CL.json
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPCloudIDSLogSetup/GCPCloudIDSLogSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPCloudIDSLogSetup/GCPCloudIDSLogSetup.tf
  Solutions/GoogleCloudPlatformIDS/Data Connectors/GCPCloudIDSLog_CCP/GCPCloudIDSLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformIDS/Data Connectors/GCPCloudIDSLog_CCP/GCPCloudIDSLog_DCR.json
  Solutions/GoogleCloudPlatformIDS/Data Connectors/GCPCloudIDSLog_CCP/GCPCloudIDSLog_PollingConfig.json
  Solutions/GoogleCloudPlatformIDS/Data Connectors/GCPCloudIDSLog_CCP/GCPCloudIDSLog_Table.json
  Solutions/GoogleCloudPlatformIDS/Data Connectors/README.md
  Solutions/GoogleCloudPlatformIDS/Data/Solution_GoogleCloudPlatformIDS.json
  Solutions/GoogleCloudPlatformIDS/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformIDS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIDS/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIDS/Package/testParameters.json
  Solutions/GoogleCloudPlatformIDS/ReleaseNotes.md
  Solutions/GoogleCloudPlatformIDS/SolutionMetadata.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#11897 Google Cloud Platform CDN CCP Connector
  .script/tests/KqlvalidationsTests/CustomTables/GCP_CDNV2_CL.json
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPCDNLogsSetup/GCPCDNLogSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPCDNLogsSetup/GCPCDNLogSetup.tf
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_DCR.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_PollingConfig.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_Table.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/README.md
  Solutions/GoogleCloudPlatformCDN/Data/Solution_GoogleCloudPlatformCDN.json
  Solutions/GoogleCloudPlatformCDN/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformCDN/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformCDN/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformCDN/Package/testParameters.json
  Solutions/GoogleCloudPlatformCDN/ReleaseNotes.md
  Solutions/GoogleCloudPlatformCDN/SolutionMetadata.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#11937 Update readme.md
  Playbooks/Save-NamedLocations/readme.md
Labels: documentation

#11893 Deprecate 4 solutions of Mimecast
  Solutions/MimecastAudit/Data/Solution_MimecastAudit.json
  Solutions/MimecastAudit/Package/3.0.2.zip
  Solutions/MimecastAudit/Package/createUiDefinition.json
  Solutions/MimecastAudit/Package/mainTemplate.json
  Solutions/MimecastAudit/Package/testParameters.json
  Solutions/MimecastAudit/ReleaseNotes.md
  Solutions/MimecastSEG/Analytic Rules/MimecastSIEM_AV.yaml
  Solutions/MimecastSEG/Analytic Rules/MimecastSIEM_Attachment.yaml
  Solutions/MimecastSEG/Analytic Rules/MimecastSIEM_Impersonation.yaml
  Solutions/MimecastSEG/Analytic Rules/MimecastSIEM_Spam_Event.yaml
  Solutions/MimecastSEG/Analytic Rules/MimecastSIEM_Url_Protect.yaml
  Solutions/MimecastSEG/Analytic Rules/MimecastSIEM_Virus.yaml
  Solutions/MimecastSEG/Data/Solution_MimecastSEG.json
  Solutions/MimecastSEG/Package/3.0.2.zip
  Solutions/MimecastSEG/Package/createUiDefinition.json
  Solutions/MimecastSEG/Package/mainTemplate.json
  Solutions/MimecastSEG/Package/testParameters.json
  Solutions/MimecastSEG/ReleaseNotes.md
  Solutions/MimecastSEG/Workbooks/MimecastSEGworkbook.json
  Solutions/MimecastTIRegional/Data/Solution_MimecastTIRegional.json
  Solutions/MimecastTIRegional/Package/3.0.2.zip
  Solutions/MimecastTIRegional/Package/createUiDefinition.json
  Solutions/MimecastTIRegional/Package/mainTemplate.json
  Solutions/MimecastTIRegional/Package/testParameters.json
  Solutions/MimecastTIRegional/ReleaseNotes.md
  Solutions/MimecastTTP/Data/Solution_MimecastTTP.json
  Solutions/MimecastTTP/Package/3.0.2.zip
  Solutions/MimecastTTP/Package/createUiDefinition.json
  Solutions/MimecastTTP/Package/mainTemplate.json
  Solutions/MimecastTTP/Package/testParameters.json
  Solutions/MimecastTTP/ReleaseNotes.md
  Solutions/MimecastTTP/Workbooks/MimecastTTPWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#11919 Isolate-AzVM - Automated VM isolation with snapshots in support of digital forensics incident response (DFIR)
  Playbooks/Isolate-AzVM/Convert-SnapshotsToVHD.ps1
  Playbooks/Isolate-AzVM/Images/Convert-SnapshotsToVHD-menu.png
  Playbooks/Isolate-AzVM/Images/Convert-SnapshotsToVHD-vars.png
  Playbooks/Isolate-AzVM/Images/CustomDetails.png
  Playbooks/Isolate-AzVM/Images/EntityMapping.png
  Playbooks/Isolate-AzVM/Images/Get-AzEnvironment.png
  Playbooks/Isolate-AzVM/Images/NSG-Rules-Highlighted.png
  Playbooks/Isolate-AzVM/Images/NSG-Rules.png
  Playbooks/Isolate-AzVM/Images/OV-1.png
  Playbooks/Isolate-AzVM/README.md
  Playbooks/Isolate-AzVM/Set-ManagedIdentity.ps1
  Playbooks/Isolate-AzVM/azuredeploy.json
Labels: Playbook

#11923 Semperis dsp solution fix
  Solutions/Semperis Directory Services Protector/Package/3.0.0.zip
  Solutions/Semperis Directory Services Protector/Package/createUiDefinition.json
  Solutions/Semperis Directory Services Protector/Package/mainTemplate.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPSecurityIndicators.json
Labels: Solution

#11748 Update SdeletedeployedviaGPOandrunrecursively(ASIMVersion).yaml to reference built-in ASIM parser
  Detections/ASimProcess/SdeletedeployedviaGPOandrunrecursively(ASIMVersion).yaml
Labels: ASIM, Standalone

#11951 Repackaged Microsoft Purview
  Solutions/Microsoft Purview/Data Connectors/MicrosoftPurview.json
  Solutions/Microsoft Purview/Data/Solution_MicrosoftPurview.json
  Solutions/Microsoft Purview/Package/3.0.0.zip
  Solutions/Microsoft Purview/Package/createUiDefinition.json
  Solutions/Microsoft Purview/Package/mainTemplate.json
  Solutions/Microsoft Purview/Package/testParameters.json
Labels: Solution, Content-Package

#11956 Update ReleaseNotes for Purview
  Solutions/Microsoft Purview/ReleaseNotes.md
Labels: documentation

#11959 GCP Cloud IDS CCP Connector
  Solutions/GoogleCloudPlatformIDS/Data Connectors/GCPCloudIDSLog_CCP/GCPCloudIDSLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformIDS/Data Connectors/GCPCloudIDSLog_CCP/GCPCloudIDSLog_DCR.json
  Solutions/GoogleCloudPlatformIDS/Data Connectors/README.md
  Solutions/GoogleCloudPlatformIDS/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformIDS/Package/mainTemplate.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#11945 Update MDO Workbook V2
  Solutions/Microsoft Defender XDR/Package/3.0.11.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
  Solutions/Microsoft Defender XDR/Workbooks/MicrosoftDefenderForOffice365detectionsandinsights.json
Labels: Workbook, 1P Solution, P0

#11953 fix: naming changes to reflect current naming conventions
  Playbooks/RecordedFuture-Block-IPs-and-Domains-on-Microsoft-Defender-for-Endpoint/readme.md
  Playbooks/RecordedFuture_IP_SCF/RecordedFuture_IP_SCF_ImportToDefenderEndpoint.json
  Playbooks/RecordedFuture_IP_SCF/RecordedFuture_IP_SCF_IndicatorProcessor.json
  Playbooks/RecordedFuture_IP_SCF/readme.md
Labels: Playbook, Standalone

#11952 New solution version
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Data/Solution_MicrosoftExchangeSecurity.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/3.3.2.zip
  Solutions/Microsoft Exchange Security - Exchange On-Premises/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange On-Premises/ReleaseNotes.md
  Solutions/Microsoft Exchange Security - Exchange Online/Data/Solution_MicrosoftExchangeSecurityExchangeOnline.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/3.1.7.zip
  Solutions/Microsoft Exchange Security - Exchange Online/Package/createUiDefinition.json
  Solutions/Microsoft Exchange Security - Exchange Online/Package/mainTemplate.json
  Solutions/Microsoft Exchange Security - Exchange Online/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#11967 Moving Solution GCP Load balancer logs GA
  Solutions/Google Cloud Platform Load Balancer Logs/Data Connectors/GCPFLoadBalancerLogs_GCP_CCP/GCPFLoadBalancerLogs_Definition.json
  Solutions/Google Cloud Platform Load Balancer Logs/Package/3.0.1.zip
  Solutions/Google Cloud Platform Load Balancer Logs/Package/mainTemplate.json
  Solutions/Google Cloud Platform Load Balancer Logs/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#11927 Update packaging tool to fix parameters and add support for "stepInfo" and "stepCollectorConfigs" sections
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Tools

#11976 Update- JumpcloudFunctionAppPsVersion
  DataConnectors/JumpCloud Single Sign On/azuredeploy_JumpCloud_API_FunctionApp.json
Labels: Connector

#11977 Update Readme.md
  DataConnectors/JumpCloud Single Sign On/Readme.md
Labels: documentation
