Repository Azure/Azure-Sentinel, pull requests merged in 2025-09, with the labels that each got.

#12648 Fixes to Anvilogic CCF Data Connector
  Solutions/Anvilogic/Analytic Rules/Anvilogic_Alerts.yaml
  Solutions/Anvilogic/Data Connectors/AnviLogic_CCF/Anvilogic_DCR.json
  Solutions/Anvilogic/Data Connectors/AnviLogic_CCF/Anvilogic_DataConnectorDefinition.json
  Solutions/Anvilogic/Data Connectors/AnviLogic_CCF/Anvilogic_Table.json
  Solutions/Anvilogic/Data/Solution_AnviLogic.json
  Solutions/Anvilogic/Package/3.0.0.zip
  Solutions/Anvilogic/Package/createUiDefinition.json
  Solutions/Anvilogic/Package/mainTemplate.json
Labels: Solution, Codeless Connector Framework (CCF) Connector

#12469 Update template_CiscoAsaAma.JSON to GA
  Solutions/CiscoASA/Data Connectors/template_CiscoAsaAma.JSON
  Solutions/CiscoASA/Package/3.0.7.zip
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/ReleaseNotes.md
Labels: Solution

#12728 Cisco cloud security link updation
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_API_FunctionApp.json
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_API_FunctionApp_elasticpremium.json
  Solutions/CiscoUmbrella/Package/3.0.6.zip
  Solutions/CiscoUmbrella/Package/mainTemplate.json
Labels: Solution, Content-Package

#12674 AWS Security Hub - New analytic rules and hunting queries
  .script/tests/KqlvalidationsTests/CustomTables/AWSSecurityHubFindings.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/AWS Security Hub/Analytic Rules/CloudTrailTrailEncryptionDisabled.yaml
  Solutions/AWS Security Hub/Analytic Rules/EC2SecurityGroupHighRiskOpenPorts.yaml
  Solutions/AWS Security Hub/Analytic Rules/IAMPolicyWithFullAdminPriv.yaml
  Solutions/AWS Security Hub/Analytic Rules/IAMRootUserMFADisabled.yaml
  Solutions/AWS Security Hub/Analytic Rules/IAMRootUserWithAccessKey.yaml
  Solutions/AWS Security Hub/Analytic Rules/SQSQueueNotEncrypted.yaml
  Solutions/AWS Security Hub/Analytic Rules/SQSQueuePublicAccess.yaml
  Solutions/AWS Security Hub/Analytic Rules/SSMDocumentsPublicSharingEnabled.yaml
  Solutions/AWS Security Hub/Data/Solution_AWSSecurityHub.json
  Solutions/AWS Security Hub/Hunting Queries/CloudTrailLogFileValidationDisabled.yaml
  Solutions/AWS Security Hub/Hunting Queries/EC2InstancePublicIPv4.yaml
  Solutions/AWS Security Hub/Hunting Queries/IAMUserMFADisabled.yaml
  Solutions/AWS Security Hub/Package/3.0.2.zip
  Solutions/AWS Security Hub/Package/createUiDefinition.json
  Solutions/AWS Security Hub/Package/mainTemplate.json
  Solutions/AWS Security Hub/ReleaseNotes.md
  Solutions/AWS Security Hub/Sample Logs/CloudTrail_log_file_validation_should_be_enabled.json
  Solutions/AWS Security Hub/Sample Logs/CloudTrail_should_have_encryption_at-rest_enabled.json
  Solutions/AWS Security Hub/Sample Logs/EC2_instances_should_not_have_a_public_IPv4_address.json
  Solutions/AWS Security Hub/Sample Logs/IAM_mfa_should_be_enabled_for_the_root_user.json
  Solutions/AWS Security Hub/Sample Logs/IAM_policies_should_not_allow_full_administrative_privileges.json
  Solutions/AWS Security Hub/Sample Logs/IAM_root_user_access_key_should_not_exist.json
  Solutions/AWS Security Hub/Sample Logs/MFA_should_be_enabled_for_all_IAM_users_that_have_a_console_password.json
  Solutions/AWS Security Hub/Sample Logs/SQS_queue_access_policies_should_not_allow_public_access.json
  Solutions/AWS Security Hub/Sample Logs/SQS_queues_should_be_encrypted_at_rest.json
  Solutions/AWS Security Hub/Sample Logs/SSM_documents_should_have_the_block_public_sharing_setting_enabled.json
  Solutions/AWS Security Hub/Sample Logs/Security_groups_should_not_allow_unrestricted_access_to_ports_with_high_risk.json
Labels: Solution, Analytic Rules, Content-Package

#12736 Move GCP Cloud SQL CCF Connector to GA.
  Solutions/GoogleCloudPlatformSQL/Data Connectors/GCPCloudSQLLog_CCF/GCPCloudSQLLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformSQL/Data/Solution_GoogleCloudPlatformSQL.json
  Solutions/GoogleCloudPlatformSQL/Package/3.0.1.zip
  Solutions/GoogleCloudPlatformSQL/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformSQL/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformSQL/ReleaseNotes.md
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12727 Threat Analysis & Response Workbook Updation
  Solutions/ThreatAnalysis&Response/Package/3.0.1.zip
  Solutions/ThreatAnalysis&Response/Package/createUiDefinition.json
  Solutions/ThreatAnalysis&Response/Package/mainTemplate.json
  Solutions/ThreatAnalysis&Response/Package/testParameters.json
  Solutions/ThreatAnalysis&Response/ReleaseNotes.md
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseBlack1.png
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseBlack2.png
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseBlack3.png
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseBlack4.png
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseWhite1.png
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseWhite2.png
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseWhite3.png
  Solutions/ThreatAnalysis&Response/Workbooks/Images/ThreatAnalysis&ResponseWhite4.png
  Solutions/ThreatAnalysis&Response/Workbooks/ThreatAnalysis&Response.json
  Solutions/ThreatAnalysis&Response/data/Solution_ThreatAnalysis&Response.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Content-Package

#12735 Moving GCP RM, GCP cloud run and GCP NAT CCF connector to GA
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
  Solutions/Google Cloud Platform Cloud Run/Data Connectors/GCPCloudRunLog_CCF/GCPCloudRunLogs_ConnectorDefinition.json
  Solutions/Google Cloud Platform Cloud Run/Data/Solution_GoogleCloudPlatformRun.json
  Solutions/Google Cloud Platform Cloud Run/Package/3.0.1.zip
  Solutions/Google Cloud Platform Cloud Run/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Cloud Run/Package/mainTemplate.json
  Solutions/Google Cloud Platform Cloud Run/ReleaseNotes.md
  Solutions/GoogleCloudPlatformNAT/Data Connectors/GCPNATLogs_ccp/GCPNATLogs_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformNAT/Data/Solution_GoogleCloudPlatformNAT.json
  Solutions/GoogleCloudPlatformNAT/Package/3.0.1.zip
  Solutions/GoogleCloudPlatformNAT/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformNAT/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformNAT/ReleaseNotes.md
  Solutions/GoogleCloudPlatformResourceManager/Data Connectors/GCPResourceManagerAuditLogs_ccf/GCPResourceManagerAuditLogs_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformResourceManager/Data/Solution_GoogleCloudPlatformResourceManager.json
  Solutions/GoogleCloudPlatformResourceManager/Package/3.0.1.zip
  Solutions/GoogleCloudPlatformResourceManager/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformResourceManager/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformResourceManager/ReleaseNotes.md
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12741 Updating ASIM readme content with Learn article link
  Parsers/Readme.md
Labels: readme

#12744 Updating content with Learn article link for Summary rules
  Summary rules/README.md
Labels: readme

#12745 Updating content with Learn article link for workbooks
  Workbooks/README.md
Labels: readme

#12749 Suppress CodeQL alerts
  DataConnectors/O365 DataCSharp/Teams.CustomConnector.Common/KeyVaultHelper.cs
  DataConnectors/Templates/Connector_REST_API_AzureFunctionApp_template/Template_REST_API_AzureFunction_App_Code/Template_REST_API_Function_App_C#/Template_REST_API_Function_App_C#.cs
  Solutions/CyberArkAudit/Data Connectors/.python_packages/lib/site-packages/cryptography/hazmat/primitives/keywrap.py
  Solutions/CyberArkAudit/Data Connectors/.python_packages/lib/site-packages/cryptography/hazmat/primitives/serialization/ssh.py
  Solutions/CyberArkAudit/Data Connectors/.python_packages/lib/site-packages/jwt/algorithms.py
  Solutions/CyberArkAudit/Data Connectors/CyberArkAuditConnector/exporter.py
Labels: Connector, Solution

#12732 Update Data Connector template For TI new
  .script/tests/KqlvalidationsTests/CustomTables/ThreatIntelObjects.json
  Solutions/Threat Intelligence (NEW)/Data Connectors/template_MicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence (NEW)/Data Connectors/template_PremiumMicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence (NEW)/Data Connectors/template_ThreatIntelligence.json
  Solutions/Threat Intelligence (NEW)/Data Connectors/template_ThreatIntelligenceTaxii.json
  Solutions/Threat Intelligence (NEW)/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence (NEW)/Data Connectors/template_ThreatIntelligenceUploadIndicators_ForGov.json
  Solutions/Threat Intelligence (NEW)/Package/3.0.5.zip
  Solutions/Threat Intelligence (NEW)/Package/mainTemplate.json
  Solutions/Threat Intelligence (NEW)/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#12759 Repackaged TI
  Solutions/Threat Intelligence (NEW)/Package/3.0.6.zip
  Solutions/Threat Intelligence (NEW)/Package/mainTemplate.json
  Solutions/Threat Intelligence (NEW)/ReleaseNotes.md
  Solutions/Threat Intelligence (NEW)/Workbooks/ThreatIntelligenceNew.json
Labels: Solution, Content-Package

#12765 Update release notes.
  Solutions/PaloAltoPrismaCloud/ReleaseNotes.md
Labels: readme

#12756 Updated DCR and Poller to prevent redundant data ingestion, improve pagination and handle connection interruptions for Snowflake CCF connector
  Solutions/Snowflake/Data Connectors/SnowflakeLogs_ccp/SnowflakeLogs_DCR.json
  Solutions/Snowflake/Data Connectors/SnowflakeLogs_ccp/SnowflakeLogs_PollingConfig.json
  Solutions/Snowflake/Package/3.0.3.zip
  Solutions/Snowflake/Package/createUiDefinition.json
  Solutions/Snowflake/Package/mainTemplate.json
Labels: Codeless Connector Framework (CCF) Connector, Content-Package

#12701 Adding Splunk alert ingestion tool
  Tools/SplunkAlertIngestion/DCR.json
  Tools/SplunkAlertIngestion/LogicApp.json
  Tools/SplunkAlertIngestion/README.md
  Tools/SplunkAlertIngestion/SplunkAlertIngestion.ps1
Labels: Tools

#12751 Added a new workbook for Cribl with the following metrics
  Workbooks/CriblWorkbook.json
  Workbooks/Images/Preview/CriblBlack.png
  Workbooks/Images/Preview/CriblWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#12771 Add files via upload
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_API_Connections_1.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_API_Connections_2.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Custom_Logs_1.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Demo_1.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Deploy_1.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Deploy_2.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Deploy_3.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Key_Vault_1.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Key_Vault_2.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Key_Vault_3.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Key_Vault_Access_1.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Key_Vault_Access_2.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Key_Vault_Access_3.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Key_Vault_Access_4.png
  Playbooks/AS-MuleSoft-Integration/Images/MuleSoft_Integration_Playbook_Enable_1.png
  Playbooks/AS-MuleSoft-Integration/README.md
  Playbooks/AS-MuleSoft-Integration/azuredeploy.json
Labels: Playbook, Standalone

#12738 Jamf Protect - 3.3.0
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Package/3.3.0.zip
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/Parsers/JamfProtectAlerts.yaml
  Solutions/Jamf Protect/Parsers/JamfProtectNetworkTraffic.yaml
  Solutions/Jamf Protect/Parsers/JamfProtectTelemetry.yaml
  Solutions/Jamf Protect/Parsers/JamfProtectThreatEvents.yaml
  Solutions/Jamf Protect/Parsers/JamfProtectUnifiedLogs.yaml
  Solutions/Jamf Protect/ReleaseNotes.md
  Solutions/Jamf Protect/SolutionMetadata.json
Labels: Parser, Solution

#12755 Updated the data connector definition file for the GitHub Enterprise Audit Logs CCF Connector
  Solutions/GitHub/Data Connectors/GitHubAuditLogs_CCF/GitHubAuditLogs_ConnectorDefinition.json
  Solutions/GitHub/Package/3.0.9.zip
  Solutions/GitHub/Package/createUiDefinition.json
  Solutions/GitHub/Package/mainTemplate.json
  Solutions/GitHub/ReleaseNotes.md
  Solutions/Snowflake/Data/Solution_Snowflake.json
  Solutions/Snowflake/Package/3.0.3.zip
  Solutions/Snowflake/Package/createUiDefinition.json
Labels: Codeless Connector Framework (CCF) Connector, Content-Package, P0

#12778 Adjust the Data Connector page, Dashboards, and Analytic Rules to display correctly in the Defender Portal
  .script/tests/KqlvalidationsTests/CustomTables/VeeamSessions_CL.json
  Sample Data/Custom/VeeamSessions_CL.csv
  Solutions/Veeam/Analytic Rules/Configuration_Backup_Failed.yaml
  Solutions/Veeam/Analytic Rules/Coveware_Security_Finding_Detected.yaml
  Solutions/Veeam/Analytic Rules/Malware_Activity_Detected.yaml
  Solutions/Veeam/Data Connectors/DeployTemplates/CustomTables/CustomTablesRoles.bicep
  Solutions/Veeam/Data Connectors/DeployTemplates/CustomTables/MainTables.bicep
  Solutions/Veeam/Data Connectors/DeployTemplates/CustomTables/VeeamSessionSchema.json
  Solutions/Veeam/Data Connectors/DeployTemplates/CustomTables/VeeamSessionsSchema.bicep
  Solutions/Veeam/Data Connectors/DeployTemplates/FunctionApp/azuredeploy.json
  Solutions/Veeam/Data Connectors/DeployTemplates/FunctionApp/azuredeploy_Veeam_API_FunctionApp.bicep
  Solutions/Veeam/Data Connectors/Veeam_API_FunctionApp.json
  Solutions/Veeam/Data Connectors/azuredeploy_Veeam_API_FunctionApp.json
  Solutions/Veeam/Package/3.0.0.zip
  Solutions/Veeam/Package/mainTemplate.json
  Solutions/Veeam/Watchlists/VONESettings/vone_settings.json
  Solutions/Veeam/Watchlists/VeeamBackupReplicationSettings/vbr_settings.json
  Solutions/Veeam/Workbooks/VeeamDataPlatformMonitoring/VeeamDataPlatformMonitoring.json
  Solutions/Veeam/Workbooks/VeeamSecurityActivities/VeeamSecurityActivities.json
Labels: Solution

#12529 Imperva Cloud WAF CCF Connector
  Solutions/ImpervaCloudWAF/Data Connectors/ImpervaCloudWAFLogs_ccf/ImpervaCloudWAFLogs_ConnectorDefinition.json
  Solutions/ImpervaCloudWAF/Data Connectors/Readme.md
  Solutions/ImpervaCloudWAF/Package/3.0.2.zip
  Solutions/ImpervaCloudWAF/Package/mainTemplate.json
Labels: Codeless Connector Framework (CCF) Connector, Content-Package

#12081 Updated ASIM parsers for Fortinet Fortigate
  Parsers/ASimWebSession/ARM/ASimWebSessionFortinetFortiGate/ASimWebSessionFortinetFortiGate.json
  Parsers/ASimWebSession/ARM/vimWebSessionFortinetFortiGate/vimWebSessionFortinetFortiGate.json
  Parsers/ASimWebSession/Parsers/ASimWebSessionFortinetFortiGate.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionFortinetFortiGate.yaml
  Sample Data/ASIM/Fortinet_FortiGate_WebSession_IngestedLogs.csv
  Sample Data/ASIM/Fortinet_Fortigate_WebSession_IngestedLogs.csv
Labels: ASIM, Parser

#12815 Add variables for sender and integration instance IDs.
  Solutions/Check Point Cyberint IOC/Package/3.0.1.zip
  Solutions/Check Point Cyberint IOC/Package/mainTemplate.json
Labels: Solution, P0

#12816 Fix Rule logic for abnormal protocol
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Port to Protocol.yaml
  Solutions/Global Secure Access/Data/Solution_GlobalSecureAccess.json
  Solutions/Global Secure Access/Package/3.0.1.zip
  Solutions/Global Secure Access/Package/mainTemplate.json
  Solutions/Global Secure Access/ReleaseNotes.md
Labels: Solution, Content-Package

#12694 MongoDB Atlas Solution
  .script/tests/KqlvalidationsTests/CustomTables/MDBALogTable_CL.json
  Solutions/MongoDBAtlas/Data Connectors/Logos/mongodb.svg
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/GetMDBALogs/__init__.py
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/GetMDBALogs/function.json
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/GetMDBALogs/job_state_table_store.py
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/MongoDBAtlasLogs.zip
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/MongoDBAtlasLogs_AzureFunction.json
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/azuredeploy_Connector_MongoDBAtlasLogs_AzureFunction.json
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/createUiDef.json
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/host.json
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/requirements.txt
  Solutions/MongoDBAtlas/Data/Solution_MongoDBAtlas.json
  Solutions/MongoDBAtlas/Package/3.0.0.zip
  Solutions/MongoDBAtlas/Package/createUiDefinition.json
  Solutions/MongoDBAtlas/Package/mainTemplate.json
  Solutions/MongoDBAtlas/Package/testParameters.json
  Solutions/MongoDBAtlas/README.md
  Solutions/MongoDBAtlas/SolutionMetadata.json
Labels: New Solution

#12826 Taxii data connector migration documentation
  Solutions/Threat Intelligence (NEW)/TAXII_Migration_Guide.md
Labels: documentation

#12830 Update workflow triggers to use pull_request
  .github/workflows/runAsimSchemaAndDataTesters.yaml
  .github/workflows/solutionIntegration.yaml
Labels: Tools

#12837 ServiceNow - added more info on severity and state field
  Solutions/Servicenow/StoreApp/README.md
Labels: documentation

#12806 Tanium Version 3.2.0
  Solutions/Tanium/Analytic Rules/TaniumThreatResponseAlerts.yaml
  Solutions/Tanium/Data/Solution_Tanium.json
  Solutions/Tanium/Package/3.2.0.zip
  Solutions/Tanium/Package/mainTemplate.json
  Solutions/Tanium/Playbooks/Tanium-ComplyFindings/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-GeneralHostInfo/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-MSDefenderHealth/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-QuarantineHosts/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-ResolveThreatResponseAlert/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-SCCMClientHealth/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-SecurityPatches/azuredeploy.json
  Solutions/Tanium/Playbooks/Tanium-UnquarantineHosts/azuredeploy.json
  cspell.config.json
Labels: Playbook, Solution

#12843 Update OCI CCP connector instructions for Oracle Cloud Infrastructure
  Solutions/Oracle Cloud Infrastructure/Data Connectors/Oracle_Cloud_Infrastructure_CCP/OCI_DataConnector_DataConnectorDefinition.json
  Solutions/Oracle Cloud Infrastructure/Package/3.0.4.zip
  Solutions/Oracle Cloud Infrastructure/Package/mainTemplate.json
Labels: Solution, Content-Package

#12734 new package with version added
  Solutions/CiscoDuoSecurity/Data/Solution_CiscoDuoSecurity.json
  Solutions/CiscoDuoSecurity/Package/3.0.3.zip
  Solutions/CiscoDuoSecurity/Package/mainTemplate.json
  Solutions/CiscoDuoSecurity/ReleaseNotes.md
Labels: Solution, Content-Package

#12851 Master
  Solutions/Anvilogic/Package/3.0.0.zip
  Solutions/Anvilogic/Package/mainTemplate.json
  Solutions/Anvilogic/SolutionMetadata.json
Labels: Content-Package

#12810 Entra ID Assets
  Logos/AADCloudSync.svg
  Solutions/Microsoft Entra ID Assets/Data Connectors/EntraIDAssets_DataConnectorDefinition.json
  Solutions/Microsoft Entra ID Assets/Data/Solution_MicrosoftEntraAssets.json
  Solutions/Microsoft Entra ID Assets/Package/3.0.0.zip
  Solutions/Microsoft Entra ID Assets/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID Assets/Package/mainTemplate.json
  Solutions/Microsoft Entra ID Assets/Package/testParameters.json
  Solutions/Microsoft Entra ID Assets/ReleaseNotes.md
  Solutions/Microsoft Entra ID Assets/SolutionMetadata.json
Labels: Solution, New Solution

#12869 [GSA] Add relevantTechniques. and use isnotempty
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Deny Rate.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Port to Protocol.yaml
  Solutions/Global Secure Access/Package/3.0.1.zip
  Solutions/Global Secure Access/Package/mainTemplate.json
Labels: Solution

#12880 Continuous Diagnostics& Mitigation workbook validation changes
  Solutions/ContinuousDiagnostics&Mitigation/Data/Solution_ContinuousDiagnostics&Mitigation.json
  Solutions/ContinuousDiagnostics&Mitigation/Package/3.0.2.zip
  Solutions/ContinuousDiagnostics&Mitigation/Package/createUiDefinition.json
  Solutions/ContinuousDiagnostics&Mitigation/Package/mainTemplate.json
  Solutions/ContinuousDiagnostics&Mitigation/ReleaseNotes.md
  Solutions/ContinuousDiagnostics&Mitigation/Workbooks/ContinuousDiagnostics&Mitigation.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#12861 Updated SecurityOperationsEfficiency.json to fix Mean time to triage
  Solutions/SOC Handbook/Data/Solution_SOC Handbook.json
  Solutions/SOC Handbook/Package/3.0.5.zip
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/ReleaseNotes.md
  Solutions/SOC Handbook/Workbooks/SecurityOperationsEfficiency.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Content-Package

#12890 Added new fields to display workbook preview images in the Content Hub for the Tanium solution.
  Solutions/Tanium/Package/3.2.0.zip
  Solutions/Tanium/Package/mainTemplate.json
Labels: Content-Package, P0
