Repository Azure/Azure-Sentinel, pull requests merged in 2025-02, with the labels that each got.

#11747 Leaderboard Monthly Update - Update stats.md file with Jan 2025 Data
  Tools/stats/stats.md
Labels: Tools

#11745 packaged okta solution
  Solutions/Okta Single Sign-On/Package/3.1.2.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution

#11656 update Semperis DSP solution
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_EvidenceOfMimikatzDCShadowAttack.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_KerberoskrbtgtAccount.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_RecentsIDHistoryChangesOnADObjects.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_WellKnownPrivilegedSIDsInsIDHistory.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_ZerologonVulnerability.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Failed_Logons.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Operations_Critical_Notifications_.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_RBAC_Changes.yaml
  Solutions/Semperis Directory Services Protector/Data Connectors/SemperisDSP-connector.json
  Solutions/Semperis Directory Services Protector/Data/Solution_Semperis.json
  Solutions/Semperis Directory Services Protector/Package/3.0.0.zip
  Solutions/Semperis Directory Services Protector/Package/createUiDefinition.json
  Solutions/Semperis Directory Services Protector/Package/mainTemplate.json
  Solutions/Semperis Directory Services Protector/Package/testParameters.json
  Solutions/Semperis Directory Services Protector/Parsers/dsp_parser.yaml
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPNotifications.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPQuickviewDashboard.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPSecurityIndicators.json
  Solutions/Semperis Directory Services Protector/Workbooks/workbooksMetadata.json
  Workbooks/Images/Preview/adchanges-black.png
  Workbooks/Images/Preview/adchanges-white.png
  Workbooks/Images/Preview/indicators-black.png
  Workbooks/Images/Preview/indicators-white.png
  Workbooks/Images/Preview/notifications-black.png
  Workbooks/Images/Preview/notifications-white.png
  Workbooks/Images/Preview/quickview-black.png
  Workbooks/Images/Preview/quickview-white.png
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Solution

#11726 Fixing Dragos arm-ttk id from resourceId validation errors
  Solutions/Dragos/Analytic Rules/DragosNotifiction.yaml
  Solutions/Dragos/Package/3.0.0.zip
  Solutions/Dragos/Package/mainTemplate.json
  Solutions/Dragos/Parsers/DragosNotificationsToSentinel.yaml
  Solutions/Dragos/Parsers/DragosPullNotificationsToSentinel.yaml
  Solutions/Dragos/SolutionMetadata.json
Labels: Solution

#11725 Azure Cloud NGFW - Update release notes URL
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/3.0.2.zip
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/createUiDefinition.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/ReleaseNotes.md
Labels: Solution

#11721 Proofpoint POD connector changes
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofpointSentinelConn.zip
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofpointSentinelConnector/__init__.py
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/host.json
Labels: Connector

#11703 adding solution for Jamf Push connector
  .script/tests/KqlvalidationsTests/CustomTables/jamfprotectalerts_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/jamfprotecttelemetryv1_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/jamfprotecttelemetryv2_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/jamfprotectunifiedlogs_CL.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/DCR.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/connectorDefinition.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/dataConnector.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/solutionMetadata.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/table.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/table2.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/table3.json
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/table4.json
  Solutions/Jamf Protect/Data/Solution_JamfProtect.json
  Solutions/Jamf Protect/Package/3.2.0.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
  Solutions/Jamf Protect/Package/testParameters.json
  Solutions/Jamf Protect/Parsers/JamfProtect.yaml
  Solutions/Jamf Protect/ReleaseNotes.md
Labels: Connector, Solution

#11676 Corrected the zip file link in the Data Connector UI page in the Manual deployment steps.
  Solutions/Vectra XDR/Data Connectors/VectraDataConnector/VectraXDR_API_FunctionApp.json
  Solutions/Vectra XDR/Data/Solution_VectraXDR.json
  Solutions/Vectra XDR/Package/3.2.1.zip
  Solutions/Vectra XDR/Package/mainTemplate.json
Labels: Solution

#11760 Minor tweaks to Jamf Protect 3.2.0
  Solutions/Jamf Protect/Data Connectors/JamfProtect_ccp/connectorDefinition.json
  Solutions/Jamf Protect/Package/3.2.0.zip
  Solutions/Jamf Protect/Package/createUiDefinition.json
  Solutions/Jamf Protect/Package/mainTemplate.json
Labels: Solution

#11764 Updated solution version for Okta
  Solutions/Okta Single Sign-On/Package/3.1.3.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution

#11754 AI_Creation_Events
  Solutions/Azure Activity/Data/Solution_AzureActivity.json
  Solutions/Azure Activity/Hunting Queries/Machine_Learning_Creation.yaml
  Solutions/Azure Activity/Package/3.0.3.zip
  Solutions/Azure Activity/Package/createUiDefinition.json
  Solutions/Azure Activity/Package/mainTemplate.json
  Solutions/Azure Activity/ReleaseNotes.md
Labels: Solution, Hunting

#11761 MS 365 packaged
  Solutions/Microsoft 365/Data/Solution_Office365.json
  Solutions/Microsoft 365/Package/3.0.5.zip
  Solutions/Microsoft 365/Package/createUiDefinition.json
  Solutions/Microsoft 365/Package/mainTemplate.json
  Solutions/Microsoft 365/ReleaseNotes.md
Labels: Solution, Content-Package

#11744 Recorded Future: fix param name, minor renames
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.14.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Playbooks/Connectors/RecordedFuture-CustomConnector/azuredeploy.json
  Solutions/Recorded Future/Playbooks/Enrichment/readme.md
  Solutions/Recorded Future/Playbooks/IndicatorImport/RecordedFuture-Domain-IndicatorImport/azuredeploy.json
  Solutions/Recorded Future/Playbooks/IndicatorImport/RecordedFuture-Hash-IndicatorImport/azuredeploy.json
  Solutions/Recorded Future/Playbooks/IndicatorImport/RecordedFuture-IP-IndicatorImport/azuredeploy.json
  Solutions/Recorded Future/Playbooks/IndicatorImport/RecordedFuture-URL-IndicatorImport/azuredeploy.json
  Solutions/Recorded Future/ReleaseNotes.md
Labels: Solution

#11772 added required parameter to maintemplate
  Solutions/SlashNext/ReleaseNotes.md
  Solutions/ZeroNetworks/Data Connectors/SegmentFunctionConnector/DataConnector_API_AzureFunctionApp_ZeroNetworks_Segment_Audit.json
  Solutions/ZeroNetworks/Data/Solution_ZeroNetworks.json
  Solutions/ZeroNetworks/Package/3.0.1.zip
  Solutions/ZeroNetworks/Package/createUiDefinition.json
  Solutions/ZeroNetworks/Package/mainTemplate.json
  Solutions/ZeroNetworks/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#11752 Updated timeframes for Salesforce Analytic rules
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-BruteForce.yaml
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-PasswordSpray.yaml
  Solutions/Salesforce Service Cloud/Analytic Rules/Salesforce-SigninsMultipleCountries.yaml
  Solutions/Salesforce Service Cloud/Data/Solution_TSalesforceCloudtemplateSpec.json
  Solutions/Salesforce Service Cloud/Package/3.0.1.zip
  Solutions/Salesforce Service Cloud/Package/createUiDefinition.json
  Solutions/Salesforce Service Cloud/Package/mainTemplate.json
  Solutions/Salesforce Service Cloud/Package/testParameters.json
  Solutions/Salesforce Service Cloud/ReleaseNotes.md
Labels: Solution, Content-Package

#11762 Add Application Insights property of explicit workspace resource id
  Solutions/CyberArkAudit/Data Connectors/azuredeploy_CyberArkAudit_MainTemplate.json
Labels: Connector

#11776 Updated Application Gateway WAF - SQLi Detection and Application Gateway WAF - XSS Detection
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/App-GW-WAF-SQLiDetection.yaml
  Solutions/Azure Web Application Firewall (WAF)/Analytic Rules/App-GW-WAF-XSSDetection.yaml
  Solutions/Azure Web Application Firewall (WAF)/Package/3.0.2.zip
  Solutions/Azure Web Application Firewall (WAF)/Package/createUiDefinition.json
  Solutions/Azure Web Application Firewall (WAF)/Package/mainTemplate.json
  Solutions/Azure Web Application Firewall (WAF)/ReleaseNotes.md
Labels: Analytic Rules

#11791 Update Forwarder_AMA_installer.py
  DataConnectors/Syslog/Forwarder_AMA_installer.py
Labels: Connector

#11790 ZeroNetworks: fix version number in template
  Solutions/ZeroNetworks/Package/3.0.1.zip
  Solutions/ZeroNetworks/Package/mainTemplate.json
Labels: Solution

#11794 Update analytical rule MalwareLinkClicked.yaml
  .script/tests/KqlvalidationsTests/CustomTables/ProofPointTAPClicksPermitted_CL.json
  Solutions/ProofPointTap/Analytic Rules/MalwareLinkClicked.yaml
  Solutions/ProofPointTap/Package/3.0.5.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
Labels: Analytic Rules

#11767 Update azuredeploy_QualysVM_API_FunctionApp_V2.json
  Solutions/QualysVM/Data Connectors/azuredeploy_QualysVM_API_FunctionApp_V2.json
Labels: Connector

#11736 Update NRT_AuthenticationMethodsChangedforVIPUsers.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/NRT_AuthenticationMethodsChangedforVIPUsers.yaml
Labels: Solution, Analytic Rules

#11808 recreated package with new version
  Solutions/VaronisSaaS/Package/3.0.1.zip
  Solutions/VaronisSaaS/Package/createUiDefinition.json
  Solutions/VaronisSaaS/Package/mainTemplate.json
Labels: Solution

#11782 Add guid to name for ccp poller file and handle sentinelEntitiesMappings field
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Tools

#11783 Aws repackage to fix ccp
  Solutions/Amazon Web Services/Data Connectors/AWS_WAF_CCP/AwsS3_WAF_DataConnectorDefinition.json
  Solutions/Amazon Web Services/Data Connectors/AWS_WAF_CCP/AwsS3_WAF_PollingConfig.json
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/3.0.5.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
  Solutions/Amazon Web Services/ReleaseNotes.md
Labels: Solution, Content-Package

#11781 Suspicious registry additions
  Hunting Queries/Microsoft 365 Defender/Defense evasion/suspicious-base64-encoded-registry-keys.yaml
  Hunting Queries/Microsoft 365 Defender/Defense evasion/suspicious-command-interpreters-added-to-registry.yaml
  Hunting Queries/Microsoft 365 Defender/Defense evasion/suspicious-keywords-in-registry.yaml
Labels: Hunting

#11798 Adjust SecurityBridge contact and support
  Solutions/SecurityBridge App/Analytical Rules/CriticalEventTriggered.yaml
  Solutions/SecurityBridge App/Data Connectors/Connector_SecurityBridge.json
  Solutions/SecurityBridge App/Data/Solution_SecurityBridgeSAP.json
  Solutions/SecurityBridge App/Package/3.1.0.zip
  Solutions/SecurityBridge App/Package/mainTemplate.json
  Solutions/SecurityBridge App/Parsers/SecurityBridgeLogs.yaml
  Solutions/SecurityBridge App/ReleaseNotes.md
  Solutions/SecurityBridge App/SolutionMetadata.json
  Solutions/SecurityBridge App/Workbooks/SecurityBridgeThreatDetectionforSAP.json
Labels: Connector, Parser, Solution

#11766 Create Machine_Learning_Creation.yaml
  Solutions/Azure Activity/Analytic Rules/Machine_Learning_Creation.yaml
  Solutions/Azure Activity/Data/Solution_AzureActivity.json
  Solutions/Azure Activity/Package/3.0.3.zip
  Solutions/Azure Activity/Package/createUiDefinition.json
  Solutions/Azure Activity/Package/mainTemplate.json
  Solutions/Azure Activity/ReleaseNotes.md
Labels: Solution, Analytic Rules

#11836 Updated solutiondId in mainTemplate.json
  Solutions/CTERA/Package/3.0.1.zip
  Solutions/CTERA/Package/createUiDefinition.json
  Solutions/CTERA/Package/mainTemplate.json
  Solutions/CTERA/SolutionMetadata.json
Labels: Solution

#11775 Upload leadeboard images into stats folder
  Tools/stats/Images/FinalBabyThreatHunter.png
  Tools/stats/Images/FinalBugBasher.png
  Tools/stats/Images/FinalDoubleTrouble.png
  Tools/stats/Images/FinalGoldStar.png
  Tools/stats/Images/FinalInfluencer.png
  Tools/stats/Images/FinalOnARoll.png
  Tools/stats/Images/FinalRenCoder.png
  Tools/stats/Images/FinalSoaring.png
  Tools/stats/Images/FinalTeachYoda.png
  Tools/stats/Images/New10.png
  Tools/stats/Images/New100.png
  Tools/stats/Images/New25.png
  Tools/stats/Images/New5.png
  Tools/stats/Images/New50.png
  Tools/stats/Images/New75.png
Labels: Tools

#11842 Ipinfo repackaged
  Solutions/IPinfo/Data Connectors/ASN/azuredeploy_Connector_IPinfo_ASN_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Abuse/azuredeploy_Connector_IPinfo_Abuse_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Carrier/azuredeploy_Connector_IPinfo_Carrier_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Company/azuredeploy_Connector_IPinfo_Company_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Country ASN/azuredeploy_Connector_IPinfo_Country_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Domain/azuredeploy_Connector_IPinfo_Domain_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Iplocation Extended/azuredeploy_Connector_IPinfo_Iplocation_Extended_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Iplocation/azuredeploy_Connector_IPinfo_Iplocation_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Privacy Extended/azuredeploy_Connector_IPinfo_Privacy_Extended_AzureFunction.json
  Solutions/IPinfo/Data Connectors/Privacy/azuredeploy_Connector_IPinfo_Privacy_AzureFunction.json
  Solutions/IPinfo/Data Connectors/RIRWHOIS/azuredeploy_Connector_IPinfo_RIRWHOIS_AzureFunction.json
  Solutions/IPinfo/Data Connectors/RWHOIS/azuredeploy_Connector_IPinfo_RWHOIS_AzureFunction.json
  Solutions/IPinfo/Data Connectors/WHOIS ASN/azuredeploy_Connector_IPinfo_WHOIS_ASN_AzureFunction.json
  Solutions/IPinfo/Data Connectors/WHOIS MNT/azuredeploy_Connector_IPinfo_WHOIS_MNT_AzureFunction.json
  Solutions/IPinfo/Data Connectors/WHOIS NET/azuredeploy_Connector_IPinfo_WHOIS_NET_AzureFunction.json
  Solutions/IPinfo/Data Connectors/WHOIS ORG/azuredeploy_Connector_IPinfo_WHOIS_ORG_AzureFunction.json
  Solutions/IPinfo/Data Connectors/WHOIS POC/azuredeploy_Connector_IPinfo_WHOIS_POC_AzureFunction.json
  Solutions/IPinfo/Data/Solution_IPinfo.json
  Solutions/IPinfo/Package/3.0.1.zip
  Solutions/IPinfo/Package/createUiDefinition.json
  Solutions/IPinfo/Package/mainTemplate.json
  Solutions/IPinfo/Package/testParameters.json
Labels: Solution, Content-Package, P0

#11841 Make scripts compatible with PS7 execution
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScripts.zip
  DataConnectors/AWS-S3/ConfigAwsS3DataConnectorScriptsGov.zip
  DataConnectors/AWS-S3/ConfigCloudTrailDataConnector.ps1
  DataConnectors/AWS-S3/ConfigCloudWatchDataConnector.ps1
  DataConnectors/AWS-S3/ConfigGuardDutyDataConnector.ps1
  DataConnectors/AWS-S3/Utils/AwsPoliciesUpdate.ps1
  DataConnectors/AWS-S3/Utils/AwsResourceCreator.ps1
  DataConnectors/AWS-S3/Utils/AwsSentinelTag.ps1
  DataConnectors/AWS-S3/Utils/CommonAwsPolicies.ps1
Labels: Solution

#11847 Updated Data Connections Blade Instructions: Alibaba Cloud
  Solutions/Alibaba Cloud/DataConnectors/AliCloud_API_FunctionApp.json
  Solutions/Alibaba Cloud/Package/3.0.1.zip
  Solutions/Alibaba Cloud/Package/createUiDefinition.json
  Solutions/Alibaba Cloud/Package/mainTemplate.json
  Solutions/Alibaba Cloud/ReleaseNotes.md
Labels: Solution, Content-Package

#11810 New Solution GCP Waf
  Solutions/Google Cloud Platform Load Balancer Logs/Data Connectors/GCPFLoadBalancerLogs_GCP_CCP/GCPFLoadBalancerLogs_DCR.json
  Solutions/Google Cloud Platform Load Balancer Logs/Data Connectors/GCPFLoadBalancerLogs_GCP_CCP/GCPFLoadBalancerLogs_Definition.json
  Solutions/Google Cloud Platform Load Balancer Logs/Data Connectors/GCPFLoadBalancerLogs_GCP_CCP/GCPFLoadBalancerLogs_PollingConfig.json
  Solutions/Google Cloud Platform Load Balancer Logs/Data Connectors/GCPFLoadBalancerLogs_GCP_CCP/GCPFLoadBalancerLogs_table.json
  Solutions/Google Cloud Platform Load Balancer Logs/Data/Solution_GCPWAF.json
  Solutions/Google Cloud Platform Load Balancer Logs/Package/3.0.0.zip
  Solutions/Google Cloud Platform Load Balancer Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Load Balancer Logs/Package/mainTemplate.json
  Solutions/Google Cloud Platform Load Balancer Logs/Package/testParameters.json
  Solutions/Google Cloud Platform Load Balancer Logs/ReleaseNotes.md
  Solutions/Google Cloud Platform Load Balancer Logs/SolutionMetadata.json
Labels: Connector, Content-Package, New Solution

#11830 duplicating PR #11788
  .script/tests/KqlvalidationsTests/CustomTables/ForescoutComplianceStatus_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ForescoutHostProperties_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ForescoutPolicyStatus_CL.json
  Solutions/ForescoutHostPropertyMonitor/Analytic Rules/ForeScout-DNSSniffEventMonitor.yaml
  Solutions/ForescoutHostPropertyMonitor/Data Connectors/ForescoutHostPropertyMonitor.json
  Solutions/ForescoutHostPropertyMonitor/Data/Solution_ForescoutHostProp.json
  Solutions/ForescoutHostPropertyMonitor/Package/3.0.0.zip
  Solutions/ForescoutHostPropertyMonitor/Package/createUiDefinition.json
  Solutions/ForescoutHostPropertyMonitor/Package/mainTemplate.json
  Solutions/ForescoutHostPropertyMonitor/Package/testParameters.json
  Solutions/ForescoutHostPropertyMonitor/Playbooks/Forescout-DNSSniffEventPlaybook.json
  Solutions/ForescoutHostPropertyMonitor/Playbooks/ReadMe.md
  Solutions/ForescoutHostPropertyMonitor/ReleaseNotes.md
  Solutions/ForescoutHostPropertyMonitor/Workbooks/ForescoutHostPropertyMonitorWorkbook.json
  Workbooks/Images/Logos/forescout-logo.svg
  Workbooks/Images/Preview/ForescoutHostPropWorkbookBlack.png
  Workbooks/Images/Preview/ForescoutHostPropWorkbookWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Playbook, Solution, Content-Package, P0

#11851 Solution description updated for GCP Load Balancer
  Solutions/Google Cloud Platform Load Balancer Logs/Data/Solution_GCPWAF.json
  Solutions/Google Cloud Platform Load Balancer Logs/Package/3.0.0.zip
  Solutions/Google Cloud Platform Load Balancer Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Load Balancer Logs/Package/mainTemplate.json
Labels: Solution, Content-Package

#11829 Addition of new CCP data connector GCP VPC flow logs
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPVPCFlowLogsSetup/GCPVPCFlowLogSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPVPCFlowLogsSetup/readme.md
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_ConnectorDefinition.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_DCR.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_PollingConfig.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_Table.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data/Solution_GoogleVPCFlowLogs.json
  Solutions/Google Cloud Platform VPC Flow Logs/Package/3.0.0.zip
  Solutions/Google Cloud Platform VPC Flow Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform VPC Flow Logs/Package/mainTemplate.json
  Solutions/Google Cloud Platform VPC Flow Logs/Package/testParameters.json
  Solutions/Google Cloud Platform VPC Flow Logs/ReleaseNotes.md
  Solutions/Google Cloud Platform VPC Flow Logs/SolutionMetadata.json
Labels: Connector, Content-Package

#11797 CCP Connector for GoogleCloudPlatform DNS
  .script/tests/KqlvalidationsTests/CustomTables/GCP_DNSV2_CL.json
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPDNS_CCPLogsSetup/GCPDNSLogSetup.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPDNS_CCPLogsSetupGov/GCPDNSLogSetup.tf
  Solutions/GoogleCloudPlatformDNS/Data Connectors/GCPDNSLog_CCP/GCPDNSLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformDNS/Data Connectors/GCPDNSLog_CCP/GCPDNSLog_DCR.json
  Solutions/GoogleCloudPlatformDNS/Data Connectors/GCPDNSLog_CCP/GCPDNSLog_PollingConfig.json
  Solutions/GoogleCloudPlatformDNS/Data Connectors/GCPDNSLog_CCP/GCPDNSLog_Table.json
  Solutions/GoogleCloudPlatformDNS/Data Connectors/README.md
  Solutions/GoogleCloudPlatformDNS/Data/Solution_GoogleCloudPlatformDNS.json
  Solutions/GoogleCloudPlatformDNS/Package/3.0.2.zip
  Solutions/GoogleCloudPlatformDNS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformDNS/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformDNS/Package/testParameters.json
  Solutions/GoogleCloudPlatformDNS/Parsers/GCPCloudDNS.yaml
  Solutions/GoogleCloudPlatformDNS/ReleaseNotes.md
Labels: Connector, Content-Package

#11861 Google Cloud Platform DNS CCP Connector
  Solutions/GoogleCloudPlatformDNS/Data Connectors/GCPDNSLog_CCP/GCPDNSLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformDNS/Data Connectors/README.md
  Solutions/GoogleCloudPlatformDNS/Package/3.0.2.zip
  Solutions/GoogleCloudPlatformDNS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformDNS/Package/mainTemplate.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#11860 Readme file update for ServiceNow
  Solutions/Servicenow/StoreApp/README.md
  Solutions/Servicenow/StoreApp/media/sysProperties.png
  Solutions/Servicenow/StoreApp/media/systemProperties.png
Labels: Solution

#11857 Repackaged Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Data/Solution_Fortinet-Fortigate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/3.0.8.zip
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/createUiDefinition.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Package/mainTemplate.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Playbooks/FortinetFortigateFunctionApp/azuredeploy.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Playbooks/Fortinet_IncidentEnrichment/azuredeploy.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Playbooks/Fortinet_ResponseOnIP/azuredeploy.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/Playbooks/Fortinet_ResponseOnURL/azuredeploy.json
  Solutions/Fortinet FortiGate Next-Generation Firewall connector for Microsoft Sentinel/ReleaseNotes.md
Labels: Solution, Content-Package

#11827 CCP Connector for Google Cloud Platform IAM
  .script/tests/KqlvalidationsTests/CustomTables/GCP_IAMV2_CL.json
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPIAMCCPLogsSetup/GCPIAMLOGS.tf
  DataConnectors/GCP/Terraform/sentinel_resources_creation_gov/GCPIAMCCPLogsSetup/GCPIAMLOGS.tf
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_DCR.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_PollingConfig.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_Table.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/README.md
  Solutions/GoogleCloudPlatformIAM/Data/Solution_GoogleCloudPlatformIAM.json
  Solutions/GoogleCloudPlatformIAM/Package/3.0.1.zip
  Solutions/GoogleCloudPlatformIAM/Package/3.0.2.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/Package/testParameters.json
  Solutions/GoogleCloudPlatformIAM/Parsers/GCP_IAM.yaml
  Solutions/GoogleCloudPlatformIAM/ReleaseNotes.md
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#11792 Add GCPApigee CCP connector
  .script/tests/KqlvalidationsTests/CustomTables/ApigeeXV2_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/ApigeeX_CL.json
  Sample Data/Custom/ApigeeXV2.json
  Solutions/Google Apigee/Data Connectors/Apigee_GCP_CCP/ApigeeXV2_Config.json
  Solutions/Google Apigee/Data Connectors/Apigee_GCP_CCP/ApigeeXV2_DCR.json
  Solutions/Google Apigee/Data Connectors/Apigee_GCP_CCP/ApigeeXV2_DataConnectorDefinition.json
  Solutions/Google Apigee/Data Connectors/Apigee_GCP_CCP/ApigeeXV2_table.json
  Solutions/Google Apigee/Data/Solution_Google Apigee.json
  Solutions/Google Apigee/Package/3.1.0.zip
  Solutions/Google Apigee/Package/createUiDefinition.json
  Solutions/Google Apigee/Package/mainTemplate.json
  Solutions/Google Apigee/Package/testParameters.json
  Solutions/Google Apigee/Parsers/ApigeeXV2.yaml
  Solutions/Google Apigee/Parsers/Unified_ApigeeX.yaml
  Solutions/Google Apigee/ReleaseNotes.md
Labels: Connector, Solution

#11867 Google Cloud Platform IAM CCP
  Solutions/GoogleCloudPlatformDNS/Package/3.0.2.zip
  Solutions/GoogleCloudPlatformDNS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformDNS/ReleaseNotes.md
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/README.md
  Solutions/GoogleCloudPlatformIAM/Package/3.0.1.zip
  Solutions/GoogleCloudPlatformIAM/Package/3.0.2.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/ReleaseNotes.md
Labels: Codeless Connector Platform (CCP) Connector, Content-Package
