Repository Azure/Azure-Sentinel, pull requests merged in 2025-01, with the labels that each got.

#11616 Repackage - JBoss
  Solutions/JBoss/Data/Solution_Jboss.json
  Solutions/JBoss/Package/3.0.1.zip
  Solutions/JBoss/Package/createUiDefinition.json
  Solutions/JBoss/Package/mainTemplate.json
  Solutions/JBoss/ReleaseNotes.md
  Solutions/JuniperIDP/Data/Solution_JuniperIDP.json
  Solutions/JuniperIDP/Package/3.0.1.zip
  Solutions/JuniperIDP/Package/createUiDefinition.json
  Solutions/JuniperIDP/Package/mainTemplate.json
  Solutions/JuniperIDP/ReleaseNotes.md
Labels: Solution, Content-Package

#11618 Repackaged - Exabeam
  Solutions/Exabeam Advanced Analytics/Data/Solution_ExabeamAdvancedAnalytics.json
  Solutions/Exabeam Advanced Analytics/Package/3.0.2.zip
  Solutions/Exabeam Advanced Analytics/Package/createUiDefinition.json
  Solutions/Exabeam Advanced Analytics/Package/mainTemplate.json
  Solutions/Exabeam Advanced Analytics/ReleaseNotes.md
  Solutions/MarkLogicAudit/Data/Solution_MarkLogicAudit.json
  Solutions/MarkLogicAudit/Package/3.0.1.zip
  Solutions/MarkLogicAudit/Package/createUiDefinition.json
  Solutions/MarkLogicAudit/Package/mainTemplate.json
  Solutions/MarkLogicAudit/ReleaseNotes.md
Labels: Solution, Content-Package

#11613 SWG file fixes and NetworkAccessAlerts table
  .script/tests/KqlvalidationsTests/CustomTables/NetworkAccessAlerts.json
  Solutions/Global Secure Access/Analytic Rules/Identity - AfterHoursActivity.yaml
  Solutions/Global Secure Access/Analytic Rules/Identity - SharedSessions.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Deny Rate.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Abnormal Port to Protocol.yaml
  Solutions/Global Secure Access/Analytic Rules/SWG - Source IP Port Scan.yaml
  Solutions/Global Secure Access/Data/Solution_GlobalSecureAccess.json
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/createUiDefinition.json
  Solutions/Global Secure Access/Package/mainTemplate.json
Labels: Content-Package

#11623 Repackaged - Trend Micro Deep Security
  Solutions/AristaAwakeSecurity/Analytic Rules/HighMatchCountsByDevice.yaml
  Solutions/AristaAwakeSecurity/Analytic Rules/HighSeverityMatchesByDevice.yaml
  Solutions/AristaAwakeSecurity/Analytic Rules/ModelMatchesWithMultipleDestinationsByDevice.yaml
  Solutions/AristaAwakeSecurity/Data/Solution_AristaAwakeSecurity.json
  Solutions/AristaAwakeSecurity/Package/3.0.1.zip
  Solutions/AristaAwakeSecurity/Package/createUiDefinition.json
  Solutions/AristaAwakeSecurity/Package/mainTemplate.json
  Solutions/AristaAwakeSecurity/ReleaseNotes.md
  Solutions/Nasuni/Analytic Rules/RansomwareAttackDetected.yaml
  Solutions/Nasuni/Analytic Rules/RansomwareClientBlocked.yaml
  Solutions/Nasuni/Data/Solution_Nasuni.json
  Solutions/Nasuni/Hunting Queries/FileDeleteEvents.yaml
  Solutions/Nasuni/Package/3.0.3.zip
  Solutions/Nasuni/Package/createUiDefinition.json
  Solutions/Nasuni/Package/mainTemplate.json
  Solutions/Nasuni/ReleaseNotes.md
  Solutions/Trend Micro Deep Security/Data/Solution_TrendMicroDeepSecurityTemplateSpec.json
  Solutions/Trend Micro Deep Security/Package/3.0.1.zip
  Solutions/Trend Micro Deep Security/Package/createUiDefinition.json
  Solutions/Trend Micro Deep Security/Package/mainTemplate.json
  Solutions/Trend Micro Deep Security/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#11611 Removing Custom Entity mappings, these have not been used for years.
  Solutions/Okta Single Sign-On/Analytic Rules/FailedLoginsFromUnknownOrInvalidUser.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/LoginfromUsersfromDifferentCountrieswithin3hours.yaml
  Solutions/Okta Single Sign-On/Analytic Rules/PasswordSpray.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-NetworkBeaconing.yaml
  Solutions/PaloAlto-PAN-OS/Analytic Rules/PaloAlto-PortScanning.yaml
  Solutions/Pulse Connect Secure/Analytic Rules/PulseConnectSecureVPN-BruteForce.yaml
  Solutions/Pulse Connect Secure/Analytic Rules/PulseConnectSecureVPN-DistinctFailedUserLogin.yaml
  Solutions/QualysVM/Analytic Rules/HighNumberofVulnDetectedV2.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureDomainMalwareC2inSyslogEvents.yaml
  Solutions/Recorded Future/Analytic Rules/RecordedFutureUrlReportedbyInsiktGroupinSyslogEvents.yaml
  Solutions/Symantec Endpoint Protection/Analytic Rules/ExcessiveBlockedTrafficGeneratedbyUser.yaml
  Solutions/Symantec Endpoint Protection/Analytic Rules/MalwareDetected.yaml
  Solutions/Symantec VIP/Analytic Rules/ClientDeniedAccess.yaml
  Solutions/Symantec VIP/Analytic Rules/ExcessiveFailedAuthenticationsfromInvalidInputs.yaml
  Solutions/SymantecProxySG/Analytic Rules/ExcessiveDeniedProxyTraffic.yaml
  Solutions/SymantecProxySG/Analytic Rules/UserAccessedSuspiciousURLCategories.yaml
  Solutions/Threat Intelligence/Analytic Rules/Threat Intel Matches to GitHub Audit Logs.yaml
  Solutions/VMware Carbon Black Cloud/Analytic Rules/CriticalThreatDetected.yaml
  Solutions/VMware Carbon Black Cloud/Analytic Rules/KnownMalwareDetected.yaml
Labels: Solution, Analytic Rules

#11620 Fix for issue #11329
  Tools/Sentinel-All-In-One/v2/LinkedTemplates/solutionsAndAlerts.json
Labels: Tools

#11637 Update Validations for icu issue
  .github/workflows/detection-template-schema-validations.yaml
  .github/workflows/non-ascii-validations.yaml
Labels: workflows

#11633 Filtering Script exception list bug fix
  .script/tests/asimParsersTest/ASimFilteringTest.py
  .script/tests/asimParsersTest/VerifyASimParserTemplate.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: ASIM

#11636 Update WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#11621 Add cloudguard solution
  Solutions/Check Point CloudGuard CNAPP/Package/3.0.0.zip
  Solutions/Check Point CloudGuard CNAPP/Package/mainTemplate.json
  Solutions/Check Point CloudGuard CNAPP/SolutionMetadata.json
Labels: Solution

#11635 Repackaged iboss
  Solutions/SecurityBridge App/Analytical Rules/CriticalEventTriggered.yaml
  Solutions/SecurityBridge App/Data/Solution_SecurityBridgeSAP.json
  Solutions/SecurityBridge App/Package/3.0.1.zip
  Solutions/SecurityBridge App/Package/createUiDefinition.json
  Solutions/SecurityBridge App/Package/mainTemplate.json
  Solutions/SecurityBridge App/ReleaseNotes.md
  Solutions/iboss/Data/Solution_iboss.json
  Solutions/iboss/Package/3.1.2.zip
  Solutions/iboss/Package/createUiDefinition.json
  Solutions/iboss/Package/mainTemplate.json
  Solutions/iboss/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#11604 Initial commit for Druva Sentinel Solutions
  Logos/Druva_Logo.svg
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_DCR.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_DataConnectorDefinition.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_PollingConfig.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_Tables.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/azuredeploy_DruvaEvents_poller_connector.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Logo/Druva_Logo.svg
  Solutions/DruvaDataSecurityCloud/Data/Solution_Druva.json
  Solutions/DruvaDataSecurityCloud/Package/3.0.0.zip
  Solutions/DruvaDataSecurityCloud/Package/createUiDefinition.json
  Solutions/DruvaDataSecurityCloud/Package/mainTemplate.json
  Solutions/DruvaDataSecurityCloud/Package/testParameters.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineEnterpriseWorkload/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineEnterpriseWorkload/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineInsyncWorkloads/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineInsyncWorkloads/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharePoint/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharePoint/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharedDrive/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharedDrive/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineUsingResourceID/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineUsingResourceID/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/ReleaseNotes.md
  Solutions/DruvaDataSecurityCloud/SolutionMetadata.json
Labels: Connector, Solution, New Solution

#11628 Repackaged - Infoblox Cloud Data Connector
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-DataExfiltrationAttack.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-HighThreatLevelQueryNotBlockedDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyHighThreatLevelQueriesFromSingleHostDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyHighThreatLevelSingleQueryDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-ManyNXDOMAINDNSResponsesDetected.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-CommonSecurityLogMatchFound-MalwareC2.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-InfobloxCDCMatchFound-LookalikeDomains.yaml
  Solutions/Infoblox Cloud Data Connector/Analytic Rules/Infoblox-TI-SyslogMatchFound-URL.yaml
  Solutions/Infoblox Cloud Data Connector/Data/Solution_Infoblox.json
  Solutions/Infoblox Cloud Data Connector/Package/3.0.5.zip
  Solutions/Infoblox Cloud Data Connector/Package/createUiDefinition.json
  Solutions/Infoblox Cloud Data Connector/Package/mainTemplate.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-AISCOMM-Weekly/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-Emails-Weekly/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-Hashes-Weekly/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-Hosts-Daily-LookalikeDomains/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-Hosts-Daily-MalwareC2DGA/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-Hosts-Daily-Phishing/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-Hosts-Hourly/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-IPs-Hourly/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/Playbooks/Infoblox-Import-URLs-Hourly/azuredeploy.json
  Solutions/Infoblox Cloud Data Connector/ReleaseNotes.md
  Solutions/Trend Micro TippingPoint/Data/Solution_Trend Micro TippingPoint.json
  Solutions/Trend Micro TippingPoint/Package/3.0.1.zip
  Solutions/Trend Micro TippingPoint/Package/createUiDefinition.json
  Solutions/Trend Micro TippingPoint/Package/mainTemplate.json
  Solutions/Trend Micro TippingPoint/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#11645 Idoscapa/mdiot analyticrules entities
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTDenialofService.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTExcessiveLoginAttempts.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTFirmwareUpdates.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTHighBandwidth.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTINoSensorTrafficDetected.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTIllegalFunctionCodes.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTInsecurePLC.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTInternetAccess.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTMalware.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTNetworkScanning.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTPLCStopCommand.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedDevice.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedNetworkConfiguration.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedPLCModifications.yaml
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Analytic Rules/IoTUnauthorizedRemoteAccess.yaml
Labels: Solution, Analytic Rules

#11626 Cloud NGFW for Azure workbook updates
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-PortScanning.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Analytic Rules/CloudNGFW-UnusualThreatSignatures.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Hunting Queries/CloudNGFW-HighRiskPorts.yaml
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/3.0.2.zip
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/createUiDefinition.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Package/mainTemplate.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Workbooks/CloudNGFW-NetworkThreat.json
  Solutions/Azure Cloud NGFW by Palo Alto Networks/Workbooks/CloudNGFW-Overview.json
Labels: Solution

#11651 Moving connectors from Public Preview to GA
  Solutions/Cisco Meraki Events via REST API/Data Connectors/CiscoMerakiMultiRule_ccp/dataConnectorDefinition.json
  Solutions/Cisco Meraki Events via REST API/Package/3.0.2.zip
  Solutions/Cisco Meraki Events via REST API/Package/mainTemplate.json
  Solutions/Cisco Meraki Events via REST API/ReleaseNotes.md
  Solutions/Workday/Data Connectors/Workday_ccp/Workday_DataConnectorDefinition.json
  Solutions/Workday/Data Connectors/Workday_ccp/Workday_PollingConfig.json
  Solutions/Workday/Package/3.0.1.zip
  Solutions/Workday/Package/mainTemplate.json
  Solutions/Workday/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#11649 IoTOTThreatMonitoringwithDefenderforIoT Solution packaging
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Data/Solution_IoTOTThreatMonitoringwithDefenderforIoT.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/3.0.1.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/createUiDefinition.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/mainTemplate.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/testParameters.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/ReleaseNotes.md
Labels: Solution, Content-Package

#11615 New resubmit of version 3.0.1
  Solutions/CTERA/Package/3.0.1.zip
  Solutions/CTERA/Package/mainTemplate.json
Labels: Solution

#11634 solution packaged for Removed Custom Entity mappings
  Solutions/Pulse Connect Secure/Data/Solution_Pulse Connect Secure.json
  Solutions/Pulse Connect Secure/Package/3.0.4.zip
  Solutions/Pulse Connect Secure/Package/mainTemplate.json
  Solutions/Pulse Connect Secure/ReleaseNotes.md
  Solutions/QualysVM/Package/3.0.1.zip
  Solutions/QualysVM/Package/mainTemplate.json
  Solutions/QualysVM/ReleaseNotes.md
  Solutions/QualysVM/data/Solution_QualysVM.json
Labels: Solution, Content-Package

#11648 Fix boolean check in PossibleWebpBufferOverflow rule
  Solutions/Cisco Meraki Events via REST API/ReleaseNotes.md
  Solutions/Microsoft Defender XDR/Analytic Rules/PossibleWebpBufferOverflow.yaml
  Solutions/Microsoft Defender XDR/Package/3.0.11.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Workday/ReleaseNotes.md
Labels: Solution

#11617 Deployment fixes and updates.
  DataConnectors/M365Defender-VulnerabilityManagement/azureDeploy.json
  DataConnectors/M365Defender-VulnerabilityManagement/main.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/maintenance/deployLatestFunctionPackage.ps1
  DataConnectors/M365Defender-VulnerabilityManagement/modules/customDcrTables.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/functionApp.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/functionAppPE.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/lawCustomTable.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/lawRoleAssignment.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/privateNetwork.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/modules/sentinelWorkbooks.bicep
  DataConnectors/M365Defender-VulnerabilityManagement/readme.md
  DataConnectors/M365Defender-VulnerabilityManagement/releaseNotes.md
Labels: Connector, Standalone

#11593 Repackaged CrowdStrike Falcon Endpoint Protection
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.0.10.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdStrikeFalconEventStream.yaml
  Solutions/CrowdStrike Falcon Endpoint Protection/Parsers/CrowdstrikeReplicator
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution, Content-Package

#11665 Function app added again to Solution SentinelOne
  Solutions/SentinelOne/Data/Solution_SentinelOne.json
  Solutions/SentinelOne/Package/3.0.4.zip
  Solutions/SentinelOne/Package/createUiDefinition.json
  Solutions/SentinelOne/Package/mainTemplate.json
  Solutions/SentinelOne/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#11652 Corrected general typo and made content improvements in Druva CCP and Playbooks
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_DataConnectorDefinition.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/azuredeploy_DruvaEvents_poller_connector.json
  Solutions/DruvaDataSecurityCloud/Package/3.0.0.zip
  Solutions/DruvaDataSecurityCloud/Package/mainTemplate.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineEnterpriseWorkload/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineEnterpriseWorkload/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineInsyncWorkloads/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineInsyncWorkloads/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharePoint/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharePoint/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharedDrive/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharedDrive/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineUsingResourceID/README.md
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineUsingResourceID/azuredeploy.json
Labels: Connector, Solution

#11638 adding support for push connector in packaging tool
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Tools

#11561 Audit Native Parser
  .script/tests/KqlvalidationsTests/CustomTables/ASimAuditEventLogs.json
  ASIM/dev/ASimTester/ASimTester.csv
  Parsers/ASimAuditEvent/ARM/ASimAuditEvent/ASimAuditEvent.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventAzureAdminActivity/ASimAuditEventAzureAdminActivity.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventBarracudaCEF/ASimAuditEventBarracudaCEF.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventBarracudaWAF/ASimAuditEventBarracudaWAF.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventCiscoISE/ASimAuditEventCiscoISE.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventCiscoMeraki/ASimAuditEventCiscoMeraki.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventCiscoMerakiSyslog/ASimAuditEventCiscoMerakiSyslog.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventCrowdStrikeFalconHost/ASimAuditEventCrowdStrikeFalconHost.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventMicrosoftEvent/ASimAuditEventMicrosoftEvent.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventMicrosoftExchangeAdmin365/ASimAuditEventMicrosoftExchangeAdmin365.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventMicrosoftSecurityEvents/ASimAuditEventMicrosoftSecurityEvents.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventMicrosoftWindowsEvents/ASimAuditEventMicrosoftWindowsEvents.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventNative/ASimAuditEventNative.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventNative/README.md
  Parsers/ASimAuditEvent/ARM/ASimAuditEventSentinelOne/ASimAuditEventSentinelOne.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventVMwareCarbonBlackCloud/ASimAuditEventVMwareCarbonBlackCloud.json
  Parsers/ASimAuditEvent/ARM/ASimAuditEventVectraXDRAudit/ASimAuditEventVectraXDRAudit.json
  Parsers/ASimAuditEvent/ARM/FullDeploymentAuditEvent.json
  Parsers/ASimAuditEvent/ARM/imAuditEvent/imAuditEvent.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventAzureAdminActivity/vimAuditEventAzureAdminActivity.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventBarracudaCEF/vimAuditEventBarracudaCEF.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventBarracudaWAF/vimAuditEventBarracudaWAF.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventCiscoISE/vimAuditEventCiscoISE.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventCiscoMeraki/vimAuditEventCiscoMeraki.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventCiscoMerakiSyslog/vimAuditEventCiscoMerakiSyslog.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventCrowdStrikeFalconHost/vimAuditEventCrowdStrikeFalconHost.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventEmpty/vimAuditEventEmpty.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventMicrosoftEvent/vimAuditEventMicrosoftEvent.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventMicrosoftExchangeAdmin365/vimAuditEventMicrosoftExchangeAdmin365.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventMicrosoftSecurityEvents/vimAuditEventMicrosoftSecurityEvents.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventMicrosoftWindowsEvents/vimAuditEventMicrosoftWindowsEvents.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventNative/README.md
  Parsers/ASimAuditEvent/ARM/vimAuditEventNative/vimAuditEventNative.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventSentinelOne/vimAuditEventSentinelOne.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventVMwareCarbonBlackCloud/vimAuditEventVMwareCarbonBlackCloud.json
  Parsers/ASimAuditEvent/ARM/vimAuditEventVectraXDRAudit/vimAuditEventVectraXDRAudit.json
  Parsers/ASimAuditEvent/Parsers/ASimAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/ASimAuditEventNative.yaml
  Parsers/ASimAuditEvent/Parsers/imAuditEvent.yaml
  Parsers/ASimAuditEvent/Parsers/vimAuditEventNative.yaml
  Sample Data/ASIM/Microsoft_NativeTable_AuditEvent_IngestedLogs.csv
Labels: ASIM, Parser

#11666 GCP Audit logs new CCP package 3.0.0
  Solutions/Google Cloud Platform Audit Logs/Data Connectors/GCPAuditLogs_ccp/data_connector_definition.json
  Solutions/Google Cloud Platform Audit Logs/Data Connectors/GCPAuditLogs_ccp/data_connector_poller.json
  Solutions/Google Cloud Platform Audit Logs/Data Connectors/GCPAuditLogs_ccp/dcr.json
  Solutions/Google Cloud Platform Audit Logs/Data/Solution_GCPAuditLogs.json
  Solutions/Google Cloud Platform Audit Logs/Package/3.0.0.zip
  Solutions/Google Cloud Platform Audit Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Audit Logs/Package/mainTemplate.json
  Solutions/Google Cloud Platform Audit Logs/Package/testParameters.json
  Solutions/Google Cloud Platform Audit Logs/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#11582 Initial Release of Dragos Sentinel Solution
  .script/tests/KqlvalidationsTests/CustomFunctions/DragosNotificationsToSentinel.json
  .script/tests/KqlvalidationsTests/CustomFunctions/DragosPullNotificationsToSentinel.json
  .script/tests/KqlvalidationsTests/CustomFunctions/DragosPushNotificationsToSentinel.json
  .script/tests/KqlvalidationsTests/CustomFunctions/DragosSeverityToSentinelSeverity.json
  .script/tests/KqlvalidationsTests/CustomTables/DragosAlerts_CL.json
  .script/tests/detectionTemplateSchemaValidation/Models/EntityMappingIdentifiers.cs
  .script/tests/detectionTemplateSchemaValidation/Models/EntityType.cs
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/Dragos.svg
  Solutions/Dragos/Analytic Rules/DragosNotifiction.yaml
  Solutions/Dragos/Data Connectors/DragosSiteStore_CCP/dataPoller.json
  Solutions/Dragos/Data Connectors/DragosSiteStore_CCP/dcr.json
  Solutions/Dragos/Data Connectors/DragosSiteStore_CCP/dragosSitestoreDataConnectorDefinition.json
  Solutions/Dragos/Data Connectors/DragosSiteStore_CCP/table.json
  Solutions/Dragos/Data/Solution_Dragos.json
  Solutions/Dragos/Package/3.0.0.zip
  Solutions/Dragos/Package/createUiDefinition.json
  Solutions/Dragos/Package/mainTemplate.json
  Solutions/Dragos/Package/testParameters.json
  Solutions/Dragos/Parsers/DragosNotificationsToSentinel.yaml
  Solutions/Dragos/Parsers/DragosPullNotificationsToSentinel.yaml
  Solutions/Dragos/Parsers/DragosPushNotificationsToSentinel.yaml
  Solutions/Dragos/Parsers/DragosSeverityToSentinelSeverity.yaml
  Solutions/Dragos/ReleaseNotes.md
  Solutions/Dragos/Sample Data/CommonSecurityLog.csv
  Solutions/Dragos/Sample Data/DragosAlerts_CL.csv
  Solutions/Dragos/Sample Data/DragosAlerts_CL_Schema.csv
  Solutions/Dragos/Sample Data/DragosCEF.txt
  Solutions/Dragos/Sample Data/DragosSiteStoreCCP_RawLogs.json
  Solutions/Dragos/SolutionMetadata.json
Labels: Parser, New Solution

#11657 Solution packaged for Removed Custom Entity mappings from Analytic Rule
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.13.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/ReleaseNotes.md
  Solutions/Symantec Endpoint Protection/Data/Solution_Symantec.json
  Solutions/Symantec Endpoint Protection/Package/3.0.5.zip
  Solutions/Symantec Endpoint Protection/Package/mainTemplate.json
  Solutions/Symantec Endpoint Protection/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#11432 Feature/stavbelladev/add push lambda function
  DataConnectors/AWS-S3/CloudWatchPushBasedLambdaFunction.py
Labels: Connector

#11682 Skip domain links specified in playbook
  .script/package-automation/hyperlink-validation.ps1
Labels: Tools

#11603 Cisco umbrella playbook changes and repackage
  Solutions/CiscoUmbrella/Data/Solution_CiscoUmbrella.json
  Solutions/CiscoUmbrella/Package/3.0.3.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/Package/mainTemplate.json
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaInvestigateAPIConnector/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaInvestigateAPIConnector/readme.md
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaManagementAPIConnector/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaManagementAPIConnector/readme.md
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaNetworkDeviceManagementAPIConnector/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaNetworkDeviceManagementAPIConnector/readme.md
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AddIpToDestinationList/Images/commentOnIncident.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AddIpToDestinationList/Images/playbook_screenshot.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AddIpToDestinationList/Images/teams_screenshot.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AddIpToDestinationList/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AddIpToDestinationList/readme.md
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AssignPolicyToIdentity/Images/commentOnIncident.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AssignPolicyToIdentity/Images/orgIdAndPolicyId.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AssignPolicyToIdentity/Images/playbook_screenshot_new.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AssignPolicyToIdentity/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-AssignPolicyToIdentity/readme.md
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-BlockDomain/Images/playbook_screenshot.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-BlockDomain/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-BlockDomain/readme.md
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-GetDomainInfo/Images/playbook_screenshot1.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-GetDomainInfo/Images/playbook_screenshot2.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-GetDomainInfo/Images/playbook_screenshot3.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-GetDomainInfo/Images/playbook_screenshot_new.png
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-GetDomainInfo/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/CiscoUmbrellaPlaybooks/CiscoUmbrella-GetDomainInfo/readme.md
  Solutions/CiscoUmbrella/Playbooks/CustomConnector/EnforcementAPICustomConnector/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/CustomConnector/EnforcementAPICustomConnector/readme.md
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AddIpToDestinationList/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AddIpToDestinationList/playbook_screenshot.png
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AddIpToDestinationList/readme.md
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AssignPolicyToIdentity/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AssignPolicyToIdentity/playbook_screenshot.png
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-AssignPolicyToIdentity/readme.md
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-GetDomainInfo/azuredeploy.json
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-GetDomainInfo/playbook_screenshot.png
  Solutions/CiscoUmbrella/Playbooks/Playbooks/CiscoUmbrella-GetDomainInfo/readme.md
  Solutions/CiscoUmbrella/Playbooks/readme.md
  Solutions/CiscoUmbrella/ReleaseNotes.md
Labels: Playbook, Solution, Content-Package

#11679 [ThreatIntelligence] Update feature flags for data connectors
  Solutions/Threat Intelligence Solution for Azure Government/Data/Solution_ThreatIntelligenceFairfax.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/3.0.4.zip
  Solutions/Threat Intelligence Solution for Azure Government/Package/mainTemplate.json
  Solutions/Threat Intelligence Solution for Azure Government/ReleaseNotes.md
  Solutions/Threat Intelligence/Data Connectors/template_MicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence/Data Connectors/template_PremiumMicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators_ForGov.json
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/3.1.0.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Connector, Solution

#11675 Adding folder for summary rules
  Solutions/DNS Essentials/Summary rules/README.md
  Summary rules/README.md
Labels: documentation

#11685 Fix broken readme link
  Solutions/Recorded Future/Playbooks/Connectors/RecordedFuture-CustomConnector/readme.md
Labels: documentation

#11672 Update TS (typescript) based validation to support GitHub Workflow
  .github/workflows/content-validations.yaml
  .github/workflows/data-connector-validations.yaml
  .github/workflows/detection-validations.yaml
  .github/workflows/documents-link-validation.yaml
  .github/workflows/json-syntax-validation.yaml
  .github/workflows/logo-validation.yaml
  .github/workflows/playbook-validations.yaml
  .github/workflows/sample-data-validation.yaml
  .github/workflows/solution-validations.yaml
  .github/workflows/workbook-metadata-validations.yaml
  .github/workflows/workbook-template-validations.yaml
  .github/workflows/yaml-syntax-validation.yaml
  .script/SolutionValidations/solutionValidator.ts
  .script/SolutionValidations/validDomainsVerticals.ts
  .script/SolutionValidations/validMSBranding.ts
  .script/SolutionValidations/validSolutionID.ts
  .script/SolutionValidations/validSupportObject.ts
  .script/contentValidator.ts
  .script/dataConnectorValidator.ts
  .script/documentsLinkValidator.ts
  .script/idChangeValidator.ts
  .script/jsonFileValidator.ts
  .script/logoValidator.ts
  .script/playbooksValidator.ts
  .script/sampleDataValidator.ts
  .script/utils/LogoChecker/logoImageChecker.ts
  .script/utils/LogoChecker/logoImageSVGChecker.ts
  .script/utils/changedFilesValidator.ts
  .script/utils/dataConnectorCheckers/dataTypeChecker.ts
  .script/utils/dataConnectorCheckers/fileNameChecker.ts
  .script/utils/dataConnectorCheckers/idChecker.ts
  .script/utils/dataConnectorCheckers/permissionsChecker.ts
  .script/utils/gitHubWrapper.ts
  .script/utils/gitWrapper.ts
  .script/utils/playbookCheckers/Models/armTemplateModels.ts
  .script/utils/playbookCheckers/playbookARMTemplateUtils.ts
  .script/utils/playbookCheckers/playbookArmTemplateMetadataChecker.ts
  .script/utils/playbookCheckers/playbookArmTemplateParametersChecker.ts
  .script/utils/playbookCheckers/playbookResourceChecker.ts
  .script/utils/sampleDataCheckers/sampleDataCheckers.ts
  .script/utils/workbookCheckers/imageExistChecker.ts
  .script/utils/workbookCheckers/isVersionIncrementedOnModification.ts
  .script/utils/workbookCheckers/previewImageChecker.ts
  .script/utils/workbookCheckers/uniqueWorkbookKeyChecker.ts
  .script/utils/workbookCheckers/workbookTemplateCheckers/containResourceInfoChecker.ts
  .script/utils/workbookCheckers/workbookTemplateCheckers/fromTemplateIdChecker.ts
  .script/workbooksMetadataValidator.ts
  .script/workbooksTemplateValidator.ts
  .script/yamlFileValidator.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: workflows

#11693 Update gitHubWrapper.ts to correct env varaibles
  .github/workflows/kql-validations.yaml
  .script/utils/gitHubWrapper.ts
Labels: workflows

#11694 Fixing validations for OKTA
  Solutions/Okta Single Sign-On/Package/3.1.2.zip
  Solutions/Okta Single Sign-On/Package/mainTemplate.json
Labels: Solution

#11691 Updated Connector id for SentinelONE CCP connector
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/PollerConfig.json
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/connectorDefinition.json
  Solutions/SentinelOne/Package/3.0.5.zip
  Solutions/SentinelOne/Package/mainTemplate.json
Labels: Content-Package

#11670 Initial release of ServiceNow TISC Sentinel Solution
  Logos/ServiceNow.svg
  Solutions/ServiceNow TISC/Data/Solution_ServiceNowTISC.json
  Solutions/ServiceNow TISC/Package/3.0.0.zip
  Solutions/ServiceNow TISC/Package/createUiDefinition.json
  Solutions/ServiceNow TISC/Package/mainTemplate.json
  Solutions/ServiceNow TISC/Package/testParameters.json
  Solutions/ServiceNow TISC/Playbooks/Connectors/ServiceNowTISCCustomConnector/azuredeploy.json
  Solutions/ServiceNow TISC/Playbooks/Enrichment/ServiceNowTISC-Incident_Enrichment/azuredeploy.json
  Solutions/ServiceNow TISC/Playbooks/ExportToTISC/ServiceNowTISC-Export_Domain_Entity/azuredeploy.json
  Solutions/ServiceNow TISC/Playbooks/ExportToTISC/ServiceNowTISC-Export_Hash_Entity/azuredeploy.json
  Solutions/ServiceNow TISC/Playbooks/ExportToTISC/ServiceNowTISC-Export_IP_Entity/azuredeploy.json
  Solutions/ServiceNow TISC/Playbooks/ExportToTISC/ServiceNowTISC-Export_Incident_Entities/azuredeploy.json
  Solutions/ServiceNow TISC/Playbooks/ExportToTISC/ServiceNowTISC-Export_URL_Entity/azuredeploy.json
  Solutions/ServiceNow TISC/Playbooks/ImportFromTISC/ServiceNowTISC-Batch_Indicator_Uploader/azuredeploy.json
  Solutions/ServiceNow TISC/Playbooks/ImportFromTISC/ServiceNowTISC-Import_Observables_Batch/azuredeploy.json
  Solutions/ServiceNow TISC/README.md
  Solutions/ServiceNow TISC/ReleaseNotes.md
  Solutions/ServiceNow TISC/SolutionMetadata.json
  Solutions/ServiceNow TISC/images/Batch_Indicator_Uploader.png
  Solutions/ServiceNow TISC/images/ExportEntities.png
  Solutions/ServiceNow TISC/images/Flow-ExportEntities.png
  Solutions/ServiceNow TISC/images/Flow-ImportFromTISC.png
  Solutions/ServiceNow TISC/images/Flow-IncidentEnrichment.png
  Solutions/ServiceNow TISC/images/Import_Observables_Batch.png
  Solutions/ServiceNow TISC/images/IncidentEnrichment.png
  Solutions/ServiceNow TISC/images/ServiceNow.svg
Labels: New Solution

#11684 Solution packaged for Removed Custom Entity mappings from Analytic Rule
  Solutions/Symantec VIP/Data/Solution_SymantecVIP.json
  Solutions/Symantec VIP/Package/3.0.2.zip
  Solutions/Symantec VIP/Package/mainTemplate.json
  Solutions/Symantec VIP/ReleaseNotes.md
  Solutions/SymantecProxySG/Data/Solution_SymantecProxySG.json
  Solutions/SymantecProxySG/Package/3.0.3.zip
  Solutions/SymantecProxySG/Package/mainTemplate.json
  Solutions/SymantecProxySG/ReleaseNotes.md
  Solutions/VMware Carbon Black Cloud/Package/3.0.5.zip
  Solutions/VMware Carbon Black Cloud/Package/mainTemplate.json
  Solutions/VMware Carbon Black Cloud/ReleaseNotes.md
Labels: Solution, Content-Package

#11698 V prasadboke previewtag
  Solutions/Auth0/Data Connectors/Auth0_CCP/DataConnectorDefinition.json
  Solutions/Auth0/Data/Solution_Auth0.json
  Solutions/Auth0/Package/3.1.1.zip
  Solutions/Auth0/Package/mainTemplate.json
  Solutions/Auth0/ReleaseNotes.md
  Solutions/Palo Alto Cortex XDR CCP/Data Connectors/CortexXDR_ccp/DataConnectorDefinition.json
  Solutions/Palo Alto Cortex XDR CCP/Package/3.0.1.zip
  Solutions/Palo Alto Cortex XDR CCP/Package/mainTemplate.json
  Solutions/Palo Alto Cortex XDR CCP/ReleaseNotes.md
  Solutions/SentinelOne/Data Connectors/SentinelOne_ccp/connectorDefinition.json
  Solutions/SentinelOne/Package/3.0.5.zip
  Solutions/SentinelOne/Package/mainTemplate.json
Labels: Connector, Solution, Content-Package

#11687 Ctera Packaged and analytic rule count corrected
  Solutions/CTERA/Data Connectors/CTERA_Data_Connector.json
  Solutions/CTERA/Package/3.0.1.zip
  Solutions/CTERA/Package/mainTemplate.json
  Solutions/CTERA/ReleaseNotes.md
Labels: Solution, Content-Package, P0

#11701 [ThreatIntelligence] Fix feature flag configs
  Solutions/Threat Intelligence Solution for Azure Government/Data/Solution_ThreatIntelligenceFairfax.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/3.0.5.zip
  Solutions/Threat Intelligence Solution for Azure Government/Package/createUiDefinition.json
  Solutions/Threat Intelligence Solution for Azure Government/Package/mainTemplate.json
  Solutions/Threat Intelligence Solution for Azure Government/ReleaseNotes.md
  Solutions/Threat Intelligence/Data Connectors/template_MicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence/Data Connectors/template_PremiumMicrosoftDefenderThreatIntelligence.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators.json
  Solutions/Threat Intelligence/Data Connectors/template_ThreatIntelligenceUploadIndicators_ForGov.json
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
  Solutions/Threat Intelligence/Package/3.1.1.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
  Solutions/Threat Intelligence/ReleaseNotes.md
Labels: Connector, Solution

#11700 Update IdChangeValidator to fix workflow bugs
  .script/idChangeValidator.ts
Labels: Content-Package

#11702 Recorded future: update readme
  Solutions/Recorded Future/Playbooks/ThreatHunting/readme.md
  Solutions/Recorded Future/Playbooks/readme.md
Labels: documentation

#11706 Fixing Dragos PublisherId based on partner center submission
  Solutions/Dragos/Package/3.0.0.zip
  Solutions/Dragos/Package/mainTemplate.json
  Solutions/Dragos/SolutionMetadata.json
Labels: Solution

#11709 Updated the Correct Zip(removed redundant directory inside the zip package)
  Solutions/DomainTools/Playbooks/CustomConnector/DomainTools_FunctionAppConnector/DomainToolsFunctionApp.zip
Labels: Playbook, Solution

#11710 ASim Script Update
  .script/tests/asimParsersTest/ASimFilteringTest.py
  .script/tests/asimParsersTest/VerifyASimParserTemplate.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: ASIM

#11714 Update servicenow readme
  Solutions/Servicenow/StoreApp/README.md
  Solutions/Servicenow/StoreApp/media/RegionsSupported.png
  Solutions/Servicenow/StoreApp/media/RenameInBusinessRule.png
  Solutions/Servicenow/StoreApp/media/RenameInScheduledJob.png
  Solutions/Servicenow/StoreApp/media/SentinelIncidentsRenaming.png
  Solutions/Servicenow/StoreApp/media/VersionDetails.png
  Solutions/Servicenow/StoreApp/media/troubleshoot/AutomationRulePage.png
  Solutions/Servicenow/StoreApp/media/troubleshoot/AutomationRulePageCreate.png
  Solutions/Servicenow/StoreApp/media/troubleshoot/StoreScreenshots.png
  Solutions/Servicenow/StoreApp/media/troubleshoot/htmlcode.png
Labels: documentation

#11715 Updating Entity mapping correctly for Microsoft Defender for IOT
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/3.0.2.zip
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/Package/mainTemplate.json
  Solutions/IoTOTThreatMonitoringwithDefenderforIoT/ReleaseNotes.md
Labels: Solution

#11734 Optional parameter SolutionDataFolderPath to createSolutionV3 file
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
Labels: Tools

#11708 Fix logo for Garrison ULTRA solution
  Solutions/Garrison ULTRA/Data/Solution_GarrisonULTRARemoteLogs.json
  Solutions/Garrison ULTRA/Package/3.0.0.zip
  Solutions/Garrison ULTRA/Package/createUiDefinition.json
  Solutions/Garrison ULTRA/Package/mainTemplate.json
Labels: Solution

#11727 Added new Analytic rule to the Solution 'AzureRBAC'
  Solutions/Microsoft Entra ID/Analytic Rules/AzureRBAC.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.3.0.zip
  Solutions/Microsoft Entra ID/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution, Content-Package

#11640 Net clean updates
  .script/tests/KqlvalidationsTests/CustomTables/Netclean_Incidents_CL.json
  Sample Data/Custom/Netclean_Incidents_CL.json
  Solutions/NetClean ProActive/Analytic Rules/NetClean_Sentinel_analytic_rule.yaml
  Solutions/NetClean ProActive/Data Connectors/Connector_NetClean.json
  Solutions/NetClean ProActive/Data/Solution_NetCleanProActive.json
  Solutions/NetClean ProActive/Package/3.0.2.zip
  Solutions/NetClean ProActive/Package/createUiDefinition.json
  Solutions/NetClean ProActive/Package/mainTemplate.json
  Solutions/NetClean ProActive/Package/testParameters.json
  Solutions/NetClean ProActive/ReleaseNotes.md
  Solutions/NetClean ProActive/Workbooks/NetCleanProActiveWorkbook.json
Labels: Solution

#11658 Change hardcoded value to variable
  Hunting Queries/AzureStorage/AzureStorageFileCreatedQuicklyDeleted.yaml
Labels: Hunting, Standalone

#11689 TrendMicro V1 Data Connector update document URL
  Solutions/Trend Micro Vision One/Data Connectors/TrendMicroXDR.json
  Solutions/Trend Micro Vision One/Package/3.0.1.zip
  Solutions/Trend Micro Vision One/Package/mainTemplate.json
  Solutions/Trend Micro Vision One/ReleaseNotes.md
Labels: Solution
