Repository Azure/Azure-Sentinel, pull requests merged in 2025-04, with the labels that each got.

#11981 Update connector instructions in Workday_DataConnectorDefinition.json
  Solutions/Workday/Data Connectors/Workday_ccp/Workday_DataConnectorDefinition.json
  Solutions/Workday/Package/3.0.2.zip
  Solutions/Workday/Package/createUiDefinition.json
  Solutions/Workday/Package/mainTemplate.json
  Solutions/Workday/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector

#11891 03 05 2025 as crowdstrike alerts integration
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_API_Connections_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_API_Connections_2.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_API_Connections_3.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Custom_Logs_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Demo_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Deploy_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Deploy_2.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Deploy_3.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_2.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_3.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_4.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_5.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_6.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_7.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_8.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Initial_Run_9.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Key_Vault_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Key_Vault_2.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Key_Vault_3.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Key_Vault_Access_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Key_Vault_Access_2.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Key_Vault_Access_3.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Key_Vault_Access_4.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Log_Analytics_Workspace_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_Log_Analytics_Workspace_2.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_OAuth_1.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_OAuth_2.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_OAuth_3.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_OAuth_4.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/Images/CrowdStrike_Integration_OAuth_5.png
  Playbooks/AS-Crowdstrike-Alerts-Integration/README.md
  Playbooks/AS-Crowdstrike-Alerts-Integration/azuredeploy.json
Labels: Playbook, Standalone

#11933 CloudFormation script for AWSRoute53
  DataConnectors/AWS-S3/CloudFormation/DnsRoute53/AWSDnsRoute53Logs_CloudFormation.json
Labels: Connector

#11991 preview tag added to crowdstrike connector
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdStrikeS3FDR_ccp/DataConnectorDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.1.0.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#11992 Typo error corrected
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.1.0.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#11974 Corrected Condition to check if createdByRef exists to correct STIX i…
  Solutions/Australian Cyber Security Centre/Playbooks/AusCtisExportTaggedIndicators/azuredeploy.json
Labels: Solution

#11988 Fix documentation pba updates
  Solutions/Recorded Future Identity/Data/Solution_RecordedFutureIdentity.json
  Solutions/Recorded Future Identity/Package/3.1.1.zip
  Solutions/Recorded Future Identity/Package/createUiDefinition.json
  Solutions/Recorded Future Identity/Package/mainTemplate.json
  Solutions/Recorded Future Identity/Playbooks/RFI-Playbook-Alert-Importer-LAW-Sentinel/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/readme.md
  Solutions/Recorded Future Identity/Playbooks/v3.0/RFI-CustomConnector-0-1-0/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3.0/RFI-add-EntraID-security-group-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3.0/RFI-confirm-EntraID-risky-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3.0/RFI-lookup-and-save-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3.0/RFI-search-external-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3.0/RFI-search-workforce-user/azuredeploy.json
  Solutions/Recorded Future Identity/Playbooks/v3.0/readme.md
  Solutions/Recorded Future Identity/ReleaseNotes.md
  Solutions/Recorded Future Identity/SolutionMetadata.json
Labels: Solution

#11993 minor fix conversion issue in tool
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Tools

#11997 Fix to README.md Section Links
  Playbooks/AS-Crowdstrike-Alerts-Integration/README.md
Labels: Playbook

#11999 Leaderboard Monthly Update - Update stats.md file with Mar 2025 Data
  Tools/stats/stats.md
Labels: Tools

#12000 Fix functionApp code text which is adding (using Azure Function)
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#12002 1password UI issue fixed
  Solutions/1Password/Package/3.0.2.zip
  Solutions/1Password/Package/createUiDefinition.json
Labels: Solution, P0

#11985 The RoleSessionName that Microsoft sends has changed
  DataConnectors/AWS-S3/Utils/CommonAwsPolicies.ps1
Labels: Connector, Standalone

#11998 Update connectivityCriterias for XDR connectors
  Solutions/Microsoft Defender For Identity/Data Connectors/MicrosoftDefenderforIdentity.JSON
  Solutions/Microsoft Defender For Identity/Package/3.0.0.zip
  Solutions/Microsoft Defender For Identity/Package/createUiDefinition.json
  Solutions/Microsoft Defender For Identity/Package/mainTemplate.json
  Solutions/Microsoft Defender For Identity/Package/testParameters.json
  Solutions/Microsoft Defender For Identity/ReleaseNotes.md
  Solutions/Microsoft Defender XDR/Data Connectors/MicrosoftThreatProtection.JSON
  Solutions/Microsoft Defender XDR/Package/3.0.12.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Microsoft Defender XDR/ReleaseNotes.md
  Solutions/Microsoft Defender for Cloud Apps/Data Connectors/MicrosoftCloudAppSecurity.JSON
  Solutions/Microsoft Defender for Cloud Apps/Package/3.0.0.zip
  Solutions/Microsoft Defender for Cloud Apps/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Cloud Apps/Package/mainTemplate.json
  Solutions/Microsoft Defender for Cloud Apps/Package/testParameters.json
  Solutions/Microsoft Defender for Cloud Apps/ReleaseNotes.md
  Solutions/Microsoft Defender for Office 365/Data Connectors/template_OfficeATP.json
  Solutions/Microsoft Defender for Office 365/Data/Solution_MicrosoftDefenderforOffice365.json
  Solutions/Microsoft Defender for Office 365/Package/3.0.3.zip
  Solutions/Microsoft Defender for Office 365/Package/createUiDefinition.json
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
  Solutions/Microsoft Defender for Office 365/ReleaseNotes.md
  Solutions/Microsoft Entra ID Protection/Data Connectors/template_AzureActiveDirectoryIdentityProtection.JSON
  Solutions/Microsoft Entra ID Protection/Package/3.0.2.zip
  Solutions/Microsoft Entra ID Protection/Package/createUiDefinition.json
  Solutions/Microsoft Entra ID Protection/Package/mainTemplate.json
  Solutions/Microsoft Entra ID Protection/ReleaseNotes.md
  Solutions/MicrosoftDefenderForEndpoint/Data Connectors/template_MicrosoftDefenderAdvancedThreatProtection.JSON
  Solutions/MicrosoftDefenderForEndpoint/Package/3.0.4.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/createUiDefinition.json
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/MicrosoftDefenderForEndpoint/ReleaseNotes.md
  Solutions/MicrosoftPurviewInsiderRiskManagement/Data Connectors/template_OfficeIRM.JSON
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/3.0.6.zip
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/createUiDefinition.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/Package/mainTemplate.json
  Solutions/MicrosoftPurviewInsiderRiskManagement/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Solution

#11996 Updated Index names and querywindowtime to 1 minute
  Solutions/Netskopev2/Data Connectors/NetskopeAlertsEvents_RestAPI_CCP/NetskopeAlertsEvents_Poller.json
  Solutions/Netskopev2/Package/3.0.3.zip
  Solutions/Netskopev2/Package/mainTemplate.json
  Solutions/Netskopev2/ReleaseNotes.md
Labels: Solution

#12012 Update AnomalousUserAppSigninLocationIncrease-detection.yaml
  Solutions/Microsoft Entra ID/Analytic Rules/AnomalousUserAppSigninLocationIncrease-detection.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.3.1.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution

#12024 Created a workbook for Microsoft Purview Information Protection
  Workbooks/Images/Preview/MicrosoftPurviewInformationProtectionBlack.png
  Workbooks/Images/Preview/MicrosoftPurviewInformationProtectionWhite.png
  Workbooks/MicrosoftPurviewInformationProtection.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#12023 Updating Data type to securestring for Palo Alto Cortex XDR
  Solutions/Palo Alto Cortex XDR CCP/Package/3.0.3.zip
  Solutions/Palo Alto Cortex XDR CCP/Package/mainTemplate.json
Labels: Solution, Content-Package

#12026 Update Workbook version to 2.0.0
  Solutions/Microsoft Defender XDR/Package/3.0.12.zip
  Solutions/Microsoft Defender XDR/Package/mainTemplate.json
  Solutions/Palo Alto Cortex XDR CCP/ReleaseNotes.md
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#12017 Increment the simple-git package version to 3.15.0
  package.json
Labels: Tools

#11932 New CCPP Connector | ProofpointTAP
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_API_FunctionApp.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofPointTAPClicksBlockedV2_CL.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofPointTAPClicksPermittedV2_CL.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofPointTAPMessagesBlockedV2_CL.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofPointTAPMessagesDeliveredV2_CL.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofpointTAP_DCR.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofpointTAP_defination.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofpointTAP_pollingconfig.json
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.6.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/Package/testParameters.json
  Solutions/ProofPointTap/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#11908 New CCPP Connector | Proofpoint On Demand Email Security | added to ProofPoint POD
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofPointEmailSecurity_CCP/ProofpointPOD_DCR.json
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofPointEmailSecurity_CCP/ProofpointPOD_Definaton.json
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofPointEmailSecurity_CCP/ProofpointPOD_PollingConfig.json
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofPointEmailSecurity_CCP/ProofpointPOD_Table_MailLog.json
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofPointEmailSecurity_CCP/ProofpointPOD_Table_Message.json
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofpointPOD_API_FunctionApp.json
  Solutions/Proofpoint On demand(POD) Email Security/Data/Solution_ProofPointPOD.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/3.0.3.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/testParameters.json
  Solutions/Proofpoint On demand(POD) Email Security/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12031 1Password CCP Data Connector issue fixed
  DataConnectors/AWS-S3/Utils/CommonAwsPolicies.ps1
  Solutions/1Password/Data Connectors/1Password_ccpv2/1Password_PollingConfig.json
  Solutions/1Password/Package/3.0.2.zip
  Solutions/1Password/Package/mainTemplate.json
  Solutions/1Password/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package, P0

#12040 Fix for function app text manual deployment
  .script/package-automation/hyperlink-validation.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
Labels: Tools

#12046 Add Analytic Rule Folder
  Solutions/Microsoft Purview Information Protection/Analytic Rules/readme.md
Labels: Solution

#12011 Updated Rubrik Logic Apps
  Solutions/RubrikSecurityCloud/Data Connectors/RubrikWebhookEvents/azuredeploy_Connector_RubrikWebhookEvents_AzureFunction.json
  Solutions/RubrikSecurityCloud/Data/Solution_RubrikSecurityCloud.json
  Solutions/RubrikSecurityCloud/Package/3.4.0.zip
  Solutions/RubrikSecurityCloud/Package/createUiDefinition.json
  Solutions/RubrikSecurityCloud/Package/mainTemplate.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyAnalysis/AnomalyAnalysis.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyAnalysis/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyAnalysis/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyGenerateDownloadableLink/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikAnomalyIncidentResponse/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikCustomConnector/Rubrik_custom_conn.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikDataObjectDiscovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFileObjectContextAnalysis/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikFilesetRansomwareDiscovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikIOCScan/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikPollAsyncResult/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndFileRecovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRansomwareDiscoveryAndVMRecovery/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikRetrieveUserIntelligenceInformation/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUpdateAnomalyStatus/Images/RubrikUpdateAnomalyStatus.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUpdateAnomalyStatus/Images/Teams- RubrikUpdateAnomalyStatus1.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUpdateAnomalyStatus/Images/Teams- RubrikUpdateAnomalyStatus2.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUpdateAnomalyStatus/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUpdateAnomalyStatus/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUpdateAnomalyStatusViaIncident/Images/RubrikUpdateAnomalyStatusViaIncident.png
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUpdateAnomalyStatusViaIncident/README.md
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUpdateAnomalyStatusViaIncident/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikUserIntelligenceAnalysis/azuredeploy.json
  Solutions/RubrikSecurityCloud/Playbooks/RubrikWorkloadAnalysis/azuredeploy.json
  Solutions/RubrikSecurityCloud/ReleaseNotes.md
  Solutions/RubrikSecurityCloud/SolutionMetadata.json
Labels: draft

#12054 Deleted readme file from Analytic rule
  Solutions/Microsoft Purview Information Protection/Analytic Rules/readme.md
Labels: Tools

#12041 Move solution to GA
  Solutions/Microsoft Business Applications/Analytic Rules/Dataverse - Audit logging disabled.yaml
  Solutions/Microsoft Business Applications/Data Connectors/DynamicsFinOpsPollerConnector/DynamicsFinOps_DataConnectorDefinition.json
  Solutions/Microsoft Business Applications/Data/Solution_PowerPlatform.json
  Solutions/Microsoft Business Applications/Package/3.2.1.zip
  Solutions/Microsoft Business Applications/Package/mainTemplate.json
  Solutions/Microsoft Business Applications/ReleaseNotes.md
Labels: Connector, Solution

#11757 Upload Styx Data Connector
  Logos/styx-logo-black.svg
  Solutions/Styx Intelligence/Data Connectors/Alerts/StyxView Alerts_ConnectorDefinition.json
  Solutions/Styx Intelligence/Data Connectors/Alerts/StyxView Alerts_DCR.json
  Solutions/Styx Intelligence/Data Connectors/Alerts/StyxView Alerts_PollingConfig.json
  Solutions/Styx Intelligence/Data Connectors/Alerts/StyxView Alerts_Table.json
  Solutions/Styx Intelligence/Data Connectors/Alerts/alerts_connector.json
  Solutions/Styx Intelligence/Data/Solution_StyxIntel.json
  Solutions/Styx Intelligence/Package/3.0.0.zip
  Solutions/Styx Intelligence/Package/createUiDefinition.json
  Solutions/Styx Intelligence/Package/mainTemplate.json
  Solutions/Styx Intelligence/Package/testParameters.json
  Solutions/Styx Intelligence/ReleaseNotes.md
  Solutions/Styx Intelligence/SolutionMetadata.json
Labels: Connector, Solution, New Solution

#12019 Create a new workbook for AADNon-Interactive SignInLogs
  Workbooks/AADNonInteractiveUserSignInLogs.json
  Workbooks/Images/Preview/AADNonInteractiveUserSignInLogsBlack.png
  Workbooks/Images/Preview/AADNonInteractiveUserSignInLogsWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#12060 TI Solution Fixes- Duplicate rules and entity type for Source IP
  Solutions/Threat Intelligence (NEW)/Analytic Rules/FileHashEntity_CloudAppEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_CustomSecurityLog.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_imNetworkSession.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_imWebSession.yaml
  Solutions/Threat Intelligence (NEW)/Data/Solution_ThreatIntelligenceUpdated.json
  Solutions/Threat Intelligence/Analytic Rules/FileHashEntity_CloudAppEvents.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_CustomSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_imWebSession.yaml
  Solutions/Threat Intelligence/Data/Solution_ThreatIntelligenceTemplateSpec.json
Labels: Solution, Content-Package

#12037 Fix SAP LogServ retention, SAP ETD OData entity change
  .script/tests/KqlvalidationsTests/CustomTables/SAPETDAlerts_CL.json
  Solutions/SAP ETD Cloud/Analytic Rules/SAPETD-LoginFromUnexpectedNetwork.yaml
  Solutions/SAP ETD Cloud/Analytic Rules/SAPETD-SynchAlerts.yaml
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_DCR.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_dataConnector.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_table.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/solutionMetadata.json
  Solutions/SAP ETD Cloud/Data/Solution_SAPETD.json
  Solutions/SAP ETD Cloud/Package/3.0.1.zip
  Solutions/SAP ETD Cloud/Package/mainTemplate.json
  Solutions/SAP ETD Cloud/ReleaseNotes.md
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/solutionMetadata.json
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/table.json
  Solutions/SAP LogServ/Data/Solution_SAPLogServ.json
  Solutions/SAP LogServ/Package/3.0.1.zip
  Solutions/SAP LogServ/Package/mainTemplate.json
  Solutions/SAP LogServ/ReleaseNotes.md
Labels: Solution

#12061 azure devops Solutionn description update
  Solutions/AzureDevOpsAuditing/Data Connectors/AzureDevOpsAuditLogs_CCP/AzureDevOpsAuditLogs_DataConnectorDefinition.json
  Solutions/AzureDevOpsAuditing/Data/Solution_AzureDevOpsAuditing.json
  Solutions/AzureDevOpsAuditing/Package/3.0.4.zip
  Solutions/AzureDevOpsAuditing/Package/createUiDefinition.json
  Solutions/AzureDevOpsAuditing/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.1.0.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Solution, Content-Package

#11984 Update NetworkPortSweepFromExternalNetwork.yaml
  Solutions/Network Session Essentials/Analytic Rules/NetworkPortSweepFromExternalNetwork.yaml
  Solutions/Network Session Essentials/Package/3.0.6.zip
  Solutions/Network Session Essentials/Package/mainTemplate.json
  Solutions/Network Session Essentials/ReleaseNotes.md
Labels: Solution

#12051 Update Atlassian Confluence CCP Connector and Parser
  Solutions/AtlassianConfluenceAudit/Data Connectors/AtlassianConfluenceAuditDataConnector/ConfluenceAudit_API_FunctionApp.json
  Solutions/AtlassianConfluenceAudit/Data Connectors/AtlassianConfluenceAuditLogs_CCP/AtlassianConfluenceAudit_DCR.json
  Solutions/AtlassianConfluenceAudit/Data Connectors/AtlassianConfluenceAuditLogs_CCP/AtlassianConfluenceAudit_DataConnectorDefinition.json
  Solutions/AtlassianConfluenceAudit/Data Connectors/AtlassianConfluenceAuditLogs_CCP/AtlassianConfluenceAudit_PollingConfig.json
  Solutions/AtlassianConfluenceAudit/Data Connectors/AtlassianConfluenceAuditLogs_CCP/AtlassianConfluenceAudit_table.json
  Solutions/AtlassianConfluenceAudit/Data Connectors/ConfluenceNativePollerConnector/azuredeploy_Confluence_native_poller_connector.json
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/3.0.4.zip
  Solutions/AtlassianConfluenceAudit/Package/createUiDefinition.json
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/Parsers/ConfluenceAudit.yaml
  Solutions/AtlassianConfluenceAudit/ReleaseNotes.md
  Solutions/AzureDevOpsAuditing/Readme.txt
Labels: Connector, Parser, Codeless Connector Platform (CCP) Connector, Content-Package

#11972 Cyfirma Solutions Created
  Logos/Cyfirma_logo.svg
  Solutions/Cyfirma Attack Surface/Data Connectors/CyfirmaASAlerts_ccp/CyfirmaASAlerts_DCR.json
  Solutions/Cyfirma Attack Surface/Data Connectors/CyfirmaASAlerts_ccp/CyfirmaASAlerts_DataConnectorDefinition.json
  Solutions/Cyfirma Attack Surface/Data Connectors/CyfirmaASAlerts_ccp/CyfirmaASAlerts_PollerConfig.json
  Solutions/Cyfirma Attack Surface/Data Connectors/CyfirmaASAlerts_ccp/CyfirmaASAlerts_Tables.json
  Solutions/Cyfirma Attack Surface/Data/Solution_CyfirmaASAlerts.json
  Solutions/Cyfirma Attack Surface/Package/3.0.0.zip
  Solutions/Cyfirma Attack Surface/Package/createUiDefinition.json
  Solutions/Cyfirma Attack Surface/Package/mainTemplate.json
  Solutions/Cyfirma Attack Surface/Package/testParameters.json
  Solutions/Cyfirma Attack Surface/ReleaseNotes.md
  Solutions/Cyfirma Attack Surface/SolutionMetadata.json
  Solutions/Cyfirma Brand Intelligence/Data Connectors/CyfirmaBIAlerts_ccp/CyfirmaBIAlerts_DCR.json
  Solutions/Cyfirma Brand Intelligence/Data Connectors/CyfirmaBIAlerts_ccp/CyfirmaBIAlerts_DataConnectorDefinition.json
  Solutions/Cyfirma Brand Intelligence/Data Connectors/CyfirmaBIAlerts_ccp/CyfirmaBIAlerts_PollerConfig.json
  Solutions/Cyfirma Brand Intelligence/Data Connectors/CyfirmaBIAlerts_ccp/CyfirmaBIAlerts_Tables.json
  Solutions/Cyfirma Brand Intelligence/Data/Solution_CyfirmaBrandIntelligence.json
  Solutions/Cyfirma Brand Intelligence/Package/3.0.0.zip
  Solutions/Cyfirma Brand Intelligence/Package/createUiDefinition.json
  Solutions/Cyfirma Brand Intelligence/Package/mainTemplate.json
  Solutions/Cyfirma Brand Intelligence/Package/testParameters.json
  Solutions/Cyfirma Brand Intelligence/ReleaseNotes.md
  Solutions/Cyfirma Brand Intelligence/SolutionMetadata.json
  Solutions/Cyfirma Digital Risk/Data Connectors/CyfirmaDigitalRiskAlerts_ccp/CyfirmaDigitalRiskAlerts_DCR.json
  Solutions/Cyfirma Digital Risk/Data Connectors/CyfirmaDigitalRiskAlerts_ccp/CyfirmaDigitalRiskAlerts_DataConnectorDefinition.json
  Solutions/Cyfirma Digital Risk/Data Connectors/CyfirmaDigitalRiskAlerts_ccp/CyfirmaDigitalRiskAlerts_PollerConfig.json
  Solutions/Cyfirma Digital Risk/Data Connectors/CyfirmaDigitalRiskAlerts_ccp/CyfirmaDigitalRiskAlerts_Tables.json
  Solutions/Cyfirma Digital Risk/Data/Solution_CyfirmaDigitalRiskAlerts.json
  Solutions/Cyfirma Digital Risk/Package/3.0.0.zip
  Solutions/Cyfirma Digital Risk/Package/createUiDefinition.json
  Solutions/Cyfirma Digital Risk/Package/mainTemplate.json
  Solutions/Cyfirma Digital Risk/Package/testParameters.json
  Solutions/Cyfirma Digital Risk/ReleaseNotes.md
  Solutions/Cyfirma Digital Risk/SolutionMetadata.json
Labels: Codeless Connector Platform (CCP) Connector, New Solution

#12042 Use securestring instead of string for ccp connector parameters
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Tools

#12064 Adapt solution to 4 2 version
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_EvidenceOfMimikatzDCShadowAttack.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_KerberoskrbtgtAccount.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_RecentsIDHistoryChangesOnADObjects.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_WellKnownPrivilegedSIDsInsIDHistory.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/SemperisDSP_ZerologonVulnerability.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Failed_Logons.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_Operations_Critical_Notifications_.yaml
  Solutions/Semperis Directory Services Protector/Analytic Rules/Semperis_DSP_RBAC_Changes.yaml
  Solutions/Semperis Directory Services Protector/Data/Solution_Semperis.json
  Solutions/Semperis Directory Services Protector/Package/mainTemplate.json
  Solutions/Semperis Directory Services Protector/Parsers/dsp_parser.yaml
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPADChanges.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPNotifications.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPQuickviewDashboard.json
  Solutions/Semperis Directory Services Protector/Workbooks/SemperisDSPSecurityIndicators.json
Labels: Parser, Workbook, Solution

#12074 Samsung Knox Asset Intelligence - Enhance DC instruction steps & Update Analytics rules
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxApplicationPrivilegeEscalationOrChange.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxKeyguardDisabledFeatureSet.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxMobileDeviceBootCompromise.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPasswordLockout.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPeripheralAccessDetectionWithCamera.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxPeripheralAccessDetectionWithMic.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxSecurityLogFull.yaml
  Solutions/Samsung Knox Asset Intelligence/Analytic Rules/SamsungKnoxSuspiciousURLs.yaml
  Solutions/Samsung Knox Asset Intelligence/Data Connectors/Template_Samsung.json
  Solutions/Samsung Knox Asset Intelligence/Package/3.0.0.zip
  Solutions/Samsung Knox Asset Intelligence/Package/3.0.1.zip
  Solutions/Samsung Knox Asset Intelligence/Package/createUiDefinition.json
  Solutions/Samsung Knox Asset Intelligence/Package/mainTemplate.json
  Solutions/Samsung Knox Asset Intelligence/ReleaseNotes.md
Labels: Solution

#12030 Astha/azure sentinel
  Workbooks/Images/Preview/ZeroTrustStrategyWorkbook1Black.png
  Workbooks/Images/Preview/ZeroTrustStrategyWorkbook1White.png
  Workbooks/Images/Preview/ZeroTrustStrategyWorkbook2Black.png
  Workbooks/Images/Preview/ZeroTrustStrategyWorkbook2White.png
  Workbooks/Images/Preview/ZeroTrustStrategyWorkbook3Black.png
  Workbooks/Images/Preview/ZeroTrustStrategyWorkbook3White.png
  Workbooks/WorkbooksMetadata.json
  Workbooks/Zero Trust Strategy Workbook.json
Labels: Workbook

#12047 Change offer id to create an offer at marketplace
  Solutions/WithSecureElementsViaFunction/Package/3.0.1.zip
  Solutions/WithSecureElementsViaFunction/Package/mainTemplate.json
  Solutions/WithSecureElementsViaFunction/SolutionMetadata.json
Labels: Solution

#12086 package updated for Semperis Directory Services Protector
  Solutions/Semperis Directory Services Protector/Package/3.0.2.zip
  Solutions/Semperis Directory Services Protector/ReleaseNotes.md
Labels: Solution

#12085 Samsung Knox Asset Intelligence -Update DCR to add test data util & revert 3.0.0 zip
  Solutions/Samsung Knox Asset Intelligence/Data Connectors/azuredeploy_SamsungDataConnectorDefinition.json
  Solutions/Samsung Knox Asset Intelligence/Package/3.0.0.zip
  Solutions/Samsung Knox Asset Intelligence/ReleaseNotes.md
Labels: Solution

#12093 Add tenantid column to oktaV2 table schema
  .script/tests/KqlvalidationsTests/CustomTables/OktaV2_CL.json
Labels: Solution

#12087 API version incremented for custom connector
  Solutions/Microsoft Defender for Office 365/Package/3.0.3.zip
  Solutions/Microsoft Defender for Office 365/Package/mainTemplate.json
  Solutions/Microsoft Defender for Office 365/Playbooks/CustomConnector/O365_Defender_FunctionAppConnector/azuredeploy.json
Labels: Solution, Content-Package

#12094 Updated package for Entra ID to remove the entity for IP Address
  Solutions/Microsoft Entra ID/Analytic Rules/DistribPassCrackAttempt.yaml
  Solutions/Microsoft Entra ID/Data/Solution_AAD.json
  Solutions/Microsoft Entra ID/Package/3.3.2.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
Labels: Solution, Content-Package

#11931 ✨ Add HostTags property to host object in QualysVM data connector
  Solutions/QualysVM/Data Connectors/AzureFunctionQualysVM_V2.zip
  Solutions/QualysVM/Data Connectors/AzureFunctionQualysVM_V2/run.ps1
  Solutions/QualysVM/Package/3.0.2.zip
  Solutions/QualysVM/Package/createUiDefinition.json
  Solutions/QualysVM/Package/mainTemplate.json
  Solutions/QualysVM/Parsers/QualysHostDetection.txt
  Solutions/QualysVM/Parsers/QualysHostDetection.yaml
  Solutions/QualysVM/ReleaseNotes.md
  Solutions/QualysVM/data/Solution_QualysVM.json
Labels: Connector, Solution

#11958 Added user-agent in header and extra params in query parameters
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_PollingConfig.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_Tables.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_Tables_DruvaInsyncEvents_CL.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_Tables_DruvaPlatformEvents_CL.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/Druva_Tables_DruvaSecurityEvents_CL.json
  Solutions/DruvaDataSecurityCloud/Data Connectors/Druva_ccp/azuredeploy_DruvaEvents_poller_connector.json
  Solutions/DruvaDataSecurityCloud/Package/3.0.1.zip
  Solutions/DruvaDataSecurityCloud/Package/createUiDefinition.json
  Solutions/DruvaDataSecurityCloud/Package/mainTemplate.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineEnterpriseWorkload/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineInsyncWorkloads/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharePoint/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineSharedDrive/azuredeploy.json
  Solutions/DruvaDataSecurityCloud/Playbooks/DruvaQuarantineUsingResourceID/azuredeploy.json
Labels: Codeless Connector Platform (CCP) Connector

#12099 Fix Arm-ttk issue
  Tools/Create-Azure-Sentinel-Solution/arm-ttk/run-arm-ttk-in-automation.ps1
Labels: Tools

#12038 Add Defender for Servers Plan 2 ingestion benefit to Sentinel cost work…
  Solutions/SOC Handbook/Package/3.0.4.zip
  Solutions/SOC Handbook/Package/createUiDefinition.json
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/Package/testParameters.json
  Solutions/SOC Handbook/ReleaseNotes.md
  Solutions/SOC Handbook/Workbooks/AzureSentinelCost.json
Labels: Workbook, Solution

#12103 Change offer id to the old one and change tier
  Solutions/WithSecureElementsViaFunction/Package/3.0.1.zip
  Solutions/WithSecureElementsViaFunction/Package/mainTemplate.json
  Solutions/WithSecureElementsViaFunction/SolutionMetadata.json
Labels: Solution

#12105 Data Connector Definition string to securestring
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Tools

#11936 AWS NetworkFirewall CCP Connector
  .script/tests/KqlvalidationsTests/CustomTables/AWSNetworkFirewall_AlertLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/AWSNetworkFirewall_FlowLog_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/AWSNetworkFirewall_TlsLog_CL.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/AWSNetworkFirewallLogs_CCP/AWSNetworkFirewallAlertLog_Table.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/AWSNetworkFirewallLogs_CCP/AWSNetworkFirewallFlowLog_Table.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/AWSNetworkFirewallLogs_CCP/AWSNetworkFirewallLog_ConnectorDefinition.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/AWSNetworkFirewallLogs_CCP/AWSNetworkFirewallLog_DCR.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/AWSNetworkFirewallLogs_CCP/AWSNetworkFirewallLog_PollingConfig.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/AWSNetworkFirewallLogs_CCP/AWSNetworkFirewallTlsLog_Table.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/CloudFormationTemplates/AWS_NetworkFirewall_Configuration.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/CloudFormationTemplates/OIDC_Web_Identity_Provider.json
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/readme.md
  Solutions/Amazon Web Services NetworkFirewall/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services NetworkFirewall/Package/3.0.0.zip
  Solutions/Amazon Web Services NetworkFirewall/Package/createUiDefinition.json
  Solutions/Amazon Web Services NetworkFirewall/Package/mainTemplate.json
  Solutions/Amazon Web Services NetworkFirewall/Package/testParameters.json
  Solutions/Amazon Web Services NetworkFirewall/ReleaseNotes.md
  Solutions/Amazon Web Services NetworkFirewall/SolutionMetadata.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#12003 Fix typo
  Solutions/ESET Protect Platform/Data Connectors/azuredeploy_ESETProtectPlatform_API_FunctionApp.json
  Solutions/ESET Protect Platform/Data/Solution_ESETProtectPlatform.json
  Solutions/ESET Protect Platform/Package/3.1.0.zip
  Solutions/ESET Protect Platform/Package/3.1.1.zip
  Solutions/ESET Protect Platform/Package/mainTemplate.json
  Solutions/ESET Protect Platform/ReleaseNotes.md
  Solutions/ESET Protect Platform/SolutionMetadata.json
Labels: Solution

#12076 Fix-ProofPointTAP CCP Deployment Issue
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofpointTAP_DCR.json
  Solutions/ProofPointTap/Package/3.0.7.zip
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12112 Samsung Knox update
  Solutions/Samsung Knox Asset Intelligence/Package/3.0.1.zip
  Solutions/Samsung Knox Asset Intelligence/Package/mainTemplate.json
  Solutions/Samsung Knox Asset Intelligence/SolutionMetadata.json
Labels: Solution

#12104 Removed Legacy connector from CiscoASA Solution
  Solutions/CiscoASA/Analytic Rules/CiscoASA-AvgAttackDetectRateIncrease.yaml
  Solutions/CiscoASA/Analytic Rules/CiscoASA-ThreatDetectionMessage.yaml
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/3.0.5.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
  Solutions/CiscoASA/ReleaseNotes.md
Labels: Solution, Content-Package

#12080 Add files via upload
  Workbooks/AzureThreatResearchMatrixWorkbook.JSON
  Workbooks/Images/Preview/AzureThreatResearchMatrixBlack.png
  Workbooks/Images/Preview/AzureThreatResearchMatrixWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#12122 Updated connectivity criteria for CEF data connector
  Solutions/Common Event Format/Data Connectors/CEF AMA.JSON
  Solutions/Common Event Format/Package/3.0.2.zip
  Solutions/Common Event Format/Package/mainTemplate.json
  Solutions/Common Event Format/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#12116 Updated SAP agentless iflow package
  Solutions/SAP/Agentless/README.md
  Solutions/SAP/Agentless/package-1.1.4.zip
Labels: SAP

#12100 TI Analytics Solution Ficers
  Solutions/Threat Intelligence (NEW)/Analytic Rules/DomainEntity_CloudAppEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/DomainEntity_DeviceNetworkEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/EmailEntity_AzureActivity.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/EmailEntity_CloudAppEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/EmailEntity_EmailEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/EmailEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/EmailEntity_SecurityEvent.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/EmailEntity_SigninLogs.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_AWSCloudTrail.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_AppServiceHTTPLogs.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_AzureActivity.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_AzureFirewall.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_AzureKeyVault.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_AzureNetworkAnalytics.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_AzureSQL.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_CloudAppEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_CustomSecurityLog.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_DeviceNetworkEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_DnsEvents.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_DuoSecurity.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_SigninLogs_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_VMConnection.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_W3CIISLog.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_Workday_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/Threat Intel Matches to GitHub Audit Logs.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/URLEntity_CloudAppEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/URLEntity_DeviceNetworkEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/URLEntity_OfficeActivity.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/URLEntity_SecurityAlerts.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/URLEntity_UrlClickEvents_Updated.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/imDns_DomainEntity_DnsEvents.yaml
  Solutions/Threat Intelligence (NEW)/Data/Solution_ThreatIntelligenceUpdated.json
  Solutions/Threat Intelligence (NEW)/Package/3.0.1.zip
  Solutions/Threat Intelligence (NEW)/Package/createUiDefinition.json
  Solutions/Threat Intelligence (NEW)/Package/mainTemplate.json
Labels: Solution, Content-Package
