Repository Azure/Azure-Sentinel, pull requests merged in 2025-08, with the labels that each got.

#12586 Add 2 Detection Rule for AWSCloudtrail based on Stratus Red Team Attacks
  Solutions/Amazon Web Services/Analytic Rules/AWS_UnauthorizedInstanceSetUpAttempt.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_UserAccessKeyCreated.yaml
  Solutions/Amazon Web Services/Analytic Rules/AWS_UserIAMEnumeration.yaml
  Solutions/Amazon Web Services/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services/Package/3.0.7.zip
  Solutions/Amazon Web Services/Package/createUiDefinition.json
  Solutions/Amazon Web Services/Package/mainTemplate.json
Labels: Solution, Analytic Rules

#12387 adding anvilog icon
  .script/tests/KqlvalidationsTests/CustomTables/Anvilogic_Alerts_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Logos/Anvilogic.svg
  Solutions/Anvilogic/Analytic Rules/Anvilogic_Alerts.yaml
  Solutions/Anvilogic/Data Connectors/AnviLogic_CCF/Anvilogic_DCR.json
  Solutions/Anvilogic/Data Connectors/AnviLogic_CCF/Anvilogic_DataConnectorDefinition.json
  Solutions/Anvilogic/Data Connectors/AnviLogic_CCF/Anvilogic_PollingConfig.json
  Solutions/Anvilogic/Data/Solution_AnviLogic.json
  Solutions/Anvilogic/Package/3.0.0.zip
  Solutions/Anvilogic/Package/createUiDefinition.json
  Solutions/Anvilogic/Package/mainTemplate.json
  Solutions/Anvilogic/Package/testParameters.json
  Solutions/Anvilogic/ReleaseNotes.md
  Solutions/Anvilogic/SolutionMetadata.json
Labels: Solution, Codeless Connector Framework (CCF) Connector, New Solution

#12574 Add Onapsis Integration Solution
  Solutions/Onapsis Integration/Data Connectors/Onapsis.json
  Solutions/Onapsis Integration/Data Connectors/Onapsis_PUSH_CCP/Onapsis_CL.json
  Solutions/Onapsis Integration/Data Connectors/Onapsis_PUSH_CCP/Onapsis_DCR.json
  Solutions/Onapsis Integration/Data Connectors/Onapsis_PUSH_CCP/Onapsis_PollingConfig.json
  Solutions/Onapsis Integration/Data Connectors/Onapsis_PUSH_CCP/Onapsis_connectorDefinition.json
  Solutions/Onapsis Integration/Data/Solution_Onapsis.json
  Solutions/Onapsis Integration/Package/3.0.0.zip
  Solutions/Onapsis Integration/Package/createUiDefinition.json
  Solutions/Onapsis Integration/Package/mainTemplate.json
  Solutions/Onapsis Integration/Package/testParameters.json
  Solutions/Onapsis Integration/ReleaseNotes.md
  Solutions/Onapsis Integration/SolutionMetadata.json
Labels: Codeless Connector Framework (CCF) Connector, New Solution

#12611 Update Traffic log workbook in GSA Solution
  Solutions/Global Secure Access/Package/3.0.0.zip
  Solutions/Global Secure Access/Package/mainTemplate.json
  Solutions/Global Secure Access/ReleaseNotes.md
  Solutions/Global Secure Access/Workbooks/GSANetworkTraffic.json
Labels: Solution

#12613 Updating MDE playbook with newer logic
  Solutions/MicrosoftDefenderForEndpoint/Package/3.0.5.zip
  Solutions/MicrosoftDefenderForEndpoint/Package/mainTemplate.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/Restrict-MDEFileHash-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEFileHash/readme.md
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/Restrict-MDEIPAddress-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Restrict-MDEIPAddress/readme.md
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Run-MDEAntivirus/Run-MDEAntivirus-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Run-MDEAntivirus/Run-MDEAntivirus-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Run-MDEAntivirus/readme.md
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Unisolate-MDEMachine/Unisolate-MDE-Machine-entity-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Unisolate-MDEMachine/Unisolate-MDEMachine-alert-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Unisolate-MDEMachine/Unisolate-MDEMachine-incident-trigger/azuredeploy.json
  Solutions/MicrosoftDefenderForEndpoint/Playbooks/Unisolate-MDEMachine/readme.md
  Solutions/MicrosoftDefenderForEndpoint/ReleaseNotes.md
Labels: Playbook, Solution, Content-Package

#12581 Add event details to playbooks (input of http request) and other little fixes in readme
  Solutions/BlinkOps/Package/3.0.2.zip
  Solutions/BlinkOps/Package/mainTemplate.json
  Solutions/BlinkOps/Playbooks/Sentinel-Alert-Handler/azuredeploy.json
  Solutions/BlinkOps/Playbooks/Sentinel-Alert-Handler/readme.md
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/Configure_Sentinel_Webhook.png
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/azuredeploy.json
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/readme.md
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/sentinel_webhook.png
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/xdr_webhook.png
  Solutions/BlinkOps/Playbooks/Sentinel-Incident-Handler/xdr_webhook_config.png
  Solutions/BlinkOps/ReleaseNotes.md
Labels: Solution

#12378 Palo Alto Cortex Xpanse CCP Connector
  Solutions/Palo Alto Cortex XDR CCP/Data Connectors/CortexXDR_ccp/DataConnectorDefinition.json
  Solutions/Palo Alto Cortex Xpanse CCF/Data Connectors/CortexXpanse_ccp/CortexXpanse_ConnectorDefinition.json
  Solutions/Palo Alto Cortex Xpanse CCF/Data Connectors/CortexXpanse_ccp/CortexXpanse_DCR.json
  Solutions/Palo Alto Cortex Xpanse CCF/Data Connectors/CortexXpanse_ccp/CortexXpanse_PollingConfig.json
  Solutions/Palo Alto Cortex Xpanse CCF/Data Connectors/CortexXpanse_ccp/CortexXpanse_Table.json
  Solutions/Palo Alto Cortex Xpanse CCF/Data/Solution_CortexXpanse.json
  Solutions/Palo Alto Cortex Xpanse CCF/Package/3.0.0.zip
  Solutions/Palo Alto Cortex Xpanse CCF/Package/createUiDefinition.json
  Solutions/Palo Alto Cortex Xpanse CCF/Package/mainTemplate.json
  Solutions/Palo Alto Cortex Xpanse CCF/Package/testParameters.json
  Solutions/Palo Alto Cortex Xpanse CCF/ReleaseNotes.md
  Solutions/Palo Alto Cortex Xpanse CCF/SolutionMetadata.json
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12628 Solution packaged added preview tag for AWS Cloudfront
  Solutions/AWS CloudFront/Data Connectors/AWSCloudFrontLog_CCF/AWSCloudFrontLog_ConnectorDefinition.json
  Solutions/AWS CloudFront/Data/Solution_AmazonWebServices.json
  Solutions/AWS CloudFront/Package/3.0.0.zip
  Solutions/AWS CloudFront/Package/createUiDefinition.json
  Solutions/AWS CloudFront/Package/mainTemplate.json
  Solutions/AWS CloudFront/ReleaseNotes.md
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12627 Auth type changed from basic to JwtToken
  Solutions/PaloAltoPrismaCloud/Data Connectors/PrismaCloudCSPMLog_CCF/PaloAltoPrismaCloudCSPMLog_PollingConfig.json
  Solutions/PaloAltoPrismaCloud/Package/3.0.2.zip
  Solutions/PaloAltoPrismaCloud/Package/mainTemplate.json
Labels: Content-Package

#12612 Updated Support details and publisherId in SolutionMetadata.json, updated Author details and Logo in Solution_ProofTap.json from Microsoft to Proofpoint
  Logos/PFPTLogo.svg
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.1.0.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
  Solutions/ProofPointTap/SolutionMetadata.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
Labels: Solution

#12607 updated similar to Parser for CriblUIAccess to correct the projection for other parsers.
  .script/tests/KqlvalidationsTests/CustomTables/CriblAccess_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CriblAudit_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CriblInternal_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CriblUIAccess_CL.json
  Solutions/Cribl/Package/3.0.1.zip
  Solutions/Cribl/Package/createUiDefinition.json
  Solutions/Cribl/Package/mainTemplate.json
  Solutions/Cribl/Parsers/CriblAccess.yaml
  Solutions/Cribl/Parsers/CriblAudit.yaml
  Solutions/Cribl/Parsers/CriblInternal.yaml
  Solutions/Cribl/Parsers/CriblUIAccess.yaml
  Solutions/Cribl/ReleaseNotes.md
Labels: Parser, Solution

#12630 New CCP Data Connector for AWS S3 Server Access Logs
  Solutions/AWS_AccessLogs/CloudFormationTemplates/AWSS3ServerAccessAndConfig.json
  Solutions/AWS_AccessLogs/CloudFormationTemplates/OIDCWebIdProvider.json
  Solutions/AWS_AccessLogs/CloudFormationTemplates/readme.md
  Solutions/AWS_AccessLogs/Data Connectors/AwsS3ServerAccessLogsDefinition_CCP/AWSS3ServerAccessLogs_ConnectorDefinition.json
  Solutions/AWS_AccessLogs/Data Connectors/AwsS3ServerAccessLogsDefinition_CCP/AWSS3ServerAccessLogs_DCR.json
  Solutions/AWS_AccessLogs/Data Connectors/AwsS3ServerAccessLogsDefinition_CCP/AWSS3ServerAccessLogs_PollingConfig.json
  Solutions/AWS_AccessLogs/Data/Solution_AmazonWebServicesAccessLogs.json
  Solutions/AWS_AccessLogs/Package/3.0.0.zip
  Solutions/AWS_AccessLogs/Package/createUiDefinition.json
  Solutions/AWS_AccessLogs/Package/mainTemplate.json
  Solutions/AWS_AccessLogs/Package/testParameters.json
  Solutions/AWS_AccessLogs/ReleaseNotes.md
  Solutions/AWS_AccessLogs/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12640 enhance connector ui
  Solutions/SAP LogServ/Data Connectors/SAPLogServ.json
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/SAPLogServ_connectorDefinition.json
  Solutions/SAP LogServ/Data Connectors/SAPLogServ_PUSH_CCP/solutionMetadata.json
  Solutions/SAP LogServ/Package/3.0.4.zip
  Solutions/SAP LogServ/Package/mainTemplate.json
  Solutions/SAP LogServ/ReleaseNotes.md
Labels: Solution

#12647 Google Cloud Platform CDN connector Moving to GA.
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformCDN/Data/Solution_GoogleCloudPlatformCDN.json
  Solutions/GoogleCloudPlatformCDN/Package/3.0.1.zip
  Solutions/GoogleCloudPlatformCDN/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformCDN/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformCDN/ReleaseNotes.md
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12636 adding illumio solution for content hub
  Solutions/Illumio Insight/Data Connectors/IllumioInsight_CCP/IllumioInsight_DCR.json
  Solutions/Illumio Insight/Data Connectors/IllumioInsight_CCP/IllumioInsight_Definition.json
  Solutions/Illumio Insight/Data Connectors/IllumioInsight_CCP/IllumioInsight_PollingConfig.json
  Solutions/Illumio Insight/Data Connectors/IllumioInsight_CCP/solutionMetadata.json
  Solutions/Illumio Insight/Data Connectors/SolutionMetadata.json
  Solutions/Illumio Insight/Data/Solution_IllumioCore.json
  Solutions/Illumio Insight/Package/3.0.0.zip
  Solutions/Illumio Insight/Package/createUiDefinition.json
  Solutions/Illumio Insight/Package/mainTemplate.json
  Solutions/Illumio Insight/Package/testParameters.json
  Solutions/Illumio Insight/ReleaseNotes.md
  Solutions/Illumio Insight/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Solution, Codeless Connector Framework (CCF) Connector

#12551 M365 Assets Connector
  Solutions/Microsoft 365 Assets/Data Connectors/M365Asset_DataConnectorDefinition.json
  Solutions/Microsoft 365 Assets/Data/Solution_Microsoft365Assets.json
  Solutions/Microsoft 365 Assets/Package/3.0.0.zip
  Solutions/Microsoft 365 Assets/Package/createUiDefinition.json
  Solutions/Microsoft 365 Assets/Package/mainTemplate.json
  Solutions/Microsoft 365 Assets/Package/testParameters.json
  Solutions/Microsoft 365 Assets/ReleaseNotes.md
  Solutions/Microsoft 365 Assets/SolutionMetadata.json
Labels: Connector, Solution

#12297 M365 Asset Connector
  Solutions/Microsoft 365 Assets/Data Connectors/M365Asset_DataConnectorDefinition.json
  Solutions/Microsoft 365 Assets/Data/Solution_Microsoft365Assets.json
  Solutions/Microsoft 365 Assets/Package/3.0.0.zip
  Solutions/Microsoft 365 Assets/Package/createUiDefinition.json
  Solutions/Microsoft 365 Assets/Package/mainTemplate.json
  Solutions/Microsoft 365 Assets/Package/testParameters.json
  Solutions/Microsoft 365 Assets/ReleaseNotes.md
  Solutions/Microsoft 365 Assets/SolutionMetadata.json
Labels: Connector, Solution, Content-Package

#12664 Amazon Web Services NetworkFirewall Connector moving to GA.
  Solutions/Amazon Web Services NetworkFirewall/Data Connectors/AWSNetworkFirewallLogs_CCP/AWSNetworkFirewallLog_ConnectorDefinition.json
  Solutions/Amazon Web Services NetworkFirewall/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services NetworkFirewall/Package/3.0.2.zip
  Solutions/Amazon Web Services NetworkFirewall/Package/createUiDefinition.json
  Solutions/Amazon Web Services NetworkFirewall/Package/mainTemplate.json
  Solutions/Amazon Web Services NetworkFirewall/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12675 Secure Cisco Umbrella data connector's storage account with private access v2
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_API_FunctionApp_elasticpremium.json
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_TestingInstructions.docx
  Solutions/CiscoUmbrella/Data Connectors/azuredeploy_CiscoUmbrella_API_FunctionApp_elasticpremium.json
Labels: Connector, Solution

#12682 Adding missing Type field output
  Solutions/Threat Intelligence (NEW)/Analytic Rules/imDns_IPEntity_DnsEvents.yaml
Labels: Content-Package

#12683 Url commented out in Project statement, causes entity mapping failure
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_AzureFirewall.yaml
Labels: Content-Package, Threat Intelligence

#12669 Moving Snowflake CCF Data Connector to GA.
  Solutions/Snowflake/Data Connectors/SnowflakeLogs_ccp/SnowflakeLogs_ConnectorDefinition.json
  Solutions/Snowflake/Data Connectors/SnowflakeLogs_ccp/SnowflakeLogs_PollingConfig.json
  Solutions/Snowflake/Data/Solution_Snowflake.json
  Solutions/Snowflake/Package/3.0.2.zip
  Solutions/Snowflake/Package/createUiDefinition.json
  Solutions/Snowflake/Package/mainTemplate.json
  Solutions/Snowflake/ReleaseNotes.md
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12638 Added a new workbook for Alibaba Cloud
  Workbooks/AliCloudWorkbook.json
  Workbooks/Images/Preview/AlibabaCloudBlack.png
  Workbooks/Images/Preview/AlibabaCloudWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#12679 Updated the main template for Crowdstrike to fix duplicates
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdStrikeAPI_ccp/CrowdStrikeAPI_PollingConfig.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdStrikeAPI_ccp/solutionMetadata.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.1.5.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
Labels: Connector, Solution, Content-Package

#12602 Keeper Security Solution v3.0.1 - Add New Analytic Rules and Dashboard
  .script/tests/KqlvalidationsTests/CustomTables/KeeperSecurityEventNewLogs_CL.json
  .script/tests/detectionTemplateSchemaValidation/ValidConnectorIds.json
  Solutions/Keeper Security/Analytic Rules/Keeper Security - Alternate Master Password.yaml
  Solutions/Keeper Security/Analytic Rules/Keeper Security - User MFA Changed.yaml
  Solutions/Keeper Security/Data/Solution_KeeperSecurity.json
  Solutions/Keeper Security/Package/3.0.1.zip
  Solutions/Keeper Security/Package/createUiDefinition.json
  Solutions/Keeper Security/Package/mainTemplate.json
  Solutions/Keeper Security/Package/testParameters.json
  Solutions/Keeper Security/ReleaseNotes.md
  Solutions/Keeper Security/Workbooks/KeeperSecurityDashboard.json
  Workbooks/Images/Logos/keeper_security.svg
  Workbooks/Images/Preview/KeeperSecurityDashboard01Black.png
  Workbooks/Images/Preview/KeeperSecurityDashboard01White.png
  Workbooks/Images/Preview/KeeperSecurityDashboard02Black.png
  Workbooks/Images/Preview/KeeperSecurityDashboard02White.png
  Workbooks/Images/Preview/KeeperSecurityDashboard03Black.png
  Workbooks/Images/Preview/KeeperSecurityDashboard03White.png
  Workbooks/KeeperSecurityDashboard.json
  Workbooks/WorkbooksMetadata.json
Labels: Solution

#12693 Cisco umbrella private storageaccount v3
  Solutions/CiscoUmbrella/Data Connectors/azuredeploy_CiscoUmbrella_API_FunctionApp_elasticpremium.json
Labels: Connector

#12686 Alibaba Cloud ActionTrail moving to GA.
  Solutions/Alibaba Cloud ActionTrail/Data Connectors/AliCloudCloudTrailConnector_CCP/AliCloudActionTrail_DataConnectorDefinition.json
  Solutions/Alibaba Cloud ActionTrail/Package/3.0.1.zip
  Solutions/Alibaba Cloud ActionTrail/Package/createUiDefinition.json
  Solutions/Alibaba Cloud ActionTrail/Package/mainTemplate.json
  Solutions/Alibaba Cloud ActionTrail/ReleaseNotes.md
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12676 Eyesight1
  Solutions/ForescoutHostPropertyMonitor/Analytic Rules/ForeScout-DNSSniffEventMonitor.yaml
  Solutions/ForescoutHostPropertyMonitor/Package/3.0.0.zip
  Solutions/ForescoutHostPropertyMonitor/Package/mainTemplate.json
  Solutions/ForescoutHostPropertyMonitor/Package/testParameters.json
  Solutions/ForescoutHostPropertyMonitor/Workbooks/ForescoutHostPropertyMonitorWorkbook.json
  Workbooks/Images/Preview/ForescoutHostPropWorkbookBlack.png
  Workbooks/Images/Preview/ForescoutHostPropWorkbookWhite.png
Labels: Workbook, Solution, Analytic Rules

#12700 Fix typo warning message for Archive Logs settings
  Workbooks/ArchivingBasicLogsRetention.json
Labels: Workbook

#12697 Fixing-SolutionDeploymentIssue
  Solutions/Apache Log4j Vulnerability Detection/Package/3.0.8.zip
  Solutions/Apache Log4j Vulnerability Detection/Package/createUiDefinition.json
  Solutions/Apache Log4j Vulnerability Detection/Package/mainTemplate.json
  Solutions/Apache Log4j Vulnerability Detection/ReleaseNotes.md
  Solutions/Apache Log4j Vulnerability Detection/Workbooks/Watchlist/Log4j.json
Labels: Solution, Content-Package

#12706 Summary Rules Workbook
  Workbooks/Images/Preview/SummaryRulesBlack1.png
  Workbooks/Images/Preview/SummaryRulesBlack2.png
  Workbooks/Images/Preview/SummaryRulesWhite1.png
  Workbooks/Images/Preview/SummaryRulesWhite2.png
  Workbooks/SummaryRulesWorkbook.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook

#12707 Moving Google Workspace Reports CCF Data Connector to GA.
  Solutions/GoogleWorkspaceReports/Data Connectors/GoogleWorkspaceTemplate_ccp/GoogleWorkspaceReports_DataConnectorDefinition.json
  Solutions/GoogleWorkspaceReports/Data Connectors/GoogleWorkspaceTemplate_ccp/GoogleWorkspaceReports_PollingConfig.json
  Solutions/GoogleWorkspaceReports/Data/Solution_GoogleWorkspaceReports.json
  Solutions/GoogleWorkspaceReports/Package/3.0.2.zip
  Solutions/GoogleWorkspaceReports/Package/createUiDefinition.json
  Solutions/GoogleWorkspaceReports/Package/mainTemplate.json
  Solutions/GoogleWorkspaceReports/ReleaseNotes.md
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12712 Update Cisco Umbrella elastic premium connector to match old connector data types and table names
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_API_FunctionApp_elasticpremium.json
Labels: Connector

#12719 Update publisher ID
  Solutions/Onapsis Defend/Package/3.0.0.zip
  Solutions/Onapsis Defend/Package/mainTemplate.json
  Solutions/Onapsis Defend/SolutionMetadata.json
Labels: Solution

#12723 Ignore sentinel severity from creation or updation
  Solutions/Servicenow/StoreApp/README.md
  Solutions/Servicenow/StoreApp/media/InformationalIncidents.png
Labels: documentation

#12724 Update Proofpoint POD weak ciphers rule for Proofpoint On demand(POD) Email Security
  Solutions/Proofpoint On demand(POD) Email Security/Analytic Rules/ProofpointPODWeakCiphers.yaml
  Solutions/Proofpoint On demand(POD) Email Security/Package/3.1.0.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
Labels: Solution, P0

#12716 Moving Google Cloud Platform Compute Engine CCF Data Connector to GA.
  Solutions/Google Cloud Platform Compute Engine/Data Connectors/GCPComputeEngineLog_CCP/GCPComputeEngineLog_ConnectorDefinition.json
  Solutions/Google Cloud Platform Compute Engine/Data/Solution_GoogleCloudPlatformComputeEngine.json
  Solutions/Google Cloud Platform Compute Engine/Package/3.0.1.zip
  Solutions/Google Cloud Platform Compute Engine/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Compute Engine/Package/mainTemplate.json
  Solutions/Google Cloud Platform Compute Engine/ReleaseNotes.md
Labels: Solution, Codeless Connector Framework (CCF) Connector, Content-Package

#12721 2nd Update alert description format and version number
  Solutions/Threat Intelligence (NEW)/Analytic Rules/imDns_IPEntity_DnsEvents.yaml
Labels: Content-Package

#12725 Remove accidental whitespace
  Solutions/Onapsis Defend/Package/3.0.0.zip
  Solutions/Onapsis Defend/Package/mainTemplate.json
  Solutions/Onapsis Defend/SolutionMetadata.json
Labels: Solution
