Repository Azure/Azure-Sentinel, pull requests merged in 2025-05, with the labels that each got.

#12131 Zero Trust Workbook
  Workbooks/ZeroTrustStrategyWorkbook.json
Labels: Workbook

#12132 Leaderboard Monthly Update - Update stats.md file with Apr 2025 Data
  Tools/stats/stats.md
Labels: Tools

#12134 Updating instructions for Devops Audit Data Connector
  Solutions/AzureDevOpsAuditing/Data Connectors/AzureDevOpsAuditLogs_CCP/AzureDevOpsAuditLogs_DataConnectorDefinition.json
  Solutions/AzureDevOpsAuditing/Package/3.0.5.zip
  Solutions/AzureDevOpsAuditing/Package/mainTemplate.json
  Solutions/AzureDevOpsAuditing/ReleaseNotes.md
Labels: Solution, Content-Package

#12125 Cyfirma Solutions have been updated to comply with Azure Marketplace certification requirements.
  Solutions/Cyfirma Attack Surface/Data/Solution_CyfirmaASAlerts.json
  Solutions/Cyfirma Attack Surface/Package/3.0.0.zip
  Solutions/Cyfirma Attack Surface/Package/createUiDefinition.json
  Solutions/Cyfirma Attack Surface/Package/mainTemplate.json
  Solutions/Cyfirma Brand Intelligence/Data/Solution_CyfirmaBrandIntelligence.json
  Solutions/Cyfirma Brand Intelligence/Package/3.0.0.zip
  Solutions/Cyfirma Brand Intelligence/Package/createUiDefinition.json
  Solutions/Cyfirma Brand Intelligence/Package/mainTemplate.json
  Solutions/Cyfirma Digital Risk/Data/Solution_CyfirmaDigitalRiskAlerts.json
  Solutions/Cyfirma Digital Risk/Package/3.0.0.zip
  Solutions/Cyfirma Digital Risk/Package/createUiDefinition.json
  Solutions/Cyfirma Digital Risk/Package/mainTemplate.json
Labels: Solution

#12139 Enabled workflow scanning in codeql
  .github/workflows/codeql-analysis.yml
Labels: workflows

#12141 createui updated for CiscoASA solution
  Solutions/CiscoASA/Data/Solution_Cisco asa.json
  Solutions/CiscoASA/Package/3.0.5.zip
  Solutions/CiscoASA/Package/createUiDefinition.json
  Solutions/CiscoASA/Package/mainTemplate.json
Labels: Solution, Content-Package

#12140 Launching CCP Data Connectors from Public Preview to Global Availability
  Solutions/AtlassianConfluenceAudit/Data Connectors/AtlassianConfluenceAuditLogs_CCP/AtlassianConfluenceAudit_DataConnectorDefinition.json
  Solutions/AtlassianConfluenceAudit/Data/Solution_AtlassianConfluenceAudit.json
  Solutions/AtlassianConfluenceAudit/Package/3.0.5.zip
  Solutions/AtlassianConfluenceAudit/Package/createUiDefinition.json
  Solutions/AtlassianConfluenceAudit/Package/mainTemplate.json
  Solutions/AtlassianConfluenceAudit/Parsers/ConfluenceAuditV2.yaml
  Solutions/AtlassianConfluenceAudit/ReleaseNotes.md
  Solutions/AzureDevOpsAuditing/Data Connectors/AzureDevOpsAuditLogs_CCP/AzureDevOpsAuditLogs_DataConnectorDefinition.json
  Solutions/AzureDevOpsAuditing/Package/3.0.5.zip
  Solutions/AzureDevOpsAuditing/Package/mainTemplate.json
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofpointTAP_defination.json
  Solutions/ProofPointTap/Data/Solution_ProofTap.json
  Solutions/ProofPointTap/Package/3.0.8.zip
  Solutions/ProofPointTap/Package/createUiDefinition.json
  Solutions/ProofPointTap/Package/mainTemplate.json
  Solutions/ProofPointTap/ReleaseNotes.md
  Solutions/Proofpoint On demand(POD) Email Security/Data Connectors/ProofPointEmailSecurity_CCP/ProofpointPOD_Definaton.json
  Solutions/Proofpoint On demand(POD) Email Security/Data/Solution_ProofPointPOD.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/3.0.4.zip
  Solutions/Proofpoint On demand(POD) Email Security/Package/createUiDefinition.json
  Solutions/Proofpoint On demand(POD) Email Security/Package/mainTemplate.json
  Solutions/Proofpoint On demand(POD) Email Security/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12111 Update package documentation and listing
  Solutions/CyberArkAudit/Data Connectors/CyberArkAudit_API_FunctionApp.json
  Solutions/CyberArkEPM/Package/3.0.1.zip
  Solutions/CyberArkEPM/Package/mainTemplate.json
  Solutions/CyberArkEPM/ReleaseNotes.md
Labels: Solution

#12146 Fixing API endpoint for Messages blocked, Proofpoint TAP
  Solutions/ProofPointTap/Data Connectors/ProofpointTAP_CCP/ProofpointTAP_pollingconfig.json
  Solutions/ProofPointTap/Package/3.0.8.zip
  Solutions/ProofPointTap/Package/mainTemplate.json
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12124 TI Analytics Solution - minor fixes od incorrect fields
  Solutions/Threat Intelligence (NEW)/Analytic Rules/IPEntity_imWebSession.yaml
  Solutions/Threat Intelligence (NEW)/Analytic Rules/imDns_DomainEntity_DnsEvents.yaml
  Solutions/Threat Intelligence (NEW)/Package/3.0.1.zip
  Solutions/Threat Intelligence (NEW)/Package/mainTemplate.json
Labels: Solution

#12119 Updated JuniperSRX.yaml parser
  .script/tests/KqlvalidationsTests/CustomTables/JuniperSRX.json
  Solutions/Juniper SRX/Package/3.0.3.zip
  Solutions/Juniper SRX/Package/createUiDefinition.json
  Solutions/Juniper SRX/Package/mainTemplate.json
  Solutions/Juniper SRX/Parsers/JuniperSRX.yaml
Labels: Parser

#12148 Update solution version to 3.0.1 and repackage
  Solutions/CyberArkEPM/DataConnectors/CyberArkEPM_API_FunctionApp.json
  Solutions/CyberArkEPM/Package/3.0.1.zip
  Solutions/CyberArkEPM/Package/createUiDefinition.json
  Solutions/CyberArkEPM/Package/mainTemplate.json
  Solutions/CyberArkEPM/data/Solution_CyberArkEPM.json
Labels: Solution

#12101 SlackAudit Connector CCP Migration
  Solutions/SlackAudit/Data Connectors/SlackAuditLog_CCP/SlackAuditLog_ConnectorDefinition.json
  Solutions/SlackAudit/Data Connectors/SlackAuditLog_CCP/SlackAuditLog_DCR.json
  Solutions/SlackAudit/Data Connectors/SlackAuditLog_CCP/SlackAuditLog_PollingConfig.json
  Solutions/SlackAudit/Data Connectors/SlackAuditLog_CCP/SlackAuditLog_Table.json
  Solutions/SlackAudit/Data Connectors/SlackAudit_API_FunctionApp.json
  Solutions/SlackAudit/Package/3.0.1.zip
  Solutions/SlackAudit/Package/createUiDefinition.json
  Solutions/SlackAudit/Package/mainTemplate.json
  Solutions/SlackAudit/Package/testParameters.json
  Solutions/SlackAudit/Parsers/SlackAudit.yaml
  Solutions/SlackAudit/ReleaseNotes.md
  Solutions/SlackAudit/data/Solution_SlackAudit.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#12142 CrowdStrike S3 FDR Packaging error fix
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.1.1.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector

#12162 Handle multiple placeholders, stepcollectorConfig and handle ccp multiple folders
  Tools/Create-Azure-Sentinel-Solution/V3/createSolutionV3.ps1
  Tools/Create-Azure-Sentinel-Solution/common/commonFunctions.ps1
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
  Tools/Create-Azure-Sentinel-Solution/common/get-ccp-details.ps1
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Tools

#12171 Minor change to exclude google links and array from data type validation
  .script/package-automation/hyperlink-validation.ps1
  .script/package-automation/validateFieldTypes.ps1
Labels: Tools

#12163 Azure Storage query - updated description and query comments
  Hunting Queries/AzureStorage/AzureStorageEnumerationPerUserSessino.yaml
Labels: Hunting, Standalone

#12177 Updated Cisco Umbrella Data connector for log schema version 11
  Solutions/CiscoUmbrella/Data Connectors/CiscoUmbrella_API_FunctionApp.json
  Solutions/CiscoUmbrella/Package/3.0.4.zip
  Solutions/CiscoUmbrella/Package/createUiDefinition.json
  Solutions/CiscoUmbrella/Package/mainTemplate.json
Labels: Content-Package

#12160 Removing Custom table, migrating to builtin new table of gcp vpc flow log
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPVPCFlowLogsSetup/readme.md
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_ConnectorDefinition.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_DCR.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_PollingConfig.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_Table.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data/Solution_GoogleVPCFlowLogs.json
  Solutions/Google Cloud Platform VPC Flow Logs/Package/3.0.0.zip
  Solutions/Google Cloud Platform VPC Flow Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform VPC Flow Logs/Package/mainTemplate.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#12088 Cyble Vision solution created
  Logos/CybleLogo.svg
  Solutions/Cyble Vision/Data/Solution_CybleVision.json
  Solutions/Cyble Vision/Package/3.0.0.zip
  Solutions/Cyble Vision/Package/createUiDefinition.json
  Solutions/Cyble Vision/Package/mainTemplate.json
  Solutions/Cyble Vision/Package/testParameters.json
  Solutions/Cyble Vision/Playbooks/IoC-Enrichment/azuredeploy.json
  Solutions/Cyble Vision/Playbooks/TI-Ingest/azuredeploy.json
  Solutions/Cyble Vision/ReleaseNotes.md
  Solutions/Cyble Vision/SolutionMetadata.json
Labels: New Solution

#12110 IoC Stream Threat Intelligence Ingestion - Google Threat Intelligence
  Solutions/Google Threat Intelligence/Data/Solution_GoogleThreatIntelligence.json
  Solutions/Google Threat Intelligence/Package/3.2.0.zip
  Solutions/Google Threat Intelligence/Package/createUiDefinition.json
  Solutions/Google Threat Intelligence/Package/mainTemplate.json
  Solutions/Google Threat Intelligence/Playbooks/CustomConnector/GTICustomConnector/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/CustomConnector/GTICustomConnector/readme.md
  Solutions/Google Threat Intelligence/Playbooks/GTIIocStream/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/GTIThreatList/azuredeploy.json
  Solutions/Google Threat Intelligence/Playbooks/readme.md
Labels: Solution

#12192 Solution description update
  Solutions/Google Cloud Platform VPC Flow Logs/Data/Solution_GoogleVPCFlowLogs.json
  Solutions/Google Cloud Platform VPC Flow Logs/Package/3.0.0.zip
  Solutions/Google Cloud Platform VPC Flow Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform VPC Flow Logs/Package/mainTemplate.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#11907 AWS Security Hub Data Connector
  Solutions/AWS Security Hub/CloudFormationTemplates/OIDCWebIdProvider.json
  Solutions/AWS Security Hub/CloudFormationTemplates/SecurityHubResourcesAndConfig.json
  Solutions/AWS Security Hub/CloudFormationTemplates/readme.md
  Solutions/AWS Security Hub/Data Connectors/AWSSecurityHubFindings_CCP/AWSSecurityHubFindings_DCR.json
  Solutions/AWS Security Hub/Data Connectors/AWSSecurityHubFindings_CCP/AWSSecurityHubFindings_DataConnectorDefinition.json
  Solutions/AWS Security Hub/Data Connectors/AWSSecurityHubFindings_CCP/AWSSecurityHubFindings_PollingConfig.json
  Solutions/AWS Security Hub/Data/Solution_AWSSecurityHub.json
  Solutions/AWS Security Hub/Package/3.0.0.zip
  Solutions/AWS Security Hub/Package/createUiDefinition.json
  Solutions/AWS Security Hub/Package/mainTemplate.json
  Solutions/AWS Security Hub/Package/testParameters.json
  Solutions/AWS Security Hub/ReleaseNotes.md
  Solutions/AWS Security Hub/SolutionMetadata.json
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Content-Package

#12154 SlackAudit Connector CCP Migration
  Solutions/SlackAudit/Data Connectors/SlackAuditLog_CCP/SlackAuditLog_ConnectorDefinition.json
  Solutions/SlackAudit/Data Connectors/SlackAuditLog_CCP/SlackAuditLog_PollingConfig.json
  Solutions/SlackAudit/Package/3.0.1.zip
  Solutions/SlackAudit/Package/createUiDefinition.json
  Solutions/SlackAudit/Package/mainTemplate.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#12133 All files Added
  Logos/blinkops.svg
  Solutions/BlinkOps/Data/Solution_Blinkops.json
  Solutions/BlinkOps/Package/3.0.0.zip
  Solutions/BlinkOps/Package/createUiDefinition.json
  Solutions/BlinkOps/Package/mainTemplate.json
  Solutions/BlinkOps/Package/testParameters.json
  Solutions/BlinkOps/Playbooks/blink-sentinel-incident-handler/Configure_Sentinel_Webhook.png
  Solutions/BlinkOps/Playbooks/blink-sentinel-incident-handler/Create_event_based_workflow.png
  Solutions/BlinkOps/Playbooks/blink-sentinel-incident-handler/Sentinel_webhook.png
  Solutions/BlinkOps/Playbooks/blink-sentinel-incident-handler/azuredeploy.json
  Solutions/BlinkOps/Playbooks/blink-sentinel-incident-handler/playbook_screenshot.png
  Solutions/BlinkOps/Playbooks/blink-sentinel-incident-handler/readme.md
  Solutions/BlinkOps/Playbooks/logo.png
  Solutions/BlinkOps/ReleaseNotes.md
  Solutions/BlinkOps/SolutionMetadata.json
  Solutions/Google Threat Intelligence/ReleaseNotes.md
Labels: Solution

#12211 Support details updated for cyble vision
  DataConnectors/CybleLogicApp/Connector_LogicApp_Cyble.json
  Playbooks/CybleLogicApp/azuredeploy.json
  Solutions/Cyble Vision/Package/3.0.0.zip
  Solutions/Cyble Vision/Package/mainTemplate.json
  Solutions/Cyble Vision/SolutionMetadata.json
Labels: Connector, Solution, P0, Standalone

#12182 Updated properties in poller file for GCP firewall
  Solutions/Google Cloud Platform Firewall Logs/Data Connectors/GCPFirewallLogs_ccp/GCPFirewall_PollingConfig.json
  Solutions/Google Cloud Platform Firewall Logs/Data Connectors/GCPFirewallLogs_ccp/solutionMetadata.json
  Solutions/Google Cloud Platform Firewall Logs/Data/Solution_GoogleFirewallLogs.json
Labels: Solution, Content-Package

#11934 AWS Route 53 Data Connector
  DataConnectors/AWS-S3/CloudFormation/DNSRoute53/AWSRoute53ResolverLogs_CloudFormation.json
  DataConnectors/AWS-S3/CloudFormation/DNSRoute53/README.md
  DataConnectors/AWS-S3/CloudFormation/OIDCWebIdProvider.json
  Solutions/Amazon Web Services Route 53/Data Connectors/AWSRoute53Resolver_CCP/AWSRoute53Resolver_DCR.json
  Solutions/Amazon Web Services Route 53/Data Connectors/AWSRoute53Resolver_CCP/AWSRoute53Resolver_DataConnectorDefinition.json
  Solutions/Amazon Web Services Route 53/Data Connectors/AWSRoute53Resolver_CCP/AWSRoute53Resolver_PollingConfig.json
  Solutions/Amazon Web Services Route 53/Data/Solution_AmazonWebServices.json
  Solutions/Amazon Web Services Route 53/Data/system_generated_metadata.json
  Solutions/Amazon Web Services Route 53/Package/3.0.0.zip
  Solutions/Amazon Web Services Route 53/Package/createUiDefinition.json
  Solutions/Amazon Web Services Route 53/Package/mainTemplate.json
  Solutions/Amazon Web Services Route 53/Package/testParameters.json
  Solutions/Amazon Web Services Route 53/SolutionMetadata.json
Labels: Connector, Solution, Content-Package

#12216 Update azuredeploy_Connector_TenableVM_AzureFunction.json
  Solutions/Tenable App/Data Connectors/TenableVM/azuredeploy_Connector_TenableVM_AzureFunction.json
Labels: Connector, Solution

#12219 minor changes to cyble
  DataConnectors/CybleLogicApp/Connector_LogicApp_Cyble.json
  Playbooks/CybleLogicApp/azuredeploy.json
  Solutions/Cyble Vision/Package/3.0.0.zip
  Solutions/Cyble Vision/Package/mainTemplate.json
  Solutions/Cyble Vision/Playbooks/IoC-Enrichment/azuredeploy.json
Labels: Solution, Content-Package, P0

#12028 Qualys VM CCP Connector Migration
  .script/tests/KqlvalidationsTests/CustomTables/QualysHostDetectionV3_CL.json
  Solutions/QualysVM/Data Connectors/QualysVMHostLogs_ccp/QualysVMHostLogs_ConnectorDefinition.json
  Solutions/QualysVM/Data Connectors/QualysVMHostLogs_ccp/QualysVMHostLogs_DCR.json
  Solutions/QualysVM/Data Connectors/QualysVMHostLogs_ccp/QualysVMHostLogs_PollingConfig.json
  Solutions/QualysVM/Data Connectors/QualysVMHostLogs_ccp/QualysVMHostLogs_Table.json
  Solutions/QualysVM/Data Connectors/QualysVM_API_FunctionApp.json
  Solutions/QualysVM/Package/3.0.3.zip
  Solutions/QualysVM/Package/createUiDefinition.json
  Solutions/QualysVM/Package/mainTemplate.json
  Solutions/QualysVM/Package/testParameters.json
  Solutions/QualysVM/Parsers/QualysHostDetection.yaml
  Solutions/QualysVM/ReleaseNotes.md
  Solutions/QualysVM/data/Solution_QualysVM.json
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#12220 preview tag added to AWS 53 data connector
  Solutions/Amazon Web Services Route 53/Data Connectors/AWSRoute53Resolver_CCP/AWSRoute53Resolver_DataConnectorDefinition.json
  Solutions/Amazon Web Services Route 53/Package/3.0.0.zip
  Solutions/Amazon Web Services Route 53/Package/mainTemplate.json
  Solutions/Amazon Web Services Route 53/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12221 Updated GCP firewall logs data connector to support multiple collector
  Solutions/Google Cloud Platform Firewall Logs/Package/3.0.1.zip
  Solutions/Google Cloud Platform Firewall Logs/Package/createUiDefinition.json
  Solutions/Google Cloud Platform Firewall Logs/Package/mainTemplate.json
  Solutions/Google Cloud Platform Firewall Logs/ReleaseNotes.md
Labels: Solution

#12161 Google Cloud Platform IAM CCP Connector-Standard Table
  .script/tests/KqlvalidationsTests/CustomTables/GCPIAM.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_DCR.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_PollingConfig.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_Table.json
  Solutions/GoogleCloudPlatformIAM/Package/3.0.3.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/Parsers/GCP_IAM.yaml
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#12206 Creating multiple resources for single resource for comma separated textbox field
  Tools/Create-Azure-Sentinel-Solution/V3/CCP_README.md
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/commaSeparatedTypes.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/copyObject.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/metricType.png
  Tools/Create-Azure-Sentinel-Solution/V3/ccpimages/metricTypeInMainTemplate.png
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Tools

#12243 One login Data connector description update
  Solutions/OneLoginIAM/Data Connectors/OneLoginIAMLogs_ccp/OneLoginIAMLogs_ConnectorDefinition.json
  Solutions/OneLoginIAM/Data Connectors/OneLogin_Webhooks_FunctionApp.json
  Solutions/OneLoginIAM/Data/Solution_OneLoginIAM.json
  Solutions/OneLoginIAM/Package/3.0.1.zip
  Solutions/OneLoginIAM/Package/createUiDefinition.json
  Solutions/OneLoginIAM/Package/mainTemplate.json
  Solutions/OneLoginIAM/Parsers/OneLogin.yaml
  Solutions/OneLoginIAM/ReleaseNotes.md
  Solutions/SlackAudit/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12233 solution packaged slackaudit
  Solutions/SlackAudit/Data Connectors/SlackAuditLog_CCP/SlackAuditLog_ConnectorDefinition.json
  Solutions/SlackAudit/Data Connectors/SlackAudit_API_FunctionApp.json
  Solutions/SlackAudit/Package/3.0.2.zip
  Solutions/SlackAudit/Package/createUiDefinition.json
  Solutions/SlackAudit/Package/mainTemplate.json
  Solutions/SlackAudit/data/Solution_SlackAudit.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12223 Update SOAR Essentials Playbooks: Improve Instructions
  Solutions/SentinelSOARessentials/Data/Solution_SentinelSOAREssentials.json
  Solutions/SentinelSOARessentials/Package/3.0.3.zip
  Solutions/SentinelSOARessentials/Package/ReleaseNotes.md
  Solutions/SentinelSOARessentials/Package/createUiDefinition.json
  Solutions/SentinelSOARessentials/Package/mainTemplate.json
  Solutions/SentinelSOARessentials/Package/testParameters.json
  Solutions/SentinelSOARessentials/Playbooks/Notify-IncidentClosed/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Notify-IncidentClosed/readme.md
  Solutions/SentinelSOARessentials/Playbooks/Notify-IncidentSeverityChanged/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Notify-IncidentSeverityChanged/readme.md
  Solutions/SentinelSOARessentials/Playbooks/Post-Message-Slack/incident-trigger/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Post-Message-Slack/readme.md
  Solutions/SentinelSOARessentials/Playbooks/Post-Message-Teams/alert-trigger/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Post-Message-Teams/alert-trigger/readme.md
  Solutions/SentinelSOARessentials/Playbooks/Post-Message-Teams/incident-trigger/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Post-Message-Teams/incident-trigger/readme.md
  Solutions/SentinelSOARessentials/Playbooks/Send-basic-email/README.md
  Solutions/SentinelSOARessentials/Playbooks/Send-basic-email/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Send-email-with-formatted-incident-report/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/Send-email-with-formatted-incident-report/readme.md
  Solutions/SentinelSOARessentials/Playbooks/relateAlertsToIncident-basedOnIP/azuredeploy.json
  Solutions/SentinelSOARessentials/Playbooks/relateAlertsToIncident-basedOnIP/readme.md
Labels: Playbook, Solution, Content-Package
