Repository Azure/Azure-Sentinel, pull requests merged in 2025-06, with the labels that each got.

#12157 Update ContentHubSolutionsCatalog.md
  Solutions/ContentHubSolutionsCatalog.md
Labels: Solution

#12198 updating readme file of entra playbooks
  Solutions/Microsoft Entra ID/Package/3.3.3.zip
  Solutions/Microsoft Entra ID/Package/mainTemplate.json
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/alert-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/entity-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/images/entity_mapping.png
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/incident-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Block-AADUser/readme.md
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/alert-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/entity-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/entity-trigger/images/entity_mapping.png
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/incident-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Reset-AADUserPassword/readme.md
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/alert-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/entity-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/entity-trigger/images/entity_mapping.png
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/incident-trigger/azuredeploy.json
  Solutions/Microsoft Entra ID/Playbooks/Revoke-AADSignInSessions/readme.md
Labels: Solution, Content-Package

#12205 Repackaging- SquidProxy Solution
  Solutions/SquidProxy/Package/3.0.2.zip
  Solutions/SquidProxy/Package/createUiDefinition.json
  Solutions/SquidProxy/Package/mainTemplate.json
  Solutions/SquidProxy/Parsers/SquidProxy.yaml
  Solutions/SquidProxy/ReleaseNotes.md
Labels: Parser, Solution

#12260 Updted InsightsWorkbook with New ThreatIntelIndicators Table parser r…
  Workbooks/IntsightsIOCWorkbook.json
Labels: Workbook, Standalone

#12275 Updated parser and workbook for ExtraHop to fix minor issue
  Solutions/ExtraHop/Analytic Rules/ExtraHopSentinelAlerts.yaml
  Solutions/ExtraHop/Data/Solution_ExtraHop.json
  Solutions/ExtraHop/Package/3.0.1.zip
  Solutions/ExtraHop/Package/createUiDefinition.json
  Solutions/ExtraHop/Package/mainTemplate.json
  Solutions/ExtraHop/Parsers/ExtraHopDetections.yaml
  Solutions/ExtraHop/ReleaseNotes.md
  Solutions/ExtraHop/SolutionMetadata.json
  Solutions/ExtraHop/Workbooks/ExtraHopDetectionsOverview.json
  Workbooks/WorkbooksMetadata.json
Labels: Parser, Solution

#12240 Update Recorded Future Workbooks for ThreatIntelObjects table
  Solutions/Recorded Future/Data/Solution_RecordedFuture.json
  Solutions/Recorded Future/Package/3.2.14.zip
  Solutions/Recorded Future/Package/3.2.15.zip
  Solutions/Recorded Future/Package/mainTemplate.json
  Solutions/Recorded Future/Workbooks/RecordedFutureDomainCorrelation.json
  Solutions/Recorded Future/Workbooks/RecordedFutureHashCorrelation.json
  Solutions/Recorded Future/Workbooks/RecordedFutureIPCorrelation.json
  Solutions/Recorded Future/Workbooks/RecordedFutureMalwareThreatHunting.json
  Solutions/Recorded Future/Workbooks/RecordedFutureThreatActorHunting.json
  Solutions/Recorded Future/Workbooks/RecordedFutureURLCorrelation.json
Labels: Solution

#11957 Google Cloud Platform CDN CCP Connector
  .script/tests/KqlvalidationsTests/CustomTables/GCP_CDNV2_CL.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_Table.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/README.md
  Solutions/GoogleCloudPlatformCDN/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformCDN/Package/mainTemplate.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12257 CiscoFirePower Workbook - Updated reference to new ThreatIntelIndicatorsv2 parser
  Workbooks/CiscoFirepower.json
Labels: Workbook, Standalone

#12232 AWSRoute53DCRChange
  Solutions/Amazon Web Services Route 53/Data Connectors/AWSRoute53Resolver_CCP/AWSRoute53Resolver_DCR.json
  Solutions/Amazon Web Services Route 53/Data Connectors/AWSRoute53Resolver_CCP/AWSRoute53Resolver_PollingConfig.json
  Solutions/Amazon Web Services Route 53/Data/system_generated_metadata.json
  Solutions/Amazon Web Services Route 53/Package/3.0.1.zip
  Solutions/Amazon Web Services Route 53/Package/mainTemplate.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12196 Google Cloud Platform Cloud SQL CCP Connector
  Solutions/GoogleCloudPlatformSQL/Data Connectors/GCPCloudSQLLog_CCP/GCPCloudSQLLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformSQL/Data Connectors/GCPCloudSQLLog_CCP/GCPCloudSQLLog_DCR.json
  Solutions/GoogleCloudPlatformSQL/Data Connectors/GCPCloudSQLLog_CCP/GCPCloudSQLLog_PollingConfig.json
  Solutions/GoogleCloudPlatformSQL/Data Connectors/GCPCloudSQLLog_CCP/GCPCloudSQLLog_Table.json
  Solutions/GoogleCloudPlatformSQL/Data/Solution_GoogleCloudPlatformSQL.json
  Solutions/GoogleCloudPlatformSQL/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformSQL/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformSQL/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformSQL/Package/testParameters.json
  Solutions/GoogleCloudPlatformSQL/ReleaseNotes.md
  Solutions/GoogleCloudPlatformSQL/SolutionMetadata.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12299 ChangeBlinkOpsSolutionID
  Solutions/BlinkOps/Package/3.0.0.zip
  Solutions/BlinkOps/Package/mainTemplate.json
  Solutions/BlinkOps/SolutionMetadata.json
Labels: Solution

#12291 Add managed solution files
  Solutions/Microsoft Business Applications/Audit Settings/AuditSettingsDataverse_1_0_0_1_managed.zip
  Solutions/Microsoft Business Applications/Audit Settings/AuditSettings_1_0_0_3_managed.zip
  Solutions/Microsoft Business Applications/Audit Settings/README.md
Labels: documentation

#12300 Bugfixes - Deduplication, Added pagination
  Solutions/Cyble Vision/Data/Solution_CybleVision.json
  Solutions/Cyble Vision/Package/3.0.1.zip
  Solutions/Cyble Vision/Package/mainTemplate.json
  Solutions/Cyble Vision/Playbooks/TI-Ingest/azuredeploy.json
  Solutions/Cyble Vision/ReleaseNotes.md
  Solutions/Microsoft Entra ID/ReleaseNotes.md
Labels: Solution

#12304 Adding new image for upcoming ARG connector
  Logos/argGraphLogo.svg
Labels: Logo

#12225 Fixed Unknown options: KmsKeyArn=$kmsArn and added "Logs" to gitignore
  .gitignore
  DataConnectors/AWS-S3/ConfigGuardDutyDataConnector.ps1
Labels: Connector, Standalone

#12292 Updated instructions to set output format
  Solutions/Amazon Web Services/Data Connectors/template_AwsS3.json
  Solutions/Amazon Web Services/Package/3.0.6.zip
  Solutions/Amazon Web Services/Package/mainTemplate.json
  Solutions/Amazon Web Services/ReleaseNotes.md
Labels: Connector, Content-Package

#12176 New Cyber Intelligence CCP introduced by Cyfirma.
  Solutions/Cyfirma Attack Surface/Data Connectors/CyfirmaASAlerts_ccp/CyfirmaASAlerts_DCR.json
  Solutions/Cyfirma Attack Surface/Data Connectors/CyfirmaASAlerts_ccp/CyfirmaASAlerts_DataConnectorDefinition.json
  Solutions/Cyfirma Attack Surface/Data Connectors/CyfirmaASAlerts_ccp/CyfirmaASAlerts_Tables.json
  Solutions/Cyfirma Attack Surface/Package/3.0.1.zip
  Solutions/Cyfirma Attack Surface/Package/mainTemplate.json
  Solutions/Cyfirma Brand Intelligence/Data Connectors/CyfirmaBIAlerts_ccp/CyfirmaBIAlerts_DCR.json
  Solutions/Cyfirma Brand Intelligence/Data Connectors/CyfirmaBIAlerts_ccp/CyfirmaBIAlerts_DataConnectorDefinition.json
  Solutions/Cyfirma Brand Intelligence/Data Connectors/CyfirmaBIAlerts_ccp/CyfirmaBIAlerts_Tables.json
  Solutions/Cyfirma Brand Intelligence/Package/3.0.1.zip
  Solutions/Cyfirma Brand Intelligence/Package/mainTemplate.json
  Solutions/Cyfirma Compromised Accounts/Data Connectors/CyfirmaCompromisedAccounts_ccp/CyfirmaCompAcc_DCR.json
  Solutions/Cyfirma Compromised Accounts/Data Connectors/CyfirmaCompromisedAccounts_ccp/CyfirmaCompAcc_DataConnectorDefinition.json
  Solutions/Cyfirma Compromised Accounts/Data Connectors/CyfirmaCompromisedAccounts_ccp/CyfirmaCompAcc_PollerConfig.json
  Solutions/Cyfirma Compromised Accounts/Data Connectors/CyfirmaCompromisedAccounts_ccp/CyfirmaCompAcc_Tables.json
  Solutions/Cyfirma Compromised Accounts/Data/Solution_CyfirmaCompromisedAccounts.json
  Solutions/Cyfirma Compromised Accounts/Package/3.0.0.zip
  Solutions/Cyfirma Compromised Accounts/Package/createUiDefinition.json
  Solutions/Cyfirma Compromised Accounts/Package/mainTemplate.json
  Solutions/Cyfirma Compromised Accounts/Package/testParameters.json
  Solutions/Cyfirma Compromised Accounts/ReleaseNotes.md
  Solutions/Cyfirma Compromised Accounts/SolutionMetadata.json
  Solutions/Cyfirma Cyber Intelligence/Data Connectors/CyfirmaCyberIntelligence_ccp/CyfirmaCyberIntel_DCR.json
  Solutions/Cyfirma Cyber Intelligence/Data Connectors/CyfirmaCyberIntelligence_ccp/CyfirmaCyberIntel_DataConnectorDefinition.json
  Solutions/Cyfirma Cyber Intelligence/Data Connectors/CyfirmaCyberIntelligence_ccp/CyfirmaCyberIntel_PollerConfig.json
  Solutions/Cyfirma Cyber Intelligence/Data Connectors/CyfirmaCyberIntelligence_ccp/CyfirmaCyberIntel_Tables.json
  Solutions/Cyfirma Cyber Intelligence/Data/Solution_CyfirmaCyberIntel.json
  Solutions/Cyfirma Cyber Intelligence/Package/3.0.0.zip
  Solutions/Cyfirma Cyber Intelligence/Package/createUiDefinition.json
  Solutions/Cyfirma Cyber Intelligence/Package/mainTemplate.json
  Solutions/Cyfirma Cyber Intelligence/Package/testParameters.json
  Solutions/Cyfirma Cyber Intelligence/ReleaseNotes.md
  Solutions/Cyfirma Cyber Intelligence/SolutionMetadata.json
  Solutions/Cyfirma Digital Risk/Data Connectors/CyfirmaDigitalRiskAlerts_ccp/CyfirmaDigitalRiskAlerts_DCR.json
  Solutions/Cyfirma Digital Risk/Data Connectors/CyfirmaDigitalRiskAlerts_ccp/CyfirmaDigitalRiskAlerts_DataConnectorDefinition.json
  Solutions/Cyfirma Digital Risk/Data Connectors/CyfirmaDigitalRiskAlerts_ccp/CyfirmaDigitalRiskAlerts_Tables.json
  Solutions/Cyfirma Digital Risk/Package/3.0.1.zip
  Solutions/Cyfirma Digital Risk/Package/mainTemplate.json
  Solutions/Cyfirma Vulnerabilities Intel/Data Connectors/CyfirmaVulnerabilitiesIntel_ccp/CyfirmaVulnerabilitiesIntel_DCR.json
  Solutions/Cyfirma Vulnerabilities Intel/Data Connectors/CyfirmaVulnerabilitiesIntel_ccp/CyfirmaVulnerabilitiesIntel_PollerConfig.json
  Solutions/Cyfirma Vulnerabilities Intel/Data Connectors/CyfirmaVulnerabilitiesIntel_ccp/CyfirmaVulnerabilitiesIntel_Tables.json
  Solutions/Cyfirma Vulnerabilities Intel/Data Connectors/CyfirmaVulnerabilitiesIntel_ccp/CyfirmaVulnerabilities_DataConnectorDefinition.json
  Solutions/Cyfirma Vulnerabilities Intel/Data/Solution_CyfirmaVulnerabilitiesIntel.json
  Solutions/Cyfirma Vulnerabilities Intel/Package/3.0.0.zip
  Solutions/Cyfirma Vulnerabilities Intel/Package/createUiDefinition.json
  Solutions/Cyfirma Vulnerabilities Intel/Package/mainTemplate.json
  Solutions/Cyfirma Vulnerabilities Intel/Package/testParameters.json
  Solutions/Cyfirma Vulnerabilities Intel/ReleaseNotes.md
  Solutions/Cyfirma Vulnerabilities Intel/SolutionMetadata.json
Labels: Solution, Codeless Connector Platform (CCP) Connector

#12324 Fixed validation issue for datatypes pipeline check
  .script/package-automation/validateFieldTypes.ps1
Labels: Tools

#12319 Standard table changes to Google Cloud Platform IAM
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_DCR.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_PollingConfig.json
  Solutions/GoogleCloudPlatformIAM/Data/Solution_GoogleCloudPlatformIAM.json
  Solutions/GoogleCloudPlatformIAM/Package/3.0.4.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/ReleaseNotes.md
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#12325 Update readme.md of GCP VPC flow logs
  DataConnectors/GCP/Terraform/sentinel_resources_creation/GCPVPCFlowLogsSetup/readme.md
Labels: documentation

#12331 Updating DCR and polling config in GCP VPC Flow data connector
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_DCR.json
  Solutions/Google Cloud Platform VPC Flow Logs/Data Connectors/GCPVPCFlowLogs_GCP_CCP/GCPVPCFlowLogs_PollingConfig.json
Labels: Content-Package

#12332 Skip validation if dataTypes in data connector file is empty
  .script/dataConnectorValidator.ts
Labels: Tools

#12333 Update ingestASimSampleData.py
  .script/tests/asimParsersTest/ingestASimSampleData.py
Labels: ASIM

#12295 Google Cloud Platform CDN CCF Connector - Standard Table
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_DCR.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_PollingConfig.json
  Solutions/GoogleCloudPlatformCDN/Data Connectors/GCPCDNLogs_ccp/GCPCDNLogs_Table.json
  Solutions/GoogleCloudPlatformCDN/Data/Solution_GoogleCloudPlatformCDN.json
  Solutions/GoogleCloudPlatformCDN/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformCDN/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformCDN/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformCDN/ReleaseNotes.md
  Solutions/GoogleCloudPlatformIDS/Data Connectors/GCPCloudIDSLog_CCP/GCPCloudIDSLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformIDS/Data/Solution_GoogleCloudPlatformIDS.json
  Solutions/GoogleCloudPlatformIDS/Package/3.0.0.zip
  Solutions/GoogleCloudPlatformIDS/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIDS/Package/mainTemplate.json
  Tools/Create-Azure-Sentinel-Solution/common/standardLogStreams.ps1
Labels: Codeless Connector Platform (CCP) Connector, Content-Package

#11955 checkpoint cyberint alerts connector
  Logos/checkpoint-cyberint.svg
  Solutions/Check Point Cyberint Alerts/Data Connectors/CyberintArgosAlertsLogs_ccp/CyberintArgosAlertsLogs_DCR.json
  Solutions/Check Point Cyberint Alerts/Data Connectors/CyberintArgosAlertsLogs_ccp/CyberintArgosAlertsLogs_PollingConfig.json
  Solutions/Check Point Cyberint Alerts/Data Connectors/CyberintArgosAlertsLogs_ccp/CyberintArgosAlertsLogs_Table.json
  Solutions/Check Point Cyberint Alerts/Data Connectors/CyberintArgosAlertsLogs_ccp/CyberintArgosAlertsLogs_connectorDefinition.json
  Solutions/Check Point Cyberint Alerts/Data/Solution_Cyberint.json
  Solutions/Check Point Cyberint Alerts/Package/3.0.0.zip
  Solutions/Check Point Cyberint Alerts/Package/createUiDefinition.json
  Solutions/Check Point Cyberint Alerts/Package/mainTemplate.json
  Solutions/Check Point Cyberint Alerts/Package/testParameters.json
  Solutions/Check Point Cyberint Alerts/ReleaseNotes.md
  Solutions/Check Point Cyberint Alerts/SolutionMetadata.json
  Solutions/Check Point Cyberint IOC/Data Connectors/CyberintArgosIOCLogs_ccp/CyberintArgosIOCLogs_DCR.json
  Solutions/Check Point Cyberint IOC/Data Connectors/CyberintArgosIOCLogs_ccp/CyberintArgosIOCLogs_PollingConfig.json
  Solutions/Check Point Cyberint IOC/Data Connectors/CyberintArgosIOCLogs_ccp/CyberintArgosIOCLogs_Table.json
  Solutions/Check Point Cyberint IOC/Data Connectors/CyberintArgosIOCLogs_ccp/CyberintArgosIOCLogs_connectorDefinition.json
  Solutions/Check Point Cyberint IOC/Data/Solution_Cyberint.json
  Solutions/Check Point Cyberint IOC/Package/3.0.0.zip
  Solutions/Check Point Cyberint IOC/Package/createUiDefinition.json
  Solutions/Check Point Cyberint IOC/Package/mainTemplate.json
  Solutions/Check Point Cyberint IOC/Package/testParameters.json
  Solutions/Check Point Cyberint IOC/ReleaseNotes.md
  Solutions/Check Point Cyberint IOC/SolutionMetadata.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, New Solution

#12284 Added Suspicious Teams Display Name.yaml
  .script/tests/KqlvalidationsTests/CustomTables/MessageEvents.json
  Hunting Queries/Microsoft 365 Defender/Email Queries/Phish/Suspicious Teams Display Name.yaml
Labels: Solution

#12347 Updating connectivity criteria for Legacy CEF connector.
  Solutions/Common Event Format/Data Connectors/CEF.JSON
  Solutions/Common Event Format/Package/3.0.3.zip
  Solutions/Common Event Format/Package/mainTemplate.json
  Solutions/Common Event Format/ReleaseNotes.md
Labels: Content-Package

#12249 Created a workbook for AAD Managed Identity SignIn Logs
  Workbooks/AADManagedIdentitySignInLogs.json
  Workbooks/Images/Preview/AADManagedIdentitySignInLogsBlack.png
  Workbooks/Images/Preview/AADManagedIdentitySignInLogsWhite.png
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Standalone

#12379 Corrected instructions for CEF data connector
  Solutions/AzureDevOpsAuditing/ReleaseNotes.md
  Solutions/Common Event Format/Package/3.0.3.zip
  Solutions/Common Event Format/Package/createUiDefinition.json
Labels: Solution

#12237 Update playbook documentation and deployment templates
  Solutions/VirusTotal/Package/3.0.1.zip
  Solutions/VirusTotal/Package/createUiDefinition.json
  Solutions/VirusTotal/Package/mainTemplate.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalDomainReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalFileInfo/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalIPReport/readme.md
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/alert-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/incident-trigger/azuredeploy.json
  Solutions/VirusTotal/Playbooks/Get-VirusTotalURLReport/readme.md
  Solutions/VirusTotal/ReleaseNotes.md
Labels: Solution, Content-Package

#12279 Updated squid proxy ASIM parser
  Parsers/ASimWebSession/ARM/ASimWebSessionSquidProxy/ASimWebSessionSquidProxy.json
  Parsers/ASimWebSession/ARM/vimWebSessionSquidProxy/vimWebSessionSquidProxy.json
  Parsers/ASimWebSession/Parsers/ASimWebSessionSquidProxy.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionSquidProxy.yaml
  Sample Data/ASIM/SquidProxy_CL_Schema.csv
  Sample Data/ASIM/Squid_Squid Proxy_WebSession_IngestedLogs.csv
Labels: ASIM

#12363 UserManagementSecurityEvent
  Parsers/ASimUserManagement/ARM/ASimUserManagement/ASimUserManagement.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementCiscoISE/ASimUserManagementCiscoISE.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementLinuxAuthpriv/ASimUserManagementLinuxAuthpriv.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementMicrosoftSecurityEvent/ASimUserManagementMicrosoftSecurityEvent.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementMicrosoftWindowsEvent/ASimUserManagementMicrosoftWindowsEvent.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementNative/ASimUserManagementNative.json
  Parsers/ASimUserManagement/ARM/ASimUserManagementSentinelOne/ASimUserManagementSentinelOne.json
  Parsers/ASimUserManagement/ARM/imUserManagement/imUserManagement.json
  Parsers/ASimUserManagement/ARM/vimUserManagementCiscoISE/vimUserManagementCiscoISE.json
  Parsers/ASimUserManagement/ARM/vimUserManagementEmpty/vimUserManagementEmpty.json
  Parsers/ASimUserManagement/ARM/vimUserManagementLinuxAuthpriv/vimUserManagementLinuxAuthpriv.json
  Parsers/ASimUserManagement/ARM/vimUserManagementMicrosoftSecurityEvent/vimUserManagementMicrosoftSecurityEvent.json
  Parsers/ASimUserManagement/ARM/vimUserManagementMicrosoftWindowsEvent/vimUserManagementMicrosoftWindowsEvent.json
  Parsers/ASimUserManagement/ARM/vimUserManagementNative/vimUserManagementNative.json
  Parsers/ASimUserManagement/ARM/vimUserManagementSentinelOne/vimUserManagementSentinelOne.json
  Parsers/ASimUserManagement/Parsers/ASimUserManagementMicrosoftSecurityEvent.yaml
  Parsers/ASimUserManagement/Parsers/vimUserManagementMicrosoftSecurityEvent.yaml
  Sample Data/ASIM/Microsoft_Security Events_UserManagement_IngestedLogs.csv
Labels: ASIM

#12281 Add Alibaba Cloud SLS auth support
  Tools/Create-Azure-Sentinel-Solution/common/createCCPConnector.ps1
Labels: Tools

#12123 Ping One audit logs connector
  Solutions/PingOne/Data Connectors/PingOneAuditLogs_ccp/PingOneAuditLogs_DCR.json
  Solutions/PingOne/Data Connectors/PingOneAuditLogs_ccp/PingOneAuditLogs_DataConnectorDefinition.json
  Solutions/PingOne/Data Connectors/PingOneAuditLogs_ccp/PingOneAuditLogs_Table.json
  Solutions/PingOne/Data Connectors/PingOneAuditLogs_ccp/PingOneAuditLogs__PollingConfig.json
  Solutions/PingOne/Data/Solution_PingOne.json
  Solutions/PingOne/Package/3.0.0.zip
  Solutions/PingOne/Package/createUiDefinition.json
  Solutions/PingOne/Package/mainTemplate.json
  Solutions/PingOne/Package/testParameters.json
  Solutions/PingOne/README.md
  Solutions/PingOne/ReleaseNotes.md
  Solutions/PingOne/SolutionMetadata.json
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12173 Cisco Secure Endpoint CCP Connector Migration
  .script/tests/KqlvalidationsTests/CustomTables/CiscoSecureEndpointAuditLogsV2_CL.json
  .script/tests/KqlvalidationsTests/CustomTables/CiscoSecureEndpointEventsV2_CL.json
  Solutions/Cisco Secure Endpoint/Data Connectors/CiscoSecureEndpointLogs_ccp/CiscoSecureEndpointAuditLogs_Table.json
  Solutions/Cisco Secure Endpoint/Data Connectors/CiscoSecureEndpointLogs_ccp/CiscoSecureEndpointEventsLogs_Table.json
  Solutions/Cisco Secure Endpoint/Data Connectors/CiscoSecureEndpointLogs_ccp/CiscoSecureEndpointLogs_ConnectorDefinition.json
  Solutions/Cisco Secure Endpoint/Data Connectors/CiscoSecureEndpointLogs_ccp/CiscoSecureEndpointLogs_DCR.json
  Solutions/Cisco Secure Endpoint/Data Connectors/CiscoSecureEndpointLogs_ccp/CiscoSecureEndpointLogs_PollingConfig.json
  Solutions/Cisco Secure Endpoint/Data Connectors/CiscoSecureEndpoint_API_FunctionApp.json
  Solutions/Cisco Secure Endpoint/Data/Solution_CiscoSecureEndpoint.json
  Solutions/Cisco Secure Endpoint/Package/3.0.1.zip
  Solutions/Cisco Secure Endpoint/Package/createUiDefinition.json
  Solutions/Cisco Secure Endpoint/Package/mainTemplate.json
  Solutions/Cisco Secure Endpoint/Package/testParameters.json
  Solutions/Cisco Secure Endpoint/Parsers/CiscoSecureEndpoint.yaml
  Solutions/Cisco Secure Endpoint/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12254 Add new ZAP, Quarantine, and File Malware (SPO/Teams/ODfB) hunting queries for MDO
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/File Malware Detection Trend.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/File Malware Top Families by AV.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/File Malware Top Families by Safe Attachments.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/Malware detections by Workload Locations.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Malware/Malware detections by Workload Type.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Quarantine Phish reason trend.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Quarantine Phish reason.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Quarantine Spam reason trend.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Quarantine Spam reason.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Quarantine release trend.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Quarantine/Quarantine releases by Detection types.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/ZAP/Post Delivery Events by Admin.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/ZAP/Post Delivery Events by Location.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/ZAP/Post Delivery Events by ZAP type.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/ZAP/Post Delivery Events over time.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/ZAP/Total ZAP count.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Malware/File Malware Detection Trend.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Malware/File Malware Top Families by AV.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Malware/File Malware Top Families by Safe Attachments.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Malware/Malware detections by Workload Locations.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Malware/Malware detections by Workload Type.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Quarantine/Quarantine Phish reason trend.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Quarantine/Quarantine Phish reason.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Quarantine/Quarantine Spam reason trend.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Quarantine/Quarantine Spam reason.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Quarantine/Quarantine release trend.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Quarantine/Quarantine releases by Detection types.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/ZAP/Post Delivery Events by Admin.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/ZAP/Post Delivery Events by Location.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/ZAP/Post Delivery Events by ZAP type.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/ZAP/Post Delivery Events over time.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/ZAP/Total ZAP count.yaml
Labels: Solution, Standalone

#12341 Nordpass azure ms sentinel fixes
  Logos/NordPass.svg
  Solutions/NordPass/Data Connectors/NordPass_API_FunctionApp.json
  Solutions/NordPass/Data Connectors/azuredeploy.json
  Solutions/NordPass/Data Connectors/azuredeploy_NordPass_API_FunctionApp.json
  Solutions/NordPass/Data Connectors/deployment/NordPass_data_connector.json
  Solutions/NordPass/Data/Solution_NordPass.json
  Solutions/NordPass/Package/3.0.0.zip
  Solutions/NordPass/Package/createUiDefinition.json
  Solutions/NordPass/Package/mainTemplate.json
  Solutions/NordPass/README.md
  Solutions/NordPass/ReleaseNotes.md
  Solutions/NordPass/Workbooks/NordPass.json
  Workbooks/WorkbooksMetadata.json
Labels: Connector, Solution

#12362 Added flags for Asset, Indicator, Event and Comment in InfobloxSOCGetInsightDetails playbook
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsight.json
  .script/tests/KqlvalidationsTests/CustomTables/InfobloxInsight_CL.json
  Sample Data/Custom/InfobloxInsight_CL.csv
  Solutions/Infoblox/Analytic Rules/Infoblox-SOCInsight-Detected-APISource.yaml
  Solutions/Infoblox/Analytic Rules/Infoblox-SOCInsight-Detected-CDCSource.yaml
  Solutions/Infoblox/Data/Solution_Infoblox.json
  Solutions/Infoblox/Package/3.0.2.zip
  Solutions/Infoblox/Package/createUiDefinition.json
  Solutions/Infoblox/Package/mainTemplate.json
  Solutions/Infoblox/Parsers/InfobloxInsight.yaml
  Solutions/Infoblox/Playbooks/Infoblox SOC Get Insight Details/README.md
  Solutions/Infoblox/Playbooks/Infoblox SOC Get Insight Details/azuredeploy.json
  Solutions/Infoblox/Playbooks/Infoblox SOC Get Open Insights API/azuredeploy.json
  Solutions/Infoblox/Playbooks/Infoblox SOC Import Indicators TI/README.md
  Solutions/Infoblox/Playbooks/Infoblox SOC Import Indicators TI/azuredeploy.json
  Solutions/Infoblox/ReleaseNotes.md
  Solutions/Infoblox/Workbooks/Images/Preview/Infoblox Workbook/Infoblox-Workbook-Black1.png
  Solutions/Infoblox/Workbooks/Images/Preview/Infoblox Workbook/Infoblox-Workbook-White1.png
  Solutions/Infoblox/Workbooks/Infoblox_Workbook.json
Labels: Solution

#12401 Changing connector kind to Generic UI
  Solutions/Common Event Format/Data/Solution_CommonEventFormat.json
  Solutions/Common Event Format/Package/3.0.4.zip
  Solutions/Common Event Format/Package/mainTemplate.json
  Solutions/Common Event Format/ReleaseNotes.md
Labels: Solution, Content-Package

#12394 Correct typo in description
  Detections/ASimWebSession/UnusualUAPowershell.yaml
Labels: Detection

#12310 Add Keeper Security integration for Microsoft Sentinel
  Logos/keeper_security.svg
  Solutions/KeeperSecurity/Data Connectors/KeeperSecurity_ccp/KepperSecurity_DCR.json
  Solutions/KeeperSecurity/Data Connectors/KeeperSecurity_ccp/KepperSecurity_Definition.json
  Solutions/KeeperSecurity/Data Connectors/KeeperSecurity_ccp/KepperSecurity_poller.json
  Solutions/KeeperSecurity/Data Connectors/KeeperSecurity_ccp/KepperSecurity_table.json
  Solutions/KeeperSecurity/Data/Solution_KeeperSecurity.json
  Solutions/KeeperSecurity/Package/3.0.0.zip
  Solutions/KeeperSecurity/Package/createUiDefinition.json
  Solutions/KeeperSecurity/Package/mainTemplate.json
  Solutions/KeeperSecurity/Package/testParameters.json
  Solutions/KeeperSecurity/ReleaseNotes.md
  Solutions/KeeperSecurity/SolutionMetadata.json
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, New Solution

#12402 Crowdstrike Solution description updated
  Solutions/Cisco Secure Endpoint/Data Connectors/CiscoSecureEndpointLogs_ccp/CiscoSecureEndpointLogs_ConnectorDefinition.json
  Solutions/Cisco Secure Endpoint/Package/3.0.1.zip
  Solutions/Cisco Secure Endpoint/Package/createUiDefinition.json
  Solutions/Cisco Secure Endpoint/Package/mainTemplate.json
  Solutions/Cisco Secure Endpoint/ReleaseNotes.md
  Solutions/CrowdStrike Falcon Endpoint Protection/Data Connectors/CrowdstrikeReplicatorCLv2/CrowdstrikeReplicatorV2_ConnectorUI.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Data/Solution_CrowdStrike.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/3.1.3.zip
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/createUiDefinition.json
  Solutions/CrowdStrike Falcon Endpoint Protection/Package/mainTemplate.json
  Solutions/CrowdStrike Falcon Endpoint Protection/ReleaseNotes.md
Labels: Connector, Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12337 Resolved the issue for KMS Policy and merged data from master
  DataConnectors/AWS-S3/ConfigCloudTrailDataConnector.ps1
Labels: Connector

#12405 enhance connector
  .script/tests/KqlvalidationsTests/SkipValidationsTemplates.json
  Solutions/SAP ETD Cloud/Analytic Rules/SAPETD-ExecutionofSensitiveFunctionModule.yaml
  Solutions/SAP ETD Cloud/Analytic Rules/SAPETD-LoginFromUnexpectedNetwork.yaml
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_connectorDefinition.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/SAPETD_dataConnector.json
  Solutions/SAP ETD Cloud/Data Connectors/SAPETD_PUSH_CCP/solutionMetadata.json
  Solutions/SAP ETD Cloud/Data/Solution_SAPETD.json
  Solutions/SAP ETD Cloud/Package/3.0.2.zip
  Solutions/SAP ETD Cloud/Package/createUiDefinition.json
  Solutions/SAP ETD Cloud/Package/mainTemplate.json
  Solutions/SAP ETD Cloud/ReleaseNotes.md
Labels: Connector, Solution

#12419 BarracudaWAFWebSession
  Parsers/ASimWebSession/Parsers/ASimWebSessionBarracudaWAF.yaml
  Parsers/ASimWebSession/Parsers/vimWebSessionBarracudaWAF.yaml
  Sample Data/ASIM/Barracuda_WAF_ASimWebSession_IngestedLogs.csv
  Sample Data/ASIM/Barracuda_WAF_WebSession_IngestedLogs.csv
  Sample Data/ASIM/barracuda_CL_Schema.csv
Labels: ASIM

#12418 CiscoMerakiNetworkParserFix
  Parsers/ASimNetworkSession/ARM/ASimNetworkSessionCiscoMeraki/ASimNetworkSessionCiscoMeraki.json
  Parsers/ASimNetworkSession/ARM/vimNetworkSessionCiscoMeraki/vimNetworkSessionCiscoMeraki.json
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoMeraki.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoMeraki.yaml
  Sample Data/ASIM/Cisco_Meraki_ASimNetworkSession_IngestedLogs.csv
  Sample Data/ASIM/Cisco_Meraki_NetworkSession_IngestedLogs.csv
Labels: ASIM

#12431 CCF Data Connector moving to GA
  Solutions/AWS Security Hub/Data Connectors/AWSSecurityHubFindings_CCP/AWSSecurityHubFindings_DataConnectorDefinition.json
  Solutions/AWS Security Hub/Data/Solution_AWSSecurityHub.json
  Solutions/AWS Security Hub/Package/3.0.1.zip
  Solutions/AWS Security Hub/Package/mainTemplate.json
  Solutions/AWS Security Hub/ReleaseNotes.md
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCPIAMLog_CCP/GCPIAMLog_ConnectorDefinition.json
  Solutions/GoogleCloudPlatformIAM/Data Connectors/GCP_IAM_API_FunctionApp.json
  Solutions/GoogleCloudPlatformIAM/Data/Solution_GoogleCloudPlatformIAM.json
  Solutions/GoogleCloudPlatformIAM/Package/3.0.5.zip
  Solutions/GoogleCloudPlatformIAM/Package/createUiDefinition.json
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
  Solutions/GoogleCloudPlatformIAM/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12445 Update README.MD
  Tools/Archive-Log-Tool/ArchiveLogsTool-PowerShell/README.MD
Labels: documentation

#12389 Add new MDO reports on Spam/Phish detections based on delivery locations
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Spam Detections by Delivery Location - High.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Mailflow/Spam Detections by Delivery Location - Medium.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Phish/Phish Detections by Delivery Location - High.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Phish/Phish Detections by Delivery Location - Medium.yaml
  Hunting Queries/Microsoft 365 Defender/Email Queries/Phish/Phish Detections by Delivery Location Trend.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Mailflow/Spam Detections by Delivery Location - High.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Mailflow/Spam Detections by Delivery Location - Medium.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Phish/Phish Detections by Delivery Location - High.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Phish/Phish Detections by Delivery Location - Medium.yaml
  Solutions/Microsoft Defender XDR/Hunting Queries/Email Queries/Phish/Phish Detections by Delivery Location Trend.yaml
Labels: Solution, Standalone

#12437 Updating MITRE ATT&CK framework Workbook
  Solutions/SOC Handbook/Package/3.0.4.zip
  Solutions/SOC Handbook/Package/mainTemplate.json
  Solutions/SOC Handbook/Workbooks/MITREAttack.json
  Workbooks/WorkbooksMetadata.json
Labels: Workbook, Solution, Content-Package

#12446 CCF Data Connector moving to GA
  Solutions/OneLoginIAM/Data Connectors/OneLoginIAMLogs_ccp/OneLoginIAMLogs_ConnectorDefinition.json
  Solutions/OneLoginIAM/Data/Solution_OneLoginIAM.json
  Solutions/OneLoginIAM/Package/3.0.2.zip
  Solutions/OneLoginIAM/Package/createUiDefinition.json
  Solutions/OneLoginIAM/Package/mainTemplate.json
  Solutions/OneLoginIAM/ReleaseNotes.md
Labels: Solution, Codeless Connector Platform (CCP) Connector, Content-Package

#12428 Update IPEntity_CustomSecurityLog.yaml
  Solutions/Threat Intelligence/Analytic Rules/IPEntity_CustomSecurityLog.yaml
  Solutions/Threat Intelligence/Package/3.1.2.zip
  Solutions/Threat Intelligence/Package/mainTemplate.json
Labels: Solution

#12449 solution parser changes added
  Solutions/GoogleCloudPlatformIAM/Package/3.0.5.zip
  Solutions/GoogleCloudPlatformIAM/Package/mainTemplate.json
Labels: Solution
