Repository Azure/Azure-Sentinel, changes with the owners that CODEOWNERS names for each.
All owners: @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers, @Azure/sentinel-repo-connectors-reviewers, @Azure/sentinel-repo-hunt-detection-reviewers, @Azure/sentinel-repo-books-reviewers, @Azure/sentinel-repo-tools-reviewers, @haneuvir, @udidekel, @Azure/sentinel-repo-solution-reviewers

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# Global owners need to be listed first, example - * @account1 @account2
# After global, order is important, the last matching pattern per folder has the most precedence

# All up code owners - this should be limited to a select few - if specific code owner is needed, add to the specific folders below

* @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers

# This is copied from here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

/.script/ @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/DataConnectors/ @Azure/sentinel-repo-connectors-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Detections/ @Azure/sentinel-repo-hunt-detection-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Hunting\ Queries/ @Azure/sentinel-repo-hunt-detection-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Notebooks/ @Azure/sentinel-repo-books-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Parsers/ @Azure/sentinel-repo-tools-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Playbooks/ @Azure/sentinel-repo-books-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Workbooks/ @Azure/sentinel-repo-books-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers
/Solutions/HoneyTokens/ @haneuvir
/Solutions/SAP/ @udidekel
/Solutions/ @Azure/sentinel-repo-solution-reviewers @Azure/sentinel-repo-admins @Azure/sentinel-repo-reviewers

fix(MailRisk): final tweaks on making connector complete and working when deploying to Sentinel
  Solutions/MailRisk/Data Connectors/MailRisk_CCP/MailRisk_ConnectorDefinition.json
  Solutions/MailRisk/Data Connectors/MailRisk_CCP/MailRisk_DCR.json
  Solutions/MailRisk/Data Connectors/MailRisk_CCP/MailRisk_PollingConfig.json
  Solutions/MailRisk/Data Connectors/MailRisk_CCP/table - MailRiskEmails.json
  Solutions/MailRisk/Package/3.0.0.zip
  Solutions/MailRisk/Package/createUiDefinition.json
  Solutions/MailRisk/Package/mainTemplate.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

feat(MailRisk): add ReleaseNotes.md to MailRisk Solution
  Solutions/MailRisk/ReleaseNotes.md
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Added Netskope CCF WebTx table schema and data
  .script/tests/KqlvalidationsTests/CustomTables/NetskopeCCFWebTx_CL.json
  Sample Data/Custom/Netskope/NetskopeWebTransactions_CL.csv
Owners: @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Replace TimeGenerated with EventEndTime in KQL queries
  Solutions/Box/Data/Solution_Box.json
  Solutions/Box/Package/3.1.2.zip
  Solutions/Box/Package/createUiDefinition.json
  Solutions/Box/Package/mainTemplate.json
  Solutions/Box/ReleaseNotes.md
  Solutions/Box/Workbooks/Box.json
  Workbooks/WorkbooksMetadata.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers, @Azure/sentinel-repo-books-reviewers

Changes in playbook due to Vectra API version change
  Solutions/Vectra XDR/Package/3.3.0.zip
  Solutions/Vectra XDR/Package/mainTemplate.json
  Solutions/Vectra XDR/Playbooks/VectraAddTagToEntityAllDetections/azuredeploy.json
  Solutions/Vectra XDR/Playbooks/VectraAddTagToEntitySelectedDetections/azuredeploy.json
  Solutions/Vectra XDR/Playbooks/VectraAssignDynamicUserToEntity/azuredeploy.json
  Solutions/Vectra XDR/Playbooks/VectraDynamicResolveAssignment/azuredeploy.json
  Solutions/Vectra XDR/Playbooks/VectraIncidentTimelineUpdate/azuredeploy.json
  Solutions/Vectra XDR/Playbooks/VectraMarkDetectionsAsFixed/azuredeploy.json
  Solutions/Vectra XDR/Playbooks/VectraStaticResolveAssignment/azuredeploy.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

solution packaged
  Solutions/CyberArkAudit/Analytics Rules/CyberArkAuditHighRiskActions.yaml
  Solutions/CyberArkAudit/Analytics Rules/CyberArkAuditMultiFailedAndSuccess.yaml
  Solutions/CyberArkAudit/Analytics Rules/CyberArkAuditSensitiveChanges.yaml
  Solutions/CyberArkAudit/Data Connectors/CyberArkAudit_CCP/CyberArkAudit_DCR.json
  Solutions/CyberArkAudit/Data Connectors/CyberArkAudit_CCP/CyberArkAudit_DataConnectorDefinition.json
  Solutions/CyberArkAudit/Data Connectors/CyberArkAudit_CCP/CyberArkAudit_PollingConfig.json
  Solutions/CyberArkAudit/Data Connectors/CyberArkAudit_CCP/CyberArkAudit_Tables.json
  Solutions/CyberArkAudit/Package/3.0.2.zip
  Solutions/CyberArkAudit/Package/createUiDefinition.json
  Solutions/CyberArkAudit/Package/mainTemplate.json
  Solutions/CyberArkAudit/Package/testParameters.json
  Solutions/CyberArkAudit/ReleaseNotes.md
  Solutions/CyberArkAudit/data/Solution_CyberArkAudit.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Fix boxEnterpriseId parameter reference in template
  Solutions/Box/Package/3.1.2.zip
  Solutions/Box/Package/mainTemplate.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Fix Acronis.svg and analytics rules format
  Logos/Acronis.svg
  Solutions/Acronis Cyber Protect Cloud/Analytic Rules/AcronisLoginFromAbnormalIPLowOccurrence.yaml
  Solutions/Acronis Cyber Protect Cloud/Analytic Rules/AcronisMultipleEndpointsAccessingMaliciousURLs.yaml
  Solutions/Acronis Cyber Protect Cloud/Analytic Rules/AcronisMultipleEndpointsInfectedByRansomware.yaml
  Solutions/Acronis Cyber Protect Cloud/Analytic Rules/AcronisMultipleInboxesWithMaliciousContentDetected.yaml
Owners: @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers, @Azure/sentinel-repo-solution-reviewers

Update 3.0.2.zip
  Solutions/CyberArkAudit/Package/3.0.2.zip
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

MongoDB Atlas update to publisherId and extensionBundle version
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/MongoDBAtlasLogs.zip
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/MongoDBAtlasLogs_AzureFunction.json
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/azuredeploy_Connector_MongoDBAtlasLogs_AzureFunction.json
  Solutions/MongoDBAtlas/Data Connectors/MongoDBAtlasLogs/host.json
  Solutions/MongoDBAtlas/Data/Solution_MongoDBAtlas.json
  Solutions/MongoDBAtlas/Package/3.0.7.zip
  Solutions/MongoDBAtlas/Package/mainTemplate.json
  Solutions/MongoDBAtlas/README.md
  Solutions/MongoDBAtlas/ReleaseNotes.md
  Solutions/MongoDBAtlas/SolutionMetadata.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

chore: refactoring folder structure
  Solutions/OneTrust/Data Connectors/OneTrustLogs_CCF/OneTrustLogs_DCR.json
  Solutions/OneTrust/Data Connectors/OneTrustLogs_CCF/OneTrustLogs_connectorDefinition.json
  Solutions/OneTrust/Data Connectors/OneTrustLogs_CCF/OneTrustLogs_dataConnector.json
  Solutions/OneTrust/Data Connectors/OneTrustLogs_CCF/OneTrustLogs_table.json
  Solutions/OneTrust/Data/Solution_Onetrust.json
  Solutions/OneTrust/Package/3.0.0.zip
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Release Note Updates
  Solutions/VMWareESXi/ReleaseNotes.md
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Update SolutionMetadata.json
  Solutions/Obsidian Datasharing/SolutionMetadata.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Add files via upload
  Solutions/Obsidian Datasharing/Package/3.0.0.zip
  Solutions/Obsidian Datasharing/Package/mainTemplate.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

chore: updated zip
  Solutions/OneTrust/Package/3.0.0.zip
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

chore: updated description
  Solutions/OneTrust/Data Connectors/OneTrustLogs_CCF/OneTrustLogs_connectorDefinition.json
  Solutions/OneTrust/Data/Solution_Onetrust.json
  Solutions/OneTrust/Package/3.0.0.zip
  Solutions/OneTrust/Package/createUiDefinition.json
  Solutions/OneTrust/Package/mainTemplate.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Update Release Notes and Solution Metadata for version 3.0.0; Reassembled new 3.0.0.zi. Removed outdated zip package 3.0.3. Added latest changes to the CyeraAssets_MS_CL schema and datastream
  Solutions/CyeraDSPM/Data Connectors/CyeraDSPM_Functions/install-pack-v0_7_0.zip
  Solutions/CyeraDSPM/Data Connectors/CyeraDSPM_Functions/install-pack-v0_7_3.zip
  Solutions/CyeraDSPM/Package/3.0.0.zip
  Solutions/CyeraDSPM/Package/3.0.3.zip
  Solutions/CyeraDSPM/Package/mainTemplate.json
  Solutions/CyeraDSPM/ReleaseNotes.md
  Solutions/CyeraDSPM/SolutionMetadata.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Add Acronis Cyber Protect Cloud package
  Solutions/Acronis Cyber Protect Cloud/Analytic Rules/AcronisLoginFromAbnormalIPLowOccurrence.yaml
  Solutions/Acronis Cyber Protect Cloud/Analytic Rules/AcronisMultipleEndpointsAccessingMaliciousURLs.yaml
  Solutions/Acronis Cyber Protect Cloud/Analytic Rules/AcronisMultipleEndpointsInfectedByRansomware.yaml
  Solutions/Acronis Cyber Protect Cloud/Analytic Rules/AcronisMultipleInboxesWithMaliciousContentDetected.yaml
  Solutions/Acronis Cyber Protect Cloud/Package/3.0.0.zip
  Solutions/Acronis Cyber Protect Cloud/Package/createUiDefinition.json
  Solutions/Acronis Cyber Protect Cloud/Package/mainTemplate.json
  Solutions/Acronis Cyber Protect Cloud/Package/testParameters.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Update workflow to use head SHA and set permissions per job
  .github/workflows/runAsimSchemaAndDataTesters.yaml
Owners: @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Update PR review steps to verify file types
  .github/workflows/runAsimSchemaAndDataTesters.yaml
Owners: @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

testy
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoASA.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoASA.yaml
  Sample Data/ASIM/Cisco_ASA_NetworkSession_IngestedLogs.csv
Owners: @Azure/sentinel-repo-tools-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

testz
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoASA.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoASA.yaml
  Sample Data/ASIM/Cisco_ASA_NetworkSession_IngestedLogs.csv
Owners: @Azure/sentinel-repo-tools-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

testzz
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoASA.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoASA.yaml
  Sample Data/ASIM/Cisco_ASA_NetworkSession_IngestedLogs.csv
Owners: @Azure/sentinel-repo-tools-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Update WorkbooksMetadata.json
  Workbooks/WorkbooksMetadata.json
Owners: @Azure/sentinel-repo-books-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

testnew
  Parsers/ASimNetworkSession/Parsers/ASimNetworkSessionCiscoASA.yaml
  Parsers/ASimNetworkSession/Parsers/vimNetworkSessionCiscoASA.yaml
  Sample Data/ASIM/Cisco_ASA_NetworkSession_IngestedLogs.csv
Owners: @Azure/sentinel-repo-tools-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Added images in workbook folder.
  Workbooks/Images/Preview/NetskopeCCFWebTxDashboardBlack.png
  Workbooks/Images/Preview/NetskopeCCFWebTxDashboardWhite.png
Owners: @Azure/sentinel-repo-books-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Updated the ARM template to deploy Azure Function on Flex Consumption plan instead of Standard Consumption
  Solutions/BloodHound Enterprise/Data Connectors/azuredeploy_BloodHoundEnterprise_FunctionApp.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Replace parameter name
  Solutions/Microsoft Defender XDR/Playbooks/AttackSimulatorTrainingNonReporters/azuredeploy.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Minor change to PowerShell output
  Solutions/Microsoft Defender XDR/Playbooks/AttackSimulatorTrainingNonReporters/addGraphPermission.ps1
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers

Updated FunctionApp version to latest version
  Solutions/Tenable App/Data Connectors/TenableVM/host.json
Owners: @Azure/sentinel-repo-solution-reviewers, @Azure/sentinel-repo-admins, @Azure/sentinel-repo-reviewers
